.app {
	position: relative;
	z-index: 2;
	width: 100%;
	background: #777;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	box-shadow: 0 0 4px rgba(0, 0, 0, .4)
}

.scrollable-content {
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch
}

.relative {
	position: relative
}

.app {
	color: rgba(255, 255, 255, .5);
	background: #080808
}

.app-body {
	padding-top: 45px
}

.scrollable-con {
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch
}

.game-content {
	display: block;
	margin-bottom: 102px
}

.game-item {
	width: 29%;
	text-align: center;
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
	padding: 0 5px
}

.game-item p {
	position: absolute;
	bottom: 5%;
	width: 100%;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}