@font-face {
  font-family: 'gotham-medium';
  src: url('../fonts/GothamSSm-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamSSm-Medium.woff') format('woff'), url('../fonts/GothamSSm-Medium.ttf')  format('truetype'), url('../fonts/GothamSSm-Medium.svg#GothamSSm-Medium') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'gotham-light';
  src: url('../fonts/GothamSSm-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamSSm-Light.woff') format('woff'), url('../fonts/GothamSSm-Light.ttf')  format('truetype'), url('../fonts/GothamSSm-Light.svg#GothamSSm-Light') format('svg');
  font-weight: 200;
}


/************** Pure framework extensions **************/

/* grid paddings */
.container > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
.pure-g [class *= "pure-u"] {
        padding: 1em;
}

.pure-u-6-24 {
	padding: 1em 0 !important;
}

/* typography */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'gotham-light', Helvetica, Arial, sans-serif;
}

p {	line-height: 1.5em; }
a { text-decoration: none; color: #00a0e2; }
	a:hover { color: #00b8fc; text-decoration: underline; }
	a:active { color: #4a4a4a; }

/* Buttons */
.pure-button { border-radius: 30px; }
.pure-button-primary { background-color: #00b8fc !important; margin-bottom: 2em; }
.pure-button-secondary { background-color: #00b8fc !important; }
.pro-button { background-color: #ff2d55 !important; }
.pure-button:hover { color: #fff; text-decoration: none; }

/* Footer */
.footer { background-color: #4a4a4a; color: #eee; }
.footer-menu { display: inline-block; }
	.footer-menu a { padding: .5em; line-height: 1em; color: #d9d9d9; -webkit-transition: all 0.5s; transition: all 0.5s;}
	.footer-menu a:hover { background: none; text-decoration: none; color: #ffffff; -webkit-transition: all 0.5s; transition: all 0.5s;}
	.footer-menu .pure-menu-heading { font-family: 'gotham-medium', Helvetica, Arial, sans-serif; color: #fff; padding: .5em; }
    .footer .pure-menu-link {background-color: #4a4a4a!important;}

/* header */
.header .pure-menu { background: #00a0e2; }
	.header .pure-menu-link {  border-radius: 2em; color: #fff; -webkit-transition: all 0.5s; transition: all 0.5s;}
	.header .pure-menu-link:focus { border-radius: 2em; background-color: #00a0e2!important; color: #fff; -webkit-transition: all 0.5s; transition: all 0.5s;}
	.header .pure-menu-selected, .header .pure-menu-selected:active {background-color: #fff; border-radius: 2em; -webkit-transition: all 0.5s; transition: all 0.5s;}
    .header .pure-menu-selected a { color: #00b8fc !important; }
	.header a:hover { color: #00b8fc; text-decoration: none; background-color: #fff; border-radius: 2em; -webkit-transition: all 0.5s; transition: all 0.5s;}
	.header .logo:hover { background-color: transparent !important; border-radius: 0; }
	.header .logo { width: 5em; height: 2em; text-indent: -99em; overflow: hidden; background: url(../img/peak-logo.svg); background-size: cover; padding: 0; }
	.header .right { text-align: right; }

/* Layouts */
.strip-background { background-color: #f3f3f3 }
.container { max-width: 980px; margin: 0 auto; position: relative; }
.img-container { padding-top: 0 !important; padding-bottom: 0 !important; position: relative; }
	h2 { font-size: 2.2em; font-weight: 100; }
	.pure-u-md-12-24.img-container { overflow: hidden; max-height: 25em; }
	.pure-u-1-2.img-container { max-height: none; }
	.lower-shadow, .upper-shadow { position: absolute; width: 100%; height: 2em; background-size: 100% 100% !important; opacity: 0.5; }
	.upper-shadow { top: 0; background: url(../img/shadow-top.png) no-repeat; }
	.lower-shadow { bottom: 0; background: url(../img/shadow.png) no-repeat; }
.read-more {text-align: center;}

/* Get In Touch */
.getintouch {text-align: center;}
    .email-block {background-color: #eee;border-radius: 8px;padding: 8px;margin-bottom: 25px;}

/* User Quotes */
.ppl-quote { padding: 1em !important; margin: 0; position: relative; padding: 0px; background: #FFFFFF; -webkit-border-radius: 1em; -moz-border-radius: 1em; border-radius: 1em; box-shadow: 0px 2px 2px 2px #eeeeee; }
	.ppl-quote:after { content: ''; position: absolute; border-style: solid; border-width: 1em; border-color: #FFFFFF #FFFFFF transparent transparent; display: block; width: 0; height: 0; z-index: 1; margin-left: -2.5em; bottom: -1em; left: 15%; }
	.ppl-quote p { font-size: 0.8em !important; white-space: pre-wrap; }
	.ppl-quote h4 { margin: 0; }
	.author { font-size: 0.75em; font-style: italic; color: #aaa; margin-left: 3.5em; line-height: 2em; }
	.stars { color: #ffcc00; }

	/*lory slideshow styling*/
	.frame { position: relative; overflow: hidden; white-space: nowrap; max-width: 90%; margin: 0 auto; }
            .slides { display: inline-block; }
            .multislides li { position: relative; display: inline-block; width: 17.5em; margin: 0.5em; }
            .prev { display: block; position: absolute; left: 0; top: 4.5em; cursor: pointer; }
            .next { display: block; position: absolute; right: 0; top: 4.5em; cursor: pointer; }

/* Portraits */
.ppl-portrait { border-radius: 5em; margin-top: 1.25em; }
.ppl-bio {}
	.ppl-bio h3 { margin-bottom: 0.2em; }
	.ppl-bio p { font-size: 0.8em; }
	.ppl-bio span { color: #999; }

/* Hero */
.splash-container { background: url(../img/hero_background.png) no-repeat #00b8fc; background-size: cover; color: #fff; margin-top: 4em; }
	h1 { font-family: 'gotham-medium', Helvetica, Arial, sans-serif; font-size: 3em; line-height: 1em; color: #fff; font-weight: 100; }
	.app-preview { padding-bottom: 0 !important; }
	.download-badge { padding: 0 !important; margin: 1em 1em 0 0; }

/* Youtube Video */
.video-container { position: relative; padding-bottom: 56.25% !important; /*16:9*/ margin-top: 1em; height: 0 !important; overflow: hidden; }
	.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; }

/* Policy pages */
.policy { margin: auto; }
	.policy li { line-height: 1.4em; font-size: 0.9em; margin-bottom: 1em; }

/* 404 */
.404block {text-align: center!important; background-color: blue!important;}
.404img {width: 30%;}

/* Hide elements at certain screen densities */
/* pure-hidden-xs */
@media screen and (max-width:35.438em) {
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-xs{display:none !important}
}
/* pure-hidden-sm */
@media screen and (min-width:35.5em) and (max-width:47.938em) {
    .pure-visible-xs{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-sm{display:none !important}
}
/* pure-hidden-md */
@media screen and (min-width:48em) and (max-width:63.938em) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-md{display:none !important}
}
/* pure-hidden-lg */
@media screen and (min-width:64em) and (max-width:79.938em) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-lg{display:none !important}
}
/* pure-hidden-xl */
@media screen and (min-width:80em) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-hidden-xl{display:none !important}
}