﻿/****头部*****/
.logo_only,.login-area>span.shua,.login-area>span.topline,.login-area a.contact,.cebainbox{display:none;}
/*****nav*****/x081
.menu-box .menu ul li a.home,.preson-info .info span.welcom {display:none;}
/****banner***/
.noticesbox {display:none;}
/*****主要****/
.hotgame_con .hiddens,.hotgame_con ul li a.qiubtn,.hotgame_con ul li a.qiubtn2,.paybox,.qiubox,.hot_game_play,.more_game_middle .game_kind {display:none;}

* { margin:0 auto; padding: 0; }
a { color: #555; text-decoration: none; outline: none !important; }
a:hover { color: #f13131;}
b{font-weight:normal;}
ul, li, ol { margin: 0; padding: 0; list-style: none; }
body { margin: 0 auto; font: 12px/1.5 'Microsoft YaHei', "Microsoft JhengHei UI", "Microsoft JhengHei", Pmingliu, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", tahoma, arial, 'Hiragino Sans GB', "\5b8b\4f53", sans-serif; color: #555 !important;min-width:1338px; }
.ui-code-box {margin: 5px 0 0 7px;}
.fleft { float: left; }
.fl{float:left;}
.fr{float:right; }
img { border: none; }
input, button, select, textarea {outline: none;border: none;}
input{font-family:'Microsoft YaHei';}
.clear:before, .clear:after { content: ""; display: table; }
.clear:after { clear: both; }
.clear { *zoom: 1; }

/*width*/
.w40{ width:40px;}
.w50{ width:50px;}
.w52{ width:52px;}
.w150{ width:150px;}
.w70{ width:70px;}
.w66{ width:66px;}
.w80{ width:80px;}
.w73{ width:78px;}
.w98{ width:98px;}
.w146{ width:146px;}
.w124{ width:124px;}
.w94{ width:94px;}
.w86{width:86px;}
.w82{width:82px;}
.w84{width:84px;}
.w129{ width:129px;}
.w998{ width:998px;}
.w100{ width:100px;}
.w140{ width:140px;}
.w35{ width:35px;}
.w44{ width:44px;}

.ml2{ margin-left:2px;}
.mt12{ margin-top:12px;}
.pt12{ padding-top:12px;}
.pr14{ padding-right:14px;}
.pt15{ padding-top:15px;}
/*height*/
.h156{height:156px;}
.h311{ height:311px; overflow:hidden;}
.h290{ height:293px; overflow:hidden;}
.h30{ height:30px;}
.lh28{line-height:28px;}
.h35{ height:35px;}
.lh32{line-height:32px;}
.lh14{ line-height:14px;}
.h178{ height:178px;}
.orange { color: #02339a; }
.orange:hover{color:#e30000;}


.landing-paly, .icon-partner, .icon-arrRight, .icon-browser, .icon-gotop { background: url(/Content/mapping/x081/home/images/home-ico.png?98bd941400) no-repeat; }
.login-cent > span,.login-area a,.x016-icon,.acc-balance i,.menu-box .arrow,.luck-icon {background:url(/Content/mapping/x081/images/base-ico2.png?f989dbe577) no-repeat;}

/**弹窗**/
.d-header .d-titleBar .d-title { padding: 10px 15px; text-shadow: none; border-top: none; }
.official-site .d-inner { overflow: hidden; }
.official-site .d-outer { border: none; }
.d-titleBar .d-close { width: 26px; height: 26px; top: 10px; right: 12px; font-size: 30px; }
.d-outer { border: medium none; }
.d-footer .d-buttons .d-state-highlight { border: none; padding-bottom: 2px; box-shadow: none; }
.icon, .btn { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }
.main { margin: 0 auto; }

.d-header .d-titleBar .d-title {background: #f13131; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b31515', endColorstr='#f13131'); background: linear-gradient(top, #b31515, #f13131); background: -moz-linear-gradient(top, #b31515, #f13131); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b31515), to(#f13131)); text-shadow: -1px -1px 1px #f13131;color: #fff; }
.official-site .d-inner { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: 5px solid rgba(255, 255, 255, 0.3); border-radius: 8px; box-shadow: 0 0 8px rgba(136, 136, 136, 0); }
.official-site .d-outer { box-shadow: 0 0 8px rgba(136, 136, 136, 0); }
.d-dialog .d-main { background: #fff; }
.d-titleBar .d-close { color: #fff; }
.d-header .d-close:hover { color: #fff; }
.d-outer { box-shadow: 0 0 8px rgba(136, 136, 136, 0); }
.d-footer .d-buttons .d-state-highlight { background: #f13131; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b31515', endColorstr='#8e3a8c'); background: linear-gradient(top, #b31515, #f13131); background: -moz-linear-gradient(top, #b31515, #f13131); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b31515), to(#f13131)); text-shadow: -1px -1px 1px #f13131; }
/**弹窗  end**/


/***导航区域***/
.header-main { position:relative;background:#fff;}
.header{ z-index:1009;border-bottom:1px solid #d1bfa5; }
.header-in{width:1000px; }
.header .menu-box{background:#f13131;width:100%;height:45px;}
.logo a { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 1; display: block; }
.logo2 { width: 115px; height: 78px; }
.menu ul li a:hover { color: #fff; }
.menu ul li a:hover span { color: #fff; }

.menu-box {background: #f13131;z-index:1000;float:left;width: 100%;height: 45px;position:relative;}
.menu-box .menu {width:1000px;margin:0 auto;}
.lottery-plus{float:left;width:230px;position:relative;}
.lottery-plus h2{ width:230px;background:#d92c2c;height:45px; color:#fff; font:16px/45px 'Microsoft Yahei'; text-align:center}
.lottery-plus:hover .lotterys-list-hd{display:block;}
#lotterys :hover i.arrow{-webkit-transition:-webkit-transform .2s ease-in;
    -moz-transition:-moz-transform .2s ease-in;
    -ms-transition:-ms-transform .2s ease-in;
    -o-transition:-o-transform .2s ease-in;
    transition:transform .2s ease-in;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg)}
.menu-box .dropdown-desc i {
    width:9px;
    height:5px;
    background-position:-183px -215px;
    display:inline-block;
    overflow:hidden;
    vertical-align:middle;
    margin-left:5px;
    -webkit-transition:-webkit-transform .2s ease-in;
    -moz-transition:-moz-transform .2s ease-in;
    -ms-transition:-ms-transform .2s ease-in;
    -o-transition:-o-transform .2s ease-in;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg)
}
.nav-plus{float:left; width:770px;}
.menu .nav-plus li a {display:block;width: 94px;height:45px;line-height:45px;text-align:center;color:#fff;}
.menu .nav-plus li a span { transform: scale(0.75);font-size: 12px; text-align: center; display: block; width: 100%; margin: 0 auto;color:#fff; }
.menu .nav-plus li a.home { width: 38px; height: 45px; padding: 0 20px 0 15px; }
.menu .nav-plus li:last-child { background: none; }
.menu .nav-plus li {width: 94px;position:relative;height:45px;margin:0;float: left;font-size: 14px;letter-spacing: normal;word-spacing: normal;line-height: 45px;vertical-align: middle;}
.menu .nav-plus li.qq_service {background:none;width:109px;float: left;font-size: 16px;color: #fff;font-weight: normal;text-align: center;position: relative;}
.menu .nav-plus .qq_service a{background: url(/Content/mapping/x081/images/qq_service.png?9c2eede02a) no-repeat !important;width: 109px;height: 36px;padding: 0px 0px !important;margin-top: 2px;}
.menu .nav-plus .qq_service a:hover{transform:none;}
.menu .nav-plus li:hover {background:#d92c2c;color:#fff;}
.menu .nav-plus li.active {background:#d92c2c;margin:0; }
.menu .nav-plus li a div {font-size: 16px;margin:0;}

.hot-icon{width:20px;height:14px;background:url(/Content/mapping/x081/home/images/hot_new.gif?a206d8d2cd) no-repeat;display:inline-block;position:absolute;right:0;top:0;overflow:hidden;z-index:10;}
.triangles_back {width: 26px;height: 19px;position: absolute;background: url(/Content/mapping/x081/home/images/triangles_back.png?b6fe3e7c89) no-repeat;left: 358px;top: -8px;}
.register_hidden {display:none;}
.onlineService{display:block;width:70px;height:20px;float:right;margin-top:25px;    background: url(/Content/mapping/x081/images/anniu2.png?079abf1a27) no-repeat -166px -294px}

.menu-child1 {position: absolute;top:45px;left: 50%;width:1000px;*min-height: 564px;margin: 0 5px;padding: 1px;z-index: 9999;border-radius: 0 0 8px 8px;zoom: 1;box-shadow: 0 1px 15px #ffa5a5;margin-left:-500px;padding-top: 5px;padding-bottom:0;}
.menu-child1 .gamelist-1{ background:#fff;padding-bottom:20px;border-radius:5px; }
.menu-child1 ul{min-height: 62px;padding:11px 0;width:464px;}
.menu-child1 li { float: left; line-height: 28px; margin: 5px 0;height: 104px; width: 92px; position: relative; text-align: center; }
.menu-child1 li span { font-size: 12px; display: block;color: #000;position:absolute;left:0;bottom:0;width:100%;height:28px;line-height:28px; overflow:hidden;}
.menu-child1 li a { display: block;width: 80px; height: 76px; padding: 0 0 18px 0;     margin: 0 auto;color: #222; text-align: center; /*background: url(/Content/mapping/x081/home/images/game-icon-bg.png?85135d389c) no-repeat;*/ overflow:hidden;}
.menu-child1 li a  img{display:block;}
.menu-child1 li:hover { background: url(/Content/mapping/x081/home/images/Wbg_03.png?fd3a5c5cab) repeat; }
.color { width: 23px; height: 23px; text-align: center; display: inline-block; line-height: 22px; font-size: 15px; margin-left:12px; margin-top:0;background: url(/Content/mapping/x081/home/images/red_bg.png?f6778add3d) no-repeat; color: #fff; }
.menu-child1 h1 { width: 70px; height: 20px; font-size: 16px; display: inline-block; margin-left: 26px; margin-top: 2px; float: left;color: #000; }
.menu-child1 h2{display:none;}
.menu-child1 .dropmenu_c_txt02{float:left;display:inline;padding:0;width:auto;}


/***头部登录区域****/
.top-box { position:relative;width:100%;z-index: 30;padding: 0;line-height:34px;background: #f5f5f5;}
.top-box a{padding:0 5px;}
.top-box a.agent-tit{color: #f00; animation: twinkling 0.5s infinite ease-in-out; -moz-animation: twinkling 0.5s infinite ease-in-out; -webkit-animation: twinkling 0.5s infinite ease-in-out; -o-animation: twinkling 0.5s infinite ease-in-out;}
.bar-left { height:34px; font-size: 12px;overflow: hidden;float:left;color:#000;}
.bar-left a{color: #2874f3;}
.bar-left a:hover{text-decoration: underline; color: #E30000;}
.bar-left .fright{margin-left:18px;}

.bar-left span { font-size: 12px; display: inline-block; *display: inline; *zoom: 1;}
.logo {position: relative;background:url(/Content/mapping/x081/home/images/logo.png?90cbce3036) no-repeat left center;width: 245px;height:96px;}
.login-area .logo_tit{float:left;width:199px;height:96px;background:url(/Content/mapping/x081/home/images/logo_tit.png?ca14a1a017) no-repeat center center;}
.login-acc .logo_tit{float:left;width: 226px;height:96px;background:url(/Content/mapping/x081/home/images/logo_tit.png?ca14a1a017) no-repeat center right;}
.header-right {/* float: right;margin-top:32px; */}
.header-right  ul li { float: left; margin-left: 10px; }
.header-right  ul li a {display: inline-block;width: 93px;height: 32px;line-height: 32px;text-align: center;color: #666;background: #f7f7f7;border: 1px solid #efefef;border-radius: 3px;}
.header-right  ul li a.lottery-play i { position: relative; top: 3px; right: 5px; width: 13px; height: 13px; background-position: 0 -37px; }
.header-right  ul li a.kf-line-btn i { position: relative; top: 3px; right: 5px; width: 13px; height: 13px; margin-right: 5px; background-position: 0 -60px; }
.top-box .main { height:34px;text-align:right;width:1000px}
.top-box .main > * { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }
.login-cent-box{ float:right;margin-top: 32px;}
.login-cent{ float:left;}
.login-area-box .btn ,.login-area-box input{ cursor:pointer;}
.login-cent > span {
    padding-left: 22px;
    display: inline-block;
    *
    display: inline;
    *
    zoom: 1;
    position: relative;
    width: 98px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 36px;
}
.login-cent > span.login-code{
    width: 108px;
    padding-left: 10px;
}
.login-cent > span.login-code label{
    left: 13px;
}
.login-cent .tip_form {position: absolute;left: 23px;top: 10px;color: #c0c0c0;}
.bar-right {padding:0;width: auto;text-align: left;position: relative;vertical-align: middle;}
.login-area a{float: left;display: inline-block; *display: inline; *zoom: 1;width: 84px;margin: 0 3px;height: 37px;font-size: 15px;line-height: 37px;border-radius: 3px;text-align:center;color: #fff;}
.login-area a:hover {color: #fff;}
.login-area a span{color:#fff;}
.login-area .btn-login,.login-area .btn-detection{background-position:-4px -318px;}
.login-area .btn-login input{width: 84px;height: 37px;padding: 0;position:absolute;left:0;top:0;margin:0;filter:alpha(opacity=0);opacity:0;}
.login-area .login-mane {background-position: -1px -96px;}
.login-area .login-password {background-position: -2px -149px;}
.login-code img{background:#fff;position:absolute;right:2px;top: 6px;}
.login-area .bnt-register { background-position:-133px -318px;}
.login-area input {width: 98px;border-radius: 5px;height: 36px;float: left;border: none;color: #000;line-height: 34px;display: inline-block;}
.login-area .login-code input {width:50px;}
.login-area input:-webkit-autofill { background: none; color: #fff;border: none; -webkit-box-shadow: 0 0 0px 1000px #fdffd7 inset; -webkit-text-fill-color: #333;  }

/*登录后  样式——*/
.preson-info{
    /* float: left; */
    margin-top: 15px;
    font-weight: bold;
    white-space: nowrap;
    font-size: 14px;
    height: 74px;
    text-align: right;
    line-height: 36px;
    width: 560px;
}
.preson-info span{
    padding: 0 2px;
    margin-right:15px;
}
.preson-info strong { font-size: 12px; }
.acc-balance label{margin:0 5px;}
.acc-balance i {display: inline-block;*display:inline;*zoom:1;width: 11px;height: 16px;cursor: pointer;background-position: -3px -278px;}
.preson-info .acc-person .btn-login-out { float: right; margin-right: 25px; }
.preson-info .info a { padding:0 15px; cursor:pointer;}
/*登录*/

/***头部登录区域   end****/


/*大厅主要内容*/
/* .wrapper { position: relative; z-index: 9; width: 1000px; background: #fff; margin: 0 auto;overflow: hidden; } */
.wrap_l {width: 230px;float: left;}
.my_col {background: #f8f8f8;}
.row_l {width: 228px;height: 334px;overflow: hidden;border: 1px solid #EDEDED;}
/* .subnav_ul { margin: 0; padding: 0; } */
/* .subnav_ul li {margin: 0 7px;height: 56px;border-bottom: 1px dashed #D1D1D1;} */
.icon_11x5, .icon_shishicai, .ico_fenfencai, .ico_pk10, .ico_lihecai, .ico_kuai3 { background: url(/Content/mapping/x081/images/caiz_icon44x44.png?81c3741015) no-repeat; }
.icon_11x5 {float: left;padding-top: 4px;width: 44px;height: 44px;background-position: -4px -613px;}
.cz_box a { width: 44px; height: 44px; display: block; }
/* .subnav {float: left;width: 164px;height: 50px;margin-left: 6px;line-height: 50px;text-align: center;overflow: hidden;} */
/* .subnav_no { border: hidden; } */
/* .subnav_bar { float: left; width: 150%; } */
.psr {position: relative;}
.c333 {color: #333;font-size:14px;}
.f1 { float: left; }
.m15 { margin-left: 10px; }
.c999 { color: #999; }
.icon_shishicai { width: 44px; height: 44px; padding-top: 4px; background-position: -3px -62px; }
.ico_fenfencai { width: 44px; height: 44px; padding-top: 4px; background-position: -3px -122px; }
.ico_pk10 { width: 44px; height: 44px; padding-top: 4px; background-position: -3px -501px; }
.ico_lihecai { width: 44px; height: 44px; padding-top: 4px; background-position: -3px -252px;}
.ico_kuai3 { width: 44px; height: 44px; padding-top: 4px; background-position: -3px -796px; }
/* .subnav_uk {position: relative;} */
/* .subnav_uk .lotterys-title { border: 1px solid #EDEDED; border-bottom: none; border-top: none;} */
/* .subnav_uk .lotterys-title li {border-top: 1px solid #ededed;border-bottom: 1px solid #ededed;float: left;width: 76px;height: 40px;line-height: 40px;font-size: 12px;text-align: center;color: #0f3f94;cursor: pointer;background: #fff;} */
/* .subnav_uk .lotterys-title li:hover,.subnav_uk .lotterys-title li.hover {background: #f8f8f8;color: #ff3333;} */

.exarrow { font-weight: normal; font-style: normal; font-size: 16px; }
/* .subnav_ad{height: 202px; width: 228px; border: 1px solid #EDEDED; border-top: none; background: #F8F8F8; overflow: hidden;display:none;} */
/* .subnav_ad li { min-width: 60px; padding: 7px 0px 0 11px;display: inline-block; *display:inline;*zoom: 1; } */
.line_hs { border: 1px #e6c9a0 solid; bottom: 0; }
.row_mobile {width: 230px;margin-top:10px;border-bottom: none;border-top: none;}
.wrap_c {width: 534px;float: left;}
.wrap_t{float:left;width:760px;margin-left:10px;}
.wrap_r{width: 214px;float:right;height:auto;background: #fff;position: relative;top: 0px;}


/*-----下载区*/
.lott-ewm1 {width: 212px;height: 342px;border: 1px solid #ededed;border-top: none;}
.lott-ewm1 .nav li {float: left;width:50%;height: 41px;}
.lott-ewm1 .nav li a {display: inline-block;width: 105px;height: 40px;line-height: 40px;text-align: center;color: #666;background: #f8f8f8;display: block;font-size: 15px;border: 1px solid #dce1e5;border-top: none;}
.lott-ewm1 .nav li.on a { background: #fff; color: #e4393c; border: none; border-top: 2px solid #e4393c; }
.lott-ewm1 .nav li a.ios i {position: relative;width: 22px;display: inline-block;height: 22px;top: 5px;background-position: 2px -200px;}
.lott-ewm1 .nav li.on a.ios i {background-position: -27px -200px;}
.lott-ewm1 .nav li a.android i {position: relative;display: inline-block;width: 22px;height: 22px;top: 5px;background-position: 2px -233px;}
.lott-ewm1 .nav li.on a.android i {background-position: -29px -233px;}
.lott-ewm1 .con li { display:none;}
.lott-ewm1 .con li.on { display:block;}
.lott-ewm1 .con li h3 {padding: 32px 0;text-align: center;}
.lott-ewm1 .con li p { text-align: center; }
.lott-ewm1 .con li div {margin-bottom: 30px;text-align: center;}
/*-----下载区 end*/

 /*------选择彩种*/
.menu .lotterys-list-hd { width:228px; height:334px; overflow: hidden; border:1px solid #EDEDED; border-top:0; background:#f8f8f8;position:absolute;left:0;top:45px; z-index:100;display:none;}
.menu .lotterys-list-hd-border1{border-bottom:solid 1px #d1d1d1;}
.menu .lotterys-list-hd .lottery-list-box{ position:relative; z-index:2; }
.menu .mainGame span.color333{font-size:14px;margin-right:10px;color:#333;}
.menu .mainGame span.colorRed{color:#666;}
.menu .mainGame{ height:55px; position:relative;text-align:left;}
.menu .mainGame, .myGames{ border-bottom:1px dashed #D1D1D1; line-height:56px; margin:0 10px;}
.menu .mainGame a{ display:inline-block;}
.menu .mainGame a:hover{text-decoration:none; color:#e30000;}
.menu .mainGame a:hover span.color333{text-decoration:none; color:#e30000;}
.menu .mainGame i.icon {width: 44px;height: 44px;margin: 7px 7px 0 12px;float:left;background:url(/Content/mapping/x081/images/caiz_icon44x44.png?81c3741015) no-repeat;}
.menu .mainGame i.nav01{background-position: -3px -506px;}
.menu .mainGame i.nav02{background-position: -3px -66px;}
.menu .mainGame i.nav03{background-position: -3px -126px;}
.menu .mainGame i.nav04{background-position: -3px -384px;}
.menu .mainGame i.nav05{background-position: -3px -323px;}
.menu .mainGame i.nav06{background-position: -3px -8px;}
.menu .mainGame i.nav07{background-position: -3px -444px;}
.menu .mainGame i.nav08{background-position: -3px -257px;}
.menu .mainGame i.icon img { max-width:100%;  vertical-align:middle;}
.menu .normal-desc{ color:#afafaf; position:absolute;}
.menu .red-desc{color:#fff;background:#ff910e;padding:2px;border-radius:2px;position:relative;margin-left:5px;}
.menu .mainGame a.mainA:hover strong{text-decoration:none; color:#F13131;}
.menu .mainGame a.status-desc{color:#afafaf; margin-left:5px; position:relative;text-align:center;line-height:18px;padding:0 2px;margin-bottom:3px;vertical-align:middle;}
.menu .status-desc em{width:3px;height:3px;background-position:-390px 0;position:absolute;left:-3px;top:15px;}
.menu .mainGame a.status-desc:hover em{background-position:-390px -30px;}
.menu .lotterys-list-hd .lottery-list-box li.allGames{ padding:10px 0 0 4px;border-bottom:solid 1px #ddd;}
.menu .lotterys-list-hd .lottery-list-box li.allGames:last-child { border-bottom:0; padding-bottom:1px; }
.menu .allGames{ height:73px;position:relative;z-index:999;}
.menu .lotterys-list-hd .allGames a { color: #666;}
.menu .lotterys-list-hd .allGames a:hover{text-decoration:none; color:#e30000; text-decoration:underline;}
.menu .lotterys-list-hd .lottery-list-box li.allGames-on{ border:1px solid #D1D1D1; border-width:1px 0; margin-top:-1px; background:#fff;}
.menu .allGames h3{width:40px;height:52px;text-align:center;line-height:20px;margin:5px 10px 0 10px;color:#9c9c9c;font-weight:normal;float:left;display:inline;position:relative}
.menu .allGames h3 i { font-size: 30px; /*color: #62676c;*/ }
 /*------选择彩种   end*/

/*******跑马灯 start********/
.wrap_t .row_news_scroll{border-bottom: 1px solid #ededed;margin:0;}
.row_news_scroll {height: 48px;line-height: 48px;background: url(/Content/mapping/x081/images/anniu2.png?079abf1a27) no-repeat 0 -376px;padding-top: 10px;font-size: 12px;padding-left: 144px;width: 616px;overflow: hidden;}
.row_scroll_newsL {float: none;width: auto;height: 48px;line-height: 48px;text-align: left;overflow: hidden;}
.row_scoll_newsR { float: right; height: 42px; padding-right: 10px; }
.login_area .row_news_scroll label{position:static;top: 0;left:0;color:#999;}
/*******跑马灯 end**********/


/*******幻灯 start********/
.moduletable_banner { width: 486px; height: 204px; position: relative; z-index: 1; background: url(/Content/mapping/x081/images/loading.gif?e03d7a65f9) no-repeat center; border: 1px solid #f8f8f8; overflow: hidden; }
.flexslider { width: 100%; height: 100%; overflow: hidden; position: relative; zoom: 1; }
.flexslider .slides { zoom: 1; }
.flexslider .controller {display:none;   }
.flexslider:hover .controller{display:block;}
.flexslider .slides a { display: block; }
.flexslider .slides > li { position: relative; }
.flex_control_nav { position: absolute; right: 0; bottom: 0; }
.flex_control_nav li { display: inline-block; zoom: 1; margin-right: 10px; margin-bottom: 6px; }
.flex_control_nav li a { display: block; width: 10px; height: 10px; background: url(/Content/mapping/x081/images/bg_control_nav.png?b49cffc516) no-repeat -0px -0px; cursor: pointer; text-indent: -9999px; }
.flex_control_nav li a:hover { background: url(/Content/mapping/x081/images/bg_control_nav.png?b49cffc516) no-repeat -0px -10px; }
.flexslider .slides img { max-width: 100%; display: block; }
/*******幻灯 end********/

/*******彩种推荐 start**********/
.row_switch_col {margin-top: 10px;width: 534px;height: 295px;overflow: hidden;}
.tab_menu li{width:106px; height:44px;color: #333; text-align: center; margin-right:1px; float:left; cursor: pointer;font: 14px/44px Microsoft Yahei; }
.tab_menu li+li+li+li+li{margin-right:0;}
.tab_menu li a {display: block;color: #000;background: #dbdbdb;}
.tab_menu li:hover a{color:#fff;text-decoration: none;background: #f13131;}
.tab_menu li a.on{color:#fff;background:#f13131;}
.row_switch_box {width: 534px;height: 600px;overflow: hidden;}
.tab_box .hide { display: none; }
.row_zqjc_sk, .row_cbf_sk, .row_k3sz_sk { padding: 7px 15px; }
.row_cbf_sk { margin-bottom: 20px; }
.row_sk_p { text-align: center; color: #999; font-size: 12px; padding-bottom: 0; position: relative; z-index: 1; line-height: 22px; }
.row_sk_pa3 { height: 15px; display: block; line-height: 15px; position: absolute; z-index: 2; top: 3px; right: 0; }
.row_sk_ul { padding-left: 7px; }
.row_sk_ul li { float: left; margin: 0 9px; color: #999; }
.w190 { width: 190px; }
.row_li_sk3 { margin: 8px 0; line-height: 16px; cursor: pointer; border-radius: 4px; border: 2px solid #dce1e5; height: 66px; }
.row_li_sk3 li:hover { border: 2px #e4393c solid; }
.row_down_sk3 { margin: 8px 0; line-height: 16px; cursor: pointer; border-radius: 4px; border: 1px solid #e4393c; background: url(/Content/mapping/x081/images/anniu2.png?079abf1a27) no-repeat bottom right; height: 66px; }
.row_h3_sk { width: 80px; float: left; height: 66px; text-align: center; font: bold 30px/66px 微软雅黑; }
.red { color: #f00; }
.row_sk_lic { font-family: 微软雅黑; font-size: 20px; display: block; color: rgb(51,51,51); height: 33px; line-height: 33px; padding-top: 6px; }
.row_sk_bottom {margin-top:20px;height: 34px;font-size: 14px;}
.row_list{display: block; width: 53px; height: 23px; padding-left: 33px; background: url(/Content/mapping/x081/images/qst.png?edc9b32e18) no-repeat; font-size: 12px; text-align: center; color: #e55a5c; }
.row_sk_rmb { float: left; padding-top: 6px; height: 22px; line-height: 22px; color: #999; z-index: 1; position: relative; }
.row_bnt_rmb { background: url(/Content/mapping/x081/images/anniu2.png?079abf1a27) no-repeat -237px -143px; height: 22px; width: 84px; margin-right: 5px; float: left; }
.row_box{float:left;}
.row_sk_pay {background: #f13131;height: 35px;width: 99px;font: 16px/35px Microsoft Yahei;text-align: center;color: #fff;float: left;display: block;}
.row_sk_pay:hover {color: #fff;}
.row_bnt_rmb span { float: left; cursor: pointer; height: 22px; display: block; width: 22px; }
.row_bnt_rmb input { background: none; float: left; height: 20px; width: 38px; border: none; line-height: 22px; text-align: center; color: #999; }
.row_sk_pay_img { background: url(/Content/mapping/x081/images/stop_buy.jpg) no-repeat; }
.row_klc_sk{padding: 0 15px;border: 1px solid #ededed;height: 248px;}
.row_sk_dl{margin-top: 35px;min-height: 105px;overflow-y:auto;}
.row_sk_dl dt { width: 90px; float: left; text-align: center; color: #666; }
.dlt_logo64x64, .ssq_logo64x64 {width: 70px;height: 70px;display: block;margin: 0 auto;}
.dlt_twbg, .dlt_slfk, .pl35 { background: url(/Content/mapping/x081/images/caiz_icon64x64.png) no-repeat; }
.row_sk_dl dd { display: block; margin-left: 90px; }
.row_sk_dd { float: left; margin-top: 12px; height: 42px; display: block; }
.red_qiu { background: url(/Content/mapping/x081/images/kj_balls.gif?8679b0182d) no-repeat -100px -56px; display: block; width: 42px; height: 42px; float: left; margin: 0 4px; color: #fff; text-align: center; font: 24px/42px Arial, Helvetica, sans-serif; }
.blue_qiu { background: url(/Content/mapping/x081/images/kj_balls.gif?8679b0182d) no-repeat -149px -56px; display: block; height: 42px; width: 42px; float: left; margin: 0px 4px; color: #fff; text-align: center; font: 24px/42px Arial, Helvetica, sans-serif; }
.blue_qiu input, .red_qiu input { background: none; border: none; display: block; height: 42px; width: 42px; color: #fff; text-align: center; font: 24px/42px Arial, Helvetica, sans-serif; }
.row_sk_bottom .row_sk_qst { height: 23px; margin-top: 6px; margin-left: 20px; padding: 0; cursor: pointer; }
.row_sk_bottom .row_sk_qst a { display: block; width: 53px; height: 23px; padding-left: 33px; background: url("/Content/mapping/x081/images/qst.png?edc9b32e18") no-repeat; font-size: 12px; text-align: center; color: #e55a5c; }

.row_sk_pa { background: url(/Content/mapping/x081/images/kj_balls.gif?8679b0182d) no-repeat -172px -159px; margin-top: 10px; padding: 0px 20px; height: 15px; display: block; float: right; line-height: 15px; color: #36c; }
.row_sk_pa:hover, .row_sk_pa2:hover { color: #e4393c; text-decoration: underline; }

.dlt_twbg { background-position: 0 0; }
.dlt_slfk { background-position: 0 -81px; }
.pl35 { background-position: 0 -165px; }
/*******彩种推荐 end***********/


/*******推荐游戏 star********/
.part-left{ width:534px;float:right;height: 295px;}
.quick-tab-list { overflow: hidden;  }
.quick-tab-list li {width:106px; height:44px; text-align: center; margin-right:1px; float:left; cursor: pointer;font: 14px/44px Microsoft Yahei; }
.quick-tab-list li:last-child { margin-right:0; }
.quick-tab-list li a{color:#000; display: block; background: #dbdbdb}
.quick-tab-list li a:hover{color:#fff;text-decoration: none;background:#ff4b1e;}
.quick-tab-list li.on a{color:#fff;background:#ff4b1e;}
.quick-tab-list li a label{color: #FFF;background-color: #ff900c;margin-left: 4px;width: 54px;height: 16px;text-align: center;font: 12px/16px '宋体';display: inline-block;position: relative;vertical-align: top;margin-top: 8px;}
.quick-tab-list li a label i{background-position: -390px 0;width:3px;height: 3px;position: absolute;left:-3px;top: 13px;}
.quick-tab-list li i{width: 7px;height:6px;background-position: -200px 0;position: absolute;top:-2px;left:-99999px;overflow:hidden;}
.qb-info{margin-top: 20px; font-weight: normal; color: #999;font-size:12px; }
.qb-info li{float:left;}
.qb-info li i { font-style: normal; }
.qb-info li label { color: #f13131; }
.qb-info li.top-btn { float: right; color: #d0d0d0; }
.qb-info li.top-btn a { padding: 0 5px; color: #2568a7; }
.lott-item-con h3 { font-size: 18px; font-weight: normal; line-height: 80px; text-align: center; color: #dcdcdc; }
.qb-selectnumber{ height: 65px;line-height: 42px; }
.qb-selectnum{float:left; padding:0 0 0 15px;}
.qb-selectnum li{float:left;}
.qb-selectnum li.mr30{margin-right: 30px;}
.qb-selectnum li.qb-red{background-position: -300px -350px;}
.qb-selectnum li.qb-blue{background-position: -300px -300px;}
.qb-selectnum li input{width:41px;height:41px;margin: 20px 0 0 12px; text-align: center; font-size: 18px;color:#fff; border-radius:50%;line-height: 41px;background: #ff4b1e;}
.qb-selectnum li input.on{width:30px;height:20px;color:#fff;border: 2px #fff solid;border-radius: 2px;background: #036aba;}
.bett-icon { float: left; width: 70px; position: relative; top: 5px; }
.time-color { color: #ff4b1e }
.sale_end_timer .red{color:#ff6000;font-weight: normal;}
.sale_end_timer{width:110px;text-align:center; color:#000; font-weight: normal !important;}
.qb-tz-box{height:34px; font-size: 14px; margin-top:40px;  }
.qb-tz-box .bei-box{width:240px; margin-top: 3px;}
.row_box span {margin-top: 5px;margin-right: 5px; height: 22px; line-height: 22px; display: inline-block; vertical-align: middle; }
.row_box span label { margin: 0 3px; }
.row_box span.add-bar { border: 1px solid #c2c2c2; border-radius: 4px; overflow: hidden; }
.row_box span.add-bar input { float: left; border: none; width: 40px; padding: 4px 0; text-align: center; }
.row_box span.add-bar a { float: left; width: 15px; height: 22px; line-height: 21px; text-align: center; color: #c2c2c2; background: #fafafa; font-family: tahoma,arial,宋体,sans-serif; }
.row_box span.add-bar a:hover { color: #c2c2c2 !important; background: #e8e8e8; }
.row_box span.add-bar a.left { border-right: 1px solid #c2c2c2; }
.row_box span.add-bar a.right { border-left: 1px solid #c2c2c2; }
.btn_box { float: right; }
.btn_box a{ float:left; display: inline-block;*display:inline;*zoom:1; width: 121px; height: 34px;text-align: center; line-height: 34px;}
.btn_box a.submit{ color: #fff; background: #f13131; border-radius: 4px;}
.btn_box a .luck-icon{display:inline-block;*diasplay:inline;*zoom:1;position:relative; right: 5px; top: 2px; width: 12px; height: 12px; background-position: -62px -280px;}
.row_sk_bottom .bei-box {width: 240px;margin-top: 3px;line-height: 26px;}
.bei-box input{width:52px; background: #dbdbdb; margin:0 2px; color:#000; text-align: center;line-height: 28px;height: 28px;vertical-align:top; float:left;}
.bei-box a{width:28px;height: 28px; background: #dbdbdb; display: inline-block; text-align: center;line-height: 28px;float:left;color:#000;}
.bei-box a:hover{background: #e8e8e8;color:#999;text-decoration: none;}
.dg-btn-box a.dg-tz-btn,.dg-btn-box .dgp-tz-btn{ background:#ff4b1e; float: left; color: #fff; text-align: center; width:99px; height:35px; vertical-align: middle; font:16px/35px Microsoft Yahei;}
.tz_bei_add{margin-right:10px; }
.col-red { color: #f13131; }
/*******推荐游戏 end********/

/* 走势图样式 */
.chart { width: 534px;margin-top:12px; border: 1px solid #EDEDED; float: left;}
.chart .chart_title { height: 37px; line-height: 37px; border-bottom: 1px solid #EDEDED; border-top: 1px solid #f13031; font-size: 17px; color: #333; padding: 0px 10px;}
.chart .chart_zs {margin: 23px 5px 23px 13px;width: 227px;height: 126px;background:url(/Content/mapping/x081/images/chart_zs_chart.png?a3b5468d25) no-repeat;float: left;}
.Games_color { float: left; width: 286px;}
.Games_color:last-child {border-bottom: none;}
.Games_color h4 { color: #a8a5a5; font-size: 12px;}
.Games_color ul { margin: 24px 0 0; max-height: 172px; overflow: hidden;}
.Games_color ul li { float: left; margin-left: 10px; width: 60px; height: 67px; text-align: center;}
.Games_color ul li .icon{width: 44px;height: 44px;display:inline-block;*display:inline;*zoom:1;background:url(/Content/mapping/x081/images/caiz_icon44x44.png?81c3741015) no-repeat;}
.Games_color ul li span{ font-size: 12px; color: #333; width: 60px; height: 20px; display: inline-block; overflow: hidden;}
.Games_color ul li:hover span { color: #e30000;}
.posti_left { height: 442px !important;float: left; margin-top: 10px;}
.pa-xq { padding: 0 !important;}
.p-tj { padding: 0 25px;}
.Games_color ul li .nav01{background-position: -3px -506px;}
.Games_color ul li .nav02{background-position: -3px -66px;}
.Games_color ul li .nav03{background-position: -3px -126px;}
.Games_color ul li .nav04{background-position: -3px -384px;}
.Games_color ul li .nav05{background-position: -3px -323px;}
.Games_color ul li .nav06{background-position: -3px -8px;}
.Games_color ul li .nav07{background-position: -3px -444px;}
.Games_color ul li .nav08{background-position: -3px -257px;}
/* 走势图样式  end*/

/*---------- 新手指导------*/
.row_focus_event { height: 212px; border: 1px #ededed solid;  }
.row_focus_event_h3{background:#f1f2f4;color:#000;height:36px; line-height:36px; padding:0px 8px; border-bottom:1px #ededed solid; font-size:17px;}
.row_focus_event_h3 a { color: #333; text-align: center;display: inline-block;width: 80px; font-size: 17px;height:37px;}
.th{position: relative;width: 33px !important;float: right;background:url(/Content/mapping/x081/images/xzcc.png?8d810fb74a) no-repeat center center;}
.help-box { padding: 10px; }
.help-box li { display: inline-block; *display: inline; *zoom: 1;width:100%;height: 25px; line-height: 25px;}
/*---------- 新手指导 end------*/

/*-- 资讯列表 --*/
.part-2-cont-right { background: #fff; border:1px solid #ededed; height:315px; font:16px/24px Microsoft Yahei; overflow:hidden;margin:10px 0 0 0px; width: 212px;}
.part-cont-title {width: 172px;position: relative;height: 40px;line-height: 40px;background-color: #f5f5f5;color: #8f2413;font-size: 17px;padding-left: 40px;}
.part-cont-title i {position: absolute;left: 10px;top: 4px;width:26px;height:30px;display:block;background:url(/Content/mapping/x081/images/part-cont-iont.png?797ac5423c) no-repeat center center;} 
.part-cont-title a{height:40px;}
.lottery-news-box { padding: 8px 8px 0;}
.news-title{margin-top: 48px;position: relative;}
.news-title span{position: absolute;top:-30px; left:14px; color: #fff;font-size: 14px;background: #be0000;width: 78px;height: 25px;line-height: 25px;text-align: center;border-radius: 3px;}
.news-title span i{position: absolute;top: 25px;left:29px;height: 0;width: 0;border-top: 10px solid #be0000;border-left: 10px solid #fff;border-right:  10px solid #fff;border-bottom:  10px solid #fff;  }
.news-title a { color: #000; text-align: center; font-size: 18px; display: block; line-height: 50px;font-weight: bold;}
.news-bar-content li { line-height: 33px; font-size: 14px; width:196px; height: 33px; overflow: hidden; }
.news-bar-content li a:hover { text-decoration:underline;}
.news-bar-content li .pad { margin:0 10px; }
.news-bar-content li:first-child .red-blue,
.news-bar-content li:first-child + li .red-blue,
.news-bar-content li:first-child + li +li .red-blue{ width: 15px; height: 15px; line-height: 15px; text-align: center; display: inline-block; background: #ff0101; color: #fff;}
.news-bar-content li .red-blue {width: 15px; height: 15px; line-height: 15px; text-align: center; display: inline-block; background: #08509a; color: #fff; font-family: "å®‹ä½“"; font-size: 14px; margin-right: 10px;}
.give{width:214px;height:78px;margin-top:10px;background:url(/Content/mapping/x081/images/give.jpg?322a77b3b6) no-repeat;}
/*-- 资讯列表  end--*/

/*大厅主要内容   end---------*/


/*------------------------------------------------
                    register
------------------------------------------------*/
.registration-c {width:1000px;margin: 44px auto 0;min-height: 228px;padding-bottom: 35px;}
.register-box{background: #fff;border: 1px solid #dfdfdf;}
.register-form { width: 850px; margin: 50px auto; }
.registration-c h1 { margin: 0 5px; font-size: 24px; height: 70px; line-height: 70px; text-align: center; font-weight: normal; color: #FFF;}
.registration-c table {position: relative;width: 100%;margin: 0;padding:0;border-collapse:collapse;}
.registration-c td{padding: 13px 10px;color: #000;white-space:nowrap;}
.registration-c td.right{text-align:right;font-size:14px;}
.registration-c .inp { padding-left: 5px; width: 265px; line-height: 36px; height: 36px; border-radius: 2px;color: #666; border: 1px solid #d6d6d6; }
.registration-c .regi-btn1 { padding: 5px 10px; }
.registration-c .reg-select { width: 272px; height: 38px; border-radius: 2px; border: 1px solid #d6d6d6;}
.reg-select-box .sel { width: 65px; }
.registration-c .agree-check { vertical-align: -3px; }
.registration-c .reg-tit { background-color: #fffcf4; border-bottom: 1px solid #dfdfdf; }
.registration-c th {color: #000;font-weight: normal;height: 47px;text-align: right;line-height: 47px;padding: 0 15px;}
.registration-c a {color: #02339a;}
.registration-c a:hover {color: #e30000;}
a.regi-btn,
.btn1 { display: inline-block; padding: 10px 61px; border-radius: 5px; zoom: 1;color: #FFF; background: #c42133; background: -moz-linear-gradient(top, #c42133 1%, #DB5967 9%, #AF1223 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #c42133), color-stop(9%, #DB5967), color-stop(100%, #AF1223)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #c42133 1%, #c42133 9%, #c42133 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #c42133 1%, #DB5967 9%, #AF1223 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #c42133 1%, #DB5967 9%, #AF1223 100%); /* IE10+ */ background: linear-gradient(to bottom, #c42133 1%, #DB5967 9%, #AF1223 100%); /* W3C */ }
a.regi-btn:hover,
.btn1:hover { background: #c42133; background: -moz-linear-gradient(top, #c42133 1%, #AF1223 9%, #D03243 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #c42133), color-stop(9%, #AF1223), color-stop(100%, #D03243)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #c42133 1%, #AF1223 9%, #D03243 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #c42133 1%, #AF1223 9%, #D03243 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #c42133 1%, #AF1223 9%, #D03243 100%); /* IE10+ */ background: linear-gradient(to bottom, #c42133 1%, #AF1223 9%, #D03243 100%); /* W3C */ color: #FFF; }
/*------------------------------------------------
                    register  end
------------------------------------------------*/

/*------------登录页面*/
.login_area {width: 1000px;margin: 45px auto;position: relative;z-index: 2;}
.mainloginbox{background: #fff; border:1px solid #dfdfdf; margin-bottom: 0px; margin-top: 0px;}
.login-tit { height: 47px; line-height: 47px; padding: 0 15px; background-color: #fffcf4; border-bottom: 1px solid #dfdfdf; }
.login-tit h1 { font-size: 16px; font-weight: normal; color: #f13131; }
.login-tit h1 span { float: right; color: #333;font-size: 12px; }   
.login_area label{position:absolute;top: 2px;left:10px;color:#999;}
.login-form { width: 850px; margin: 50px auto; }
.login_area_box ul{overflow: hidden; }
.login_area_box ul li{height: 40px; line-height:36px;padding-top:10px; margin-bottom:16px; position: relative; }
.login_area_box ul li:first-of-type .info-txt{ line-height:19px;padding-top:7px;}
.login_area_box ul li input[type=checkbox]{width:18px;height:18px;margin-right:5px;display:inline-block;*zoom:1;*display:inline;}
.login_area_box ul input{display:inline-block;*zoom:1;*display:inline;border: 1px solid #ddd;background-color: #fff;color: #333;}
.info-left{float: left; width:210px; text-align: right; padding-right: 10px; font-size: 14px;color: #000;}
.info-right{position: relative;width:250px;float: left;white-space:nowrap;}
.help-info{text-align:center;font-size:14px;}
.info-login span{width: 205px;height: 46px;line-height: 46px;text-align: center;position:absolute;left: 0;color: #fff;font-size:15px;}
.reg-int,.codes-int{width:260px; line-height:20px; padding:6px 10px; border-radius:2px;box-sizing: border-box; }
.codes-int{height:40px;width:160px;float:left; margin-right:-20px; }
.codeBox{width: 70px;height: 28px;left: 168px;top: 6px;position: absolute;}
.codeBox img { width: 70px; height: 28px; }
.reg-int { height: 40px;}
.top_click{height:38px;}
.info-txt{position: absolute; width: 330px; left: 490px; }
.login_area_box ul .submit{cursor:pointer;width:205px;background: #f13131;color: #fff;height:46px;line-height:47px; text-align: center;  font-size:15px;border-radius:2px; }
.login_area_box ul .submit:hover { background: #c52135 }
/*------------登录页面*/

/* 通用页面背景图 */
.wrap-bg { background: url(/Content/mapping/x081/images/bg-article.png?475afb5958) #fff no-repeat center center; padding-bottom: 10px;}


/*下拉菜单 选择游戏**/
.gamelist-1 { padding: 20px 34px 0; }
.gamelist-1 .gamelist_r {margin-left:0; }
.credit_play {display: inline-block;*display:inline;*zoom: 1;width: 467px;font-size: 0;float: left;border-right: 1px solid #f13131;}
.low_wrap { margin-top: 20px; float: left; width: 464px;float:left;width:auto;margin-top: 0; }
.low_wrap ul { float: left; margin-left: 15px;margin:0; }
.low_wrap ul li { float: left; }
.low_wrap ul li a { font-size: 12px; display: block; color: #fff;}
.lows_frequency { float: left; font-size: 16px; margin-left: 26px; color: #fff;}
.high_frequency { font-size: 16px; margin-top: 22px; margin-left: 26px; color: #fff;}
.menu-child1 li span img { margin-left: 6px; line-height: 28px; margin-bottom: -2px; }
.cut { float: left; width: 1px; height: 506px; position: absolute; top: 34px; left: 500px; background-color: rgba(255,255,255,0.15);}
.menu-box ul { background-image: none; }
.menu-child1 li a img { width: 80%; height: 80%; margin: 10%;}
.official_play { display: inline-block;*display:inline;*zoom: 1;width: 464px; zoom: 1; font-size: 0; float: left; }
.gamelist_tit {border-bottom: 1px solid #f13131;width: 468px;display: block;margin: 8px 0 0 0;padding-bottom: 8px;}
.gamelist-1 .gamelist_l{margin-left: 15px; }
.high_wrap { width: 464px;height:auto;float:none;}
.high_wrap ul{float:none;}
.credit_play .low_wrap {margin-left: 15px;}
/*.menu-child1 li:nth-child(1),
.menu-child1 li:nth-child(6),
.menu-child1 li:nth-child(11),
.menu-child1 li:nth-child(16) { border-left: 1px solid rgba(255,255,255,0.15); }*/

.gamelist_r ul li .game_1,.gamelist_r ul li .game_7,.gamelist_r ul li .game_15,.gamelist_r ul li .game_75,.gamelist_r ul li .game_92,.gamelist_r ul li .game_97,.gamelist_r ul li .game_101,.gamelist_r ul li .game_105,.gamelist_r ul li .game_122,.gamelist_r ul li .game_135
,.gamelist_l ul li .game_1,.gamelist_l ul li .game_26,.gamelist_l ul li .game_29,.gamelist_l ul li .game_76,.gamelist_l ul li .game_93,.gamelist_l ul li .game_98,.gamelist_l ul li .game_121,.gamelist_l ul li .game_98,.gamelist_l ul li .game_98,.gamelist_l ul li .game_138,.gamelist_l ul li .game_30,.gamelist_l ul li .game_109,.gamelist_l ul li .game_203
{background: url(/Content/mapping/x081/home/images/hot_new.gif?a206d8d2cd) no-repeat right top;}
/* 投注页面新增右侧切换模块 begin */
.dn { display: none !important; }
.db { display: inline-block !important; }
.ui-md-box { width:120px;height:290px;background: url(/Content/mapping/x081/home/images/online-left.png?e12edfca13) no-repeat; position: fixed; right:0.6%; top: 28%; z-index:1000;}
.ui-right{background: url(/Content/mapping/x081/home/images/online-right.png?29bae3265a) no-repeat;}
.ui-md-box>img{display:block;width:120px;height:271px;border:none;}
.ui-md-box .cols{position:absolute;z-index:2;width: 120px;height: 22px;left:50%;margin-left: -60px;bottom: 0;cursor:pointer;border-radius:8px;opacity:0;border:none;outline:none;}
.ui-md-box  .top1_btn,.ui-md-box  .top2_btn{position:absolute;z-index:2;width: 120px;height:60px;left:50%;margin-left: -60px;top: 10px;cursor:pointer;border-radius:5px;border:none;outline:none;}
.ui-md-box  .top2_btn{top: 75px;}
.ui-right .top2_btn{top:105px;color: #fff;font-size: 16px; line-height: 60px;text-indent: 8px;}
.ui-md-box .two_img {position: absolute;top: 142px;left: 9px;z-index: 9;overflow: hidden;}
.ui-md-box  .two_img img { width:103px; height: 103px;}
/* 投注页面新增右侧切换模块 end */

/*代理合作*/
.pa-a {margin:0 auto;width:1000px;}
.agentapply{ background: #fff; border: 1px solid #dfdfdf; margin-bottom: 0px; margin-top: 0px; }
.pa-a .l{width: 850px; margin: 50px auto; }
.pa-a .l .ips {
    height: 40px;
    line-height: 40px;
    padding-top: 10px;
    margin-bottom: 16px;
    position: relative;
    }
.info-code img{margin-top:10px;}
.pa-a .l .ips .pull-left {float: left;width: 210px;padding-right: 10px;font-size: 14px;text-align: right;color: #000;}
.pa-a .l .ips .pull-right {white-space: nowrap;width: 250px;float: left;}
.pa-a .l .inps {border-radius: 2px;font-size:12px;width: 250px;height: 40px;padding: 6px 10px;border: 1px solid #ddd;background-color: #fff;color: #333;box-sizing: border-box;}
.pa-a .l .submit { background: #f13131; color: #fff; cursor: pointer; width: 205px; height: 46px; line-height: 47px; text-align: center; font-size: 15px; border-radius: 2px; }
.pa-a .l .submit:hover{background:#c52135;}

/***手机下注***/    
.mobile-container {display:none;margin-bottom: 26px;}
.main_wrap { position: relative;min-height:480px;padding-bottom: 20px; }
.mobile-container .mobile-main .mobile-box { margin: 0 auto; position: relative; width: 1008px; height: 701px; background: url(/Content/mapping/x081/home/images/mobilebanner.png?_=20160801) no-repeat center top; }
.mobile-container .mobile-main .mobile-box .mobilelink { color: #ffffff; font-size: 18px; line-height: 18px; position: absolute; top: 480px; left: 150px; }
.android_c { width: 116px; height: 116px; display: inline-block; position: absolute; top: 296px; left: 98px; padding: 6px; }
.ios_c { width: 116px; height: 116px; display: inline-block; position: absolute; top: 296px; left: 294px; padding: 6px; }


/*新闻资讯-------*/
.news_main_title { color:#c71f33; font-size:18px; background:#fffcf4; border-bottom:1px solid #ddd; padding-left: 10px; height:44px;line-height:44px}
.listBrief td{color:gray; text-align:left; border-bottom:1px solid #ddd; font-size: 14px;}
.u2{ text-align: right; padding-right: 20px; font-size: 14px;}
.AspNetPager{padding-top: 10px;padding-bottom: 10px;clear: both;font-size:14px; }
.AspNetPager a {color: #666; height:30px; line-height:30px; display:inline-block; border-radius: 5px; padding:0 20px;background: #fff; border:1px solid #ddd;}
.AspNetPager a:hover,.AspNetPager .currentPage{color: #FFF; background: #be0000; text-decoration: none; border: 1px solid #be0000;}
.htbList td{ height: 50px; }



/*新闻资讯01-------*/
.news_left .content_box {width:1000px !important;overflow: hidden;}
.content_box .content_main {padding:25px 0; min-height: 500px; background:#f0f0f0;display:none;}
.content_main .title_top {overflow:hidden;height:38px;line-height:38px;margin:0 auto;text-align:center;font-size:26px;font-family:'微软雅黑';font-weight:500}
.content_main .title_top h4 {float:left;margin-left:20px;font-size:16px}
.content_main .title_top .top_page {float:right;margin-right:10px;color:#7f2d00}
.content_main .title_top .top_page select {margin:10px 0}
.content_main .title_top .top_page a {color:#7f2d00}
.content_main .author {height:33px;line-height:33px;text-align:center;color:#333;border-bottom:1px dashed #d5d5d5}
.content_main .author .article_info {float:left}
.content_main .author .article_info span {margin-left:30px}
.content_main .author .click_num {float:right}
.content_main .author .click_num em {width:16px;height:16px;background-position:-32px 0;float:left;margin:10px 3px 0 0}
.content_main .author a {color:#666;text-decoration:none;}
.content_main .author a:hover {color:#f00}
.content_main .content {margin:35px 8px;font-size:14px;line-height:34px}
.content_main .content p {line-height:26px; margin-top:18px; font-size: 12px !important; color: #333 !important;}
.content_main .list_ul {margin:30px 0 0 45px}
.content_main .list_ul li {font-size:14px;line-height:28px}
.content_main .list_ul li span {color:#666;margin-left:20px}
.content_main .top_links {/*height:34px;*/line-height:34px;background:#f7a3a3;margin-top:8px}
.content_main .top_links a {font-size:14px;color:#2d96e9;margin-left:20px;text-decoration:none}
.content_main .top_links a.ac_link {color:#ea1506;float:right;font-weight:bold;margin-right:14px}
.content_main .top_links a.ac_link em {width:32px;height:16px;float:left;margin:11px 0 0 0;background-position:-32px -48px}
.content_main .content .content_editor {text-align:right;font-size:12px;color:#999}
.content_main .share-box {margin-bottom:35px}
.content_main .share-box .bdsharebuttonbox {margin-right:300px;margin-left:10px}
.content_main .share-box .content_editor {float:right;margin-top:5px}
.content_main .share-box .share_title {float:left;margin-top:5px}
/*新闻资讯-------end*/


/* 投注页面新增右侧切换模块 begin */
.ui-skin-in { background: rgba(255,255,255,0.4); background-clip: border-box; border: 2px rgba(0,0,0,0.2) solid; border-radius: 5px; }
.ui-skin-box label { color: #ffffff; }
.ui-md-box .ui-code-right-box { background: url(/Content/mapping/x081/images/QRcode.jpg) no-repeat; border: 8px solid rgba(255,255,255,0.3); border-radius: 5px; box-shadow: 0 0 5px #242020; }
.ui-ww-box a.ui-t3-box { background: url(/Content/mapping/x081/home/images/download_style.png?3220a358e2) no-repeat 0 0; }
.ui-t5-box { background: url(/Content/mapping/x081/home/images/contact_bg.png?b76980a54a) no-repeat; }
/* 投注页面新增右侧切换模块 end */


/***焦点图切换按钮***/
.controller > a { display:block;z-index:10000;position:absolute;top:236px;width:15px;height:25px;padding:10px;border-radius:20px;background:#000;cursor:pointer; }
.controller > a:hover { background: #747474; }

/*底部*/
.foot_box {background:#fff;}
.foot_box .about_box{ border:1px solid #ededed; margin:0 auto;}
.about_title { line-height: 38px; border-top: 2px solid #f13833;}
.about_title a{ cursor:pointer;}
.about_title span { color: #404040; font-size: 14px; margin:0 10px;}
.about_box p { line-height:22px;margin-bottom:10px; color: #787777;}
.about_box{ overflow:hidden; margin:0 auto; width:1000px; text-align:center;}
.about_box li{ float:left; margin-right:10px;line-height:55px;}
.foot_info { overflow:hidden;background:url(/Content/mapping/x081/home/images/bottom-info.jpg?281234111c) no-repeat center center;height:92px; margin-bottom:10px; width:1000px;}


/***系统维护 start******/
.maintain_system{background: url(/Content/mapping/x081/images/maintain.jpg?388f6da103) no-repeat center top!important;}
.maintenance_logo {background: url(/Content/mapping/x081/images/usercenter/register/register_logo.png?90cbce3036) no-repeat center center;}
/***系统维护 end******/

/***QQ客服 start******/
.service_qq {margin-top:20px;background: url(/Content/mapping/x081/images/service_qq.png?_=20161023) no-repeat;}
/***QQ客服 end******/

 /*公告(dialog-notice) 忘记密码 (dialog-forgot)*/
.ui-popup .ui-dialog-arrow-b{top:-16px !important;}
div.dialog-notice{border-radius: 8px;display: inline-block;border:1px solid #175e84;border:5px solid rgba(255,255,255,0.2);box-shadow:0 0 8px rgba(136, 136, 136, 0.5);overflow:hidden;}
.dialog-notice .ui-dialog-header,.dialog-forgot .ui-dialog-header  { border-bottom: none; 
    color:#fff;
    background: #f13131;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b31515), to(#f13131));
    background-image: -moz-linear-gradient(top, #b31515, #f13131);
    background-image: -o-linear-gradient(top, #b31515, #f13131);
    background-image: -webkit-linear-gradient(top, #b31515, #f13131);
    background-image: linear-gradient(to bottom, #b31515, #f13131);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b31515', endColorstr='#f13131')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b31515', endColorstr='#f13131');
    zoom: 1;}
.dialog-custom .ui-dialog-body { padding: 20px; text-align: center; font-size: 14px; min-width:170px;}
.dialog-custom .ui-dialog-button { float: none; text-align: center; }
.dialog-notice .ui-dialog-title{color:#fff;font-size:24px;text-align:center;letter-spacing:8px;}
.dialog-notice .ui-dialog-close{position:absolute;opacity: 1;font-weight: normal;height: 64px;top: 0;font-size: 30px;color: #fff;background: url(/Content/Default/officialGames/images/popup-close.png?87d18ef591) no-repeat center;}
.dialog-notice .ui-dialog-content{color:#fff;}
.dialog-notice .ui-dialog-body{padding:0 !important;}
.offical-site .d-inner{display:inline-block;background:none;border:none;box-shadow:none;}
.offical-site .d-title{padding:10px 30px 10px 15px;font-size:15px;}
.offical-site .d-close{font-size:32px;right:12px;top:12px;}
.offical-site .d-buttons{text-align:center;}

.offical-site .d-footer{padding-bottom:10px;}

.side_left{float: left;width: 224px;height: 542px;overflow: hidden;overflow-y: auto;background: #fff;border-right: 1px solid #e5e4e4;}
.side_item{padding-left:15px;height:42px;line-height:42px;border-bottom:1px solid #e5e4e4;}
.side_item a{color:#4c4c4c;display:block;padding-left:20px; background: url(/Content/mapping/x081/home/images/circle_ico.png?14f82dd227) no-repeat left center;}
.side_left .active{ border-right:3px solid #f13131;}
.side_item a span { font-size: 16px;display: block;height: 42px;width: 190px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;} 
.notice_main{float:left;width:762px;height:542px;overflow:auto;background:#fff;}
.notice_main .notice_title{padding:20px 0;text-align:center;border-bottom:1px solid #e5e4e4;}
.notice_main .notice_title h1{font-size:22px;color:#f4354a;font-weight:bold;}
.notice_main .notice_text{padding: 0 20px;font-size:16px;color:#5c5c5c;text-align:center;}
.notice_main .notice_text div{line-height: 30px;margin-top: 22px; word-spacing: normal;word-break: break-word;}
.notice_item{width:100%;text-align:center;}
.notice_text .fright{width:auto !important;float:right;}
.notice_item a{font-weight:700;text-decoration:underline;padding:0 3px;color:#555;} 

.dialog-forgot{overflow:hidden;}
.dialog-forgot table{width:350px;margin:0 auto;*margin:0;}
.dialog-forgot input{width:180px;height:20px;padding:5px;line-height:20px;margin:5px 0;border:1px solid #ccc;border-radius:3px; }
.dialog-forgot img{display:inline-block;margin:0;vertical-align:middle;}
.dialog-forgot .mt10px{font-size:12px;}
.dialog-forgot .ui-dialog-footer{border-top:1px solid #ded5d5;padding:20px;}
/*-------公告end*/

/******开户协议******/
#kaihuDialog { width: 762px; }
div.dialog-custom { border: 1px solid #f13131; border: 5px solid rgba(255,255,255,0.2); box-shadow: 0 0 8px rgba(136, 136, 136, 0.5); }
.dialog-custom .ui-dialog-header {
     background: #cf271e;
     background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6464), to(#cf271e));
     background-image: -moz-linear-gradient(top, #ff6464, #cf271e);
     background-image: -o-linear-gradient(top, #ff6464, #cf271e);
     background-image: -webkit-linear-gradient(top, #ff6464, #cf271e);
     background-image: linear-gradient(to bottom, #ff6464, #cf271e);
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d22f3e', endColorstr='#a7232f')";
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d22f3e', endColorstr='#a7232f');
     zoom: 1;
 }
.dialog-custom .ui-dialog-close { color: #fff;opacity:1; background: url(/Content/Default/officialGames/images/popup-close.png?87d18ef591) no-repeat center; }
.dialog-custom .ui-dialog-title { color: #fff; }
.dialog-custom .ui-dialog-footer button.ui-dialog-autofocus { color: #ffffff; background-color: #e23f39; border-color: #cf271e; }
.dialog-custom .ui-dialog-footer button.ui-dialog-autofocus:hover, .dialog-custom .ui-dialog-footer button.ui-dialog-autofocus:focus, .dialog-custom .ui-dialog-footer button.ui-dialog-autofocus:active { color: #ffffff; background-color: #e23f39; border-color: #cf271e; outline: none; }
/******开户协议******/

@keyframes twinkling
{
0% {color: #fff;}
100%{color:red}
}

/*swiper2.7.6需要自己定义部分样式  -  首页轮播图*/

/*轮播图切换按钮*/
/*.swiper-pagination { width: 100%; left: 0; height: 20px; right: 0;position: absolute;z-index: 10;bottom: 15px;text-align: center; }
.swiper-pagination-switch { display: inline-block;box-shadow: 0px 1px 2px #555 inset;width: 15px;height: 15px;border-radius: 10px;opacity: 0.7; margin: 0 3px;cursor: pointer; background: url(/Content/mapping/x081/home/images/circle.png?4fc972d607) no-repeat center;background-color: #999; }
.swiper-active-switch { opacity: 1; background: url(/Content/mapping/x081/home/images/circle_ico.png?14f82dd227) no-repeat center;background-color: #fff; }*/

.swiper-slide img { height: 100%; width: 100%; }
.device { position: relative; width: 100%; height: 220px;margin-top:8px; overflow: hidden; }
.swiper-container { height: 220px; }
.device .arrow-left,
.device .arrow-right { position: absolute; top: 50%; margin-top: -15px; width: 17px; z-index: 10; height: 30px; }
.device .arrow-left { background: url(/Content/mapping/x081/home/images/arrow_left.png?91c8e77a88) no-repeat left top; left: 10px; }
.device .arrow-right { background: url(/Content/mapping/x081/home/images/arrow_right.png?d7a8267ba9) no-repeat left top; right: 10px; }
.pagination { position: absolute; left: 0; text-align: center; bottom: 5px; width: 100%; z-index: 10; }
.controller div{ cursor:pointer;}
.banner .wrapper {height: 100%;}
.swiper-container, .swiper-slide {height: 100%;width: 100%;background-position:center top;}

/*右下角弹窗*/
.message-container a{ border-radius: 3px; padding: 5px; margin: 0 -2px; color: #7b7b7b; text-decoration: underline; }
.message-container .content{ height: auto; }
.ui-popup-top-right .ui-dialog-arrow-a{ border:none; }

/*对联*/
.couplet{
    position: fixed;
    top: 30%;
    left: 10px;
    width: 140px;
    z-index: 1;
}
.couplet ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.cou-left ul li.li1{
    width: 140px;
    height: 94px;
    background: url(/Content/mapping/x081/home/images/l1.gif?b86386c6f7) no-repeat;
}
.cou-left ul li.li2{
    width: 140px;
    height: 76px;
    background: url(/Content/mapping/x081/home/images/l2.png?fc086587da) no-repeat;
}
.cou-left ul li.li3{
    width: 140px;
    height: 66px;
    background: url(/Content/mapping/x081/home/images/l3.png?1a98ed0894) no-repeat 0px 0px;
}
.cou-left ul li.li4{
    width: 140px;
    height: 142px;
    text-align: center;
    background: url(/Content/mapping/x081/home/images/l4.png?b64acf0213) no-repeat;
}
.cou-left ul li.li5{
    width: 140px;
    height: 20px;
    background: url(/Content/mapping/x081/home/images/l5.png?1db84fa691) no-repeat;
}
.cou-right{
    left: auto;    
    right: 10px;
} 
.cou-right ul li.li1{
    width: 140px;
    height: 108px;
    background: url(/Content/mapping/x081/home/images/r1.png?73551d82fb) no-repeat;
}
.cou-right ul li.li2{
    width: 140px;
    height: 66px;
    background: url(/Content/mapping/x081/home/images/r2.png?9db5f5d73f) no-repeat;
}
.cou-right ul li.li3{
    width: 140px;
    height: 66px;
    background: url(/Content/mapping/x081/home/images/r3.gif?c14ae27d79) no-repeat;
}
.cou-right ul li.li4{
    width: 140px;
    height: 142px;
    text-align: center;
    background: url(/Content/mapping/x081/home/images/r4.png?b2e7bbd144) no-repeat;
}
.cou-right ul li.li5{
    width: 140px;
    height: 20px;
    background: url(/Content/mapping/x081/home/images/r5.png?92ce7264ab) no-repeat;
}
.couplet ul li.li6{
    width: 140px;
    height: 66px;
    background: url(/Content/mapping/x081/home/images/r6.png?554934d48d) no-repeat;
}

.couplet ul li.li6 a{width: 100%;height: 100%;display: inline-block;}
.cou-left ul li.li4 img , .cou-right ul li.li4 img{
    margin-top: 9px;
    width: 110px;
    height: 110px;
}
.parcel {
    top: 73% !important;
}
#login_playbtn{
    position: absolute;
}