.men_list{
	height: 122px;
    background: rgb(250, 98, 0);
    padding-top:30px;
}
.men_list .wid1 {
    position: relative;
}
.men_list .wid1 {
    height: 100%;
}
.wid1 {
    width: 990px;
    margin: 0px auto;
}
.men_list .logo {
    float: left;
    margin-top: 35px;
    width: 255px;
    height: 55px;
    margin: 5px 0px;
    overflow: hidden;
}
.men_list .logo img{
	width:250px;
	height:50px;
}
.men_list .mt0 {
    margin-top: 10px;
}
img {
    vertical-align: middle;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.acti1 {
    transform: rotate(90deg);
}
.men_list .logo h2 {
    line-height: 50px;
    height: 50px;
    font-size: 18px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-indent: 24px;
    position: absolute;
    width: 229px;
    top: 72px;
    background: rgb(255, 116, 27);
}
.men_list h2 i {
    width: 22px;
    height: 22px;
    float: right;
    margin-right: 20px;
    margin-top: 14px;
    background: url(../../images/ico108.png);
    transition: 0.3s;
}
.men_list .nav_list {
    height: 100%;
}
.men_list .nav_list ul {
    height: 100%;
}
.men_list .nav_list ul li {
    width: 91px;
    text-align: center;
    position: relative;
    height: 100%;
    transition: 0.3s;
    float:left;
}
.men_list .nav_list ul li a {
    display: block;
}
.men_list .nav_list ul li img {
    margin-top: 28px;
}
.men_list .nav_list ul p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-top: 6px;
    line-height: 38px;
}
.men_list .nav_list ul li:hover {
    background: rgb(255, 116, 27);
}
.men_list .nav_list ul li.on{
	background: rgb(255, 116, 27);
}
.men_list .part-1-left-nav .lotterys-list-hd {
    top: 122px !important;
}
.men_list .nav_list ul li:after {
    content: '';
    position: absolute;
    right: 0;
    top: 44px;
    width: 1px;
    height: 20px;
    background: #f87b2b;
}
.men_list .logo h2::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 50px;
    right: -6px;
    opacity: 0.5;
    background: url(../../images/ico83.png);
}