body {
	font-family:"\5FAE\8F6F\96C5\9ED1";
	font-size:12px
}
ul,ol{
	list-style: none;
}
a:hover {
	text-decoration:none
}
.section {
	text-align:center;
	font:14px "Microsoft Yahei";
	color:#666
}
.section2 p {
	position:relative;
	left:-120%
}
.section3 p {
	position:relative;
	bottom:-120%
}
.section4 p {
	display:none
}
.header_simple {
	font-size:12px;
	position:fixed;
	width:100%;
	z-index:99;
	left:0;
	top:0;
	-webkit-box-shadow:0 2px 2px #ccc;
	box-shadow:0 2px 2px #ccc
}
.h_box {
	position:absolute;
	z-index:9;
	left:0;
	top:0px;
	width:100%;
	height:30px;
	background:#fff;
}
.wap_h {
	height:30px;
	width:990px;
	margin:0 auto
}
.wap-logo {
	float:left;
	height:60px;
}
.wap-logo a {
	display:block;
	height:50px;
	margin:5px 0;
	text-decoration: none;
}
.wap-logo a img{
	width:126px;
	height:51px;
}
.wap_nav {
	float:right;
	padding-top:10px;
	margin:0;
}
.wap_nav li {
	font-size:20px;
	float:left;
	width:160px;
	height:50px;
	background:#d43b23;
	font-family:Microsoft Yahei,\5FAE\8F6F\96C5\9ED1,\9ED1\4F53;
	line-height:50px
}
.wap_nav li:first-child {
	border-top-left-radius:5px
}
.wap_nav li:last-child {
	border-top-right-radius:5px
}
.wap_nav li a {
	color:#711304;
	text-decoration: none;
}
.wap_nav li.cur {
	background:#ed593b
}
.wap_nav li.cur a {
	color:#fff
}
.sectiOneLine {
	position:absolute;
	background:url(../../images/mobile/ico_bg_line.png) no-repeat;
	background-size:405px 435px;
	width:405px;
	height:435px;
	bottom:5px;
	right:60px
}
.sectiOneLine.l {
	left:-234px;
	top:-15px;
	-webkit-transform:rotate(158deg)
}
.sectiOneLine.c {
	left:25%;
	top:-299px;
	-webkit-transform:rotate(258deg);
	transform:rotate(258deg)
}
.sectiOneLine.r {
	right:-131px;
	top:-114px;
	-webkit-transform:rotate(154deg);
	transform:rotate(154deg)
}
.sectiOne {
	position:relative;
	width:1200px;
	margin:130px auto 0;
	z-index:1
}
.sectiOne .ani {
	width:553px;
	height:478px;
	position:absolute;
	z-index:3
}
.sectiOne .ani .inner-bg {
	width:409px;
	height:388px;
	background:url(../../images/mobile/ico_first_arrow.png) no-repeat
}
.sectiOne .ani .inner-bg2 {
	left:77px;
	position:absolute;
	width:371px;
	height:297px;
	background:url(../../images/mobile/ico_first_cp.png) no-repeat;
	top:42px
}
.sectiOne .l-box {
	position:relative;
	width:435px;
	height:515px
}
.sectiOne .l-box div {
	position:absolute;
	background:url(../../images/mobile/sprite.png) no-repeat;
	opacity:0;
	filter:Alpha(opacity=0)
}
.sectiOne .l-box .itm_bg {
	width:437px;
	height:437px;
	background-position:-217px -420px;
	margin-top:43px
}
.sectiOne .l-box .itm_phone {
	width:277px;
	height:440px;
	background:url(../../images/mobile/ico_first_phone.png) no-repeat;
	left:77px;
	bottom:65px
}
.sectiOne .l-box .itm_phone.h123 {
	background:url(../../images/mobile/ico_first_phone_h123.png) no-repeat
}
.sectiOne .l-box .itm_trophy {
	width:145px;
	height:150px;
	background-position:-288px -270px;
	left:-22px;
	top:100px
}
.sectiOne .con {
	position:absolute;
	left:450px;
	top:20px
}
.sectiOne .con .bgtext,.sectioSix .con .bgtext {
	background:url(../../images/mobile/ico_cp_text.png) no-repeat;
	width:765px;
	height:151px;
	text-indent:-999em;
	margin-bottom:35px
}
.sectiOne .con .bgtext.h123 {
	background:url(../../images/mobile/ico_cp_text_h123.png?v=1) no-repeat;
	width:737px;
	height:131px;
	text-indent:-999em;
	margin-bottom:35px
}
.sectioSix .con .bgtext.h123 {
	background:url(../../images/mobile/ico_cp_text1_h123.png?v=1) no-repeat;
	width:733px;
	height:139px;
	text-indent:-999em;
	margin-bottom:35px
}
.sectiOne .con .slogan,.sectioSix .con .slogan {
	text-align:center;
	color:#fc0;
	font-size:24px;
	padding:20px 0 30px
}
.sectiOne .con .dlcode,.sectioSix .con .dlcode {
	margin:0 auto;
	width:490px;
	overflow:hidden
}
.sectiOne .dlcode .l,.sectioSix .dlcode .l {
	float:left;
	overflow:hidden
}
.sectiOne .dlcode .l dd,.sectioSix .dlcode .l dd {
	font-weight:normal;
	line-height:67px;
	color:#fff;
	margin:20px 0;
	border-radius:6px;
	width:224px;
	height:67px;
	background:#6dabde url(../../images/mobile/ico_dl_pic.png) -10px 7px no-repeat;
	font-size:20px;
	text-align:right;
	padding-right:15px;
	padding-right:10px
}
.sectiOne .dlcode .l dd:hover {
	background-color:#629ac7
}
.sectiOne .dlcode .l dd a,.sectioSix .dlcode .l dd a {
	display:block;
	color:#fff;
	text-decoration: none;
}
.sectiOne .dlcode .l dd.android {
	background:#7cc576 url(../../images/mobile/ico_dl_pic.png) 0 -111px no-repeat
}
.sectiOne .dlcode .l dd.android:hover {
	background-color:#6fb16a
}
.sectioSix .dlcode .l dd.android {
	background:url(../../images/mobile/ico_dl_pic.png) 0 -111px no-repeat
}
.sectiOne .dlcode .r,.sectioSix .dlcode .r {
	float:right;
	background:url(../../images/mobile/ico_bg_qrcode.png) no-repeat;
	width:199px;
	height:199px
}
.sectiOne .dlcode .r img,.sectioSix .dlcode .r img {
	display:block;
	margin-left:20px;
	margin-top:20px
}
.sectiOne .dlcode .r .desc,.sectioSix .dlcode .r .desc {
	text-align:center;
	position:absolute;
	bottom: 80px;
	color:#a71903;
	font-size:12px;
	width:200px
}
.sectiOne .touchpic {
	background:url(../../images/mobile/ico_lecai_pic.png) no-repeat;
	width:330px;
	height:515px
}
.sectiOne .dlcode.touch {
	margin:0;
	color:#fff;
	font-size:20px;
	width:80%
}
.sectiOne .dlcode.touch .tips {
	color:#fee903;
	font-size:24px;
	margin:38px 0 10px
}
.sectiOne .dlcode.touch .url {
	padding-left:10px;
	color:#c62900;
	font-size:20px;
	height:43px;
	background:#f6b286;
	border-radius:6px;
	line-height:43px;
	overflow:hidden;
	margin-right:8px
}
.sectiOne .dlcode.touch .url span {
	background:#f67947;
	color:#fff;
	display:block;
	float:right;
	padding:0 3px
}
.inner-c {
	position:absolute;
	z-index:6;
	left:50%;
	top:0;
	width:1200px;
	margin-left:-600px;
	height:100%;
	overflow:hidden
}
.in-box {
	right:100px;
	position:absolute;
	width:420px;
	height:420px;
	top:50%;
	margin-top:-310px
}
.inner-txt {
	position:absolute;
	font-family:Microsoft Yahei,\5FAE\8F6F\96C5\9ED1,\9ED1\4F53;
	height:172px;
	top:50%;
	margin-top:-156px;
	width:40%;
	text-align:right
}
.inner-txt strong {
	font-size:55px;
	font-weight:normal;
	display:block;
	margin-bottom:6px;
	color:#e74930
}
.inner-txt p {
	font-size:20px;
	line-height:30px
}
.in-box div {
	position:absolute;
	background:url(../../images/mobile/sprite.png) no-repeat;
	opacity:0;
	filter:Alpha(opacity=0)
}
.in-box .itm1_bg {
	width:420px;
	height:420px;
	background:#9b92cd;
	border-radius:220px
}
.in-box .itm1_moeney {
	width:90px;
	height:87px;
	background-position:0 0;
	left:270px;
	top:115px
}
.in-box .itm1_hand {
	width:409px;
	height:209px;
	background:url(../../images/mobile/ico_two_hand.png);
	left:-100px;
	bottom:1px
}
.in-box .itm1_ssq {
	width:120px;
	height:142px;
	background-position:-389px -15px;
	left:172px;
	top:200px
}
.in-box .itm1_dlt {
	width:98px;
	height:118px;
	background-position:-445px -167px;
	left:100px;
	top:200px
}
.in-box .itm1_fc3d {
	width:62px;
	height:76px;
	background-position:-260px -15px;
	right:60px;
	top:200px
}
.in-box .itm1_jczq {
	width:96px;
	height:113px;
	background-position:-290px -125px;
	left:47px;
	top:200px
}
.in-box .itm2_bg {
	width:434px;
	height:354px;
	background-position:-848px -45px
}
.in-box .itm2_hand {
	width:198px;
	height:195px;
	background-position:-493px -860px;
	left:107px;
	bottom:-30px
}
.in-box .itm2_loudou {
	width:254px;
	height:155px;
	background-position:-229px -893px;
	left:96px;
	bottom:145px
}
.in-box .itm2_jczq {
	width:147px;
	height:165px;
	background:url(../../images/mobile/sprite_loty.png) no-repeat;
	background-position:-130px -15px;
	left:200px;
	top:-128px
}
.in-box .itm2_fc3d {
	width:106px;
	height:105px;
	background:url(../../images/mobile/sprite_loty.png) no-repeat;
	background-position:-12px 0;
	left:107px;
	top:-64px
}
.in-box .itm2_dlt {
	width:124px;
	height:135px;
	background:url(../../images/mobile/sprite_loty.png) no-repeat;
	background-position:0 -110px;
	left:16px;
	top:-77px
}
.in-box .itm2_ssq {
	width:139px;
	height:61px;
	background:url(../../images/mobile/sprite_loty.png) no-repeat;
	background-position:-132px -180px;
	left:109px;
	top:4px
}
.in-box .itm3_bg {
	width:420px;
	height:420px;
	background:#fdc449;
	border-radius:220px
}
.in-box .itm3_money {
	width:220px;
	height:335px;
	background-position:-5px -710px;
	right:-14px;
	bottom:137px
}
.in-box .itm3_gift {
	width:76px;
	height:81px;
	background-position:-155px -35px;
	right:-11px;
	top:137px
}
.in-box .itm3_phone {
	width:227px;
	height:405px;
	background-position:-1000px -435px;
	left:140px;
	bottom:25px
}
.in-box .itm3_redball {
	width:259px;
	height:200px;
	background-position:-15px -290px;
	left:0;
	top:130px
}
.in-box .itm3_hb {
	width:45px;
	height:45px;
	background-position:-75px -215px;
	left:120px;
	top:53px
}
.in-box .itm3_hb.hb1 {
	-webkit-transform:scale(0.7);
	transform:scale(0.7);
	left:100px;
	top:30px
}
.in-box .itm3_hb.hb2 {
	-webkit-transform:scale(0.6);
	transform:scale(0.6);
	left:145px;
	top:45px
}
.in-box .itm4_bg {
	width:378px;
	height:378px;
	background:#67c1bf;
	border-radius:220px;
	-webkit-box-shadow:-3px -9px 0 #148691 inset
}
.in-box .itm4_rili {
	width:239px;
	height:257px;
	background-position:-594px -165px;
	left:69px;
	bottom:56px
}
.in-box .itm4_gou {
	width:96px;
	height:91px;
	background-position:-460px -310px;
	left:148px;
	bottom:87px
}
.in-box .itm4_bi {
	width:144px;
	height:144px;
	background-position:-540px -5px;
	left:145px;
	bottom:110px
}
.in-box .itm4_g1 {
	width:114px;
	height:28px;
	background-position:-40px -670px;
	left:135px;
	top:-100px
}
.in-box .itm4_g2,.in-box .itm4_g3,.in-box .itm4_g4,.in-box .itm4_g5 {
	width:114px;
	height:28px;
	background-position:-40px -635px;
	left:154px;
	top:-100px
}
.in-box .itm4_g3 {
	left:142px;
	top:-100px
}
.in-box .itm4_g4 {
	left:151px;
	top:-100px
}
.in-box .itm4_g5 {
	left:156px;
	top:-100px
}
.in-box .itm4_g6 {
	width:114px;
	height:28px;
	background:#f7c809;
	left:140px;
	top:-100px
}
.in-box .itm4_gold {
	width:156px;
	height:125px;
	background-position:-30px -490px;
	left:84px;
	top:-15px
}
.sectioSix {
	position:relative;
	width:1200px;
	margin:0 auto;
	display:table-cell;
	vertical-align:middle
}
.sectioSix .con {
	margin:0 auto
}
.sectioSix .dlcode .l dd {
	border:2px solid #fff
}
.sectioSix .dlcode .l dd:hover,.sectioSix .dlcode .l dd.android:hover {
	background-color:#3297b8
}
.sectioSix .dlcode .r {
	background-image:url(../../images/mobile/ico_bg_qrcode1.png)
}
.sectioSix .dlcode .r .desc {
	color:#006681
}
.sectioSix .con .bgtext {
	margin:0 auto 35px;
	background-image:url(../../images/mobile/ico_cp_text1.png)
}
.link_weibo {
	background:#209ec0;
	margin:0 auto;
	text-align:center;
	padding:15px 0;
	color:#fff
}
.link_weibo a {
	color:#fff
}
.mbottom {
	position:absolute;
	bottom:0
}
.footer .foot_box {
	width:1200px;
	margin:10px auto 0
}
.foot_box .about_box {
	margin:10px 0;
	border-top:0
}
.foot_box .about_box .about_left {
	width:50%
}
.foot_box .about_box .about_right {
	padding:15px 0 0;
	float:right;
}
.foot_box .about_box .about_right p {
	color:#004d62
}
.foot_box .about_box .about_right a,.foot_box .about_box .about_left .about_link a {
	color:#004d62
}
.menu {
	position:fixed;
	right:60px;
	top:50%;
	margin-top:-110px;
	overflow:hidden;
	z-index:99
}
.menu li {
	margin:20px 5px;
	width:16px;
	height:16px
}
.menu li a {
	display:block;
	width:14px;
	height:14px;
	border:1px solid #f3b6a4;
	border-radius:15px
}
.menu li.active a {
	background:#e74930;
	border-color:#e74930
}
html,body {
	margin:0;
	padding:0;
	overflow:hidden;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
#superContainer {
	height:100%;
	position:relative;
	-ms-touch-action:none;
	touch-action:none
}
.fp-section {
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.fp-slide {
	float:left
}
.fp-slide,.fp-slidesContainer {
	height:100%;
	display:block
}
.fp-slides {
	z-index:1;
	height:100%;
	overflow:hidden;
	position:relative;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out
}
.fp-section.fp-table,.fp-slide.fp-table {
	display:table;
	table-layout:fixed;
	width:100%
}
.fp-tableCell {
	vertical-align:middle;
	width:100%;
	height:100%
}
.fp-slidesContainer {
	float:left;
	position:relative
}
.fp-controlArrow {
	position:absolute;
	z-index:4;
	top:50%;
	cursor:pointer;
	width:0;
	height:0;
	border-style:solid;
	margin-top:-38px
}
.fp-controlArrow.fp-prev {
	left:15px;
	width:0;
	border-width:38.5px 34px 38.5px 0;
	border-color:transparent #fff transparent transparent
}
.fp-controlArrow.fp-next {
	right:15px;
	border-width:38.5px 0 38.5px 34px;
	border-color:transparent transparent transparent #fff
}
.fp-scrollable {
	overflow:scroll
}
.fp-notransition {
	-webkit-transition:none!important;
	transition:none!important
}
#fp-nav {
	position:fixed;
	z-index:100;
	margin-top:-32px;
	top:50%;
	opacity:1
}
#fp-nav.right {
	right:17px
}
#fp-nav.left {
	left:17px
}
.fp-slidesNav {
	position:absolute;
	z-index:4;
	left:50%;
	opacity:1
}
.fp-slidesNav.bottom {
	bottom:17px
}
.fp-slidesNav.top {
	top:17px
}
#fp-nav ul,.fp-slidesNav ul {
	margin:0;
	padding:0
}
#fp-nav ul li,.fp-slidesNav ul li {
	display:block;
	width:14px;
	height:13px;
	margin:7px;
	position:relative
}
.fp-slidesNav ul li {
	display:inline-block
}
#fp-nav ul li a,.fp-slidesNav ul li a {
	display:block;
	position:relative;
	z-index:1;
	width:100%;
	height:100%;
	cursor:pointer;
	text-decoration:none
}
#fp-nav ul li a.active span,.fp-slidesNav ul li a.active span {
	background:#333
}
#fp-nav ul li a span,.fp-slidesNav ul li a span {
	top:2px;
	left:2px;
	width:8px;
	height:8px;
	border:1px solid #000;
	background:rgba(0,0,0,0);
	border-radius:50%;
	position:absolute;
	z-index:1
}
#fp-nav ul li .fp-tooltip {
	position:absolute;
	top:-2px;
	color:#fff;
	font-size:14px;
	font-family:arial,helvetica,sans-serif;
	white-space:nowrap;
	max-width:220px;
	overflow:hidden;
	display:block;
	opacity:0;
	width:0
}
#fp-nav ul li:hover .fp-tooltip {
	-webkit-transition:opacity .2s ease-in;
	transition:opacity .2s ease-in;
	width:auto;
	opacity:1
}
#fp-nav ul li .fp-tooltip.right {
	right:20px
}
#fp-nav ul li .fp-tooltip.left {
	left:20px
}
.fadein1 {
	-webkit-animation:fadein1 2s ease infinite
}
.fadein2 {
	-webkit-animation:fadein2 2s ease infinite
}
.fadein3 {
	-webkit-animation:fadein3 2s ease infinite
}
.fadein4 {
	-webkit-animation:fadein4 2s ease infinite
}
@-webkit-keyframes fadein1 {
	0% {
		top:118px
	}
	50% {
		top:128px
	}
	99% {
		top:119px
	}
}
@-moz-keyframes fadein1 {
	0% {
		top:118px
	}
	50% {
		top:128px
	}
	99% {
		top:119px
	}
}
@-ms-keyframes fadein1 {
	0% {
		top:118px
	}
	50% {
		top:128px
	}
	99% {
		top:119px
	}
}
@keyframes fadein1 {
	0% {
		top:118px
	}
	50% {
		top:128px
	}
	99% {
		top:119px
	}
}
@-webkit-keyframes fadein2 {
	0% {
		top:-18px
	}
	50% {
		top:2px
	}
	99% {
		top:-15px
	}
}
@-moz-keyframes fadein2 {
	0% {
		top:-18px
	}
	50% {
		top:2px
	}
	99% {
		top:-15px
	}
}
@-ms-keyframes fadein2 {
	0% {
		top:-18px
	}
	50% {
		top:2px
	}
	99% {
		top:-15px
	}
}
@keyframes fadein2 {
	0% {
		top:-18px
	}
	50% {
		top:2px
	}
	99% {
		top:-15px
	}
}
@-webkit-keyframes fadein3 {
	0% {
		top:63px
	}
	50% {
		top:73px
	}
	99% {
		top:65px
	}
}
@-moz-keyframes fadein3 {
	0% {
		top:63px
	}
	50% {
		top:73px
	}
	99% {
		top:65px
	}
}
@-ms-keyframes fadein3 {
	0% {
		top:63px
	}
	50% {
		top:73px
	}
	99% {
		top:65px
	}
}
@keyframes fadein3 {
	0% {
		top:63px
	}
	50% {
		top:73px
	}
	99% {
		top:65px
	}
}
@-webkit-keyframes fadein4 {
	0% {
		top:0
	}
	50% {
		top:20px
	}
	99% {
		top:2px
	}
}
@-moz-keyframes fadein4 {
	0% {
		top:0
	}
	50% {
		top:20px
	}
	99% {
		top:2px
	}
}
@-ms-keyframes fadein4 {
	0% {
		top:0
	}
	50% {
		top:20px
	}
	99% {
		top:2px
	}
}
@keyframes fadein4 {
	0% {
		top:0
	}
	50% {
		top:20px
	}
	99% {
		top:2px
	}
}
.fadeout1 {
	-webkit-animation:fadeout1 1s ease infinite
}
.fadeout2 {
	-webkit-animation:fadeout2 .8s ease infinite
}
.fadeout3 {
	-webkit-animation:fadeout3 .6s ease infinite
}
@-webkit-keyframes fadeout1 {
	0% {
		opacity:0;
		top:53px
	}
	70% {
		opacity:1;
		top:153px
	}
	100% {
		opacity:0;
		top:153px
	}
}
@-moz-keyframes fadeout1 {
	0% {
		opacity:0;
		top:53px
	}
	70% {
		opacity:1;
		top:153px
	}
	100% {
		opacity:0;
		top:153px
	}
}
@-ms-keyframes fadeout1 {
	0% {
		opacity:0;
		top:53px
	}
	70% {
		opacity:1;
		top:153px
	}
	100% {
		opacity:0;
		top:153px
	}
}
@keyframes fadeout1 {
	0% {
		opacity:0;
		top:53px
	}
	70% {
		opacity:1;
		top:153px
	}
	100% {
		opacity:0;
		top:153px
	}
}
@-webkit-keyframes fadeout2 {
	0% {
		opacity:0;
		top:30px
	}
	70% {
		opacity:1;
		top:100px
	}
	100% {
		opacity:0;
		top:100px
	}
}
@-moz-keyframes fadeout2 {
	0% {
		opacity:0;
		top:30px
	}
	70% {
		opacity:1;
		top:100px
	}
	100% {
		opacity:0;
		top:100px
	}
}
@-ms-keyframes fadeout2 {
	0% {
		opacity:0;
		top:30px
	}
	70% {
		opacity:1;
		top:100px
	}
	100% {
		opacity:0;
		top:100px
	}
}
@keyframes fadeout2 {
	0% {
		opacity:0;
		top:30px
	}
	70% {
		opacity:1;
		top:100px
	}
	100% {
		opacity:0;
		top:100px
	}
}
@-webkit-keyframes fadeout3 {
	0% {
		opacity:0;
		top:45px
	}
	70% {
		opacity:1;
		top:115px
	}
	100% {
		opacity:0;
		top:115px
	}
}
@-moz-keyframes fadeout3 {
	0% {
		opacity:0;
		top:45px
	}
	70% {
		opacity:1;
		top:115px
	}
	100% {
		opacity:0;
		top:115px
	}
}
@-ms-keyframes fadeout3 {
	0% {
		opacity:0;
		top:45px
	}
	70% {
		opacity:1;
		top:115px
	}
	100% {
		opacity:0;
		top:115px
	}
}
@keyframes fadeout3 {
	0% {
		opacity:0;
		top:45px
	}
	70% {
		opacity:1;
		top:115px
	}
	100% {
		opacity:0;
		top:115px
	}
}
.pain {
	-webkit-animation:pain .6s ease 1;
	left:270px;
	bottom:106px
}
@-webkit-keyframes pain {
	0% {
		bottom:110px;
		left:145px
	}
	40% {
		bottom:80px;
		left:189px
	}
	100% {
		left:270px;
		bottom:106px
	}
}
@-moz-keyframes pain {
	0% {
		bottom:110px;
		left:145px
	}
	40% {
		bottom:80px;
		left:189px
	}
	100% {
		left:270px;
		bottom:106px
	}
}
@-ms-keyframes pain {
	0% {
		bottom:110px;
		left:145px
	}
	40% {
		bottom:80px;
		left:189px
	}
	100% {
		left:270px;
		bottom:106px
	}
}
@keyframes pain {
	0% {
		bottom:110px;
		left:145px
	}
	40% {
		bottom:80px;
		left:189px
	}
	100% {
		left:270px;
		bottom:106px
	}
}
