
				<form>
					<table class="marksix_content">
						<tr class="bg-warning">
							<td>生肖</td>
							<td>赔率</td>
							<td>号码</td>
							<td>金额</td>
						</tr>
						<tr data-val="鼠">
							<td>鼠</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="牛">
							<td>牛</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="虎">
							<td>虎</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="兔">
							<td>兔</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="龙">
							<td>龙</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="蛇">
							<td>蛇</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="马">
							<td>马</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="羊">
							<td>羊</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="猴">
							<td>猴</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="鸡">
							<td>鸡</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="狗">
							<td>狗</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="猪">
							<td>猪</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
					</table>
					<div style="height: 5px;"></div>
					<table class="marksix_footer">
						<thead>
							<tr class="bg-warning">
								<th>号码</th>
								<th>赔率</th>
								<th>金额</th>
								<th>号码</th>
								<th>赔率</th>
								<th>金额</th>
							</tr>
						</thead>
						<tr>
							<td data-val="0尾"><span>尾0</span></td>
							<td><span class="text-red" data-val="0尾">0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="1尾"><span>尾1</span></td>
							<td><span class='text-red' data-val="1尾">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td data-val="2尾"><span>尾2</span></td>
							<td><span class='text-red' data-val="2尾">0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="3尾"><span>尾3</span></td>
							<td><span class='text-red' data-val="3尾">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td data-val="4尾"><span>尾4</span></td>
							<td><span class='text-red' data-val="4尾">0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="5尾"><span>尾5</span></td>
							<td><span class='text-red' data-val="5尾">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td data-val="6尾"><span>尾6</span></td>
							<td><span class='text-red' data-val="6尾">0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="7尾"><span>尾7</span></td>
							<td><span class='text-red' data-val="7尾">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td data-val="8尾"><span>尾8</span></td>
							<td><span class='text-red' data-val="8尾">0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="9尾"><span>尾9</span></td>
							<td><span class='text-red' data-val="9尾">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<!-- 
						<tr>
							<td data-val="0尾"><span>尾0</span></td>
							<td><span class="text-red">0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="1尾"><span>尾1</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td data-val="2尾"><span>尾2</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="3尾"><span>尾3</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td data-val="4尾"><span>尾4</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="5尾"><span>尾5</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td data-val="6尾"><span>尾6</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="7尾"><span>尾7</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td data-val="8尾"><span>尾8</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="9尾"><span>尾9</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td data-val="234肖"><span>234肖</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="5肖"><span>5肖</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td data-val="6肖"><span>6肖</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="7肖"><span>7肖</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td data-val="总肖单"><span>总肖单</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
							<td data-val="总肖双"><span>总肖双</span></td>
							<td><span class='text-red'>0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						 -->
					</table>
					<div class="text-center footercontent">
						<div class="text-center paddingtopbotton5">
							<input type="button" class="btn btn-warning" value="重填" onClick="$('.qingkong').click();" /> <input
								type="button" onclick="addToBetList('ztxztw', '正特肖／正特尾')"
								class="btn btn-warning" value="确认下注" />
						</div>
					</div>
				</form>