
<form>
			{#
			_.map(list, function(item, index, list){
			#}
				<input type="hidden" rate="{{item.odds}}" id="{{item.playCode}}{{item.isNowYear}}" oddsId="{{item.id}}" rakeBack="'{{item.rakeBack}}" />
			{#
			});
			#}
	<table betprefix="">
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>选择</th>
				<th>号码</th>
				<th>选择</th>
				<th>号码</th>
				<th>选择</th>
				<th>号码</th>
				<th>选择</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g"><span>0</span></td>
				<td><input type="checkbox" name="facai6688" value="0"/></td>
				<td class="ballColor ballcolor-g"><span>1</span></td>
				<td><input type="checkbox" name="facai6688" value="1"/></td>
				<td class="ballColor ballcolor-g"><span>2</span></td>
				<td><input type="checkbox" name="facai6688" value="2"/></td>
				<td class="ballColor ballcolor-g"><span>3</span></td>
				<td><input type="checkbox" name="facai6688" value="3"/></td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g"><span>4</span></td>
				<td><input type="checkbox" name="facai6688" value="4"/></td>
				<td class="ballColor ballcolor-g"><span>5</span></td>
				<td><input type="checkbox" name="facai6688" value="5"/></td>
				<td class="ballColor ballcolor-g"><span>6</span></td>
				<td><input type="checkbox" name="facai6688" value="6"/></td>
				<td class="ballColor ballcolor-g"><span>7</span></td>
				<td><input type="checkbox" name="facai6688" value="7"/></td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g"><span>8</span></td>
				<td><input type="checkbox" name="facai6688" value="8"/></td>
				<td class="ballColor ballcolor-g"><span>9</span></td>
				<td><input type="checkbox" name="facai6688" value="9"/></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center paddingtopbotton5 marksixRate">
		<b class="text-warning">赔率：<span id="lmrate" class="text-red" rate="0.0" oddsId="" rakeBack="">0.0</span></b>
	</div>
	<div class="container text-center">
		<div class="form-group container">
			<div class="input-group">
				<span class="input-group-addon form_span">金额</span> <input type="text" class="form-control betmoney" placeholder="请输入金额">
			</div>
		</div>
	</div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintLimaClick(9, 'zuxuansan', 'zuxuansan_qiansan', '组选三--前三')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
<script type="text/javascript">
	$(function(){
		$("td.ballColor").each(function() {
			$(this).click(function() {
				var $facai6688 = $(this).next("td").children("input[type=checkbox]");
				$facai6688.click();
				/*
				if ($facai6688.prop("checked") == false) {
					$facai6688.prop("checked", true);
				} else {
					$facai6688.prop("checked", false);
				}
				*/
			});
		});
		$("td.text-red + td").each(function() {
			$(this).click(function() {
				$(this).prev("td.ballColor").click();
			});
		});

		$("input[type=checkbox][name=facai6688]").click(function(){
			var selCount = $("input[type=checkbox][name=facai6688]:checked").length;
			if(selCount > "{{maxBonusOdds}}"){
				Modal.alert({ msg: '最多选择{{maxBonusOdds}}个号码!' }).on(function () {
					return;
				});
				return;
			} else {
				var $currOdds = $("#{{playCode}}" + selCount);
				if($currOdds.length > 0){
					var rate = $currOdds.attr("rate");
					var oddsId = $currOdds.attr("oddsId");
					var rakeBack = $currOdds.attr("rakeBack");
					$("#lmrate").text(rate).attr("rate", rate).attr("oddsId", oddsId).attr("rakeBack", rakeBack);
					$("#lmrate").parent().show();
				}
			}
		});
	});
	//提交下注按钮点击事件
	function submintLimaClick(lotType, groupCode, playCode, playName) {
		var inputVal = $(".ball-content .betmoney");
		var validate = "";
		var allje = 0;
		var con;
		inputVal.each(function () {
			var je = $(this).val();
			if (je != "") {
				var ex = /^[1-9]\d*$/
				if (!ex.test(je)) {
					validate = "金额无效！";
					con = $(this);
					return false;
				} else {
					allje += je * 1;
				}
			}
		});
		var Credit = $("#Credit").val() * 1;
		if (validate != "") {
			Modal.alert({ msg: validate }).on(function () {
				$(con).focus();
				return;
			});
			return;
		} else if (allje == 0) {
			Modal.alert({ msg: '请先下注!' }).on(function () {
				return;
			});
			return;
		}
		//else if (allje > Credit) {
		//	Modal.alert({ msg: '金额不足,请重新输入!' }).on(function () {
		//		return;
		//	});
		//	return;
		//}
		var qishu = $(".memRound").html();
		var betData = {"qiHao": qishu, "lotCode": "{{lotCode}}", "groupCode": groupCode, "playCode": playCode, "lotType": lotType};
		var data = [];
		var zhucount = 0;
		var htmls = "";

		var $butInfo = $("input[type=checkbox][name=facai6688]:checked");
		if($butInfo.length < "{{minBonusOdds}}"){
			Modal.alert({ msg: '最少选择{{minBonusOdds}}个号码!' }).on(function () {
				return;
			});
			return;
		} else if ($butInfo.length > "{{maxBonusOdds}}"){
			Modal.alert({ msg: '最多选择{{maxBonusOdds}}个号码!' }).on(function () {
				return;
			});
			return;
		}

		var checkedNum = [];
		$butInfo.each(function () {
			var num = $(this).val();
			checkedNum.push(num);
		});
		var batnumstr = checkedNum.join(",");

		if (batnumstr != "") {
			zhucount++;
			var name = batnumstr;
			var rate = $("#lmrate").attr("rate");
			var oddsId = $("#lmrate").attr("oddsId");
			if (!rate || rate == 0) {
				Modal.alert({ msg: '赔率0 ,无法下注!' }).on(function () {
					return false;
				});
				return;
			}
			var pname = name;
			data.push({"name": pname, "money": allje, "oddsId": oddsId, "rate": rate});
			htmls += "<tr><td>" + playName + "</td><td>" + pname + "</td><td>" + allje + "</td></tr>";
		}

		if (data.length > 0) {
			betData.data = data;
			$("#myModal1 .counts").html(zhucount);
			$("#myModal1 .jinge").html(allje);
			$("#betDetail").html(htmls);
			$("#myModal1 .tijiao").attr("onclick", "submitBetGame('" + JSON.stringify(betData) + "')");
			$(".ball-content input[type=text]").val('');
			$("#myModal1").modal("show");
			$(".qingkong").click();
		}
	}
</script>