
<form>
	<table betprefix="">
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">0</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="0" rate="0.0" oddsId="" rakeBack="684">
				</td>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="685">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="686">
				</td>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="687">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="688">
				</td>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="689">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="690">
				</td>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="691">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="692">
				</td>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="693">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" rakeBack="694">
				</td>
				<td class="ballColor ballcolor-g">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" rakeBack="695">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" rakeBack="696">
				</td>
				<td class="ballColor ballcolor-g">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" rakeBack="697">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" rakeBack="698">
				</td>
				<td class="ballColor ballcolor-g">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" rakeBack="699">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" rakeBack="700">
				</td>
				<td class="ballColor ballcolor-g">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" rakeBack="701">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" rakeBack="702">
				</td>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" rakeBack="703">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">20</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="20" rate="0.0" oddsId="" rakeBack="704">
				</td>
				<td class="ballColor ballcolor-g">21</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="21" rate="0.0" oddsId="" rakeBack="705">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">22</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="22" rate="0.0" oddsId="" rakeBack="706">
				</td>
				<td class="ballColor ballcolor-g">23</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="23" rate="0.0" oddsId="" rakeBack="707">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">24</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="24" rate="0.0" oddsId="" rakeBack="708">
				</td>
				<td class="ballColor ballcolor-g">25</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="25" rate="0.0" oddsId="" rakeBack="709">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">26</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="26" rate="0.0" oddsId="" rakeBack="710">
				</td>
				<td class="ballColor ballcolor-g">27</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="27" rate="0.0" oddsId="" rakeBack="711">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(9, 'heshu', 'zhongsan', '和数--中三')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
