/******2016-01-23******/
.gate-logo h1{margin-top: 0px;}
.gate-logo h1 img{expression(this.width > 400 ? "400px" : "auto"); expression(this.height > 56 ? "56px" : "auto"); max-width: 400px; max-height: 56px;margin-top: 10px;}
.gate-head{background: #fff;height: 80px;border-bottom: 1px solid #ccc;overflow: hidden;}
.gate-orders{margin-top: 18px;border: 1px solid #ddd;height: 80px;position: relative;background: #edf7ff;}
.orders-left{width: 699px;border-right: 1px solid #ddd;height: 80px;background: #f6fbff;}
.orders-title{font-size: 18px;line-height: 80px;margin-left: 35px;font-weight: bold;}
.order-center{position: relative;}
.order-center label{cursor: pointer;background: url(../images/down.png) no-repeat right center;display: inline-block;padding-right: 15px;
color: #348ad4;line-height: 80px;margin-right: 40px;}
.order-details{position: absolute;margin-top: -15px;margin-left: -5px;z-index: 1200;-ms-box-shadow: 0 2px 8px #ccc;-moz-box-shadow: 0 2px 8px #ccc;-webkit-box-shadow: 0 2px 8px #ccc;
box-shadow: 0 2px 8px #ccc;background: #fff;width: 340px;padding:10px 0;border: 1px solid #E8E8E8;padding-left: 20px;}
.order-details ul li{line-height: 33px;color: #888;}
.order-details ul li span{color: #333;margin-left: 5px;}
.order-right{height: 80px;float: left;width: 288px;}
.order-app{margin-right: 30px;margin-top: 12px}
.order-money{font-size: 32px;color: #ff5e44;padding-right: 5px;font-weight: bold;line-height: 42px}
.order-app>label{color: #348ad4;background: url(../images/down.png) no-repeat right center;cursor: pointer;float: right;display: inline-block;padding-right: 15px;font-size: 12px;}
.order-er{right: 0;width: 175px;padding: 20px 30px 17px 30px;margin-top: 40px;background: #fff;border: 1px solid #e8e8e8;position: absolute;z-index: 1200;}
.order-img{height: 158px;width: 158px;margin-left: 10px;margin: 8px 0;}
.order-img img{height: 158px;width: 158px;}
.order-er p{text-align: center;}
.order-er p .order-click{color: #348ad4;text-decoration: underline;cursor: pointer;}
.trangle-s{top: 0;background: url(../images/left.png) no-repeat center;width: 13px;height: 80px;position: absolute;right: -2px;}
.menu-ul{border-top: 3px solid #ddd;zoom: 1;background:#f6f6f6 ;border-bottom:1px solid #dddddd;}
.menu-ul::after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.menu-ul li{font-weight: bold;cursor: pointer;border-top:3px solid #ddd;margin-top: -3px;float: left;height: 53px;line-height: 53px;font-size: 16px;color: #999;text-align: center;}
.menu-ul li.selected {border-left: 1px solid #dddddd;color: #333;border-top:3px solid #57a4e6;background: #fff;border-right:1px solid #dddddd;border-bottom:1px solid #fff;margin-bottom:-1px;}
.menu-ul li a{display: block;height: 30px;padding-top: 18px;}
.menu-ul li a.icon01{background: url(../images/icon1.png) no-repeat left center;width: 189px;}
.menu-ul li a.icon02{background: url(../images/icon3-qq.png) no-repeat left center;width: 189px;}
.menu-ul li a.icon03{background: url(../images/icon5-jd.png) no-repeat left center;width: 189px;}
.menu-ul li a.icon04{background: url(../images/icon7.png) no-repeat left center;width: 189px;}
.menu-ul li a.icon05{background: url(../images/icon9.png) no-repeat left center;width: 189px;}
.menu-ul li.selected  a.icon01{background: url(../images/icon2.png) no-repeat left center;}
.menu-ul li.selected  a.icon02{background: url(../images/icon4-qq.png) no-repeat left center;}
.menu-ul li.selected  a.icon03{background: url(../images/icon6-jd.png) no-repeat left center;}
.menu-ul li.selected  a.icon04{background: url(../images/icon8.png) no-repeat left center;}
.menu-ul li.selected  a.icon05{background: url(../images/icon10.png) no-repeat left center;}
.order-img{margin-left: 12px;}
.order-close{right: 13px;top: 10px;}
.first-Li{margin-left: 25px;}
.er-close{right: 10px;top:10px;}
.gate-label{font-size: 12px;color: #4e9fe5;text-align: center;display:block;margin-top:8px;cursor: pointer;}
.gate-main{ margin-top:18px;position: relative;}
.w190{width: 190px;border: 1px solid #cccccc;height:843px;}
.gate-payment{background:#e0f1ff url(../images/payment.png) no-repeat center;height: 80px;border-bottom: 1px solid #ccc;}
.gate-payul li{position: relative;border-bottom: 1px solid #ccc;height: 55px;color: #666;background: #ececec url(../images/unsel.png) no-repeat 165px center;text-align: center;line-height: 55px;}
.gate-payul li.current{border-left: 4px solid #348ad4;background: #FFFFFF url(../images/sel.png) no-repeat 162px center;width: 187px;}
.gate-payul li em{width: 24px;height: 24px;position: absolute;left: 15px;top: 15px;}
.gate-payul li em.fir{background-position: 0px 0px;}
.gate-payul li em.sec{background-position: 0px -26px;}
.gate-payul li em.thir{background-position: 0px -52px;}
.gate-payul li em.forth{background-position: 0px -78px;}
.gate-mainright{float: left;margin: 0 auto;background: #fff;width: 990px;padding-bottom: 30px;}
.gatemain-ul{margin-left: 50px;margin-top: 35px;}
.gatemain-ul li{/*padding: 0 20px;*/display: block;}
.gatemain-ul li.mtt5{margin-top: 5px;}
.gatemain-ul li em{position: absolute;width: 20px;height: 20px;background-position: 0 -128px;left: 0;margin-top: 22px;}
.gatemain-ul li.selected{border: 3px solid #77bbf5;}
.gatemain-ul li.selected em{background-position: 0 -150px;}
.gatemain-ul li.selected .gate-title{border-bottom: none;}
.gate-title{position: relative;padding-left: 35px;height: 64px;border-bottom: 1px solid #dddddd;line-height: 64px;}
.hide-lable{display: none;border: 1px solid #CCCCCC;box-shadow: 0px 2px 6px #545759;width: 230px;height: 125px;position: absolute;z-index: 999;background: #fff;margin-top: 5px;right: 15px;}
.label-div{margin: 20px 0 0 30px;}
.hide-lable p{width: auto; height: auto;}
.hide-lable p.f-16{font-size: 16px;margin-bottom: 12px;}
.hide-lable p.f-12{font-size: 12px;margin-bottom: 8px;}
.hide-lable p a{color: #348ad4;font-size: 12px;cursor: pointer;text-decoration: underline;}
.list-bg{z-index: 999;position: absolute;width: 100%;height: 100%;background: #fff;opacity: 0;display: none;}
.quick-write{background: #87bef3;font-size: 14px;color:  #fff;position: absolute;height: 32px;display: none;width: 262px;margin-top: 34px;z-index: 100000;
line-height: 32px;border: none;top: -2px;-ms-border-bottom-left-radius: 4px;-webkit-border-bottom-left-radius: 4px;-moz-border-bottom-left-radius: 4px;border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;-moz-border-bottom-right-radius: 4px;-ms-border-bottom-right-radius: 4px;border-bottom-right-radius: 4px;}
.quick-left span{font-size: 12px;color: #999;position: absolute;right: 2px;}
.bn{border: 0px;!important}
.check-span{font-size: 20px;padding-top:25px;margin-left: 12px;font-weight: bold;color: #666;}
.had-quick ul{margin-top: 18px;margin-left: 3px;}
.next-showli{background: #348ad4;color: #fff;font-size: 12px;text-align: center;position: absolute;top: 40px;height: 22px;line-height: 22px;width: 100%;z-index: 999;display: none;}
.add-rule{margin-top: -5px;}
.add-dd-a{color: #348ad4;cursor: pointer;}
.tab-new{background: url(../images/tab-new.png) no-repeat;position: absolute;left: 0;top: 0;width: 40px;height: 40px;}
.input-ques{position: absolute;top: 0;left: 267px !important;z-index: 999;width: 246px;}
.input-ques ul li{height: auto !important;line-height: 18px;}
.had-ques-tips{width: 25px!important;margin-left: 4px !important;}
.had-ques{position: absolute;top:0px;left: 346px !important;z-index: 999;width: 246px;}
.had-ques ul li{height: auto !important;line-height: 18px;}
/****快捷银行****/
.quickbank-input{position: relative;}
.quick-left{z-index: 99;width: 260px;height: 30px;border: 1px solid #bbb;position: relative;overflow: hidden;-o-box-shadow: 0 2px 1px #EEE inset;
-ms-box-shadow: 0 2px 1px #EEE inset;-moz-box-shadow: 0 2px 1px #EEE inset;-webkit-box-shadow: 0 2px 1px #EEE inset;box-shadow: 0 2px 1px #EEE inset;}
.quick-left s{background-position: 0 -172px;height: 16px;width: 16px;position: absolute;left: 10px;top: 7px;}
.quick-left input{padding-left: 10px;float: left;line-height: 30px;margin-left: 35px;height: 30px;border: none;width: 200px;}
.gate-button{cursor: pointer;display: inline-block;width: 80px;height: 32px;margin-left: 5px;background: #bbb;color: #fff;font-size: 12px;
text-align: center;line-height: 32px;}
.bank-list{margin-top: 20px;position: relative;}
.bank-list ul::after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.bank-list ul li{height: 44px;margin-bottom: 10px;float: left;margin-right: 12px;padding: 0;position: relative;}
.bank-list li a{cursor: pointer;text-align: center;display: block;line-height: 42px;border: 1px solid #ccc;height: 42px;width: 200px;background: #fff;margin-bottom: 12px;
-ms-border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
.bank-list li a:hover{border: 1px solid #348AD4;}
.bank-list li a.selected{border: 1px solid #348AD4;}
.bank-list a.more{background: #e0f1ff;color: #348ad4;line-height: 40px;display: block;float: left;
text-align: center;display: block;border: 1px solid #348ad4;height: 42px;width: 200px;cursor: pointer;}
.bank-list a.more:hover{background: #348AD4;color: #fff;}
.bank-list li:nth-child(4){margin-right: 0;}
.dd-more-card{margin-top: 20px;}

/** 信息提示 **/
.js-error{color:#ff5243;}
.ui-form-explain{color:#ff5243;font-size:12px;background:url(../images/tisp_icon_1_14.jpg) no-repeat;padding-left:20px;margin: 8px 0 0 15px;height:16px;line-height:16px;}
.ui-form-explain-correct{color:#B2B2B2;font-size:12px;background:url(../images/tisp_icon_1_11.jpg) no-repeat;padding-left:20px;margin: 8px 0 0 15px;height:16px;line-height:16px;}
.ui-input-error{border-top-color:#ff5d5b}

/*** 红色提示框透明遮罩层  ***/
.maskOver{width:100%;height:100%; position: fixed;display:none; top: 0;  left: 0;  z-index: 999;}

/*** 协议 复选框  ***/
.rule-sel{ margin-bottom: 20px;margin-top:10px;  height: 30px;    line-height: 1.8;}
input.rule-chbox{	width: 16px;height: 16px; display:inline;vertical-align: middle;margin-top:2px;border:1px solid #ddd; box-shadow: none;-webkit-box-shadow: none;}
.rule-sel a.rule-ext{	display: inline; vertical-align: middle;}
.rule-sel span{vertical-align: middle;color:#666;}
.rule-sel i{font-style:normal;color:#f00;vertical-align: middle;margin-left:10px;display:none;}

/***已有快捷支付信息***/
.had-quick li{margin-bottom: 10px;background: #fff;height: 42px;zoom: 1;position: relative;}
.had-quick li.add-mt3{margin-top: 23px;}
.had-quick li::after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.had-quick li>span.had-card{line-height: 40px;}
.had-div{position: relative;height: 40px;width: 290px;padding-left: 20px;border: 1px solid #ccc;z-index: 888;}
.had-add-card{border: 1px solid #348ad4;}
.phcolor{font-size: 12px;color: #999;}

.had-div span img{line-height: 40px;max-width: 110px;vertical-align: middle;}
.had-quick li>span{width: 65px;float: left;margin-right: 18px;line-height: 30px;text-align: right;}
.had-div span.had-em{background: #ff6b6b;color:  #fff;font-size: 12px;line-height: 25px;padding-left: 5px;margin-top: 8px;}
.had-div span.netcard-em{background: #447dff;color:  #fff;font-size: 12px;line-height: 25px;padding-left: 5px;margin-top: 8px;}
.had-div span{float: left;line-height: 40px;padding-right: 5px;}
.had-div span.ml20{padding-right: 20px;}
.question-tips{margin-top: 5px;cursor: pointer;background: url(../images/ques.png) no-repeat center;height:20px;width: 25px;display: block;margin-left: 15px;}
.had-input{height: 30px;line-height: 30px;width: 100px;border: 1px solid #ccc;padding-left: 10px;}
.had-button{display: inline-block;background: #f2f2f2;height: 30px;border: 1px solid #ccc;line-height: 30px;cursor: pointer;margin-left:28px;text-align: center;width: 90px;}
.had-rules-div{margin-left: 85px;}
.had-rules-div a{display: block;}
.had-agree{height: 50px;width: 220px;line-height: 50px;color: #fff;background: #4e9fe5;text-align: center;font-weight: bold;margin-bottom: 20px;
font-size: 18px;/*margin-left: 10px;*/cursor: pointer;}
.had-agree:hover{background: #348ad4;}
.had-rule{color: #348ad4;cursor: pointer;margin:20px 0;max-width: 180px;}
.had-div s{margin-left: 10px;float: right;background: #ccc url(../images/hd-down.png) no-repeat center;height: 40px;width: 44px;}
.had-add-card>s{background: #348ad4 url(../images/hd-down.png) no-repeat center;}
.had-another{background: url(../images/ano.png) no-repeat left center;display: inline-block;padding-left: 22px;line-height: 40px;color: #348ad4;
margin-left: 10px;cursor: pointer;}
.had-title{width: 840px;border-bottom: 1px solid #ccc;padding-left: 26px;overflow: hidden;}
.had-title span{background:url(../images/had02.png) no-repeat left center;display: inline-block;padding-left: 30px;line-height: 50px;}
.select-card{position: relative;}
.ul-option{border-top: none;display: none;position: absolute;top: 22px;left:80px;z-index: 777;border: 1px solid #348ad4;border-top: none;}
.ul-option li{padding: 0;margin-bottom: 0;background: #fff;width: 310px;overflow: hidden;}
.ul-option li:hover{background: #d1e8ff;}
.ul-option>li>.had-div{border: none;}
.ul-option>li>.had-div s{visibility: hidden;}
.ques-details{display: none;position: absolute;top: 0;background: #fff;z-index: 9999;left: 220px;border: 1px solid #E8E8E8;}
.ques-details ul{margin-top: 20px;}
.ques-details ul li{height: 10px;font-size: 12px;color: #666;}
.ques-details ul li.f-14{font-size: 14px;color: #333;font-weight: bold;margin-bottom: 13px;}
.ques-details ul li a{color: #348ad4;cursor: pointer;}
.ques-details ul {padding: 16px;margin-top: 0;position: relative;}
.que-close{top: 5px;right: 5px;}

/***未快捷支付信息***/
.new-input input{height: 30px;width: 220px;border: 1px solid #ccc;padding-left: 10px;line-height: 30px;}
.had-quick li.radio>label{background: url(../images/unc.png) no-repeat left center;display: inline-block; padding-left: 20px;margin-right: 15px;margin-top: 5px;}
.had-quick li.radio>label.checkradio{background: url(../images/chec.png) no-repeat left center;}
.had-quick li.current select{padding:3px 0;height:30px;width: 75px;border: 1px solid #ccc;margin-right: 5px;}
.had-addspan{width:202px;height:44px;border:1px solid #ccc;text-align: center;}
.had-addspan span{height: 40px;line-height: 40px;}
.had-addspan img{max-height: 40px;max-width: 170px;vertical-align: middle;}
.change-menu{height: 36px;border-bottom: 1px solid #cccccc;width: 845px;margin-top: 20px;}
.change-menu span{color: #666;height: 35px;display:block;float: left;width: 142px;line-height: 37px;text-align: center;border-bottom: none;}
.change-menu span:hover{cursor:pointer}
.change-menu span.selected{font-weight: bold;color: #333333;background: #fff;border: 1px solid #ccc;height: 37px;display:block;float: left;width: 142px;border-bottom: none;}
.change-menu span a{display: inline-block;padding-left: 30px;}
.change-menu span a.quick{background: url(../images/1.png) no-repeat left center;}
.change-menu span.selected a.quick{background: url(../images/2.png) no-repeat left center;}
.change-menu span a.net{background: url(../images/1.1.png) no-repeat left center;}
.change-menu span.selected a.net{background: url(../images/2.2.png) no-repeat left center;}
.gate-error{color: #ff0000;font-size: 12px;line-height: 30px;position: absolute;left:360px;top: 0;}
.had-card{line-height: 40px;}
.pr-24{padding-right: 24px;}
.pr6{padding-right: 6px;display: inline-block;}
.card-img{position: absolute;top: 80px;right: 70px;}
.js-hadquick{position: relative;}
.js-ddquick{position: relative;}
.have-label{line-height: 32px;}
/*******网银支付******/
.js-netbank table{width: 845px;border: 1px solid #bbbbbb;text-align: center;border-right: none;color: #666;}
.js-netbank table tr td{border-top: 1px solid #bbb;border-right: 1px solid #bbb;height: 30px;}
.js-netbank table tr th{background: #cccccc;height: 30px;font-weight: normal;}
.network-tips{width: 825px;border:1px solid #a2cef4;background: #edf7ff;height: 30px;padding: 0 10px;line-height: 30px;margin-top: 15px;}
.network-tips p{display: inline-block;background: url(../images/tips.png)no-repeat left;padding-left: 22px;color: #666;}
.network-tips p>span{color: #e44b4b;}
.netbank-div{overflow: hidden;margin: 23px 0 0 20px;}
.netbank-div a{cursor: pointer;}
.network-a{display: inline-block;background: url(../images/news.png) no-repeat right;padding-right: 22px;color: #348ad4;line-height: 50px;padding-left: 15px;}
.network-span{display: inline-block;color: #ff5243;line-height: 50px;padding-left: 28px;}
.pr-20{padding-right: 20px;}

/******点卡支付********/
.pay-card{float: left;margin-left: 22px;}
.pay-card .bank-list li a.more{background: #348ad4;color: #fff;}
.paycard-title{font-size: 16px;color: black;height: 45px;margin-top: -20px;font-weight: bold;}
.js-pointcard li a:hover{border:1px solid #348AD4;}
.paycard-ul{margin-top: 25px;}
.pc-had{margin:0 15px;}
.paycard-ul .new-input input{width: 175px;}
.paycard-bottom{/*border-top: 1px solid #dddddd;*//*padding-top: 24px;*/}
.paycard-div{height: 32px;}
.paycard-div span{color: #333; line-height:32px;}
.paycard-div a{color: #348ad4;cursor: pointer; line-height:32px;}
.paycard-div input{width: 175px;height: 30px;border: 1px solid #ccc;margin: 0 10px;padding-left: 10px;line-height: 30px;}
.wam-tips{color:  #ff4444;font-size: 13px;width: 823px;padding:5px 10px;background: #edf7ff;border-bottom: 1px solid #c5c5c5;line-height: 25px;margin: -10px 0 20px -8px;
-o-box-shadow: 0 1px 1px #ccc;-ms-box-shadow: 0 1px 1px #ccc;-moz-box-shadow: 0 1px 1px #ccc;-webkit-box-shadow: 0 1px 1px #ccc;box-shadow: 0 1px 1px #ccc;}
.wam-heart{display: inline-block;color: #333;}
.paycard-span{margin-left: 5px;color: #FF5F5F;font-size: 12px;}
.pays-card{margin-left: -5px;margin-top: 20px;}
.ponitcard-a{line-height: 25px;}
.js-pcard2{margin-left: 12px;}
.paycard-span1{width: 58px;display: inline-block;margin-left: 12px;}

/*******微信支付******/
.wx-img{margin-top: 55px;overflow: hidden;margin-bottom: 22px;}
.span-block>span{display: block;line-height: 20px;margin-left: 20px;}
.wx-left-img{margin-left: 115px;}
.wx-left-img>img{width: 240px;height: 240px;}
.wx-search{margin-left: 50px;margin-top: 20px;}
.wx-logo-img{margin-left: 150px;}
.wx-worktips p{font-size: 12px;color: #666;line-height: 22px;}
.wx-worktips p.f-14{font-size: 14px;color: #333;}
.wx-worktips p.f-red{color: #ff4444;}
.wx-worktips p a{color: #348ad4;cursor:  pointer;} 


/*****智汇宝钱包登录*****/
.add-left{margin: 40px 0 0 -50px;}
.wx-qrcode-error{width: 240px;height: 240px;cursor:pointer}
.zhb-qrcode-error{width: 140px;height: 140px;cursor:pointer}
.zhbTop-qrcode-error{width: 160px;height: 160px;cursor:pointer}
.gate-zhb-error{color: #ff0000;font-size: 12px;line-height: 16px; display: inline-block;width: auto;}
.aside-link{position: absolute;top: -3px;margin: 3px 0px 3px 160px}
.input-solo>p>input.get-short{width: 240px;}
.input-solo>p>input{width: 260px;height: 30px;border: 1px solid #ccc;padding: 0 10px;display: inline-block;line-height: 30px;}
.pass-span{margin-top: -23px;position: absolute;}
.ocx_style_zhb{margin-top: 0px;top : 0px;position: absolute;text-align: center;width:240px; height:30px;border: 1px solid #ccc;padding: 0 10px;display: inline-block;border-radius: 4px; padding:0px 10px 0px 10px;  }
.ocx_style{display: inline-block ;width:240px; height:30px;}
.ocx_password{display: inline-block ;width:240px; height:30px;margin-top: 5px;}

.ocx_login_style{display: none ;width:240px; height:30px;margin-top: -44px;margin-left: -121px;position: absolute;}
.pay_ocx_style{margin-top: 0px;top : 0px;position: absolute;text-align: left;border:0px;width:184px; height:30px; text-align:center;line-height: 28px; padding:1px 10px 1px 10px; margin-left: 0px;display: none;  }
.f-16{font-size: 16px;height: 40px;}
.ocx{margin-left: -11px;margin-top: -1px;}
.input-solo{margin-bottom: 24px;position: relative;}
.downsafe{height: 30px;width: 255px;margin-left: 5px;display: none;position: absolute;color: #999;font-size: 12px;top: 0;line-height: 30px;left: 60px;z-index: 999;}
.input-solo>span{width: auto;display: inline-block;}
.input-solo-zhb>span{width: 240px;display: inline-block;}
.input-solo-zhb>input{width: 240px;height: 30px;border: 1px solid #ccc;padding: 0 10px;display: inline-block;line-height: 30px;}
.input-solo>input{width: 260px;height: 30px;border: 1px solid #ccc;padding: 0 10px;display: inline-block;line-height: 30px;}
.input-solo>input.get-short{width: 240px;}
.input-solo>input.checkbox{height: 12px;width: 12px;-o-box-shadow: 0 0 0 #EEE inset;-ms-box-shadow: 0 0 0 #EEE inset;-moz-box-shadow:  0 0 0 #EEE inset;
-webkit-box-shadow: 0 0 0 #EEE inset;box-shadow: 0 0 0 #EEE inset;}
.input-solo>a{color: #4599e0;cursor: pointer;}
.input-solo>p>a{color: #4599e0;cursor: pointer;}
.ddbill-button{height: 34px;width: 110px;line-height: 34px;margin-left: 55px;}
.socode-detail p{line-height: 22px;}
.socode-detail p.img img{width: 140px;height: 140px;}
.socode-detail p a{color: #348ad4;cursor: pointer;}
.ddbill-img{margin-left: 5px;}
.ddbill-right{margin-left: 60px;}
.dd-balance{line-height: 55px;height: 55px;width: 840px;border: 2px solid #cccccc;margin: 15px 0 25px 0;}
.sel-border{border: 2px solid #77bbf5;}
.dd-balance>a{display: inline-block;color: #ff4444;margin-left: 24px;/*cursor: pointer;*/}
.dd-content::after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.dd-balance>span{float: left;margin-left: 24px;background: url(../images/unckd_03.png) no-repeat left;display: inline-block;padding-left: 30px;}
.sel-border>span{background: url(../images/dd03.png) no-repeat left;}
.dd-choicecard{margin-left: 22px;float: left;width: 650px;margin-top: 7px;}
.dd-choicecard .ul-option{left: 0;top: 40px;}
.padding-add{height: auto;padding: 5px 0;line-height: 40px;}
.dd-list{margin-left: 15px;}
.add-lineh{line-height: 11px;}
.dd-choicecard .had-div s{background: #ccc url(../images/hd-down.png) no-repeat center;}
.dd-choicecard .had-another{color: #348ad4;}
.hadshow .had-div{border: 1px solid #348ad4;}
.hadshow .had-div s{background: #348ad4 url(../images/hd-down.png) no-repeat center;}
.input-solo>a.dd-button{color: #333;margin-top: 5px\9;height: 30px;width: 120px;background: #ececec;text-align: center;display: inline-block;border: 1px solid #ccc;line-height: 30px;margin:0 6px 0 4px;}
.input-solo>label{font-size: 14px;color: #666;display: block;}
.dd-quick{width: 800px;margin: 0 auto;height: auto;overflow: hidden;}
.dd-quick li>span{line-height: 42px;}
.new-a{color: #4599e0;font-size: 12px;cursor: pointer;margin-left: 0;padding-left: 7px;}
.check-code a.new-adda{color: #4599e0;}
/*.had-rules-div .dd-rule{margin: 0px;}*/
.js-dd table{width: 785px;}
.js-dd .network-tips{width: 762px;}
.dd-netdiv{margin-bottom: 25px;}
.ddbill-socode{margin-left: 125px;}
.js-dd-list li a:hover{border: 1px solid #348AD4;}
.bank-list li img {max-height: 44px;line-height: 44px;vertical-align: middle;}
.ba-label{color: #999;padding-left: 35px;}
.ba-label span{font-size: 18px;color: #333;}
.dd-solo{overflow: hidden;}
.dd-solo>span{width: 58px;text-align: right;margin-right: 10px;height: 30px;}
.dd-solo>input{width: 100px;}
.dd-solo>input.dd-input1{width: 182px;}
.dd-solo>input.sp{height: 30px;padding-left: 10px;}
.check-code{margin-left: 8px;float: left;}
.check-code img{width: 72px;height: 32px;float: left;}
.check-code a{font-size: 12px;color: #666;line-height: 32px;cursor: pointer;float: left;line-height: 32px;margin-left: 12px;}
.agree-submit{height: 50px;line-height: 50px;width: 220px;font-size: 18px;font-weight: bold;}
.f-bold{font-weight: bold;}
.line-35{line-height: 32px;}
.add-dd-ml58{margin-left: 58px;margin-right: 5px;}


/***支付成功或失败****/
.pays-div{height: 135px;width: 990px;background: #edffcc;margin: 25px auto 20px auto;}
.pays-icon{background: url(../images/yes.png) no-repeat center;width: 60px;height: 60px;float: left;margin-left: 370px;}
.pays-txt{margin-left: 22px;}
.pays-txt p{color: #666666;font-size: 12px;}
.pays-txt p.f-20{color: #333;font-size: 20px;margin-bottom: 12px;}
.pays-con{padding-top: 40px;overflow: hidden;}
.pays-ul{margin-left: 360px;padding-bottom: 30px;}
.pays-ul li{font-size: 13px;color: #666666;padding: 5px 0;}
.pays-ul li span{color: #777777;}
.pays-fail{background: url(../images/no.png) no-repeat center;}
.payf-div{background: #fcefe9;height: 155px;}
.payf-p{margin-left: 360px;}
.payf-p{color: #666;padding-bottom: 30px;}
.payf-p a{color: #348ad4;cursor: pointer;}
/*.success-label{letter-spacing: 0.3em;}*/



/***常见问题*****/
.que{border:1px solid #85b1dd;background-color:#E4F0FD;margin:20px auto;padding:20px;padding-bottom: 0;font-size:14px;color:#666;line-height:22px;width: 950px;}
.que h2{ font-size:16px;color:#138BC8;margin-top:0px;}
.payquestion{display: none;}
.payquestion dl{color: #333;}
.payquestion dl dd{color: #666666;margin-bottom: 10px;}
.terms {background: none repeat scroll 0 0 #FFFFFF;border: 6px solid #767576;color:#000;width:580px;height:400px;overflow:hidden;z-index:99999;position: fixed;left: 50%;top: 50%;margin-left: -290px;margin-top: -200px;}
.ydt-pay-protocol {padding: 20px;}
.ydt-pay-protocol .protocal_title {overflow:hidden;zoom:1;border-bottom: 1px solid #CCCCCC;font-size: 16px;margin-bottom: 10px;padding-bottom: 10px;}
.ydt-pay-protocol .protocal_title h3 {float:left;}
.ydt-pay-protocol .protocal_title a.pro_close {top: 15px;right: 15px;}
.ydt-pay-protocol .protocal_content {height:300px;overflow:scroll;padding:6px 10px;}
.ydt-pay-protocol h1 {font-size:12px;font-weight:bold;margin:12px 0px 5px 0px;}
.ydt-pay-protocol p {line-height:20px;color:#000;}
.ydt-pay-protocol p.text-index{text-indent: 2em;}
.ydt-pay-protocol p strong {text-decoration: underline;color:#000;text-indent:24px;display:block;}
.protocal_content .agree {background: url(../images/button.png) no-repeat;height: 38px;width: 144px;text-align: center;color: #fff;border: none;padding: 0px;font-size: 12px;font-weight: bold;cursor: pointer;}
.protocal_title a{color: #348AD4;font-size: 12px;}

.showgate{display: none;height: 500px;width: 770px;overflow: hidden;border: 4px solid #767676;background: #767676;position: fixed;left: 50%;margin-left:-390px;top: 50%;margin-top: -250px;z-index: 99999;}
.showgate em{top: 12px;right: 12px;}
.showgate>ul>li{position: relative;overflow: hidden;display: none;}
.showgate>ul>li p{overflow: hidden;text-align: center;width: 772px;}
.showgate>ul>li img{width: 772px;height: 492px;}
.showgate-txt{background: #767676;color: #fff;height: 35px;margin-left: 24px;line-height: 35px;}
.showgate>ul>li s{height: 46px;width: 46px;position: absolute;top: 50%;margin-top: -23px;cursor: pointer;display: block;}
.showgate>ul>li s.left{background: url(../images/left01.png) no-repeat center;left: 24px;display: none;}
.showgate>ul>li s.right{background: url(../images/right02.png) no-repeat center;right: 24px;}

/*********银联板块*****/
.qu-icon{width: 92px;height: 16px;margin-bottom: 22px;margin-top: 48px;}
.qu-icon1{background: url(../images/qu-icon1.png) no-repeat center;margin-top: 0;}
.qu-icon2{background: url(../images/qu-icon2.png) no-repeat center;}
.qu-icon3{background: url(../images/qu-icon3.png) no-repeat center;}
.qu-aa{color: #348ad4;font-size: 12px;margin-left: 20px;cursor: pointer;}
.qu-title{overflow: hidden;padding-left: 2px;margin-bottom: -15px;}
.pu-card{margin-left: 32px;}
.pu-card >span{padding-right: 18px;}
.qu-input{width: 230px;}
.mt-10{margin-top: -10px;}
.pu-quick{margin-left: -25px;}
.pu-quick>ul{margin-bottom: 25px;margin-left: -10px;}
.qu-button{margin-left: 8px;}
.pu-main-order{padding-bottom: 35px;}
.pu-fw{color: #333;font-weight: bold;font-size: 16px;margin-bottom: 20px;}
.pu-user{margin-left: 72px;}
.pu-user>span{color: #2590c7;}
.puo-ul{overflow: hidden;margin-left: 72px;}
.puo-ul>ul>li{float: left;margin-right: 35px;margin-top: 25px;position: relative;}
.puo-ul>ul>li label{color: #ff4444;position: absolute;right: -15px;top: 5px;font-size: 14px;}
.puo-ul>ul>li input{width: 246px;height: 30px;line-height: 30px;border:1px solid #ccc;padding-left: 10px;-moz-border-radius: 4px;-ms-border-radius: 4px;-webkit-border-radius: 4px;-o-border-radius:4px;border-radius: 4px;}
.pu-hr{border-bottom: 1px solid #ccc;width: 843px;padding: 18px 0;}
.pu-union{margin-left: -35px;}
.qu-quick{margin-top: 15px;margin-left: -25px;}
.ddbill-div{margin-left: 25px;}
.qu-ddbank{margin-left: -30px;}
.qu-menu{margin-left: -25px;}
.qu-agree{margin-left: 0px;}
.pu-title{background:#57a4e6 url(../images/pu-title.jpg) no-repeat left center;height: 42px;width: 100%;margin-bottom: 34px;}
.qu-agree2{margin-left: -7px;}
.add-icon{margin-top: 0;}

/** 新遮罩层、弹出窗口样式  */
.tisp_bg{ display: none; background:#000; position:fixed;left:0; top:0; height:100%; width:100%; z-index:111111; overflow: hidden;filter:Alpha(Opacity=50);opacity:0.5; -moz-opacity:0.5; }
.tisp{background:#757575; position:fixed; left:50%; top:50%; z-index: 111112; margin: -156px 0 0 -250px;display: none; }
.tisp_main{ width:520px; margin: 6px; background:#fff; padding:10px 20px 20px 20px;}
.tisp_main h4{ font-weight:bold;line-height: 45px;height:45px; border-bottom: 1px solid #ddd; font-size: 18px; color:#333; background:url(../images/tips_icon1_03.jpg) no-repeat 0 center;  text-indent: 30px; margin-top: 0px; margin-bottom: 15px;}
.tisp_main h4 span{ font-weight: normal; cursor:pointer; float: right; display: inline-block;  text-indent:18px;color:#00aaef; font-size: 15px; background:url(../images/tips_icon1_06.jpg) no-repeat 0 center; margin: 10px auto; margin-top: 0px; margin-bottom: 0px;}
.tisp_main ul{ margin: 15px auto 0 auto;}
.tisp_main ul li{ line-height: 30px; color:#666666; font-size:14px; margin: 5px auto 10px 0;}
.tisp_main ul span{text-indent:25px; background:url(../images/tisp_icon_1_11.jpg) no-repeat 0 center; line-height: 30px; overflow: hidden; color:#333; font-size:13px;  display: inline-block; line-height: 30px; float: left;}
.tisp_main ul span.span1{background:url(../images/tisp_icon_1_14.jpg) no-repeat 0 center;}
.tisp_main ul li a{ color:#01a9f0; margin: 0 10px 0 0 ;  display: inline-block; text-decoration: none;}
.tisp_main ul li em{ position: relative;font-style: normal;}
.tisp_main ul li em div{position: absolute;left:-257px; top:35px; padding:5px 20px 10px 12px; width:480px; height:50px; line-height:25px; border:1px solid #ddd; background:#f7f7f7; display:none;}
.tisp_main ul li em img{ position: absolute;;left:30px; top:25px; z-index: 111113; display: none;}
.tisp_main ul li em div p{  font-size: 14px; line-height:25px; color:#666; }
.tisp_main ul li em:hover div,.tisp_main ul li em:hover img{ display: block;}

/** 404错误页面 */
.errorTips {height: 460px;overflow: hidden;margin-top: 20px;}
.errorTips img {margin: 120px auto 0 auto;display: block;}

/***微信扫码支付 金额过大***/
.o_error{ margin:0 auto; padding:30px; text-align:center; width:100%; width:780px;}
.o_error img{ width:100%; max-width:118px; height:auto; margin: 0 auto;  }
.o_error p{ font:bold 22px/30px "Microsoft YaHei" ,arial; color:#666666; margin: 10px auto;}
.o_error div{ font:14px/22px "Microsoft YaHei" ,arial; color:#666666; margin: 30px auto;}
.o_error div span{display: inline-block; padding:0 3px; color:#ff5e44;}

/* 安全验证 */
.secbox {margin-top: 20px;padding-bottom: 40px;font-family: "Microsoft YaHei", Sans-Serif;}
.secPopup {height: 330px;width: 400px;padding: 0 20px;background: #fff;position: fixed;top: 50%;left: 50%;margin-left: -200px;margin-top: -180px;border: 1px solid #ddd;z-index: 9999;border: 8px solid #757575;display: none;}
.securityVf h1,.secPopup h1 {height: 70px;line-height: 70px;font-size: 22px;color: #2887e8;text-align: center;font-weight: normal;border-bottom: 1px solid #ddd;margin: 0 25px;}
.securityVf h2 {font-size: 14px;color: #666;text-align: center;}
.secPopup h2 {font-size: 14px;color: #666;text-align: center;padding: 0 20px}
.con_box {width: 260px;margin: 0 auto;}
.con_box h3{font-size:16px; text-align: center;color:#666}
.con_box select, .con_box input {font-family: "Microsoft YaHei";}
.phoneName {width: 240px;height: 30px;line-height: 30px;padding: 0 5px;border: 1px solid #ddd;border-radius: 3px;margin-top: 10px;font-family: "Microsoft YaHei";}
.phoneVcode {width: 135px;height: 30px;padding: 0 5px;line-height: 30px;border: 1px solid #ddd;border-radius: 3px;float: left;display: block;margin-right: 5px;font-family: "Microsoft YaHei";}
.getVcode {display: block;float: left;width: 100px;height: 34px;padding: 0 5px;line-height: 30px;border: 1px solid #ddd;border-radius: 3px;background: #2887e8;color: #fff;text-align: center;font-family: "Microsoft YaHei";margin-top:-2px;font-size:12px;}
.con_inner {overflow: hidden;margin-top: 10px;}
.btn-area {text-align: center;padding-top:11px;}
.btn-area2 {text-align: center;}
.nextStep {display: block;width: 100%;height: 40px;line-height: 40px;background: #2887e8;border-radius: 3px;border: 1px solid #ddd;color: #fff;text-align: center;font-size: 14px;font-weight: bold;margin-top: 25px;}

/** 错误提示弹出框 */
#errorMaskBG {width: 100%;height: 100%;background: #a8a9ac ;background: url(../images/maskbgIE8.png) repeat \9; /* IE8 */position: absolute;top: 0;opacity: 0.5;}
#errorPopbox {position: fixed;margin: -160px 0 0 -385px;left: 50%;top: 50%;width: 770px;height: auto;z-index: 99999;color: #333;background: #fff;border: 4px solid #767676;border-radius: 5px;font-family: "Microsoft YaHei", simsun, Sans-Serif;}
.closePop {position: absolute;right: 14px;top: 14px;width: 16px;height: 16px;background: url(../images/closePop.png) no-repeat;display: block;}
.errorInnerBox {margin: 36px 26px;border: 1px solid #ddd;}
.inContent {overflow: hidden;height: 160px;background: #fcefe9;border-bottom: 1px solid #ddd;}
.conBox {overflow: hidden;width: 360px;margin: 38px auto 0 auto;}
.conTxt {float: left;font-size: 12px;line-height: 1.7;background: url(../images/no.png) left 3px no-repeat;padding-left: 88px;}
.conTxt h3 {font-size: 18px;margin: 0 0 6px 0}
.otherTxt {height: 77px;line-height: 77px;font-size: 14px;margin-left:266px;}
.otherTxt span {display: inline-block;color: #989898;}
.otherTxt span a {color: #348ad4;}
.otherTxt i {font-style: normal; margin: 0 8px;}
/*** 红色提示框透明遮罩层  ***/
.maskOver{width:100%;height:100%; position: fixed;display:none; top: 0;  left: 0;  z-index: 999;}
.gate-ptcard{width: 990px;margin:0 auto;}
.gate-ptcard a.icon03{background:url(../images/icon6.png) no-repeat left center;height: 30px;margin-top:20px;width: 160px;display:inline-block;}

.bankTip{color: #e44b4b;margin-top: 10px;}
.menu-ul li a{padding-top: 0px;margin-top: 14px;border-left: 1px solid #dddddd;margin-left: -1px;}
.imgSelect{margin-right: 8px;}
.menu-ul>:first-child{border-left: none !important;}
.menu-ul>:first-child a{border-left: none !important;}


