body, html, div, p, a, input, label, span, h3, table, tr, td, header, footer, section, em, i, ul, li, dl, dt, dd, img, textarea { margin: 0; padding: 0; outline: none; border: none; }
body { font-size: 14px; font-family:"microsoft yahei"; color: #333;background: #f1f2f7; padding-bottom: 50px;min-height:1000px;}
a { text-decoration: none; }
ul, li, dl, dt, dd { list-style: none; }
*:not(input,textarea) { -webkit-touch-callout: inherit; -webkit-user-select: auto; }
*:not(input,textarea) { -webkit-touch-callout: inherit; -webkit-user-select: auto; }
::-webkit-input-placeholder { /* WebKit browsers */color: #999; font-family: "microsoft yahei";font-size: 12px;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color: #999; font-family: "microsoft yahei";font-size: 12px; }
::-moz-placeholder { /* Mozilla Firefox 19+ */color: #999; font-family: "microsoft yahei";font-size: 12px; }
:-ms-input-placeholder { /* Internet Explorer 10+ */color: #999; font-family: "microsoft yahei";font-size: 12px;}
.fl { float: left; }
.fr { float: right; }
.clear{clear: both;}
.overh{overflow: hidden;}
.bw{background: #fff;}
.mr10{margin-right: 20px}
.mr30{margin-right: 30px}
.b-r-50{-moz-border-radius: 50%;-ms-border-radius: 50%;-webkit-border-radius: 50%;-o-border-radius:50%;border-radius: 50%;}
.b-r-4{-moz-border-radius: 4px;-ms-border-radius: 4px;-webkit-border-radius: 4px;-o-border-radius:4px;border-radius: 4px;}
.b-r-2{-moz-border-radius: 2px;-ms-border-radius: 2px;-webkit-border-radius: 2px;-o-border-radius:2px;border-radius:2px;}
.boxshadow{-webkit-box-shadow: 0 2px 8px #ccc;-ms-box-shadow: 0 2px 8px #ccc;-moz-box-shadow: 0 2px 8px #ccc;-o-box-shadow: 0 2px 8px #ccc;box-shadow: 0 2px 8px #ccc;}
.hide{display: none;}
.code-tips{overflow: hidden;}
.bg{background: #333;opacity: 0.4;display: none;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);position: fixed;z-index: 99998;width: 100%;height: 100%;top: 0;left: 0;}
.bg_b2c{background: #000;opacity: 0.7;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);position: fixed;z-index: 22;width: 100%;height: 100%;top: 0;left: 0;}
.add-bg{background: #333;opacity: 0.4;display: none;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);position: absolute;z-index: 99998;width: 100%;height: 100%;top: 0;left: 0;}
.w{width: 990px;margin: 0 auto;background: #fff;}
.js-queen{height: 30px;line-height:30px;text-align: center;border-bottom: 1px solid #eee;color: #b11313;background: #f7f7f7;}
.mar-close{width: 10px;height: 10px;cursor: pointer;display: none;}
.ml30{margin-left: 30px;}
.gate-payul li em,.gatemain-ul li em,.quick-left s{background: url(../images/icon.png);}
.clear{clear: both;}
.f-14{font-size: 14px;}
.f-12{font-size: 12px;}
.button{display: block;background: #4e9fe5;color: #fff;text-align: center;cursor: pointer;}
.button:hover{background: #348ad4;}
.hide{display: none;}
select{padding:3px 0;}
.close{background: url(../images/close_03.png) no-repeat center;width: 20px;height: 20px;position: absolute;z-index: 9999;cursor: pointer;}
.ml5{margin-left: 5px;}
.ml85{margin-left: 85px;}
input::-moz-placeholder{color: #999;font-family: "microsoft yahei";font-size: 12px;}
input::-ms-input-placeholder{color: #999;font-family: "microsoft yahei";font-size: 12px;}
input::-webkit-input-placeholder{color: #999;font-family: "microsoft yahei";font-size: 12px;}
input{-o-box-shadow: 0 2px 1px #EEE inset;-ms-box-shadow: 0 2px 1px #EEE inset;-moz-box-shadow: 0 2px 1px #EEE inset;-webkit-box-shadow: 0 2px 1px #EEE inset;box-shadow: 0 2px 1px #EEE inset;}
/** *****/
.bottom{
	border-top:1px solid #CCC;
	text-align:center;
	padding-top: 20px;
	margin-bottom: -20px;
	font-size: 12px;
	color: #666;
	background: #f1f2f7;
	overflow:hidden;width: 990px;margin: 0 auto;margin-top: 40px;}

.bottom p{
	
	margin:10px auto;}

/*.h100{height: 100px;}*/