<%@ page language="java" contentType="text/html; charset=utf-8"
 <div class="nsleft">
    <div name="info_div" id="info_div">
        <div class="msgHead">
            <h2 style=" text-align:center; font-weight:bold;">
                    	欢迎  ${user.account } !
            </h2>
        </div>
        <div class="msgHead">
            <h2>当前时间：<span id="currentTime"></span></h2>
        </div>
        <div class="msgHead">
            <h2>当前余额：￥<span title="点击刷新余额" style="cursor:pointer;" onclick="updateBalance()" id="balance">0</span></h2>
        </div>
        <div onclick="FastMoneyListConfig(this)" style="cursor:pointer;" class="msgHead">
            <h2>快速金额设置</h2>
        </div>
            <div style=" cursor:pointer;" onclick="LoadTMFastBet();" class="msgHead">
                <h2>特码快速下注</h2>
            </div>
        <div style="cursor:pointer;" onclick="MemberLeftTop()" class="msgHead">
            <h2>最新6笔交易</h2>

        </div>
        <div style=" display: none; background-color: #306D48; color:white;" id="MemberLeftTop"></div>

        <div class="msgHead">
            <h2><a target="_blank" href="/ticketData/resultList?tid=2">开奖结果</a> </h2>
        </div>
        <div class="msgHead">
            <h2><a target="_blank" href="/cprule.html">玩法说明</a></h2>
        </div>
    </div>

</div>