@charset "utf-8";.w{font-family:"微软雅黑"}
.s{font-family:"宋体"}
input{outline:0}
button{outline:0}
.o{-moz-transition:.8s;-ms-transition:.8s;-webkit-transition:.8s;opacity:.8}
.t{-moz-transition:.8s;-ms-transition:.8s;-webkit-transition:.8s}
.p{-moz-transition:.8s;-ms-transition:.8s;-webkit-transition:.8s;opacity:1}
.f{-moz-transform:scale(1.02);-ms-transform:scale(1.02);-webkit-transform:scale(1.02);transform:scale(1.02)}button{outline:0}
input{outline:0}
select{outline:0}
input::-webkit-input-placeholder{color:#919191!important}
.q{-moz-transition:.8s;-ms-transition:.8s;-webkit-transition:.8s;opacity:1}
.q:hover{-moz-transition:.8s;-ms-transition:.8s;-webkit-transition:.8s;opacity:.8}
body{background-color:#1b1b1b}
.top{height:135px;width:100%;border-bottom:solid 2px #EFCA62;}
.top .tops{width:1000px;margin:0 auto}
.top .tops .xs{background:url(../images/index_03.png) no-repeat center top;width:312px;height:107px;float:left;margin-left:0;margin-top:15px}
.top .tops .logo{width:296px;height:109px;float:left;margin-left:45px;margin-top:15px}
.top .tops .by{background:url(../images/index_06.png) no-repeat center top;width:278px;height:81px;float:right;margin-top:20px}
.banner_buy{background:#000;float:left;width:100%}
.banner_buy .buy_z{width:960px;margin:0 auto;height:430px}
.banner_buy .buy_tus{float:left;margin-right:50px;margin-top:40px}
.banner_buy .xg{float:left;width:440px;margin-top:70px}
.banner_buy .xg .title{float:left;margin-bottom:15px;margin-left:-5px}
.banner_buy .xg .content{line-height:30px;font-size:24px;color:#fff}
.banner_buy .xg .xt{margin-top:30px}
.c_centet{text-align:center}
.center{width:1000px;margin:0 auto;border:solid 1px #494949;border-top:none;position:relative}
.center .icon_1{ position:absolute; top:-3px; width:220px; height:55px; background:url(../images/icon1.png) no-repeat; left:394px}
.center .nav{width:1000px;margin:0 auto;padding-top:70px;position:relative;left:33px}
.center .nav p{background:url(../images/b1.png) no-repeat center top;font-weight:700;cursor:pointer;font-family:"微软雅黑";margin-left:50px;font-size:18px;text-align:center;line-height:50px;float:left;width:250px;height:65px;-moz-transition:.8s;-ms-transition:.8s;-webkit-transition:.8s;color:#161616}
.center .nav ul li{position:relative;float:left}
.center .nav ul li img{position:absolute;top:17px;right:-43px}
.center .nav li p:hover{background:url(../images/b2.png) no-repeat center top;-moz-transition:.8s;-ms-transition:.8s;-webkit-transition:.8s;color:#ff0000}
.center .nav ul li.cur p{background:url(../images/b2.png) no-repeat center top;color:#ff0000}
.center .c_top{background:url(top.jpg) no-repeat center top;height:75px;margin-top:47px}
.center_zz{width:1000px;margin:0 auto}
.center_zz .c_centet{width:950px;background:#1b1b1b;margin:0 auto;margin-top:47px;border:solid 1px #212021;margin-bottom:30px}
.center_zz .c_centet div{display:none}
.center_zz .c_centet div img{margin-bottom:5px}
.center_zz .c_bottom{background:url(../images/bottom.jpg) repeat-y center bottom;height:32px}
.footer{height:50px;width:100%;float:left;color:#7f7f7f;font-family:"宋体";line-height:41px;text-align:center;margin-top:10px}
.footer{height:65px;background:#1e1e1e;width:100%;float:left;color:#7f7f7f;font-family:"微软雅黑";line-height:65px;text-align:center;border-top:solid 1px #484848;margin-top:35px}