@charset "utf-8";
* { margin: 0; padding: 0; }
img { border: 0; }
a { blr: expression(this.onFocus=this.blur()); outline: none; text-decoration: none; color: #666; }
a:hover { color: #09F; }
body { font-size: 16px; font-family: Helvetica, Arial, sans-serif; background-color: #eeeded; }
input { font-size: 16px; font-family: Helvetica, Arial, sans-serif; }
h3 { font-family: Microsoft Yahei }
li { list-style: none; }
.fx { font-size: 1px; clear: both; height: 1px; width: 100%; overflow: hidden; }
.copyright { text-align: center; padding-top: 10px; clear: both; font-size: 12px; color: #9C9C9C; text-shadow: none; padding-bottom: 70px; }
.inp { position: relative; padding-bottom: 10px; }
.inp label { position: absolute; left: 30px; top: 0px; line-height: 36px; z-index: 1; color: #000; font-size: 14px; }
.inp label.n { position: absolute; left: 10px; top: 0px; line-height: 36px; z-index: 1; color: #000 }
.inp input { text-indent: 85px; }
.inp input.n { text-indent: 80px; }
.inp i { display: inline-block; height: 15px; width: 15px; background-image: url(../images/ico.png); position: absolute; left: 10px; top: 11px; z-index: 1 }
.ico_user { background-position: -167px 0px; }
.ico_pwd { background-position: -285px -23px; }
#zc_img { position: absolute; right: 10px; top: 0px; z-index: 1; width: 45px; height: 20px; display: block; }
.login_logo { text-align: center; padding-top: 15px; margin-top: 40px; }
#login  .link_a, #reg .link_a { font-size: 12px; line-height: 50px; font-weight: normal; color: #2d99ef; text-decoration: none; margin-left: 5px; display: block; }
#login .inp { padding-right: 5px; padding-left: 5px; }
.reg_bt_link { display: block; }
.head { border-bottom: 1px solid #000; background: #d91d37 /*{e-bar-background-color}*/ ; color: #fff /*{e-bar-color}*/ ; font-weight: bold; text-shadow: 0 /*{e-bar-shadow-x}*/ 1px /*{e-bar-shadow-y}*/ 0 /*{e-bar-shadow-radius}*/ 	#000 /*{e-bar-shadow-color}*/ ; position: relative; z-index: 999; position: fixed; top: 0; left: 0; width: 100%; _position: absolute; _top: 0; overflow: visible; box-shadow: 0 0 8px rgba(0, 0, 0, 0.5), 0 0 256px rgba(255, 255, 255, .3); }
.ico { background-image: url(../img/ico-white.png); background-repeat: no-repeat; display: block; height: 26px; width: 26px; }
.ico_home { background-position: 0px -15px; position: absolute; left: 10px; top: 10px; }
.ico_bk { background-position: 0px -15px; position: absolute; left: 10px; top: 10px; }
.ico_home_right { background-position: 0px -15px; position: absolute; right: 10px; top: 10px; }
.ico_info_right { background-position: 0px -875px; position: absolute; right: 10px; top: 10px; }
.ico_bars { background-position: 0px -83px; position: absolute; right: 10px; top: 10px; }
.head h1 { font-size: 16px; font-weight: bold; color: #FFF; text-align: center; line-height: 40px; padding-bottom: 0px; margin-bottom: 0px; }
.login_form { padding-right: 20px; padding-left: 20px; }
input.input_1 { border: 1px solid 		#aaa /*{c-bhover-border}*/ ; -webkit-border-radius: 5px /*{global-radii-buttons}*/ ; border-radius: 5px /*{global-radii-buttons}*/ ; -moz-box-shadow: inset 1px 2px 4px #CCC; -webkit-box-shadow: inset 1px 2px 4px #CCC; box-shadow: inset 1px 2px 4px #CCC; height: 35px; width: 100%; font-size: 14px; }
.bts .bt-a { float: left; width: 50%; }
.bts .bt-b { float: right; width: 50%; text-align: right; }
input.bt { -webkit-appearance: none; font-family: Helvetica, Arial, sans-serif; height: 40px; width: 97.5%; -webkit-border-radius: 5px /*{global-radii-buttons}*/ ; border-radius: 5px /*{global-radii-buttons}*/ ; background: #fa6f1c /*{e-bar-background-color}*/ ; background-color: #ba142b; color: #fff /*{e-bar-color}*/ ; font-weight: bold; text-shadow: 0 /*{e-bar-shadow-x}*/ 1px /*{e-bar-shadow-y}*/ 0 /*{e-bar-shadow-radius}*/ 	#000 /*{e-bar-shadow-color}*/ ; border: none; font-size: 16px; -moz-box-shadow: 3px 3px 3px #CCC; -webkit-box-shadow: 3px 3px 3px #CCC; box-shadow: 3px 3px 3px #CCC; }
input.bt2 { width: 100%; }
input.bt:hover, input.bt2:hover { background: #ba142b /*{e-bar-background-color}*/ ; }
.bts { padding-right: 5px; padding-left: 5px; }
#reg  .inp label { left: 10px; }
#reg { padding: 20px; margin-top: 40px; }
#r_nav { display: none; width: 120px; position: absolute; top: 40px; right: 0px; background-color: #000; border: 1px solid #000; z-index: 99999; -webkit-border-radius: 5px /*{global-radii-buttons}*/ ; border-radius: 5px /*{global-radii-buttons}*/ ; filter: alpha(opacity=85); -moz-opacity: 0.85; -khtml-opacity: 0.85; opacity: 0.85; padding-top: 10px; padding-bottom: 10px; }
#r_nav ul li { font-size: 16px; line-height: 32px; text-indent: 15px; }
.jt span { background-image: url(../images/icons-36-white.png); background-repeat: no-repeat; background-position: -1725px 50%; height: 32px; width: 32px; position: absolute; top: -25px; right: 8px; z-index: 1; }
.jt { position: relative; }
#r_nav ul li a { display: block; color: #FFF; background-image: url(../images/ico-white.png); background-repeat: no-repeat; background-position: 10px -420px; text-indent: 35px; }
#alert_bg { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; -moz-user-select: none; z-index: 1024; background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.7; }
.center { }
.userinfo { font-size: 14px; line-height: 26px; text-indent: 10px; color: #333; }
.userinfo .ico_u { background-image: url(../images/ico-white.png); background-repeat: no-repeat; display: inline-block; text-indent: 18px; background-position: -3px -785px; }
.play_list ul li { float: left; width: 33%; height: 130px; border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; border-right-color: #e0e0e0; border-bottom-color: #e0e0e0; }
.play_list ul li a { background-image: url(../images/ico_logo_ss.png); background-repeat: no-repeat; background-position: center 0px; display: block; height: 30px; padding-top: 100px; text-align: center; font-size: 14px; }
.play_list { border-top-width: 1px; border-top-style: solid; border-top-color: #e0e0e0; margin-top: 5px; background-color: #FFF; }
.play_list ul li .ico_sx { background-position: center -1289px; }
.play_list ul li .ico_ds { background-position: center -1414px; }
.play_list ul li .ico_mg { background-position: center -1545px; }
.play_list ul li .ico_six { background-position: center -130px; }
.play_list ul li .ico_ssc { background-position: center -260px; }
.play_list ul li .ico_pk10 { background-position: center -390px; }
.play_list ul li .ico_pl3 { background-position: center -520px; }
.play_list ul li .ico_klsf { background-position: center -650px; }
.play_list ul li .ico_kl8 { background-position: center -780px; }
.play_list ul li .ico_ssl { background-position: center -910px; }
.play_list ul li .ico_3d { background-position: center -1040px; }
.foot {	/*position:fixed;bottom:0px;width:100%;z-index:999;*/
background-color: #000; z-index: 999; position: fixed; bottom: 0; left: 0; width: 100%; overflow: visible; }
.foot ul li { float: left; width: 24.6%; height: 50px; border-right-width: 1px; border-right-style: solid; border-right-color: #333; }
.foot ul li a { display: block; text-align: center; color: #FFF; padding-top: 30px; font-size: 12px; background-image: url(../images/icos.png); background-repeat: no-repeat; background-position: center -7px; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }
.foot ul li .ico_kj { background-position: center -277px; }
.foot ul li .ico_u { background-position: center -210px; }
.foot ul li .ico_money { background-position: center -403px; }
.foot ul li .ico_kf { background-position: center -343px; }
.banner { margin-top: 40px; }
#r_nav ul li .nav_ico_zh { background-position: 10px -456px; }
#r_nav ul li .nav_ico_ck { background-position: 10px -494px; }
#r_nav ul li .nav_ico_qk { background-position: 10px -532px; }
#r_nav ul li .nav_ico_tz { background-position: 10px -568px; }
#r_nav ul li .nav_ico_bb { background-position: 10px -605px; }
#r_nav ul li .nav_ico_pwd { background-position: 10px -642px; }
#r_nav ul li .nav_ico_out { background-position: 10px -678px; }
.userlogin { height: 45px; }
.foot_a { font-size: 12px; line-height: 40px; text-align: center; background-color: #FFF; margin-top: 10px; margin-bottom: 10px; clear: both; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; border-top-color: #e0e0e0; border-bottom-color: #e0e0e0; }
.userinfo #user_num { text-indent: 20px; display: inline-block; background-image: url(../img/ico-white.png); background-position: 0px -829px; background-repeat: no-repeat; }
#center { margin-top: 40px; }
.kj_list ul li a { display: block; }
.kj_list ul li a .kj_logo { float: left; height: 80px; width: 19%; background-image: url(../images/ico_logo_kj.png); background-repeat: no-repeat; background-position: center -87px; }
.kj_list ul li a .kj_txt { float: right; width: 79%; height: 80px; }
.kj_txt h3 { float: left; line-height: 30px; font-size: 14px; }
.kj_txt .qishu { line-height: 30px; display: block; float: left; margin-left: 10px; font-size: 12px; }
.kj_txt .time { display: block; float: right; line-height: 30px; margin-right: 10px; font-size: 12px; }
.hm { clear: both; }
.kj_txt .hm ul li { height: 28px; width: 28px; float: left; margin-right: 3px; margin-top: 5px; text-align: center; line-height: 28px; color: #FFF; -webkit-border-radius: 14px /*{global-radii-buttons}*/ ; border-radius: 14px; background-color: #6757cb; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; }
.kj_list { padding-top: 10px; border-bottom: 1px solid #e0e0e0; }
.kj_list ul li { height: 80px; width: 100%; border-top: 1px solid #e0e0e0; }
.kj_list .hm ul .jia { width: 15px; background-color: transparent; color: #000; }
.tabs .hm ul .jia { width: 8px; background-color: transparent; color: #000; }
.kj_list ul li { background-color: #FFF; }
.kj_list .kj_logo.ssc { background-position: center -178px; }
.kj_txt .hm ul .red, .tabs .hm ul .red { background-color: #ef5e5e; }
.kj_txt .hm ul .green, .tabs .hm ul .green { background-color: #090; }
.kj_list ul li a .kj_logo.kl10 { background-position: center -453px; }
.kj_list ul li a .kj_logo.pk10 { background-position: center -270px; }
.kj_list ul li a .kj_logo.kl8 { background-position: center -545px; }
.kj_list ul li a .kj_logo.ssl { background-position: center -635px; }
.kj_list ul li a .kj_logo.pl3 { background-position: center -362px; }
.kj_list ul li a .kj_logo.d3 { background-position: center -728px; }
#kl10 ul li { height: 28px; width: 28px; line-height: 28px; -webkit-border-radius: 14px /*{global-radii-buttons}*/ ; border-radius: 14px /*{global-radii-buttons}*/ ; font-size: 14px; }
#pk10 ul li { height: 22px; width: 22px; line-height: 22px; -webkit-border-radius: 11px /*{global-radii-buttons}*/ ; border-radius: 11px /*{global-radii-buttons}*/ ; font-size: 12px; }
#kl8 ul li { height: 22px; width: 22px; line-height: 22px; -webkit-border-radius: 11px /*{global-radii-buttons}*/ ; border-radius: 11px /*{global-radii-buttons}*/ ; font-size: 12px; margin-top: 3px; }
.tabs .title td, .tabs tr th { line-height: 16px; text-align: center; font-weight: bold; background-color: #eee; height: 40px; }
.tabs tr td { font-size: 14px; background-color: #FFF; line-height: 40px; }
.tabs .hm ul li { height: 20px; width: 20px; float: left; margin-right: 3px; margin-top: 0px; text-align: center; line-height: 20px; color: #FFF; -webkit-border-radius: 10px /*{global-radii-buttons}*/ ; border-radius: 10px /*{global-radii-buttons}*/ ; background-color: #6757cb; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; }
.kjls_list { padding-top: 10px; padding-right: 5px; padding-bottom: 10px; padding-left: 5px; background-color: #FFF; }
.tabs { background-color: #e0e0e0; }
.kjls_list h3 { font-size: 14px; line-height: 30px; float: left; width: 50%; background-image: url(../img/ico-white.png); background-repeat: no-repeat; background-position: left -914px; text-indent: 23px; }
.tabs .a1 td { background-color: #dfedff; }
.tabs .a2 td { background-color: #fff; }
.kjls_list .bt-b { float: right; width: 40%; }
.kjls_list .bt-b .bt { line-height: 30px; height: 30px; }
.tabs tr td #kl10 ul li { line-height: 14px; height: 14px; width: 14px; -webkit-border-radius: 3px /*{global-radii-buttons}*/ ; border-radius: 3px /*{global-radii-buttons}*/ ; font-size: 12px; }
.tabs tr td #kl8 ul li { line-height: 14px; height: 14px; width: 14px; -webkit-border-radius: 3px /*{global-radii-buttons}*/ ; border-radius: 3px /*{global-radii-buttons}*/ ; font-size: 12px; }
#center .cp_type { padding-left: 10px; padding-top: 8px; padding-bottom: 3px; }
#center .cp_type ul li a { font-size: 18px; padding-right: 6px; padding-left: 6px; margin-bottom: 5px; display: block; }
#center .cp_type ul li .on { background-color: #D91D37; color: #FFF; -webkit-border-radius: 5px /*{global-radii-buttons}*/ ; border-radius: 5px /*{global-radii-buttons}*/ ; }
#center .cp_type ul li { float: left; padding-right: 10px; line-height: 22px; }
#center .onlytime { padding-left: 10px; font-size: 12px; }
#center .xh_box { padding-top: 8px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; }
.xh_box1 { background-color: #FFF; border: 1px solid #d8d7d7; -webkit-border-radius: 5px /*{global-radii-buttons}*/ ; border-radius: 5px /*{global-radii-buttons}*/ ; }
.xh_box1 .title { line-height: 30px; font-size: 14px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #d8d7d7; padding-left: 10px; padding-right: 10px; }
.xh_box1 .title h3 { float: left; width: 100px; font-size: 14px; }
.xh_box1 .title a { display: block; float: right; height: 20px; width: 20px; line-height: 20px; margin-top: 5px; text-align: center; margin-left: 10px; }
.xh_box1 .title .te { width: 40px; }
.hm_num_box { padding-top: 10px; padding-bottom: 10px; padding-left: 10px; }
.hm_num_box a { line-height: 40px; text-align: center; height: 40px; width: 40px; display: block; float: left; margin-right: 6px; margin-left: 6px; border: 1px solid #d8d7d7; -webkit-border-radius: 20px /*{global-radii-buttons}*/ ; border-radius: 20px /*{global-radii-buttons}*/ ; background-color: #edecec; margin-bottom: 8px; color: #999; font-size: 18px; }
#sm a { line-height: 26px; height: 26px; width: 26px; -webkit-border-radius: 13px /*{global-radii-buttons}*/ ; border-radius: 13px /*{global-radii-buttons}*/ ; font-size: 14px; }
#fang a { line-height: 24px; height: 26px; width: 80px; text-align: left; padding-left: 10px; -webkit-border-radius: 4px /*{global-radii-buttons}*/ ; border-radius: 4px /*{global-radii-buttons}*/ ; font-size: 14px; }
.hm_num_box a.xiao { font-size: 14px; }
.xh_box ul li { margin-bottom: 5px; }
.foot_submit { height: 40px; width: 100%; color: #FFF; background-color: #D91D37; font-size: 18px; line-height: 40px; font-weight: bold; text-align: center; z-index: 999; position: fixed; bottom: 0; left: 0; width: 100%; overflow: visible; }
.foot_submit a { color: #FFF; display: block; }
.hm_num_box .on { color: #FFF; background-color: #D91D37; border: 1px solid #D91D37; }
#open_qihao { color: #F00; }
#jz_time { color: #F00; }
.xh_box1 .title .on { background-color: #D91D37; color: #FFF; -webkit-border-radius: 5px /*{global-radii-buttons}*/ ; border-radius: 5px /*{global-radii-buttons}*/ ; font-size: 12px; }
.tabs tr td .inp1, .tabs tr td .inp1m { text-align: center; width: 80px; height: 30px; }
input.inp1 { text-align: center; width: 80px; height: 30px; border: 1px solid 		#e0e0e0 /*{c-bhover-border}*/ ; -webkit-border-radius: 5px /*{global-radii-buttons}*/ ; border-radius: 5px /*{global-radii-buttons}*/ ; }
input.inp2 { text-align: left; width: 85%; text-indent: 10px; height: 30px; border: 1px solid 		#e0e0e0 /*{c-bhover-border}*/ ; -webkit-border-radius: 5px /*{global-radii-buttons}*/ ; border-radius: 5px /*{global-radii-buttons}*/ ; }
.tz_froms { background-color: #FFF; padding: 5px; border: 0px solid #cacaca; display: none; }
.sub_bt2 { display: none; }
#uid { display: none; }
#tz_info_b tr th, #tz_info_b tr td { text-align: center; }
#tz_info_b { min-width: 400px; }
.xh_num { display: none; }
.hm_num_box.big a { font-size: 14px; }
.hide { display: none; }
.line { font-size: 1px; line-height: 1px; height: 1px; width: 100%; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #d8d7d7; clear: both; margin: 10px 0; }
.xh_box1 #t_s a { margin-left: 5px; }
.jjr { padding: 10px; }
.xh_box1 #lianma a { float: left; width: auto; display: block; padding-left: 10px; padding-right: 10px; }
#center .content { padding: 10px; }
#tabs_c tr th, #tabs_a tr th { text-align: left; text-indent: 10px; }
#tabs_c tr td { text-indent: 10px; height: 50px; line-height: 20px; }
#tabs_a tr td { text-indent: 10px; height: 35px; line-height: 22px; }
.b { background-color: #FFF; }
.nav ul li { float: left; }
.l2 ul li { width: 49.9%; }
.l3 ul li { width: 33.3%; }
.l4 ul li { width: 24.9%; }
.nav ul li a { font-size: 16px; line-height: 40px; font-weight: bold; text-align: center; display: block; border-right-width: 1px; border-right-style: solid; border-right-color: #EEE; }
.nav { border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: #EEE; background-color: #FFF; clear: both; height: 44px; position: relative; }
.nav ul { position: absolute; top: 3px; width: 100%; }
.nav ul .current a { border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: #D91D37; }
.nav ul li .last { border-top-style: none; border-right-style: none; border-left-style: none; }
input.submit_108 { -webkit-appearance: none; font-family: Helvetica, Arial, sans-serif; height: 30px; width: 100px; -webkit-border-radius: 5px /*{global-radii-buttons}*/ ; border-radius: 5px /*{global-radii-buttons}*/ ; background: #fa6f1c /*{e-bar-background-color}*/ ; background-color: #ba142b; color: #fff /*{e-bar-color}*/ ; font-weight: bold; text-shadow: 0 /*{e-bar-shadow-x}*/ 1px /*{e-bar-shadow-y}*/ 0 /*{e-bar-shadow-radius}*/ 	#000 /*{e-bar-shadow-color}*/ ; border: none; font-size: 16px; -moz-box-shadow: 3px 3px 3px #CCC; -webkit-box-shadow: 3px 3px 3px #CCC; box-shadow: 3px 3px 3px #CCC; }
.s_title { line-height: 20px; }
.s_title span { color: #999; display: block; clear: both; }
.s_title a { font-size: 14px; }
.ct { font-size: 14px; line-height: 26px; padding: 15px; }
#tabs_b tr td { line-height: 20px; height: 50px; padding-right: 10px; padding-left: 10px; }
#tabs_d tr td { line-height: 20px; }
.Pagination { font-size: 14px; line-height: 20px; }
.tabs tr .title_l { text-align: left; text-indent: 10px; }
.tabs_scorll { width: 250px; overflow: scroll; }
#center .abount-con { font-size: 14px; line-height: 30px; padding: 10px; }
#center .abount-con p { font-size: 14px; line-height: 30px; }
.mtab-menual li { width: 30%; }
.mtab-menual { background-color: #CCC; }
.mtab-menual li.mtab, .mtab-menual li:hover { background-color: #F00; }
.abount-con table { background-color: #fff; }
#tabs_e tr td { height: 40px; }
.hot-con ul li a { font-size: 18px; line-height: 30px; font-weight: bold; color: #333; display: block; background-image: url(../img/ico-white.png); background-repeat: no-repeat; background-position: 5px -976px; padding-left: 30px; }
.hot-con ul li div { display: none; line-height: 24px; font-size: 14px; padding-top: 10px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; border-top-width: 1px; border-top-style: solid; border-top-color: #e0e0e0; }
.hot-con ul li { padding: 10px; border-bottom: 1px solid #aaa; display: block; }
.hot-con { border: 1px solid #e0e0e0; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: inset 1px 2px 4px #CCC; -webkit-box-shadow: inset 1px 2px 4px #CCC; box-shadow: inset 1px 2px 4px #CCC; margin-right: 10px; margin-left: 10px; background-color: #FFF; }
.hot-title { background-color: #FFF; }
.hot-title h3 { line-height: 40px; font-size: 18px; padding-left: 10px; }
.hot-title { padding-top: 10px; padding-bottom: 10px; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; border-top-color: #e0e0e0; border-bottom-color: #e0e0e0; }
.bt_list { padding: 0px 10px 10px 10px; }
.bt_list ul li { float: left; width: 25%; margin-top: 5px; margin-bottom: 5px; }
a.bt { -webkit-appearance: none; font-family: Helvetica, Arial, sans-serif; height: 30px; width: 95%; -webkit-border-radius: 5px; border-radius: 5px; background: #fa6f1c; background-color: #ba142b; color: #fff;text-shadow: 0 1px 0 #000; border: none; font-size: 14px; -moz-box-shadow: 3px 3px 3px #CCC; -webkit-box-shadow: 3px 3px 3px #CCC; box-shadow: 3px 3px 3px #CCC; display: block; line-height: 30px; text-align: center; }