<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
//所有玩法
var gjhList = [
  {
    name: '冠军',
    oddPlayItems: []
  },
  {
    name: '亚军',
    oddPlayItems: []
  },
  {
    name: '季军',
    oddPlayItems: []
  },
  {
    name: '第四名',
    oddPlayItems: []
  },
  {
    name: '第五名',
    oddPlayItems: []
  },
  {
    name: '第六名',
    oddPlayItems: []
  },
  {
    name: '第七名',
    oddPlayItems: []
  },
  {
    name: '第八名',
    oddPlayItems: []
  },
  {
    name: '第九名',
    oddPlayItems: []
  },
  {
    name: '第十名',
    oddPlayItems: []
  }
]

//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,zdnumber,danhao;
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
	// 判断双面盘的位置，以确认后台数据
	for(let i in rules){
		if(rules[i].name === '单号1-10'){
			rule = rules[i]
		}
	}

	for(let i in rules){
		if(rules[i].name === "单号1-10"){
			danhao  = rules[i].rules;
		}
	}
	for (let i in gjhList){
		// 数字1-10
		for(let j=1;j<11;j++){
			let obj = deepCopy(rule.rules[0].oddPlayItems[0]);
			obj.name = j;
			gjhList[i].oddPlayItems.push(obj);
		}
	}
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in gjhList){
    let yuansu = '<div class="fix selectNormal" style="margin: 15px 0;">'+
    '<span class="buyNumberTitle">'+gjhList[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in gjhList[i].oddPlayItems.slice(0,10)){
      right+='<a data-index="'+i+'-'+l+'">'+gjhList[i].oddPlayItems[l].name+'</a>';
    }
    let all = yuansu + right+ '</div><div class="buyNumberFilter"><a data-index="1-10">全</a><a data-index="1-11">大</a><a data-index="1-12">小</a><a data-index="1-13">奇</a><a data-index="1-14">偶</a><a data-index="1-15">清</a></div></div>';
    $('.sscCheckNumber ul li').append(all)
  }

  // 给玩法添加class,并判断玩法的最小下注个数
	$('.buyNumber a').click(function(){
		$(this).toggleClass('curr')
    let length = 0;
    switch ($('.betFilterAnd .curr').text()) {
      case '单号1-10':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,1).length;
        break;
    }
		$('.detail').text(zdnumber); // 注单数量
		$('.numMoney').text(zdnumber * $('.eachPrice').val())
		
	})
	// 点击全大小奇偶清的事件
	$(".buyNumberFilter a").click(function(){
		var rightcilck = $(this).parent().siblings('.buyNumber').children();
		switch ($(this).text()) {
			case "全":
				$($(this).parent().siblings('.buyNumber').children().removeClass("curr"));
				$(this).parent().siblings('.buyNumber').children().toggleClass("curr");
				break;
			case "大":
				$($(this).parent().siblings('.buyNumber').children().removeClass("curr"));
				rightcilck.slice(5,11).toggleClass("curr");
				break;
			case "小":
				$($(this).parent().siblings('.buyNumber').children().removeClass("curr"));
				rightcilck.slice(0,5).toggleClass("curr");
				break;
			case "奇":
				$($(this).parent().siblings('.buyNumber').children().removeClass("curr"));
				rightcilck.each(function(){
					var num = $(this).html() % 2;
					if(num == 1){
						$(this).addClass('curr');
					}
				})
				break;
			case "偶":
				$($(this).parent().siblings('.buyNumber').children().removeClass("curr"));
				rightcilck.each(function(){
					var num = $(this).html() % 2;
					if(num == 0){
						$(this).addClass('curr');
					}
				})
				break;
			case "清":
				$($(this).parent().siblings('.buyNumber').children().removeClass("curr"));

				break;
			default:
		}
		$(".detail").text($(".sscCheckNumber a.curr").length)
		$('.numMoney').text($(".sscCheckNumber a.curr").length * ($('.eachPrice').val()-0) * 2)
	})
	// 获取游戏说明
  var game_shows
  if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
    $('.window_ .text_shows').html('');
    game_shows = rule.rules[0].detailDesc;
  }
	let html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
var cart = [];
// 添加注单
$('#betBtn').unbind('click')
$('#betBtn').click(function(event){
	// 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0) {
    alert('请选择一注进行投注');
    $('.detail').text('0');
  	$('.eachPrice').val('1');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
    alert('请输入投注金额');
    $('.detail').text('0');
  	$('.eachPrice').val('1');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }
  let haoma = '',winMoney = 0;
  var selectEl = $('.sscCheckNumber .curr');
  let data = [];
  for(let i=0;i<selectEl.length;i++){
    selectEl.eq(i).toggleClass('curr')
    let row = selectEl.eq(i).attr('data-index').split('-')[0]-0;
    let col = selectEl.eq(i).attr('data-index').split('-')[1]-0;
    let obj = gjhList[row].oddPlayItems[col];
    let bol = false;
		// 如果添加的注单重复，则叠加
		for(let i in cart){
			let name = gjhList[row].name==$('.buyNumberTitle').text()? obj.name: gjhList[row].name+'--'+obj.name;
      if(cart[i].name === name){
        bol = true;
				cart[i].money += ($('.eachPrice').val()-0)
        continue;
      }
    }
    !bol? cart.push({
      playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
      money: $('.eachPrice').val() - 0,
      name:gjhList[row].name=='冠军和'? obj.name: gjhList[row].name+'--'+obj.name,
      oddsId: obj.id,
      playCode: obj.playCode,
      max: obj.maxBetAmmount,
      min: obj.minBetAmmount,
      odds:obj.odds,
    }):''
  }
  createDetail();
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
})
function createDetail (){
  $('.checkedList tbody').html('');
	for(let i in cart){
    let html = '<tr>'+
              '<td>'+
                '<i class="order_type">'+
                  '['+cart[i].playsName+']'+cart[i].name+
                  // '<span>...</span>'+
                '</i>'+
                // '<a class="orderDetail">详细</a>'+
              '</td>'+
              '<td>'+ 1 +'注</td>'+
              '<td>'+(cart[i].money)+'元</td>'+
              '<td>'+
                '可中金额'+
                '<i class="orderMoney">'+
                  '<i>'+(cart[i].money*cart[i].odds).toFixed(2)+'元</i>'+
                '</i>'+
              '</td>'+
              '<td><a class="orderCancel" onclick="del(this)"  data-index="'+i+'"  >删除</a></td>'+
            '</tr>'
    $('.checkedList tbody').append(html)
  }
	$('.detail').text('0');
	$('.eachPrice').val('1');
}
// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	$('#layermbox16').removeAttr("style");
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
	for (let i in cart) {
    betting += cart[i].money;
	}
  var content = $(".checkedList tbody").html();
  if (content == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$("span#submitBtn").hide();
		cart = [];
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                // '['+betting.playsName+']'+betting.name+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+betting+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$("span#submitBtn").show();
	}

  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
  }
})
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: cart[i].money,
      name: cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
      $('.detail').text('0');
			$('.eachPrice').val('1')
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('.buyNumber a').removeClass('curr');
			$('._mybetContent .tz_list').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
      $('.detail').text('0');
			$('.eachPrice').val('1')
			$('.buyNumber a').removeClass('curr');
    }
		$('.zdsl').text('0');
		$('.tzje').text('0');
  });
})

// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
// 删除注单
function del(a){
	let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
	var zdshuliang = 0; // 注单数量
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text("¥"+ztzje)
}
</script>
<style media="screen">
  .logo{
    height: 1810px;
  }
  .buyNumber a{
  	font-size: 20px;
    width: 38px;
		height: 38px;
		line-height: 38px;
  }

  .buyNumber{
    width: 520px;
  }
  .betRight .winnerListSlide{
    height: 618px;
  }
  .buyNumberFilter{
    width: 100px;
  }
</style>
