<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->
<script>
//所有玩法
var gjhList = [
  {
    name: '冠军',
    oddPlayItems: []
  },
  {
    name: '亚军',
    oddPlayItems: []
  },
  {
    name: '季军',
    oddPlayItems: []
  }
]
var htmlNew = '您选择了<em class="detail">0</em>注. ';
	htmlNew += '<a class="subtract" id="detailNum">-</a>';
	htmlNew += '<input refinfor="!0" value="1" type="text" class="beiShu">';
	htmlNew += '<a class="subtract" id="addNum">+</a>倍. ';
	htmlNew += '共<em class="numMoney">0</em>元';
$('.betTotalNew').html(htmlNew);
var nums = $('.beiShu').val();
$('#detailNum').click(function(){
	if(nums > 1){
		nums = parseInt(nums) - 1;
	}
	$('.beiShu').val(nums);
	var numMoney = $('.detail').text()*2*nums;
	$('.numMoney').text(numMoney);
})
$('#addNum').click(function(){
	nums = parseInt(nums) + 1;
	$('.beiShu').val(nums);
	var numMoney = $('.detail').text()*2*nums;
	$('.numMoney').text(numMoney);
})
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,zdnumber,danhao;
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
	// 判断双面盘的位置，以确认后台数据
	/* if (rules[0].name === '单号1-10') {
		rule = rules[0];
	}else if (rules[1].name === '单号1-10') {
		rule = rules[1];
	}else if (rules[2].name === '单号1-10') {
		rule = rules[2];
	} */
	for(let i in rules){
		if(rules[i].name === "猜前三"){
			danhao  = rules[i].rules;
			rule = rules[i];
		}
	}
	for (let i in gjhList){
		// 数字1-10
		for(let j=1;j<11;j++){
// 			let obj = deepCopy(rule.rules[0].oddPlayItems[0]);
// 			obj.name = j;
// 			gjhList[i].oddPlayItems.push(obj);
			gjhList[i].oddPlayItems.push(j);
		}
	}
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i=0;i<gjhList.length;i++){
    let yuansu = '<div class="fix selectNormal" style="margin: 15px 0;">'+
    '<span class="buyNumberTitle">'+gjhList[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in gjhList[i].oddPlayItems.slice(0,10)){
      right+='<a data-index="'+i+'-'+((l-0)+1)+'">'+gjhList[i].oddPlayItems[l]+'</a>';
    }
    let all = yuansu + right+ '</div><div class="buyNumberFilter"><a data-index="1-10">全</a><a data-index="1-11">大</a><a data-index="1-12">小</a><a data-index="1-13">奇</a><a data-index="1-14">偶</a><a data-index="1-15">清</a></div></div>';
    $('.sscCheckNumber ul li').append(all)
  }

  // 给玩法添加class,并判断玩法的最小下注个数
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr');
		
		let guanJunNum = [];
		let yaJunNum = [];
		let jiJunNum = [];
		$('.sscCheckNumber .buyNumber a.curr').each(function(i){
			let num = $('.sscCheckNumber .buyNumber a.curr').eq(i).attr('data-index');
			if(num[0] === '0'){
				let n = num.replace('0-', '');
				(n-0)<10? n='0'+n:'';
				guanJunNum.push(n);
			}else if(num[0] === '1'){
				let n = num.replace('1-', '');
				(n-0)<10? n='0'+n:'';
				yaJunNum.push(n);
			}else{
				let n = num.replace('2-', '');
				(n-0)<10? n='0'+n:'';
				jiJunNum.push(n);
			}
			
		})
		
		let len = 0;
        for(let i in guanJunNum){
          for(let n in yaJunNum){
        	  for(let j in jiJunNum){
                  if(guanJunNum[i] !== yaJunNum[n] && yaJunNum[n] !== jiJunNum[j] && guanJunNum[i] !== jiJunNum[j]){
                    len += 1
                  }
              }
          }
        }
		
	    let length = 0;
	    let beishu = $('.beiShu').val()-0;
	    switch ($('.betFilterAnd .curr').text()) {
	      case '前三复式':
	        //zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,1).length;
	//         $('.detail').text(zdnumber);
	        $(".detail").text(len)
	        //var allMoney = $(".sscCheckNumber a.curr").length*2;
			$('.numMoney').text(len * 2 * beishu);
	        break;
	    }
		$('.detail').text(len); // 注单数量
	})
	// 点击全大小奇偶清的事件
	$(".buyNumberFilter a").click(function(){
		var rightcilck = $(this).parent().siblings('.buyNumber').children();
		$(this).siblings().removeClass("curr");
		switch ($(this).text()) {
			case "全":
				$($(this).parent().siblings('.buyNumber').children().removeClass("curr"));
				$(this).parent().siblings('.buyNumber').children().toggleClass("curr");
				break;
			case "大":
				$($(this).parent().siblings('.buyNumber').children().removeClass("curr"));
				rightcilck.slice(5,11).toggleClass("curr");
				break;
			case "小":
				$($(this).parent().siblings('.buyNumber').children().removeClass("curr"));
				rightcilck.slice(0,5).toggleClass("curr");
				break;
			case "奇":
				$($(this).parent().siblings('.buyNumber').children().removeClass("curr"));
				rightcilck.each(function(){
					var num = $(this).html() % 2;
					if(num == 1){
						$(this).addClass('curr');
					}
				})
				break;
			case "偶":
				$($(this).parent().siblings('.buyNumber').children().removeClass("curr"));
				rightcilck.each(function(){
					var num = $(this).html() % 2;
					if(num == 0){
						$(this).addClass('curr');
					}
				})
				break;
			case "清":
				$(this).removeClass("curr");
				$(this).parent().siblings('.buyNumber').children().removeClass("curr");
				break;
			default:
		}
		
		let guanJunNum = [];
		let yaJunNum = [];
		let jiJunNum = [];
		$('.sscCheckNumber .buyNumber a.curr').each(function(i){
			let num = $('.sscCheckNumber .buyNumber a.curr').eq(i).attr('data-index');
			if(num[0] === '0'){
				let n = num.replace('0-', '');
				(n-0)<10? n='0'+n:'';
				guanJunNum.push(n);
			}else if(num[0] === '1'){
				let n = num.replace('1-', '');
				(n-0)<10? n='0'+n:'';
				yaJunNum.push(n);
			}else{
				let n = num.replace('2-', '');
				(n-0)<10? n='0'+n:'';
				jiJunNum.push(n);
			}
			
		})
		
		let len = 0;
        for(let i in guanJunNum){
          for(let n in yaJunNum){
        	  for(let j in jiJunNum){
                  if(guanJunNum[i] !== yaJunNum[n] && yaJunNum[n] !== jiJunNum[j] && guanJunNum[i] !== jiJunNum[j]){
                    len += 1
                  }
              }
          }
        }
		
		$(".detail").text(len)
		$('.numMoney').text(len * ($('.beiShu').val()-0) * 2);
	})
	// 获取游戏说明
  var game_shows
  if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
    $('.window_ .text_shows').html('');
    game_shows = rule.rules[0].detailDesc;
  }
	let html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
var cart = [];
var haomas = '';
// 添加注单
$('#betBtn').unbind('click')
$('#betBtn').click(function(event){
	haomas = '';
	//获取选中号码
	$(".sscCheckNumber a.curr").each(function(){
		var ns = $(this).text();
		if(ns.length == '1'){
			ns = '0'+ns;
		}
		haomas += ns;
	});
	// 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0) {
    alert('请选择一注进行投注');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }/* else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
    alert('请输入投注金额');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  } */
  let haoma = '',winMoney = 0;
	let guanJunNum = [];
	let yaJunNum = [];
	let jiJunNum = [];
	$('.sscCheckNumber .buyNumber a.curr').each(function(i){
		let num = $('.sscCheckNumber .buyNumber a.curr').eq(i).attr('data-index');
		if(num[0] === '0'){
			let n = num.replace('0-', '');
			(n-0)<10? n='0'+n:'';
			guanJunNum.push(n);
		}else if(num[0] === '1'){
			let n = num.replace('1-', '');
			(n-0)<10? n='0'+n:'';
			yaJunNum.push(n);
		}else{
			let n = num.replace('2-', '');
			(n-0)<10? n='0'+n:'';
			jiJunNum.push(n);
		}
	})
	
	let len = 0;
    for(let i in guanJunNum){
      for(let n in yaJunNum){
    	  for(let j in jiJunNum){
              if(guanJunNum[i] !== yaJunNum[n] && yaJunNum[n] !== jiJunNum[j] && guanJunNum[i] !== jiJunNum[j]){
                len += 1
              }
          }
      }
    }
	if(len === 0){
		alert('每个号码必须是2位数，且用半角［,］隔开，每组2个号码不能重复，如：01,02，03');
		return
	}
	let name = guanJunNum.join('') + ',' + yaJunNum.join('') + ','+ jiJunNum.join('')
  var selectEl = $('.sscCheckNumber .selectNormal:first .curr');
  /* 获取数据 */
   let data = [];
   cart.push({
     playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
     money: $('.numMoney').text()-0,
     name: name,
     beishu: $('.beiShu').val()-0,
     odds:danhao[0].minBonusOdds,
   })
   	$('.sscCheckNumber .buyNumber a.curr').toggleClass('curr');
	$('.buyNumberFilter a.curr').toggleClass('curr');
   
  createDetail();
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
});

function createDetail (){
	getToKen()
	 $('.checkedList tbody').append('')
  $('.checkedList tbody').html('');
 	for(let i in cart){
	    let html = '<tr>'+
	              '<td>'+
	                '<i class="order_type">'+
	                  '['+cart[i].playsName+']'+cart[i].name+
	                  // '<span>...</span>'+
	                '</i>'+
	                // '<a class="orderDetail">详细</a>'+
	              '</td>'+
	              '<td>'+(cart[i].money / 2)+'注</td>'+
	              '<td>'+(cart[i].money)+'元</td>'+
	              '<td>'+
	                '可中金额'+
	                '<i class="orderMoney">'+
	                  '<i>'+(nums*cart[i].odds).toFixed(2)+'元</i>'+
	                '</i>'+
	              '</td>'+
	              '<td><a class="orderCancel" onclick="del(this)"  data-index=""  >删除</a></td>'+
	            '</tr>'
	    $('.checkedList tbody').append(html)
    }
  	$('.detail').text('0');
	$('.numMoney').text('0');
	$('.beiShu').val('1');
	nums = 1;
}
// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	$('#layermbox16').removeAttr("style");
	$('.beiShu').val('1');
	$('.numMoney').text('0');
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
	for (let i in cart) {
    	betting += cart[i].money;
	}
  var content = $(".checkedList tbody").html();
  if (content == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$("span#submitBtn").hide();
		cart = [];
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                // '['+betting.playsName+']'+betting.name+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+betting+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$("span#submitBtn").show();
	}

  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
  }
})
//获取token
var thisToken = '';
var getToKen = function(){
	$.post('/native/bet_token.do',function(data){
		thisToken = data.content;
	})
}
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
	let formData = {
	    data:{
	    	token: thisToken,
	     	qiHao: $('.qishu').text(),
	     	lotCode: lotCode,
	     	bets: []
	    }
  	}
	for(let i in cart){
	  bet = lotCode+'|'+danhao[0].code+'|1|'+ (cart[i].beishu) +'|'+cart[i].name;
	  formData.data.bets.push(bet)
	}
	 data = JSON.stringify(formData.data);
	 formData.data = data;
	 console.log(data)
	 $.post('/native/doBets.do',formData,function(result){
	    if (result.success == true) {
	    	cart = [];
				$('.checkedList tbody').html('')
				$('#layermbox16').attr('style','display:none;')
	     		$('.detail').text('0');
				$('.eachPrice').val('')
				$('#layermbox17').stop().slideDown(2400).fadeOut(700);
				$('.buyNumber a').removeClass('curr');
				$('._mybetContent .tz_list').html('');
				Latest_openLottery(true);
	    }else if (result.success == false) {
				alert(result.msg);
				cart = [];
				$('#layermbox16').attr('style','display:none;');
				$('.checkedList tbody').html('')
	      $('.detail').text('0');
				$('.eachPrice').val('')
				$('.buyNumber a').removeClass('curr');
	    }
		$('.zdsl').text('0');
		$('.tzje').text('0');
	 });

})

// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
// 删除注单
function del(a){
	let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
	var zdshuliang = 0; // 注单数量
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text("¥"+ztzje)
}
</script>
<style media="screen">
  .logo{
    height: 1810px;
  }
  .buyNumber a{
  	font-size: 20px;
    width: 38px;
		height: 38px;
		line-height: 38px;
  }

  .buyNumber{
    width: 520px;
  }
  .betRight .winnerListSlide{
    height: 618px;
  }
  .buyNumberFilter{
    width: 100px;
  }
</style>
