<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
//所有玩法
var gjhList = [
  {
    name: '冠亚和',
    oddPlayItems: []
  },
  {
    name: '冠军',
    oddPlayItems: []
  },
  {
    name: '亚军',
    oddPlayItems: []
  },
  {
    name: '季军',
    oddPlayItems: []
  },
  {
    name: '第四名',
    oddPlayItems: []
  },
  {
    name: '第五名',
    oddPlayItems: []
  },
  {
    name: '第六名',
    oddPlayItems: []
  },
  {
    name: '第七名',
    oddPlayItems: []
  },
  {
    name: '第八名',
    oddPlayItems: []
  },
  {
    name: '第九名',
    oddPlayItems: []
  },
  {
    name: '第十名',
    oddPlayItems: []
  }
]

//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,zdnumber;
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
	for(let i in rules){
		if(rules[i].name === '双面盘'){
			rule = rules[i]
		}
	}


  // 大小单双龙虎
  for(let i in gjhList){
    if (i == 0) {
      // 冠军总和
      //console.log(rule.rules[0].oddPlayItems)
      gjhList[0].oddPlayItems = rule.rules[0].oddPlayItems.slice(0,4);
    }else if (i >= 1 && i < 6) {
      gjhList[i].oddPlayItems = rule.rules[0].oddPlayItems.slice(4,10);
    }else if (i>=6) {
    	gjhList[i].oddPlayItems = rule.rules[0].oddPlayItems.slice(4,8);
    }
  }
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in gjhList){
    let yuansu = '<div class="fix selectNormal" style="margin: 15px 0;">'+
    '<span class="buyNumberTitle">'+gjhList[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in gjhList[i].oddPlayItems.slice(0,6)){
      if (i == 0) {
        right+='<a data-index="'+i+'-'+l+'">'+gjhList[0].oddPlayItems[l].name+'<p class="plsize">赔:'+gjhList[0].oddPlayItems[l].odds+'</p></a>';
      }else {
        right+='<a data-index="'+i+'-'+l+'">'+gjhList[i].oddPlayItems[l].name+'<p class="plsize">赔:'+gjhList[i].oddPlayItems[l].odds+'</p></a>';
      }
    }
    let all = yuansu + right+ '</div></div>';
    $('.sscCheckNumber ul li').append(all)
  }
  // 给玩法添加class,并判断玩法的最小下注个数
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr')
    let length = 0;
	    switch ($('.betFilterAnd .curr').text()) {
	      case '前一复式':
	        zdnumber = $('.sscCheckNumber .curr').length;
	        break;
			default:
                zdnumber = $('.sscCheckNumber .curr').length;
                break
	    }
		$('.detail').text(zdnumber); // 注单数量
		$('.numMoney').text($('.eachPrice').val()-0)
	})
	// 获取游戏说明
  var game_shows
  if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
    $('.window_ .text_shows').html('');
    game_shows = rule.rules[0].detailDesc;
  }
	let html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
var cart = [];
// 添加注单
$('#betBtn').unbind('click')
$('#betBtn').click(function(event){
	// 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0) {
    alert('请选择一注进行投注');
    $('.detail').text('0');
  	$('.eachPrice').val('1');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
    alert('请输入投注金额');
    $('.detail').text('0');
  	$('.eachPrice').val('1');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }
  let haoma = '',winMoney = 0;
  var selectEl = $('.sscCheckNumber .curr');
  let data = [];
  for(let i=0;i<selectEl.length;i++){
    selectEl.eq(i).toggleClass('curr')
    let row = selectEl.eq(i).attr('data-index').split('-')[0]-0;
    let col = selectEl.eq(i).attr('data-index').split('-')[1]-0;
    let obj = gjhList[row].oddPlayItems[col];
    let bol = false;
		// 如果添加的注单重复，则叠加
		for(let i in cart){
			let name = gjhList[row].name==$('.buyNumberTitle').text()? obj.name: gjhList[row].name+'--'+obj.name;
      if(cart[i].name === name){
        bol = true;
				cart[i].money += ($('.eachPrice').val()-0);
        continue;
      }
    }
    !bol? cart.push({
      playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
      money: $('.eachPrice').val() - 0,
      name:gjhList[row].name =='冠亚和'? obj.name : gjhList[row].name+'--'+obj.name,
      oddsId: obj.id,
      playCode: obj.playCode,
      max: obj.maxBetAmmount,
      min: obj.minBetAmmount,
      odds:obj.odds,
    }):''
  }
  createDetail();
	// console.log(cart);
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	// console.log(cart);
	zdshuliang += cart.length;
	// console.log(zdshuliang);
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
})
function createDetail (){
  $('.checkedList tbody').html('');
	for(let i in cart){
    let html = '<tr>'+
              '<td>'+
                '<i class="order_type">'+
                  '['+cart[i].playsName+']'+cart[i].name+
                  // '<span>...</span>'+
                '</i>'+
                // '<a class="orderDetail">详细</a>'+
              '</td>'+
              '<td>'+ 1 +'注</td>'+
              '<td>'+(cart[i].money)+'元</td>'+
              '<td>'+
                '可中金额'+
                '<i class="orderMoney">'+
                  '<i>'+(cart[i].money*cart[i].odds).toFixed(2)+'元</i>'+
                '</i>'+
              '</td>'+
              '<td><a class="orderCancel" onclick="del(this)"  data-index="'+i+'"  >删除</a></td>'+
            '</tr>'
    $('.checkedList tbody').append(html)
  }
	$('.detail').text('0');
	$('.eachPrice').val('1');
	$('.numMoney').text('0')
}
// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	$('#layermbox16').removeAttr("style");
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
	for (let i in cart) {
    betting += cart[i].money;
	}
  var content = $(".checkedList tbody").html();
  if (content == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$("span#submitBtn").hide();
		cart = [];
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                // '['+betting.playsName+']'+betting.name+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+betting+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$("span#submitBtn").show();
	}

  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
    // $('._submitPlansMoney').append((betting.note_number))
  }
})
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  // console.log(rule);
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: cart[i].money,
      name: cart[i].name == '冠军和--和双'?cart[i].name.replace('冠军和--',''):cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  // formData.data = JSON.stringify(data);
  formData.data = JSON.stringify(data);
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
      $('.detail').text('0');
			$('.eachPrice').val('1')
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('.buyNumber a').removeClass('curr');
			$('._mybetContent .tz_list').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
      $('.detail').text('0');
			$('.eachPrice').val('1')
			$('.buyNumber a').removeClass('curr');
    }
		$('.zdsl').text('0');
		$('.tzje').text('0');
  });
})
// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
// 删除注单
function del(a){
	let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
	var zdshuliang = 0; // 注单数量
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text("¥"+ztzje)
}
</script>
<style media="screen">
  .logo{
    height: 1810px;
  }
	.buyNumber a {
    width: 88px;
    height: 40px;
    border-radius: 5px;
		float: left;
	}
  .buyNumber a, .buyNumber ins{
    font-size: 25px;
  }
  .buyNumber{
    width: 600px;
  }
  .betRight .winnerListSlide{
    height: 597px;
  }
  .buyNumberFilter{
    width: 58px;
    float: left;
  }
	.selectNormal .buyNumber .plsize {
    font-size: 15px;
    font-family: cursive;
    color: #313131;
    width: 68px;
    margin: 3px 0px 0 7px;
		font: 14px/1.4 Microsoft YaHei,PingFang SC,Helvetica,Helvetica Neue,Tahoma,Arial,sans-serif;
	}

</style>
