.header-plus {
    background: #fff none repeat scroll 0 0;
    color: #666;
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 10;
}
.header-plus a.color333 {
    color: #333;
}
.header-plus a.color333:hover {
    color: #f13131;
    text-decoration: none;
}
.header-plus a.color666 {
    color: #666;
}
.header-plus a.color666:hover {
    color: #f13131;
    text-decoration: none;
}
.header-plus a.colorRed {
    color: #f13131;
}
.header-plus .red {
    color: #f13131;
}
.header-plus a.colorRed:hover {
    text-decoration: underline;
}
.header-toptray-plus {
    background: #ededed none repeat scroll 0 0;
    color: #666;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.toptray-right li {
    float: left;
}
.header-toptray-plus li.m14 {
    color: #d0d0d0;
    display: inline;
}
.toptray-plus {
}
.header-plus #toptray_not_login {
    float: right;
}
.header-plus .head-toptray-logo {
    position: relative;
}
.header-plus .logo-box h1 {
    height: 0;
    overflow: hidden;
    text-indent: -100%;
    white-space: nowrap;
    width: 0;
}
.header-plus .logo-box .logo-index-hd {
    margin: 15px 8px 15px 0;
}
.header-plus #wallet_container {
    float: left;
    margin-right: 5px;
    position: relative;
}
.header-plus .img-login-refresh {
    background-position: -30px -60px;
    height: 11px;
    margin: 0 6px;
    overflow: hidden;
    vertical-align: middle;
    width: 11px;
    cursor: pointer;
}
.header-plus .img-login-refresh:hover {
    background-position: -30px -60px;
}
.header-plus .pay-lock-grey {
    background-position: -20px 0;
    margin: 6px 0 0;
}
.header-plus .customerService-plus {
    bottom: 0;
    height: 26px;
    position: absolute;
    right: 0;
}
.header-plus .customerService-plus li {
    color: #666;
    float: left;
    font: 14px/26px "Microsoft Yahei";
    padding: 0;
}
.header-plus .customerService-plus li.online_service {
    color: #f13131;
    float: left;
    font: 14px/26px "Microsoft Yahei";
    padding: 0;
}
.header-plus .customerService-plus li.online_service .kf-top {
    border-right: 1px solid #f13131;
    display: inline-block;
    height: 12px;
    line-height: 10px;
    margin-right: 5px;
    padding-right: 5px;
}
.header-plus .customerService-plus i {
    background-position: -120px -60px;
    height: 14px;
    margin-right: 4px;
    margin-top: -4px;
    vertical-align: middle;
    width: 18px;
}
.header-plus .customerService-plus a:link, .customerService-plus a:active {
    color: #f13131;
    text-decoration: none;
}
.header-plus .customerService-plus a:hover {
    text-decoration: underline;
}
.my-lottery {
    display: inline-block;
    line-height: 30px;
    width: 80px;
}
.header-plus .mylottery {
    height: 30px;
    line-height: 30px;
    padding: 0;
}
.header-plus #toptray_not_login .my-lottery {
}
.header-plus #mylottery .my-lottery {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 8px 0 6px;
    width: 78px;
}
.header-plus #toptray_not_login .my-lottery em {
    background-position: -60px -60px;
    height: 6px;
    margin-left: 5px;
    overflow: hidden;
    vertical-align: middle;
    width: 11px;
}
.header-plus #toptray_not_login .my-lottery:hover em {
    transform: rotate(0deg);
}
.header-plus #mylottery .my-lottery em {
    background-position: -60px -60px;
    height: 6px;
    margin-left: 5px;
    overflow: hidden;
    transition: transform 0.2s ease-in 0s;
    vertical-align: middle;
    width: 11px;
}
.header-plus #unread_count_num {
}
.header-plus .header-show-money {
}
.header-plus #toptray_login {
}
.header-plus #mylottery {
    position: relative;
}
.header-plus .mylottery-on {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #ccc;
    border-image: none;
    border-style: none solid;
    border-width: 0 1px;
    width: 90px;
}
.header-plus .mylottery-on .my-lottery {
    padding-left: 5px;
}
.header-plus .mylottery-on .my-lottery em {
    transform: rotate(180deg);
}
.header-plus .mylottery .lot_list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #ccc #ccc;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    height: 130px;
    left: -1px;
    line-height: 22px;
    padding: 2px;
    position: absolute;
    top: 23px;
    width: 86px;
    z-index: 9999;
}
.header-plus .mylottery .lot_list li {
    padding-left: 12px;
    white-space: nowrap;
}
.header-plus .mylottery .lot_list li a {
    color: #666;
}
.header-plus .mylottery .lot_list li a:hover {
    color: #f13131;
    text-decoration: none;
}
.header-plus #wallet_detail {
    z-index: 99999;
}
.header-plus .header_sign {
    background: rgba(0, 0, 0, 0) url("../images/sign.gif") no-repeat scroll 0 0;
    display: inline-block;
    height: 10px;
    margin: 0 2px -1px 0;
    width: 7px;
}
.header-plus .nosign {
    display: inline-block;
    height: 10px;
    margin: 0 2px -1px 0;
    width: 7px;
}
#header_plus #unread_num_new {
    background-position: -90px -60px;
    height: 11px;
    overflow: hidden;
    vertical-align: middle;
    width: 13px;
}
#wallet_detail {
    background-color: #fefdc2;
    border: 2px solid #e0e0e0;
    left: 0;
    line-height: 20px;
    padding: 8px;
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 160px;
    z-index: 10;
}
#wallet_detail p {
    display: block;
    width: 100%;
}
#wallet_detail a.account_detail {
    float: right;
}
#wallet_detail p {
}
.header .header_logo .logo img, .logo-box img, #header_box img {
}
.header-navbar-plus {
    background: #f13131 none repeat scroll 0 0;
    font-family: "Microsoft Yahei";
    height: 46px;
    line-height: 46px;
    width: 100%;
}
.header-navbar-plus .auto990 {
    background: #f13131 none repeat scroll 0 0;
}
.jc-footer {
    background: #f3f3f3 none repeat scroll 0 0;
    height: 270px;
    width: 100%;
}
.footer-cn {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 32px;
    width: 990px;
}
.cnLeft {
    float: left;
    width: 288px;
}
.cnLeft h4 {
    color: #666;
    font-family: "微软雅黑","Microsoft Yahei";
    font-size: 16px;
}
.footer-code {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: 108px;
    margin: 18px 0 30px;
    width: 108px;
}
.cnLeft .code-icon {
    background-position: -130px 0;
    height: 90px;
    margin: 9px;
    width: 90px;
}
.cnLeft p {
    color: #666;
    font-size: 12px;
    margin-bottom: 10px;
}
.send {
    height: 24px;
    position: relative;
    width: 194px;
}
.send .jc-put {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #cdcdcd -moz-use-text-color #cdcdcd #cdcdcd;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #9a9a9a;
    float: left;
    height: 14px;
    outline: 0 none;
    padding: 4px 12px 4px 6px;
}
.send .jc-btn {
    background: #fe9825 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 67px;
}
.cnRight {
    overflow: hidden;
    width: 702px;
}
.cnRight .cnTop {
    overflow: hidden;
}
.cnRight .cnTop .cn-list {
    float: left;
    overflow: hidden;
    width: 142px;
}
.cnRight .cnTop .cn-list h3 {
    color: #666;
    font-family: "微软雅黑","Microsoft Yahei";
    font-size: 16px;
    margin-bottom: 15px;
}
.cnRight .cnTop .cn-list ul {
    overflow: hidden;
}
.cnRight .cnTop .cn-list ul li {
    height: 26px;
    line-height: 26px;
}
.cnRight .cnTop .cn-list ul li a {
    color: #666;
}
.cnRight .cnTop .service {
    float: right;
    width: 215px;
}
.cnRight .cnTop .service ul li a {
    color: #f13131;
    margin-right: 6px;
}
.cnBtn {
    margin-top: 28px;
    overflow: hidden;
    width: 702px;
}
.cnBtn p {
    color: #666;
    float: left;
    font-family: "微软雅黑","Microsoft Yahei";
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    width: 166px;
}
.cnBtn p span {
    float: left;
    height: 40px;
    margin-right: 5px;
    width: 40px;
}
.cnBtn p span.explain01 {
    background-position: 0 -250px;
}
.cnBtn p span.explain02 {
    background-position: -50px -250px;
}
.cnBtn p span.explain03 {
    background-position: -100px -250px;
}
.cnBtn p span.explain04 {
    background-position: -150px -250px;
}
.cnBtn p span.explain05 {
    background-position: -200px -250px;
}
.jc-footer .footerBox {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border-top: 0 none;
    margin-top: 10px;
    width: 100%;
}
.jc-footer .foot_box .about_box {
    border: 0 none;
    margin-top: 0;
}
.jc-footer .about_box {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 30px;
    text-align: center;
    width: 865px;
}
.jc-footer .about_box .about_link {
    color: #666;
    line-height: 30px;
}
.jc-footer .about_box .about_link a {
    color: #666;
    margin: 0 10px;
}
.jc-footer .about_box .about_mt {
    color: #666;
    height: 20px;
    line-height: 20px;
    padding: 3px 0;
}
.jc-footer .about_box .about_mt a {
    color: #666;
}
.jc-footer .about_box .remind {
    color: #999;
}
.jc-footer .about_box .about_img {
    margin-top: 10px;
}
.jc-footer .about_box .about_img a {
    background: rgba(0, 0, 0, 0) url("../images/index_about.gif") repeat scroll 0 0;
    display: inline-block;
    height: 41px;
    margin-right: 10px;
    width: 100px;
}
.jc-footer .about_box .about_img a.a-police {
    background-position: 0 0;
}
.jc-footer .about_box .about_img a.a-beian {
    background-position: 0 -50px;
}
.jc-footer .about_box .about_img a.a-kexin {
    background-position: 0 -100px;
}
.jc-footer .about_box .about_img a.a-baidu {
    background-position: 0 -150px;
}
.jc-footer .about_box .about_img a.a-baifubao {
    background-position: 0 -200px;
}
.jc-footer .about_box li {
    float: left;
    line-height: 30px;
    margin-right: 12px;
}
.jc-footer .about_box li a {
    color: #666;
}
.jc-footer .about_box a:hover {
    color: #f13131;
    text-decoration: none;
}
.float-btn {
    bottom: 300px;
    height: 100px;
    position: absolute;
    width: 46px;
    z-index: 10;
}
.float-btn .feedback {
    background-position: -350px -300px;
    height: 46px;
    width: 46px;
}
.float-btn .feedback:hover {
    background-position: -350px -350px;
}
#addbaiduindex {
    display: none;
    line-height: 20px;
    margin-right: 10px;
    padding: 6px 0;
}
#addbaiduindex i {
    background: rgba(0, 0, 0, 0) url("../images/addbaiduicon.png") repeat scroll 0 0;
    display: inline-block;
    font-size: 1px;
    height: 20px;
    line-height: 1px;
    vertical-align: top;
    width: 20px;
}
#addbaiduindex a:hover i {
    background-position: -20px 0;
}
.fl_box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #7b0c26;
    height: 330px;
    overflow: hidden;
    width: 600px;
}
.fl_box .fl_top {
    background: rgba(0, 0, 0, 0) url("../images/fl_title_bg.gif") repeat-x scroll 0 0;
    height: 36px;
}
.fl_top .fl_title {
    background: rgba(0, 0, 0, 0) url("../images/fl_icon.gif") no-repeat scroll 0 -215px;
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    margin-left: 10px;
    padding-left: 25px;
}
.fl_top .fl_close {
    background: rgba(0, 0, 0, 0) url("../images/fl_icon.gif") no-repeat scroll 0 -53px;
    cursor: pointer;
    float: right;
    height: 19px;
    margin-right: 10px;
    width: 52px;
}
.fl_main .fl_left {
    float: left;
    width: 285px;
}
.fl_left .reg_box {
    border-right: 1px solid #e6e6e6;
    margin-top: 25px;
}
.reg_box h1 {
    color: #e60012;
    font-size: 14px;
    font-weight: bold;
    margin-left: 40px;
}
.reg_box ul {
    margin-left: 25px;
}
.reg_box li.r1, .reg_box li.r2, .reg_box li.r3 {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
}
.reg_box li.r1 {
    background: rgba(0, 0, 0, 0) url("../images/fl_icon.gif") no-repeat scroll 0 -160px;
    padding-left: 60px;
}
.reg_box li.r2 {
    background: rgba(0, 0, 0, 0) url("../images/fl_icon.gif") no-repeat scroll 10px -97px;
    padding-left: 60px;
}
.reg_box li.r3 {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-left: 30px;
}
.fl_left a.reg_b {
    background: rgba(0, 0, 0, 0) url("../images/fl_icon.gif") no-repeat scroll -160px 0;
    display: block;
    height: 40px;
    margin-bottom: 20px;
    width: 151px;
}
.fl_left a.reg_b:hover {
    text-decoration: none;
}
.fl_reg_box {
    background: transparent url("../images/float_register_bg.gif") no-repeat scroll 0 0;
    height: 330px;
    width: 455px;
}
.fl_reg_box .fl_reg_title {
    height: 62px;
    line-height: 62px;
    position: relative;
}
.fl_reg_box .fl_reg_title .fl_reg_close {
    cursor: pointer;
    height: 11px;
    position: absolute;
    right: 12px;
    top: 11px;
    width: 12px;
}
.fl_reg_box .fl_reg_table tr {
    height: 53px;
}
.fl_reg_box .fl_reg_table tr td {
    vertical-align: top;
}
.fl_reg_box .fl_reg_table tr td.t {
    font-size: 14px;
    text-align: right;
    width: 100px;
}
.fl_reg_box .fl_reg_table tr td .text {
    font-size: 14px;
    height: 24px;
    width: 200px;
}
.fl_reg_box .fl_reg_table tr td .imgcode {
    width: 80px;
}
.fl_reg_box .fl_reg_table tr td .error {
    color: #f96f06;
}
.fl_reg_box .float_register_submit {
    background: transparent url("../images/float_register_submit.gif") no-repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    height: 37px;
    width: 121px;
}
.fl_reg_box #float_register_login {
    height: 30px;
    line-height: 20px;
    margin-left: 15px;
}
.fl-reg-list {
    height: 63px;
    position: relative;
    width: 260px;
}
.fl-reg-desc {
    height: 16px;
    line-height: 16px;
    position: relative;
}
.fl-reg-desc-l {
    color: #666;
    font-weight: bold;
}
.fl-reg-desc-r {
    color: #999;
    margin-right: 1px;
    position: absolute;
    right: 0;
}
.fl-reg-in {
    height: 25px;
    line-height: 25px;
    margin-top: 2px;
    position: relative;
}
.fl-reg-in #float_register_captcha_span {
    display: inline-block;
}
.fl-reg-input {
    border: 1px solid #ccc;
    height: 25px;
    line-height: 25px;
    padding-left: 30px;
    width: 218px;
}
.fl-reg-input:hover {
    border: 1px solid #fc4343;
}
.fl-reg-input:focus {
    border: 1px solid #fc4343;
    outline-color: #fc4343;
}
.fl-reg-passwd-strength span {
    background: #ff7c7c none repeat scroll 0 0;
    color: #fff;
    margin-left: 1px;
    padding: 0 4px;
}
.fl-reg-passwd-strength .onsel {
    background: #f00 none repeat scroll 0 0;
}
.fl-reg-state {
    background: rgba(0, 0, 0, 0) url("../images/reg_icon.png") no-repeat scroll 0 0;
    display: none;
    height: 20px;
    position: absolute;
    right: -20px;
    top: 0;
    width: 20px;
}
.fl-reg-del {
    background-position: 0 -195px;
}
.fl-reg-ok {
    background-position: 0 -229px;
}
.fl-small-tip-icon {
    background: rgba(0, 0, 0, 0) url("../images/reg_icon.png") repeat scroll 0 0;
    display: block;
    height: 23px;
    left: 1px;
    position: absolute;
    top: 7px;
    width: 30px;
}
.fl-reg-name-tip-icon {
    background-position: 0 -352px !important;
}
.fl-reg-pwd-tip-icon {
    background-position: 0 -287px !important;
}
.fl-reg-verify-tip-icon {
    background-position: 0 -317px !important;
}
.fl-reg-account-tip-icon{
	background-position: 0 -260px !important;
}
.fl-reg-verify {
    width: 100px;
}
.fl-reg-submit {
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    letter-spacing: 5px;
    line-height: 30px;
    width: 100%;
}
.fl-reg-readme {
    color: #666;
}
.reg-refresh-verify-code {
    background: rgba(0, 0, 0, 0) url("../images/bg.gif") no-repeat scroll -341px -317px;
    display: inline-block;
    height: 30px;
    left: 80px;
    position: absolute;
    top: -4px;
    width: 32px;
}
.fl_reg_box2 .fl_reg_title .fl_reg_close {
    color: #afafaf;
    cursor: pointer;
    font-weight: bold;
    padding: 0 5px;
    position: absolute;
    right: 6px;
    top: 0;
}
.fl-reg-showinfo {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #fd8585 #fd8585;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    display: none;
    left: 0;
    position: absolute;
    text-indent: 10px;
    top: 45px;
    width: 248px;
}
.fl-reg-input-tip {
    background: #ffc3c3 none repeat scroll 0 0;
    color: #666;
}
.fl-reg-input-error {
    background: #ffc9d1 none repeat scroll 0 0;
    border: 1px solid #e51937;
    color: #e51937;
}
.reg-btn-switch {
    background: #f13833 none repeat scroll 0 0;
    cursor: pointer;
}
.reg-btn-switch:hover {
    background: #e72e29 none repeat scroll 0 0;
}
.reg-btn-switch:active {
    background: #e50000 none repeat scroll 0 0;
}
.fl-reg-phone-get-code {
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 25px;
    text-align: center;
    width: 108px;
}
.fl-reg-phone-countdown {
    background: #ddd none repeat scroll 0 0;
    color: #666;
    display: none;
    height: 26px;
    line-height: 25px;
    text-align: center;
    width: 108px;
}
.fl-reg-error-input {
    border: 1px solid #e51937;
}
.fl_reg_box2 {
    background: #fff none repeat scroll 0 0;
    height: 450px;
    position: relative;
    width: 330px;
}
.fl_reg_box2 .fl_reg_title {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    color: #4e4d4d;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-indent: 6px;
}
.fl-reg-main {
    padding-left: 35px;
    padding-top: 20px;
}
.fl_login_box2 {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    height: 335px;
    position: relative;
    width: 325px;
}
.fl_login_box2 .fl_reg_title {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    color: #4e4d4d;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    position: relative;
    text-indent: 6px;
}
.fl_login_box2 .fl_reg_title .fl_reg_close {
    color: #afafaf;
    cursor: pointer;
    font-weight: bold;
    padding: 0 5px;
    position: absolute;
    right: 6px;
    top: 0;
}
.float_other_login_text {
    color: #999;
    left: 10px;
    position: absolute;
    top: 4px;
}
.fl-reg-main .fl-login-error-input {
    border: 1px solid #e51937;
}
.fl_quick_login_box {
    height: 310px;
}
.fl-reg-info {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 15px;
}
.float_change_login:link, .float_change_login:visited {
    color: #666;
    float: left;
    line-height: 22px;
    margin: 5px 0 0 216px;
    text-decoration: none;
}
.float_change_login:hover {
    color: #ff9d19;
    text-decoration: none;
}