.lhcMain * {
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.lhc_navs {
	padding-top: 5px;
	-webkit-box-shadow: 0 2px 5px #000, 0 -1px 0 #fff inset;
	box-shadow: 0 2px 5px #000, 0 -1px 0 #fff inset;
	border-bottom: 2px solid #edf3f3;
}

.lhcTabs {
/* 	overflow: auto;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0; */
	list-style: none;
    padding: 5px 10px 0;
    overflow: hidden;
    width: 98%;
    position: relative;
}

.lhcTabs li {
	position: relative;
}

.lhcTabs a {
	/* -moz-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: -4px 15px 10px rgba(8, 8, 8, 0.64);
	box-shadow: -4px 15px 10px rgba(8, 8, 8, 0.64);
	background: #F13131;
	background: -moz-linear-gradient(220deg, transparent 10px, #F13131 10px);
	background: -webkit-linear-gradient(220deg, transparent 10px, #F13131 10px);
	background: -ms-linear-gradient(220deg, transparent 10px, #F13131 10px);
	background: -o-linear-gradient(220deg, transparent 10px, #F13131 10px);
	background: linear-gradient(220deg, transparent 10px, #F13131 10px);
	text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	color: #fff !important;
	float: left;
	font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
	height: 35px;
	padding: 0 20px;
	text-decoration: none; */
    position: relative;
    display: block;
    float: left;
    border-radius: 10px 10px 0 0;
   	background: -moz-linear-gradient(top center, #d1d1d1, #f2f2f2 80%) repeat scroll 0 0 #f2f2f2;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f2f2f2),color-stop(.8, #d1d1d1));
    line-height: 35px;
    padding: 0 20px;
    text-decoration: none;
    color: grey !important;
    margin-top: 10px;
    margin-right: 1px;
    font-weight: bold;
}

.lhcTabs a:hover {
    line-height: 35px;
    margin-top: 5px;
}

.lhcTabs a:focus {
	outline: 0;
}

.lhcTabs .current {
	
}

.lhcTabs .current a {
	/* background: #fff;
	background: -moz-linear-gradient(220deg, transparent 10px, #fff 10px);
	background: -webkit-linear-gradient(220deg, transparent 10px, #fff 10px);
	background: -ms-linear-gradient(220deg, transparent 10px, #fff 10px);
	background: -o-linear-gradient(220deg, transparent 10px, #fff 10px);
	background: linear-gradient(220deg, transparent 10px, #fff 10px);
	text-shadow: none;
	color: #333 !important; */
	/*background: #89201b;*/
	background: -moz-linear-gradient(top center, #A80404, #f00 80%) repeat scroll 0 0 #A80404;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f00),color-stop(.8, #A80404));
    color: #f2d5b7 !important;
    line-height: 45px;
    margin-top: 0;
    padding:0 30px;
}

.lhcTabs .current i{
	background: url("../images/lhc_nav_bg.png");
	display:inline-block;
	z-index: 10;
	position: absolute;
	top:1px;
	left:1px;
}

.lhc_content {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#ddd));
	background-image: -webkit-linear-gradient(top, #fff, #efefef);
	background-image: -moz-linear-gradient(top, #fff, #efefef);
	background-image: -ms-linear-gradient(top, #fff, #efefef);
	background-image: -o-linear-gradient(top, #fff, #efefef);
	background-image: linear-gradient(top, #fff, #efefef);
	-moz-border-radius: 0 2px 2px 2px;
	-webkit-border-radius: 0 2px 2px 2px;
	border-radius: 0 2px 2px 2px;
	padding: 10px;
}

/*content*/
#lhcContent {
	width: 800px;
	float: left;
}
#lhcContent input[type=text]:focus{
	-webkit-box-shadow: 0 2px 5px #8F8484, 0 -1px 0 #fff inset;
	box-shadow: 0 2px 5px #8F8484, 0 -1px 0 #fff inset;
	border:1px solid #EABF8F;
}
#header {
	margin-bottom: 5px;
	padding:5px;
	height:41px;
}

.skin_red .buttons {
	width: 340px;
}

.skin_red .buttons  label {
	font-weight: bold;
}

.color_lv {
	color: #19940D;
}

.bold {
	font-weight: bold;
}

.skin_red .buttons .quickAmount {
	padding-top: 8px;
	display: inline-block;
}

.skin_red .buttons .quickAmount input {
	border: 1px solid #B0B0B0;
	padding: 3px 2px;
	width: 65px;
}

.skin_red .buttons .button {
	background: url("../images/tab2.png") no-repeat 0 0;
	border: medium none;
	font-size: 14px;
	color: #FFFFFF;
	height: 41px;
	line-height: 21px;
	width: 66px;
	margin: 0 0 0 8px;
	cursor: pointer;
}
.skin_red .buttons .button:hover {
	background: url("../images/tab4.png") no-repeat 0 0;
}

#bntquick {
	float: right;
	cursor: pointer;
	margin-right: 10px;
}

.control .quickbutton {
	background: url("../images/tab4.png") no-repeat 0 0;
	border: medium none;
	color: #FFFFFF;
	height: 41px;
	line-height: 21px;
	width: 66px;
}

.bet_panel {
	clear: both;
	min-height: 100px;
}
.bet_panel table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	font-size: 12px;
}
.lhcMain table th,.lhcMain table td {
    border: 1px solid;
    text-align: center;
    padding: 0;
}
.bet_panel td {
    height: 33px;
    line-height: 33px;
    cursor: pointer;
}
.skin_red table, .skin_red table th, .skin_red table td {
	border-color: #E6B3BE;
	color: #762D08;
	background-color: #FFF;
}

.skin_red table, .skin_red table th, .skin_red table td {
	border-color: #EABF8F;
	color: #762D08;
	background-color: #FFF;
}

.skin_red table thead th, .skin_red table .head th {
	background: #FF9726;
	color: #fff;
	font-weight: normal;
	height: 28px;
}

.bet_panel .head th, .bet_panel .head td, .bet_panel .games th,
	.bet_panel .games td {
	cursor: auto;
}
.skin_red table.games tr th{
	cursor: pointer;
}
.table_ball .name {
	/*background: #F9F2EB;*/
}
.table_ball td font{
	transition: transform 2s;
	display: inline-block;
}
.table_ball .hover{
	background: #F9F2EB;
}
.table_ball .odds,.games .odds{
	color:red;
	font-weight: bold;
	
}
.table_ball .sebo_haoma{
	text-align: left;
	padding-left:10px;
}

.table_ball .check {
    cursor: pointer;
}
.bet_panel .amount input[type=text] {
	width: 48px;
	border: #b0b0b0 1px solid;
	padding: 3px 2px;
}


/*长龙，快捷投注*/
.lhc_R table {
	width:100%;
    font-size:12px;
    margin-top:6px;
}
#zxzd,#lmcl,#kjtz{
	max-height: 700px;
	overflow: auto;
}
#lmcl tbody td {
    width: 33%;
	color:red;
}
#zxzd .table_side{text-align: center;background: #FBDBB8;}
#zxzd tbody th.wh{width:55px;}
#lmcl tbody th,#zxzd tbody th {
    text-align: left;
    font-weight: normal;
    height: 33px;
}
#lmcl tbody th{text-indent: 5px;}
#lmcl a {
    color: #762D08 !important;
}
#kjtz td ,#zxzd td {
    cursor: pointer;
    height: 31px;
}
#zxzd td.wh{width:40%;}
#kjtz .red,#zxzd .red {
    color: red;
}
#kjtz .blue,#zxzd .blue  {
    color: #2836f4;
    text-decoration: none;
}
#kjtz .green,#zxzd .green a {
    color: rgb(37, 200, 45);
}
#zxzd .green a{
	font-size:12px;
	font-weight: bold;
}

/*号码*/
.mark_num{
    background: url("../images/balls_bg.png") no-repeat;
    border-radius: 25px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 0;
    text-align: center;
    width: 25px;
    color: #595959;
}
/*open*/
.ui-row .ico-farm .mark_00,.ui-row .ico-farm .mark_01,.ui-row .ico-farm .mark_02,.ui-row .ico-farm .mark_07,.ui-row .ico-farm .mark_08,.ui-row .ico-farm .mark_12,.ui-row .ico-farm .mark_13,.ui-row .ico-farm .mark_18,.ui-row .ico-farm .mark_19,.ui-row .ico-farm .mark_23,.ui-row .ico-farm .mark_24,.ui-row .ico-farm .mark_29,.ui-row .ico-farm .mark_30,.ui-row .ico-farm .mark_34,.ui-row .ico-farm .mark_35,.ui-row .ico-farm .mark_40,.ui-row .ico-farm .mark_45,.ui-row .ico-farm .mark_46{
	 background-position:  0px -163px;
}
.ui-row .ico-farm .mark_03,.ui-row .ico-farm .mark_04,.ui-row .ico-farm .mark_09,.ui-row .ico-farm .mark_10,.ui-row .ico-farm .mark_14,.ui-row .ico-farm .mark_15,.ui-row .ico-farm .mark_20,.ui-row .ico-farm .mark_25,.ui-row .ico-farm .mark_26,.ui-row .ico-farm .mark_31,.ui-row .ico-farm .mark_36,.ui-row .ico-farm .mark_37,.ui-row .ico-farm .mark_41,.ui-row .ico-farm .mark_42,.ui-row .ico-farm .mark_47,.ui-row .ico-farm .mark_48{
	  background-position:  -43px -163px;
}
.ui-row .ico-farm .mark_05,.ui-row .ico-farm .mark_06,.ui-row .ico-farm .mark_11,.ui-row .ico-farm .mark_16,.ui-row .ico-farm .mark_17,.ui-row .ico-farm .mark_21,.ui-row .ico-farm .mark_22,.ui-row .ico-farm .mark_27,.ui-row .ico-farm .mark_28,.ui-row .ico-farm .mark_32,.ui-row .ico-farm .mark_33,.ui-row .ico-farm .mark_38,.ui-row .ico-farm .mark_39,.ui-row .ico-farm .mark_43,.ui-row .ico-farm .mark_44,.ui-row .ico-farm .mark_49{
	  background-position:  -87px -163px;
}

.mark_01,.mark_02,.mark_07,.mark_08,.mark_12,.mark_13,.mark_18,.mark_19,.mark_23,.mark_24,.mark_29,.mark_30,.mark_34,.mark_35,.mark_40,.mark_45,.mark_46{
	 background-position:  1.5px -207px;
}
.mark_03,.mark_04,.mark_09,.mark_10,.mark_14,.mark_15,.mark_20,.mark_25,.mark_26,.mark_31,.mark_36,.mark_37,.mark_41,.mark_42,.mark_47,.mark_48{
	  background-position:  -33.5px -207px;
}
.mark_05,.mark_06,.mark_11,.mark_16,.mark_17,.mark_21,.mark_22,.mark_27,.mark_28,.mark_32,.mark_33,.mark_38,.mark_39,.mark_43,.mark_44,.mark_49{
	  background-position:  -69px -207px;
}


/*nav*/
.tab{
    height: 36px;
    margin: 0 auto 5px;
    position: relative;
    overflow: hidden;
}
.tab li.on {
    z-index: 3;
}
.tab li {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    float: left;
    margin: 0 2px 0 0;
    background-color: #2B477D;
    position: relative;
    z-index: 1;
}
.tab li a:link, .tab li a:visited {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: grey;
    letter-spacing: 1px;
    outline: none;
    float: left;
    background: -moz-linear-gradient(top center, #d1d1d1, #f2f2f2 80%) repeat scroll 0 0 #f2f2f2;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f2f2f2),color-stop(.8, #d1d1d1));
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    padding:0 20px;
}
.tab li.on a:link, .tab li.on a:visited {
    color: #f2d5b7;
    -webkit-transition: background-color 0.2s linear;
    background: -moz-linear-gradient(top center, #A80404, #f00 80%) repeat scroll 0 0 #A80404;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f00),color-stop(.8, #A80404));
    background-color: #f2f2f2;
}
.tab li.shadow ,.lhc_R .user_R li.shadow{
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 0;
    border: none;
    background: none;
    z-index: 2;
    -webkit-box-shadow: #111 0 -2px 6px;
    -moz-box-shadow: #111 0 -2px 6px;
    box-shadow: #111 0 -2px 6px;
}

#navTab_content table tbody td.active span{
	-webkit-animation: beat .5s ease-out;
    animation: beat .5s ease-out;
}

#navTab_content table tbody td.active font{
	-webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

#navTab_content table tbody td.active{
	background: #FBDBB8;
}

#navTab_content{margin-bottom: 10px;}


/*beat*/
@keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.4);
  }
  80% {
    transform: scale(1.15);
  }
}
@-webkit-keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.4);
  }
  80% {
    -webkit-transform: scale(1.15);
  }
}


.skin_red ._setting{
	position: relative;
}
.skin_red .chouma{
	line-height: 41px;
    display: block;
    width: 65px;
    height: 41px;
    padding-right: 5px;
    cursor: pointer;
}
.skin_red .left{
	float:left;
}
.skin_red .right{
	float:right;
}
.skin_red .chouma i{
	position: absolute;
    top: 12px;
    left: 0;
    overflow: hidden;
    width: 16px;
    height: 16px;
    background: url(../images/ds_ico_chips1.png) no-repeat 0 -16px;
    /*background-position: 0 -16px;         color: #b20000;*/
}
.skin_red .chouma span{
	position: absolute;
    top: 0;
    left: 10px;
    margin-left: 8px !important;
    color: #b20000;
}
.skin_red .active .chouma i{
	background-position: 0 0px;
}
.skin_red .active .chouma span{
	color: rgb(52, 152, 219);
}
.skin_red ._group ul li{
	width: 50px;
    height: 41px;
    border: 1px solid transparent;
    border-radius: 3px;
    float:left;
}
.skin_red ._group ul li a{
    line-height: 34px;
    display: block;
    overflow: hidden;
    width: 30px;
    height: 41px;
    padding: 0 10px;
    text-align: center;
    color: black;
    background: url(../images/spr_chips.png) no-repeat;
    cursor: pointer;
}
.skin_red ._group ul li a:hover{
	-webkit-animation: animation-shake .7s;
    animation: animation-shake .7s;
}
.skin_red ._group ul li.active a:hover {
    animation: none;
}
.skin_red ._group ul li.ii a {
    background-position: -50px 0;
}
.skin_red ._group ul li.iii a {
    background-position: -100px 0;
}
.skin_red ._group ul li.iv a {
    background-position: -150px 0;
}
.skin_red ._group ul li.v a {
    background-position: -200px 0;
}

.skin_red ._group ul li.active {
   	border-color: rgb(255, 151, 38);
    background-color: #fbdbb8;
}



.skin_red .active .__form {
    z-index: 7 !important;
    visibility: visible !important;
    margin-left: 0 !important;
    opacity: 1 !important;
}
.skin_red .__form,.skin_red ._kj_btn {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 70px;
    visibility: hidden;
    width: 260px;
    height: 60px;
    margin-left: -70px;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
}
.skin_red .__form li,.skin_red ._kj_btn li {
    display: block;
    float: left;
    width: 46px;
    height: 36px;
    margin-left: 5px;
}
.skin_red .__form select {
    line-height: 24px;
    overflow: hidden;
    width: 46px;
    height: 24px;
    margin-top: 5px;
    border: 1px solid #ccc;
}
.skin_red .__form .___tips {
    margin: 0 4px;
    padding-top: 5px;
    color: #999;
    border-top: 1px solid rgb(240, 240, 240);
}


@-webkit-keyframes animation-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-9px);
  }
  20% {
    -webkit-transform: translateX(8px);
  }
  30% {
    -webkit-transform: translateX(-7px);
  }
  40% {
    -webkit-transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(4px);
  }
  70% {
    -webkit-transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
  }
  90% {
    -webkit-transform: translateX(-1px);
  }
}
@keyframes animation-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-9px);
  }
  20% {
    transform: translateX(8px);
  }
  30% {
    transform: translateX(-7px);
  }
  40% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(4px);
  }
  70% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-1px);
  }
}


/*_rigBtn*/
.skin_red ._rigBtn {
	margin-left:20px;
	position: relative;
}
.skin_red ._rigBtn>ul>li{
	line-height: 40px;
	height: 40px;
	position: relative;
	width:40px;
	border-radius:40px;
	background: rgb(170, 67, 61);
	cursor: pointer;
}
.skin_red ._rigBtn.active>ul>li {
   /* transform: scale(1.2,1.2) translate3d(0,0,0);
    -ms-transform: scale(1.2,1.2) translate3d(0,0,0);
    -moz-transform: scale(1.2,1.2) translate3d(0,0,0);
    -o-transform: scale(1.2,1.2) translate3d(0,0,0);
    -webkit-transform: scale(1.2,1.2) translate3d(0,0,0); */
    border-radius:41px 0 0 41px;
}
.skin_red .burger{
	background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.5px;
    transition: transform 200ms;
    -ms-transition: transform 200ms;
    -moz-transition: transform 200ms;
    -webkit-transition: transform 200ms;
    -o-transition: transform 200ms;
    font-size: 0.8em;
    width: 20px;
    height: 3px;
    left: 10px;
}
.skin_red .burger-1 {
    transform: translate3d(0,-8px,0);
    -moz-transform: translate3d(0,-8px,0);
    -o-transform: translate3d(0,-8px,0);
    -webkit-transform: translate3d(0,-8px,0);
    -ms-transform: translate3d(0,-8px,0);
}
.skin_red .active .burger-1{
	transform: translate3d(0,0,0) rotate(45deg);
    -ms-transform: translate3d(0,0,0) rotate(45deg);
    -moz-transform: translate3d(0,0,0) rotate(45deg);
    -o-transform: translate3d(0,0,0) rotate(45deg);
    -webkit-transform: translate3d(0,0,0) rotate(45deg);
    height: 4px;
}
.skin_red .burger-2 {
    transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.skin_red .active .burger-2{
	transform: translate3d(0,0,0) scale(.1,1);
    -ms-transform: translate3d(0,0,0) scale(.1,1);
    -moz-transform: translate3d(0,0,0) scale(.1,1);
    -o-transform: translate3d(0,0,0) scale(.1,1);
    -webkit-transform: translate3d(0,0,0) scale(.1,1);
}
.skin_red .burger-3 {
    transform: translate3d(0,8px,0);
    -ms-transform: translate3d(0,8px,0);
    -moz-transform: translate3d(0,8px,0);
    -o-transform: translate3d(0,8px,0);
    -webkit-transform: translate3d(0,8px,0);
}
.skin_red .active .burger-3{
transform: translate3d(0,0,0) rotate(-45deg);
    -ms-transform: translate3d(0,0,0) rotate(-45deg);
    -moz-transform: translate3d(0,0,0) rotate(-45deg);
    -webkit-transform: translate3d(0,0,0) rotate(-45deg);
    -o-transform: translate3d(0,0,0) rotate(-45deg);
    height: 4px;
}
.skin_red ._kj_btn{
	width:246px;
	height:40px;
	border-radius: 0 41px 41px 0;
	background: #8e8d94;
	 box-shadow: 5px 0 5px #ccc;
}
.skin_red ._kj_btn li{
	width:82px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	margin: 0;
	color: #fff;
}
.skin_red ._kj_btn li.i:hover,.skin_red ._kj_btn li.ii:hover{
	background: #ccc;
}
.skin_red ._kj_btn li.iii:hover{
	background: #ccc;
	box-shadow: 5px 0 5px #ccc;
	border-radius:0 41px 41px 0;
}
.skin_red ._kj_btn li.i.cur , .skin_red ._kj_btn li.ii.cur{
	background: #ccc;
}
.skin_red ._kj_btn li.iii.cur{
	background: #ccc;
	box-shadow: 5px 0 5px #ccc;
	border-radius:0 41px 41px 0;
}
.skin_red .active ._kj_btn {
    z-index: 7 !important;
    visibility: visible !important;
    margin-left: -30px !important;
    opacity: 1 !important;
}
/*.skin_red ._rigBtn ul li button{
	padding: 0 20px;
	overflow: hidden;
	height: 41px;
	line-height: 41px;
	border: none;
	color: grey;
	background: -moz-linear-gradient(top center, #d1d1d1, #f2f2f2 80%) repeat scroll 0 0 #f2f2f2;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f2f2f2),color-stop(.8, #d1d1d1));		
	cursor: pointer !important;
	border-radius:5px;
	font-weight: bold;
}
.skin_red ._rigBtn>ul>li i{
	background-position: -60px -60px;
	height: 6px;
	overflow: hidden;
	transition: -moz-transform 0.2s ease-in 0s;
	vertical-align: middle;
	width: 12px;
	position: absolute;
	top: 18px;
	left: 74px;
}
.skin_red ._rigBtn ul li button:hover{
	background: url("../images/kuaijie_bg.png") no-repeat -27px -33px;
	color:#f2d5b7 ;
}*/


#model_body{
	max-height: 300px;
	overflow-y: auto;
	padding-bottom: 0px;
	padding:15px;
	position: relative;
}
#model_body table{
	width: 100%;
	max-width: 100%;
	font-size: 12px;
}
#model_body table tr th,#model_body table tr td{
	border:1px solid #EABF8F;
}
#model_body table tr th{
	background: #FF9726;
	font-weight: bold;
	line-height: 30px;
	color: white;
}
#model_body table tr td{
	line-height: 28px;
	text-align: center;
}
#model_body table tr td input[type=text]{
	border: 1px solid #ccc;
    display: inline-block;
    margin: 0 10px;
    text-indent: 5px;
    border-radius: 4px;
    height: 22px;
    width: 75px;
}
.layui-layer-page .layui-layer-content{
	overflow: hidden !important	;
}

.lhc_R{
	width:170px;
}
.lhc_R .user_R{
	padding:17px 0;
	position: relative;
	overflow: hidden;
}
.lhc_R .user_R li{
	display: inline-block;
	width:170px;
	margin:0 auto;
	line-height: 29px;
}
.lhc_R .user_R li .img-login-refresh,.notMoney .img-login-refresh {
    background-position: -30px -60px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    vertical-align: middle;
    margin: 0 6px;
    cursor: pointer;
}
#kjtz table tr td.active{
	background: #FBDBB8;
}
.notMoney{position: relative;}


#navTab_content td span{font-size:.9rem;}
/*pcegg*/
span.pcegg_img{text-indent: -9999px;background: url('../images/pcegg.png') no-repeat;line-height:2.2rem; display:inline-block;width: 2.2rem;text-align: center;height:2.2rem;}
span.pcegg_img.pcegg_bj_00{background-position: -7px -11px;}
span.pcegg_img.pcegg_bj_01{background-position: -7px -51px;}
span.pcegg_img.pcegg_bj_02{background-position: -7px -91px;}
span.pcegg_img.pcegg_bj_03{background-position: -7px -131px;}
span.pcegg_img.pcegg_bj_04{background-position: -7px -171px;}
span.pcegg_img.pcegg_bj_05{background-position: -7px -211px;}
span.pcegg_img.pcegg_bj_06{background-position: -7px -251px;}
span.pcegg_img.pcegg_bj_07{background-position: -7px -291px;}
span.pcegg_img.pcegg_bj_08{background-position: -7px -331px;}
span.pcegg_img.pcegg_bj_09{background-position: -7px -371px;}
span.pcegg_img.pcegg_bj_10{background-position: -7px -411px;}
span.pcegg_img.pcegg_bj_11{background-position: -7px -451px;}
span.pcegg_img.pcegg_bj_12{background-position: -7px -491px;}
span.pcegg_img.pcegg_bj_13{background-position: -7px -531px;}
span.pcegg_img.pcegg_bj_14{background-position: -7px -571px;}
span.pcegg_img.pcegg_bj_15{background-position: -7px -611px;}
span.pcegg_img.pcegg_bj_16{background-position: -7px -651px;}
span.pcegg_img.pcegg_bj_17{background-position: -7px -691px;}
span.pcegg_img.pcegg_bj_18{background-position: -7px -731px;}
span.pcegg_img.pcegg_bj_19{background-position: -7px -771px;}
span.pcegg_img.pcegg_bj_20{background-position: -7px -811px;}
span.pcegg_img.pcegg_bj_21{background-position: -7px -851px;}
span.pcegg_img.pcegg_bj_22{background-position: -7px -891px;}
span.pcegg_img.pcegg_bj_23{background-position: -7px -931px;}
span.pcegg_img.pcegg_bj_24{background-position: -7px -971px;}
span.pcegg_img.pcegg_bj_25{background-position: -7px -1011px;}
span.pcegg_img.pcegg_bj_26{background-position: -7px -1051px;}
span.pcegg_img.pcegg_bj_27{background-position: -7px -1091px;}
span.pcegg_img.pcegg_bj_wh{background: url('../images/balls_bg.png') -173px -81px;text-indent: 0px;}

/*快三*/
span.k3_span{display:inline-block;width: 1.8rem;text-align: center;height:1.8rem;line-height: 1.8rem;}
span.k3_img{text-indent:-9999px; display:inline-block;width: 1.8rem;text-align: center;height:1.8rem;line-height: 1.8rem;}
span.k3_img.sum_k3_img{text-indent:0; height:1.8rem;width:1.8rem;background: url('../images/lottery_img/ext_bg.png'); background-size: 100%;}
span.k3_img.k3_bj_01{background: url('../images/lottery_img/k3_01.png');background-size: 100%;}
span.k3_img.k3_bj_02{background: url('../images/lottery_img/k3_02.png');background-size: 100%;}
span.k3_img.k3_bj_03{background: url('../images/lottery_img/k3_03.png');background-size: 100%;}
span.k3_img.k3_bj_04{background: url('../images/lottery_img/k3_04.png');background-size: 100%;}
span.k3_img.k3_bj_05{background: url('../images/lottery_img/k3_05.png');background-size: 100%;}
span.k3_img.k3_bj_06{background: url('../images/lottery_img/k3_06.png');background-size: 100%;}

/*低频彩*/
span.pl3_img{line-height:2.2rem; background: url('../images/lottery_img/pl3_bg.png');display: inline-block;width: 2.2rem;height:2.2rem;text-align: center;font-weight: 900;background-size: 100%;}
/*PK10*/
span.pk10_kjjg{display:inline-block;width: 24px;text-align: center;height:20px;}
span.pk10.b01 {background: url('../images/lottery_img/pk10_01.png');background-size: 100%;}
span.pk10.b02 {background: url('../images/lottery_img/pk10_02.png');background-size: 100%;}
span.pk10.b03 {background: url('../images/lottery_img/pk10_03.png');background-size: 100%;}
span.pk10.b04 {background: url('../images/lottery_img/pk10_04.png');background-size: 100%;}
span.pk10.b05 {background: url('../images/lottery_img/pk10_05.png');background-size: 100%;}
span.pk10.b06 {background: url('../images/lottery_img/pk10_06.png');background-size: 100%;}
span.pk10.b07 {background: url('../images/lottery_img/pk10_07.png');background-size: 100%;}
span.pk10.b08 {background: url('../images/lottery_img/pk10_08.png');background-size: 100%;}
span.pk10.b09 {background: url('../images/lottery_img/pk10_09.png');background-size: 100%;}
span.pk10.b10 {background: url('../images/lottery_img/pk10_10.png');background-size: 100%;}
span.pk10_span{display:inline-block;width: 1.6rem;text-align: center;height:1.6rem;}
span.pk10_img{display:inline-block;width: 1.6rem;text-align: center;height:1.6rem;}
span.pk10_img.pk10_bj_01{background: url('../images/lottery_img/pk10_01.png');background-size: 100%;}
span.pk10_img.pk10_bj_02{background: url('../images/lottery_img/pk10_02.png');background-size: 100%;}
span.pk10_img.pk10_bj_03{background: url('../images/lottery_img/pk10_03.png');background-size: 100%;}
span.pk10_img.pk10_bj_04{background: url('../images/lottery_img/pk10_04.png');background-size: 100%;}
span.pk10_img.pk10_bj_05{background: url('../images/lottery_img/pk10_05.png');background-size: 100%;}
span.pk10_img.pk10_bj_06{background: url('../images/lottery_img/pk10_06.png');background-size: 100%;}
span.pk10_img.pk10_bj_07{background: url('../images/lottery_img/pk10_07.png');background-size: 100%;}
span.pk10_img.pk10_bj_08{background: url('../images/lottery_img/pk10_08.png');background-size: 100%;}
span.pk10_img.pk10_bj_09{background: url('../images/lottery_img/pk10_09.png');background-size: 100%;}
span.pk10_img.pk10_bj_10{background: url('../images/lottery_img/pk10_10.png');background-size: 100%;}

/*快乐十分*/
span.sfc_img_litter{background: url('../images/lottery_img/sfc_bg.png');line-height:1.5rem; display: inline-block;width: 1.5rem;height:1.5rem;text-align: center;font-weight: 900;background-size: 100%}
span.sfc_img{background: url('../images/lottery_img/sfc_bg.png');line-height:2rem; display: inline-block;width: 2rem;height:2rem;text-align: center;font-weight: 900;background-size: 100%}

/*幸运农场*/
span.xync_span{display:inline-block;width: 2.2rem;text-align: center;height:2.2rem;line-height:2.2rem;text-indent: -9999px;}
span.xync_img{text-indent: -9999px;background: url('../images/balls_bg.png') 0px -344px;display:inline-block;width: 2.2rem;line-height:2.2rem;text-align: center;height:2.2rem;}
span.xync_img.xync_bj_01{background-position: 0px -344px;}
span.xync_img.xync_bj_02{background-position: -50px -344px;}
span.xync_img.xync_bj_03{background-position: -96px -344px;}
span.xync_img.xync_bj_04{background-position: -143px -344px;}
span.xync_img.xync_bj_05{background-position: -190px -344px;}
span.xync_img.xync_bj_06{background-position: -242px -344px;}
span.xync_img.xync_bj_07{background-position: -287px -344px;}
span.xync_img.xync_bj_08{background-position: -334px -344px;}
span.xync_img.xync_bj_09{background-position: -382px -344px;}
span.xync_img.xync_bj_10{background-position: -428px -344px;}
span.xync_img.xync_bj_11{background-position: 0px -382px;}
span.xync_img.xync_bj_12{background-position: -50px -382px;}
span.xync_img.xync_bj_13{background-position: -96px -382px;}
span.xync_img.xync_bj_14{background-position: -143px -382px;}
span.xync_img.xync_bj_15{background-position: -190px -382px;}
span.xync_img.xync_bj_16{background-position: -242px -382px;}
span.xync_img.xync_bj_17{background-position: -287px -382px;}
span.xync_img.xync_bj_18{background-position: -334px -382px;}
span.xync_img.xync_bj_19{background-position: -382px -382px;}
span.xync_img.xync_bj_20{background-position: -428px -382px;}

/*时时彩*/
span.ssc_img{line-height:2rem; background: url('../images/lottery_img/ssc_bg.png') ;display: inline-block;width: 2rem;height:2rem;text-align: center;font-weight: 900;background-size: 100%;}

/*11选5*/
span.syx5_img{line-height:1.8rem; background: url('../images/lottery_img/11x5_bg.png');display: inline-block;width: 1.8rem;height:1.8rem;text-align: center;font-weight: 900;background-size: 100%;}