.gm_con_to {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
.unit_title {
    background: #f13131 none repeat scroll 0 0;
    line-height: 40px;
}
.unit_title {
    margin: auto;
    width: 1000px;
}
.gct_l, .game-icon2 div, .game-icon2 h3 {
    float: left;
}
.gct_l {
    height: 120px;
    margin: 10px 0;
    width: 610px;
}
.game-icon1 {
    float: left;
    height: 114px;
    left: 0;
    margin-right: 15px;
    position: relative;
    top: 3px;
    width: 114px;
}
.time-title {
    color: #e84f31;
    display: inline-block;
    float: right;
    margin: 15px 130px 10px 0;
}
.gct-time-now-l {
    float: right;
    font-family: "DISPLAYFREETFB","Microsoft Yahei";
    position: relative;
    width: initial !important;
}
.leavehms {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") repeat scroll -262px -130px;
    color: #fff;
    display: inline-block;
    font-size: 46px;
    font-weight: 500;
    height: 54px;
    line-height: 40px;
    margin-right: 2px;
    padding: 5px 0 0;
    text-align: center;
    text-shadow: 1px 1px #000;
    width: 42px;
}
.gct_l h3 {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 15px;
}
.gct_now {
    color: #666;
    line-height: 20px;
    padding-top: 5px;
}
.gct_now a {
    color: #fff;
}
.color-green {
    color: #e84f31;
}
.bt01 {
    background: #f13131 none repeat scroll 0 0;
    border: 1px solid #f13131;
    border-radius: 3px;
    color: #fff !important;
    display: inline-block;
    margin-top: 5px;
    padding: 1px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    cursor: pointer;
}
.bt01:hover {
    background: #dd0303 none repeat scroll 0 0;
    border: 1px solid #dd0303;
    color:#fff !important;
}
.zoushi {
    background: rgba(0, 0, 0, 0) url(../images/all_ico.png) no-repeat scroll -287px -207px;
    float: left;
    height: 10px;
    position: relative;
    right: 5px;
    top: 5px;
    width: 14px;
}
#showgd-box {
    border-left: 1px dashed #cecece;
    color: #666;
    float: right;
    margin-top: 10px;
    position: relative;
    width: 380px;
}
.box-ul {
    float: right;
    width: 30px;
}
.box-ul a {
    background: #8d8e94 none repeat scroll 0 0;
    color: #f6f6f6;
    display: inline-block;
    float: right;
    height: 50px;
    padding: 5px 0 5px 8px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    cursor: pointer;
}
.tabulousclear {
    clear: both;
    display: block;
}
#tabs_container {
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 350px;
}
#gd-box1, #gd-box2 {
    float: left;
    height: 120px;
    top: 0 !important;
    width: 350px;
}
#gd-box1 p {
    margin: 15px 0 0 28px;
}
#showgd-box li a:hover {
    background: #dd0303 none repeat scroll 0 0;
    color:#fff;
}
.make_transist {
    transition: all 0.3s ease-in-out 0s;
}
.hideleft {
    opacity: 0;
    transform: translateX(-100%);
}
.showleft {
    opacity: 1;
    transform: translateX(0px);
    transition-delay: 0.3s;
}
.tabulous_active {
    background: #f13131 none repeat scroll 0 0 !important;
    border-right: 1px solid #f13131 !important;
}
#gd-box2 {
    padding: 5px 0 0 10px;
}
#gd-box2 p {
    height: 23px;
}
.gd-box-q {
    color: #12b35e;
    font-weight: bold;
}
.gd-box-h {
    background: #fff none repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 20px;
}
.xyft-box-h {
    background: #fff none repeat scroll 0 0;
    border-radius: 18px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    margin-right: 3px;
    text-align: center;
    width: 18px;
}
.lot-gd1 {
    display: block;
    margin-top: 20px;
    text-align: center;
}
.lot-gd1 li {
    background: #f13131 none repeat scroll 0 0;
    border: 3px solid #f13131;
    border-radius: 40px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #f6f6f6;
    display: inline-table;
    font-size: 26px;
    font-weight: 800;
    height: 40px;
    line-height: 40px;
    margin-right: 12px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear 0s;
    width: 40px;
}
.interval {
    color: #30343e;
    display: inline-block;
    font-family: "Microsoft Yahei";
    font-size: 28px;
    height: 54px;
    left: -2px;
    line-height: 64px;
    margin-right: 3px;
    position: relative;
    text-align: center;
    top: -10px;
}
#lt_opentimebox2 {
    color: #ff0000 !important;
}
.plus_lhc{
    font-family: Microsoft Yahei;
    margin: 0 5px 0 0 ;
}
/*gct-time*/
.gct-time{display: inline-block;    width: 335px;
    height: 65px;padding: 0 5px;
    overflow: hidden;float:right;}
.flip-clock-label{display: none;}
.flip-clock-wrapper{margin:inherit !important;}
.flip-clock-wrapper ul{width:32px !important;height:55px !important;}
.flip-clock-wrapper ul li{line-height: 58px !important;}
.flip-clock-wrapper ul li a div div.inn{font-size: 50px !important;}
.flip-clock-divider{height:65px !important;}
.flip-clock-dot.top{top:40px !important;}
.flip-clock-dot.bottom{bottom:40px !important;}