*{
	margin:0;
	padding:0;
}
body{
	background: #333;
}
.wapMobile .wap_top{
	height:100px;
	width:100%;
	background: #333;
}
.wapMobile .wap_top .top_left{
	text-align: center;
	padding-top:15px;
}
.wapMobile .wap_top .top_left span{
	color:#fff;
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
	vertical-align: top;
	margin-top:11px;
}
.wapMobile .wap_header_img{
	width:100%;
	line-height: 0;
}
/*后续需要修改为100%*/
.wapMobile .wap_header_img img{
	width:100%;
}
.wapMobile .wap_xiazai{
	height:180px;
	padding-top:20px;
	background: #fff;
}

.wapMobile .xiazai_1,.wapMobile .xiazai_2,.wapMobile .xiazai_3 {
    width: 33%;
    float: left;
    text-align: center;
    cursor: pointer;
}
.wapMobile .wap_xiazai span{
	display: inline-block;
	width:100%;
	line-height: 30px;
	color:#898989;
	font-size: 15px;
}
.wapMobile .ddz_title_mes {
    background-color: #f4f4f4;
    color: #666666;
    padding: 4% 4%;
    line-height: 20px;
    font-size: 14px;
}
.wapMobile .ddz_title_mes span {
    color: #666666;
}
.wapMobile .tit {
    font-weight: bold;
}
.sjimg {
    text-align: center;
    padding: 4% 0;
    background: #ffffff;
    position: relative;
}

.cp {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 24px;
    padding-top: 6px;
    color:#fff;
}