.wrap-bg {
    overflow: hidden;
    padding-bottom: 10px;
}
.wrapper {
    margin: 0 auto;
    width: 990px;
    min-height: 10px;
}
.reg {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #dfdfdf;
}
.reg-tit {
    background-color: #fffcf4;
    border-bottom: 1px solid #dfdfdf;
    height: 47px;
    line-height: 47px;
    padding: 0 15px;
}
.fr {
    float: right;
}
.orange {
    color: #F13131 !important;
    padding: 2px;
}
.reg-tit h3 {
    font-size: 18px;
    font-weight: normal;
    color: #c71f33;
}
.reg-info {
    width: 850px;
    margin: 50px auto;
}
.reg-info ul li {
    height: 40px;
    line-height: 40px;
    padding-top: 10px;
    margin-bottom: 16px;
    position: relative;
}
.info-left {
    float: left;
    width: 210px;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
}
.reg-info .red {
    color: #da2c41;
}
.info-right {
    width: 300px;
    float: left;
    white-space: nowrap;
    position: relative;
}
.reg-int, .codes-int {
    width: 240px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    padding-left:30px;
}
.reg-info ul li:first-of-type .info-txt {
    line-height: 24px;
    padding-top: 7px;
}
.info-txt {
	line-height: 24px;
	padding-top: 7px;
    position: absolute;
    width: 330px;
    left: 480px;
}
.codes-int {
    width: 117px;
    float: left;
    margin-right: 10px;
}
input {
    display: inline-block;
    border: none;
}
.reg-info input:focus{
	border-color:#f1c774;
	border-width:2px;
}
.reg-notice-ok{
    background: url("../images/reg_icon.gif") no-repeat 0 -232px;
    height: 18px;
    width: 20px;
    position: absolute;
	left: 240px;
	top: 10px;
}
.reg-notice-login-ok {
    background: url("../images/reg_icon.gif") no-repeat 0 -232px;
    height: 18px;
    width: 20px;
    float: left;
    margin-right: 10px;
}
.hidn{display:none;}
#reg-notice-icon-login{margin-top:10px;}
.reg-info ul li input[type="checkbox"] {
    background-color: rgb(210,210,21);
}
.reg-info ul li input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    display: inline-block;
}
.codes-img {
    float: left;
    margin: 5px 10px 0 0;
}
.orange {
    color: #F13131 !important;
    padding: 2px;
    cursor: pointer;
}
.submit {
    cursor: pointer;
    width: 205px;
    height: 46px;
    line-height: 47px;
    text-align: center;
    font-size: 15px;
    border-radius: 2px;
    background: #d32036;
    color: #fff;
}
.submit:hover { background: #c52135 }
.error{
	border: 1px solid #e51937;
}
.reg-notice-icon {
    margin-right: 10px;
    float: left;
    background: url("../images/reg_icon.gif") no-repeat 0 -195px;
    height: 18px;
    width: 20px;
}