.warp, .notice, .main {
	width: 990px;
	margin: 0 auto;
	position: relative;
}

.notice {
	height: 37px;
	background: #fdf6ec;
	line-height: 37px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-bottom: 25px;
}

.service_icon {
	background: url(../images/service.gif) no-repeat;
	display: inline-block;
}

.notice-icon {
	width: 20px;
	height: 37px;
	background-position: -650px -100px;
	vertical-align: middle;
	margin: 0 0 2px 12px;
}

.notice-cont {
	color: #fb0516;
	font-size: 12px;
	margin-left: 15px;
}

.notice-cont a {
	color: #fb0516 !important;
	font-size: 12px;
	margin-left: 15px;
}

.notice-cont a:hover {
	text-decoration: underline;
}

.main {
	font-size: 12px;
}

.left-box {
	width: 703px;
	margin-right: 15px;
}

.left-box, .middle, .right-box {
	float: left;
}

.left-part1 {
	width: 100%;
	height: 154px;
	margin-bottom: 30px;
}

.part1-tit {
	width: 100%;
	height: 26px;
	background-position: 0 0;
}

.FAQ-list {
	width: 701px;
	height: 129px;
	border: solid 1px #eaeaea;
	border-top: none;
	overflow: hidden;
}

.FAQ {
	margin: 22px 0 0 15px;
	width: 680px;
}

.FAQ li {
	float: left;
	margin-right: 5px;
	line-height: 30px;
	width: 220px;
}

.FAQ li a {
	color: #005aa0 !important;
}

.faq-icon {
	width: 11px;
	height: 11px;
	background-position: -450px -160px;
	vertical-align: middle;
	overflow: hidden;
	_margin: 9px auto;
	margin-right: 5px;
}

.left-part2 {
	width: 100%;
	height: 565px;
}

.part2-tit {
	width: 100%;
	height: 26px;
	background-position: 0 -50px;
}

.left-part2 dl {
	width: 220px;
	margin: 25px 10px 0 0;
	text-align: center;
	float: left;
}

.login-icon {
	background-position: 0 -100px;
}

.login-icon {
	background-position: -150px -100px;
}

.login-icon, .recharge-icon, .buy-icon, .withdraw-icon, .phone-icon,
	.event-icon {
	width: 85px;
	height: 80px;
	margin-left: 15px;
}

.left-part2 dl dd.class-tit {
	color: #333;
	font-weight: bold;
	line-height: 40px;
	font-size: 16px;
	font-family: 'Microsoft YaHei', '微软雅黑';
	margin: 0;
	text-align: center;
}

.left-part2 dl dd {
	line-height: 30px;
	margin-left: 55px;
	text-align: left;
}

.main a {
	color: #666 !important;
	text-decoration: none;
}

.class-icon {
	width: 9px;
	height: 9px;
	background-position: -500px -160px;
	vertical-align: middle;
	overflow: hidden;
	_margin: 11px auto;
	margin-right: 6px;
}

.recharge-icon {
	background-position: 0 -100px;
}

.buy-icon {
	background-position: -300px -100px;
}

.withdraw-icon {
	background-position: 0 -200px;
}

.phone-icon {
	background-position: -150px -200px;
}

.event-icon {
	background-position: -300px -200px;
}

.middle {
	height: 756px;
	width: 1px;
	background: #eaeaea;
	dispaly: inline-block;
	margin: 25px 15px 0 0;
}

.right-box {
	width: 254px;
}

.right-part1 {
	width: 100%;
	height: 168px;
}

.right-tit1, .right-tit2, .right-tit3 {
	width: 100%;
	height: 29px;
}

.right-part1-cont {
	color: #999;
	width: 100%;
}

.cont1-icon {
	width: 87px;
	height: 120px;
	background-position: -710px -100px;
	float: left;
}

.cont1-btn-box {
	float: left;
}

.online-service {
	width: 131px;
	height: 38px;
	background-position: -450px -100px;
	margin: 20px 0 0 10px;
}

.cont1-btn-box p {
	line-height: 38px;
	color: #999;
	margin-left: 10px;
}

.service-num {
	width: 157px;
	height: 24px;
	display: inline-block;
	font-size: 18px;
	text-align: center;
	color: red;
	font-weight: bold;
}

.right-tit1 {
	background-position: 0 -380px;
}

.right-part2 {
	color: #999;
	width: 100%;
	height: 98px;
	margin-bottom: 20px;
}

.right-tit2 {
	background-position: 0 -430px;
	margin-bottom: 10px;
}

.right-part2-cont {
	width: 100%;
	height: 80px;
}

.bbs-box {
	width: 253px;
	height: 39px;
	background-position: -450px -300px;
	text-align: center;
}

.right-part2-cont a {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	line-height: 39px;
	padding: 11px 48px 11px 146px;
}

.right-part2-cont p {
	line-height: 30px;
}

.right-part3 {
	width: 100%;
	height: 244px;
}

.right-tit3 {
	background-position: 0 -480px;
	margin-bottom: 15px;
}

.message-box {
	width: 100%;
	margin-bottom: 15px;
}

.mes-left, .psd-left, .change-left {
	float: left;
	width: 51px;
	height: 51px;
	margin-right: 10px;
}

.mes-right {
	float: left;
	width: 192px;
}

.mes-right .tit {
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
}

.mes-left {
	background-position: 0 -300px;
}

.mes-right p {
	line-height: 24px;
}

.mes-right a {
	color: #666;
}

.psd-left {
	background-position: -150px -300px;
}

.change-left {
	background-position: -300px -300px;
}

.a-icon {
	width: 5px;
	height: 5px;
	background-position: -550px -160px;
	vertical-align: middle;
	overflow: hidden;
	_margin: 10 auto;
	margin-right: 6px;
}

.mes-a {
	margin-right: 15px;
}

.mes-right a:hover {
	color: #eb1506 !important;
	text-decoration: underline;
}

.left-part2 dl a:hover {
	color: #eb1506 !important;
	text-decoration: underline;
}