@CHARSET "UTF-8"; 
/*member*/
ul, ol {
    list-style: none;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 990px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.bread {
    width: 978px;
    padding-left: 10px;
    margin-bottom: 10px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #f6f6f6;
    background: url(../images/member/bread.gif) repeat-x;
}
.c4 {
    width: 150px;
}
.grid {
    margin-right: 10px;
    float: left;
    display: inline-block;
    margin-bottom:10px;
}
.menu ul {
    background-color: #fff7eb;
    text-align: center;
    border: 1px solid #ffecdc;
    min-height:550px;
}
.menu ul li.line {
    background-color: #ff8300;
    height: 3px;
    margin-top:0;
    font-size: 0;
    width:auto;
}
.menu ul li {
    line-height: 33px;
    height: 35px;
    margin-bottom: 2px;
    *margin-bottom: 0;
    position: relative;
}
.menu ul li.on {
    background: url(../images/member/menu_selected_bg.gif) repeat-x;
}
.menu ul li.on a{
	color:#FFF;
}
.menu ul li a{
	color:#b44400;
}
.menu div.hr {
    background: url(../images/member/menu_split.gif) 50% 50% no-repeat;
    height: 2px;
    font-size: 0;
}
.menu ul li .flag {
    background: url(../images/member/flag.gif) 0 -25px no-repeat;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    right: -4px;
    color: white;
}
/*right*/
.grid.fixed {
    margin-right: 0;
}
.c21 {
    width: 830px;
}
.mylottery_section1 {
    width: 830px;
    color: #333;
}
.mylottery_section1 .state {
	width: 828px;
	border: 1px solid #d3d3d3;
	float: left;
	background: #f9f9f9
}

.mylottery_section1 .state .state_title {
	font-weight: bold;
	padding-left: 10px;
	width: 818px
}

.mylottery_section1 .title, .mylottery_section2 .information .title,
	.mylottery_section3 .game .title {
	width: 268px;
	height: 23px;
	line-height: 23px;
	color: #494949;
	border-bottom: 1px solid #d3d3d3;
	background: url(../images/member/my_lottery_title.gif) repeat-x
}

.mylottery_section1 .state .state_account {
	padding-left: 10px;
	line-height: 28px;
}

.mylottery_section1 .state .state_account .balance {
	padding-top: 5px;
	_padding-top: 10px;
	position: relative;
	z-index: 1;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.mylottery_section1 .state .state_account .balance .other {
	position: absolute
}

.mylottery_section1 .state .state_account .balance .other img {
	position: absolute;
	top: -3px;
	left: 60px;
	*top: 15px;
	*left: -104px;
	z-index: 2
}

.mylottery_section1 .state .state_account .balance .other table {
	border: 1px solid #979797;
	background-color: white;
	line-height: 24px;
	position: absolute;
	top: 0;
	left: -11px;
	z-index: 1;
	*top: 18px;
	*left: -175px
}

.mylottery_section1 .state .state_account .balance .other table td {
	white-space: nowrap
}

.mylottery_section1 .state .state_account .balance .other table .type {
	padding-left: 10px;
	text-align: right
}

.mylottery_section1 .state .state_account .balance .other table .val {
	padding-right: 10px;
	text-align: right
}

.mylottery_section1 .state .state_account .balance .img-arrow {
	margin-right: 5px
}

.mylottery_section1 .state .state_account .btn_box {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.mylottery_section1 .state .state_account .btn_box .btn {
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	width: 40px;
	height: 20px;
	line-height: 18px;
	*line-height: 20px;
	line-height: 20px\9\0

}

.mylottery_section1 .state .state_account .btn_box span .btn.withdrawal
	{
	margin-left: 4px;
	*margin-left: 0
}

.mylottery_section1 .state .state_account .btn_box .btn.recharge.normal
	{
	background: url(../images/member/btns.gif) -10px -1427px no-repeat;
	color: #fff
}

.mylottery_section1 .state .state_account .btn_box .btn.recharge:hover {
	background: url(../images/member/btns.gif) -10px -1456px no-repeat;
	color: #fff
}

.mylottery_section1 .state .state_account .btn_box .btn.recharge.click {
	background: url(../images/member/btns.gif) -10px -1486px no-repeat;
	color: #fff
}

.mylottery_section1 .state .state_account .btn_box span .btn.withdrawal.normal
	{
	background: url(../images/member/btns.gif) -10px -1517px no-repeat;
	color: #eb6100
}

.mylottery_section1 .state .state_account .btn_box span .btn.withdrawal:hover
	{
	background: url(../images/member/btns.gif) -10px -1543px no-repeat;
	color: #eb6100
}

.mylottery_section1 .state .state_account .btn_box span .btn.withdrawal.click
	{
	background: url(../images/member/btns.gif) -10px -1570px no-repeat;
	color: #eb6100
}

.mylottery_section1 .state .state_account .btn_box btn.recharge:hover,
	.mylottery_section1 .state .state_account .btn_box btn.recaharge:active,
	.mylottery_section1 .state .state_account .btn_box btn.recharge:visited
	{
	color: #fff;
	text-decoration: none
}

.mylottery_section1 .state .state_account .btn_box span btn.withdrawal:hover,
	.mylottery_section1 .state .state_account .btn_box span btn.withdrawal:active,
	.mylottery_section1 .state .state_account .btn_box span btn.withdrawal:visited
	{
	color: #eb6100;
	text-decoration: none
}

.mylottery_section1 .state .contact {
	padding-left: 10px;
	border-bottom: 1px solid #e9e9e9;
	height: 27px;
	line-height: 27px;
	position: relative
}

.mylottery_section1 .state .contact a:hover {
	text-decoration: none
}

.mylottery_section1 .state .contact .name {
	background: url(../images/member/my_lottery_tell.gif) 0 2px no-repeat;
	padding-left: 16px;
	color: #c4c4c4
}

.mylottery_section1 .state .contact .card {
	background: url(../images/member/my_lottery_tell.gif) 0 -22px no-repeat;
	padding-left: 18px;
	padding-bottom: 2px;
	color: #c4c4c4;
	margin-left: 10px
}

.mylottery_section1 .state .contact .number {
	background: url(../images/member/my_lottery_tell.gif) 0 -45px no-repeat;
	padding-left: 14px;
	padding-bottom: 2px;
	color: #c4c4c4;
	margin-left: 10px
}

.mylottery_section1 .state .contact .mail {
	background: url(../images/member/my_lottery_tell.gif) 0 -68px no-repeat;
	padding-left: 20px;
	margin-left: 10px;
	color: #c4c4c4
}

.mylottery_section1 .state .contact .legalize {
	color: #00bf16;
	cursor: default
}

.mylottery_section1 .state .contact .legalize-tip {
	position: absolute;
	left: 60px;
	top: 27px;
	border: 1px solid #979797;
	line-height: 1;
	background: #fafafa
}

.mylottery_section1 .state .contact .legalize-card {
	left: 60px
}

.mylottery_section1 .state .contact .legalize-number {
	left: 122px
}

.mylottery_section1 .state .contact .legalize-name {
	left: 8px
}

.mylottery_section1 .state .contact .legalize-mail {
	left: 185px
}

.mylottery_section1 .state .contact .legalize-icon {
	position: absolute;
	left: 7px;
	top: -4px
}

.mylottery_section1 .state .contact .legalize-tip .br {
	display: inline-block;
	border: 1px solid #fff;
	padding: 4px
}

.mylottery_section1 .state .state_caibei {
	padding: 0 0 0 10px;
	overflow: hidden;
}

.mylottery_section1 .state .state_caibei li {
	line-height: 28px;
	float:left;
}

.mylottery_section1 .state .gray {
	color: #c4c4c4
}

.mylottery_section1 .state .caibei_level_box {
	width: 237px;
	padding: 8px 0 0 10px
}

.mylottery_section1 .state .caibei_level_box .level_icon_left {
	float: left;
	border: 0
}

.mylottery_section1 .state .caibei_level_box .level_icon_right {
	float: right;
	border: 0;
	color:#ff8400;
}

.mylottery_section1 .state .caibei_level_box .level_progress_bar {
	border: 1px solid #ff8400;
	height: 20px;
	margin-top: 3px;
	position: relative;
	width: 237px
}

.mylottery_section1 .state .caibei_level_box .level_progress_bar .now_progress_bar
	{
	background: #ffa943;
	height: 20px
}

.mylottery_section1 .state .caibei_level_box .level_progress_bar .now_progress_bar .caibei_value
	{
	color: #ff8400;
	font-size: 13px;
	font-family: Arial;
	font-weight: bold;
	height: 15px;
	left: 28px;
	top: -18px;
	width: 178px;
	text-align: center;
	position: absolute;
	line-height: 15px
}

.mylottery_section1 .state .need_caibei {
	margin: 6px 0 15px 10px;
}
.mylottery_section1 .state a{
	color:#ff8400;
}
.mylottery_section1 .state a:hover{
	color:#666666;
	text-decoration: underline;
}
.mylottery_section1 .state a.minmessage{
	color:red;
}
.mylottery_section1 .buy_lottery, .mylottery_section2 .report {
	width: 548px;
	height: 268px;
	border: 1px solid #d3d3d3;
	float: left;
	margin-left: 10px;
	background: #f9f9f9
}

.mylottery_section1 .buy_lottery .buy_lottery_title, .mylottery_section2 .report .report_title,
	.mylottery_section3 .title, .mylottery_section3 .mylottery_section3_right .tool_title
	{
	width: 548px;
	height: 23px;
	line-height: 23px;
	border-bottom: 1px solid #d3d3d3;
	background: url(../images/member/my_lottery_title.gif) repeat-x
}

.mylottery_section1 .buy_lottery .buy_lottery_title h1,
	.mylottery_section2 h1, .mylottery_section3 h1 {
	float: left;
	font-weight: bold;
	color: #494949;
	padding-left: 10px;
	font-size: 12px
}

.mylottery_section1 .buy_lottery .edit, .mylottery_section2 .info_title .edit,
	.mylottery_section2 .report .edit, .mylottery_section3 .edit {
	float: right;
	margin-right: 15px;
	color: #0064e0
}

.mylottery_section1 .buy_lottery .buy_lottery_title .buy_lottery_title_ul
	{
	margin-left:65px;
	display: inline-block;
}
.mylottery_section1 .buy_lottery .buy_lottery_title .buy_lottery_title_ul li
	{
	width: 75px;
	height: 22px;
	text-align: center;
	line-height: 27px;
	float: left;
	cursor: pointer
}

.mylottery_section1 .buy_lottery .buy_lottery_title .buy_lottery_title_ul .on
	{
	position: relative;
	height: 20px;
	line-height: 20px;
	bottom: -3px;
	width: 73px;
	background: #f9f9f9;
	border-top: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0
}

.mylottery_section1 .buy_lottery .lot_top .lot_top_logo {
	float: left;
	width: 90px;
	padding: 5px 0 0 15px
}

.mylottery_section1 .buy_lottery .lot_top {
	height: 95px;
	border-bottom: 1px solid #e9e9e9
}

.mylottery_section1 .buy_lottery .lot_top .select_before {
	position: relative;
	top: 30px;
	left: 12px
}

.mylottery_section1 .buy_lottery .lot_top .lot_top_right {
	float: left;
	width: 300px;
	position: relative
}

.mylottery_section1 .buy_lottery .lot_top .lot_top_right .selectnum {
	float: left;
	padding: 10px 0 0 75px
}

.mylottery_section1 .buy_lottery .lot_top .lot_top_right .selectnum input
	{
	width: 20px;
	border: 0;
	color: #fff;
	font-weight: bold;
	background: 0
}

.mylottery_section1 .buy_lottery .lot_top .lot_top_right .lot_sn_red {
	background: url(../images/member/lotteryBall.gif) -28px 0 no-repeat;
	color: #fff;
	display: inline;
	float: left;
	font-weight: bold;
	height: 28px;
	line-height: 26px;
	margin-right: 5px;
	text-align: center;
	width: 26px
}

.mylottery_section1 .buy_lottery .lot_top .lot_top_right .lot_sn_blue {
	background: url(../images/member/lotteryBall.gif) -56px 0 no-repeat;
	color: #fff;
	display: inline;
	float: left;
	font-weight: bold;
	height: 28px;
	line-height: 26px;
	margin-right: 5px;
	text-align: center;
	width: 26px
}

.mylottery_section1 .buy_lottery .lot_top .lot_top_right .jz {
	height: 35px;
	line-height: 35px;
	padding-left: 14px;
	clear: both
}

.mylottery_section1 .buy_lottery .lot_bottom {
	clear: both
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_left {
	float: left;
	padding: 5px 0 0 18px;
	width: 90px
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_left li {
	height: 35px;
	line-height: 35px
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_left li a {
	color: #0064e0
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right {
	float: left;
	padding-top: 15px
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_selectnum
	{
	height: 54px
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_selectnum li
	{
	position: relative;
	float: left;
	height: 43px;
	margin-right: 8px;
	width: 37px
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_selectnum li input
	{
	border: 0;
	font-size: 13px;
	font-weight: bold;
	height: 22px;
	*left: 5px !important;
	*top: 10px !important;
	left: 7px;
	top: 12px;
	position: absolute;
	width: 22px;
	text-align: center
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_selectnum .lot_sn_red
	{
	background: url(../images/member/numberbox.gif) no-repeat right 0
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_selectnum .lot_sn_blue
	{
	background: url(../images/member/numberbox.gif) no-repeat -74px 0
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_selectnum .lot_sn_blue input
	{
	border: 2px solid #ffcc50;
	left: 8px !important;
	top: 12px !important;
	height: 19px;
	width: 19px
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .multiple_value
	{
	width: 20px;
	height: 18px;
	text-align: center
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .amount span
	{
	margin-right: 10px
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_numselec
	{
	margin-top: 5px
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_numselec span
	{
	cursor: pointer
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_numselec a
	{
	color: #0064e0
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_numselec .ljtz
	{
	width: 66px;
	height: 22px;
	line-height: 20px;
	text-align: center;
	color: #FFF;
	background: url(../images/member/btns.gif) -10px -1237px no-repeat;
	display: inline-block;
	text-decoration: none;
	margin-right: 5px
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_numselec .ljtz.normal
	{
	background: url(../images/member/btns.gif) -10px -1237px no-repeat
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_numselec .ljtz.hover
	{
	background: url(../images/member/btns.gif) -10px -1269px no-repeat
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_numselec .ljtz.click
	{
	background: url(../images/member/btns.gif) -10px -1301px no-repeat
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .lot_numselec .hm
	{
	margin: 0 10px 0 220px
}

.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .btn,
	.mylottery_section1 .buy_lottery .btn_tip_num .btn {
	margin: 5px 5px 0 0;
	width: 40px;
	height: 20px;
	text-align: center;
	line-height: 18px;
	background: url(../images/member/btns.gif) -10px -1427px no-repeat;
	display: inline-block;
	color: #FFF;
	text-decoration: none
}

.mylottery_section1 .buy_lottery .btn_tip_num .btn.normal,
	.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .btn.normal
	{
	background: url(../images/member/btns.gif) -10px -1427px no-repeat
}

.mylottery_section1 .buy_lottery .btn_tip_num .btn.hover,
	.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .btn.hover
	{
	background: url(../images/member/btns.gif) -10px -1456px no-repeat
}

.mylottery_section1 .buy_lottery .btn_tip_num .btn.click,
	.mylottery_section1 .buy_lottery .lot_bottom .lot_bottom_right .btn.click
	{
	background: url(../images/member/btns.gif) -10px -1486px no-repeat
}
.mylottery_section2 {
    width: 830px;
    height: 250px;
    color: #333;
    margin: 10px 0;
}

.mylottery_section3 {
    width: 830px;
    color: #333;
    margin-top:10px;
}
.mylottery_section3  .new_lottery{
    min-height: 248px;
    border: 1px solid #d3d3d3;
}
 .mylottery_section3 .title{
    width: 100%;
}
.mylottery_section3 .edit {
    float: right;
    margin-right: 15px;
    color: #0064e0;
}
.mylottery_section2 .report .report_tab thead td, .mylottery_section3 .new_lottery_tab thead td {
    background: #e1e1e1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 30px;
}
.mylottery_section3 .new_lottery_tab {
    width: 100%;
    font-size:12px;
}
.mylottery_section3 .new_lottery_tab th{
	height: 32px;
	background: #e1e1e1;font-weight: normal;
}
.mylottery_section3 .new_lottery_tab td {
    text-align: center;
    height: 32px;
    white-space: nowrap;
}


/*投注记录*/
.summary {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background-color: #fff6ec;
    margin-bottom: 10px;
    _height: 23px;
    _line-height: 23px;
    _padding-top: 5px;
    position: relative;
}
.summary .welcome {
    float: left;
}
.red {
    color: red;
}
.blue {
	color: blue;
}
fieldset, img {
    border: 0;
}
img, input, select {
    vertical-align: middle;
}
.summary .balances {
    display: inline-block;
    float: left;
    position: relative;
    margin-right: 20px;
}
.summary .btn.recharge.normal {
    background: url(../images/member/btns.gif) -10px -1427px no-repeat;
    color: #fff;
}
.summary span .btn.withdrawal.normal {
    background: url(../images/member/btns.gif) -10px -1517px no-repeat;
    color: #eb6100;
}
.summary .btn.recharge.normal:hover {
    background: url(../images/member/btns.gif) -10px -1456px no-repeat;
    color: #fff;
}
.summary span .btn.withdrawal.normal:hover {
    background: url(../images/member/btns.gif) -10px -1543px no-repeat;
    color: #eb6100;
}
.summary .btn {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 20px;
    line-height: 18px;
}
.summary a {
    margin-right: 10px;
}
.summary a {
    margin-right: 10px;
}
.ordermain {
    min-height: 340px;
    height: auto !important;
    height: 340px;
}
.ordermain .navbox {
    border-bottom: 1px solid #cdcdcd;
}
.ordermain .navbox .list li {
    float: left;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
    top: 1px;
}
.ordermain .navbox .list li.on{
	height:24px;
}
.ordermain .navbox .list li .left {
    background: url(../images/member/change_bar.gif) 0 0;
    height: 23px;
    position: relative;
    top: 1px;
    margin-top: 0;
    width: 6px;
}
.ordermain .navbox .list li .right {
    background: url(../images/member/change_bar.gif) 0 -29px;
    height: 24px;
    position: relative;
    top: 1px;
    margin-top: 0;
    width: 6px;
}
.ordermain .navbox .list li .content {
    padding: 0 8px;
    line-height: 24px;
}
.ordermain .navbox .list li.on .left {
    background: url(../images/member/change_bar.gif) 0 -92px;
    height: 25px;
    position: relative;
    top: 0;
    margin-top: 0;
    width: 5px;
}
.ordermain .navbox .list li.on .bg {
    background: url(../images/member/change_bar.gif) 0 -162px repeat-x;
    height: 25px;
}
.ordermain .navbox .list li .content {
    padding: 0 8px;
    line-height: 25px;
}
.ordermain .navbox .list li .bg {
    background: url(../images/member/change_bar.gif) 0 -60px repeat-x;
    height: 24px;
}
.ordermain .navbox .list li span {
    display: inline-block;
    float: left;
}
.ordermain .navbox .list li a {
    color: #333;
}
.ordermain .navbox .list li.on .right {
    background: url(../images/member/change_bar.gif) 0 -128px;
    height: 25px;
    position: relative;
    top: 0;
    margin-top: 0;
    width: 6px;
}
.ordermain .filter {
    background: none repeat scroll 0 0 #fafafa;
    height: 20px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    border-bottom: 0;
    border-top: 0;
}
.ordermain .filter ul {
    display: inline-block;
}
.ordermain .filter ul li {
    float: left;
    margin-right: 20px;
}
.ordermain .filter ul li.waitsearch {
    margin-left: 13px;
    margin-right: 0;
    border: 1px solid #c9c9c9;
    padding: 0 10px 3px 10px;
    background-color: #ededed;
    cursor: default;
}
.ordermain .filter ul li {
    float: left;
    margin-right: 20px;
}
.line-block {
    width: 330px;
    height: 10px;
    display: inline-block;
}
.ordermain .filter .category select {
    *margin-top: 3px;
}
.time-select {
    width: 115px;
    *width: 125px;
    *border: 1px solid #aaa;
}
.chzn-done{
	width:125px;
}

/*重写chosen样式*/
.category .chosen-container-single .chosen-single,.category_time .chosen-container-single .chosen-single{
	border-radius:3px !important;
}
.chosen-container .chosen-results li{
	width:100% !important;
	font-size:12px !important;
}
.chosen-container .chzn-results  li.highlighted{
	background-color: #ff7e00 !important;
}



.ordermain .listmain {
    margin-bottom: 10px;
}
.ordermain .listmain table.date {
    border: 2px solid #cdcdcd;
    border-top: 0;
    font-size:12px;
}
.ordermain .listmain table.date tr.bgcolor {
    background: #f5f5f5;
    border-bottom: 1px #fff solid;
}
.ordermain .listmain table.date td {
    text-align: center;
    padding: 5px 0;
    border-left: 1px #FFF solid;
}
.ordermain .listmain table.date span{
	color:#fff;
	border-radius:3px;
	padding:2px 7px;
	font-size: 10px;
}
.ordermain .listmain table.date a:hover{
	text-decoration: underline;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.ordermain .listmain .title {
    background-color: #e1e1e1;
    text-align: center;
    height: 30px;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
.nodate {
    vertical-align: middle;
    text-align: center;
}
.category_time {
    position: relative;
    z-index: 3;
}
.time-panl {
    position: absolute;
    background: url(../images/member/time_bg.gif) no-repeat 0 0;
    width: 300px;
    height: 43px;
    top: 24px;
    *left: 0;
    *top: 22px;
}
.time-panl .time-piece {
    margin: 10px 0 0 10px;
}
.main .text {
    height: 20px;
    line-height: 20px;
    width: 100px;
    padding-left: 5px;
}
.text75 {
    width: 105px !important;
    background: url("../images/member/calendar.jpg") no-repeat scroll 5px 3px #fff;
    padding-left: 25px !important;
    border: 1px solid #ccc;
    height: 25px !important;
    line-height: 25px !important;
}
.ordermain .filter .btn.normal {
    background: url(../images/member/btns.gif) -10px -1517px no-repeat;
}
.ordermain .filter .btn.normal:hover {
    background: url(../images/member/btns.gif) -10px -1543px no-repeat;
}
.ordermain .filter .btn {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 20px;
    line-height: 18px;
    border: 0;
    color: #eb6100;
}

.ordermain .navbox .prizetitle {
    border: 1px solid #ececec;
    border-bottom: 0;
    border-top: 0;
    background: url(../images/member/bg_prize_title.jpg) repeat-x;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
    padding-left: 15px;
}

/*账户信息*/
.prizetitle .span-kf {
    color: #666;
    font-weight: normal;
    margin-right: 10px;
}
.userinfo-edit-main .tr-clicked {
    background-color: #fff3e0;
}
.float-right {
    float: right;
}
.userinfo-edit-main {
    padding: 20px 70px 90px 70px;
    border: 1px solid #e6e6e6;
    border-top: 0;
}
.userinfo-edit-main .tab-user {
    position: relative;
}
.userTab td.title {
    width: 170px;
    text-align: right;
    padding: 10px 5px;
}
.userTab td .text, .mobilebox .text {
    border: 1px #c5c5c5 solid;
    width: 200px;
    height: 24px;
    margin: 5px 0;
    line-height: 24px;
}
.userTab td .text-error {
    border: 1px #f00 solid !important;
}
.userTab td {
    padding: 10px 5px;
    font-size:12px;
}
.userTab td.tdinput-width {
    width: 200px;
}
.userinfo-edit-main .user-guide {
    width: 210px;
    height: 122px;
    padding: 45px 30px 0 30px;
    background: url(../images/member/user_account_all_img.gif) 0 -300px no-repeat;
    position: absolute;
    right: -10px;
    top: -10px;
}
.userinfo-edit-main .s-word {
    color: #999;
}
.user-guide .close-btn {
    position: absolute;
    right: 12px;
    top: 23px;
    display: block;
    width: 35px;
    height: 30px;
}
.userinfo-edit-main .user-guide .inner-guide {
    position: relative;
}
.userinfo-edit-main .user-guide ul li {
    padding: 5px 0 5px 5px;
}
.userinfo-edit-main .s-word-1 {
    color: #666;
}
.user-guide .write-btn {
    position: absolute;
    right: 34px;
    bottom: 15px;
    display: block;
    width: 76px;
    height: 20px;
    line-height: 20px;
    color: #fff !important;
    text-align: center;
}
.userinfo-edit-main .submit.normal {
    background: url(../images/member/user_account_all_img.gif) 0 0;
}
.userinfo-edit-main .submit:hover{
	background: url(../images/member/user_account_all_img.gif) -100px 0;
}
.userinfo-edit-main .submit {
    display: inline-block;
    width: 88px;
    height: 28px;
    cursor: pointer;
    border: 0;
}
.userinfo-edit-main .s-a {
    margin-left: 20px;
}
.userTab .bank-tr td,.userTab .pwd-tr td,.userTab .paypwd-tr td {
    padding: 3px 5px;
    height: 36px;
}
.mg-l-10 {
    margin-left: 10px !important;
}
.userinfo-edit-main .pwd-low {
    background-color: #f00;
}
.userinfo-edit-main .pwd-icon {
    width: 60px;
    height: 16px;
    text-align: center;
    color: #fff;
    display: inline-block;
    line-height: 16px;
}
.add-btn {
    width: 15px;
    height: 16px;
    display: inline-block;
    background: url(../images/member/withdraw_btns.gif) 0 -1px no-repeat;
    margin-right: 3px;
    margin-left: 20px;
    vertical-align: middle;
}
.add_banks{
	font-size: 14px;
	color: #006fc5;
}
.add_banks:hover{
	text-decoration: underline;
}

/*明细*/
.account {
    margin-bottom: 10px;
    background-color: #fcfcfc;
    border: 1px solid #ececec;
}
.account .tit {
    background: url(../images/member/tit_bg.gif) repeat-x;
    border-bottom: 1px solid #fff;
    height: 26px;
    position: relative;
    z-index: 5;
}
.account_switch {
    position: absolute;
    min-width: 84px;
    _width: 84px;
    padding: 5px 0 4px;
    margin-left: 5px;
}
.account_switch label {
    margin-left: 5px;
    cursor: pointer;
}
.account ul {
    padding: 15px 0 15px 25px;
}
.account ul li.end {
    border-right: 0;
}
.clearfix {
    zoom: 1;
}
.account ul li.star {
    border-left: none;
}
.account ul li {
    float: left;
    color: #333;
    width: 260px;
    border-right: 1px solid #dadada;
    border-left: 1px solid #fff;
    text-align: center;
}
.detail_explain {
    background: url(../images/member/tip.gif) repeat;
    height: 90px;
    padding: 5px 0 0 10px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
}
.detail_explain ul li {
    background: url(../images/member/point.gif) no-repeat left;
    padding-left: 10px;
    line-height: 22px;
    color: #727272;
}
.detail .tab {
    border-bottom: 1px solid #cdcdcd;
}
.detail .tab ul {
    display: inline-block;
}
.detail .tab ul li {
    float: left;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
    top: 1px;
}
.detail .tab ul li.on{height:24px;}
.detail .tab ul li a:hover, .detail .tab ul li a:active, .detail .tab ul li a:link, .detail .tab ul li a:visited {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.detail .tab ul li .left {
    background: url(../images/member/change_bar.gif) 0 0;
    height: 24px;
    position: relative;
    top: 1px;
    margin-top: 0;
    width: 6px;
}
.detail .tab ul li span {
    display: inline-block;
    vertical-align: top;
}
.detail .tab ul li .content {
    padding: 0 8px;
    line-height: 24px;
}
.detail .tab ul li .bg {
    background: url(../images/member/change_bar.gif) 0 -60px repeat-x;
    height: 24px;
}
.detail .tab ul li.on .bg {
    background: url(../images/member/change_bar.gif) 0 -162px repeat-x;
    height: 25px;
}
.detail .tab ul li.on .left {
    background: url(../images/member/change_bar.gif) 0 -92px;
    height: 25px;
    position: relative;
    top: 0;
    margin-top: 0;
    width: 5px;
}
.detail .tab ul li.on .right {
    background: url(../images/member/change_bar.gif) 0 -128px;
    height: 25px;
    position: relative;
    top: 0;
    margin-top: 0;
    width: 6px;
}
.detail .tab ul li .right {
    background: url(../images/member/change_bar.gif) 0 -29px;
    height: 23px;
    position: relative;
    top: 1px;
    margin-top: 0;
    width: 6px;
}
.clear {
    line-height: 1px;
    font-size: 1px;
    height: 1px;
    overflow: hidden;
}
.detail .filter {
    border: 1px solid #cdcdcd;
    border-bottom: 0;
    border-top: 0;
    padding: 5px 10px;
    background: #fafafa;
}
.detail .filter ul li {
    float: left;
    margin-right: 20px;
}
.detail table.data {
    text-align: center;
    border: 1px solid #cdcdcd;
    border-top: 0;
    margin-bottom: 10px;
    border-collapse: separate;
    font-size:12px;
}
.detail table {
    margin: 0 auto;
}
.detail table.data tr.tit {
    background: #e1e1e1;
}
.detail table.data tr {
    height: 32px;
}
.detail table.data th {
    font-weight: normal;
}
.detail table.data .nodata {
    height: 120px;
    background-color: #FFF;
}
.detail table.data a {
    color: #0012ff;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.detail .filter .btn.normal {
    background: url(../images/member/btns.gif) -10px -1517px no-repeat;
}
.detail .filter .btn:hover {
    background: url(../images/member/btns.gif) -10px -1543px no-repeat;
}
.detail .filter .btn {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 20px;
    line-height: 18px;
    border: 0;
    color: #eb6100;
}

/*message*/
.message_tip {
    color: #ff9500;
    padding: 10px;
    background: #fcfcfc;
}
.message_tip .on {
    display: inline-block;
    padding: 2px 2px 2px 6px;
    background: #ff9500;
    color: #fff;
}
.message_tip span {
    margin-right: 10px;
}
.message_tip .on a:link, .message_tip .on a:hover, .message_tip .on a:visited {
    color: #fff;
}
.message_tip a:link, .message_tip a:hover, .message_tip a:visited {
    color: #ff9500;
    text-decoration: none;
}
address, cite, dfn, em, var {
    font-style: normal;
}
.message_bot_btn {
    position: relative;
    margin: 10px 20px 20px 41px;
}
.message_bot_btn label {
    color: #005aa0;
    cursor: pointer;
}
#del_all_message {
    width: 35px;
}
#mark_read {
    width: 70px;
}
.message_bot_btn .btn {
    margin-left: 10px;
    padding-left: 10px;
}
.message_bot_btn .btn, .message_bot_btn .btn em {
    background: url(../images/member/btns_small.png) no-repeat 0 0;
    width: 35px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    cursor: pointer;
}
.message_bot_btn .btn em {
    background-position: right -18px;
    float: right;
    width: 5px;
}
.new_lottery_tab td a:hover{
	text-decoration: underline;
}
.check_span{
	width:12px;
	height:12px;
	border:1px solid #5f8bf2;
	margin-right:5px;
	display: inline-block;
	border-radius:2px;
	background: #fff;
}
.check_span_checked{
    background: url(../images/member/checkbox_icon.png) no-repeat -18px -2px;
}
input[type="checkbox"] {
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

/*充值*/
.ucmain {
    border: 1px solid #ececec;
    padding: 15px 30px 10px;
    _padding: 15px 27px 10px;
    min-height: 340px;
    height: auto!important;
    height: 340px;
}
.czmain {
    padding-bottom: 16px;
}
.ucmain .infobox {
    padding: 0;
    border-bottom: solid 2px #ff9500;
    background: 0;
    color: #666;
    font-size: 14px;
    height: 30px;
    line-height: 20px;
}
.infobox .userinfo {
    float: left;
}
.userinfo .user {
    font-weight: bold;
    color: #eb6100;
}
strong, b {
    font-weight: bold;
}
.infobox .menu {
    float: right;
}
.ucmain .menu a {
    font-size: 12px;
}
.infobox .menu a {
    color: #005aa0;
}
.menu a:hover, .menu a:active, .menu a:visited {
    color: #b44400;
}
.ucmain .navbox {
    border-bottom: 1px #e2e1dd solid;
    width: 772px;
}
.czMain .navbox {
    margin-top: 25px;
}
.czmain .navbox {
    margin-top: 25px;
    width: 772px;
    border-bottom: 1px #ffb583 solid;
    position: relative;
    margin-bottom:20px;
}
.czmain .navbox span.info {
    float: left;
    font-size: 14px;
    margin-top: 7px;
    padding: 0 10px;
}
.czMain .navbox span.info {
    margin-bottom: 25px;
    width: 100%;
    padding: 0;
    color: #333;
    font-weight: bold;
    margin-top: 0;
}
.czMain .navbox ul {
    padding-left: 25px;
}
.czmain .navbox ul {
    float: left;
}
.czMain .navbox li.on {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #ff9500;
    background: #fff;
    font-weight: bold;
    position: relative;
    height: 22px;
    line-height: 20px;
    width: 85px;
}
.czmain .navbox li {
    float: left;
    background: url(../images/member/lhc_allbg.gif) -94px -147px no-repeat;
    width: 88px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    margin-left: 3px;
    padding-top: 3px;
    font-size: 14px;
    color: #eb6100;
    position: relative;
}
.czMain .navbox li {
    width: 85px;
    background: #fafafa;
    height: 24px;
    line-height: 24px;
    margin: 0 0 0 2px;
    font-size: 12px;
    border: solid 1px #e1e1e1;
    border-bottom: 0;
    border-radius: 1px;
    padding: 0;
}
.czmain .navbox li a {
    font-size: 14px;
    color: #eb6100;
    display: block;
    text-decoration: none;
}
.czMain .navbox li a {
    color: #666;
    font-size: 12px;
}
.cz-platform-box, .wy-box, .no-wy-box {
    margin-top: 20px;
}
.online-tit, .fast-tit, .bank-tit {
    margin-left: 25px;
    line-height: 20px;
    color: #333;
}
.online-tit span {
    width: 60px;
    height: 22px;
    background: url(../images/member/recharge_new.png) -193px -50px no-repeat;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    _background: url(../images/member/recharge_new.gif) -193px -50px no-repeat;
}
.fast-tit span {
    width: 56px;
    height: 20px;
    background: url(../images/member/recharge_new.png) -349px -50px no-repeat;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    _background: url(../images/member/recharge_new.gif) -349px -50px no-repeat;
}
.bank-tit span {
    width: 56px;
    height: 20px;
    background: url(../images/member/recharge_new.png) -420px -50px no-repeat;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    _background: url(../images/member/recharge_new.gif) -420px -50px no-repeat;
}
.wy-box .ws_bank_new, .no-wy-box .ws_bank_new {
    margin: 15px 0 10px 0;
    display: inline-block;
}
.ws_bank_new li {
    border: 1px #d6d6d6 solid;
    float: left;
    height: 30px;
    margin: 10px 0 0 -1px;
    padding: 4px;
    position: relative;
    width: 143px;
    display: inline;
}
.czMain .ws_bank_new li {
    text-align: left;
    background: 0;
    color: #999;
    border: 0;
    margin: 5px 10px 10px 0;
    height: 35px;
    line-height: 24px;
    width: 160px;
    cursor: pointer;
}
.czMain .ws_bank_new li a {
    display: block;
    text-decoration: none;
}
.cz-platform-box .ws_bank_new li a:hover, .wy-box .ws_bank_new li a:hover, .no-wy-box .ws_bank_new li a:hover, .navbox .ws_bank_new li a:hover {
    border-bottom: medium none;
    display: block;
    left: 0;
    margin: -2px 0 0 -2px;
    padding: 4px;
    position: absolute;
    top: 0;
    width: 160px;
    border: 2px solid #d6d6d6;
    background: 0;
    height: 37px;
}
.czMain .ws_bank_new li .hot {
    background: 0;
    border: medium none;
    height: 37px;
    left: 0;
    margin: -2px 0 0 -2px;
    padding: 4px;
    position: absolute;
    top: 0;
    border: solid 2px #ff9500;
    width: 160px;
}
.czMain .ws_bank_new li .hot:hover {
    background: 0;
    border: medium none;
    height: 37px;
    left: 0;
    margin: -2px 0 0 -2px;
    padding: 4px;
    position: absolute;
    top: 0;
    border: solid 2px #ff9500;
    width: 160px;
}
.ws_bank_new li input {
    display: inline;
    float: left;
    height: 13px;
    margin: 12px 6px 0;
    width: 13px;
}
.wy-box .ws_bank_new li .kai, .no-wy-box .ws_bank_new li .kai, .wy-box .ws_bank_new li .hui, .no-wy-box .ws_bank_new li .hui {
    color: #005aa0;
    cursor: pointer;
}
.wy-box .ws_bank_new li .kai i, .no-wy-box .ws_bank_new li .kai i, .kai-other i, .kai-more i, .yy-text i {
    width: 10px;
    height: 6px;
    overflow: hidden;
    display: inline-block;
    background: url(../images/member/recharge_new.png) -380px -150px no-repeat;
    margin-left: 5px;
    _background: url(../images/member/recharge_new.gif) -380px -150px no-repeat;
}
.nextBtn a {
    width: 120px;
    height: 40px;
    display: inline-block;
    background: url(../images/member/recharge_new.png) 0 0 no-repeat;
    _background: url(../images/member/recharge_new.gif) 0 0 no-repeat;
}
.czmain input {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    height: 22px;
}
.cz-limit,.cz-fasts {
    line-height: 30px;
    height: 30px;
    display: inline-block;
    color: #999;
    font-size: 12px;
    font-weight: normal;
}
.hidn{
	display:none;
}
.czConfirm {
    margin: 30px 0 0 0px;
    color: #999;
    display: inline-block;
}
.czConfirm tr {
    height: 50px;
    line-height: 50px;
    font-size:12px;
    border-bottom: 1px dashed #ffce89;
}
.czConfirm tr td{
	font-size:14px;
}
.cz-table tr{
	font-size: 12px; color: #333; font-weight: bold;line-height: 40px;
}
.czConfirm .suc-tit {
    text-align: right;
    float: right;
}
.czSubmit .submit {
    width: 110px;
    height: 40px;
    display: inline-block;
    cursor:pointer;
    background: url(../images/member/recharge_new.png) -350px 0 no-repeat;
    _background: url(../images/member/recharge_new.png) -350px 0 no-repeat;
}
.border_dot {
    border: 1px dotted #898;
    border-radius: 5px;
    line-height: 1.8em;
    padding: 15px 25px;
    font-size:12px;
    text-align: left;
}
.copy_btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-red {
    background-color: #bbbbbb;
    background-image: linear-gradient(to bottom, #bbbbbb, #858585);
    border: 1px solid #9f9f9f;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.copy_btn {
    padding: 4px 25px;
    margin-right: 40px;
}
#msg{font-size:12px;}
.gift-card-box {
    margin-left: 25px;
    color: #666;
    font-size:12px;
    margin-bottom:15px;
}

.gift-card-box .jia {
    width: 14px;
    height: 14px;
    background: url(../images/member/recharge_new.png) -350px -100px no-repeat;
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    cursor: pointer;
    _background: url(../images/member/recharge_new.png) -350px -100px no-repeat;
}
.gift-card-box .jian {
    width: 14px;
    height: 14px;
    background: url(../images/member/recharge_new.png) -350px -151px no-repeat;
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    cursor: pointer;
    _background: url(../images/member/recharge_new.gif) -350px -151px no-repeat;
}

.gift-card-con {
    margin: 5px 20px;
}
.gift-card-list li {
    cursor: pointer;
   	line-height: 25px;
    *padding-bottom: 10px;
}

/*取款*/
.tkmain {
    border: 0;
    padding: 0;
}
.draw-main {
    width: 828px;
}
.gmmain .infobox-draw {
    height: 36px;
    padding: 12px 10px 0 10px;
    border: 1px solid #ececec;
    background: url(../images/member/infobox_line.gif) 0 0 repeat-x;
    position: relative;
}
.gmmain .infobox-draw .draw-icon {
    display: block;
    position: absolute;
    top: 1px;
    left: 100px;
    background-color: #fe9612;
    padding: 0 3px;
    color: #fff;
    border-radius: 3px;
}
.infobox-draw .userinfo-draw {
    float: none;
    position: relative;
}
.infobox-draw .userinfo-draw .userinfo-left {
    float: left;
}
.userinfo-draw .userinfo-tit {
    font-weight: bold;
    font-size: 14px;
    margin-right: 60px;
}
.userinfo-draw .money {
    color: #eb6100;
    margin-right: 0;
}
.infobox-draw .userinfo-draw .userinfo-right {
    float: right;
    _padding-top: 2px;
}
.next-btn {
    width: 15px;
    height: 17px;
    display: inline-block;
    background: url(../images/member/withdraw_btns.gif) 0 -23px no-repeat;
    margin-right: 3px;
    vertical-align: middle;
}
.infobox-draw .userinfo-draw a {
    font-size: 14px;
    color: #006fc5;
}
.infobox-draw .userinfo-draw a:hover{
	text-decoration: underline;
}
.gmmain .gmbtn {
}
.gmmain .gmbtn .sub_btn.normal {
    background: url(../images/member/draw_btns.gif) 0 0 no-repeat;
}
.gmmain .gmbtn .sub_btn:hover {
    background: url(../images/member/draw_btns.gif) 0 -41px no-repeat;
}
.gmmain .gmbtn .sub_btn,.czConfirm .gmbtn .sub_btn{
    width: 122px;
    height: 37px;
    border: 0;
    cursor: pointer;
    float: left;
}
.gmmain .gmbtn .btntip {
    float: left;
    color: #7f7f7f;
    margin-left: 10px;
    margin-top: 10px;
}
.czConfirm .gmbtn .sub_btn.normal {
    background: url(../images/member/draw_btns.gif) 0 -121px no-repeat;
}
.czConfirm .gmbtn .sub_btn:hover {
    background: url(../images/member/draw_btns.gif) 0 -162px no-repeat;
}

/*步骤*/
.for-liucheng {
    height: 50px;
    padding: 20px 0 0 0;
    position: relative;
}
.liulist.for-cur {
    background: #ff9500;
}
.liulist {
    float: left;
    width: 25%;
    height: 7px;
    background: #ccc;
}
.liutextbox {
    position: absolute;
    width: 100%;
    left: 0;
    top: 10px;
}
.liutextbox .liutext {
    float: left;
    width: 25%;
    text-align: center;
}
.liutextbox .liutext em {
    display: inline-block;
    width: 24px;
    height: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    background: #ccc;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: bold;
    color: #fff;
}
.liutextbox .for-cur em {
    background: #ff9500;
}
.liutextbox .for-cur strong {
    color: #ff9500;
}
.liutextbox .liutext strong {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    font-weight: 400;
}
.inputText {
    border: solid 1px #E5E5E5;
    background: #FFFFFF;
    padding: 4px;
    display: block;
    font-size: 11px;
    background: -webkit-gradient( linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF) );
    background: -moz-linear-gradient( top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px );
    -moz-box-shadow: 0px 0px 8px #f0f0f0;
    -webkit-box-shadow: 0px 0px 8px #f0f0f0;
    box-shadow: 0px 0px 8px #f0f0f0;
}
.inputText:focus{
	background: #feffef;
	border:1px solid #adccfc;
}


.message_table {
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}
.message_table th, .message_table td {
    border-top: 1px solid #cfcfcf;
    line-height: 1em;
    padding: 15px 5px;
    text-align: center;
    vertical-align: top;
}
.message_table .bg_black3 {
    background: #999ca1 none repeat scroll 0 0;
}
.message_table td span{
	color: #fff;
	border-radius: 3px;
	padding: 3px 7px;
	font-size: 12px;
}

/*积分兑换*/
.ucmainPadding{
	padding: 15px 39px 10px;
	background: url(../images/draw/detail_main_bg.gif) repeat-x;
}
.card_tab {
    margin: 0 auto;
    font-size: 14px;
}
.card_tab tr {
    height: 38px;
    line-height: 38px;
}
.card_tab .tit {
    font-weight: bold;
    text-align: right;
    display: inline-block;
}
.card_tab .text-input {
    border: 1px solid #bebebe;
    color: #f66e00;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    width: 155px;
}
.card_tab .centers{text-align: center;}
.card_tab #excBtn {
    background: url(../images/member/duihuan.gif) no-repeat scroll 0 0 transparent;
    display: block;
    height: 42px;
    margin: 10px 0 0 0;
    width: 153px;
}
.card_tab tr.comment {
    height: 14px;
    line-height: 14px;
}
.card_tab .gray {
    font-size: 12px;
    color: #929292;
}
.card_tab thead{
    width: 710px;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
}
.card_tab .bgcolor {
    background: #f7f7f7;
}
.card_tab ul li{
	margin-left:40px;
}
.card_tab ul li.exchangeBtn{
	margin-left:110px;
}
.card_tab .buybtn {
    background: url(../images/buy_btn.gif);
    width: 57px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    color: #e75200;
    text-decoration: none;
    margin-left: 15px;
}
.BetInf, .cheDan {
    font-size: 13px;
    color: #29abe2 !important;
    cursor: pointer;
    font-weight: bold;
}
/*合买*/
.green, .green a, a.green {
    color: #090;
}
.details-bgcolor {
    background: #dce6f4;
}
.tablelay {
    text-align: center;
    font-size:12px;
    margin: 0 5px;
    width: 99%;
}
table.tablelay th {
    background: #fff4d1;
    color: #333;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}
table.tablelay td {
    background: #fff;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 26px;
    line-height: 26px;
    padding: 0;
}
.show-details {
    background: url(../images/joint/jclq_draw_bg.gif) 0 -30px no-repeat;
    width: 59px;
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    display: block;
    text-align: left;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
}
.hide-details {
    background: url(../images/joint/jclq_draw_bg.gif) 0 -57px no-repeat;
    width: 59px;
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    display: block;
    text-align: left;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
}
/*order*/
.label{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-1 {/*未开奖*/
    background-color: #428bca;
}
.label-2 {/*已中奖*/
    background-color: #5cb85c;
}
.label-3 {/*未中奖*/
    background-color: #d9534f;
}
.label-4{
	background-color: #f0ad4e;
}

.ddbtn{background: url(../images/member/btns.gif) -10px -1517px no-repeat;
	color: #eb6100;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 20px;
    line-height: 18px;}