
<form>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">冠亚和 </th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>和大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和大" rate="0.0" oddsId="" class="isNowYear" rakeBack="511">
				</td>
				<td>和小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和小" rate="0.0" oddsId="" class="isNowYear" rakeBack="512">
				</td>
			</tr>
			<tr>
				<td>和单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和单" rate="0.0" oddsId="" class="isNowYear" rakeBack="513">
				</td>
				<td>和双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和双" rate="0.0" oddsId="" class="isNowYear" rakeBack="514">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">03</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="03" rate="0.0" oddsId="" rakeBack="515">
				</td>
				<td class="ballColor ballcolor-g">04</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="04" rate="0.0" oddsId="" rakeBack="516">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">05</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="05" rate="0.0" oddsId="" rakeBack="517">
				</td>
				<td class="ballColor ballcolor-g">06</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="06" rate="0.0" oddsId="" rakeBack="518">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">07</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="07" rate="0.0" oddsId="" rakeBack="519">
				</td>
				<td class="ballColor ballcolor-g">08</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="08" rate="0.0" oddsId="" rakeBack="520">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">09</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="09" rate="0.0" oddsId="" rakeBack="521">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" rakeBack="522">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" rakeBack="523">
				</td>
				<td class="ballColor ballcolor-g">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" rakeBack="524">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" rakeBack="525">
				</td>
				<td class="ballColor ballcolor-g">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" rakeBack="526">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" rakeBack="527">
				</td>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" rakeBack="528">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" rakeBack="529">
				</td>
				<td class="ballColor ballcolor-g">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" rakeBack="530">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" rakeBack="531">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(8, 'guan-yajun', 'guan-yajun', '冠亚军')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
