.result-con span {
	width: 48px;
	height: 33px;
	line-height: 33px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	font-weight: bold;
	color: #000;
	background: url(../images/cqball_bg.gif) no-repeat;
	font-size: 16px;
}

.ball-content table td {
	/** border: 0; */
	padding: 5px 0;
	font-weight: bold;
}

.ballColor {
	font-weight: bold;
	height: 30px;
	width: 32px;
}

.ballcolor-r {
	background: url(../images/r.gif) no-repeat center center;
}

.ballcolor-g {
	background: url(../images/g.gif) no-repeat center center;
}

.ballcolor-b {
	background: url(../images/b.gif) no-repeat center center;
}

#myTab li {
	width: 50%;
	text-align: center;
	font-weight: bold;
}

.mzButton {
	padding-top: 8px;
}

/** 江苏骰宝 */
.ball-1, .ball-2, .ball-3, .ball-4, .ball-5, .ball-6, .ball-7 {
	width: 27px;
	height: 27px;
	float: left;
	background: url(../images/ball.png) no-repeat;
}

.ball-1 {
	background-position: 0 -27px;
}

.ball-2 {
	background-position: 0 -54px;
}

.ball-3 {
	background-position: 0 -81px;
}

.ball-4 {
	background-position: 0 -108px;
}

.ball-5 {
	background-position: 0 -135px;
}

.ball-6 {
	background-position: 0 -162px;
}

.ball-7 {
	background-position: 0 0;
}