
<form>
	<table betprefix="冠军">
		<thead>
			<tr>
				<th colspan="6">冠军</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="亚军">
		<thead>
			<tr>
				<th colspan="6">亚军</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="季军">
		<thead>
			<tr>
				<th colspan="6">季军</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第四名">
		<thead>
			<tr>
				<th colspan="6">第四名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第五名">
		<thead>
			<tr>
				<th colspan="6">第五名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第六名">
		<thead>
			<tr>
				<th colspan="6">第六名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第七名">
		<thead>
			<tr>
				<th colspan="6">第七名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第八名">
		<thead>
			<tr>
				<th colspan="6">第八名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第九名">
		<thead>
			<tr>
				<th colspan="6">第九名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第十名">
		<thead>
			<tr>
				<th colspan="6">第十名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" class="shuzi" rakeBack="510">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(8, 'danhao1-10', 'danhao1-10', '单号1-10')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
