
<form>
	<table betprefix="">
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">0</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="0" rate="0.0" oddsId="" class="shuzi" rakeBack="573">
				</td>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="573">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="573">
				</td>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="573">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="573">
				</td>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="573">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="573">
				</td>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="573">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="573">
				</td>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="573">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="仟佰">
		<thead>
			<tr>
				<th colspan="6">千位<br/><span style="color: red; font-size: 12px;">(*注：总合单，总合大，总合小，总合双，龙，虎，和与佰位做比较)</span></th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th width="%">号码</th>
				<th width="%">赔率</th>
				<th width="%">金额</th>
				<th width="%">号码</th>
				<th width="%">赔率</th>
				<th width="%">金额</th>
			</tr>
			<tr>
				<td>总和大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总和大" rate="0.0" oddsId="" rakeBack="560">
				</td>
				<td>总和小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总和小" rate="0.0" oddsId="" rakeBack="561">
				</td>
			</tr>
			<tr>
				<td>总和单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总和单" rate="0.0" oddsId="" rakeBack="562">
				</td>
				<td>总和双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总和双" rate="0.0" oddsId="" rakeBack="563">
				</td>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="564">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="565">
				</td>
			</tr>
			<tr>
				<td>和</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和" rate="0.0" oddsId="" rakeBack="566">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="">
		<tbody>
			<tr>
				<td width="20%">大</td>
				<td width="12%" class="text-red" >0.0</td>
				<td width="23%"><input type="text" name="大" rate="0.0" oddsId="" rakeBack="567">
				</td>
				<td width="20%">小</td>
				<td width="12%" class="text-red" >0.0</td>
				<td width="23%"><input type="text" name="小" rate="0.0" oddsId="" rakeBack="568">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="569">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="570">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="571">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="572">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(9, 'qianwei', 'qianwei', '千位')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
