
				<form>
					<table class="marksix_content">
						<tr>
							<td class="bColorR"><span>01</span></td>
							<td class="bColorR"><span>02</span></td>
							<td class="bColorR"><span>07</span></td>
							<td class="bColorR"><span>08</span></td>
							<td class="bColorR"><span>12</span></td>
							<td class="bColorR"><span>13</span></td>
							<td class="bColorR"><span>18</span></td>
							<td class="bColorR"><span>19</span></td>
							<td class="bColorR"><span>23</span></td>
						</tr>
						<tr>
							<td class="bColorR"><span>24</span></td>
							<td class="bColorR"><span>29</span></td>
							<td class="bColorR"><span>30</span></td>
							<td class="bColorR"><span>34</span></td>
							<td class="bColorR"><span>35</span></td>
							<td class="bColorR"><span>40</span></td>
							<td class="bColorR"><span>45</span></td>
							<td class="bColorR"><span>46</span></td>
							<td></td>
						</tr>
						<tr>
							<td class="bColorB"><span>03</span></td>
							<td class="bColorB"><span>04</span></td>
							<td class="bColorB"><span>09</span></td>
							<td class="bColorB"><span>10</span></td>
							<td class="bColorB"><span>14</span></td>
							<td class="bColorB"><span>15</span></td>
							<td class="bColorB"><span>20</span></td>
							<td class="bColorB"><span>25</span></td>
							<td class="bColorB"><span>26</span></td>
						</tr>
						<tr>
							<td class="bColorB"><span>31</span></td>
							<td class="bColorB"><span>36</span></td>
							<td class="bColorB"><span>37</span></td>
							<td class="bColorB"><span>41</span></td>
							<td class="bColorB"><span>42</span></td>
							<td class="bColorB"><span>47</span></td>
							<td class="bColorB"><span>48</span></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="bColorG"><span>05</span></td>
							<td class="bColorG"><span>06</span></td>
							<td class="bColorG"><span>11</span></td>
							<td class="bColorG"><span>16</span></td>
							<td class="bColorG"><span>17</span></td>
							<td class="bColorG"><span>21</span></td>
							<td class="bColorG"><span>22</span></td>
							<td class="bColorG"><span>27</span></td>
							<td class="bColorG"><span>28</span></td>
						</tr>
						<tr>
							<td class="bColorG"><span>32</span></td>
							<td class="bColorG"><span>33</span></td>
							<td class="bColorG"><span>38</span></td>
							<td class="bColorG"><span>39</span></td>
							<td class="bColorG"><span>43</span></td>
							<td class="bColorG"><span>44</span></td>
							<td class="bColorG"><span>49</span></td>
							<td></td>
							<td></td>
						</tr>
					</table>
					<div style="height: 5px;"></div>
					<table class="marksix_footer">
						<thead>
							<tr class="bg-warning">
								<th>号码</th>
								<th>赔率</th>
								<th>金额</th>
								<th>号码</th>
								<th>赔率</th>
								<th>金额</th>
							</tr>
						</thead>
						<tr>
							<td><span>红单</span></td>
							<td><span class="text-red" data-val="红单">0.0</span></td>
							<td><input type="text" /></td>
							<td><span>红双</span></td>
							<td><span class="text-red" data-val="红双">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td><span>红大</span></td>
							<td><span class="text-red" data-val="红大">0.0</span></td>
							<td><input type="text" /></td>
							<td><span>红小</span></td>
							<td><span class="text-red" data-val="红小">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td><span>蓝单</span></td>
							<td><span class="text-red" data-val="蓝单">0.0</span></td>
							<td><input type="text" /></td>
							<td><span>蓝双</span></td>
							<td><span class="text-red" data-val="蓝双">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td><span>蓝大</span></td>
							<td><span class="text-red" data-val="蓝大">0.0</span></td>
							<td><input type="text" /></td>
							<td><span>蓝小</span></td>
							<td><span class="text-red" data-val="蓝小">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td><span>绿单</span></td>
							<td><span class="text-red" data-val="绿单">0.0</span></td>
							<td><input type="text" /></td>
							<td><span>绿双</span></td>
							<td><span class="text-red" data-val="绿双">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td><span>绿大</span></td>
							<td><span class="text-red" data-val="绿大">0.0</span></td>
							<td><input type="text" /></td>
							<td><span>绿小</span></td>
							<td><span class="text-red" data-val="绿小">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
					</table>
					<div class="text-center footercontent">
						<div class="text-center paddingtopbotton5">
							<input type="button" class="btn btn-warning" value="重填" onClick="$('.qingkong').click();" /> <input type="button" onclick="addToBetList('bb', '特码半波')" class="btn btn-warning" value="确认下注" />
						</div>
					</div>
				</form>
				<script type="text/html" style="display: none;" id="marksixFooterTemplate">
					{#
					_.each(list, function(item, index, list){
					#}
						{{ index == 0 ? '<tr>' : ''}}
						{{ (index != 0 && index % 2 == 0) ? '</tr><tr>' : ''}}
							<td><span>{{item.name}}</span></td>
							<td><span class="text-red" data-val="{{item.name}}" data-marksixid="{{item.id}}">{{item.odds}}</span></td>
							<td><input type="text" /></td>
						{{ index == list.length - 1 ? '</tr>' : ''}}
					{#
					});
					#}
				</script>