
<form>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">混合 </th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" class="isNowYear" rakeBack="958">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" class="isNowYear" rakeBack="959">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" class="isNowYear" rakeBack="960">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" class="isNowYear" rakeBack="961">
				</td>
			</tr>
			<tr>
				<td>大单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大单" rate="0.0" oddsId="" class="isNowYear" rakeBack="962">
				</td>
				<td>大双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大双" rate="0.0" oddsId="" class="isNowYear" rakeBack="964">
				</td>
			</tr>
			<tr>
				<td>小单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小单" rate="0.0" oddsId="" class="isNowYear" rakeBack="963">
				</td>
				<td>小双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小双" rate="0.0" oddsId="" class="isNowYear" rakeBack="965">
				</td>
			</tr>
			<tr>
				<td>极大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="极大" rate="0.0" oddsId="" class="isNowYear" rakeBack="966">
				</td>
				<td>极小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="极小" rate="0.0" oddsId="" class="isNowYear" rakeBack="967">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">波色、豹子 </th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>红波</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="红波" rate="0.0" oddsId="" class="isNowYear" rakeBack="968">
				</td>
				<td>绿波</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="绿波" rate="0.0" oddsId="" class="isNowYear" rakeBack="969">
				</td>
			</tr>
			<tr>
				<td>蓝波</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="蓝波" rate="0.0" oddsId="" class="isNowYear" rakeBack="970">
				</td>
				<td>豹子</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="豹子" rate="0.0" oddsId="" class="isNowYear" rakeBack="971">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">特码 </th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor">0</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="0" rate="0.0" oddsId="" class="shuzi" rakeBack="972">
				</td>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="973">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-b">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="974">
				</td>
				<td class="ballColor ballcolor-r">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="975">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="976">
				</td>
				<td class="ballColor ballcolor-b">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="977">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-r">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="978">
				</td>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="979">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-b">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="980">
				</td>
				<td class="ballColor ballcolor-r">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="981">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" class="shuzi" rakeBack="982">
				</td>
				<td class="ballColor ballcolor-b">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" class="shuzi" rakeBack="983">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-r">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" class="shuzi" rakeBack="984">
				</td>
				<td class="ballColor">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" class="shuzi" rakeBack="985">
				</td>
			</tr>
			<tr>
				<td class="ballColor">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" class="shuzi" rakeBack="986">
				</td>
				<td class="ballColor ballcolor-r">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" class="shuzi" rakeBack="987">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" class="shuzi" rakeBack="988">
				</td>
				<td class="ballColor ballcolor-b">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" class="shuzi" rakeBack="989">
			</tr>
			<tr>
				<td class="ballColor ballcolor-r">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" class="shuzi" rakeBack="990">
				</td>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" class="shuzi" rakeBack="991">
			</tr>
			<tr>
				<td class="ballColor ballcolor-b">20</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="20" rate="0.0" oddsId="" class="shuzi" rakeBack="992">
				</td>
				<td class="ballColor ballcolor-r">21</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="21" rate="0.0" oddsId="" class="shuzi" rakeBack="993">
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">22</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="22" rate="0.0" oddsId="" class="shuzi" rakeBack="994">
				</td>
				<td class="ballColor ballcolor-b">23</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="23" rate="0.0" oddsId="" class="shuzi" rakeBack="995">
			</tr>
			<tr>
				<td class="ballColor ballcolor-r">24</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="24" rate="0.0" oddsId="" class="shuzi" rakeBack="996">
				</td>
				<td class="ballColor ballcolor-g">25</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="25" rate="0.0" oddsId="" class="shuzi" rakeBack="997">
			</tr>
			<tr>
				<td class="ballColor ballcolor-b">26</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="26" rate="0.0" oddsId="" class="shuzi" rakeBack="998">
				</td>
				<td class="ballColor">27</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="27" rate="0.0" oddsId="" class="shuzi" rakeBack="999">
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(11, 'xingyun28', 'xingyun28', '幸运28')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
