
<form>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">骰宝、大小</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td><i class="ball-1"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" isNowYear="1" rakeBack="1003">
				</td>
				<td><i class="ball-2"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" isNowYear="1" rakeBack="1003">
				</td>
			</tr>
			<tr>
				<td><i class="ball-3"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" isNowYear="1" rakeBack="1003">
				</td>
				<td><i class="ball-4"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" isNowYear="1" rakeBack="1003">
				</td>
			</tr>
			<tr>
				<td><i class="ball-5"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" isNowYear="1" rakeBack="1003">
				</td>
				<td><i class="ball-6"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" isNowYear="1" rakeBack="1003">
				</td>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" isNowYear="1" rakeBack="1003">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" isNowYear="1" rakeBack="1003">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" isNowYear="1" rakeBack="1003">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" isNowYear="1" rakeBack="1003">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">围骰、全骰</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td><i class="ball-1"></i><i class="ball-1"></i><i class="ball-1"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1-1-1" rate="0.0" oddsId="" isNowYear="2" rakeBack="1004" style="width: 58px;">
				</td>
				<td><i class="ball-2"></i><i class="ball-2"></i><i class="ball-2"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2-2-2" rate="0.0" oddsId="" isNowYear="2" rakeBack="1004" style="width: 58px;">
				</td>
			</tr>
			<tr>
				<td><i class="ball-3"></i><i class="ball-3"></i><i class="ball-3"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3-3-3" rate="0.0" oddsId="" isNowYear="2" rakeBack="1004" style="width: 58px;">
				</td>
				<td><i class="ball-4"></i><i class="ball-4"></i><i class="ball-4"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4-4-4" rate="0.0" oddsId="" isNowYear="2" rakeBack="1004" style="width: 58px;">
				</td>
			</tr>
			<tr>
				<td><i class="ball-5"></i><i class="ball-5"></i><i class="ball-5"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5-5-5" rate="0.0" oddsId="" isNowYear="2" rakeBack="1004" style="width: 58px;">
				</td>
				<td><i class="ball-6"></i><i class="ball-6"></i><i class="ball-6"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6-6-6" rate="0.0" oddsId="" isNowYear="2" rakeBack="1004" style="width: 58px;">
				</td>
			</tr>
			<tr>
				<td>全骰</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="全骰" rate="0.0" oddsId="" isNowYear="3" rakeBack="1005" style="width: 58px;">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">点数</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>4点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1006">
				</td>
				<td>5点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1007">
				</td>
			</tr>
			<tr>
				<td>6点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1008">
				</td>
				<td>7点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1009">
				</td>
			</tr>
			<tr>
				<td>8点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1010">
				</td>
				<td>9点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1011">
				</td>
			</tr>
			<tr>
				<td>10点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1012">
				</td>
				<td>11点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1013">
				</td>
			</tr>
			<tr>
				<td>12点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1014">
				</td>
				<td>13点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1015">
				</td>
			</tr>
			<tr>
				<td>14点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1016">
				</td>
				<td>15点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1017">
				</td>
			</tr>
			<tr>
				<td>16点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1018">
				</td>
				<td>17点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17点" rate="0.0" oddsId="" isNowYear="4" rakeBack="1019">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">长牌</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td><i class="ball-1"></i><i class="ball-2"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1-2" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
				<td><i class="ball-1"></i><i class="ball-3"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1-3" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
			</tr>
			<tr>
				<td><i class="ball-1"></i><i class="ball-4"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1-4" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
				<td><i class="ball-1"></i><i class="ball-5"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1-5" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
			</tr>
			<tr>
				<td><i class="ball-1"></i><i class="ball-6"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1-6" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
				<td><i class="ball-2"></i><i class="ball-3"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2-3" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
			</tr>
			<tr>
				<td><i class="ball-2"></i><i class="ball-4"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2-4" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
				<td><i class="ball-2"></i><i class="ball-5"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2-5" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
			</tr>
			<tr>
				<td><i class="ball-2"></i><i class="ball-6"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2-6" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
				<td><i class="ball-3"></i><i class="ball-4"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3-4" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
			</tr>
			<tr>
				<td><i class="ball-3"></i><i class="ball-5"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3-5" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
				<td><i class="ball-3"></i><i class="ball-6"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3-6" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
			</tr>
			<tr>
				<td><i class="ball-4"></i><i class="ball-5"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4-5" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
				<td><i class="ball-4"></i><i class="ball-6"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4-6" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
			</tr>
			<tr>
				<td><i class="ball-5"></i><i class="ball-6"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5-6" rate="0.0" oddsId="" isNowYear="5" rakeBack="1002">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">短牌</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td><i class="ball-1"></i><i class="ball-1"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1-1" rate="0.0" oddsId="" isNowYear="6" rakeBack="1001">
				</td>
				<td><i class="ball-2"></i><i class="ball-2"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2-2" rate="0.0" oddsId="" isNowYear="6" rakeBack="1001">
				</td>
			</tr>
			<tr>
				<td><i class="ball-3"></i><i class="ball-3"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3-3" rate="0.0" oddsId="" isNowYear="6" rakeBack="1001">
				</td>
				<td><i class="ball-4"></i><i class="ball-4"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4-4" rate="0.0" oddsId="" isNowYear="6" rakeBack="1001">
				</td>
			</tr>
			<tr>
				<td><i class="ball-5"></i><i class="ball-5"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5-5" rate="0.0" oddsId="" isNowYear="6" rakeBack="1001">
				</td>
				<td><i class="ball-6"></i><i class="ball-6"></i></td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6-6" rate="0.0" oddsId="" isNowYear="6" rakeBack="1001">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(10, 'daxiaoshaibao', 'daxiaoshaibao', '大小骰宝')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
