html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
body {
	margin: 0;
	padding: 0;
	position: relative;
	background-position: center;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	background:url(../images/bj.jpg) no-repeat top left ;
	background-size:  100%;
}
.couten {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: hidden;
}
.couten li {
	position: absolute;
	animation: all 3s linear;
	top:-100px;
	-webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
}
.couten li a{
	display: block;
}
.mo {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .2);
	z-index: 100;
	display: none;
}
.mo .sen {
	width: 70%;
	height: 150px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.mo .sen img {
    width: 60%;
    height: 127px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 212px;
    margin: auto;
    vertical-align: top;
}
.mo .sen h3 {
    width: 50%;
    height: 30px;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: red;
    font-size: 140%;
    font-weight: bold;
    z-index: 999;
}

.mo .sen a {
    width: 26%;
    height: 50px;
    background-color: rgb(174, 222, 244);
    box-shadow: rgba(174, 222, 244, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}
.backward{
	width: 100%;
	background:#ccc;
	opacity: 0.5;
	position: absolute;
	top: 0;
	
}
.backward span{
	display: inline-block;
	width: 100px;
	height: 100px;
	color: #000;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	line-height: 100px;
	font-size: 1000%;
}

.backward-title{
    width: 100%;
    background: #ccc;
    opacity: 0.5;
    position: absolute;
    top: 17%;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.backward-title span{
    display: block;
    width: 100%;
    height: 100px;
    color: #000;
    font-weight: bold;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
}

.top-menu{
	height: 2rem;
	line-height: 2rem;
	width: 100%;
}

.top-menu a,.top-menu span{
	font-size: 18px;
	color: white;
	text-decoration: none;
}
