
		<!-- 快三 和值大小单双 -->
		<ul class="xuanhaomaul" id="select_area_content_standard" _type="1" _row="1" _column="1">
			<li class="numRow">
				<div class="weishu">
					<span class="">和值大小单双</span>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="大">大</span>
					<span class="ballNum" data-num="小">小</span>
					<span class="ballNum" data-num="单">单</span>
					<span class="ballNum" data-num="双">双</span>
				</div>
			</li>
		</ul>
