
		<!-- 快三 二同号单选 -->
		<ul class="xuanhaomaul" id="select_area_content_standard" _type="13">
			<li class="numRow">
				<div class="weishu">
					<span class="">同号</span>
					<div class="btn-group pull-right">
						<div class="btn btn-default f22" data-fastselect="all">全</div>
						<div class="btn btn-default f22" data-fastselect="large">大</div>
						<div class="btn btn-default f22" data-fastselect="less">小</div> 
						<div class="btn btn-default f22" data-fastselect="odd">单</div>
						<div class="btn btn-default f22" data-fastselect="even">双</div>
						<div class="btn btn-default f22" data-fastselect="clear">清</div>
					</div>
				</div>
				<div class="xuanmabox k3">
					<span class="ballNum" data-num="11">11</span>
					<span class="ballNum" data-num="22">22</span>
					<span class="ballNum" data-num="33">33</span>
					<span class="ballNum" data-num="44">44</span>
					<span class="ballNum" data-num="55">55</span>
					<span class="ballNum" data-num="66">66</span>
				</div>
			</li>
			<li class="numRow">
				<div class="weishu">
					<span class="">不同号</span>
					<div class="btn-group pull-right">
						<div class="btn btn-default f22" data-fastselect="all">全</div>
						<div class="btn btn-default f22" data-fastselect="large">大</div>
						<div class="btn btn-default f22" data-fastselect="less">小</div> 
						<div class="btn btn-default f22" data-fastselect="odd">单</div>
						<div class="btn btn-default f22" data-fastselect="even">双</div>
						<div class="btn btn-default f22" data-fastselect="clear">清</div>
					</div>
				</div>
				<div class="xuanmabox k3">
					<span class="ballNum" data-num="1">1</span>
					<span class="ballNum" data-num="2">2</span>
					<span class="ballNum" data-num="3">3</span>
					<span class="ballNum" data-num="4">4</span>
					<span class="ballNum" data-num="5">5</span>
					<span class="ballNum" data-num="6">6</span>
				</div>
			</li>
		</ul>
