
		<!-- 快三 二同号复选 -->
		<ul class="xuanhaomaul" id="select_area_content_standard" _type="5" _row="1" _column="1" _val="P_3">
			<li class="numRow">
				<div class="weishu">
					<span class="">二同号复选</span>
				</div>
				<div class="xuanmabox k3">
					<span class="ballNum" data-num="11">11</span>
					<span class="ballNum" data-num="22">22</span>
					<span class="ballNum" data-num="33">33</span>
					<span class="ballNum" data-num="44">44</span>
					<span class="ballNum" data-num="55">55</span>
					<span class="ballNum" data-num="66">66</span>
				</div>
			</li>
		</ul>
