
		<!-- 快三 三同号单选 -->
		<ul class="xuanhaomaul" id="select_area_content_standard" _type="5" _row="1" _column="1" _val="P_3">
			<li class="numRow">
				<div class="weishu">
					<span class="">三同号单选</span>
				</div>
				<div class="xuanmabox k3">
					<span class="ballNum" data-num="111">111</span>
					<span class="ballNum" data-num="222">222</span>
					<span class="ballNum" data-num="333">333</span>
					<span class="ballNum" data-num="444">444</span>
					<span class="ballNum" data-num="555">555</span>
					<span class="ballNum" data-num="666">666</span>
				</div>
			</li>
		</ul>
