
		<!-- 快三 三同号通选 -->
		<ul class="xuanhaomaul" id="select_area_content_standard" _type="1" _row="1" _column="1" _val="5">
			<li class="numRow">
				<div class="weishu">
					<span class="">三同号通选</span>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="三同号通选">通</span>
				</div>
			</li>
		</ul>
