
		<!-- 时时彩 彩豹子 对子 -->
		<ul class="xuanhaomaul" id="select_area_content_standard" _type="1" _row="1" _column="1" _val="2">
			<li class="numRow">
				<div class="weishu">
					<span class="">对子</span>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="前三">前</span>
					<span class="ballNum" data-num="中三">中</span>
					<span class="ballNum" data-num="后三">后</span>
				</div>
			</li>
		</ul>
