
		<!-- 时时彩 大小单双－前三 -->
		<ul class="xuanhaomaul" id="select_area_content_standard" _type="1" _row="3" _column="3">
			<li class="numRow">
				<div class="cl"></div>
				<div class="weishu">
					<span class="">万位</span>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="大">大</span>
					<span class="ballNum" data-num="小">小</span>
					<span class="ballNum" data-num="单">单</span>
					<span class="ballNum" data-num="双">双</span>
				</div>
				<div class="cl"></div>
			</li>
			<li class="numRow">
				<div class="weishu">
					<span class="">千位</span>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="大">大</span>
					<span class="ballNum" data-num="小">小</span>
					<span class="ballNum" data-num="单">单</span>
					<span class="ballNum" data-num="双">双</span>
				</div>
				<div class="cl"></div>
			</li>
			<li class="numRow">
				<div class="weishu">
					<span class="">百位</span>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="大">大</span>
					<span class="ballNum" data-num="小">小</span>
					<span class="ballNum" data-num="单">单</span>
					<span class="ballNum" data-num="双">双</span>
				</div>
				<div class="cl"></div>
			</li>
		</ul>

