		<!-- 时时彩 后三直选 单式 -->
		<ul class="xuanhaomaul" id="select_area_content_standard" _type="22" _row="3" _column="3">
			<li class="numRow">
				  <div class="ball_select_text"><span class="tz_box_tit">三星玩法-后三单式</span>
			    	<span class="grey">手动输入号码，至少输入1个三位数号码组成一注。</span>
			     </div>
			</li>
			<li class="numRow">
				<div class="ballmain">
	            <textarea id="lt_write_box" style="width:330px ;height:80px;border:1px solid black;padding-top:10px;" _type="22" _pattern="^\d\d\d$" _desc="至少输入1个三位数号码组成一注"></textarea>
	            <span>注意：每一注号码分隔符号：全形逗号("，") 分号(";") 换行("\r","\n") 空白(" ") 隔开。</span>
	        </div>
				<div class="cl"></div>
			</li>
			<li class="numRow">
				
			</li>
		</ul>
<style>
#lt_write_box {
    border: 0 none;
    height: 140px !important;
    width: 330px  !important;
    background: rgba(0, 0, 0, 0) url(../images/input_bg.png) no-repeat scroll 130px 0;
   	border: 1px solid #e1e1e1 !important;
    font-weight: bold;
    font-size:15px;
    box-shadow: inset 3px 3px #f5f5f5;
    padding:5px !important;
}
#lt_example, #lt_help {
    color: #e84f31;
    cursor: pointer;
    float: left;
    font-size: 12px;
    padding-left: 10px;
    width: auto;
}
#lt_example .fanli {
    background: rgba(0, 0, 0, 0) url(../images/all_ico.png) no-repeat scroll -354px -102px;
    float: left;
    height: 10px;
    position: relative;
    right: 5px;
    top: 7px;
    width: 14px;
}
#lt_help .shuoming {
    background: rgba(0, 0, 0, 0) url(../images/all_ico.png) no-repeat scroll -377px -99px;
    float: left;
    height: 12px;
    position: relative;
    right: 5px;
    top: 6px;
    width: 14px;
}
.ball_select {
	height: 24px;
	margin-bottom: 16px;
	line-height: 24px;
	padding: 0;
	color: #333;
	background-position: 0 -114px;
	background-repeat: repeat-x
}

.ball_select .clearball {
	float: right;
	display: inline;
	padding: 0 0 0 10px;
	background: #fff
}

.ball_select select {
	height: 24px;
	vertical-align: top;
	*vertical-align: -3px
}

.ball_select_text {
	float: left;
	display: inline;
	padding: 0 5px 0 0;
	background: #fff
}

.ball_select_text .red, .ball_select_text .blue, .ball_select_text .black
	{
	font-weight: bold
}

.ball_select_other {
	float: right;
	*width: 152px;
	background: #fff
}
.ball_select_other .link_sel{
	cursor: pointer;
	line-height: 23px !important;
	padding:0 5px !important; 
}
.ball_select_other .link_sel, .ball_select_other .link_sel,
	.trend_box .link_sel:link, .trend_box .link_sel:visited {
	display: inline-block;
	height: 22px;
	line-height: 20px;
	padding-left: 10px;
	vertical-align: top;
	*vertical-align: middle;
	border-radius: 2px;
	border: 1px solid #e1e1e1;
	color: #666;
	background: #fafafa;
	display: inline-block;
	height: 22px;
	line-height: 20px;
	padding-left: 10px;
	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa),
		to(#efefef));
	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
	background-image: -o-linear-gradient(top, #fafafa, #efefef);
	background-image: linear-gradient(to bottom, #fafafa, #efefef);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa',
		endColorstr='#ffefefef', GradientType=0)
}

.ball_select_other .link_sel:hover, .trend_box .link_sel:hover {
	background: #fff
}

.ball_select_other .active:link, .ball_select_other .active:hover,
	.ball_select_other .active:visited, .trend_box .active:link, .trend_box .active:hover,
	.trend_box .active:visited {
	position: relative;
	z-index: 1;
	color: #666;
	border-color: #ccc;
	position: relative;
	z-index: 1;
	background-color: #c80c00;
	background-image: -moz-linear-gradient(top, #ececec, #fff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec),
		to(#fff));
	background-image: -webkit-linear-gradient(top, #ececec, #fff);
	background-image: -o-linear-gradient(top, #ececec, #fff);
	background-image: linear-gradient(to bottom, #ececec, #fff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffececec',
		endColorstr='#ffffff', GradientType=0)
}

</style>