
		<!-- 时时彩 龙虎 -->
		<ul class="xuanhaomaul"  id="select_area_content_standard" _type="1" _row="1" _column="1">
			<li class="numRow">
				<div class="weishu">
					<span class="">和</span>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="和">和</span>
				</div>
			</li>
		</ul>
