
		<!-- 时时彩 前三组选 组六 -->
		<ul class="xuanhaomaul"  id="select_area_content_standard" _type="5" _row="1" _column="3" _val="G_3">
			<li class="numRow">
				<div class="weishu">
					<span class="">组六</span>
					<div class="btn-group pull-right" style="margin-top:10px;">
						<div class="btn btn-default f22" data-fastselect="all">全</div>
						<div class="btn btn-default f22" data-fastselect="large">大</div>
						<div class="btn btn-default f22" data-fastselect="less">小</div> 
						<div class="btn btn-default f22" data-fastselect="odd">单</div>
						<div class="btn btn-default f22" data-fastselect="even">双</div>
						<div class="btn btn-default f22" data-fastselect="clear">清</div>
					</div>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="0">0</span>
					<span class="ballNum" data-num="1">1</span>
					<span class="ballNum" data-num="2">2</span>
					<span class="ballNum" data-num="3">3</span>
					<span class="ballNum" data-num="4">4</span>
					<span class="ballNum" data-num="5">5</span>
					<span class="ballNum" data-num="6">6</span>
					<span class="ballNum" data-num="7">7</span>
					<span class="ballNum" data-num="8">8</span>
					<span class="ballNum" data-num="9">9</span>
				</div>
				<div class="cl"></div>
			</li>
		</ul>
