
		<!-- 时时彩 任三组选 组六 -->
		<ul class="xuanhaomaul"  id="select_area_content_standard" _type="5" _row="1" _column="3" _val="G_3" _arbitrary="3">
			<li>
				<div class="radio_select kakakaka" wei="3">
					<label class="pointer"><input name="position_0" type="checkbox" class="pointer ballNum" data-num="0" value="万">万</label> 
					<label class="pointer"><input name="position_1" type="checkbox" class="pointer ballNum" data-num="1" value="千">千</label> 
					<label class="pointer"><input name="position_2" type="checkbox" class="pointer ballNum" data-num="2" value="百" checked>百</label> 
					<label class="pointer"><input name="position_3" type="checkbox" class="pointer ballNum" data-num="3" value="十" checked>十</label> 
					<label class="pointer"><input name="position_4" type="checkbox" class="pointer ballNum" data-num="4" value="个" checked>个</label>
					<span class="rxdesc"><b>温馨提示：</b>你选择了 <b><span id="positioncount" class="rxcount">3</span></b> 个位置，系统自动根据位置组合成 <b><span id="positioninfo" class="rxcount">1</span></b> 个方案。</span>
				</div>
				<div class="cl"></div>
			</li>
			<li class="numRow">
				<div class="weishu">
					<span class="">组六</span>
					<div class="btn-group pull-right" style="margin-top:10px;">
						<div class="btn btn-default f22" data-fastselect="all">全</div>
						<div class="btn btn-default f22" data-fastselect="large">大</div>
						<div class="btn btn-default f22" data-fastselect="less">小</div> 
						<div class="btn btn-default f22" data-fastselect="odd">单</div>
						<div class="btn btn-default f22" data-fastselect="even">双</div>
						<div class="btn btn-default f22" data-fastselect="clear">清</div>
					</div>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="0">0</span>
					<span class="ballNum" data-num="1">1</span>
					<span class="ballNum" data-num="2">2</span>
					<span class="ballNum" data-num="3">3</span>
					<span class="ballNum" data-num="4">4</span>
					<span class="ballNum" data-num="5">5</span>
					<span class="ballNum" data-num="6">6</span>
					<span class="ballNum" data-num="7">7</span>
					<span class="ballNum" data-num="8">8</span>
					<span class="ballNum" data-num="9">9</span>
				</div>
				<div class="cl"></div>
			</li>
		</ul>
