
		<!-- 北京赛车 冠亚和值 -->
		<ul class="xuanhaomaul" id="select_area_content_standard" _type="4" _row="1" _column="B_3">
			<li class="numRow">
				<div class="weishu">
					<span class="">冠亚和值</span>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="3">3</span>
					<span class="ballNum" data-num="4">4</span>
					<span class="ballNum" data-num="5">5</span>
					<span class="ballNum" data-num="6">6</span>
					<span class="ballNum" data-num="7">7</span>
					<span class="ballNum" data-num="8">8</span>
					<span class="ballNum" data-num="9">9</span>
					<span class="ballNum" data-num="10">10</span>
					<span class="ballNum" data-num="11">11</span>
					<span class="ballNum" data-num="12">12</span>
					<span class="ballNum" data-num="13">13</span>
					<span class="ballNum" data-num="14">14</span>
					<span class="ballNum" data-num="15">15</span>
					<span class="ballNum" data-num="16">16</span>
					<span class="ballNum" data-num="17">17</span>
					<span class="ballNum" data-num="18">18</span>
					<span class="ballNum" data-num="19">19</span>
				</div>
				<div class="cl"></div>
			</li>
		</ul>
