
		<!-- 北京赛车 龙虎 冠军 -->
		<ul class="xuanhaomaul" id="select_area_content_standard" _type="1" _row="1" _column="1">
			<li class="numRow">
				<div class="weishu">
					<span class="">龙虎</span>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="龙">龙</span>
					<span class="ballNum" data-num="虎">虎</span>
				</div>
				<div class="cl"></div>
			</li>
		</ul>
