<div style="height: 120px;display: flex;justify-content: center;align-items: center;float: left;width: 100%;">
    <textarea id="h3zx_ds" style="width: 80%;height: 80%;padding: 10px;" _type="22" placeholder="手动输入号码，至少输入3个逗号［,］隔开2位数" _pattern="^(?!(?:\d\d,)*?(\d\d),(?:\d\d,)*?\1(?:\d\d)*?)(?:0\d|1[0,1]),(?:0\d|1[0,1]),(?:0\d|1[0,1])$" _desc="每个号码必须是2位数，且用半角［,］隔开，每组3个号码不能重复，如：01,02,03"></textarea>
</div>
<div style="height: 30px;display: flex;justify-content: center;align-items: center;float: left;width: 100%;padding: 0 5px">
    注意：每一注号码分隔符号：全形逗号("，") 分号(";") 换行("\r","\n") 空白(" ") 隔开。
</div>
