﻿* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* live */
.live_page {
	margin-bottom: 20px;
}

.live_page ul {
	padding: 0;
}

.live_page li {
	list-style: none;
}

.live_page a {
	text-decoration: none;
}

.live_page .clr {
	clear: both;
}

.live_page .video_wrap {
	width: 932px;
	overflow: hidden;
	margin: 0 auto;
}

.live_page .video_list ul {
	height: 50px;
	margin: 5px 0;
}

.live_page .video_list li {
	float: left;
	width: 116px;
	height: 50px;
	line-height: 50px;
	background: rgba(0, 0, 0, 0.5);
}

.live_page .video_list li.dark {
	background: rgba(0, 0, 0, 0.8);
}

.live_page .video_list li a {
	width: 100%;
	height: 50px;
	display: inline-block;
	text-align: center;
	color: #F1DD7D;
}

.live_page .video_list li a:hover {
	background: #d79a08 url(../images/video_a_h.gif) center;
}

.live_page .video_wrap_box1 .view {
	float: left;
	margin: 0 3px 3px 0;
}

.live_page .view {
	width: 230px;
	height: 370px;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: #ffffff no-repeat center center;
}

.live_page .view .mask, .live_page .view .content {
	width: 230px;
	height: 370px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.live_page .view .cover {
	display: block;
	position: relative;
}

.live_page .view h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 10px;
	padding-top: 100px;
	background: rgba(0, 0, 0, 0.8);
	margin: 20px 0 0 0;
}

.live_page .view p {
	font-family: Georgia, serif;
	font-size: 14px;
	position: relative;
	color: #fff;
	padding: 10px 20px 20px;
	text-align: center;
}

.live_page .view a.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	background: #b80700;
	color: #fff;
	text-transform: uppercase;
	-webkit-box-shadow: 0 0 1px #000;
	-moz-box-shadow: 0 0 1px #000;
	box-shadow: 0 0 1px #000;
	margin-top: -27px;
}

.live_page .view a.info:hover {
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

.live_page .view-tenth .cover {
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

.live_page .view-tenth .mask {
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	opacity: 0;
}

.live_page .view-tenth a.info {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.live_page .view-tenth:hover .cover {
	-webkit-transform: scale(10);
	-moz-transform: scale(10);
	-o-transform: scale(10);
	-ms-transform: scale(10);
	transform: scale(10);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	opacity: 0;
}

.live_page .view-tenth:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	opacity: 1;
}

.live_page .view-tenth:hover h2, .live_page .view-tenth:hover p,
	.live_page .view-tenth:hover a.info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
	opacity: 1;
}