
				<form>
					<table class="marksix_content">
						<tr>
							<td class="bColorR" data-val="01"><span>01</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="02"><span>02</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorB" data-val="03"><span>03</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorB" data-val="04"><span>04</span></td>
							<td><input type="checkbox" name="siquan" /></td>
						</tr>
						<tr>
							<td class="bColorG" data-val="05"><span>05</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorG" data-val="06"><span>06</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="07"><span>07</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="08"><span>08</span></td>
							<td><input type="checkbox" name="siquan" /></td>
						</tr>
						<tr>
							<td class="bColorB" data-val="09"><span>09</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorB" data-val="10"><span>10</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorG" data-val="11"><span>11</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="12"><span>12</span></td>
							<td><input type="checkbox" name="siquan" /></td>
						</tr>
						<tr>
							<td class="bColorR" data-val="13"><span>13</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorB" data-val="14"><span>14</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorB" data-val="15"><span>15</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorG" data-val="16"><span>16</span></td>
							<td><input type="checkbox" name="siquan" /></td>
						</tr>
						<tr>
							<td class="bColorG" data-val="17"><span>17</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="18"><span>18</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="19"><span>19</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorB" data-val="20"><span>20</span></td>
							<td><input type="checkbox" name="siquan" /></td>
						</tr>
						<tr>
							<td class="bColorG" data-val="21"><span>21</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorG" data-val="22"><span>22</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="23"><span>23</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="24"><span>24</span></td>
							<td><input type="checkbox" name="siquan" /></td>
						</tr>
						<tr>
							<td class="bColorB" data-val="25"><span>25</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorB" data-val="26"><span>26</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorG" data-val="27"><span>27</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorG" data-val="28"><span>28</span></td>
							<td><input type="checkbox" name="siquan" /></td>
						</tr>
						<tr>
							<td class="bColorR" data-val="29"><span>29</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="30"><span>30</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorB" data-val="31"><span>31</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorG" data-val="32"><span>32</span></td>
							<td><input type="checkbox" name="siquan" /></td>
						</tr>
						<tr>
							<td class="bColorG" data-val="33"><span>33</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="34"><span>34</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="35"><span>35</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorB" data-val="36"><span>36</span></td>
							<td><input type="checkbox" name="siquan" /></td>
						</tr>
						<tr>
							<td class="bColorB" data-val="37"><span>37</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorG" data-val="38"><span>38</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorG" data-val="39"><span>39</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="40"><span>40</span></td>
							<td><input type="checkbox" name="siquan" /></td>
						</tr>
						<tr>
							<td class="bColorB" data-val="41"><span>41</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorB" data-val="42"><span>42</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorG" data-val="43"><span>43</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorG" data-val="44"><span>44</span></td>
							<td><input type="checkbox" name="siquan" /></td>
						</tr>
						<tr>
							<td class="bColorR" data-val="45"><span>45</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorR" data-val="46"><span>46</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorB" data-val="47"><span>47</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td class="bColorB" data-val="48"><span>48</span></td>
							<td><input type="checkbox" name="siquan" /></td>
						</tr>
						<tr>
							<td class="bColorG" data-val="49"><span>49</span></td>
							<td><input type="checkbox" name="siquan" /></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
					<div class="text-center paddingtopbotton5">
						<b class="text-warning">赔率：<span id="iiiiiirate" class="text-red">0.0</span></b>
					</div>
					<div class="text-center paddingtopbotton5">
						<div class="form-group container">
							<div class="input-group">
								<span class="input-group-addon form_span">金额</span> <input
									type="text" class="form-control betmoney" placeholder="请输入金额">
							</div>
						</div>
					</div>
					<div class="text-center footercontent">
						<div class="text-center paddingtopbotton5">
							<input type="reset" class="btn btn-warning" value="重填" /> <input
								type="button" onclick="addToBetList_ZXBZ('qi_bz', '七不中')"
								class="btn btn-warning" value="确认下注" />
						</div>
					</div>
				</form>