
<form>
	<table betprefix="万仟">
		<thead>
			<tr>
				<th colspan="6">万仟</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="617">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="619">
				</td>
			</tr>
			<tr>
				<td>和</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和" rate="0.0" oddsId="" rakeBack="618">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="万佰">
		<thead>
			<tr>
				<th colspan="6">万佰</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="617">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="619">
				</td>
			</tr>
			<tr>
				<td>和</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和" rate="0.0" oddsId="" rakeBack="618">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="万拾">
		<thead>
			<tr>
				<th colspan="6">万拾</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="617">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="619">
				</td>
			</tr>
			<tr>
				<td>和</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和" rate="0.0" oddsId="" rakeBack="618">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="万个">
		<thead>
			<tr>
				<th colspan="6">万个</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="617">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="619">
				</td>
			</tr>
			<tr>
				<td>和</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和" rate="0.0" oddsId="" rakeBack="618">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="仟佰">
		<thead>
			<tr>
				<th colspan="6">仟佰</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="617">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="619">
				</td>
			</tr>
			<tr>
				<td>和</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和" rate="0.0" oddsId="" rakeBack="618">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="仟拾">
		<thead>
			<tr>
				<th colspan="6">仟拾</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="617">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="619">
				</td>
			</tr>
			<tr>
				<td>和</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和" rate="0.0" oddsId="" rakeBack="618">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="仟个">
		<thead>
			<tr>
				<th colspan="6">仟个</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="617">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="619">
				</td>
			</tr>
			<tr>
				<td>和</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和" rate="0.0" oddsId="" rakeBack="618">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="佰拾">
		<thead>
			<tr>
				<th colspan="6">佰拾</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="617">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="619">
				</td>
			</tr>
			<tr>
				<td>和</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和" rate="0.0" oddsId="" rakeBack="618">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="佰个">
		<thead>
			<tr>
				<th colspan="6">佰个</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="617">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="619">
				</td>
			</tr>
			<tr>
				<td>和</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和" rate="0.0" oddsId="" rakeBack="618">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="拾个">
		<thead>
			<tr>
				<th colspan="6">拾个</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="617">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="619">
				</td>
			</tr>
			<tr>
				<td>和</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和" rate="0.0" oddsId="" rakeBack="618">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(9, 'longhudou', 'longhudou', '龙虎斗')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
