
<form>
	<table betprefix="第一球">
		<thead>
			<tr>
				<th colspan="6">第一球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">01</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">02</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">03</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">04</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">05</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">06</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">07</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">08</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">09</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">20</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="20" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第二球">
		<thead>
			<tr>
				<th colspan="6">第二球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">01</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">02</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">03</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">04</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">05</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">06</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">07</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">08</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">09</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">20</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="20" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第三球">
		<thead>
			<tr>
				<th colspan="6">第三球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">01</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">02</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">03</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">04</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">05</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">06</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">07</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">08</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">09</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">20</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="20" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第四球">
		<thead>
			<tr>
				<th colspan="6">第四球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">01</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">02</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">03</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">04</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">05</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">06</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">07</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">08</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">09</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">20</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="20" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第五球">
		<thead>
			<tr>
				<th colspan="6">第五球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">01</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">02</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">03</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">04</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">05</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">06</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">07</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">08</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">09</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">20</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="20" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第六球">
		<thead>
			<tr>
				<th colspan="6">第六球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">01</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">02</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">03</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">04</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">05</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">06</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">07</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">08</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">09</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">20</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="20" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第七球">
		<thead>
			<tr>
				<th colspan="6">第七球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">01</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">02</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">03</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">04</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">05</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">06</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">07</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">08</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">09</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">20</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="20" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第八球">
		<thead>
			<tr>
				<th colspan="6">第八球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">01</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">02</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">03</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">04</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">05</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">06</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">07</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">08</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">09</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" rakeBack="1021">
				</td>
				<td class="ballColor ballcolor-g">20</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="20" rate="0.0" oddsId="" rakeBack="1021">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(12, 'danqiu1-8', 'danqiu1-8', '单球1-8')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
