
<form>
	<table>
		<thead>
			<tr>
				<th colspan="6">二字组合</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">00</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="00" rate="0.0" oddsId="" rakeBack="3592">
				</td>
				<td class="ballColor ballcolor-g">01</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="01" rate="0.0" oddsId="" rakeBack="3244">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">02</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="02" rate="0.0" oddsId="" rakeBack="3245">
				</td>
				<td class="ballColor ballcolor-g">03</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="03" rate="0.0" oddsId="" rakeBack="3246">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">04</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="04" rate="0.0" oddsId="" rakeBack="3247">
				</td>
				<td class="ballColor ballcolor-g">05</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="05" rate="0.0" oddsId="" rakeBack="3248">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">06</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="06" rate="0.0" oddsId="" rakeBack="3249">
				</td>
				<td class="ballColor ballcolor-g">07</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="07" rate="0.0" oddsId="" rakeBack="3250">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">08</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="08" rate="0.0" oddsId="" rakeBack="3251">
				</td>
				<td class="ballColor ballcolor-g">09</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="09" rate="0.0" oddsId="" rakeBack="3252">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" rakeBack="3253">
				</td>
				<td class="ballColor ballcolor-g">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" rakeBack="3254">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" rakeBack="3255">
				</td>
				<td class="ballColor ballcolor-g">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" rakeBack="3256">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" rakeBack="3257">
				</td>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" rakeBack="3258">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" rakeBack="3259">
				</td>
				<td class="ballColor ballcolor-g">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" rakeBack="3260">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" rakeBack="3261">
				</td>
				<td class="ballColor ballcolor-g">22</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="22" rate="0.0" oddsId="" rakeBack="3262">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">23</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="23" rate="0.0" oddsId="" rakeBack="3263">
				</td>
				<td class="ballColor ballcolor-g">24</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="24" rate="0.0" oddsId="" rakeBack="3264">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">25</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="25" rate="0.0" oddsId="" rakeBack="3265">
				</td>
				<td class="ballColor ballcolor-g">26</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="26" rate="0.0" oddsId="" rakeBack="3266">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">27</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="27" rate="0.0" oddsId="" rakeBack="3288">
				</td>
				<td class="ballColor ballcolor-g">28</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="28" rate="0.0" oddsId="" rakeBack="3289">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">29</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="29" rate="0.0" oddsId="" rakeBack="3290">
				</td>
				<td class="ballColor ballcolor-g">33</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="33" rate="0.0" oddsId="" rakeBack="3291">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">34</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="34" rate="0.0" oddsId="" rakeBack="3292">
				</td>
				<td class="ballColor ballcolor-g">35</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="35" rate="0.0" oddsId="" rakeBack="3293">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">36</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="36" rate="0.0" oddsId="" rakeBack="3294">
				</td>
				<td class="ballColor ballcolor-g">37</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="37" rate="0.0" oddsId="" rakeBack="3295">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">38</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="38" rate="0.0" oddsId="" rakeBack="3296">
				</td>
				<td class="ballColor ballcolor-g">39</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="39" rate="0.0" oddsId="" rakeBack="3297">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">44</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="44" rate="0.0" oddsId="" rakeBack="3267">
				</td>
				<td class="ballColor ballcolor-g">45</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="45" rate="0.0" oddsId="" rakeBack="3268">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">46</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="46" rate="0.0" oddsId="" rakeBack="3269">
				</td>
				<td class="ballColor ballcolor-g">47</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="47" rate="0.0" oddsId="" rakeBack="3270">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">48</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="48" rate="0.0" oddsId="" rakeBack="3271">
				</td>
				<td class="ballColor ballcolor-g">49</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="49" rate="0.0" oddsId="" rakeBack="3272">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">55</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="55" rate="0.0" oddsId="" rakeBack="3273">
				</td>
				<td class="ballColor ballcolor-g">56</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="56" rate="0.0" oddsId="" rakeBack="3274">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">57</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="57" rate="0.0" oddsId="" rakeBack="3275">
				</td>
				<td class="ballColor ballcolor-g">58</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="58" rate="0.0" oddsId="" rakeBack="3276">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">59</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="59" rate="0.0" oddsId="" rakeBack="3277">
				</td>
				<td class="ballColor ballcolor-g">66</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="66" rate="0.0" oddsId="" rakeBack="3278">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">67</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="67" rate="0.0" oddsId="" rakeBack="3279">
				</td>
				<td class="ballColor ballcolor-g">68</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="68" rate="0.0" oddsId="" rakeBack="3280">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">69</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="69" rate="0.0" oddsId="" rakeBack="3281">
				</td>
				<td class="ballColor ballcolor-g">77</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="77" rate="0.0" oddsId="" rakeBack="3282">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">78</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="78" rate="0.0" oddsId="" rakeBack="3283">
				</td>
				<td class="ballColor ballcolor-g">79</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="79" rate="0.0" oddsId="" rakeBack="3284">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">88</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="88" rate="0.0" oddsId="" rakeBack="3285">
				</td>
				<td class="ballColor ballcolor-g">89</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="89" rate="0.0" oddsId="" rakeBack="3286">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">99</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="99" rate="0.0" oddsId="" rakeBack="3287">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(15, 'erzizuhe', 'erzizuhe', '二字组合')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
