/*banner开始*/
#E02-game{
    padding: 124px 0 150px 0;
}
#E02-game .E02-section{
    position: relative;
}
#E02-game .gamebanner{
    height: 200px;
}
#E02-game .gamebanner li.slide1 {
    background: url("../__static/__images/game-banner9.jpg?v1") #01081a no-repeat  top center;
}

#E02-game .gamebanner li.slide2 {
    background: url("../__static/__images/game-banner1.jpg") #1a0a51 no-repeat top center;
}

#E02-game .gamebanner li.slide3 {
    background: url("../__static/__images/game-banner2.jpg") #6f07a2 no-repeat top center;
}
#E02-game .gamebanner li.slide4 {
    background: url("../__static/__images/game-banner3.jpg") #ffe047 no-repeat top center;
}
#E02-game .gamebanner li.slide5 {
    background: url("../__static/__images/game-banner4.jpg") #ff1995 no-repeat top center;
}
#E02-game .gamebanner li.slide6 {
    background: url("../__static/__images/game-banner5.jpg") #6f07a2 no-repeat top center;
}
#E02-game .gamebanner li.slide7 {
    background: url("../__static/__images/game-banner6.jpg?v1") #01060a no-repeat top center;
}
#E02-game .gamebanner li.slide8 {
    background: url("../__static/__images/game-banner7.jpg?v1") #729fc0 no-repeat top center;
}
#E02-game .gamebanner li.slide9 {
    background: url("../__static/__images/game-banner8.jpg?v1") #445bcf no-repeat top center;
}
#E02-game .prize{
    width: 400px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 70px;
    left: 760px;
}
#E02-game .prize .fl{
    width: 140px;
    height: 60px;
    border-radius: 5px 0 0 5px;
    color: #fff;
    background: #ff0037;
    font-size: 24px;
    text-indent: 1em;
}
#E02-game .prize .fr{
    width: 260px;
    height: 60px;
    background: #000;
    border-radius: 0 30px 30px 0;
}
#E02-game .E02-search{
    float: left;
    margin: 15px 0;
}
#E02-game .choose{
    padding-bottom: 160px;
}
#E02-game .choose dl{
    margin-bottom: 10px;
}

#E02-game .choose dl dd{
    cursor: pointer;
}
#E02-game .choose .adBox{
    position: absolute;
    right: 0px;
    top: 10px;
}
#E02-game .ad{
    padding: 20px 0;
}
/*#E02-game .adBox{
    width:399px;
    height: 212px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    float: left;
     background: url("../__static/__images/listBg.jpg") no-repeat;
}*/
#E02-game .adBox .fl{
    width: 160px;
    height: 160px;
    background: url("../__static/__images/game-img1.jpg") no-repeat 6px 36px;
    border-right: 1px solid #555555;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
#E02-game .adBox .fr{
    position: relative;
    width: 382px;
    margin-top: 10px;
   /* margin-right: 110px;
    margin-top: 90px;*/
}
/*.ulTitle div, .maqueeTxt ul div{
	width: 20% !important;}*/
/*.ulTitle{
	background-color: #323232}*/
#E02-game .adBox span{
	position: absolute;
	top: 44px;
	left: 10px;
	margin: 20px 0px 20px 10px;
	font-size: 14px;
	color:#424242 }
#E02-game .adBox .fr .ulTitle{
    height: 42px;
    line-height: 42px;
    top: 0;
    font-size: 14px;
    border-radius:  8px 8px 0 0;
    box-shadow: none;
}
#E02-game .adBox .fr .maqueeTxt{
    height: 150px;
    *height: 140px;
    padding-top: 42px;
    font-size: 12px;
}
#E02-game .adBox .fr .maqueeTxt ul div{
    line-height: 24px;
    height: 24px !important;
}
#E02-game .adImgBox{
    float: left;
    margin-left: 10px;
    border-radius: 8px;
    overflow: hidden;
}
#E02-game .selectBox{
    width: 100%;
    background: #fff;
    border-radius: 50px;
    height: 45px;
    padding-top: 5px;
    margin: 10px 0 30px 0;
}
#E02-game .selectTitle{

    font-size: 18px;
    margin: 0 auto;
    width: 1040px;
}
#E02-game .selectTitle li{
    width: 120px;
    height: 40px;
    color: #ff0037;
    float: left;
    line-height: 40px;
    text-align:center ;
    margin-right: 10px;
    cursor: pointer;
}

#E02-game .selectTitle li.E02-button{
    color: #fff;
    background-color: #ff0037;
}
#E02-game .selectTitle li.E02-button:hover{
    background-color: #ca042f;
}
#E02-game .leftsidebar_box{
    position: relative;
}
#E02-game .leftsidebar_box ul li{
    width: 63px;
    float: left;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}
#E02-game .leftsidebar_box ul li .imfocus,#E02-game .leftsidebar_box ul li .active{
    display: block;
    border-radius: 5px;
    background-color: #ff0036;
    color: #fff;
}
#E02-game .leftsidebar_box ul li .tabcon{
    position: absolute;
    width: 1000px;
    height: 160px;
    left: 0px;
    top: 34px;
}
#E02-game .leftsidebar_box ul li a{
    font-size: 14px;
}
#E02-game .leftsidebar_box ul li.gameTitle{
    width: 74px;
    background: #e9f1f1;
    border-radius: 5px;
    text-align: center;
    float: left;
    height: 24px;
    line-height: 24px;
    margin-right: 20px;
    font-size: 14px;
    cursor: auto;
}
#E02-game .sublist{
    margin-bottom: 10px;
}
#E02-game #itemContainer li{
    width: 192px;
    height: 175px;
    background: #fff;
    border-radius: 8px;
    float: left;
    margin: 20px 10px 0 0;
    transition: 0.5s all ease;
    position: relative;
    overflow: hidden;
}
#E02-game #itemContainer li .bg{
    width: 210px;
    height: 106px;
    position: absolute;
    top: 40px;
    background: #000;
    opacity: 0.3;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    z-index: 2;
}
#E02-game #itemContainer li .E02-button{
    width: 90px;
    height: 36px;
    position: absolute;
    z-index: 3;
    line-height: 36px;
    background: #ff0037;
    top: 75px;
    left: 60px;
}
#E02-game #itemContainer li:hover{
    box-shadow: 0px 5px 8px #636363;
}
#E02-game #itemContainer li p.txt{
    height: 40px;
    line-height: 40px;
    width: 192px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-indent: 1em;
    font-size: 16px;
}
#E02-game #itemContainer li:hover p.txt{
    color: #0072ff;
}
#E02-game #itemContainer li p .ico{
    width: 14px;
    height: 13px;
    background: url("../__static/__images/game-star.png") no-repeat -14px 0;
    float: right;
    margin: 14px 15px 0 0;
    cursor: pointer;
}
#E02-game #itemContainer li p .ico.favorite{
    background-position: 0 0;
}
#E02-game #itemContainer li img{
    width: 280px;
    height: 136px;
}
#E02-game .rightlist{
position: registeruser}
#E02-game .rightlist .E02-search{
	position: absolute;
	right: 0px;
	bottom: -15px;
;}


/*slider*/

.gamebanner .game-flexslider {
    height: 200px;
}
.game-flexslider {
    background: #ffffff;
    position: relative;
	height:200px;
	overflow:hidden;
    zoom: 1;
}
.game-flexslider {
    margin: 0;
    padding: 0;
}
.game-flexslider .slides {
    zoom: 1;
}

.game-flexslider .slides li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.game-flexslider li a.sliLink {
	cursor:pointer;
    display: block;
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}
.game-flexslider .flex-direction-nav a {
	display: block;
	width: 65px;
	height: 65px;
}
#E02-game .leftsidebar_box{
    *padding-top: 10px;
}