body {
    margin: 0;
    padding: 0;
    background: #121212;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    *[ng-click] {
        cursor: pointer;
    }

.MgGame {
    width: 990px;
    margin: 0 auto;
    text-align: center;
}

#header {
    position: relative;
    width: 850px;
    height: 80px;
    margin: 0 auto;
    padding-top: 20px;
}

    #header #logo {
        position: relative;
        float: left;
        width: 345px;
        height: 58px;
        background: url('http://cdn.baidu-cdn-hk.com/Web.Portal/_Common/Content/Views/Lobby/MG/logo.png') no-repeat;
    }

        #header #logo:after {
            position: relative;
            top: 23px;
            float: right;
            display: inline-block;
            width: 104px;
            height: 27px;
            content: '';
            background: url('http://cdn.baidu-cdn-hk.com/Web.Portal/_Common/Content/Views/Lobby/MG/mg_gamelist_w.png') no-repeat;
            background-position-y: -44px;
        }

#logo > a, ul#gamenav > li > a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#header #search {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 406px;
    height: 47px;
    text-align: right;
    background: url('http://cdn.baidu-cdn-hk.com/Web.Portal/_Common/Content/Views/Lobby/MG/search.png') no-repeat;
}

#search > #form {
    display: inline-block;
    padding: 9px 15px;
}

    #search > #form > input {
        display: inline-block;
        width: 145px;
        height: 25px;
        color: azure;
        background: black;
        border: black;
    }

        #search > #form > input:focus {
            color: azure;
            outline: none;
            border-color: #9ecaed;
            -moz-box-shadow: 0 0 10px #9ecaed;
            -webkit-box-shadow: 0 0 10px #9ecaed;
            box-shadow: 0 0 10px #9ecaed;
        }

    #search > #form > #search-btn {
        display: inline-block;
        width: 38px;
        height: 28px;
        vertical-align: middle;
        background-color: transparent;
        background-position: left top;
        background-repeat: no-repeat;
        background-image: url('http://cdn.baidu-cdn-hk.com/Web.Portal/_Common/Content/Views/Lobby/MG/btn.png');
        border: none;
        cursor: pointer;
        outline: none;
    }

        #search > #form > #search-btn:hover {
            background-position: right top;
        }

nav {
    /*display:none;*/
    width: 863px;
    height: 35px;
    margin: 10px auto;
    padding: 0 10px;
    color: #fff;
    text-align: left;
    background: url('http://cdn.baidu-cdn-hk.com/Web.Portal/_Common/Content/Views/Lobby/MG/title.png') center no-repeat;
}

ul#gamenav {
    display: inline-block;
    width: 863px;
    margin: 8px auto;
    padding: 0 5px;
}

    ul#gamenav > li {
        display: inline-block;
        position: relative;
        float: left;
        height: 21px;
        margin: 0 5px;
        padding: 3px 10px;
        color: #c8c8c8;
        font-size: 12px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        ul#gamenav > li > span {
            display: inline-block;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        ul#gamenav > li:hover {
            background: #303030;
        }

        ul#gamenav > li.navtitle {
            width: 115px;
            margin: 0;
            text-align: right;
            background: none;
            cursor: default;
        }

        ul#gamenav > li.navall {
            cursor: pointer;
        }

        ul#gamenav > li.navtitle:hover {
            background: none;
        }

        ul#gamenav > li:hover > ol.nav_sub {
            display: block;
        }

ol.nav_sub {
    position: absolute;
    left: 0;
    z-index: 3;
    display: none;
    width: 100px;
    padding: 10px 0 0 0;
    text-align: left;
}

    ol.nav_sub > li:first-child {
        border-top: 1px solid #24e12b;
    }

    ol.nav_sub > li:last-child {
        border-bottom: 1px solid #24e12b;
    }

    ol.nav_sub > li {
        color: #24e12b;
        padding: 0 5px;
        text-align: left;
        line-height: 25px;
        background: #303030;
        border-right: 1px solid #24e12b;
        border-left: 1px solid #24e12b;
        list-style: none;
        cursor: pointer;
    }

        ol.nav_sub > li:hover {
            color: #FFF;
            background: #2c2c2c;
        }


/*#region 遊戲區塊*/
ul.gamelist {
    position: relative;
    width: 877px;
    height: 650px;
    margin: 0 auto;
    padding: 0;
}

    ul.gamelist li {
        position: relative;
        display: inline-block;
        width: 161px;
        height: 188px;
        margin: 7px;
        padding: 0 10px;
        background: url('http://cdn.baidu-cdn-hk.com/Web.Portal/_Common/Content/Views/Lobby/MG/slot_gamebg.png');
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }

        ul.gamelist li .game_text {
            width: 140px;
            height: 20px;
            margin: 10px auto;
            color: #24e12b;
            text-align: center;
            line-height: 20px;
        }

        ul.gamelist li .game_logo {
            position: relative;
            display: inline-block;
            width: 140px;
            height: 136px;
            margin: 0 auto;
            overflow: hidden;
            cursor:pointer;
        }

            ul.gamelist li .game_logo img {
                position: absolute;
                left: 0;
                width: 280px;
                height: 136px;
            }

        ul.gamelist li:hover .game_logo img {
            left: -140px;
        }
/*#endregion 遊戲區塊*/

/*#region 頁碼區塊*/
.pagination {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

ul#pager {
    display: inline-block;
}

    ul#pager > li {
        display: inline-block;
        float: left;
        width: 63px;
        height: 25px;
        margin: 0 5px;
        color: #fff;
        line-height: 25px;
        background-image: url('http://cdn.baidu-cdn-hk.com/Web.Portal/_Common/Content/Views/Lobby/MG/mg_gamelist_bn.png');
        background-position: top left;
        background-repeat: no-repeat;
        cursor:pointer;
    }

        ul#pager > li:hover {
            background-position: 0 -26px;
        }

        ul#pager > li.nohand:hover {
            background-position: top left;
        }
/*#endregion 頁碼區塊*/

/*#region 熱門遊戲的文字變換顏色*/
.hot {
    color: #24e12b;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -moz-animation-name: blink;
    -o-animation-name: blink;
    -webkit-animation-name: blink;
    animation-name: blink;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-moz-keyframes blink {
    from {
        color: #24e12b;
    }

    to {
        color: #147dff;
    }
}

@-webkit-keyframes blink {
    from {
        color: #24e12b;
    }

    to {
        color: #147dff;
    }
}

@keyframes blink {
    from {
        color: #24e12b;
    }

    to {
        color: #147dff;
    }
}
/*#endregion 熱門遊戲的文字變換顏色*/