
<form>
	<table>
		<thead>
			<tr>
				<th colspan="6">一字组合</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">0</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="0" rate="0.0" oddsId="" rakeBack="3242">
				</td>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="3242">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="3242">
				</td>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="3242">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="3242">
				</td>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="3242">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="3242">
				</td>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="3242">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="3242">
				</td>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="3242">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="佰">
		<thead>
			<tr>
				<th colspan="6">佰(两面)</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="3243">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="3243">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="3243">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="3243">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="3243">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="3243">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="拾">
		<thead>
			<tr>
				<th colspan="6">拾(两面)</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="3243">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="3243">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="3243">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="3243">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="3243">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="3243">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="个">
		<thead>
			<tr>
				<th colspan="6">个(两面)</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="3243">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="3243">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="3243">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="3243">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="3243">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="3243">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(15, 'yizizuhe', 'yizizuhe', '一字组合')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
