<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
//所有玩法
var baishiList = [
  {
    name: '佰拾定位',
    oddPlayItems: [],
  }
]
var baigeList = [
  {
    name: '佰个定位',
    oddPlayItems: [],
  }
]
var shigeList = [
  {
    name: '拾个定位',
    oddPlayItems: [],
  }
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,nowPlay;
// console.log($('.betFilterAnd .curr').text());
switch ($('.betFilterAnd .curr').text()) {
  case '佰拾定位':
    nowPlay = baishiList;
    break;
  case '佰个定位':
    nowPlay = baigeList;
    break;
  case '拾个定位':
    nowPlay = shigeList;
    break;
  default:
}
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
	// 判断双面盘的位置，以确认后台数据
	if (rules[0].name === '二字定位') {
		rule = rules[0];
	}else if (rules[1].name === '二字定位') {
		rule = rules[1];
	}else if (rules[2].name === '二字定位') {
		rule = rules[2];
	}else if (rules[3].name === '二字定位') {
		rule = rules[3];
	}else if (rules[4].name === '二字定位') {
		rule = rules[4];
	}else if (rules[5].name === '二字定位') {
		rule = rules[5];
	}else if (rules[6].name === '二字定位') {
		rule = rules[6];
	}else if (rules[7].name === '二字定位') {
		rule = rules[7];
	}else if (rules[8].name === '二字定位') {
		rule = rules[8];
	}else if (rules[9].name === '二字定位') {
		rule = rules[9];
	}else if (rules[10].name === '二字定位') {
		rule = rules[10];
	}else if (rules[11].name === '二字定位') {
		rule = rules[11];
	}

  // 二字定位
  var erzhidwList  = rule.rules;
  for (let i in erzhidwList){
    // 数字0-99
    for(let j=0;j<100;j++){
      let obj = deepCopy(rule.rules[i].oddPlayItems[0]);
      obj.name = j;
      if (j<10) {
        obj.name = '0'+j;
      }
      switch (i) {
        case '0':
          baishiList[0].oddPlayItems.push(obj);
          break;
        case '1':
          baigeList[0].oddPlayItems.push(obj);
          break;
        case '2':
          shigeList[0].oddPlayItems.push(obj);
          break;
        default:
      }
    }
  }
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in nowPlay){
    let left = '<div class="fix selectNormal">'+
    '<span class="buyNumberTitle">'+nowPlay[0].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in nowPlay[i].oddPlayItems.slice(0,100)){
      if(i==0){
        right+='<a data-index="'+i+'-'+l+'">'+nowPlay[i].oddPlayItems[l].name+'</a>';
      }
    }
    let all = left + right;
    $('.sscCheckNumber ul li').append(all)
  };
  // 给玩法添加class,并判断玩法的最小下注个数
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr')
    let length = 0;
    switch ($('.betFilterAnd .curr').text()) {
      case '佰拾定位':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,1).length;
        break;
      case '佰个定位':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,1).length;
        break;
      case '拾个定位':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,1).length;
        break;
    }
		$('.detail').text(zdnumber); // 注单数量
	})
	// 获取游戏说明
  var game_shows;
	let html;
	switch ($('.betFilterAnd .curr').text()) {
		case '佰拾定位':
			if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[0].detailDesc;
			}
			break;
		case '佰个定位':
			if ($('.betFilterAnd .curr').text() == rule.rules[1].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[1].detailDesc;
			}
			break;
		case '拾个定位':
			if ($('.betFilterAnd .curr').text() == rule.rules[2].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[2].detailDesc;
			}
			break;
		default:
	}
	html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
var cart = [];
// 添加注单
$('#betBtn').unbind('click')
$('#betBtn').click(function(event){
  // 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0) {
    alert('请选择一注进行投注');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
    alert('请输入投注金额');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }
  let haoma = '',winMoney = 0;
  var selectEl = $('.sscCheckNumber .curr');
  let data = [];
  for(let i=0;i<selectEl.length;i++){
    selectEl.eq(i).toggleClass('curr')
    let row = selectEl.eq(i).attr('data-index').split('-')[0]-0;
    let col = selectEl.eq(i).attr('data-index').split('-')[1]-0;
    let obj = nowPlay[row].oddPlayItems[col];
    let bol = false;
		// 如果添加的注单重复，则叠加
		for(let i in cart){
			let name = obj.name;
      if(cart[i].name === name){
        bol = true;
				cart[i].money += $('.eachPrice').val()-0;
        continue;
      }
    }
    !bol? cart.push({
      playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
      money: $('.eachPrice').val()-0,
      name:obj.name,
      // rowName:nowPlay[row].name,
      oddsId: obj.id,
      playCode: obj.playCode,
      max: obj.maxBetAmmount,
      min: obj.minBetAmmount,
      odds:obj.odds,
    }):''
  }
  createDetail();
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
})
function createDetail (){
  $('.checkedList tbody').html('');
	for(let i in cart){
    let html = '<tr>'+
              '<td>'+
                '<i class="order_type">'+
                  '['+cart[i].playsName+']'+cart[i].name+
                  // '<span>...</span>'+
                '</i>'+
                // '<a class="orderDetail">详细</a>'+
              '</td>'+
              '<td>'+1+'注</td>'+
              '<td>'+cart[i].money+'元</td>'+
              '<td>'+
                '可中金额'+
                '<i class="orderMoney">'+
                  '<i>'+(cart[i].money*cart[i].odds).toFixed(2)+'元</i>'+
                '</i>'+
              '</td>'+
              '<td><a class="orderCancel" onclick="del(this)"  data-index="'+i+'"  >删除</a></td>'+
            '</tr>'
    $('.checkedList tbody').append(html)
  }
  $('.detail').text('0');
	$('.eachPrice').val('');
}
// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	$('#layermbox16').removeAttr("style");
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
	for (let i in cart) {
    betting += cart[i].money;
	}
  var content = $(".checkedList tbody").html();
  if (content == null || content == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$("span#submitBtn").hide();
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                // '['+betting.playsName+']'+betting.name+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+betting+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$("span#submitBtn").show();
	}

  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
  }
})
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: cart[i].money,
      name: cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('.buyNumber a').removeClass('curr');
			$('._mybetContent .tz_list').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('.buyNumber a').removeClass('curr');
    }
  });
})
// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
// 删除注单
function del(a){
	let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
	var zdshuliang = 0; // 注单数量
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text("¥"+ztzje)
}
</script>
<style media="screen">
	.logo {
		height: 1650px;
	}
  .buyNumberTitle{
    margin-right: 5px;
  }
  .buyNumber{
    width: 616px;
    margin: 8px 8px;
  }
	.buyNumber a {
		float: left;
}
</style>
