<!-- 十位玩法 -->
<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
//所有玩法
var zhupanList = [
  {
    name: '佰',
    oddPlayItems: []
  },
  {
    name: '拾',
    oddPlayItems: []
  },
  {
    name: '个',
    oddPlayItems: []
  },
  {
    name: '佰拾和尾数',
    oddPlayItems: []
  },
  {
    name: '佰个和尾数',
    oddPlayItems: []
  },
  {
    name: '拾个和尾数',
    oddPlayItems: []
  },
  {
    name: '佰拾个和尾数',
    oddPlayItems: []
  },
  {
    name: '佰拾个和数',
    oddPlayItems: []
  }
]//整合玩法
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,zdnumber;
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
	// 判断双面盘的位置，以确认后台数据
	if (rules[0].name === '主势盘') {
		rule = rules[0];
	}else if (rules[1].name === '主势盘') {
		rule = rules[1];
	}else if (rules[2].name === '主势盘') {
		rule = rules[2];
	}else if (rules[3].name === '主势盘') {
		rule = rules[3];
	}else if (rules[4].name === '主势盘') {
		rule = rules[4];
	}else if (rules[5].name === '主势盘') {
		rule = rules[5];
	}else if (rules[6].name === '主势盘') {
		rule = rules[6];
	}else if (rules[7].name === '主势盘') {
		rule = rules[7];
	}else if (rules[8].name === '主势盘') {
		rule = rules[8];
	}else if (rules[9].name === '主势盘') {
		rule = rules[9];
	}else if (rules[10].name === '主势盘') {
		rule = rules[10];
	}else if (rules[11].name === '主势盘') {
		rule = rules[11];
	}
  // 主势盘
	for(let i in zhupanList){
		for(let j=0;j<6;j++){
			let obj = deepCopy(rule.rules[0].oddPlayItems[0]);
			switch (j) {
				case 0:
					obj.name = '大';
					break;
				case 1:
					obj.name = '小';
					break;
				case 2:
					obj.name = '单';
					break;
				case 3:
					obj.name = '双';
					break;
				case 4:
					obj.name = '质';
					break;
				case 5:
					obj.name = '合';
					break;
				default:
			}
			zhupanList[i].oddPlayItems.push(obj)
		}
	}
  zhupanList[7].oddPlayItems.splice(4,2);

	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in zhupanList){
    let yuansu = '<div class="fix selectNormal">'+
    '<span class="buyNumberTitle">'+zhupanList[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in zhupanList[i].oddPlayItems){
      right+='<a data-index="'+i+'-'+l+'">'+zhupanList[i].oddPlayItems[l].name+'<p class="plsize">赔:'+zhupanList[i].oddPlayItems[l].odds+'</p></a>';
    }
    let all = yuansu + right
    $('.sscCheckNumber ul li').append(all)
  }
  // 给玩法添加class,并判断玩法的最小下注个数
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr')
    let length = 0;
    switch ($('.betFilterAnd .curr').text()) {
      case '主势盘':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,1).length;
        break;
      default:
    }
		$('.detail').text(zdnumber); // 注单数量
	})
	// console.log(rulist);
	// 获取游戏说明
  var game_shows
  if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
    $('.window_ .text_shows').html('');
    game_shows = rule.rules[0].detailDesc;
  }
	let html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
var cart = [];
// 添加注单
$('#betBtn').unbind('click');
$('#betBtn').click(function(event){
  // 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0) {
    alert('请选择一注进行投注');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
    alert('请输入投注金额');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }
  let haoma = '',winMoney = 0;
  var selectEl = $('.sscCheckNumber .curr');
  let data = [];
  for(let i=0;i<selectEl.length;i++){
    selectEl.eq(i).toggleClass('curr')
    let row = selectEl.eq(i).attr('data-index').split('-')[0]-0;
    let col = selectEl.eq(i).attr('data-index').split('-')[1]-0;
    let obj = zhupanList[row].oddPlayItems[col];
    let bol = false;
		// 如果添加的注单重复，则叠加
		for(let i in cart){
			let name = zhupanList[row].name==$('.buyNumberTitle').text()? obj.name: zhupanList[row].name+'--'+obj.name;
      if(cart[i].name === name){
        bol = true;
				cart[i].money += $('.eachPrice').val()-0;
        continue;
      }
    }
    !bol? cart.push({
      playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
      money: $(".eachPrice").val()-0,
      name:zhupanList[row].name==$('.buyNumberTitle').text()? obj.name: zhupanList[row].name+'--'+obj.name,
      rowName:zhupanList[row].name,
      oddsId: obj.id,
      playCode: obj.playCode,
      max: obj.maxBetAmmount,
      min: obj.minBetAmmount,
      odds:obj.odds,
    }):''
  }
  createDetail();
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
})
function createDetail (){
  $('.checkedList tbody').html('');
	for(let i in cart){
    let html = '<tr>'+
              '<td>'+
                '<i class="order_type">'+
                  '['+cart[i].playsName+']'+cart[i].rowName+'--'+cart[i].name+
                  // '<span>...</span>'+
                '</i>'+
                // '<a class="orderDetail">详细</a>'+
              '</td>'+
              '<td>'+1+'注</td>'+
              '<td>'+cart[i].money+'元</td>'+
              '<td>'+
                '可中金额'+
                '<i class="orderMoney">'+
                  '<i>'+(cart[i].money*cart[i].odds).toFixed(2)+'元</i>'+
                '</i>'+
              '</td>'+
              '<td><a class="orderCancel" onclick="del(this)"  data-index="'+i+'"  >删除</a></td>'+
            '</tr>'
    $('.checkedList tbody').append(html)
  }
  $('.detail').text('0');
	$('.eachPrice').val('');
}
// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	$('#layermbox16').removeAttr("style");
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
	for (let i in cart) {
    betting += cart[i].money;
	}
  var content = $(".checkedList tbody").html();
  if (content == null || content == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$("span#submitBtn").hide();
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                // '['+betting.playsName+']'+betting.name+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+betting+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$("span#submitBtn").show();
	}

  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
    // $('._submitPlansMoney').append((betting.note_number))
  }
})
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  // console.log(rule);
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: cart[i].money,
      name: cart[i].name,
      oddsId: cart[i].oddsId.toString(),
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('.buyNumber a').removeClass('curr');
			$('._mybetContent .tz_list').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('.buyNumber a').removeClass('curr');
    }
  });
})
// 删除注单
function del(a){
	let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
	var zdshuliang = 0; // 注单数量
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text("¥"+ztzje)
}
// 对象深拷贝函数
function deepCopy(object){
	 let obj = new Object();
	 for(let k in object){
		 obj[k] = object[k]
	 }
	 obj.isActive = false;
	 return obj
 }
</script>
<style media="screen">
  .buyNumberTitle{
    width: 92px;
  }
  .betRight .winnerListSlide{
    height: 707px;
  }
  .logo{
    height: 1620px;
  }
	.buyNumber a{
    font-size: 22px;
		float: left;
		border-radius: 5px;
		width: 70px;
		margin-bottom: 35px;
  }
	.buyNumber{
		margin: 0px 0px 0 50px;
	}
	.selectNormal .buyNumber .plsize {
    font-size: 15px;
    font-family: cursive;
    color: #313131;
    width: 68px;
    margin: 3px 0px 0 3px;
		font: 14px/1.4 Microsoft YaHei,PingFang SC,Helvetica,Helvetica Neue,Tahoma,Arial,sans-serif;
	}
</style>
