
				<form>
					<table class="marksix_content">
						<tr class="bg-warning">
							<td>生肖</td>
							<td>赔率</td>
							<td>号码</td>
							<td>金额</td>
						</tr>
						<tr data-val="鼠">
							<td>鼠</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="牛">
							<td>牛</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="虎">
							<td>虎</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="兔">
							<td>兔</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="龙">
							<td>龙</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="蛇">
							<td>蛇</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="马">
							<td>马</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="羊">
							<td>羊</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="猴">
							<td>猴</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="鸡">
							<td>鸡</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="狗">
							<td>狗</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
						<tr data-val="猪">
							<td>猪</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="text" data-space="2" /></td>
						</tr>
					</table>
					<div class="text-center footercontent">
						<div class="text-center paddingtopbotton5">
							<input type="button" class="btn btn-warning" value="重填" onClick="$('.qingkong').click();" /> <input
								type="button" onclick="addToBetList('txsm', '特肖生码')"
								class="btn btn-warning" value="确认下注" />
						</div>
					</div>
				</form>