a:link { text-decoration: none; }
.header-logo { padding: 3px; }
.width30 { width: 30px; }
.register { padding-top: 5px; }
.register a { font-weight: bold; padding-right: 8px; padding-top: 5px; }
.footercontent {background: #92B3DD;position:relative; bottom:0px; width: 100%;padding: 4px 0px;z-index: 300000;}
.footercontent ~ table { bottom: 20px;}

.fontsize { font-size: 25px; padding: 2px 2px 2px 10px; }
.fontwidth { font-weight: bold; }
.linecentermodel { margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.body-banner { background-image: linear-gradient(#DED5C9,#D9EDF7); }
table { width: 100%; max-width: 100%; }
#caizhong table td { text-align: center; border-collapse: collapse; border: 1px solid #AEAAAF; color: #402A37; }
#caizhong { font-size: 13px; }
#caizhong table td a { display: block; width: 100%; height: 100%; padding: 5px 0; }
#caizhong table td a.gameActive { background: #B6E475; color: #F53131; }
.result-con { background: #A09D9D; padding: 5px 0; }
.paddingtopbotton5 { padding: 5px 0; }
.paddingbotton10{padding-bottom:10px;}
.result-time-bg { background: #F0F6F9; width: 100%; }
.text-red { color: red; }
.text-white{color:white;}
.gamename { padding: 4px 0; background: #F7FBFD; }
.gamename label { padding: 3px 6px; margin-left: 6px; }
.gamename label.selected { background: #cecccc; border-radius: 4px; }
.ball-content { padding: 8px 0 44px; background: #F7FBFD; }
.ball-content table td, .ball-content table th { border: 1px solid #ddd; border-collapse: collapse; text-align: center; padding: 2px 0; }
.ball-content table td input[type=text] { width: 68px; }
.ball-content input[type=checkbox] { height: 20px; width: 20px; }
.fengpan { background: #333; position: absolute; color: gold; opacity: 0.2; width: 100%; z-index: 9999; font-size: 35px; height: 100%; font-weight: bold; text-align: center; padding-top: 40px; }
.postionre{position:relative;}
/*模态框*/
#myModal1 table{margin-bottom:0;}
#myModal1 table tr td{padding:2px;text-align:center;}

/*快速输入*/
.inputed{background-color:yellow;}