
/*red*/
.span_ball_01, .span_ball_02,
.span_ball_07, .span_ball_08,
.span_ball_12, .span_ball_13,
.span_ball_18, .span_ball_19,
.span_ball_23, .span_ball_24,
.span_ball_29, .span_ball_30,
.span_ball_34, .span_ball_35,
.span_ball_40, .span_ball_45,
.span_ball_46 { background: url('../imgs/ball_red.png') no-repeat; }
/*blue*/
.span_ball_03, .span_ball_04,
.span_ball_09, .span_ball_10,
.span_ball_14, .span_ball_15,
.span_ball_20, .span_ball_25,
.span_ball_26, .span_ball_31,
.span_ball_36, .span_ball_37,
.span_ball_41, .span_ball_42,
.span_ball_47, .span_ball_48 { background: url('../imgs/ball_blue.png') no-repeat;}
/*green*/
.span_ball_05, .span_ball_06,
.span_ball_11, .span_ball_16,
.span_ball_17, .span_ball_21,
.span_ball_22, .span_ball_27,
.span_ball_28, .span_ball_32,
.span_ball_33, .span_ball_38,
.span_ball_39, .span_ball_43,
.span_ball_44, .span_ball_49 { background: url('../imgs/ball_green.png') no-repeat; }
.bColorR{background: url('../imgs/r.gif') no-repeat center 0px;font-weight:bold;height:32px;width:32px;}
.bColorB{background: url('../imgs/b.gif') no-repeat center 0px;font-weight:bold;height:32px;width:32px;}
.bColorG{background: url('../imgs/g.gif') no-repeat center 0px;font-weight:bold;height:32px;width:32px;}