.top {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 52px;
    line-height: 52px;
    background-image: linear-gradient(to right, rgb(124, 201, 254), rgb(27, 82, 149));
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px;
    z-index: 10;
}

.top .center {
    left: 43%;
    top: 12px;
}

.game-title {
    font-weight: bold;
    font-size: 0.625rem;
    position: relative;
    text-align: center;
    margin: 0.5rem 0.25rem 0.2rem;
    padding: 0px 0.5rem;
}

.game-title span {
    position: relative;
    z-index: 9;
}

.game-title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    z-index: 0;
    border-top: 1px solid rgba(180, 180, 180, 0.62);
}

.game-title::after {
    content: "";
    position: absolute;
    width: 30%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    margin: auto;
}

.game-item-wrapper {
    display: flex;
    font-size: 0.625rem;
    flex-flow: row wrap;
}

.game-item {
    cursor: pointer;
    text-align: center;
    height: 1.8rem;
    line-height: 1.8rem;
    background-color: rgb(242, 242, 242);
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(33.3333% - 0.5rem);
    box-sizing: border-box;
    position: relative;
    border-radius: 0.25rem;
    margin: 0.25rem;
    overflow: hidden;
}

.game-item.hot::before {
    content: "";
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.5rem;
    position: absolute;
    width: 40px;
    height: 12px;
    color: rgb(255, 255, 255);
    top: 0px;
    right: 0px;
    transform: rotate(45deg) translate(26%, -58%);
    content: "热";
    background-color: rgb(255, 141, 0);

}

.uq_icon {
    width: 62px;
    height: 16px;
    transform: scale(0.8);
    transform-origin: center top;
    background: url(../image/sprites.95e599e8.png) -65px 16px / 355px 110px;
    background-position: -65px 16px;
    margin: -1px auto 0px;
}

.uq_icon2 {
    width: 14px;
    height: 6px;
    position: absolute;
    background: url(../image/sprites.95e599e8.png) -288px 118px / 355px 110px;
    background-position: -288px 118px;
    margin: 3px 0px 0px 25px;
}

.draw {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(153, 153, 153);
    font-size: 0.6875rem;
    width: auto;
    min-width: 25%;
    max-width: 30%;
    margin-right: 10px;
}

.aHYtn {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: auto;
    min-width: auto;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-right: auto;
    flex-flow: row wrap;
    padding: 0px;
}

.csoaEf {
    height: 35px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(234, 234, 234);
}
#lottery_div_type_6 lottery_div_type_66 .csoaEf{
    height: 50px;
}

.aHYtn .item {
    height: 1.3rem;
    width: 1.3rem;
    display: inline-block;
    line-height: 23px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 0.875rem;
    text-shadow: rgb(0, 0, 0) 0px 0px 2px;
    margin-right: 1px;
    border-radius: 4px;
}
#lottery_div_type_8 .aHYtn .item{
    font-weight: bold;
    font-style: italic;
    text-indent: 0px;
}
#lottery_div_type_6 .aHYtn .item{
    text-shadow: none;
}
#lottery_div_type_9 .aHYtn .item {
    text-align: center;
    margin-right: 2px;
    font-size: 15px;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background: linear-gradient(rgb(97, 156, 255) 0px, rgb(10, 94, 255));
}

#lottery_div_type_9 .ball{
    text-align: center;
    /*margin-right: 2px;*/
    font-size: 15px;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background: linear-gradient(rgb(97, 156, 255) 0px, rgb(10, 94, 255));
}

.redBall{
    text-align: center;
    font-size: 12px;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background: linear-gradient(rgb(250, 116, 118) 0px, rgb(238, 9, 9));
}
.greenBall {
    text-align: center;
    font-size: 12px;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background: linear-gradient(rgb(89, 225, 75) 1%, rgb(58, 193, 44));
}
.blueBall {
    text-align: center;
    font-size: 12px;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background: linear-gradient(rgb(97, 156, 255) 0px, rgb(10, 94, 255));
}
.originBall{
    text-align: center;
    font-size: 12px;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background: linear-gradient(rgb(255, 154, 0) 0px, rgb(255, 102, 0));
}
.grayBall{
    text-align: center;
    font-size: 12px;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background: linear-gradient(rgb(153, 153, 153) 1%, rgb(119, 119, 119));
}

#lottery_div_type_6 lottery_div_type_66 .aHYtn .shengxiao{
    text-align: center;
    margin-right: 0px;
    font-size: 12px;
    line-height: 12px;
    color: black;
    box-shadow: none;
}

.NYREV,.div_color_4 {
    background-color: rgb(255, 112, 34);
}

.dpTOJk,.div_color_3 {
    background-color: rgb(77, 77, 77);
}

.cSdylC,.div_color_5 {
    background-color: rgb(119, 255, 253);
}

.eWNJZC,.div_color_2 {
    background-color: rgb(0, 140, 250);
}

.bXFtEs,.div_color_6 {
    background-color: rgb(66, 36, 248);
}

.etzZmw,.div_color_1 {
    background-color: rgb(255, 253, 60);
}

.coJjE,.div_color_10 {
    background-color: rgb(50, 197, 51);
}

.hAsmKk,.div_color_8 {
    background-color: rgb(255, 0, 26);
}

.hrvLPK,.div_color_9 {
    background-color: rgb(121, 0, 7);
}

.cPFdPr,.div_color_7 {
    background-color: rgb(181, 177, 177);
}
.draw span {
    font-size: 0.6875rem;
    color: rgb(19, 120, 189);
    letter-spacing: 1px;
}

.close {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(102, 102, 102);
    font-size: 0.75rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-right: 10px;
    letter-spacing: 1px;
    white-space: nowrap;
}

.open {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(102, 102, 102);
    font-size: 0.75rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-right: 10px;
    letter-spacing: 1px;
    white-space: nowrap;
}

.timer-wrapper {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
}

.song {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    background: url('../image/song.png') no-repeat;
}

.close span {
    margin-left: 3px;
    color: rgb(255, 91, 38);
}

.open span {
    margin-left: 3px;
    color: rgb(0, 205, 34);
}

.weui-navbar {
    display: block;
    width: 80px;
    background: rgb(242, 242, 242);
    height: 100%;
}

.weui-navbar__item {
    flex: none;
}

.weui-navbar + .weui-tab__bd {
    padding-top: 0px;
    padding-left: 80px;
}

.weui-tab__bd {
    height: auto;
}

.bet-panel-wrapper {
    box-sizing: border-box;
    perspective: 500px;
    background-color: rgb(255, 255, 255);
}

.bet-panel-header {
    position: relative;
}

.title {
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: rgb(118, 118, 118);
    position: relative;
    height: 32px;
    background-color: rgb(250, 250, 250);
    border-top: 0.5px solid rgb(221, 221, 221);
    border-right: 0.5px solid rgb(221, 221, 221);
    border-bottom: 0.5px solid rgb(221, 221, 221);
}

.bet-panel-content {
    transform-style: preserve-3d;
    transform-origin: center top;
    backface-visibility: hidden;
    display: flex;
    transition: transform 400ms ease-in-out 0s, height 400ms ease-in-out 0s, visibility 400ms ease-in-out 0s, opacity 400ms ease-in-out 0s;
    flex-flow: row wrap;
    border-right: 0.5px solid rgb(221, 221, 221);
}

.kEXwXI {
    opacity: initial;
    pointer-events: initial;
    height: 48px;
    line-height: 48px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    background: #fff;
}

.hexiao {
    opacity: initial;
    pointer-events: initial;
    height: 48px;
    line-height: 48px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    width: 33.3333%;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.gbajzm {
    font-size: 0.875rem;
    font-weight: bold;
    box-sizing: border-box;
    line-height: inherit;
    height: inherit;
    border-right: 0.5px solid rgb(221, 221, 221);
    border-bottom: 0.5px solid rgb(221, 221, 221);
}

.kEXwXI .b_odds {
    color: rgb(255, 0, 0);
    font-weight: normal;
    letter-spacing: 2px;
}

.b_btn.active{
    font-size: 0.875rem;
    font-weight: bold;
    box-sizing: border-box;
    /*line-height: inherit;*/
    /*height: inherit;*/
    border-left: 2px solid rgb(53, 168, 224);
    border-top: 2px solid rgb(53, 168, 224);
    border-right: 2px solid rgb(53, 168, 224);
    border-bottom: 2px solid rgb(53, 168, 224);
}
.b_btn.active::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 3px;
    transform: rotate(135deg);
    position: absolute;
    right: 4px;
    bottom: 5px;
    z-index: 5;
    border-top: 1.8px solid rgb(255, 255, 255);
    border-right: 1.8px solid rgb(255, 255, 255);
}
.b_btn.active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom: 20px solid rgb(53, 168, 224);
    border-left: 20px solid transparent;
}
#cart{
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    transform: translate3d(0px, 0px, 0px);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    border-radius: 10px 10px 0px 0px;
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s 1 normal forwards running fadeInUp;
}
#cartConfirm{
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    transform: translate3d(0px, 0px, 0px);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    border-radius: 10px 10px 0px 0px;
    animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s 1 normal forwards running fadeInUp;
}
#cartConfirm .confirm{
    position: fixed;
    width: 90%;
    height: auto;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    z-index: 99;
    background-color: rgb(255, 255, 255);
    display: block;
    border-radius: 10px;
    margin: auto;
    animation: 0.4s linear 0s 1 normal forwards running fadeIn;
    overflow: hidden;
}
#cartConfirm .header{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45px;
    color: white;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(125, 202, 255) 0%, rgb(26, 81, 148) 100%);
    padding: 0px 12px;
}
#cartConfirm .table-wrapper {
    height: calc((100% - 45px) - 65px);
    width: 90%;
    margin: auto;
}
.table {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.table-wrapper .table .head {
    display: flex;
    border-bottom: 1px solid rgb(178, 178, 178);
}
.table-wrapper .table span {
    text-align: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 4px 2px;
}
.table-wrapper .table span:first-child {
    text-align: left;
    width: 50%;
}
.table-wrapper .table .body.long {
    height: 278px;
}
.table-wrapper .table .body {
    position: relative;
    overflow: auto;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.table-wrapper .table span {
    font-size: 14px;
    text-align: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 4px 2px;
}
.table-wrapper .table .footer {
    display: flex;
    font-weight: bold;
    position: relative;
    border-top: 1px solid rgb(178, 178, 178);
    border-bottom: 1px solid rgb(178, 178, 178);
}
.confirm-btn {
    height: 45px;
    width: 200px;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    display: block;
    margin: 10px auto;
    background: linear-gradient(to right, rgb(125, 202, 255) 0%, rgb(26, 81, 148) 100%);
    border-radius: 50px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: none;
}
#cart .styled-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 10px;
    width: 2px;
    height: 2px;
    box-shadow: rgb(118, 118, 118) 2px 0px 0px, rgb(118, 118, 118) 4px 0px 0px, rgb(118, 118, 118) 4px -2px 0px, rgb(118, 118, 118) 4px -4px 0px, rgb(118, 118, 118) 4px -6px 0px, rgb(118, 118, 118) 4px -8px 0px;
    transform: rotate(45deg);
    background: rgb(118, 118, 118);
}
.selectCount{
    text-align: center;
    position: relative;
}
.selectCount span{
    position: absolute;
    bottom: -14px;
    left: calc(50% - 44px);
    font-size: 12px;
    width: 88px;
    height: 22px;
    color: white;
    text-align: center;
    line-height: 22px;
    z-index: 20;
    background: rgb(158, 158, 158);
    border-radius: 12px;
}
#cart .money{
    width: 100%;
    text-align: center;
    height: 22px;
    display: inline-block;
    line-height: 21px;
    font-size: 12px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(4, 186, 238);
    border-image: initial;
    margin: 0 3px;
}

.bets .bets-input-value {
    width: calc(52% - 80px);
    height: 32px;
    box-sizing: border-box;
    margin-right: 5px;
    border-radius: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    padding: 0px 10px;
}
.bets label {
    cursor: pointer;
    padding: 0px;
}

.bets label::before{
    content: "";
    margin-right: 0px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 4px;
}
.bets .result-btn {
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: calc(39% - 22px);
    white-space: nowrap;
    height: 32px;
    background: linear-gradient(121deg, rgb(76, 152, 242), rgb(70, 123, 185), rgb(65, 102, 144)) white;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 5px 11px;
    border-radius: 25px;
}
.w-b25 {
    width: 25%;
}
.w-b50 {
    width: 50%;
}
.w-b100 {
    width: 100%;
}
.touzi{
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin-right: 5px;
    display: inline-block;
}
.one,.kj_ks_1{
    background: url(../image/icon-lottery.png) 98px 0px / 487px 60px;
    background-position: 98px 0px;
}
.two,.kj_ks_2{
    background: url(../image/icon-lottery.png) 65px 0px / 487px 60px;
    background-position: 65px 0px;
}
.three,.kj_ks_3{
    background: url(../image/icon-lottery.png) 32px 0px / 487px 60px;
    background-position: 32px 0px;
}
.four,.kj_ks_4{
    background: url(../image/icon-lottery.png) 98px -30px / 487px 60px;
    background-position: 98px -30px;
}
.five,.kj_ks_5{
    background: url(../image/icon-lottery.png) 65px -30px / 487px 60px;
    background-position: 65px -30px;
}
.six,.kj_ks_6{
    background: url(../image/icon-lottery.png) 32px -30px / 487px 60px;
    background-position: 32px -30px;
}
.hlsx{
    text-align: center;
    margin-right: 2px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;
}
.sx0{
    background-image: url(../image/ball_sx.png);
    background-position: 0px 0px;
}
.sx1{
    background-image: url(../image/ball_sx.png);
    background-position: 0px -30px;
}
.sx2{
    background-image: url(../image/ball_sx.png);
    background-position: 0px -60px;
}
.sx3{
    background-image: url(../image/ball_sx.png);
    background-position: 0px -90px;
}
.sx4{
    background-image: url(../image/ball_sx.png);
    background-position: 0px -120px;
}
.sx5{
    background-image: url(../image/ball_sx.png);
    background-position: 0px -150px;
}
.sx6{
    background-image: url(../image/ball_sx.png);
    background-position: 0px -180px;
}
.sx7{
    background-image: url(../image/ball_sx.png);
    background-position: 0px -210px;
}
.sx8{
    background-image: url(../image/ball_sx.png);
    background-position: 0px -240px;
}
.sx9{
    background-image: url(../image/ball_sx.png);
    background-position: 0px -270px;
}

.flex-half{
    height: 50%;
    line-height: initial;
}

.num{
    height: 1.3rem;
    width: 1.3rem;
    display: inline-block;
    line-height: 23px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 0.875rem;
    text-shadow: rgb(0, 0, 0) 0px 0px 2px;
    margin-right: 1px;
    border-radius: 4px;
    font-weight: bold;
    font-style: italic;
    text-indent: 0px;
}
