
<form>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">佰个定位</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			{#
			var nums = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];
			var item = list[0];
			var index = 0;
			_.map(nums, function(numi, i, nums){
				_.map(nums, function(numj, j, nums){
					if(index % 2 == 0){
						print('<tr>');
					}
						print('<td class="ballColor ballcolor-g">' + numi + numj + '</td>');
						print('<td class="text-red" >' + item.odds + '</td>');
						print('<td><input type="text" name="' + numi + numj + '" rate="' + item.odds + '" oddsId="' + item.id + '" rakeBack="' + item.rakeBack + '"></td>');
					if(index % 2 != 0 || index == (nums.length * nums.length) - 1){
						print('</tr>');
					}
					index++;
				});
			});
			#}
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(15, 'erzidingwei', 'baigedingwei', '二字定位--佰个')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
