
<form>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">总和 </th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>总大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>总小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>总单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>总双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>总尾大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总尾大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>总尾小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总尾小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第一球">
		<thead>
			<tr>
				<th colspan="6">第一球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>尾大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>尾小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>合单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>合双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第二球">
		<thead>
			<tr>
				<th colspan="6">第二球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>尾大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>尾小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>合单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>合双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第三球">
		<thead>
			<tr>
				<th colspan="6">第三球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>尾大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>尾小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>合单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>合双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第四球">
		<thead>
			<tr>
				<th colspan="6">第四球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>尾大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>尾小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>合单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>合双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第五球">
		<thead>
			<tr>
				<th colspan="6">第五球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>尾大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>尾小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>合单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>合双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第六球">
		<thead>
			<tr>
				<th colspan="6">第六球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>尾大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>尾小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>合单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>合双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第七球">
		<thead>
			<tr>
				<th colspan="6">第七球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>尾大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>尾小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>合单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>合双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第八球">
		<thead>
			<tr>
				<th colspan="6">第八球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>尾大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾大" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>尾小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾小" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
			<tr>
				<td>合单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合单" rate="0.0" oddsId="" rakeBack="1020">
				</td>
				<td>合双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合双" rate="0.0" oddsId="" rakeBack="1020">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(12, 'shuangmianpan', 'shuangmianpan', '双面盘')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
