* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* paySelectWay1Page start */
.paySelectWay1Content {
	background: #f6f6f6;
}
.userinfo {
	font-size: 0.7rem;
	line-height: 2.2rem;
	padding-left: 0.6rem;
	color: #292929;
	border-bottom: 0.1rem solid #cd0005;
	color: #777777;
}
.chongzhitl{
	color:#828282;
	font-size: 0.7rem;
	line-height: 2.5rem;
	padding-left: 0.6rem;
}
.chongzhitl .iconfont{
	font-size: 0.5rem;
	position: relative;
	top: -1px;
}
.payWay{
	padding: 0rem 0.6rem;
}
.payWay .pwtitle{
	padding: 0.2rem 0.6rem;
	font-size: 0.7rem;
	color: #797A7E;
}
.payWayUl{
	background: #fff;
	padding: 0rem 0.5rem;
	border-radius: 0.3rem;
	margin-bottom: 0.3rem;
}
.payWayUl li {
	padding: 0.3rem 0.65rem;
	color: #1f1f1f;
	border-bottom: 1px solid #EBECF0;
	line-height: 1.3rem;
}
.payWayUl li .pwradio {
	width: 0.75rem;
	height: 0.75rem;
}
.payWayUl li .pwicon {
	background-size: 4.5rem 1.4rem;
	width: 4.5rem;
	height: 1.4rem;
	margin: 0rem 1rem;
	vertical-align: initial;
}
.payWayUl li .pwtips {
	font-size: 0.7rem;
}

.showdesc {
	margin-top: 0.6rem;
	line-height: 0.9rem;
	color: #f00;
	text-align: center;
}
.inputinfo_content {
	margin: 0rem 0.7rem;
}
.netx_content {
	margin: 1.5rem 0.7rem 4rem;
}
.nextbtn{
	display: block;
	height: 1.8rem;
	background:#cd0005;
	font-size: 0.8rem;
	color:#fff;
	border-radius: 0.4rem;
	line-height: 1.8rem;
	text-align: center;
	width: 100%;
	border: none;
}
button.nextbtn{
	line-height: initial;
}

.chongzhitishi{
	font-size: 0.6rem;
	position: fixed;
	bottom: 0rem;
	left: 0rem;
	width: 100%;
	background:#ececec;
	color:#6b6b6b;
	text-align:center;
	padding: 0.3rem 0rem;
	z-index: 200;
}

.zuidichongz{
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.25rem 0.6rem;
	font-size: 0.6rem;
	color: #6b6b6b;
	margin-left: 0.65rem;
}
.chongzhiinptu{
}
.chongzhiinptu input{
	width: 100%;
	padding-left: 0.4rem;
	height: 2.2rem;
	border: none;
	font-size: 0.8rem;
	color: #cd0005;
	border: 1px solid #ddd;
}
.fastpaytips {
	font-size: 0.6rem;
}
.popup-topayaction-content {
	background: #f6f6f6;
}
.popup-topayaction-content .payWay {
	font-size: 0.7rem;
	color: #828282;
}
.popup_template_ul {
}
.popup_template_ul.topay {
	margin: 1.6rem 0rem 2rem;
}
.popup_template_ul li {
	margin-bottom: 1rem;
}
.popup_template_ul li span.ititle {
	margin-right: 1rem;
/* 	width: 4rem; */
	display: inline-block;
	text-align: right;
}
.popup_template_ul li .tips {
	font-size: 0.6rem;
	width: 100%;
	text-align: right;
}
.popup_template_ul li.qrcode{
	height: 10rem;
	line-height: 10rem;
	display: inline-flex;
}
.popup_template_ul li.qrcode img{
	width: 10rem;
	height: 10rem;
}
/* paySelectWay1Page end */

/* paySelectWay2Page start */
/* paySelectWay2Page end */

/* withdrawPage start */
/* withdrawPage end */