/* 重写light7的css */
@media only screen and (max-width:330px) {
	html {
		font-size: 16px !important
	}
}
@media only screen and (max-width:370px) and (min-width:330px) {
	html {
		font-size: 18px !important
	}
}

.bar-nav {
	background-color: #ec2829;
	border-bottom: initial;
}

.bar-tab {
	background-color: #171719;
}

.bar-tab .tab-item {
	color: #c2c2c2;
	font-weight: 580;
}

.bar-tab .tab-item.active, .bar-tab .tab-item:active {
	color: #CDBF0E;
}

.bar-tab ~.content, .bar-tab ~.page .content {
	bottom: 2.8rem
}

/* light7 extend reset */
.swiper-container {
	padding-bottom: initial;
}

.swiper-wrapper {
	height: initial;
}

.swiper-slide {
	height: initial;
}

.swiper-slide img {
	height: 8rem;
	width: 100%;
}

.bar-tab .tab-item .badge  {
	position: absolute;
	left: 100%;
	margin-left: -0.5rem;
	top: -0.1rem;
	font-size: 0.5rem;
	line-height: 0.8rem;
	height: 0.8rem;
	border-radius: 0.8rem;
	padding: 0 0.2rem;
	min-width: 0.8rem;
	font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial,
		sans-serif;

	z-index: 100;
	color: #fff;
	vertical-align: top;
	background: red;
}

/* swiper reset */
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	width: 30px;
	height: 46px;
	left: 0px;
	background-position: -16px -37px !important;
	background: url("../images/a12.png") no-repeat;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	width: 30px;
	height: 46px;
	right: 0px;
	background-position: -75px -37px !important;
	background: url("../images/a12.png") no-repeat;
}