@charset "utf-8";

/* CSS Document */
body {
	font: 12px microsoft yahei, Arial, Helvetica, sans-serif;
	background: #002034;
	color: #333
}

body, ul, li, dl, dt, dd, p, form, div, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0
}

.header .logo {
	margin: 35px 0 0 30px;
	width: 200px;
	height: 50px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}

li {
	list-style: none
}

img {
	border: none
}

a {
	text-decoration: none;
}

.mb5 {
	margin-bottom: 5px
}

.mt5 {
	margin-top: 5px
}

.mt10 {
	margin-top: 10px
}

.fl {
	float: left
}

.fr {
	float: right
}

.clear:after, .nav ul:after, .content:after {
	content: "";
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
	display: block
}

.clear {
	*zoom: 1
}

.header {
	position: relative;
	width: 1034px;
	height: 114px;
	margin: 0 auto;
	background: url(../images/header.png) no-repeat;
}

.header .nav {
	width: 780px;
	height: 53px;
	margin-top: 60px;
	margin-right: 20px;
	position: relative
}

.nav li, .nav li a {
	float: left;
}

.nav li a {
	font-size: 14px;
	width: 140px;
	color: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin-top: 8px
}

.nav li a:hover, .nav .current a {
	background: url(../images/navBg.png) center center no-repeat;
	color: #000
}

.deposit_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 130px;
	height: 53px;
	text-indent: -9999em;
	overflow: hidden
}

.time {
	color: #8cd3ff;
	position: absolute;
	top: 30px;
	right: 30px;
	background: url(../images/time.png) no-repeat;
	height: 30px;
	padding-left: 25px;
}

.content {
	width: 1034px;
	margin: 0 auto;
	background: url(../images/conLine.png) top center repeat-y;
}

.sidebar {
	width: 230px;
	height: 486px;
	background: url(../images/left.png) no-repeat;
	margin-left: 6px;
}

.sidebar .title {
	padding-left: 30px;
	margin-left: 10px;
	width: 188px;
	height: 45px;
	line-height: 36px;
	color: #fff;
	background: url(../images/titleBg.png) left bottom no-repeat;
	font-size: 14px;
}

.sidebar .title2 {
	margin-top: 15px;
	height: 53px;
	line-height: 53px
}

.sidebar .title img {
	vertical-align: middle;
	margin-right: 5px
}

.secondary a {
	margin-left: 10px;
	padding-left: 60px;
	display: block;
	width: 160px;
	height: 38px;
	line-height: 38px;
	color: #fff;
	background: url(../images/menu.png) no-repeat;
}

.secondary a:hover, .current a {
	background: url(../images/selectBg.png) center center no-repeat;
	color: #000;
}

.main {
	width: 779px;
	float: left;
}

.main_box {
	background: #fff url(../images/bg_y.png) repeat-y;
	color: #666;
	min-height: 455px
}

.main_top {
	height: 15px;
	overflow: hidden;
	background: url(../images/marintopBg.png) no-repeat;
}

.main_footer {
	height: 11px;
	overflow: hidden;
}

.main .tit {
	font-size: 14px;
	font-weight: bold;
	margin-left: 20px;
	border-left: 4px solid #126192;
	padding-left: 10px
}

.tab {
	border-collapse: collapse;
	border: none;
	margin: 15px auto 0;
}

.tab th {
	background: #e9e9e9;
	height: 28px;
	font-weight: normal;
	border: 1px solid #dbdbdb;
	color: #000
}

.tab td {
	border: 1px solid #dbdbdb;
	text-align: center;
	color: #666;
	padding: 8px 5px
}

.yellow {
	color: #dcb541;
	text-decoration: underline
}

.red {
	color: #ff5400
}

.tab .btn {
	border: 1px solid #9a9a9a;
	padding: 2px 5px;
	margin-right: 10px;
	background: #efefef;
	color: #666;
}

.category {
	padding-left: 8px;
	font-size: 10px;
	height: 30px;
	line-height: 30px;
	background: #dfdfdf;
	margin-bottom: 1px
}

.category a {
	color: #333;
	margin: 0 10px;
}

.category .current {
	font-weight: bold;
}

.ml20 {
	margin-left: 24px
}

.inp, .inp2 {
	border: 1px solid #ddd;
	width: 80px;
	height: 20px;
	vertical-align: middle
}

.inp2 {
	text-align: center
}

.btn2 {
	border: none;
	border: 1px solid #9a9a9a;
	padding: 3px 10px;
	background: #dfdfdf
}

.tabLi li {
	margin: 10px 0 0 20px
}

.main .txt {
	margin: 5px 20px 0;
	line-height: 24px;
	padding-bottom: 20px
}

.txt h3 {
	font-size: 14px;
	color: #333
}

.headinfo {
	word-spacing: 5px
}

.txtleft {
	text-align: left
}

td.txtright {
	text-align: right
}

.txtnone {
	padding: 20px 0;
	text-align: center
}

.date {
	display: inline-block;
	padding-left: 3px;
	width: 100px;
	border: 1px solid #ddd;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	position: relative
}

.date {
	*display: inline;
	*zoom: 1
}

.date img {
	position: absolute;
	top: 2px;
	right: 3px
}

.news_list {
	width: 720px;
	margin: 10px 0 0 25px;
}

.news_list li {
	line-height: 24px;
	border-bottom: 1px solid #ccc;
	padding: 10px 10px 10px 20px;
	background: url(../images/arrow.png) left 19px no-repeat
}

.msg {
	background: #fbfbfb;
	padding: 20px 10px;
	text-align: left
}

.col3 {
	color: #333
}

.layer {
	width: 590px;
	margin: 30px auto;
}

.layer_top {
	padding-left: 20px;
	height: 55px;
	background: url(../images/layer-top.png) no-repeat;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 45px;
}

.layer_top img {
	vertical-align: -6px;
	margin-right: 5px
}

.layer_box {
	background: url(../images/layer-line.png) repeat-y
}

.layer_footer {
	background: url(../images/layer-b.png) repeat-y;
	height: 14px;
	overflow: hidden;
	text-align: center;
}

.tips {
	padding: 5px 0 10px 40px;
}

.inp3 {
	border: none;
	width: 130px;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
	background: #eee
}

#savebank input.inp3 {
	border: none;
	width: 130px;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
	background: #fff;
	border: 1px solid #333;
}

#savebank input.inp3:disabled {
	background: #eee;
	border: 1px solid #ddd;
}

.explain {
	line-height: 24px;
	padding: 10px;
}

.di {
	margin: 10px auto 0;
	width: 560px;
	padding-top: 8px;
	height: 34px;
	background: url(../images/di.png) no-repeat;
	text-align: center
}

.btn-sub {
	width: 80px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	background: #0063d3;
	color: #fff;
	margin-right: 20px;
	vertical-align: middle;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.di2 {
	margin: 0 auto;
	width: 560px;
	height: 20px;
	background: url(../images/di2.png) no-repeat
}

.footer {
	width: 834px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	line-height: 33px;
	/*     line-height: 60px; */
	padding-left: 200px;
	background: url(../images/footer.png) top center repeat-y;
	height: 101px
}

.btn_001 {
	cursor: pointer;
	margin: 0 1px 0 0;
	width: 85px;
	height: 26px;
	border: none;
	padding-top: 2px;
	color: #FFF;
	font-weight: bold;
	background: #3D3D3D url(../images/order_btn.gif) no-repeat 0 -80px;
}

#pay_title {
	font-size: 14px;
	font-weight: bold;
	margin-left: 20px;
	border-left: 4px solid #126192;
	padding-left: 10px;
}

.headerbox {
	width: 800px;
	margin: 0 auto;
	height: 56px;
	line-height: 56px;
	margin-top: 30px;
	background: url(../images/mheader.png) no-repeat;
}

.headerbox span {
	color: #ffcb49;
	margin-left: 20px;
	font-size: 14px;
}

.footerbox {
	width: 800px;
	margin: 0 auto;
	height: 86px;
	line-height: 86px;
	background: url(../images/mfooter.png) no-repeat;
	text-align: center;
	color: #fff;
}

#block {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
}

.hidn {
	display: none;
}