ol, ul {
	list-style: none;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

caption, th {
	text-align: left;
}

q:before, q:after {
	content: '';
}

.lim_float_icon {
	display: none
}