/*2010-09-20-For NewSI2 ======= Add Special Early ======*/
html, body {height:98%;}
body.bodyset { margin:0; padding: 10px 0 0 10px; background-color: #FFF;behavior:url(/style/member/csshover.htc);}
 /*background:url(../../images/member/test_bg.gif) no-repeat 0 0;*/
body.bodyset, .leg_mem {/* 捲軸-上色 */
 scrollbar-face-color: #DCD1C5;
 scrollbar-shadow-color: #B9A38B;
 scrollbar-highlight-color: #E6DED6;
 scrollbar-3dlight-color: #B9A38B;
 scrollbar-darkshadow-color: #33281C;
 scrollbar-track-color: #33281C;
 scrollbar-arrow-color: #413528;
 }
 /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~盤面寬度~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  FT    */
body.FTR #box { width:715px;}
body.FTR td#page_no { width:393px; line-height:25px;}
body.FTR .mem .team,  body.FTRE .mem .team,   body.FTPD .mem .team, body.FTP3 .mem .team,  body.FTF .mem .team
 {	min-width:160px;	width: auto !important;	width: 160px;	}
body.FTRE #box { width:715px;}
body.FTRE td#page_no { width:347px; line-height:25px;}
body.FTT #box { width:544px;}
body.FTT td#page_no { width:272px; line-height:25px;}
body.FTPD #box { width:734px;}
body.FTPD td#page_no { width:462px; line-height:25px;}
body.FTP3 #box { width:715px;}
body.FTP3 td#page_no { width:393px;}
body.FTF #box { width:652px;}
body.FTF td#page_no { width:380px; line-height:25px;}
/* BK / BS / TN / VB -- RE / FTT / FUT / BUR */
body.TNRE #box {width:715px;/* width:1050px\9;*/}
body.VBRE #box { width:715px;}
body.BKRE #box { width:715px;}
body.BKRE td#page_no, body.TNRE td#page_no, body.VBRE td#page_no {width:360px;}
body.VBRE .mem .team { width:294px;}
body.BKRE .mem .team { width:258px;}
body.TNRE .mem .team { /*width:510px\9;*/}

body.VUR #box, body.OUR #box { /*width: 850px;*/}
body.BUR #box { width: 715px;}
body.TUR #box { width:715px;/* width:1050px\9;*/}
body.TUR td#page_no, body.VUR td#page_no, body.OUR td#page_no  { width:330px;}
body.BUR td#page_no { width:300px;}
body.BUR .mem .team { /*width:364px;*/}
body.VUR .mem .team, body.OUR .mem .team { width:323px;}
body.TUR .mem .team { /*width:510px;*/}

body.BSRE #box { width:515px;}
body.BSRE td#page_no { width:193px;}
body.BSRE .mem .team, body.FTT .mem .team { width:260px;}
body.FUT .mem .team { width:332px;}
/* BK */
body.BKP3 #box { width: 715px;}
body.BKR #box { width: 715px;}
body.BKR td#page_no { width:300px;}
body.BKP3 td#page_no { width:425px;}
body.BKP3 .mem .team { /*width:248px;*/}
body.BKR .mem .team { /*width:248px;*/}
/* BS */
body.BSR #box { width:674px;}
body.BSR td#page_no { width:352px;}
body.BSR .mem .team { width:160px;}
/* BS P3*/
body.BSP3 #box { width:502px;}
body.BSP3 td#page_no { width:180px;}
body.BSP3 .mem .team { width:160px;}
/* OP */
body.OPRE #box { width:665px;}
body.OPRE td#page_no { width:263px;}
body.OPRE .mem .team { width:160px;}
/* OP / TN / VB -- R(PR) */
body.OPR #box, body.OPP3 #box, body.VBR #box, body.VBP3 #box { width:715px;}
body.TNP3 #box { width:715px;}
body.TNR #box { width:715px;/* width:1050px\9;*/}
body.OPR td#page_no, body.OPP3 td#page_no, body.VBR td#page_no, body.VBP3 td#page_no { width:300px;}
body.TNR td#page_no { width:300px;}
body.TNP3 td#page_no { width:425px;}
body.OPR .mem .team, body.OPP3 .mem .team, body.TNPD .mem .team, body.VBR .mem .team, body.VBP3 .mem .team { width:220px;}
body.TNP3 .mem .team { width:35%;}
body.TNR .mem .team { /*width:510px;*/}
/* OU / TU / VU -- R(PR) */
body.OUP3 #box { width:562px;}
body.VUP3 #box { width:715px;}
body.TUP3 #box { width:715px;}
body.OUP3 td#page_no, body.VUP3 td#page_no { width:425px;}
body.TUP3 td#page_no { width:425px;}
body.OUP3 .mem .team, body.TUPD .mem .team, body.VUP3 .mem .team { width:220px;}
body.TUP3 .mem .team { width:35%;}
/* TN */
body.TNPD #box { width:553px;}
body.TNPD td#page_no { width:231px;}
/* VB */
body.VBPD #box { width:511px;}
body.VBPD td#page_no { width:189px;}
body.VBPD .mem .team { width:280px;}
/*    FU早餐   */
body.FUR #box { width:800px;}
body.FUR td#page_no { width:393px; line-height:25px;}
/* FUR / FUPD / FUT / FUF  -- team */
body.FUR .mem .team, body.FUPD .mem .team, body.FUF .mem .team,  body.FUP3 .mem .team  {	min-width:160px;	width: auto !important;	width: 160px;	}
body.FUPD #box { width:734px;}
body.FUPD td#page_no { width:462px;}
body.FUT #box { width:616px;}
body.FUT td#page_no { width:344px;}
body.FUF #box { width:652px;}
body.FUF td#page_no { width:380px;}
/* BU */
body.BUP3 #box  { width: 715px;}
body.BUP3 td#page_no { width:425px;}
body.BUP3 .mem .team { /*width:224px;*/}
/* BE */
body.BER #box { width:674px;}
body.BER td#page_no { width:352px;}
body.BER .mem .team { width:160px;}
/* BE P3*/
body.BEP3 #box { width:535px;}
body.BEP3 td#page_no { width:213px;}
body.BEP3 .mem .team { width:193px;}
/* TU */
body.TUPD #box { width:553px;}
body.TUPD td#page_no { width:231px;}
/* VU */
body.VUPD #box { width:525px;}
body.VUPD td#page_no { width:203px;}
body.VUPD .mem .team { width:294px;}
 /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~盤面寬度  END~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body.bodyset_cal { margin:0; padding: 10px 0 0 5px; background: #FFF;}
form { margin:0; padding:0;}
a { text-decoration: none; font-weight:bold;}
a:link, a:visited {	color: #C00;}
a:hover { color:#006;}
/* 轉頁loading */
#LoadLayer {position:absolute;	width:100%;	z-index:1;	text-align:center;	/*padding-top:40px;*/background-color:#000;	border: 1px solid #000; /*visibility:visible;*/	visibility:hidden;	/*left: 8px;*/}
#controlscroll { display:none; position:absolute;width:100%;height:99.9%;	z-index:1;	text-align:center;left:0;top:0; /*display: none;*/
opacity: 0.6;  *filter:alpha(opacity=60);
background-color:#000;}
#controlscroll table.loadBox { width:100%;height:99%; text-align:center; background:  url(../../images/member/iphone_load.gif) no-repeat 330px 50%;filter:alpha(opacity=100);}

#box { width:734px;position: relative; margin-bottom:12px;}
/*title*/
.top { position: relative;background: #4E432A url(../images/member/mem_h1_ft.gif) no-repeat 100% 0; color:#FFF; clear:both;}
.top h1 { margin:0 15px 0 0; padding: 4px 2px 1px 11px; font:0.75em/1.2; white-space: nowrap;background:url(../images/member/mem_h1_ft.gif) no-repeat 0 0; /*border-width:thin; border:1px dotted #FC0;*/}
html>body .top h1 {padding: 6px 2px 3px 11px;}/*Mac Hack*/
.top em { width:56px; white-space: nowrap;font-style: normal; font-weight:bold; margin-top:4px; margin-bottom:2px;}
.top .rig { position: absolute; top:6px; right:13px; width:auto; white-space:nowrap;font:1em/1.2 Arial, Helvetica, sans-serif; text-align:right;}
.top strong { margin: 0 0 0 8px; font-weight: normal;}
/*.rig strong { position-top:10px;}*/
.rig .txt { margin-left:5px; margin-right:5px;}
input, select { vertical-align: middle; height: 18px;font:1em Arial, Helvetica, sans-serif;}
.rig .button {}
.top a { margin-left: 6px; margin-right:4px;}
.top a:hover { color:#FF0!important; text-decoration:none!important;}
.top a:link, .top a:visited { color:#FFF; text-decoration:underline;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~mem~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.mem { border: 2px solid #BC9A3F; border-top-width: 0; border-bottom:1px solid #D7D7C1; padding:3px; background-color:#D7D7C1; clear:both;}
h2 { white-space:nowrap; margin:0; padding: 0px 8px 0px; height:29px;font:normal 0.75em Arial, Helvetica, sans-serif; background-color:#86715c;/*border:1px solid #B9B9A3;*/ border-bottom:1px solid #D7D7C1;}
html>body h2 { padding: 0px 8px 5px; }/*Mac Hack*/
h2 a:link, h2 a:visited {color:#FF0;}
h2 a:hover { color:#F8C100!important; }
h2 a {text-decoration: none;}
/*我的最愛功能列*/
table#fav_bar { height:34px; color:#FFF;}
table#fav_bar td{	white-space: nowrap; font:normal 0.75em Arial, Helvetica, sans-serif; height:26px; padding:0;}
/*頁次*/
td#page_no { width:412px; white-space:nowrap;}
/*下拉上色*/
td#page_no select, .OrderType select { border:1px solid #B6ACAA;}
/*工具第二層table*/
#tool_td { text-align:right;}
#tool_td .tool_box { margin:0; padding:0; color:#FFF;}
/*~~~~~~~~~切換我的最愛~~~~~~~~~*/
#fav_btn { /*width:90px;*/width:50px; text-align:left; padding-right:10px;}
#fav_btn img {border: none; *cursor:hand; cursor:pointer; width:40px; height:26; margin-top:3px \9;}
.fav_null { width:40px; height:26px;background: url(../images/member/mem_fav_null.gif) no-repeat 0 0;}/*無資料*//**/
.fav_out { *cursor:hand; cursor:pointer;  width:40px; height:26px; background: url(../images/member/mem_fav_out.gif) no-repeat 0 0;}/*有資料*//**/
.fav_on { *cursor:hand; cursor:pointer; width:40px; height:26px; background: url(../images/member/mem_fav_on.gif) no-repeat 0 0;}/*點選*/
/*滑過變色*//**/
div.fav_out:hover {background: url(../images/member/mem_fav_out.gif) no-repeat 0 -26px;} 
div.fav_on:hover {background: url(../images/member/mem_fav_on.gif) no-repeat 0 -26px;} 

/*我的最愛計次*//**/
#fav_num { *cursor:hand; cursor:pointer;width:17px; height:17px; padding-top:2px; color:#8F5E01; font-size:10px; text-align:center; z-index:100;}
html>body #fav_num { position:absolute;margin-top:-2px;margin-left:32px;padding-top:3px; background: url(../images/member/fav_num.png) no-repeat;}/*mac*/
*#fav_num { position: absolute \9; margin-top:-5px \9; margin-left:32px \9; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/member/fav_num.png');}/*IE6 png透明*/

/*上刷新*/
td.refresh_btn , td.refresh_on { width:74px;}
td.refresh_btn div , td.refresh_on div {  *cursor:hand; cursor:pointer; height:26px; width:64px; text-align: center; padding:6px 3px 0 0;}
td.refresh_btn div {  color:#F9C100; background:url(../images/member/mem_refresh_btn.gif) no-repeat;}
html>body td.refresh_btn div, html>body td.refresh_on div   { margin-top: 5px;}
.refresh_btn font, .refresh_on font  { margin-left:25px; width:36px;}
/*html>body td.refresh_btn div font, html>body td.refresh_on div font {  float:right; clear:right;padding:0 3px 0 0;}/*Mac Hack*/
td.refresh_on div {  color:#FF0;background:url(../images/member/mem_refresh_S_on.gif) no-repeat;}
/*滑過變色*//**/
/*td.refresh_btn div:hover { color: #FF0;} 

/*============history 刷新============*/
/* history 賽果-冠軍 無字 刷新 */
td.rsu_refresh , td.rsu_refresh_on { width:48px; padding-left:10px; text-align:right;}
td.rsu_refresh div, td.rsu_refresh_on div {  *cursor:hand; cursor:pointer; height:26px; width:38px; text-align: center; padding:6px 3px 0 10px;}
td.rsu_refresh div { background:url(/images/member/his_refresh_btn.gif) no-repeat 0 0;}
td.rsu_refresh_on div { background:url(/images/member/his_refresh_on.gif) no-repeat 0 0;}
html>body td.rsu_refresh div, html>body td.rsu_refresh_on div  { margin-bottom:-6px;}
/* 滑過變色 //**/
/*td.rsu_refresh div:hover {color:#F9C100; background:url(/images/member/his_refresh_btn.gif) no-repeat 0 -30px;} */

/*選擇聯賽*/
td.leg_btn {	width: 99px; text-align:center;}
td.leg_btn div { color:#F9C100; *cursor:hand; cursor:pointer; height: 26px; width: 99px; padding-top:6px; background: url(../images/member/mem_league_btn.gif) no-repeat;}
html>body td.leg_btn div { margin-top:5px;}/*Mac Hack*/
/*滑過變色*//**/
td.leg_btn div:hover { color: #FF0;} 

/*#pg_txt a {float: none;}*/
/*盤口類別*/
.OrderType { width:73px; text-align:right; }
/*早餐日期*/
.date_btn {/*width:140px; width:129px \9; */ margin-left:10px;text-align:right; white-space:nowrap!important;}
.date_btn span { margin-left:5px;}/*字與下拉的間距*/
/*h2 span { float:left; margin-top:2px;}*/
/*table--外框邊線*/
.mem .game {	width:100%;	background-color:#B9B9A3;	clear: both;	font-size:12px; border-top:1px solid #B9B9A3;border-left:1px solid #B9B9A3;}
/*盤面表頭加線*/
.game th, .more th {color:#000;	background-color:#C8A670;white-space:nowrap;	font-weight: normal;padding:2px 2px 1px; border-right:1px solid #B9B9A3; border-bottom:1px solid #B9B9A3;font-family: Arial, Helvetica, SimSun, sans-serif;}
/*盤面表格加線*/
.game td, .more td { padding:1px 4px; /*white-space:nowrap; */font-size:12px; border-right:1px solid #B9B9A3; border-bottom:1px solid #B9B9A3;font-family: Arial, Helvetica, SimSun, sans-serif;}
/*雙盤粗線-足球單雙
.r_line {border-right:2px solid #B9B9A3!important;}*/


/*取消第二層表格包表格線框*/
.game td td, .more td td{ border: none;}
/*td*/
.mem .time { width:65px;}
.mem .time_re { width:70px;}
.mem .team { width:35%;}
.mem .num { width:7%;}
.h_1x2 { width:42px;white-space:nowrap;}
.h_r { width:80px;white-space:nowrap!important;}
/*.h_r_ft { width:80px;white-space:nowrap!important;}*/
.h_ou { width:90px; white-space:nowrap;}
.h_oe { width:50px; white-space:nowrap;}
.h_pd { width:50px;white-space:nowrap;}
.h_pd_ft  { width:30px;white-space:nowrap;}
.h_t { width:65px;white-space:nowrap;}
.h_f { width:45px;white-space:nowrap;}
/*Live TV*/
.tv_icon_on { cursor:pointer; width:14px;height:15px;background:url(../../images/member/live_tv_s.gif) no-repeat;}
.tv_icon_out { cursor:pointer; width:14px;height:15px;background:url(../../images/member/live_tv_s.gif) no-repeat 0 -40px;}

/*隊伍*//*和局*/
.team_name { line-height:19px; background-color:#FFF; text-align:left; color:#493721; /*white-space:nowrap;*/ padding-right:2px\9!important;}
.none {border-bottom-color:#FFF!important;}/*取消有和局的底線*/
.drawn_td  { background-color:#FFF; text-align:left; color:#493721;height:18px; padding:0!important;}
.drawn_td td { color:#493721;}/*被包在我的最愛table裡的和局顏色設定*/
.drawn_td .hot_td { text-align: left;padding:0; width:29px;}/*我的最愛星星-足球*/
.hot_star { text-align: left;padding:0; width:29px;}/*我的最愛星星-其他球*/


.hot_tv { text-align: right;padding:0; width:15px; padding-bottom:1px;}/*live TV td*/
.fav_tab { position:relative;float:right; margin-top:-19px; width:44px;}/*其它球類小星星/電視table*/
html>body .fav_tab {margin-top:0;}
/* Firefox */
@-moz-document url-prefix()
{html>body .fav_tab {/*margin-top:16px;*/ margin-top:0px;}}
/*FT -BS- OP drawn td ie8 Hack 顯現和局右方邊線消失*//**/
/*.drawn_ie8 {
	*border-right:1px solid #B9B9A3;/* IE6 Hanck*/ 
/*	border-right:2px solid #B9B9A3 \9;  /*IE7、IE8 Hanck*/
/*}*/
	
/**+.drawn_td .hot_td { background-color:#FF0;}*/
/*偏好星星*/
/*.fov_icon_on { width:15px; height:15px; background:url(/images/member/mem_fav_s_on.gif) no-repeat;}
.fov_icon_out { width:15px; height:15px; background:url(/images/member/mem_fav_s_out.gif) no-repeat;}*/
.fov_icon_on {cursor:pointer; display:block;width:16px; height:15px;background: url(../images/member/mem_icon.gif) no-repeat 0 -40px;}
.fov_icon_out {cursor:pointer;display:block;width:16px; height:15px;background:url(../images/member/mem_icon.gif) no-repeat 0 -60px;}
/* 偏好星星 For fireFox */
@-moz-document url-prefix() {
	body.OPRE .fov_icon_on,	body.OPRE .fov_icon_out,
	body.BKRE .fov_icon_on,	body.BKRE .fov_icon_out,
	body.BKR .fov_icon_on,		body.BKR .fov_icon_out,
	body.BUR .fov_icon_on,		body.BUR .fov_icon_out,
	body.BSRE .fov_icon_on,	body.BSRE .fov_icon_out,
	body.BSR .fov_icon_on,		body.BSR .fov_icon_out,
	body.BER .fov_icon_on,		body.BER .fov_icon_out,
	body.VBRE .fov_icon_on,	body.VBRE .fov_icon_out,
	body.VBR .fov_icon_on,		body.VBR .fov_icon_out,
	body.VUR .fov_icon_on,		body.VUR .fov_icon_out,
	body.TNRE .fov_icon_on,		body.TNRE .fov_icon_out,
	body.TNR .fov_icon_on,		body.TNR .fov_icon_out,
	body.TUR .fov_icon_on,		body.TUR .fov_icon_out
  { 
	  /*margin-top:-15px;*/ margin-top:0px;
  }
}

/*無賽事欄位*//**/
.no_game {  clear:both;height:60px; text-align:center; background-color:#FFF; width:722px;font:12px  Arial, Helvetica, sans-serif; padding-top:15px;}/* EN Change */
/* 無賽事欄位 For fireFox */
@-moz-document url-prefix() {
  .no_game_fox {
	 clear:left;height:40px; line-height:40px; text-align:center; background-color: #FFF; width:722px;font:12px  Arial, Helvetica, sans-serif; padding:30px 0px 0px 0px; border:1px solid #B9B9A3; display:block;
  }
}
/* 無賽事欄位 For chrome-safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .no_game_fox {
	 clear:left;height:40px; line-height:40px; text-align:center; background-color: #FFF; width:722px;font:12px  Arial, Helvetica, sans-serif; padding:30px 0px 0px 0px; border:1px solid #B9B9A3; display:block;
  }
}

/*============無和局二行格式之我的最愛==============*/
#fav_box { float:right; text-align:right ; width:20px; *margin-top:-18px; }
/*#fav_box div { float:right; border:1px dotted #390;}*/
/*#fav_box .fov_icon_on {background-color:#F90;}*/
/*側面刷新鈕*/
/*#refresh_right { position:relative!Important; right:0px!Important; top:0; border:1px solid #F00;}/*右邊刷新*/
#myTable {text-align:center;}
/*#refresh_right { position:absolute; right:-105px; top:10; border:1px solid #F00;}/*右邊刷新*/
.refresh_M_btn , .refresh_M_on {width:100px; height:45px; line-height:45px; *cursor:hand; cursor:pointer; padding:17px 0 0 50px;  font:normal 0.75em Arial, Helvetica, sans-serif; white-space:nowrap;}
.refresh_M_btn {color:#F8C100; background:url(../images/member/mem_refresh_M_btn.gif) no-repeat;}/*圖片出現手*/
.refresh_M_btn  img { display:none; /*border:none;width:100px; height:45px;*/}
/*點擊換圖*//**/
.refresh_M_on {color: #FF0;background:url(../images/member/mem_refresh_M_on.gif) no-repeat;}
/*div.refresh_M_btn:hover { color: #FF0;/*background:url(../../images/member/mem_refresh_M_btn.gif) no-repeat;} */
#myTable div#refresh_down { text-align:left;}
html>body #refresh_down { margin-left:auto; margin-right:auto;}
.more_txt a { font-weight:normal;}
.maxbet { float:right; margin-top:-19px \9; clear:right; font-family: Arial, Helvetica, SimSun, sans-serif; }/*單注最高派彩*/
/* For fireFox */
@-moz-document url-prefix() {
  .maxbet { margin-top:-15px;
  }
}
/*Handicap + Over Under*/
.game td.pr, td.ou { width:22%;/*padding:2px 2px;*/ text-align:right;}
#PRbox {width:580px;position: relative;margin-bottom:12px;}
#pr .time { width:15%; /*text-align:left;*/}
#pr .team { width:40%; /*text-align:left;*/}
#pr .num { width:7%; /*text-align:left;*/}
#pr .pr  {width:15%; /*text-align:left;*/}
#pr .ou {width:23%; /*text-align:left;*/}
.game th.1st,.game th.1st2 ,#p3 .hpm{ /*background-color:#630; color:#FFF;*/}
/*============盤面tr聯盟與收合============*//**/
.b_hline {  background-color: #FCF9CE;padding-top:3px;}/**/
.b_hline td {color:#4b3621;font-weight: bold;}
.showleg { width:15px; height:18px; margin:0;  vertical-align: middle; *cursor:hand; cursor:pointer;}
.leg_bar { *cursor:hand; cursor:pointer;}/*聯盟名稱*/
/*#ShowLeg { width:15px; height:14px; margin:0 12px 0 7px; float:left; clear:left;}*/
html>body .showleg { width:100%; height:14px; /*margin:0 12px 0 7px; float:left;*/ clear:left;}
.legicon { padding:0; width:22px; text-align:center; *cursor:hand; cursor:pointer; /*border: dotted 1px #F90;*/}
/*html>body #ShowLeg { clear:both; border: solid 1px #0CF; background:#C93;}/*Mac Hack*/
html>body  #LegOpen {  display:block; }/*mac hack*/
html>body  #LegClose {  display:block; }/*mac hack*/
#LegOpen {width:15px; height:14px; margin:1px 1px 0 0px; background:url(../images/member/mem_arr.gif) no-repeat 0 0;}
#LegClose {width:15px; height:14px; margin:1px 1px 0 0px;  background:url(../images/member/mem_arr.gif) no-repeat 0 -20px;}
/*===========所有按鈕滑過效果===========*/
.refresh_M_btn {}

/*------P3------*/
#P3box { width:950px;position: relative; margin-bottom:12px;}
#p3 .team { width:18%; }
#p3 .num, #p3 .time  { width:5%; }
#p3 .eo { width:9%; }
#p3 .pr, { width:11%; }
#p3 .ou, { width:12%; }
#p3 .pm,#p3 .hpm, #p3 .hpm2{ width:7%; }
#p3 .1st { width:11%; }
#p3 .1st2 { width:14%; }
#p3 .b_1st {text-align: center; width:14%;}
#p3 .b_1st_S {text-align: right; ; width:11%;}
/*#p3 .b_1stR {text-align: right; width:14%;}*/
/*p3*/
/*#p3 .hpm2,#p3 .b_1st,#p3 .b_1stR,#p3 .b_1st_S{background-color: #f0f1b5}*/
#MFT .full {	background-color:#960;color: #FFF;}
/*#MFU .game th.1st,#MFU .game th.1st2, body#MFT #game_list_3 .game th.1st,#MFU .game th.hpm { background-color:#4376A7;}
#MOP .game th.1st, #MOP .game th.1st2 ,#MOP .game th.hpm {background-color: #a25100;}
#MOM .game th.1st, #MOM .game th.1st2 , #MOM .game th.hpm{background-color:#A23C25;}
#MBE .game th.1st, #MBE .game th.1st2 , #MBE .game th.hpm{background-color:#7E620B;}
#MBS .game th.1st, #MBS .game th.1st2 , #MBS .game th.hpm{background-color:#35460D;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~foot~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#foot { width:100%; height:11px; background:url(../images/member/mem_foot_ft.gif) no-repeat 100% 100%; vertical-align: bottom;}
#foot b { display:block;width:30px; height:11px; line-height:11px; background:url(../images/member/mem_foot_ft.gif) no-repeat 0 100%;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~more game~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body.BODYMORE { margin:0; padding:0;}
.more {position: relative; height:100%; overflow:hidden;	/*background-color: #433E27;*//*border: 3px solid #433E27;*//*padding: 4px;*/}
.game  {	background-color:#B9B9A3;	font-size:0.75em;width: 717px;}
.game_team  { height:22px; line-height:22px;background-color:#85735b; color:#FFF;font:12px "Arial Black", Gadget, sans-serif; font-weight:bold; text-align:center;}
.game_team tt , .game tt{font-size: 12px; font-family:Arial, Helvetica, sans-serif;}
.game_title    { line-height:20px; height:20px;background-color: #FCF9CE;	color: #493721;	font-weight: lighter;	font: 12px Arial, Helvetica, sans-serif;text-align: center;}
.caption { text-align:left; font-size: 12px;}
/*caption b {display:block;	white-space:nowrap;	font-weight: normal;	text-align:center;	width:100%;	color: #FFF;	background-color: #7B0000;	margin: 0 0 -2px -1px;	padding: 4px 6px 1px 6px;}*/
input.close { float:right; *margin:-14px 5px 2px 2px; *cursor:hand; cursor:pointer; width:13px; height:12px; font:0.75em Arial, Helvetica, sans-serif; border:none; background:url(../images/member/mem_icon.gif) no-repeat 0 -100px;}
#copyright { width:530px;font-size:0.72em; color:#555; text-align:center;}
.BODYMORE table.game{border:0;margin:0;border-collapse:collapse;border-bottom:2px solid #B9B9A3;}
.vs { color:#FFF;}
/*body.BODYMORE table.game td{padding:0;}
/*more game--future */
/*body#MFU .more {	position: relative;	width:620px;background-color: #333;	border: 5px solid #C49400;	padding: 4px;}*/
/*body#MFU .game_title  {background-color: #4675A8;}
body#MOP .game_title  {background-color:#a25100;}
body#MOM .game_title  {background-color: #A23C25;}
body#MBE .game_title  {background-color:#7E620B;}
body#MBS .game_title  {background-color: #35460D;}
/*body#MFU .game_title,body#MOP .game_title, body#MOM .game_title,body#MBS .game_title ,body#MBE .game_title  {color: #FFF;	font-weight: lighter;font:12px Arial, Helvetica, sans-serif;	text-align: center;}*/
/*body#MFU .game_title th{color:#000;background-color:#C8A670;}
body#MOP .game_title th{color:#000;background-color:#ff9f19;}
body#MOM .game_title th{color:#000;background-color:#ff9080;}
body#MFU .game_title th , body#MOP .game_title th , body#MOM .game_title th{white-space:nowrap;font-weight: normal;}*/
.no { color:#C00; height: 20px;}
.yes { height: 20px;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~old style~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.b_cen { background-color: #FFF; text-align:center; white-space:nowrap;}/*table style*/
.b_foot {font-size:11px; text-align:center;}
.mem tr, .more tr {font-family:"Arial";}
.b_rig {background-color:#FFF; text-align:right;white-space:nowrap;/*解決賠率斷行*/}
.b_lef {background-color:#FFF; text-align:left;}
/*============賠率間距==============*//**/
.con { padding-right:0px;}
.ratio { padding-left:3px; width:33px;}
.con_oe {}/*單雙中文字*/
/*league*/
/*============選擇聯賽頁面==============*//**/
/*選擇聯賽--父層div set*//**/
.legView {position:absolute; width:721px;/* min-height:210px;	height: auto !important;	height: 210px;/*height:410px;*/left:0;top:0;/* background-color:#FFF;*/ }
.legView iframe { width:721px!important; /*min-height:190px;	height: auto !important;	height: 190px; /*height:357px;*/margin:0; padding:0;}
.leg_head {  height:10px; font:bold 12px  Arial, Helvetica, sans-serif; color:#F8C100; background-repeat:no-repeat; }/*最外層header*//**/
html>body .leg_head {height:10px; padding: 0; background: url(../images/member/leg_head.png) no-repeat;}/*mac*/
* .leg_head { padding: 17px 0 0 47px;  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/member/leg_head.png');}/*IE6 png透明*/
.leg_main { background-color:#493721;}
.close_td { text-align:right; width:30%;}
.close_box { *cursor:hand; cursor:pointer; float:right; position:relative;margin:0 10px 0 2px; height:14px; padding:1px 19px 0 0; *padding-top:3px; font-weight:normal; font-size:12px;background: url(../images/member/close_leg.gif) no-repeat right 0;}/*close button box*/
span.close_box:hover { color: #C60;}
.close_leg { *cursor:hand; cursor:pointer; margin: 0 0 0 4px; width:15px; height:14px; vertical-align: text-bottom;border:none; background:url(../images/member/close_leg.gif) no-repeat 0 0;}
.leg_foot { height:10px;background-repeat:no-repeat;}
html>body .leg_foot  {background: url(../images/member/leg_foot.png) no-repeat;}/*mac*/
* .leg_foot  {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/member/leg_foot.png');}/*IE6 png透明*/
/*選擇聯賽--子層*//**/
body#LEG { margin:0; padding:0 10px; text-align:center; background-color:#493721;/* border:solid 1px #9C0;*/}
body#LEG #box{ margin:0 auto;width:701px;background-color:#D5D4C8;}
body#LEG #box td {font:12px  Arial, Helvetica, sans-serif;}
.leg_top table { height:46px; margin:0; padding:0;}
.leg_top h1 {height:23px; height:29px \9; margin:0; padding:6px 0 0 6px; color:#2F2F2F; font-style:normal;font: bold 12px  Arial, Helvetica, sans-serif; vertical-align:bottom;}
/*全選*/
@-moz-document url-prefix() {
  .all_sel { vertical-align: bottom;
  }
}

.leg_mem { clear:right; vertical-align:top;overflow-x:hidden; overflow-y: auto;
					 /*min-height:95px;	height: auto !important;	height: 95px;	/*height:265px;/* *height:247px; */background-color:#FFF;/*出現捲軸-上色*/}
.btn_td { text-align:center; width:40%;}
.btn_box  {height:36px; height:46px \9; width:701px; padding-top:10px; text-align:center; background-color:#D5D4C8;}
.leg_game { width:100%;background-color:#D5D4C8;}/*小表格table*//**/
.leg_game td { width:33.3%; padding: 0 4px 0 9px; height:14px;  height:18px \9; color:#2F2F2F; background-color:#FFF;}/*聯盟欄位*//**/ 
html>body .leg_game td { height:22px;}
.leg_top input { margin: 0 6px 0 0px;}
.league input { margin: 0 0 0 -4px; float:left;}
.league font {display:block; margin-left:17px; margin-top:2px;}/*聯賽名稱齊頭*//**/

html>body .leg_top input , html>body  .league font  { margin-top:4px;}
.enter_btn {color:#F9C100; *cursor:hand; cursor:pointer; height: 26px; width: 99px; padding-top:2px; border:0; font:12px Arial, Helvetica, sans-serif; font-weight:bold; background: url(../images/member/mem_league_btn.gif) no-repeat;}
/* For fireFox */
@-moz-document url-prefix() {
  .enter_btn {
	 padding-top:0px;
  }
}
.league { vertical-align:top; width:217px; background-color: #FFF;	padding: 3px; font-size:11px;}
.league_all {	background-color: #F8E8BE;	padding: 3px; color: #F00;}
body#MFU .league {	background-color: #E4EFF9;	}
body#MFU .league_all {	background-color: #C2D1EB;}
/*R.B lst tr-color*/
.b_1st {background-color: #f0f1b5;text-align: center;}
.b_1stR {background-color: #f0f1b5; text-align: right;white-space:nowrap;/*解決賠率斷行*/}
/*1x2 pr td-color*/
.b_pradio {  color: #C00; background-color: #FFC; font-weight: bold;}/*D*/
.b_radio { color: #060; background-color: #e4f0f3 ; font-weight: bold;}/*pr*/
.za_dot {height:12px; width:12px; margin-bottom:2px;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~ For Mac/Safari Fix ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html>body .top h1 { font-size:12px;}
html>body #foot b { line-height:0;}
/*Red card */
b.card{position:relative; margin-top:-12px;}
.R_card {color: #FF0000;font-size: 7px;font-style: oblique;}
/*Red card Revision*/
.top h1 { font-size:0.75em;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Special Early Hight ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#game_list_4 td { height:8px;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ NEW FS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.b_hline_nfs {text-align:center; background-color: #FCF9CE;padding-top:3px;}/**/
.b_leg {background-color:#FFFFFF;text-align:left;padding-top: 2px;padding-bottom: 1px;padding-left: 6px;padding-right: 6px;}
.r_bold {font-size: 12px;font-weight: bold;color: #CC0000;padding-right: 4px;}/*more vs*/
.b_tab {background-color: #A0D8FF;}

h3 .rig {	display: block;float: right;}
h3 .left {float: left;display: block;}
h3 {white-space:nowrap; margin:0; font:normal 0.75em Arial, Helvetica, sans-serif;	padding: 0 8px;}
/*mem2*/
/*#MFU .mem2 {background-color:#CDDEE3;border-right: 2px solid #357CCC;border-left: 2px solid #357CCC;}
#MBK .mem2{background-color:#D9EAD6;border-right: 2px solid #518A57;border-left: 2px solid #518A57;}
#MBU .mem2{background-color:#F1E5CE; border-right: 2px solid #A98030;border-left: 2px solid #A98030;}
#MTN .mem2{background-color:#EDC6C8; border-right: 2px solid #DE5A31;border-left: 2px solid #DE5A31;}
#MTU .mem2{background-color:#F2DAD5; border-right: 2px solid #D68977;border-left: 2px solid #D68977;}
#MVB .mem2{background-color:#CED2E9; border-right: 2px solid #6758DB;border-left: 2px solid #6758DB;}
#MVU .mem2{background-color:#C8E4EF; border-right: 2px solid #377FE2;border-left: 2px solid #377FE2;}
#MFS .mem2{background-color:#DBCFE0; border-right: 2px solid #8C659A;border-left: 2px solid #8C659A;}
/*#MNFS .mem2{background-color:#70B5D9; border-right: 2px solid #5F9ADC;border-left: 2px solid #5F9ADC;}
#MBS .mem2{background-color:#E9F4CD; border-right: 2px solid #98C629;border-left: 2px solid #98C629;}
#MOP .mem2{background-color:#FFE6CD; border-right: 2px solid #F28E17;border-left: 2px solid #F28E17;}
#MOM .mem2{background-color:#F5DFDA; border-right: 2px solid #E0927F;border-left: 2px solid #E0927F;}
#MBE .mem2{background-color:#FAF0CF;  border-right: 2px solid #ECBC29;border-left: 2px solid #ECBC29;}
*/
.right { text-align:right;}
.left { text-align:left;}
.center { text-align:center;}

/*=============today wagers=============*/
.today_league { color:#000;}
.his_result { color: #900; /*font-weight:bold;*/ text-decoration:none;}
.his_sp {color:#0101f7;text-decoration:none;}/*特殊*/
.his_score { color:#F00;font-weight:bold;}/*比分*//**/
.his_con {color:#d20107;}/*球頭*/
.his_odd { color:#000; font-weight:bold;}/*@xx */
.bold { font-weight:bold;}
/*re time*/
/*.re_time { width:65px; text-align:center; background:#FFF url(/images/member/mem_re_bg.gif) no-repeat 0 0;}
.re_box { margin:4px;height:51px; text-align:center;}*/
/*.re_score { color:#AF5F27;font-weight:bold; text-align: center;}/*比分*//**/
/*滾球欄位*//**/
.re_team_box td { padding:0;}
.re_team { line-height:1.4em; white-space:nowrap; padding:0;}
.red_card {display:block; margin-left:5px; padding-top:2px; width:12px; height:15px; color:#FFF; font-size:10px; text-align:center; background: url(/images/member/mem_redcard.gif) no-repeat 0 0; }
/*滾球頁時間欄位*//**/
.rb_box {border-collapse: collapse; border:0; padding:0;  width:61px; height:34px;background: url(/images/member/mem_rb_bg.gif) no-repeat 0 0; }
.rb_time { color:#FFCE39; height:14px; line-height:14px;text-align:center; font-size:11px!important; position:relative; top:1px\9;}
.rb_time_tn { color:#FFCE39; height:14px; line-height:14px;text-align:center; font-size:11px!important;}
.rb_color { color:#000000;}
.rb_score { line-height:17px; color:#9D834C; text-align:center; font-weight:bold; margin-top:-1px;}
.rb_score_time { color:#BB3E00;}
.rbsc_w {color:#AF5F27;}/*比分-弱隊*//**/
.rbsc_s { color:#C00;}/*比分-強隊*//**/

/*For Firefox Hack*/
#fav_btn img, td.refresh_btn div, td.leg_btn div, .refresh_M_btn, input.close, .legicon,.showleg, .wag_btn, .wag_btn_back, .close_leg, .leg_bar {cursor: pointer;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Marquee ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.m_lef { text-align: left;word-break:break-all;/*強迫斷行*/}/**/
.m_rig{ text-align: right;}
.m_cen { text-align: center;}
.menu_set { color:#FFF; background-color:#86715c; font-size:12px;}
.menu_set td {padding:4px 5px;height:19px; }
.menu_set select { height:19px; margin:0;}
.ent_btn { *cursor:hand; cursor:pointer; width:60px; height:26px; color:#FFF; border:none; font-weight:bold; background:url(../../images/member/enter_btn.gif) no-repeat}
#MSG .scr_on { color:#FF0!important; text-decoration:none!important; *cursor:hand; cursor:pointer;}
#MSG .scr_out { color:#F9C100;*cursor:hand; cursor:pointer;}
/*============隔行換色==============*/
.color_bg1 { background-color:#E9DBC6;}
.color_bg2 { background-color:#F2E9DD;}
.color_bg3 { background-color:#F9C100;}
/*============籃球滾球圖==============*/
.ball_re { height:20px; background:url(../../images/member/icon_bklive.gif) no-repeat 50% 0;}
.statement_textbox2 {border-bottom:1px #303030 dotted; }

#show_run_time { color:#FFF;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Game chuang ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*top*/
/*body#MFU .top, body#MFU h1, #MALL .top, #MALL h1, body#MFT #game_list_2 .top, body#MFT #game_list_2 h1 { background-image: url(/images/member/mem_h1_fu.gif);}
body#MBK .top, body#MBK h1 { background-image: url(/images/member/mem_h1_bk.gif);}
body#MBU .top, body#MBU h1, body#MBK #game_list_2 .top, body#MBK #game_list_2 h1 { background-image: url(/images/member/mem_h1_bu.gif);}
body#MTN .top, body#MTN h1 { background-image: url(/images/member/mem_h1_tn.gif);}
body#MTU .top, body#MTU h1, body#MTN #game_list_2 .top, body#MTN #game_list_2 h1 { background-image: url(/images/member/mem_h1_tu.gif);}
body#MVB .top, body#MVB h1 { background-image: url(/images/member/mem_h1_vb.gif);}
body#MVU .top, body#MVU h1, body#MVB #game_list_2 .top, body#MVB #game_list_2 h1 { background-image: url(/images/member/mem_h1_vu.gif);}
body#MFS .top, body#MFS h1 { background-image: url(/images/member/mem_h1_fs.gif);}
/*body#MNFS .top, body#MNFS h1 { background-image: url(/images/member/mem_h1_nfs.gif);}
body#MBS .top, body#MBS h1 { background-image: url(/images/member/mem_h1_bs.gif);}
body#MOP .top, body#MOP h1 { background-image: url(/images/member/mem_h1_op.gif);}
body#MOM .top, body#MOM h1 { background-image: url(/images/member/mem_h1_om.gif);}
body#MBE .top, body#MBE h1, body#MBS #game_list_2 .top, body#MBS #game_list_2 h1 { background-image: url(/images/member/mem_h1_be.gif);}
/*mem*/
/*body#MFU .mem, #MFU .mem, #MALL .mem, body#MFT #game_list_3 .mem { background-color:#CDDEE3; border-color:#357CCC;border-bottom-color:#CDDEE3;}
body#MBK .mem, #MBK .mem { background-color:#D9EAD6; border-color:#518A57;border-bottom-color:#D9EAD6;}
body#MBU .mem, #MBU .mem, body#MBK #game_list_3 .mem { background-color:#F1E5CE; border-color:#A98030;border-bottom-color:#F1E5CE;}
body#MTN .mem, #MTN .mem { background-color:#EDC6C8; border-color:#DE5A31;border-bottom-color:#EDC6C8;}
body#MTU .mem, #MTU .mem, body#MTN #game_list_3 .mem { background-color:#F2DAD5; border-color:#D68977;border-bottom-color:#F2DAD5;}
body#MVB .mem, #MVB .mem { background-color:#CED2E9; border-color:#6758DB;border-bottom-color:#CED2E9;}
body#MVU .mem, #MVU .mem, body#MVB #game_list_3 .mem { background-color:#C8E4EF; border-color:#377FE2;border-bottom-color:#C8E4EF;}
body#MFS .mem, #MFS .mem { background-color:#DBCFE0; border-color:#8C659A;border-bottom-color:#DBCFE0;}
/*body#MNFS .mem, #MNFS .mem{background-color:#70B5D9; border-color:#5F9ADC;border-bottom-color:#D9E5F2;}
body#MBS .mem, #MBS .mem {background-color:#E9F4CD; border-color:#98C629;border-bottom-color:#E9F4CD;}
body#MOP .mem, #MOP .mem {background-color:#FFE6CD;border-color:#F28E17;border-bottom-color:#FCE5CB;}
body#MOM .mem, #MOM .mem {background-color:#F5DFDA;border-color:#E0927F;border-bottom-color:#F5DFDA;}
body#MBE .mem, #MBE .mem, body#MBS #game_list_3 .mem {background-color:#FAF0CF;border-color: #ECBC29;border-bottom-color:#FAF0CF;}
/*h2 + game*/
/*body#MFU h2, body#MFU .mem .game, #MALL .mem .game, body#MFT #game_list_3 .mem .game {background-color:#B9B9A3; border-color:#CDDEE3;}
body#MBK h2, body#MBK .mem .game {background-color:#B9B9A3; border-color:#D9EAD6;}
body#MBU h2, body#MBU .mem .game, body#MBK #game_list_3 .mem .game {background-color:#C7B7A0; border-color:#F1E5CE;}
body#MTN h2, body#MTN .mem .game {background-color:#EDAAAA; border-color:#EDC6C8;}
body#MTU h2, body#MTU .mem .game, body#MTN #game_list_3 .mem .game {background-color:#E4A99C; border-color:#F2DAD5;}
body#MVB h2, body#MVB .mem .game {background-color:#ADB4DA; border-color:#CED2E9;}
body#MVU h2, body#MVU .mem .game, body#MVB #game_list_3 .mem .game {background-color:#97C0EB; border-color:#C8E4EF;}
body#MFS h2, body#MFS .mem .game {background-color:#CAB3E0; border-color:#DBCFE0;}
/*body#MNFS h2, body#MNFS .mem .game {background-color:#D9E5F2;border-color: #E3EFFC;}
body#MBS h2, body#MBS .mem .game {background-color:#DCF484; border-color:#DBCFE0;}
body#MBE h2, body#MBE .mem .game, body#MBS #game_list_3 .mem .game {background-color:#FAE6B3; border-color:#DBCFE0;}
body#MOP h2, body#MOP .mem .game {background-color: #fad37c;border-color: #FFC;}
body#MOM h2, body#MOM .mem .game {background-color:#F5C2AC;border-color: #FFC;}
/*th*/
/*body#MFU .game th, body#MFU .more th, #MALL .game th, body#MFT #game_list_3 .game th {background-color:#A7D7F8;}
body#MBK .game th, body#MBK .more th { background-color:#57593A; color:#FFF;}
body#MBU .game th, body#MBU .more th, body#MBK #game_list_3 .game th { background-color:#8A6827; color:#FFF;}
body#MTN .game th, body#MTN .more th { background-color:#E78686;}
body#MTU .game th, body#MTU .more th, body#MTN #game_list_3 .game th { background-color:#D9897D;}
body#MVB .game th, body#MVB .more th { background-color:#808BDB;}
body#MVU .game th, body#MVU .more th, body#MVB #game_list_3 .game th { background-color:#529ED5;}
body#MFS .game th, body#MFS .more th { background-color:#B48CE0;}
/*body#MNFS .game th, body#MNFS .more th { background-color:#63BAE7;}
body#MBS .game th, body#MBS .more th { background-color: #86b425;}
body#MBE .game th, body#MBE .more th, body#MBS #game_list_3 .game th { background-color:#F5D140;}
body#MOP .game th, body#MOP .more th {background-color: #ff9f19;}
body#MOM .game th, body#MOM .more th {background-color: #ff9080;}
/*foot*/
/*body#MFU #foot, body#MFU #foot b, #MALL #foot, #MALL #foot b, body#MFT #fem #foot, body#MFT #fem #foot b { background-image: url(/images/member/mem_foot_fu.gif);}
body#MBK #foot, body#MBK #foot b { background-image: url(/images/member/mem_foot_bk.gif);}
body#MBU #foot, body#MBU #foot b, body#MBK #fem #foot, body#MBK #fem #foot b { background-image: url(/images/member/mem_foot_bu.gif);}
body#MTN #foot, body#MTN #foot b { background-image: url(/images/member/mem_foot_tn.gif);}
body#MTU #foot, body#MTU #foot b, body#MTN #fem #foot, body#MTN #fem #foot b { background-image: url(/images/member/mem_foot_tu.gif);}
body#MVB #foot, body#MVB #foot b { background-image: url(/images/member/mem_foot_vb.gif);}
body#MVU #foot, body#MVU #foot b, body#MVB #fem #foot, body#MVB #fem #foot b { background-image: url(/images/member/mem_foot_vu.gif);}
body#MFS #foot, body#MFS #foot b { background-image: url(/images/member/mem_foot_fs.gif);}
body#MBS #foot, body#MBS #foot b { background-image: url(/images/member/mem_foot_bs.gif);}
body#MOP #foot, body#MOP #foot b { background-image: url(/images/member/mem_foot_op.gif);}
body#MOM #foot, body#MOM #foot b { background-image: url(/images/member/mem_foot_om.gif);}
/*body#MNFS #foot, body#MNFS #foot b { background-image: url(/images/member/mem_foot_nfs.gif);}
body#MBE #foot, body#MBE #foot b, body#MBS #fem #foot, body#MBS #fem #foot b { background-image: url(/images/member/mem_foot_be.gif);}*/
/* 奧運*/
#euro_btn { float:right; cursor: hand; cursor:pointer; margin-right:10px; width:129px; height:26px; background:url(../images/member/world_cup_cn.gif) no-repeat 0 0;}
#euro_up { float:right; cursor: hand; cursor:pointer; margin-right:10px; width:129px; height:26px; background:url(../images/member/oly_all_ft_tw.gif) no-repeat 0 0;}

/*Euro over*/
.euro_over#euro_btn { float:right; cursor: hand; cursor:pointer; margin-right:10px; width:129px; height:26px; background:url(../../images/member/world_cup_cn.gif) no-repeat 0 -30px;}
.euro_up_over#euro_up { float:right; cursor: hand; cursor:pointer; margin-right:10px; width:129px; height:26px; background:url(../images/member/oly_all_ft_tw.gif) no-repeat 0 -30px;}
/*Fix space*/

/* BK */
body.BKR #euro_up,body.BUR #euro_up,body.BKRE #euro_up { background-image:url(../../images/member/oly_all_bk_tw.gif);}
body.BKR .euro_up_over#euro_up, body.BUR .euro_up_over#euro_up, body.BKRE .euro_up_over#euro_up {background:url(../../images/member/oly_all_bk_tw.gif) no-repeat 0 -30px;}
/* TN */
body.TNR #euro_up,body.TUR #euro_up,body.TNRE #euro_up { background-image:url(../../images/member/oly_all_tn_tw.gif);}
body.TNR .euro_up_over#euro_up, body.TUR .euro_up_over#euro_up, body.TNRE .euro_up_over#euro_up {background:url(../../images/member/oly_all_tn_tw.gif) no-repeat 0 -30px;}
/* VB */
body.VBR #euro_up,body.VUR #euro_up,body.VBRE #euro_up { background-image:url(../../images/member/oly_all_vb_tw.gif);}
body.VBR .euro_up_over#euro_up, body.VUR .euro_up_over#euro_up, body.VBRE .euro_up_over#euro_up {background:url(../../images/member/oly_all_vb_tw.gif) no-repeat 0 -30px;}
/* OP 
body.OPR #euro_up,body.OUR #euro_up,body.OPRE #euro_up { background-image:url(../../images/member/oly_all_op_tw.gif);}
body.OPR .euro_up_over#euro_up, body.OUR .euro_up_over#euro_up, body.OPRE .euro_up_over#euro_up {background:url(../../images/member/oly_all_op_tw.gif) no-repeat 0 -30px;}*/
/* FS */
body#MNFS #euro_up { background-image:url(../../images/member/oly_all_op_tw.gif);}
body#MNFS .euro_up_over#euro_up {background:url(../../images/member/oly_all_op_tw.gif) no-repeat 0 -30px;}

/*131119-td高度瀏覽器*/
.td_h { height:17px; height: auto\9; }
.td_h1 { height:21px;/* height: auto\9;*/ }
/*140303 id="SortGame"
.SortGame{ width:100px; text-align:center;color:#000;}
.SortGame_span{ display:block;  width:81px;width:90px \9; height:18px; line-height:19px; text-align:left;padding-left:7px;border:1px solid #a9a9a9;
background: url(../../images/member/sortgameBG.jpg) no-repeat 75px center #fff; margin-left:10px; }
.SortTable table{ width:90px;background-color:#fff; border-bottom:1px solid #a9a9a9;border-left:1px solid #a9a9a9;border-right:1px solid #a9a9a9;
 font-size:12px;}
.SortTable table td{ height:18px; line-height:19px; padding-left:5px; font-family:Arial, Helvetica, sans-serif;cursor:default;}*/

/*140306 id="SortGame"*/
.SortGame{}
.SortGame select{width:95px; font-size:12px;color:#000; text-align:center;border:1px solid #B6ACAA; margin-left:3px;}

/*140424-logo前拉壩上下置中IE*/
.pg_top { position:relative; top:2px\9;}

/*140513-more*/
.more_bar { overflow:hidden;}

/*140611-多玩法背景寬*/
.more_iframe_w { width:100%; width:2000px\9;}

/*140820-網球盤面背景+文字顏色*/
.bg_light { background:#FCF9E7; text-align:center; white-space:nowrap; text-align:right; width:88px;}
.bg_dark { background:#ECE3C4; text-align:center; white-space:nowrap; text-align:right; width:88px;}
.text_green { color:#24B335;}
.text_brown { color:#b48438;}

.bg_light_bk { background:#FCF9E7; text-align:center; white-space:nowrap; text-align:right; width:88px;}
.bg_dark_bk { background:#ECE3C4; text-align:center; white-space:nowrap; text-align:right; width:88px;}

/*140821-欄位寬度*/
.h_ouhc { /*width:120px;*/ white-space:nowrap;}
.h_ou_tn { width:90px;}
.h_r_tn { width:80px;}

/*140829-足球滾球框框*/
.rb_box_ft {border-collapse: collapse; border:0; padding:0;  width:68px; height:36px;background: url(../images/member/mem_rb_bg_ft.gif) no-repeat 0 0; }

/*140903-網球多玩法*/
.tn_team_c { float:left;}
.tn_more { float:right; font-weight:normal; white-space:nowrap;}
.tn_more a { font-weight:normal;}
/*140912-籃球滾球框框+調整*/
.rb_box_bk {border-collapse: collapse; border:0; padding:0; width:68px\9; width:70px; height:36px;background: url(../images/member/mem_rb_bg_bk.gif) no-repeat 0 0; }
.bk_team_c { float:left;}
.bk_more { float:right;}
.rb_time_bk { color:#FFCE39; height:14px; line-height:14px;text-align:center; font-size:11px!important; padding:0px!important; position:relative; left:-1px\9; left:-2px;}
.rb_time_color { color:#F5E1BE;}
.rb_score_bk { line-height:17px; color:#9D834C; text-align:center; font-weight:bold; margin-top:-1px;}
.bk_color { color:#BB3E00;}
.bk_w { width:70px;}

/*盤面右上切換按鈕*/
.rmf_text { text-align:right;}
.rmf_left { float:left; margin-top:0px!important;}
.rmf_right { cursor:pointer; color:#f9c100; font-family:arial; font-weight:normal;}
.rmf_line { margin:0 5px 0 5px;}

/*140915-網球滾球框框*/
.rb_box_tn { text-align:center; border-collapse: collapse; border:0; padding:0; width:68px; height:50px;background: url(/images/member/mem_rb_bg_tn.gif) no-repeat 0 0; }
.rb_box_tn td { padding:0 0 3px 0; padding:0 0 2px 0\9; font-size:12px;}
.rb_tn_f { font-size:11px!important; font-size:10px\9!important; position:relative; top:1px; top:2px\9; -webkit-transform:scale(0.91);}
/*safari only*/
::i-block-chrome,.rb_tn_f {
 font-size:12px!important; font-size:10px\9!important; position:relative; top:2px\9;
}}
.tn_td { width:15px;}
.tn_dot_on { background:url(../../images/member/tn_dot_on.png) no-repeat 0 0; width:10px; height:10px; position:relative; top:0px; top:1px\9; left:2px;}
.tn_dot_out { background:url(../../images/member/tn_dot_out.png) no-repeat 0 0; width:10px; height:10px; position:relative; top:0px; top:1px\9; left:2px;}
.rb_tn_tr { height:17px; font-weight:bold; color:#bb3e00;}
.tn_pcolor { color:#9d834c; width:20px;}
.tn_w { width:70px;}

/*140924-籃球修改*/
.bc_h { height:21px;}
.h_m { width:42px;}

/*141121-乒乓球*/
.tt_dot_on { background:url(../../images/member/tn_dot_on.png) no-repeat 0 0; width:20px; height:10px; position:relative; top:0px; top:0px\9; left:5px;}
.tt_dot_out { background:url(../../images/member/tn_dot_out.png) no-repeat 0 0; width:20px; height:10px; position:relative; top:0px; top:0px\9; left:5px;}

/*141125-羽毛球欄寬*/
body.BMR .mem .time, body.BMUR .mem .time { width:64px;}
body.BMRE .mem .time { width:74px;}
.team_bm { width:278px;}
.team_rbm { width:268px;}
body.BMR .mem .h_1x2, body.BMUR .mem .h_1x2, body.BMRE .mem .h_1x2 { width:42px;}
body.BMR .mem .h_r, body.BMUR .mem .h_r, body.BMRE .mem .h_r { width:87px;}
body.BMR .mem .h_ou, body.BMUR .mem .h_ou, body.BMRE .mem .h_ou { width:87px;}

/*141128-星星位置
body.BMR .mem .fav_tab, body.BMUR .mem .fav_tab, body.BMRE .mem .fav_tab { margin-top:-19px!important;}
.star_all { float:right;}*/

/*141219-羽球計分板*/
.rb_box_bm { text-align:center; border-collapse: collapse; border:0; padding:0; width:68px; height:50px;background: url(/images/member/mem_rb_bg_bm.gif) no-repeat 0 0; }
.rb_box_bm td { padding:0 0 3px 0; padding:0 0 2px 0\9; font-size:12px;}
.bm_td { width:15px!important;}
.bm_pcolor { width:30px;}
.bm_dot_on { background:url(../../images/member/tn_dot_on.png) no-repeat 0 0; width:10px; height:10px; position:relative; top:0px; top:1px\9; left:5px;}
.bm_dot_out { background:url(../../images/member/tn_dot_out.png) no-repeat 0 0; width:10px; height:10px; position:relative; top:0px; top:1px\9; left:5px;}

/*150210-過關跨天*/
.day_title { font-family:Arial, Helvetica, sans-serif; font-size:13px;}
.day_date { position:relative; top:-5px;}
.day_date span { margin:0 15px; cursor:pointer;}
.day_black { position:absolute; top:28px; left:1px; background:url(../../images/member/day_black.png) no-repeat 0 0; width:237px; height:48px; z-index:999; display:block; color:#fff; font-family:"Arial"; font-size:14px; padding-top:17px; padding-top:15px\9; padding-left:15px;}
.day_text_red { color:#A73842;}

/*150225-乒乓球計分板*/
.rb_box_tt { text-align:center; border-collapse: collapse; border:0; padding:0; width:68px; height:50px;background: url(/images/member/mem_rb_bg_tt.gif) no-repeat 0 0; }
.rb_box_tt td { padding:0 0 3px 0; padding:0 0 2px 0\9; font-size:12px;}
.tt_pcolor { width:30px; color:#9D834B;}

/*150330-新增籃球過關背景*/
.bg_rig_bk {background-color:#FFF; text-align:right;white-space:nowrap;/*解決賠率斷行*/}
.bg_rig {background-color:#FFF; text-align:right;white-space:nowrap;/*解決賠率斷行*/}
.bg_cen { background-color: #FFF; text-align:center; white-space:nowrap;}/*table style*/

/*150529-網球天氣延賽遮罩*/
.delay_bg { position: absolute; width:68px; height:30px; line-height:30px; background:url(../../images/member/delay_bg.png) repeat 0 0; color:#fff; font-family:Arial; z-index:999;}
.delay_text { position:relative; top:0px;}

/*150707-排球計分板*/
.rb_box_vb { text-align:center; border-collapse: collapse; border:0; padding:0; width:68px; height:50px;background: url(/images/member/mem_rb_bg_vb.gif) no-repeat 0 0; }
.rb_box_vb td { padding:0 0 3px 0; padding:0 0 2px 0\9; font-size:12px;}
.vb_pcolor { width:30px; color:#9d834c;}

/*160401-右邊廣告*/
.right_ad { position:absolute;}
.right_ad1_cn { display:block; background:url(../../images/member/mem_ad1_cn.jpg) 0 0 no-repeat; width:310px; height:210px;}
.right_ad2_cn { display:block; background:url(../../images/member/mem_ad2_cn.jpg) 0 0 no-repeat; width:310px; height:210px; margin-top:5px;}

.bet_display { display:none;}