@charset "utf-8";

.menu1 a span {display:block; float:left;}
.menu1 a b{ display:block; width: 30px;height: 27px; font-size: 0px;text-indent: -99999px; margin-top: 10px;}
.menu1 a i{display:block;text-align: center; font-style: normal; font-weight: bolder; color: #ffffff;line-height: 17px;}
.skin_gray .menu1 a i{color: #000000;}
.plus {
    height: 24px;
    line-height: 32px;
    font-size: 15px;
    color: #fff;
}
/*重庆幸运农场开奖样式*/
.menu1 .T_CQXYNC b{margin-left:5px;width:32px;height:32px;color:#ffffff;font-size:22px;text-indent: 0 ;background: url("../images/ball/cqxync_1.png") no-repeat;}
.menu1 .T_CQXYNC .b01{
	background-position: -13px -10px;
}
.menu1 .T_CQXYNC .b02{
	background-position: -13px -46px;
}
.menu1 .T_CQXYNC .b03{
	background-position: -13px -82px;
}
.menu1 .T_CQXYNC .b04{
	background-position: -13px -118px;
}
.menu1 .T_CQXYNC .b05{
	background-position: -13px -153px;
}
.menu1 .T_CQXYNC .b06{
	background-position: -13px -189px;
}
.menu1 .T_CQXYNC .b07{
	background-position: -13px -225px;
}
.menu1 .T_CQXYNC .b08{
	background-position: -13px -261px;
}
.menu1 .T_CQXYNC .b09{
	background-position: -13px -297px;
}
.menu1 .T_CQXYNC .b10{
	background-position: -13px -332px;
}
.menu1 .T_CQXYNC .b11{
	background-position: -13px -367px;
}
.menu1 .T_CQXYNC .b12{
	background-position: -13px -404px;
}
.menu1 .T_CQXYNC .b13{
	background-position: -13px -440px;
}
.menu1 .T_CQXYNC .b14{
	background-position: -13px -476px;
}
.menu1 .T_CQXYNC .b15{
	background-position: -13px -511px;
}
.menu1 .T_CQXYNC .b16{
	background-position: -13px -547px;
}
.menu1 .T_CQXYNC .b17{
	background-position: -13px -582px;
}
.menu1 .T_CQXYNC .b18{
	background-position: -13px -619px;
}
.menu1 .T_CQXYNC .b19{
	background-position: -13px -655px;
}
.menu1 .T_CQXYNC .b20{
	background-position: -13px -690px;
}

/*时时彩开奖样式*/

.menu1 .T_SSC b{  margin-left:10px;margin-top:6px; background: url("../images/ball/ball_ssc.png") no-repeat;width:35px;height:35px;}
.menu1 .T_SSC .b0 {	background-position: -8px -12px;}
.menu1 .T_SSC .b1 {	background-position: -8px -51px;}
.menu1 .T_SSC .b2 {	background-position: -8px -91px;}
.menu1 .T_SSC .b3 {	background-position: -8px -131px;}
.menu1 .T_SSC .b4 {	background-position: -8px -171px;}
.menu1 .T_SSC .b5 {	background-position: -8px -211px;}
.menu1 .T_SSC .b6 {	background-position: -8px -251px;}
.menu1 .T_SSC .b7 {	background-position: -8px -291px;}
.menu1 .T_SSC .b8 {	background-position: -8px -331px;}
.menu1 .T_SSC .b9 {	background-position: -8px -371px;}
/*广东快乐十分开奖样式*/
.menu1 .T_KLSF b{margin-top:6px;background: url("../images/ball/ball_sfc.png") no-repeat;width:35px;height:35px;}
.menu1 .T_KLSF .b01 {background-position: -8px -12px;}
.menu1 .T_KLSF .b02 {background-position: -8px -51px;} 
.menu1 .T_KLSF .b03 {background-position: -8px -91px;}
.menu1 .T_KLSF .b04 {background-position: -8px -131px;}
.menu1 .T_KLSF .b05 {background-position: -8px -171px;}
.menu1 .T_KLSF .b06 {background-position: -8px -211px;}
.menu1 .T_KLSF .b07 {background-position: -8px -251px;}
.menu1 .T_KLSF .b08 {background-position: -8px -291px;} 
.menu1 .T_KLSF .b09 {background-position: -8px -331px;}
.menu1 .T_KLSF .b10 {background-position: -8px -371px;}
.menu1 .T_KLSF .b11 {background-position: -8px -411px;}
.menu1 .T_KLSF .b12 {background-position: -8px -451px;}
.menu1 .T_KLSF .b13 {background-position: -8px -491px;}
.menu1 .T_KLSF .b14 {background-position: -8px -531px;}
.menu1 .T_KLSF .b15 {background-position: -8px -571px;}
.menu1 .T_KLSF .b16 {background-position: -8px -611px;}
.menu1 .T_KLSF .b17 {background-position: -8px -651px;}
.menu1 .T_KLSF .b18 {background-position: -8px -691px;}
.menu1 .T_KLSF .b19 {background-position: -8px -731px;}
.menu1 .T_KLSF .b20 {background-position: -8px -771px;}

/*福彩3D*/
.menu1 .T_3D b{margin-top: 6px;margin-left:8px;width:35px;height:35px; background: url("../images/ball/ball_pl3.png") no-repeat;}
.menu1 .T_3D .b0 {	background-position: -8px -12px;}
.menu1 .T_3D .b1 {	background-position: -8px -51px;}
.menu1 .T_3D .b2 {	background-position: -8px -91px;}
.menu1 .T_3D .b3 {	background-position: -8px -131px;}
.menu1 .T_3D .b4 {	background-position: -8px -171px;}
.menu1 .T_3D .b5 {	background-position: -8px -211px;}
.menu1 .T_3D .b6 {	background-position: -8px -251px;}
.menu1 .T_3D .b7 {	background-position: -8px -291px;}
.menu1 .T_3D .b8 {	background-position: -8px -331px;}
.menu1 .T_3D .b9 {	background-position: -8px -371px;}

 /*北京pk开奖样式*/
.menu1 .T_PK10 b{ margin:10px 0 0 0px;height: 30px;	background: url("../images/ball/bjsc_1.png") no-repeat;}
.menu1 .T_PK10 .b1 {background-position: -5px -6px;}
.menu1 .T_PK10 .b2 {background-position: -5px -39px;}
.menu1 .T_PK10 .b3 {background-position: -5px -73px;}
.menu1 .T_PK10 .b4 {background-position: -5px -106px;}
.menu1 .T_PK10 .b5 {background-position: -5px -139px;}
.menu1 .T_PK10 .b6 {background-position:-5px -172px;}
.menu1 .T_PK10 .b7 {background-position: -5px -205px;}
.menu1 .T_PK10 .b8 {background-position: -5px -238px;}
.menu1 .T_PK10 .b9 {background-position: -5px -271px;}
.menu1 .T_PK10 .b10{background-position:-5px -305px;}
 /*江苏快三开奖样式*/
.menu1 .T_K3 b{ margin-left:8px;margin-top:6px;background: url("../images/ball/k3_2.png") no-repeat;height:36px;width:36px; }
.menu1 .T_K3 .b1 {background-position: -13px -26px;}
.menu1 .T_K3 .b2 {background-position: -13px -67px;}
.menu1 .T_K3 .b3 {background-position: -13px -109px;}
.menu1 .T_K3 .b4 {background-position: -13px -151px;}
.menu1 .T_K3 .b5 {background-position: -13px -193px;}
.menu1 .T_K3 .b6 {background-position: -13px -234px;}

.menu1 .T_KL8{ width: 320px;}  
.menu1 .T_KL8 b { margin:2px 0 0 8px;height:22px; width:22px; background: url("../images/ball_5_small.png") no-repeat;}
.menu1 .T_KL8 .b01 {	background-position: 0 0px;}
.menu1 .T_KL8 .b02 {	background-position: 0 -23px;}
.menu1 .T_KL8 .b03 {	background-position: 0 -46px;}
.menu1 .T_KL8 .b04 {	background-position: 0 -69px;}
.menu1 .T_KL8 .b05 {	background-position: 0 -92px;}
.menu1 .T_KL8 .b06 {	background-position: 0 -115px;}
.menu1 .T_KL8 .b07 {	background-position: 0 -138px;}
.menu1 .T_KL8 .b08 {	background-position: 0 -161px;}
.menu1 .T_KL8 .b09 {	background-position: 0 -184px;}
.menu1 .T_KL8 .b10 {	background-position: 0 -207px;}
.menu1 .T_KL8 .b11 {	background-position: 0 -230px;}
.menu1 .T_KL8 .b12 {	background-position: 0 -253px;}
.menu1 .T_KL8 .b13 {	background-position: 0 -276px;}
.menu1 .T_KL8 .b14 {	background-position: 0 -299px;}
.menu1 .T_KL8 .b15 {	background-position: 0 -322px;}
.menu1 .T_KL8 .b16 {	background-position: 0 -345px;}
.menu1 .T_KL8 .b17 {	background-position: 0 -368px;}
.menu1 .T_KL8 .b18 {	background-position: 0 -391px;}
.menu1 .T_KL8 .b19 {	background-position: 0 -414px;}
.menu1 .T_KL8 .b20 {	background-position: 0 -437px;}
.menu1 .T_KL8 .b21 {	background-position: 0 -460px;}
.menu1 .T_KL8 .b22 {	background-position: 0 -483px;}
.menu1 .T_KL8 .b23 {	background-position: 0 -506px;}
.menu1 .T_KL8 .b24 {	background-position: 0 -529px;}
.menu1 .T_KL8 .b25 {	background-position: 0 -552px;}
.menu1 .T_KL8 .b26 {	background-position: 0 -575px;}
.menu1 .T_KL8 .b27 {	background-position: 0 -598px;}
.menu1 .T_KL8 .b28 {	background-position: 0 -621px;}
.menu1 .T_KL8 .b29 {	background-position: 0 -644px;}
.menu1 .T_KL8 .b30 {	background-position: 0 -667px;}
.menu1 .T_KL8 .b31 {	background-position: 0 -690px;}
.menu1 .T_KL8 .b32 {	background-position: 0 -713px;}
.menu1 .T_KL8 .b33 {	background-position: 0 -736px;}
.menu1 .T_KL8 .b34 {	background-position: 0 -759px;}
.menu1 .T_KL8 .b35 {	background-position: 0 -782px;}
.menu1 .T_KL8 .b36 {	background-position: 0 -805px;}
.menu1 .T_KL8 .b37 {	background-position: 0 -828px;}
.menu1 .T_KL8 .b38 {	background-position: 0 -851px;}
.menu1 .T_KL8 .b39 {	background-position: 0 -874px;}
.menu1 .T_KL8 .b40 {	background-position: 0 -897px;}
.menu1 .T_KL8 .b41 {	background-position: 0 -920px;}
.menu1 .T_KL8 .b42 {	background-position: 0 -943px;}
.menu1 .T_KL8 .b43 {	background-position: 0 -966px;}
.menu1 .T_KL8 .b44 {	background-position: 0 -989px;}
.menu1 .T_KL8 .b45 {	background-position: 0 -1012px;}
.menu1 .T_KL8 .b46 {	background-position: 0 -1035px;}
.menu1 .T_KL8 .b47 {	background-position: 0 -1058px;}
.menu1 .T_KL8 .b48 {	background-position: 0 -1081px;}
.menu1 .T_KL8 .b49 {	background-position: 0 -1104px;}
.menu1 .T_KL8 .b50 {	background-position: 0 -1127px;}
.menu1 .T_KL8 .b51 {	background-position: 0 -1150px;}
.menu1 .T_KL8 .b52 {	background-position: 0 -1173px;}
.menu1 .T_KL8 .b53 {	background-position: 0 -1196px;}
.menu1 .T_KL8 .b54 {	background-position: 0 -1219px;}
.menu1 .T_KL8 .b55 {	background-position: 0 -1242px;}
.menu1 .T_KL8 .b56 {	background-position: 0 -1265px;}
.menu1 .T_KL8 .b57 {	background-position: 0 -1288px;}
.menu1 .T_KL8 .b58 {	background-position: 0 -1311px;}
.menu1 .T_KL8 .b59 {	background-position: 0 -1334px;}
.menu1 .T_KL8 .b60 {	background-position: 0 -1357px;}
.menu1 .T_KL8 .b61 {	background-position: 0 -1380px;}
.menu1 .T_KL8 .b62 {	background-position: 0 -1403px;}
.menu1 .T_KL8 .b63 {	background-position: 0 -1426px;}
.menu1 .T_KL8 .b64 {	background-position: 0 -1449px;}
.menu1 .T_KL8 .b65 {	background-position: 0 -1472px;}
.menu1 .T_KL8 .b66 {	background-position: 0 -1495px;}
.menu1 .T_KL8 .b67 {	background-position: 0 -1518px;}
.menu1 .T_KL8 .b68 {	background-position: 0 -1541px;}
.menu1 .T_KL8 .b69 {	background-position: 0 -1564px;}
.menu1 .T_KL8 .b70 {	background-position: 0 -1587px;}
.menu1 .T_KL8 .b71 {	background-position: 0 -1610px;}
.menu1 .T_KL8 .b72 {	background-position: 0 -1633px;}
.menu1 .T_KL8 .b73 {	background-position: 0 -1656px;}
.menu1 .T_KL8 .b74 {	background-position: 0 -1679px;}
.menu1 .T_KL8 .b75 {	background-position: 0 -1702px;}
.menu1 .T_KL8 .b76 {	background-position: 0 -1725px;}
.menu1 .T_KL8 .b77 {	background-position: 0 -1748px;}
.menu1 .T_KL8 .b78 {	background-position: 0 -1771px;}
.menu1 .T_KL8 .b79 {	background-position: 0 -1794px;}
.menu1 .T_KL8 .b80 {	background-position: 0 -1817px;}

.menu1 .T_HK6 span{margin-left:10px;}
.menu1 .T_HK6 b {margin-top:3px; width:25px; background: url("../images/ball_hk6.png") no-repeat;}
.menu1 .T_HK6 .b01 {	background-position: 0 0px;}
.menu1 .T_HK6 .b02 {	background-position: 0 -27px;}
.menu1 .T_HK6 .b03 {	background-position: 0 -54px;}
.menu1 .T_HK6 .b04 {	background-position: 0 -81px;}
.menu1 .T_HK6 .b05 {	background-position: 0 -108px;}
.menu1 .T_HK6 .b06 {	background-position: 0 -135px;}
.menu1 .T_HK6 .b07 {	background-position: 0 -162px;}
.menu1 .T_HK6 .b08 {	background-position: 0 -189px;}
.menu1 .T_HK6 .b09 {	background-position: 0 -216px;}
.menu1 .T_HK6 .b10 {	background-position: 0 -243px;}
.menu1 .T_HK6 .b11 {	background-position: 0 -270px;}
.menu1 .T_HK6 .b12 {	background-position: 0 -297px;}
.menu1 .T_HK6 .b13 {	background-position: 0 -324px;}
.menu1 .T_HK6 .b14 {	background-position: 0 -351px;}
.menu1 .T_HK6 .b15 {	background-position: 0 -378px;}
.menu1 .T_HK6 .b16 {	background-position: 0 -405px;}
.menu1 .T_HK6 .b17 {	background-position: 0 -432px;}
.menu1 .T_HK6 .b18 {	background-position: 0 -459px;}
.menu1 .T_HK6 .b19 {	background-position: 0 -486px;}
.menu1 .T_HK6 .b20 {	background-position: 0 -513px;}
.menu1 .T_HK6 .b21 {	background-position: 0 -540px;}
.menu1 .T_HK6 .b22 {	background-position: 0 -567px;}
.menu1 .T_HK6 .b23 {	background-position: 0 -594px;}
.menu1 .T_HK6 .b24 {	background-position: 0 -621px;}
.menu1 .T_HK6 .b25 {	background-position: 0 -648px;}
.menu1 .T_HK6 .b26 {	background-position: 0 -675px;}
.menu1 .T_HK6 .b27 {	background-position: 0 -701px;}
.menu1 .T_HK6 .b28 {	background-position: 0 -728px;}
.menu1 .T_HK6 .b29 {	background-position: 0 -755px;}
.menu1 .T_HK6 .b30 {	background-position: 0 -782px;}
.menu1 .T_HK6 .b31 {	background-position: 0 -809px;}
.menu1 .T_HK6 .b32 {	background-position: 0 -836px;}
.menu1 .T_HK6 .b33 {	background-position: 0 -863px;}
.menu1 .T_HK6 .b34 {	background-position: 0 -890px;}
.menu1 .T_HK6 .b35 {	background-position: 0 -917px;}
.menu1 .T_HK6 .b36 {	background-position: 0 -944px;}
.menu1 .T_HK6 .b37 {	background-position: 0 -971px;}
.menu1 .T_HK6 .b38 {	background-position: 0 -998px;}
.menu1 .T_HK6 .b39 {	background-position: 0 -1025px;}
.menu1 .T_HK6 .b40 {	background-position: 0 -1052px;}
.menu1 .T_HK6 .b41 {	background-position: 0 -1079px;}
.menu1 .T_HK6 .b42 {	background-position: 0 -1106px;}
.menu1 .T_HK6 .b43 {	background-position: 0 -1133px;}
.menu1 .T_HK6 .b44 {	background-position: 0 -1160px;}
.menu1 .T_HK6 .b45 {	background-position: 0 -1187px;}
.menu1 .T_HK6 .b46 {	background-position: 0 -1214px;}
.menu1 .T_HK6 .b47 {	background-position: 0 -1242px;}
.menu1 .T_HK6 .b48 {	background-position: 0 -1269px;}
.menu1 .T_HK6 .b49 {	background-position: 0 -1296px;}
.menu1 .T_HK6 .b50{background-position: 0 -1323px;}

/*11选5*/
.menu1 .T_11X5 b {margin-left:8px;margin-top:6px;width:35px;height:35px; background: url("../images/ball/syx5.png") no-repeat;}
.menu1 .T_11X5 .b1 {	background-position: -8px -12px;}
.menu1 .T_11X5 .b2 {	background-position: -8px -51px;}
.menu1 .T_11X5 .b3 {	background-position: -8px -91px;}
.menu1 .T_11X5 .b4 {	background-position: -8px -131px;}
.menu1 .T_11X5 .b5 {	background-position: -8px -171px;}
.menu1 .T_11X5 .b6 {	background-position: -8px -211px;}
.menu1 .T_11X5 .b7 {	background-position: -8px -251px;}
.menu1 .T_11X5 .b8 {	background-position: -8px -291px;}
.menu1 .T_11X5 .b9 {	background-position: -8px -331px;}
.menu1 .T_11X5 .b10 {	background-position: -8px -371px;}
.menu1 .T_11X5 .b11 {	background-position: -8px -411px;}

/*pcegg*/
.menu1 .T_PECGG b{margin-left:8px;margin-top:6px;width:35px;height:35px; background: url("../images/ball/pcegg.png") no-repeat;}
.menu1 .T_PECGG span.fuhao_pcegg{height:35px;line-height: 35px;margin-left:8px;margin-top:6px;font-size: 16px;color:#fff;}
.menu1 .T_PECGG .b0 {background-position: -8px -12px;}
.menu1 .T_PECGG .b1 {background-position: -8px -51px;} 
.menu1 .T_PECGG .b2 {background-position: -8px -91px;}
.menu1 .T_PECGG .b3 {background-position: -8px -131px;}
.menu1 .T_PECGG .b4 {background-position: -8px -171px;}
.menu1 .T_PECGG .b5 {background-position: -8px -211px;}
.menu1 .T_PECGG .b6 {background-position: -8px -251px;}
.menu1 .T_PECGG .b7 {background-position: -8px -291px;} 
.menu1 .T_PECGG .b8 {background-position: -8px -331px;}
.menu1 .T_PECGG .b9 {background-position: -8px -371px;}
.menu1 .T_PECGG .b10 {background-position: -8px -411px;}
.menu1 .T_PECGG .b11 {background-position: -8px -451px;}
.menu1 .T_PECGG .b12 {background-position: -8px -491px;}
.menu1 .T_PECGG .b13 {background-position: -8px -531px;}
.menu1 .T_PECGG .b14 {background-position: -8px -571px;}
.menu1 .T_PECGG .b15 {background-position: -8px -611px;}
.menu1 .T_PECGG .b16 {background-position: -8px -651px;}
.menu1 .T_PECGG .b17 {background-position: -8px -691px;}
.menu1 .T_PECGG .b18 {background-position: -8px -731px;}
.menu1 .T_PECGG .b19 {background-position: -8px -771px;}
.menu1 .T_PECGG .b20 {background-position: -8px -811px;}
.menu1 .T_PECGG .b21 {background-position: -8px -851px;}
.menu1 .T_PECGG .b22 {background-position: -8px -891px;}
.menu1 .T_PECGG .b23 {background-position: -8px -931px;}
.menu1 .T_PECGG .b24 {background-position: -8px -971px;}
.menu1 .T_PECGG .b25 {background-position: -8px -1011px;}
.menu1 .T_PECGG .b26 {background-position: -8px -1051px;}