body {
    background-color: #fff;
    font-family: "Microsoft YaHei",Tahoma,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
*{
	margin:0;
	padding:0;
}
ul, ol, li {
    border: 0 none;
    list-style: outside none none;
    overflow: hidden;
}
.memberheader {
    border-bottom: 1px solid #cdcdcd;
    height: 110px;
    position: relative;
}
.useravatar {
    height: 83px;
    margin: 15px 0 0 25px;
    width: 84px;
}
.floatleft {
    float: left;
}
.floatright{
	float:right;
}
/*div, ul, ol, li, form, img, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, pre, code, form, fieldset, legend, button, input, textarea {
    border: 0 none;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}*/
.memberinfo {
    margin: 15px 0 0 15px;
}.memberinfo h1 {
    font-weight: normal;
    margin: 0;
}.blue {
    color: #217eec;
}
.balance {
    height: 32px;
    margin-left: 20px;
    margin-top: 5px;
}.balancevalue {
    margin: 6px 0 0 40px;
}.pointer {
    cursor: pointer;
}
.margintop7 {
    margin-top: 6px;
}
.marginleft5 {
    margin-left: 5px;
}a {
    text-decoration: none;
}.gap5 {
    height: 45px;
    width: 100%;
}.memberinfo p {
    color: #777f89;
    font-size: 15px;
    font-weight: bold;
    line-height: 38px;
}
.membersubnavi {
    position: absolute;
    right: 0;
    top: 64px;
}
.subnavi {
    float: left;
    font-size: 14px;
    padding: 0 20px;
}.subnavi a {
    color: #777f89;
}.membersubnavi span {
    cursor: pointer;
}.subnaviarrow {
    background-image: url("../images/subnaviarrow.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    height: 20px;
    margin-top: 5px;
}
.btn-blue {
    background-color: #39a9ff;
    background-image: linear-gradient(to bottom, #39a9ff, #298df3);
    border: 1px solid #0191ff;
    border-radius: 3px;
    color: #ffffff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-red:hover {
    background-color: #a2a2a2;
    background-image: linear-gradient(to bottom, #a2a2a2, #6c6c6c);
    border: 1px solid #888888;
}
.btn-red {
    background-color: #bbbbbb;
    background-image: linear-gradient(to bottom, #bbbbbb, #858585);
    border: 1px solid #9f9f9f;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.form-control {
  display: block;
  width: 16%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.membersubnavi span {cursor: pointer;}