/*draw*/
.account-content-container {
    padding: 25px 40px;
}
.account-content {
    overflow: visible;
    width: 100%;
}

.account-content h3 {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 25px;
}

.account-content .security-setting {
    overflow: visible;
}

.account-content .security-setting table {
    border-bottom: 1px solid #d1d1d1;
}
.account-content table {
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.account-content .security-setting td.align-right-col {
    text-align: right;
    width: 100px;
}
.account-content table td {
    padding: 15px 0 15px 10px;
}

.account-content .security-setting tr.last-row td button {
    display: block;
    height: 33px;
    width: 130px;
}


.content {
    position: relative;
}
.stepswithdraw {
    position: relative;
    overflow: hidden;
}

.substeps {
    margin-left: 30px;
    margin-top: 25px;
}
.substepitmgray1 {
    background-image: url("../images/arrowblue1.png");
    color: #fff;
    float: left;
    height: 25px;
    line-height:20px;
    padding: 5px 0 0 55px;
    width: 183px;
}
.substepitmgray2 {
    background-image: url("../images/arrowblue2.png");
    color: #fff;
    float: left;
    height: 25px;
    line-height:20px;
    padding: 5px 0 0 55px;
    width:  183px;
}
.substepitmblue1 {
    background-image: url("../images/arrowgray1.png");
}
.substepitmblue2 {
	background-image: url("../images/arrowgray2.png");
}
.substepitmgray1 {
    color: #fff;
}
.subcontent2 {
    border-top: 1px solid #93bdee;
    padding-top: 35px;
}.addbankcard {
    margin-top: 35px;
}
.logo-th-2 {
    background-image: url("../images/warning.png");
    background-position: 0 0;
    display: block;
    height: 48px;
    margin: 0 auto;
    width: 48px;
}
.bigtxt {
    font-size: 24px;
}
.gray {
    color: #a2a2a2;
}
.aligncenter {
    text-align: center;
}
.th-btn {
    margin-top: 20px;
    text-align: center;
}
.button {
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 35px;
    margin: 0 auto;
    text-align: center;
    width: 152px;
}
.btn-blue {
    background-color: #39a9ff;
    background-image: linear-gradient(to bottom, #39a9ff, #298df3);
    border: 1px solid #0191ff;
    border-radius: 3px;
    color: #ffffff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}
.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}

/*hisRecord*/
