.chart_table_search_wrapper {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #dfe6e9;
    height: 51px;
    margin: 10px;
    padding: 10px 0 0;
    position: relative;
}
div {
    display: block;
}
.historyNav {
    padding: 0 20px;
}
.historyNav > li {
    float: left;
    list-style: outside none none;
    margin-right: 5px;
}
.tp-ui-button, .tp-ui-text, .tp-ui-textarea, .tp-ui-file, .tp-ui-select, .tp-ui-select-head, .tp-ui-select-group-head, .tp-ui-select-sub, .tp-ui-select-value, .tp-ui-number, .tp-ui-switch, .tp-ui-switch-refer, .tp-ui-progress, .tp-ui-progress-refer {
    position: relative;
}
.tp-ui-button, .tp-ui-text, .tp-ui-textarea, .tp-ui-select-head, .tp-ui-select-content-list, .tp-ui-number, .tp-ui-number-option, .tp-ui-switch-refer {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.tp-ui-text, .tp-ui-textarea, .tp-ui-select-head, .tp-ui-number {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.tp-ui-padding {
    padding: 0;
}
.tp-ui-iconat-after {
    padding-right: 32px;
}
.tp-ui-button-base a, .tp-ui-button-base input, .tp-ui-button-base button, .tp-ui-text-base input, .tp-ui-textarea-base textarea, .tp-ui-select-value a, .tp-ui-number-refer input, .tp-ui-number-option button, .tp-ui-select-value a, .tp-ui-select-value span, .tp-ui-select-arrow a, .tp-ui-select-checker a, .tp-ui-select-group-arrow a, .tp-ui-radio-handle a, .tp-ui-radio-handle em, .tp-ui-checkbox-handle a, .tp-ui-checkbox-handle em, .tp-ui-switch-refer em, .tp-ui-switch-refer span, .tp-ui-switch-handle a, .tp-ui-progress-refer span {
    display: block;
}
.tp-ui-button-base a, .tp-ui-button-base input, .tp-ui-button-base button, .tp-ui-text-base input, .tp-ui-textarea-base textarea, .tp-ui-select-value a, .tp-ui-number-refer input, .tp-ui-number-option button {
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    outline: 0 none;
}
.tp-ui-button-base a, .tp-ui-button-base input, .tp-ui-button-base button, .tp-ui-text-base input, .tp-ui-select-value a, .tp-ui-number-refer input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tp-ui-text-base input, .tp-ui-textarea-base textarea, .tp-ui-select-head, .tp-ui-button-base a, .tp-ui-button-base input, .tp-ui-button-base button, .tp-ui-number-refer input {
    width: 100%;
}
.tp-ui-button-base a, .tp-ui-button-base input, .tp-ui-button-base button, .tp-ui-text-base input, .tp-ui-textarea-base textarea, .tp-ui-select-value a, .tp-ui-number-refer input, .tp-ui-number-option button {
    height: 38px;
}
.tp-ui-text-base input {
    padding: 0 8px;
}
.form-input input, .tp-ui-text-base input {
}
input.kc-calendar {
    width: 96px;
}
.historyNav input {
    color: #999;
    font-family: "微软雅黑";
    font-size: 12px;
    padding-left: 5px;
    width: 160px;
}
.tp-ui-button .tp-ui-icon, .tp-ui-text .tp-ui-icon {
    top: 3px;
}
.tp-ui-button .tp-ui-icon-after, .tp-ui-text .tp-ui-icon-after {
    right: 3px;
}
.tp-ui-icon {
    height: 32px;
    position: absolute;
    width: 32px;
}
.icon-kc-calendar {
    background: rgba(0, 0, 0, 0) url("../images/kc-icon.png") no-repeat scroll -256px -32px;
}
.btn-red {
    background-color: #bbbbbb;
    background-image: linear-gradient(to bottom, #bbbbbb, #858585);
    border: 1px solid #9f9f9f;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 8px 30px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-red:hover {
    background-color: #a2a2a2;
    background-image: linear-gradient(to bottom, #a2a2a2, #6c6c6c);
    border: 1px solid #888888;
}
.form-control{width:100%;height:40px;}
/*cz or qk*/
.tabs {
    height:40px;
    margin-left:10px;
}
.tabtitle {
    float: left;
    height: 30px;
    padding-top: 6px;
    text-align: center;
    width: 120px;
}
.tab {
    background-color: #e3e6e8;
    color: #777f89;
    cursor: pointer;
    float: left;
    height: 28px;
    padding-top: 8px;
    text-align: center;
    width: 170px;
    margin-left:1px;
}
.tabactive {
    color: #ffffff;
    position: relative;
    background-color: #a2a2a2;
}
/*table*/
.records {
    padding: 0 10px;
    margin-bottom:10px;
}
.records table {
    border-collapse: collapse !important;
    width: 100%;
    border: 1px solid #dfe6e9;
}
.records table th {
    background-color: #777f89;
    border: 1px solid #777f89;
    color: #fff;
    font-weight: lighter;
    padding: 10px 0;
}

.page_info {
    margin: 3px;
    padding: 3px;
    text-align: center;
}
.records table td {
    color: #777f89;
    font-size: 12px;
    line-height:45px;
    text-align: center;
}
.records .table tbody tr{border-bottom:1px dashed #dfe6e9;}
#pageGro {
    height: 25px;
    margin: 0 auto 30px;
    width: 100%;
}
#pageGro div {
    color: #999;
    float: left;
    font-size: 12px;
    line-height: 23px;
    margin-left: 10px;
}
#pageGro font {
    color: #c9171e;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    padding: 0 5px;
}