ol, ul {
    list-style: outside none none;
}
.historyNav{padding:0 20px;}
.historyNav>li {
	float: left;
	list-style:none;
	margin-right:5px;
}
.historyNav>li>a {
	line-height: 35px;
	height: 35px;
	margin: 0px 8px;
	color:#fff;
	display: block;
	font-size:14px;
	cursor: pointer;
}
.historyNav>li>ul>li>a{cursor:pointer;}
.historyNav>li>a:hover {
	color:yellow;
	text-decoration:none;
}
.historyNav>li.active a {
	/* color:red; */
	color:yellow;
}
.historyNav>li:hover .sub-menu,.historyNav>li:focus .sub-menu {
	display:block;
	margin:0;
}
.historyNav select{
	border: 1px solid #ccc;
    font-size: 12px;
    padding: 2px;
    width: 100px;
}
.historyNav input{
	color: #999;
    font-family: "微软雅黑";
    font-size: 12px;
    padding-left: 5px;
    width: 160px;
}
.historyNav .btn{
	font-size:11px;
	margin-right:0;
	padding:3px 10px;
	margin-bottom:3px;
}
.historyNav .btn:hover{
	background: #34495e;
	color:#ffffff;
}
.historyNav .orderSearch{
	padding:12px;
	font-size:14px;
}
.rule-content{
    background: #ffffff none repeat scroll 0 0;
}
.awardList tr td a{
	color: #8968cd;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
#ac-account-page ul {
    margin: 7px 15px;
    padding: 0;
}
#ac-account-page a {
    color: #8968cd;
    cursor: pointer;
    text-decoration: none;
}
.awardList tr td a:hover {
    text-decoration: underline;
}
.message_table {
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}
.message_table th, .message_table td {
    border-top: 1px solid #cfcfcf;
    line-height: 1em;
    padding: 15px 5px;
    text-align: center;
    vertical-align: top;
}
.message_table .bg_black3 {
    background: #999ca1 none repeat scroll 0 0;
}
.historyNav span{display:inline-block;color:black;}
.pubTab .glyphicon{cursor: pointer;}
.order-control{height:41px;}
/* CSS Document */
/*分页*/
#pageGro{ width:100%; height:25px; margin: 0 auto 30px;}
#pageGro div{ font-size:12px; color:#999; line-height:23px; float:left; margin-left:5px;}
#pageGro font{display: inline-block;padding:0 5px;font-weight: bold;color:#c9171e;line-height: 28px;}
