body {
    background-color: #fff;
    font-family: "Microsoft YaHei",Tahoma,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

ul, ol, li {
    border: 0 none;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}


/*style*/
.account-content-container {
    padding: 25px 40px;
}
.account-content {
    overflow: visible;
    width: 100%;
}

.account-content h3 {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 25px;
    overflow: hidden;
}

.account-content .security-setting {
    overflow: visible;
}

.account-content .security-setting table {
    border-bottom: 1px solid #d1d1d1;
}
.account-content table {
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.account-content .security-setting td.align-right-col {
    text-align: right;
    width: 100px;
}
.account-content table td {
    padding: 15px 0 15px 10px;
}
.textfield1 {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #e8e8e8 inset;
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
    width: 160px;
}

.account-content .security-setting tr.last-row td button {
    display: block;
    height: 33px;
    width: 130px;
}
.btn-blue {
    background-color: #39a9ff;
    background-image: linear-gradient(to bottom, #39a9ff, #298df3);
    border: 1px solid #0191ff;
    border-radius: 3px;
    color: #ffffff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.form-control {
  display: block;
  width: 16%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.membersubnavi span {cursor: pointer;}

/*zhanneixin*/

.account-content .notification-list table {
    border: 1px solid #d1d1d1;
    text-align: center;
}
.account-content .notification-list table a{
	color:#777f89;
}
.account-content .notification-list table a:hover{
	color:red;
	font-weight: bold;
	text-decoration: underline;
}

.account-content .notification-list table th {
    background-color: #4987d7 !important;
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    padding: 10px 15px;
}

.badge {
    background-color: #fff;
    border-radius: 3px;
    color: #217eec;
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    line-height: 1;
    margin-left: 5px;
    min-width: 10px;
    padding: 3px 10px;
    text-align: center;
    white-space: nowrap;
}
.titleMsg{
	float:left;
	display: inline-block;
	line-height: 34px;
	padding:0 15px;
	font-weight: bold;
}
.statusMsg{
	float:left;
	background-color: #217eec;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    line-height: 34px;
    text-align: center;
    width: 80px;
}

.account-content .notification-list table tr td:first-child {
    padding-left: 20px;
}
.account-content .notification-list table td {
    border-top: 1px solid #d1d1d1;
}
#pageGro {
    height: 25px;
    margin: 0 auto 30px;
    width: 100%;
}
#pageGro div {
    color: #999;
    float: left;
    font-size: 12px;
    line-height: 23px;
    margin-left: 40px;
}
#pageGro font {
    color: #c9171e;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    padding: 0 5px;
}