
/*queue_1*/
.queueV{border:1px solid #ebebeb;width:170px;float:left;margin-left:5px;}
.queueV .queueV_head span{display: inline-block;font-size:14px;font-weight: bold;line-height: 34px;text-align: center;width:100%;}
.skin_blue .queueV .queueV_head {
    background: #c5e5f4 url("../images/blue/table_headerbg.gif")  repeat-x scroll left top;
    color: #35406d;
    height: 34px;
}
.skin_red .queueV .queueV_head {
    background: #ffbdb9 url("../images/red/table_headerbg.gif") repeat-x scroll left top;
    color: #762d08;
    height: 34px;
}
.skin_gray .queueV .queueV_head {
    background: #b2b4b5 url("../images/gray/table_headerbg.png") repeat-x scroll left top;
    color: #ffffff;
    height: 34px;
}
/*加上gray，red，blue*/

.qq-client-list{background:#ffffff;}
.client-list{overflow:hidden;line-height:28px;width:90%;margin:0px auto;border-bottom:dashed 1px #ebebeb;}
.client-list span{float:left;color:red;font-weight: bold;}
.client-list label{float:left;width:85px;text-align:right;padding-right:10px;}