*{box-sizing: border-box;}
* {
    margin: 0;
    padding: 0;
}
a{ text-decoration: none;}
ol, ul {
    margin-bottom: 10px;
    margin-top: 0;
}
h1, h2, h3, h4, h5, h6, b {
    font-size: 100%;
    font-weight: 500;
}
address, caption, cite, code, dfn, em, th, var, i, b {
    font-style: normal;
    font-weight: 500;
}
a:hover{color:#c9171e;}
.docBody{width:990px;margin-top:12px}
.main-result{font-size:12px;}
.breadCrumb{font-family:Simsun;margin-bottom:12px}
.breadCrumb h1{display:inline}
.hot_block{width:990px}
.popuBox{width:990px;height:90px;clear:both;margin-bottom:10px}
.popuBox a{display:block}
.popuBox img{display:block;border:0;width:990px;height:90px}
.main-result .title{height:37px;line-height:36px;border:1px solid #ddd;border-bottom:0;clear:both;float:none;background:url(../images/awar_icon_95ce0ef.png) repeat-x 0 -62px #fff;padding:0 5px 0 15px}
.main-result .title strong{float:left;font-size:14px}
.main-result .title span{float:right;text-align:right;white-space:nowrap;color:#999}
.main-result .title span a{margin:0 10px}
.todayAward{background:#ffffff; border:1px solid #ddd;border-bottom:0;clear:both;padding:12px 0;overflow: hidden;line-height:16px}
.todayAward .detail{float:left}
.todayAward .detail strong{margin-left:15px;color:#ba2636}
.todayAward .detail a{margin-right:15px}
.todayAward .detail a.on{color:#c9171e;}
.todayAward .links{float:right}
.todayAward .links a{margin-left:15px}
.todayAward .links i{display:inline-block;line-height:0;font-size:0;background:url(../images/awar_icon_95ce0ef.png) no-repeat;margin-right:5px;position:relative;z-index:10}
.todayAward .links .subscription i{height:12px;width:15px;background-position:-38px -19px}
.todayAward .links .getclient i{height:16px;width:11px;background-position:-19px -19px;vertical-align:middle}
/*.awardList{border-radius: 5px;width:100%;border-style:solid;box-shadow:0px 0px 6px #666; border-width:0px 1px 0 1px;text-align:center; border-color:#ba2636 #ddd #ddd #ddd;margin-bottom:-1px;font-size:12px;}*/
.awardList{width:100%;border-color: #ba2636 #ddd #ddd;font-size: 12px;margin-bottom: -1px;text-align: center;}
.main-result th{line-height:30px;background:#dff3ff;color:#717171;text-align:center;font-weight: bold;}
.main-result td{padding:10px 0 9px 0;line-height:22px;border-bottom:1px dotted #ddd}
.main-result th.first,.awardList td.first{padding-left:15px}
.main-result td.period a,.awardList td.period a:visited,.awardList td.period a:hover{color:#333;text-decoration:none}
.main-result td b{color:#ba2636;font-weight:700}
.main-result .noborder td{border:0}
.main-result .numberDis{margin-right:5px}
.main-result .numberDis strong{font-size:14px;margin-right:5px;display:inline-block;width:16px}
.main-result .numberDis em{display:inline-block;height:16px;line-height:16px;width:16px;margin-right:5px;color:#fff;background:url(../images/awar_icon_95ce0ef.png) no-repeat 0 0;font-weight:700}
.main-result .numberDis em.big{background-position:0 0}
.main-result .numberDis em.small{background-position:-19px 0}
.main-result .numberDis em.odd{background-position:-38px 0}
.main-result .numberDis em.dual{background-position:0 -19px}
.main-result .winNum{font-size:14px;margin-right:5px}
.main-result .awardLink a{margin-right:10px}
.main-result .kl8Num{float:left;display:inline-block;width:175px}
.main-result .kl8Fp{float:right;font-family:simsun;line-height:44px;padding-right:15px}
.main-result th.buy,.awardList td.buy{padding-left:0}
.main-result .betBtn{float:right;margin-top:6px;margin-right:8px;display:inline-block;width:54px;height:22px;line-height:22px;text-align:center;color:#fff;background:url(../images/awar_icon_95ce0ef.png) no-repeat 0 -38px}
.main-result .betBtn:visited,.awardList .betBtn:hover{color:#fff;text-decoration:none}
.touzhuCaipiao{float:right;}
.touzhuCaipiao a{margin-right:15px;}
.smallRedball,.smallBlueball,.smallGreenball{display:inline-block;width:21px;padding-right:1px;height:22px;line-height:22px;font-weight:700;text-align:center;color:#fff;line-height:21px\9;color:#fff;background:url(../images/newballs_5aa7bd8.png) no-repeat -47px -38px;font-size:11px}
.smallBlueball{background-position:-70px -38px;}
.smallGreenball{background-position:0 -38px;}
.winningNumberlist .c_727171{display:inline-block}
.winningNumberlist .poker_kj_num{position:relative;display:inline-block;vertical-align:middle;margin-left:3px;width:36px;height:18px;border-radius:2px;text-align:left;font-size:16px;font-family:Tahoma,Arial;line-height:18px;zoom:1;white-space:nowrap;background:url(http://pimg1.126.net/caipiao/img/lotteryBet/poker/poker_repeat_f268064.png) repeat-x scroll 0 -351px;border:1px solid #ccc}
.winningNumberlist .poker_kj_num em{margin-left:18px;width:18px;text-align:center;display:block}
.winningNumberlist .poker_kj_num .poker_kj_num_10{margin-left:17px}
.winningNumberlist .poker_hongt i{width:13px;height:12px;background-position:-215px -2px}
.winningNumberlist .poker_heit i{width:11px;height:12px;background-position:-201px -1px}
.winningNumberlist .poker_meih i{width:13px;height:12px;background-position:-231px -1px}
.winningNumberlist .poker_fangk i{top:2px;left:7px;width:10px;height:14px;background-position:-248px -1px}
.ssqExtraNum{text-align:right;padding-right:86px}
.ssqExtraNum strong{color:#1e50a2;font-weight:500;margin-right:3px}
.pull-left,.pull-right{top:10px;cursor: pointer;}
.pull-left{left:20px;}
.pull-right{right:20px;}
.rule-content{margin-bottom:20px;text-align: center;border: 1px solid #dfe6e9;}

div {
    display: block;
}
ul, ol {
    list-style: outside none none;
}
.chart_table_search_wrapper {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #dfe6e9;
    height: 51px;
    margin: 10px auto;
    padding: 5px 0 0;
    position: relative;
}
.search_left {
    float: left;
    line-height: 28px;
    padding-left: 15px;
}
.search_right {
    float: right;
    line-height: 28px;
    padding-right: 15px;
    margin-top:8px;
}
.search_right form {
    display: inline;
}

.refresh_button {
    background: rgba(0, 0, 0, 0) url("../images/shuaxin.png") no-repeat scroll 0 0;
    border: medium none;
    display: inline;
    height: 20px;
    line-height: 20px;
    margin-left: 20px;
    text-align: center;
    vertical-align: top;
    width: 48px;
}
.select_by_day {
    display: inline;
    float: right;
    margin-right: 100px;
    line-height: 27px;
}

input, select {
    vertical-align: middle;
}
button, input, select, textarea {
    font-size: 100%;
}
.drawing-head .db-config {
    right:5px;
    top: 5px;
}

.drawing-head .db-config ul li {
    margin: 0 5px;
    vertical-align: top;
}

.drawing-head .db-config li > a {
    background: #ecf0f1 none repeat scroll 0 0;
    border: 1px solid #ecf0f1;
    border-radius: 3px;
    color: #34495e;
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    padding: 0 24px;
}
.drawing-head .db-config li > a:hover {
    background: #34495e none repeat scroll 0 0;
    border-color: #34495e;
    color: #fff;
    text-decoration: none;
}
.drawing-head .db-config li.active > a {
    background: #e74c3c none repeat scroll 0 0;
    border-color: #e74c3c;
    color: #fff;
}

.drawing-head .db-config label {
    line-height: 40px;
}
.drawing-head .db-config label, .drawing-head .db-config .tp-ui-forminput {
    display: inline-block;
    vertical-align: top;
}
.drawing-head .db-config {
    position: absolute;
}

.drawing-head .db-config ul, .drawing-head .db-config ul li {
    display: inline-block;
}

.drawing-head .db-config label {
    line-height: 40px;
}
.tp-ui-text, .tp-ui-textarea, .tp-ui-select-head, .tp-ui-number {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.tp-ui-button, .tp-ui-text, .tp-ui-textarea, .tp-ui-select-head, .tp-ui-select-content-list, .tp-ui-number, .tp-ui-number-option, .tp-ui-switch-refer {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.tp-ui-button, .tp-ui-text, .tp-ui-textarea, .tp-ui-file, .tp-ui-select, .tp-ui-select-head, .tp-ui-select-group-head, .tp-ui-select-sub, .tp-ui-select-value, .tp-ui-number, .tp-ui-switch, .tp-ui-switch-refer, .tp-ui-progress, .tp-ui-progress-refer {
    position: relative;
}
.tp-ui-iconat-after {
    padding-right: 32px;
}

input.kc-calendar {
    width: 96px;
}
.form-input input, .tp-ui-text-base input {
}
.tp-ui-text-base input {
    padding: 0 8px;
}
.tp-ui-button-base a, .tp-ui-button-base input, .tp-ui-button-base button, .tp-ui-text-base input, .tp-ui-textarea-base textarea, .tp-ui-select-value a, .tp-ui-number-refer input, .tp-ui-number-option button {
    height: 38px;
}
.tp-ui-text-base input, .tp-ui-textarea-base textarea, .tp-ui-select-head, .tp-ui-button-base a, .tp-ui-button-base input, .tp-ui-button-base button, .tp-ui-number-refer input {
    width: 100%;
}
.tp-ui-button-base a, .tp-ui-button-base input, .tp-ui-button-base button, .tp-ui-text-base input, .tp-ui-select-value a, .tp-ui-number-refer input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tp-ui-button-base a, .tp-ui-button-base input, .tp-ui-button-base button, .tp-ui-text-base input, .tp-ui-textarea-base textarea, .tp-ui-select-value a, .tp-ui-number-refer input, .tp-ui-number-option button {
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    outline: 0 none;
}
.tp-ui-button-base a, .tp-ui-button-base input, .tp-ui-button-base button, .tp-ui-text-base input, .tp-ui-textarea-base textarea, .tp-ui-select-value a, .tp-ui-number-refer input, .tp-ui-number-option button, .tp-ui-select-value a, .tp-ui-select-value span, .tp-ui-select-arrow a, .tp-ui-select-checker a, .tp-ui-select-group-arrow a, .tp-ui-radio-handle a, .tp-ui-radio-handle em, .tp-ui-checkbox-handle a, .tp-ui-checkbox-handle em, .tp-ui-switch-refer em, .tp-ui-switch-refer span, .tp-ui-switch-handle a, .tp-ui-progress-refer span {
    display: block;
}
input, select, button, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: 100% !important;
    outline: 0 none;
}
td, th, input, select, button, textarea {
    font-family: inherit;
    font-size: inherit;
}

.tp-ui-button .tp-ui-icon-after, .tp-ui-text .tp-ui-icon-after {
    right: 3px;
}
.tp-ui-button .tp-ui-icon, .tp-ui-text .tp-ui-icon {
    top: 3px;
}
.icon-kc-calendar {
    background: rgba(0, 0, 0, 0) url("../images/kc-icon.png") no-repeat scroll -256px -32px;
}
.tp-ui-icon {
    height: 32px;
    position: absolute;
    width: 32px;
}
.tp-ui-icon i {
    display: none;
}
.tp-ui-icon i {
    height: 32px;
    width: 32px;
}
.tp-ui-icon > * {
    display: block;
}
.tp-ui-padding{padding:0;}
.am-selected{background:#ffffff;}
.main-result .am-selected-btn{font-size:13px;padding:13px 10px;}

.ball-cqxync{
	display: inline-block;
	width: 37px;
	height: 32px;
	font-size: 16px;
	color: #fff;
	font-style:normal;
	font-weight:normal;
	text-align: center;
	line-height:24px;
	background: url(../images/ball_nc_top.png) no-repeat;
	text-decoration:none;
	margin:3px 5px;
	padding:0;
}
.cqxync-i01{
	background-position: 0 0;
}
.cqxync-i02{
	background-position: 0 -33px;
}
.cqxync-i03{
	background-position: 0 -66px;
}
.cqxync-i04{
	background-position: 0 -99px;
}
.cqxync-i05{
	background-position: 0 -132px;
}
.cqxync-i06{
	background-position: 0 -165px;
}
.cqxync-i07{
	background-position: 0 -198px;
}
.cqxync-i08{
	background-position: 0 -231px;
}
.cqxync-i09{
	background-position: 0 -264px;
}
.cqxync-i10{
	background-position: 0 -297px;
}
.cqxync-i11{
	background-position: 0 -330px;
}
.cqxync-i12{
	background-position: 0 -363px;
}
.cqxync-i13{
	background-position: 0 -396px;
}
.cqxync-i14{
	background-position: 0 -429px;
}
.cqxync-i15{
	background-position: 0 -462px;
}
.cqxync-i16{
	background-position: 0 -495px;
}
.cqxync-i17{
	background-position: 0 -528px;
}
.cqxync-i18{
	background-position: 0 -561px;
}
.cqxync-i19{
	background-position: 0 -594px;
}
.cqxync-i20{
	background-position: 0 -627px;
}

 /*北京pk开奖样式*/
.pk10{ height: 20px;width:20px;display:inline-block ;background: url("../images/ball-pk.png") no-repeat;margin: 0;border: none;}
.pk10.b01 {background-position: 0 0px;}
.pk10.b02 {background-position: 0 -21px;}
.pk10.b03 {background-position: 0 -42px;}
.pk10.b04 {background-position: 0 -63px;}
.pk10.b05 {background-position: 0 -84px;}
.pk10.b06 {background-position: 0 -105px;}
.pk10.b07 {background-position: 0 -126px;}
.pk10.b08 {background-position: 0 -147px;}
.pk10.b09 {background-position: 0 -168px;}
.pk10.b10 {	background-position: 0 -189px;}
.ball-1,
.ball-2,
.ball-3,
.ball-4,
.ball-5,
.ball-6,
.ball-7{
	width:27px;
	height:27px;
	float:left;
	background:url(../images/ball.png) no-repeat;
}
.ball-1 {
	background-position:0 -27px;
}
.ball-2 {
	background-position:0 -54px;
}
.ball-3 {
	background-position:0 -81px;
}
.ball-4 {
	background-position:0 -108px;
}
.ball-5 {
	background-position:0 -135px;
}
.ball-6 {
	background-position:0 -162px;
}
.ball-7{
	background-position:0  0;
}

.mark_01,.mark_02,.mark_07,.mark_08,.mark_12,.mark_13,.mark_18,.mark_19,.mark_23,.mark_24,.mark_29,.mark_30,.mark_34,.mark_35,.mark_40,.mark_45,.mark_46{
	 background-position:  -47px -38px;
}
.mark_03,.mark_04,.mark_09,.mark_10,.mark_14,.mark_15,.mark_20,.mark_25,.mark_26,.mark_31,.mark_36,.mark_37,.mark_41,.mark_42,.mark_47,.mark_48{
	  background-position:  -23px -38px;
}
.mark_05,.mark_06,.mark_11,.mark_16,.mark_17,.mark_21,.mark_22,.mark_27,.mark_28,.mark_32,.mark_33,.mark_38,.mark_39,.mark_43,.mark_44,.mark_49{
	  background-position:  0px -38px;
}
.layui-layer-dialog .layui-layer-content {
    background-color: #ffffff;
    overflow: hidden !important;
}