.header_v2 {
    background: #2c313e none repeat scroll 0 0;
    color: #fff;
    height: 70px;
    position: relative;
    z-index: 999;
}
.header_v2 a {
    color: #fff;
}
.header_v2 .wrap {
    margin: 0 auto;
    width: 1035px;
}
.header_v2 .navs li.item:hover {
    background: #3b4153 none repeat scroll 0 0;
}
.header_v2 .logo {
    float: left;
    height: 70px;
    width: 166px;
}
.header_v2 .logo i {
    display: none;
}
.header_v2 .logo img {
    display: block;
    height: 55px;
    margin-top:7px;
    width:166px;
}
.header_v2 .navs {
    float: left;
    height: 70px;
    margin-left: 30px;
}
.header_v2 .navs li.item {
    display: block;
    float: left;
    font-size: 14px;
    position: relative;
}
.header_v2 .navs li.item a{
	text-decoration: none;
}
.header_v2 .navs li.item .hot {
    background: rgba(0, 0, 0, 0) url("../images/hot_v2.png") no-repeat scroll 0 0;
    height: 11px;
    position: absolute;
    right: 10px;
    top: 13px;
    width: 26px;
}
.header_v2 .navs li.item .item_a {
    display: block;
    line-height: 70px;
    padding: 0 18px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.header_v2 .navs li.item .arrow {
    background: rgba(0, 0, 0, 0) url("../images/arrow_d_v2.png") no-repeat scroll center center;
    display: inline-block;
    height: 4px;
    margin-left: 5px;
    vertical-align: middle;
    width: 7px;
}
.header_v2 .navs dl.item {
    display: block;
    float: left;
    font-size: 14px;
    position: relative;
}
.header_v2 .navs .all_kind .item_a {
    padding: 0 8px;
}
.header_v2 .navs .all_kind .a_bg {
    background: rgba(0, 0, 0, 0) url("../images/all_v2.png") no-repeat scroll center center;
    display: block;
    width: 83px;
}
.header_v2 .navs .all_kind .drop_menu {
    background: #3b4153 none repeat scroll 0 0;
    border-top: 3px solid #aa9f82;
    display: none;
    left: 0;
    position: absolute;
    top: 70px;
    width: 820px;
    z-index: 9;
}
.header_v2 .navs .all_kind .drop_menu .row_2 {
    border-top: 1px solid #545a69;
}
.header_v2 .navs .all_kind .drop_menu .row_3 {
    background: #2c313e none repeat scroll 0 0;
}
.header_v2 .navs .all_kind .drop_menu .item {
    margin: 10px 5px;
}
.header_v2 .navs .all_kind .drop_menu dt {
    float: left;
    font-size: 14px;
    text-align: right;
    width: 70px;
}
.header_v2 .navs .all_kind .drop_menu dd {
    float: left;
    margin-left: 10px;
    width: 180px;
}
.header_v2 .navs .all_kind .drop_menu dd a {
    border-radius: 11px;
    color: #bfad94;
    display: inline-block;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin: 0 5px 5px 0;
    padding: 0 8px;
}
.header_v2 .navs .all_kind .drop_menu dd a:hover {
    background: #454b5c none repeat scroll 0 0;
    color: #fff;
}
.header_v2 .navs .usercenter .drop_menu {
    background: #3b4153 none repeat scroll 0 0;
    border-top: 3px solid #aa9f82;
    display: none;
    left: 0;
    padding-bottom: 10px;
    position: absolute;
    top: 70px;
    width: 155px;
    z-index: 9;
}
.header_v2 .navs .usercenter .drop_menu a {
    color: #bfad94;
    display: block;
    font-size: 13px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}
.header_v2 .navs .usercenter .drop_menu a:hover {
    background: #454b5c none repeat scroll 0 0;
    color: #fff;
}
.header_v2 .navs .item:hover .drop_menu {
    display: block;
}
.header_v2 .userarea {
    float: right;
    margin-top: 9px;
    font-size:12px;
}
.header_v2 .t1,.header_v2 .t2{line-height: 24px;}
.header_v2 .userarea .userinfo {
    float: left;
    margin-right: 20px;
}
.header_v2 .userarea .userinfo .avatar {
    border-radius: 50%;
    display: block;
    height: 50px;
    overflow: hidden;
    width: 50px;
}
.header_v2 .userarea .userinfo .avatar img {
    width: 100%;
}
.header_v2 .userarea .score {
    position: relative;
}
.header_v2 .userarea .score:hover #uss-fs-ag {
    display: block;
}
.header_v2 .userarea .money {
    color: #d6c393;
}
.header_v2 .userarea .refresh {
    background: rgba(0, 0, 0, 0) url("../images/refresh_v2.png") no-repeat scroll center top;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    width: 15px;
}
.header_v2 .userarea .refresh:hover {
    opacity: 0.8;
}
.header_v2 .userarea .hide_money {
    margin-left: 10px;
}
.header_v2 .userarea .charge {
    background: rgba(0, 0, 0, 0) url("../images/charge_v2.png") no-repeat scroll left top;
    display: inline-block;
    height: 29px;
    line-height: 29px;
    margin-left: 10px;
    margin-top: 12px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    width: 47px;
}
.header_v2 .userarea .charge:hover {
    background: rgba(0, 0, 0, 0) url("../images/charge_v2.png") no-repeat scroll left bottom;
}
.header_v2 .userarea .withdraw {
    background: rgba(0, 0, 0, 0) url("../images/charge_v2.png") no-repeat scroll right top;
    display: inline-block;
    height: 29px;
    line-height: 29px;
    margin-left: 10px;
    margin-top: 12px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    width: 47px;
}
.header_v2 .userarea .withdraw:hover {
    background: rgba(0, 0, 0, 0) url("../images/charge_v2.png") no-repeat scroll right bottom;
}
.header_v2 .userarea .kefu {
    background: rgba(0, 0, 0, 0) url("../images/kefu_v2.png") no-repeat scroll right top;
    display: inline-block;
    height: 25px;
    margin-left: 10px;
    margin-top: 12px;
    opacity: 0.8;
    vertical-align: middle;
    width: 33px;
}
.header_v2 .userarea .kefu:hover {
    opacity: 1;
}
.header_v2 .userarea dt {
    float: left;
}
.header_v2 .userarea dd {
    padding-left: 60px;
    padding-top: 4px;
}