
				<form>
					<table class="marksix_content">
						<thead>
							<tr class="bg-warning">
								<th>类型</th>
								<th>赔率</th>
								<th>号码</th>
								<th>选择</th>
							</tr>
						</thead>
						<tr data-val="0尾">
							<td>0尾</td>
							<td><b class="text-red">0.0</b></td>
							<td><span class="span_ball_10">10</span> <span
								class="span_ball_20">20</span> <span class="span_ball_30">30</span>
								<span class="span_ball_40">40</span></td>
							<td><input type="checkbox" name="weilian" /></td>
						</tr>
						<tr data-val="1尾">
							<td>1尾</td>
							<td><b class="text-red">0.0</b></td>
							<td><span class="span_ball_01">01</span> <span
								class="span_ball_11">11</span> <span class="span_ball_21">21</span>
								<span class="span_ball_31">31</span> <span class="span_ball_41">41</span>
							</td>
							<td><input type="checkbox" name="weilian" /></td>
						</tr>
						<tr data-val="2尾">
							<td>2尾</td>
							<td><b class="text-red">0.0</b></td>
							<td><span class="span_ball_02">02</span> <span
								class="span_ball_12">12</span> <span class="span_ball_22">22</span>
								<span class="span_ball_32">32</span> <span class="span_ball_42">42</span>
							</td>
							<td><input type="checkbox" name="weilian" /></td>
						</tr>
						<tr data-val="3尾">
							<td>3尾</td>
							<td><b class="text-red">0.0</b></td>
							<td><span class="span_ball_03">03</span> <span
								class="span_ball_13">13</span> <span class="span_ball_23">23</span>
								<span class="span_ball_33">33</span> <span class="span_ball_43">43</span>
							</td>
							<td><input type="checkbox" name="weilian" /></td>
						</tr>
						<tr data-val="4尾">
							<td>4尾</td>
							<td><b class="text-red">0.0</b></td>
							<td><span class="span_ball_04">04</span> <span
								class="span_ball_14">14</span> <span class="span_ball_24">24</span>
								<span class="span_ball_34">34</span> <span class="span_ball_44">44</span>
							</td>
							<td><input type="checkbox" name="weilian" /></td>
						</tr>
						<tr data-val="5尾">
							<td>5尾</td>
							<td><b class="text-red">0.0</b></td>
							<td><span class="span_ball_05">05</span> <span
								class="span_ball_15">15</span> <span class="span_ball_25">25</span>
								<span class="span_ball_35">35</span> <span class="span_ball_45">45</span>
							</td>
							<td><input type="checkbox" name="weilian" /></td>
						</tr>
						<tr data-val="6尾">
							<td>6尾</td>
							<td><b class="text-red">0.0</b></td>
							<td><span class="span_ball_06">06</span> <span
								class="span_ball_16">16</span> <span class="span_ball_26">26</span>
								<span class="span_ball_36">36</span> <span class="span_ball_46">46</span>
							</td>
							<td><input type="checkbox" name="weilian" /></td>
						</tr>
						<tr data-val="7尾">
							<td>7尾</td>
							<td><b class="text-red">0.0</b></td>
							<td><span class="span_ball_07">07</span> <span
								class="span_ball_17">17</span> <span class="span_ball_27">27</span>
								<span class="span_ball_37">37</span> <span class="span_ball_47">47</span>
							</td>
							<td><input type="checkbox" name="weilian" /></td>
						</tr>
						<tr data-val="8尾">
							<td>8尾</td>
							<td><b class="text-red">0.0</b></td>
							<td><span class="span_ball_08">08</span> <span
								class="span_ball_18">18</span> <span class="span_ball_28">28</span>
								<span class="span_ball_38">38</span> <span class="span_ball_48">48</span>
							</td>
							<td><input type="checkbox" name="weilian" /></td>
						</tr>
						<tr data-val="9尾">
							<td>9尾</td>
							<td><b class="text-red">0.0</b></td>
							<td><span class="span_ball_09">09</span> <span
								class="span_ball_19">19</span> <span class="span_ball_29">29</span>
								<span class="span_ball_39">39</span> <span class="span_ball_49">49</span>
							</td>
							<td><input type="checkbox" name="weilian" /></td>
						</tr>
					</table>
					<div class="text-center paddingtopbotton5">
						<div class="form-group container">
							<div class="input-group">
								<span class="input-group-addon form_span">金额</span> <input
									type="text" class="form-control betmoney" placeholder="请输入金额">
							</div>
						</div>
					</div>
					<div class="text-center footercontent">
						<div class="text-center paddingtopbotton5">
							<input type="button" class="btn btn-warning" value="重填" onClick="$('.qingkong').click();" /> <input
								type="button" onclick="addToBetList_Checkbox('erw_lbz', '二尾连不中')"
								class="btn btn-warning" value="确认下注" />
						</div>
					</div>
				</form>