@charset "UTF-8";
/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
    font-family: 'flexslider-icon';
    src: url('../__static/__css/fonts/flexslider-icon.eot');
    src: url('../__static/__css/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
    outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.hide {
    display: none;
}

.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .flexslider .slides {
    display: block;
}

* html .flexslider .slides {
    height: 1%;
}

.no-js .flexslider .slides > li:first-child {
    display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
    background: #ffffff;
    position: relative;
    zoom: 1;
}

.flexslider .slides {
    zoom: 1;
}

.flexslider .slides img {
    height: auto;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.carousel li {
    margin-right: 5px;
}

.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 65px;
    height: 65px;
    margin: -20px 180px 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flex-direction-nav .flex-prev {
    left: -50px;
    background: url("../images/bannerArrow.png");
}

.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
    background: url("../images/bannerArrow.png") -65px 0;
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
}

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}

.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 21px;
    display: inline-block;
    content: '\f004';
}

.flex-pauseplay a:hover {
    opacity: 1;
}

.flex-pauseplay a.flex-play:before {
    content: '\f003';
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    z-index: 2;
}

.flex-control-nav li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-right: 10px;
}

.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #fff;
    border-radius: 20px;
    border:1px solid #565c5f;
    cursor: pointer;
    text-indent: -9999px;
}
.flex-control-paging li a img{
    width: 94px;
    height: 64px;
}

.flex-control-paging li a:hover {
    background: #e0e0e0;
}

.flex-control-paging li a.flex-active {
    background: #ff0037;
    border-color: #fff;
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}
/*走马灯*/
dd#abgne_marquee {
    position: relative;
    overflow: hidden;	/* 超出範圍的部份要隱藏 */
    width: 320px;
    height: 200px;
    border: 1px solid #ccc;
}
dd#abgne_marquee ul, dd#abgne_marquee li {
    margin: 0;
    padding: 0;
    list-style: none;
}
dd#abgne_marquee ul {
    position: absolute;
    left: 30px;
}
dd#abgne_marquee ul li a {
    display: block;
    overflow: hidden;
    font-size:12px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
}
dd#abgne_marquee div.marquee_btn {
    position: absolute;
    cursor: pointer;
}
dd#abgne_marquee div#marquee_next_btn {
    left: 5px;
}
dd#abgne_marquee div#marquee_prev_btn {
    right: 5px;
}
/*旋转木马*/
.poster-main {
    position: relative;
    width: 1000px;
    height: 335px
}

.poster-main a, .poster-main img {
    display: block;
}

.poster-main .poster-list {
    width: 1000px;
    height: 335px
}

.poster-main .poster-list .poster-item {
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    border: 5px solid #fff;

}

.poster-main .poster-btn {
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0px;
    z-index: 10;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    cursor: pointer;
}

.poster-main .poster-prev-btn {
    left: -165px;
    background: url("../images/btn_l.png") no-repeat center center;

}

.poster-main .poster-next-btn {
    right: -185px;
    background: url("../images/btn_r.png") no-repeat center center;
}
/*滚动插件*/
.marquee{
    margin: 0 auto;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.marquee ul{
    width: 10000px;
}
.marquee ul li{
    float: left;
    width: 1150px;
    text-align: center;
}
.marquee ul li.w941{
    width: 941px;
}
.marquee ul li a{

}
.marquee ul li a:hover{
    color: red;
}
/*公共样式开始*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, blockquote, pre, form, input, textarea, fieldset, table, th, td {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body, button, input, select, textarea {
    font: 12px/1.6 微软雅黑, Tahoma, Verdana, Arial, "\5b8b\4f53";
}

body {
    background: #d3dbdb;
    color: #242424;
    min-width: 1000px;
}

ul, ol {
    list-style: none;
}

img {
    border: 0;
/*     vertical-align: top; */
}

:focus {
    outline: 0;
}

.fl{
    float: left;
    *display: inline;
}

.fr{
    float: right;
    *display: inline;
}

.cb {
    clear: both;
}

.tc{
    text-align: center;
}
.clear {
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden;
}

.txt_div:after,.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.txt_div,.clearfix {
/*     clear: both; */
    zoom: 1;
}
.w100{
    width: 100%;
}
.vm {
    vertical-align: middle;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h6 {
    -webkit-transform: scale(0.8);
    font-size:10px;
    font-family: Tahoma;
    color: #910120;
}
.fb {
    font-weight: bold;
}

.fn {
    font-weight: normal;
}

.black {
    color: #000;
}

.red {
    color: #ff0036;
}
.lGray{
    color: #9d9d9d;
}
.mGray {
    color: #656565;
}
.gray {
    color: #8d8d8d;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.tu {
    text-decoration: underline;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}
.f24 {
    font-size: 24px;
}
.f26 {
    font-size: 26px;
}
a {
    color: #27232f;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a *{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pr{
    position: relative
}
a:hover {
    color: #5c5a60;
}

.menu a {
    color: #666;
}

.menu a:hover {
    color: #20a135;
}

.other a {
    color: #666;
    padding: 0 6px;
}

.other a:hover {
    color: #20a135;
}

.bc,.E02-section {
    margin: 0 auto;
}

.aBlock {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.E02-button,.E02-button4{
    background: #8a0b26;
    border: none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 200%;
    transition: all 0.25s ease;
}
.E02-button.commonButton1red{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    padding-top: 10px;
}
.E02-button.commonButton1red .promoBox{
    width: 100%;
    height: 24px;
    overflow: hidden;
}
/*.E02-button.commonButton1red .promoBox .f16{
    color: #ffee7d;
}
.E02-button.commonButton1red .promoBox span,.E02-button.commonButton1red .promoBox b{
    animation: promoLogin 4s ease alternate infinite;
}
@keyframes promoLogin {
    35%{
        transform: translate3d(0px,0px,0px);
    }
    75% {
        transform: translate3d(0px,-24px,0px);
    }
    100%{
        transform: translate3d(0px,-24px,0px);
    }
}*/
.E02-button.commonButton1red .ico{
    width: 24px;
    height: 22px;
    display: block;
    margin: 0 auto;
    background: url("../images/inx-noLogin.png") no-repeat left center;
}
.E02-button.commonButton1red .ico2{
    background-position-x: center;
}
.E02-button.commonButton1red .ico3{
    background-position-x: right;
}
.E02-button2{
    background: #fff;
    border: 1px solid #b2b2b2;
    color: #656565;
    font-size: 14px;
}
.loginActive{
    height: 50px;
    background: url("../images/close.png") no-repeat #151515 center 5px;
    border-radius: 10px 10px 0 0;
    padding-top: 22px;
    margin-top: 35px;
}
.E02-button3,.E02-button4{
    background: #fff;
    color: #fff;
    position: relative;
    transition: none;
}
.E02-button3 *,.E02-button4 *{
    transition: none;
}
.E02-button3 .font,.E02-button4 .font{
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
}
.E02-button3 .bg,.E02-button4 .bg{
    position: absolute;
    background: #ff0036;
    width: 0%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    border-radius: 30px;
}
/*.E02-button4{
    background: none;
    color: #656565;
    overflow: hidden;
    width: 104px;
    height: 34px;
    border: 3px solid #00a7ea;
    border-radius: 25px;
}
.E02-button4 .font{
    display: block;
    width: 98px;
    height: 28px;
    background: #fff;
    color: #00a7ea;
    line-height: 28px;
}
.E02-button4 .bg{
    background: #00a7ea;
    width: 100%;
    height: 100%;
    top: 0px;
    color: #fff;
    border-radius: 0;
    line-height: 34px;
    border-radius: 25px;
}*/
.E02-button4{
    background: none;
    color: #656565;
    overflow: hidden;
    width: 104px;
    height: 34px;
}
.E02-button4 .font{
    display: block;
    width: 98px;
    height: 28px;
    border: 3px solid #00a7ea;
    background: #fff;
    z-index: 1;
    color: #00a7ea;
    position: absolute;
    border-radius: 25px;
    line-height: 28px;
}
.E02-button4 .bgBox{
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 0;
    line-height: 34px;
    border-radius: 25px;
    overflow: hidden;
}
.E02-button4 .bgBox .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: #00a7ea;
    z-index: 2;
    border-radius: 0;
}
.E02-button4.ico{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.E02-button4.ico .font{
    width: 44px;
    height: 44px;
    border-radius: 5px;
}
.E02-button4.ico .bgBox{
    display: block;
    overflow: hidden;
}
.E02-button4.ico .font .optionIco,.E02-button4.ico .bgBox .optionIcoHover{
    width: 22px;
    height: 22px;
    margin: 14px auto 0 auto;
    background:url("../images/user-boxIco.png");
    display: block;
}
.E02-button4.ico .font .optionIco{
    margin-top: 11px;
    background-position-y: -22px;
}

.E02-button4.ico.ico1 .font .optionIco {
    background-position: 0px 22px;
}
.E02-button4.ico.ico2 .bgBox .optionIcoHover{
    background-position: 22px 0;
}
.E02-button4.ico.ico2 .font .optionIco{
    background-position: 22px 22px;
}
.E02-button4.ico.ico3 .bgBox .optionIcoHover{
    background-position: 44px 0px;
}
.E02-button4.ico.ico3 .font .optionIco{
    background-position: 44px 22px;
}
.E02-button4.ico.ico4 .bgBox .optionIcoHover{
    background-position: 66px 0px;
}
.E02-button4.ico.ico4 .font .optionIco{
    background-position: 66px 22px;
}
.E02-button4.ico.ico5 .bgBox .optionIcoHover{
    background-position: 88px 0px;
}
.E02-button4.ico.ico5 .font .optionIco{
    background-position: 88px 22px;
}
.E02-none {
    display: none !important;
}

.E02-button:hover {
    background-color: #730d23;
    color: #fff;
}
.E02-button2:hover{
    background: #fff;
    color: #ff0036;
    border: 1px solid #fff;
}
.E02-button3:hover{
    background: #fff;
}
.E02-section {
    width: 1000px;
}
.E02-w100{
    width: 100%;
}
/*头部样式开始*/
.E02-header{
    width: 100%;
    position: fixed;
    z-index: 18;
    font-size: 12px;
}
.E02-header .top{
    width: 100%;
    background: #000;
}
.E02-header .notic{
    width: 100%;
    height: 30px;
    background: #000;
    line-height: 30px;
    color: #bababa;
}
.E02-header .notic .fl{
 /*   width:370px;*/
 	width:558px;
    height:31px;
    line-height: 31px;

}

.E02-header .notic em{
	float:left;
	display:block;
	width:60px;
	padding-left:20px;
	background: url("../images/inx-notic.jpg") no-repeat left center;
	height:31px;
	line-height:31px;
	text-align:left;
	color:#ccc;
	font-style:normal;}
.E02-header .notic #txtSliBox{
	float:right;
/*	width:290px; */
	width: 460px;
	 position:relative;
	  white-space:nowrap;
	   overflow:hidden;
	    height:31px;
	}
.E02-header .notic #txtSliBox #noticeList span{ margin:0px 30px;
cursor:pointer;
line-height:31px;}
.E02-header .notic .fl .ico{
    width: 86px;
    background: url("../images/inx-notic.jpg") no-repeat left center;
    text-indent: 1em;
}
.E02-header .notic .fr {
    width: 441px;
    line-height: 30px;
    background: url("../images/inx-coustermService.jpg?v1") no-repeat;
    color: #d3dbdb;
	position:relative;
}
#E02-inx .notic #ticker-1 dt, #E02-inx .notic #ticker-1 dd {
    display: block;
    cursor: pointer;
    margin: 0 10px;
	float:left;
	    height: 31px;
		line-height:31px;
}

#E02-inx .notic #ticker-1 dt {
    width:580px;
	height:31px;

}
.E02-header .notic .fl a{
    color: #d3dbdb;
}
.E02-header .notic .fl a:hover{
    color: #fff;
    text-decoration: underline;
}

.E02-header .notic .fr span{
    margin-left: 64px;
}
.E02-header .notic .fr a{
    color: #d3dbdb;
    margin-left: 44px;
}
.E02-header .notic .fr a.customer{
    margin-left: 60px;
}
.E02-header .notic .fr a.backTold{
	right:0px;
	top:0px;
	position:absolute;
	display:block;
	width:80px;
	height:31px;
	 background: url(../images/backOld.png) 0px 0px no-repeat;}
.E02-header .notic .fr a.backToa{
	right: 0px;
    top: 0px;
    position: absolute;
    display: block;
    width: 72px;
    height: 31px;
    background-color: black;
    cursor: default;
}
.E02-header .notic .fr a.backTold:hover{
	background: url(../images/backOld.png) 0px -31px no-repeat;
	}
.E02-header .notic .fr a:hover{
    color: #fff;
    text-decoration: underline;
}
.E02-header .bottom{
    height: 94px;
    width: 100%;
    background: url("../images/inx-nav.jpg") repeat-x;
}
.E02-header .bottom .E02-section{
    position: relative;
}
.E02-header .bottom .logo{
    margin: 3px 20px 0 0;
}
.E02-header .bottom .navBar{
    width: 560px;
    position: relative;
    height: 94px;
    z-index: 13;
    margin-left: 20px;
}
.E02-header .bottom .navBar .navBarbtnBox{
    position: absolute;
    z-index: 2;
}
.bottomMenuBg{
    position: fixed;
    height: 250px;
    width: 100%;
    top: 124px;
    left: 0;
    z-index: 10;
    background: url("../images/menuBg.png") repeat-x;
}

.bottomMenuBg.bg{
    top: 124px;
    height: 220px;
    z-index: 11;
    background: none;
    overflow: hidden;
}
.bottomMenuBg.bg .E02-section{
    position: relative;
}
.bottomMenuBg.bg .E02-section .redLine{
    width: 236px;
    height: 222px;
    position: absolute;
    background: url("../images/redLine.png");
    animation: redLine 8s ease infinite;
}
@keyframes redLine {
    25%{
        opacity: 0.5;
    }
    50% {
        transform: translate3d(80px, 0px, 50px);
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
}
@keyframes redLine2 {
    25%{
        opacity: 0.5;
    }
    50% {
        transform: translate3d(-60px, 0px, 40px);
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
}
.bottomMenuBg.bg .E02-section .blueLine{
    width: 210px;
    height: 207px;
    position: absolute;
    background: url("../images/blueLine.png");
    animation: redLine 8s ease infinite;
}
.bottomMenuBg.bg .E02-section .blueLine.one{
    left: -10px;
    animation: redLine2 8s ease infinite;
}
.bottomMenuBg.bg .E02-section .redLine.two{
    top: -20px;
    left: 96px;
    animation: redLine2 8s ease infinite;
}
.bottomMenuBg.bg .E02-section .blueLine.two{
    top: -15px;
    left: 67px;
}
.bottomMenuBg.bg .E02-section .redLine.three{
    top: -20px;
    left: 660px;
    animation: redLine 8s ease infinite;
}
.bottomMenuBg.bg .E02-section .blueLine.three{
    top: -15px;
    left: 620px;
    animation: redLine 8s ease infinite;
}
.bottomMenuBg.bg .E02-section .redLine.four{
    top: -20px;
    left: 760px;
    animation: redLine2 8s ease infinite;
}
.bottomMenuBg.bg .E02-section .blueLine.four{
    top: 15px;
    left: 660px;
    animation: redLine2 8s ease infinite;
}
.bottomMenuBg.bg .E02-section .blueLine.five{
    top: 20px;
    left: 660px;
    animation: redLine 8s ease infinite;
}
.bottomMenuBg.bg .E02-section .blueLine.six{
    top: 50px;
    left: 680px;
    animation: redLine 8s ease infinite;
}
.bottomMenuBg.bg .E02-section .blueLine.seven{
    top: -45px;
    left: 760px;
    animation: redLine 8s ease infinite;
}
.bottomMenuBg.bg .E02-section .blueLine.seven{
    top: -30px;
    left: 800px;
    animation: redLine 8s ease infinite;
}
.bottomMenuBg1{
    background:url("../images/inx-navSlideBg1.jpg") no-repeat #2d2c3a ;
}
.bottomMenuBg2{
    background:url("../images/inx-navSlideBg.jpg") no-repeat #2d2c3a;
}
.bottomMenuBg3{
    background:url("../images/inx-navSlideBg3.jpg") no-repeat #005db5;
}
.bottomMenuBg4{
    background:url("../images/inx-navSlideBg4.jpg") no-repeat #ffe048;
}
.bottomMenuBg5{
    background:url("../images/inx-navSlideBg5.jpg") no-repeat #011f39;
}
.navBar a {
    display: block;
    width: 68px;
    height: 70px;
    text-align: center;
    transition: none;
}
.E02-header .bottom .navBar .liBox .menuIco{
     width: 24px;
     height: 18px;
     background-image: url("../images/inx-menuIco2.png");
     margin: 0 auto 10px auto;
 }
.E02-header .bottom .navBar .liBox .menuIco.ico2{
    background-position: -24px 0;
}
.E02-header .bottom .navBar .liBox .menuIco.ico3{
    background-position: -48px 0;
}
.E02-header .bottom .navBar .liBox .menuIco.ico4{
    background-position: -72px 0;
}
.E02-header .bottom .navBar .liBox .menuIco.ico5{
    background-position: -96px 0;
}
.E02-header .bottom .navBar .liBox .menuIco.ico6{
    background-position: -120px 0;
}
.E02-header .bottom .navBar .liBox .menuIco.ico7{
    background-position: -144px 0;
}
.E02-header .bottom .navBar .liBox .menuIco.ico8{
    background-position: -168px 0;
}
.E02-header .bottom .navBar .liBox .menuIco.ico9{
    background-position: -192px 0;
}
.E02-header .bottom .navBar .liBox .menuIco.ico10{
    background-position: -216px 0;
}
.E02-header .bottom .navBar .liBox{
    position: relative;
    float: left;
    padding-top: 23px;
    height: 72px;
}
.E02-header .bottom .navBar .liBox:hover .menuIco{
    background-image: url("../images/inx-menuIco.png");
}
.E02-header .bottom .navBar .liBox.active .menuIco{
    background-image: url("../images/inx-menuIco.png");
}
.E02-header .bottom .navBar .bottomMenu{
    position: absolute;
    top: 94px;
    left: 0;
    z-index: 101;
    width: 1000px;
    height: 350px;
    margin-left: -350px;
}
.E02-header .bottom .gameMenu .bottomMenu{
left: 180px;}
.E02-header .bottom .personMenu .bottomMenu{
left: 170px;}
.E02-header .bottom .navBar .bottomMenu .fl{
    width: 714px;
}
.bottomMenu .fl a{
    width: 220px;
    height: 150px;
    float: left;
    margin: 14px 20px 0 0;
    background: #fff;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}
.bottomMenu .fl a .img1,.bottomMenu .fl a .img2{
    position: absolute;

}
.bottomMenu .fl a .img1{
    left: -20px;
    top: 30px;
}
.bottomMenu .fl a:hover .img1{
    animation: minScale 4s ease 1;
}
.bottomMenu .fl a:hover .img1.bg1{
    animation: minScale2 4s ease 1;
}

.bottomMenu .fl a .img1.bg2{
    left: 20px;
    top: 30px;
}
.bottomMenu .fl a:hover .bg2{
    animation: minRotate 4s ease 1;
}
.bottomMenu .fl a .img1.bg3{
    left: -150px;
    top: 15px;
}
.bottomMenu .fl a:hover .bg3{
    animation: minScale3 4s ease 1;
}
.bottomMenu .fl a .img1.bg4{
    left: -210px;
    top: -10px;
}
.bottomMenu .fl a:hover .bg4{
    animation: minRotate 4s ease 1;
}
.bottomMenu .fl a .img1.bg5{
    left: -120px;
    top: 30px;
}
.bottomMenu .fl a .img1.bg6{
    left: -140px;
    top: 30px;
}
.bottomMenu .fl a:hover .bg6{
    animation: minScale4 4s ease 1;
}
.bottomMenu .fl a .img2{
    z-index: 3;
    top: 0;
    left: 0;
}
.bottomMenu a:hover{
    box-shadow: 0px 3px 6px #000;
}
.bottomMenu .fr{
    margin-top: 14px;
}
.bottomMenu .fr a{
    width: 245px;
    height: 320px;
}
.personMenu .bottomMenu{
    left: 125px;
}
.personMenu .bottomMenu a{
    display: block;
    width: 172px;
    height: 97px;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    background: none;
    margin: 5px 5px 0 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.E02-header .bottom .navBar .bottomMenu .fl.ad{
    width: 172px;
}
.personMenu .bottomMenu .ad a{
    width: 172px;
    height: 195px;
	}
.personMenu .bottomMenu a:hover{
    box-shadow: 0 5px 8px #000;
    border-radius: 7px;
}
.personMenu .bottomMenu a .image{
    width: 168px;
    height: 93px;
    position: absolute;
    border-radius: 7px;
    z-index: 2;
    top: 2px;
    left: 2px;
    background: url("../images/person1.jpg");
}
.personMenu .bottomMenu a .display{
    width: 172px;
    height: 97px;
    top: 0px;
    left: 0px;
    display: block;
    position: absolute;
    z-index: 1;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.personMenu .bottomMenu a:hover .display{
    /* 底色 */
    background-color: #ff0037;
    /* chrome 2+, safari 4+; multiple color stops */
    background-image:-webkit-gradient(linear, left top, right bottom,color-stop(0, #ff0037), color-stop(1, #00a7ea));
    /* chrome 10+, safari 5.1+ */
    background-image: -webkit-linear-gradient(#ff0037,#00a7ea);
    /* firefox; multiple color stops */
    background-image: -moz-linear-gradient(top,#ff0037,#00a7ea);
    /* ie 6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0037', endColorstr='#00a7ea');
    /* ie8 + */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0037', endColorstr='#00a7ea')";
    /* ie10 */
    background-image: -ms-linear-gradient(#ff0037,#00a7ea);
    /* opera 11.1 */
    background-image: -o-linear-gradient(#ff0037,#00a7ea);
    /* 标准写法 */
    background-image: linear-gradient(#ff0037,#00a7ea);
}
.personMenu .bottomMenu a.ag2 .image{
    background: url("../images/person2.jpg");
}
.personMenu .bottomMenu a.ag3 .image{
    background: url("../images/person8.jpg");
}
.personMenu .bottomMenu a.bbin .image{
    background: url("../images/person3.jpg");
}
.personMenu .bottomMenu a.hg .image{
    background: url("../images/person5.jpg");
}
.personMenu .bottomMenu a.mg .image{
    background: url("../images/person6.jpg");
}
.personMenu .bottomMenu a.pt .image{
    background: url("../images/person7.jpg");
}
.personMenu .bottomMenu a.opus .image{
    background: url("../images/person4.jpg");
}
.gameMenu .bottomMenu{
    left: 225px;
}
.E02-header .bottom .navBar .gameMenu .bottomMenu .fl {
    width: 500px;
    margin-top: 20px;
}
.gameMenu .bottomMenu{
    left: -600px;
}
.gameMenu .bottomMenu .fl a{
    width: 160px;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    text-align: left;
    background: none;
    color: #fff;
    margin:0 0 0 70px;

}
.gameMenu .bottomMenu .fl a:hover{

    text-indent: 0.8em;
    background: url("../images/active.png") no-repeat left center;
    box-shadow: none;
}
span.hot,span.new{
    background: #fb0237;
    margin-left: 15px;
    padding: 0.5px 8px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
}
span.new{
    background: #00b6ee;
}
.gameMenu .bottomMenu .fr{
    width: 312px;
    height: 195px;
    float: left;
    position: relative;
}
.gameMenu .bottomMenu .fr a{
    width: 312px;
    height: 195px;
    border-radius: 10px;
}
@keyframes opacityBg {
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}
.gameMenu .bottomMenu .fr img{
    position: absolute;
    top: 0;
    left: 0;
}
.gameMenu .bottomMenu .fr img.z1{
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    z-index: 1;
    animation: opacityBg 4s ease infinite;
}
.gameMenu .bottomMenu .fr img.z2{
    z-index: 2;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu .sportBox{
    width: 780px;
    float: left;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu .sportAd{
    float: left;
    width: 172px;
    height: 195px;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu a.green{
    background: #006521;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu a.orange{
    background: #d95e03;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu a.blue{
    background: #1034ac;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu a.red{
    background: #750808;
}
.E02-header .bottom .navBar .discountMenu .bottomMenu a,.E02-header .bottom .navBar .brandMenu .bottomMenu a{
    width: 100%;
    height: 320px;
    background: #fff;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.E02-header .bottom .navBar .sportMenu .bottomMenu a{
    width: 380px;
    height: 94px;
    border-radius: 7px;
    overflow: hidden;
    opacity: 1;
    float: left;
    margin: 10px 10px 0 0;
    position: relative;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu a .fl{
    z-index: 2;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu a .text{
    width: 130px;
    margin: 18px 30px 0 20px ;
    text-align: left;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu a .text h2,.E02-header .bottom .navBar .sportMenu .bottomMenu a .text h5{
    color: #fff;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu a .team{
    width: 60px;
    text-align: center;
    margin-top: 13px;
    color: #fff;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu a .vs{
    width: 33px;
    margin: 25px 10px 0 10px;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu a .sportBg{
    position: absolute;
    top: -130px;
    left: -140px;
    z-index: 1;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.E02-header .bottom .navBar .sportMenu .bottomMenu a:hover .sportBg{
    transform: rotate(-20deg);
}
.E02-header .bottom .navBar .discountMenu .bottomMenu{
    left: -125px;
    padding-top: 15px;
    height: 335px;
}
.E02-header .bottom .navBar .brandMenu .bottomMenu{
    left: -210px;
    width: 1000px;
    height: 350px;
}
.navBar a.menu:hover{
    background: url("../images/menu-arrow.png") no-repeat center 57px;
}
.E02-header .bottom .navBar .bg{
    width: 68px;
    height: 94px;
    background: #6f0d22;
    position: absolute;
    top: 0px;
    z-index: 1;
}
.navBar a:hover h4 {

}
.navBar a:hover h6 {
    color: #fff;
}
.navBar a h4{
    height: 26px;
    line-height: 26px;
    color: #fff;
    font-size: 14px;
}
.navBar a h6{
}
.E02-header .bottom .btnGrp{
    width: 280px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 18px;
}
.E02-header .bottom .btnGrp .btnBox{
    width: 86px;
    margin-right: 10px;
    float: left;
    text-align: center;
}
.E02-header .bottom .btnGrp .btnBox:hover h6{
    color: #fff;
}
.E02-header .bottom .btnGrp .btnBox.small{
    width: 54px;
    position: relative;
}
.E02-header .bottom .btnGrp .btnBox.small .login{
    position: absolute;
    top: 76px;
    z-index: 18;
    width: 209px;
    *width: 213px;
    height: 220px;
    *height: 186px;
    background: #151515;
    padding: 0 34px;
    *padding: 0 32px;
    left: -223px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 5px 8px #000000;
}
.E02-header .bottom .btnGrp .btnBox.small .login table{
    width: 100%;
    margin-top: 10px;
}
.E02-header .bottom .btnGrp .btnBox.small .login table td{
    padding-bottom: 5px;
}
.E02-header .bottom .btnGrp .btnBox.small .login input{
    width: 100%;
    height: 32px;
    line-height: 32px;
    border: none;
    border-radius: 5px;
    text-indent: 1em;
    *text-indent: 0em;
}
.userTitle{
    width: 27px;
    height: 32px;
    *height: 37px;
    line-height: 32px;
    *line-height: 37px;
    text-align: center;
    float: left;
    color: #555555;
    background: #969696;
    font-size: 14px;
    display: block;
}
.E02-header .bottom .btnGrp .btnBox.small .login .nameBox input{
    float: left;
    width: 174px;
    *width: 170px;
    margin-left: 4px;
}
.E02-header .bottom .btnGrp .btnBox.small .login .validBox input{
    width: 128px;
    float: left;
}
.E02-header .bottom .btnGrp .btnBox.small .login .validBox img{
    float: left;
    margin-left: 4px;
    width: 73px;
    height: 32px;
}
.E02-header .bottom .btnGrp .btnBox.small .login .btnBox{
    width: 100%;
}
.E02-header .bottom .btnGrp .btnBox.small .login .btnBox .E02-button{
    margin-top: 10px;
    width: 130px;
    height: 32px;
    line-height: 32px;
    float: left;
    border-radius: 5px;
}
.E02-header .bottom .btnGrp .btnBox.small .login .btnBox .E02-button.blue{
    width: 71px;
    margin-left: 4px;
    background: #009cdd;
}
.E02-header .bottom .btnGrp .btnBox.small .login .btnBox .E02-button.blue:hover{
    opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
.E02-header .bottom .btnGrp .btnBox.small .login .aBox{
    text-align: right;
}
.E02-header .bottom .btnGrp .btnBox.small .login .aBox a{
    color: #ff003a;
    text-decoration: underline;
}
.E02-header .bottom .btnGrp .btnBox.small .login .aBox a:hover{
    opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
.E02-header .bottom .logined{
    width: 400px;
    position: absolute;
    right: 0;
    top: 5px;
}
.E02-header .bottom .logined .loginedBox{
    padding-left: 110px;
    width: 390px;
    color: #fff;
}
.E02-header .bottom .logined .loginedBox .left{
    width: 100px;
    padding-top: 12px;
}
.E02-header .bottom .logined .loginedBox .left .top{
    line-height: 20px;
    background: none;
}
.E02-header .bottom .logined .loginedBox .left .buttonIco{
    float: left;
    margin: 2px 10px 0 0;
}
.E02-header .bottom .logined .loginedBox .left .bottom{
    display: block;
    height: 20px;
    background: none;
}
.E02-header .bottom .logined .loginedBox .buttonIco{
    width: 17px;
    height: 16px;
    display: block;
    background: url("../images/inx-userCenter.png");
}
.E02-header .bottom .logined .loginedBox .buttonIco.ico2{
    background-position: 85px 0;

}
.E02-header .bottom .logined .loginedBox .buttonIco.ico3{
     background-position: 34px 0;
}
.E02-header .bottom .logined .loginedBox .buttonIco.ico4{
    background-position: 68px 0;
}
.E02-header .bottom .logined .loginedBox .buttonIco.ico5{
    background-position: 17px 0;
}
.E02-header .bottom .logined .loginedBox .buttonIco.ico6{
    background-position: 51px 0;
}
.E02-header .bottom .logined .loginedBox .num{
    padding: 0 4px;
    border-radius: 20px;
    line-height: 12px;
    background: #fff;
    color: #ff0037;
}
.E02-header .bottom .logined .loginedBox .middle{
    width: 188px;
    height: 84px;
    border-radius: 7px;
    background: #b80329;
}
.E02-header .bottom .logined .loginedBox a{
    color: #fff;
}
.E02-header .bottom .logined .left a:hover{
    text-decoration: underline;
}
.E02-header .bottom .logined .loginedBox .centerBtn{
    width: 41px;
    height: 48px;
    text-align: center;
    margin: 10px 5px 0 5px;
    border: 1px solid #b80329;
    border-radius: 5px;
    padding: 7px 0;
    display: block;
}
.E02-header .bottom .logined .loginedBox .centerBtn.big{
    width: 52px;
    margin-left: 15px;
}
.E02-header .bottom .logined .loginedBox .centerBtn:hover{
    border-color: #d4022f;
}
.E02-header .bottom .logined .loginedBox .middle .centerBtn{
    float: left;
}
.E02-header .bottom .logined .loginedBox .right{
    width: 63px;
    height: 84px;
    border-radius: 7px;
    background: #b80329;
    margin-left: 5px;
}
.E02-header .bottom .logined .loginedBox .right .centerBtn.big{
    margin-left: 10px;
    width: 42px;
}
.E02-header .bottom .logined .loginedBox .specialR{
width: 73px;}
.E02-header .bottom .logined .loginedBox .specialR a{
width: 52px !important;}
.E02-header .bottom .logined .loginedBox .buttonIco{
    margin: 0 auto 10px auto;
}
.E02-header .bottom .logined .loginedBox .E02-button{
    float: left;
    background: none;
    border: 2px solid #252525;
    height: 28px;
    line-height: 28px;
    width: 74px;
    border-radius: 20px;
    margin-bottom: 5px;
    color: #252525;
}
.E02-header .bottom .logined .loginedBox .E02-button .buttonIco{
    display: block;
    width: 20px;
    height: 20px;
    background: url("../images/inx-loginedIco.png");
    float: left;
    margin: 4px 0 0 4px;
}
.E02-header .bottom .logined .loginedBox .E02-button:hover .buttonIco{
    background-position: 0 -20px;
}
.E02-header .bottom .logined .loginedBox .E02-button .buttonIco.ico2{
     background-position: -20px 0;
 }
.E02-header .bottom .logined .loginedBox .E02-button:hover .buttonIco.ico2{
    background-position: -20px -20px;
}
.E02-header .bottom .logined .loginedBox .E02-button .buttonIco.ico3{
    background-position: -40px 0;
}
.E02-header .bottom .logined .loginedBox .E02-button:hover .buttonIco.ico3{
    background-position: -40px -20px;
}
.E02-header .bottom .logined .loginedBox .E02-button .buttonIco.ico4{
    background-position: -60px 0;
}
.E02-header .bottom .logined .loginedBox .E02-button:hover .buttonIco.ico4{
    background-position: -60px -20px;
}
.E02-header .bottom .logined .loginedBox .E02-button .text{
    float: left;
    margin-left: 10px;
}
.E02-header .bottom .logined .loginedBox .E02-button .num{
    padding: 2px 4px;
    border-radius: 20px;
    float: right;
    border: 2px solid #b90028;
    margin-top: 4px;
    line-height: 12px;
    margin-right: -7px;
    background: #fff;
    color: #ff0037;
}
.E02-header .bottom .logined .loginedBox .E02-button.big{
    width: 125px;
    border-color:#b90028;
    margin-right: 10px;
    color: #fff;
}
.E02-header .bottom .logined .loginedBox .E02-button:hover{
    border-color: #fff;
    color: #fff;
}
.E02-header .bottom .logined .E02-button.exit{
    width: 73px;
    height: 70px;
    border-radius: 15px;
    background: #cc002c;
}
.E02-header .bottom .logined .E02-button.exit .buttonIco.ico5{
    width: 20px;
    height: 20px;
    display: block;
    margin: 15px auto 0 auto;
    background: url("../images/inx-loginedIco.png") no-repeat -80px 0;
}
/*脚部样式开始*/

/*公共动画制作*/
@keyframes changeScale {
    25% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    50% {
        transform: scale(0.7);
        opacity: 1;
    }
    75% {
        transform: scale(1.2);
        opacity: 0.6;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes minScale {
    0%{
        transform: translate(0, 0);

    }
    50%{
        transform: translate(70px, 0);
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -ms-filter: blur(25px);
        filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='25');
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes minScale2 {
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(-70px, -20px);
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -ms-filter: blur(25px);
        filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='25');
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes minScale3 {
    0%{
        transform: scale(0, 0);
    }
    25% {
        transform: scale(1.05);
        opacity: 0.7;
    }
    50% {
        transform: scale(0.95);
        opacity: 1;
    }
    50% {
        transform: scale(1.02);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes minScale4 {
    0%{
        transform: skew(20deg,20deg);
    }
    100% {
        transform: skew(0deg,0deg);
        opacity: 1;
    }
}
@keyframes minRotate{
    0%{
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}
/*公共弹窗样式修改*/


/*==============pop window=============*/
/*========= POP MESSAGE =========*/
.pop-con {
    border: 1px solid #483b2f;
    margin: 50px auto;
    background-color: #fff;
    border: none;
    position: fixed;
    z-index: 50;
    box-shadow: 0px 5px 35px;
}

.pop-con1 {
}

.pop-con-top {
    width: 100%;
    height: 50px;
    line-height: 60px;
    text-align: left;
    color: #2e273e;
    font-size: 24px;
    margin: 0 auto;
}

.pop-con-top .close {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) no-repeat;
    top: 6px;
    right: 6px;
}

.pop-con-top .close:hover {
    transition: all 0.25s ease;
    transform: rotate(360deg);
}

.pop-con-top .red {
    color: #a0a0a0;
}

.pop-con-top .timecount {
    font-size: 14px;
    position: absolute;
    right: 40px;
    top: -31px;
    color: #9a7648;
}

.pop-con-mid {
    height: 181px;
    color: #e0ab63;
    font-size: 18px;
    text-align: center;
}

.pop-con-mid .si-con {
    color: #333333;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.pop-con-mid .bttn {
    display: block;
    background: #2e273e;
    border-radius: 5px;
    color: #fff;
    width: 154px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    font-size: 18px;
    letter-space: 5px;
    margin: 0 auto;
}

.pop-con-mid .bttn:hover {
    background: #474254;
    color: #f8e1ae;
}

.pop-con-mid .bttn2 {
    display: block;
    background: #ff7206;
    border-radius: 5px;
    color: #fff;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    letter-space: 5px;
    margin: 68px auto 0 auto;
}

.pop-con-mid .bttn2:hover {
    background: #ff9340;
}

.pop-con-mid .login_forpwd {
    color: #ff0037;
    text-align: center;
    display: block;
    position: absolute;
    right: 45px;
    bottom: 27px;
    font-size: 14px;
    border: 1px solid #ff0037;
    padding: 3px 8px;
    border-radius: 3px;
}

.pop-con-mid .login_forpwd:hover {
    opacity: 0.7
}

.popmask {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    z-index: 20;
}

.loadingpopimg {
    position: fixed;
    z-index: 100;
}

/*jalert start*/
#jalert_container,.pop-con ,.E02-applyWin {
    font-size: 14px;
    min-width: 360px;
    *width: 360px;
    max-width: 600px; /*border:2px solid #ba6f0a;*/
    background: #fff;
    color: #999 !important;
    border-radius: 8px;
    z-index: 21;
    overflow: hidden;
}

#jalert_title,.pop-con-top,.E02-applyWin .displayTitle{
    font-size: 18px;
    line-height: 45px;
    font-weight: normal; /*color:#ba6f0a;*/
    color: #fff;
    cursor: default;
    margin: 0; /*border-bottom:2px solid #a0a0a0;*/
    background: #00a7ea;
    text-indent: 1em;
}

#jalert_content,.pop-con-mid,.E02-applyWin .continer {
    margin: 0;
    border-top: 0
}

#jalert_message,.si-con{
    margin: 8px 0;
    font-size: 14px;
    color: #333;
    padding: 20px 30px;
    text-align: center; 
}
#jalert_message .E02-button{
    width: 70px;
    font-size: 12px;
    display: inline-block;
}
.E02-applyWin .continer p {
    margin: 8px 0;
    font-size: 14px;
    color: #333;
    padding: 0px 5px;
    text-align: left;
}
#jalert_panel {
    text-align: center;
    padding: 20px 0 30px 0;
}

#jalert_panel input {
    min-width: 100px;
    text-align: center;
}

#jalert_prompt {
    margin: 5px 0;
    padding: 7px 5px; /*border:2px solid #ba6f0a;*/
    background: #f7f7f7;
    color: #666
}

#jalert_prompt:focus {
    background: #483b2f;
}

#jalert_overlay {
    background: #000 !important;
    opacity: 0.5 !important;
}

#jalert_ok, #jalert_cancel,.pop-con-mid .bttn,.E02-applyWin .E02-button {
    line-height: 48px;
    font-size: 18px;
    display: inline-block;
    *display:block;
}

#jalert_ok, #jalert_cancel,.pop-con-mid .bttn,.E02-applyWin .E02-button {
    text-transform: uppercase;
}

/*#jalert_ok:hover,#jalert_ok:active,#jalert_cancel:hover,#jalert_cancel:active{background-position:0 -39px}*/
#jalert_ok, #jalert_cancel,.pop-con-mid .bttn,.E02-applyWin .E02-button {
    background: #ff0037;
    width: 120px;
    height: 48px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.5s all ease;
    padding: 0 20px;
}

#jalert_ok:hover, #jalert_cancel:hover,.pop-con-mid .bttn:hover,.E02-applyWin .E02-button:hover {
    background: #ca042f;
}

/*#jalert_cancel{border:1px solid #ccc;background:#eee;color:#333}
#jalert_cancel:hover{background-color:#ddd;border:1px solid #bbb}*/
#jalert_prompt {
    width: 270px !important;
}

#jalert_close,.pop-con .pop-con-top .close,.displayTitle .close {
    background: url(../images/close.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    transition: 0.8s all ease;
}
#jalert_close:hover,.pop-con-top .close:hover,.displayTitle .close:hover {
    transform: scale(1.2);
}
.E02-applyWin .btnGrp{
    margin: 15px 5px;
    text-align: center;
}
    /*jalert end*/
/*========= 手机客户端下载 css弹窗部分=========*/
.phone-pop-con {
    width: 656px;
}

.pop-con-mid .phone-con {
    padding-top: 28px;
    padding-left: 79px;
    padding-right: 61px;
    color: #333333;
}

.pop-con-mid .phone-bttn {
    margin-top: 200px;
}

.pop-con-mid .phone-bttn:hover {
    background: #474254;
    color: #f8e1ae;
}

.pop-con-mid .popphone_div {
    border: 1px solid #000;
    height: 113px;
    width: 115px;
    float: left;
    margin-left: 39px;
    position: relative;
}

.pop-con-mid .popphone_div b {
    position: absolute;
    bottom: -30px;
    left: 0px;
    width: 115px;
    text-align: center;
}

.pop-con-mid .agqj_phone {
    background: url("../images/agqj.jpg") no-repeat;
}

.pop-con-mid .aggj_phone {
    background: url("../images/aggj.jpg") no-repeat;
}

.pop-con-mid .pt_phone {
    background: url("../images/pt.jpg") no-repeat;
}

.pop-con-mid-phone {
    height: 100%;
    width: 100%;
}

/*===============visit popwindow================  */
.enter-visit-con {
    margin: 50px auto;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    width: 600px;
    height: 250px;
    border: none;
    box-shadow: 0px 5px 35px;
}

.enter-visit-con .mmdep-form {
    width: 300px;
    margin: 30px auto 0 auto;
}

.enter-visit-con .mmdep-form span {
    float: left;
    font-size: 14px;
    color: #483b2f;
    line-height: 32px;
}

.enter-visit-con .mmdep-form .input4 {
    width: 100px;
    height: 32px;
    border: 1px solid #d1d1d1;
    background: #fff;
    margin-left: 10px;
    line-height: 32px;
    color: #333;
    font-size: 14px;
    float: left;
}

.enter-visit-con .mmdep-form .imgcode {
    float: left;
    margin-left: 10px;
}

.enter-visit-con .top-title {
    width: 100%;
    height: 51px;
    text-align: center;
    color: #2e273e;
    font-size: 14px;
    line-height: 65px;
    margin-bottom: 10px;
}

.enter-visit-con .ev-bttn-con {
    width: 100%;
    margin-top: 30px;
}

.enter-visit-con .ev-bttn-con a {
    float: left;
}

.enter-visit-con .ev-bttn-con .ev-bttn1, .enter-visit-con .ev-bttn-con .ev-bttn2 {
    display: block;
    background: #2e273e;
    border-radius: 5px;
    color: #fff;
    width: 154px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    font-size: 18px;
    letter-space: 5px;
    float: left;
    margin-left: 130px;
}

.enter-visit-con .ev-bttn-con .ev-bttn2 {
    margin-left: 20px;
}

.enter-visit-con .imgcode {
    width: 100px;
    height: 35px;
}

.masktop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    z-index: 11;
    display: none;
}

/* 表单部分 公共样式*/
.txt_div {
/*     clear: both; */
    position: relative;
}

.txt_div input {
    vertical-align: middle
}

.txt_div em.regTips{
	position:absolute;
	display:block;
	width:120px;
	left:80px;
	top:10px;
	font-style:normal;
	color:#888;
}

.txt_div .txt_in {
    height: 37px;
    line-height: 37px;
    width: 200px;
    border: 1px solid #dedede;
    border-radius: 5px;
    float: left;
    text-indent: 0.5em;
    font-size: 14px;
}

#E02-user .txt_div select.txt_in {
    width: 280px;
    height: 32px;
}
.txt_div .txt_in_select {
    height: 37px;
    line-height: 37px;
    width: 200px;
    border: 1px solid #dedede;
    border-radius: 5px;
    float: left;
    padding-left: 10px;
    font-size: 14px;
    position: relative;
}

.txt_div .txt_select {
    border: 0 none;
    height: 37px;
    line-height: 37px;
    opacity: 0;
    outline: medium none;
    position: absolute;
    left: 100px;
    top: 5px;
    width: 200px;
}
.txt_div em {
    float: left;
    margin-left: 5px;
}

.txt_right em {
    background: url("../images/inx-validIco.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 39px;
    width: 39px;
    display: inline-block;
}

.txt_wrong em {
    background: url("../images/inx-validIco.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 39px;
    width: 39px;
    background-position: -39px 0;
}

.txt_gantan {
    background: url("../images/inx-validIco.jpg") repeat scroll -78px -15px rgba(0, 0, 0, 0);
}

.txt_div span.warn_msg {
    display: block;
    float: left;
    line-height: 18px;
    text-indent: 1em;
}
.txt_div span.txt_title {
    margin-right: 5px;
    line-height: 27px;
    font-size: 14px;
    width: 120px;
    text-align: right;
    float: left;
}

.txt_div .btn {
    background-color: #2c0f54;
    color: #fff;
}

.txt_div .btn:hover {
    background-color: #732aef;
}
#loginWin .noticTxt{
    font-size: 14px;
    width: 235px;
    color: #d81616;
    display: none;
}
#firstTime{
    width: 680px;
    height: 540px;
}
#firstTime .displayTitle{
    background: #ff0037;
}
#firstTime .displayTitle .fl{
    padding-top: 0;
}
#firstTime .displayTitle .fl h3{
    line-height: 56px;
}
#firstTime .tex_validBox{
    width: 320px;
    margin: 0 auto;
}
#firstTime .tex_validBox .txt_div{
    margin-bottom: 50px;
}
#firstTime .tex_validBox .txt_div label{
    margin-right: 10px;
    line-height: 32px;
}
#firstTime .tex_validBox .txt_div input{
    width: 177px;
    height: 30px;
    background: #e9e9e9;
    border: 1px solid #d3d3d3;
    margin-right: 10px;
    border-radius: 0;
    line-height: 30px;
}
#firstTime .tex_validBox .img_code{
    width: 64px;
    height: 32px;
}
#firstTime .continer p{
    text-align: center;
}
#firstTime .continer p.notic{
    font-size: 18px;
    margin: 88px 0 22px 0;
}
#firstTime .continer p.notic .red{
    color: #ff0037;
    font-weight: bold;
}
#firstTime .continer .E02-button{
    width: 130px;
    height: 48px;
    line-height: 48px;
    background: #ff0037;
    margin: 0 auto 61px auto;
    *margin: 30px auto 61px auto;
    font-size: 18px;
}
#firstTime .continer .E02-button:hover{
    background:#ca042f;
}
/* header注册表单私有样式 */
.txt_div .register_btn {
    width: 217px;
    height: 57px;
    line-height: 57px;
    background-color: #2c0f54;
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
}

.txt_login_code .img_code {
    width: 64px;
    height: 23px;
    float: left;
    margin: 0px 0px 0px 10px;
}
.txt_wrong em{
    width: 22px;
    height: 22px;
    margin-top: 8px;
    background: url("../images/inx-validIcoMini.png") -22px 0px;
}
/*new year loginWin*/

.E02-displayWin .loginWin h2{
    visibility: hidden;
}
.register_container input{
    color: #666;
}
.register_container {
    color: #8c1219;
}

.register_container .Vletter{
    margin-left: 5px;
    padding: 0 3px;
    height: 16px;
    background: #fff;
    border: 1px solid #bdbdbd;
    color: #585858;
}
.register_container .checkBoxGrp a,.register_container .checkBoxGrp{
    color: #edba21;
}
.register_container .txt_div .register_btn{
    background: #ffc466;
    color: #8e252b;
}
.register_container .txt_div .register_btn:hover{
    opacity: 0.8;
}
.register_container .txt_login_code em{margin-left: 3px;}
.register_container .txt_div span.warn_msg {
    color: #ff0037;
}
/*公共弹窗样式修改*/
.E02-detailWin {
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 99;
    animation: changePersonBottom 0.3s ease 1;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.E02-detailWin .detailWin {
    width: 550px;
    background: #fbfbfb;
    padding-bottom: 20px;
}

.E02-displayWin {
    position: fixed;
    top: 40%;
    left: 40%;
    z-index:19;
    box-shadow: 0px 5px 35px;
    animation: changePersonBottom 0.3s ease 1;
    border-radius: 10px;
    overflow: hidden;
}
.E02-applyWin .controlBtn .E02-button,.E02-washWin .controlBtn .E02-button{
    width: 210px;
    height: 55px;
    line-height: 55px;
    font-size: 25px;
    margin: 20px auto 0 auto;

}
.E02-applyWin .displayTitle,.E02-detailWin .displayTitle, .E02-displayWin .displayTitle,.E02-washWin .displayTitle{
    width: 100%;
    height: 56px;
    background: #00a7ea;
}
.E02-applyWin .detailWin .displayTitle,.E02-washWin .detailWin .displayTitle,.E02-detailWin .detailWin .displayTitle{
    width: 100%;
    height: 45px;
}
.E02-washWin .detailWin .btnGrp .E02-button{
    width: 154px;
    height: 47px;
    line-height: 47px;
    margin: 20px auto 0 auto;
}
.E02-displayWin .displayTitle .fl{
    padding:10px 0 0 26px;
 color: #fff;
}
.E02-displayWin .displayTitle .fl h3{
    line-height: 18px;
}
.E02-displayWin .displayTitle .fl p{
    margin-top: 2px;
    line-height: 12px;
}
.E02-displayWin .displayTitle .close {
    width: 20px;
    height: 20px;
    border: none;
    background: url("../images/close.png");
    float: right;
    transition: all 0.25s ease;
    cursor: pointer;
}
.E02-displayWin .continer{

}
.E02-applyWin  .displayTitle button:hover,.E02-detailWin .displayTitle button:hover, .E02-displayWin .displayTitle button:hover,.E02-washWin  .displayTitle button:hover {
    transform: scale(1.2);
}

.E02-displayWin .loginWin {
    width: 680px;
    background: #fff;
}

.E02-displayWin .loginWin h2, .E02-displayWin .loginWin #E02-header .content #menu .menuBig li, #E02-header .content #menu .menuBig .E02-displayWin .loginWin li {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    color: #2e273e;
}

.E02-displayWin .loginWin h2 {
    margin-bottom: 20px;
}

.E02-displayWin .loginWin .loginCon {
    width: 358px;
    padding-bottom: 20px;
}
.E02-displayWin .loginWin .loginCon form{
    padding: 0 49px;
}
.E02-displayWin .loginWin .right {
    width: 233px;
    padding-left: 10px;
}

.E02-displayWin .loginWin .right .table button {
    width: 204px;
    margin-top: 138px;
}

.E02-displayWin .loginWin .right .table .nameShort {
    width: 37px;
    height: 37px;
    border: 1px solid #dedede;
    text-align: center;
    line-height: 37px;
    border-radius: 5px;
    margin-right: 6px;
}

.E02-displayWin .loginWin .right .table .shortInput {
    float: left;
    width: 153px;
}

.E02-displayWin .loginWin .table {
    margin-top: 25px;
    text-align: left;
}

.E02-displayWin .loginWin .table .th {
    width: 202px;
    height: 39px;
    margin-bottom: 20px;
    float: left;
    position: relative;
}

.E02-displayWin .loginWin .table .th .info {
    width: 202px;
    height: 19px;
    line-height: 19px;
    background: #2c1353;
    color: #fff;
    position: absolute;
    top: 39px;
    left: 0px;
    z-index: 2;
    text-indent: 1em;
}

.E02-displayWin .loginWin .table .th .false {
    width: 24px;
    height: 24px;
    background: url("../images/inx-validIco.jpg") -78px -15px;
    display: block;
    position: absolute;
    z-index: 5;
    right: 1px;
    top: 8px;
}

.E02-displayWin .loginWin .table .wrong input {
    border-color: #ff8204;
}

.E02-displayWin .loginWin .table .td {
    width: 39px;
    height: 39px;
    float: left;
    margin: 0 0 20px 5px;
}

.E02-displayWin .loginWin .table .checkBox {
    padding: 15px 0 5px 0;
}

.E02-displayWin .loginWin .table .checkBox input {
    vertical-align: top;
    width: 15px;
    height: 15px;
    margin: 2px 0 0 10px;
}

.E02-displayWin .loginWin .table .long {
    width: 240px;
}

.E02-displayWin .loginWin .table input {
    width: 200px;
    height: 37px;
    border: 1px solid #dedede;
    border-radius: 5px;
    margin-bottom: 10px;
    text-indent: 1em;
    line-height: 37px;
}

.E02-displayWin .loginWin .table button {
    width: 246px;
    height: 57px;
    border: none;
    background: #2c1353;
    color: #fff;
    font-size: 24px;
    transition: all 0.25s ease;
    cursor: pointer;
    border-radius: 5px;
}

.E02-displayWin .loginWin .table button:hover {
    background: #7337eb;
}

.E02-displayWin .loginWin .table .ico {
    width: 39px;
    height: 39px;
    background: url("../images/inx-validIco.jpg");
    margin-bottom: 10px;
}

.E02-displayWin .loginWin .table .false {
    background-position: -39px 0;
}

#E02-displayWinBg, #E02-promotionDisplayWinBg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 18;
    background: #000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    width: 100%;
    height: 100%;
}
#loginWin{
    width: 680px;
    height: 592px;
}
#loginWin .loginWin .displayTitle{
    background: #ff0036;
}
.loginWin .loginName input{
    width: 150px;
    padding-left: 5px;
}
.E02-displayWin .register_container .txt_div{
    width: 100%;
    height: 58px;
    line-height: 18px;
}
.E02-displayWin .register_container .txt_div.loginName{
    margin-top: 18px;
}
.E02-displayWin .txt_div.txt_checkbox{
    background: none;
    border-top: 1px solid #d3d3d3;
}
.E02-displayWin .register_container label{
    width: 68px;
    text-align: right;
    float: left;
    color: #3e3e3e;
    vertical-align: middle;
    padding-right: 15px;
    background: #e9e9e9;
    height: 40px;
    border-radius: 5px 0  0 5px;
    line-height: 40px;
}
.E02-displayWin .register_container input{
    width: 160px;
    border: none;
    border-radius: 0px;
    float: left;
    background: #e9e9e9;
    height: 40px;
    border-radius: 0 5px 5px 0;
    line-height: 40px;
}
.E02-displayWin .register_container .txt_login_code .txt_in {
    width: 65px;
}
.E02-displayWin .register_container .tex_validBox .txt_div{
    width: 180px;
}
.E02-displayWin .register_container .tex_validBox img{
    float: left;
    margin: 7px 0 0 8px;
    width: 64px;
    height: 23px;
}
.E02-displayWin .txt_checkbox .txt_checkP{
    width: 240px;
    margin: 10px auto 0 auto;
    color: #727272;
}
.E02-displayWin .txt_checkbox .txt_checkP a{
    color: #00a8ff;
    text-decoration: underline;
}
.E02-displayWin .register_container .game_accname{
    width: 89px;  
    padding-right:0px;
}
.E02-displayWin .register_container .gamme_accinput{
    width: 158px;  
}

/*公共单选插件*/
.checkBoxfake{
    width: 40px;
    height: 20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    position: relative;
    background: #bbbbbb;
}
.checkBoxfake span{
    padding: 0 4px;
}
.checkBoxfake .circle{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 1px 2px #333;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2;
}
.checkBoxfake.checked{
    background: #00befd;
}
.checkBoxfake.checked .circle{
    left: 21px;
}
.E02-displayWin .txt_div .register_btn{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    margin: 8px auto 0 auto;
    padding-top: 8px;
    background: #ff0037;

}
.E02-displayWin .txt_div .register_btn:hover{
    background: #730d23;
}
.E02-displayWin .txt_div .register_btn .f18{
    line-height: 32px;
}
/* .E02-displayWin .txt_div .register_btn .f12{
    line-height: 12px;
} */
.E02-displayWin .msgWin .displayTitle{
    background: #00a7ea;
}
.E02-displayWin .msgWin .displayTitle h3{
    width: 600px;
    margin-bottom:5px;
    height: 18px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position:relative;
}
.E02-displayWin .msgWin .continer{
    padding: 20px 65px;
}
.E02-displayWin .msgWin .continer p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
}
.E02-displayWin .msgWin .continer .content{
    text-indent: 2em;
}
.E02-displayWin .msgWin .continer .E02-button{
    width: 130px;
    height: 50px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 50px;
}
/*公共弹窗样式*/
.E02-applyWin .continer p a{
    color: #00a7ea;
    margin-left: 10px;
}
.E02-applyWin .continer p a:hover{
    text-decoration: underline;
}
.E02-applyWin .continer{
    padding: 0 20px;
}
.E02-applyWin .continer .win9cont{
	width:920px;
	margin:0px auto;
	height:270px;
	overflow-y:auto;
}
.displayTitle .close{
    border: none;
}
/*浮动窗口*/
.E02-fixWin{
    position: fixed;
    bottom: 80px;
    right: 10px;
    z-index: 19;
    width: 180px;
}
.E02-fixWin .E02-button{
    width: 152px;
    height: 32px;
    background: #128bd4;
    font-size: 14px;
    line-height: 32px;
    margin: 0 auto;
}
.E02-fixWin .E02-button.green{
    background: #16b340;
}
.E02-fixWin .E02-button:hover{
    background: #006aaa;
}
.E02-fixWin .E02-button.green:hover{
    background: #008924;
}
.E02-fixWin .top{
    width: 180px;
    height: 127px;
    background: url("../images/inx-download-top.jpg?v1");
    text-align: center;
    font-size: 14px;
    box-shadow: 0 5px 8px #696969;
    border-radius: 10px;
}
.E02-fixWin .top{
    padding-top: 94px;
}
.E02-fixWin .bottom{
    width: 180px;
    height: 145px;
    margin-top: 2px;
    background: url("../images/inx-download-bottom.jpg");
    border-radius: 10px;
    box-shadow: 0 5px 8px #696969;
}
.E02-fixWin .bottom ul{
    width: 152px;
    padding-top: 11px;
    margin: 0 auto;
}
.E02-fixWin .bottom li{
    height: 38px;
    margin-bottom: 5px;

}
.E02-fixWin .bottom li.two .E02-button{
    width: 75px;
    margin-right: 2px;
    float: left;
}
.E02-fixWin .bottom li.two .E02-button.mr0{
    margin-right: 0;
}
.E02-fixWin .controlBtn{
    margin-top: 5px;
    font-size: 14px;
    color: #666666;
}
.E02-fixWin .controlBtn:hover{
    color: #999999;
}
.E02-fixWin.small {
    width: 50px;
    right: -181px;
}
.E02-fixWin.small .icoGrp{
    width: 40px;
    float: right;
}
.E02-fixWin.small .icoGrp .ico{
    width: 40px;
    height: 31px;
    border-radius: 50px;
    background: #128bd4;
    transition: 0.5s all ease;
    padding-top: 9px;
    margin-bottom: 8px;
}
.E02-fixWin.small .icoGrp .ico:hover{
    background: #006aaa;
}
.E02-fixWin.small .icoGrp .ico.green{
    background: #16b340;
}
.E02-fixWin.small .icoGrp .ico.green:hover{
    background: #008924;
}
.E02-fixWin.small .icoGrp .ico a{
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 auto;
    background: url("../images/inx-download-ico.png");
}
.E02-fixWin.small .icoGrp .ico2 a{
    background-position-y: -22px;
}
.E02-fixWin.small .icoGrp .ico3 a{
    background-position-y: -44px;
}
.E02-fixWin.small .icoGrp .ico4 a{
    background-position-y: -66px;
}
.E02-fixWin.small .icoGrp .ico5 a{
    background-position-y: -88px;
}
.E02-fixWin.small .icoGrp .ico6 a{
    background-position-y: -110px;
}
.E02-fixWin.small .icoGrp .ico7 a{
    background-position-y: -132px;
}
/*脚部样式开始*/
#E02-footer, #E02-userfooter {
    width: 100%;
    padding-bottom: 25px;
    position: relative;
    background: #12151a;
    padding-top: 20px;
}
#E02-footer .E02-section{
    width: 1000px;
}
#E02-footer .E02-section .fl.logo{
    width: 60px;
}
#E02-footer .E02-section .fl.content{
    width: 930px;
}
#E02-footer a, #E02-userfooter a {
    color: #6a6a6a;
}

#E02-footer a:hover, #E02-userfooter a:hover {
    text-decoration: underline;
}

#E02-footer .top, #E02-userfooter .top {
    width: 100%;
    text-align: center;
    margin: 0px auto;
}

#E02-footer .top a, #E02-userfooter .top a {
    display: block;
    width: 70px;
    height: 12px;
    line-height: 12px;
}

#E02-userfooter .top a {
    float: left;
}

#E02-footer .top .fl a, #E02-userfooter .top .fl a {
    text-align: center;
    border-right: 1px solid #6a6a6a;
    float: left;
}
#E02-footer .top .fl a.br0{
    border: none;
}
#E02-footer .top .fl a.bn, #E02-userfooter .top .fl a.bn {
    border: none;
}

#E02-footer .top .fr a, #E02-userfooter .top .fr a {
    width: 64px;
    float: left;
}

#E02-footer .middle, #E02-userfooter .middle {
    position: relative;
    text-align: center;
    height: 83px;
}

#E02-footer .middle a, #E02-userfooter .middle {
    display: block;
    position: absolute;
}

#E02-footer .middle .vip,#E02-userfooter .middle .vip {
    width: 374px;
    height: 83px;
    z-index: 2;
    left: 30px;
    top: 0;
}

#E02-footer .middle .firstCagayan{
    width: 88px;
    height: 78px;
    top: 0;
    left: 390px;
    z-index: 2;
}
#E02-userfooter .middle .firstCagayan{
    position: absolute;
    display: block;
    width: 88px;
    height: 78px;
    top: 0;
    left: 275px;
    z-index: 2;
}

#E02-footer .middle .certificate,#E02-userfooter .middle .certificate {
    width: 25px;
    height: 103px;
    z-index: 2;
    top: 0;
    left: 830px;
}

#E02-footer .bottom, #E02-userfooter .bottom {
    color: #6a6a6a;
    text-align: left;
    line-height: 24px;
    padding-left: 25px;
}
#E02-footer .footerA{
    width: 838px;
    height: 60px;
    background: url("../images/inx-footerA.jpg");
    margin-top: 20px;
}
/*分页*/
.E02-page{
    width: 415px;
    height: 30px;
    margin: 25px auto;
}
.E02-page .center{
    width: 287px;
    height: 30px;
    overflow:hidden;
    float: left;
}
.E02-page a{
    /*width: 20px;
    height: 20px;*/
    margin: 5px 10px 0 0;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #fff;
    background: #fff;
    cursor: pointer;
    /*float: left;*/
}
.holder.E02-page a{
    width: 34px;
    height: 22px;
    line-height: 22px;
    float: left;
    text-align: center;
    display: block;
    border-color: #d3dbdb;
    user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
.E02-page a:hover{
    border-color: #00a7ea;
}
.E02-page a.active,.E02-page a.jp-current{
    background: #ff0037;
    color: #fff;
    border-color: #ff0037;
}
.E02-page a.prev,.E02-page a.jp-previous,.E02-page a.next,.E02-page a.jp-next{
    width: 50px;
    height: 30px;
    background: url("../images/pagePre.png") no-repeat #00a7ea center center;
    border-radius: 5px;
    margin-top: 0px;
    display: block;
}
.E02-page a.next,.E02-page a.jp-next{
    background-image: url("../images/pageNext.png");
}
.E02-page a.prev.disabled,.E02-page a.jp-previous.jp-disabled,.E02-page a.next.disabled,.E02-page a.jp-next.jp-disabled{
    background-color: #999999;
}
.E02-page a.prev.disabled:hover,.E02-page a.next.disabled:hover{
    border-color: #d3d3d3;
}
.E02-page a.more{
    border-color: #fff;
    cursor: none;
}
.E02-page input{
    float: left;
    width: 25px;
    height: 28px;
    margin-right: 10px;
}
.E02-page span{
    display: none;
    float: left;
}
/*公共段落样式*/
p.con{
    font-size: 14px;
    line-height: 28px;
}
p.content{

}
p.m0{
    margin: 0;
}
/*特殊选项卡样式*/
.E02-select{
    width: 300px;
    float: left;
    margin-left: 10px;
}
.E02-select .E02-option{
    width: 86px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #313131;
    border-radius: 20px;
    display: block;
    float: left;
    text-align: center;
    margin:0 5px 10px 0;
    cursor: pointer;
}
.E02-select .E02-option:hover{
    border-color: #128bd4;
    color: #128bd4;
}
.E02-select .E02-option.active{
    background: #128bd4;
    border-color: #128bd4;
    color: #fff;
}
.E02-select2{
    width: 314px;
    height: 36px;
    text-align: center;
    float: left;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}
.E02-select2 .selectBtn{
    width: 140px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    border-radius: 20px;
    background: #128bd4;
}
.E02-select2 .selectBtn img{
    margin: 10px 0 0 3px;
}
.E02-select2 p.optionBox{
    width: 314px;
    padding: 15px;
    border: 1px solid #128bd4;
    border-radius: 8px;
    box-shadow: 0px 5px 8px #ccc;
    position: relative;
    z-index: 10;
    background: #fff;
}
.E02-select2 p.optionBox .option{
    display: block;
    width: 89px;
    height: 26px;
    line-height: 26px;
    float: left;
    border-radius: 20px;
    margin: 0  10px 10px 0;
    font-size: 12px;
    cursor: pointer;
}
.E02-select2 p.optionBox .option:hover{
    background: #128bd4;
    color: #fff;
}
.E02-select2 p.optionBox .close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
/*公共banner*/
.E02-banner{
    width: 100%;
    height: 200px;
}
.E02-banner a{
    display: block;
    width: 100%;
    height: 200px;
}
/*公共搜索*/
.E02-search{
    width: 245px;
    *width: 251px;
    height: 30px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    float: right;
}
.E02-search .search{
    width: 216px;
    border: none;
    height: 30px;
    line-height: 30px;
    text-indent: 1em;
}

.E02-search .searchBtn{
    width: 26px;
    height: 26px;
    background: url("../images/discount-search.png");
    border: none;
    margin: 2px 3px 0 0;
    cursor: pointer;
    float: right;
}
.E02-search input{
    *float: left;
}
/*公共分割线*/
.E02-hr{
    background: url("../images/inx-xLine.jpg") repeat-x left bottom;
}
/*公共排行榜*/
.ulTitle,.maqueeTxt{
    width: 100%;
}
.maqueeTxt{
    height: 190px;
    background: #fff;
    padding-top: 52px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
    overflow: hidden;
}
.maqueeTxt a{
	cursor: default;
}
.ulTitle div,.maqueeTxt ul div{
    width: 25%;
    *width: 24.9%;
    float: left;
    text-align: center;
    color: #fff;
}
.maqueeTxt ul a div{
    color: #555555;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height: 30px;
    *line-height: 25px;
    height: 30px;
    *height: 28px;
    *text-indent: 1em;
}
.ulTitle{
    height: 52px;
    line-height: 52px;
    background: #ff0036;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    position: absolute;
    top: 95px;
    z-index: 5;
    box-shadow: 0 3px 10px #999;
}

.E02-applyWin {
	position: fixed;
	top: 40%;
	left: 40%;
	z-index: 30;
	box-shadow: 5px 5px 35px;
	animation: changePersonBottom 0.3s ease 1;
}
/*新表格样式*/
.commonTable3{
    width: 99%;
    margin: 0 auto 40px 0;
    border-radius: 8px;
    box-shadow: 0 5px 8px #696969;
    text-align: center;
    overflow: hidden;
    border-collapse: collapse;
    background: #fff;
}
.commonTable3 th{
    background: #ff0037;
    color: #fff;
    font-size: 16px;
    height: 48px;
}
.commonTable3 td{
    font-size: 14px;
    height: 48px;

}
.commonTable3 tr{
    border-bottom: 1px dashed #dedede;
}
.commonTable3 tr.bb0{
    border-bottom: none;
}
.userSection{
    margin-bottom: 40px;
}
.userSection .blue{
    color: #00a7ea;
}
.paswdWin{
    width: 327px;
    height: 380px;
}
.paswdWin .txt_div{
    width: 327px;
    margin: 24px auto 0 auto;
}
.paswdWin .txt_div span.txt_title{
    width: 80px;
    line-height: 37px;
}
.paswdWin .txt_div .warn_msg{
    top: 37px;
    left: 80px;
    line-height: 24px;
    font-size: 12px;
    position: absolute;
    z-index: 2;
}
.paswdWin .ptpassword{
    width: 280px;
    margin: 15px auto 10px auto;
}
.paswdWin .btnGrp .E02-button{
    margin: 0 auto;
}
/*登陆框提示语修改相关*/
.btnBox .login table td{
	position:relative;}
.btnBox .login table td em.regTips{
	font-style:normal;
	position:absolute;
	top:7px;
	left:10px;
    overflow: hidden;
	color:#ccc;}

/*浮动窗口*/
.E02-fix-small{
    width: 180px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 1px 2px;
    overflow: hidden;
    margin-bottom: 2px;
    position: relative;
}
.E02-fix-small a{
	display: block;
	position: relative;}
.E02-fix-small a span{
	position: absolute;
	padding: 2px 5px;
	color: #fff;
	font-size: 10px;
	bottom: 5px;
	right: 50px;
	background-color: #000 
}
.E02-fix-small.two{

}
.E02-fix-small .close{
    background: red;
    width: 16px;
    height: 16px;
    border-radius: 25px;
    position: absolute;
    z-index: 2;
    right: 2px;
    top: 2px;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    cursor: pointer;
}
.E02-leftFix{
    position: fixed;
    left: 10px;
    bottom: 104px;
    z-index: 19;
    box-shadow: 1px 1px 3px #999;
}
/*左边浮动窗口大*/
.E02-fix-big{
    width: 141px;
    height: 262px;
    position: relative;
    background: #f5f5f5;
    border-radius: 5px;
    position: relative;
    text-align: center;
        background: url("../images/146537249844.gif");
}
.E02-fix-big .close{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 3px;
    right: 3px;
    z-index: 2;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: url("../images/fixWin-close.png");
    cursor: pointer;
}
.E02-fix-big .close:hover{
    transform: rotate(360deg);
}
.E02-fix-big .txtImg{
    width: 136px;
    height: 40px;
    margin-top: 10px;
    animation: floatTxt 4s ease 1;
}
.E02-fix-big.given .txtImg{
    width: 215px;
    height: 80px;
    position: absolute;
    left: -10px;
    top: 15px;
}
@keyframes floatTxt {
    0%{

        transform: scale(0.75);
    }
    25%{
        transform: scale(1.25);
    }
    50%{
        transform: scale(0.85);
    }
    100%{
        transform: scale(1.05);
    }
}
.E02-fix-big .black{
    color: #000;
    font-weight: bold;
}
.E02-fix-big .E02-button{
    width: 120px;
    height: 32px;
    line-height: 32px;
    background: #ff2847;
    margin: 0 auto;
}
.E02-fix-big .giftImg{
    position: absolute;
    z-index: 2;
    left: 40px;
    animation: floatGift 1s ease infinite;
}
@keyframes floatGift {
    0%{

        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(-0deg);
    }
}
.E02-fix-big .shadowImg{
    margin-top: 90px;
}
.E02-fix-big .bottom{
    padding-top: 110px;
}
.E02-fix-big .f12.gray{
    color: #989898;
}
.E02-fix-big .blue{
    color: #00b6ef;
}
.E02-fix-big .red{
    color: #f03e4a;
}
/*中秋弹窗*/
.moonWin{
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    margin: -214px 0 0 -400px;
    width: 800px;
    height: 427px;
    border-radius: 8px;
    background: url("../images/moonFestival/bg.jpg");
    animation: floatWin 0.5s ease 1;

}
@keyframes floatWin {
    0%{
        opacity: 0;
        transform: translate3d(0px, 600px, 0px) scale(0.8);
    }
    100%{
        transform: translate3d(0px, 0px, 0px) scale(1);
        opacity: 1;
    }
}
.moonWin .center{
    width: 800px;
    height: 427px;
    position: relative;
}
.moonWin img{
    position: absolute;
}
.moonWin .moonWinClose{
    display: block;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: url("../images/moonFestival/close.png");
    width: 20px;
    height: 20px;

}
.moonWin .close:hover{
    transform: rotate(360deg);
}
.moonWin .light1{
    top: 125px;
    left: 240px;
    animation: floatLight 8s ease infinite;
}
.moonWin .light2{
    top: 170px;
    left: 194px;
    animation: floatLight 8s ease infinite;
}
.moonWin .light3{
    top: 236px;
    left: 250px;
    animation: floatLight 8s ease infinite;
}
.moonWin .light4{
    top: 178px;
    left: 216x;
    animation: floatLight 8s ease infinite;
}
.moonWin .light5{
    top: 125px;
    left: 150px;
    animation: floatLight 8s ease infinite;
}
.moonWin .light6{
    top: 170px;
    left: 180px;
    animation: floatLight 8s ease infinite;
}
.moonWin .light7{
    top: 236px;
    left: 130px;
    animation: floatLight 8s ease infinite;
}
.moonWin .light8{
    top: 178px;
    left: 316px;
    animation: floatLight 8s ease infinite;
}
@keyframes floatLight {
    0%{
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        transform: translate3d(0px, -100px, 0px);
        opacity: 0;
    }
}
.moonWin .E02-button{
    width: 262px;
    padding-top: 10px;
    height: 70px;
    /* 底色 */
    background-color: #f24a51;
    /* chrome 2+, safari 4+; multiple color stops */
    background-image:-webkit-gradient(linear, left top, right bottom,color-stop(0, #f24a51), color-stop(1, #ce2b32));
    /* chrome 10+, safari 5.1+ */
    background-image: -webkit-linear-gradient(#f24a51,#ce2b32);
    /* firefox; multiple color stops */
    background-image: -moz-linear-gradient(top,#f24a51,#ce2b32);
    /* ie 6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24a51', endColorstr='#ce2b32');
    /* ie8 + */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24a51', endColorstr='#ce2b32')";
    /* ie10 */
    background-image: -ms-linear-gradient(#f24a51,#ce2b32);
    /* opera 11.1 */
    background-image: -o-linear-gradient(#f24a51,#ce2b32);
    /* 标准写法 */
    background-image: linear-gradient(#f24a51,#ce2b32);
    border-radius: 50px;
    position: absolute;
    top: 320px;
    left: 264px;

}
.moonWin .E02-button:hover,.E02-fix-big.moon .E02-button:hover{
    box-shadow: 2px 2px 5px #000;
    /* 底色 */
    background-color: #ce2b32;
    /* chrome 2+, safari 4+; multiple color stops */
    background-image:-webkit-gradient(linear, left top, right bottom,color-stop(0, #ce2b32), color-stop(1, #f24a51));
    /* chrome 10+, safari 5.1+ */
    background-image: -webkit-linear-gradient(#ce2b32,#f24a51);
    /* firefox; multiple color stops */
    background-image: -moz-linear-gradient(top,#ce2b32,#f24a51);
    /* ie 6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce2b32', endColorstr='#f24a51');
    /* ie8 + */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce2b32', endColorstr='#f24a51')";
    /* ie10 */
    background-image: -ms-linear-gradient(#ce2b32,#f24a51);
    /* opera 11.1 */
    background-image: -o-linear-gradient(#ce2b32,#f24a51);
    /* 标准写法 */
    background-image: linear-gradient(#ce2b32,#f24a51);
}
.moonWin .E02-button .f16{
    line-height: 24px;
}
.moonWin .E02-button .f26{
    font-weight: bold;
}
/*中秋左侧浮动窗口*/
.E02-fix-big.moon{
    width: 180px;
    height: 278px;
    background: url("../images/moonFestival/floadWin.png");
}
.E02-fix-big.moon .E02-button{
    position: absolute;
    left: 18px;
    font-size: 18px;
    font-weight: bold;
    top: 190px;
    width: 144px;
    height: 36px;
    color: #fff;
    border-radius: 40px;
    /* 底色 */
    background-color: #f24a51;
    /* chrome 2+, safari 4+; multiple color stops */
    background-image:-webkit-gradient(linear, left top, right bottom,color-stop(0, #f24a51), color-stop(1, #ce2b32));
    /* chrome 10+, safari 5.1+ */
    background-image: -webkit-linear-gradient(#f24a51,#ce2b32);
    /* firefox; multiple color stops */
    background-image: -moz-linear-gradient(top,#f24a51,#ce2b32);
    /* ie 6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24a51', endColorstr='#ce2b32');
    /* ie8 + */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24a51', endColorstr='#ce2b32')";
    /* ie10 */
    background-image: -ms-linear-gradient(#f24a51,#ce2b32);
    /* opera 11.1 */
    background-image: -o-linear-gradient(#f24a51,#ce2b32);
    /* 标准写法 */
    background-image: linear-gradient(#f24a51,#ce2b32);
}
.E02-fix-big.moon .E02-button:hover{
    box-shadow: 1px 1px 2px #333;
}