<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
	</ul>
</div>
<!-- 投注页面 -->
<style>
.sscCheckNumber{
	height:auto !important;
}
</style>
<script>
var gjhList = [
  {
    name: '大小骰宝',
    oddPlayItems: []
  }
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,zdnumber,danhao;
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
	// 判断双面盘的位置，以确认后台数据
	if (rules[0].rules[0].oddPlayItems[0].name === '大小骰宝') {
		rule = rules[0].rules[0].oddPlayItems[0];
	}else if (rules[0].rules[0].oddPlayItems[1].name === '大小骰宝') {
		rule = rules[0].rules[0].oddPlayItems[1];
	}else if (rules[0].rules[0].oddPlayItems[2].name === '大小骰宝') {
		rule = rules[0].rules[0].oddPlayItems[2];
	}else if (rules[0].rules[0].oddPlayItems[3].name === '大小骰宝') {
		rule = rules[0].rules[0].oddPlayItems[3];
	}
  //
	// for(let i in rules){
	// 	if(rules[i].name === "单号1-10"){
	// 		danhao  = rules[i].rules;
	// 	}
	// }

  for (let i in gjhList){
		// 数字1-10
		for(let j=1;j<11;j++){
			let obj = deepCopy(rule);
			obj.name = j;
      switch (j) {
        case 7:
          obj.name = "大";
          break;
        case 8:
          obj.name = "小";
          break;
        case 9:
          obj.name = "单";
          break;
        case 10:
          obj.name = "双";
          break;
        default:

      }
			gjhList[i].oddPlayItems.push(obj);
		}
	}
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in gjhList){
    let yuansu = '<div class="fix selectNormal" style="margin: 15px 0;">'+
    '<span class="buyNumberTitle">'+gjhList[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in gjhList[i].oddPlayItems.slice(0,10)){
      right+='<li><a data-index="'+i+'-'+l+'">'+gjhList[i].oddPlayItems[l].name+'</a><p>赔率'+ gjhList[i].oddPlayItems[l].odds +'</p></li>';
    }
    let all = right+ '</div></div>';
    $('.sscCheckNumber ul').append(all)
  }
  // 给玩法添加class,并判断玩法的最小下注个数
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr')
    let length = 0;

    switch ($('.betFilter .curr').text()) {
      case '大小骰宝':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,1).length;
        break;
    }
		$('.detail').text(zdnumber); // 注单数量
	})
	// 获取游戏说明
  var game_shows
	setTimeout(function () {
		if ($('.betFilter .curr').text() == rule.name) {
	    $('.window_ .text_shows').html('');
	    game_shows = rules[0].rules[0].detailDesc;
	  }
		let html = '<span>'+game_shows+'</span>';
		$('.window_ .text_shows').append(html)
	}, 200);
});
var cart = [];
// 添加注单
$('#betBtn').unbind('click')
$('#betBtn').click(function(event){
	// 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0) {
    alert('请选择一注进行投注');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
    alert('请输入投注金额');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }
  let haoma = '',winMoney = 0;
  var selectEl = $('.sscCheckNumber .curr');
  let data = [];
  for(let i=0;i<selectEl.length;i++){
    selectEl.eq(i).toggleClass('curr')
    let row = selectEl.eq(i).attr('data-index').split('-')[0]-0;
    let col = selectEl.eq(i).attr('data-index').split('-')[1]-0;
    let obj = gjhList[row].oddPlayItems[col];
    let bol = false;
		// 如果添加的注单重复，则叠加
    console.log(row,"-",col);
		for(let i in cart){
			let name = gjhList[row].name==$('.buyNumberTitle').text()? obj.name: gjhList[row].name+'--'+obj.name;
      if(cart[i].name === name){
        bol = true;
				cart[i].money += $('.eachPrice').val()-0;
        continue;
      }
    }
    !bol? cart.push({
      playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
      money: $('.eachPrice').val()-0,
      name: (obj.name).toString(),
      oddsId: obj.id,
      playCode: obj.playCode,
      max: obj.maxBetAmmount,
      min: obj.minBetAmmount,
      odds:obj.odds,
    }):''
  }
  createDetail();
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
})
function createDetail (){
  $('.checkedList tbody').html('');
	for(let i in cart){
    let html = '<tr>'+
              '<td>'+
                '<i class="order_type">'+
                  '['+cart[i].playsName+']'+cart[i].name+
                  // '<span>...</span>'+
                '</i>'+
                // '<a class="orderDetail">详细</a>'+
              '</td>'+
              '<td>'+1+'注</td>'+
              '<td>'+(cart[i].money)+'元</td>'+
              '<td>'+
                '可中金额'+
                '<i class="orderMoney">'+
                  '<i>'+(cart[i].money*cart[i].odds).toFixed(2)+'元</i>'+
                '</i>'+
              '</td>'+
              '<td><a class="orderCancel" onclick="del(this)"  data-index="'+i+'"  >删除</a></td>'+
            '</tr>'
    $('.checkedList tbody').append(html)
  }
	$('.detail').text('0');
	$('.eachPrice').val('');
}
// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	$('#layermbox16').removeAttr("style");
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
	for (let i in cart) {
    betting += cart[i].money;
	}
  var content = $(".checkedList tbody").html();
  if (content == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$("span#submitBtn").hide();
		cart = [];
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                // '['+betting.playsName+']'+betting.name+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+betting+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$("span#submitBtn").show();
	}

  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
  }
})
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: cart[i].money,
      name: cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('.buyNumber a').removeClass('curr');
			$('._mybetContent .tz_list').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('.buyNumber a').removeClass('curr');
    }
  });
})
// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
// 删除注单
function del(a){
	let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
	var zdshuliang = 0; // 注单数量
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text("¥"+ztzje)
}
</script>
<style media="screen">
  .logo{
    height: 1100px;
  }
  .betRight {
    min-height: 0;
  }
  .buyNumber a{
    width: 34px;
  }
  .buyNumber a, .buyNumber ins{
    font-size: 15px;
  }
  .buyNumber{
    width: 552px;
  }
	.betRight .winnerListSlide {
    height: 287px;
	}
  .buyNumberFilter{
    width: 58px;
    float: left;
  }
  .sscCheckNumber {
    height: 160px;
  }
  .sscCheckNumber ul li a{
    min-width: 70px;
  }
</style>
