<!-- 投注页面 -->
<!-- 短牌 -->
<table  class="table table-bordered table-bet" id="duanpai">
	<thead >
		<tr class="duanpai">
			<th  colspan="12">短牌</th>
		</tr>
	</thead>
	<tbody >
			<tr id="duanpai">
				<td class="diceRow top-bet hoverTr">
					<div class="value" data-value="1-1" style="width: 26%;">
						<i class="ball-1"></i>
						<i class="ball-1"></i>
					</div>
					<div  style="width: 20%;">
						<b  class="text-danger">9.8</b>
					</div>
					<div  style="border-right: 0px; width: 40%;">
						<input  type="text" maxlength="6" max="50000" class="bet-input">
					</div>
				</td>
				<td  class="diceRow top-bet hoverTr">
					<div class="value" data-value="2-2" style="width: 26%;">
						<i  class="ball-2"></i>
						<i  class="ball-2"></i>
					</div>
					<div  style="width: 20%;">
						<b  class="text-danger">9.8</b>
					</div>
					<div  style="border-right: 0px; width: 40%;">
						<input  type="text" maxlength="6" max="100000" class="bet-input">
					</div>
				</td>
				<td  class="diceRow top-bet hoverTr">
					<div class="value" data-value="3-3"  style="width: 26%;">
						<i  class="ball-3"></i>
						<i  class="ball-3"></i>
					</div>
					<div  style="width: 20%;">
						<b  class="text-danger">9.8</b>
					</div>
					<div  style="border-right: 0px; width: 40%;">
						<input  type="text" maxlength="6" max="100000" class="bet-input">
					</div>
				</td>
				<td  class="diceRow top-bet hoverTr">
					<div class="value" data-value="4-4"  style="width: 26%;">
						<i  class="ball-4"></i>
						<i  class="ball-4"></i>
					</div>
					<div  style="width: 20%;">
						<b  class="text-danger">9.8</b>
					</div>
					<div  style="border-right: 0px; width: 40%;">
						<input  type="text" maxlength="6" max="100000" class="bet-input">
					</div>
				</td>
				<td  class="diceRow top-bet hoverTr">
					<div class="value" data-value="5-5" style="width: 26%;">
						<i  class="ball-5"></i>
						<i  class="ball-5"></i>
					</div>
					<div  style="width: 20%;">
						<b  class="text-danger">9.8</b>
					</div>
					<div  style="border-right: 0px; width: 40%;">
						<input  type="text" maxlength="6" max="100000" class="bet-input">
					</div>
				</td>
				<td  class="diceRow top-bet hoverTr">
					<div class="value" data-value="6-6" style="width: 26%;">
						<i  class="ball-6"></i>
						<i  class="ball-6"></i>
					</div>
					<div  style="width: 20%;">
						<b  class="text-danger">9.8</b>
					</div>
					<div  style="border-right: 0px; width: 40%;">
						<input  type="text" maxlength="6" max="100000" class="bet-input">
					</div>
				</td>
		</tr>
	</tbody>
</table>
<!--  -->
<!-- 长牌 -->
<table  class="table table-bordered table-bet" id="changpai">
	<thead >
		<tr class="changpai">
			<th  colspan="12">长牌</th>
		</tr>
	</thead>
	<tbody >
		<tr >
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="1-2"  style="width: 26%;">
					<i  class="ball-1"></i>
					<i  class="ball-2"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="1-3"  style="width: 26%;">
					<i  class="ball-1"></i>
					<i  class="ball-3"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="1-4"  style="width: 26%;">
					<i  class="ball-1"></i>
					<i  class="ball-4"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="1-5" style="width: 26%;">
					<i  class="ball-1"></i>
					<i  class="ball-5"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="1-6" style="width: 26%;">
					<i  class="ball-1"></i>
					<i  class="ball-6"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="2-3" style="width: 26%;">
					<i  class="ball-2"></i>
					<i  class="ball-3"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="2-4" style="width: 26%;">
					<i  class="ball-2"></i>
					<i  class="ball-4"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="2-5" style="width: 26%;">
					<i  class="ball-2"></i>
					<i  class="ball-5"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="2-6" style="width: 26%;">
					<i  class="ball-2"></i>
					<i  class="ball-6"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="3-4" style="width: 26%;">
					<i  class="ball-3"></i>
					<i  class="ball-4"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="3-5" style="width: 26%;">
					<i  class="ball-3"></i>
					<i  class="ball-5"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="3-6" style="width: 26%;">
					<i  class="ball-3"></i>
					<i  class="ball-6"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="4-5" style="width: 26%;">
					<i  class="ball-4"></i>
					<i  class="ball-5"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="4-6" style="width: 26%;">
					<i  class="ball-4"></i>
					<i  class="ball-6"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="diceRow top-bet hoverTr">
				<div class="value" data-value="5-6" style="width: 26%;">
					<i  class="ball-5"></i>
					<i  class="ball-6"></i>
				</div>
				<div  style="width: 20%;">
					<b  class="text-danger">7.092</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!--  -->
<!-- 大小骰宝 -->
<table  class="table table-bordered table-bet" id="daxiao">
	<thead >
		<tr class="dxshaizi">
			<th  colspan="12">大小骰宝</th>
		</tr>
	</thead>
	<tbody >
		<tr >
			<td  class="k3Col1 top-bet hoverTr">
				<div class="value" data-value="1" style="width: 17%;">
					<i  class="ball-1"></i>
				</div>
				<div  style="width: 18%;">
					<b  class="text-danger">1.97</b>
				</div>
				<div  style="border-right: 0px; width: 46%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr">
				<div class="value" data-value="2" style="width: 17%;">
					<i  class="ball-2"></i>
				</div>
				<div  style="width: 18%;">
					<b  class="text-danger">1.97</b>
				</div>
				<div  style="border-right: 0px; width: 46%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr">
				<div class="value" data-value="3" style="width: 17%;">
					<i  class="ball-3"></i>
				</div>
				<div  style="width: 18%;">
					<b  class="text-danger">1.97</b>
				</div>
				<div  style="border-right: 0px; width: 46%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr">
				<div class="value" data-value="大" style="width: 17%;">
					<i >大</i>
				</div>
				<div  style="width: 18%;">
					<b  class="text-danger">1.97</b>
				</div>
				<div  style="border-right: 0px; width: 46%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr">
				<div class="value" data-value="4" style="width: 17%;">
					<i  class="ball-4"></i>
				</div>
				<div  style="width: 18%;">
					<b  class="text-danger">1.97</b>
				</div>
				<div  style="border-right: 0px; width: 46%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr">
				<div class="value" data-value="5" style="width: 17%;">
					<i  class="ball-5"></i>
				</div>
				<div  style="width: 18%;">
					<b  class="text-danger">1.97</b>
				</div>
				<div  style="border-right: 0px; width: 46%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr">
				<div class="value" data-value="6" style="width: 17%;">
					<i  class="ball-6"></i>
				</div>
				<div  style="width: 18%;">
					<b  class="text-danger">1.97</b>
				</div>
				<div  style="border-right: 0px; width: 46%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr">
				<div class="value" data-value="小" style="width: 17%;">
					<i >小</i>
				</div>
				<div  style="width: 18%;">
					<b  class="text-danger">1.97</b>
				</div>
				<div  style="border-right: 0px; width: 46%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr">
				<div class="value" data-value="单" style="width: 17%;">
					<i >单</i>
				</div>
				<div  style="width: 18%;">
					<b  class="text-danger">1.97</b>
				</div>
				<div  style="border-right: 0px; width: 46%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr">
				<div class="value" data-value="双" style="width: 17%;">
					<i >双</i>
				</div>
				<div  style="width: 18%;">
					<b  class="text-danger">1.97</b>
				</div>
				<div  style="border-right: 0px; width: 46%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!--  -->
<!-- 围骰/全骰 -->
<table  class="table table-bordered table-bet" id="weisai">
	<thead >
		<tr class="qwshaizi">
			<th  colspan="12">围骰</th>
		</tr>
	</thead>
	<tbody >
		<tr >
			<td  class="k3Col2 top-bet hoverTr">
				<div class="value" data-value="1-1-1" style="width: 39%;">
					<i  class="ball-1"></i>
					<i  class="ball-1"></i>
					<i  class="ball-1"></i>
				</div>
				<!---->
				<div  style="width: 18%;">
					<b  class="text-danger">212.76</b>
				</div>
				<div  style="border-right: 0px; width: 29%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col2 top-bet hoverTr">
				<div class="value" data-value="2-2-2" style="width: 39%;">
					<i  class="ball-2"></i>
					<i  class="ball-2"></i>
					<i  class="ball-2"></i>
				</div>
				<!---->
				<div  style="width: 18%;">
					<b  class="text-danger">212.76</b>
				</div>
				<div  style="border-right: 0px; width: 29%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col2 top-bet hoverTr">
				<div class="value" data-value="3-3-3" style="width: 39%;">
					<i  class="ball-3"></i>
					<i  class="ball-3"></i>
					<i  class="ball-3"></i>
				</div>
				<!---->
				<div  style="width: 18%;">
					<b  class="text-danger">212.76</b>
				</div>
				<div  style="border-right: 0px; width: 29%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col2 top-bet hoverTr">
				<div class="value" data-value="4-4-4" style="width: 39%;">
					<i  class="ball-4"></i>
					<i  class="ball-4"></i>
					<i  class="ball-4"></i>
				</div>
				<!---->
				<div  style="width: 18%;">
					<b  class="text-danger">212.76</b>
				</div>
				<div  style="border-right: 0px; width: 29%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col2 top-bet hoverTr">
				<div class="value" data-value="5-5-5" style="width: 39%;">
					<i  class="ball-5"></i>
					<i  class="ball-5"></i>
					<i  class="ball-5"></i>
				</div>
				<!---->
				<div  style="width: 18%;">
					<b  class="text-danger">212.76</b>
				</div>
				<div  style="border-right: 0px; width: 29%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col2 top-bet hoverTr">
				<div class="value" data-value="6-6-6" style="width: 39%;">
					<i  class="ball-6"></i>
					<i  class="ball-6"></i>
					<i  class="ball-6"></i>
				</div>
				<!---->
				<div  style="width: 18%;">
					<b  class="text-danger">212.76</b>
				</div>
				<div  style="border-right: 0px; width: 29%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
	</tr>
</tbody>
</table>

<!--  -->
<!-- 全骰 -->
<table  class="table table-bordered table-bet" id="quansai">
	<thead >
		<tr class="qwshaizi">
			<th  colspan="12">全骰</th>
		</tr>
	</thead>
	<tbody >
		<tr >
			<td  class="k3Col2 top-bet hoverTr">
			<!---->
			<div class="value" data-value="全骰" style="width: 39%;">
				<i >全骰</i>
			</div>
			<div  style="width: 18%;">
				<b  class="text-danger">35.46</b>
			</div>
			<div  style="border-right: 0px; width: 29%;">
				<input  type="text" maxlength="6" max="100000" class="bet-input">
			</div>
		</td>
		<td  class="k3Col2 top-bet">
			<div  style="width: 39%; border-right: 0px;">
				<i >&nbsp;&nbsp;&nbsp;&nbsp;</i>
			</div>
			<div  style="width: 18%;">
				<b >&nbsp;&nbsp;&nbsp;&nbsp;</b>
			</div>
			<div  style="width: 29%; border-right: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</td>
		<td  class="k3Col2 top-bet">
			<div  style="width: 39%; border-right: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
			<div  style="width: 18%;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
			<div  style="width: 29%; border-right: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</td>
	</tr>
</tbody>
</table>
<!--  -->
<!-- 点数 -->
<table  class="table table-bordered table-bet">
	<thead >
		<tr class="dianshu">
			<th  colspan="12">点数</th>
		</tr>
	</thead>
	<tbody >
		<tr >
			<td  class="k3Col1 top-bet hoverTr" id="sidian">
				<div class="value" data-value="4点" style="width: 15%;">
					<i  style="font-style: normal;">4点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">58</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="wudian">
				<div class="value" data-value="5点" style="width: 15%;">
					<i  style="font-style: normal;">5点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">21</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="liudian">
				<div class="value" data-value="6点" style="width: 15%;">
					<i  style="font-style: normal;">6点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">18</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="qidian">
				<div class="value" data-value="7点" style="width: 15%;">
					<i  style="font-style: normal;">7点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">12.5</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="badian">
				<div class="value" data-value="8点" style="width: 15%;">
					<i  style="font-style: normal;">8点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">9</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="jiudian">
				<div class="value" data-value="9点" style="width: 15%;">
					<i  style="font-style: normal;">9点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">7</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="shidian">
				<div class="value" data-value="10点" style="width: 15%;">
					<i  style="font-style: normal;">10点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">5</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="shiyidian">
				<div class="value" data-value="11点" style="width: 15%;">
					<i  style="font-style: normal;">11点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">5</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="shierdian">
				<div class="value" data-value="12点" style="width: 15%;">
					<i  style="font-style: normal;">12点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">7</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="shisandian">
				<div class="value" data-value="13点" style="width: 15%;">
					<i  style="font-style: normal;">13点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">9</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="shisidian">
				<div class="value" data-value="14点" style="width: 15%;">
					<i  style="font-style: normal;">14点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">12.5</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="shiwudian">
				<div class="value" data-value="15点" style="width: 15%;">
					<i  style="font-style: normal;">15点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">18</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="shiliudian">
				<div class="value" data-value="16点" style="width: 15%;">
					<i  style="font-style: normal;">16点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">21</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet hoverTr" id="shiqidian">
				<div class="value" data-value="17点" style="width: 15%;">
					<i  style="font-style: normal;">17点</i>
				</div>
				<div  style="width: 25%;">
					<b  class="text-danger">58</b>
				</div>
				<div  style="border-right: 0px; width: 40%;">
					<input  type="text" maxlength="6" max="100000" class="bet-input">
				</div>
			</td>
			<td  class="k3Col1 top-bet">
				<div  style="width: 15%;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div  style="width: 25%;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div  style="border-right: 0px; width: 40%;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
			</td>
			<td  class="k3Col1 top-bet">
				<div  style="width: 15%;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div  style="width: 25%;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div  style="border-right: 0px; width: 40%;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<!-- 投注页面 -->

<script>
//所有玩法
var shaibaoList = [
  {
    name: '短牌',
    oddPlayItems: [],
  },
	{
    name: '长牌',
    oddPlayItems: [],
  },
	{
    name: '大小骰宝',
    oddPlayItems: [],
  },
	{
    name: '围骰',
    oddPlayItems: [],
  },
	{
    name: '全骰',
    oddPlayItems: [],
  },
	{
    name: '点数',
    oddPlayItems: [],
  },
]//整合玩法
// 添加购物车
var cart = [];
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist;
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
  rule = rules[0];
	var isNowYear = rule.rules[0].oddPlayItems;
	for(let i in isNowYear) {
		if (isNowYear[i].isNowYear == 6) {
			// 短牌
			shaibaoList[0].oddPlayItems = isNowYear[i];
		}else if (isNowYear[i].isNowYear == 5 ) {
			// 长牌
			shaibaoList[1].oddPlayItems= isNowYear[i];
		}else if (isNowYear[i].isNowYear == 1) {
			// 大小骰宝
			shaibaoList[2].oddPlayItems= isNowYear[i];
		}else if (isNowYear[i].isNowYear == 2) {
			// 围骰
			shaibaoList[3].oddPlayItems= isNowYear[i];
		}else if (isNowYear[i].isNowYear == 3) {
			// 全骰
			shaibaoList[4].oddPlayItems= isNowYear[i];
		}
	};
	shaibaoList[5].oddPlayItems = rules[0].rules[0].oddPlayItems.slice(5,19);
	// 获取游戏说明
  var game_shows
  if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
    $('.window_ .text_shows').html('');
    game_shows = rule.rules[0].detailDesc;
    // console.log(game_shows);
  }
	let html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
	// 给输入框添加键盘事件
	$('.bet-input').keyup(function(event){
		event.preventDefault();
		if($(this).val() !== ""){
			$(this).parents('td').addClass('active')
		}else {
			$(this).parents('td').removeClass('active')
		}
	})
	// 赔率短牌
	$('#duanpai .text-danger').text(shaibaoList[0].oddPlayItems.odds);
	// 赔率长牌
	$('#changpai .text-danger').text(shaibaoList[1].oddPlayItems.odds);
	// 赔率大小骰宝
	$('#daxiao .text-danger').text(shaibaoList[2].oddPlayItems.odds);
	// 赔率围骰
	$('#weisai .text-danger').text(shaibaoList[3].oddPlayItems.odds);
	// 赔率全骰
	$('#quansai .text-danger').text(shaibaoList[4].oddPlayItems.odds);
	// 赔率点数
	$('#sidian .text-danger').text(shaibaoList[5].oddPlayItems[0].odds);
	$('#wudian .text-danger').text(shaibaoList[5].oddPlayItems[1].odds);
	$('#liudian .text-danger').text(shaibaoList[5].oddPlayItems[2].odds);
	$('#qidian .text-danger').text(shaibaoList[5].oddPlayItems[3].odds);
	$('#badian .text-danger').text(shaibaoList[5].oddPlayItems[4].odds);
	$('#jiudian .text-danger').text(shaibaoList[5].oddPlayItems[5].odds);
	$('#shidian .text-danger').text(shaibaoList[5].oddPlayItems[6].odds);
	$('#shiyidian .text-danger').text(shaibaoList[5].oddPlayItems[7].odds);
	$('#shierdian .text-danger').text(shaibaoList[5].oddPlayItems[8].odds);
	$('#shisandian .text-danger').text(shaibaoList[5].oddPlayItems[9].odds);
	$('#shisidian .text-danger').text(shaibaoList[5].oddPlayItems[10].odds);
	$('#shiwudian .text-danger').text(shaibaoList[5].oddPlayItems[11].odds);
	$('#shiliudian .text-danger').text(shaibaoList[5].oddPlayItems[12].odds);
	$('#shiqidian .text-danger').text(shaibaoList[5].oddPlayItems[13].odds);


	$('.form-control').keyup(function () {
		$('.form-control').val($(this).val())
	})
	// 点击赋值投注金额
	var i = 0;
	$('.cm1 span').click(function(){
		let yfmoney = 10;
		i += yfmoney;
		$('.form-control').val(i);
	})
	$('.cm2 span').click(function(){
		let yfmoney = 50;
		i += yfmoney;
		$('.form-control').val(i);
	})
	$('.cm3 span').click(function(){
		let yfmoney = 100;
		i += yfmoney;
		$('.form-control').val(i);
	})
	$('.cm4 span').click(function(){
		let yfmoney = 500;
		i += yfmoney;
		$('.form-control').val(i);
	})
	$('.cm5 span').click(function(){
		let yfmoney = 1000;
		i += yfmoney;
		$('.form-control').val(i);
	})
	$('.cm6 span').click(function(){
		let yfmoney = 5000;
		i += yfmoney;
		$('.form-control').val(i);
	})
	$(".bet-input").click(function(){
		$(this).css("background-color","#FFFFCC");
		if ($(this).val() == '') {
			$(this).val($('input.form-control').val())
		}
	});
	// 重置投注金额
  $('.reset').click(function(){
 	 $('.form-control').val('');
 	 $('.bet-input').val('');
 	 $('.active .bet-input').val('');
 	 i = 0;
 	 cart = [];
 	});
	// 取消下注时，清空购物车
  $('#quxiao').click(function(){
 	 cart = [];
 	 i = 0;
  });
	var wf_name;
	$('.bet-input').blur(function(){
		$(this).css("background-color","#FFF");
		wf_name = ($(this).parents('tbody').siblings('thead').find('th').text());
		let name = $(this).parents('div').siblings('.value').attr('data-value');
		for(let i in shaibaoList){
			if (shaibaoList[i].name == wf_name) {
				if($(this).val()){
					for(let l in cart){
						// 如果name存在，则不添加
						if (cart[l].name == name) {
							return false;
						}
					}
					cart.push({
						playsName: wf_name,
						money: $(this).val()-0,
						name:name,
						// rowName:nowPlay[row].name,
						oddsId: shaibaoList[i].oddPlayItems.id,
						playCode: shaibaoList[i].oddPlayItems.playCode,
						max: shaibaoList[i].oddPlayItems.maxBetAmmount,
						min: shaibaoList[i].oddPlayItems.minBetAmmount,
						odds:shaibaoList[i].oddPlayItems.odds,
					})
				}else {
					// 删除一条购物车中name相同的数据
					for(let l in cart){
						if (cart[l].name == name) {
							cart.splice(l,1)
						}
					}
				}
			}
		}
	})
	$('button.betbtn1').click(function(){

		var game_name = rulist.name;
		var money = 0;
		for(let l in cart){
			money += cart[l].money;
		}
		let list = cart;
		if (list == "" || list == null) {
			let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
			$('.layermcont').html(html)
			$("span#submitBtn").hide();
		}else {
			let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
							'<ul>'+
								'<li>'+
									'<span>彩种：</span>'+
									'<em class="fill">'+game_name+'</em>'+
								'</li>'+
								'<li>'+
									'<span>期号：</span>'+
									'第'+
									'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
									'期'+
								'</li>'+
								'<li>'+
									'<span>详情：</span>'+
									'<div class="fill textarea">'+
									// '['+betting.playsName+']'+betting.name+
									'</p>'+
									'</div>'+
								'</li>'+
								'<li>'+
									'<span>投注总金额：</span>'+
									'<em>'+
										'<em class="fill _submitPlansMoney">'+money.toFixed(2)+
										'</em>'+
										'元'+
									'</em>'+
								'</li>'+
							'</ul>'+
						'</div>'
		$('.layermcont').html(html_);
		$('#layermbox16').show();
		$("span#submitBtn").show();
		}
		// 循环出点事玩法的接口数据
	  for (let i in cart){
			switch (cart[i].name) {
				case '4点':
					cart[i].odds = shaibaoList[5].oddPlayItems[0].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[0].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[0].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[0].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[0].playCode;
					break;
				case '5点':
					cart[i].odds = shaibaoList[5].oddPlayItems[1].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[1].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[1].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[1].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[1].playCode;
					break;
				case '6点':
					cart[i].odds = shaibaoList[5].oddPlayItems[2].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[2].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[2].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[2].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[2].playCode;
					break;
				case '7点':
					cart[i].odds = shaibaoList[5].oddPlayItems[3].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[3].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[3].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[3].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[3].playCode;
					break;
				case '8点':
					cart[i].odds = shaibaoList[5].oddPlayItems[4].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[4].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[4].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[4].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[4].playCode;
					break;
				case '9点':
					cart[i].odds = shaibaoList[5].oddPlayItems[5].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[5].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[5].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[5].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[5].playCode;
					break;
				case '10点':
					cart[i].odds = shaibaoList[5].oddPlayItems[6].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[6].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[6].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[6].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[6].playCode;
					break;
				case '11点':
					cart[i].odds = shaibaoList[5].oddPlayItems[7].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[7].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[7].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[7].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[7].playCode;
					break;
				case '12点':
					cart[i].odds = shaibaoList[5].oddPlayItems[8].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[8].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[8].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[8].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[8].playCode;
					break;
				case '13点':
					cart[i].odds = shaibaoList[5].oddPlayItems[9].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[9].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[9].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[9].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[9].playCode;
					break;
				case '14点':
					cart[i].odds = shaibaoList[5].oddPlayItems[10].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[10].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[10].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[10].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[10].playCode;
					break;
				case '15点':
					cart[i].odds = shaibaoList[5].oddPlayItems[11].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[11].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[11].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[11].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[11].playCode;
					break;
				case '16点':
					cart[i].odds = shaibaoList[5].oddPlayItems[12].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[12].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[12].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[12].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[12].playCode;
					break;
				case '17点':
					cart[i].odds = shaibaoList[5].oddPlayItems[13].odds;
					cart[i].max = shaibaoList[5].oddPlayItems[13].maxBetAmmount;
					cart[i].min = shaibaoList[5].oddPlayItems[13].minBetAmmount;
					cart[i].oddsId = shaibaoList[5].oddPlayItems[13].id;
					cart[i].playCode = shaibaoList[5].oddPlayItems[13].playCode;
					break;
				default:
			}
			let zhudan = '['+rule.name+','+cart[i].playsName+']'+cart[i].name+' '+'赔率'+' '+cart[i].odds
	    $('.textarea').append(zhudan+'<br>')
	    // $('._submitPlansMoney').append((betting.note_number))
	  }
	})
	// 提交投注信息
	// $('#submitBtn').unbind('click');
	$('#submitBtn').click(function(){
	  let formData = {
	    lotType: rule.lotType,
	    groupCode: rule.code,
	    qiHao: $('.qishu').text(),
	    version: 5,
	    lotCode: lotCode,
	    data: '',
	  }
	  let data = [];
	  for(let i in cart){
	    data.push({
	      max: cart[i].max.toString(),
	      min: cart[i].min.toString(),
	      money: (cart[i].money),
	      name: cart[i].name,
	      oddsId: cart[i].oddsId,
	      playCode: cart[i].playCode,
	    })
	  }
	  formData.data = JSON.stringify(data);
	  $.post('/mobile/v3/betInfoV2.do',formData,function(result){
	    if (result.success == true) {
	    	cart = [];
				$('.active .bet-input').val('');
				$('.bet-input').val('')
				$('#layermbox16').attr('style','display:none;')
				$('#layermbox17').stop().slideDown(2400).fadeOut(700);
				$('._mybetContent .tz_list').html('');
				Latest_openLottery(true);
	    }else if (result.success == false) {
	    	alert(result.msg);
				cart = [];
				$('.active .bet-input').val('');
				$('.bet-input').val('')
				$('#layermbox16').attr('style','display:none;')
	    }
	  })
	})
});
// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
 // 取消下注时，清空购物车
 $('#quxiao').click(function(){
	 cart = [];
	 i = 0;
 });
 // 重置投注金额
 $('.btn-danger').click(function(){
	$('.form-control').val('');
	$('.bet-input').val('');
	$('.active .bet-input').val('');
	i = 0;
 });
</script>
<style media="screen">
.logo{
	height: 1600px;
}
.betTip a {
	float: left;
	margin-top: 6px;
	cursor: pointer;
}
.iconfont {
    float: left;
    margin-top: 0;
    font-size: 14px;
    margin-right: 3px;
}
.betTip i img{
	margin-top: 8px;
}
</style>
