@charset "utf-8";
* { margin:0px; padding:0px; }
body { font-family:'微软雅黑'; color: #333; font-size: 12px; }

/*  ------------------------------------------------------  game style start 电子通用样式开始  ----------------------------------------------------------------*/

.mgbox { float:left; width:186px; padding-top:15px; height:209px; background:url(../images/_gameimg/mgbox.png) no-repeat; margin-right:10px; display:inline;}
.mgimg { width:145px; height:136px; margin:0 auto;}
.mgbox  .mgimg a { display:block; width:145px; height:136px; }
.mgbox  .mgimg a:hover { background-position:-145px 0px; }
.mgbtxt { margin:0; height:34px; line-height:34px; text-align:center; padding-top:11px; color:#FFFFFF; font-family:'微软雅黑'; font-size:14px;}
.mgbox  .mgbtxt a { color:#FFFFFF; }
.mgbox  .mgbtxt a:hover { text-decoration:underline;}

/* new game  */
.newgame_menubox { height:41px; background:#343535; margin-top:10px;  }
.newgame_menubox ul { margin:0; padding:0;}
.newgame_menubox ul li { float:left; }
.newgame_menubox ul li a { display:block; width:76px; height:41px; line-height:41px; text-align:center; color:#FFF; background:url(../images/_gameimg/newgameli.png) no-repeat right center; }
.newgame_menubox ul li a:hover , .newgame_menubox ul li a.cur { width:76px; height:43px; margin-top:-1px; background:#f39800; }

.newgame_banner { height:107px; background:#121212; margin-top:1px; }
.newgame_banner_in { height:107px; }
.ngb_mg { background:url(../images/_gameimg/mgLogo.png) no-repeat 79px center;  }


.newgame_search { float:right; padding-top:43px; padding-right:67px;  }
.newgame_input { float: left;  padding-left: 5px; width: 149px;  height: 25px; line-height: 25px; background: #ffffff; border: 0px;  color: #333333; }
.newgame_sub {  float: left; width: 59px; height: 26px; background: url(../images/_gameimg/mgsearch.png) no-repeat;  border: 0px; margin-left: 5px; display: inline; cursor: pointer; }


.newgame_menu2 { height:43px; background:#1f1f1f;  }
.newgame_menu2_text { float:left; width:100px; line-height:43px; height:43px; text-align:center; font-size:14px; color:#ffffff;}
.newgame_menu2_list { float:left; padding-top:5px; }
.newgame_menu2 .newgame_menu2_list a { float:left; display:block; width:77px; height:32px; line-height:32px; text-align:center; font-size:14px; color:#FFF; margin-right:5px; }
.newgame_menu2 .newgame_menu2_list a:hover, .newgame_menu2 .newgame_menu2_list a.cur { background:#333333; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.newgame_main { width:1000px; height:auto; overflow:hidden; margin:0 auto; padding:10px 0px; background:#262626;}
/*subIMG title*/
ol,ul{list-style:none;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
#center { margin:0; padding:0; height:auto; overflow:hidden;  }
#wrapboxbg {}
#wrapbox { width:1000px; margin:0 auto; padding:0; height:auto; }
.wrapc { width:100%; margin:0 auto; padding:0;  }
#hdpublic { width:100%; height:0;}

#wrapindex, #center, .fullwraps, .fullwrap { margin-top:0;}

/*video*/
#main.video { padding-top:10px; }
.video{padding-bottom:10px;}
.video ul li{ float:left; list-style:none;}
.video ul li a { color:#FFFFFF;}
.video h1{padding-top:5px;}
.videoInfo{width:98%;border:none;margin:0 auto;margin-top:10px;}
.videoInfo p{padding:10px; line-height:20px;}
.videoInfo p a{color:#FFFFFF;font-size:16px; font-weight:bold; }
.start{font-size:16px;font-weight:bold;}
#youhui li{margin-top:5px;margin-bottom:5px;text-align:center;}
#youhui .small{cursor:pointer;}
#youhui .big{display:none;}
#youhui .selected{}
