
<form>
	<table betprefix="">
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			{#
			_.map(list, function(item, index, list){
				if(index % 2 == 0){
					print('<tr>');
				}
					print('<td class="ballColor ballcolor-g">' + item.name + '</td>');
					print('<td class="text-red" >' + item.odds + '</td>');
					print('<td><input type="text" name="' + item.name + '" rate="' + item.odds + '" oddsId="' + item.id + '" rakeBack="' + item.rakeBack + '"></td>');
				if(index % 2 != 0 || index == list.length - 1){
					print('</tr>');
				}
			});
			#}
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(9, 'sanzi', 'sanzi_zhongsan', '三字--中三')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
