@charset "utf-8";
/*常用css*/
.fl {
	float: left;
	_display: inline;
}

.fr {
	float: right;
	_display: inline;
}
/*常用字体*/
.yh {
	font-family: 'Microsoft YaHei';
}

.st {
	font-family: 'SimSun';
}

.ar {
	font-family: 'Arial';
}

.roman {
	font-family: "Times New Roman";
}

.tn {
	display: block;
	font-size: 0;
	text-indent: -99999em;
	color: transparent;
}

.tt a:hover {
	text-decoration: underline;
}

.xie {
	font-style: italic;
}

.ddd {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a {
	color: #666;
}

a:hover {
	text-decoration: none;
	color: #6b0018;
}

.btn {
	cursor: pointer;
}

body {
	font-size: 12px;
	color: #666;
	line-height: 24px;
	min-width: 1000px;
	font-family: 'Microsoft YaHei';
}

.l {
	color: #6b0018 !important;
}

.w1000 {
	width: 1000px;
	min-width: 1000px;
	margin: 0 auto;
}
/*header*/
.liveMain {
	background: #000000;
	padding: 10px;
}

.logo-slide {
	background: #2A2A2A;
	padding: 10px;
	margin-bottom: 5px;
	position: relative;
}

.logo-slide .logo-bd {
	position: relative;
	width: 870px;
	padding: 5px 0;
	height: 50px;
	overflow: hidden;
	background: #1B1B1B;
	border: 1px solid #2F2F2F;
	border-radius: 3px;
	margin: 0 auto;
}

.logo-slide .tempWrap {
	width: 868px !important;
	margin: 0 auto;
}

.logo-slide li {
	float: left;
	position: relative;
	border-right: 1px solid #3D3C3C;
}

.logo-slide li a {
	float: left;
	width: 173px;
	height: 50px;
}

.logo-slide li a img {
	display: block;
	width: 100%;
	height: 100%;
}

.logo-slide .prev {
	background: url(../images/leftarr.png) center no-repeat;
	cursor: pointer;
	width: 36px;
	height: 50px;
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -25px;
}

.logo-slide .next {
	background: url(../images/righarr.png) center no-repeat;
	cursor: pointer;
	width: 36px;
	height: 50px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -25px;
}

.live-list {
	position: relative;
	height: auto;
	overflow: hidden;
}

.live-list ul {
	float: left;
	width: 102%;
}

.live-list li {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.live-list a, .live-list img {
	display: block;
	width: 100%;
	height: 100%;
}

.live-list a img, .live-list img img {
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-ms-transform: scale(1.01);
	-o-transform: scale(1.01);
	transform: scale(1.01);
}

.live-list a:hover:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	filter: alpha(opacity = 60);
	opacity: 0.6;
}

.live-list .li-future a:hover:before {
	content: "即将上线";
	width: 100%;
	height: 50px;
	color: #fff;
	font-size: 30px;
	display: block;
	left: 0;
	line-height: 50px;
	top: 50%;
	text-align: center;
	margin-top: -25px;
	position: absolute;
	z-index: 5;
}

.live-list li {
	width: 242px;
	height: 261px;
	position: relative;
	overflow: hidden;
	margin-right: 4px;
}

.live-list .li1 {
	width: 732px;
	height: 474px;
	margin-right: 6px;
}

.live-list .li2 {
	width: 241px;
	height: 474px;
}

.live-more {
	font-size: 24px;
	color: #A6A4A4;
	text-align: center;
	background: #2A2A2A;
	padding: 15px 0;
	margin-top: 10px;
}