<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
//所有玩法
var qiansanList = [
  {
    name: '前三',
    oddPlayItems: [],
  }
]
var zhongsanList = [
  {
    name: '中三',
    oddPlayItems: [],
  }
]
var housanList = [
  {
    name: '后三',
    oddPlayItems: [],
  }
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,nowPlay;
switch ($('.betFilterAnd .curr').text()) {
  case '前三':
    nowPlay = qiansanList;
    break;
  case '中三':
    nowPlay = zhongsanList;
    break;
  case '后三':
    nowPlay = housanList;
    break;
  default:
}
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
	// 判断双面盘的位置，以确认后台数据
	if (rules[0].name === '二字') {
		rule = rules[0];
	}else if (rules[1].name === '二字') {
		rule = rules[1];
	}else if (rules[2].name === '二字') {
		rule = rules[2];
	}else if (rules[3].name === '二字') {
		rule = rules[3];
	}else if (rules[4].name === '二字') {
		rule = rules[4];
	}else if (rules[5].name === '二字') {
		rule = rules[5];
	}else if (rules[6].name === '二字') {
		rule = rules[6];
	}else if (rules[7].name === '二字') {
		rule = rules[7];
	}else if (rules[8].name === '二字') {
		rule = rules[8];
	}else if (rules[9].name === '二字') {
		rule = rules[9];
	}else if (rules[10].name === '二字') {
		rule = rules[10];
	}else if (rules[11].name === '二字') {
		rule = rules[11];
	}else if (rules[12].name === '二字') {
		rule = rules[12];
	}else if (rules[13].name === '二字') {
		rule = rules[13];
	}else if (rules[14].name === '二字') {
		rule = rules[14];
	}else if (rules[15].name === '二字') {
		rule = rules[15];
	}else if (rules[16].name === '二字') {
		rule = rules[16];
	}
  // 二字
  qiansanList[0].oddPlayItems = rule.rules[0].oddPlayItems.slice(0,55);
  zhongsanList[0].oddPlayItems = rule.rules[1].oddPlayItems.slice(0,55);
  housanList[0].oddPlayItems = rule.rules[2].oddPlayItems.slice(0,55);
	$('.sscCheckNumber ul li').html("");
  for(let i in nowPlay){
    let left = '<div class="fix selectNormal">'+
    '<span class="buyNumberTitle">'+nowPlay[0].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in nowPlay[0].oddPlayItems.slice(0,55)){
      right+='<a data-index="'+i+'-'+l+'">'+nowPlay[0].oddPlayItems[l].name+'<p class="plsize">赔:'+nowPlay[0].oddPlayItems[l].odds+'</p></a>';
    }
    let all = left + right;
    $('.sscCheckNumber ul li').append(all)
  };
	// 给玩法添加class
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr')
		$('.detail').text($('.sscCheckNumber .curr').length);
		$('.jine').text((($('.sscCheckNumber .curr').length)*(($('.money').val()-0)*2)*$('.betTotal select').find("option:selected").val()).toFixed(2));
	})
	// 获取游戏说明
  var game_shows;
	let html;
	switch ($('.betFilterAnd .curr').text()) {
		case '前三':
			if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[0].detailDesc;
			}
			html = '<span>'+game_shows+'</span>';
			$('.window_ .text_shows').append(html)
			break;
		case '中三':
			if ($('.betFilterAnd .curr').text() == rule.rules[1].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[1].detailDesc;
			}
			html = '<span>'+game_shows+'</span>';
			$('.window_ .text_shows').append(html)
			break;
		case '后三':
			if ($('.betFilterAnd .curr').text() == rule.rules[2].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[2].detailDesc;
			}
			html = '<span>'+game_shows+'</span>';
			$('.window_ .text_shows').append(html)
			break;
		default:
	}
});
var cart = [];
// 添加注单
$('#betBtn').unbind('click')
$('#betBtn').click(function(event){
	// 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0) {
    alert('请选择一注进行投注');
		$('.detail').text('0');
		$('.money').val(1);
		$('.jine').text('0');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }else if ($('.money').val() == '' || $('.money').val() == 0) {
    alert('请输入投注金额');
		$('.detail').text('0');
		$('.money').val(1);
		$('.jine').text('0');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }
  let haoma = '',winMoney = 0;
  var selectEl = $('.sscCheckNumber .curr');
  let data = [];
  for(let i=0;i<selectEl.length;i++){
    selectEl.eq(i).toggleClass('curr')
    let row = selectEl.eq(i).attr('data-index').split('-')[0]-0;
    let col = selectEl.eq(i).attr('data-index').split('-')[1]-0;
    let obj = nowPlay[row].oddPlayItems[col];
    let bol = false;
    for(let i in cart){
			let name = nowPlay[row].name==$('.buyNumberTitle').text()? obj.name: nowPlay[row].name+'--'+obj.name;
      if(cart[i].name === name){
        bol = true;
				cart[i].note_number += ($(".money").val()*$('#select_id').find("option:selected").val()).toFixed(2)-0;
				cart[i].money += (($(".money").val()*2)*$('#select_id').find("option:selected").val()).toFixed(2)-0;
        continue;
      }
    }
    !bol? cart.push({
      playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
      note_number: $(".money").val()*$('#select_id').find("option:selected").val(),
      money: ($(".money").val()*2)*$('#select_id').find("option:selected").val(),
      name:obj.name,
      oddsId: obj.id,
      playCode: obj.playCode,
      max: obj.maxBetAmmount,
      min: obj.minBetAmmount,
      odds:obj.odds,
    }):''
  }
  createDetail();
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += (cart[i].money).toFixed(2)-0;
	}
	$('.betTotal .tzje').text(ztzje.toFixed(2)-0);
})
function createDetail (){
  $('.checkedList tbody').html('');
	for(let i in cart){
    let html = '<tr>'+
              '<td>'+
                '<i class="order_type">'+
                  '['+cart[i].playsName+']'+cart[i].name+
                '</i>'+
              '</td>'+
              '<td>'+1+'注</td>'+
							'<td>'+(cart[i].note_number).toFixed(2)+'倍</td>'+
              '<td>'+(cart[i].money).toFixed(2)+'元</td>'+
              '<td>'+
                '可中金额'+
                '<i class="orderMoney">'+
                  '<i>'+((cart[i].money)*cart[i].odds).toFixed(2)+'元</i>'+
                '</i>'+
              '</td>'+
              '<td><a class="orderCancel" onclick="del(this)"  data-index="'+i+'"  >删除</a></td>'+
            '</tr>'
    $('.checkedList tbody').append(html)
  }
	$('.detail').text('0');
	$('.money').val(1);
	$('.jine').text('0');
}
// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	$('#layermbox16').removeAttr("style");
	// 判断下注金额是否大于1元
	for(let i in cart){
		if (cart[i].money < 1) {
			let html = '<div class="layerConfirm">投注金额不得少于1元钱</div>'
	    $('.layermcont').html(html)
			$("span#submitBtn").hide();
			cart = [];
			return;
		}
	}
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
  var content = $(".checkedList tbody").html();
  if (content == null || content == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$("span#submitBtn").hide();
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+$('.tzje').text()+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$("span#submitBtn").show();
	}

  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
  }
})
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: cart[i].money,
      name: cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
	// 提交数据到后台，获取后台返回结果
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
			$('.detail').text('0');
			$('.zdsl').text('0');
			$('.tzje').text('0');
			$('.eachPrice').val('');
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('._mybetContent tbody').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
			$('.detail').text('0');
			$('.zdsl').text('0');
			$('.tzje').text('0');
			$('.eachPrice').val('');
			$('.buyNumber a').removeClass('curr');
    }
  });
})
// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
 // 删除注单
 function del(a){
   let index = $(a).attr('data-index');
   $(a).parents("tr").remove();
   cart.splice(index, 1)
 	var amount = 0; // 投注金额
 	var zdshuliang = 0; // 注单数量
 	for (let n in cart){
 		amount += cart[n].money;
 	}
 	zdshuliang += cart.length;
 	$('.betTotal .zdsl').text(zdshuliang)
 	var ztzje = 0; // 用于计算总投注金额
 	for (let i in cart) {
 		ztzje += cart[i].money;
 	}
 	$('.betTotal .tzje').text(ztzje)
 	createDetail();
 }
</script>
<style media="screen">
	.logo {
		height: 1450px;
	}
	.buyNumberTitle{
	  margin-right: 40px;
	}
	.buyNumber{
	  width: 580px;
	}
	.buyNumber a, .buyNumber ins {
		margin-bottom: 25px;
		float: left;
	}
	.selectNormal .buyNumber .plsize {
    font-size: 15px;
    font-family: cursive;
    color: #313131;
    width: 65px;
    margin: -9px 0px 0 -4px;
	}
	.buyNumber a {
    width: 58px;
    height: 40px;
    border-radius: 5px;
	}
</style>
