<!-- 十位玩法 -->
<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
//所有玩法
var heweishuList = [
  {
    name: '万仟',
    oddPlayItems: []
  },
  {
    name: '万佰',
    oddPlayItems: []
  },
  {
    name: '万拾',
    oddPlayItems: []
  },
  {
    name: '万个',
    oddPlayItems: []
  },
  {
    name: '仟佰',
    oddPlayItems: []
  },
  {
    name: '仟拾',
    oddPlayItems: []
  },
  {
    name: '仟个',
    oddPlayItems: []
  },
  {
    name: '佰拾',
    oddPlayItems: []
  },
  {
    name: '佰个',
    oddPlayItems: []
  },
  {
    name: '拾个',
    oddPlayItems: []
  },
	{
    name: '前三',
    oddPlayItems: []
  },
  {
    name: '中三',
    oddPlayItems: []
  },
  {
    name: '后三',
    oddPlayItems: []
  },
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist;
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
	// 判断双面盘的位置，以确认后台数据
	if (rules[0].name === '和尾数') {
		rule = rules[0];
	}else if (rules[1].name === '和尾数') {
		rule = rules[1];
	}else if (rules[2].name === '和尾数') {
		rule = rules[2];
	}else if (rules[3].name === '和尾数') {
		rule = rules[3];
	}else if (rules[4].name === '和尾数') {
		rule = rules[4];
	}else if (rules[5].name === '和尾数') {
		rule = rules[5];
	}else if (rules[6].name === '和尾数') {
		rule = rules[6];
	}else if (rules[7].name === '和尾数') {
		rule = rules[7];
	}else if (rules[8].name === '和尾数') {
		rule = rules[8];
	}else if (rules[9].name === '和尾数') {
		rule = rules[9];
	}else if (rules[10].name === '和尾数') {
		rule = rules[10];
	}else if (rules[11].name === '和尾数') {
		rule = rules[11];
	}else if (rules[12].name === '和尾数') {
		rule = rules[12];
	}else if (rules[13].name === '和尾数') {
		rule = rules[13];
	}else if (rules[14].name === '和尾数') {
		rule = rules[14];
	}else if (rules[15].name === '和尾数') {
		rule = rules[15];
	}else if (rules[16].name === '和尾数') {
		rule = rules[16];
	}
  // 和尾数
	for(let i in heweishuList){
		for(let j=0;j<6;j++){
			let obj = deepCopy(rule.rules[0].oddPlayItems[0]);
			switch (j) {
				case 0:
					obj.name = '大';
					break;
				case 1:
					obj.name = '小';
					break;
				case 2:
					obj.name = '单';
					break;
				case 3:
					obj.name = '双';
					break;
				case 4:
					obj.name = '质';
					break;
				case 5:
					obj.name = '合';
					break;
				default:
			}
			heweishuList[i].oddPlayItems.push(obj)
		}
	}
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in heweishuList){
    let yuansu = '<div class="fix selectNormal">'+
    '<span class="buyNumberTitle">'+heweishuList[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in heweishuList[i].oddPlayItems){
      right+='<a data-index="'+i+'-'+l+'">'+heweishuList[i].oddPlayItems[l].name+'<p class="plsize">赔:'+heweishuList[i].oddPlayItems[l].odds+'</p></a>';
    }
    let all = yuansu + right
    $('.sscCheckNumber ul li').append(all)
  }
	// 给玩法添加class
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr')
		$('.detail').text($('.sscCheckNumber .curr').length);
		$('.jine').text((($('.sscCheckNumber .curr').length)*(($('.money').val()-0)*2)*$('.betTotal select').find("option:selected").val()).toFixed(2));
	})
	// 获取游戏说明
  var game_shows
  if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
    $('.window_ .text_shows').html('');
    game_shows = rule.rules[0].detailDesc;
  }
	let html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
var cart = [];
// 添加注单
$('#betBtn').unbind('click');
$('#betBtn').click(function(event){
	// 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0) {
    alert('请选择一注进行投注');
		$('.detail').text('0');
		$('.money').val(1);
		$('.jine').text('0');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }else if ($('.money').val() == '' || $('.money').val() == 0) {
    alert('请输入投注金额');
		$('.detail').text('0');
		$('.money').val(1);
		$('.jine').text('0');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }
  let haoma = '',winMoney = 0;
  var selectEl = $('.sscCheckNumber .curr');
  let data = [];
  for(let i=0;i<selectEl.length;i++){
    selectEl.eq(i).toggleClass('curr')
    let row = selectEl.eq(i).attr('data-index').split('-')[0]-0;
    let col = selectEl.eq(i).attr('data-index').split('-')[1]-0;
    let obj = heweishuList[row].oddPlayItems[col];
    let bol = false;
    for(let i in cart){
			let name = heweishuList[row].name=='万仟'? obj.name: heweishuList[row].name+'--'+obj.name;
      if(cart[i].name === name){
        bol = true;
				cart[i].note_number += ($(".money").val()*$('#select_id').find("option:selected").val()).toFixed(2)-0;
				cart[i].money += (($(".money").val()*2)*$('#select_id').find("option:selected").val()).toFixed(2)-0;
        continue;
      }
    }
    !bol? cart.push({
      playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
      note_number: $(".money").val()*$('#select_id').find("option:selected").val(),
      money: ($(".money").val()*2)*$('#select_id').find("option:selected").val(),
      name:heweishuList[row].name+'--'+obj.name,
      rowName:heweishuList[row].name,
      oddsId: obj.id,
      playCode: obj.playCode,
      max: obj.maxBetAmmount,
      min: obj.minBetAmmount,
      odds:obj.odds,
    }):''
  }
  createDetail();
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += (cart[i].money).toFixed(2)-0;
	}
	$('.betTotal .tzje').text(ztzje.toFixed(2)-0);
})
function createDetail (){
  $('.checkedList tbody').html('');
	for(let i in cart){
    let html = '<tr>'+
              '<td>'+
                '<i class="order_type">'+
                  '['+cart[i].playsName+']'+cart[i].name+
                '</i>'+
              '</td>'+
              '<td>'+1+'注</td>'+
							'<td>'+(cart[i].note_number).toFixed(2)+'倍</td>'+
              '<td>'+(cart[i].money).toFixed(2)+'元</td>'+
              '<td>'+
                '可中金额'+
                '<i class="orderMoney">'+
                  '<i>'+((cart[i].money)*cart[i].odds).toFixed(2)+'元</i>'+
                '</i>'+
              '</td>'+
              '<td><a class="orderCancel" onclick="del(this)"  data-index="'+i+'"  >删除</a></td>'+
            '</tr>'
    $('.checkedList tbody').append(html)
  }
	$('.detail').text('0');
	$('.money').val(1);
	$('.jine').text('0');
}
// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	$('#layermbox16').removeAttr("style");
	// 判断下注金额是否大于1元
	for(let i in cart){
		if (cart[i].money < 1) {
			let html = '<div class="layerConfirm">投注金额不得少于1元钱</div>'
	    $('.layermcont').html(html)
			$("span#submitBtn").hide();
			cart = [];
			return;
		}
	}
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
  var content = $(".checkedList tbody").html();
  if (content == null || content == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$("span#submitBtn").hide();
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+$('.tzje').text()+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$("span#submitBtn").show();
	}

  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
  }
})
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: cart[i].money,
      name: cart[i].name,
      oddsId: cart[i].oddsId.toString(),
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
	// 提交数据到后台，获取后台返回结果
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
			$('.detail').text('0');
			$('.zdsl').text('0');
			$('.tzje').text('0');
			$('.eachPrice').val('');
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('._mybetContent tbody').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
			$('.detail').text('0');
			$('.zdsl').text('0');
			$('.tzje').text('0');
			$('.eachPrice').val('');
			$('.buyNumber a').removeClass('curr');
    }
  });
})
// 删除注单
function del(a){
  let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
	createDetail();
}
// 对象深拷贝函数
function deepCopy(object){
	 let obj = new Object();
	 for(let k in object){
		 obj[k] = object[k]
	 }
	 obj.isActive = false;
	 return obj
 }
</script>
<style media="screen">
  .betRight .winnerListSlide{
    height: 712px;
  }
  .logo{
    height: 2050px;
  }
	.buyNumber a {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-size: 22px;
	}
	.buyNumber {
    min-width: 500px;
    text-align: center;
    margin: 0px 0px 25px 30px;
	}
	.selectNormal .buyNumber .plsize {
    font-size: 15px;
    font-family: cursive;
    color: #313131;
    width: 68px;
    margin: -7px 0px 0 7px;
	}
</style>
