<!-- 十位玩法 -->
<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
//所有玩法
var wanweiList = [
  {
    name: '万位',
    oddPlayItems: []
  },
  {
    name: '双面',
    oddPlayItems: []
  },
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist;
var cart = [];
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
  rule = rules[1];
  // 双面
  wanweiList[1].oddPlayItems = rules[1].rules[0].oddPlayItems.slice(0,7);
  let dxdszh = rules[1].rules[0].oddPlayItems.slice(7,13);
  // 数字0-9
  for(let i=0;i<10;i++){
    let obj = rules[1].rules[0].oddPlayItems[13];
    let newobj = new Object();
          for(let k in obj){
            newobj[k] = obj[k]
    }
    newobj.name = i;
    wanweiList[0].oddPlayItems.push(newobj);
  }
  for(let i in dxdszh){
    wanweiList[0].oddPlayItems.push(dxdszh[i]);
  }
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in wanweiList){
    let yuansu = '<div class="fix selectNormal">'+
    '<span class="buyNumberTitle">'+wanweiList[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in wanweiList[i].oddPlayItems.slice(0,10)){
      if(i==0){
        right+='<a data-index="'+i+'-'+l+'">'+wanweiList[i].oddPlayItems[l].name+'</a>';
      }
    }
		for (let n in wanweiList[1].oddPlayItems.slice(0,7)) {
			if (i==1) {
				right+='<a data-index="'+i+'-'+n+'">'+wanweiList[i].oddPlayItems[n].name.replace(/总和/g, '')+'</a>';
			}
		}
    let dxds = '';
    for(let j in wanweiList[i].oddPlayItems.slice(10,16)){
      dxds += '<a data-index="'+i+'-'+((j-0)+10)+'">'+dxdszh[j].name+'</a>'
    }
    let all = yuansu + right+ '</div><div class="buyNumberFilter">' + dxds +'</div></div>'
		i==1? all = yuansu + right+ '</div></div>':''
    $('.sscCheckNumber ul li').append(all)
  }
	// 给玩法添加class
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr')
		// console.log($('.sscCheckNumber .curr').length);
		$('.detail').text($('.sscCheckNumber .curr').length);
		$('.jine').text((($('.sscCheckNumber .curr').length)*(($('.money').val()-0)*2)*$('.betTotal select').find("option:selected").val()).toFixed(2));
	})
	// console.log(rulist);
	// 获取游戏说明
  var game_shows
  if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
    $('.window_ .text_shows').html('');
    game_shows = rule.rules[0].detailDesc;
  }
	let html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
// 添加注单
$('#betBtn').unbind('click');
$('#betBtn').click(function(event){
	// 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0) {
    alert('请选择一注进行投注');
		$('.detail').text('0');
		$('.money').val(1);
		$('.jine').text('0');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }else if ($('.money').val() == '' || $('.money').val() == 0) {
    alert('请输入投注金额');
		$('.detail').text('0');
		$('.money').val(1);
		$('.jine').text('0');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }
  let haoma = '',winMoney = 0;
  var selectEl = $('.sscCheckNumber .curr');
  let data = [];
  for(let i=0;i<selectEl.length;i++){
    selectEl.eq(i).toggleClass('curr')
    let row = selectEl.eq(i).attr('data-index').split('-')[0]-0;
    let col = selectEl.eq(i).attr('data-index').split('-')[1]-0;
    let obj = wanweiList[row].oddPlayItems[col];
    let bol = false;
    for(let i in cart){
			let name = wanweiList[row].name=='万位' || wanweiList[row].name=='双面'? obj.name: wanweiList[row].name+'--'+obj.name;
      if(cart[i].name === name){
        bol = true;
				cart[i].note_number += ($(".money").val()*$('#select_id').find("option:selected").val()).toFixed(2)-0;
				cart[i].money += (($(".money").val()*2)*$('#select_id').find("option:selected").val()).toFixed(2)-0;
        continue;
      }
    }
    !bol? cart.push({
      playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
      note_number: $(".money").val()*$('#select_id').find("option:selected").val(),
      money: (($(".money").val()*2)*$('#select_id').find("option:selected").val()),
      name:obj.name,
      rowName:wanweiList[row].name,
      oddsId: obj.id,
      playCode: obj.playCode,
      max: obj.maxBetAmmount,
      min: obj.minBetAmmount,
      odds:obj.odds,
    }):''
  }
  createDetail();
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += (cart[i].money).toFixed(2)-0;
	}
	$('.betTotal .tzje').text(ztzje.toFixed(2)-0);
})
function createDetail (){
  $('.checkedList tbody').html('');
	for(let i in cart){
    let html = '<tr>'+
              '<td>'+
                '<i class="order_type">'+
                  '['+cart[i].playsName+']'+cart[i].rowName+'--'+cart[i].name+
                  // '<span>...</span>'+
                '</i>'+
                // '<a class="orderDetail">详细</a>'+
              '</td>'+
              '<td>'+1+'注</td>'+
							'<td>'+(cart[i].note_number).toFixed(2)+'倍</td>'+
              '<td>'+(cart[i].money).toFixed(2)+'元</td>'+
              '<td>'+
                '可中金额'+
                '<i class="orderMoney">'+
                  '<i>'+((cart[i].money)*cart[i].odds).toFixed(2)+'元</i>'+
                '</i>'+
              '</td>'+
              '<td><a class="orderCancel" onclick="del(this)"  data-index="'+i+'"  >删除</a></td>'+
            '</tr>'
    $('.checkedList tbody').append(html)
  }
	$('.detail').text('0');
	$('.money').val(1);
	$('.jine').text('0');
}
// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	$('#layermbox16').removeAttr("style");
	// 判断下注金额是否大于1元
	for(let i in cart){
		if (cart[i].money < 1) {
			let html = '<div class="layerConfirm">投注金额不得少于1元钱</div>'
	    $('.layermcont').html(html)
			$("span#submitBtn").hide();
			cart = [];
			return;
		}
	}
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
  var content = $(".checkedList tbody").html();
  if (content == null || content == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$("span#submitBtn").hide();
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                // '['+betting.playsName+']'+betting.name+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+$('.tzje').text()+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$("span#submitBtn").show();
	}

  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
  }
})
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: cart[i].money,
      name: cart[i].rowName === "万位"? cart[i].name.toString(): cart[i].rowName.replace('双面', '万千--')+cart[i].name,
      oddsId: cart[i].oddsId.toString(),
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
	// 提交数据到后台，获取后台返回结果
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
			$('.detail').text('0');
			$('.zdsl').text('0');
			$('.tzje').text('0');
			$('.eachPrice').val('');
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('._mybetContent tbody').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
			$('.detail').text('0');
			$('.zdsl').text('0');
			$('.tzje').text('0');
			$('.eachPrice').val('');
			$('.buyNumber a').removeClass('curr');
    }
  });
})
// 删除注单
function del(a){
  let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
	createDetail();
}
</script>
<style media="screen">
	.buyNumber a{
		float: left;
	}
</style>
