<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
//所有玩法
var zhengList = [
  {
    name: '总和',
    oddPlayItems: [],
  },
  {
    name: '万位',
    oddPlayItems: []
  },
  {
    name: '千位',
    oddPlayItems: []
  },
  {
    name: '百位',
    oddPlayItems: []
  },
  {
    name: '十位',
    oddPlayItems: []
  },
  {
    name: '个位',
    oddPlayItems: []
  },
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,rules;
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  rules = result.content.rules;
  rulist = result.content;
  rule = rules[0];

  // 总和
  zhengList[0].oddPlayItems = rules[0].rules[0].oddPlayItems.slice(0,4);
  let dxdszh = rules[0].rules[0].oddPlayItems.slice(4,10);
  // 数字0-9
  for(let i=0;i<10;i++){
    let obj = rules[0].rules[0].oddPlayItems[10];
    let newobj = new Object();
          for(let k in obj){
            newobj[k] = obj[k]
    }
    newobj.name = i;
    zhengList[1].oddPlayItems.push(newobj);
    zhengList[2].oddPlayItems.push(newobj);
    zhengList[3].oddPlayItems.push(newobj);
    zhengList[4].oddPlayItems.push(newobj);
    zhengList[5].oddPlayItems.push(newobj);
  }
  for(let i in dxdszh){
    zhengList[1].oddPlayItems.push(dxdszh[i]);
    zhengList[2].oddPlayItems.push(dxdszh[i]);
    zhengList[3].oddPlayItems.push(dxdszh[i]);
    zhengList[4].oddPlayItems.push(dxdszh[i]);
    zhengList[5].oddPlayItems.push(dxdszh[i]);
  }
	$('.sscCheckNumber ul li').html("");
  for(let i in zhengList){
    let yuansu = '<div class="fix selectNormal" style="margin: 15px 0;">'+
    '<span class="buyNumberTitle">'+zhengList[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in zhengList[i].oddPlayItems.slice(0,10)){
      if(i==0){
        right+='<a data-index="'+i+'-'+l+'">'+zhengList[i].oddPlayItems[l].name.replace(/总和/g, '')+'</a>';
      }else {
        right+='<a data-index="'+i+'-'+l+'">'+zhengList[i].oddPlayItems[l].name+'</a>';
      }
    }
    let dxds = '';
    for(let j in zhengList[i].oddPlayItems.slice(10,16)){
      dxds += '<a data-index="'+i+'-'+((j-0)+10)+'">'+dxdszh[j].name+'</a>'
    }
    let all = yuansu + right+ '</div><div class="buyNumberFilter">' + dxds +'</div></div>';
		i==0? all = yuansu + right+ '</div></div>':''
    $('.sscCheckNumber ul li').append(all)
  }
	// 给玩法添加class
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr');
		$('.detail').text($('.sscCheckNumber .curr').length);
		$('.jine').text((($('.sscCheckNumber .curr').length)*(($('.money').val()-0)*2)*$('.betTotal select').find("option:selected").val()).toFixed(2));
	})
	// 点击全大小奇偶清的事件
	$(".buyNumberFilter a").click(function(){
		var rightcilck = $(this).parent().siblings('.buyNumber').children();
		$(this).siblings().removeClass("curr");
		$($(this).parent().siblings('.buyNumber').children().removeClass("cur_"));
		if ($(this).attr('class')!=="curr") {
			return
		}
		switch ($(this).text()) {
			case "大":
				rightcilck.slice(5,11).toggleClass("cur_");
				break;
			case "小":
				rightcilck.slice(0,5).toggleClass("cur_");
				break;
			case "单":
				rightcilck.each(function(){
					var num = $(this).html() % 2;
					if(num == 1){
						$(this).addClass('cur_');
					}
				})
				break;
			case "双":
				rightcilck.each(function(){
					var num = $(this).html() % 2;
					if(num == 0){
						$(this).addClass('cur_');
					}
				})
				break;
			case "质":
				rightcilck.each(function(){
					var num = $(this).html();
					if(num == "1" || num == "2" || num == "3" || num == "5" || num == "7"){
						$(this).addClass('cur_');
					}
					console.log($(this).html());
				})
				break;
			case "合":
				rightcilck.each(function(){
					var num = $(this).html();
					if(num == "0" || num == "4" || num == "6" || num == "8" || num == "9"){
						$(this).addClass('cur_');
					}
				})
				break;
			default:
		}
	})
	// 获取游戏说明
  var game_shows
  if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
    $('.window_ .text_shows').html('');
    game_shows = rule.rules[0].detailDesc;
  }
	let html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').html(html)
});
var cart = [];
// 添加注单
$('#betBtn').unbind('click');
$('#betBtn').click(function(event){
	// 计算注单数量
	$('.buyNumber a').removeClass('cur_');
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0) {
    alert('请选择一注进行投注');
		$('.detail').text('0');
		$('.money').val(1);
		$('.jine').text('0');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }else if ($('.money').val() == '' || $('.money').val() == 0) {
    alert('请输入投注金额');
		$('.detail').text('0');
		$('.money').val(1);
		$('.jine').text('0');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }
  let haoma = '',winMoney = 0;
  var selectEl = $('.sscCheckNumber .curr');
  let data = [];
  for(let i=0;i<selectEl.length;i++){
    selectEl.eq(i).toggleClass('curr')
    let row = selectEl.eq(i).attr('data-index').split('-')[0]-0;
    let col = selectEl.eq(i).attr('data-index').split('-')[1]-0;
    let obj = zhengList[row].oddPlayItems[col];
    let bol = false;
    for(let i in cart){
			let name = zhengList[row].name=='总和'? obj.name: zhengList[row].name+'--'+obj.name;
      if(cart[i].name === name){
        bol = true;
        cart[i].note_number += ($(".money").val()*$('#select_id').find("option:selected").val()).toFixed(2)-0;
				cart[i].money += (($(".money").val()*2)*$('#select_id').find("option:selected").val()).toFixed(2)-0;
        continue;
      }
    }
    !bol? cart.push({
      playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
      note_number: ($(".money").val()*$('#select_id').find("option:selected").val()),
      money: (($(".money").val()*2)*$('#select_id').find("option:selected").val()),
      name:zhengList[row].name=='总和'? obj.name: zhengList[row].name+'--'+obj.name,
      oddsId: obj.id,
      playCode: obj.playCode,
      max: obj.maxBetAmmount,
      min: obj.minBetAmmount,
      odds:obj.odds,
    }):''
  }
  createDetail();
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += (cart[i].money).toFixed(2)-0;
	}
	$('.betTotal .tzje').text(ztzje.toFixed(2)-0);
})
function createDetail (){
  $('.checkedList tbody').html('');
	for(let i in cart){
    let html = '<tr>'+
              '<td>'+
                '<i class="order_type">'+
                  '['+cart[i].playsName+']'+cart[i].name+
                '</i>'+
              '</td>'+
              '<td>'+1+'注</td>'+
              '<td>'+(cart[i].note_number).toFixed(2)+'倍</td>'+
              '<td>'+(cart[i].money).toFixed(2)+'元</td>'+
              '<td>'+
                '可中金额'+
                '<i class="orderMoney">'+
                  '<i>'+((cart[i].money)*cart[i].odds).toFixed(2)+'元</i>'+
                '</i>'+
              '</td>'+
              '<td><a class="orderCancel" onclick="del(this)"  data-index="'+i+'"  >删除</a></td>'+
            '</tr>'
    $('.checkedList tbody').append(html)
  }
	$('.detail').text('0');
	$('.money').val(1);
	$('.jine').text('0');
}
// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	$('#layermbox16').removeAttr("style");
	// 判断下注金额是否大于1元
	for(let i in cart){
		if (cart[i].money < 1) {
			let html = '<div class="layerConfirm">投注金额不得少于1元钱</div>'
	    $('.layermcont').html(html)
			$("span#submitBtn").hide();
			cart = [];
			return;
		}
	}
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
  var content = $(".checkedList tbody").html();
  if (content == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$("span#submitBtn").hide();
		cart = [];
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+$('.tzje').text()+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$("span#submitBtn").show();
	}

  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
  }
})
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: cart[i].money,
      name: cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
	// 提交数据到后台，获取后台返回结果
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
			$('.detail').text('0');
			$('.zdsl').text('0');
			$('.tzje').text('0');
			$('.eachPrice').val('');
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('._mybetContent tbody').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
			$('.detail').text('0');
			$('.zdsl').text('0');
			$('.tzje').text('0');
			$('.eachPrice').val('');
			$('.buyNumber a').removeClass('curr');
    }
  });
})
 // 游戏说明显示
	$('#game_shows').click(function(){
		$('.game_shows').css('display','block')
	})

// 删除注单
function del(a){
  let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
	createDetail();
}
</script>
<style media="screen">
	.logo {
		height: 1420px;
	}
	.buyNumber a {
		width: 40px;
		height: 40px;
    border-radius: 50%;
    margin: 5px 0px 0 10px;
	}
	.buyNumber .cur_{
		background: linear-gradient(180deg,#a7a7a7 30%,#d8d8d8);
		background: -moz-linear-gradient(to bottom,#d64b15 30%,#ea6a31 100%);
		/* background-image: url(/static/img/D64B15.68398be.jpg); */
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		background-size: 100% 100%;
		border: 1px solid #cacaca;
		color: #fff;
		text-decoration: blink;
		box-shadow: inherit;
	}
	.buyNumber .curr{
		background: linear-gradient(180deg,#d64b15 30%,#ea6a31) !important;
    border: 1px solid #d24c10 !important;
	}
</style>
