<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
//所有玩法
var qiansanList = [
  {
    name: '前三',
    oddPlayItems: [],
  }
]
var zhongsanList = [
  {
    name: '中三',
    oddPlayItems: [],
  }
]
var housanList = [
  {
    name: '后三',
    oddPlayItems: [],
  }
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,nowPlay,zuxuanliuList;
// console.log($('.betFilterAnd .curr').text());
switch ($('.betFilterAnd .curr').text()) {
  case '前三':
    nowPlay = qiansanList;
    break;
  case '中三':
    nowPlay = zhongsanList;
    break;
  case '后三':
    nowPlay = housanList;
    break;
  default:
}

$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
	// 判断双面盘的位置，以确认后台数据
	if (rules[0].name === '组选六') {
		rule = rules[0];
	}else if (rules[1].name === '组选六') {
		rule = rules[1];
	}else if (rules[2].name === '组选六') {
		rule = rules[2];
	}else if (rules[3].name === '组选六') {
		rule = rules[3];
	}else if (rules[4].name === '组选六') {
		rule = rules[4];
	}else if (rules[5].name === '组选六') {
		rule = rules[5];
	}else if (rules[6].name === '组选六') {
		rule = rules[6];
	}else if (rules[7].name === '组选六') {
		rule = rules[7];
	}else if (rules[8].name === '组选六') {
		rule = rules[8];
	}else if (rules[9].name === '组选六') {
		rule = rules[9];
	}else if (rules[10].name === '组选六') {
		rule = rules[10];
	}else if (rules[11].name === '组选六') {
		rule = rules[11];
	}else if (rules[12].name === '组选六') {
		rule = rules[12];
	}else if (rules[13].name === '组选六') {
		rule = rules[13];
	}else if (rules[14].name === '组选六') {
		rule = rules[14];
	}else if (rules[15].name === '组选六') {
		rule = rules[15];
	}else if (rules[16].name === '组选六') {
		rule = rules[16];
	}
  for(let i in rules){
    if(rules[i].name === "组选六"){
      // 一字
      zuxuanliuList  = rules[i].rules;
    }
  }

  for (let i in zuxuanliuList){
    // 数字0-9
    for(let j=0;j<10;j++){
      let obj = deepCopy(rule.rules[i].oddPlayItems[0]);
      obj.name = j;
      switch (i) {
        case '0':
          qiansanList[0].oddPlayItems.push(obj);
          break;
        case '1':
          zhongsanList[0].oddPlayItems.push(obj);
          break;
        case '2':
          housanList[0].oddPlayItems.push(obj);
          break;
        default:
      }
    }
  }
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in nowPlay){
    let left = '<div class="fix selectNormal">'+
    '<span class="buyNumberTitle">'+nowPlay[0].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in nowPlay[i].oddPlayItems.slice(0,10)){
      if(i==0){
        right+='<a data-index="'+i+'-'+l+'">'+nowPlay[i].oddPlayItems[l].name+'<p class="plsize"></p></a>';
      }
    }
    let all = left + right;
    $('.sscCheckNumber ul li').append(all)
  };
	// 给玩法添加class
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr');
		let tz_length = $('.sscCheckNumber .curr').length;
		$('.detail').text(tz_length);
		$('.jine').text((($('.sscCheckNumber .curr').length)*($('.money').val()-0)*2).toFixed(2))
		switch (tz_length) {
			case 4:
				$('.zdpl .dqpl').text(rule.rules[0].oddPlayItems[0].odds);
				break;
			case 5:
				$('.zdpl .dqpl').text(rule.rules[0].oddPlayItems[1].odds);
				break;
			case 6:
				$('.zdpl .dqpl').text(rule.rules[0].oddPlayItems[2].odds);
				break;
			case 7:
				$('.zdpl .dqpl').text(rule.rules[0].oddPlayItems[3].odds);
				break;
			case 8:
				$('.zdpl .dqpl').text(rule.rules[0].oddPlayItems[4].odds);
				break;
			default:
		}
		if (tz_length >= 4 && tz_length <= 8) {
			$('.zdpl').show();
		}else if (tz_length < 4 || tz_length > 8) {
			$('.zdpl').hide();
		}
	})
	// 获取游戏说明
  var game_shows;
	let html;
	switch ($('.betFilterAnd .curr').text()) {
		case '前三':
			if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[0].detailDesc;
			}
			html = '<span>'+game_shows+'</span>';
			$('.window_ .text_shows').append(html)
			break;
		case '中三':
			if ($('.betFilterAnd .curr').text() == rule.rules[1].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[1].detailDesc;
			}
			html = '<span>'+game_shows+'</span>';
			$('.window_ .text_shows').append(html)
			break;
		case '后三':
			if ($('.betFilterAnd .curr').text() == rule.rules[2].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[2].detailDesc;
			}
			html = '<span>'+game_shows+'</span>';
			$('.window_ .text_shows').append(html)
			break;
		default:
	}
});
var cart = [];

$('#betBtnn').unbind('click')
// 注单投注
$('#betBtnn').click(function(){
	var conten = [];
  //  获取本身元素的文本值，子元素除外
  var contStr = $('.sscCheckNumber .curr').contents().filter(function (index, content) {
    return content.nodeType === 3;
  }).text();
  for (let i in contStr) {
    conten.push(contStr[i])
  }
  if (conten.length < 4 || conten.length > 8) {
    let html = '<div class="layerConfirm">请选择4-8个号码之间进行投注</div>'
    $('.layermcont').html(html);
    $('#layermbox16').show();
    $("span#submitBtn").hide();
    cart = [];
    return;
  }
  // console.log(conten);
  var ganame;
  ganame = rulist.name;
	var betting = $('#kjmoney').val();  // 用于计算总投注的金额
	let data = [];
  let obj;
  switch ($('.betFilterAnd .curr').text()) {
    case '前三':
      for(let i in zuxuanliuList[0].oddPlayItems){
        if(conten.length == zuxuanliuList[0].oddPlayItems[i].isNowYear){
          obj = zuxuanliuList[0].oddPlayItems[i]
        }
      }
      break;
    case '中三':
      for(let i in zuxuanliuList[1].oddPlayItems){
        if(conten.length == zuxuanliuList[1].oddPlayItems[i].isNowYear){
          obj = zuxuanliuList[1].oddPlayItems[i]
        }
      }
      break;
    case '后三':
      for(let i in zuxuanliuList[2].oddPlayItems){
        if(conten.length == zuxuanliuList[2].oddPlayItems[i].isNowYear){
          obj = zuxuanliuList[2].oddPlayItems[i]
        }
      }
      break;
    default:
  }

  cart.push({
    playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
    note_number: $("#kjmoney").val()-0,
    money: $("#kjmoney").val()-0,
    name:conten.toString(),
    oddsId: obj.id,
    playCode: obj.playCode,
    max: obj.maxBetAmmount,
    min: obj.minBetAmmount,
    odds:obj.odds,
  })
  if ($('#kjmoney').val() == 0 || $('#kjmoney').val() == null) {
    let html = '<div class="layerConfirm">请输入投注金额</div>'
    $('.layermcont').html(html);
    $("span#submitBtn").hide();
    $('#layermbox16').show();
    cart = [];
  }else if (conten.length >=4 || conten.length <= 8) {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                // '['+betting.playsName+']'+betting.name+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+betting+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>';
  $('.layermcont').html(html_)
  $('#layermbox16').show();
  $("span#submitBtn").show();
  }
  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
    // $('._submitPlansMoney').append((betting.note_number))
  }
	$('#quxiao').click(function(){
		$('#layermbox16').attr('style','display:none');
		$('.textarea').html('');
		cart = [];
		$('#kjmoney').val('');
		var selectEl = $('.sscCheckNumber .curr');
	  for(let i=0;i<selectEl.length;i++){
	    selectEl.eq(i).toggleClass('curr')
	  }
	});
})


//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  // console.log(rule);
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  data.push({
    max: cart[0].max.toString(),
    min: cart[0].min.toString(),
    money: cart[0].money,
    name: cart[0].name,
    oddsId: cart[0].oddsId,
    playCode: cart[0].playCode,
  })
  formData.data = JSON.stringify(data);
  // 将数据提交到后台
  $.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('#layermbox16').attr('style','display:none;')
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('.zdpl').hide();
			$('._mybetContent tbody').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.zdpl').hide();
    }
    $('#kjmoney').val('');
		$('.textarea').html('');
		var selectEl = $('.sscCheckNumber .curr');
	  for(let i=0;i<selectEl.length;i++){
	    selectEl.eq(i).toggleClass('curr')
	  }
  })

})

// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })

</script>
<style media="screen">
  .buyNumberTitle{
    margin-right: 15px;
  }
  .buyNumber{
    width: 616px;
  }
  .touzhu{
    width: 390px;
    height: 40px;
    margin: 0 auto;
  }
  .tz_jine{
    width: 300px;
    height: 50px;
    float: left;
    font-size: 16px;
    overflow: hidden;
  }
  #kjmoney, .input-group{
    font-weight: 400;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 28%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    box-sizing: border-box;
    float: left;
  }
  #kjmoney {
    line-height: 1.528571;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-left: none;
    width: 56%;
  }
  .betBtn{
    display: block;
    margin: 0 auto;
    line-height: 44px;
    font-size: 20px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    background: #ea6a31;
    color: #fff;
    margin-bottom: 22px;
    cursor: pointer;
  }
  .betBtn_qr{
    display: block;
    float: right;
    line-height: 31px;
    font-size: 14px;
    border-radius: 5px;
    width: 65px;
    height: 34px;
    text-align: center;
    background: #ea6a31;
    color: #fff;
    cursor: pointer;
  }
  .betBtn_qk {
    display: block;
    float: left;;
    line-height: 31px;
    font-size: 14px;
    border-radius: 5px;
    width: 57px;
    height: 34px;
    text-align: center;
    background: #a0a0a0;
    color: #fff;
    cursor: pointer;
  }
  .touzhu_zd {
    width: 450px;
    height: 50px;
    border: 1px solid #ccc;
    margin: 10 auto;
    font-size: 20px;
    color: #212121;
    padding: 14px 0 0 0px;
  }
</style>
