.notice .tips_title {
    position: absolute;
    font-size: 0.75rem;
    color: #ef473a;
    padding: 0rem 0.2rem;
    border: 1px solid #ef473a;
    border-radius: 0.2rem;
}

/* 可在谷歌浏览器中隐藏滚动条,可以搜索scrollbar 
::-webkit-scrollbar {
	display: none
}*/

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input {
	margin: 0; padding: 0; border: none; outline: 0;
	/*font-size: 100%; */
	font-family: '微软雅黑',Georgia, serif;
	font-style: normal;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}

.bar-nav a {
	color: #ffffff !important;
}
.bar-nav span{
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.bar-tab.higher {
	height: 2.8rem;
}

/* 全局 start*/
.user_logined_img {
	float: left;
	width: 1.6rem;
	height: 1.6rem;
	border: 0.1rem solid #ff5f4b;
	border-radius: 100%;
	margin-top: 0.25rem;
	margin-right: 0.1rem;
}

.user_logined_img img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
/* 全局 end */

/* index start */
.bar-nav .logo {
	line-height: 2.1rem;
	font-size: 0.9rem;
	font-weight: bold;
	color: #fff;
	float: left;
	width: 8rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}

.login_status_bar {
	float: right;
	line-height: 2.1rem;
	font-size: 0.7rem;
	color: #fff;
}

.login_status_bar .iconfont {
	color: #ffed40;
	font-size: 0.7rem;
	margin-right: 0.2rem;
}

.login_status_bar .iconfont.icon-user8 {
	font-size: 1.1rem;
}

.login_status_bar a {
	font-size:0.75rem;
}

.notice {
	min-height: 1.8rem;
	background-color: #fefefe;
	padding: 0.3rem;
	z-index: 2;
}

.notice .tips_title {
	position: absolute;
	font-size: 0.75rem;
	color: #ef473a;
	padding: 0rem 0.2rem;
	border: 1px solid #ef473a;
	border-radius: 0.2rem;
}

.notice .tips_content {
	font-size: 0.75rem;
	line-height: 1.2rem;
	margin-left: 2.15rem;
}

/*
.lunbo ~ .notice {
	margin-top: -0.25rem;
}
*/

.notice span.icon {
	width: 2rem;
	height: 2rem;
	margin: 0.1rem;
	float: left;
}

.notice span.icon img {
	width: 100%;
	height: 100%;
	border-radius: 1.25rem;
	display: block;
}

.notice .n-right {
	float: left;
	width: 76%;
	margin-left: 0.4rem;
}

.notice .n-right div {
	padding: 0.2rem 0.3rem 0rem 0.3rem;
	line-height: 0.8rem;
}

.quickMenu {
	margin-top: 0.3rem;
	background-color: #fefefe;
	text-align: center;
	letter-spacing: -0.15rem;
	font-size: 0rem;
	border-bottom: 1px solid #e0e0e0;
}

.quickMenu .qMenuItem {
	margin: 0.2rem auto;
	background-color: #fefefe;
	display: inline-block;
	line-height: 1.25rem;
	border-right: 1px dashed #c6c6c6;
	font-size: 0.65rem;
	font-weight: 500;
	width: 100%;
	letter-spacing: 1px;
}

.quickMenu div:last-child .qMenuItem {
	border-right: none;
} 

.quickMenu .qMenuItem .iconfont {
	margin-top: 0.4rem;
	font-size: 1.6rem;
	display: block;
}

.index-block-title {
	margin: 0.65rem .2rem 0.35rem !important;
}

.index_margin {
	margin: 0rem .2rem !important;
}

.index-block-title .iconfont {
	margin-right: 0.15rem;
	color: #df060d;
}

img.index_banner {
	display: block;
	max-width: 100%;
}

.index_card_description {
	position: absolute;
	right: 0rem;
	top: 0rem;
	width: 8rem;
	height: 100%;
	padding-top: 1.5rem;
	padding-right: 0.6rem;
	color: #878787;
	font-size: 0.6rem;
	line-height: 0.9rem;
	text-align: right;
	background: url(../images/index_card_description.png) no-repeat center
		top;
	background-size: 100%
}

.index_lottery_item {
	float:left;
	width: 32.5%;
	padding:0.45rem 0.2rem;
	height: 4.8rem;
	margin:0.15rem 0.065rem;
	border-radius: 0.5rem;
	background:#fff;
	background: linear-gradient(#ffffff, #fcfcfc);
}

.index_lottery_item a{
	color:#666666;
}

.index_lottery_item .lottery_img{
	margin:0 auto;
	width: 2.7rem;
	max-height: 2.5rem;
}
.index_lottery_item .lottery_img img{
	max-width: 2.7rem;
}
.index_lottery_item .lottery_info{
	width: 100%;
	text-align:center;
}
.index_lottery_item .lottery_name{
	font-size:0.7rem;
	line-height:1.5rem;

}

.contact {
	margin: 0.75rem 0 0.5rem;
}
.contact dl {
	float:left;
	width:25%;
	text-align:center;
	color:#bbb;
	margin:0;
	padding:0;
}
.contact dl a {
	display:block;
	color:#aaa;
}
.contact dt {
	border: 1px solid #bbb;
	width: 1.8rem;
	height: 1.8rem;
	line-height: 1.5rem;
	border-radius: 0.9rem;
	margin: 0 auto;
	font-weight: normal;
}
.contact dt.active {
	line-height: 1.7rem;
}
.contact dt i {
	font-size: 1.1rem;
}
.contact dd {
	font-size: 0.65rem;
	margin-top: 0.25rem;
}
/* index end */

/* index_live start */
.cpbox{
	float:left;
	width: 32.3%;
	padding: 0.45rem 0.2rem;
	text-align:center;
	height: 4.5rem;
	background:#fff;
	margin: 0.15rem 0.075rem;

	/* background-color: #de0007; */
	background: linear-gradient(#434b8f,#363d79);
	/* background: linear-gradient(#cd0005,#de0007); */
	border-radius: 0.5rem;
}

.cpbox:hover {
	background: linear-gradient(#7d808b,#353942);
}

.cptu{
	margin:0 auto;
	width: 2.7rem;
	max-height: 2.5rem;
}

.cptu img{
	max-width: 2.95rem;
}

.cpbt{
	font-size: 0.8rem;
	color: #ffffff;
	line-height: 1.45rem;
}
/* index_live end */

/* game_center start */
.game_center.content {
	background: #ffffff;
}
/* 500vip */
.ui-toolbar-right {
	background: url(../images/goucai_qiehua_07.png) no-repeat;
	margin-top: 0.35rem;
	width: 3.25rem;
	background-size: 3.25rem 1.5rem;
	height: 1.5rem;
	position: relative;
	display: block;;
}
.ui-head { background: url(../images/goucai_qiehua_03.png) no-repeat; width: 3.25rem; background-size: 3.25rem 1.5rem; height: 1.5rem;}
.ui-toolbar-right a {width: 1.625rem;height: 1.5rem;display: block;float: left;}

.lott-menu {position: fixed; top: 2.2rem; left: 0; z-index: 999;width: 100%;height: auto;}
.lott-menu ul { display: -webkit-box; display: flex;position: relative;}
.lott-menu ul li { width: 33.33%; height: 3rem;}
.lott-menu ul li.all { background: url('../images/goucai_nav_02.png') no-repeat; background-size: 100% 3rem;}
.lott-menu ul li.all.cur { background: url('../images/goucai_navs_02.png') no-repeat; background-size: 100% 3rem;}
.lott-menu ul li.gaopin { background: url('../images/goucai_nav_03.png') no-repeat; background-size: 100% 3rem;}
.lott-menu ul li.gaopin.cur { background: url('../images/goucai_navs_03.png') no-repeat; background-size: 100% 3rem;}
.lott-menu ul li.dipin { background: url('../images/goucai_nav_04.png') no-repeat; background-size: 100% 3rem;}
.lott-menu ul li.dipin.cur { background: url('../images/goucai_navs_04.png') no-repeat; background-size: 100% 3rem;}

.lot-content {
	margin-top: 3rem;
	background: #ffffff;
}

/*-- 田字格 --*/
.lottery-list ul li {
	width: 33.33%;
	float: left;
	text-align: center;
}

.lottery-list ul li .hot-icon img {
	max-width: 100%;
	padding: 0.5rem 1.25rem 0;
	box-sizing: border-box;
	height: 3.5rem;
}

.lottery-list ul li a {
	width: 100%;
	display: inline-block;
	font-size: 95%;
	padding: 0rem 0.25rem 0rem;
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #ececea;
}

.lottery-list ul li .hot-text {
	color: #666666;
}

.lottery-list ul li .last-time {
	color: #666666;
}

/*-- 竖版 --*/
.lottery-list-erect ul li {
	overflow: hidden;
	padding-right: 0.75rem;
}

.lottery-list-erect ul li a {
	background: url(../images/goucai_hp_more.png) no-repeat center right;
	background-size: 0.375rem 0.675rem;
	border-bottom: 1px solid #dcdcdc;
	display: inline-block;
	overflow: hidden;
	color: #666666;
	width: 100%
}

.lottery-list-erect ul li .hot-icon {
	float: left;
	padding: 0.65rem;
	width: 25%
}

.lottery-list-erect ul li .hot-icon img {
	max-width: 100%
}

.erect-right {
	float: left;
	margin-top: 0.3rem;
	width: 75%
}

.erect-right .lot_name {
	font-size: 0.9rem;
}

.erect-right .result_qihao {
	color: #eb2929;
}

.erect-right .stop_qihao {
	font-size: 0.65rem;
	line-height: 1.3rem
}

.erect-right div.y_gutter{
	padding-top: 0.2rem;
}

.erect-right .last-time {
	color: #eb2929;
	line-height: 1.2rem;
}

.erect-right .hot-text {
	color: #000
}
/* game_center end */

/* draw_notice start */
.draw_notice_content {
	background:#f6f6f6;
}
.draw_notice_ul a {
	color: #000000;
}
.draw_notice_ul li {
	padding: 0.35rem 0.5rem;
	position:relative;
	border-bottom:1px solid #e3e3e3;
}
.draw_notice_ul .qihao {
	color: #888888;
	font-size: 0.75rem
}
.draw_notice_ul .haoma span {
	display:inline-block;
	background:#cd0005;
	border-radius:100%;
	width: 1.5rem;
	height: 1.5rem;
	line-height:1.5rem;
	font-size: 0.8rem;
	text-align:center;
	color:#fff;
	margin-top:0.2rem;
}
/* draw_notice end */


/* personal_center start */
.personal_center_content .usertou a {
	color: #ffffff;
}
.usertou{
	background:#cd0005;
}
.userminc{
	margin: 0rem 0.6rem;
	padding: 0.3rem 0rem;
	border-bottom: 1px solid #b50003;
	line-height: 2rem;
	font-size: 0.8rem;
	color:#ffffff;
}
.userminc .account {
	margin-left: 0.2rem;
	font-size: 0.9rem;
}
.userminc .icon_loginout {
	font-size: 0.9rem;
}
.userminc .icon_loginout:BEFORE {
	content: "\e601";
}
.doudoubox{
	width:100%;
	height: 2.3rem;
	/*text-align:center;*/
	color:#fff;
	padding-top: 0.5rem;
	margin-left:2.3rem;
}
.doudoubox .jindouicon{
	font-size: 0.9rem;
	color:#ffe07f;
}
.personal_center_content .qmenu {
	height: 2.2rem;
}
.chongzhitkuan{
	float:left;
	width: 50%;
	height: 2.2rem;
	line-height:2.2rem;
	text-align:center;
	color:#fff;
	background:#c00004;
	font-size: 0.85rem;
	border-right: 1px solid #666;
}
.chongzhitkuan .iconfont{
	margin-right: 0.5rem;
	color:#ff5f4b;
}
.userlb {
	margin: 0.4rem 0rem 0.3rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background:#fff;
	padding: 0rem 1rem;
}
.userlb li{
	line-height: 2.25rem;
	border-bottom: 1px solid #dcdcdc;
	font-size: 0.85rem;
	position:relative;
}
.userlb li:last-child {
	border: none;
}
.userlb li a{
	display:block;
	color:#666;
	font-size: 0.9rem;
}
.icontublb{
	margin-right: 0.2rem;
	color:#cd0005;
	font-size: 1.2rem;
}
.iconjtlb{
	font-size: 0.7rem;
	color:#c3c3c3;
	position:absolute;
	right: 0.2rem;
	top: 0rem;
}

.tanchuceng{
	position: fixed;
	left: 0rem;
	top: 0rem;
	width:100%;
	height: 100%;
	z-index: 999;
	display:none;
}

.tanchuin{
	position:absolute;
	width: 13rem;
	min-height: 4.9rem;
	margin-top: -4.75rem;
	left: 50%;
	top: 45%;
	margin-left: -6rem;
	background:#cd0005;
	border-radius: 0.3rem;
	padding-bottom: 0.25rem;
}

.tangbiaoti{
	text-align:center;
	color:#fff;
	font-weight: bold;
	line-height: 1.6rem;
}

.tannr{
	width: 12.5rem;
	margin:0 auto;
	background:#fff;
	border-radius: 0.3rem;
	padding: 0.4rem 0rem;
}

.tannrbtn {
	text-align:center;
	padding-top: 0.4rem;
}

.tannrbtn a{
	display:inline-block;
	width: 4.5rem;
	line-height: 1.4rem;
	background:#cd0005;
	border-radius: 0.2rem;
	text-align:center;
	color:#fff;
	font-size: 0.6rem;
	margin:0rem 0.3rem;
}

.xiugaimimaul li {
	margin-bottom: 0.5rem;
}

.xiugaimimaul li div {
	display: inline-block;
}

.xiugaimmbt{
	padding-left: 0.4rem;
	font-size: 0.6rem;
	line-height: 1.4rem;
}

.xiugaimminpt{
	border: none;
	height: 1.4rem;
	background:#eeeeee;
	border-radius: 0.2rem;
	width: 7rem;
	padding-left: 0.3rem;
	font-size: 0.6rem;
}
/* personal_center end */

/* do_pick_number end */
.ui-bett-right {
	background: url(../images/top_you_anniu_01.png) no-repeat;
	width: 2.55rem;
	height: 2.2rem;
	background-size: 2.55rem 2.2rem;
	position: absolute;
	right: 0.5rem;
	top: 0;
	z-index: 9;
}
.bett-head {
	display: block;
	width: 2.55rem;
	height: 2.2rem;
}

.beet-rig {
	position: fixed;
	top: 1.75rem;
	right: 0.75rem;
	background: url(../images/you_caidan_box.png) no-repeat;
	width: 5.85rem;
	background-size: 5.85rem 8rem;
	z-index: 100;
	border-bottom: 1px solid #eb2b2a;
}
.beet-rig ul {
	margin: 0.7rem 1px 0;
}

.beet-rig ul li {
	text-align: center;
	line-height: 1.8rem;
	height: 1.8rem;
	border-bottom: 1px solid #ddd;
}

.beet-rig ul li a {
	color: #c91b1c;
	display: block;
}

.lot-tip {
}
.lot-time, .dat-time {
	width: 50%;
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	float: left;
	height: 4rem;
	text-align: center;
	padding: 0.7rem 1px;
	box-sizing: border-box;
}
.lot-time {
	border-right: 1px solid #e8e8e8;
}
.lot-time .qihao {
	font-size: 0.75rem;
}
.dat-time {
}
.dat-time .qihao {
	font-size: 0.85rem;
}
.time-late {
	background: url(../images/shijian_bg.png) no-repeat;
	width: 5.5rem;
	height: 1.1rem;
	background-size: 5.5rem 1.1rem;
	margin: 0.2rem auto 0;
	font-size: 0.9rem;
}
.time-late span {
	width: 0.75rem;
	height: 1.1rem;
	float: left;
	display: block;
	line-height: 1.1rem;
	color: #eb2b2a
}
.time-late span.time-kong {
	width: 0.5rem;
}
.kaiihaoma{
	color:#575757;
	position:relative;
	
}
.kaiihaoma .hongshu{
	margin:0rem 0.15rem;
}
.wait-lot {
	margin-top: 0.2rem;
	font-size: 0.8rem;
	line-height: 0.8rem;
}
.shangqixiala{
	position:absolute;
	right: 0rem;
	top: 4rem;
	background:#fff;
	padding: 0.3rem;
	width: 100%;
	border:1px solid #ddd;
	overflow-y:auto;
	display:none;
	z-index: 99;
	
}
.wangqilu {
	height: 8.3rem;
	width: 100%;
	overflow-y: scroll;
	border-top: 1px solid #bababa;
}
.wangqilu li{
	font-size: 0.75rem;
	line-height: 1.6rem;
	border-bottom: 1px solid #ddd;
	text-align: left;
}
.wangqilu li.cur{
	background:#efefef;
}
.wangqilu li div {
	display: inline-block;
}
.qishunq{
	text-align: center;
	font-size: 0.7rem;
	color: #333333;
	border-right: 1px solid #d5d5d5;
	position:relative;
}
.qishunq span{
	margin: 0rem 0.8rem
}
.naxhaoma{
	padding-left: 0.6rem;
	font-size: 0.7rem;
	color: #cd0005;
}
.naxhaoma em{
	margin:0rem 0.15rem;
}
.xyuandain{
	width: 0.3rem;
	height: 0.3rem;
	background: #d5d5d5;
	border-radius: 100%;
	position:absolute;
	right: -0.15rem;
	top: 50%;
	margin-top: -0.15rem;
}


.tabqie{
	background:#e9e9e9;
	border-bottom: 1px solid #cd0005;
	color:#292929;
	padding: 0.35rem 0rem;
	width:100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.tabqie::-webkit-scrollbar {
	display: none
}
.tabqiein{
	font-size: 0.75rem;
	line-height: 1.65rem;
}
.tabqie span{
	width: 4.4rem;
	display:inline-block;
	background:#fff;
	border-color: #ccc;
	border-radius: 0.25rem;
	text-align: center;
}
.tabqie span.cur{
	color:#cd0005;
	background: #fff url(../images/touzhu_nav_01.png) no-repeat;
	background-size: 4.4rem 1.65rem;
	border-radius: 0.25rem;
}
.tabqie span:first-child{
	margin-left: 0.3rem;
}
.xialabox{
	font-size: 0.6rem;
	background:#e9e9e9;
	color:#292929;
	padding: 0.35rem 0rem;
	width:100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.xialabox::-webkit-scrollbar {
	display: none
}
.xialaitem{
	font-size: 0.75rem;
	line-height: 1.65rem;
	color:#292929;
}

.xialaitem span{
	width: 4.4rem;
	display:inline-block;
	background:#fff;
	border-color: #ccc;
	border-radius: 0.25rem;
	text-align: center;
}
.xialaitem span.cur{
	color:#cd0005;
	background: #fff url(../images/touzhu_nav_01.png) no-repeat;
	background-size: 4.4rem 1.65rem;
	border-radius: 0.25rem;
}
.xialaitem span:first-child{
	margin-left: 0.3rem;
}
.small_menu_box {
	padding: 0.4rem;
	background: #f6f6f6;
}
.small_menu_box a.buyCartCount {
	margin-right: 0.4rem;
}

.game-content {
	background:#f6f6f6;
}
.xuanhaomaul{
	padding:0rem 1.1rem;
	padding-right:0rem;
	padding-bottom: 0.5rem;
	overflow:hidden;
}
.xuanhaomaul li{
	width: 100%;
	margin: 1rem 0rem;
	display: table;
}
.weishu{
	width: 100%;
	line-height: 1.8rem;
	padding-right: 0.3rem;
	float: left;
}
.weishu span{
	background:#eaeaea;
	padding: 0.15rem 0.35rem;
	font-size: 0.75rem;
	border-radius: 0.35rem;
	color:#676767;
}
.weishu .btn-group {
	margin-top: inherit !important;
}
.xuanmabox{
	width: 100%;
	margin-top: 0.1rem;
	float: right;
}
.xuanmabox span{
	display:inline-block;
	background:#fff;
	width: 2.2rem;
	height: 2.2rem;
	line-height: 2.2rem;
	font-size: 1rem;
	text-align:center;
	color:#cd0005;
	margin: 0.3rem 0.3rem 0rem;
	position:relative;
	background: url('../images/bet_btn_hui.png');
	background-size: 100%;
	font-weight: bold;
}
.xuanmabox span.cur{
	color:#fff;
	background: url('../images/bet_btn_hong.png');
	background-size: 100%;
	animation: beat .5s ease-out;
	-webkit-animation: beat .5s ease-out;
}

@keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform:scale(1);
  }
  20% {
    transform:scale(1.4);
  }
  80% {
    transform: scale(1.15);
  }
}
@-webkit-keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.4);
  }
  80% {
    -webkit-transform: scale(1.15);
  }
}

/* ddddddddddddddddddddd    bootstrap    ddddddddddddddddddddd */
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    margin-bottom: 0;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0.4rem;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: -1px;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
    z-index: 2;
}
/* ddddddddddddddddddddd    bootstrap    ddddddddddddddddddddd*/

.bett-foot {
	padding: 0.4rem 0.5rem;
	box-sizing: border-box;
}
.btn-none, .btn-add {
	background: #464646;
	border-radius: 0.15rem;
	color: #eeeeee;
	width: 3rem;
	height: 1.6rem;
	border: none;
	outline: none;
	float: right;
	font-size: 0.7rem;
	z-index: 20;
	position: relative;
	margin-right:.5rem;
}
.btn-add {
	background: #ffb400;
	float: right;
	color: #242625;
	margin:0;
}
.beet-foot-txt {
	position: absolute;
	text-align: left;
	text-indent:1rem;
	left: 0;
	right: 0;
	color: #fff;
	line-height: 1.7rem;
	font-size: 0.7rem;
}

.beet-odds-tips {
	background: #fff;
	width: 80%;
	height: 11.75rem;
	margin: -6.75rem 0 0 -40%;
	left: 50%;
	position: fixed;
	top: 50%;
	z-index: 2002;
	border-radius: 0.3rem;
	font-size: 0.8rem
}
.beet-odds-tips label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.25rem;
    font-weight: 700;
}
.odds-tips-tit {
	text-align: center;
	border-bottom: 1px solid #ddd;
	height: 1.85rem;
	line-height: 1.85;
}
.slidebg { padding: 0.5rem 1.5rem; box-sizing: border-box; }
.slide-top { margin-bottom: 0.3rem; overflow: hidden; }
.slide-top div {margin-right: 0.8rem;}
.beet-odds-info { line-height: 0.75rem; }
.beet-odds-info div { padding-left: 1.5rem; line-height: 1.1rem; color:#666;}
.beet-odds-info div span.maohao {margin-right: 0.5rem;}
.beet-money { overflow: hidden; line-height: 1.3rem; margin-bottom: 0.5rem; }
.beet-money-int { width: 2.85rem; border: 1px solid #ddd; height: 1.3rem; line-height: 1.15rem; padding-left: 0.25rem; box-sizing: border-box; color: #000; margin-right: 0.4rem }
.beet-money a { width: 1.6rem; text-align: center; height: 1.2rem; line-height: 1.2rem; color:#666; background: #f3f3f3; border: 1px solid #ddd; display: inline-block; margin-right: -0.3rem }
.beet-money a.acitve { background: #f28010; color: #fff; border: 1px solid #dd7212; }

.odds-btn-none,.odds-btn-ture { background: #fff; height: 2rem; width:50%; text-align: center; border:0; color: #005ddc; border-top: 1px solid #ddd; box-sizing: border-box; position: absolute; bottom:0; border-radius: 0.25rem;}
.odds-btn-ture { border-left: 1px solid #ddd; color: #005ddc; right:0; }

.tips-bg {
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
	z-index: 2001;
}
/* personal_center end */

/* buyCartPage start */
.buycart-content {
	background:#f6f6f6;
}
.tzdansanbtn{
	padding: 0rem 0.45rem;
	margin-top: 0.6rem;
}
.tzdansanbtnitem{
	float:left;
	width:33.33%;
	padding:0rem 0.15rem;
	font-size: 0.75rem;
	text-align: center;
}
.tzdansanbtnitem a{
	display:block;
	line-height: 1.9rem;
	color:#333;
	background:#fff;
	border: 1px solid #ddd;
}
.tzdansanbtnitem a .iconfont {
	color:#888;
}

.tiaobox{
	width: 17.3rem;
	margin: 0.9rem auto 0rem;
	padding-top: 0.8rem;
	background: url(../images/tiao.png) no-repeat center top;
	-moz-background-size: 17.3rem 0.8rem; /*老版本的 Firefox*/
	background-size: 17.3rem 0.8rem;
}
.tiaoneibox{
	background: url(../images/tiaonei.png) repeat-y center top;
	-moz-background-size: 17.3rem 0.15rem; /*老版本的 Firefox*/
	background-size: 17.3rem 0.15rem;
}
.tiaowei{
	height: 0.5rem;
	background: url(../images/tiaowei.png) no-repeat center top;
	-moz-background-size: 17.3rem 0.5rem; /*老版本的 Firefox*/
	background-size: 17.3rem 0.5rem;
}
.tiaoneiul {
	padding:0rem 0.9rem;
	margin-bottom: 2.9rem;
}
.tiaoneiul li{
	line-height: 2.1rem;
	font-size: 0.75rem;
	position: relative;
	border-bottom: 1px dashed #ccc;
	min-height: 4.3rem;
}
.tiaoneiul li div{
	font-size: 0.7rem;
	line-height: 1.3rem;
	margin-left: 3rem;
}
.tiaoneiul li div.haoma{
	color:#cd0005;
	word-break: break-all;
	word-wrap: break-word;
}
.tiaoneiul li a{
	color:#cd0005;
	display:block;
	line-height: 1.2rem;
	width: 5rem; margin: 0rem auto;
}
.tiaoneiul li .iconfont{
	position:absolute;
	left: 0.9rem;
	top: 0.9rem;
	color:#cccccc;
}
.tiaoneiul li .iconfont.roundDeleBtn{
	font-size: 1.2rem;
}
.xieyi-a{
	padding: 0rem;
	line-height: 0rem;
}
.zhinegzhuihaobtn {
	width: 4.5rem;
}
/* buyCartPage end */

/* doIntelligentSelectionPage end */
.doIntelligentSelectionContent {
	background:#f6f6f6;
}

.zhuihaotable{
	width: 100%;
	margin-bottom: 2.5rem;
}
.zhuihaotable tr.cur {
	background:#fff;
}
.zhuihaotable tr td {
	font-size: 0.65rem;
	color: #797979;
	text-align: center;
	vertical-align: middle;
}
.thtrbox {
	border-bottom: 1px solid #ddd;
	height: 2.3rem;
}
.tbtrbox {
	border-bottom: 1px solid #ddd;
}

.btngroup{
	display:inline-block;
	border:1px solid #cacaca;
	background:#fff;
}
.btnjiaj{
	text-align:center;
	background:#ebebeb;
	display:inline-block;
	line-height: 1.2rem;
	width: 1.3rem;
	font-size: 0.8rem;
}
.jiabtn{
	border-right:1px solid #cacaca;
}
.jianbtn{
	border-left:1px solid #cacaca;
}
.jiajianinpt{
	border: none;
	width: 2rem;
	text-align: center;
	height: 1rem;
	font-size: 0.6rem;
	position:relative;
	display:inline-block;
}
.zhuihaotable .betInfo {
	font-size: 0.6rem;
}
.zhuhaobox {
	bottom: 2.5rem;
	background: #ffffff;
	font-size: 0.65rem;
	height: 2rem;
	padding-top: 0.4rem;
}
/* doIntelligentSelectionPage end */

.font_color_gray {
	color: #666666;
}

.color_huang {
	color: #edb93f !important;
}

.color_lan {
	color: #3c8efa !important;
}

.color_hong {
	color: #e62e25 !important;
}

.color_lv {
	color: #52b653 !important;
}

.hong{
	color:#cd0005 !important;
}

.icon-right:before {
	content: "\e601";
}
.icon-down:before {
	content: "\e627";
}

.bar-tab{
	background-color:#171719;
}

.bar-nav{
	background-color:#ec2829;
	border-bottom:initial;
}

.bar-nav .title-1{
	text-align: left;
	margin-left: 0.1rem;
	color:#ffffff !important;
	font-size: 0.9rem;
	cursor: pointer;
	width: 99%;
   /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 65%;*/
}

.bar-nav .title-2{
	text-align: right;
	color:#ffffff !important;
	font-size: 0.8rem;
	padding-right: 0.5rem;
}

.bar-nav .open-panel{
	font-size: 1.3rem;
	font-weight: bold;
	margin-right: 0.1rem;
}

.bar-nav .icon-user8{
	font-size:1.1rem;
	color: #ffed40;
	margin-right: 0.1rem;
}

.bar-tab .tab-item.active, .bar-tab .tab-item:active{
	color: #CDBF0E;
}

.bar-tab .tab-item {
    position: relative;
    display: table-cell;
    width: 1%;
    height: 2.5rem;
    color: #929292;
    text-align: center;
    vertical-align: middle;
    color: #c2c2c2;
}

/*.bar-tab .tab-item .icon~.tab-label{
	top: 0.3rem;
}*/

.bar-tab .tab-item .icon{
	line-height: 1.5rem;
}

.bar-tab .tab-item .icon~.tab-label{
    font-size: 0.65rem;
}

.index_margin{
	padding-bottom:1rem;
}

.content-block-left{
	padding:0rem;
}

.item-title-color{
    color: #9a3c3c;
    font-weight: bold;
}

/*首页新闻css -------------------------------------- */
.tabBox{ margin:10px auto;   }
.tabBox .hd{ height:40px; line-height:40px; font-size:20px; overflow:hidden; background:#eee; border-top:1px solid #ccc;  padding:0 10px;  }
.tabBox .hd h3{ float:left; font-size:20px; }
.tabBox .hd h3 span{color:#ccc; font-family:Georgia; margin-left:10px;  }
.tabBox .hd ul{ float:right;  }
.tabBox .hd ul li{ float:left;  padding:0 5px; vertical-align:top;  }
.tabBox .hd ul li.on a{ color:#B63B34; display:block; height:38px; line-height:38px;   border-bottom:2px solid #B63B34;  }
.tabBox .bd ul{ padding:10px;  }
.tabBox .bd ul li{ border-bottom:1px dotted #ddd;  }
.tabBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0); }  /* 去掉链接触摸高亮 */
.readMore{ display:block; height:30px; line-height:30px; margin:10px auto 20px auto;  text-align:center; text-decoration:underline;   }

/* 首页轮播css -------------------------------------- */
.focus{ width:100%; height:8rem;  margin:0 auto; position:relative; overflow:hidden;   }
.focus .hd{ width:100%; position:absolute; z-index:1; bottom:-.6rem; text-align:center;  }
.focus .hd ul{ display:inline-block; padding:3px 5px; background-color:rgba(255,255,255,0.7); 
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;
}
.focus .hd ul li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;   }
.focus .hd ul .on{ background:#FE6C9C;  }

.focus .bd{ position:relative; z-index:0; }
.focus .bd li img{ width:100%;  height:8rem;}
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }

/* 侧栏菜单卡片样式 -------------------------------------- */
.panel-left-banner{width:100%;background-color:#fff;padding:12.8px}
.panel-left-banner .panel-left-logo{background-color:#ed8e07;border-radius:10px;width:100%;height:110px;padding:20.2666654px 21.333332px 5.333333px;box-shadow:0 0 .8rem rgba(0,0,0,.3)}
.panel-left-banner .panel-left-logo .panel-left-logo_txt .panel-left-yue{color:#fff;font-size:16px}
.panel-left-banner .panel-left-logo .panel-left-logo_txt .panel-left-amount{color:#fff;font-size:25px;}
.panel-left-banner .panel-left-in{width:100%;height:38px;margin-top:12px;display: flex;}
.panel-left-banner .panel-left-in .panel-left-item{height:38px;border-radius:8px;text-align:center;line-height:38px;background-color:#ed8e07;flex-grow:1;margin: 1px;}

.bar-nav .title-1{
    width: 10rem;  /*必须设置宽度*/
    overflow: hidden;  /*溢出隐藏*/
    text-overflow: ellipsis; /*以省略号...显示*/
    white-space: nowrap;  /*强制不换行*/
}

#fast_bank_desc_html .item-input,#bank_desc_tmp .item-input{
	color : red;
}