
<form>
	<table betprefix="万仟">
		<thead>
			<tr>
				<th colspan="6">万仟</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="万佰">
		<thead>
			<tr>
				<th colspan="6">万佰</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="万拾">
		<thead>
			<tr>
				<th colspan="6">万拾</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="万个">
		<thead>
			<tr>
				<th colspan="6">万个</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="仟佰">
		<thead>
			<tr>
				<th colspan="6">仟佰</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="仟拾">
		<thead>
			<tr>
				<th colspan="6">仟拾</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="仟个">
		<thead>
			<tr>
				<th colspan="6">仟个</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="佰拾">
		<thead>
			<tr>
				<th colspan="6">佰拾</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="佰个">
		<thead>
			<tr>
				<th colspan="6">佰个</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="拾个">
		<thead>
			<tr>
				<th colspan="6">拾个</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="前三">
		<thead>
			<tr>
				<th colspan="6">前三</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="中三">
		<thead>
			<tr>
				<th colspan="6">中三</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="后三">
		<thead>
			<tr>
				<th colspan="6">后三</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="616">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="616">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(9, 'heweishu', 'heweishu', '和尾数')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
