@charset "utf-8";
/* CSS Document */

/*標準化 star **********************************/
/*margin padding 標準化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td
{margin:0;padding:0;}
/*標題 font-size 的標化*/
h1,h2,h3,h4,h5,h6
{font-size:100%}
/*移除清單list-style樣式*/
ol,ul
{list-style:none;}
/*font-style,font-weight*/
address,caption,cite,code,dfn,em,strong,th,var
{font-style:normal; font-weight:normal;}
/*del table border*/
table
{border-collapse:collapse;border-spacing:0;}
/*del fieldset and img border*/
fieldset,img
{border:0;}
/*caption and th text-align:left*/
caption,th
{text-align:left;}
/*del q的引號*/
q:before,q:after
{content:'';}
/***********************************標準化 end***/

/*主要區塊*/
body{
	background:url(../images/bg.jpg) top center repeat-y #808590;	
	font-family:"新細明體";
	font-size:12px;
	color:#fff;
	width:auto; 
	}
#mainbody{
	margin:0 auto;
	width:1000px;
	}
#page_header{
	position:relative;
	width:1000px;
	height:160px;
	float:left;
        _margin-left: 24px;
}
#header_title{
	width:1000px;
	height:100px;
	float:left;
}
#page_container{
	width:1000px;
	float:left;
	height:auto;
	}
#page-footer {
	height:137px;
	width: 100%;
	background:url(../images/footer_bg.jpg) top center no-repeat;
	margin:0 auto;
	float: left;
}
#footer {
	height:30px;
	width:1000px;
	margin:50px auto 0 auto; 
	color:#333333;
	font:Verdana, Geneva, sans-serif;
	text-align:center;
}
	


/*遊戲 項目按鈕 STAR-----------------------------------*/
#gamecon{
	width:1000px;
	height:60px;
	background:url(../images/GamaArea_bg.jpg) top left no-repeat;
	float:left;
	}
TABLE {	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px}
TD {	FONT-SIZE: 12px}

.blk_29 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 10px;
	OVERFLOW: hidden;
	PADDING-TOP:5px;
	ZOOM: 1;
	POSITION: relative
}
.blk_29 .LeftBotton {
	FLOAT: left;
	WIDTH: 14px;
	CURSOR: pointer;
	POSITION: absolute;
	TOP: 0;
	HEIGHT: 23px;
	background-image:url(../images/game_btn.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin:19px 1px 0 1px;
        *margin:19px 1px 0 -18px;
}
.blk_29 .RightBotton {
	RIGHT: 1px;
	FLOAT: right;
	WIDTH: 14px;
	CURSOR: pointer;
	POSITION: absolute;
	TOP: 0;
	HEIGHT: 23px;
	background-image: url(../images/game_btn.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin:19px 0 0 0;
}
.blk_29 .Cont {
	MARGIN: 0 auto 0 18px;
	OVERFLOW: hidden;
	WIDTH: 966px
}
.blk_29 .box {FLOAT: left; WIDTH: 135px; height:49px; TEXT-ALIGN: center;
margin-right:3px;	}

.blk_29 .box a{
	FLOAT: left; WIDTH: 135px; height:49px; 
	background:url(../images/nav.jpg) top left no-repeat;
	line-height:49px;
	text-decoration:none;
	color:#FFF;}

.blk_29 .box a:hover
{FLOAT: left; WIDTH: 135px; height:49px; 
	BORDER:0;
	background:url(../images/nav_h.jpg) top left no-repeat;
	color:#FFF;
}
.blk_29 .box P {	MARGIN: 5px auto 0px; WIDTH: 97px; LINE-HEIGHT: 20px}
.rollphotos {
	WIDTH:1000px;
	padding-top:0px;
}
/*遊戲 項目按鈕 END-----------------------------------*/



/*規則說明 STAR----------------------------*/
#game_ruleArea{
	float:left;
	width:1000px;
	height:auto;
	}
#game_title{
	float:left;
	width:1010px;
	height:80px;
        _margin-left: 24px;
	}
#title_left{
	float:left;
	height:80px;
	width:385px;
	}
#title{
	float:left;
	width:469px;
	height:80px;}
#title_right{
	float:left;
	width:146px;
	height:80px;
	}

.rule_title{
	margin:0 55px;
	width:890px;
	height:32px;
	float:left;}

	
.rule_from01{
	float:left;
	margin:0 55px;
	width:890px;
	height:9px;
	background:url(../images/pic_from01.gif) top left no-repeat;}
.rule_from02{
	width:890px;
	height:auto;
	margin:0 55px;
	background:url(../images/pic_from02.gif) top left repeat-y;
	float:left;
	color:#000;
	line-height:20px;
	}
.rule_from03{
	width:890px;
	height:9px;
	background:url(../images/pic_from03.gif) top left no-repeat;
	float:left;
	margin:0 55px;}

.game_subtitle{
	float:left;	
	width:980px;
	height:17px;
	float:left;
	margin:5px 0 0 10px;
	color:#300;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	line-height:17px;
}

a.btn_top{
	width:47px;
	height:16px;
	background:url(../images/pic_top.gif) top left no-repeat;
	float:right;
	margin-right:55px;
	}

li {vertical-align:top;}
/*規則說明 END----------------------------*/
	  
