/*
 * ========================================================================
 *通用CSS 框架
 * Verson 1.0.0
 * ========================================================================
 */
.van-nav-bar .van-icon{
	color: #fff;
	font-weight: 900;
}
.sanjiao-l {
  display: inline-block;
  height: 0px;
  width: 0px;
  border-right: 10px solid #999;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  position: absolute;
  right: 0;
}
/*flex布局通用类*/
/*align-items属性定义项目在交叉轴上如何对齐。*/
/*//整体flex*/
.flexWrap {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    height: 100%;
}
/*内容区*/
.flexContent {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
/*平分一行*/

.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
/*上下居中*/

.topCentent {
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
}
/*左右居中*/
.leftCentent {
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
}
/*左右对齐*/
.l-r {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
}

/*通用样式*/
* {
    /*-webkit-user-select: none;*/
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: PingFangSC-Regular;
}
body,
html {
	width: 100%;
    height: 100%;
    font-family: PingFangSC-Regular;
    background: #f0f0f0;
}
.isDisabled {
  pointer-events: none;
}
[v-cloak] {
    display: none;
}
/*全局适配*/
html {
    font-size: 20px!important;
}
@media only screen and (max-width: 330px) {
    html {
        font-size: 16px !important;
    }
}
@media only screen and (max-width: 351px) and (min-width: 330px) {
    html {
        font-size: 16px !important;
    }
}
@media only screen and (max-width: 374px) and (min-width: 350px) {
    html {
        font-size: 17px !important;
    }
}
@media only screen and (max-width: 400px) and (min-width: 374px) {
  html {
    font-size: 17px !important;
  }
}
@media only screen and (min-width: 400px) {
    html {
        font-size: 21.33333333px !important;
    }
}

@media only screen and (min-width: 414px) {
    html {
        font-size: 21px !important;
    }
}
@media only screen and (min-width: 480px) {
    html {
        font-size: 25.6px !important;
    }
}
@media only screen and (min-width: 750px) {
    html {
        width: 750px;
        margin: 0 auto!important;
    }
    #comment footer {
        width: 750px;
        margin: 0 auto;
    }
}
a:hover {
    outline: 0;
}
textarea {
    overflow: hidden;
    resize: none;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
}

html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
}
/*超出自动隐藏*/

.ellipsis {
    /*/*white-space : normal nowrap*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis-2 {
    display: -webkit-box!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    word-wrap: break-word!important;
    white-space: normal !important;
    -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical!important;
}
/*定位*/
.p-f {
    position: fixed;
}
.p-a {
    position: absolute;
}
.p-r {
    position: relative;
}
.d-b {
    display: block;
}

.d-i {
    display: inline-block;
}
.d-n{
  display: none;
}
/*层级*/

.z-999 {
    z-index: 999;
}

.z-9999 {
    z-index: 9999!important;
}
/*位置*/
.lf10{
	left: -.5rem;
}
.r10{
	right: -.5rem;
}
.l-0 {
    left: 0;
}
.l-10 {
    left: .5rem;
}
.l-b20 {
    left: 20%;
}

.r-0 {
    right: 0;
}

.r-b20 {
    right: 20%;
}

.t-0 {
    top: 0;
}

.t-3 {
    top: .15rem;
}

.t-4 {
    top: .2rem;
}

.t-6 {
    top: .3rem;
}

.t-8 {
    top: .4rem;
}
.t-16 {
    top: .8rem;
}

.b-0 {
    bottom: 0;
}
.t-15{
	top: .75rem;
}
.t-20{
  top: 1.2rem;
}
.t--4 {
    top: -.2rem;
}

.t--6 {
    top: -.3rem;
}

.t--10 {
    top: -.5rem;
}

/*滚动条*/

.o-y-s {
    overflow-y: scroll;
     -webkit-overflow-scrolling: touch;
}

.o-x-s{
	overflow-x: scroll;
    white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

/*边框*/

.outline-n {
    outline: none;
}

.b-e0 {
    border: 1px solid #e0e0e0;
}

.b-n {
    border: none;
}

.b-t {
    border-top: 1px solid #ccc;
}
.b-r{
	border-right: 1px solid #f0f0f0!important;
}
.b-l{
  border-left: 1px solid #f0f0f0!important;
}
.b-b {
    border-bottom: 1px solid #e8e4e4;
}

.b-r-6 {
    border-radius: .3rem;
}

.b-r-35 {
    border-radius: 1.75rem;
}

.b-r-b50 {
    border-radius: 50%;
}


/*active*/

.active-f0:active {
    background: #f0f0f0;
}


/*边距*/

.p-t-5 {
    padding-top: .25rem;
}

.p-t-10 {
    padding-top: .5rem;
}

.p-t-15 {
    padding-top: .75rem;
}

.p-t-20 {
    padding-top: 1rem;
}

.p-b-5 {
    padding-bottom: .25rem;
}

.p-b-10 {
    padding-bottom: .5rem;
}

.p-b-15 {
    padding-bottom: .75rem;
}

.p-b-20 {
    padding-bottom: 1rem;
}

.p-b-50 {
    padding-bottom: 2.5rem;
}

.p-l-5 {
    padding-left: .25rem;
}

.p-l-10 {
    padding-left: .5rem;
}

.p-l-15 {
    padding-left: .75rem;
}

.p-l-20 {
    padding-left: 1rem;
}

.p-r-5 {
    padding-right: .25rem;
}

.p-r-10 {
    padding-right: .5rem;
}

.p-r-15 {
    padding-right: .75rem;
}

.p-r-20 {
    padding-right: 1rem;
}

.m-t-2{
  margin-top: .1rem;
}

.m-t-5 {
    margin-top: .25rem;
}

.m-t-8 {
    margin-top: .4rem;
}

.m-t-10 {
    margin-top: .5rem;
}

.m-t-12 {
    margin-top: 12px;
}
.m-t-15 {
    margin-top: .75rem;
}

.m-t-20 {
    margin-top: 1rem;
}

.m-t-50 {
    margin-top: 2.5rem;
}
.m-b-5 {
    margin-bottom: .25rem;
}

.m-b-10 {
    margin-bottom: .5rem;
}

.m-b-15 {
    margin-bottom: .75rem;
}

.m-b-20 {
    margin-bottom: 1rem;
}
.m-b-52 {
    margin-bottom: 3rem;
}
.m-l-5 {
    margin-left: .25rem;
}

.m-l-7 {
    margin-left: .35rem;
}

.m-l-10 {
    margin-left: .5rem;
}

.m-l-15 {
    margin-left: .75rem;
}

.m-l-20 {
    margin-left: 1rem;
}

.m-l-35 {
    margin-left: 1.75rem;
}

.m-r-5 {
    margin-right: .25rem;
}

.m-r-10 {
    margin-right: .5rem;
}

.m-r-15 {
    margin-right: .75rem;
}

.m-r-20 {
    margin-right: 1rem;
}
.m-r-25 {
  margin-right: 1.4rem;
}

.m-r-34 {
    margin-right: 1.7rem;
}

.m-5 {
    margin: .25rem;
}

.m-10 {
    margin: .5rem;
}

.m-15 {
    margin: .75rem;
}

.m-20 {
    margin: 1rem;
}

.p-5 {
    padding: .25rem;
}

.p-10 {
    padding: .5rem;
}

.p-15 {
    padding: .75rem;
}

.p-20 {
    padding: 1rem;
}

.p-40 {
    padding: 2rem;
}
.m-l-r-2 {
  margin-left: .1rem;
  margin-right: .1rem;
}
.m-l-r-5 {
    margin-left: .25rem;
    margin-right: .25rem;
}

.m-l-r-10 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.m-l-r-15 {
    margin-left: .75rem;
    margin-right: .75rem;
}

.m-l-r-20 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.m-b-t-5 {
    margin-bottom: .25rem;
    margin-top: .25rem;
}

.m-b-t-10 {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.m-b-t-15 {
    margin-bottom: .75rem;
    margin-top: .75rem;
}

.m-b-t-20 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.p-l-r-4 {
    padding-left: .2rem;
    padding-right: .2rem;
}

.p-l-r-5 {
   padding-left: .25rem;
   padding-right: .25rem;
}

.p-l-r-10 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.p-l-r-15 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.p-l-r-20 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.p-l-r-30 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.p-l-r-40 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.p-b-t-5 {
    padding-bottom: .25rem;
    padding-top: .25rem;
}

.p-b-t-10 {
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.p-b-t-15 {
    padding-bottom: .75rem;
    padding-top: .75rem;
}

.p-b-t-20 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.p-b-t-25 {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
}
/*文字对齐*/

.text-l {
    text-align: left;
}

.text-r {
    text-align: right;
}

.text-c {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.v-b {
    vertical-align: bottom;
}

.v-t {
    vertical-align: top;
}

.v-m {
    vertical-align: middle;
}


/*文字大小*/
.f-w-900{
	font-weight: 900;
}
.f-s-0 {
    font-size: 0;
}

.f-s-12 {
    font-size: .6rem;
}

.f-s-14 {
    font-size: .7rem;
}

.f-s-15 {
    font-size: .75rem;
}

.f-s-16 {
    font-size: .8rem;
}

.f-s-18 {
    font-size: .9rem;
}

.f-s-21 {
    font-size: 1.05rem;
}

.f-s-20 {
    font-size: 1rem;
}

.f-s-30 {
    font-size: 1.5rem;
}

/*文字颜色*/
.c-h {
  color: #dc3b40;
}
.c-g {
  color: #07c160;
}
.c-b{
  color: rgb(51, 122, 183);
}
.c-w {
    color: white;
}

.c-3 {
    color: #333;
}

.c-6 {
    color: #666;
}

.c-9 {
    color: #999;
}
.bbb{
	color: #bbb!important;
}
.e54042{
	color: #e54042!important;
}
.c-r{
	color: red;
}
.c-orange{
	color: darkorange;
}

/*背景颜色*/
.bg-r {
  background: -webkit-linear-gradient(bottom,#dc3b40 2%,#dc3b40 50%,#db3b40 51%,#d7363b);
}
.bg-f8{
  background: #f8f8f8;
}
.zbg{
	background: #e1d9bc;
}

.bg-n {
    background: none;
}

.bg-h {
    background: #dc3b40;
}
.bg-block{
	background: #000;;
}
.bg-w {
    background: #fff;
}
.bg-q{
	background: cornflowerblue;
}

.bg-f0 {
    background: #f0f0f0;
}

.bg-22292c{
	background: #22292c!important;
}
.bg-3{
  background: #252525;
}

/*浮动*/

.pull-l {
    float: left;
}

.pull-r {
    float: right;
}

.clear {
    overflow: hidden;
}


/*宽*/

.w-b25 {
  width: 25%;
}
.w-b94 {
    width: 94%;
}

.w-b100 {
    width: 100%;
}

.w-b45 {
    width: 45%;
}

.w-b50 {
    width: 50%;
}

.w-b52 {
    width: 55%;
}

.w-b55 {
    width: 55%;
}

.w-b60 {
    width: 60%;
}
.w-b70 {
    width: 70%;
}

.w-b80 {
    width: 80%;
}
.w-6 {
    width: .3rem;
}

.w-100 {
    width: 5rem;
}


/*高*/

.header-h {
    height: 2.2rem;
    line-height: 2.2rem;
}

.h-b100 {
    height: 100%;
}
.h-20 {
  height: 1.5rem;
}

.h-6 {
    height: .3rem;
}

.h-40 {
    height: 2rem;
}

.h-44 {
    height: 2.2rem;
}

.h-50 {
    height: 2.5rem;
}

.h-60 {
    height: 3rem;
}

.h-70 {
  height: 3.2rem;
}


/*行高*/
.l-h-20 {
  line-height: 1.5rem;
}

.l-h-40 {
    line-height: 2rem;
}
.l-h-48 {
    line-height: 2.4rem;
}
.l-h-50 {
    line-height: 2.5rem;
}
.l-h-60 {
  line-height: 3rem;
}

.l-h-70 {
  line-height: 3.2rem;
}

/*VUE无数据组件*/

#noData {
    text-align: center;
}

#noData .noDataImg {
    width: 8.75rem;
    margin: 0 auto;
}

#noData .box1 {
    font-size: .9rem;
    color: #999;
    margin-top: -1rem;
}

#noData .box2 {
    display: inline-block;
    width: 5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border: solid .075rem #d2d2d2;
    border-radius: .75rem;
    font-size: .75rem;
    color: #999;
    margin-top: 1.5rem;
}


/*以下为页面样式*/


/*comment*/

#comment .zanAnimation {
    animation: zanAnimation .8s;
    -webkit-animation: zanAnimation .8s;
    -moz-animation: zanAnimation .8s;
    -ms-animation: zanAnimation .8s;
}

#comment .content .text img {
    width: 100%;
    margin-top: .5rem;
}

#comment .bt {
    border-bottom: 1px solid #f0f0f0;
}

#comment footer .right img {
    float: right;
    margin-top: .65rem;
}

#comment footer .right .img1 {
    margin-right: .5rem;
    margin-left: 1.7rem;
}

#comment footer .right .img3 .dot {
    width: auto;
    min-width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background-color: #ff2600;
    border-radius: 0.4rem;
    top: 0.3rem;
    left: 60%;
}

#comment .isDisabled {
    pointer-events: none;
    color: #999;
}

/*盒子*/
.b-box{
  box-sizing: border-box;
}
/*投注底部按钮*/
.clear-button{
  color: #ffaf36 !important;
  font-weight: 400;
  font-family: PingFang SC,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.tz-button{
  float: right;
  margin-right: .3em;
  text-align: center;
  background: #dc3b40;
  border: none;
  display: block;
  height: 1.9em;
  line-height: 1.9rem;
  border-radius: .26rem;
  color: #fff;
  font-size: .9rem;
  padding: 0 .5rem;
}
.cartIcon{
  width: 20px;
  height: 20px;
  top: 7px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
}

/*图标动画*/
.flyIcon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  display: inline-block;
  color: #fff;text-align:
  center;line-height: 20px;
  position: absolute;
  left: 30px;
  z-index: -1;
}
div.fly{
  display: block;
  animation: animX .5s cubic-bezier(0.3,0,0.64,1) .5s 1 normal, animY .5s cubic-bezier(0.36,0,0.64,1) .5s 1 normal;
  -webkit-animation: animX .5s cubic-bezier(0.3,0,0.64,1) .5s 1 normal, animY .5s cubic-bezier(0.36,0,0.64,1) .5s 1 normal;
  -webkit-animation-iteration-count:1;
}
.addIcon{
  vertical-align: -webkit-baseline-middle;
  vertical-align: -ms-baseline-middle;
  vertical-align: -mox-baseline-middle;
}
@keyframes animX {
  0%{
    left: 0px;
  }
  100%{left: 18rem}
}
@keyframes animY {
  0%{top: 0px}
  50%{top: -50px}
  90%{top: 20px;}
  100%{top: 30px;}
}
 .lightlyActive{
  background: #dc3b40;
  color: #fff;
}
.van-dialog__message{
  text-align: center !important;
}
.imgStyle img, .imgStyle p, .imgStyle span, .imgStyle a, .imgStyle div{
  width:100% !important;
}
.red-bag-float {
  position: absolute;
  height: 110px;
  width: 90px;
  z-index: 999999;
  right: 0px;
  top: 50%;
}
.downButton .van-button__text{
  color: white;
}
