/*bet-room.css*/
.bet-room-body{overflow: initial;background: none;}
.bet-room-body .page, .page-group{overflow: initial;background: none;}
.bet-room-body .page-group.page-current, .page.page-current{overflow: initial;}
.bet-room-body .content{position: initial;overflow: initial;}
.bet-room-body .bar{position: fixed;z-index: 20;}
.bet-room-body .bar-tab{height:2rem;}
.bet-room-body .list-block{margin: 7.8rem 0 0 0;padding-bottom: 3rem;}


.bet-room-body .card{position: fixed;top:2.2rem;;left:0;z-index: 100;width:100%}
.bet-room-body .card .card-footer{background: #f2f2f2;}
.bet-room-body .card .card-footer span{text-align: center;display: inline-block;width: 100%;}
.bet-room-body .card .card-footer em{width: 20px;
    height: .7rem;
    display: inline-block;
    position: absolute;
    right: 2rem;
    top: 50%;
    margin-top: -5px;
    transition: all 0.2s linear 0s;}
.bet-room-body .card .card-footer em:after{    border: 10px solid transparent;
    border-top: 10px solid #bfbfbf;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    left: 0;}
.bet-room-body .card-content-inner{overflow: hidden;padding:0;}
.bet-room-body .card ul.bet-room-down li{
	width: 50%;
    text-align: center;
    float: left;
    height: 67.5px;
    padding: 10px;
}
.bet-room-body .card ul.bet-room-down li:first-child{border-right: 1px solid #cfcfcf;}
.bet-room-body .card ul.bet-room-down li p:nth-child(1) {
    font-size: 14px;
    color: #242424;
    line-height: 22.5px;
}
.bet-room-body .card ul.bet-room-down li p:nth-child(2) {
    font-size: 15px;
    color: #ff4f4f;
}
.bet-room-body .card ul.bet-room-down li p span {
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}
.bet-room-body .icoAcer{
	font-size: 18px;
    color: #ff4f4f;
    padding-right: 0px;
}
.icoTime, .icoTimeClose {
    background-image: url(../images/ico-time.png);
}
.bet-room-body .bar .list-block{margin:0;}
.bet-room-body .bar .list-block i{height:2.5rem;width:2rem;}
.bet-room-body .bar .list-block .item-media{padding:0;margin-top: -.5rem;}
.bet-room-body .bar .list-block p a{line-height: 1.4rem;height:1.4rem;top:0px;padding:0 .7rem;}
.bet-room-body .bar .list-block ul li{background :#f7f6f8}
.bet-room-body .bar .list-block .item-inner{margin:0;padding-top:0;}
.bet-room-body .bar .list-block .item-title.label{width:20%;margin-top:1px;}
.bet-room-body .bar .list-block .item-input{position: relative;}
.bet-room-body .bar .list-block .item-input i{position: absolute;top: -.25rem;right: 0;background-size: 100%;height:2rem;}
.bet-room-body .bar .list-block .item-input input{border:1px solid #ccc;width: 80%;height:1.4rem;background: #fff;margin-left:.4rem;font-size:.6rem;border-radius:.3rem;}
.inco-xiaolian{background: url("../images/xiaolian.png");}