.wap-app-ma {
	/*width: 990px;*/
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0
}

.wap-bg {
	background: url(../../images/mobile/apptwo_bg.jpg) no-repeat
		top center;
	height: 672px;
	position: relative;
}

.wap-wrapper {
	width: 1000px;
	margin: auto;
	position: relative;
	z-index: 1;
}

.wap-phone {
	background: url(../../images/mobile/qpp_phone.png) no-repeat;
	width: 380px;
	height: 408px;
	margin: 67px 0 0 31px;
}

.wap-left {
	width: 420px;
	float: left;
	position: relative;
}

.wap-right, .app-right {
	width: 528px;
	float: right;
	position: relative;
}

.app-right {
	width: 475px
}

.wap-paper {
	background: url(../../images/mobile/wap_paper.png) no-repeat;
	width: 247px;
	height: 159px;
	background-size: 247px 159px;
	position: absolute;
	left: 90px;
	top: 33px;
	z-index: 5;
}

.wap-paper-pic {
	background: url(../../images/mobile/ico_first_cp2.png);
	width: 419px;
	height: 76px;
	background-size: 419px 76px;
	position: absolute;
	left: 40px;
	top: 36px;
	z-index: 5;
}

.wap-tit {
	background: url(../../images/mobile/right-text.png) no-repeat;
	width: 492px;
	height: 244px;
	background-size: 492px 244px;
	margin: 70px 0 0 23px;
}

.wap-two {
	margin-top: 47px;
	overflow: hidden;
}

.wap-two-left {
	float: left;
	width: 315px;
	font: 20px/24px Microsoft Yahei;
}

.wap-two-txt {
	color: #cf1d29;
	font-size: 20px
}

.wap-search {
	margin-top: 30px;
}

.wap-two-right {
	float: left;
	width: 198px;
	text-align: center;
	font: 14px/24px Microsoft Yahei;
	color: #cf1d29;
	margin-left: 20px;
	margin-top: 6px;
}

.wap-two-left {
	float: left;
	width: 198px;
	text-align: center;
	font: 14px/24px Microsoft Yahei;
	color: #cf1d29;
	margin-left: 20px;
	margin-top: 6px;
}

.wap-two-bg {
	background: url(../../images/mobile/wap_twopic.png) no-repeat;
	background-size: 198px 198px;
	width: 198px;
	height: 198px;
	padding: 15px;
	box-sizing: border-box;
	position: relative;
}

.wap-two-bg img {
	width: 167px;
	height: 167px;
}

.wap-search-txt {
	background: url(../../images/mobile/app_search.png) no-repeat;
	width: 292px;
	height: 42px;
	color: #cf1d29;
	line-height: 42px;
	padding-left: 35px;
	box-sizing: border-box;
	position: relative;
	margin-top: 20px;
}

.wap-search-txt a {
	width: 57px;
	height: 42px;
	float: right;
}

.line-parallax {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0px;
	height: 672px;
	transform: translate3d(0px, 0px, 0px);
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

.layer {
	transform: translate3d(-2%, 0.1%, 0);
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

.sectiOneLine1 {
	background: url(../../images/mobile/ico_bg_line1.png) no-repeat;
	width: 237px;
	height: 117px;
	background-size: 237px 117px;
	position: absolute;
	left: 20px;
	top: 89px;
	z-index: 99
}

.sectiOneLine2 {
	background: url(../../images/mobile/ico_bg_line2.png) no-repeat;
	width: 269px;
	height: 160px;
	background-size: 269px 160px;
	position: absolute;
	left: 140px;
	top: 252px;
	z-index: 99
}

.sectiOneLine3 {
	background: url(../../images/mobile/ico_bg_line1.png) no-repeat;
	width: 237px;
	height: 117px;
	background-size: 237px 117px;
	position: absolute;
	right: 98px;
	top: 57px;
	z-index: 99
}

.sectiOneLine4 {
	background: url(../../images/mobile/ico_bg_line2.png) no-repeat;
	width: 269px;
	height: 160px;
	background-size: 269px 160px;
	position: absolute;
	right: 128px;
	top: 205px;
	z-index: 99
}
/*11.10xi样式修改*/
.app-right {
	margin-top: -15px;
}

.app-two {
	width: 490px;
}

.app-phone {
	background: url("../../images/mobile/app_phone.png") no-repeat;
	width: 482px;
	height: 428px;
	background-size: 482px 428px;
	margin: 50px 0 0 30px;
	box-sizing: border-box;
	float: left; /*filter: drop-shadow(18px 15px 5px black);*/
}

.app-right .app-tit {
	background: url(../../images/mobile/app-right-text.png)
		no-repeat;
	width: 445px;
	height: 244px;
	background-size: 445px 244px;
	margin: 70px 0 50px 26px; /*filter: drop-shadow(18px 15px 2px black);*/
}

.app-two-left {
	width: 515px;
	margin: -18px 0 0 -10px;
}

.app-btn1, .app-btn2{
	float: left;
	margin-left: 20px;
	width: 237px;
}
.app-btn3{
	float: left;
	margin-left: 155px;
	width: 237px;
}
.app-two-left a{
	display: inline-block;
	height:70px;
	width:237px;
}
.app-btn2 a{
	background: url("../../images/mobile/android_down.png");
}
.app-btn1 a{
	background: url("../../images/mobile/ios_down.png");
}
.app-btn3 a{
	background: url("../../images/mobile/pc.png");
}

.app_wap_menu {
	height: 50px;
}

.app_center div {
	width: 50%;
	background: #ee6f02;
	float: left;
	cursor: pointer;
}

.app_center .menu-on {
	width: 50%;
	background: #dd0303;
}

a.app_menu, a.wap_menu {
	height: 50px;
	text-align: right;
	color: #fff;
	font: 20px/50px Microsoft Yahei;
	box-sizing: border-box;
	display: block;
	text-decoration: none;
}

.app_menu {
	padding-right: 250px;
}

a.wap_menu {
	text-align: left;
	padding-left: 250px;
}

.wap-txt {
	font: 32px/54px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
		"Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	color: #DA202B;
	margin: 20px 0;
}

.txt500 {
	margin: -30px 0 0 25px;
}