
<form>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">第一球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">01</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
				<td class="ballColor ballcolor-g">02</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">03</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
				<td class="ballColor ballcolor-g">04</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">05</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
				<td class="ballColor ballcolor-g">06</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">07</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
				<td class="ballColor ballcolor-g">08</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">09</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
				<td class="ballColor ballcolor-g">10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
				<td class="ballColor ballcolor-g">12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
				<td class="ballColor ballcolor-g">14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
				<td class="ballColor ballcolor-g">16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
				<td class="ballColor ballcolor-g">18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
				<td class="ballColor ballcolor-g">20</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="20" rate="0.0" oddsId="" class="shuzi" rakeBack="1022">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">第一球 双面盘</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="1023">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="1024">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="1025">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="1026">
				</td>
			</tr>
			<tr>
				<td>尾大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾大" rate="0.0" oddsId="" rakeBack="1027">
				</td>
				<td>尾小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾小" rate="0.0" oddsId="" rakeBack="1028">
				</td>
			</tr>
			<tr>
				<td>合单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合单" rate="0.0" oddsId="" rakeBack="1030">
				</td>
				<td>合双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合双" rate="0.0" oddsId="" rakeBack="1029">
				</td>
			</tr>
			<tr>
				<td>东</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="东" rate="0.0" oddsId="" rakeBack="1031">
				</td>
				<td>南</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="南" rate="0.0" oddsId="" rakeBack="1032">
				</td>
			</tr>
			<tr>
				<td>西</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="西" rate="0.0" oddsId="" rakeBack="1033">
				</td>
				<td>北</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="北" rate="0.0" oddsId="" rakeBack="1034">
				</td>
			</tr>
			<tr>
				<td>中</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="中" rate="0.0" oddsId="" rakeBack="1035">
				</td>
				<td>发</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="发" rate="0.0" oddsId="" rakeBack="1036">
				</td>
			</tr>
			<tr>
				<td>白</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="白" rate="0.0" oddsId="" rakeBack="1037">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(12, 'diyiqiu', 'diyiqiu', '第一球')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
