/*公用*/
* {
    outline: none;
}
body{
	max-width:20rem;
	margin:0 auto !important;
	background: #FFF;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, ul, li, h1, h2, h3, h4, h5, h6, p, ol, li, dt, dd, dl {
    border: none;
    list-style: none;
    font-weight: normal;
}
body, div, ol, dl, dt, dd, ul, li, table, tr, td, h1, h2, h3, h4, h5, h6, p, form, input, button, img, strong, em {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-style: normal;
    box-sizing: border-box;
    outline: none;
}
img {
    vertical-align: bottom;
    display: block;
}
.hide{display:none;}
.visable{display:block;}
/*header重写*/
.bar .button-link.active, .bar .button-link:active{color:#FFF;}
.bar-nav{
	background: #dc5d55;
}
.bar-nav .title{
	color:#FFF;
}
.bar .button-link{
	color:#FFF;
}
.bar .button-nav.pull-right {
    margin-right: .25rem;
}
.icon-kefu{
	background-image: url(../images/ico_kefu.png);
	width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 100%;
    margin-top: .5rem;
}
.icon-add{
	background-image: url(../images/ico-add.png);
	width: 18px;
    height: 18px;
    display: inline-block;
    background-size: 100%;
    margin-top: .6rem;
}
.icon-app_down{
	background-image: url(../images/app_down.png);
	width: 64px;
    height: 28px;
    display: inline-block;
    background-size: 100%;
    margin-top: .5rem;
    margin-right:-.5rem;
}
.login-screen, .popup{max-width:20rem;margin:0 auto;right:0;}
.bar em.icon ,.menu em.icon{ background-size: 100%;
    background-position: center left;
    background-repeat: no-repeat;
    float: left;
    width: 1rem;
    height: 1.8rem;
    position: absolute;
    left: .8rem;
    top: 0;
}
.menu {
    width: 225px;
    background: #fff;
    box-shadow: 1px 1px 8px #ccc;
    position: fixed;
    top: 2.8rem;
    border-radius: .5rem;
    z-index: 100;
    right:0;
}
.menu:before {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    border: .75rem solid transparent;
    border-bottom: .75rem solid #e5e5e5;
    top: -33px;
    right: .4rem;
}
.menu li {
    border-bottom: 1px solid #f5f5f5;
    padding-left: 2.2rem;
    background-repeat: no-repeat;
    background-position: 25px center;
    position: relative;
    line-height: 1.8rem;
    font-size:.7rem;
}
.menu li a{
	color:#565656;
	display: inline-block;
    width: 100%;
}
.menu li.noneBorder{
	border-bottom:none;
}
.menu:after {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    border: .75rem solid transparent;
    border-bottom: .75rem solid #fff;
    top: -32px;
    right: .4rem;
}

/*footer重写*/
.bar-tab .tab-item.active, .bar-tab .tab-item:active{
	color:#dc5d55;
}

/*swiper重写*/
.swiper-container-horizontal>.swiper-pagination{
	bottom:0;
}
.swiper-container{
	padding:0;
}

/*index.css*/
.horn {
    height: 1.5rem;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    line-height: 1.5rem;
    padding: 0 0 0 2rem;
    background: #fff;
}
.horn i{
	background: url(../images/ico-horn.png) no-repeat 10px center;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 0;
    background-size: 65%;
}
.horn span{
	float: left; font-size: .7rem;
}
.horn marquee,.horn .gonggao{
	height:2rem;
	font-size:.7rem;
}
.horn p{margin:0;}
.shouye-body-banner {
    width: 96%;
    background: #ffffff;
    margin: .3rem 2%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 2%;
}
.swiper-slide>a {
    display: block;
    width: 100%;
}
.swiper-slide>a>img {
    width: 100%;
    min-height: 130px;
    max-height: 130px;
    height: 100%;
}
.index_shuom {
    background: #ffffff;
    border: 1px solid #dbdbdb;
    overflow: hidden;
    line-height: 1.5rem;
    font-size: 0.7rem;
    margin: 0 2%;
    border-radius: .3rem;
}
.index_shuom .index_shuom_left {
    float: left;
    width: 75%;
}
.index_shuom .index_shuom_right {
    float: right;
    margin-right: .5rem;
    margin-top: .4rem;
    position: relative;
}
.index_shuom .index_shuom_left ul li:first-child {
    border-bottom: 1px solid #dbdbdb;
    position: relative;
}
.index_shuom .index_shuom_left ul li:last-child {
    position: relative;
}
.index_shuom .index_shuom_left ul li:first-child i {
        background-image: url(../images/index_1.png);
    width: 1.2rem;
    position: absolute;
    left: .4rem;
    top: .2rem;
    background-size: 100%;
    height: 1.2rem;
}
.index_shuom .index_shuom_left ul li span {
    display: inline-block;
    text-indent: 2.1rem;
}
.index_shuom .index_shuom_left ul li:last-child i {
    background-image: url(../images/index_2.png);
    width: 1.2rem;
    height: 1.1rem;
    position: absolute;
    left: .4rem;
    top: .2rem;
    background-size: 100%;
}
.index_shuom .index_shuom_right span {
    display: inline-block;
    font-size: 2rem;
    color: #ea446a;
    font-weight: bold;
}
.index_shuom .index_shuom_right font {
    display: inline-block;
    position: absolute;
    left: .1rem;
    top: 1.2rem;
}
/*首页房间*/
.shouye-fangjian {
    width: 96%;
    display: inline-block;
    margin: 0rem 2% .3rem;
    background: #fff;
    border-radius: .3rem;
    background: #fff;
}
.shouye-fangjian>div {
    width: 50%;
    float: left;
    position: relative;
}
.shouye-fangjian>div>a:nth-child(1) {
    display: block;
    padding: .3rem .8rem .2rem;
}
.shouye-fangjian>div>a>img {
    width: 100%;
}
.shouye-fangjian>div>a:nth-child(2) {
    width: 50%;
    display: block;
    position: absolute;
    bottom: 8%;
    left: 25%;
}
.shouye-fangjian>div>a>img {
    width: 100%;
    max-height:11rem;
}
/*room.css*/
.box-box {
    margin: .5rem;
    position: relative;
}
.back-btn {
    width: 100%;
    display: block;
    max-height: 6.5rem;
}
.back-btn>img {
    width: 100%;
    min-height: 6.5rem;
    max-height:6.5rem;
}
.fixed-seo1 {
    padding: 0 10px;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 34px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.seo-left {
    float: left;
}
.seo-left>span:nth-child(1) {
    color: #fff;
    font-size: 15px;
    line-height: 34px;
}
.seo-left>span:nth-child(2) {
    color: #fcff00;
    font-size: 14px;
    line-height: 34px;
}
.seo-right {
    float: right;
}
.seo-right>img {
    display: inline-block;
    height: 12px;
    float: left;
    margin-top: 11px;
    margin-right: 3px;
}
.seo-right>span {
    color: #fcff00;
    font-size: 14px;
    line-height: 34px;
}
.seo-btn {
    width: 25%;
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
}
.seo-btn>img {
    width: 100%;
}


/*qianbao.css*/
.walletWarp {
    height: 100%;
    overflow: auto;
   /* padding-bottom: 98px;*/
}
.wallet {
    background: #dc5d55;
    padding: .8rem 1.7rem 0;
    height: 8rem;
}
.wallet p {
    color: #e3edff;
    font-size: .9rem;
    margin:0;
}
.wallet p a{
	width: 1rem;
    height: .85rem;
    display: inline-block;
    background-image: url(../images/ico-refresh.png);
    background-size: 100%;
    margin-left:.5rem;
}
.walletAcer {
    width: 100%;
    color: #fff;
    font-weight: bold;
    padding: .7rem;
}
.icoAcer {
    background: url(../images/ico-acer.png) no-repeat right -5px;
    padding-right: 3rem;
    font-size: 1.8rem;
    font-family: Arial;
    font-style: normal;
}
em.icon{
	background-size: 100%;
    background-position: center left;
    background-repeat: no-repeat;
    float: left;
    width: 1.2rem;
    height: 2rem;
    position: absolute;
    left: .8rem;
    top:0;
}
em.icon1 {
    background-size: 100%;
    background-position: center left;
    background-repeat: no-repeat;
    float: left;
    width: 1rem;
    height: 2.5rem;
    position: absolute;
    left: .8rem;
    top: 0;
}
.icoCz1 {
    background: url(../images/ico-cz1.png);
}
.icoCz2 {
    background: url(../images/ico-cz2.png);
}
.icoCz3 {
    background: url(../images/ico-cz3.png);
}
.icoCz4 {
    background: url(../images/ico-cz4.png);
}
.icoCz5 {
    background: url(../images/ico-cz5.png);
}
.icoModifyPas {
    background: url(../images/ico-modifyPas.png);
}
.icoNavArt2 {
    background: url(../images/navArt2.png);
}
.icoSignOut {
    background: url(../images/ico-signOut.png);
}
.icoTeam {
    background-image: url(../images/ico-team.png);
}
.icoGYWMIE {
	 background-image: url(../images/ico-ptgw.png);
}
.icoGYWMQQ {
	 background-image: url(../images/ico-kfqq.png);
}
.icoGYWMWX {
	 background-image: url(../images/ico-kfwx.png);
}
/*gonggao.css*/
.ggTab .buttons-tab {
	background: #dc5d55;
	margin: 0 2%;
}
.ggTab .buttons-tab a{
	color:#FFF;
	position: relative;
}
.ggTab .buttons-tab .button.active{color:#FFF;border-color: transparent;}

.newsTitle {
    position: absolute;
    width: 96%;
    background-color: #dc5d55;
    margin: 0 2%;
}
.newsTitle li {
    width: 50%;
    float: left;
    text-align: center;
    height: 2rem;
    font-size: .8rem;
    line-height: 2rem;
    font-weight: bold;
    color: #fff;
    position: relative;
}
.newsTitle li.active:after {
    width: 0;
    height: 0;
    content: "";
    border: .5rem solid transparent;
    border-bottom: 11px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -.5rem;
    bottom: -2px;
}
.newsContent {
    margin: 2.5rem 2% 0px;
    background: #fff;
    height: 57%;
}
.newsContent .record_list {
    overflow-x: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
.newsContent li {
    line-height: 2rem;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 .5rem 0 1rem;
    position: relative;
    clear: both;
}
.newsContent li:before {
    content: "";
    width: 2px;
    height: 2rem;
    background: #fbfbfb;
    position: absolute;
    left: 1rem;
    top: 0;
}
.newsContent li span {
    float: right;
    color: #b3b2b2;
    line-height: 2rem;
    height: 2rem;
    font-size: .7rem;
}
.newsContent li h3 {
    color: #242424;
    font-size: .7rem;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: .7rem;
}
.newsContent li:after {
    content: "";
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: #f1e3b9;
    position: absolute;
    left: .8rem;
    top: 50%;
    margin-top: -8px;
}
.icoGirl {
    background: url(../images/ico-girl.png);
}
.icoNickname {
    background: url(../images/ico-nickname.png);
}
.icoWallet {
    background: url(../images/ico-wallet.png);
}
.icoRecord {
    background: url(../images/ico-record.png);
}
.icoBiaoqing {
    background: url(../images/img_wd_biaoqing.png);
}
.icoSetUp {
    background: url(../images/ico-setUp.png);
}
.icoChineseName {
    background: url(../images/ico-chineseName.png);
}
.icoEmail {
    background: url(../images/ico-email.png);
}
.icoPhone {
    background: url(../images/ico-phone.png);
}
/*首次取款密码*/
.firstSetPas {padding: 1rem;height:100%;background: #FFF;}
.firstSetPas dl {margin-bottom: 1rem;}
.firstSetPas dt {text-align: center;line-height: 2.5rem;position: relative;}
.firstSetPas dt span{display: inline-block;text-indent: 1rem;font-size:.7rem;}
.pasFrame {text-align: center;position: relative;}
.guangbiao{}
.pasFrame input {
    height: 2rem;
    width: calc(2rem * 6);
    position: absolute;
    top: 1px;
    background: transparent;
    border: 0;
    z-index: 3;
    font-size: 1px;
    opacity: 0;
}
.pasFrame ul {
    overflow: hidden;
    display: inline-block;
}
.pasFrame li {
    width: 2rem;
    height: 2rem;
    border: 1px solid #e4e4e4;
    float: left;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    position: relative;
}
button {
    width: 100%;
    height: 84px;
    display: inline-block;
    background: #dc5d55;
    font-size: 30px;
    color: #fff;
    border-radius: 42px;
}
.guangbiao:after{ width: 1px; height: 1.7rem; content: ""; background: #000; position: absolute; left: .1rem; top: .1rem; animation: myfirst 1s infinite linear ;}
.guangbiao1:after{ width: 1px; height: 1.7rem; content: ""; background: #000; position: absolute; right: .1rem; top: .1rem; animation: myfirst 1s infinite linear ;}
@keyframes myfirst{
    to{ opacity: 0;}
}

/*card重写*/
.card{margin:0;}
.list-block .item-media+.item-inner{margin-left:2rem;}
.marginBottom{margin-bottom:.5rem;}
.list-block i{width: 4rem;height: 4rem;border-radius: 50%;float: right;overflow: hidden;}
.list-block i img{width:100%;}
.list-block .item-content{min-height:2.5rem;padding-right:.75rem;}
.list-block .item-inner{min-height:2.5rem;}

/*list-block重写*/
.list-block{
	margin:0 0 .5rem 0;
}
/*layer重写*/
.layui-m-layermain, .layui-m-layershade{max-width:20rem;margin:0 auto;right:0;}
.layui-m-layer0 .layui-m-layerchild{max-width:18rem !important;}
.layui-m-layersection .layui-m-layerchild.layui-m-anim-scale{
	width:80%;
}
.layui-m-layersection .layui-m-layercont{
	padding:1.5rem 1rem;font-size:.8rem;
}
.layui-m-layersection .layui-m-layerbtn{
	width:90%;
	margin:0 5% 5%;
	border:none;
	background-color:white;
}
.layui-m-layersection .layui-m-layerbtn span{
	border-radius:initial;
	width:50%;
}
.layui-m-layersection .layui-m-layerbtn span[no]{
	border:none;
	background: #edecec;
	border-radius:initial;
	margin-right:1rem;
}
.layui-m-layersection .layui-m-layerbtn span[yes]{
	background: #dc5d55;
	color:#FFF;
}
.layui-m-layersection .layui-m-layerbtn span[yes] a{
	color:#FFF;
	display: inline-block;
    width: 100%;
}
.layui-m-layersection .layui-m-layerchild h3{
	height:2.5rem;
	line-height: 2.5rem;
	font-size:.6rem;
}

/*xiazhu.css*/
.text-ul li {
    display: inline-block;
    font-size: .6rem;
    background: #dc5d55;
    padding: .5rem;
    border-radius: 6px;
    color: #fff;
    margin: 0 5px 15px;
}
.moneyInput input {
    height: 1.5rem;
    padding: .2rem;
    border: 1px solid #dc5d55;
    width: 25%;
}

/*tishi.css*/
.openComplete {
    text-align: center;
    font-size: .9rem;
    font-weight: bold;
    line-height: 2rem;
}
.openComplete img{width:5rem;}

/*chongzhi.css*/
.card-content-inner.chongzhi_top{text-align: center;}
.card-content-inner em{font-size: 1rem;color: #dc5d55;}
.card-header.card_bot em.icon{
   height:2.2rem;
}
.card-header.card_bot span{
	text-indent: 2rem;
}
.list-block.czList{
	margin:0;
}
.list-block.czList ul{
	background: rgb(245, 245, 245);
}
.icoTop {
    background: url(../images/ico-top.png);
}
.icoBot {
    background: url(../images/ico-bot.png);
}
.icoMoney {
    background: url(../images/ico-money.png) no-repeat left;
}

/*bet-room.css*/
.bet-room-body{position: relative;}
.bet-room-body .page{background: #eee;position: initial;z-index: 98;}
.bet-room-body .content{position: relative;padding: 0 0 5rem;margin-top: 7rem;background: #eee;}
.bet-room-body .bar{position: fixed;z-index: 20;max-width:20rem;margin:0 auto;}
.bet-room-body .bar-tab{background-color: #f4f4f4;border-top: 1px solid #d9d9d9;padding: 5px;height:auto;max-height: 15rem;}
.bet-room-body .list-block{margin: 7.3rem 0 0 0;}


.bet-room-body .card-top{position: fixed;top:2.2rem;;left:0;z-index: 30;width:100%;right:0;margin:0 auto;max-width:20rem;}
.bet-room-body .card-top .card-footer{background: #f2f2f2;min-height: 2rem;padding: 0 .5rem;}
.bet-room-body .card-top .card-footer span{text-align: center;display: inline-block;width: 100%;}
.bet-room-body .card-top .card-footer span.pk10 i{color:#ffffff;text-shadow: 0 0 1px #000;}
.bet-room-body .card-top .card-footer em{width: 20px;
    height: .7rem;
    display: inline-block;
    position: absolute;
    right: .5rem;
    top: 50%;
    margin-top: -5px;
    transition: all 0.2s linear 0s;}
.bet-room-body .card-top .card-footer em.rotate{
	transform: rotate(180deg);
}
.bet-room-body .card-top .card-footer em:after{    border: 10px solid transparent;
    border-top: 10px solid #bfbfbf;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    left: 0;}
.bet-room-body .card-top .card-content-inner{overflow: hidden;padding:0;}
.bet-room-body .card-top ul.bet-room-down li{
	width: 50%;
    text-align: center;
    float: left;
    padding: .3rem;
}
.bet-room-body .card-top ul.bet-room-down li:first-child{border-right: 1px solid #cfcfcf;}
.bet-room-body .card-top ul.bet-room-down li p:nth-child(1) {
    font-size: .7rem;
    color: #242424;
}
.bet-room-body .card-top ul.bet-room-down li p:nth-child(2) {
    font-size: .7rem;
    color: #ff4f4f;
}
.bet-room-body .card-top ul.bet-room-down li p span {
    padding-left: 1rem;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: .7rem .7rem;
}
.bet-room-body .card-top .card-header{
	background: #e0995e;
	padding:0;
	min-height: 2rem;
}
.bet-room-body .card-top .card-header span{
	display: block;
    text-align: center;
    width: 50%;
    float: left;
    border-right: 1px solid #cdcdcd;
    box-sizing: border-box;
    font-size:.7rem;
    color:#fff;
}
.bet-room-body .card-top .card-header span em.jt{
	width: 20px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    transition: all 0.2s linear 0s;
    right: .5rem;
}
.bet-room-body .card-top .card-header span em.jt.rotate{
	transform: rotate(180deg);
}
.bet-room-body .card-top .card-header span em.jt:after { /*transform: rotate(180deg);*/
    border: 10px solid transparent;
    border-top: 10px solid #ffffff;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    left: 0;
}
/*.bet-room-body .card-history{
	position: fixed;
    z-index: 200;
    top: 9rem;width:100%}*/
.bet-room-body .card-history ul {
    max-height: 18rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.bet-room-body .card-history li{
	line-height: 2rem;
}
.bet-room-body .card-history li em.close {
    width: 20px;
    height: 20px;
    float: right;
    background: url(../images/close1.png) no-repeat;
    background-size: 100%;
    margin-top:.5rem;
}
.bet-room-body .card-history li label i.icoAcer{    width: 15px;
    height: 15px;
    display: inline-block;
    padding-right: 0;
    background: url(../images/ico-acer.png) no-repeat 0 2px;
    background-size: 100%;
    margin: 0 10px;}
.bet-room-body .card-history li label {
    margin-right: 1rem;
}
.bet-room-body .card-history li label:nth-child(2) {
    color: #ff4f4f;
}
.bet-room-body .card-open-hm{
	line-height: 1.3rem;
	color:#8a8a8a;
}
/*.bet-room-body .card-open-hm li:first-child{
	width:20%;
}
.bet-room-body .card-open-hm li {
    width: 35%;
    float: left;
    text-align: center;
}
.bet-room-body .card-open-hm li:last-child {
    width: 45%;
}*/
.bet-room-body .card-top .icoAcer{
	font-size: .8rem;
    color: #ff4f4f;
    padding-right: 0px;
}
.bet-room-body .icoTime, .icoTimeClose {
    background-image: url(../images/ico-time.png);
}
.bet-room-body .bar .list-block{margin:0;}
.bet-room-body .bar .list-block i{height:2.5rem;width:2rem;}
.bet-room-body .bar .list-block .item-media{padding:0;}
.bet-room-body .bar .list-block p a{line-height: 1.4rem;height:1.4rem;top:0px;padding:0 .7rem;background-color: #dc5d55;}
.bet-room-body .bar .list-block ul li{background :#f7f6f8}
.bet-room-body .bar .list-block .item-inner{margin:0;padding-top:0;}
.bet-room-body .bar .list-block .item-title.label{width:20%;}
.bet-room-body .bar .list-block .item-input{position: relative;}
.bet-room-body .bar .list-block .item-input i{position: absolute;top: -.25rem;right: 0;background-size: 100%;height:2rem;}
.bet-room-body .bar .list-block .item-input input{border:1px solid #ccc;width: 80%;height:1.4rem;background: #fff;margin-left:.4rem;font-size:.6rem;border-radius:.3rem;}
.bet-room-body .inco-xiaolian{background: url("../images/xiaolian.png");}
.bet-room-body .list-block li .item-inner{padding:0;}
.bet-room-body .list-block .item-content{min-height:2rem;}
.bet-room-body .list-block .item-inner{min-height:2rem;}

.bet-room-body .card-tishi{
	max-width: 80%;
    margin: .5rem auto 0;
    padding: .5rem;
    background-color: #cdced2;
    border-radius: .25rem;display: table;}
.bet-room-body .card-tishi p{
	font-size: .7rem;
    color: #333;
    line-height: 25px;
    text-align: center;
}
.bet-room-body .card-tishi p>span{
	color: #3F87FF;
}
.bet-room-body .card-huanying{
	display: table;
    margin: 0 auto;
    padding: 10px;
    background-color: #cdced2;
    border-radius: 5px;
    margin-top: 10px;
}
.bet-room-body .card-huanying p {
    font-size: 14px;
    color: #333;
    line-height: 25px;
    float: left;
}
.bet-room-body .card-huanying img {
    float: left;
    margin: 0 5px;
    height: 25px;
}
.bet-room-body .card-huanying span{
	color: #3F87FF;
    font-size: 14px;
    line-height: 25px;
    float: left;
}
.bet-room-body .card-time{
	padding: 0 10px;
    height: 21px;
    line-height: 21px;
    border-radius: 10.5px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #cdced2;
}
.icoTrend {
    background-image: url(../images/ico-trend.png);
}
.icoIntroduce {
    background-image: url(../images/ico-introduce.png);
}
.icoResult {
    background-image: url(../images/ico-result.png);
}
/*left 投注*/
.bet-room-body .card-touzhu-left,.bet-room-body .card-touzhu-right{box-shadow: none;margin: 0 5%;background: #eee;}
.person-money,.touzhu-right {
    width: 100%;
    margin-top: 10px;
}
.person-money>div:nth-child(1) {
    float: left;
    margin-right: 10px;
}
.person-money>div:nth-child(1)>img,.touzhu-right>div:nth-child(1)>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.person-money-right {
    float: left;
    width: 80%;
}
.person-money-right>div>p {
    font-size: 14px;
    color: #999;
    line-height: 35px;
    float: left;
}
.money-lv {
    height: 35px;
    float: left;
    margin-left: .5rem;
}
.person-money-detail {
    width: 100%;
    display: block;
    padding:.5rem 0 .5rem .5rem;
    background-color: #fa9e3b;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.3);
}
.person-money-detail>img {
    position: absolute;
    top: 5px;
    left: -7px;
}
.person-money-detail>div {
    width: 50%;
    float: right;
}
.person-money-detail>div>img {
    width: 22px;
    height: 22px;
    float: left;
    margin-right: .1rem;
}
.person-money-detail>div>p {
    font-size: .55rem;
    line-height: 22px;
    color: #fff;
}
.person-money-detail>p:nth-child(3) {
    width: 50%;
    float: left;
    font-size: .55rem;
    line-height: 22px;
    color: #fff;
}
.person-money-detail>p:nth-child(4) {
    width: 100%;
    float: left;
    font-size: .55rem;
    line-height: 22px;
    color: #fff;
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}
/*right 投注*/
.touzhu-right>div:nth-child(1) {
    float: right;
    margin-left: 10px;
}
.touzhu-right .person-money-right {
    float: right;
    width: 80%;
}
.touzhu-right .person-money-right>div>p {
    font-size: 14px;
    color: #999;
    line-height: 35px;
    float: right;
}
.touzhu-right .money-lv {
    height: 35px;
    float: right;
    margin-top: -7px;
}
.touzhu-right .person-money-detail>img {
    position: absolute;
    top: 5px;
    right: -.32rem;
    left:inherit;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

/*touzhu.css*/
.bet-room-body .bar-tab .card-header{padding:0;min-height:1.5rem;background: #dc5d55; color: #fff;padding: 0 .5rem;}
.bet-room-body .bar-tab .card-header span.swpier_title{display:inline-block; text-align: center;width:100%;}
.bet-room-body .bar-tab .peilvshuom button{ 
	width: 100%;
    height: 1.5rem;
    display: inline-block;
    background: #dc5d55;
    font-size: .7rem;
    color: #fff;
}
.bet-room-body .bar-tab .play1 ul div{
	width: 100%;
    font-size: 16px;
    line-height: 41px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    padding: 0 0 30px;
    background: #f7f6f8;
    margin-bottom: 0;
    text-align: center;
}
.bet-room-body .bar-tab .play1 li{
	width:20%;
	float:left;
	padding:0 .3rem .3rem 0;
}
.bet-room-body .bar-tab .play2 {
    overflow: hidden;
}
.bet-room-body .bar-tab .play2 li {
    width: calc(100% / 7);
    float: left;
    padding: 0 0 5px 5px !important;
}
.bet-room-body .bar-tab .play1 li p {
    height: 24px;
    background: #e09a5f;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 12px;
}
span.k3_img,i.k3_img,em.k3_img {
    text-indent: -9999px;
    display: inline-block;
    width: 1.8rem;
    text-align: center;
    height: 1.8rem;
    line-height: 1.8rem;
}
span.small_k3_img,i.small_k3_img,em.small_k3_img {
    text-indent: -9999px;
    display: inline-block;
    width: 1.3rem;
    text-align: center;
    height: 1.3rem;
    line-height: 1.3rem;
}
span.k3_1,i.k3_1,em.k3_1,em.k3_01{
	background: url(../images/k3_01.png);
    background-size: 100%;
}
span.k3_2,i.k3_2,em.k3_2,em.k3_02{
	background: url(../images/k3_02.png);
    background-size: 100%;
}
span.k3_3,i.k3_3,em.k3_3,em.k3_03{
	background: url(../images/k3_03.png);
    background-size: 100%;
}
span.k3_4,i.k3_4,em.k3_4,em.k3_04{
	background: url(../images/k3_04.png);
    background-size: 100%;
}
span.k3_5,i.k3_5,em.k3_5,em.k3_05{
	background: url(../images/k3_05.png);
    background-size: 100%;
}
span.k3_6,i.k3_6,em.k3_6,em.k3_06{
	background: url(../images/k3_06.png);
    background-size: 100%;
}
.bet-room-body .bar-tab .play2 li p {
    line-height: 12px;
    font-size: 12px;
    color: #666;
}
.bet-room-body .bar-tab .play2 li div {
    font-size: 14px;
    border-radius: 4px;
    background: #f7f6f8;
    text-align: center;
    line-height: 24px;
    height: 44px;
    width: 100%;
    margin-bottom: 0;
}
.bet-room-body .bar-tab .play3,.bet-room-body .bar-tab .play4{
	text-align: center;
	line-height: 2rem;
}
.bet-room-body .bar-tab .play3 ul{
	display: inline-block;
    width: 100%;}
.bet-room-body .bar-tab .play3 li {
    padding: 0 7px 18px;
    float: left;
    width: 25%;
    height: 75px;
    text-align: center;
}
.bet-room-body .bar-tab .play4{overflow: hidden;}
.bet-room-body .bar-tab .play4 li {
    padding: 0 .1rem 0;
    float: left;
    margin-bottom:10px;
    width: 14.2%;
    height: 50px;
    text-align: center;
}
.bet-room-body .bar-tab .play4 li div {
    height: 50px;
    width: 100%;
    color: #242424;
    background: #f7f6f8;
    font-size: 20px;
    line-height: 33px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}
.bet-room-body .bar-tab .play4 li p {
    height: 17px;
    font-size: 13px;
    line-height: 17px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
}
.bet-room-body .bar-tab .play4 span{
	font-family: fantasy;
	display: inline-block;
	font-size:14px;
}
.bet-room-body .bar-tab .play3 li div {
    height: 75px;
    width: 100%;
    color: #242424;
    background: #f7f6f8;
    font-size: 20px;
    line-height: 40px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}
.bet-room-body .bar-tab .play3 li p {
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
}
.red1 {
    background: #df4d69;
}
.lv {
    background: #4dcd70;
}
.lan {
    background: #5e97fe;
}
.huang {
    background: #feb55e;
}
.kafei{
	background: #e09a5f;
}
.shuzi_1, .shuzi_4, .shuzi_7, .shuzi_10, .shuzi_16, .shuzi_19, .shuzi_22, .shuzi_25 {
    color: #00DB00;
}
.shuzi_2, .shuzi_5, .shuzi_8, .shuzi_11, .shuzi_17, .shuzi_20, .shuzi_23, .shuzi_26 {
    color: #0000E3;
}
.shuzi_3, .shuzi_6, .shuzi_9, .shuzi_12, .shuzi_15, .shuzi_18, .shuzi_21, .shuzi_24 {
    color: #FF0000;
}
.bet-room-body .bar-tab .play5 ul div{
	width: 100%;
    font-size: 16px;
	line-height:30px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    padding: 0 0 25px;
    background: #f7f6f8;
    margin-bottom: 0;
    text-align: center;
}
.bet-room-body .bar-tab .play5 li{
	width:20%;
	float:left;
	padding:0 .4rem .3rem 0;
}
.bet-room-body .bar-tab .play5 li p {
    height: 24px;
    background: #e09a5f;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 12px;
}
.bet-room-body .bar-tab .play6 li{width:16.6%;}
.colorSpan{color: white;text-shadow: 0 0 1px #000;width:30px;display: inline-block;height:30px;font-family: fantasy;}
.color1{background-color:#fcf53c !important;}
.color2{background-color:#4990e2 !important;}
.color3{background-color:#4a4a4a !important;}
.color4{background-color:#f6a623 !important;}
.color5{background-color:#50b8e3 !important;}
.color6{background-color:#5d12fe !important;}
.color7{background-color:#b4b3b3 !important;}
.color8{background-color:#d0011b !important;}
.color9{background-color:#801111 !important;}
.color10{background-color:#7ed321 !important;}
.color01{background-color:#fcf53c !important;}
.color02{background-color:#4990e2 !important;}
.color03{background-color:#4a4a4a !important;}
.color04{background-color:#f6a623 !important;}
.color05{background-color:#50b8e3 !important;}
.color06{background-color:#5d12fe !important;}
.color07{background-color:#b4b3b3 !important;}
.color08{background-color:#d0011b !important;}
.color09{background-color:#801111 !important;}
.leftAr{
	width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 1rem;
    top: 0;
}
.rightAr{
	width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: .5rem;
    top: 0;
}
#touzhu_jianpan .leftAr:after {
    width: 0;
    height: 0;
    content: "";
    border: 10px solid transparent;
    border-right: 10px solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
#touzhu_jianpan .rightAr:after {
    width: 0;
    height: 0;
    content: "";
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

/*bet_foot.css*/
.bet-room-body .bar-tab .foot-left {
    width: 15%;
    height: 30px;
    background-color: #dc5d55;
    color: #FFF;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    float: left;
    font-size: .7rem;
}
.bet-room-body .bar-tab input {
    width: 56%;
    margin-left: 3%;
    height: 30px;
    border: none;
    background-color: #fff;
    border-radius: 3px;
    float: left;
    padding-left: 10px;
    line-height: 30px;
    font-size: 14px;
    color: #666;
}
.foot-right {
    width: 10%;
    height: 30px;
    float: left;
}
.foot-right-img {
    width: 26px;
    height: 26px;
    margin: 2px auto;
    display: block;
}
.foot-right-btn {
    width: 15%;
    height: 30px;
    background-color: #dc5d55;
    color: #FFF;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    float: right;
    font-size: .7rem;
}
.foot-expression {
    width: 100%;
    height: 9rem;
    float: left;
}
.expression-box {
    width: 100%;
    height: 9.5rem;
}
.expression-box-box {
    width: calc(100% / 7);
    height: 2rem;
    padding-top: 5px;
    float: left;
}
.expression-box-box>img {
    width: 50%;
    margin: auto;
}
.bet-room-body .bar-tab .card{margin-top: 1.7rem;}
/*toast.css*/
.modal{
	z-index:1989101422;
	position: fixed;
}
.money-lay-word {
    font-size: .8rem;
    color: #333;
    line-height: 2rem;
    height: 2rem;
    border-bottom: 1px solid #efeff4;
    padding-left: 20%;
    text-align: left;
}
.money-lay-word>span {
    color: #dc5d55;
}

/*betRoom.popup.css*/
#openHistoryPopup .content-block{margin:0;}
#openHistoryPopup,#betCurOrderPopup{background: #eee;position: fixed;}
#openHistoryPopup .card-content-inner{padding:.75rem 0;font-size:.7rem;overflow: hidden;}
#betCurOrderPopup .card-content-inner{padding:.75rem .3rem;font-size:.7rem;overflow: hidden;}
#openHistoryPopup .card-open-hm{overflow: hidden;margin-bottom:2rem;}


/*bank_card.css*/
.binding {
    padding-top: 5rem;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.5rem;
}
.binding a{
	color:#242424;
}
.binding i {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-right: 1rem;
    background-position: center;
    background-repeat: no-repeat;
}
.icoAdd1 {
    background: url(../images/ico-add1.png);
    vertical-align: middle;
}
.icoChika {
    background-image: url(../images/ico-chika.png);
}
.icoBank1 {
    background-image: url(../images/ico-bank1.png);
}
.icoPhone1 {
    background-image: url(../images/ico-phone1.png);
}
.icoXiugai {
    background-image: url(../images/ico-xiugai.png);
}
.BanText {
    height: 2rem;
    text-align: center;
    color: #b1b0b0;
    font-size: .8rem;
    line-height: 2rem;
}
.information {
	min-height:2rem;
    border-top: 1px solid #dcdcdc;
    margin: 2rem 0px 0;
    font-size: 1rem;
    background: #fcfcfc;
}
.information p{
	line-height: 2rem;
}
.details {
    margin: 1rem;
    background: #fcfcfc;
    border-radius: .5rem;
    padding: 1rem;
    min-height: 6rem;
    text-align: center;
    border: 1px solid #a1a1a1;
}
.details p {
    font-size: .9rem;
    color: #242424;
    line-height: 2rem;
    text-align: left;
}

/*提款*/
.icoBank {
    background-image: url(../images/ico-bank.png);
}
.icoAgent {
    background-image: url(../images/ico-agent.png);
}
.icoShare {
    background-image: url(../images/ico-share.png);
}
/*占位符*/
.zhanwei {
    width: 100%;
    height: 100%;
   	background: url(../images/zhanwei.png) no-repeat center #fff !important;
    background-position-y: 4rem !important;
}

/*chongzhi.css*/
.radioClass {
    padding-left: .5rem !important;
}
.radioClass li{
	clear: both;
    zoom: 1;
    overflow: hidden;
    border-bottom: 1px solid #dedede;
    position: relative;
}
.radioClass span {
    display: inline-block;
    width: 30%;
    float: left;
    position: relative;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
}
.radioClass li label {
    width: 70%;
    float: right;
}
.radioClass li input[type="radio"] {
    width: auto;
    height: auto;
    display: none;
}
.radioClass li input{
	float: right;
    margin-right: 30px;
    width: 400px;
    height: 55px;
    border: 2px solid #ccc;
    border-radius: 40px;
    padding: 0 40px;
}
.radioClass li label{
	line-height: 2.5rem;
}
.radioClass li input[type=radio]:checked +label:before {
    background: #dc5d55;
}
.radioClass li input[type=radio]:checked +label:after {
    border: 2px solid #dc5d55;
}
.radioClass li label:before {
    width: .7rem;
    height: .7rem;
    background: #ccc;
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -.3rem;
    right: 2rem;
}
.radioClass li label:after {
    width: 1rem;
    height: 1rem;
    border: 2px solid #ccc;
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -.55rem;
    right: 1.75rem;
}
.radioClass.xxClass span{
    	background-repeat: no-repeat;
	    background-size: 5rem 1.5rem;
	    background-position: 0 .5rem;
    }
/*wanfa.css*/
.ico_PCEGG {
    background-image: url(../images/gclogo/PCEGG.png);
}
.ico_JND28 {
    background-image: url(../images/gclogo/JND28.png);
}
.ico_BJSC {
    background-image: url(../images/gclogo/BJSC.png);
}
.ico_SFSC {
    background-image: url(../images/gclogo/SFSC.png);
}
.ico_XYFT {
    background-image: url(../images/gclogo/XYFT.png);
}
.ico_AHK3 {
    background-image: url(../images/gclogo/AHK3.png);
}
.ico_FFK3 {
    background-image: url(../images/gclogo/FFK3.png);
}
.ico_GSK3 {
    background-image: url(../images/gclogo/GSK3.png);
}
.ico_GXK3 {
    background-image: url(../images/gclogo/GXK3.png);
}
.ico_HBK3 {
    background-image: url(../images/gclogo/HBK3.png);
}
.ico_HEBK3 {
    background-image: url(../images/gclogo/HEBK3.png);
}
.ico_JSSB3 {
    background-image: url(../images/gclogo/JSSB3.png);
}
.ico_JXK3 {
    background-image: url(../images/gclogo/JXK3.png);
}
.ico_SHHK3 {
    background-image: url(../images/gclogo/SHHK3.png);
}
.ico_WFK3 {
    background-image: url(../images/gclogo/WFK3.png);
}
.ico_BJK3 {
    background-image: url(../images/gclogo/BJK3.png);
}
/*open.css*/
.shuzi_01,.shuzi_04,.shuzi_07,.shuzi_10,.shuzi_16,.shuzi_19,.shuzi_22,.shuzi_25{background:#00DB00;}
.shuzi_02,.shuzi_05,.shuzi_08,.shuzi_11,.shuzi_17,.shuzi_20,.shuzi_23,.shuzi_26{background:#0000E3;}
.shuzi_03,.shuzi_06,.shuzi_09,.shuzi_12,.shuzi_15,.shuzi_18,.shuzi_21,.shuzi_24{background:#FF0000;}
.shuzi_00,.shuzi_13,.shuzi_14,.shuzi_27{background: #ccc;}
.list-block .item-openAward em{
	display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    line-height: 1.8rem;
    text-align: center;
    color: #fff;
    font-size: .8rem;
    margin: 0 .1rem;
}
/*thred.css*/
.list-block table{
	background: #fff;
    width: 100%;
    border: 0;
    margin: 0;
}
.list-block table th{
	height: 3rem;
    border: 1px solid #fafafa;
    background: #fafafa;
    font-size:.7rem;
}
.list-block table tr{
	text-align: center;
}
.list-block table tr td{
	height: 2.5rem;
}
.list-block table td label{
	width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #ffd410;
    color: #242424;
    display: inline-block;
    line-height: 1.5rem;
    border-radius: 50%;
    background-color: #ffba00;
}
.list-block table td em{
	width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    line-height: 1.5rem;
    border-radius: 50%;
    color: #fff;
    vertical-align: middle;
}
/*tishi.css*/
.popupAlert {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
    right:0;
    max-width:20rem;
    margin:0 auto;
}
.popupAlert .popup_header img {
    position: absolute;
    right: 2rem;
    width: 1.5rem;
    top: .5rem;
}
.popupAlert .popup_top img,.popupAlert .popup_top_index img{
    width: 100%;
    position: absolute;
    top: 3%;
}
.popupAlert .popup_footer img {
    width: 100%;
    position: absolute;
    top: 65%;
}
.popupAlert .popup_top {
    color: #fff;
    background: rgb(77, 131, 254);
    margin: 0 2%;
    border-radius: 10px;
    line-height: 1.5rem;
    font-size: .7rem;
    padding-left: 15px;
    position: absolute;
    bottom: 40%;
}
.popupAlert .popup_top .xxyhzz {
    width: 97%;
    text-align: center;
    display: inline-block;
    font-size: .8rem;
    color: rgba(255, 250, 118, 0.79);
    border-bottom: 1px solid #fff;
    line-height: 2rem;
}
.popup-overlay.modal-overlay-visible{visibility: hidden !important;}


/*登录.css*/
.denglu-body{
	width: 100%;
	padding-bottom: 20px;
}
.denglu-body>img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	right:0;
	max-width:25rem;
	margin:0 auto;
}
.denglu-fix{
	position: relative;
	width: 80%;
	background-color: rgba(0,0,0,0.3);
	padding: 10px 13px 20px 13px;
	border-radius: 5px;
	margin:0 10%;
}
.denglu-fix>img{
	width: 24px;
	height: 24px;
	position: absolute;
	top: -8px;
	right: -8px;
}
.denglu-fix>p{
	font-size: 18px;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}
.denglu-input{
	width: 100%;
	height: 33px;
	position: relative;
	margin-bottom: 14px;
	font-size: .6rem;
}
.denglu-input>img{
	width: 19px;
	height: 19px;
	position: absolute;
	top: 7px;
	left: 10px;
}
.denglu-input>input.remeberJZ{
	float:left;
	margin:6px 5px 0;
}
.denglu-input>input[type=text],.denglu-input>input[type=password]{
	width: 100%;
    height: 33px;
    line-height: 33px;
    padding: 0 35px;
    background: #2d2d2d;
    background: rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    border: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
}
.denglu-fix>div:nth-child(4){
	width: 100%;
	margin-bottom: 15px;
}
.denglu-fix>div:nth-child(4)>a:nth-child(1){
	float:left;
	color: #FFC81F;
	font-size: 14px;
}
.denglu-fix>div:nth-child(4)>a:nth-child(2){
	float:right;
	color: #FFC81F;
	font-size: 14px;
}
.denglu-fix a{
	cursor: pointer;
	text-align: center;
	line-height: 34px;
	display: block;
    width: 100%;
    height: 34px;
    padding: 0;
    background: rgba(6, 127, 228, 0.71);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 0;
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset,0 2px 7px 0 rgba(0,0,0,.2);
    font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
.denglu-fix a.register-but{
	line-height: 34px;
    margin: 15px auto 0px;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.38);
    background: rgba(45, 45, 45, 0.33);
    border-radius: 6px;
}
.denglu-fix a:hover {
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
}
.denglu-fix .testYk a{
	line-height: 34px;
    margin: 15px auto 0px;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.38);
    background: rgba(45, 45, 45, 0.33);
    border-radius: 6px;
    width:48%;
}
.denglu-fix .testYk a.yk{
	float:left;
}
.denglu-fix .testYk a.zc{
	float:right;
}
.denglu-fix2{
	position: relative;
	width: 80%;
	margin:1em 10% 0;
}
.denglu-fix2>div:nth-child(1)>div{
	width: 30%;
	height: 20px;
	float:left;
}
.denglu-fix2>div:nth-child(1)>div>img{
	width: 80%;
	margin: 0 auto;
	margin-top: 8px;
}
.denglu-fix2>div:nth-child(1)>p{
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	width: 40%;
	float:left;
}
.denglu-fix2>div:nth-child(2){
	margin-top: 20px;
}
.denglu-tiaozhuan1{
	flex-grow:1;
}
.denglu-tiaozhuan2{
	width: 50%;
	float:left;
	padding-left: 17px;
}
.denglu-tiaozhuan1>a{
	display: block;
	width: 43px;
	height: 43px;
	width: 100%;
    text-align: center;
}
.denglu-tiaozhuan2>a{
	display: block;
	width: 43px;
	height: 43px;
	float:left;
}
.denglu-fix2>div:nth-child(2)>div>a>img{
	width: 43px;
	height: 43px;
	display: inline-block;
}
input:focus {
    outline: 0;
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset,0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset, 0 2px 7px 0 rgba(0,0,0,.2);
}

.denglu-fix .input-group-addon{
	width:106px;
	height:32px;
	position: absolute;
	bottom:0;
	right:0;
}
.loginBanner {
    width: 200px;
    height: 140px;
    margin: 0 auto;
    padding: 2em 0 0;
    position: relative;
}
.headPortrait {
    width: 200px;
    height: 70px;
    padding: 5px;
    overflow: hidden;
}
.headPortrait img {
    width: 100%;
}
.loginWarp li p {
    line-height: 48px;
    color: #f06856;
}

.bet-room-body .bar-tab .play6 .pk10_nav,.bet-room-body .bar-tab .play5 .pk10_nav{
	line-height: 33px;
}
.bet-room-body .bar-tab .play6 .pk10_nav i,.bet-room-body .bar-tab .play5 .pk10_nav i{
	display: inline-block;
	width:17%;
	height:33px;
	text-align: center;
	text-shadow: 0 0 1px #000;
	color:white;
	background: #df4d69;
	margin:0 .3rem .2rem 0;
	font-weight: 700;
}
.colorjieguo {
    width: 22px;
    display: inline-block;
    margin-right: 2px;
    color:white;
}
.list-block i.color_history{
	width: 1.1rem;
    display: inline-block;
    margin-right: .15rem;
    height:1.1rem;
    color:#fff;
    float:left;
    border-radius: 0;
    text-shadow: 0 0 1px #000;
    line-height: 1.1rem;
    text-align: center;
}

/*投注记录font-size*/
#betRecordDetail .list-container .item-title,#page_open_award_jsp .list-container .item-title{font-size:.7rem;}
#betRecordDetail .list-container .item-after,#page_open_award_jsp .list-container .item-after{font-size:.7rem;}
#betRecordDetail .list-container .item-text,#page_open_award_jsp .list-container .item-text{font-size:.7rem;}

.panel_active {
    transform: translate3d(-12rem,0,0);
}
/*index2.jsp*/
.shouye_index_version{
	width:100%;
	background: #ffffff;
	border-top: 1px solid #ccc;
}
.weui-grids {
    position: relative;
    overflow: hidden;
    background: #fff;
}
.navTab .weui-grid{
	width:25%;
	padding: 10px 10px 5px;
}
.weui-grid {
    position: relative;
    float: left;
    padding: 20px 10px;
    width: 50%;
    box-sizing: border-box;
}
.weui-grid.weui-member{width:33.33333%;}
.weui-grid__icon {
    width: 35px;
    height: 25px;
    margin: 0 auto;
}
.weui-grid__icon img {
    display: block;
    width: 100%;
    height: 100%;
}
.weui-grid__icon + .weui-grid__label {
    margin-top: 5px;
}
.weui-grid__label {
    display: block;
    text-align: center;
    color: #000000;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.weui-grid:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.weui-grids:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.weui-grid.none-grid:before{
	border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.weui-grid:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.weui-grids:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.weui-media-box__hd {
    margin-right: .8em;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float:left;
}
.weui-media-box__thumb {
    width: 100%;
    max-height: 100%;
    vertical-align: top;
}
.weui-media-box__bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}
.weui-media-box__title {
    font-weight: 400;
    font-size: 17px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
}
.weui-media-box__title img{width:80%;display:inline-block;margin-top:.2rem;}
.weui-media-box__desc {
    color: #999999;
    font-size: 12px;
    line-height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.quickMenu {
    margin-top: 0.3rem;
    background-color: #fefefe;
    text-align: center;
    letter-spacing: -0.15rem;
    font-size: 0rem;
    border-bottom: 1px solid #e0e0e0;
}
.quickMenu .qMenuItem {
    margin: 0 auto;
    background-color: #fefefe;
    display: inline-block;
    line-height: 1.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    width: 100%;
    letter-spacing: 1px;
}
.color_huang {
    color: #edb93f !important;
}
.color_hong {
    color: #e62e25 !important;
}
.color_lv {
    color: #52b653 !important;
}
.color_lan {
    color: #3c8efa !important;
}
.quickMenu .qMenuItem .iconfont {
    margin-top: 0.4rem;
    font-size: 1.6rem;
    display: block;
}

/*个人中心*/
.tit {
    width: 100%;
    height: 170px;
    overflow: hidden;
    position: relative;
}
.tit>img {
    width: 100%;
    min-height: 170px;
}
.tit-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 170px;
    width: 100%;
}
.tit-box>img:nth-child(1) {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    top: 52px;
    left: 15px;
}
.tit-box>p:nth-child(2) {
    font-size: 22px;
    color: #fff;
    width: 60%;
    margin-left: 30%;
    margin-top: 62px;
}
.tit-box>div:nth-child(3) {
    width: 60%;
    margin-left: 30%;
    margin-top: 10px;
}
.tit-box>div:nth-child(3)>img {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 4px;
    margin-right: 10px;
}
.tit-box>div:nth-child(3)>p {
    font-size: 14px;
    color: #fff;
    float: left;
    line-height: 20px;
}
.tit-box>img:nth-child(4) {
    height: 16px;
    width: 8px;
    position: absolute;
    top: 77px;
    right: 15px;
}
.weui-grids .weui-grid__icon{
	height:35px;
}