blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block
}
/*::selection
{
    background: transparent;
}

::-moz-selection
{
    background: transparent;
}*/
h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a:hover, a:active {
    outline: 0
}

b, strong {
    font-weight: bold
}

small {
    font-size: 80%
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

img {
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

form {
    margin: 0
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button, input {
    line-height: normal
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
.appad{
    display: block;
    margin: -21px auto 20px;
    width: 997px;
}
body {
    margin: 0;
    font: 12px/1.5 arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    color: #8c8c8c;
   background: url("../images/bg-repeat.png");
}

a {
    color: #8c8c8c;
    text-decoration: none
}

a:hover, a:focus {
    color: #3498db;
    text-decoration: none
}

.clearfix:after, .clearfix:before,
.br:after, .br:before {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    position: relative;
    z-index: -1;
    line-height: 0
}

.clearfix:after,
.br:after {
    clear: both
}

.clearfix,
.br {
    *zoom: 1
}

ol, ul {
    list-style: none
}


.top{
    padding-top: 1px;
    height: 43px;
    line-height: 43px;
    background:url("../images/zt_top_rpeatX.png") repeat-x ;
    border-bottom: 1px solid #d7d7d7;
}
.logo{
    display: block;
    width: 104px;
    height: 36px;
    float: left;
    background: url("../images/zt_logo.png") no-repeat;
    margin-top: 4px;
    overflow: hidden;
    text-indent: -2000px;
}
.top .login{
    float: left;
}
.top .login a{
    color:#f75e53 ;
}
.top .right{
    float: right;
    margin-right: -1px;
}
.top .section{
    overflow: hidden;

}
.top .right a{
    padding: 0 10px;
    line-height: 12px;
    height: 12px;
    border-right: 1px solid #d9d9d9;
    color: #666;
}

.section {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    left: -1px;
}


.home {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 16px;
    color: #77766f;
}

.copy-right {
    padding-bottom: 56px;
    padding-top: 15px;;
}

.copy-right, .copy-right a {
    text-align: center;
    font-size: 12px;
    color: #a86f03;
    font-family: "宋体";
}

.copy-right .br {
    padding: 6px 0;
}

.main {
    padding-top: 1px;;
    background:transparent url("../images/bg_2.png") center top no-repeat;
}
.main.main-other{
    background:transparent url("../images/bg_3.png") center top no-repeat;
}

.head{
    position: relative;
    margin-top: 340px;
    padding: 1px;
    width: 998px;
    height: 248px;
}
.head .info{
    padding-top: 1px;
    text-align: center;
}
.head .info .text{
    font-size: 18px;
    margin-top: 20px;
    font-family: 'microsoft yahei';
    color: #fff;

}
.head .info .ds{
    position: relative;
    width: 900px;
    height: 56px;
    margin: 30px auto 0;
    text-align: left;
    background: url("../images/ds.png") no-repeat;
}

.head .info .ds span{
    display: inline-block;
    width: 215px;
    font-size: 14px;
    text-align: center;
    padding-top: 28px;
    font-family: arial, 'microsoft yahei';
    color: #4c4c4c;
    margin-right: 35px;
}
.head .info .ds .end{
    position: absolute;
    width: 147px;
    height: 51px;
    padding: 0;
    margin: 0;
    line-height: 51px;
    text-align: center;
    color:#fd6900 ;
    font-size: 24px;
    font-weight: bold;
    right:0px;
    font-family: arial, 'microsoft yahei';
}
.head .info .ds span em{
    color: #fd6900;
    font-family: arial, 'microsoft yahei';
    font-weight: bold;
}

.head .info .ds.oneBei{
    width: 960px;
}
.head .info .ds.oneBei .end{
    right: 60px;
}

.head .info .btn{
    padding-top: 20px;
}
.head .info a {
    display: inline-block;
    width: 238px;
    height: 58px;
    border: none;
    overflow: hidden;
    text-indent: -2000px;
    background: url("../images/sprite.png") no-repeat 0 -234px;
}
.head .info button:hover{
    background-position: 0 -298px;
}
.head .info .singed,
.head .info .singed:hover,
.head .info .singedd,
.head .info .singedd:hover{
    display: inline-block;
    width: 238px;
    height: 58px;
    border: none;
    overflow: hidden;
    text-indent: -2000px;
    cursor: default;
    background: url("../images/sprite.png") no-repeat 0 -359px;
}
.head .info .singedd,
.head .info .singedd:hover
{
    background: url("../images/sprite.png") no-repeat 0 -499px;
}
.head .info .text span{
    color: #ffe98d;
    margin-left: 15px;
}
.today-btn{
    position: absolute;
    left: 50%;
    margin-left: -79px;
    top: 20px;
    color: #faf201;
    text-align: center;
}

.dj-btn{
    position: absolute;
    left: 50%;
    top: 255px;
    margin-left: 332px;
    display: block;
    width: 98px;
    height: 24px;
    overflow: hidden;
    border: none;
    text-indent: -2000px;
    background: url("../images/sprite.png") no-repeat 0 -172px;
}
.dj-btn:hover{
    background-position: 0 -199px;
}

.dj-btn1{
    position: absolute;
    left: 50%;
    display: block;
    width: 98px;
    height: 24px;
    overflow: hidden;
    border: none;
    text-indent: -2000px;
    top: 209px;
    margin-left: 132px;
    background: url("../images/sprite.png") no-repeat 0 -570px;
}
.main-other .dj-btn1{
    top: 209px;
}
.main-other .dj-btn{
    top: 255px;
}
.dj-btn1:hover{
    background-position: 0 -599px;
}
.today-btn a{
    display: inline-block;
    height: 40px;
    width: 158px;
    text-align: center;
    line-height: 40px;
    border-bottom: 4px solid #800015;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    background-color: #d61333;
    cursor: pointer;
}
.signed a{
    background: #909090;
    cursor: default;
    overflow: hidden;
    color: #fff;
    border-bottom: 5px solid #5c000f;
}
.un-login{
    position: relative;
    padding-top:1px;
}
button:focus{
    outline: none;
}
.un-login button{
    display: block;
    width: 432px;
    height: 82px;
    margin:67px auto 0;

    background: url("../images/sprite.png") no-repeat;
    border: none;
    overflow: hidden;
    text-indent: -2000px;
}
.un-login button:hover{
    background-position: 0 -90px;
}
.un-login p{
    position: absolute;
    left: 724px;
    top: 87px;
    color: #fff;
    font-family: '黑体';
    font-size: 24px;
}
.un-login p a{
    color: #f6ff00;
    text-decoration: underline;
}
.un-login p a:hover{
    color: #ffed56;
}
 .today-btn a:active{
    background-color:#d61333 ;
    border-bottom: 0;
}

.month{
    height: 62px;
    background-color: #fd6900;
    line-height: 62px;
    font-size:30px;
    font-weight:bold;
    text-align: center;
    color: #fff;
}
.nav{
    width: 100%;
    position: absolute;
    z-index: 5;
}
.nav span{
    display: block;
    width: 92px;
    height: 62px;
    cursor: pointer;

}
.nav .pre{
    float: left;
    margin-left: 10px;
    *margin-left: 0px;
    border-right: 1px solid #d55900;
    background: url("../images/sign.png") no-repeat 35px -290px #fd6900;
}
.nav .pre.disable{
    background-position:-95px -290px ;
    cursor: default;
}
.nav .next{
    position: relative;
    float: right;
    right: 10px;
    *right:20px;
    border-left: 1px solid #d55900;
    background: url("../images/sign.png") no-repeat 35px -202px #fd6900;
}
.nav .next.disable{
    background-position:-90px -205px ;
    cursor: default;
}
.calendar{
    margin: 0 10px;
    background-color: #eeeded;
}
em{
    font-style: normal;
}
.calendar .day{
    background-color: #d1cccc;
    padding-bottom: 10px;
}
.calendar .day  span,
.calendar .week  span{
    position: relative;
    display: block;
    height: 38px;
    width: 138px;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    float: left;
    text-align: center;
    padding-top: 18px;
    font-size: 14px;
    color: #000;


}
.calendar .week  span{
    font-size: 30px;
    padding-top: 8px;
    height: 48px;
}
.calendar .day  .p,
.calendar .day .b{
    background-color: #fff;
    font-size: 30px;
    color: #ccc;
    padding-top: 0;
    height: 56px;
    line-height: 58px;

}
.calendar .day .b{
 color: #777;
}
.calendar  span em{
    display: block;
    color: #e07f21;


}
.calendar .day .signed{
    background: url("../images/sign.png") no-repeat 0px -59px #fff;
    padding-top: 8px;
    height: 48px;
    font-size: 14px;
}
.calendar .day .signed a{
   display: block;
    width: 88px;
    height: 27px;
    margin: 12px auto 0;
    border: none;
    text-indent: -2000px;
    background: url("../images/sprite.png") no-repeat 0px -426px;
}
.calendar .day .signed a:hover{
    background-position: 0px -461px;
}

.calendar .day .today{
    background: url("../images/sign.png") no-repeat 0px -562px #fff;
}
.calendar .day b{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    display: block;
    color: #ffea00;
    font-size: 12px;
    padding: 3px  0 0 3px;

}
.calendar .day .unsigned b{
    color: #fff;
}
.calendar .day  .unsigned{
    background: url("../images/sign.png") no-repeat 0px -120px #fff;
    font-size: 12px;
    color: #fff;
    padding-top: 18px;
}
.explain h2{
    padding-top: 15px;
border-top: 1px solid #cc2a1e;

}
.explain .border{
    height: 100px;
    border-bottom: 1px solid #820016;
}
.explain{
    position: relative;
    background-color: #ab0823;
    height: 370px;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    padding-top: 20px;
    padding-left: 10px;
}
.explain span{
    color: #faa603;
    padding-right: 15px;
}
.explain p{
    line-height: 33px;
}


.allow{
    background:none;
}
.forbid .zd{
    display: none;
}
.forbid  #flashContent{
    display: none;
}
 .table{
     position: absolute;
     left: 50%;
     top: 340px;
     margin-top: 22px;
     z-index: 200;
    display: none;
    width: 396px;
}
.table .table-wrapper
{
    padding-top: 1px;
    background-color: #fff;
    padding-bottom: 15px;
}
.table table{
    width: 360px;
    margin: 15px auto 0;
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
}
.table table td{
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    height: 30px;
    text-align: center;
}
.table table{
    color: #ba0000;
}
.table table .th{
    color: #505050;
}
 .table h2{
    background: #ffad01 url("../images/sign.png") no-repeat 15px -503px;
    height: 51px;
    padding-top: 0;
    line-height: 51px;
    color: #fff;
    padding-left: 50px;
     font-size: 20px;
}
.table table thead td{
    color: #747474;
    background-color: #f5f5f5;
    font-weight: bold;
}
.table table tfoot td{
    color: #464646;
    padding: 10px 0;
}
.table table tfoot td a{
    cursor: pointer;
}
.table table tfoot span{
    padding: 0 8px;
    cursor: pointer;
}
.table .f{
    background-color: #fcf9d6;
    color: #b60000;
    line-height: 20px;
    padding: 10px;
    margin-top: 20px;
}
.table .f h4{
    line-height: 30px;
}
.look-btn{
    position: absolute;
    right: 15px;
    top: 105px;
    width: 50px;
    height: 261px;
    background: url("../images/look.png") no-repeat ;
    cursor: pointer;
    z-index: 1;
}
.zd{
    position: absolute;
    z-index: 1;
    display: block;
    width: 255px;
    height: 57px;
    bottom: 200px;
    left: 50%;
    margin-left: -127px;
    background: url("../images/sign.png") no-repeat 0px  -371px;
    cursor: pointer;
}
.zd:active{
    background-position: 0px -429px;
}
.forbid-pop {
    position: absolute;
    display: none;
    z-index: 1;
    width: 498px;
    height: 148px;
    left: 50%;
    top: 50%;
    margin:-74px 0 0 -249px;
}
.forbid .forbid-pop{
    display: block;
}
.forbid-pop .mask{
    position: absolute;

    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    /* IE 4-9 */
    filter:alpha(opacity=30);
    /*This works in IE 8 & 9 too*/
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    /*IE4-IE9*/
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}
.forbid-pop .con{
    position: absolute;
    z-index: 2;
    width: 477px;
    height: 108px;
    margin: 10px;
    background: #fcf9d6;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #504f4f;
    padding-top: 20px;

}
.forbid-pop .con em{
    color: #ff0000;
}
.forbid-pop .con  a{
    font-size: 20px;
    color: #ff0000;
    display: block;
}
.forbid .clicked-pop{
    display: none;
}
.clicked-pop .con{
    font-size: 30px;
    line-height: 80px;
    color: #be0a1d;
}

.panel{
    width: 980px;
    float: left;
}
#scroll{
    position: relative;
    width: 980px;
    overflow: hidden;
}
.flash-table .table table tfoot{
    text-align: center;
}

.flash-table .table table tfoot .nav1{
    display: inline-block;
}

.flash-table .table table tfoot .nav1 span {
    padding: 0px 2px;
    height: 14px;
    line-height: 14px;
    margin-left: 2px;
    color: #464646;
    font-family: "宋体";
    cursor: pointer;
    padding: 0 10px;
}
.flash-table .table table tfoot .nav1 a{
    cursor: pointer;
}
.flash-table .table table tfoot .br{
    padding: 8px 0;
}
.flash-table .table table tfoot .border{
    border-bottom: 1px solid #efefef;
}
.flash-table .table table tfoot .nav1 a{
    color: #9d9d9d;
}
.flash-table .table table tfoot em{
    color: #e3000e;
}


.copy-right {
    padding-bottom: 56px;
}

.copy-right, .copy-right a {
    text-align: center;
    font-size: 12px;
    color: #a86f03;
    font-family: "宋体";
}

.copy-right .br {
    padding: 6px 0;
}



.sign-st{
    position: absolute;
    left: 50%;
    top: 303px;
    margin-left: -386px;
    width: 725px;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
}
.roll-item {
    font-size: 14px;
    position: relative;
    display: block;
    width: 220px;
    height: 27px;
    line-height: 27px;
    float: left;
    padding-left: 15px;
}

.roll-item em {
    color: #fe5700;
}

.roll-item em a {
    color: #fe5700;
}

.roll-item em a:hover {
    color: #fe5700;
    text-decoration: underline;
}

.roll-item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 71px;
    height: 71px;
    border-radius: 4px;
}

.roll-item h3,
.roll-item b {
    position: relative;
    color: #468418;
    font-size: 12px;
    font-weight: normal;
    float: left;
    margin-right: 5px;
}

.roll-item,
.roll-item:hover {
    color: #4a4a4a;
}

.roll-item b,
.roll-item:hover b {
    color: #b2b2b2;
}










.diamond-icon {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 17px;
    height: 13px;
    background: url("../images/sprite.png") no-repeat -1px -237px;
}

.barbar {
    height: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #c61436;
    border: 4px solid #fd6900;
    margin: 0 10px 8px;

}
.barbar a{
    color: #fff;
}
.qdgz{
	position: absolute;
    left: 30%;
    display: block;
    overflow: hidden;
    border: none;
    top: 135px;
    font-size: 28px;
    color: white;
}