@charset "utf-8";
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block
}
.customer-comment{
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    min-width: 1000px;
    display: block;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a:hover, a:active {
    outline: 0
}

b, strong {
    font-weight: normal;
}

small {
    font-size: 80%
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

img {
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

form {
    margin: 0
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button, input {
    line-height: normal
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    margin: 0;
    font: 12px/1.5 "Microsoft Yahei", arial, "Hiragino Sans GB", sans-serif;
    color: #8c8c8c;
    background-color: #fff
}

a {
    color: #252525;
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:focus {
    color: #e30000;
}

.clearfix:after, .clearfix:before,
.br:after, .br:before {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    position: relative;
    z-index: -1;
    line-height: 0
}

.clearfix:after,
.br:after {
    clear: both
}

.clearfix,
.br {
    *zoom: 1
}

.hidden {
    display: none !important;
    visibility: hidden !important
}

.invisible {
    visibility: hidden !important
}

.transparent {
    opacity: 0 !important
}

ol, ul {
    list-style: none
}

em, b {
    font-style: normal;
}

.pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    /* IE 4-9 */
    filter: alpha(opacity=50);
    /*This works in IE 8 & 9 too*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /*IE4-IE9*/
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

.section {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.top {
    padding-top: 1px;
    height: 43px;
    line-height: 43px;
    background: url("../images/zt_top_rpeatX.png") repeat-x;
    border-bottom: 1px solid #d7d7d7;
}

.logo {
    display: block;
    width: 104px;
    height: 36px;
    float: left;
    background: url("../images/zt_logo.png") no-repeat;
    margin-top: 4px;
    overflow: hidden;
    text-indent: -2000px;
}

.top .login {
    position: absolute;
    left: 154px;
    padding-left: 0px;
    float: left;
}

.top .login a {
    color: #f75e53;
}

.top .login a:hover {
    color: #e30000;
}

.top .right {
    float: right;
    margin-right: -1px;
}

.top .section {
    overflow: hidden;

}

.top .right a {
    padding: 0 10px;
    line-height: 12px;
    height: 12px;
    border-right: 1px solid #d9d9d9;
}
.top .right a{
    color: #252525;
}
.copy-right {
    padding-bottom: 56px;

}

.f {
    border-top: 1px solid #bfbfbf;
    margin-top: 30px;
}

.copy-right, .copy-right a {
    text-align: center;
    font-size: 12px;
    color: #6a6a6a;
    font-family: "宋体";
}

.copy-right .br {
    padding: 6px 0;
}

.mt38 {
    margin-top: 38px;
}

.w70 {
    width: 70px;
}

.green {
    color: #00793f;
}

/*
弹出登录*/
.pop {
    display: none;
    z-index: 1000;
}

.pop-login {
    display: none;
    z-index: 1000;
}

.pop-login,
.pop-login .mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.error {
    height: 25px;
    line-height: 25px;
    padding-left: 22px;
    font-weight: normal;
    color: #e30000;
    background: url("../images/sprite.png") no-repeat 0px -1247px;
}

.right-icon, .valid {
    height: 25px;
    line-height: 28px;
    padding-left: 22px;
    font-weight: normal;
    color: #018951;
    background: url("../images/sprite.png") no-repeat 0px -1215px;
}

.pop-login .mask {
    background-color: #000;
    opacity: 0.3;
    /* IE 4-9 */
    filter: alpha(opacity=30);
    /*This works in IE 8 & 9 too*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    /*IE4-IE9*/
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}

.pop-login .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 460px;
    height: 314px;
    margin-left: -230px;
    margin-top: -177px;
    background-color: #fff;
}

.pop-login .title {
    position: relative;
    height: 55px;
    margin-left: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #e7f6fb;
    color: #006fbb;
    padding-left: 22px;
    line-height: 55px;
    font-size: 20px;
}

.pop-login .close {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-family: arial, sans-serif;

    cursor: pointer;
}

.pop-login .close:hover {
    background-color: #fff;
}

.pop-login .close:active {
    background-color: #cddfe5;
}

.pop-login .con {
    position: relative;
    padding-top: 27px;
    padding-left: 1px;
    margin: 0 63px;
}
#verifyHtml{
    padding-top: 5px;
}

.pop-login .br {
    position: relative;
    padding-bottom: 15px;
    padding-left: 50px;
}

.pop-login .con label {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #000;
    font-size: 14px;
}

.pop-login .other span {
    color: #006fbb;
    float: left;
    height: 24px;
    line-height: 24px;
    padding-right: 5px;
}

.pop-login .other {
    padding-top: 0;
}

.pop-login .other a {
    display: block;
    float: left;
}

.other .qq,
.other .wb {
    width: 29px;
    height: 24px;
    border: 1px solid #e5e6e8;
    background: url("../images/sprite.png") no-repeat -32px -734px;
}

.other .wb {
    background-position: -2px -734px;
    border-right: 0;
}

.pop-login .txt input,
.pop-login .pas input {
    position: relative;
    z-index: 2;
    height: 20px;
    padding: 12px 8px 6px;
    width: 258px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    *margin-left: -63px;
    border: 1px \9;
    height: 21px \9;
    width: 228px \9;
}

.pop-login .pas input {

}

.pop-login .checkbox span {
    position: relative;
    left: 3px;
    top: -2px;
    color: #a3a3a3;
}

.pop-login .checkbox a {
    position: absolute;
    right: 0;
    color: #a3a3a3;
}

.pop-login .checkbox a:hover {
    color: #e30000;
}

.pop-login .sub input {
    height: 40px;
    width: 138px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #34495e;
    font-size: 18px;
    border: 0;
    border-radius: 3px;
    *margin-left: -63px;
    outline: none;

}

.pop-login .sub input:hover {
    background-color: #57667b;
}

.pop-login .sub input:active {
    background-color: #2e4154;
}

.pop-login .sub a {
    color: #e10000;
    margin-left: 85px;
}
.pop-login .sub  .forget-password{
    top: 13px;
    position: absolute;
    left: 120px;
    width: 65px;
    color: #b3b3b3;
}
.pop-login .sub  .forget-password:hover{
    color: #e30000;
}
.pop-login .sub a:hover {
    text-decoration: underline;
}

.pop-login .checkbox a:hover {
    color: #006fbb;
    text-decoration: underline;

}

.pop-login .txt span,
.pop-login .pas span {
    position: absolute;
    left: 50px;
    top: 0;
    z-index: 0;
    display: block;
    width: 258px;
    height: 40px;
    line-height: 42px;
    padding: 0 8px;
    color: #b0b0b0;
    border-radius: 3px;
    text-align: left;
    border: 1px solid #c9c9c9 \9;
    background: url("../images/sprite.png") no-repeat 248px -443px;
}

.pop-login .pas span {
    background-position: 248px -407px;
}

.pop-login .txt input:focus,
.pop-login .pas input:focus {
    border: 1px solid #006fbb;
    border: 0 \9;
}


.login-before {
    display: none;
}

.login-after {
    display: none;
}

/*左侧浮动*/
.customer-comment {
    display: none;
    position: fixed;
    top: 126px;
    z-index: 200;
    /*left: 50%;
    margin-left: 515px;*/
    right: 10px;
    width: 123px;

}

.customer-comment .f-top-bg {
    height: 13px;
    background: url("../images/l_customer.png") no-repeat -175px 0px;
}

.customer-comment .f-user {
    display: none;
    margin: 0 0px 0 14px;
    padding-top: 8px;

}

.f-login-in .f-user {
    display: block;
}

.customer-comment .f-user .f-top {
    position: relative;
    padding-left: 48px;
    height: 100px;
}

.customer-comment .f-user .f-br {
    padding-bottom: 5px;
    color: #000;
}
.customer-comment .f-user .f-br em{
    color: #ff6600;
}
.customer-comment .f-user .f-top img {
    position: absolute;
    left: 0px;
    left: 0;
    width: 95px;
    height: 95px;
}
.textAlignCenter{
    text-align: center;
    margin-right: 14px;
}
.customer-comment .f-user .f-br a {
    display: inline-block;
    color: #2980b9;
}

.customer-comment .f-user .f-br a:hover {
    text-decoration: underline;
    color: #e30000;
}

.customer-comment .f-user em.red {
    color: #e30000;
    font-weight: bold;
}

.customer-comment .f-user .f-br span {
    display: inline-block;
    text-align: right;
    width: 36px;
}

.customer-comment .f-user .f-br .f-user-center,
.customer-comment .f-user .f-br .f-tcb{
    display: block;
    width: 85px;
    height: 22px;
    margin: 4px 0 4px 5px;
    background: url(../images/l_customer.png) no-repeat 0 -425px;
    text-indent: -2000px;
    overflow: hidden
}
.customer-comment .f-user .f-br .f-tcb{
    background-position: 0 -471px;
}
.customer-comment .f-user .f-br .f-tcb:hover{
    background-position: -93px -478px;
}
.customer-comment .f-user .f-br .f-user-center:hover{
    background-position: 0 -448px;
}
.customer-comment .f-user .f-br a.f-user-center:active {
    background-position: 0px -448px;
}

.customer-comment .f-user .f-br .f-task{
    background-position: 0 -495px;
}
.customer-comment .f-user .f-br .f-task:hover{
    background-position: 0px -518px;
}

.customer-comment .f-user .f-top{
    padding-top: 20px;
}

.customer-comment .f-user .f-top .f-out {
    position: absolute;
    right: 14px;
    top: 0;
    cursor: pointer;
    color: #000;
}
.customer-comment .f-user .f-top .f-out:hover{
    color: #e30000;
    text-decoration: underline;
}
.customer-comment .f-user .f-top .f-msg {
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
    padding-left: 16px;
    height: 16px;
    overflow: hidden;
    background: url("../images/l_customer.png") no-repeat -1px -279px;
}

.customer-comment .f-user .f-top em {
    color: #e30000;
    font-weight: bold;
}

.customer-comment .f-user .f-br .diamond-icon, .diamond-icon {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 14px;
    height: 13px;
    background: url("../images/sprite.png") no-repeat -2px -237px;

}

.customer-comment .f-con {
    padding-bottom: 1px;
    background: url("../images/f-con.png") center top repeat-y;
}

.customer-comment .f-con .f-icon {
    display: block;
    text-align: center;
    height: 39px;
    line-height: 39px;
    width: 86px;
    margin: 0 auto;
    padding-left: 8px;
    border-top: 1px solid #e5e5e5;
    background: url("../images/l_customer.png") no-repeat 10px 10px;
}

.f-login .f-free-register-icon {
    border-top: 1px solid #e5e5e5;
}

.customer-comment .f-con .f-quick-login-icon {
    background-position: 10px -50px;
}

.customer-comment .f-con .f-collection-station-icon {
    background-position: 9px -109px;
}

.customer-comment .f-con .f-set-index-icon {
    background-position: 10px -168px;
}

.customer-comment .f-con .f-enterprise-customer-icon {
    background-position: 0px -310px;
    text-indent: -2000px;
}

.customer-comment .f-con .f-qq-group-icon {
    background-position: 0px -356px;
    padding-left: 21px;
    width: 73px;
    color: #000;
    overflow: hidden;
}
.customer-comment .f-con .f-qq-group-icon:hover{
    color: #e30000;
}
.customer-comment .f-go-to-top {
    padding-top: 1px;
    height: 133px;
    background: url("../images/l_customer.png") no-repeat -175px -342px;
}

.customer-comment .f-go-to-top .go-top-icon {
    width: 123px;
    height: 26px;
    margin: 100px auto 0;
    text-indent: -2000px;
    cursor: pointer;
}

.customer-comment a {
    display: block;
}

.customer-comment .f-qq-number {
    position: absolute;
    bottom: 43px;
    width: 100%;
    height: 30px;
}

/*.f-collected{
    overflow: hidden;
    padding: 15px;
    width: 93px;
}*/
.customer-comment .f-collect {
    display: block;
    position: absolute;
    right: 2px;
    top: -7px;
    width: 25px;
    height: 24px;
    background: url("../images/l_customer.png") no-repeat -124px -325px;
    cursor: pointer;
}

.f-expend {
    display: none;
    position: fixed;
    right: 10px;
    z-index: 201;
    top: 126px;
    width: 40px;
    height: 104px;
    background: url("../images/l_customer.png") no-repeat -118px -373px;
    cursor: pointer;
}

.f-collected .f-collect {
    display: none;
}

.login-r {
    border-top: 1px solid #009dde;
    background-color: #fff;
    text-align: center;
    padding: 15px 0 20px;
    margin-bottom: 30px;

}

.login-r p {
    color: #a3a3a3;
    padding: 5px 0 8px;
}

.login-r p span {
    padding-right: 5px;
}

.login-r p a {
    color: #4c4c4c;
}

.login-r .login-btn {
    display: block;
    width: 128px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    color: #fff;
    font-weight: bold;
    background-color: #009de5;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}

.login-r a.login-btn:active {
    background-color: #067eb5;

}

.copy-tips {
    position: absolute;
    z-index: 100;
    padding: 5px;
    left: 50%;
    top: 50%;
    color: #5c000f;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dedede;
}

.tip {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    max-width: 350px;
    border: 1px solid #dedede;
}



.customer-comment .f-user .f-top em {
    position: absolute;
    left: 66px;
    bottom: 2px;
    color: #e30000;
}





/*//漂浮广告*/

.suggestions {
    position: fixed;
    z-index: 100;
    display: block;
    width: 100px;
    left: 10px;
    top: 182px;
}

.suggestions a {
    display: block;
    height: 100px;
    width: 100px;
    margin-top: 2px;
    background: url(../images/suggestions7.jpg) no-repeat;
}
.suggestions a.text{
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background: #ff6600;
    margin-top: 0;
    border-top: 1px solid #fff;

}
.suggestions div{
    margin-top: 2px;
}
.suggestions a.suggestions4{

    background: url("../images/suggestions7.jpg") no-repeat;
}
.suggestions a.suggestions5{
    background: url("../images/dm-gif.gif") no-repeat;
}
.suggestions a.ada{
    background: url("../images/suggestions8.gif") no-repeat;
}
.suggestions span {
    display: block;
    position: absolute;
    right: 0px;
    top: -18px;
    width: 40px;
    height: 18px;
    background: #000;
    line-height: 13px;
    text-align: center;
    color: #fff;
    text-indent: 0;
    font-size: 14px;
    text-indent: -2000px;
    background: url("../images/close.jpg") no-repeat;
}




/*中国结*/
.chinaJ{
    display: block;
    width: 98px;
    height: 137px;
    background: url("../images/chinaJ.png") no-repeat;
    margin: 0 auto;
}
.customer-comment .chinaJ{
    position: relative;
    top: -5px;
}



.hd-icon {
    display: inline-block;
    width: 15px;
    height: 12px;
    background: url("../images/n-sprite.png") no-repeat 0 -72px;
}



.vip-icon {
    display: inline-block;
    width: 28px;
    height: 12px;
    background: url("../images/n-sprite.png") no-repeat 0 0px;
    margin-left: 5px;
}

.vip1 {
    background-position: 0px -0px;
}

.vip2 {
    background-position: 0px -12px;
}

.vip3 {
    background-position: 0px -24px;
}

.vip4 {
    background-position: 0px -36px;
}

.vip5 {
    background-position: 0px -48px;
}

.vip6 {
    background-position: 0px -60px;
}

.svip {
    background-position: -30px -60px;
}
.vipg{
    background: url("../zt/../imageses/imgs/vipg.jpg") no-repeat;
    display: inline-block;
    width: 28px;
    height: 12px;
}

.v-sm p{
    margin: 10px;
    padding-left: 16px;
    font-size: 12px;
}
.v-sm p span{
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background: #ff6600;
    margin-right: 5px;
}