﻿/*游戏页面*/
.title-background { background: url(../img/mem_h1_top_bg.gif) repeat-x; color: white; text-indent: 4px; padding: 3px 5px 3px 3px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
    .title-background span { line-height: 26px; }
.refresh_btn { background: url(../img/mem_refresh_btn.gif) no-repeat; display: block; height: 26px; width: 64px; color: #F9C100; padding-left: 28px; }
.refresh_on { background: url(../img/mem_refresh_S_on.gif) no-repeat; display: block; height: 26px; width: 64px; color: #F9C100; padding-left: 22px; font-size: 12px; }

.panelContent { display: none; }
.panel-heading { padding: 2px 10px; font-size: 13px; }
.panel-body { padding: 0; }
.panel { margin-bottom: 5px; }
.width15 { width: 16%; }
.width30 { width: 30%; }

.bg-titleliansai { background: #FCF9CE; font-size: 12px; font-weight: bold; padding: 5px 0; border: 1px solid #B9B9A3; margin-bottom: -1px; }
.Legimg { float: left; width: 15px; height: 14px; margin: 1px 10px 0 5px; background: url("../img/mem_arr.gif") no-repeat; }
.LegClose { background-position: 0 -20px; }
.bg-title { background: #C8A670; }
    .bg-title td { padding: 4px 0; }
table { width: 100%; }
    table td { border: 1px solid #B9B9A3; border-collapse: collapse; color: #000; font-size: 12px; text-align: center; }
        table td div.pull-left, table td div.pull-right { width: 50%; }
.minwidth40 { min-width: 40px; }
td span { display: block; height: 26px; line-height: 26px;white-space: normal; }
.spanborder { border-bottom: 1px solid #B9B9A3; }
span.text-red:hover { color: #000; }
.teamContent { border-bottom: 1px dashed #B9B9A3; padding: 2px 0; }
.banchangBG { background: #f0f1b5; }
/*红牌*/
.redcard { background: red; display: inline; color: #fff; padding: 1px 4px; font-weight: bold; border-radius: 4px; margin-left: 4px; }


/*个人信息*/
ul li{
    list-style: none;
}
.sport_oneself {
    display: inline-block;padding-left: 8px
}
.sport_oneself em{
    display: inline-block; width: 5px; height: 5px; border-radius: 50%; background: rgba(158, 74, 74, 0.5); margin: 0 2px 0 0;
}
.nav_oneself{
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
    max-width: 140px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: #fff;
}
.nav_oneself ul{

    width: 100%;
    padding-left: 0;
}
.nav_oneself ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 3.9rem;
    /*width: 100%;*/
    margin: 0px 8px;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
}
.nav_oneself ul li:last-child{
    border-bottom: none;
}
.nav_oneself ul i{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 5px;

}
.nav_oneself ul a{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
    font-size: 14px;

}