<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
		</li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
	//所有玩法
	var renxuanerList = [
		{
			name: '选二任选',
			oddPlayItems: []
		}
	]
	var lianzuerList = [
		{
			name: '选二连组',
			oddPlayItems: []
		}
	]
	var lianzhierList = [
		{
			name: '选二连直',
			oddPlayItems: []
		}
	]
	var renxuansanList = [
		{
			name: '选三任选',
			oddPlayItems: []
		}
	]
	var qianzusanList = [
		{
			name: '选三前组',
			oddPlayItems: []
		}
	]
	var qianzhisanList = [
		{
			name: '选三前直',
			oddPlayItems: []
		}
	]
	var renxuansiList = [
		{
			name: '选四任选',
			oddPlayItems: []
		}
	]
	var renxuanwuList = [
		{
			name: '选五任选',
			oddPlayItems: []
		}
	]

	//获取彩种玩法到接口
	let lotCode = location.search.replace('?lotCode=', '');
	var rule,rulist,zdnumber,nowPlay,lianmaList;
	switch ($('.betFilterAnd .curr').text()) {
		case '选二任选':
			nowPlay = renxuanerList;
			break;
		case '选二连组':
			nowPlay = lianzuerList;
			break;
		case '选二连直':
			nowPlay = lianzhierList;
			break;
		case '选三任选':
			nowPlay = renxuansanList;
			break;
		case '选三前组':
			nowPlay = qianzusanList;
			break;
		case '选三前直':
			nowPlay = qianzhisanList;
			break;
		case '选四任选':
			nowPlay = renxuansiList;
			break;
		case '选五任选':
			nowPlay = renxuanwuList;
			break;
		default:
	}
	$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
		var rules = result.content.rules;
		rulist = result.content;
		rule = rules[10];
		// 任选球
		for(let i in rules){
			if(rules[i].name === "连码"){
				// 连码
				lianmaList  = rules[i].rules;
			}
		}
		for (let i in lianmaList){
			// 数字0-9
			for(let j=1;j<21;j++){
				let obj = deepCopy(rules[10].rules[i].oddPlayItems[0]);
				obj.name = j;
				if (j<10) {
					obj.name = '0'+j;
				}
var allPlayMthodArr = ['xuanerrenxuan','xuanerlianzu','xuanerlianzhi','xuansanrenxuan','xuansanqianzu','xuansanqianzhi','xuansirenxuan','xuanwurenxuan']
				if (rules[10].rules[i].code == 'xuanerrenxuan' ){
					renxuanerList[0].oddPlayItems.push(obj);
				}
				if (rules[10].rules[i].code == 'xuanerlianzu' ){
					lianzuerList[0].oddPlayItems.push(obj);
				}
				if (rules[10].rules[i].code == 'xuanerlianzhi' ){
					lianzhierList[0].oddPlayItems.push(obj);
				}
				if (rules[10].rules[i].code == 'xuansanrenxuan' ){
					renxuansanList[0].oddPlayItems.push(obj);
				}
				if (rules[10].rules[i].code == 'xuansanqianzu' ){
					qianzusanList[0].oddPlayItems.push(obj);
				}
				if (rules[10].rules[i].code == 'xuansanqianzhi' ){
					qianzhisanList[0].oddPlayItems.push(obj);
				}
				if (rules[10].rules[i].code == 'xuansirenxuan' ){
					renxuansiList[0].oddPlayItems.push(obj);
				}
				if (rules[10].rules[i].code == 'xuanwurenxuan' ){
					renxuanwuList[0].oddPlayItems.push(obj);
				}

				switch (i) {
					case '0':
						for (let z in lianmaList ){
							if( lianmaList[z].code == 'xuanerrenxuan'){


							}else{
								console.log("错误")
							}
						}
						break;
					case '1':
						for (let z in lianmaList ){
							if( lianmaList[z].code == 'xuanerlianzu'){
								lianzuerList[0].oddPlayItems.push(obj);
							}else{
								console.log("错误")
							}
						}

						break;
					case '2':
						for (let z in lianmaList ){
							if( lianmaList[z].code == 'xuanerlianzhi'){
								lianzhierList[0].oddPlayItems.push(obj);
							}else{
								console.log("错误")
							}
						}
						break;
					case '3':
						for (let z in lianmaList ){
							if( lianmaList[z].code == 'xuansanrenxuan'){
								renxuansanList[0].oddPlayItems.push(obj);
							}else{
								console.log("错误")
							}
						}
						break;
					case '4':
						for (let z in lianmaList ){
							if( lianmaList[z].code == 'xuansanqianzu'){
								qianzusanList[0].oddPlayItems.push(obj);
							}else{
								console.log("错误")
							}
						}
						break;
					case '5':
						for (let z in lianmaList ){
							if( lianmaList[z].code == 'xuansanqianzhi'){
								qianzhisanList[0].oddPlayItems.push(obj);
							}else{
								console.log("错误")
							}
						}
						break;
					case '6':
						for (let z in lianmaList ){
							if( lianmaList[z].code == 'xuansirenxuan'){
								renxuansiList[0].oddPlayItems.push(obj);
							}else{
								console.log("错误")
							}
						}
						break;
					case '7':
						for (let z in lianmaList ){
							if( lianmaList[z].code == 'xuanwurenxuan'){
								renxuanwuList[0].oddPlayItems.push(obj);
							}else{
								console.log("错误")
							}
						}
						break;
					default:
				}
			}
		}
		// 情况投注页
		$('.sscCheckNumber ul li').html("");
		for(let i in nowPlay){
			let yuansu = '<div class="fix selectNormal">'+
					'<span class="buyNumberTitle">'+nowPlay[i].name+'<i></i></span>'+
					'<div class="buyNumber fix">';
			let right = ''
			for(let l in nowPlay[i].oddPlayItems.slice(0,20)){
				right+='<a data-index="'+i+'-'+l+'">'+nowPlay[i].oddPlayItems[l].name+'<p class="plsize">赔:'+nowPlay[i].oddPlayItems[l].odds+'</p></a>';

			}
			let all = yuansu + right+ '</div></div>';
			$('.sscCheckNumber ul li').append(all)
		}
		// 给玩法添加class,并判断玩法的最小下注个数
		$('.sscCheckNumber a').click(function(){
			$(this).toggleClass('curr')
			let length = 0;
			switch ($('.betFilterAnd .curr').text()) {
				case '选二任选':
					zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,2).length;
					break;
				case '选二连组':
					zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,2).length;
					break;
				case '选二连直':
					zdnumber = (getFlagArrs($('.sscCheckNumber .curr').length,2).length);
					break;
				case '选三任选':
					zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,3).length;
					break;
				case '选三前组':
					zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,3).length;
					break;
				case '选三前直':
					zdnumber = (getFlagArrs($('.sscCheckNumber .curr').length,3).length);
					break;
				case '选四任选':
					zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,4).length;
					break;
				case '选五任选':
					zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,5).length;
					break;
			}
			$('.detail').text(zdnumber); // 注单数量
		})
		// 获取游戏说明
		var game_shows;
		let html;
		switch ($('.betFilterAnd .curr').text()) {
			case '选二任选':
				if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
					$('.window_ .text_shows').html('');
					game_shows = rule.rules[0].detailDesc;
				}
				break;
			case '选二连组':
				if ($('.betFilterAnd .curr').text() == rule.rules[1].name) {
					$('.window_ .text_shows').html('');
					game_shows = rule.rules[1].detailDesc;
				}
				break;
			case '选二连直':
				if ($('.betFilterAnd .curr').text() == rule.rules[2].name) {
					$('.window_ .text_shows').html('');
					game_shows = rule.rules[2].detailDesc;
				}
				break;
			case '选三任选':
				if ($('.betFilterAnd .curr').text() == rule.rules[3].name) {
					$('.window_ .text_shows').html('');
					game_shows = rule.rules[3].detailDesc;
				}
				break;
			case '选三前组':
				if ($('.betFilterAnd .curr').text() == rule.rules[4].name) {
					$('.window_ .text_shows').html('');
					game_shows = rule.rules[4].detailDesc;
				}
				break;
			case '选三前直':
				if ($('.betFilterAnd .curr').text() == rule.rules[5].name) {
					$('.window_ .text_shows').html('');
					game_shows = rule.rules[5].detailDesc;
				}
				break;
			case '选四任选':
				if ($('.betFilterAnd .curr').text() == rule.rules[6].name) {
					$('.window_ .text_shows').html('');
					game_shows = rule.rules[6].detailDesc;
				}
				break;
			case '选五任选':
				if ($('.betFilterAnd .curr').text() == rule.rules[7].name) {
					$('.window_ .text_shows').html('');
					game_shows = rule.rules[7].detailDesc;
				}
				break;
			default:
		}
		html = '<span>'+game_shows+'</span>';
		$('.window_ .text_shows').append(html)
	});
	var cart = [];
	// 添加注单
	$('#betBtn').unbind('click')
	$('#betBtn').click(function(event){
		// 计算注单数量
		var hmlet = $('.sscCheckNumber .curr').length
		if (hmlet == 0 || hmlet < 2) {
			alert('请选择一注进行投注');
			$('.detail').text('0');
			$('.eachPrice').val('');
			$('.buyNumber a').removeClass('curr');
			if ($('.checkedList table tbody').html()=="") {
				cart = [];
			}
			return;
		}else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
			alert('请输入投注金额');
			$('.detail').text('0');
			$('.eachPrice').val('');
			$('.buyNumber a').removeClass('curr');
			if ($('.checkedList table tbody').html()=="") {
				cart = [];
			}
			return;
		}
		// 用于点击获取当前点击的文本内容,并用逗号隔开
		centent = [];
		$('.buyNumber .curr').each(function(){
			centent += ($(this)[0].childNodes[0].data)+',';
		})
		conten = centent.substring(0,centent.length-1);

		let data = [];
		let obj;
		for(let i in lianmaList){
			if ($('.betFilterAnd .curr').text() == lianmaList[i].name) {
				obj = lianmaList[i].oddPlayItems[0]
			}
		}
		cart.push({
			playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
			note_number: zdnumber-0,
			money: $('.eachPrice').val()-0,
			name:centent.substring(0,centent.length-1),
			// rowName:nowPlay[row].name,
			oddsId: obj.id,
			playCode: obj.playCode,
			max: obj.maxBetAmmount,
			min: obj.minBetAmmount,
			odds:obj.odds,
		})
		createDetail();
		// console.log(cart);
		var amount = 0; // 投注金额
		var zdshuliang = 0; // 注单数量
		for (let n in cart){
			amount += cart[n].money;
		}
		// 计算总方案的注单数量
		for(let i in cart){
			zdshuliang += cart[i].note_number;
		}
		$('.betTotal .zdsl').text(zdshuliang);
		// 用于计算总投注金额
		var ztzje = 0;
		for (let i in cart) {
			ztzje += zdnumber*cart[i].money;
		}
		$('.betTotal .tzje').text(ztzje)
	})
	function createDetail (){
		$('.checkedList tbody').html('');
		for(let i in cart){
			// 判断玩法最小的下注数量
			if (zdnumber == 0) {
				alert('请添加一注号码进行下注');
				$('.detail').text('0');
				$('.eachPrice').val('');
				$('.buyNumber a').removeClass('curr');
				cart = []
				return;
			}else {
				let html = '<tr>'+
						'<td>'+
						'<i class="order_type">'+
						'['+cart[i].playsName+']'+cart[i].name+
						// '<span>...</span>'+
						'</i>'+
						// '<a class="orderDetail">详细</a>'+
						'</td>'+
						'<td>'+cart[i].note_number+'注</td>'+
						'<td>'+zdnumber*cart[i].money+'元</td>'+
						'<td>'+
						'最高可中金额:'+
						'<i class="orderMoney">'+
						'<i>'+((zdnumber*cart[i].money)*cart[i].odds).toFixed(2)+'元</i>'+
						'</i>'+
						'</td>'+
						'<td><a class="orderCancel" onclick="del(this)"  data-index="'+i+'"  >删除</a></td>'+
						'</tr>'
				$('.checkedList tbody').append(html)
			}
		}
		$('.detail').text('0');
		$('.eachPrice').val('');
		$('.buyNumber a').removeClass('curr');
	}
	// 注单投注
	$('#betbtn').unbind('click');
	$('#betbtn').click(function(){
		$('#layermbox16').removeAttr("style");
		var ganame;
		var betting =0;  // 用于计算总投注的金额
		ganame = rulist.name;
		for (let i in cart) {
			betting += zdnumber*cart[i].money;
		}
		var content = $(".checkedList tbody").html();
		if (content == 0) {
			let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
			$('.layermcont').html(html)
			$("span#submitBtn").hide();
			cart = [];
		}else {
			let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
					'<ul>'+
					'<li>'+
					'<span>彩种：</span>'+
					'<em class="fill">'+ganame+'</em>'+
					'</li>'+
					'<li>'+
					'<span>期号：</span>'+
					'第'+
					'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
					'期'+
					'</li>'+
					'<li>'+
					'<span>详情：</span>'+
					'<div class="fill textarea">'+
					// '['+betting.playsName+']'+betting.name+
					'</p>'+
					'</div>'+
					'</li>'+
					'<li>'+
					'<span>投注总金额：</span>'+
					'<em>'+
					'<em class="fill _submitPlansMoney">'+betting+
					'</em>'+
					'元'+
					'</em>'+
					'</li>'+
					'</ul>'+
					'</div>'
			$('.layermcont').html(html_)
			$("span#submitBtn").show();
		}

		for (let i in cart){
			$('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
			// $('._submitPlansMoney').append((betting.note_number))
		}
	})
	//提交投注信息
	$('#submitBtn').unbind('click');
	$('#submitBtn').click(function(){
		// console.log(rule);
		let formData = {
			lotType: rule.lotType,
			groupCode: rule.code,
			qiHao: $('.qishu').text(),
			version: 5,
			lotCode: lotCode,
			data: '',
		}
		let data = [];
		for(let i in cart){
			data.push({
				max: cart[i].max.toString(),
				min: cart[i].min.toString(),
				money: cart[i].money,
				name: cart[i].name,
				oddsId: cart[i].oddsId,
				playCode: cart[i].playCode,
			})
		}
		// formData.data = JSON.stringify(data);
		formData.data = JSON.stringify(data);
		$.post('/mobile/v3/betInfoV2.do',formData,function(result){
			if (result.success == true) {
				cart = [];
				$('.checkedList tbody').html('')
				$('#layermbox16').attr('style','display:none;')
				$('.detail').text('0');
				$('.eachPrice').val('');
				$('.tzje').text('0');
				$('.zdsl').text('0');
				$('#layermbox17').stop().slideDown(2400).fadeOut(700);
				$('.buyNumber a').removeClass('curr');
				$('._mybetContent .tz_list').html('');
				Latest_openLottery(true);
			}else if (result.success == false) {
				alert(result.msg);
				cart = [];
				$('#layermbox16').attr('style','display:none;');
				$('.checkedList tbody').html('')
				$('.detail').text('0');
				$('.eachPrice').val('');
				$('.tzje').text('0');
				$('.zdsl').text('0');
				$('.buyNumber a').removeClass('curr');
			}
		});
	})
	// 游戏说明显示
	$('#game_shows').click(function(){
		$('.game_shows').css('display','block')
	})
	// 删除注单
	function del(a){
		let index = $(a).attr('data-index');
		$(a).parents("tr").remove();
		cart.splice(index, 1)
		createDetail();
		var zdshuliang = 0; // 注单数量
		zdshuliang += cart.length;
		$('.betTotal .zdsl').text(zdshuliang)
		var ztzje = 0; // 用于计算总投注金额
		for (let i in cart) {
			ztzje += cart[i].money;
		}
		$('.betTotal .tzje').text("¥"+ztzje)
	}
</script>
<style media="screen">
	.buyNumberTitle{
		width: 74px;
	}
	.buyNumber a{
		font-size: 22px;
		float: left;
		border-radius: 5px;
		width: 63px;
		margin-bottom: 25px;
	}
	.selectNormal .buyNumber .plsize {
		font-size: 15px;
		font-family: cursive;
		color: #313131;
		width: 80px;
		margin: 2px 0px 0 -7px;
		font: 14px/1.4 Microsoft YaHei,PingFang SC,Helvetica,Helvetica Neue,Tahoma,Arial,sans-serif;
	}
	.buyNumber{
		width: 617px;
		margin-bottom: 20px;
	}
	.buyNumberFilter{
		width: 58px;
		float: left;
	}
</style>
