@charset "utf-8";

#contentbg {
	width: 100%;
	background: url(../images/contentbg.jpg) no-repeat center top;
}

#contentbg .content {
	width: 1100px;
	overflow: hidden;
	margin: auto auto;
	padding-left:180px;
	position: relative;
	background: url(../images/about_line.png) no-repeat center top;
}
#contentbg .items {
	position:relative;
	float: left;
}

#contentbg .item {
	float: left;
}

#contentbg .item .box {
	background: url(../images/bg_live.png) no-repeat center bottom;
	position: relative;
	top: 0px;
	-moz-transition: top 0.15s linear;
	-webkit-transition: top 0.15s linear;
	-o-transition: top 0.15s linear;
	-ms-transition: top 0.15s linear;
	transition: top 0.15s linear;
}

#contentbg .item:hover .box {
	top: -10px;
	background: url(../images/bg_live_h.png) no-repeat center bottom;
}

#contentbg .item .box .icon {
	position: relative;
	top: 0px;
}

#contentbg .item .box h2 {
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	display: block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	bottom: 25px;
	left: 30px;
}

#contentbg .item .box a.play {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	display: block;
	line-height: 70px;
	text-align: center;
	position: relative;
	bottom: 2px;
}
