
		<!-- 快三 直选 和值 -->
		<ul class="xuanhaomaul">
			<li class="numRow">
				<div class="weishu">
					<span class="">直选和值</span>
					<div class="btn-group pull-right">
						<div class="btn btn-default f22" data-fastselect="all">全</div>
						<div class="btn btn-default f22" data-fastselect="large">大</div>
						<div class="btn btn-default f22" data-fastselect="less">小</div> 
						<div class="btn btn-default f22" data-fastselect="odd">单</div>
						<div class="btn btn-default f22" data-fastselect="even">双</div>
						<div class="btn btn-default f22" data-fastselect="clear">清</div>
					</div>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="3">3</span>
					<span class="ballNum" data-num="4">4</span>
					<span class="ballNum" data-num="5">5</span>
					<span class="ballNum" data-num="6">6</span>
					<span class="ballNum" data-num="7">7</span>
					<span class="ballNum" data-num="8">8</span>
					<span class="ballNum" data-num="9">9</span>
					<span class="ballNum" data-num="10">10</span>
					<span class="ballNum" data-num="11">11</span>
					<span class="ballNum" data-num="12">12</span>
					<span class="ballNum" data-num="13">13</span>
					<span class="ballNum" data-num="14">14</span>
					<span class="ballNum" data-num="15">15</span>
					<span class="ballNum" data-num="16">16</span>
					<span class="ballNum" data-num="17">17</span>
					<span class="ballNum" data-num="18">18</span>
				</div>
			</li>
		</ul>
