
		<!-- 福彩体彩 大小单双 前二 -->
		<ul class="xuanhaomaul">
			<li class="numRow">
				<div class="weishu">
					<span class="">百</span>
					<div class="btn-group pull-right" style="margin-top:10px;">
						<div class="btn btn-default f22" data-fastselect="all">全</div>
						<div class="btn btn-default f22" data-fastselect="large">大</div>
						<div class="btn btn-default f22" data-fastselect="less">小</div> 
						<div class="btn btn-default f22" data-fastselect="odd">单</div>
						<div class="btn btn-default f22" data-fastselect="even">双</div>
						<div class="btn btn-default f22" data-fastselect="clear">清</div>
					</div>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="1">大</span>
					<span class="ballNum" data-num="2">小</span>
					<span class="ballNum" data-num="3">单</span>
					<span class="ballNum" data-num="4">双</span>
				</div>
				<div class="cl"></div>
			</li>
			<li class="numRow">
				<div class="weishu">
					<span class="">十</span>
					<div class="btn-group pull-right" style="margin-top:10px;">
						<div class="btn btn-default f22" data-fastselect="all">全</div>
						<div class="btn btn-default f22" data-fastselect="large">大</div>
						<div class="btn btn-default f22" data-fastselect="less">小</div> 
						<div class="btn btn-default f22" data-fastselect="odd">单</div>
						<div class="btn btn-default f22" data-fastselect="even">双</div>
						<div class="btn btn-default f22" data-fastselect="clear">清</div>
					</div>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="1">大</span>
					<span class="ballNum" data-num="2">小</span>
					<span class="ballNum" data-num="3">单</span>
					<span class="ballNum" data-num="4">双</span>
				</div>
				<div class="cl"></div>
			</li>
		</ul>
