
		<!-- 11选5 不定位 前三 -->
		<ul class="xuanhaomaul">
			<li class="numRow">
				<div class="weishu">
					<span class="">不定位</span>
					<div class="btn-group pull-right" style="margin-top:10px;">
						<div class="btn btn-default f22" data-fastselect="all">全</div>
						<div class="btn btn-default f22" data-fastselect="large">大</div>
						<div class="btn btn-default f22" data-fastselect="less">小</div> 
						<div class="btn btn-default f22" data-fastselect="odd">单</div>
						<div class="btn btn-default f22" data-fastselect="even">双</div>
						<div class="btn btn-default f22" data-fastselect="clear">清</div>
					</div>
				</div>
				<div class="xuanmabox">
					<span class="ballNum" data-num="01">01</span>
					<span class="ballNum" data-num="02">02</span>
					<span class="ballNum" data-num="03">03</span>
					<span class="ballNum" data-num="04">04</span>
					<span class="ballNum" data-num="05">05</span>
					<span class="ballNum" data-num="06">06</span>
					<span class="ballNum" data-num="07">07</span>
					<span class="ballNum" data-num="08">08</span>
					<span class="ballNum" data-num="09">09</span>
					<span class="ballNum" data-num="10">10</span>
					<span class="ballNum" data-num="11">11</span>
				</div>
				<div class="cl"></div>
			</li>
		</ul>
