#banner {
	background-image:
		url('../images/banner.jpg')
}

#lobby .game-list {
	padding: 30px 0 0;
	border: 1px solid #1d4457
}

#lobby .game-list>li {
	position: relative;
	width: 273px;
	height: 351px;
	margin: 0 25px 57px
}

#lobby .game-list>li.bb {
	background-image:
		url('../images/bb.png')
}

#lobby .game-list>li.ag {
	background-image:
		url('../images/ag.png')
}

#lobby .game-list>li.mg {
	background-image:
		url('../images/mg.png')
}

#lobby .game-list>li.pt {
	background-image:
		url('../images/pt.png')
}
#lobby .game-list>li.ds{
	background-image:
		url('../images/ds.png')
}
#lobby .game-list>li.og{
	background-image:
		url('../images/og.png')
}
#lobby .game-list>li.bg{
	background-image:
		url('../images/bg.png')
}
#lobby .game-list>li.vr{
	background-image:
		url('../images/vr.png')
}
#lobby .game-list>li.gpi {
	background-image:
		url('../images/gpi.png')
}

#lobby .game-list>li.evo {
	background-image:
		url('../images/evo.png')
}

#lobby .game-list>li.ab {
	background-image:
		url('../images/ab.png')
}

#lobby .game-list>li.more {
	background-image:
		url('../images/more.png')
}