body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429
}

body.layout {
	min-width: 1000px
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

iframe {
	border: none
}

[ng-click] {
	cursor: pointer
}

ol, ul {
	margin: 0;
	padding: 0
}

.wrapper {
	position: relative;
	width: 1000px;
	margin: 0 auto
}

#header {
	position: relative;
	background:
		url('../images/header.jpg')
		repeat-x
}

#top-menu {
	position: absolute;
	top: 10px;
	right: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	z-index: 99
}

#top-menu li {
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	vertical-align: top;
	text-transform: uppercase
}

#top-menu li.color {
	color: red
}

#top-menu li:first-child {
	padding-left: 0
}

#top-menu li+li {
	border-left: 1px solid #fff
}

#top-menu li:hover {
	color: #ff9
}

#top-menu li a {
	color: inherit;
	text-decoration: none
}

#top-menu li[select-language] {
	position: relative;
	height: 25px;
	margin-top: -5px;
	padding: 5px 25px 5px 5px;
	overflow: hidden;
	border: 1px solid #18485d;
	background: #0f2b37
		url('../images/lang_pic.png')
		95% 9px no-repeat
}

#top-menu li[select-language]:before {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	right: 22px;
	width: 1px;
	height: 25px;
	background: #18485d
}

#top-menu li[select-language]:hover {
	height: auto;
	padding-bottom: 0;
	color: #fff
}

#top-menu li[select-language]+li {
	border: none
}

#top-menu li[select-language] span {
	display: block;
	margin-bottom: 5px;
	padding-left: 25px;
	vertical-align: middle;
	background-image:
		url('../images/lang02.png');
	background-repeat: no-repeat;
	cursor: pointer
}

#top-menu li[select-language] span+span {
	margin-top: 10px
}

#top-menu li[select-language] span[data-language="zh-TW"] {
	background-image:
		url('../images/lang01.png')
}

#top-menu li[select-language] span[data-language="en-US"] {
	background-image:
		url('../images/lang03.png')
}

#top-menu li[select-language] span[data-language="th"] {
	display: none
}

#top-menu li[select-language] span:hover {
	color: #ff9
}

#logo-bg {
	position: relative;
	display: inline-block;
	width: 550px;
	height: 98px;
	background:
		url('../images/logo_n.png')
		no-repeat\9
}

#logo-bg iframe {
	width: 550px;
	height: 98px
}

#logo-bg>a {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 100%
}

#account-box {
	position: absolute;
	top: 35px;
	right: 0
}

#account-box.is-login {
	text-align: right
}

#account-box>form {
	position: relative;
	display: inline-block;
	width: 235px;
	font-size: 0
}

#account-box>form input {
	width: 127px;
	height: 27px;
	margin: 2px;
	padding: 5px;
	color: #bababa;
	font-size: 12px;
	font-family: SimSun;
	background: #35515d;
	border: none
}

#account-box>form input[data-checkcode-retriever="checkCode"] {
	width: 100px;
	padding-left: 5px;
	background-image: none
}

#account-box>form input::-webkit-input-placeholder {
	color: #bababa
}

#account-box>form input::-moz-placeholder {
	color: #bababa
}

#account-box>form input:-ms-input-placeholder {
	color: #bababa
}

#account-box>form input.placeholder {
	color: #bababa
}

#account-box>form button {
	margin: 2px;
	font-size: 12px;
	vertical-align: top
}

#account-box>form .forget-btn {
	position: absolute;
	top: 36px;
	left: 106px;
	width: 17px;
	height: 17px;
	text-indent: -9999px;
	border: none;
	background:
		url('../images/forget_btn.png')
		center top
}

#account-box>form .login-btn {
	width: 100px;
	height: 27px;
	color: #bababa;
	font-weight: bold;
	border: none;
	background: #236383
}

#account-box>form .login-btn:hover {
	color: #fff;
	background: #1077ab
}

#account-box>.join-btn {
	width: 121px;
	height: 54px;
	margin-top: 4px;
	text-indent: -9999px;
	vertical-align: top;
	border: none;
	background:
		url('../images/join_btn.png')
		center top
}

#account-box>.join-btn:hover {
	background-position: center bottom
}

#check-code-wrapper {
	position: relative;
	display: inline-block
}

#captcha {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 52%;
	height: 82%
}

#agree {
	display: inline-block;
	position: absolute;
	top: 95%;
	right: 0;
	padding: 2px 5px;
	font-size: 13px;
	color: #fff;
	z-index: 99
}

#agree a {
	color: #ffc803;
	font-weight: bold;
	cursor: pointer
}

ul#account-info {
	position: relative;
	display: inline-block;
	margin: 7px 0;
	list-style: none
}

ul#account-info>li {
	display: inline-block;
	margin-left: 20px;
	color: #d1d1d1;
	font-size: 12px;
	font-family: SimSun;
	vertical-align: top
}

ul#account-info>li>span.account {
	display: inline-block;
	max-width: 6em;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
	overflow: hidden
}

ul#account-info>li a {
	cursor: pointer
}

ul#account-info>li a:hover {
	color: #ff9
}

ul#account-nav {
	list-style: none;
	font-size: 0
}

ul#account-nav>li {
	display: inline-block;
	padding: 0 8px;
	color: #d1d1d1;
	font-size: 12px;
	font-family: SimSun;
	line-height: 12px;
	text-align: center
}

ul#account-nav>li+li {
	border-left: 1px solid #d1d1d1
}

ul#account-nav>li.last {
	padding-right: 0
}

ul#account-nav>li>a {
	color: inherit;
	text-decoration: none
}

ul#account-nav>li>a:hover {
	color: #ff9
}

#nav {
	
}

#nav>ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: center
}

#nav>ul>li {
	display: inline-block;
	margin: 0 24px;
	color: #fff;
	font-size: 16px;
	font-family: 'Microsoft YaHei';
	line-height: 40px;
	vertical-align: middle
}

#nav>ul>li.home {
	width: 25px;
	height: 23px;
	background-image:
		url('../images/home.png');
	background-position: center top;
	background-repeat: no-repeat
}

#nav>ul>li:hover, #nav>ul>li.active {
	color: #ff9;
	background-position: center bottom
}

#nav>ul>li a {
	display: block;
	height: 100%;
	color: inherit;
	text-decoration: none
}

#nav>ul>li.hot {
	background:
		url('../images/hot.gif')
		no-repeat right top
}

#nav>ul>li.red a {
	color: red
}

#nav>ul>li a.color {
	color: red
}

#nav>ul>li:hover .subnav {
	display: block
}

.subnav {
	display: none;
	position: absolute;
	top: 143px;
	right: 0;
	left: 0;
	z-index: 2;
	min-width: 1000px;
	height: 108px;
	list-style: none;
	background:
		url('../images/subnav/sub_bg.png')
		repeat-x
}

.subnav>span {
	position: absolute;
	top: 40px;
	left: 50%;
	z-index: 1;
	display: inline-block;
	width: 32px;
	height: 32px;
	background-position: center top;
	cursor: pointer
}

.subnav>span:hover {
	background-position-y: bottom
}

.subnav>span.prev {
	margin-left: -478px;
	background-image:
		url('../images/subnav/btn_left.png')
}

.subnav>span.next {
	margin-left: 451px;
	background-image:
		url('../images/subnav/btn_right.png')
}

.subnav .main-cell {
	display: inline-block
}

.subnav ol {
	display: block;
	width: 878px;
	margin: 0 auto;
	padding: 0;
	text-align: center
}

.subnav li {
	display: inline-block;
	width: 106px;
	height: 100%;
	margin: 0 10px;
	padding-top: 63px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	vertical-align: top;
	background-position: center 20px;
	background-repeat: no-repeat
}

.subnav li:hover {
	color: #ff5
}

.subnav li a {
	color: #ff5;
	text-align: center;
	text-decoration: none
}

.subnav li.hg {
	background-image:
		url('../images/subnav/hg.png')
}

.subnav li.saba {
	background-image:
		url('../images/subnav/saba.png')
}

.subnav li.bb {
	background-image:
		url('../images/subnav/bb.png')
}

.subnav li.ag {
	background-image:
		url('../images/subnav/ag.png')
}

.subnav li.mg {
	background-image:
		url('../images/subnav/mg.png')
}

.subnav li.pt {
	background-size: contain;
	background-image:
		url('../images/subnav/pt.png')
}

.subnav li.gpi {
	background-image:
		url('../images/subnav/gpi.png')
}

.subnav li.evo {
	background-image:
		url('../images/subnav/evo.png')
}

.subnav li.gns {
	background-image:
		url('../images/subnav/gns.png')
}

.subnav li.prg {
	background-image:
		url('../images/subnav/prg.png')
}

.subnav li.sg {
	background-image:
		url('../images/subnav/sg.png')
}

.subnav li.fish {
	background-image:
		url('../images/subnav/ug.png')
}

.subnav li.ab {
	background-image:
		url('../images/subnav/ab.png')
}

.subnav li.eg-lottery {
	background-image:
		url('../images/subnav/eg_lottery01.png')
}

.subnav li.mw {
	background-image:
		url('../images/subnav/mw.png')
}

#header-bottom {
	height: 32px;
	line-height: 32px;
	color: #828282;
	font-size: 12px;
	font-family: SimSun;
	background: #1c1c1c
}

#header-bottom #info-menu {
	display: inline-block;
	font-size: 0;
	list-style: none;
	vertical-align: top
}

#header-bottom #info-menu>li {
	position: relative;
	display: inline-block;
	font-size: 12px;
	vertical-align: top
}

#header-bottom #info-menu>li.promo, #header-bottom #info-menu>li.deposit
	{
	color: #fff
}

#header-bottom #info-menu>li.color {
	color: red
}

#header-bottom #info-menu>li:hover {
	color: #fff
}

#header-bottom #info-menu>li.vip {
	color: #f9f900
}

#header-bottom #info-menu>li a {
	padding: 0 8px;
	color: inherit;
	line-height: 12px;
	text-decoration: none
}

#header-bottom #info-menu>li+li a {
	border-left: 1px solid #828282
}

#header-bottom #info-menu>li.warn a {
	font-weight: bold
}

#header-bottom #info-menu>li.warn:before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 17px;
	background:
		url('../images/warn.png')
		no-repeat center top;
	vertical-align: middle
}

#header-bottom #info-menu>li.warn:hover:before {
	background-position: center bottom
}

#news {
	position: relative;
	display: inline-block;
	width: 620px;
	padding-left: 20px;
	vertical-align: top
}

#news:before {
	content: '公告：';
	float: left;
	font-weight: bold
}

#hot-news {
	white-space: nowrap;
	overflow: hidden
}

#hot-news a {
	color: inherit;
	text-decoration: none
}

#hot-news a:hover {
	text-decoration: underline
}

#banner {
	position: relative;
	height: 300px;
	background-image:
		url('../images/banner.jpg');
	background-position: center top;
	background-repeat: no-repeat
}

#content {
	background-color: #14303e;
	background-image:
		url('../images/bg.jpg');
	background-position: center top;
	background-repeat: no-repeat
}

#footer {
	color: #8a8a8a;
	font-size: 12px;
	border-top: 1px solid #4c4c4c;
	background: #1b1b1b
}

#footer-top {
	height: 206px;
	color: #ff0;
	font-family: SimSun;
	font-size: 15px;
	font-weight: bold;
	background:
		url('../images/footer_01.jpg')
		center no-repeat
}

#footer-top #num01, #footer-top #num02, #footer-top #num03 {
	position: absolute
}

#footer-top #num01 {
	top: 34px;
	left: 244px
}

#footer-top #num02 {
	top: 66px;
	left: 342px
}

#footer-top #num03 {
	top: 130px;
	left: 295px
}

#footer-top #num01:after, #footer-top #num02:after {
	content: ' 人';
	display: inline;
	color: #e5e5e5;
	font-size: 12px;
	font-family: SimSun;
	font-weight: normal
}

#footer-top #num03:after {
	content: ' 元';
	display: inline;
	color: #e5e5e5;
	font-size: 12px;
	font-family: SimSun;
	font-weight: normal
}

#footer-top #footer-chat {
	position: absolute;
	top: 130px;
	right: 19px;
	width: 207px;
	height: 40px;
	background:
		url('../images/service_btn02.png')
		center top no-repeat
}

#footer-top #footer-chat:hover {
	background:
		url('../images/service_btn02.png')
		center bottom no-repeat
}

#footer-mid {
	padding: 40px 0 70px;
	border-top: 1px solid #4c4c4c
}

#footer-mid .pic {
	width: 486px;
	height: 40px;
	background:
		url('../images/footer_02.png')
		center top no-repeat
}

#footer-nav {
	margin-bottom: 20px;
	list-style: none;
	font-size: 0
}

#footer-nav li {
	display: inline-block;
	padding: 0 10px;
	font-size: 12px;
	line-height: 12px;
	vertical-align: top;
	text-transform: uppercase
}

#footer-nav li:first-child {
	padding-left: 0
}

#footer-nav li+li {
	border-left: 1px solid #4c4c4c
}

#footer-nav li:hover {
	color: #fffe10
}

#footer-nav li a {
	color: inherit;
	text-decoration: none
}

#footer-info {
	position: absolute;
	top: 0;
	right: 0;
	list-style: none
}

#footer-info li {
	margin-bottom: 20px
}

#footer-bottom {
	padding: 120px 0 5px;
	text-align: center;
	border-top: 1px solid #4c4c4c;
	background:
		url('../images/footer_03.png')
		center 20px no-repeat
}

aside.services {
	position: fixed;
	top: 210px;
	width: 175px
}

aside.services ul {
	list-style: none
}

aside.services a {
	display: block;
	height: 100%
}

#services-left {
	left: 0;
	background:
		url('../images/float_left01.png')
		no-repeat
}

#services-left ul>#tiger {
	height: 251px
}

#services-left ul>#mobile {
	height: 41px
}

#services-left ul>#download {
	height: 38px;
	margin-bottom: 91px
}

#services-left ul>.closed {
	height: 29px;
	cursor: pointer
}

#services-right {
	right: 0;
	background:
		url('../images/float_right01.png')
		no-repeat
}

#services-right ul>#chat {
	height: 216px;
	margin-bottom: 45px
}

#services-right ul>#qq1 {
	height: 27px;
	margin-bottom: 6px
}

#services-right ul>#qq2 {
	height: 27px;
	margin-bottom: 10px
}

#services-right ul>#join {
	height: 91px
}

#services-right ul>.closed {
	height: 29px;
	cursor: pointer
}

#service-left-bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 255px;
	background:
		url('../images/fast_deposit.gif')
		no-repeat
}

#service-left-bottom .fast-deposit {
	height: 135px
}

#service-left-bottom a {
	display: inline-block;
	width: 100%;
	height: 100%
}

#service-left-bottom .closed {
	position: absolute;
	top: 5px;
	right: 8px;
	display: inline-block;
	width: 26px;
	height: 26px;
	background:
		url('../images/SG_close.png')
		no-repeat;
	cursor: pointer
}

#mailbox {
	position: relative;
	top: -5px;
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: top;
	text-decoration: none;
	background:
		url('../images/m_icon.png')
		no-repeat
}

#mailbox>span, #mailbox>span:hover {
	position: absolute;
	left: 80%;
	bottom: 60%;
	min-width: 16px;
	padding: 0 2px;
	height: 16px;
	color: #000;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #fff47e;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

#marquee-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	display: none
}

#marquee-wrapper.show {
	display: block;
	z-index: 1000;
	background-image:
		url('../images/transparent-black.png')
}

#marquee {
	width: 600px;
	max-height: 500px;
	margin: 30px auto 0 auto;
	background-color: #fff;
	background-image:
		url('../images/table_background.jpg');
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: default;
	-moz-transition: margin-top ease-in 300ms;
	-o-transition: margin-top ease-in 300ms;
	-webkit-transition: margin-top ease-in 300ms;
	transition: margin-top ease-in 300ms
}

#marquee>header {
	text-align: center;
	background-color: #e9e9e9;
	border-bottom: 1px solid #ccc;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0
}

#marquee>header>h2 {
	margin: 0;
	color: #0080e3;
	font-size: 21px;
	line-height: 60px
}

ul#newsBags {
	margin: 0;
	padding: 10px 50px;
	max-height: 380px;
	overflow: auto
}

ul#newsBags>li {
	color: #454545;
	font-size: 13px;
	line-height: 27px;
	list-style: disc;
	white-space: pre-line;
	border-bottom: 1px dashed #999
}

#marquee>footer {
	text-align: center;
	line-height: 80px;
	background-color: #e9e9e9;
	background-image: -webkit-radial-gradient(center top, ellipse farthest-side, rgba(0, 0, 0,
		.3), transparent);
	background-size: 100% 8px;
	background-repeat: no-repeat;
	border-top: 1px solid #ccc;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px
}

#marquee>footer>span {
	display: inline-block;
	width: 119px;
	font-size: 15px;
	font-weight: bolder;
	line-height: 45.5px;
	background-image:
		url('../images/sent_bn.png');
	cursor: pointer
}

#marquee>footer>span:hover {
	background-position: 0 -45.5px
}

.ui-widget-header {
	min-height: 30px;
	line-height: 30px
}

#ad-dialog {
	display: none;
	padding: 0
}

#ad-dialog img {
	width: 100%;
	height: auto !important
}

#ad-dialog .dialog-footer {
	height: 30px;
	padding: 0 3px;
	font-size: 12px;
	font-weight: bold;
	line-height: 25px;
	border-top: 1px solid #000
}

.ui-dialog {
	position: fixed;
	z-index: 999
}

.ui-dialog .ui-dialog-title {
	font-size: 13px;
	line-height: 15px
}

.ui-dialog .ui-dialog-buttonpane {
	margin: 0;
	padding: 0;
	border: none
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
	{
	font-size: 12px
}

.ui-dialog .ui-dialog-buttonpane button {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 3px 6px;
	background: #ffd800
}

#logingame-body {
	background-color: #14303e
}

#lobby {
	padding: 20px 0
}

#lobby .game-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: center
}

#lobby .game-list li {
	display: inline-block
}

#lobby .game-list li:hover {
	background-position: center bottom
}

#un-lobby {
	padding: 30px 0 50px
}

#un-lobby:after {
	content: '';
	display: table;
	clear: both
}

#un-lobby aside {
	float: left;
	width: 222px;
	margin-right: 50px
}

#un-lobby aside:before {
	content: "";
	display: block;
	height: 240px;
	background:
		url('../images/aside.jpg')
}

#un-lobby ul#sidebar {
	position: relative;
	list-style: none;
	background: #1a3d4f
}

#un-lobby ul#sidebar li {
	position: relative;
	height: 40px;
	color: #dfdfdf;
	font-size: 14px;
	font-family: SimSun;
	line-height: 40px;
	text-align: center;
	z-index: 2
}

#un-lobby ul#sidebar li:hover, #un-lobby ul#sidebar li.active {
	color: #1f0c0c
}

#un-lobby ul#sidebar li.bg {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	background: #f39800;
	z-index: 1
}

#un-lobby ul#sidebar li a {
	display: block;
	height: 100%;
	color: inherit;
	text-decoration: none
}

#articles {
	position: relative;
	float: left;
	width: 728px;
	min-height: 370px;
	color: #a6c5d4;
	font-size: 12px;
	font-family: SimSun
}

#articles h2 {
	margin: 0;
	color: #fff;
	font-size: 19px;
	font-family: 'Microsoft YaHei'
}

#articles h3 {
	font-size: 12px;
	color: #f39800
}

#articles h4 {
	
}

#articles>ul {
	list-style: none
}

#articles ol {
	padding-left: 20px;
	list-style-type: decimal
}

#articles ol ul {
	list-style: none;
	padding: 0
}

#articles p, #articles li {
	font-size: 12px;
	text-align: justify;
	line-height: 2em
}

#articles p {
	margin: 1em 0
}

#articles table {
	width: 100%
}

#articles table tr, #articles table th, #articles table td {
	line-height: 2em;
	text-align: center;
	border: 1px solid #a6c5d4
}

#articles table th {
	font-weight: bold;
	background: #1a3d4f
}

#articles .highlight {
	color: #f39800;
	font-weight: bolder
}

#articles .highlight-red {
	color: red
}

#articles .highlight-blue {
	color: #14b6f1
}

#articles .highlight-green {
	color: #00b050
}

#articles ul.mtab-menual {
	margin: 10px 0 0;
	padding: 0;
	text-align: left
}

#articles ul.mtab-menual li {
	display: inline-block;
	width: 62px;
	height: 22px;
	color: #236b88;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	background:
		url('../images/aside_btn.png')
		center top;
	cursor: pointer
}

#articles ul.mtab-menual li.mtab, #articles ul.mtab-menual li:hover {
	color: #fff;
	background:
		url('../images/aside_btn.png')
		center bottom
}

#articles ul.mtab-menual li a {
	color: #236b88;
	text-decoration: none
}

#articles #agent-register {
	margin-top: 30px
}

#articles a.highlight {
	text-decoration: none
}

#articles ul.deposit {
	list-style-type: none;
	margin: 20px 0 0;
	padding: 0
}

#articles ul.deposit>li {
	counter-increment: title
}

#articles ul.deposit>li>a:before {
	content: "方法 " counter(title, upper-alpha) "、"
}

#articles ul.deposit>li a {
	color: #f39800;
	font-size: 12px;
	text-decoration: underline
}

.body {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	padding: 5px;
	font-size: 14px;
	font-family: PMingLiU;
	background: #000;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.body #title {
	color: #fff;
	text-align: center;
	background: #003649
}

.body.container #title, .body #account-heading, .body #withdrawal-heading
	{
	color: #fff;
	background: #1672a0
}

.body #show-account-info.btn {
	color: #fff
}

.form-group .control-div input::-webkit-input-placeholder {
	color: #999
}

.form-group .control-div input::-moz-placeholder {
	color: #999
}

.form-group .control-div input:-ms-input-placeholder {
	color: #999
}

.form-group .control-div input.placeholder {
	color: #999
}

.panel {
	width: 100%;
	color: #5f5f5f;
	background:
		url('../images/panel_background.jpg')
		repeat;
	border: 0
}

#title {
	height: 48px;
	font-weight: bold;
	font-size: 21px;
	font-family: 'Microsoft JhengHei';
	text-transform: uppercase;
	border: none
}

#title>div {
	margin-top: -1px;
	text-align: center;
	text-transform: uppercase
}

#account-panel, #withdrawal-panel {
	width: 792px;
	color: #5f5f5f;
	background:
		url('/CdnRedirect/Web.Portal/_Common/Content/Views/WithdrawApplication/images/panel_background.jpg')
		repeat;
	border: 1px solid #b7b7b7;
	-moz-box-shadow: inset 0 0 1px 1px #fff;
	-webkit-box-shadow: inset 0 0 1px 1px #fff;
	box-shadow: inset 0 0 1px 1px #fff
}

#account-heading, #withdrawal-heading {
	margin: 1px 1px;
	font-family: PMingLiU;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase
}

.panel-body {
	text-align: center
}

.panel-body>form {
	width: 700px;
	margin: 0 auto
}

.control-div input {
	width: 100%;
	padding: 3px 5px;
	line-height: 25px;
	background:
		url('../images/input_center.png')
		repeat-y;
	border: 0
}

.control-div input:focus {
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(255, 249, 149, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(255, 249, 149, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(255, 249, 149, .6)
}

.tooltip {
	position: absolute;
	left: 93%;
	top: -2px;
	z-index: 1;
	display: inline-block
}

.tooltipshowarrow_int {
	position: absolute;
	top: 5px;
	right: -1px;
	z-index: 1000;
	display: block;
	border: 8px solid;
	border-color: transparent #fff;
	border-left-width: 0;
	-moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07);
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07)
}

.tooltipshowarrow_out {
	position: absolute;
	top: 5px;
	right: 0;
	z-index: 999;
	display: block;
	border: 8px solid;
	border-left-width: 0;
	border-color: transparent #bbb;
	-moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07);
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07)
}

.tooltipshow {
	position: absolute;
	z-index: 999 !important;
	width: 250px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid;
	border-color: #bbb #bbb #a8a8a8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
}

.form-control::-webkit-input-placeholder {
	color: #878787
}

.form-control:-moz-placeholder {
	color: #878787
}

.form-control::-moz-placeholder {
	color: #878787
}

.form-control:-ms-input-placeholder {
	color: #878787
}

.input-block {
	position: relative;
	display: inline-block;
	width: 304px
}

.help-block {
	color: #8a6d3b
}

.input-block-top {
	position: absolute;
	top: -2px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 4px;
	background:
		url('../images/input-top-btm.png')
		no-repeat 0 0
}

.input-block-btm {
	position: absolute;
	bottom: -8px;
	left: 0;
	display: inline-block;
	height: 10px;
	width: 100%;
	background:
		url('../images/input-top-btm.png')
		no-repeat 0 -4px
}

.btn-submit {
	position: relative;
	width: 119px;
	height: 45px;
	color: #454545;
	font-size: 15px;
	font-family: PMingLiU;
	font-weight: bold;
	background:
		url('../images/sent_bn.png')
		no-repeat 0 0;
	border: 0
}

.btn-submit:hover {
	color: #454545;
	background:
		url('../images/sent_bn.png')
		no-repeat 0 -46px
}

.table {
	color: #000
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	line-height: 2em
}

table tfoot {
	text-align: center;
	background: #eee
}