body {
	background: #002034;
	background-color: #002034 !important;
}

* {
	font-size: 14px;
	font-family: 'Microsoft YaHei';
}

#pay_title {
	font-size: 14px;
	font-weight: bold;
	margin-left: 20px;
	border-left: 4px solid #126192;
	padding-left: 10px;
}

#pay_info {
	width: 758px;
	margin: 10px auto;
}

.uc_headerbox {
	width: 800px;
	margin: 0 auto;
	height: 56px;
	line-height: 56px;
	margin-top: 30px;
	background: url(../images/uc_header.png) no-repeat;
}

.uc_headerbox span {
	color: #ffcb49;
	margin-left: 20px;
	font-size: 14px;
}

.uc_linebg {
	width: 800px;
	margin: 0 auto;
	height: 19px;
	line-height: 19px;
	background: url(../images/uc_marintopBg.png) no-repeat;
}

.uc_footerbox {
	width: 800px;
	margin: 0 auto;
	height: 86px;
	line-height: 86px;
	background: url(../images/uc_footer.png) no-repeat;
	text-align: center;
	color: #fff;
}

.br_line {
	width: 100%;
	height: 1px;
	background-color: #333;
	margin: 10px 0;
}

#uc_bank_content {
	background: #fff url(../images/uc_contentbg.png) repeat-y;
	width: 800px;
	margin: 0 auto;
}

#bank_list table td {
	width: 120px;
}

.pay_info .input {
	line-height: 24px;
}

.pay_info .lable {
	width: 80px !important;
	line-height: 24px;
	padding-right: 10px;
}

#note {
	width: 758px;
	margin: 0 auto;
}

.icon {
	background-repeat: no-repeat;
	display: inline-block;
	height: 35px;
	width: 120px;
	vertical-align: 10px;
	margin: 15px 10px;
	border: 1px solid #898;
}

.tpp_ipspay30 {
	background-position: 0px -2px
}

.tpp_yeepay {
	background-position: 0px -38px
}

.tpp_dinpay {
	background-position: 0px -75px
}

.tpp_baofoo {
	background-position: 0px -115px
}

.tpp_kuaiqian {
	background-position: 0px -150px
}

.tpp_hnapay {
	background-position: 0px -188px
}

.tpp_ecpss {
	background-position: 0px -225px
}

.tpp_gopay {
	background-position: 0px -262px
}

.tpp_khb999 {
	background-position: 0px -298px
}

.tpp_ipspay70 {
	background-position: 0px -336px
}

.tpp_ebatong {
	background-position: 0px -371px
}

.tpp_lefu8 {
	background-position: 0px -408px
}

.tpp_19pay {
	background-position: 0px -446px
}

.note_w {
	font-size: 12px;
	color: #333;
	margin: 15px 0;
	height: 25px;
}

.w155 {
	width: 155px;
}

.border_dot {
	padding: 15px 25px;
	line-height: 1.8em;
	border: 1px dotted #898;
	border-radius: 5px;
}

.c_red {
	color: red;
}

.c_yellow {
	color: #ff0;
}

.c_blue {
	color: #00F;
}

#DepositTabs {
	font-size: 12px;
	padding: 20px 0;
	padding: 1em 1.4em;
}

.positionre {
	position: relative;
}

.tables th, .th {
	text-align: right;
	padding-right: 10px;
	line-height: 34px;
}

.table_online {
	margin: 20px auto;
	font-size: 13px
}

.table_online th {
	font-weight: normal;
	text-align: right;
	padding: 15px 5px;
	border-bottom: 1px dotted #fff
}

.table_online td {
	text-align: left;
	padding: 15px 5px;
	border-bottom: 1px dotted #fff
}

.table_online td.t_center, .table_online th.t_center {
	text-align: center
}

.table_online td.no_line, .table_online th.no_line {
	border-bottom: none
}

.hidn {
	display: none;
}

.btn_submit {
	text-align: center;
}

.bo,.b0, .btn_submit .btn {
	border-radius: 5px;
	font-size: 13px;
	display: inline-block;
	height: 30px;
	line-height: 28px;
	text-align: center;
	padding: 0 25px;
	margin-left: 5px;
}

.pointer {
	cursor: pointer;
}

.b0,.bo {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	margin-right: 15px;
	height: 36px;
	line-height: 36px;
}

.current {
	background-color: #202020 !important;
}