body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

:focus {
	outline: 0;
}

ol, ul {
	list-style: none;
}
/*base css*/
body {
	background: #000;
	font-size: 12px;
	color: #525353;
	font-family: "微软雅黑", arial;
	margin: 0px;
	padding: 0px;
}

body, td, th {
	font-size: 12px;
}

hr {
	border: 0;
	padding: 0;
	margin: 0;
	display: block
}

.clear {
	clear: both;
}

/*(设立默认全局样式超链接样式)*/
a {
	text-decoration: none;
	color: #174B73;
}

a:hover {
	text-decoration: underline;
	color: #900;
}

.hong {
	color: #F00
}

.lan {
	color: #00F
}

#MACenter {
	width: 1000px;
	margin: 0px auto;
	position: relative;
	font-size: 13px;
}

#MACenter .MAHeader {
	width: 1000px;
	height: 100px;
	background: url(../images/header_bg.jpg) no-repeat
}

#MACenter .MAHeader #MALogo {
	width: 200px;
	height: 70px;
	margin: 12px 0 0 30px;
	float: left; /* background: url(/user/images/logo_m.png) no-repeat;*/
}

#MACenter .MAHeader #MATime {
	width: 257px;
	height: 36px;
	float: right;
	background: url(../images/timezone_bg.jpg) no-repeat;
}

#MACenter .MAHeader #MATime #timepic {
	width: 22px;
	height: 22px;
	background: url(../images/time.png) no-repeat;
	float: left;
	margin: 7px 0px 0px 25px;
}

#MACenter .MAHeader #MATime #est_bg {
	width: 250px;
	height: 30px;
	line-height: 32px;
	color: #fff;
	padding-left: 3px;
}

#MACenter .MAHeader .MADeposit-pos {
	position: absolute;
	top: 60px;
	right: 20px;
}

#MACenter .MAHeader .MADeposit-pos #MADeposit, #onlineCk {
	color: #d5746d;
	height: 28px;
	line-height: 28px;
	font-size: 13px;
}

#MACenter .MAHeader .MADeposit-pos #MADeposit, #onlineCk:hover {
	color: #FFc;
}

#MACenter .MAHeader .MADeposit-pos #MADeposit, #onlineCk .MADeposit-bg-L
	{
	width: 30px;
	height: 28px;
	background: url(../images/btn001.png) no-repeat;
	float: left;
}
#MACenter .MAHeader .MADeposit-pos #MADeposit, #onlineCk .MADeposit-bg-K
	{
	width: 30px;
	height: 28px;
	background: url(../images/kefu001.png) no-repeat;
	float: left;
}
#MACenter .MAHeader .MADeposit-pos #MADeposit, #onlineCk .MADeposit-bg-out
	{
	width: 30px;
	height: 28px;
	background: url(../images/zhuye001.png) no-repeat;
	float: left;
}
#MACenter .MAHeader .MADeposit-pos #MADeposit, #onlineCk .MADeposit-bg-Exit
	{
	width: 30px;
	height: 28px;
	background: url(../images/btnexit.png) no-repeat;
	float: left;
}

#MACenter .MAHeader .MADeposit-pos #MADeposit, #onlineCk .MADeposit-bg {
	background: url(../images/btn001.png) -28px;
	float: left;
	cursor: pointer;
}

#MACenter .MAHeader .MADeposit-pos #MADeposit, #onlineCk .MADeposit-bg-R
	{
	width: 10px;
	height: 28px;
	background: url(../images/btn001.png) 100% 100%;
	float: left;
}

#MAContent #MALeft {
	width: 220px;
	float: left;
	margin-left: 1px;
}

#MAContent #MALeft #welcome {
	width: 220px;
	height: 48px;
	margin-bottom: 5px;
	line-height: 48px;
	font-size: 14px;
	font-weight: bold;
	color: #ffe8ff;
	text-align: center;
	background: url(../images/welcome.jpg) no-repeat;
}

#MAContent #MALeft .sidebar {
	margin-bottom: 35px;
	background: #500001;
}

#MAContent #MALeft .sidebar #sidebar-mem {
	width: 180px;
	height: 38px;
	color: #fdd5d5;
	padding-left: 40px;
	margin-bottom: 5px;
	line-height: 38px;
	background: url(../images/sideNav01.jpg) no-repeat;
}

#MAContent #MALeft .sidebar a {
	width: 180px;
	height: 32px;
	line-height: 32px;
	color: #fdd5d5;
	padding-left: 40px;
	margin-bottom: 5px;
	background: url(../images/sideNav.jpg) no-repeat left top;
	display: block;
	font-size: 14px;
}

#MAContent #MALeft .sidebar .current {
	color: #000;
	background-position: left bottom;
}

#MAContent #MALeft .sidebar #sidebar-msg {
	width: 180px;
	height: 38px;
	color: #fdd5d5;
	padding-left: 40px;
	margin-bottom: 5px;
	line-height: 38px;
	background: url(../images/sideNav02.jpg) no-repeat;
}
/*右侧*/
#MAContent .MAMain .member-data .imformation .img-scy {
	background: rgba(0, 0, 0, 0) url("../images/circle01.png") no-repeat
		scroll 0 0;
}

#MAContent .MAMain {
/* 	width: 768px; */
	float: left;
	position: relative;
}

#MAContent .MAMain .mnav {
	width: 688px;
	height: 48px;
	padding-left: 80px;
	background: url(../images/nav_bg.jpg) no-repeat;
}

#MAContent .MAMain .mnav .current {
	width: 100px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-weight: bold;
	display: block;
	background: url(../images/nav_hover.jpg) no-repeat;
	color: #fff;
	float: left;
}

#MAContent .MAMain .mnav a {
	width: 100px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-weight: bold;
	display: block;
	color: #fff;
	float: left;
}

#MAContent .MAMain .mnav  a:hover {
	background: url(../images/nav_hover.jpg) no-repeat;
	color: #fff;
	float: left;
}

#MAContent .MAMain .mnav .navSeparate {
	width: 2px;
	height: 34px;
	margin-top: 2px;
	background: url(../images/nav_img.jpg) no-repeat;
	float: left;
}

#MAContent .MAMain .member-data {
	padding: 0 6px;
}

#MAContent .MAMain .member-data .imformation {
	width: 100%;
	height: 170px;
	color: #504c4b;
	background: url(../images/circlebg.png) no-repeat 42px 15px;
}

#MAContent .MAMain .member-data .imformation .info-img {
/* 	width: 142px; */
	width: 135px;
	height: 139px;
	margin: 17px 0 0 43px;
	float: left;
	background: url(../images/circle.png) no-repeat;
}

#MAContent .MAMain .member-data .imformation .info-content {
	width: 550px;
	height: auto;
	margin-top: 23px;
	padding-top: 37px;
	float: left;
	background: url(../images/welcome.png) no-repeat;
}

#MAContent .MAMain .member-data .imformation .info-content .info-txt {
	font-size: 13px;
	line-height: 24px;
	color: #6a8a8c;
}

#MAContent .MAMain .member-data .imformation .info-content .info-title {
	color: #504c4b;
	font-size: 16px;
	font-weight: bold;
}

#MAContent .MAMain .member-data .imformation .info-content .info-title .info-title-acname
	{
	font-size: 20px;
	color: #6a8a8c;
}

#MAContent .MAMain .member-data .imformation .info-content .info-sec-title
	{
	color: #6b8a8c;
	font-size: 15px;
	height: 22px;
	letter-spacing: 2px;
	line-height: 17px;
	padding-right: 5px;
	text-align: right;
	background: url(../images/line.png) no-repeat -40px bottom;
}

#MAContent .MAMain .member-data .imformation .info-content .info-sec-title .info-sec-txt
	{
	border-right: 4px solid #6b8a8c;
/* 	height: 17px; */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

#MAContent .MAMain .member-data .memdata-content {
	clear: both;
}

#MAContent .MAMain .member-data .memdata-content  .info-table-area {
	width: 705px;
	padding-bottom: 16px;
	margin: 10px auto 10px;
	background: url(../images/shadow03.png) no-repeat center bottom;
}

#MAContent .MAMain .member-data .memdata-content .M-info {
	background: url(../images/table_bg.png) no-repeat center top;
}

#MAContent .MAMain .member-data .memdata-content .info-table-area table
	{
	width: 100%;
	border: medium none;
	text-align: center;
}

#MAContent .MAMain .member-data .memdata-content .M-info th {
	background: none;
	color: #fff;
	height: 31px;
	text-align: center;
}

#MAContent .MAMain .member-data .memdata-content .M-info th {
	background: url(../images/table_line.png) no-repeat left top;
}

#MAContent .MAMain .member-data .memdata-content .M-info td {
	font-size: 13px;
	height: 35px;
	line-height: 35px;
	color: #000;
	background: #ddd none repeat scroll 0 0;
}

#MAContent .MAMain .member-data .memdata-content .M-info td {
	background: #ddd url(../images/linebg.jpg) repeat-x;
}

#MAContent .MAMain .member-data .memdata-content table, th, td {
	border: medium none;
}

#MAContent .MAMain .member-data .memdata-content h2.M-sub-title {
	height: 23px;
	color: #6a8a8c;
	line-height: 23px;
	margin: 2px;
	padding-left: 30px;
	background: url(../images/btn06.png) no-repeat;
}

#MAContent .MAMain .member-data .memdata-content .M-info .slideEffect-btn
	{
	width: 15px;
	height: 16px;
	background: url(../images/btn07.png) no-repeat;
	float: right;
	margin: 9px 10px 0 15px;
	cursor: pointer;
}

#MAContent .MAMain .member-data .memdata-content table.M-info .JS-slideEffect
	{
	display: inline-block;
	position: relative;
	text-align: right;
	width: 100%;
}

#MAContent .MAMain .member-data .memdata-content table.M-info .JS-slideEffect span
	{
	background: #fff;
	bottom: 35px;
	height: 0px;
	left: 0px;
	position: absolute;
	width: 0;
	z-index: 1;
}

#MAContent .MAMain .member-data .memdata-content .M-info .JS-slideEffect table
	{
	background: #b6bebd none repeat scroll 0 0;
	border-left: 4px solid #939f9f;
	border-right: 4px solid #939f9f;
	border-top: 4px solid #939f9f;
	line-height: 22px;
	width: 353px;
}

#MAContent .MAMain .member-data .memdata-content  #M-sec-info .JS-slideEffect table td
	{
	background: none;
	color: #000;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

#MAContent .MAMain .secrity-setting {
	display: inline-block;
}

#MAContent .MAMain .member-data .imformation .info-content .info-txt .js-unicode-show
	{
	width: 16px;
	height: 16px;
	background: url(../images/icon-notice.png) no-repeat;
	display: inline-block;
	vertical-align: text-bottom;
}

#MAContent .MAMain .aqsz-scy {
	width: 690px;
	margin: 0px auto;
}

#MAContent .MAMain .aqsz-scy .scy-list {
	color: #417e89;
	cursor: pointer;
	float: left;
	height: 123px;
	margin: 0 25px;
	padding-left: 110px;
	width: 185px;
}

#MAContent .MAMain .aqsz-scy .scy-psd {
	background: url(../images/01.png) no-repeat;
}

#MAContent .MAMain .aqsz-scy .scy-psd:hover {
	background-position: center bottom;
}

#MAContent .MAMain .aqsz-scy .scy-info {
	background: url(../images/02.png) no-repeat;
}


#MAContent .MAMain .aqsz-scy .scy-info-disable {
	background: rgba(0, 0, 0, 0) url("../images/05.png") no-repeat scroll
		center bottom;
	cursor: default;
}

#MAContent .MAMain .aqsz-scy .scy-info:hover {
	background-position: center bottom;
}

#MAContent .MAMain .aqsz-scy .scy-change-psd {
	background: url(../images/03.png) no-repeat;
}

#MAContent .MAMain .aqsz-scy .scy-change-psd:hover {
	background-position: center bottom;
}

#MAContent .MAMain .aqsz-scy .scy-email {
	background: url(../images/04.png) no-repeat;
}

#MAContent .MAMain .aqsz-scy .scy-email:hover {
	background-position: center bottom;
}

#MAContent .MAMain .aqsz-scy .scy-list .scy-link-txt {
	float: left;
	line-height: 25px;
	margin-top: 40px;
}

#MAContent .MAMain .aqsz-scy .scy-list .scy-link-txt p {
	color: #999;
}

#MAContent {
	width: 1000px;
	height: auto;
	float: left;
	background: url(../images/content_bg.jpg) repeat-y;
}
/*存款页面*/
.MAMain {
	width: 752px;
	float: left;
	position: relative;
}

.MAMain .mnav {
	width: 688px;
	height: 48px;
	padding-left: 80px;
	background: url(../images/nav_bg.jpg) no-repeat;
}

.MAMain .mnav .current {
	width: 100px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-weight: bold;
	display: block;
	background: url(../images/nav_hover.jpg) no-repeat;
	color: #fff;
	float: left;
}

.MAMain .mnav a {
	width: 100px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-weight: bold;
	display: block;
	color: #fff;
	float: left;
}

.MAMain .mnav  a:hover {
	background: url(../images/nav_hover.jpg) no-repeat;
	color: #fff;
	float: left;
}

.MAMain .mnav .navSeparate {
	width: 2px;
	height: 34px;
	margin-top: 2px;
	background: url(../images/nav_img.jpg) no-repeat;
	float: left;
}

.MAMain .member-data {
	padding: 0 6px;
}

.MAMain .member-data .imformation {
	width: 100%;
	height: 170px;
	color: #504c4b;
	background: url(../images/circlebg.png) no-repeat 42px 15px;
}

.MAMain .member-data .imformation .info-img {
	width: 142px;
	height: 139px;
	margin: 17px 0 0 43px;
	float: left;
	background: url(../images/circle.png) no-repeat;
}

.MAMain .member-data .imformation .img-scy {
	background: rgba(0, 0, 0, 0) url("../images/circle01.png") no-repeat
		scroll 0 0;
}

.MAMain .cunkuan-scy .scy-zxzf {
	background: url(../images/zxzf.png) no-repeat;
}

.MAMain .cunkuan-scy .scy-zxzf:hover {
	background-position: center bottom;
}

.MAMain .cunkuan-scy .scy-yhhk {
	background: url(../images/02.png) no-repeat;
}

.MAMain .cunkuan-scy .scy-yhhk:hover {
	background-position: center bottom;
}

.MAMain .cunkuan-scy .scy-wxzf {
	background: url(../images/wxzf.png) no-repeat;
}
.MAMain .cunkuan-scy .scy-virtual {
	background: url(../images/virtual.png) no-repeat;

}
.MAMain .cunkuan-scy .scy-virtual:hover {
	background-position: center bottom;

}
.MAMain .cunkuan-scy .scy-wxzf:hover {
	background-position: center bottom;
}

.MAMain .cunkuan-scy .scy-zfbzf {
	background: url(../images/zfbzf.png) no-repeat;
}

.MAMain .cunkuan-scy .scy-zfbzf:hover {
	background-position: center bottom;
}

.MAMain .member-data .imformation .info-content {
	width: 550px;
	height: auto;
	margin-top: 23px;
	padding-top: 37px;
	float: left;
	background: url(../images/welcome.png) no-repeat;
}

.MAMain .member-data .imformation .info-content .info-txt {
	font-size: 13px;
	line-height: 24px;
	color: #6a8a8c;
}

.MAMain .member-data .imformation .info-content .info-title {
	color: #504c4b;
	font-size: 16px;
	font-weight: bold;
}

.MAMain .member-data .imformation .info-content .info-title .info-title-acname
	{
	font-size: 20px;
	color: #6a8a8c;
}

.MAMain .member-data .imformation .info-content .info-sec-title {
	color: #6b8a8c;
	font-size: 15px;
	height: 22px;
	letter-spacing: 2px;
	line-height: 17px;
	padding-right: 5px;
	text-align: right;
	background: url(../images/line.png) no-repeat -40px bottom;
}

.MAMain .member-data .imformation .info-content .info-sec-title .info-sec-txt
	{
	border-right: 4px solid #6b8a8c;
/* 	height: 17px; */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.MAMain .member-data .memdata-content {
	clear: both;
}

.MAMain .member-data .memdata-content .info-table-area {
	width: 705px;
	padding-bottom: 16px;
	margin: 10px auto 10px;
	background: url(../images/shadow03.png) no-repeat center bottom;
}

.MAMain .member-data .memdata-content .M-info {
	background: url(../images/table_bg.png) no-repeat center top;
}

.MAMain .member-data .memdata-content .info-table-area table {
	width: 100%;
	border: medium none;
	text-align: center;
}

.MAMain .member-data .memdata-content .M-info th {
	background: none;
	color: #fff;
	height: 31px;
	text-align: center;
}

.MAMain .member-data .memdata-content .M-info th {
	background: url(../images/table_line.png) no-repeat left top;
}

.MAMain .member-data .memdata-content .M-info td {
	font-size: 13px;
	height: 35px;
	line-height: 35px;
	color: #000;
	background: #ddd none repeat scroll 0 0;
}

.MAMain .member-data .memdata-content .M-info td {
	background: #ddd url(../images/linebg.jpg) repeat-x;
}

.MAMain .member-data .memdata-content table, th, td {
	border: medium none;
}

.MAMain .member-data .memdata-content h2.M-sub-title {
	height: 23px;
	color: #6a8a8c;
	line-height: 23px;
	margin: 2px;
	padding-left: 30px;
	background: url(../images/btn06.png) no-repeat;
}

.MAMain .member-data .memdata-content .M-info .slideEffect-btn {
	width: 15px;
	height: 16px;
	background: url(../images/btn07.png) no-repeat;
	float: right;
	margin: 9px 10px 0 15px;
	cursor: pointer;
}

.MAMain .member-data .memdata-content table.M-info .JS-slideEffect {
	display: inline-block;
	position: relative;
	text-align: right;
	width: 100%;
}

.MAMain .member-data .memdata-content table.M-info .JS-slideEffect span
	{
	background: #fff;
	bottom: 35px;
	height: 0px;
	left: 0px;
	position: absolute;
	width: 0;
	z-index: 1;
}

.MAMain .member-data .memdata-content .M-info .JS-slideEffect table {
	background: #b6bebd none repeat scroll 0 0;
	border-left: 4px solid #939f9f;
	border-right: 4px solid #939f9f;
	border-top: 4px solid #939f9f;
	line-height: 22px;
	width: 353px;
}

.MAMain .member-data .memdata-content  #M-sec-info .JS-slideEffect table td
	{
	background: none;
	color: #000;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.MAMain .secrity-setting {
	display: inline-block;
}

.MAMain .member-data .imformation .info-content .info-txt .js-unicode-show
	{
	width: 16px;
	height: 16px;
	background: url(../images/icon-notice.png) no-repeat;
	display: inline-block;
	vertical-align: text-bottom;
}

.MAMain .cunkuan-scy {
	width: 690px;
	margin: 0px auto;
}

.MAMain .cunkuan-scy .scy-list {
	color: #417e89;
	cursor: pointer;
	float: left;
	height: 123px;
	margin: 0 25px;
	padding-left: 110px;
	width: 185px;
}

.MAMain .cunkuan-scy .scy-list .scy-link-txt {
	float: left;
	line-height: 25px;
	margin-top: 40px;
}

.MAMain .cunkuan-scy .scy-list .scy-link-txt p {
	color: #999;
}

/*投注资讯*/
#MAContent .MAMain .tzzx {
	width: 768px;
	height: auto;
}

#MAContent .MAMain .tzzx #MNavLv2 .MGameType {
	height: 24px;
	line-height: 24px;
	padding: 0 2px;
}

#MAContent .MAMain .tzzx #MNavLv2 .MGameType:hover {
	color: #333;
}

#MAContent .MAMain .tzzx #MNavLv2 .MCurrentType {
	color: #333;
}

#MAContent .MAMain .tzzx .maindata {
	padding: 0px 6px;
}

#MAContent .MAMain .tzzx .maindata .MControlNav {
	margin-bottom: 8px;
	color: #aaa;
}

#MAContent .MAMain .tzzx .maindata .MPanel .MMain {
	border: 1px solid #ccc;
}

#MAContent .MAMain .tzzx .maindata .MPanel table.MMain {
	font-size: 12px;
	text-align: left;
}

#MAContent .MAMain .tzzx .maindata .MPanel table.MMain th {
	background: #dfdfdf;
	color: #333;
	height: 1.8em;
	text-align: center;
	border: 1px solid #ccc;
}

#MAContent .MAMain .tzzx .maindata .MPanel table.MMain td {
	background: #fff;
	color: #333;
	height: 1.5em;
	padding: 6px 8px;
	border: 1px solid #ccc;
}

#MAContent .MAMain .MNumber {
	text-align: center;
}

#MAContent .MAMain .tzzx #MNavLv2 {
	width: 763px;
	height: 30px;
	background: url(../images/nav2_bg.jpg) no-repeat center bottom #efefef;
	color: #600;
	line-height: 30px;
	margin-bottom: 8px;
	padding-left: 5px;
}

/*视频直播*/
#MAContent .MAMain .tzzx .MPanel .MMain {
	border: 1px solid #ccc;
}

#MAContent .MAMain .tzzx .MPanel table.MMain {
	font-size: 12px;
	text-align: left;
}

#MAContent .MAMain .tzzx .MPanel table.MMain th {
	background: #dfdfdf;
	color: #333;
	height: 1.8em;
	text-align: center;
	border: 1px solid #ccc;
}

#MAContent .MAMain .tzzx .MPanel table.MMain td {
	background: #fff;
	color: #333;
	height: 1.5em;
	padding: 6px 8px;
	border: 1px solid #ccc;
}

#MAContent .MAMain .MNumber {
	text-align: center;
}

/*银行交易*/
#MAContent .MAMain .yhjy-edzh {
	height: auto;
	padding: 0px 6px;
}

#MAContent .MAMain .yhjy-edzh h2 {
	color: #444;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	padding-left: 16px;
}

#MAContent .MAMain .yhjy-edzh .yhjy-MMain {
	font-size: 12px;
	text-align: left;
	width: 100%;
	border: 1px solid #ccc;
	margin-top: 15px;
}

#MAContent .MAMain .yhjy-edzh .yhjy-MMain td {
	border: 1px solid #ccc;
}

#MAContent .MAMain .yhjy-edzh .yhjy-MMain th {
	background: #dfdfdf;
	color: #333;
	font-weight: normal;
	height: 31px;
	text-align: center;
	border: 1px solid #ccc;
}

#MAContent .MAMain .yhjy-edzh tbody td {
	padding: 6px 8px;
}

#MAContent .MAMain .yhjy-edzh .MSubTitle {
	color: #444;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	padding-left: 16px;
}

#MAContent .MAMain .yhjy-edzh .edzh-MNoBorder {
	border: medium none;
	background: none;
}

#MAContent .MAMain .yhjy-edzh .edzh-MNoBorder td {
	padding: 6px 8px;
	line-height: 1.5em;
	color: #666;
}

#MAContent .MAMain .yhjy-edzh .input {
	padding: 0px 6px;
}

#MAContent .MAMain .yhjy-edzh .MBtnStyle {
	width: 100px;
	height: 22px;
	cursor: pointer;
	line-height: 22px;
	color: #000;
	background: url(../images/btn02.jpg) no-repeat;
	border: none;
}

#MAContent .MAMain .yhjy-edzh .MBtnStyle:hover {
	background: url(../images/btn02.jpg) no-repeat 0 -22px;
}

#MAContent .MAMain .yhjy-edzh {
	height: auto;
	padding: 0px 6px;
}

#MAContent .MAMain .yhjy-edzh h2 {
	color: #444;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	padding-left: 16px;
}

#MAContent .MAMain .yhjy-edzh .yhjy-MMain {
	font-size: 12px;
	text-align: left;
	width: 100%;
	border: 1px solid #ccc;
	margin-top: 15px;
}

#MAContent .MAMain .yhjy-edzh .yhjy-MMain td {
	border: 1px solid #ccc;
}

#MAContent .MAMain .yhjy-edzh .yhjy-MMain th {
	background: url(../images/table_bg.png) no-repeat center top;
	color: white;
	font-weight: normal;
	height: 31px;
	text-align: center;
	border: 1px solid #ccc;
}

#MAContent .MAMain .yhjy-edzh tbody td {
	padding: 6px 8px;
}

#MAContent .MAMain .yhjy-edzh .MSubTitle {
	color: #444;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	padding-left: 16px;
}

#MAContent .MAMain .yhjy-edzh .edzh-MNoBorder {
	border: medium none;
	background: none;
}

#MAContent .MAMain .yhjy-edzh .edzh-MNoBorder td {
	padding: 6px 8px;
	line-height: 1.5em;
	color: #666;
}

#MAContent .MAMain .yhjy-edzh .input {
	padding: 0px 6px;
}

#MAContent .MAMain .yhjy-edzh .MBtnStyle {
	width: 100px;
	height: 22px;
	cursor: pointer;
	line-height: 22px;
	color: #000;
	background: url(../images/btn02.jpg) no-repeat;
	border: none;
}

#MAContent .MAMain .yhjy-edzh .MBtnStyle:hover {
	background: url(../images/btn02.jpg) no-repeat 0 -22px;
}

/*银行交易-线上存款*/
#MAContent .MAMain .yhjy-xsck {
	height: auto;
	padding: 0px 6px;
	margin-top: 8px;
}

#MAContent .MAMain .yhjy-xsck .MMain {
	text-align: left;
	font-size: 12px;
	width: 100%;
	border: none;
}

#MAContent .MAMain .yhjy-xsck .pagelink {
	color: #004892;
	font-weight: bold;
	text-decoration: underline;
	padding: 6px 8px;
	display: inline-block;
}

#MAContent .MAMain .yhjy-xsck {
	height: 482px;
	width: 755px;
	margin: 0px auto 10px auto;
	OVERFLOW: auto;
	background-color: #FFF;
	padding-top: 5px;
}

#MAContent .MAMain .yhjy-xsck th {
	line-height: 30px;
}

#MAContent .MAMain .yhjy-xsck td {
	border-bottom: 1px #CCC dashed;
}

.content_record {
	height: 444px;
	width: 940px;
	margin: 0px auto 10px auto;
	OVERFLOW-y: scroll;
	background-color: #FFF;
	padding: 2px 0 2px 0;
}

.content_record th {
	color: #FFF;
	background-image: url(../images/th_bg.jpg);
}

.content_record td {
	line-height: 22px;
}

.submit_108 {
	background-image: url(../images/submit_108.gif);
	width: 108px;
	height: 31px;
	line-height: 31px;
	font-size: 14px;
	color: #FFF;
	padding: 0;
	margin: 0;
	border: 0;
}

.submit_73 {
	background-image: url(../images/submit_73.gif);
	width: 73px;
	height: 23px;
	line-height: 23px;
	font-size: 12px;
	color: #FFF;
	padding: 0;
	margin: 0;
	border: 0;
}

.input_150 {
	width: 150px;
	height: 20px;
	line-height: 20px;
	border: 1px #000 solid;
}

.input_250 {
	width: 200px;
	height: 20px;
	line-height: 20px;
	border: 1px #000 solid;
}

.input_80 {
	width: 80px;
	height: 20px;
	line-height: 20px;
	border: 1px #000 solid;
}
/*银行交易-线上取款*/
#MAContent .MAMain .yhjy-xsqk {
	height: auto;
	padding: 0px 6px;
	margin-top: 8px;
}

#MAContent .MAMain .yhjy-xsqk .MMain {
	font-size: 12px;
	text-align: left;
	width: 100%;
	border: 1px solid #ccc;
	margin-top: 3px;
	width: 100%;
}

#MAContent .MAMain .yhjy-xsqk .MMain {
	background: #dfdfdf;
	color: #333;
	font-weight: normal;
	height: 1.8em;
	text-align: center;
	border: 1px solid #ccc;
}

#MAContent .MAMain .yhjy-xsqk .MMain td {
	border: 1px solid #ccc;
	background: #fff;
	padding: 6px 8px;
}

#MAContent .MAMain .yhjy-xsqk .MMain td .pagelink {
	color: #004892;
	font-weight: bold;
	text-decoration: underline;
}
/*投注记录*/
#MNavLv2 {
	background: url(../images/nav2_bg.jpg) no-repeat center bottom;
	margin-bottom: 8px;
	padding-left: 5px;
	line-height: 30px;
	color: #600;
}

#MNavLv2 .MCurrentType {
	color: #333;
}

.yhjy-tzjl {
	padding: 0px 6px;
	height: 550px;
}

.yhjy-tzjl .MControlNav {
	margin-bottom: 8px;
	color: #aaa;
}

.yhjy-tzjl .MPanel table {
	border: 1px solid #ccc;
}

.yhjy-tzjl .MPanel table th {
	border: 1px solid #ccc;
	color: #000;
	font-weight: 500;
}

.yhjy-tzjl .MPanel .MMain {
	width: 100%;
}

.yhjy-tzjl td {
	border: 1px solid #ccc;
	font-size: 12px;
}

.yhjy-tzjl table.MMain th {
	background: #DFDFDF;
	height: 1.8em;
	color: ##333;
	text-align: center;
}

.yhjy-tzjl .MPanel .MMain td {
	background: #fff;
	color: #666;
}
/*交易记录-往来记录-视讯直播*/
.jyjl-wljl {
	padding: 0px 6px;
}

.jyjl-wljl .MControlNav {
	margin-bottom: 8px;
	color: #aaa;
}

.jyjl-wljl .MControlNav span {
	color: #aaa;
}

.calendar {
	width: 16px;
	height: 16px;
	padding: 2px;
	border: 1px solid #ccc;
	background: url(../images/calendar.gif) no-repeat right;
}

.MBtnStyle {
	width: 100px;
	height: 22px;
	line-height: 20px;
	color: #000;
	border: none;
	background: url(../images/btn02.jpg) no-repeat left top;
}

.MBtnStyle:hover {
	background-position: 0 bottom;
}
/*最新消息-最新消息*/
.zxxx-zxxx {
	padding: 0px 6px;
}

.zxxx-zxxx h2.MSubTitle {
	height: 18px;
	color: #444;
	padding-left: 16px;
	display: inline-block;
	font-size: 14px;
}

.zxxx-zxxx .MMain {
	width: 100%;
	text-align: left;
	font-size: 12px;
	border: 1px solid #ccc;
	margin-top: 5px;
}

.zxxx-zxxx .MMain th {
	border: 1px solid #ccc;
	color: #333;
	font-weight: normal;
	text-align: center;
	background: #dfdfdf;
	height: 1.8em;
}

.zxxx-zxxx .MMain td {
	border: 1px solid #ccc;
	line-height: 1.5em;
	padding: 6px 8px;
	color: #666;
	background: #fff;
}

.zxxx-zxxx .MMain .MContent {
	word-break: break-all;
	text-align: left;
}

.zxxx-zxxx .MMain .MContent:hover {
	color: #000000;
}

.grxx-grxx {
	padding: 0px 6px;
}

.grxx-grxx table {
	width: 100%;
}

.grxx-grxx th {
	background: #dfdfdf;
	border: 1px solid #ccc;
	height: 1.8em;
}

.grxx-grxx td {
	background: #dfdfdf;
	border: 1px solid #ccc;
	height: 1.8em;
}
/*银行交易-线上存款-公司入款*/
.yhjy-zxzf {
	background: url(../images/bg01.jpg) no-repeat 50% #000;
	overflow: hidden;
}

.yhjy-zxzf .bank_header {
	margin: 0 auto;
	width: 800px;
	height: 160px;
}

.yhjy-zxzf .bank_header .bank_logo {
	width: 800px;
	height: 160px;
	background: url(../images/rule_logo.png) no-repeat;
}

.yhjy-zxzf .bank_content {
	background-color: #fff;
	border: 1px solid #333;
	margin: 0 auto;
	padding: 2px 0 22px;
	width: 800px;
}

.yhjy-zxzf .bank_content .pay_title {
	font-weight: bold;
	height: 19px;
	padding: 5px 0 0 20px;
	position: relative;
}

.yhjy-zxzf .bank_content .note {
	clear: both;
	left: 100px;
	position: relative;
	width: 580px;
}

.yhjy-zxzf .bank_content .note h1 {
	font-size: 14px;
	font-weight: 600;
}

.yhjy-zxzf .bank_content .note .star {
	color: #f68622;
	font-size: 12px;
	font-weight: bold;
}

.yhjy-zxzf .bank_content tr td input {
	padding-left: 6px;
	padding-right: 6px;
}

.yhjy-zxzf .bank_footer {
	color: #fff;
	line-height: 30px;
	margin: 0 auto;
	text-align: center;
	width: 800px;
}

.yhjy-zxzf .bank_footer p {
	color: #fff;
}

/*银行交易-线上取款-取款*/
.yhjy-zxzf .bank_content {
	
}

/*银行交易-线上存款-在线支付*/
#pay_title {
	font-weight: bold;
	height: 19px;
	padding: 5px 0 0 20px;
	position: relative;
}

#pay_info .lable {
	display: block;
	float: left;
	text-align: right;
	width: 209px;
}

#myFORM .pay_info {
	clear: both;
	padding: 6px 0;
}

#myFORM .pay_info .lable {
	display: block;
	float: left;
	text-align: right;
	width: 209px;
}

#myFORM .pay_info .input {
	display: block;
	float: left;
	left: 209px;
	text-align: left;
}

#myFORM .pay_info .star {
	color: #f68622;
	font-size: 12px;
	font-weight: bold;
}
/*银行交易-线上存款-在线支付-确认*/
.qrsc {
	background-color: #004181;
	font-size: 12px;
	margin: 0 auto;;
}

#mainBody {
	background: url(../images/paybg.jpg) no-repeat left top;
	float: left;
	height: 582px;
	margin: 0 auto;
	width: 800px;
}

#main {
	float: left;
	padding: 170px 0 0 200px;
}

#titTx {
	height: 17px;
	line-height: 12px;
	margin-left: 170px;
	padding-top: 6px;
	width: 158px;
}

#data {
	float: left;
	height: 180px;
	padding: 30px 50px 0;
	width: 340px;
}

#data .list {
	background: url(../images/line2.gif) repeat-x scroll center bottom;
	height: 28px;
}

#data .tx1 {
	color: #18438e;
	float: left;
	height: 18px;
	line-height: 12px;
	padding-top: 7px;
	text-align: right;
	width: 100px;
}

#data .tx2 {
	float: left;
	line-height: 26px;
	padding-left: 5px;
	text-align: left;
	width: 195px;
}

#data .za_button {
	float: right;
	font-size: 12px;
	height: 25px;
	margin-right: 10px;
	padding-right: 1px;
	padding-top: 1px;
}

#copyright {
	color: #fff;
	float: left;
	font-size: 10px;
	margin: 5px 0 0 10px;
	width: 380px;
}

.yhjy-zxzf .bank_content .note ol {
	list-style-position: inside;
	list-style-type: decimal;
}

.yhjy-zxzf .bank_content .note ol li {
	height: 20px;
	line-height: 20px;
}

/*默认支付说明*/
.bank_body {
	width: 100%;
	height: auto;
	margin: 0px auto;
	background-color: #DDD;
}

.bank_body .maintain-box {
	position: absolute;
	margin: -150px 0px 0px -400px;
	top: 50%;
	left: 50%;
	height: 319px;
	width: 797px;
}

.bank_body .maintain-box .maintain {
	height: 319px;
	width: 797px;
	position: relative;
	background: url(../images/Maintain_bg.png) no-repeat;
}

.bank_body .maintain-box .maintain .maintain-top {
	font-size: 20px;
	height: 26px;
	padding: 10px 15px 0px 0px;
}

.bank_body .maintain-box .maintain .maintain-top .notice {
	font-weight: bold;
	text-shadow: 1px 1px 1px #DDD;
	font-family: "Microsoft YaHei";
	height: 26px;
	line-height: 26px;
	float: right;
	margin: 0px 5px;
}

.bank_body .maintain-box .maintain .maintain-top .noticeIcon {
	background: url(../images/TT.png) repeat;
	width: 30px;
	height: 26px;
	display: block;
	float: right;
	margin-right: 5px;
}

.bank_body .maintain-box .maintain .maintain-logo {
	position: absolute;
	top: 85px;
	left: 40px;
}

.bank_body .maintain-box .maintain .maintain-content {
	width: 550px;
	height: 240px;
	float: right;
	margin-right: 12px;
}

.bank_body .maintain-box .maintain .maintain-content .text-body {
	color: #900;
	margin-top: 40px;
	font-size: 20px;
	font-weight: bolder;
	text-shadow: 1px 1px 1px #FFF;
	text-align: left;
	margin: 70px 50px 0px;
}

.online-bg {
	width: 100%;
	background: url(../images/bg01.jpg) no-repeat #000 50% 0px;
	margin: 0px auto;
}

.online-bg .bank_logo {
	width: 800px;
	height: 160px;
	margin: 0px auto;
	background: url(../images/rule_logo.png) no-repeat;
}

.online-bg .bank_content {
	width: 800px;
	height: auto;
	margin: 0px auto;
	padding: 2px 0px 22px;
	border: 1px solid #333;
	background: #fff;
}

.online-bg .pay_title {
	position: relative;
	height: 19px;
	padding: 5px 0px 0px 20px;
	font-weight: bold;
}

.online-bg .note {
	clear: both;
	margin-left: 100px;
	line-height: 20px;
}

.online-bg .note h1 {
	font-size: 14px;
	font-weight: 600;
}

.online-bg .star {
	color: #F68622;
	font-weight: bold;
}

.online-bg .za_button {
	padding: 0px 8px;
}
/*线上存款-公司入款end*/
/*线上存款-公司入款-详细页*/
.online-bg .ui-tabs {
	padding: 0.2em;
	border: 1px solid #AAA;
	border-radius: 4px;
}

.online-bg .ui-tabs .ui-tabs-nav {
	height: 30px;
	padding: 0.2em 0.2em 0px;
	border: 1px solid #aaa;
	border-radius: 4px;
	background: #ccc url(../images/ccc_1x100.png) repeat-x 50% 50%;
	color: #222;
	font-weight: bold;
}

.online-bg .ui-tabs .ui-tabs-nav li {
	list-style: outside none none;
	float: left;
	position: relative;
	top: 1px;
	margin: 0px 0.2em 1px 0px;
	border: 1px solid #D3D3D3;
	border-bottom: none;
	background: #E6E6E6 url url(../images/ccc_1x400.png) repeat-x scroll 50%
		50%;
	font-weight: normal;
	color: #555;
}

.online-bg .ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: 0.5em 1em;
	text-decoration: none;
	font-weight: normal;
	color: #999;
}

.online-bg .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom: 0px;
	padding-bottom: 1px;
}

.online-bg .ui-tabs .ui-tabs-nav .on {
	margin-bottom: 0px;
	border: 1px solid #AAA;
	border-bottom: none;
	background: url(../images/ccc_1x400.png) repeat-x 50%; 50%;
	font-weight: normal;
}

.online-bg .ui-tabs .ui-tabs-nav .on a {
	color: #000;
}

.online-bg .ui-tabs .deposit {
	padding: 1em 1.4em;
	background-color: #FFFFE7;
	display: block;
}

.online-bg .ui-tabs .deposit_tab1 {
	display: block;
}

.online-bg .ui-tabs .deposit_tab2 {
	display: block;
}

.online-bg .ui-tabs .deposit_tab3 {
	display: block;
}

.online-bg .ui-tabs .deposit_tab4 {
	display: block;
}

.online-bg .ui-tabs .ui-tabs-hide {
	display: none !important;
}

.online-bg .ui-tabs .deposit .pay_under {
	text-decoration: underline;
	line-height: 20px;
	color: #000;
}

.online-bg .ui-tabs .deposit_tab4 li b {
	color: #000;
	font-weight: 600;
	margin-right: 5px;
}

/*第三步后-再次确认提交资讯*/
#ui-tjzx-qr {
	width: 500px;
	height: auto;
	background: #E6E6E6 url(../images/pay_menuBg.jpg) no-repeat;
	display: block;
	outline: 0px none;
	border: 1px solid #000;
	padding: 0.2em;
	overflow: hidden;
	position: absolute;
	top: 578.3px;
	left: 148px;
	z-index: 1002;
}

#ui-tjzx-qr .qr-header {
	height: 30px;
	color: #fff;
	line-height: 30px;
	padding-left: 15px;
}

#ui-tjzx-qr .checkInfo {
	padding: 0em 1em;
	color: #222;
}

#ui-tjzx-qr .dialog-buttonpane {
	margin: 1.4em 10px 5px;
	padding: 0.3em 1em 0.5em 0.4em;
	float: right;
}

#ui-tjzx-qr .ui-button-text {
	display: block;
	line-height: 1.4;
	border: 1px solid #d3d3d3;
	background: url(../images/e6e6e6_1x400.png) repeat-x 50% 50%;
	color: #555;
	font-weight: normal;
	margin: 0.5em 0.8em 0.5em 0px;
	padding: 0.4em 1.2em;
	float: left;
	border-radius: 4px;
}

#ui-tjzx-qr .ui-button-text:hover {
	background: url(../images/ccc_1x400.png) repeat-x 50% 50%;
	border: 1px solid #ccc;
}

/*底部*/
#MAContentBottom {
	width: 1000px;
	height: 30px;
	background: url(../images/footer_nav.jpg) no-repeat;
	clear: both;
}

#MAFoot {
	width: 960px;
	height: 50px;
	color: #fdcacb;
	padding-right: 40px;
	padding-top: 20px;
	text-align: right;
	background: url(../images/footer_bg.jpg) no-repeat;
}

.step-deposit {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	display: inline-block;
	margin: 10px 25px 10px;
	padding: 0 25px;
	color: #fff;
	height: 36px;
	line-height: 36px;
}

.current-deposit {
	background-color: #202020 !important;
}

.br_line {
	background-color: #333;
	height: 1px;
	margin: 10px 0;
	width: 100%;
}

.hidn {
	display: none;
}

.red {
	color: red;
}

.c_blue {
	color: blue;
}

.deposit-tables th, .th {
	line-height: 34px;
	padding-right: 10px;
	text-align: right;
	line-height: 34px;
}

#page{
	margin-top:15px;
}

.mycss{
	width:115px;
    border: 1px solid #5E6C77;
    font-size: 1.2em;
    padding: .25em .5em .3125em;
    color: #5E6C77;
    border-radius: .25em;
    background: transparent;
    -webkit-transition: all .100s;
    transition: all .100s;
    font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
/*     height: 17px; */
}


.message_table {
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}
.message_table th, .message_table td {
    border-top: 1px solid #cfcfcf;
    line-height: 1em;
    padding: 15px 5px;
    text-align: center;
    vertical-align: top;
}
.message_table .bg_black3 {
    background: #999ca1 none repeat scroll 0 0;
}