<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
// 隐藏购物车列表
$('.checkedList').css('display','none');
$('.checkedListCon p').css('display','none');
$('#betBtn').css('display','none');
//所有玩法
var erhexiaoList = [
  {
    name: '二肖',
    oddPlayItems: [],
  }
]
var sanhexiaoList = [
  {
    name: '三肖',
    oddPlayItems: [],
  }
]
var sihexiaoList = [
  {
    name: '四肖',
    oddPlayItems: [],
  }
]
var wuhexiaoList = [
  {
    name: '五肖',
    oddPlayItems: [],
  }
]
var liuhexiaoList = [
  {
    name: '六肖',
    oddPlayItems: [],
  }
]
var qihexiaoList = [
  {
    name: '七肖',
    oddPlayItems: [],
  }
]
var bahexiaoList = [
  {
    name: '八肖',
    oddPlayItems: [],
  }
]
var jiuhexiaoList = [
  {
    name: '九肖',
    oddPlayItems: [],
  }
]
var shihexiaoList = [
  {
    name: '十肖',
    oddPlayItems: [],
  }
]
var syhexiaoList = [
  {
    name: '十一肖',
    oddPlayItems: [],
  }
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,nowPlay,hexiao,zdnumber;
switch ($('.betFilterAnd .curr').text()) {
  case '二肖':
    nowPlay = erhexiaoList;
    break;
  case '三肖':
    nowPlay = sanhexiaoList;
  break;
  case '四肖':
    nowPlay = sihexiaoList;
    break;
  case '五肖':
    nowPlay = wuhexiaoList;
    break;
  case '六肖':
    nowPlay = liuhexiaoList;
    break;
  case '七肖':
    nowPlay = qihexiaoList;
    break;
  case '八肖':
    nowPlay = bahexiaoList;
    break;
  case '九肖':
    nowPlay = jiuhexiaoList;
    break;
  case '十肖':
    nowPlay = shihexiaoList;
    break;
  case '十一肖':
    nowPlay = syhexiaoList;
    break;
  default:
}

$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
	// 判断双面盘的位置，以确认后台数据
	if (rules[0].name === '合肖') {
		rule = rules[0];
	}else if (rules[1].name === '合肖') {
		rule = rules[1];
	}else if (rules[2].name === '合肖') {
		rule = rules[2];
	}else if (rules[3].name === '合肖') {
		rule = rules[3];
	}else if (rules[4].name === '合肖') {
		rule = rules[4];
	}else if (rules[5].name === '合肖') {
		rule = rules[5];
	}else if (rules[6].name === '合肖') {
		rule = rules[6];
	}else if (rules[7].name === '合肖') {
		rule = rules[7];
	}else if (rules[8].name === '合肖') {
		rule = rules[8];
	}else if (rules[9].name === '合肖') {
		rule = rules[9];
	}else if (rules[10].name === '合肖') {
		rule = rules[10];
	}else if (rules[11].name === '合肖') {
		rule = rules[11];
	}
	// 生肖号码
  for(let i in rules){
    if(rules[i].name === "合肖"){
      // 合肖
      hexiao  = rules[i].rules;
    }
  }
  // 生肖号码
  for(let j=0;j<12;j++){
    let hex;
    switch ($('.betFilterAnd .curr').text()) {
      case '二肖':
        hex = deepCopy(rule.rules[0].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          hex = deepCopy(rule.rules[0].oddPlayItems[1]);
        }
        break;
      case '三肖':
        hex = deepCopy(rule.rules[1].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          hex = deepCopy(rule.rules[1].oddPlayItems[1]);
        }
        break;
      case '四肖':
        hex = deepCopy(rule.rules[2].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          hex = deepCopy(rule.rules[2].oddPlayItems[1]);
        }
        break;
      case '五肖':
        hex = deepCopy(rule.rules[3].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          hex = deepCopy(rule.rules[3].oddPlayItems[1]);
        }
        break;
      case '六肖':
        hex = deepCopy(rule.rules[4].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          hex = deepCopy(rule.rules[4].oddPlayItems[1]);
        }
        break;
      case '七肖':
        hex = deepCopy(rule.rules[5].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          hex = deepCopy(rule.rules[5].oddPlayItems[1]);
        }
        break;
      case '八肖':
        hex = deepCopy(rule.rules[6].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          hex = deepCopy(rule.rules[6].oddPlayItems[1]);
        }
        break;
      case '九肖':
        hex = deepCopy(rule.rules[7].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          hex = deepCopy(rule.rules[7].oddPlayItems[1]);
        }
        break;
      case '十肖':
        hex = deepCopy(rule.rules[8].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          hex = deepCopy(rule.rules[8].oddPlayItems[1]);
        }
        break;
      case '十一肖':
        hex = deepCopy(rule.rules[9].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          hex = deepCopy(rule.rules[9].oddPlayItems[1]);
        }
        break;
      default:
    }
		hex.name = sxqqList[j];
    for (let l in nowPlay) {
      nowPlay[l].oddPlayItems.push(hex)
    }
	}
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in nowPlay){
    let yuansu = '<div class="fix selectNormal">'+
    '<span class="buyNumberTitle">'+nowPlay[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in nowPlay[i].oddPlayItems.slice(0,12)){
      right+='<a data-index="'+i+'-'+l+'">'+nowPlay[i].oddPlayItems[l].name+'<p class="plsize">赔:'+nowPlay[i].oddPlayItems[l].odds+'</p></a>';
    }
    let all = yuansu + right+ '</div><div class="buyNumberFilter"></div></div>'
    $('.sscCheckNumber ul li').append(all)
  }

	// 给玩法添加class,并判断玩法的最小下注个数
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr')
    let length = 0;
    switch ($('.betFilterAnd .curr').text()) {
      case '二肖':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,2).length;
        break;
      case '三肖':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,3).length;
        break;
      case '四肖':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,4).length;
        break;
      case '五肖':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,5).length;
        break;
      case '六肖':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,6).length;
        break;
      case '七肖':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,7).length;
        break;
      case '八肖':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,8).length;
        break;
			case '九肖':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,9).length;
        break;
      case '十肖':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,10).length;
        break;
      case '十一肖':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,11).length;
        break;
      default:

    }
		$('.detail').text(zdnumber); // 注单数量
	})
	// 获取游戏说明
	switch ($('.betFilterAnd .curr').text()) {
		case '二肖':
			if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[0].detailDesc;
			}
			break;
		case '三肖':
			if ($('.betFilterAnd .curr').text() == rule.rules[1].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[1].detailDesc;
			}
			break;
		case '四肖':
			if ($('.betFilterAnd .curr').text() == rule.rules[2].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[2].detailDesc;
			}
			break;
		case '五肖':
			if ($('.betFilterAnd .curr').text() == rule.rules[3].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[3].detailDesc;
			}
			break;
		case '六肖':
			if ($('.betFilterAnd .curr').text() == rule.rules[4].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[4].detailDesc;
			}
			break;
		case '七肖':
			if ($('.betFilterAnd .curr').text() == rule.rules[5].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[5].detailDesc;
			}
			break;
		case '八肖':
			if ($('.betFilterAnd .curr').text() == rule.rules[6].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[6].detailDesc;
			}
			break;
		case '九肖中':
			if ($('.betFilterAnd .curr').text() == rule.rules[7].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[7].detailDesc;
			}
			break;
		case '十肖':
			if ($('.betFilterAnd .curr').text() == rule.rules[8].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[8].detailDesc;
			}
			break;
		case '十一肖':
			if ($('.betFilterAnd .curr').text() == rule.rules[9].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[9].detailDesc;
			}
			break;
		default:
	}
	html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
var cart,centent = [],conten;

// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	// $('#layermbox16').removeAttr("style");
	// 计算注单数量
	var hmlet = $('.sscCheckNumber .curr').length
	var num = $(".detail").text()-0
	if (hmlet == 0 || num == 0) {
		alert('请选择一注进行投注');
		$('.detail').text('0');
		$('.eachPrice').val('');
		$('.buyNumber a').removeClass('curr');
		cart = [];
		return;
	}else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
		alert('请输入投注金额');
		$('.detail').text('0');
		$('.eachPrice').val('');
		$('.buyNumber a').removeClass('curr');
		cart = [];
		return;
	}
  // 用于点击获取当前点击的文本内容,并用逗号隔开
  centent = [];
  $('.buyNumber .curr').each(function(){
    centent += ($(this)[0].childNodes[0].data)+',';
  })
  conten = centent.substring(0,centent.length-1);

  let data = [];
  let obj;
  for(let i in hexiao){
    if ($('.betFilterAnd .curr').text() == hexiao[i].name) {
      obj = hexiao[i].oddPlayItems[0]
    }
  }
  cart.push({
    playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
    note_number: zdnumber-0,
    money: zdnumber*$('.eachPrice').val()-0,
    name:centent.substring(0,centent.length-1),
    oddsId: obj.id,
    playCode: obj.playCode,
    max: obj.maxBetAmmount,
    min: obj.minBetAmmount,
    odds:obj.odds,
  })
	var ganame;
	var betting =0;  // 用于计算总投注的金额
	ganame = rulist.name;
	for (let i in cart) {
		betting += cart[i].money;
	}

	let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
					'<ul>'+
						'<li>'+
							'<span>彩种：</span>'+
							'<em class="fill">'+ganame+'</em>'+
						'</li>'+
						'<li>'+
							'<span>期号：</span>'+
							'第'+
							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
							'期'+
						'</li>'+
						'<li>'+
							'<span>详情：</span>'+
							'<div class="fill textarea">'+
							'</p>'+
							'</div>'+
						'</li>'+
						'<li>'+
							'<span>投注总金额：</span>'+
							'<em>'+
								'<em class="fill _submitPlansMoney">'+betting+
								'</em>'+
								'元'+
							'</em>'+
						'</li>'+
					'</ul>'+
				'</div>'
	$('.layermcont').html(html_)
	$('#layermbox16').show();
	$("span#submitBtn").show();
	for (let i in cart){
		$('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
	}
});

//提交投注信息
$('#submitBtn').unbind("click").bind("click", function(){
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: $('.eachPrice').val()-0,
      name: cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('.buyNumber a').removeClass('curr');
			$('._mybetContent .tz_list').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('.buyNumber a').removeClass('curr');
    }
  });
})
// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
// 删除注单
function del(a){
  let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
  var zdshuliang = 0; // 注单数量
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang);
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje);
}
</script>
<style media="screen">
.buyNumberTitle{
	margin: 20px 0 0 0;
}
.buyNumber{
	width: 630px;
	margin: 15px 0 0 12px;
}
.buyNumber a, .buyNumber ins{
	font-size: 16px;
	margin: 0 5px;
}
.sscCheckNumber{
	height: 75px;
}
.selectNormal .buyNumber .plsize{
	color: #ff9831;
	margin: -13px 0px 0 -13px;
}
</style>
