<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
//所有玩法
var erqzList = [
  {
    name: '选号',
    oddPlayItems: [],
  }
]
var sanqzList = [
  {
    name: '选号',
    oddPlayItems: [],
  }
]
var sizyList = [
  {
    name: '选号',
    oddPlayItems: [],
  }
]
var sanzeList = [
  {
    name: '选号',
    oddPlayItems: [],
  }
]
var eztzztList = [
  {
    name: '选号',
    oddPlayItems: [],
  }
]
var eztzetList = [
  {
    name: '选号',
    oddPlayItems: [],
  }
]
var tecuanList = [
  {
    name: '选号',
    oddPlayItems: [],
  }
]
var siqzList = [
  {
    name: '选号',
    oddPlayItems: [],
  }
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,nowPlay,lianmaList,zdnumber;
switch ($('.betFilterAnd .curr').text()) {
  case '二全中':
    nowPlay = erqzList;
    break;
  case '三全中':
    nowPlay = sanqzList;
  break;
  case '四中一':
    nowPlay = sizyList;
    break;
  case '三中二':
    nowPlay = sanzeList;
    break;
  case '二中特之中特':
    nowPlay = eztzztList;
    break;
  case '二中特之中二':
    nowPlay = eztzetList;
    break;
  case '特串':
    nowPlay = tecuanList;
    break;
  case '四全中':
    nowPlay = siqzList;
    break;
  default:
}

$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
	// 判断双面盘的位置，以确认后台数据
	if (rules[0].name === '连码') {
		rule = rules[0];
	}else if (rules[1].name === '连码') {
		rule = rules[1];
	}else if (rules[2].name === '连码') {
		rule = rules[2];
	}else if (rules[3].name === '连码') {
		rule = rules[3];
	}else if (rules[4].name === '连码') {
		rule = rules[4];
	}else if (rules[5].name === '连码') {
		rule = rules[5];
	}else if (rules[6].name === '连码') {
		rule = rules[6];
	}else if (rules[7].name === '连码') {
		rule = rules[7];
	}else if (rules[8].name === '连码') {
		rule = rules[8];
	}else if (rules[9].name === '连码') {
		rule = rules[9];
	}else if (rules[10].name === '连码') {
		rule = rules[10];
	}else if (rules[11].name === '连码') {
		rule = rules[11];
	}

  for(let i in rules){
    if(rules[i].name === "连码"){
      // 连码
      lianmaList  = rules[i].rules;
    }
  }
  for (let i in lianmaList){
    // 数字0-49
    for(let j=1;j<50;j++){
      let obj = deepCopy(rule.rules[i].oddPlayItems[0]);
      obj.name = j;
			if (j<10) {
        obj.name = '0'+j;
      }
			if (rule.rules[i].name == '二全中'){
				erqzList[0].oddPlayItems.push(obj);
			}
			if (rule.rules[i].name == '三全中'){
				sanqzList[0].oddPlayItems.push(obj);
			}
			if (rule.rules[i].name == '四中一'){
				sizyList[0].oddPlayItems.push(obj);
			}
			if (rule.rules[i].name == '三中二'){
				sanzeList[0].oddPlayItems.push(obj);
			}
			if (rule.rules[i].name == '二中特之中特'){
				eztzztList[0].oddPlayItems.push(obj);
			}
			if (rule.rules[i].name == '二中特之中二'){
				eztzetList[0].oddPlayItems.push(obj);
			}
			if (rule.rules[i].name == '特串'){
				tecuanList[0].oddPlayItems.push(obj);
			}
			if (rule.rules[i].name == '四全中'){
				siqzList[0].oddPlayItems.push(obj);
			}
			// let lotteryName = '' ;
			// if($('.betNav .active').text() == '六合彩' || '香港六合彩'){
			// 		lotteryName = '六合彩';
			// }else if ($('.betNav .active').text() == '十分六合彩' || '分六合彩'){
			// 		lotteryName = '十分六合彩';
			// }
			// switch (lotteryName) {
			// 	case '十分六合彩':
			// 		switch (i) {
			// 			case '0':
			// 				erqzList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '1':
			// 				sanqzList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '2':
			// 				sizyList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '3':
			// 				sanzeList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '4':
			// 				eztzztList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '5':
			// 				eztzetList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '6':
			// 				tecuanList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '7':
			// 				siqzList[0].oddPlayItems.push(obj);
			// 				break;
			// 			default:
			// 		}
			// 		break;
			// 	case '六合彩':
			// 		switch (i) {
			// 			case '0':
			// 				sanqzList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '1':
			// 				sanzeList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '2':
			// 				erqzList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '3':
			// 				eztzztList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '4':
			// 				siqzList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '5':
			// 				eztzetList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '6':
			// 				tecuanList[0].oddPlayItems.push(obj);
			// 				break;
			// 			case '7':
			// 				sizyList[0].oddPlayItems.push(obj);
			// 				break;
			// 			default:
			// 		}
			// 		break;
			// 	default:
            //         switch (i) {
            //             case '0':
            //                 erqzList[0].oddPlayItems.push(obj);
            //                 break;
            //             case '1':
            //                 sanqzList[0].oddPlayItems.push(obj);
            //                 break;
            //             case '2':
            //                 sizyList[0].oddPlayItems.push(obj);
            //                 break;
            //             case '3':
            //                 sanzeList[0].oddPlayItems.push(obj);
            //                 break;
            //             case '4':
            //                 eztzztList[0].oddPlayItems.push(obj);
            //                 break;
            //             case '5':
            //                 eztzetList[0].oddPlayItems.push(obj);
            //                 break;
            //             case '6':
            //                 tecuanList[0].oddPlayItems.push(obj);
            //                 break;
            //             case '7':
            //                 siqzList[0].oddPlayItems.push(obj);
            //                 break;
            //             default:
            //         }
			// }
    }
  }
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in nowPlay){
    let yuansu = '<div class="fix selectNormal">'+
    '<span class="buyNumberTitle">'+nowPlay[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in nowPlay[i].oddPlayItems.slice(0,49)){
      right+='<a data-index="'+i+'-'+l+'">'+nowPlay[i].oddPlayItems[l].name+'<p class="plsize">赔:'+nowPlay[i].oddPlayItems[l].odds+'</p></a>';
    }
    let all = yuansu + right+ '</div><div class="buyNumberFilter"></div></div>'
    $('.sscCheckNumber ul li').append(all)
  }
	// 给玩法添加class,并判断玩法的最小下注个数
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr')
    let length = 0;
    switch ($('.betFilterAnd .curr').text()) {
      case '二全中':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,2).length;
        break;
      case '三全中':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,3).length;
        break;
      case '四中一':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,4).length;
        break;
      case '三中二':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,3).length;
        break;
      case '二中特之中特':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,2).length;
        break;
      case '二中特之中二':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,2).length;
        break;
      case '特串':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,2).length;
        break;
			case '四全中':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,4).length;
        break;
      default:

    }
		$('.detail').text(zdnumber); // 注单数量
	})
	// 获取游戏说明
	switch ($('.betFilterAnd .curr').text()) {
		case '二全中':
			if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[0].detailDesc;
			}
			break;
		case '三全中':
			if ($('.betFilterAnd .curr').text() == rule.rules[1].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[1].detailDesc;
			}
			break;
		case '四中一':
			if ($('.betFilterAnd .curr').text() == rule.rules[2].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[2].detailDesc;
			}
			break;
		case '三中二':
			if ($('.betFilterAnd .curr').text() == rule.rules[3].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[3].detailDesc;
			}
			break;
		case '二中特之中特':
			if ($('.betFilterAnd .curr').text() == rule.rules[4].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[4].detailDesc;
			}
			break;
		case '二中特之中二':
			if ($('.betFilterAnd .curr').text() == rule.rules[5].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[5].detailDesc;
			}
			break;
		case '特串':
			if ($('.betFilterAnd .curr').text() == rule.rules[6].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[6].detailDesc;
			}
			break;
		case '四全中':
			if ($('.betFilterAnd .curr').text() == rule.rules[7].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[7].detailDesc;
			}
			break;
		default:
	}
	html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
var cart,centent = [],conten;

// 添加注单
$('#betbtn').unbind("click").bind("click", function(event){
	// 计算注单数量
	var hmlet = $('.sscCheckNumber .curr').length
	if (hmlet == 0 || hmlet < 2) {
		alert('请选择一注进行投注');
		$('.detail').text('0');
		$('.eachPrice').val('');
		$('.buyNumber a').removeClass('curr');
		cart = [];
		return;
	}else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
		alert('请输入投注金额');
		$('.detail').text('0');
		$('.eachPrice').val('');
		$('.buyNumber a').removeClass('curr');
		cart = [];
		return;
	}
  // 用于点击获取当前点击的文本内容,并用逗号隔开
  centent = [];
  $('.buyNumber .curr').each(function(){
    centent += ($(this)[0].childNodes[0].data)+',';
  })
  conten = centent.substring(0,centent.length-1);

  let data = [];
  let obj;
  for(let i in lianmaList){
    if ($('.betFilterAnd .curr').text() == lianmaList[i].name) {
      obj = lianmaList[i].oddPlayItems[0]
    }
  }
  cart.push({
    playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
    note_number: zdnumber-0,
    money: zdnumber*$('.eachPrice').val()-0,
    name:centent.substring(0,centent.length-1),
    oddsId: obj.id,
    playCode: obj.playCode,
    max: obj.maxBetAmmount,
    min: obj.minBetAmmount,
    odds:obj.odds,
  })
	var ganame;
	var betting =0;  // 用于计算总投注的金额
	ganame = rulist.name;
	for (let i in cart) {
		betting += cart[i].money;
	}

	let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
					'<ul>'+
						'<li>'+
							'<span>彩种：</span>'+
							'<em class="fill">'+ganame+'</em>'+
						'</li>'+
						'<li>'+
							'<span>期号：</span>'+
							'第'+
							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
							'期'+
						'</li>'+
						'<li>'+
							'<span>详情：</span>'+
							'<div class="fill textarea">'+
							// '['+betting.playsName+']'+betting.name+
							'</p>'+
							'</div>'+
						'</li>'+
						'<li>'+
							'<span>投注总金额：</span>'+
							'<em>'+
								'<em class="fill _submitPlansMoney">'+betting+
								'</em>'+
								'元'+
							'</em>'+
						'</li>'+
					'</ul>'+
				'</div>'
	$('.layermcont').html(html_)
	$('#layermbox16').show();
	$("span#submitBtn").show();
	for (let i in cart){
		$('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
	}
});

//提交投注信息
$('#submitBtn').unbind("click").bind("click", function(){
  // console.log(rule);
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: $('.eachPrice').val()-0,
      name: cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
  $.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('.buyNumber a').removeClass('curr');
			$('._mybetContent .tz_list').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('.buyNumber a').removeClass('curr');
    }
  });
})
// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
// 删除注单
function del(a){
  let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
  var zdshuliang = 0; // 注单数量
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang);
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje);
}
</script>
<style media="screen">
	.buyNumber{
		width: 596px;
	}
	.buyNumber a, .buyNumber ins{
		font-size: 12px;
		float: left;
	}
	.selectNormal .buyNumber .plsize{
		color: #ff9831;
		margin: -13px 0px 0 -13px;
	}
</style>
