<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
//所有玩法
var exlzList = [
  {
    name: '连肖',
    oddPlayItems: [],
  }
]
var sxlzList = [
  {
    name: '连肖',
    oddPlayItems: [],
  }
]
var sixlzList = [
  {
    name: '连肖',
    oddPlayItems: [],
  }
]
var exlbzList = [
  {
    name: '连肖',
    oddPlayItems: [],
  }
]
var sxlbzList = [
  {
    name: '连肖',
    oddPlayItems: [],
  }
]
var sixlbzList = [
  {
    name: '连肖',
    oddPlayItems: [],
  }
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,nowPlay,lianxiao,zdnumber;
switch ($('.betFilterAnd .curr').text()) {
  case '二肖连中':
    nowPlay = exlzList;
    break;
  case '三肖连中':
    nowPlay = sxlzList;
    break;
  case '四肖连中':
    nowPlay = sixlzList;
    break;
  case '二肖连不中':
    nowPlay = exlbzList;
    break;
  case '三肖连不中':
    nowPlay = sxlbzList;
    break;
  case '四肖连不中':
    nowPlay = sixlbzList;
    break;
  default:
}
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
	// 判断双面盘的位置，以确认后台数据
	if (rules[0].name === '连肖') {
		rule = rules[0];
	}else if (rules[1].name === '连肖') {
		rule = rules[1];
	}else if (rules[2].name === '连肖') {
		rule = rules[2];
	}else if (rules[3].name === '连肖') {
		rule = rules[3];
	}else if (rules[4].name === '连肖') {
		rule = rules[4];
	}else if (rules[5].name === '连肖') {
		rule = rules[5];
	}else if (rules[6].name === '连肖') {
		rule = rules[6];
	}else if (rules[7].name === '连肖') {
		rule = rules[7];
	}else if (rules[8].name === '连肖') {
		rule = rules[8];
	}else if (rules[9].name === '连肖') {
		rule = rules[9];
	}else if (rules[10].name === '连肖') {
		rule = rules[10];
	}else if (rules[11].name === '连肖') {
		rule = rules[11];
	}
  // 生肖号码
  for(let i in rules){
    if(rules[i].name === "连肖"){
      // 连码
      lianxiao  = rules[i].rules;
    }
  }
  for(let j=0;j<12;j++){
    let obj;
    switch ($('.betFilterAnd .curr').text()) {
      case '二肖连中':
        obj = deepCopy(rule.rules[0].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          obj = deepCopy(rule.rules[0].oddPlayItems[1]);
        }
        break;
      case '三肖连中':
        obj = deepCopy(rule.rules[1].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          obj = deepCopy(rule.rules[1].oddPlayItems[1]);
        }
        break;
      case '四肖连中':
        obj = deepCopy(rule.rules[2].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          obj = deepCopy(rule.rules[2].oddPlayItems[1]);
        }
        break;
      case '五肖连中':
        obj = deepCopy(rule.rules[3].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          obj = deepCopy(rule.rules[3].oddPlayItems[1]);
        }
        break;
      case '二肖连不中':
        obj = deepCopy(rule.rules[4].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          obj = deepCopy(rule.rules[4].oddPlayItems[1]);
        }
        break;
      case '三肖连不中':
        obj = deepCopy(rule.rules[5].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          obj = deepCopy(rule.rules[5].oddPlayItems[1]);
        }
        break;
      case '四肖连不中':
        obj = deepCopy(rule.rules[6].oddPlayItems[0]);
        if (bmn.zodia === sxqqList[j]) {
          obj = deepCopy(rule.rules[6].oddPlayItems[1]);
        }
        break;
      default:
    }
		obj.name = sxqqList[j];
    for (let l in nowPlay) {
      nowPlay[l].oddPlayItems.push(obj)
    }
	}
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in nowPlay){
    let yuansu = '<div class="fix selectNormal">'+
    '<span class="buyNumberTitle">'+nowPlay[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in nowPlay[0].oddPlayItems.slice(0,12)){
      right+='<a data-index="'+i+'-'+l+'">'+nowPlay[0].oddPlayItems[l].name+'<p class="plsize">赔:'+nowPlay[i].oddPlayItems[l].odds+'</p></a>';
    }
    let all = yuansu + right;
    $('.sscCheckNumber ul li').append(all)
  }

	// 给玩法添加class,并判断玩法的最小下注个数
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr')
    let length = 0;
    switch ($('.betFilterAnd .curr').text()) {
      case '二肖连中':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,2).length;
        break;
      case '三肖连中':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,3).length;
        break;
      case '四肖连中':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,4).length;
        break;
      case '五肖连中':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,5).length;
        break;
      case '二肖连不中':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,2).length;
        break;
      case '三肖连不中':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,3).length;
        break;
      case '四肖连不中':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,4).length;
        break;
      default:

    }
		$('.detail').text(zdnumber); // 注单数量
	})
	// 获取游戏说明
	switch ($('.betFilterAnd .curr').text()) {
	  case '二肖连中':
			if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[0].detailDesc;
			}
	    break;
	  case '三肖连中':
			if ($('.betFilterAnd .curr').text() == rule.rules[1].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[1].detailDesc;
			}
	    break;
	  case '四肖连中':
			if ($('.betFilterAnd .curr').text() == rule.rules[2].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[2].detailDesc;
			}
	    break;
	  case '五肖连中':
			if ($('.betFilterAnd .curr').text() == rule.rules[3].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[3].detailDesc;
			}
	    break;
	  case '二肖连不中':
			if ($('.betFilterAnd .curr').text() == rule.rules[4].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[4].detailDesc;
			}
	    break;
	  case '三肖连不中':
			if ($('.betFilterAnd .curr').text() == rule.rules[5].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[5].detailDesc;
			}
		break;
		case '四肖连不中':
			if ($('.betFilterAnd .curr').text() == rule.rules[6].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[6].detailDesc;
			}
		break;
		default:
	}
	html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
var cart = [];

// 添加注单
$('#betbtn').unbind('click')
$('#betbtn').click(function(event){
  // 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0 || hmlet < 2) {
    alert('请选择一注进行投注');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
    cart = [];
    return;
  }else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
    alert('请输入投注金额');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
    cart = [];
    return;
  }
  // 用于点击获取当前点击的文本内容,并用逗号隔开
  centent = [];
  $('.buyNumber .curr').each(function(){
    centent += ($(this)[0].childNodes[0].data)+',';
  })
  conten = centent.substring(0,centent.length-1);
  let data = [];
  let obj;
  for(let i in lianxiao){
    if ($('.betFilterAnd .curr').text() == lianxiao[i].name) {
      obj = lianxiao[i].oddPlayItems[0]
    }
  }
  cart.push({
    playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
    note_number: zdnumber-0,
    money: zdnumber*$('.eachPrice').val()-0,
    name:centent.substring(0,centent.length-1),
    // rowName:nowPlay[row].name,
    oddsId: obj.id,
    playCode: obj.playCode,
    max: obj.maxBetAmmount,
    min: obj.minBetAmmount,
    odds:obj.odds,
  })
	var ganame;
	var betting =0;  // 用于计算总投注的金额
	ganame = rulist.name;
	for (let i in cart) {
		betting += cart[i].money;
	}
	let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
					'<ul>'+
						'<li>'+
							'<span>彩种：</span>'+
							'<em class="fill">'+ganame+'</em>'+
						'</li>'+
						'<li>'+
							'<span>期号：</span>'+
							'第'+
							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
							'期'+
						'</li>'+
						'<li>'+
							'<span>详情：</span>'+
							'<div class="fill textarea">'+
							// '['+betting.playsName+']'+betting.name+
							'</p>'+
							'</div>'+
						'</li>'+
						'<li>'+
							'<span>投注总金额：</span>'+
							'<em>'+
								'<em class="fill _submitPlansMoney">'+betting+
								'</em>'+
								'元'+
							'</em>'+
						'</li>'+
					'</ul>'+
				'</div>'
	$('.layermcont').html(html_)
	$('#layermbox16').show();
	$("span#submitBtn").show();
	for (let i in cart){
		$('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
	}
});
//提交投注信息
$('#submitBtn').unbind("click").bind("click", function(){
  // console.log(rule);
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: $('.eachPrice').val()-0,
      name: cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('.buyNumber a').removeClass('curr');
			$('._mybetContent tbody').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList .tz_list').html('')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('.buyNumber a').removeClass('curr');
    }
  });
})
// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
// 删除注单
function del(a){
  let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
	var zdshuliang = 0; // 注单数量
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
}
</script>
<style media="screen">
.buyNumberTitle{
	margin: 20px 0 0 0;
}
.buyNumber{
	width: 630px;
	margin: 15px 0 0 12px;
}
.buyNumber a, .buyNumber ins{
	font-size: 16px;
	margin: 0 5px;
}
.sscCheckNumber{
	height: 75px;
}
.selectNormal .buyNumber .plsize{
	color: #ff9831;
	margin: -13px 0px 0 -13px;
}
</style>
