<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
//所有玩法
var yixiaowsList = [
  {
    name: '正特肖',
    oddPlayItems: [],
  },
  {
    name: '正特尾',
    oddPlayItems: []
  }
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,nowPlay,zdnumber;
switch ($('.betFilterAnd .curr').text()) {
  case '正特肖/正特尾':
    nowPlay = yixiaowsList;
    break;
  default:
}
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
  rule = rules[6];
  // 生肖号码
	for(let j=0;j<12;j++){
		let obj = deepCopy(rules[6].rules[0].oddPlayItems[0]);
    if (bmn.zodia === sxqqList[j]) {
      obj = deepCopy(rules[6].rules[0].oddPlayItems[1]);
    }
		obj.name = sxqqList[j];
		yixiaowsList[0].oddPlayItems.push(obj)
	}
  for(let j=0;j<10;j++){
    let obj;
		j===0? obj = deepCopy(rules[6].rules[0].oddPlayItems[2]):obj = deepCopy(rules[6].rules[0].oddPlayItems[3]);
		switch (j) {
      case j:
				obj.name = j+'尾';
				break;

			default:
		}
		yixiaowsList[1].oddPlayItems.push(obj)
	}
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in nowPlay){
    let yuansu = '<div class="fix selectNormal">'+
    '<span class="buyNumberTitle">'+nowPlay[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in nowPlay[0].oddPlayItems.slice(0,12)){
      if(i==0){
        right+='<a data-index="'+i+'-'+l+'">'+nowPlay[0].oddPlayItems[l].name+'<p class="plsize">赔:'+nowPlay[i].oddPlayItems[l].odds+'</p></a>';
      }
    }
    for (let n in nowPlay[1].oddPlayItems.slice(0,10)){
      if (i == 1) {
        right+='<a data-index="'+i+'-'+n+'">'+nowPlay[1].oddPlayItems[n].name.replace(/正特尾/g, '')+'<p class="plsize">赔:'+nowPlay[i].oddPlayItems[n].odds+'</p></a>';
      }
    }
    let all = yuansu + right;
    $('.sscCheckNumber ul li').append(all)
  }

	// 给玩法添加class,并判断玩法的最小下注个数
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr')
    let length = 0;
    switch ($('.betFilterAnd .curr').text()) {
      case '正特肖/正特尾':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,1).length;
        break;
    }
		$('.detail').text(zdnumber); // 注单数量
	})
	// 获取游戏说明
  var game_shows
  if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
    $('.window_ .text_shows').html('');
    game_shows = rule.rules[0].detailDesc;
  }
	let html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
var cart = [];

// 添加注单
$('#betBtn').unbind('click')
$('#betBtn').click(function(event){
	// 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0) {
    alert('请选择一注进行投注');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
    alert('请输入投注金额');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }
  let haoma = '',winMoney = 0;
  var selectEl = $('.sscCheckNumber .curr');
  let data = [];
  for(let i=0;i<selectEl.length;i++){
    selectEl.eq(i).toggleClass('curr')
    let row = selectEl.eq(i).attr('data-index').split('-')[0]-0;
    let col = selectEl.eq(i).attr('data-index').split('-')[1]-0;
    let obj = nowPlay[row].oddPlayItems[col];
    let bol = false;
		for(let i in cart){
			let name = nowPlay[row].name=='正特肖' || nowPlay[row].name=='正特尾'? obj.name: nowPlay[row].name+'--'+obj.name;
      if(cart[i].name === name){
        bol = true;
				cart[i].money += $('.eachPrice').val()-0;
        continue;
      }
    }
    !bol? cart.push({
      playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
      money: ($('.eachPrice').val()-0),
      name:obj.name,
      oddsId: obj.id,
      playCode: obj.playCode,
      max: obj.maxBetAmmount,
      min: obj.minBetAmmount,
      odds:obj.odds,
    }):''
  }
  createDetail();
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
})
function createDetail (){
  $('.checkedList tbody').html('');
	for(let i in cart){
    let html = '<tr>'+
              '<td>'+
                '<i class="order_type">'+
                  '['+cart[i].playsName+']'+cart[i].name+
                '</i>'+
              '</td>'+
              '<td>'+1+'注</td>'+
              '<td>'+cart[i].money+'元</td>'+
              '<td>'+
                '可中金额'+
                '<i class="orderMoney">'+
                  '<i>'+(cart[i].money*cart[i].odds).toFixed(2)+'元</i>'+
                '</i>'+
              '</td>'+
              '<td><a class="orderCancel" onclick="del(this)"  data-index="'+i+'"  >删除</a></td>'+
            '</tr>'
    $('.checkedList tbody').append(html)
  }
	$('.detail').text('0');
	$('.eachPrice').val('');
}
// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	$('#layermbox16').removeAttr("style");
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
	for (let i in cart) {
    betting += cart[i].money;
	}
  var content = $(".checkedList tbody").html();
  if (content == null || content == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$("span#submitBtn").hide();
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+betting+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$("span#submitBtn").show();
	}

  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
  }
})
//提交投注信息
$('#submitBtn').unbind("click").bind("click", function(){
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: cart[i].money,
      name: cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
		if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;');
			$('.zdsl').text('0');
			$('.tzje').text('0');
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('.buyNumber a').removeClass('curr');
			$('._mybetContent .tz_list').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
			$('.zdsl').text('0');
			$('.tzje').text('0');
			$('.buyNumber a').removeClass('curr');
    }
  });
})
// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
// 删除注单
function del(a){
  let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
	var zdshuliang = 0; // 注单数量
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
}
</script>
<style media="screen">
	.sscCheckNumber{
    height: 135px;
	}
  .buyNumberTitle{
    margin: 20px 0 0 0;
  }
	.buyNumber{
		width: 630px;
    margin: 15px 0 0 12px;
	}
	.buyNumber a{
		font-size: 16px;
    margin: 0 5px;
		float: left;
	}
	.selectNormal .buyNumber .plsize{
		color: #ff9831;
		margin: -13px 0px 0 -13px;
	}
</style>
