@charset "utf-8";
/*头部*/
ol, ul, li {
	list-style: none;
}

* {
	margin: 0px;
	padding: 0px;
}

.content {
    width: 100%;
    height: 550px;
    display: block;
    margin-top: 30px;
}

.AboutUs_content_box {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	transform: scale(1.2);
}

