
<form>
	<table betprefix="">
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>豹子</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="豹子" rate="0.0" oddsId="" rakeBack="631">
				</td>
				<td>四张</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="四张" rate="0.0" oddsId="" rakeBack="632">
				</td>
			</tr>
			<tr>
				<td>葫芦</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="葫芦" rate="0.0" oddsId="" rakeBack="633">
				</td>
				<td>顺子</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="顺子" rate="0.0" oddsId="" rakeBack="634">
				</td>
			</tr>
			<tr>
				<td>三张</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="三张" rate="0.0" oddsId="" rakeBack="635">
				</td>
				<td>两对</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="两对" rate="0.0" oddsId="" rakeBack="636">
				</td>
			</tr>
			<tr>
				<td>一对</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="一对" rate="0.0" oddsId="" rakeBack="637">
				</td>
				<td>杂牌</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="杂牌" rate="0.0" oddsId="" rakeBack="638">
				</td>
			</tr>
			<tr>
				<td>五离</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="五离" rate="0.0" oddsId="" rakeBack="639">
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(9, 'qipai', 'dezhoupuke', '棋牌--德州扑克')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
