
<form>
	<table betprefix="">
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>牛1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="牛1" rate="0.0" oddsId="" rakeBack="640">
				</td>
				<td>牛2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="牛2" rate="0.0" oddsId="" rakeBack="641">
				</td>
			</tr>
			<tr>
				<td>牛4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="牛4" rate="0.0" oddsId="" rakeBack="643">
				</td>
				<td>牛5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="牛5" rate="0.0" oddsId="" rakeBack="644">
				</td>
			</tr>
			<tr>
				<td>牛6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="牛6" rate="0.0" oddsId="" rakeBack="645">
				</td>
				<td>牛7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="牛7" rate="0.0" oddsId="" rakeBack="646">
				</td>
			</tr>
			<tr>
				<td>牛8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="牛8" rate="0.0" oddsId="" rakeBack="647">
				</td>
				<td>牛9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="牛9" rate="0.0" oddsId="" rakeBack="648">
				</td>
			</tr>
			<tr>
				<td>无点</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="无点" rate="0.0" oddsId="" rakeBack="649">
				</td>
				<td>牛牛</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="牛牛" rate="0.0" oddsId="" rakeBack="650">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="">
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大(6,7,8,9,10)</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="651">
				</td>
				<td>小(1,2,3,4,5)</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="652">
				</td>
			</tr>
			<tr>
				<td>单(1,3,5,7,9)</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="653">
				</td>
				<td>双(2,4,6,8,10)</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="654">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(9, 'qipai', 'niuniu', '棋牌--牛牛')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
