
<form>
	<table betprefix="">
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>左闲</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="左闲" rate="0.0" oddsId="" rakeBack="655">
				</td>
				<td>右闲</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="右闲" rate="0.0" oddsId="" rakeBack="655">
				</td>
			</tr>
			<tr>
				<td>和局</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和局" rate="0.0" oddsId="" rakeBack="655">
				</td>
				<td></td>
				<td ></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table betprefix="左闲尾大">
		<thead>
			<tr>
				<th colspan="6">左闲尾大</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="655">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="655">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="655">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="655">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="655">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="655">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="右闲尾大">
		<thead>
			<tr>
				<th colspan="6">右闲尾大</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="655">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="655">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="655">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="655">
				</td>
			</tr>
			<tr>
				<td>质</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="质" rate="0.0" oddsId="" rakeBack="655">
				</td>
				<td>合</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="合" rate="0.0" oddsId="" rakeBack="655">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(9, 'qipai', 'sangong', '棋牌--三公')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
