html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6,
p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em,
img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary,time, mark, audio, video {
margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;
}

body {color:#fff; font-size:12px; font-family:"微软雅黑", "黑体",Arial, Helvetica; padding:0; margin:0;}
.wrap{ width:1000px; margin:0 auto; position:relative; overflow:hidden;}
a{ color:#fff;text-decoration:none;}
a:hover{ text-decoration:none;}
.ml16{ margin-left:16px;}
.f24{ font-size:24px;}
.f36{ font-size:36px;}
.f16{font-size:16px;}
.f18{font-size:18px;}

.surprised{ position:absolute; top:120px; right:32px; z-index:1000;}
/*二维码页面*/
.sweep{ background:url(../images/bg01.png) repeat; width:100%; height:100%;}
.top-banner{ width:1000px; height:71px; background:url(../images/top-wait.jpg) no-repeat; text-indent:-10000px;}
.sweep .h100{margin-left:40px; width:940px; height:130px; background:url(../images/correct.png) no-repeat left 26px; overflow:hidden;}
.sweep .m26{ margin:26px 0; padding-left:68px;}
h1{ font-size:18px; color:#00a0ff; font-family:"微软雅黑"; margin:0; padding:0; font-weight:normal;}
.num{ font-size:12px; font-family:"宋体"; margin-top:8px; padding:0;}
.color1{ color:#cccccc;}
.color2{ color:#ff5000;}
.color3{color:#008cff;}
.orange{ color:#ff6400;}
.blue{color:#00a0ff;}
.yellow{ color:#ffff00;}
.green{ color:#a4fe00}
.s-con{ height:740px; width:1000px; overflow:hidden; background:url(../images/page01.jpg) no-repeat; position:relative;}
.s-con .title{ text-align:center; font-size:21px; line-height:30px;width:600px; margin:0 auto; margin-top:50px; z-index:1100; position:relative;}
.ml42{ margin-left:42px;}

.scan{ width:1000px; height:528px; overflow:hidden; background:url(../images/page-02.png) no-repeat; position:relative;}
.scan_zfb{ width:1000px; height:528px; overflow:hidden; background:url(../images/page-02_zfb.png) no-repeat; position:relative;}
.scan_zfb_virtual{ width:1000px; height:528px; overflow:hidden; background:url(../images/page-04_zfb.png) no-repeat; position:relative;}
.scan img{ width:288px; height:288px; position:absolute; left:356px; top:28px;}
.scan_zfb img{ width:288px; height:288px; position:absolute; left:356px; top:28px;}
.s-con .hrefscanUrl{
    text-align: center;
}
.s-con .hrefscanUrl .copyButton{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background: red;
    box-shadow: 2px -2px 0px #756262;
    cursor: pointer;
}
.s-con .prompt{
    width: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
    bottom: 224px;
}
.button{
    position: absolute;
    bottom: 100px;
    text-align: center;
    z-index: 2;
    left: 50%;
    margin-left: -70px;
}
.button .buttonSubmit{
    /*background: linear-gradient(to right,#849bac 20%, #9b9b9b 90%);*/
    background-color: #ffffff;
    border-radius: 15px;
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid #00a0ff;
    box-shadow: 4px 4px 20px 2px #a4a4a4;
}
.button .buttonSubmit:hover{
    /*background: linear-gradient(to right,#9d6262 20%, #0d0202 90%);*/
    background-color: #000000;
}
.button .buttonSubmit span{
    color: #000000;
    font-size: 14px;
}
.button .buttonSubmit:hover span{
    color: #ffffff;
    font-weight: bold;
}
.question{ position:absolute; left:40px; bottom:30px; font-family:"宋体";}
.new{width:900px; height:14px; overflow:hidden;}
.new a{ background:url(../images/arrow-01.gif) no-repeat left center; padding-left:12px;display:block;}
.new a:hover{ color:#00a0ff;}
.s-foot{ height:80px; line-height:80px; text-align:center; font-size:16px; color:#ccc;}

.bg{ background:#052d64;}
.m-con{ width:1380px; height:710px; margin:0 auto; background:url(../images/page02.jpg) no-repeat; position:relative; padding:0;}
.start{ position:absolute; left:586px; bottom:12px;}
.start .ico{ background:url(../images/start.png) no-repeat left top; width:204px; height:160px; text-indent:-10000px; overflow:hidden; cursor:pointer;}
.start .ico:hover{ background-position:left bottom;}
/*奖品展示*/
.show{ overflow:hidden; width:1000px;}
.m24{ margin:24px 15px;overflow:hidden;}
.m24 .title{ float:left; background:url(../images/icon.png) no-repeat; padding-left:48px; width:330px; height:36px; overflow:hidden; line-height:36px;}
.m24 .list{ float:right; width:580px; height:36px; font-family:"宋体";}
#Scroll {CLEAR: both; MARGIN: 0px auto;WIDTH:580px; LINE-HEIGHT:36px; HEIGHT:36px; TEXT-ALIGN:right;}
#Scroll A { TEXT-DECORATION: none; display:block;}

.pic{ width:1000px; margin:0; padding:0; overflow:hidden;}
.pic li{ width:220px; height:260px; margin:0 15px; position:relative; background:url(../images/pic-bg.jpg) no-repeat; float:left; overflow:hidden; list-style:none;}
.pic li .tit{position:absolute; left:0px; bottom:30px; font-size:16px; text-align:center; width:220px;}

.new-01{width:960px; margin:26px auto; overflow:hidden; font-family:"宋体";}
.new-01 li{ background:url(../images/arrow.gif) no-repeat left center; padding-left:12px; margin-right:30px; color:#00a0ff; list-style:none; line-height:24px; display:block;}

.foot{ background:url(../images/foot-bg.png) repeat-x; height:80px; width:100%;}
.foot-text{ width:1000px; margin:0 auto; text-align:center; font-size:16px; line-height:80px;}

/*弹出层*/
.mask{margin:0;padding:0;border:none;width:100%;height:100%;background:url(../images/mask.png) repeat;z-index:0;position:fixed;top:0;left:0;display:none;}
#LoginBox{position:absolute;left:0px;top:260px;z-index:10000;display:none; width:1380px;}
.shadediv{ width:726px; height:480px; position:relative; margin:0 auto; background:url(../images/light.png) no-repeat center center;}
.close{ position:absolute; width:60px; height:60px; top:162px; right:136px; cursor:pointer; background:url(../images/close.png) no-repeat;}
.shadediv .red{ position:absolute; width:726px; text-align:center; left:0; top:230px; line-height:42px;}

/*绑定银行卡*/
.page{ overflow:hidden; width:1000px; padding:0; margin:0;}
.page-bg01{background:url(../images/bg01.jpg) no-repeat; height:20px; text-indent:-10000px; overflow:hidden;}
.page-bg02{background:url(../images/bg2.jpg) repeat;overflow:hidden;padding:30px 20px;line-height:28px;font-size:16px;}
.page-bg02 div{ margin:30px 60px;}
.page-bg02 p{ text-indent:2em; margin-bottom:10px;}
.page-bg02 img{ display:inline; margin:0 25px; }
.page-bg03{ background:url(../images/bg03.jpg) no-repeat; height:20px; text-indent:-10000px; overflow:hidden;}

/*支付成功*/
.success{ margin-top:40px; height:540px; overflow:hidden; background:url(../images/bg-success.jpg) no-repeat; position:relative;}
.arrow{background:url(../images/arrow.png) no-repeat;position:absolute;left:454px;top:168px;width:96px;height:96px;}
.success-content{width:1000px; text-align:center; position:absolute; left:0; top:282px; line-height:36px; font-size:21px;} 

/*q币*/
.q160{ height:160px; overflow: hidden; position:relative;}
.hot{ position:absolute; top:20px; left:398px; width:240px; height:48px;}
.wx{position:absolute;width:276px; height:60px; top:80px; left:362px;}
.white{ height:20px; background:#fff;}
.q-top{ background:url(../images/bg01.jpg) no-repeat; height:20px; margin-top:40px;}
.q-content{background:url(../images/bg3.jpg) repeat; height:1648px; width:998px; border-left:1px solid #383c3e; border-right:1px solid #383c3e;}
.q-btn{ background:url(../images/bg03.jpg) no-repeat; height:20px;}
.q-title{ padding:36px 0; font-size:24px; color:#3cc800; text-align:center;}
.q-content p{ padding:0 40px; line-height:30px; color:#ccc; font-size:16px;}
.pay{ margin:36px auto; width:230px;}
.pay a{ font-size:24px; color:#fff; background:url(../images/button.png); text-align:center; display:block; height:48px; line-height:48px;}

.pay a:hover{ background:url(../images/button.png) left bottom;}
.page-03{background:url(../images/page-03.jpg) no-repeat center top; height:412px; overflow:hidden;}
.page-04{background:url(../images/page-04.jpg) no-repeat center top; height:666px; overflow:hidden;}
.mt32{margin-top:32px;}