
<form>
	<table>
		<thead>
			<tr>
				<th colspan="6">大</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>佰</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰--大" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>拾</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="拾--大" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>个</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="个--大" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>佰拾和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾和尾数--大" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>佰个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰个和尾数--大" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>拾个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="拾个和尾数--大" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>佰拾个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾个和尾数--大" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>佰拾个和数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾个和数--大" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th colspan="6">小</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>佰</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰--小" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>拾</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="拾--小" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>个</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="个--小" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>佰拾和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾和尾数--小" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>佰个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰个和尾数--小" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>拾个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="拾个和尾数--小" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>佰拾个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾个和尾数--小" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>佰拾个和数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾个和数--小" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th colspan="6">单</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>佰</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰--单" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>拾</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="拾--单" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>个</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="个--单" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>佰拾和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾和尾数--单" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>佰个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰个和尾数--单" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>拾个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="拾个和尾数--单" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>佰拾个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾个和尾数--单" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>佰拾个和数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾个和数--单" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th colspan="6">双</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>佰</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰--双" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>拾</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="拾--双" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>个</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="个--双" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>佰拾和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾和尾数--双" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>佰个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰个和尾数--双" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>拾个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="拾个和尾数--双" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>佰拾个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾个和尾数--双" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>佰拾个和数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾个和数--双" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th colspan="6">质</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>佰</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰--质" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>拾</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="拾--质" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>个</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="个--质" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>佰拾和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾和尾数--质" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>佰个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰个和尾数--质" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>拾个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="拾个和尾数--质" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>佰拾个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾个和尾数--质" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th colspan="6">合</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>佰</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰--合" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>拾</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="拾--合" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>个</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="个--合" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>佰拾和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾和尾数--合" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>佰个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰个和尾数--合" rate="0.0" oddsId="" rakeBack="3241">
				</td>
				<td>拾个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="拾个和尾数--合" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>佰拾个和尾数</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="佰拾个和尾数--合" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(15, 'zhushipan', 'zhushipan', '主势盘')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
