.team{
	margin: 3px 0;
    padding: 3px 8px 2px;
    text-align: left;
    border: 2px solid #937B52;
    background-color: #FFF;
}

#orderList{
	height:95px;
	overflow-x:hidden;	
	overflow-y:scroll;
	font-size:12px;
	background-color:#E1D6C2;
}

em {
    color: #BB2700;
    font-style: normal;
}

strong.light {
    color: #BA2700;
}

.leag{
    font-size: 12px;
    line-height: 18px;
    padding: 0px 8px;
    border: 1px solid #937B52;
    border-bottom: none;
    background: #CFC0A1;
}

.gametype {
    height: 17px;
    padding: 0px 8px 0px;
    border-left: 1px solid #937B52;
    border-right: 1px solid #937B52;
    background-color: #E1D6C2;
}

.team-container{
	 background-color:#E1D6C2;
}
.teamName {
    padding: 4px 8px 3px;
    border: 1px solid #937B52;
    border-top: none;
    background-color: #E1D6C2;
}

.rb_score{
	line-height: 17px;
    color: #9D834C;
    font-weight: bold;
}    
.rb_score_time{
	line-height: 17px;
    color: red;
    font-weight: bold;
}	