﻿a:link { text-decoration: none; }
.header-logo { padding: 3px; }
.register { padding-top: 5px; }
    .register a { font-weight: bold; padding-right: 8px; padding-top: 5px; }
.footercontent { padding-top: 12px; padding-bottom: 10px; font-weight: bold; background: #92B3DD; }
.fontsize { font-size: 25px; padding: 2px 2px 2px 10px; }
.fontwidth { font-weight: bold; }
.body-banner { background-image: linear-gradient(#DED5C9,#D9EDF7); }
.linecentermodel { margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.text-red { color: red; }
.font-bold { font-weight: bold; }
.color000 { color: #000; }
.paddingtopbotton5 { padding: 5px 0; }
/*体育导航*/
.dropdown_nav { position: relative; }
.sport_nav { background: #DBE6E9; font-weight: bold; border-radius: 10px; }

.nav_content { position: absolute; right: 0; top: 100%; z-index: 1000; min-width: 150px; margin: 2px 0 0; font-size: 14px; text-align: left; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175); background-color: #fff; }
    .nav_content div { border: 1px solid #ddd; border-radius: 4px; margin-bottom: -1px; }
.nav_content_item { padding: 6px 15px; font-weight: bold; background: #DBE6C1; }
.nav_content_item1 { padding: 5px 0 5px 25px; font-size: 13px; }
    .nav_content_item1:hover, .gameTypeUL li a:hover, .gunqiu > a:hover { background-color: #f5f5f5; }
    .nav_content_item1 > img { margin-bottom: 3px; }
.nav_content_item > a { display: block; width: 100%; height: 100%; }
    .nav_content_item > a:hover { text-decoration: none; }
.gunqiu > a { display: block; width: 100%; height: 100%; padding: 5px 0 5px 25px; font-size: 13px; }
ul { margin-bottom: 5px; }
.gameTypeUL { list-style: none; font-size: 12px; padding-top: 5px; padding-left: 0; }
    .gameTypeUL li a { display: block; padding: 4px 0px 4px 15px; }

/*下注框*/
.betPop { position: fixed; right: 0; bottom: 0; z-index: 999; }
.kf-content { position: relative; width: 45px; }
.arrowSlide { height: 56px; width: 45px; position: absolute; bottom: 0; float: left; }
.arrowbg { background: url(../img/kf.png) no-repeat; }
.noarrowbg { background: url(../img/nokf.png) no-repeat; }
.firameContent { float: right; width: 0px; -webkit-overflow-scrolling: touch; overflow-y: scroll; }
    .firameContent iframe { border: 0; overflow: auto; margin: 0px; }

/*赛果*/
.bold { font-weight: bold; }
.red { color: red; }
