#lehecai_about {
	width: 979px;
	text-align: left;
	margin: 10px auto 0
}

#lehecai_about_left {
	float: left;
	overflow: hidden;
	width: 165px
}

#lehecai_about_right {
	float: right;
	overflow: hidden;
	width: 809px
}

#lehecai_about_left h1 {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -300px
		-700px;
	height: 35px;
	line-height: 35px;
	position: relative;
	text-align: center;
	font-size: 0
}

#lehecai_about_left ul {
	/*background:url(../images/help/lehecai_about_bdcp.png) no-repeat 0 -200px;*/
	overflow: hidden;
	margin-top: -18px;
	border-bottom: 1px solid #fecf44;
	border-radius: 5px;
	background: #fff7eb;
}

#lehecai_about_left ul li {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat 0
		-462px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-left: 1px solid #fecf44;
}

#lehecai_about_left ul li a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #414141;
	font-size: 14px
}

#lehecai_about_left ul li a:hover {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat 22px
		2px;
	text-decoration: none
}

#lehecai_about_left ul li a:active {
	color: #db0304;
}

#lehecai_about_left ul li a.selected {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -278px
		2px;
	color: #db0304
}

#lehecai_about_right .block {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -1px
		-801px;
	border: 1px solid #fecf44;
}

#lehecai_about_right .title {
	height: 30px;
	border-bottom: 1px solid #fecf44;
	width: 801px;
	margin: 0 auto
}

#lehecai_about_right h2 {
	color: #f7a700;
	font-size: 14px;
	line-height: 20px
}

#lehecai_about_right p {
	color: #646464;
	font-size: 12px;
	text-indent: 2em;
	line-height: 30px
}

#lehecai_about_right .about_us_title {
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	text-indent: 12px;
	font-weight: bold;
	color: #f88c01;
}

#lehecai_about_right .about_us_content {
	width: 737px;
	margin: 0 auto
}

#lehecai_about_right .contact_us_title {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -272px
		-191px;
	font-size: 0;
	height: 30px;
	width: 100px
}

#lehecai_about_right .contact_us_content {
	width: 760px;
	margin: 0 auto
}

#lehecai_about_right dl.block2 {
	border-bottom: dashed 1px #ccc;
	height: 90px
}

#lehecai_about_right dl dt, dd {
	color: #f88c01;
	font-size: 14px
}

#lehecai_about_right dl dt {
	height: 25px;
	line-height: 25px;
	margin-top: 9px;
	margin-left: 8px
}

#lehecai_about_right dl dd {
	display: inline;
	width: auto;
	line-height: 22px;
	margin-top: 12px;
	margin-left: 35px
}

#lehecai_about_right .customer_service {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -900px
		-100px;
	padding-left: 36px
}

#lehecai_about_right .business_cooperation {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -900px
		-200px;
	padding-left: 36px
}

#lehecai_about_right .tel {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -897px
		-294px;
	padding-left: 20px
}

#lehecai_about_right .qq {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -897px
		-706px;
	padding-left: 22px
}

#lehecai_about_right .t_tel {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -899px
		-605px;
	padding-left: 20px
}

#lehecai_about_right .t_email {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -899px
		-605px;
	padding-left: 20px;
	white-space: nowrap
}

#lehecai_about_right .fax {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -900px
		-396px;
	padding-left: 20px
}

#lehecai_about_right .email {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -900px
		-494px;
	padding-left: 20px;
	white-space: nowrap
}

#lehecai_about_right .map {
	margin-top: 10px;
	margin-left: 0
}

#lehecai_about_right .partners_title {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -272px
		-291px;
	font-size: 0;
	height: 30px;
	width: 100px
}

#lehecai_about_right .partners_content {
	width: 762px;
	margin: 0 auto
}

#lehecai_about_right .partners_content a {
	border: solid 1px #ccc;
	display: inline-block;
	margin-top: 7px;
	width: 248px;
	height: 68px
}

#lehecai_about_right .recruitment_title {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -272px
		-391px;
	font-size: 0;
	height: 30px;
	width: 100px
}

#lehecai_about_right .recruitment_email {
	width: 720px;
	margin: 0 auto;
	font-size: 14px
}

#lehecai_about_right .recruitment_content {
	width: 720px;
	margin: 0 auto
}

#lehecai_about_right .recruitment_content table {
	width: 720px;
	line-height: 25px;
	border: 1px solid #c0c0c0;
	margin-top: 15px
}

#lehecai_about_right .recruitment_content table thead th {
	text-align: left;
	color: #a70d03;
	background: #f0f0f0;
	height: 25px;
	padding-left: 12px
}

#lehecai_about_right .recruitment_content table tbody th {
	text-align: center;
	background: #f9f9f9;
	font-weight: normal
}

#lehecai_about_right .recruitment_content table tbody td {
	text-align: center
}

#lehecai_about_right .recruitment_content table tbody td.discription {
	text-align: left;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px
}

#lehecai_about_right .blogroll_title {
	background: url(../images/help/lehecai_about_bdcp.png) no-repeat -272px
		-491px;
	font-size: 0;
	height: 30px;
	width: 100px
}

#lehecai_about_right .blogroll_content {
	width: 733px;
	margin: 0 auto
}

#lehecai_about_right .blogroll_content p {
	text-indent: 0;
	margin-top: 20px;
	margin-left: 20px;
	line-height: 25px;
	color: #333
}

#lehecai_about_right .blogroll_content td {
	padding: 10px 0
}

#lehecai_about_right .blogroll_content table {
	margin-top: 24px
}

#lehecai_about_right .blogroll_content label {
	width: 90px;
	color: #f00;
	display: inline-block;
	margin-left: 20px;
	line-height: 25px
}

#lehecai_about_right .blogroll_content a {
	display: inline-block;
	margin-left: 10px;
	color: #333
}

#lehecai_about_right .blogroll_content a.email {
	background: #f00;
	color: #fff;
	margin-left: 0;
	padding-left: 0;
	line-height: 100%
}

#lehecai_about_right .blogroll_content textarea {
	width: 470px;
	margin-left: 24px;
	height: 50px;
	border: 1px solid #e3e9ef;
	border-top-color: #abadb3
}

#lehecai_about_right .links_box {
	background: url(../images/help/links_box_left_bg.gif) repeat-y;
	width: 685px;
	border: 1px #c4c4c4 dashed;
	padding-bottom: 15px;
	line-height: 30px;
	margin: 0 auto
}

#lehecai_about_right .links_box .top_bg {
	background: url(../images/help/links_box_top_bg.gif) repeat-x;
	height: 15px
}

#lehecai_about_right .links_box .links_ul {
	padding: 0 40px
}

#lehecai_about_right .links_box .links_ul li {
	float: left;
	width: 100px
}

#lehecai_about_right .links_box .links_ul li a:hover {
	text-decoration: none;
	color: #db0304
}

#lehecai_about_right .links_swap_title {
	background: url(../images/help/links_swap_bg.gif) repeat-x;
	height: 36px;
	margin-top: 15px
}

#lehecai_about_right .links_swap_title span {
	background: url(../images/help/lehecai_about_bdcp.png) -560px -700px
		no-repeat;
	display: block;
	width: 108px;
	padding-top: 8px;
	height: 28px;
	line-height: 26px;
	margin-left: 15px;
	text-align: center;
	color: #db0304
}