.layui-layer-msg{
	top:30% !important;
	border: 5px solid rgba(255, 255, 255, .5);
    border-radius: 6px !important;
    background-color: initial !important;
}
.layui-layer-dialog{
	border: 9px solid rgba(255, 255, 255, .5);
    border-radius: 6px !important;
    background-color: initial !important;
}

.layui-layer-loading{
	top:40% !important;
}
.layui-layer-tips{
	border: 5px solid #F3F3F3 !important;
	border-radius: 6px !important;
}
.layui-layer-tips .layui-layer-content{
	background: #f13833 !important;
	color:#ffffff;
}

.layui-layer-tips .layui-layer-content .layui-layer-TipsG{
	border-right-color:#f13833 !important;
}

.layui-layer .layui-layer-btn{
	background-color: #ffffff;
}
.layui-layer-dialog .layui-layer-content{
	background-color: #ffffff;
	overflow: hidden !important;
}

.layui-layer .layui-layer-setwin a{
	transition: all 0.2s ease-in-out 0s;
	width:12px;
	height:12px;
	margin-left:0px;
}
.layui-layer .layui-layer-setwin a:hover{
	transform: rotate(180deg);
}
.layui-layer .layui-layer-btn{
	text-align: center;
}
/*.layui-layer .layui-layer-btn a{
	background-color: #5d5d5d;
	border-color:#5d5d5d;
}
.layui-layer .layui-layer-btn a:hover{
	background-color:#f13833;
	border-color:#f13833;
}*/
.layui-layer-msg{
	border: 9px solid #D3D4D3 !important;
}