body {
    -moz-text-size-adjust: none;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
img, input, select {
    vertical-align: middle;
}
body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,宋体,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, var {
    font-style: normal;
}
code, kbd, pre, samp {
    font-family: courier new,courier,monospace;
}
small {
    font-size: 12px;
}
ul, ol {
    list-style: outside none none;
}
a {
    text-decoration: none;
    outline: none;
}
a:hover {
    text-decoration: underline;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
legend {
    color: #000;
}
fieldset, img {
    border: 0 none;
}
button, input, select, textarea {
    font-size: 100%;
}
input, select {
    vertical-align: middle;
}
:focus{
    outline: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
border: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#colorbox, #cboxOverlay, #cboxWrapper {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 99999;
}
#cboxOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    overflow: visible;
    position: relative;
}
#cboxLoadedContent {
    overflow: auto;
}
#cboxLoadedContent iframe {
    border: 0 none;
    display: block;
    height: 100%;
    width: 100%;
}
#cboxTitle {
    margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}
#cboxOverlay {
    background: #000 none repeat scroll 0 0;
}
#loader img {
    float: left;
}
#loader span {
    line-height: 20px;
    margin-left: 10px;
}
.clear {
    clear: both;
}
.clearfix {
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.hidden {
    display: none;
}
.nospace {
    font-size: 0;
    height: 0;
    line-height: 0;
}
a:link, a:hover, a:visited {
    /* color: #005aa0; */
    text-decoration: none;
}
.colorRed {
    color: #f13131;
}
.color333 {
    color: #333;
}
.color666 {
    color: #666;
}
.color999 {
    color: #999;
}
.mr10 {
    margin-right: 10px;
}
.mr20 {
    margin-right: 20px;
}
.m20 {
    margin: 0 20px;
}
.mr25 {
    margin-right: 25px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt12 {
    margin-top: 12px;
}
.mt15 {
    margin-top: 15px;
}
.m14 {
    margin: 0 14px;
}
.ml14 {
    margin-left: 14px;
}
.mr14 {
    margin-right: 14px;
}
.fl-l {
    float: left;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.auto990 {
    margin: 0 auto;
    width: 990px;
}
.hidden {
    display: none;
}
.red {
    color: red;
}
input {
    border: 0 none;
    display: inline-block;
}
#txtConfirmPayPwd {
    border: 1px solid #ccc;
}
.icon, .icon20 {
    background: rgba(0, 0, 0, 0) url("../images/index_optimize.png") repeat scroll 0 0;
    display: inline-block;
    border:none;
    margin:0;
}
.code-icon {
    background: rgba(0, 0, 0, 0) url("../images/index_code_bg_1.png") no-repeat scroll 0 0;
    display: inline-block;
}
#wallet_detail {
    background-color: #fefdc2;
    border: 2px solid #e0e0e0;
    left: 0;
    line-height: 20px;
    padding: 8px;
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 160px;
    z-index: 10;
}
#wallet_detail p {
    display: block;
    width: 100%;
}
#wallet_detail a.account_detail {
    float: right;
}
#wallet_detail p {
}
.header .header_logo .logo img, .logo-box img, #header_box img {
}
.header-navbar-plus {
  	background: #f13131 none repeat scroll 0 0;
    font-family: "Microsoft Yahei";
    height: 46px;
    line-height: 46px;
    width: 100%;
}
.header-navbar-plus .auto990 {
 	 background: #f13131 none repeat scroll 0 0;
}
.lottery-plus {
    float: left;
    height: 46px;
    margin-right: 8px;
    position: relative;
    text-align: center;
    width: 230px;
}
.lottery-plus h2 {
    background: #eb2020 none repeat scroll 0 0;
    color: #fff;
    font: 18px/46px "Microsoft Yahei";
    padding-left: 50px;
    text-align: left;
    font-weight: bold;
}
.nav-plus {
    float: left;
}
.nav-plus li {
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: normal;
}
.nav-plus li.on {
    background: #dd0303;
}
.nav-plus li a:link, .nav-plus li a:visited {
    color: #fff;
    display: inline-block;
    float: left;
    padding: 0 12px;
    font-weight: bold;
    font-family: serif;
}
.nav-plus li a:hover {
    background: #dd0303 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.header-navbar-plus .dropdown-nav {
    position: relative;
    z-index: 999;
}
.nav-plus li a.dropdown-desc:link, .nav-plus li a.dropdown-desc:visited {
    line-height: 20px;
    padding: 13px 15px;
}
.nav-plus li a.dropdown-desc:hover i, #lotterys *:hover i.arrow {
    transform: rotate(180deg);
    transition: transform 0.2s ease-in 0s;
}
.header-navbar-plus .dropdown-desc i {
    background-position: -300px -30px;
    height: 5px;
    margin-left: 5px;
    overflow: hidden;
    -webkit-transition: -webkit-transform .2s ease-in;
    vertical-align: middle;
    width: 9px;
    -moz-transition: -moz-transform .2s ease-in;
    -ms-transition: -ms-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
}
.nav-plus li.on i, .on-lottery i {
    transform: rotate(180deg);
}
.nav-plus li .dropdown-ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #f13131 #f13131;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 2px 2px;
    box-shadow: 1px 1px 1px #e7e7e7;
    left: 0;
    position: absolute;
    right: 0;
    top: 46px;
}
.nav-plus li .dropdown-ul li {
    float: none;
    font-family: "宋体";
    font-size: 14px;
    height: 28px;
    line-height: 28px;
}
.nav-plus li .dropdown-ul a:link, .nav-plus li .dropdown-ul a:visited {
    color: #333;
    display: block;
    float: none;
    padding: 0;
    text-align: center;
}
.nav-plus li .dropdown-ul a:hover {
    background: #f6f6f6 none repeat scroll 0 0;
    color: #f13131;
    text-decoration: none;
}
.header-navbar-plus .nav-right {
    float: right;
}
.header-navbar-plus .nav-right li {
    color: #fff;
    float: left;
}
.header-navbar-plus .nav-right li a:link, .nav-right li a:visited {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 12px;
    padding: 0 5px;
}
.header-navbar-plus .nav-right li a:hover {
    color: #fff;
    text-decoration: underline;
}
.header-navbar-plus .nav-right li a.help-nav {
    padding-right: 0;
}
.header-navbar-plus .span-login-rmb {
    font-family: Verdana,Arial;
}
.header-navbar-plus .span-login-rmb-2 {
    color: #f13131;
}
.header-navbar-plus .nav-right i {
    background-position: -330px -45px;
    height: 9px;
    left: 25px;
    overflow: hidden;
    position: absolute;
    top: 32px;
    width: 17px;
    z-index: 9;
}
.header-navbar-plus .mobile-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f13131;
    height: 195px;
    left: -60px;
    position: absolute;
    top: 40px;
    width: 226px;
}
.header-navbar-plus .mobile-box .mobile-text {
    color: #333;
    font: 14px/55px "微软雅黑","Microsoft Yahei";
    height: 55px;
    text-align: center;
    width: 100%;
}
.header-navbar-plus .mobile-box .mobile-code-img {
    background-position: 0 0;
    height: 115px;
    margin-left: 56px;
    width: 115px;
}
.header-navbar-plus .mobile-box .send {
    margin: 22px auto 28px;
    position: relative;
}
.header-navbar-plus .mobile-box .send .jc-put {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #cdcdcd -moz-use-text-color #cdcdcd #cdcdcd;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #999;
    float: left;
    height: 14px;
    outline: 0 none;
    padding: 4px 12px 4px 6px;
}
.header-navbar-plus .mobile-box .send .jc-btn {
    background: #fe9825 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 67px;
}
.part-1-left-nav .lotterys-list-hd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
   /* border-color: -moz-use-text-color #f13131 #f13131;*/
    border:#c81535;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 2px 2px;
    left: 0;
    position: absolute;
    top: -20px;
    width: 226px;
    z-index:7;
}
.header-navbar-plus .part-1-left-nav .lotterys-list-hd {
	top:46px;
}
.part-1-left-nav .lotterys-list-hd-border1 {
    border-bottom: 1px solid #f13131;
    box-shadow: 0 0 0 #d0cece, 0 0 0 #d0cece, 0 0 0 #d0cece, 0 2px 2px #d0cece;
}
.part-1-left-nav .lotterys-list-hd .lottery-list-box {
    /*height: 462px;*/
    margin-left: 2px;
    position: relative;
    width: 222px;
    z-index: 2;
}
.part-1-left-nav .mainGame span.color333 {
    font-size: 16px;
    margin-right: 10px;
}
.part-1-left-nav .mainGame span.colorRed {
    color: #f13131;
}
.part-1-left-nav .mainGame {
    height: 24px;
    line-height: 24px;
    padding: 7px 0;
    position: relative;
    text-align: left;
}
.part-1-left-nav .mainGame, .myGames {
    border: 0 none;
}
.part-1-left-nav .mainGame a {
    display: inline-block;
}
.part-1-left-nav .mainGame a:hover {
    color: #f13131;
    text-decoration: none;
}
.part-1-left-nav .mainGame a:hover span.color333 {
    color: #f13131;
    text-decoration: none;
}
.part-1-left-nav .mainGame i.icon_small {
    height: 25px;
    margin: 0 7px 0 12px;
    vertical-align: top;
    width: 25px;
    display: inline-block;
    background-size:100%;
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
}
.part-1-left-nav .FFC {
    background: url("../images/gclogo/FFC.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/FFC.png', sizingMethod='scale');
}
.part-1-left-nav .WFC {
    background: url("../images/gclogo/WFC.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/WFC.png', sizingMethod='scale');
}
.part-1-left-nav .EFC {
    background: url("../images/gclogo/EFC.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/EFC.png', sizingMethod='scale');
}
.part-1-left-nav .CQSSC {
    background: url("../images/gclogo/CQSSC.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/CQSSC.png', sizingMethod='scale');
}
.part-1-left-nav .TJSSC {
    background: url("../images/gclogo/TJSSC.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/TJSSC.png', sizingMethod='scale');
}
.part-1-left-nav .XJSSC {
    background: url("../images/gclogo/XJSSC.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/XJSSC.png', sizingMethod='scale');
}
.part-1-left-nav .BJSC {
    background: url("../images/gclogo/BJSC.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/BJSC.png', sizingMethod='scale');
}
.part-1-left-nav .XYFT {
    background: url("../images/gclogo/XYFT.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/XYFT.png', sizingMethod='scale');
}
.part-1-left-nav .PCEGG {
    background: url("../images/gclogo/PCEGG.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/PCEGG.png', sizingMethod='scale');
}
.part-1-left-nav .LHC {
    background: url("../images/gclogo/LHC.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/LHC.png', sizingMethod='scale');
}
.part-1-left-nav .PL3 {
    background: url("../images/gclogo/PL3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/PL3.png', sizingMethod='scale');
}
.part-1-left-nav .FC3D {
    background: url("../images/gclogo/FC3D.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/FC3D.png', sizingMethod='scale');
}
.part-1-left-nav .JSSB3 {
    background: url("../images/gclogo/JSSB3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/JSSB3.png', sizingMethod='scale');
}
.part-1-left-nav .AHK3 {
    background: url("../images/gclogo/AHK3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/AHK3.png', sizingMethod='scale');
}
.part-1-left-nav .JXK3 {
    background: url("../images/gclogo/JXK3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/JXK3.png', sizingMethod='scale');
}
.part-1-left-nav .GXK3 {
    background: url("../images/gclogo/GXK3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/GXK3.png', sizingMethod='scale');
}
.part-1-left-nav .JLK3 {
    background: url("../images/gclogo/JLK3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/JLK3.png', sizingMethod='scale');
}
.part-1-left-nav .HBK3 {
    background: url("../images/gclogo/HBK3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/HBK3.png', sizingMethod='scale');
}
.part-1-left-nav .HEBK3 {
    background: url("../images/gclogo/HEBK3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/HEBK3.png', sizingMethod='scale');
}
.part-1-left-nav .GD11X5 {
    background: url("../images/gclogo/GD11X5.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/GD11X5.png', sizingMethod='scale');
}
.part-1-left-nav .JX11X5 {
    background: url("../images/gclogo/JX11X5.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/JX11X5.png', sizingMethod='scale');
}
.part-1-left-nav .SD11X5 {
    background: url("../images/gclogo/SD11X5.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/SD11X5.png', sizingMethod='scale');
}
.part-1-left-nav .SH11X5 {
    background: url("../images/gclogo/SH11X5.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/SH11X5.png', sizingMethod='scale');
}
.part-1-left-nav .SHHK3 {
    background: url("../images/gclogo/SHHK3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/SHHK3.png', sizingMethod='scale');
}
.part-1-left-nav .SFLHC {
    background: url("../images/gclogo/SFLHC.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/SFLHC.png', sizingMethod='scale');
}
.part-1-left-nav .BJK3 {
    background: url("../images/gclogo/BJK3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/BJK3.png', sizingMethod='scale');
}
.part-1-left-nav .GSK3 {
    background: url("../images/gclogo/GSK3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/GSK3.png', sizingMethod='scale');
}
.part-1-left-nav .FFK3 {
    background: url("../images/gclogo/FFK3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/FFK3.png', sizingMethod='scale');
}
.part-1-left-nav .WFK3 {
    background: url("../images/gclogo/WFK3.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/WFK3.png', sizingMethod='scale');
}
.part-1-left-nav .JND28 {
    background: url("../images/gclogo/JND28.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/JND28.png', sizingMethod='scale');
}
.part-1-left-nav .SFSC {
    background: url("../images/gclogo/SFSC.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/SFSC.png', sizingMethod='scale');
}
.part-1-left-nav .CQXYNC {
    background: url("../images/gclogo/CQXYNC.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/CQXYNC.png', sizingMethod='scale');
}
.part-1-left-nav .HNKLSF {
    background: url("../images/gclogo/HNKLSF.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/HNKLSF.png', sizingMethod='scale');
}
.part-1-left-nav .GDKLSF {
    background: url("../images/gclogo/GDKLSF.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/gclogo/GDKLSF.png', sizingMethod='scale');
}

.part-1-left-nav .normal-desc {
    bottom: 6px;
    color: #999;
    position: absolute;
}
.part-1-left-nav .red-desc {
    background: #ff910e none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    margin-left: 5px;
    padding: 2px;
    position: relative;
}
.part-1-left-nav .mainGame a.mainA:hover strong {
    color: #f13131;
    text-decoration: none;
}
.part-1-left-nav .mainGame a.status-desc {
    background: #ff910e none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    line-height: 18px;
    margin-bottom: 3px;
    margin-right: 5px;
    padding: 0 2px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    float:right;
}
.part-1-left-nav .mainGame a.status-desc:hover {
    background: #f60 none repeat scroll 0 0;
    color: #fff;
}
.part-1-left-nav .status-desc em {
    background-position: -390px 0;
    height: 3px;
    left: -3px;
    position: absolute;
    top: 15px;
    width: 3px;
}
.part-1-left-nav .mainGame a.status-desc:hover em {
    background-position: -390px -30px;
}
.part-1-left-nav .lotterys-list-hd .lottery-list-box li.allGames {
    padding: 4px 0;
}
.part-1-left-nav .allGames {
    height: 54px;
    position: relative;
    width: 100%;
    z-index: 999;
}
.part-1-left-nav .lotterys-list-hd .allGames a:hover {
    color: #f13131;
    text-decoration: none;
}
.part-1-left-nav .lotterys-list-hd .lottery-list-box li.allGames-on {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #c81535;
    border-right: 3px solid #fff;
    border-top: 1px solid #c81535;
    margin: -1px 0 -1px -2px;
    padding-left: 4px;
    width: 224px;
    box-shadow: 0 0 0 #d0cece, 0 0 0 #d0cece, 0 0 0 #d0cece, 0 2px 2px #d0cece;
}
.part-1-left-nav .allGames h3 {
    border: 1px solid #e6e6e6;
    color: #9c9c9c;
    cursor: pointer;
    display: inline;
    float: left;
    font-weight: normal;
    height: 52px;
    line-height: 20px;
    margin: 0 8px 0 15px;
    position: relative;
    text-align: center;
    width: 18px;
}
.part-1-left-nav .lotterys-list-hd .lottery-list-box li.allGames-on h3 {
    margin-left: 13px;
}
.part-1-left-nav .allGames h3 span {
    left: 0;
    line-height: 16px;
    position: absolute;
    top: 10px;
    width: 100%;
}
.part-1-left-nav .allGames .game-list {
    float: left;
    width: 170px;
}
.part-1-left-nav .allGames .game-list li {
    color: #333;
    float: left;
    line-height: 20px;
    margin: 0px 6px;
    padding: 3px 0;
    text-align: left;
    width: 60px;
    height: 14px;
    overflow: hidden;
}
.part-1-left-nav .allGames .game-list li a:link, .part-1-left-nav .allGames .game-list li a:visited, .allGames .game-list li a:active {
    color: #333;
}
.part-1-left-nav .allGames .game-list li a.colorRed, .part-1-left-nav .allGames .otherGames ol li a.colorRed {
    color: #f13131;
}
.part-1-left-nav .allGames .game-list li a.colorRed:hover, .part-1-left-nav .allGames .otherGames ol li a.colorRed:hover {
    text-decoration: underline;
}
.part-1-left-nav .lotterys-list-hd .game-list li a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    color: #f13131;
    text-decoration: none;
}
.part-1-left-nav .allGames i {
    background-position: 0 -60px;
    cursor: pointer;
    height: 11px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 25px;
    width: 7px;
}
.part-1-left-nav .allGames div.moreGames {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    /*border-color: #ef3a3a #ef3a3a #ef3a3a -moz-use-text-color;*/
    border:1px solid #c81535;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    bottom: -1px;
    box-shadow: 0 0 0 #d0cece, 0 0 0 #d0cece, 0 0 0 #d0cece, 0 2px 2px #d0cece;
    height: 220px;
    left: 227px;
    overflow: hidden;
    position: absolute;
    width: 759px;
}
.part-1-left-nav .moreGames-box {
    margin: 0;
    padding-left:40px;
}
.part-1-left-nav .event-box {
    height: 216px;
    padding-top: 26px;
    width: 222px;
}
.part-1-left-nav #moreGames_1 {
    bottom: -125px;
}
.part-1-left-nav #moreGames_2 {
    bottom: -63px;
}
.part-1-left-nav .otherGames h3 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border: 0 none;
    color: #333;
    display: inline-block;
    float: none;
    font: bold 14px/36px "Microsoft Yahei";
    height: 36px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
.part-1-left-nav .lotterys-list-hd .lottery-list-box li.allGames-on .otherGames h3 {
    margin: 0;
}
.part-1-left-nav .otherGames ol, .sportsBox {
    overflow: hidden;
}
.part-1-left-nav .otherGames ol li {
    float: left;
    line-height: 36px;
    text-align: left;
    width: 90px;
}
.part-1-left-nav .otherGames ol li a:link, .part-1-left-nav .otherGames ol li a:visited, .otherGames ol li a:active {
    color: #333;
}
.part-1-left-nav .otherGames .sportsBox h4 {
    color: #666;
    float: left;
    line-height: 26px;
    margin-right: 10px;
    text-align: left;
    width: 75px;
}
.part-1-left-nav .otherGames .sportsBox li {
    line-height: 26px;
}
.part-1-left-nav .otherGames .sportsBox .clearfix {
    margin-bottom: 10px;
}
.part-1-left-nav .event-box {
    height: 240px;
    padding-top: 26px;
    width: 220px;
}
.part-1-left-nav .event-box li {
    margin-bottom: 14px;
    overflow: hidden;
    width: 100%;
}
.part-1-left-nav .line-fff {
    background: #fff none repeat scroll 0 0;
    display: none;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    z-index: 9999;
}
.hot-icon {
    background: rgba(0, 0, 0, 0) url("../images/hot_01.gif") no-repeat scroll 0 0;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 1px;
    width: 30px;
    z-index: 10;
}
.main-box {
    background: #fff none repeat scroll 0 0;
    position: relative;
}
.part-left {
    float: left;
    width: 230px;
}
.part-left-2{
	float:left;
	width:500px;
	margin-left:20px;
}
 .part-right {
    float: right;
    padding-left: 10px;
    width: 230px;
}
.part-3 .part-right {
    float: right;
    padding-left: 10px;
    width: 990px;
    margin-top:10px;
}
.part-1 {
    margin: 20px 0 20px 250px;
    width: 740px;
}
.part-1-cont-left {
    float: left;
    width: 490px;
}
.slide {
    height: 218px;
    width: 488px;
}
.slide #slides {
    height: 220px;
    position: relative;
}
.slide .slides_container {
    height: 220px;
    overflow: hidden;
    width: 490px;
}
.slide .pagination {
    bottom: 14px;
    left: 50%;
    margin-left: -77px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 100;
}
.slide .caption {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    display: none;
    height: 25px;
    left: 0;
    line-height: 25px;
    position: absolute;
    text-shadow: none;
    width: 510px;
}
.slide .pagination li {
    background: #868686 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 0;
    height: 12px;
    margin: 0 5px;
    opacity: 0.6;
    overflow: hidden;
    text-decoration: none;
    width: 12px;
}
.slide .pagination a {
    float: left;
    height: 10px;
    margin: 1px;
    overflow: hidden;
    text-indent: 100%;
    width: 10px;
}
.slide .pagination li.current {
    background: #fff none repeat scroll 0 0;
    opacity: 1;
}
.slide .pagination li.current a {
    height: 12px;
    margin: 0;
    width: 12px;
}
.caption p {
    margin-left: 10px;
}
.slides_prev, .slides_next {
    background: #000 url("../images/focus_btn.gif") no-repeat scroll 0 0;
    display: none;
    height: 46px;
    opacity: 0.2;
    position: absolute;
    top: 80px;
    width: 30px;
    z-index: 10;
}
.slides_prev {
    left: 0;
}
.slides_next {
    background-position: -30px 0;
    right: -2px;
}
.slides_prev:hover, .slides_next:hover {
    opacity: 0.4;
}
.quick-buy-box {
    height: 210px;
    margin-top: 10px;
    width: 490px;
}
.quick-buy {
    margin: 0 10px;
}
.quick-tab-list {
    border-bottom: 1px solid #e9e9e9;
    height: 35px;
    line-height: 35px;
}
.quick-tab-list li {
    color: #333;
    cursor: pointer;
    float: left;
    font: 16px/31px "微软雅黑","Microsoft Yahei";
    margin-right: 20px;
    position: relative;
    width:95px;
    text-align: center;
    font-size:13px;
}
.quick-tab-list li a {
    color: #333;
}
.quick-tab-list li a:hover {
    color: #f13131;
    text-decoration: none;
}
.quick-tab-list li.on {
    height: 35px;
    font-weight:bold;
    background: url(../images/repeatx.png) repeat-x -10px 29px;
}
.quick-tab-list li.on a{
	color:#8a0b00;
}
.quick-tab-list li a label {
    background-color: #ff900c;
    color: #fff;
    display: inline-block;
    font: 12px/16px "宋体";
    height: 16px;
    margin-left: 4px;
    margin-top: 8px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 54px;
}
.quick-tab-list li a label i {
    background-position: -390px 0;
    height: 3px;
    left: -3px;
    position: absolute;
    top: 13px;
    width: 3px;
}
.quick-tab-list li i {
    background-position: -200px 0;
    height: 6px;
    left: -99999px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    width: 7px;
}
.qb-info {
    color: #999;
    height: 35px;
    width: 100%;
}
.qb-info .redbold {
    color: #f13131;
    font-family: Verdana,Arial;
}
.qb-info li {
    float: left;
    line-height: 35px;
}
.qb-info li.bztz {
    color: #d8d8d8;
    float: right;
    overflow: hidden;
}
.qb-info li.bztz a:link, .qb-info li.bztz a:visited, .qb-info li.bztz a:active {
    color: #2568a7;
}
.qb-info li.bztz a:hover {
    color: #f13131;
    text-decoration: none;
}
.qb-selectnumber {
    height: 55px;
    line-height: 42px;
    margin: 0 0 16px;
}
.qb-selectnum {
    float: left;
}
.qb-selectnum li {
    float: left;
    height: 41px;
    margin-right: 10px;
    width: 42px;
    position: relative;
}
.qb-selectnum li.mr30 {
    margin-right: 30px;
}
.qb-selectnum li.qb-red {
    background-position: -300px -350px;
}
.qb-selectnum li.qb-blue {
    background-position: -300px -300px;
}
.qb-selectnum li input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    height: 37px;
    text-align: center;
    width: 41px;
    font-weight: bold;
}
.qb-selectnum li input.on {
    background: #036aba none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    height: 20px;
    width: 30px;
}
.qb-selectnum span{
	position: absolute;
    left: 15px;
    top: 30px;
    font-weight: bold;
}
.qb-numselect {
    float: right;
}
.qb-submit {
    background-position: -240px -280px;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    line-height: 32px;
}
.qb-submit:hover {
    background-position: -240px -320px;
}
.qb-submit:active {
    background-position: -240px -360px;
}
.buttontrans1 {
    margin-right: 15px;
}
.sale_end_timer .red, .sale_end_timer .redbold {
    color: #f13131;
    font-weight: normal;
}
.sale_end_timer {
    color: #999;
    text-align: center;
    width: 110px;
}
.qb-tz-box {
    color: #333;
    height: 34px;
}
.qb-tz-box .bei-box {
    color: #666;
    width: 250px;
}
.change-btn {
    line-height: 34px;
    margin-right: 15px;
    vertical-align: middle;
    width: 270px;
}
.change-btn:hover {
    color: #f13131;
    text-decoration: none;
}
.change-btn i {
    background-position: -360px -60px;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
    width: 12px;
}
#match_dg .dg-game-info {
    height: 40px;
    line-height: 40px;
    margin-left: 0;
    margin-top: 6px;
}
#match_dg .dg-game {
    height: 50px;
    margin-bottom: 16px;
}
#match_dg .dg-game .dl-box {
    padding: 2px;
}
#match_dg .dg-r, #match_dg .dg-l {
    width: 164px;
}
#match_dg .dg-m {
    width: 96px;
}
#match_dg .dg-l dt {
    display: inline;
    height: 38px;
    margin: 3px 10px 0 14px;
    width: 38px;
}
#match_dg .dg-r dt {
    display: inline;
    height: 38px;
    margin: 3px 10px 0 14px;
    width: 38px;
}
#match_dg dd {
    margin-top: 2px;
}
#match_dg .dg-m dt {
    margin-top: 2px;
}
#match_dg .dg-game dl strong {
    font-size: 14px;
}
#match_dg .dg-game .dl-box {
    height: 44px;
}
#match_dg .dg-game dl span.sp {
    font-size: 12px;
}
#match_dg .dl-box:hover {
    border-width: 2px;
    box-shadow: 0 0 0 #fff;
    padding: 1px;
}
#match_dg .dl-box .true-box i {
    background-position: -240px -300px;
    height: 30px;
    width: 30px;
}
#match_dg .dg-game .dl-box-on {
    border: 2px solid #85b835;
    box-shadow: 0 0 0 #fff;
    padding: 1px;
}
#match_dg .dg-game-box, #match_dg .dg-tz-box {
    padding: 0;
}
#match_dg .bei-box {
    width: 270px;
}
.quick-tpis {
    background: #fff6e5 none repeat scroll 0 0;
    color: #fe7200;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
}
.icon-lb {
    background: rgba(0, 0, 0, 0) url("../images/icon_lb.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 14px;
    margin: 0 4px 0 14px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 16px;
}
.quick-list {
    height: 30px;
    left: 108px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 380px;
}
.quick-tpis b {
    font-family: "宋体";
    font-size: 12px;
    vertical-align: top;
}
.quick-list ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 190px;
}
.quick-list ul li a {
    color: #fe7200;
}
.part-1-cont-right {
    background: #f6f6f6 none repeat scroll 0 0;
    float: left;
    height: 444px;
    width: 230px;
}
.part-1-cont-right .login-box {
    font-family: "微软雅黑","Microsoft Yahei";
    height:80px;
}
.part-1-cont-right .not-login, .login {
    color: #333;
    margin: 0 20px;
}
.part-1-cont-right .not-login .sw-btn-box{text-align:center;}
.part-1-cont-right .welcome {
    color: #333;
    font: 12px/32px "微软雅黑","Microsoft Yahei";
    height: 32px;
    margin-top: 25px;
    text-align: center;
}
.part-1-cont-right .login-btn-box {
    height: 26px;
    line-height: 36px;
    margin-left: 16px;
    width: 160px;
}
.part-1-cont-right .login-btn-box .icon {
    float: left;
    height: 26px;
    width: 72px;
}
.part-1-cont-right .login-btn {
    background-position: 0 -90px;
    margin-right: 16px;
}
.part-1-cont-right .login-btn:hover {
    background-position: -90px -90px;
}
.part-1-cont-right .reg-btn {
    background-position: -180px -90px;
}
.part-1-cont-right .reg-btn:hover {
    background-position: -270px -90px;
}
.part-1-cont-right .login-user-info {
    color: #333;
    font: 12px/32px "微软雅黑","Microsoft Yahei";
    margin-top: 12px;
}
.part-1-cont-right .login-user-info .user {
    float: left;
}
.part-1-cont-right .login-user-info .user em {
    background-position: -320px -140px;
}
.part-1-cont-right .login-user-info .quit {
    color: #999;
    float: right;
}
.part-1-cont-right .login-user-info .quit:hover {
    color: #f13131;
    text-decoration: none;
}
.part-1-cont-right .info-cont {
    height: 24px;
    line-height: 24px;
    padding: 0;
}
.part-1-cont-right .info-cont span {
    float: left;
}
.part-1-cont-right .info-cont a {
    color: #333;
    display: inline-block;
}
.part-1-cont-right .info-cont .ref i {
    background-position: -360px -60px;
    height: 12px;
    margin: 6px 16px 0 5px;
    vertical-align: middle;
    width: 12px;
}
.part-1-cont-right .info-cont .balance {
    border: 1px dashed #ccc;
    height: 22px;
    line-height: 20px;
    text-align: center;
    width: 82px;
}
.part-1-cont-right .info-cont span.colorRed {
    color: #f13131;
    font-family: Verdana,Arial;
    width: 82px;
}
.part-1-cont-right .info-cont .balance:hover {
    color: #f13131;
    text-decoration: none;
}
.part-1-cont-right .info-cont .recharge-btn {
    background-position: -200px -250px;
    height: 25px;
    width: 72px;
}
.part-1-cont-right .info-list {
    color: #999;
    height: 36px;
    line-height: 36px;
}
.part-1-cont-right .info-list .m14 {
    color: #d8d8d8;
    margin: 0 8px;
}
.header-plus li.m14 {
    color: #d0d0d0;
    display: inline;
}
.part-1-cont-right .info-list a {
    color: #333;
}
.part-1-cont-right .info-list a:hover {
    color: #f13131;
    text-decoration: none;
}
.part-1-cont-right .help-tab-box {
    margin: 10px 20px 0;
}
.part-1-cont-right .help-tab-box a {
    color: #666;
}
.part-1-cont-right .help-tab-box ul {
    margin-top: 0;
}
.part-1-cont-right .help-tab-box .help-tab {
    border-bottom: 1px solid #dbdbdb;
    height: 28px;
    line-height: 28px;
    margin-bottom: 6px;
    padding: 0;
}
.part-1-cont-right .help-tab-box .help-tab a:link, .help-tab-box .help-tab a:visited, .help-tab-box .help-tab a:active {
    color: #333;
    display: inline-block;
    font: 14px/28px "微软雅黑","Microsoft Yahei";
}
.part-1-cont-right .help-tab-box a:hover {
    color: #f13131;
    text-decoration: none;
}
.part-1-cont-right .help-tab li {
    float: left;
    height: 28px;
    margin-right: 16px;
    position: relative;
    text-align: center;
    width: 60px;
}
.part-1-cont-right .help-tab li.on {
    border-bottom: 2px solid #f13131;
    height: 27px;
}
.part-1-cont-right .help-ul a:link, .help-ul a:visited, .help-ul a:active {
    line-height: 26px;
}
.part-1-cont-right .help-ul a:hover {
    color: #f13131;
    text-decoration: none;
}
.part-1-cont-right .help-ul .icon20 {
    background-position: -250px -350px;
    color: #fff;
    height: 10px;
    text-align: center;
    vertical-align: middle;
    width: 21px;
}
.part-1-cont-right .phone-box {
    background-position: 0 -140px;
    border-top: 1px solid #dbdbdb;
    height: 190px;
    margin: 5px 20px 0;
    width: 190px;
}
.part-1-cont-right .phone-box .phone-box-text {
    color: #333;
    font: 14px/48px "微软雅黑","Microsoft Yahei";
    height: 40px;
    text-align: center;
    width: 100%;
}
.phone-box img {
    height: 142px;
    margin: 0px 25px;
    width: 142px;
}
.part-1-cont-right .code-icon {
    background-position: 0 -290px;
    height: 142px;
    margin-top: 2px;
    width: 190px;
}
.title-top {
    border-bottom: 1px solid #e9e9e9;
    height: 30px;
    line-height: 30px;
}
.part-2 {
    width: 100%;
}
.draw-notice {
    width: 100%;
}
.notice-tit {
    float: left;
    font: bold 16px/30px "Microsoft Yahei";
}
.notice-tit .icon {
    background-position: -150px -60px;
    height: 16px;
    margin: -5px 5px 0 0;
    vertical-align: middle;
    width: 18px;
}
.notice-tab {
    float: right;
    height: 30px;
    line-height: 30px;
}
.notice-tab li {
    color: #333;
    cursor: pointer;
    float: left;
    margin-right: 12px;
    text-align: center;
    width: 24px;
}
.notice-tab li a:link, .notice-tab li a:active {
    color: #333;
}
.notice-tab li a:hover {
    color: #f13131;
    text-decoration: none;
}
.notice-tab li.on {
    border-bottom: 2px solid #f13131;
    height: 29px;
    position: relative;
}
.notice-list li {
    line-height: 22px;
    margin: 0 10px;
}
.notice-list li.li-line {
    background-position: 0 -350px;
    height: 1px;
    line-height: 1px;
    overflow: hidden;
    vertical-align: middle;
    width: 210px;
}
.notice-list .lot-name {
    color: #999;
    float: left;
    margin-top: 4px;
}
.notice-list .lot-name a:link, .notice-list .lot-name a:visited, .notice-list .lot-name a:active {
    color: #333;
    font-family: "微软雅黑","Microsoft Yahei";
    font-size: 14px;
    font-weight: bold;
}
.notice-list .lot-name a:hover {
    color: #f13131;
    text-decoration: none;
}
.notice-list span.term {
    color: #666;
    float: right;
    margin-top: 4px;
}
.notice-list span.term a {
    color: #999;
}
.notice-list .redball {
    color: #f13131;
    float: left;
    font-weight: bold;
    margin-right: 5px;
}
.notice-list .blueball {
    color: #4495ff;
    display: inline;
    float: left;
    font-weight: bold;
    margin-left: 6px;
}
.notice-list li.last {
    border-bottom: 0 none;
    margin-bottom: 12px;
    overflow: hidden;
}
.draw-contents .fr {
    color: #d8d8d8;
}
.draw-contents .fr a:link, .draw-contents .fr a:visited, .draw-contents .fr a:active {
    color: #666;
}
.draw-contents .fr a:hover {
    color: #f13131;
    text-decoration: none;
}
.notice-list li .red {
    color: #f13131;
}
.notice-list li b {
    color: #f13131;
}
.notice-list li span.term {
    color: #999;
    display: block;
    float: right;
    overflow: hidden;
    text-align: right;
}
.notice-list li span.term a {
    color: #666;
}
.notice-list li span.term a:hover {
    color: #f13131;
    text-decoration: none;
}
.notice-list li .kjTab {
    border-left: 1px solid #dadada;
    border-top: 1px solid #dadada;
    margin-bottom: 0;
    margin-top: 5px;
}
.notice-list li .kjTab td {
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    text-align: center;
}
.notice-list li .kjTab td .num {
    color: #f13131;
    font-weight: bold;
    padding: 0 3px;
}
.notice-list li.bb {
    border-bottom: 1px solid #e4e4e4;
}
.notice-list li.first {
    border-bottom: 0 none;
    margin-bottom: 0;
}
.notice-list li.first .lot-name {
    margin-top: 12px;
}
.notice-list li.first .term {
    margin-top: 12px;
}
.part-2-cont-right {
    color: #333;
    overflow: hidden;
}
.mr8 {
    margin-right: 8px;
}
.mr0 {
    margin-right: 0;
}
.lottery-news-box {
    font-family: "微软雅黑","Microsoft Yahei";
    width: 500px;
}
.news-title {
    border-bottom: 1px solid #e8e8e8;
    font: 12px/30px "微软雅黑","Microsoft Yahei";
    height: 30px;
    width: 100%;
}
.news-tit {
    font-size: 16px;
}
.hot-news {
    text-align: right;
    width: 80px;
}
.hot-news a:link, .hot-news a:visited, .hot-news a:active {
    color: #333;
}
.lottery-news-box a:hover, .hot-news a:hover {
    color: #f13131;
    text-decoration: none;
}
.news-bar-content, .news-bar-side {
    overflow: hidden;
    position: relative;
}
.news-bar-side ul.news-bar-zj li{
	line-height: 25px;
	height:25px;
	width: 220px;
    overflow: hidden;
}
.news-bar-side ul.news-bar-zj li span{
	float:right;
	display: inline-block;
}
.news-bar{overflow: hidden;}
.news-bar-content {
    width: 500px;
}
.news-bar-side {
    width: 220px;
    padding:0px 10px 0;
    height:175px;
}
.news-bar-side.myScroll{
	height:177px;
	margin:5px;
	padding:0px;
}
.news-bar-side table{font-size:12px;}
.news-bar-side .top td {
    padding-top: 5px;
}
.news-bar-side td, .ranking_con th {
    line-height: 24px;
    vertical-align: middle;
    font-weight: normal;
    text-align: right;
}
.news-bar-side .tc {
    text-align: center;
}
.top1_num, .top2_num, .top3_num {
    width: 18px;
    height: 18px;
    font: 12px/18px Tahoma, Geneva, sans-serif;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 0 2px;
    background-color: #f36309;
}

.top4_num, .top5_num, .top6_num, .top7_num, .top8_num, .top9_num, .top10_num {
    width: 18px;
    height: 18px;
    font: 12px/18px Tahoma, Geneva, sans-serif;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 0 2px;
    background-color: #afafaf;
}

.news-bar-tit {
    font-size: 14px;
    font-weight: bold;
}
.news-bar-content .news-bar-tit {
    height: 46px;
    line-height: 46px;
    overflow: hidden;
}
.news-bar-side .news-bar-tit {
    height: 20px;
    line-height: 20px;
    padding-top: 12px;
}
.news-bar-tit span {
    color: #333;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
}
.news-bar-tit a {
    color: #f13131;
    font-size: 16px;
    margin-right: 15px;
/*     display: inline-block; */
	display: inline-flex;
    height: 45px;
    width: 195px;
}
.news-bar-tit a:hover {
    text-decoration: underline;
}
.news-bar-list li {
    font-family: "宋体";
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}
.news-bar-content .news-bar-list li {
    margin-right: 20px;
}
.news-bar-list a {
    color: #333;
    margin-right: 5px;
}
.news-bar-list a.news-s {
    color: #999;
}
.news-bar-list a.news-s:hover {
    color: #f13131;
}
.news-bar-list a.red {
    color: #f13131;
}
.news-bar-left li {
    float: left;
    margin-right: 20px;
    width: 230px;
}
.news-box {
    color: #333;
    height: 295px;
    width: 100%;
}
.news-top-box {
    height: 48px;
    margin-bottom: 5px;
    width: 100%;
}
.news-box-tit {
    height: 48px;
    line-height: 48px;
    padding-right: 24px;
    width: 210px;
}
.middle-tit {
    padding: 0 24px;
}
.r-tit {
    padding: 0 0 0 24px;
}
.news-box-tit h3 {
    color: #333;
    font: 14px/48px "微软雅黑","Microsoft Yahei";
}
.news-box-tit h3 strong {
    font-weight: normal;
}
.news-box-tit a.fr:link, .news-box-tit a.fr:visited, .news-box-tit a.fr:active {
    color: #666;
    font-size: 12px;
}
.news-box-tit a.fr:hover {
    color: #f13131;
    text-decoration: none;
}
.news-main-box {
    width: 100%;
}
.news {
    height: 235px;
    padding-right: 24px;
    width: 210px;
}
.news-mid {
    padding: 0 24px;
}
.line {
    background-position: -295px -130px;
    height: 230px;
    margin-top: 2px;
    width: 1px;
}
.news-r {
    padding: 0 0 0 24px;
}
.news-top {
    margin: 2px 0 10px;
}
.news-top a:link, .news-top a:visited, .news-top a:active {
    color: #333;
    font: 14px/18px "微软雅黑","Microsoft Yahei";
}
.news-top a:hover {
    color: #f13131;
    text-decoration: none;
}
.news-top a strong {
    font-weight: normal;
}
.top-main {
    color: #999;
    font: 12px/20px "宋体","宋体";
    height: 60px;
    margin-top: 10px;
    overflow: hidden;
    text-indent: 2em;
}
.news-top-list li {
    height: 28px;
    line-height: 28px;
}
.news-top-list a:link, .news-top-list a:visited, .news-top-list a:active {
    color: #333;
    font: 12px/28px "宋体","Microsoft Yahei";
}
.news-top-list a.color999 {
    color: #999;
}
.news-top-list a:hover, .news-top-list a.color999:hover {
    color: #f13131;
    text-decoration: none;
}
.middle-ad {
    margin-top: 20px;
    overflow: hidden;
    width: 730px;
}
.tool-box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e4e4e4 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0 1px medium;
    bottom: 0;
    height: 38px;
    left: 0;
    line-height: 38px;
    position: absolute;
}
.tool-box a {
    color: #666;
    float: left;
    font: 14px/40px "微软雅黑","Microsoft Yahei";
    width: 110px;
}
.tool-box a:hover {
    color: #f13131;
    text-decoration: none;
}
.prize-count {
    margin-right: 10px;
    text-align: right;
}
.jczq-card-box {
    height: 44px;
    margin-bottom: 10px;
    width: 230px;
}
.jczq-card-box .icon {
    background-position: 0 -300px;
    height: 100%;
    width: 100%;
}
.jczq-card-box .icon:hover {
    background-position: 0 -355px;
}
.league-list {
    overflow: hidden;
    width: 231px;
}
.league-list a {
    background: #f3f3f3 none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    display: block;
    float: left;
    height: 59px;
    padding: 8px 1px 0 8px;
    position: relative;
    width: 48px;
}
.league-list a span {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    display: none;
    height: 66px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}
.league-list .br0 {
    border-right: 0 none;
}
.league-list .br0 span {
    width: 55px;
}
.league-list .icon {
    height: 54px;
    position: relative;
    width: 42px;
}
.league-list .yc {
    background-position: 0 -180px;
}
.league-list .mzb {
    background-position: -50px -180px;
}
.league-list .nba {
    background-position: -100px -180px;
}
.league-list .og {
    background-position: -150px -180px;
}
.league-list .fj {
    background-position: -200px -180px;
}
.league-list .yj {
    background-position: -250px -180px;
}
.league-list .dj {
    background-position: -300px -180px;
}
.league-list .xj {
    background-position: -350px -180px;
}
.league-list .wdls {
    background: rgba(0, 0, 0, 0) url("../images/index_plus_wdls.png") no-repeat scroll 0 0;
    margin-left: -5px;
    width: 51px;
}
.league-list a:hover span {
    display: block;
}
.hot-tit {
    color: #333;
    font-family: "微软雅黑","Microsoft Yahei";
    font-size: 16px;
    margin: 18px 0 10px;
    padding-left: 14px;
}
.hotspot-list {
    overflow: hidden;
    width: 230px;
}
.hotspot-list li {
    color: #666;
    float: left;
    height: 18px;
    line-height: 18px;
    margin-right: 10px;
    overflow: hidden;
    width: 100px;
}
.hotspot-list li span {
    background: #666 none repeat scroll 0 0;
    float: left;
    height: 2px;
    margin: 8px 6px 0;
    overflow: hidden;
    width: 2px;
}
.hotspot-list li a:link, .hotspot-list li a:visited, .hotspot-list li a:active {
    color: #666;
    float: left;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
}
.hotspot-list li a:hover {
    color: #f13131;
    text-decoration: none;
}
.game-data {
    margin: 10px 0 0 5px;
}
.game-data li {
    float: left;
    text-align: left;
    width: 110px;
}
.game-data a:link, .game-data a:visited, .game-data a:active {
    color: #333;
    font-size: 14px;
    line-height: 28px;
}
.game-data a:hover {
    color: #f13131;
    text-decoration: none;
}
.game-data .icon {
    margin-right: 8px;
    overflow: hidden;
    vertical-align: middle;
}
.game-data .zb {
    background-position: -180px -60px;
    height: 14px;
    width: 16px;
}
.game-data .tj {
    background-position: -210px -60px;
    height: 16px;
    width: 16px;
}
.game-data .fs {
    background-position: -240px -60px;
    height: 18px;
    margin-left: -2px;
    width: 18px;
}
.game-data .ls {
    background-position: -270px -60px;
    height: 18px;
    margin-left: -2px;
    width: 18px;
}
.game-data .zs {
    background-position: -300px -60px;
    height: 16px;
    width: 14px;
}
.game-data .mf {
    background-position: -330px -60px;
    height: 12px;
    width: 14px;
}
.left-ad {
    margin: 17px 0 0;
    overflow: hidden;
    width: 230px;
}
.jc-box {
    color: #333;
    width: 990px;
}
.title-tab-box {
    border-bottom: 1px solid #e4e4e4;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.tab-box {
    width: 800px;
    overflow: hidden;
    height: 30px;
}
.tab-box li {
    height: 30px;
    text-align: center;
}
.tab-box a:link, .tab-box a:visited, .tab-box a:active {
    color: #333;
    font: 12px/30px "微软雅黑","Microsoft Yahei";
}
.tab-box a:hover {
    color: #f13131;
    text-decoration: none;
}
.tab-box li.on {
    border-bottom: 2px solid #f13131;
    height: 29px;
}
.tab-box li.on a {
    color: #f13131;
}
.jczq-box {
    margin-bottom: 12px;
}
.dg-game-box {
    color: #333;
    padding: 0 0 0 10px;
}
.dg-game-info {
    color: #666;
    height: 64px;
    line-height: 64px;
    margin-left: -10px;
}
.dg-game-info strong {
    color: #333;
}
.dg-game-info p {
    float: left;
}
#rmdc_dg .dg-game-info p {
    float: left;
}
.dg-game-info p.more-game {
    float: right;
}
#rmdc_dg .dg-game-info p.more-game {
    float: right;
}
.dg-game-info p.dgp-box {
    color: #666;
}
.dg-game-info p.dgp-box a {
    background-position: -245px -380px;
    height: 11px;
    overflow: hidden;
    vertical-align: middle;
    width: 11px;
}
.more-game a {
    color: #2568a7;
}
.more-game a:hover {
    color: #f13131;
    text-decoration: none;
}
.dg-game {
    height: 76px;
    margin-bottom: 32px;
}
.dg-game .dl-box {
    border: 1px solid #85b835;
    box-shadow: 1px 1px 1px #e7e7e7;
    cursor: pointer;
    float: left;
    height: 70px;
    margin-right: 12px;
    padding: 2px;
    position: relative;
}
.dg-game dl strong {
    font-family: "微软雅黑","Microsoft Yahei";
    font-size: 18px;
}
.dg-game dl dd {
    text-align: center;
}
.dg-game dl strong span {
    margin-left: 10px;
}
.dg-game dl span.sp {
    color: #333;
    font-size: 14px;
}
.dg-game .dl-box-r {
    margin-right: 0;
}
.dg-l, .dg-r {
    width: 244px;
}
.dg-m {
    width: 184px;
}
.dg-l dt, .dg-r dt {
    display: inline;
    float: left;
    height: 56px;
    margin: 7px 15px 0 26px;
    width: 56px;
}
.dg-l dd, .dg-r dd {
    float: left;
    margin-top: 15px;
    text-align: left;
}
.dg-m dt {
    margin-top: 15px;
    text-align: center;
}
.dg-m dd {
    text-align: center;
}
.dl-box .true-box {
    bottom: -1px;
    display: none;
    position: absolute;
    right: -1px;
}
.dl-box .true-box i {
    background-position: -350px -80px;
    height: 47px;
    width: 47px;
}
.dl-box:hover {
    border-width: 3px;
    box-shadow: 0 0 0 #fff;
    padding: 0;
}
.dg-game .dl-box-on {
    border: 3px solid #85b835;
    box-shadow: 0 0 0 #fff;
    padding: 0;
}
.dg-game .dl-box-on .true-box {
    display: block;
}
.dg-tz-box {
    color: #333;
    height: 34px;
    padding: 0 10px;
}
.bei-box {
    width: 500px;
}
.bei-box input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c2c2c2;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0 1px medium;
    float: left;
    height: 24px;
    line-height: 23px;
    text-align: center;
    vertical-align: top;
    width: 40px;
}
.bei-box a {
    border: 1px solid #c2c2c2;
    color: #999;
    display: inline-block;
    float: left;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 15px;
    background: #fafafa;
}
.bei-box a.tz_bei_sub{
	border-radius:4px 0 0 4px;
}
.bei-box a.tz_bei_add{
	border-radius:0 4px 4px 0 ;
}
.bei-box a:hover {
    background: #e8e8e8 none repeat scroll 0 0;
    color: #999;
    text-decoration: none;
}
.bei-box .money, .bei-box .forecast-prize {
    font-family: Verdana,"黑体",Arial;
}
.dg-btn-box {
    float: right;
}
.dg-btn-box a:link, .dg-btn-box a:visited, .dg-btn-box a:active {
    color: #666;
    font-family: "微软雅黑","Microsoft Yahei";
    font-size: 14px;
}
.dg-btn-box .dg-tz-btn, .dg-btn-box .dgp-tz-btn {
    background-position: 0 -130px;
    height: 34px;
    vertical-align: middle;
    width: 120px;
}
.dg-btn-box .dg-tz-btn:hover, .dg-btn-box .dgp-tz-btn:hover {
    background-position: -150px -130px;
}
.change-btn {
    margin-right: 15px;
}
.bei-box {
    line-height: 26px;
    padding: 6px 0 2px;
}
.no-dg {
    background: rgba(0, 0, 0, 0) url("../images/no_dg.png") no-repeat scroll 0 0;
    margin: 0 auto;
    width: 510px;
}
.tz_bei_add {
    margin-right: 10px;
}
.jczq-box .hot-games {
    margin-top: 5px;
    width: 100%;
}
.jczq-box .hot-game-info {
    height: 64px;
    line-height: 64px;
}
.jczq-box .hot-game-info i, .dg-game-info i {
    background-position: -390px -250px;
    height: 5px;
    margin: -3px 5px 0 0;
    overflow: hidden;
    vertical-align: middle;
    width: 5px;
}
.jczq-box .games {
    color: #333;
    font-family: "微软雅黑","Microsoft Yahei";
    padding: 0 0 0 10px;
}
.jczq-box .games a {
    color: #666;
    display: inline-block;
}
.jczq-box .games a:hover {
    background: #f3f3f3 none repeat scroll 0 0;
}
.jczq-box .games dl {
    border: 1px solid #eae5e6;
    cursor: pointer;
    float: left;
    height: 160px;
    text-align: center;
    width: 350px;
}
.jczq-box .games dt img {
    height: 88px;
    margin: 22px 12px 0 26px;
    width: 88px;
}
.jczq-box .games dt img.k-img {
    margin: 22px 26px 0 12px;
}
.jczq-box .vs {
    height: 84px;
    margin-top: 22px;
    position: relative;
    width: 98px;
}
.jczq-box .vs span {
    line-height: 20px;
    margin-top: 30px;
}
.jczq-box .vs em {
    font-family: "微软雅黑","Microsoft Yahei";
}
.jczq-box .vs i {
    background-position: -360px -30px;
    bottom: 20px;
    height: 15px;
    left: 35px;
    position: absolute;
    width: 27px;
}
.jczq-box .name-box {
    color: #333;
    height: 54px;
    line-height: 54px;
    width: 100%;
}
.jczq-box .name-box span {
    float: left;
    font-size: 14px;
    text-align: center;
    width: 140px;
}
.jczq-box .name-box span.k-name {
    float: right;
    text-align: center;
    width: 140px;
}
.jczq-box .game-2 {
    margin-right: 0;
}
.zqdc-box {
    margin-top: 20px;
    width: 100%;
}
.zdqc-table {
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    color: #333;
    width: 100%;
    font-size:12px;
}
.zdqc-table thead {
    background: #f6f6f6 none repeat scroll 0 0;
    height: 32px;
}
.zdqc-table thead td {
    color: #666;
}
.zdqc-table tbody tr {
    border-top: 1px solid #e6e6e6;
    height: 32px;
}
.zdqc-table td {
    height: 32px;
    text-align: center;
}
.zdqc-table td.bor {
    border: 1px solid #e6e6e6;
}
.zdqc-table tbody td.bor {
    background: #fbfef7 none repeat scroll 0 0;
}
.zdqc-table tbody td a {
    color: #333;
    padding: 0 2px;
}
.zdqc-table tbody td a:hover {
    color: #f13131;
    text-decoration: none;
}
.zdqc-table td.bor span {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    line-height: 32px;
    width: 100%;
}
.zdqc-table tbody td.spbg_on {
    background: #8cc82f none repeat scroll 0 0;
}
.zdqc-table td.bor span:hover {
    background: #ecffd4 none repeat scroll 0 0;
}
.zdqc-table td.spbg_on span:hover {
    background: #8cc82f none repeat scroll 0 0;
}
.match-name {
    color: #fff;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    width: 65px;
}
.gg-box {
    color: #666;
    height: 40px;
    line-height: 40px;
    margin: 12px 0 0 14px;
}
.zqdc-tz-box {
    margin-left: 14px;
}
.dg-btn-box .zqdc-tz-btn {
    background-position: 0 -130px;
    height: 34px;
    vertical-align: middle;
    width: 120px;
}
.dg-btn-box .zqdc-tz-btn:hover {
    background-position: -150px -130px;
}
.play-type-box li {
    float: left;
    margin-right: 10px;
}
#play_select_area {
}
#addbaiduindex {
    display: none;
    line-height: 20px;
    margin-right: 10px;
    padding: 6px 0;
}
#addbaiduindex i {
    background: rgba(0, 0, 0, 0) url("../images/addbaiduicon.png") repeat scroll 0 0;
    display: inline-block;
    font-size: 1px;
    height: 20px;
    line-height: 1px;
    vertical-align: top;
    width: 20px;
}
#addbaiduindex a:hover i {
    background-position: -20px 0;
}
.fl_box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #7b0c26;
    height: 330px;
    overflow: hidden;
    width: 600px;
}
.fl_box .fl_top {
    background: rgba(0, 0, 0, 0) url("../images/fl_title_bg.gif") repeat-x scroll 0 0;
    height: 36px;
}
.fl_top .fl_title {
    background: rgba(0, 0, 0, 0) url("../images/fl_icon.gif") no-repeat scroll 0 -215px;
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    margin-left: 10px;
    padding-left: 25px;
}
.fl_top .fl_close {
    background: rgba(0, 0, 0, 0) url("../images/fl_icon.gif") no-repeat scroll 0 -53px;
    cursor: pointer;
    float: right;
    height: 19px;
    margin-right: 10px;
    width: 52px;
}
.fl_main .fl_left {
    float: left;
    width: 285px;
}
.fl_left .reg_box {
    border-right: 1px solid #e6e6e6;
    margin-top: 25px;
}
.reg_box h1 {
    color: #e60012;
    font-size: 14px;
    font-weight: bold;
    margin-left: 40px;
}
.reg_box ul {
    margin-left: 25px;
}
.reg_box li.r1, .reg_box li.r2, .reg_box li.r3 {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
}
.reg_box li.r1 {
    background: rgba(0, 0, 0, 0) url("../images/fl_icon.gif") no-repeat scroll 0 -160px;
    padding-left: 60px;
}
.reg_box li.r2 {
    background: rgba(0, 0, 0, 0) url("../images/fl_icon.gif") no-repeat scroll 10px -97px;
    padding-left: 60px;
}
.reg_box li.r3 {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-left: 30px;
}
.fl_left a.reg_b {
    background: rgba(0, 0, 0, 0) url("../images/fl_icon.gif") no-repeat scroll -160px 0;
    display: block;
    height: 40px;
    margin-bottom: 20px;
    width: 151px;
}
.fl_left a.reg_b:hover {
    text-decoration: none;
}
.fl_reg_box {
    background: transparent url("../images/float_register_bg.gif") no-repeat scroll 0 0;
    height: 330px;
    width: 455px;
}
.fl_reg_box .fl_reg_title {
    height: 62px;
    line-height: 62px;
    position: relative;
}
.fl_reg_box .fl_reg_title .fl_reg_close {
    cursor: pointer;
    height: 11px;
    position: absolute;
    right: 12px;
    top: 11px;
    width: 12px;
}
.fl_reg_box .fl_reg_table tr {
    height: 53px;
}
.fl_reg_box .fl_reg_table tr td {
    vertical-align: top;
}
.fl_reg_box .fl_reg_table tr td.t {
    font-size: 14px;
    text-align: right;
    width: 100px;
}
.fl_reg_box .fl_reg_table tr td .text {
    font-size: 14px;
    height: 24px;
    width: 200px;
}
.fl_reg_box .fl_reg_table tr td .imgcode {
    width: 80px;
}
.fl_reg_box .fl_reg_table tr td .error {
    color: #f96f06;
}
.fl_reg_box .float_register_submit {
    background: transparent url("../images/float_register_submit.gif") no-repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    height: 37px;
    width: 121px;
}
.fl_reg_box #float_register_login {
    height: 30px;
    line-height: 20px;
    margin-left: 15px;
}
.fl-reg-list {
    height: 63px;
    position: relative;
    width: 260px;
}
.fl-reg-desc {
    height: 16px;
    line-height: 16px;
    position: relative;
}
.fl-reg-desc-l {
    color: #666;
    font-weight: bold;
}
.fl-reg-desc-r {
    color: #999;
    margin-right: 1px;
    position: absolute;
    right: 0;
}
.fl-reg-in {
    height: 25px;
    line-height: 25px;
    margin-top: 2px;
    position: relative;
}
.fl-reg-in #float_register_captcha_span {
    display: inline-block;
}
.fl-reg-input {
    border: 1px solid #ccc;
    height: 25px;
    line-height: 25px;
    padding-left: 30px;
    width: 218px;
}
.fl-reg-input:hover {
    border: 1px solid #fc4343;
}
.fl-reg-input:focus {
    border: 1px solid #fc4343;
    outline-color: #fc4343;
}
.fl-reg-passwd-strength span {
    background: #ff7c7c none repeat scroll 0 0;
    color: #fff;
    margin-left: 1px;
    padding: 0 4px;
}
.fl-reg-passwd-strength .onsel {
    background: #f00 none repeat scroll 0 0;
}
.fl-reg-state {
    background: rgba(0, 0, 0, 0) url("../images/reg_icon.png") no-repeat scroll 0 0;
    display: none;
    height: 20px;
    position: absolute;
    right: -20px;
    top: 0;
    width: 20px;
}
.fl-reg-del {
    background-position: 0 -195px;
}
.fl-reg-ok {
    background-position: 0 -229px;
}
.fl-small-tip-icon {
    background: rgba(0, 0, 0, 0) url("../images/reg_icon.png") repeat scroll 0 0;
    display: block;
    height: 23px;
    left: 1px;
    position: absolute;
    top: 7px;
    width: 30px;
}
.fl-reg-name-tip-icon {
    background-position: 0 -352px !important;
}
.fl-reg-pwd-tip-icon {
    background-position: 0 -287px !important;
}
.fl-reg-verify-tip-icon {
    background-position: 0 -317px !important;
}
.fl-reg-account-tip-icon{
	background-position: 0 -260px !important;
}
.fl-reg-verify {
    width: 100px;
}
.fl-reg-submit {
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    letter-spacing: 5px;
    line-height: 30px;
    width: 100%;
}
.fl-reg-readme {
    color: #666;
}
.reg-refresh-verify-code {
    background: rgba(0, 0, 0, 0) url("../images/bg.gif") no-repeat scroll -341px -317px;
    display: inline-block;
    height: 30px;
    left: 80px;
    position: absolute;
    top: -4px;
    width: 32px;
}
.fl_reg_box2 .fl_reg_title .fl_reg_close {
    color: #afafaf;
    cursor: pointer;
    font-weight: bold;
    padding: 0 5px;
    position: absolute;
    right: 6px;
    top: 0;
}
.fl-reg-showinfo {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #fd8585 #fd8585;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    display: none;
    left: 0;
    position: absolute;
    text-indent: 10px;
    top: 45px;
    width: 248px;
}
.fl-reg-input-tip {
    background: #ffc3c3 none repeat scroll 0 0;
    color: #666;
}
.fl-reg-input-error {
    background: #ffc9d1 none repeat scroll 0 0;
    border: 1px solid #e51937;
    color: #e51937;
}
.reg-btn-switch {
    background: #f13833 none repeat scroll 0 0;
    cursor: pointer;
}
.reg-btn-switch:hover {
    background: #e72e29 none repeat scroll 0 0;
}
.reg-btn-switch:active {
    background: #e50000 none repeat scroll 0 0;
}
.fl-reg-phone-get-code {
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 25px;
    text-align: center;
    width: 108px;
}
.fl-reg-phone-countdown {
    background: #ddd none repeat scroll 0 0;
    color: #666;
    display: none;
    height: 26px;
    line-height: 25px;
    text-align: center;
    width: 108px;
}
.fl-reg-error-input {
    border: 1px solid #e51937;
}
.fl_reg_box2 {
    background: #fff none repeat scroll 0 0;
    height: 450px;
    position: relative;
    width: 330px;
}
.fl_reg_box2 .fl_reg_title {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    color: #4e4d4d;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-indent: 6px;
}
.fl-reg-main {
    padding-left: 35px;
    padding-top: 20px;
}
.fl_login_box2 {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    height: 335px;
    position: relative;
    width: 325px;
}
.fl_login_box2 .fl_reg_title {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    color: #4e4d4d;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    position: relative;
    text-indent: 6px;
}
.fl_login_box2 .fl_reg_title .fl_reg_close {
    color: #afafaf;
    cursor: pointer;
    font-weight: bold;
    padding: 0 5px;
    position: absolute;
    right: 6px;
    top: 0;
}
.float_other_login_text {
    color: #999;
    left: 10px;
    position: absolute;
    top: 4px;
}
.fl-reg-main .fl-login-error-input {
    border: 1px solid #e51937;
}
.fl_quick_login_box {
    height: 310px;
}
.fl-reg-info {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 15px;
}
.float_change_login:link, .float_change_login:visited {
    color: #666;
    float: left;
    line-height: 22px;
    margin: 5px 0 0 216px;
    text-decoration: none;
}
.float_change_login:hover {
    color: #ff9d19;
    text-decoration: none;
}
.quickLoginIcon {
    background: rgba(0, 0, 0, 0) url("../images/quick_login_icon.png") no-repeat scroll 0 0;
    display: inline-block;
    font-size: 1px;
    height: 22px;
    line-height: 1px;
    margin-right: 10px;
    vertical-align: top;
    width: 22px;
}
.quickLoginIcon_baidu {
    background-position: 0 0;
}
.quickLoginIcon_alipay {
    background-position: -22px 0;
}
.quickLoginIcon_weibo {
    background-position: -44px 0;
}
.quickLoginIcon_qq {
    background-position: -66px 0;
}
.quickLoginIcon_change {
    background-position: -88px 0;
}
.float_change_login:hover .quickLoginIcon_change {
    background-position: -110px 0;
}
.fl_type3rd_login_main {
    padding: 20px 0;
}
.fl_type3rd_login_main li {
    text-align: center;
}
.fl_type3rd_login_box {
    height: 194px;
}
.fl_type3rd_login_submit:link, .fl_type3rd_login_submit:hover, .fl_type3rd_login_submit:visited {
    color: #fff;
    display: block;
    height: 22px;
    letter-spacing: 0;
    line-height: 22px;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
}
.user-box {
    background: #fff none repeat scroll 0 0;
    border: 5px solid #ccc;
    width: 563px;
}
.user-box .user-title {
    background: rgba(0, 0, 0, 0) url("../images/user_bg.gif") no-repeat scroll 0 0;
    height: 52px;
}
.user-box .user-title .close {
    background: rgba(0, 0, 0, 0) url("../images/user_bg.gif") no-repeat scroll 0 -190px;
    cursor: pointer;
    display: inline;
    float: right;
    height: 11px;
    margin: 5px 5px 0 0;
    width: 12px;
}
.user-box .user-main {
    padding: 10px;
}
.user-box .user-main .top-tip {
    line-height: 36px;
    text-align: center;
}
.user-box .user-main .reg-table {
    width: 100%;
}
.user-box .user-main .reg-table td {
    height: 48px;
    padding: 0 5px;
}
.user-box .user-main .reg-table td.t {
    font-size: 14px;
    text-align: right;
    width: 110px;
}
.user-box .user-main .reg-table .text {
    border: 1px solid #bcbcbc;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    height: 27px;
    width: 212px;
}
.user-box .user-main .reg-table .phone {
    border: 1px solid #bcbcbc;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    height: 27px;
    width: 105px;
}
.user-box .user-main .reg-table p {
    color: #005aa0;
}
.user-box .user-main .reg-table .default-btn {
    background: rgba(0, 0, 0, 0) url("../images/user_bg.gif") no-repeat scroll -166px -177px;
    border: 0 none;
    cursor: pointer;
    height: 37px;
    width: 121px;
}
.user-box .user-main .reg-table .submit-btn {
    background-position: -35px -177px;
}
.user-box .reg-title {
    background-position: 0 0;
}
.user-box .userinfo-title {
    background-position: 0 -58px;
}
.user-box .phone-title {
    background-position: 0 -116px;
}
.fl_regbase_box {
    background: transparent url("../images/event_float_step.png") no-repeat scroll 0 0;
    height: 333px;
    width: 602px;
}
.fl_regbase_box .fl_reg_title {
    height: 95px;
    line-height: 95px;
    position: relative;
}
.fl_regbase_box .fl_reg_title .fl_reg_close {
    cursor: pointer;
    height: 19px;
    position: absolute;
    right: 11px;
    top: 0;
    width: 52px;
}
.fl_regbase_box .fl_reg_table tr {
    height: 42px;
}
.fl_regbase_box .fl_reg_table tr td {
    vertical-align: middle;
}
.fl_regbase_box .fl_reg_table tr td.t {
    color: #3d3d3d;
    font-family: 方正兰亭准黑_GBK,tahoma,arial,宋体,sans-serif;
    font-size: 16px;
    text-align: right;
    width: 120px;
}
.fl_regbase_box .fl_reg_table tr p {
    color: #979797;
    display: inline;
    margin-left: 10px;
}
.fl_regbase_box .fl_reg_table tr span {
    color: #979797;
    margin-left: 5px;
}
.fl_regbase_box .fl_reg_table tr td .text {
    background: transparent url("../images/event_float_btn.png") no-repeat scroll 0 -310px;
    border: 0 none;
    color: #979797;
    height: 31px;
    line-height: 32px;
    margin-right: 10px;
    padding: 0 5px;
    width: 159px;
}
.fl_regbase_box .float_register_submit {
    background: transparent url("../images/event_float_btn.png") no-repeat scroll 0 -171px;
    border: 0 none;
    cursor: pointer;
    height: 40px;
    width: 151px;
}
.fl_regbase_box #float_register_login {
    display: inline-block;
    height: 30px;
    line-height: 20px;
    margin-left: 15px;
    position: relative;
    top: 15px;
}
.fl_regbase_box .float_register_submit {
    margin-top: 10px;
}
.fl_regbase_box #float_register_login_link:link, .fl_regbase_box #float_register_login_link:hover, .fl_regbase_box #float_register_login_link:visited {
    color: #f86b04;
}
.fl_regbase_box .fl_verify_step {
    background: transparent url("../images/event_float_step.png") no-repeat scroll 0 -355px;
    height: 39px;
    left: 0;
    position: absolute;
    top: 35px;
    width: 602px;
}
.fl_regbase_box .red_tip {
    color: #ff5050;
}
.fl_regbase_box .captcha_phone {
    background: transparent url("../images/event_float_btn.png") no-repeat scroll 0 -272px;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    margin: 0 10px 0 0;
    position: relative;
    width: 88px;
}
.fl_regbase_box .float_verify_submit {
    background: transparent url("../images/event_float_btn.png") no-repeat scroll 0 -222px;
    border: 0 none;
    cursor: pointer;
    height: 40px;
    margin-top: 10px;
    width: 151px;
}
.fl_regbase_box .fl_change_step {
    background: transparent url("../images/event_float_step.png") no-repeat scroll 0 -411px;
    height: 39px;
    left: 0;
    position: absolute;
    top: 35px;
    width: 602px;
}
#alert_window_box.fl_box {
    width: 415px;
}
.fl_box h4 {
    font-size: 16px;
    padding: 20px 40px;
}
.fl_box .button_list {
    padding: 5px;
    text-align: center;
}
.fl_main .fl_right {
    float: left;
}
.tip_window_border .content_box {
    background-color: #fff;
}
.tip_window_border .content_box .close {
    background: #fff url("../images/tip_close.png") no-repeat scroll right top;
    cursor: pointer;
    display: inline;
    float: right;
    height: 20px;
    margin-right: 5px;
    width: 18px;
}
.tip_window_border .content_box h4 {
    color: red;
    font-size: 14px;
    font-weight: normal;
    margin: 0 28px;
}
.tip_window_border .content_box .content {
    color: #f0f;
    font-size: 14px;
    font-weight: normal;
    margin: 0 28px;
    padding: 10px 0 35px;
}
.pause_market {
    background: rgba(142, 142, 142, 0.6) none repeat scroll 0 0;
    color: #999;
    line-height: 22px;
    padding: 4px;
    width: 616px;
}
.pause_market_main {
    background: #fff none repeat scroll 0 0;
}
.pause_market_head {
    line-height: 16px;
    padding: 16px;
    text-align: right;
}
.pause_market_close {
    background: rgba(0, 0, 0, 0) url("../images/close.gif") no-repeat scroll 0 0;
    display: inline-block;
    height: 16px;
    vertical-align: top;
    width: 16px;
}
.pause_market_body {
    padding: 10px 30px 30px;
}
.pause_market_message {
    background: rgba(0, 0, 0, 0) url("../images/pause_market_bg.gif") no-repeat scroll 10px bottom;
    float: left;
    height: 214px;
    padding: 0 10px 0 20px;
    width: 330px;
}
.pause_market_message h3 {
    color: #333;
    font: 20px/24px "Microsoft YaHei","微软雅黑";
    margin-bottom: 10px;
}
.pause_market_links {
    font: 14px/24px "Microsoft YaHei","微软雅黑";
    margin-top: 12px;
}
.pause_market_links a:link, .pause_market_links a:hover, .pause_market_links a:visited {
    color: #3f89ec;
    text-decoration: none;
}
.pause_market_links a:hover {
    text-decoration: underline;
}
.pause_market_info {
    float: right;
    text-align: center;
    width: 196px;
}
.pause_market_info img {
    display: inline-block;
    vertical-align: top;
}
.pause_market_slogan {
    padding: 5px 0;
}
.yydb_hb {
    background: rgba(0, 0, 0, 0) url("../images/hb_light.png") no-repeat scroll 0 0;
    height: 460px;
    position: relative;
    width: 485px;
}
.yydb_hb_shut, .yydb_hb_open, .yydb_hb_card, .yydb_hb_before, .yydb_hb_btn {
    background: rgba(0, 0, 0, 0) url("../images/hbbgs.png") no-repeat scroll 0 0;
}
.yydb_hb_shut, .yydb_hb_open {
    left: 34px;
    position: absolute;
    width: 390px;
}
.yydb_hb_shut {
    background-position: 0 0;
    height: 250px;
    top: 110px;
}
.yydb_hb_open {
    background-position: -800px top;
    display: none;
    height: 384px;
    top: 65px;
}
.yydb_hb_card {
    background-position: -1200px 0;
    bottom: 0;
    height: 282px;
    left: 50%;
    margin-left: -175px;
    position: absolute;
    width: 350px;
}
.yydb_hb_before {
    background-position: -400px bottom;
    height: 100%;
    position: absolute;
    width: 100%;
}
.yydb_hb_btn {
    height: 88px;
    left: 50%;
    margin-left: -43px;
    position: absolute;
    width: 86px;
}
.yydb_hb_shut .yydb_hb_btn {
    background-position: -1570px 0;
    top: 76px;
}
.yydb_hb_open .yydb_hb_btn {
    background-position: -1570px -100px;
    display: none;
    top: 234px;
}
.yydb_hb_close {
    background: rgba(0, 0, 0, 0) url("../images/hb_close.png") no-repeat scroll 0 0;
    height: 26px;
    position: absolute;
    right: 0;
    top: 82px;
    width: 26px;
}
.yydb_adm {
    height: 410px;
    overflow: hidden;
    position: relative;
    width: 410px;
}
.yydb_adm_close {
    background: rgba(0, 0, 0, 0) url("../images/hb_close.png") no-repeat scroll 0 0;
    height: 26px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 26px;
}
.yydbBroadcast {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border: 1px solid #307ced;
    bottom: 0;
    height: 42px;
    left: 50%;
    margin-left: -495px;
    position: fixed;
    width: 688px;
    z-index: 9999;
}
.yydbBroadcast h4 {
    background: rgba(0, 0, 0, 0) url("../images/bbtitle.png") no-repeat scroll 0 0;
    float: left;
    height: 42px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 120px;
}
.yydbBroadcast-list {
    color: #333;
    font: 14px/32px "Microsoft Yahei","微软雅黑";
    overflow: hidden;
    padding: 5px 0;
    position: relative;
}
.yydbBroadcast-list li {
    text-align: center;
    width: 540px;
}
.yydbBroadcast-list .red, .yydbBroadcast-list a.red {
    color: red;
    font-weight: bold;
}
.yydbBroadcast .close {
    background: rgba(0, 0, 0, 0) url("../images/allbgs.png") no-repeat scroll -319px -17px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}

/*轮播*/
.slide .wrap {width:488px;height:218px;position:relative;overflow:hidden;float:left;}
.slide .slidebox {width:488px;position:absolute;top:0;left:0;height:218px;}
.slide .slidebox li {float:left;width:488px;height:218px;left:0;top:0;}
.slide .slidebox li img {display:block;width:488px;height:218px;}
.slide .wrap .dot {position:absolute;width:100%;height:30px;background:rgba(0,0,0,0.3);text-align:right;bottom:0;left:0;}
.slide .wrap .dot p {margin-right:10px;}
.slide .wrap .dot b {width:17px;height:17px;border-radius:20px;color:#333;display:inline-block;border:1px solid #fff;background:#fff;text-align:center;line-height:17px;margin:0 3px;margin-top:6px;cursor:pointer;font-weight:normal;}
.slide .wrap .dot .cur {background:#F63;color:#fff;border:1px solid #f63;}

/*合买大厅*/
.tb thead{
	background: url(../images/draw/detail_bg.gif) -406px -64px repeat-x;
}
.tb{font-size:12px;text-align: center;}
.tb th {
    height: 33px;
    line-height: 33px;
    font-weight: normal;
    border-bottom: 1px solid #dddfe7;
    color: #999;
}
.tb td {
    height: 36px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    vertical-align: middle;
}
.table_intr a {
    color: #333;
    display: inline-block;
    height: 26px;
    line-height:26px;
    text-align: right;
    float: right;
}

/*nav整改*/
.part-1-left-nav{
	float:left;
	width:226px;
}
.tabs-cnt .jclq-draw-tab {
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.tabs-cnt .jclq-draw-tab thead td {
    background: #fff2c9;
    line-height: 25px;
}
.tabs-cnt .jclq-draw-tab td {
    padding: 5px 0;
    border-left: 1px #fff solid;
}
.tabs-cnt .jclq-draw-tab .bgcolor {
    background: #f2f2f2;
}

.zdqc-table .show-details {
    background: url(../images/joint/lhc_allbg.gif) -854px -197px no-repeat;
    width: 45px;
    height: 22px;
    line-height: 22px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
}
.zdqc-table input.jointNum {
    width: 38px;
    height: 19px;
    background: #fff url(../images/joint/ssq_text_bg.png) no-repeat left;
    text-indent: 3px;
    vertical-align: middle;
    border: 1px solid #999999;
    line-height: 18px;
    color: #999;
    margin: 0 5px;
}
.match_CQSSC,.match_TJSSC,.match_XJSSC{
	background: #32a932;
}
.match_BJSC,.match_XYFT,.match_SFSC{
	background: #8080ff;
}
.match_GD11X5,.match_SH11X5,.match_SD11X5,.match_JX11X5{
	background: #0080ff;
}
.match_FFC,.match_EFC,.match_WFC{
	background: #ff8000;
}
.match_PCEGG,.match_JND28{
	background: #804040;
}
.match_HEBK3,.match_JLK3,.match_GXK3,.match_AHK3,.match_HBK3,.match_JSSB3,
.match_BJK3,.match_GSK3,.match_FFK3,.match_WFK3,.match_SHHK3,.match_JXK3{
	background: #808080;
}
#model_body {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 0px;
    padding: 15px;
    position: relative;
}
#model_body table {
    width: 100%;
}
#model_body table tr th, #model_body table tr td {
    border: 1px solid #EABF8F;
    font-size: 12px;
}
#model_body table tr th {
    background: #FF9726;
    font-weight: bold;
    line-height: 30px;
    color: white;
}
#model_body table tr td {
    line-height: 28px;
    text-align: center;
}
.layui-layer-page .layui-layer-content {
    overflow: hidden !important;
}

/*footer*/
.yhdfoot {
    margin-top: 10px;
    border: 1px solid #ddd;
    height: 60px;
    padding: 10px;
    background: #fafafa;
}
.yhdfoot li {
    float: left;
    width: 203px;
    border-right: 1px solid #ebebeb;
    padding: 7px 0 5px 30px;
    color: #666;
    height: 48px;
    line-height: 28px;
}
.yhdfoot li strong {
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    display: block;
}
.ad_aczd {
    position: relative;
    width: 500px;
    height: 100px;
    margin-top:5px;
   	overflow: hidden;
}
.ad_aczd .ad_hd {
    background-position: 0 -38px;
}
.ad_aczd img{
	max-height: 100px;
	max-width: 500px;
}
.ad_aczd ul{
	position: absolute;
}
.ad_aczd ul li {
	margin-top:5px;
}
.ad_aczd ul li strong {
    display: block;
}
.ad_aczd a {
    color: #a07204;
    display: inline-block;
}
.bhtit {
    background-position: -184px -23px;
}
.bttit {
    background-position: -184px -59px;
}
.zhtit {
    background-position: -184px -95px;
}
.icotit {
    width: 34px;
    height: 34px;
    position:absolute;
    left:10px;
    top:1px;
    background-image: url(http://r.aicai.com/v2/images/third/hupu/index/tit.png?v=20161010001);
    background-repeat: no-repeat;
}

/*header修改*/
.header-plus .cf{
	height: 60px;
    width: 990px;
    margin: 0 auto;
    position: relative;
    padding-top:30px;
}
.header-plus .logo {
    float: left;
    width: 228px;
    height: 50px;
    margin:5px 0px;
    overflow: hidden;
}
.header-plus .logo img{
	width:126px;
	height:51px;
}
.header-plus .topBanner {
    width: 515px;
    height: 50px;
    overflow: hidden;
    margin: 5px 0;
    display: inline-block;
}
.header-plus .topBanner img{
	max-width: 515px;
    max-height: 50px;
    width: 515px;
}
.header-plus .kefuwrapper {
/*     width: 275px; */
    height: 35px;
    position: absolute;
    top: 43px;
    right: 0;
}
.header-plus .kefu {
    float: right;
/*     width: 275px; */
    height: 34px;
    position: relative;
    zoom: 1;
}
.header-plus .kefu .ol-kf,.header-plus .kefu .ol-wf {
    width: 105px;
    height: 32px;
    border: 1px solid #EFEFEF;
    background: #F7F7F7;
    line-height: 18px;
    border-radius: 3px;
    position: absolute;
    right: 0;
    top: 0;
}
.header-plus .kefu .ol-kf .chat2serv,.header-plus .kefu .ol-wf .chat2serv {
    position: relative;
    display: inline-block;
    height: 32px;
    width: 105px;
}
.header-plus .cf i{
	background-image: url(../images/header_icon.png);
    background-repeat: no-repeat;
}
.header-plus .kefu .ol-kf i {
    display: inline-block;
    width: 15px;
    height: 18px;
    background-position: 0 -15px;
    line-height: 18px;
    position: absolute;
    top: 8px;
    left: 14px;
}
.header-plus .kefu .ol-wf i {
    display: inline-block;
    width: 15px;
    height: 18px;
    background-position: 0 -223px;
    line-height: 18px;
    position: absolute;
    top: 8px;
    left: 14px;
}
.header-plus .kefu .refillin {
    display: inline-block;
    width: 105px;
    height: 32px;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
}
.header-plus .kefu a {
    color: #626262;
    z-index: 2;
    display: inline-block;
    width: 63px;
    height: 32px;
    padding-left: 42px;
    line-height: 32px;
    zoom: 1;
}
.header-plus .cf>ul{
	float:left;
	height:60px;
	overflow: hidden;
}
.header-plus .kefu .ol-wf {
    color: #626262;
    height: 32px;
    position: absolute;
    top: 0;
    right: 128px;
}

.plus-mar-left{overflow:hidden; word-break:keep-all; white-space:nowrap;}
.plus-mar-left ul{list-style:none; margin:0; padding:0; display:inline-block; *display:inline; zoom:1;}
.plus-mar-left li{display:inline-block; *display:inline; zoom:1; text-indent:15px;}

.plus-mar-top{overflow:hidden; word-break:keep-all; white-space:nowrap;}
.plus-mar-top ul{list-style:none; margin:0; padding:0;  line-height:40px;}
.plus-mar-top li{ padding-right:10px;}

.plus-mar-bottom{overflow:hidden; word-break:keep-all; white-space:nowrap; position:relative;}
.plus-mar-bottom ul{list-style:none; margin:0; padding:0;  line-height:40px; position:relative;}
.plus-mar-bottom li{ padding-right:10px;}

.plus-mar-up{overflow:hidden;}
.plus-mar-up ul{list-style:none; margin:0; padding:0;  line-height:40px;}

.plus-mar-down{overflow:hidden; position:relative;}
.plus-mar-down ul{list-style:none; margin:0; padding:0; position:relative;}


/*改写首页快捷投注号码背景图*/
.index_kj_bg{
	background: url(../images/balls_bg.png) no-repeat;
}
.mark_01,.mark_02,.mark_07,.mark_08,.mark_12,.mark_13,.mark_18,.mark_19,.mark_23,.mark_24,.mark_29,.mark_30,.mark_34,.mark_35,.mark_40,.mark_45,.mark_46{
	 background-position:  3.5px -158.5px;
}
.mark_03,.mark_04,.mark_09,.mark_10,.mark_14,.mark_15,.mark_20,.mark_25,.mark_26,.mark_31,.mark_36,.mark_37,.mark_41,.mark_42,.mark_47,.mark_48{
	  background-position:  -40.5px -158.5px;
}
.mark_05,.mark_06,.mark_11,.mark_16,.mark_17,.mark_21,.mark_22,.mark_27,.mark_28,.mark_32,.mark_33,.mark_38,.mark_39,.mark_43,.mark_44,.mark_49{
	  background-position:  -84px -158.5px;
}
.bg_icon{
	background-position: -302.5px -76px;
}

/*两侧导航*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
}

.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
}

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}