blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5,
	h6, img, input, li, ol, p, pre, td, textarea, th, ul {
	padding: 0;
	margin: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, i, strong, th, var {
	font-weight: normal;
	font-style: normal;
}

li, ol, ul {
	list-style: none;
}

.kaijiangjl {
	clear: both;
	width: 1200px;
	margin: 20px auto 0;
	background: #ffffff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #555555;
	padding-bottom: 30px;
}

.kaijiangjl .listcontent {
	margin-top: 30px;
}

.kaijiangjl .listcontent .row {
	height: 160px;
	width: 100%;
}

.kaijiangjl .listcontent .row .rowl, .kaijiangjl .listcontent .row .rowr
	{
	float: left;
	width: 540px;
	height: 100%;
	margin: 0 30px;
	border-bottom: 1px solid #e6e6e6;
}

.kaijiangjl .listcontent .row .divl, .kaijiangjl .listcontent .row .divr
	{
	float: left;
}

.kaijiangjl .listcontent .row .divr {
	height: 100%;
	width: 391px;
	margin: 0 30px 0 15px;
}

.kaijiangjl .listcontent .row .divr ul {
	width: 100%;
	height: 100px;
	margin: 35px 0px;
	text-align: center;
	padding-top: 15px;
}

.kaijiangjl .listcontent .row .divr ul li {
	float: left;
	margin-bottom: 10px;
	font-size: 14px;
	margin-right: 20px;
}

.kaijiangjl .listcontent .row .divr ul li a {
	color: #666666;
}

.kaijiangjl .listcontent .row .divr ul li a:hover {
	color: #fa8e19;
}
.kaijiangjl .listcontent .row img {
    margin-top: 29px;
    display: inline-block;
}