@CHARSET "UTF-8";
body {
    font-size: 12px;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, img, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

/*fieldset, img {*/
    /*border: 0;*/
/*}*/

/*img, input, select {*/
    /*vertical-align: middle;*/
/*}*/

div {
    display: block;
}

a{
    text-decoration: none;
    cursor: pointer;
    /*color: #555;*/
}
/*a:link, a:visited {*/
    /*color: #555;*/
/*}*/

th,td{
    text-align: center;
}

canvas {
    -webkit-user-select:none;
}
