@CHARSET "UTF-8";
.chart_table_search_wrapper {
    position: relative;
    width: 984px;
    margin: 10px auto;
    background: #F7F7F7;
    height: 28px;
    border: #DFE6E9 solid 1px;
    padding: 5px 0 0 0;
}

.refresh_button {
    background: url(../images/shuaxin.png) no-repeat;
    width: 48px;
    height: 20px;
    border: none;
    text-align: center;
    line-height: 20px;
    margin-left: 20px;
    display: inline;
    vertical-align: top;
}

.select_by_day {
    float: right;
    margin-right: 100px;
    display: inline;
}

.search_left {
    float: left;
    padding-left: 15px;
    line-height: 28px;
}

.search_left strong {
    margin: 0 4px;
    color: red;
}

.search_right {
    float: right;
    padding-right: 15px;
    line-height: 28px;
}

.search_right form {
    display: inline;
}

.search_right .input {
    width: 60px;
    margin: 0 4px;
    border: #BAE2F9 solid 1px;
    vertical-align: middle;
}

.chart_table_wrapper {
    position: relative;
    width: 984px;
    margin: 10px auto;

    box-shadow: 2px 2px 6px #666;
    -webkit-box-shadow: 2px 2px 6px #666;
    border-radius: 5px;
}

.chart_table_menu {
    /*border: 1px solid #AAA;*/
    height:24px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1mm;
    background: #f7f7f7;
    /* TODO:新版走势图标注形式选择样式，暂时不删除 */
    /* background: #CCC url(https://static.lecai.com/trend/static/images/js/chart_table/bg_highlight_cccccc_1x100.png) 50% 50% repeat-x; */

    /*-moz-border-radius-topleft: 4px;*/
    /*-webkit-border-top-left-radius: 4px;*/
    /*border-top-left-radius: 4px;*/
    /*-moz-border-radius-topright: 4px;*/
    /*-webkit-border-top-right-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
}

.chart_table_menu input {
    cursor: pointer;
}

.chart_table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.chart_table_thead_tfoot {
    border: 1px solid lightGrey;
    background:#dff3ff;
    /* TODO:新版走势图背景图片，暂时不删除 */
    /* background: #E6E6E6 url(https://static.lecai.com/trend/static/images/js/chart_table/bg_glass_e6e6e6_1x400.png) 50% 50% repeat-x; */
    font-weight: normal;
    color: #555;
}

.th_order_up, .th_order_down {
    margin: 0 0 2px 0;
}

.chart_table_td {
    line-height: 20px;
    border: 1px solid lightGrey;
}

.chart_table_tr_statistic, .chart_table_tr_statistic_current_omission {
    vertical-align: bottom;
}

.chart_table_tr_statistic {
    display: none;
}

.chart_table_tr_statistic_current_omission td {
    vertical-align: bottom;
}

.chart_table_tr_statistic_current_omission img {
    width: 8px;
    vertical-align: bottom;
}

.chart_table_td_statistic_search {
    text-align: right;
}

.td_show {
    color: #decdd7;
}

.chart_table_tr_statistic_current_omission .td_center {
    vertical-align: middle;
}

.td_layer_1_5 {
    background: #C8C8C8;
    color: #5B0000;
}

.td_layer_6_11 {
    background: #D5D5D5;
    color: blue;
}

.td_layer_12 {
    background: #E7E7E7;
    color: red;
}

.border_right {
    border-right: 2px solid lightGrey;
}

.border_bottom {
    border-bottom: 3px solid lightGrey;
}

.small_ball {
    position: relative;
}

.small_ball span {
    background: red;
    height: 11px;
    left: 16px;
    _left: 6px; /*ie6*/
    position: absolute;
    top: -5px;
    text-align: center;
    width: 11px;
    line-height: 12px;
}

/*x行y列图*/
.chart_table_matrix_wrapper {
    position: relative;
    width: 982px;
    margin: 10px auto;
    border: 1px solid lightGrey;

    box-shadow: 2px 2px 6px #666;
    -webkit-box-shadow: 2px 2px 6px #666;
    border-radius: 5px;
}

.chart_table_matrix {
    width: 100%;
}

.chart_table_matrix td {
    /*vertical-align: top;*/
    /*width: 20%;*/
    border-bottom: none;
    border-right: none;
}

.child_matrix {
    /*background: #DCE6EC;*/
    margin: 10px 30px;
    border: 0px;
    /*border-top: 1px solid #DCE6EC;*/
    /*border-left: 1px solid #DCE6EC;*/
}

.child_matrix td {
    border: 1px solid #DCE6EC;
    /*border-bottom: 1px solid #DCE6EC;*/
    /*border-right: 1px solid #DCE6EC;*/
    /*border-left: 1px solid #DCE6EC;*/
}

.child_matrix .tr_phase {
    background: #DBF2FF;
    color: #0170B6;
    padding: 1px;
}

.child_matrix .td_cell {
    width: 22px;
}

.matrix_paint_default {
    background: #ddd;
}

.matrix_paint_four_area {
    background: #5ef59e;
}

.matrix_paint_number {
    background: #ffcc33;
}

/*common class*/

.ball_red1 {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_red2 {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_red3 {
    background:red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_red4 {
    background:red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_blue1 {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_blue2 {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t1 {
    background:red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t2 {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t3 {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t4 {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t5 {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t6 {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t7 {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t8 {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.ball_t9 {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}

.gold_ball {
    background: #FFF url(../images/newBallGold.png) no-repeat center center;
    text-align: center;
    color: #FFF;
}

.red_ball {
    background: #FFF url(../images/newBall.png) no-repeat center -68px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.blue_ball {
    background: #FFF url(../images/newBall.png) no-repeat center -23px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.yellow_ball {
    background: #FFF url(../images/newBall.png) no-repeat center -46px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

.orange_ball {
    background: #FFF url(../images/newBall.png) no-repeat center -110px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}
/* 当有快速投注且无最近一期开奖号码分析时，blue_ball用这个class代替 */
.hot11 {
    background: #FFF url(../images/newBall.png) no-repeat center -23px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.trend_red {
    color: #ff0000;
    background-color: #fedec6;
    font-weight: bold;
}

.trend_blue {
    color: blue;
    background: #C2D5FE;
    font-weight: bold;
}

.trend_light_blue {
    color: white;
    background: #3DAAFD;
    font-weight: bold;
}

.trend_green {
    color: green;
    background: #E0F7E2;
    font-weight: bold;
}

.trend_orange {
    color: white;
    background: #FEA53D;
    font-weight: bold;
}

.trend_gray {
    color: black;
    background: #808080;
    font-weight: bold;
}

.trend_tail {
    background-color: #96C171;
    font-weight: bold;
}

.trend_consecutive {
    background: red;
    text-align: center;
    font-weight: bold;
}

.trend_big_small{
    background: red;
    text-align: center;
    font-weight: bold;
}

.trend_odd_even{
    background: red;
    text-align: center;
    font-weight: bold;
}

.trend_prime_composite {
    background: red;
    text-align: center;
    font-weight: bold;
}

.trend_012 {
    background: red;
    text-align: center;
    font-weight: bold;
}

/*五行走势背景颜色*/

.trend_gold {
    background: #FFC000;
    color: white;
}

.trend_wood {
    background: #00A413;
    color: white;
}

.trend_water {
    background: #00C0FF;
    color: white;
}

.trend_fire {
    background: #FE1200;
    color: white;
}

.trend_earth {
    background: #8A4100;
    color: white;
}

.three_consecutive_number {
    background: #F3F2F2 url(../images/newBall.png) no-repeat center -110px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.repeat_number {
    background: #F3F2F2 url(../images/newBall.png) no-repeat center -47px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.consecutive_number {
    background: #F3F2F2 url(../images/newBall.png) no-repeat center 1px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.side_number {
    background: #F3F2F2 url(../images/newBall.png) no-repeat center -89px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.empty_area{
    background-color: #FDD2C6;
    color: #D16630;
}

.empty_area_single{
    background: #D4E0EC;
    color: #005EB4;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.font_size_9 {
    font-size: 9px;
}

.nowrap {
    white-space: nowrap;
}

/* 冷热分析 */
.cold_hot_red_ball_background {
    background:red;
}

.cold_hot_table_wrapper table {
    margin-bottom: 20px;
}

.cold_hot_table_wrapper table td {
    line-height: 20px;
}

.cold_hot_title_div {
    line-height: 22px;
    margin: 10px 0 0;
    padding-left: 10px;
    position: relative;
}

.cold_hot_table_wrapper {
    position: relative;
    width: 984px;
    margin: 10px auto;
    border-radius: 5px;
}

.cold_hot_bar_tr {
    vertical-align: bottom;
    height: 70px;
}

.cold_hot_bar_tr td img {
    vertical-align: bottom;
}

.cold_hot_number_tr td {
    background: red;
    color: #333333;
    line-height: 24px;
    height: 24px;
}

.cold_hot_number_tr td.td1 {
    background: #FFF none;
    color: #000;
    /*width: 50px;*/
}

.cold_hot_hit_count td {
    background:#cdecfd;
}

.cold_hot_blue_ball_background td {
    background:red;
}

/* 背景颜色 */
.background_color_feffef {
    background-color: #FEFFEF;
}

.background_color_fcfefd {
    background-color: #FCFEFD;
}

.background_color_eef5fd {
    background-color: #EEF5FD;
}

.background_color_ecedff {
    background-color: #ECEDFF;
}

/* 杀号 */
.current_phase_kill_background{
    background: #FE1200;
    color: white;
}
.kill_all_right {
    background: red;
    color: white;
    font-weight: bold;
    border: 1px solid lightGrey;
}

.kill_background {
    background: #E7E7E7;
}

.kill_strong {
    font-weight: bold;
    color: red;
}

/*
    免责声明样式
*/

.disclaimer {
    background:#1B90E0!important;
    color:white;
    font-weight:bold;
}

/*
    大小、奇偶、质合号码分布深色区域未命中球背景
*/

.deep_background{
    background-color: #FDD2C6;
    color: #960;
}

/*
    大小、奇偶、质合号码分布深色区域命中球背景
*/

.deep_hit_background{
    background:red;
    text-align: center;
    color: white;
    font-weight: bold;
}

/*
    大小、奇偶、质合号码分布浅色区域未命中球背景
*/

.light_background{
    background-color: #FFEFD9;
    color: #B82E2E;
}

/*
    大小、奇偶、质合号码分布浅色区域命中球背景
*/

.light_hit_background{
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
}