@CHARSET "UTF-8";
.clear{ clear: both;}
a{color: #005AA0;}

.main{width: 986px; margin: 0 auto;}

/*.top_nav{background: url(../images/top_nav_bg_68.gif) repeat-x; height: 66px; line-height:31px; border: 1px #DBDBDB solid;background-position:0 2px; padding-left: 10px; margin-top: 10px;}*/
/*.top_nav .fc_list,.top_nav .tc_list{background: url(../images/lottery_logo_bg.gif) 0 6px no-repeat; height:34px; padding-left: 25px; float: left;}*/
/*.top_nav .tc_list{background: url(../images/lottery_logo_bg.gif) 0 -95px no-repeat; margin-left: 15px;}*/
/*.top_nav .szc_list,.top_nav .gpc_list{background: url(../images/lottery_szgp_logo_bg.gif) 0 7px no-repeat; height:31px; padding-left: 70px; float: left;}*/
/*.top_nav .gpc_list{background: url(../images/lottery_szgp_logo_bg.gif) 0 -41px no-repeat;}*/
/*.top_nav li{float: left;}*/
/*.top_nav li.on a{color: #FF0000;}*/
/*.top_nav li a{color: #777777; margin-right: 10px;}*/
/*.top_nav li a:hover{text-decoration: none;}*/
/*.top_nav li a:hover{text-decoration: none;}*/
/*.top_nav .gpc_list li a{margin-right: 2px;}*/
/*.top_nav li a:hover,.top_nav li a:visited{text-decoration: none;color: #777777;}*/

.top_new_nav{
    background: url(../images/top_nav_bg_97.png) repeat-x 0 1px;
    /*background-position: 0 2px;*/
    height: 97px;
    line-height:31px;
    border: 1px #DBDBDB solid;
    padding: 0 10px;
    margin-top: 10px;
}

.top_new_nav li.on a{color: #FF0000;}
.top_new_nav li a{color: #777777;}
.top_new_nav li a:hover{text-decoration: none;}

.szc_nav_container{
    height:31px;
    border-bottom: 1px #DBDBDB solid;
}

.szc_nav_container li{
    height: 31px;
    float: left;
    text-align:center;
    margin-right: 25px;
}


.szc_nav_container .szc_nav_bg{
    background: url(../images/lottery_szgp_logo_bg.png) 0 3px no-repeat;
    width: 90px;
}

.gpc_nav_container{
    height: 65px;
}

.gpc_nav_container li{
    float: left;
}
.gpc_nav_container .gpc_nav_bg{
    background: url(../images/lottery_szgp_logo_bg.png) 0 -31px no-repeat;
    height: 65px;
    width: 100px;
}

.gpc_nav_container .gpc_ul_list ul li{
    height: 32px;
    text-align:center;
    margin-right: 15px;
}

.bottom_dashed{
    height: 32px;
    width: 862px;
    border-bottom: 1px dashed #D8D7D7;
}


.lottery_nav{ width:984px; margin: 10px auto; border: 1px #DEDEDE solid;}
.lottery_nav .nav_top{background: url(../images/top_nav_bg_28.gif) repeat-x; height: 28px; line-height:28px; padding-left: 15px;}
.lottery_nav .nav_top h1{color: #777777; font-size:14px; float: left;}
.lottery_nav .nav_top .nav_link{float: right; padding-right: 10px;}
.lottery_nav .nav_top .nav_link a{margin-right: 8px;}
.lottery_nav .nav_top ul{float: left; margin-left: 10px; border-left: 1px #DBDBDB solid;}
.lottery_nav .nav_top li{float: left; width: 72px; text-align: center; border-right: 1px #DBDBDB solid; height:27px;}
.lottery_nav .nav_top li a{font-size: 14px; color: #767676; }
.lottery_nav .nav_top li a:hover{text-decoration: none;}
.lottery_nav .nav_top li.on{background: url(../images/lhc_allbg.gif) -415px -198px no-repeat; height:28px; position: relative;}
.lottery_nav .nav_top li.on a{color: #E60012; font-weight: bold;}

.lottery_nav .nav_main{margin:5px 0 5px 10px; text-align: right; padding-right: 15px;}
.lottery_nav .nav_main dt{float: left; font-weight: bold;}
.lottery_nav .nav_main .feedback{ color: #FF0000;}
.lottery_nav .nav_main .analysis_list li{float: left; color: #333333;font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;}
.lottery_nav .nav_main .analysis_list li a{margin:0 8px; color: #333333;}
.lottery_nav .nav_main .analysis_list li a:hover{text-decoration: none;}
.lottery_nav .nav_main .analysis_list li.on a{color: #FFFFFF; background: #FF0000; padding: 2px;}

.parameter_draw_wrapper{width:984px; margin: 10px auto;}
.tab_foot{ background:#f8f8f8; border:#e0eef6 solid 1px;float:left;width: 984px;}
.tab_foot h4{ background:#e5f4fd; font-size:12px; height:25px; line-height:25px; padding-left:15px;border-bottom:#e0eef6 solid 1px;}
.tab_foot p{ padding:10px 20px; line-height:22px;}

.draw_main{ float: left; margin-left: 10px; display:inline; width: 470px; background: #F3F3F3; border: 1px #E0EEF6 solid;}
.draw_main .draw_title{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #E5F4FD;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #E0EEF6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding-left: 15px;}
.draw_main .draw_left{ width: 201px;}
.draw_main .draw_left .draw_link{ margin-top: 35px;padding: 1px;width: 201px;}
.draw_main .draw_left .winning_box{width: 201px; margin-top: 10px; padding: 1px;}
.draw_main .draw_left .winning_box .winning_title{width: 201px; height:25px;}
.draw_main .draw_left .winning_box .winning_title span{padding-right: 20px; margin-right: 5px; display: block;  color: #333333; text-align: left;}
.draw_main .draw_left .winning_box .winning_list{width: 201px; height:73px; float: left;}
.draw_main .draw_left .winning_box .winning_list li{line-height: 24px; padding-left: 5px; color: #333333;}
.draw_main .draw_left .winning_box .winning_list li.bgcolor{}
.draw_main .draw_left .winning_box .winning_button{margin-left: 20px;margin-top: 10px;width: 141px; height:73px; float: left;display: inline;}
.draw_main .draw_left .winning_box .winning_button img.wyyzdj{margin-top: 8px; margin-left: 10px;}
.draw_main .draw_left .winning_box .winning_button a.button{background: url(../images/btn_bg.gif) no-repeat; display: block; width: 109px; height: 33px; margin-left: 10px; margin-top: 3px;}
.draw_main .draw_left .winning_box .winning_button a.button2{background: url(../images/btn_bg.gif) 0 -64px no-repeat; display: block; width: 109px; height: 33px; margin-left: 20px; margin-top: 10px;}
.draw_main .draw_left .winning_box .winning_button .link{margin-left: 15px; margin-top: 5px;}



.draw_main .draw_right{ width: 252px;}
.draw_main .draw_right .column_box{width: 252px; margin-top: -1px; padding-bottom: 0px;}
.draw_main .draw_right .column_box .column_title{background: url(../images/lottery_bg.gif) 0 -200px no-repeat; height: 29px; line-height: 29px; border-right: 1px solid #E3E3E3;}
.draw_main .draw_right .column_box .column_title span{float: left; margin-left: 10px; color: #333333; font-weight: bold;}
.draw_main .draw_right .column_box .column_title .draw_phase{padding-left: 10px;}
.draw_main .draw_right .column_box .column_title .more{float: right; font-weight: normal; margin-right: 10px; display: inline;}
.draw_main .draw_right .column_box .column_main{border: 1px #E3E3E3 solid; padding-bottom: 10px; background: #FFFFFF; border-left: none;}
.draw_main .draw_right .column_box .draw_cms{ border-bottom: none;}

.draw_main .draw_right .none_margin_top{margin-top: 0px;}

.draw_main .draw_right .column_box .draw_info{padding: 28px 16px; background: #F8F8F8;}
.draw_main .draw_right .column_box .draw_info .darw_info_list li{height: 26px; line-height: 26px; border: 1px #FFB684 solid; border-bottom: none; padding-left: 10px; background: #FEFEC1;}
.draw_main .draw_right .column_box .draw_info .darw_info_list li.last{border-bottom: 1px #FFB684 solid;}
.draw_main .draw_right .column_box .draw_info .lotteryslogon {text-align: center;margin-top:20px;}

.draw_main .draw_right .column_box .draw_cms_list{margin: 10px 10px 0; white-space: nowrap;}
.draw_main .draw_right .column_box .draw_cms_list li{margin-left: 15px; list-style-image: url(../images/list_style.gif); line-height: 22px;}
.draw_main .draw_right .column_box .draw_cms_list li a{color: #333333;text-decoration: none;}
.draw_main .draw_right .column_box .draw_cms_list li a:hover{text-decoration: none; color: #FF0000;}

#baidu_clb_slot_148305 {
    margin: 10px auto 0 auto;
    width:986px;
}

.trend_yydb_out{width:984px;height:110px;position:relative;margin: 10px auto 0 auto;border:1px solid #dbdbdb;}
.trend_yydb_out .trend_yydb_item{float:left;display: inline;}
.trend_yydb_out .item_L{width:320px;}
.trend_yydb_out .item_M{width:330px;}
.trend_yydb_out .item_R{width:334px;}
.trend_yydb_out .trend_yydb_icon{position:absolute;left:-1px;top:-4px;z-index:2;display: block;width: 90px;height: 50px;background:url(https://static.lecai.com/trend/static/images/trend-yytb.png);_background:url(https://static.lecai.com/trend/static/images/trend-yytb.gif);}
.trend_yydb_out .trend_yydb_link{position:absolute;right:5px;bottom:0;z-index:2;line-height:24px;}
.trend_yydb_out .trend_yydb_link a{color:#999;font-size:12px;}
#LHC-Slot-Container-317{width:320px;}
#LHC-Slot-Container-318{width:330px;}
#LHC-Slot-Container-319{width:334px;}



