@charset "utf-8";
/* CSS Document */

/*標準化 star **********************************/
/*margin padding 標準化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td
{margin:0;padding:0;}
/*標題 font-size 的標化*/
h1,h2,h3,h4,h5,h6
{font-size:100%}
/*移除清單list-style樣式*/
ol,ul
{list-style:none;}
/*font-style,font-weight*/
address,caption,cite,code,dfn,em,strong,th,var
{font-style:normal; font-weight:normal;}
/*del table border*/
table
{border-collapse:collapse;border-spacing:0;}
/*del fieldset and img border*/
fieldset,img
{border:0;}
/*caption and th text-align:left*/
caption,th
{text-align:left;}
/*del q的引號*/
q:before,q:after
{content:'';}
/***********************************標準化 end***/

/*主要區塊*/
body{
	background:url(../images/result/bg.jpg) top center repeat-y #808590;	
	font-family:"新細明體";
	font-size:12px;
	color:#fff;
	width:auto; 
	}
#mainbody{
	margin:0 auto;
	width:1000px;
	}
#page_header{
	position:relative;
	width:1000px;
	height:160px;
	float:left;
        _margin-left: 24px;
}
#header_title{
	width:1000px;
	height:100px;
	float:left;
}
#page_container{
	width:1000px;
	float:left;
	height:auto;
	}
#page-footer {
	height:137px;
	width: 100%;
	background:url(../images/result/footer_bg.jpg) top center no-repeat;
	margin:0 auto;
	float: left;
}
#footer {
	height:30px;
	width:1000px;
	margin:50px auto 0 auto; 
	color:#333333;
	font:Verdana, Geneva, sans-serif;
	text-align:center;
}
	


/*遊戲 項目按鈕 STAR-----------------------------------*/
#gamecon{
	width:1000px;
	height:60px;
	background:url(../images/result/GamaArea_bg.jpg) top left no-repeat;
	float:left;
	}
TABLE {	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px}
TD {	FONT-SIZE: 12px}

.blk_29 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 10px;
	OVERFLOW: hidden;
	PADDING-TOP:5px;
	ZOOM: 1;
	POSITION: relative
}
.blk_29 .LeftBotton {
	FLOAT: left;
	WIDTH: 14px;
	CURSOR: pointer;
	POSITION: absolute;
	TOP: 0;
	HEIGHT: 23px;
	background-image:url(../images/result/game_btn.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin:19px 1px 0 1px;
        *margin:19px 1px 0 -18px;
}
.blk_29 .RightBotton {
	RIGHT: 1px;
	FLOAT: right;
	WIDTH: 14px;
	CURSOR: pointer;
	POSITION: absolute;
	TOP: 0;
	HEIGHT: 23px;
	background-image: url(../images/result/game_btn.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin:19px 0 0 0;
}
.blk_29 .Cont {
	MARGIN: 0 auto 0 18px;
	OVERFLOW: hidden;
	WIDTH: 966px
}
.blk_29 .box { WIDTH: 200px; height:49px; TEXT-ALIGN: center;margin:0 auto;	}

.blk_29 .box a{
	FLOAT: left; WIDTH: 200px; height:49px; 
	/*background:url(../images/result/nav.jpg) top left no-repeat;*/
	line-height:49px;
	text-decoration:none;
	color:#0a5e3a;font-size:20px;font-weight: bold;}

/*.blk_29 .box a:hover
{FLOAT: left; WIDTH: 135px; height:49px; 
	BORDER:0;
	background:url(../images/result/nav_h.jpg) top left no-repeat;
	color:#FFF;
}*/
.blk_29 .box P {	MARGIN: 5px auto 0px; WIDTH: 97px; LINE-HEIGHT: 20px}
.rollphotos {
	WIDTH:1000px;
	padding-top:0px;
}
/*遊戲 項目按鈕 END-----------------------------------*/



/*規則說明 STAR----------------------------*/
#game_ruleArea{
	float:left;
	width:1000px;
	height:auto;
	}
#game_title{
	float:left;
	width:1010px;
	height:80px;
        _margin-left: 24px;
	}
#title_left{
	float:left;
	height:80px;
	width:385px;
	}
#title{
	float:left;
	width:469px;
	height:80px;}
#title_right{
	float:left;
	width:146px;
	height:80px;
	}

.rule_title{
	margin:0 55px;
	width:890px;
	height:32px;
	float:left;}

	
.rule_from01{
	float:left;
	margin:0 55px;
	width:890px;
	height:9px;
	background:url(../images/result/pic_from01.gif) top left no-repeat;}
.rule_from02{
	width:890px;
	height:auto;
	margin:0 55px;
	background:url(../images/result/pic_from02.gif) top left repeat-y;
	float:left;
	color:#000;
	line-height:20px;
	}
.rule_from03{
	width:890px;
	height:9px;
	background:url(../images/result/pic_from03.gif) top left no-repeat;
	float:left;
	margin:0 55px;}

.game_subtitle{
	float:left;	
	width:980px;
	height:17px;
	float:left;
	margin:5px 0 0 10px;
	color:#300;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	line-height:17px;
}

a.btn_top{
	width:47px;
	height:16px;
	background:url(../images/result/pic_top.gif) top left no-repeat;
	float:right;
	margin-right:55px;
	}

li {vertical-align:top;}
/*規則說明 END----------------------------*/

/*historyResult*/
.pubTab tr td a{font-weight: bold;color:#8968CD;text-decoration: none;cursor: pointer;}
.pubTab tr td a:hover{text-decoration: underline;}
.wcont-tit .his_left{float:left;}
.wcont-tit .his_pa{margin-right:10px;margin-top:6px;}
.wcont-tit .orderSearch{border:1px solid #ffffff;border-radius:5px;padding:0px 10px;cursor: pointer;}
.wcont-tit .orderSearch:hover{color:#000000;font-weight: bold;border:1px solid #000000;}
#ac-account-page a{color:#8968CD;text-decoration: none;cursor: pointer;}
#ac-account-page a:hover{font-weight:bold;}
.wcont-tit .selDate{border:1px solid #ffffff;border-radius:5px;padding:0px 5px;cursor:pointer;float:left;line-height: 21px;}
.wcont-tit .date{width:130px;}
.wcont-tit .selDate:hover{border:1px solid #004080;font-weight: bold;color: #004080;}

html {
    overflow-y: scroll;
}

body {
    font-size: 12px;
    color: #000000;
    line-height: 18px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
}

h2 {
    border-top: 3px solid #8e1914;
    margin: 0;
    padding: 0 0 0 23px;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    background: #ff6600 url('../images/result/rule_icon1.gif') left no-repeat;
    height: 25px;
    line-height: 25px;
    display: block;
    width: 94%;
}

.rule_from02 {
    padding-left: 40px;
}

    .rule_from02 h2 {
        margin-left: -30px;
    }

    .rule_from02 p, .rule_from02 li {
        width: 94%;
    }

ul {
    margin: 7px 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    clear: both;
}

ol {
    list-style: decimal;
}

li {
    display: list-item;
}

.subtitle2 {
    text-align: center;
}

.style1 {
    color: #FF0000;
}

.style7 {
    color: #060;
}

.style9 {
    color: #0000FF;
}

.style8 {
    color: #006633;
}
.wcont-tit {
    background: #999ca1;
    color: #f7f3f3;
    padding: 0px 10px;
    overflow: hidden;
    text-align: center;
    height: 60px;
    line-height: 23px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}

.wcont-tit select{
  	border: 1px solid #ccc;
    font-size: 12px;
    height: 24px;
    padding: 2px;
    width: 100px;
}
.wcont-tit input{width: 140px; padding-left: 5px; font-size: 12px; font-family: '微软雅黑'; color: #999;height:21px;}

.pubTab {
    width: 100%;
}

    .pubTab th {
        background: #999ca1;
        border: #aeaeae solid 1px;
        text-align: center;
        padding: 4px;
        color: #333;
        font-size: 13px;
    }

    .pubTab .white td {
        background: #fff;
        border: #999ca1 solid 1px;
        text-align: center;
        padding: 4px;
        color: #333;
        font-size: 13px;
    }
    .pubTab  td {
        background: #ededed;
        border: #999ca1 solid 1px;
        text-align: center;
        padding: 4px;
        color: #333;
        font-size: 13px;
    }
    .pubTab .Prev {
        background: url(../images/result/game_btn.png);
        width: 14px;
        height: 23px;
        float: left;
    }
    .pubTab .Next {
        background: url(../images/result/game_btn.png);
        width: 14px;
        height: 23px;
        float: right;
        background-position: right;
    }
	  
