
body {
    background: #fffdfe none repeat scroll 0 0;
    font-family: "微软雅黑";
    font-size: 12px;
}
html, body {
    height: 100%;
}
ol, ul, li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.header {
    background: rgba(0, 0, 0, 0) url("../images/tt.gif") no-repeat scroll 0 0;
    height: 118px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
.header .login-box {
    background: rgba(0, 0, 0, 0) url("../images/memberbg.gif") no-repeat scroll 0 0;
    color: #fff;
    height: 118px;
    position: absolute;
    right: 0;
    top: 0;
    width: 308px;
}
.header .login-box .name {
    left: 15px;
    position: absolute;
    top: 20px;
}
.header .login-box .money {
    left: 125px;
    position: absolute;
    top: 20px;
}
.header .login-box .quit {
    position: absolute;
    right: 32px;
    top: 20px;
}
.header .login-box ul {
    left: 4px;
    position: absolute;
    top: 50px;
}
.header .login-box li {
    float: left;
}
.header .login-box li a {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 70px;
}
.header .login-box li span {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.header .login-box a {
    color: #fff;
}
.row {
}
.row::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#gg {
    background: rgba(0, 0, 0, 0) url("../images/gg.jpg") no-repeat scroll left center;
    height: 27px;
    margin: 0 auto;
    width: 1000px;
}
.nav {
    background-color: #e1e8f0;
    height: 45px;
    margin: 0 auto;
    width: 767px;
}
.nav a {
    background: #ece9d8 url("../images/nav_bg_002.gif") no-repeat scroll 0 2px;
    color: #000;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 5px 9px;
}
.nav2 {
    background-color: #e4e9ec;
    height: 25px;
    margin: 0 auto;
    width: 767px;
}
.nav2 a {
    color: #000;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 9px;
}
.gg {
    background: rgba(0, 0, 0, 0) url("../images/gg.jpg") no-repeat scroll left center;
    height: 27px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
.gg .gg_1 {
    color: #fff;
    left: 40px;
    position: absolute;
    top: 6px;
}
.gg .gg_2 {
    color: #ffff00;
    height: 27px;
    left: 135px;
    line-height: 28px;
    position: absolute;
    top: 0;
    width: 735px;
}
.gg .gg_3 {
    color: #ffff00;
    height: 27px;
    left: 900px;
    line-height: 28px;
    position: absolute;
    top: 0;
    width: 70px;
}
.main {
    height: 950px;
    margin: 0 auto;
    width: 1000px;
}
.sidebar {
    background: #2b8d76 none repeat scroll 0 0;
    float: left;
    height: 100%;
    min-height: 650px;
    padding-bottom: 10px;
    width: 200px;
}
.sidebar .logo {
    background: #2b8d76 none repeat scroll 0 0;
    height: 91px;
}
.sidebar .submenu ul li.menu1 {
    background: rgba(0, 0, 0, 0) url("../images/004.jpg") no-repeat scroll 0 0;
    border-bottom: 1px solid #9fd5c8;
    height: 40px;
    width: 200px;
}
.sidebar .submenu ul li.menu1 a {
    background: rgba(0, 0, 0, 0) url("../images/003.png") no-repeat scroll 41px 15px;
    color: #fffffd;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    text-indent: 5em;
    width: 200px;
}
.sidebar .submenu ul li.menu2 {
    background: #9fd5c8 none repeat scroll 0 0;
    height: 41px;
    width: 200px;
}
.sidebar .submenu ul li.menu2 a {
    background: rgba(0, 0, 0, 0) url("../images/002.png") no-repeat scroll 41px 15px;
    color: #323335;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    text-indent: 5em;
    width: 200px;
}
.content {
    float: left;
    height: 100%;
    min-height: 650px;
    width: 767px;
}
.content .cbtitle {
    background: #919191 none repeat scroll 0 0;
    color: #fff;
    height: 43px;
    position: relative;
    width: 100%;
}
.content .cbtitle .qishu {
    left: 5px;
    position: absolute;
    top: 8px;
}
.content .cbtitle .btn-list {
    position: absolute;
    right: 5px;
    top: 10px;
}
.content .cbtitle .name {
    bottom: 0;
    font-weight: bold;
    left: 5px;
    position: absolute;
}
.content .cbtitle .date {
    bottom: 0;
    left: 160px;
    position: absolute;
}
.content .cbtitle .time {
    bottom: 0;
    left: 400px;
    position: absolute;
}
.content .cbtitle .difftime {
    bottom: 0;
    position: absolute;
    right: 20px;
}
.content .cbtitle2 {
    color: #000;
    height: 75px;
    position: relative;
    width: 100%;
}
.content .cbtitle2 .qishu {
    color: #fff;
    left: 5px;
    position: absolute;
    top: 8px;
    z-index: 1;
}
.content .cbtitle2 .btn-list {
    background-color: #2b8d76;
    height: 36px;
    position: absolute;
    width: 100%;
}
.content .cbtitle2 .btn-list div {
    display: inline;
    float: right;
    margin-top: 8px;
}
.content .cbtitle2 .btn-list button {
    display: inline;
    float: left;
    margin-right: 5px;
}
.content .cbtitle2 .name {
    bottom: 5px;
    font-weight: bold;
    left: 150px;
    position: absolute;
}
#typeName {
    font-size: 16px;
    letter-spacing: 2px;
}
.content .cbtitle2 .date {
    bottom: 5px;
    left: 210px;
    position: absolute;
}
.content .cbtitle2 .time {
    bottom: 5px;
    left: 355px;
    position: absolute;
}
.content .cbtitle2 .difftime {
    bottom: 5px;
    left: 500px;
    position: absolute;
}
.content .cbtitle2 .btn-list1 {
    position: absolute;
    right: 5px;
    top: 5px;
}
.content .cbtitle2 .qishu {
    top: 10px;
}
.content .cbtitle2 .plate {
    bottom: 0;
    left: 20px;
    position: absolute;
}
.content .cbtitle2 .plate select {
    border: 1px solid #ccc;
    padding: 2px;
}
.content .cbtitle2 .btn-list2 {
    position: absolute;
    right: 5px;
    top: 32px;
}
.content .cbtitle3 {
    color: #333333;
    height: 50px;
    position: relative;
    width: 100%;
}
.content .cbtitle3 .date {
    bottom: 0;
    left: 60px;
    line-height: 50px;
    position: absolute;
    vertical-align: middle;
}
.content .cbtitle3 .date #DiffTime {
    color: #fe0000;
}
.table1 {
    border: 1px solid #c6c6c6;
    border-collapse: collapse;
    margin: 0 auto;
    width: 760px;
}
.table1 th {
    background: #e6e6e6 none repeat scroll 0 0;
    border: 1px solid #c6c6c6;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
}
.table1 td {
    border: 1px solid #c6c6c6;
    color: #333333;
    padding: 3px 2px;
    text-align: center;
}
.table1 td img {
    vertical-align: middle;
}
.table1 td input {
    border: 1px solid #abb2c5;
    font-family: "Verdana","Arial","Helvetica","sans-serif";
    font-size: 12px;
}
.table3 {
    border: 1px solid #c6c6c6;
    border-collapse: collapse;
    font-family: "宋体";
    margin: 0 auto;
    width: 210px;
}
.table3 th {
    background: #e6e6e6 none repeat scroll 0 0;
    border: 1px solid #c6c6c6;
    height: 28px;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
}
.table3 td {
    border: 1px solid #c6c6c6;
    color: #333333;
    padding: 3px 2px;
    text-align: center;
}
.table3 td img {
    vertical-align: middle;
}
.table3 td input {
    border: 1px solid #abb2c5;
    font-family: "Verdana","Arial","Helvetica","sans-serif";
    font-size: 12px;
    padding-left: 2px;
    padding-top: 1px;
}
.table3 span {
    cursor: pointer;
}
.topresult {
    background: #ece9d8 url("../images/005.jpg") no-repeat scroll 0 0;
    height: 188px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.topresult .qishu {
    height: 30px;
    left: 60px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 27px;
    vertical-align: middle;
    width: 148px;
}
.topresult .difftime {
    height: 49px;
    left: 60px;
    line-height: 49px;
    position: absolute;
    text-align: center;
    top: 88px;
    vertical-align: middle;
    width: 148px;
}
#DiffTime, #openTime, #openDate {
    color: #ffb800;
    font-weight: bold;
}
.topresult .qihao {
    height: 30px;
    left: 269px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 27px;
    vertical-align: middle;
    width: 342px;
}
.topresult .result {
    height: 49px;
    left: 269px;
    position: absolute;
    top: 88px;
    width: 342px;
}
.topresult .result div {
    color: blue;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    vertical-align: middle;
}
.tt {
    height: 37px;
    position: relative;
    width: 100%;
}
.tt div {
    display: inline;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    text-align: center;
    vertical-align: middle;
    width: 122px;
}
.ttbg1 {
    background: rgba(0, 0, 0, 0) url("../images/006.jpg") no-repeat scroll 0 0;
    color: #000;
}
.ttbg2 {
    background: rgba(0, 0, 0, 0) url("../images/007.jpg") no-repeat scroll 0 0;
    color: #feffff;
}
.bold {
    font-weight: bold;
}
.bb {
    color: #0000ff;
    font-family: Verdana,"瀹嬩綋",Arial,Sans;
    font-size: 12px;
    font-weight: bold;
}
.txx {
    margin-top: 2px;
    position: relative;
}
.tmsm {
    height: 165px;
    margin: 2px auto 0;
    position: relative;
    width: 760px;
}
.tmsm .item1 {
    left: 0;
    top: 0;
}
.tmsm .item2 {
    left: 261px;
    top: 0;
}
.tmsm .item3 {
    right: -1px;
    top: 0;
}
.tmsm .zitem1 {
    left: 48px;
    top: 0;
}
.tmsm .zitem2 {
    left: 171px;
    top: 0;
}
.tmsm .zitem3 {
    left: 294px;
    top: 0;
}
.tmsm .zitem4 {
    left: 418px;
    top: 0;
}
.tmsm .zitem5 {
    left: 541px;
    top: 0;
}
.tmsm .zitem6 {
    right: -1px;
    top: 0;
}
.table2 {
    border: 1px solid #c6c6c6;
    border-collapse: collapse;
    position: absolute;
}
.table2 th {
    background: #e6e6e6 none repeat scroll 0 0;
    height: 28px;
    text-align: center;
}
.table2 td {
    border: 0 none;
    color: #333333;
    height: 27px;
    text-align: center;
}
.table2 td input {
    border: 1px solid #abb2c5;
    font-family: "Verdana","Arial","Helvetica","sans-serif";
    font-size: 12px;
    padding-left: 2px;
    padding-top: 1px;
}
.red {
    color: red !important;
}
.red:hover {
    background-color: #ffffff;
    color: blue !important;
}
.black {
    color: black !important;
}
.redbg {
    background-color: #f5a9a9 !important;
}
.blue {
    color: blue !important;
}
.bluebg {
    background-color: #a9b9f5 !important;
}
.green {
    color: green !important;
}
.greenbg {
    background-color: #a9f5b0 !important;
}
.btn {
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
    text-align: center;
}
.btn2 {
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
    text-align: center;
}
.btn2select {
    background-color: #91a599;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    padding: 1px 5px;
    text-align: center;
}
.btn2:hover {
    border: 1px solid transparent;
    border-radius: 3px;
    color: blue;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    padding: 1px 5px;
    text-align: center;
}
.btn-ac {
    color: #ff6600;
}
.btn-add {
}
.btn-refer {
    background: #ece9d8 url("../images/refer.gif") no-repeat scroll 0 2px;
    padding-left: 16px;
}
.btn-simple {
    padding: 2px 3px;
}
.btn-sub {
    background: rgba(0, 0, 0, 0) url("../images/008.jpg") no-repeat scroll 0 0;
    border: 0 none;
    color: #e0e0de;
    cursor: pointer;
    height: 35px;
    width: 100px;
}
.submit {
    clear: none;
    margin-top: 30px;
    text-align: center;
}
.tr35 tr {
    height: 35px;
}
.submit input {
    border: 1px solid #abb2c5;
    font-family: "Verdana","Arial","Helvetica","sans-serif";
    font-size: 12px;
    padding: 2px;
}
.disable {
    background: #ddd none repeat scroll 0 0;
    cursor: pointer;
}
.hide {
    display: none;
}
.hand {
    cursor: pointer;
}
.btn-amount {
    cursor: pointer;
    padding-left: 16px;
}
.quickamount {
    height: 205px;
    position: absolute;
    width: 200px;
    z-index: 1;
}
.quickamount .quick-amount {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #ccc;
    margin: 10px auto 0;
    width: 190px;
}
.quickamount .quick-amount .title {
    background: #e6e6e6 none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.quickamount .quick-amount table {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
}
.quickamount .quick-amount td {
    border: 1px solid #ccc;
    cursor: pointer;
    font-family: Arial,Helvetica,Verdana,Geneva,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 18px;
    text-align: center;
    vertical-align: middle;
}
.quickamount .quick-amount .amount {
    border-bottom: 1px solid #ccc;
    height: 24px;
    position: relative;
}
.quickamount .quick-amount .amount .i1 {
    border-right: 1px solid #ccc;
    height: 24px;
    left: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 80px;
}
.quickamount .quick-amount .amount .i2 {
    height: 24px;
    left: 82px;
    position: absolute;
    top: 2px;
}
.quickamount .quick-amount .amount input {
    border: 1px solid #abb2c5;
    height: 18px;
    padding: 1px 0 0 2px;
    width: 77px;
}
.quickamount .quick-amount .amount .radio {
    border: 1px solid #abb2c5;
    height: 18px;
    padding: 1px 0 0 2px;
    width: 25px;
}
.quickamount .quick-amount .action {
    padding: 2px;
    text-align: center;
}
.quickamount .quick-amount .action button {
    cursor: pointer;
}
.quickbar {
    float: left;
    width: 200px;
}
.quickbar .quick-bet {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #ccc;
    margin: 10px auto 0;
    width: 190px;
}
.quickbar .quick-bet .title {
    background: #e6e6e6 none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.quickbar .quick-bet .data {
    margin: 1px;
}
.quickbar .quick-bet table {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
}
.quickbar .quick-bet td {
    border: 1px solid #ccc;
    cursor: pointer;
    font-family: Arial,Helvetica,Verdana,Geneva,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 18px;
    text-align: center;
    vertical-align: middle;
}
.quickbar .quick-bet .so {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.quickbar .quick-bet .so a {
    color: #1a2e7b;
    font-family: Arial,Helvetica,Verdana,Geneva,sans-serif;
    font-size: 13px;
    padding: 0 4px;
}
.quickbar .quick-bet .so .item {
    line-height: 17px;
    text-align: center;
}
.quickbar .quick-bet .so .sp a {
    padding: 0;
}
.quickbar .quick-bet .active {
    background-color: #ffffa2;
}
.quickbar .quick-bet .red {
    color: #ff3a4a;
}
.quickbar .quick-bet .blue {
    color: #067ece;
}
.quickbar .quick-bet .green {
    color: #37aa2b;
}
.quickbar .quick-bet .amount {
    border-bottom: 1px solid #ccc;
    height: 24px;
    position: relative;
}
.quickbar .quick-bet .amount .i1 {
    border-right: 1px solid #ccc;
    height: 24px;
    left: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;
}
.quickbar .quick-bet .amount .i2 {
    height: 24px;
    left: 62px;
    position: absolute;
    top: 2px;
}
.quickbar .quick-bet .amount input {
    border: 1px solid #abb2c5;
    height: 18px;
    padding: 1px 0 0 2px;
    width: 77px;
}
.quickbar .quick-bet .amount .total {
    color: #ff3a4a;
    font-family: Arial,Helvetica,Verdana,Geneva,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
}
.quickbar .quick-bet .amount .total span {
    padding: 2px;
}
.quickbar .quick-bet .action {
    padding: 2px;
    text-align: center;
}
.quickbar .quick-bet .action button {
    cursor: pointer;
}
.ord {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #b6b1b5 #b6b1b5;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    margin: 0 auto;
    width: 214px;
}
#typebar_title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #b6b1b5;
    border-image: none;
    border-style: none solid;
    border-width: 0 1px;
    color: #ff0000;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    width: 214px;
}
.typebar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #b6b1b5 #b6b1b5;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    height: 30px;
    margin: 0 auto;
    width: 214px;
}
#typebar_con {
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 160px;
}
.betbar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #b6b1b5 #b6b1b5;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    height: 500px;
    margin: 0 auto;
    overflow-y: scroll;
    width: 214px;
}
.betbar .bet {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #ccc;
    margin: 10px auto 0;
    width: 190px;
}
.betbar .title {
    background: #e6e6e6 none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.betbar .betc1 {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.betbar .betc1 div {
    color: #cc0000;
    height: 20px;
    line-height: 20px;
    padding-left: 60px;
    text-align: left;
}
.betbar .rate {
    color: #ff0000;
    font-weight: bold;
}
.betbar .betc2 {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.betbar .betc2 div {
    color: #cc0000;
    line-height: 20px;
    margin: 10px auto;
    text-align: center;
    width: 80%;
}
.betbar .betc3 {
    border-bottom: 1px solid #ccc;
    padding: 2px 0;
}
.betbar .betc3 .data {
    margin: 0 auto;
    width: 186px;
}
.betbar .betc3 table {
    border: 1px solid #ccc;
    width: 100%;
}
.betbar .betc3 th {
    background: #419770 none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #fff;
    height: 25px;
    text-align: center;
}
.betbar .betc3 td {
    border: 1px solid #ccc;
    height: 25px;
    padding-left: 5px;
    text-align: left;
}
.betbar .desc {
    border-bottom: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.betbar .bet-amount {
    border-bottom: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.betbar .bet-amount input {
    border: 1px solid #707070;
    height: 18px;
    padding-left: 5px;
    width: 70px;
}
.betbar .submit {
    padding-bottom: 10px;
    text-align: center;
}
.lh {
    margin-top: 3px;
}
.lh table {
    float: left;
    margin-right: 2px;
    position: static;
    width: 107px;
}
table caption, table th, table td {
    padding:5px 0 0 5px;
    vertical-align: middle;
}
table tr.odd th, table tr.odd {
    background-color: #ffffff;
    height: 30px;
}
table tr.even th, table tr.even {
    background-color: #efefef;
    height: 30px;
}
table tr.marked th, table tr.marked {
    background-color: #ff0000;
}
table tr.odd:hover, table tr.even:hover, table tr.odd:hover th, table tr.even:hover th, table tr.hover th, table tr.hover {
    background-color: #ccffcc;
}
.quickcon {
    background-color: #ffffff;
    border: 1px solid #333333;
    position: absolute;
    width: 60px;
    z-index: 100;
}
.quickcon ul li {
    color: #000000;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    vertical-align: middle;
    width: 100%;
}
.nsleft {
    background: #e7e8ea none repeat scroll 0 0;
    float: left;
    height: 100%;
    min-height: 650px;
    padding-bottom: 10px;
    width: 233px;
}
.lefthead {
    background-color: #e7e8ea;
    float: left;
    height: 100px;
    width: 233px;
}
.lefthead .con1 {
    background: rgba(0, 0, 0, 0) url("../images/panelUserImf.gif") repeat-x scroll left center;
    color: #ffffff;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    width: 233px;
}
.lefthead .con2 {
    height: 100px;
    margin: 0 auto;
    width: 216px;
}
.lefthead .con2 ul {
    color: #ffffff;
    text-align: left;
    vertical-align: middle;
    width: 216px;
}
.lefthead .con2 ul li {
    background-color: #388463;
    color: #ffffff;
    display: block;
    height: 26px;
    line-height: 26px;
    margin-top: 3px;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
    width: 206px;
}
.lefthead .con2 ul li a {
    color: #ff6600;
    font-weight: bold;
}
#nav {
    color: #000;
    height: 45px;
    position: relative;
    width: 100%;
}
#nav .a_s4 {
    margin-left: 10px;
    margin-top: 5px;
}
#div_s2 {
    background: rgba(0, 0, 0, 0) url("../images/lbg.gif") repeat scroll 0 0;
    height: 44px;
    width: 25px;
}
#div_s3 {
    background: rgba(0, 0, 0, 0) url("../images/rbg.gif") repeat scroll 0 0;
    height: 44px;
    width: 25px;
}
#div_s1 {
    background: rgba(0, 0, 0, 0) url("../images/mbg.gif") repeat scroll 0 0;
    height: 44px;
    width: 950px;
}
.a_s1 {
    background: rgba(0, 0, 0, 0) url("../images/dbg003.gif") no-repeat scroll left center;
    height: 29px;
    line-height: 29px;
    margin-top: 8px;
    padding-right: 1px;
    text-align: center;
    width: 79px;
}
.a_s1h {
    background: rgba(0, 0, 0, 0) url("../images/dbg003h.gif") no-repeat scroll left center;
    color: white;
    height: 29px;
    line-height: 29px;
    margin-top: 8px;
    padding-right: 1px;
    text-align: center;
    width: 79px;
}
.a_s1:hover {
    background: rgba(0, 0, 0, 0) url("../images/dbg003h.gif") no-repeat scroll left center;
    color: white;
}
.a_s3:hover {
    background: rgba(0, 0, 0, 0) url("../images/dbg002h.gif") no-repeat scroll left center;
    color: white;
}
.a_s2 {
    background: rgba(0, 0, 0, 0) url("../images/dbg001.gif") no-repeat scroll left center;
    height: 29px;
    line-height: 29px;
    margin-top: 8px;
    padding-right: 1px;
    text-align: center;
    width: 59px;
}
.a_s3, .a_s4 {
    background: rgba(0, 0, 0, 0) url("../images/dbg002.gif") no-repeat scroll left center;
    height: 29px;
    line-height: 29px;
    margin-top: 8px;
    padding-right: 1px;
    text-align: center;
    width: 99px;
}
.a_s3h {
    background: rgba(0, 0, 0, 0) url("../images/dbg002h.gif") no-repeat scroll left center;
    color: white;
    height: 29px;
    line-height: 29px;
    margin-top: 8px;
    padding-right: 1px;
    text-align: center;
    width: 99px;
}
.ul_s1 {
    background: rgba(0, 0, 0, 0) url("../images/nav_dd_bg001.gif") repeat-x scroll left center;
    height: 34px;
    line-height: 34px;
}
.ul_s1 li {
    float: left;
    line-height: 38px;
    margin: 0 2px;
}
.ul_s1 .conl_s1, .ul_s1 .conr_s1, .s_s1 {
    display: block;
    height: 34px;
    width: 10px;
}
.s_s1 {
    background: rgba(0, 0, 0, 0) url("../images/nav_bg_right.gif") no-repeat scroll right center;
    width: 3px;
}
.ul_s1 .conl_s1 {
    background: rgba(0, 0, 0, 0) url("../images/nav_conl_001.gif") no-repeat scroll right center;
    margin: 0;
}
.ul_s1 .conr_s1 {
    background: rgba(0, 0, 0, 0) url("../images/nav_conr_001.gif") no-repeat scroll right center;
    margin: 0;
}
#div_s1 .colorSet, #type .colorSet {
    color: #9e1010;
}
#div_s1 .colorNumSet, #type .colorNumSet {
    color: #222;
}
#div_s1 .colorNumSet:hover, #type .colorNumSet:hover {
    color: #ff9900;
}
#rbyshow {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#type {
    background: rgba(0, 0, 0, 0) url("../images/tb.gif") repeat-x scroll left center;
    color: #000;
    font-size: 14px;
    height: 32px;
    padding-left: 25px;
    position: relative;
    text-align: left;
    width: 975px;
    line-height: 26px;
}
#type ul {
}
#type li {
    display: inline;
    float: left;
    height: 22px;
    list-style: outside none none;
}
#type a:hover {
    color: #9e1010;
}
.pl1 {
    display: block;
    padding-left: 100px;
}
.pl2 {
    display: block;
    padding-left: 120px;
}
.pl3 {
    display: block;
    padding-left: 150px;
}
.pl4 {
    display: block;
    padding-left: 200px;
}
.pl5 {
    display: block;
    padding-left: 300px;
}
.l_float {
    float: left;
}
.r_float {
    float: left;
}
.info_right {
    float: right;
}
.tab_001 {
    background-color: #ccc;
}
.tab_001 tr {
    background: rgba(0, 0, 0, 0) url("../images/title_bg_004.gif") repeat-x scroll left top;
}
.tab_001 tr td {
    border: 0 none;
    color: #fff;
    height: 30px;
}
.font_sty001 {
    display: inline;
    float: left;
    height: 22px;
    line-height: 32px;
}
.colorDate {
    color: #ffb800;
    font-weight: bold;
}
.kjjg_li {
    background: rgba(0, 0, 0, 0) url("../images/ball_07.png") no-repeat scroll 0 0;
    color: #970903;
    float: left;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: 0 3px;
    text-align: center;
    width: 24px;
}
.money {
    font-size: 16px;
}
.userMoney {
    color: #ff6600;
    font-size: 16px;
}
.game_table, .game_table2 {
    background-color: #bbafaf;
    width: 100%;
}
.game_table3 {
    background-color: #726028;
    width: 100%;
}
.game_table2 {
    background-color: #f2f2f2;
    text-align: left;
    width: 100%;
}
.game_table td {
    padding: 2px;
    white-space: nowrap;
}
.game_table .tbtitle2 td, .tbtitle2 th {
    color: #000;
    height: 30px;
}
.game_table .input1 {
    height: 18px !important;
    line-height: 18px;
}
#time_td {
    background-color: #419770;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    text-align: left;
}
.tbtitle {
    background-color: #ffffff;
    color: #000;
    padding: 0 0 0 10px;
    text-align: center;
}
.tbtitle5 {
    background-color: #ddd8d5;
    color: #000;
    padding: 0 0 0 10px;
    text-align: center;
}
.tbtitle3 {
    background-color: #8f5151;
    color: #fff;
    padding: 0 0 0 10px;
    text-align: center;
}
.tbtitle2, .tbtitle4 {
    background-color: #fefeff;
    color: #1504fc;
    text-align: center;
}
.tbtitle2 td {
    background: rgba(0, 0, 0, 0) url("../images/tr_005.gif") repeat-x scroll left top;
    color: #000;
}
.tbtitle4 {
    background: rgba(0, 0, 0, 0) url("../images/ks_bg.gif") repeat-x scroll left top;
    color: #fd030f;
    font-weight: bold;
}
.tbtitle4 font {
    line-height: 30px;
    vertical-align: middle;
}
.ball_ff {
    background: #ffffff none repeat scroll 0 0;
    color: #f90202;
    font-family: "Arial";
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}
.ball_ff span {
    cursor: pointer;
    font-family: "Arial";
}
.ball_ff span:hover {
    color: #00f;
    cursor: pointer;
    font-family: "Arial";
}
.hset {
    height: 30px;
}
.button_a, .button_b, .button_c {
    background: #777 url("../images/light-overlay.png") repeat-x scroll center bottom;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: inline;
    font-weight: bold;
    margin-right: 2px;
    padding: 3px;
}
.button_a:hover, .button_b:hover, .button_c:hover {
    background-position: 0 center;
}
.button_a:active, .button_b:active, .button_c:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
}
.button_b {
    background-color: #e50000;
}
.button_a {
    background-color: #333;
}
.button_c {
    background-color: #ff0012;
    margin: 3px 0 0;
    padding: 2px 3px;
}
.button_a img, .button_b img {
}
#kspanel {
    background-color: #f2f2f2;
    border: 1px solid #a0a0a0;
    display: none;
    height: 130px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: 10px;
    width: 100px;
    z-index: 1;
}
#kspanel ul {
    border: 1px solid #a0a0a0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#kspanel li {
    background: rgba(0, 0, 0, 0) url("../images/tr_005.gif") repeat-x scroll left center;
    border-bottom: 1px solid #ccc;
    color: #4d4d4d;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding-right: 5px;
    text-align: right;
    width: 95px;
}
#kspanel li:hover {
    background-color: #3786c9;
    border-bottom: 1px solid #06c;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding-right: 5px;
    text-align: right;
    width: 95px;
}
#kspanel .divheader {
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
#menu {
    margin: 8px auto;
    width: 216px;
}
#menu {
    height: 32px;
    overflow: hidden;
}
#menu .ord_btn {
    background: rgba(0, 0, 0, 0) url("../images/order_ord_btn.gif") no-repeat scroll left -32px;
    color: #eaeff2;
    cursor: pointer;
    float: left;
    font-weight: bold !important;
    height: 32px;
    padding-top: 10px;
    text-align: center;
    width: 106px;
}
#menu .record_btn {
    background: rgba(0, 0, 0, 0) url("../images/order_ord_btn.gif") no-repeat scroll right bottom;
    color: #eaeff2;
    cursor: pointer;
    float: right;
    font-weight: bold !important;
    height: 32px;
    padding-top: 10px;
    text-align: center;
    width: 110px;
}
#menu .ord_btn {
    height: 22px;
    padding-top: 10px;
}
#menu .record_btn {
    height: 24px;
    padding-top: 10px;
}
#order_div {
    clear: both;
    margin: 0 auto;
    width: 216px;
}
#pls_bet {
    clear: both;
    margin: 0 auto;
    width: 216px;
}
.bet_info {
    background-color: #e3cfaa !important;
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
}
#menu {
    margin-top: 57px;
    overflow: hidden;
}
#menu .ord_on {
    background: rgba(0, 0, 0, 0) url("../images/order_ord_btn.gif") no-repeat scroll left top;
    color: #3b2d1b;
    cursor: pointer;
    float: left;
    font-weight: bold !important;
    height: 32px;
    padding-top: 8px;
    text-align: center;
    width: 106px;
}
#menu .record_on {
    background: rgba(0, 0, 0, 0) url("../images/order_ord_btn.gif") no-repeat scroll right -66px;
    color: #3b2d1b;
    cursor: pointer;
    float: right;
    font-weight: bold !important;
    height: 32px;
    padding-top: 8px;
    text-align: center;
    width: 110px;
}
#menu .ord_btn, #menu .record_btn, #menu .ord_on, #menu .record_on {
    cursor: pointer;
}
#menu .ord_on {
    height: 24px;
    padding-top: 8px;
}
#menu .record_on {
    height: 24px;
    padding-top: 8px;
}
#bet_div {
    margin: 0 auto;
    width: 216px;
    z-index: 1000;
}
#info_div {
    clear: both;
    margin: 6px auto;
    width: 214px;
}
#recRoad {
    clear: both;
    margin: 8px auto;
    width: 214px;
}
#recRoad dl dt a, #recRoad dl dt a:hover {
    font-weight: normal;
    padding: 2px 2px 5px;
}
#recRoad dl dt {
    background: rgba(0, 0, 0, 0) url("../images/order_msg_ssc.gif") no-repeat scroll center top;
    color: #ffffff;
    height: 23px;
    line-height: 23px;
    text-align: center;
}
#recRoad dl dt .recRoad_c {
    background: #260707 none repeat scroll 0 0;
    color: #dad10b;
}
#recRoad dl dd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #b6b1b5 #b6b1b5;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
#info_div .msgHead {
    background: rgba(0, 0, 0, 0) url("../images/order_msg_ssc.gif") no-repeat scroll left top;
    display: block;
    height: 31px;
    overflow: hidden;
    padding: 0 10px;
}
#info_div .msgHead h2 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border: 0 none;
    color: #fff;
    float: left;
    height: 14px;
    margin-top: 10px;
    padding: 0;
}
#info_div .msgHead a {
    color: white;
}
#info_div .msgCon {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #e7e8ea;
    border-color: -moz-use-text-color #b6b1b5 #b6b1b5;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    display: block;
    overflow: hidden;
    padding: 10px;
    text-align: left;
}
#order_div #bet_div, #order_div #rec5_div {
    display: block;
    left: 0;
    margin: 0 auto;
    top: 0;
    width: 216px;
}
.rate_input {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #a7bccb;
    font-family: "Verdana","Arial","Helvetica","sans-serif";
    font-size: 12px;
    height: 18px;
    width: 50px;
}
.rate_sel {
    background-color: #ff9;
}
.divtitle {
    display: inline;
    float: left;
    line-height: 30px;
    margin-left: 20px;
    text-align: left;
    width: 200px;
}
#bc_table {
    margin-top: 20px;
}
#bc_table2 {
    margin-top: 20px;
}
.game_tab {
    text-align: center;
}
.resultLoad {
    border-left: 1px solid #3a3a3a;
    text-align: center;
}
.game_result {
    background: rgba(0, 0, 0, 0) url("../images/tr_002.gif") repeat-x scroll left top;
    color: #8b8b8b;
    cursor: pointer;
    height: 21px;
    line-height: 21px;
    text-align: center;
}
.game_result2 {
    background: rgba(0, 0, 0, 0) url("../images/tr_002.gif") repeat-x scroll left top;
    color: #b9b9b9;
    cursor: pointer;
    height: 21px;
    line-height: 21px;
    text-align: center;
}
.choose {
    background: rgba(0, 0, 0, 0) url("../images/tr_bg003.gif") repeat-x scroll left top;
    color: #ffd400;
    cursor: pointer;
    height: 21px;
    line-height: 21px;
    text-align: center;
}
.resultLoad tr td {
    background-color: #000;
    border-bottom: 1px solid #3a3a3a;
    border-right: 1px solid #3a3a3a;
    width: 10px;
}
.dh10 {
    height: 10px;
}
.wf {
    color: #ff0000;
    font-weight: bold;
}
.tc {
    line-height: 50px;
    text-align: center;
}
.btn-submit {
    background: rgba(0, 0, 0, 0) url("../images/btnok.gif") no-repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    box-shadow: 2px 0 3px #6a4809;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "微软雅黑";
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    outline: medium none;
    overflow: hidden;
    text-align: center;
    width: 100px;
}
.btn-cancel {
    background: rgba(0, 0, 0, 0) url("../images/btnreset.gif") no-repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    box-shadow: 2px 0 3px #6a4809;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "微软雅黑";
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    outline: medium none;
    overflow: hidden;
    text-align: center;
    width: 100px;
}
#BetForm table {
    border: 1px solid #ddd;
    color: #666;
    font-family: "微软雅黑";
    text-align: center;
    font-size:12px;
    width: 100%;
}
#BetForm .inputText {
    width: 40px;
}
.pubTab th, .pubTab td {
    border: 1px solid #ddd;
    color: #333;
    font-size: 13px;
    padding: 4px;
    text-align: center;
}
.pubTab .th1 {
    font-weight: bold;
}
.betviewlist {
    background-color: white;
    border-bottom: 1px solid #908f8d;
    border-left: 1px solid #908f8d;
    border-right: 1px solid #908f8d;
    color: black;
    position: relative;
    width: 100%;
}
.betviewlist table tr td {
    color: black;
    padding-left: 5px;
}
.betviewlist table tr td.betviewlist-tit {
    line-height: 30px;
    text-align: center;
}
.betviewlist .bvlftr {
    width: 100%;
}
.betviewlist td {
    border-right: 1px solid #a8a7a6;
    border-top: 1px solid #a8a7a6;
}
.betviewlist .close-bvl {
    background: rgba(0, 0, 0, 0) url("../images/close-bvl.gif") repeat scroll 0 0;
    display: inline-block;
    height: 26px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 26px;
}
.betviewlist .ok-bvl {
    background: rgba(0, 0, 0, 0) url("../images/confirmbet.gif") no-repeat scroll 0 0;
    display: inline-block;
    height: 32px;
    margin-top: 10px;
    width: 100px;
}
.betviewlist .left-title {
    color: black;
    text-align: right;
}
.betviewlist .title {
    font-weight: bold;
    height: 27px;
    text-align: center;
}
.betviewlist table {
    background-color: #e7e8ea;
}
#setFastMoneyList {
    background-color: white;
    border: 1px solid #f1752f;
    box-shadow: 1px 1px 10px #868686;
    padding-bottom: 6px;
}
#setFastMoneyList input {
    width: 40px;
}
#setFastMoneyList tr {
    height: 27px;
}
#setFastMoneyList table {
}
.moneylist {
    background: #378263 none repeat scroll 0 0;
    border: 1px solid #38290b;
    color: white;
    width: 253px;
}
.moneylist table tr td {
    border: 1px solid #989693;
    height: 20px;
    padding-left: 5px;
    width: 50px;
    font-size:12px;
    color:#ffffff;
}
.moneylist table tr td.moneylist-tit {
    line-height: 30px;
    text-align: center;
}
.moneylist table tr td a {
    color: white;
    text-decoration: none;
}
.moneylist table tr td a:hover {
    background: #419770 none repeat scroll 0 0;
    display: block;
    height: 20px;
}
.ShowTMFastBet {
    background: white none repeat scroll 0 0;
    border: 1px solid #38290b;
    color: black;
    height: 445px;
    position: relative;
    width: 470px;
}
.ShowTMFastBet .stmfb-tit {
    background-color: #ee703f;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
.ShowTMFastBet .TMnum {
    margin: 0 auto;
    width: 450px;
}
.fl {
    float: left;
}
.clr {
    clear: both;
}
.ShowTMFastBet .TMnum table tr td {
    border: 1px solid #a9a294;
    line-height: 28px;
    padding-left: 15px;
}
.ShowTMFastBet .TMnum table tr td a {
    color: black;
}
.ShowTMFastBet .TMchoose .TMchooseSubOne, .ShowTMFastBet .TMchoose .TMchooseSubTwo {
    background: #e7e8ea none repeat scroll 0 0;
    border-bottom: 1px solid #c0beba;
    height: 60px;
    margin-top: 5px;
}
.ShowTMFastBet .TMchoose .TMchooseSubOne ul li, .ShowTMFastBet .TMchoose .TMchooseSubTwo ul li {
    float: left;
}
.ShowTMFastBet .TMchoose .TMchooseSubOne ul li, .ShowTMFastBet .TMchoose .TMchooseSubTwo ul li {
    line-height: 28px;
    width: 34px;
}
.ShowTMFastBet .TMchoose .TMchooseSubOne ul li a, .ShowTMFastBet .TMchoose .TMchooseSubTwo ul li a {
    color: black;
    text-decoration: none;
}
.ShowTMFastBet .TMchoose .TMchooseSubOne .TMchooseSubOneL, .ShowTMFastBet .TMchoose .TMchooseSubTwo .TMchooseSubTwoL {
    padding-left: 20px;
    width: 180px;
}
.ShowTMFastBet .TMchoose .TMchooseSubOne .TMchooseSubOneL, .ShowTMFastBet .TMchoose .TMchooseSubTwo .TMchooseSubTwoL {
    padding-left: 20px;
    width: 180px;
}
.ShowTMFastBet .TMchoose .TMchooseSubOne .TMchooseSubOneL ul {
    height: 60px;
    width: 160px;
}
.ShowTMFastBet .TMchoose .TMchooseSubOne .TMchooseSubOneR ul {
    height: 60px;
    width: 204px;
}
.ShowTMFastBet .TMchoose .TMchooseSubOne .TMchooseSubOneR, .ShowTMFastBet .TMchoose .TMchooseSubTwo .TMchooseSubTwoR {
    margin-left: 20px;
    width: 210px;
}
.TMBetTotal {
    background: #e7e8ea none repeat scroll 0 0;
    border-bottom: 1px solid #c0beba;
    margin-top: 5px;
    padding: 10px 20px;
}
.TMBetTotal input {
    padding-left: 5px;
    width: 100px;
}
.btn-div {
    margin-top: 4px;
    text-align: center;
}
.close-ShowTMFastBet {
    background: rgba(0, 0, 0, 0) url("../images/close-bvl.gif") repeat scroll 0 0;
    display: inline-block;
    height: 26px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 26px;
}
.ok-ShowTMFastBet {
    background: rgba(0, 0, 0, 0) url("../images/ok-bvl.gif") repeat scroll 0 0;
    display: inline-block;
    height: 37px;
    margin-top: 10px;
    width: 200px;
}
.reset-ShowTMFastBet {
    background: rgba(0, 0, 0, 0) url("../images/ok-bvl.gif") repeat scroll -200px 0;
    display: inline-block;
    height: 37px;
    margin-top: 10px;
    width: 80px;
}
.atutton {
    background-color: #ddd;
    border: 1px solid #969696;
    border-radius: 4px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    padding: 0 8px;
    text-align: center;
    font-size:13px;
}
.atuttonselected {
    background-color: #91a599;
}

.resultNowWrap {
    background: rgba(0, 0, 0, 0) url("../images/bg-resultNow.jpg") repeat scroll 0 0;
    height: 168px;
    margin-left: -5px;
    width: 767px;
}
.resultNowHead {
    font-size: 14px;
    height: 38px;
    text-align: center;
}
.resultNowHead h5 {
    color: white;
    line-height: 38px;
}
.resultList10 {
    margin: 0;
    padding: 25px 0 0;
}
.resultList10 li {
    background: rgba(0, 0, 0, 0) url("../images/an_result_bg.gif") no-repeat scroll center top;
    float: left;
    height: 80px;
    list-style: outside none none;
    margin-right: 2px;
    text-align: center;
    width: 57px;
}
.resultList10 li strong {
    color: yellow;
    font-size: 24px;
    line-height: 80px;
}
.resultList5 {
    margin: 0;
    padding: 25px 0 0 60px;
}
.resultList5 li {
    background: rgba(0, 0, 0, 0) url("../images/an_result_bg.gif") no-repeat scroll center top;
    float: left;
    height: 80px;
    list-style: outside none none;
    margin-right: 40px;
    text-align: center;
    width: 57px;
}
.resultList5 li strong {
    color: yellow;
    font-size: 24px;
    line-height: 80px;
}
.resultList7 {
    margin: 0;
    padding: 25px 0 0 40px;
}
.resultList7 li {
    background: rgba(0, 0, 0, 0) url("../images/an_result_bg.gif") no-repeat scroll center top;
    float: left;
    height: 80px;
    list-style: outside none none;
    margin-right: 20px;
    text-align: center;
    width: 57px;
}
.resultList7 li strong {
    color: yellow;
    font-size: 24px;
    line-height: 80px;
}
.resultList7 li.yellowbg {
    background: rgba(0, 0, 0, 0) url("../images/an_result_last_bg.gif") no-repeat scroll center top;
}
.resultList3 {
    margin: 0;
    padding: 25px 0 0 100px;
}
.resultList3 li {
    background: rgba(0, 0, 0, 0) url("../images/an_result_bg.gif") no-repeat scroll center top;
    float: left;
    height: 80px;
    list-style: outside none none;
    margin-right: 100px;
    text-align: center;
    width: 57px;
}
.resultList3 li strong {
    color: yellow;
    font-size: 24px;
    line-height: 80px;
}
.resultList8 {
    margin: 0;
    padding: 25px 0 0 30px;
}
.resultList8 li {
    background: rgba(0, 0, 0, 0) url("../images/an_result_bg.gif") no-repeat scroll center top;
    float: left;
    height: 80px;
    list-style: outside none none;
    margin-right: 12px;
    text-align: center;
    width: 57px;
}
.resultList8 li strong {
    color: yellow;
    font-size: 24px;
    line-height: 80px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.resultTime {
    background: #368463 none repeat scroll 0 0;
    border-radius: 4px;
    color: white;
    height: 120px;
    margin-top: 10px;
    text-align: center;
    width: 170px;
    font-size:12px;
}
.restTime {
    color: yellow;
    font-size: 16px;
}
.noScript {
    position: fixed;
    _position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #000000;
    opacity: .7;
    filter: alpha(opacity=70)
}

.noScript div {
    background-color: #cfcfcf;
    padding: 10px;
    border: 1px solid #000;
    position: absolute;
    width: 350px;
    margin-left: -175px;
    left: 50%;
    top: 30%;
    _top: 150px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-clip: padding-box;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

.noScript h2 {
    font-size: 18px;
    font-weight: 700;
    color: #000
}

.noScript p {
    margin: 8px 0 0;
    color: #F00
}

