@charset "utf-8";
/*常用css*/
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
/*常用字体*/
.yh {
  font-family: 'Microsoft YaHei';
}
.st {
  font-family: 'SimSun';
}
.ar {
  font-family: 'Arial';
}
.roman {
  font-family: "Times New Roman";
}
.tn {
  display: block;
  font-size: 0;
  text-indent: -99999em;
  color: transparent;
}
.tt a:hover {
  text-decoration: underline;
}
.xie {
  font-style: italic;
}
.ddd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a {
  color: #666;
}
a:hover {
  text-decoration: none;
  color: #6b0018;
}
.btn {
  cursor: pointer;
}
body {
  font-size: 12px;
  color: #666;
  line-height: 24px;
  min-width: 920px;
  font-family: 'Microsoft YaHei';
}
.l {
  color: #6b0018 !important;
}
.w {
  width: 920px;
  min-width: 920px;
  margin: 0 auto;
} /*header*/

body{
  background: url(../images/bg.jpg) center 0 no-repeat #000000;
}
.flexWrap{
  position: absolute;
  top: 0;
  left: 0;
}
.flexWrap img{
  display: block;
  font-size: 0;
  margin: 0;
  padding: 0;
}
.game-list {
  padding-top: 260px;
  width: 920px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.game-list .kythButton{
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}
.game-list .kythButton .buttonTab.th,.game-list .kythButton .buttonTab.ky{
  transition: 1s ease all;
}
.game-list .kythButton .buttonTab.ky{
  background: url("../images/kaiyuan.png") no-repeat;
  height: 71px;
  width: 238px;
  cursor: pointer;
}
.game-list .kythButton .buttonTab.ky:hover{
  background: url("../images/kaiyuanh.png") no-repeat;
  height: 71px;
  width: 238px;
}
.game-list .kythButton .buttonTab.th{
  background: url("../images/tianhao.png") no-repeat;
  height: 71px;
  width: 238px;
  cursor: pointer;
}
.game-list .kythButton .buttonTab.th:hover{
  background: url("../images/tianhaoh.png") no-repeat;
  height: 71px;
  width: 238px;
}
.game-list .ky  li {
  float: left;
  width: 230px;
  height: 281px;
  margin-bottom: 23px;
  position: relative;
  background: url(../images/item.png) center no-repeat;
}
.game-list .ky .btn {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: url(../images/item-hover.png) center no-repeat;
}
.game-list .th li {
  float: left;
  width: 230px;
  height: 281px;
  margin-bottom: 23px;
  position: relative;
  background: url(../images/item-hover.png) center no-repeat;
}
.game-list .th .btn {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: url(../images/item.png) center no-repeat;
}
.game-list .btn:after {
  content: "";
  display: block;
  background: url(../images/enter.png) center no-repeat;
  height: 39px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
}
.game-list .img {
  width: 214px;
  height: 217px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  line-height: 217px;
  text-align: center;
  vertical-align: middle;
}
.game-list .img a {
  line-height: 217px;
}
.game-list .img img {
  vertical-align: middle;
  line-height: 0;
  height: 180px;
}
.game-list .th .img img {
  width: 197px;
  height: 197px;
}
.game-list .txt {
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  color: white;
  font-size: 18px;
  z-index:2;
  left: 50%;
  transform: translate(-50%);
  font-weight: 900;
  margin-top: -4px;
}
.game-list .th .txt {
  color:#FFEB3B;
}
.game-list .txt img {
  line-height: 0;
  vertical-align: middle;
}
.game-list .txt1 {
  display: inline;
}
.game-list .txt2 {
  display: none;
}
.game-list li:hover .btn {
  display: block;
}
.game-list li:hover .txt2 {
  display: inline;
  position: relative;
  z-index: 10;
}
.game-list li:hover .txt1 {
  display: none;
}
.page-row {
  padding-top: 15px;
  padding-bottom: 35px;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.page-row ul {
  float: left;
  position: relative;
  left: 50%;
}
.page-row li {
  float: left;
  position: relative;
  right: 50%;
  margin: 0 3px;
}
.page-row a,
.page-row span {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  vertical-align: top;
  background-color: #ccc;
  background: #3C287C;
}
.page-row a:hover {
  background: #C4743D;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */