<div id="shuju1" class="shuju hide" style="display: block;">
    <div class="chu-box">
        <div class="chu">
            <div class="cl-40">
                <div class="cl-30">
                    <div class="left cl-31">开奖日期</div>
                    <div class="left cl-31">期号</div>
                    <div class="left cl-32">奖号</div>
                    <div class="left cl-32" style="width: 50px;">和值</div>
                    <div class="left cl-32" style="width: 50px;">跨度</div>
                    <div class="left cl-33">
                        <div class="cl-35">
                            <div class="left cl-34">百位</div>
                            <div class="left cl-34">十位</div>
                            <div class="left cl-34">个位</div>
                        </div>
                        <div class="cl-35 cl-36 clean">
                            <script>/* Code removed by ScrapBook */</script>
                            <var class="bg-1"><i>0</i></var><var class="bg-1"><i>1</i></var><var
                                class="bg-1"><i>2</i></var><var class="bg-1"><i>3</i></var><var
                                class="bg-1"><i>4</i></var><var class="bg-1"><i>5</i></var><var
                                class="bg-1"><i>6</i></var><var class="bg-1"><i>7</i></var><var
                                class="bg-1"><i>8</i></var><var class="bg-1"><i>9</i></var><var
                                class="bg-2"><i>0</i></var><var class="bg-2"><i>1</i></var><var
                                class="bg-2"><i>2</i></var><var class="bg-2"><i>3</i></var><var
                                class="bg-2"><i>4</i></var><var class="bg-2"><i>5</i></var><var
                                class="bg-2"><i>6</i></var><var class="bg-2"><i>7</i></var><var
                                class="bg-2"><i>8</i></var><var class="bg-2"><i>9</i></var><var
                                class="bg-1"><i>0</i></var><var class="bg-1"><i>1</i></var><var
                                class="bg-1"><i>2</i></var><var class="bg-1"><i>3</i></var><var
                                class="bg-1"><i>4</i></var><var class="bg-1"><i>5</i></var><var
                                class="bg-1"><i>6</i></var><var class="bg-1"><i>7</i></var><var
                                class="bg-1"><i>8</i></var><var class="bg-1"><i>9</i></var>
                        </div>
                    </div>
                    <div class="left cl-32" style="width: 130px;">
                        <div class="cl-35">
                            <div class="left cl-34" style="width: 130px;">重号类型</div>
                        </div>
                        <div class="cl-35 cl-36 clean">
                            <var class=""><i style="width: 40px;">组六</i></var>
                            <var class=""><i style="width: 40px;">组三</i></var>
                            <var class=""><i style="width: 40px;">豹子</i></var>
                        </div>
                    </div>
                </div>
                <div id="zhexianData"></div>
            </div>
        </div>

        <div class="cl-40 clean cl-41">
            <p>遗漏统计</p>
        </div>
        <div class="cl-40 clean">
            <div class="cl-30">
                <div class="left cl-31">开奖日期</div>
                <div class="left cl-31">期号</div>
                <div class="left cl-32">奖号</div>
                <div class="left cl-32" style="width: 50px;">和值</div>
                <div class="left cl-32" style="width: 50px;">跨度</div>
                <div class="left cl-33">
                    <div class="cl-35">
                        <div class="left cl-34">百位</div>
                        <div class="left cl-34">十位</div>
                        <div class="left cl-34">个位</div>
                    </div>
                    <div class="cl-35 cl-36 clean">
                        <script>/* Code removed by ScrapBook */</script>
                        <var class="bg-1"><i>0</i></var><var class="bg-1"><i>1</i></var><var
                            class="bg-1"><i>2</i></var><var class="bg-1"><i>3</i></var><var
                            class="bg-1"><i>4</i></var><var class="bg-1"><i>5</i></var><var
                            class="bg-1"><i>6</i></var><var class="bg-1"><i>7</i></var><var
                            class="bg-1"><i>8</i></var><var class="bg-1"><i>9</i></var><var
                            class="bg-2"><i>0</i></var><var class="bg-2"><i>1</i></var><var
                            class="bg-2"><i>2</i></var><var class="bg-2"><i>3</i></var><var
                            class="bg-2"><i>4</i></var><var class="bg-2"><i>5</i></var><var
                            class="bg-2"><i>6</i></var><var class="bg-2"><i>7</i></var><var
                            class="bg-2"><i>8</i></var><var class="bg-2"><i>9</i></var><var
                            class="bg-1"><i>0</i></var><var class="bg-1"><i>1</i></var><var
                            class="bg-1"><i>2</i></var><var class="bg-1"><i>3</i></var><var
                            class="bg-1"><i>4</i></var><var class="bg-1"><i>5</i></var><var
                            class="bg-1"><i>6</i></var><var class="bg-1"><i>7</i></var><var
                            class="bg-1"><i>8</i></var><var class="bg-1"><i>9</i></var>
                    </div>
                </div>
                <div class="left cl-32" style="width: 130px;">
                    <div class="cl-35">
                        <div class="left cl-34" style="width: 130px;">重号类型</div>
                    </div>
                    <div class="cl-35 cl-36 clean">
                        <var class="bg-1"><i style="width: 40px;">组六</i></var>
                        <var class="bg-1"><i style="width: 40px;">组三</i></var>
                        <var class="bg-1"><i style="width: 40px;">豹子</i></var>
                    </div>
                </div>
            </div>
            <div id="yiLouData">
                <div class="clean bg-gray">
                    <div class="left cl-31 cl-51" style="width: 400px;">出现总次数</div>
                    <div id="cxzcs">
                        <var><i>5</i></var><var><i>1</i></var><var><i>6</i></var><var><i>1</i></var><var><i>6</i></var><var><i>2</i></var><var><i>3</i></var><var><i>3</i></var><var><i>2</i></var><var><i>1</i></var><var><i>1</i></var><var><i>2</i></var><var><i>2</i></var><var><i>3</i></var><var><i>2</i></var><var><i>8</i></var><var><i>2</i></var><var><i>1</i></var><var><i>6</i></var><var><i>3</i></var><var><i>1</i></var><var><i>4</i></var><var><i>5</i></var><var><i>2</i></var><var><i>1</i></var><var><i>3</i></var><var><i>3</i></var><var><i>5</i></var><var><i>3</i></var><var><i>3</i></var><var><i
                            style="width: 40px;" class="zxl_cxcs">22</i></var><var><i
                            style="width: 40px;" class="zxs_cxcs">8</i></var><var><i
                            style="width: 40px;" class="baozi_cxcs">0</i></var></div>
                </div>
                <div class="clean bg-white">
                    <div class="left cl-31 cl-51" style="width: 400px;">平均遗漏值</div>
                    <div id="pjylz">
                        <var><i>4</i></var><var><i>9</i></var><var><i>3</i></var><var><i>29</i></var><var><i>3</i></var><var><i>7</i></var><var><i>2</i></var><var><i>8</i></var><var><i>2</i></var><var><i>3</i></var><var><i>2</i></var><var><i>5</i></var><var><i>7</i></var><var><i>8</i></var><var><i>12</i></var><var><i>2</i></var><var><i>14</i></var><var><i>24</i></var><var><i>3</i></var><var><i>5</i></var><var><i>5</i></var><var><i>5</i></var><var><i>4</i></var><var><i>12</i></var><var><i>17</i></var><var><i>9</i></var><var><i>5</i></var><var><i>4</i></var><var><i>6</i></var><var><i>8</i></var><var><i
                            style="width: 40px;" class="zxl_pjyl">1</i></var><var><i
                            style="width: 40px;" class="zxs_pjyl">3</i></var><var><i
                            style="width: 40px;" class="baozi_pjyl">0</i></var></div>
                </div>
                <div class="clean bg-gray">
                    <div class="left cl-31 cl-51" style="width: 400px;">最大遗漏值</div>
                    <div id="zdylz"><var><i>11</i></var><var><i>9</i></var><var><i>12</i></var><var><i>29</i></var><var><i>11</i></var><var><i>11</i></var><var><i>7</i></var><var><i>22</i></var><var><i>4</i></var><var><i>3</i></var><var><i>2</i></var><var><i>6</i></var><var><i>10</i></var><var><i>20</i></var><var><i>23</i></var><var><i>6</i></var><var><i>17</i></var><var><i>24</i></var><var><i>7</i></var><var><i>13</i></var><var><i>5</i></var><var><i>9</i></var><var><i>12</i></var><var><i>12</i></var><var><i>17</i></var><var><i>14</i></var><var><i>9</i></var><var><i>12</i></var><var><i>8</i></var><var><i>13</i></var><var><i
                            style="width: 40px;" class="zxl_zdyl">3</i></var><var><i
                            style="width: 40px;" class="zxs_zdyl">5</i></var><var><i
                            style="width: 40px;" class="baozi_zdyl">0</i></var></div>
                </div>
                <div class="clean bg-white">
                    <div class="left cl-31 cl-51" style="width: 400px;">最大连出值</div>
                    <div id="zdlcz">
                        <var><i>1</i></var><var><i>1</i></var><var><i>2</i></var><var><i>0</i></var><var><i>2</i></var><var><i>1</i></var><var><i>2</i></var><var><i>1</i></var><var><i>1</i></var><var><i>1</i></var><var><i>1</i></var><var><i>1</i></var><var><i>1</i></var><var><i>2</i></var><var><i>1</i></var><var><i>2</i></var><var><i>1</i></var><var><i>1</i></var><var><i>1</i></var><var><i>2</i></var><var><i>1</i></var><var><i>1</i></var><var><i>1</i></var><var><i>1</i></var><var><i>1</i></var><var><i>1</i></var><var><i>1</i></var><var><i>1</i></var><var><i>1</i></var><var><i>2</i></var><var><i
                            style="width: 40px;" class="zxl_zdlc">5</i></var><var><i
                            style="width: 40px;" class="zxs_zdlc">3</i></var><var><i
                            style="width: 40px;" class="baozi_zdlc">0</i></var></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shuju2" class="shuju hide" style="display: none;">
    <div class="biao">
        <div id="main1"
             style="width: 1155px; height: 600px; background: transparent none repeat scroll 0% 0%; -moz-user-select: none; position: relative;"
             _echarts_instance_="ec_1495019683277">
            <div style="position: relative; overflow: hidden; width: 1155px; height: 600px; padding: 0px; margin: 0px; border-width: 0px;">
                <canvas style="position: absolute; left: 0px; top: 0px; width: 1155px; height: 600px; -moz-user-select: none; padding: 0px; margin: 0px; border-width: 0px;"
                        width="1443" height="750" data-zr-dom-id="zr_0"></canvas>
            </div>
            <div></div>
        </div>
    </div>
</div>
<div id="shuju3" class="shuju hide" style="display: none;">
    <div id="main2"
         style="width: 1000px; height: 500px; -moz-user-select: none; position: relative; background: transparent none repeat scroll 0% 0%;"
         _echarts_instance_="ec_1495019683278">
        <div style="position: relative; overflow: hidden; width: 1000px; height: 500px; padding: 0px; margin: 0px; border-width: 0px;">
            <canvas style="position: absolute; left: 0px; top: 0px; width: 1000px; height: 500px; -moz-user-select: none; padding: 0px; margin: 0px; border-width: 0px;"
                    width="1250" height="625" data-zr-dom-id="zr_0"></canvas>
        </div>
        <div></div>
    </div>
</div>
<div id="shuju4" class="shuju hide" style="display: none;">
    <table class="tongji">
        <thead>
        <tr>
            <th colspan="2">号码</th>
            <th>出现总次数</th>
            <th>平均遗漏值</th>
            <th>最大遗漏值</th>
            <th>最大连出值</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="10">百位</td>
            <td>1</td>
            <td>5</td>
            <td>4</td>
            <td>11</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1</td>
            <td>9</td>
            <td>9</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>6</td>
            <td>3</td>
            <td>12</td>
            <td>2</td>
        </tr>
        <tr>
            <td>4</td>
            <td>1</td>
            <td>29</td>
            <td>29</td>
            <td>0</td>
        </tr>
        <tr>
            <td>5</td>
            <td>6</td>
            <td>3</td>
            <td>11</td>
            <td>2</td>
        </tr>
        <tr>
            <td>6</td>
            <td>2</td>
            <td>7</td>
            <td>11</td>
            <td>1</td>
        </tr>
        <tr>
            <td>7</td>
            <td>3</td>
            <td>2</td>
            <td>7</td>
            <td>2</td>
        </tr>
        <tr>
            <td>8</td>
            <td>3</td>
            <td>8</td>
            <td>22</td>
            <td>1</td>
        </tr>
        <tr>
            <td>9</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>1</td>
        </tr>
        <tr>
            <td>10</td>
            <td>1</td>
            <td>3</td>
            <td>3</td>
            <td>1</td>
        </tr>
        <tr>
            <td rowspan="10">十位</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2</td>
            <td>5</td>
            <td>6</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>2</td>
            <td>7</td>
            <td>10</td>
            <td>1</td>
        </tr>
        <tr>
            <td>4</td>
            <td>3</td>
            <td>8</td>
            <td>20</td>
            <td>2</td>
        </tr>
        <tr>
            <td>5</td>
            <td>2</td>
            <td>12</td>
            <td>23</td>
            <td>1</td>
        </tr>
        <tr>
            <td>6</td>
            <td>8</td>
            <td>2</td>
            <td>6</td>
            <td>2</td>
        </tr>
        <tr>
            <td>7</td>
            <td>2</td>
            <td>14</td>
            <td>17</td>
            <td>1</td>
        </tr>
        <tr>
            <td>8</td>
            <td>1</td>
            <td>24</td>
            <td>24</td>
            <td>1</td>
        </tr>
        <tr>
            <td>9</td>
            <td>6</td>
            <td>3</td>
            <td>7</td>
            <td>1</td>
        </tr>
        <tr>
            <td>10</td>
            <td>3</td>
            <td>5</td>
            <td>13</td>
            <td>2</td>
        </tr>
        <tr>
            <td rowspan="10">个位</td>
            <td>1</td>
            <td>1</td>
            <td>5</td>
            <td>5</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>4</td>
            <td>5</td>
            <td>9</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>5</td>
            <td>4</td>
            <td>12</td>
            <td>1</td>
        </tr>
        <tr>
            <td>4</td>
            <td>2</td>
            <td>12</td>
            <td>12</td>
            <td>1</td>
        </tr>
        <tr>
            <td>5</td>
            <td>1</td>
            <td>17</td>
            <td>17</td>
            <td>1</td>
        </tr>
        <tr>
            <td>6</td>
            <td>3</td>
            <td>9</td>
            <td>14</td>
            <td>1</td>
        </tr>
        <tr>
            <td>7</td>
            <td>3</td>
            <td>5</td>
            <td>9</td>
            <td>1</td>
        </tr>
        <tr>
            <td>8</td>
            <td>5</td>
            <td>4</td>
            <td>12</td>
            <td>1</td>
        </tr>
        <tr>
            <td>9</td>
            <td>3</td>
            <td>6</td>
            <td>8</td>
            <td>1</td>
        </tr>
        <tr>
            <td>10</td>
            <td>3</td>
            <td>8</td>
            <td>13</td>
            <td>2</td>
        </tr>
        </tbody>
    </table>
</div>
<div id="shuju5" class="shuju" style="display: none;">
    <!--历史开奖-->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>期数</th>
            <th>开奖时间</th>
            <th>开奖号码</th>
            <th colspan="3">总和</th>
            <th>龙虎和</th>
            <th>三联</th>
            <th>跨度</th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>
<div class="shuoming qc">
    <div class="shuomingleft" style="height: 315px; width: 648px;">
        <div class="tou">
            <h3>参数说明</h3>
        </div>
        <div class="jieshi">
            <p><b>组三：</b> 三个号码中有两个号码为三组。</p>
            <p><b>组六：</b> 三个号码均不相同为组六号。</p>
            <p><b>豹子：</b> 三个号码相同为豹子号。</p>
        </div>
    </div>

</div>