<div id="shuju1" class="shuju hide" style="display: block;">
    <div class="chu-box">
        <div class="chu">
            <div class="cl-40">
                <div class="cl-30">
                    <div class="left cl-31">开奖日期</div>
                    <div class="left cl-31">期号</div>
                    <div class="left cl-32">奖号</div>
                    <div class="left cl-32" style="width: 50px;">和值</div>
                    <div class="left cl-33">
                        <div class="cl-35">
                            <!--1-->
                            <div class="left cl-34">百位</div>
                            <div class="left cl-34">十位</div>
                            <div class="left cl-34">个位</div>
                        </div>
                        <div class="cl-35 cl-36 clean">
                            <var class="bg-1 k3_varW"><i>1</i></var>
                            <var class="bg-1 k3_varW"><i>2</i></var>
                            <var class="bg-1 k3_varW"><i>3</i></var>
                            <var class="bg-1 k3_varW"><i>4</i></var>
                            <var class="bg-1 k3_varW"><i>5</i></var>
                            <var class="bg-1 k3_varW"><i>6</i></var>

                            <var class="bg-2 k3_varW"><i>1</i></var>
                            <var class="bg-2 k3_varW"><i>2</i></var>
                            <var class="bg-2 k3_varW"><i>3</i></var>
                            <var class="bg-2 k3_varW"><i>4</i></var>
                            <var class="bg-2 k3_varW"><i>5</i></var>
                            <var class="bg-2 k3_varW"><i>6</i></var>

                            <var class="bg-1 k3_varW"><i>1</i></var>
                            <var class="bg-1 k3_varW"><i>2</i></var>
                            <var class="bg-1 k3_varW"><i>3</i></var>
                            <var class="bg-1 k3_varW"><i>4</i></var>
                            <var class="bg-1 k3_varW"><i>5</i></var>
                            <var class="bg-1 k3_varW"><i>6</i></var>
                            <!-- <script>
                                 for(var i = 0; i < 3; ++i) {
                                     for(var j = 1; j < 7; ++j) {
                                         var s = '';
                                         if(i % 2 == 0) {
                                             s = 'bg-1';
                                         } else {
                                             s = 'bg-2'
                                         }
                                         document.write('<var class="' + s + ' k3_varW"><i>' + j + '</i></var>');
                                     }
                                 }
                             </script>-->
                        </div>
                    </div>
                    <div class="left cl-32" style="width: 173px;">
                        <div class="cl-35">
                            <div class="left cl-34" style="width: 173px;">重号类型</div>
                        </div>
                        <div class="cl-35 cl-36 clean">
                            <var class=""><i style="width: 40px;">三不同</i></var>
                            <var class=""><i style="width: 40px;">对子</i></var>
                            <var class=""><i style="width: 40px;">豹子</i></var>
                            <var class=""><i style="width: 40px;">顺子</i></var>
                        </div>
                    </div>
                </div>
                <div id="zhexianData"></div>
            </div>
        </div>

        <div class="cl-40 clean cl-41">
            <p>遗漏统计</p>
        </div>
        <div class="cl-40 clean">
            <div class="cl-30">
                <div class="left cl-31">开奖日期</div>
                <div class="left cl-31">期号</div>
                <div class="left cl-32">奖号</div>
                <div class="left cl-32" style="width: 50px;">和值</div>
                <div class="left cl-33">
                    <div class="cl-35">
                        <div class="left cl-34">百位</div>
                        <div class="left cl-34">十位</div>
                        <div class="left cl-34">个位</div>
                    </div>
                    <div class="cl-35 cl-36 clean">
                        <var class="bg-1 k3_varW"><i>1</i></var>
                        <var class="bg-1 k3_varW"><i>2</i></var>
                        <var class="bg-1 k3_varW"><i>3</i></var>
                        <var class="bg-1 k3_varW"><i>4</i></var>
                        <var class="bg-1 k3_varW"><i>5</i></var>
                        <var class="bg-1 k3_varW"><i>6</i></var>

                        <var class="bg-2 k3_varW"><i>1</i></var>
                        <var class="bg-2 k3_varW"><i>2</i></var>
                        <var class="bg-2 k3_varW"><i>3</i></var>
                        <var class="bg-2 k3_varW"><i>4</i></var>
                        <var class="bg-2 k3_varW"><i>5</i></var>
                        <var class="bg-2 k3_varW"><i>6</i></var>

                        <var class="bg-1 k3_varW"><i>1</i></var>
                        <var class="bg-1 k3_varW"><i>2</i></var>
                        <var class="bg-1 k3_varW"><i>3</i></var>
                        <var class="bg-1 k3_varW"><i>4</i></var>
                        <var class="bg-1 k3_varW"><i>5</i></var>
                        <var class="bg-1 k3_varW"><i>6</i></var>
                        <!--<script>
                            for(var i = 0; i < 3; ++i) {
                                for(var j = 1; j < 7; ++j) {
                                    var s = '';
                                    if(i % 2 == 0) {
                                        s = 'bg-1';
                                    } else {
                                        s = 'bg-2'
                                    }
                                    document.write('<var class="' + s + ' k3_varW"><i>' + j + '</i></var>');
                                }
                            }
                        </script>-->
                    </div>
                </div>
                <div class="left cl-32" style="width: 173px;">
                    <div class="cl-35">
                        <div class="left cl-34" style="width: 173px;">重号类型</div>
                    </div>
                    <div class="cl-35 cl-36 clean">
                        <var><i style="width: 40px;">三不同</i></var>
                        <var><i style="width: 40px;">对子</i></var>
                        <var><i style="width: 40px;">豹子</i></var>
                        <var><i style="width: 40px;">顺子</i></var>
                    </div>
                </div>
            </div>
            <div id="yiLouData">


                <div class="clean bg-gray">
                    <div class="left cl-31 cl-51" style="width: 350px;">出现总次数</div>
                    <div id="cxzcs"></div>
                </div><div class="clean bg-white">
                <div class="left cl-31 cl-51" style="width: 350px;">平均遗漏值</div>
                <div id="pjylz"></div>
            </div><div class="clean bg-gray">
                <div class="left cl-31 cl-51" style="width: 350px;">最大遗漏值</div>
                <div id="zdylz"></div>
            </div>
                <div class="clean bg-white">
                    <div class="left cl-31 cl-51" style="width: 350px;">最大连出值</div>
                    <div id="zdlcz"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shuju2" class="shuju hide" style="display: none;">
    <div class="biao">
        <div id="main1" style="width: 1155px; height: 600px; background: transparent none repeat scroll 0% 0%; -moz-user-select: none; position: relative;" _echarts_instance_="ec_1494939032127"><div style="position: relative; overflow: hidden; width: 1155px; height: 600px; padding: 0px; margin: 0px; border-width: 0px;"><canvas style="position: absolute; left: 0px; top: 0px; width: 1155px; height: 600px; -moz-user-select: none; padding: 0px; margin: 0px; border-width: 0px;" width="1443" height="750" data-zr-dom-id="zr_0"></canvas></div><div></div></div>
    </div>
</div>
<div id="shuju3" class="shuju hide" style="display: none;">
    <div id="main2" style="width: 1000px; height: 500px; -moz-user-select: none; position: relative; background: transparent none repeat scroll 0% 0%;" _echarts_instance_="ec_1494939032128"><div style="position: relative; overflow: hidden; width: 1000px; height: 500px; padding: 0px; margin: 0px; border-width: 0px;"><canvas style="position: absolute; left: 0px; top: 0px; width: 1000px; height: 500px; -moz-user-select: none; padding: 0px; margin: 0px; border-width: 0px;" width="1250" height="625" data-zr-dom-id="zr_0"></canvas></div><div></div></div>
</div>
<div id="shuju4" class="shuju hide" style="display: none;">

</div>
<div id="shuju5" class="shuju" style="display: none;">
    <!--历史开奖-->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>期数</th>
            <th>开奖时间</th>
            <th>开奖号码</th>
            <th colspan="3">和值</th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>
<div class="shuoming qc">
    <div class="shuomingleft" style="height: 315px; width: 648px;">
        <div class="tou">
            <h3>参数说明</h3>
        </div>
        <div class="jieshi">
            <p><b>三不同：</b> 三个号码均不相同为三不同号。</p>
            <p><b>对子：</b> 三个号码中有两个号码为三组。</p>
            <p><b>豹子：</b> 三个号码相同为豹子号。</p>
            <p><b>顺子：</b> 三个号码依次递增值为1为顺子号。</p>
        </div>
    </div>

</div>