<div id="shuju1" class="shuju hide" style="display: block;">
    <div class="chu-box">
        <div class="chu">
            <div class="cl-40 no_5_X5-var">
                <div class="cl-30">
                    <div class="left cl-31 noFixedQh">期号</div>
                    <div class="left cl-32 noFixedJh">奖号</div>
                    <div class="left cl-33">
                        <div class="cl-35">
                            <div class="left cl-34">第一球</div>
                            <div class="left cl-34">第二球</div>
                            <div class="left cl-34">第三球</div>
                            <div class="left cl-34">第四球</div>
                            <div class="left cl-34">第五球</div>
                        </div>
                        <div class="cl-35 cl-36 clean">
                            <var class="bg-1"><i>1</i></var>
                            <var class="bg-1"><i>2</i></var>
                            <var class="bg-1"><i>3</i></var>
                            <var class="bg-1"><i>4</i></var>
                            <var class="bg-1"><i>5</i></var>
                            <var class="bg-1"><i>6</i></var>
                            <var class="bg-1"><i>7</i></var>
                            <var class="bg-1"><i>8</i></var>
                            <var class="bg-1"><i>9</i></var>
                            <var class="bg-1"><i>10</i></var>
                            <var class="bg-1"><i>11</i></var>

                            <var class="bg-2"><i>1</i></var>
                            <var class="bg-2"><i>2</i></var>
                            <var class="bg-2"><i>3</i></var>
                            <var class="bg-2"><i>4</i></var>
                            <var class="bg-2"><i>5</i></var>
                            <var class="bg-2"><i>6</i></var>
                            <var class="bg-2"><i>7</i></var>
                            <var class="bg-2"><i>8</i></var>
                            <var class="bg-2"><i>9</i></var>
                            <var class="bg-2"><i>10</i></var>
                            <var class="bg-2"><i>11</i></var>

                            <var class="bg-1"><i>1</i></var>
                            <var class="bg-1"><i>2</i></var>
                            <var class="bg-1"><i>3</i></var>
                            <var class="bg-1"><i>4</i></var>
                            <var class="bg-1"><i>5</i></var>
                            <var class="bg-1"><i>6</i></var>
                            <var class="bg-1"><i>7</i></var>
                            <var class="bg-1"><i>8</i></var>
                            <var class="bg-1"><i>9</i></var>
                            <var class="bg-1"><i>10</i></var>
                            <var class="bg-1"><i>11</i></var>

                            <var class="bg-2"><i>1</i></var>
                            <var class="bg-2"><i>2</i></var>
                            <var class="bg-2"><i>3</i></var>
                            <var class="bg-2"><i>4</i></var>
                            <var class="bg-2"><i>5</i></var>
                            <var class="bg-2"><i>6</i></var>
                            <var class="bg-2"><i>7</i></var>
                            <var class="bg-2"><i>8</i></var>
                            <var class="bg-2"><i>9</i></var>
                            <var class="bg-2"><i>10</i></var>
                            <var class="bg-2"><i>11</i></var>

                            <var class="bg-1"><i>1</i></var>
                            <var class="bg-1"><i>2</i></var>
                            <var class="bg-1"><i>3</i></var>
                            <var class="bg-1"><i>4</i></var>
                            <var class="bg-1"><i>5</i></var>
                            <var class="bg-1"><i>6</i></var>
                            <var class="bg-1"><i>7</i></var>
                            <var class="bg-1"><i>8</i></var>
                            <var class="bg-1"><i>9</i></var>
                            <var class="bg-1"><i>10</i></var>
                            <var class="bg-1"><i>11</i></var>


                        </div>
                    </div>
                </div>
                <div id="zhexianData"></div>
            </div>
        </div>

        <div class="cl-40 clean cl-41">
            <p>遗漏统计</p>
        </div>


        <div class="cl-40 clean no_5_X5-var">
            <div class="cl-30">
                <div class="left cl-31">期号</div>
                <div class="left cl-32">奖号</div>
                <div class="left cl-33">
                    <div class="cl-35">
                        <div class="left cl-34">第一球</div>
                        <div class="left cl-34">第二球</div>
                        <div class="left cl-34">第三球</div>
                        <div class="left cl-34">第四球</div>
                        <div class="left cl-34">第五球</div>
                    </div>
                    <div class="cl-35 cl-36 clean">
                        <var class="bg-1"><i>1</i></var>
                        <var class="bg-1"><i>2</i></var>
                        <var class="bg-1"><i>3</i></var>
                        <var class="bg-1"><i>4</i></var>
                        <var class="bg-1"><i>5</i></var>
                        <var class="bg-1"><i>6</i></var>
                        <var class="bg-1"><i>7</i></var>
                        <var class="bg-1"><i>8</i></var>
                        <var class="bg-1"><i>9</i></var>
                        <var class="bg-1"><i>10</i></var>
                        <var class="bg-1"><i>11</i></var>

                        <var class="bg-2"><i>1</i></var>
                        <var class="bg-2"><i>2</i></var>
                        <var class="bg-2"><i>3</i></var>
                        <var class="bg-2"><i>4</i></var>
                        <var class="bg-2"><i>5</i></var>
                        <var class="bg-2"><i>6</i></var>
                        <var class="bg-2"><i>7</i></var>
                        <var class="bg-2"><i>8</i></var>
                        <var class="bg-2"><i>9</i></var>
                        <var class="bg-2"><i>10</i></var>
                        <var class="bg-2"><i>11</i></var>

                        <var class="bg-1"><i>1</i></var>
                        <var class="bg-1"><i>2</i></var>
                        <var class="bg-1"><i>3</i></var>
                        <var class="bg-1"><i>4</i></var>
                        <var class="bg-1"><i>5</i></var>
                        <var class="bg-1"><i>6</i></var>
                        <var class="bg-1"><i>7</i></var>
                        <var class="bg-1"><i>8</i></var>
                        <var class="bg-1"><i>9</i></var>
                        <var class="bg-1"><i>10</i></var>
                        <var class="bg-1"><i>11</i></var>

                        <var class="bg-2"><i>1</i></var>
                        <var class="bg-2"><i>2</i></var>
                        <var class="bg-2"><i>3</i></var>
                        <var class="bg-2"><i>4</i></var>
                        <var class="bg-2"><i>5</i></var>
                        <var class="bg-2"><i>6</i></var>
                        <var class="bg-2"><i>7</i></var>
                        <var class="bg-2"><i>8</i></var>
                        <var class="bg-2"><i>9</i></var>
                        <var class="bg-2"><i>10</i></var>
                        <var class="bg-2"><i>11</i></var>

                        <var class="bg-1"><i>1</i></var>
                        <var class="bg-1"><i>2</i></var>
                        <var class="bg-1"><i>3</i></var>
                        <var class="bg-1"><i>4</i></var>
                        <var class="bg-1"><i>5</i></var>
                        <var class="bg-1"><i>6</i></var>
                        <var class="bg-1"><i>7</i></var>
                        <var class="bg-1"><i>8</i></var>
                        <var class="bg-1"><i>9</i></var>
                        <var class="bg-1"><i>10</i></var>
                        <var class="bg-1"><i>11</i></var>
                    </div>
                </div>
            </div>
            <div id="yiLouData">
                <div class="clean bg-gray">
                    <div class="left cl-31 cl-51">出现总次数</div>
                    <div id="cxzcs"></div>
                </div>
                <div class="clean bg-white">
                    <div class="left cl-31 cl-51">平均遗漏值</div>
                    <div id="pjylz"></div>
                </div>
                <div class="clean bg-gray">
                    <div class="left cl-31 cl-51">最大遗漏值</div>
                    <div id="zdylz"></div>
                </div>
                <div class="clean bg-white">
                    <div class="left cl-31 cl-51">最大连出值</div>
                    <div id="zdlcz"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shuju2" class="shuju hide" style="display: none;">
    <div class="biao">
        <div id="main1" style="width: 1250px; height: 600px; background: transparent none repeat scroll 0% 0%; -moz-user-select: none; position: relative;" _echarts_instance_="ec_1495023956342"><div style="position: relative; overflow: hidden; width: 1250px; height: 600px; padding: 0px; margin: 0px; border-width: 0px;"><canvas style="position: absolute; left: 0px; top: 0px; width: 1250px; height: 600px; -moz-user-select: none; padding: 0px; margin: 0px; border-width: 0px;" width="1562" height="750" data-zr-dom-id="zr_0"></canvas></div><div></div></div>
    </div>
</div>
<div id="shuju3" class="shuju hide" style="display: none;">
    <div id="main2" style="width: 800px; height: 400px; -moz-user-select: none; position: relative; background: transparent none repeat scroll 0% 0%;" _echarts_instance_="ec_1495023956343"><div style="position: relative; overflow: hidden; width: 800px; height: 400px; padding: 0px; margin: 0px; border-width: 0px;"><canvas style="position: absolute; left: 0px; top: 0px; width: 800px; height: 400px; -moz-user-select: none; padding: 0px; margin: 0px; border-width: 0px;" width="1000" height="500" data-zr-dom-id="zr_0"></canvas></div><div></div></div>
</div>
<div id="shuju4" class="shuju hide" style="display: none;"></div>
<div id="shuju5" class="shuju" style="display: none;">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>期数</th>
            <th>开奖时间</th>
            <th>开奖号码</th>
            <th colspan="3">总和</th>
            <th>龙虎</th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>
<div class="shuoming qc">
    <div class="shuomingleft" style="height: 315px; width: 745px;">
        <div class="tou">
            <h3>参数说明</h3>
        </div>
        <div class="jieshi">

            <p><b>遗漏数据：</b> 自上期开出到本期间隔的期数。</p>

            <p><b>遗漏分层：</b> 将当前遗漏用浅蓝色柱状阴影标注。</p>

            <p><b>出现总次数：</b> 统计期数内实际出现的次数。</p>

            <p><b>平均遗漏值：</b> 统计期数内遗漏的平均值。计算公式：平均遗漏=每次遗漏期数之和/出现次数。</p>

            <p><b>最大遗漏值：</b> 统计期数内遗漏的最大值。</p>

            <p><b>最大连出值：</b> 统计期数内连续开出的最大值。</p>
        </div>
    </div>
</div>