<div id="shuju1" class="shuju hide" style="display: none;">
    <div class="chu-box">
        <div class="chu">
            <div class="cl-40">
                <div class="cl-30">
                    <div class="left cl-31">期号</div>
                    <div class="left cl-32" style="width: 170px;">奖号</div>
                    <div class="left cl-32" style="width: 50px;">正码一</div>
                    <div class="left cl-32" style="width: 50px;">正码二</div>
                    <div class="left cl-32" style="width: 50px;">正码三</div>
                    <div class="left cl-32" style="width: 50px;">正码四</div>
                    <div class="left cl-32" style="width: 50px;">正码五</div>
                    <div class="left cl-32" style="width: 50px;">正码六</div>
                    <div class="left cl-32" style="width: 50px;">特码</div>
                    <div class="left cl-33">
                        <div class="cl-35">
                            <div class="left cl-34" style="width: 212px;">总和</div>
                            <div class="left cl-34" style="width: 265px;">特码</div>
                        </div>
                        <div class="cl-35 cl-36 clean">
                            <var class="bg-1"><i style="width:50px">总数</i></var>
                            <var class="bg-1"><i style="width:50px">单双</i></var>
                            <var class="bg-1"><i style="width:50px">大小</i></var>
                            <var class="bg-1"><i style="width:50px">七色波</i></var>
                            <var class="bg-2"><i style="width:50px">单双</i></var>
                            <var class="bg-2"><i style="width:50px">大小</i></var>
                            <var class="bg-2"><i style="width:50px">合单双</i></var>
                            <var class="bg-2"><i style="width:50px">合大小</i></var>
                            <var class="bg-2"><i style="width:50px">大小尾</i></var>
                        </div>
                    </div>
                </div>
                <div id="zhexianData"></div>
            </div>
        </div>

    </div>
</div>
<div id="shuju2" class="shuju hide" style="display: none;">
    <div class="biao">
        <div id="main1"
             style="width: 1100px; height: 600px; background: transparent none repeat scroll 0% 0%; -moz-user-select: none; position: relative;"
             _echarts_instance_="ec_1495436558513">
            <div style="position: relative; overflow: hidden; width: 1100px; height: 600px; padding: 0px; margin: 0px; border-width: 0px;">
                <canvas style="position: absolute; left: 0px; top: 0px; width: 1100px; height: 600px; -moz-user-select: none; padding: 0px; margin: 0px; border-width: 0px;"
                        width="1375" height="750" data-zr-dom-id="zr_0"></canvas>
            </div>
            <div></div>
        </div>
    </div>
</div>
<div id="shuju3" class="shuju hide" style="display: none;">
    <div id="main2" style="width: 1250px; height: 500px;"></div>
</div>
<div id="shuju4" class="shuju hide" style="display: none;">
    <table class="tongji">
        <thead>
        <tr>
            <th colspan="2">号码</th>
            <th>出现总次数</th>
            <th>平均遗漏值</th>
            <th>最大遗漏值</th>
            <th>最大连出值</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="shuju5" class="shuju" style="display: block;">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>期数</th>
            <th>开奖时间</th>
            <th>开奖号码</th>
            <th width="60">总和</th>
            <th width="60">特码单双</th>
            <th width="60">特码大小</th>
            <th width="60">合数单双</th>
            <th width="60">总分单双</th>
            <th width="60">总分大小</th>
            <th>七色波</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</div>
<div class="shuoming qc">
    <div class="shuomingleft" style="height: 315px; width: 593px;">
        <div class="tou">
            <h3>参数说明</h3>
        </div>
        <div class="jieshi">

        </div>
    </div>

</div>