<div id="shuju1" class="shuju hide" style="display: block;">
    <div class="chu-box">
        <div class="chu">
            <div class="cl-40">
                <div class="cl-30">
                    <div class="left cl-31 noFixedQh">期号</div>
                    <div class="left cl-32 noFixedJh" style="width: 150px;">奖号</div>
                    <div class="left cl-33">
                        <div class="cl-35">
                            <div class="left cl-34">小区</div>
                            <div class="left cl-34">大区</div>
                            <div class="left cl-34" style="width: 309px;">012路</div>
                        </div>
                        <div class="cl-35 cl-36 clean">
                            <var class="bg-1"><i>1</i></var>
                            <var class="bg-1"><i>2</i></var>
                            <var class="bg-1"><i>3</i></var>
                            <var class="bg-1"><i>4</i></var>
                            <var class="bg-1"><i>5</i></var>
                            <var class="bg-1"><i>6</i></var>
                            <var class="bg-1"><i>7</i></var>
                            <var class="bg-1"><i>8</i></var>
                            <var class="bg-1"><i>9</i></var>
                            <var class="bg-1"><i>10</i></var>
                            <var class="bg-1"><i>11</i></var>

                            <var class="bg-2"><i>12</i></var>
                            <var class="bg-2"><i>13</i></var>
                            <var class="bg-2"><i>14</i></var>
                            <var class="bg-2"><i>15</i></var>
                            <var class="bg-2"><i>16</i></var>
                            <var class="bg-2"><i>17</i></var>
                            <var class="bg-2"><i>18</i></var>
                            <var class="bg-2"><i>19</i></var>
                            <var class="bg-2"><i>20</i></var>

                            <var><i style="width:100px">0路</i></var>
                            <var><i style="width:100px">1路</i></var>
                            <var><i style="width:100px">2路</i></var>
                        </div>
                    </div>
                    <div class="left cl-32">跨度</div>
                </div>
                <div id="zhexianData"></div>
            </div>
        </div>

        <div class="cl-40 clean cl-41">
            <p>遗漏统计</p>
        </div>
        <div class="cl-40 clean">
            <div class="cl-30">
                <div class="left cl-31">期号</div>
                <div class="left cl-32" style="width: 150px;">奖号</div>
                <div class="left cl-33">
                    <div class="cl-35">
                        <div class="left cl-34">小区</div>
                        <div class="left cl-34">大区</div>
                        <div class="left cl-34" style="width: 309px;">012路</div>
                    </div>
                    <div class="cl-35 cl-36 clean">
                        <var class="bg-1"><i>1</i></var>
                        <var class="bg-1"><i>2</i></var>
                        <var class="bg-1"><i>3</i></var>
                        <var class="bg-1"><i>4</i></var>
                        <var class="bg-1"><i>5</i></var>
                        <var class="bg-1"><i>6</i></var>
                        <var class="bg-1"><i>7</i></var>
                        <var class="bg-1"><i>8</i></var>
                        <var class="bg-1"><i>9</i></var>
                        <var class="bg-1"><i>10</i></var>
                        <var class="bg-1"><i>11</i></var>

                        <var class="bg-2"><i>12</i></var>
                        <var class="bg-2"><i>13</i></var>
                        <var class="bg-2"><i>14</i></var>
                        <var class="bg-2"><i>15</i></var>
                        <var class="bg-2"><i>16</i></var>
                        <var class="bg-2"><i>17</i></var>
                        <var class="bg-2"><i>18</i></var>
                        <var class="bg-2"><i>19</i></var>
                        <var class="bg-2"><i>20</i></var>
                        <var><i style="width: 100px;">0路</i></var>
                        <var><i style="width: 100px;">1路</i></var>
                        <var><i style="width: 100px;">2路</i></var>
                    </div>
                </div>
                <div class="left cl-32">跨度</div>
            </div>
            <div id="yiLouData">
                <div class="clean bg-gray">
                    <div class="left cl-31 cl-51" style="width: 250px;">出现总次数</div>
                    <div id="cxzcs"></div>
                </div>
                <div class="clean bg-white">
                    <div class="left cl-31 cl-51" style="width: 250px;">平均遗漏值</div>
                    <div id="pjylz"></div>
                </div>
                <div class="clean bg-gray">
                    <div class="left cl-31 cl-51" style="width: 250px;">最大遗漏值</div>
                    <div id="zdylz"></div>
                </div>
                <div class="clean bg-white">
                    <div class="left cl-31 cl-51" style="width: 250px;">最大连出值</div>
                    <div id="zdlcz"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shuju2" class="shuju hide" style="display: none;">
    <div class="biao">
        <div id="main1"
             style="width: 1082px; height: 600px; background: transparent none repeat scroll 0% 0%; -moz-user-select: none; position: relative;"
             _echarts_instance_="ec_1495005099499">
            <div style="position: relative; overflow: hidden; width: 1082px; height: 600px; padding: 0px; margin: 0px; border-width: 0px;">
                <canvas style="position: absolute; left: 0px; top: 0px; width: 1082px; height: 600px; -moz-user-select: none; padding: 0px; margin: 0px; border-width: 0px;"
                        width="1352" height="750" data-zr-dom-id="zr_0"></canvas>
            </div>
            <div></div>
        </div>
    </div>
</div>
<div id="shuju3" class="shuju hide" style="display: none;">
    <div id="main2"
         style="width: 1082px; height: 500px; -moz-user-select: none; position: relative; background: transparent none repeat scroll 0% 0%;"
         _echarts_instance_="ec_1495005099500">
        <div style="position: relative; overflow: hidden; width: 1082px; height: 500px; padding: 0px; margin: 0px; border-width: 0px;">
            <canvas style="position: absolute; left: 0px; top: 0px; width: 1082px; height: 500px; -moz-user-select: none; padding: 0px; margin: 0px; border-width: 0px;"
                    width="1352" height="625" data-zr-dom-id="zr_0"></canvas>
        </div>
        <div></div>
    </div>
</div>
<div id="shuju4" class="shuju hide" style="display: none;">
    <table class="tongji">
        <thead>
        <tr>
            <th colspan="2">号码</th>
            <th>出现总次数</th>
            <th>平均遗漏值</th>
            <th>最大遗漏值</th>
            <th>最大连出值</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="shuju5" class="shuju" style="display: none;">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>期数</th>
            <th>开奖时间</th>
            <th>开奖号码</th>
            <th colspan="3">总和</th>
            <th colspan="5">1-4龙虎</th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>
<div class="shuoming qc">
    <div class="shuomingleft" style="width: 575px;">
        <div class="tou">
            <h3>参数说明</h3>
        </div>
        <div class="jieshi">
            <p><b>大小：</b> 号码01-20中，01-10为小，11-20为大。</p>
            <p><b>奇偶：</b> 能被2整除的号码为偶数，不能被2整除的号码为奇数。号码01-20中奇偶数如下：</p>
            <p>[奇数] 01 03 05 07 09 11 13 15 17 19</p>
            <p>[偶数] 02 04 06 08 10 12 14 16 18 20</p>
            <p><b>质合：</b> 只能被1和自身整除的数为质数，除了能被1和自身整除，还能被其它数整除的数为合数。号码01-20中质合数如下：</p>
            <p>[质数] 01 02 03 05 07 11 13 17 19</p>
            <p>[合数] 04 06 08 09 10 12 14 15 16 18 20</p>
            <p><b>012路：</b> 号码01-20中，除3余0的为0路，除3余1的为1路，除3余2的为2路。</p>
            <p><b>“0路”为除3余0数据：</b> 03、06、09、12、15、18；</p>
            <p><b>“1路”为除3余1数据：</b> 01、04、07、10、13、16、19；</p>
            <p><b>“2路”为除3余2数据：</b> 02、05、08、11、14、17、20；</p>
            <p><b>跨度：</b> 开奖号码中最大号码与最小号码的差。</p>
            <p><b>遗漏分层：</b> 将当前遗漏按照“1-5，6-11，12-无穷大”分别用黑色、蓝色、红色标识。</p>
            <p><b>分隔线：</b> 每五期使用分隔线，使横向导航更加清晰。</p>
            <p><b>出现总次数：</b> 统计期数内实际出现的次数。</p>
            <p><b>遗漏：</b> 自上期开出到本期间隔的期数。</p>
            <p><b>平均遗漏：</b> 统计期数内遗漏的平均值。计算公式：平均遗漏＝统计期数/(出现次数+1)。</p>
            <p><b>最大遗漏：</b> 统计期数内遗漏的最大值。</p>
            <p><b>当前遗漏：</b> 自上期开出到当前期所间隔的期数。</p>
            <p><b>最大连出值：</b> 统计期数内连续开出的最大值。</p>
        </div>
    </div>

</div>