@charset "utf-8";
/*check*/
input[type="checkbox"],input[type="radio"]{margin:0;opacity:0;filter: alpha(opacity=0);}
input:focus{ outline:none}
#checkbox p{cursor:pointer;}
.check_span,.radio_span{ display:inline-block; float:left; border:1px solid #35a48e;width:14px;height:14px; text-align:center;margin-right:10px;}
.check_span:hover,.radio_span:hover{ border-color:#fff;}
.check_span--checked,.radio_span--checked{border-color: #fff;background: url(icon_sprites.png);}
.radio_span{width:15px;height:15px;border:0;background:url(icon_sprites.png) -14px 0;}
.radio_span--checked{ background-position:-29px 0;border:0;}
.radio_box{border-top:1px dashed #84decc; margin-top:20px;padding-top:15px;}