/*banner开始*/
#E02-cellPhone .E02-banner{
    width: 100%;
    height: 400px;
    background: url("../images/bannerBGs.jpg") center center no-repeat;
    overflow-x: hidden;
    position: relative;
    z-index: 3;
    margin-top:-10px;
}
#E02-cellPhone .E02-banner .E02-section{
    height: 370px;
    position: relative;
    transform-style: preserve-3d;
}
#E02-cellPhone .E02-banner .E02-section .f15{
    position: absolute;
    font-size: 15px;
    width: 270px;
    height: 20px;
    line-height: 20px;
    top: 325px;
    right: 0px;
    z-index: 4;
    text-align: center;
}

#E02-cellPhone .E02-banner .E02-section .ico{
    position: absolute;
    z-index: 1;
}

@keyframes phoneIco {
    15%{
        opacity: 0.5;
    }
    30% {
        transform: translate3d(0px,40px,50px);
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    60% {
        transform: translate3d(0px,-40px,0px);
        opacity: 1;
    }
    70%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translate3d(0px,0px,0px);
    }
}
@keyframes phoneIco2 {
    15%{
        opacity: 0.5;
    }
    30% {
        transform: translate3d(0px,-40px,50px);
        opacity: 1;
    }
    60% {
        transform: translate3d(0px,40px,0px);
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
}
#E02-cellPhone .article2{
    width: 100%;
    background: #fff;
    height: 710px;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-top: -25px;
}
#E02-cellPhone .article2 .E02-section{
    position: relative;
    height: 710px;
}
#E02-cellPhone .article2 .bg{
    width: 100%;
    height: 710px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
#E02-cellPhone .article2 .bg div.scrollPlay{
    animation: circleMove 8s ease 1;
}
#E02-cellPhone .article2 .bg div.scrollPlay2{
    animation: circleMove2 8s ease 1;
}
#E02-cellPhone .article2 .bg div.scrollPlay3{
    animation: circleMove3 8s ease 1;
}
#E02-cellPhone .article2 .bg div.scrollPlay4{
    animation: circleMove4 8s ease 1;
}
#E02-cellPhone .article2 .bg div{
    position: absolute;
}
#E02-cellPhone .article2 .bg .circle{
    top: 10px;
    left: -377px;
}

#E02-cellPhone .article2 .bg .circle2{
    top: 154px;
    left: -223px;
}
#E02-cellPhone .article2 .bg .circle3{
    top: 500px;
    left: -132px;
}
#E02-cellPhone .article2 .bg .circle4{
    top: 584px;
    left: 433px;
}
#E02-cellPhone .article2 .bg .circle5{
    top: 213px;
    right: 82px;
}
#E02-cellPhone .article2 .bg .circle6{
    top: 512px;
    right: -57px;
}
#E02-cellPhone .article2 .bg .circle7{
    top: -60px;
    right: -360px;
}
#E02-cellPhone .article2 .bg .circle8{
    top: 138px;
    right: -444px;
}
#E02-cellPhone .article2 .bg .green{
    width: 170px;
    height: 170px;
    background: url("../images/circleGreen.png");
}
#E02-cellPhone .article2 .bg .yellow{
    width: 114px;
    height: 114px;
    background: url("../images/circleYellow.png");
}
#E02-cellPhone .article2 .bg .yellow.small{
    transform: scale(0.7);
}
#E02-cellPhone .article2 .bg .blue.small{
    transform: scale(0.6);
}
#E02-cellPhone .article2 .bg .green.small{
    transform: scale(0.4);
}

@keyframes circleMove {
    0%{
        transform: translate3d(0px,700px,0px)
    }
    100% {
        transform: translate3d(0px,0px,0px) rotate(1800deg);

    }
}
@keyframes circleMove2 {
    0%{
        transform: translate3d(0px,700px,0px) scale(0.7);
    }
    100% {
        transform: translate3d(0px,0px,0px) rotate(1800deg) scale(0.7);

    }
}
@keyframes circleMove3 {
    0%{
        transform: translate3d(0px,700px,0px) scale(0.6);
    }
    100% {
        transform: translate3d(0px,0px,0px) rotate(1800deg) scale(0.6);

    }
}
@keyframes circleMove4 {
    0%{
        transform: translate3d(0px,700px,0px) scale(0.4);
    }
    100% {
        transform: translate3d(0px,0px,0px) rotate(1800deg) scale(0.4);

    }
}

#E02-cellPhone .article2 .tabBox{
    width: 100%;
    position: absolute;
    height: 710px;
    left: 0;
    top: 0;
    z-index: 2;
}
#E02-cellPhone .article2 .tabBox .btnGrp{
    width: 510px;
    height: 50px;
    margin: 24px auto 30px auto;
}
#E02-cellPhone .article2 .tabBox .btnGrp .E02-button{
    width: 226px;
    height: 50px;
    line-height: 50px;
    background: #eeeeee;
    color: #333333;
    float: left;
    font-size: 16px;
}
#E02-cellPhone .article2 .tabBox .btnGrp .E02-button.mr58{
    margin-right: 58px;
}
#E02-cellPhone .article2 .tabBox .btnGrp .E02-button.active{
    background: #fc0039;
    color: #fff;
}
#E02-cellPhone .article2 .tabBox .btnGrp .E02-button:hover{
    opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
#E02-cellPhone .helpCon{
    width: 1000px;
    height: 570px;
    color: #333;
}
#E02-cellPhone .helpCon img,#E02-cellPhone .conTxt{
    float: left;
}
#E02-cellPhone .helpCon img{
    margin-left: 178px;
}
#E02-cellPhone .conTxt{
    width: 310px;
    margin-top: 140px;
}
#E02-cellPhone .helpCon .conTxt h2{
    font-size: 24px;
    font-weight: bold;
}
#E02-cellPhone .article2 .mobileHelp .btnGrp{
    width: 406px;
    height: 30px;
    margin: 0 auto;
}
#E02-cellPhone .article2 .mobileHelp .btnGrp .E02-button{
    width: 70px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    background: none;
    border-radius: 0px;
    margin-right: 88px;
}
#E02-cellPhone .article2 .mobileHelp .btnGrp .E02-button.mr0{
    margin-right: 0px;
}
#E02-cellPhone .article2 .mobileHelp .btnGrp .E02-button.active{
    background: none;
    color: #333;
    border-bottom: 5px solid #fc0039;
    margin-bottom: 0px;
}
#E02-cellPhone .article2 .flexslider {
    background: none;
}#E02-cellPhone .article2 .flexslider li{
    margin-left: 0;
 }

#E02-cellPhone .article2 .flexslider .slides img{
    width: 373px;
    height: 570px;
}
#E02-cellPhone .article2 .flex-control-paging li a{
    width: 20px;
    height: 14px;
    border: none;
    background: #cccccc;
    text-indent: 0;
    color: #fff;
}

#E02-cellPhone .article2 .bg .orange{
    width: 238px;
    height: 238px;
    background: url("../images/circleOrange.png");
}
#E02-cellPhone .article2 .bg .pink{
    width: 62px;
    height: 62px;
    background: url("../images/circlePink.png");
}
#E02-cellPhone .article2 .bg  .blue{
    width: 254px;
    height: 254px;
    background: url("../images/circleBlue.png");
}
#E02-cellPhone .article2 .flex-control-paging li a.flex-active{
    background: #fc0039;
}
#E02-cellPhone .article3{
    width: 100%;
    background: #eeeeee;
    height: 686px;
    position: relative;
    z-index: 4;
}
#E02-cellPhone .tool-content ul#fadetab li.active a{
    background: #fc0039;
}
#E02-cellPhone .tool-content ul#fadetab li a{
    width: 108px;
    height: 32px;
    line-height: 32px;
}

#E02-cellPhone .E02-banner .E02-section .ico.ico1{
    width: 39px;
    height: 44px;
    background: url("../images/ico1.png");
    top: 159px;
    left: -220px;
    animation: phoneIco 8s ease alternate infinite;
}
#E02-cellPhone .E02-banner .E02-section .ico.ico2{
    width: 53px;
    height: 57px;
    background: url("../images/ico2.png");
    top: 118px;
    left: -163px;
    animation: phoneIco2 8s ease alternate infinite;
}
#E02-cellPhone .E02-banner .E02-section .ico.ico3{
    width: 46px;
    height: 46px;
    background: url("../images/ico3.png");
    top: 166px;
    left: -98px;
    animation: phoneIco 8s ease alternate infinite;
}
#E02-cellPhone .E02-banner .E02-section .ico.ico4{
    width: 28px;
    height: 27px;
    background: url("../images/ico4.png");
    top: 144px;
    left: -41px;
    animation: phoneIco2 8s ease alternate infinite;
}
#E02-cellPhone .E02-banner .E02-section .ico.ico5{
    width: 40px;
    height: 32px;
    background: url("../images/ico5.png");
    top: 134px;
    right: 305px;
    animation: phoneIco 8s ease alternate infinite;
}
#E02-cellPhone .E02-banner .E02-section .ico.ico6{
    width: 42px;
    height: 41px;
    background: url("../images/ico6.png");
    right: 254px;
    top: 158px;
    animation: phoneIco2 8s ease alternate infinite;
}
#E02-cellPhone .E02-banner .E02-section .ico.ico7{
    width: 51px;
    height: 51px;
    background: url("../images/ico7.png");
    right: -221px;
    top: 134px;
    animation: phoneIco2 8s ease alternate infinite;
}
#E02-cellPhone .E02-banner .E02-section .clone3{
    width: 46px;
    height: 46px;
    background: url("../images/ico3.png");
    right: -45px;
    top: 173px;
    transform: rotate(-20deg);
    animation: phoneIco 8s ease alternate infinite;

}
#E02-cellPhone .E02-banner .E02-section .ico.clone4{
    width: 28px;
    height: 27px;
    background: url("../images/ico4.png");
    top: 144px;
    right: -75px;
    top: 138px;
    transform: rotate(-40deg) scale(1.2);
    animation: phoneIco2 8s ease alternate infinite;
}
#E02-cellPhone .E02-banner .E02-section .ico.clone2{
    width: 53px;
    height: 57px;
    background: url("../images/ico2.png");
    top: 118px;
    right: -157px;
    animation: phoneIco 8s ease alternate infinite;
}
#E02-cellPhone .toolHeader{
    width: 100%;
    height: 78px;
    padding-top: 62px;
}
#E02-cellPhone .toolHeader h2,#E02-cellPhone .toolHeader .tabbtn{
    float: left;
}
#E02-cellPhone .toolHeader h2{
    width: 182px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 50px;
}
#E02-cellPhone .toolHeader .tabbtn{
    width: 640px;
}
#E02-cellPhone .tabcon .sublist .subCont{
    width: 450px;
    height: 240px;
    float: left;
    margin: 0;
}
#E02-cellPhone .tabcon .sublist .subCont.b1{
    padding-left: 22px;
    border-left: 1px solid #d3dbdb;
}
#E02-cellPhone .tabcon .sublist .subCont .contDes{
    width: 240px;
}
#E02-cellPhone .tabcon .sublist .subCont h4{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-indent: 1em;
    background: url("../__static/__images/inx-arrow.png") 0px center no-repeat;
}
#E02-cellPhone .tabcon .sublist .subCont h4.empty{
    background: none;
}