/*用户中心页面*/
/*取款*/
body{
    background: #12151a;
}
#E02-user {
    background: #d3dbdb;
}
#E02-user .E02-section{
    padding: 144px 0 48px 0;
    color: #313131;
    position: relative;
}
#E02-user .user-header {
    width: 690px;
    height: 54px;
    position: absolute;
    z-index: 3;
    top: 144px;
    right: 0;
    background: #fff;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #d3d3d3;
    padding: 15px 0 0 40px;

}
#E02-user .user-header .E02-button{
    width: 142px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    font-size: 16px;
    border: 1px solid #dedede;
    float: left;
    color: #313131;
    margin-right: 3px;
}
#E02-user .user-header .E02-button.active{
    background-color: #ff0036;
    border-color: #ff0036;
    color: #fff;
}
#E02-user .user-header .E02-button:hover{
    opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
#E02-user .tool-menu{
    width: 260px;
    height: 894px;
    background: #fff;
    border-radius:10px;
    overflow: hidden;
}
#E02-user .tool-menu .top{
    width: 240px;
    height: 91px;
    padding: 20px 0 0 20px;
    font-size: 14px;
    background: #eaeaea;
}
#E02-user .tool-menu .top .proxyRegisterBg{
    background: url("../images/proxy-Bg.jpg");
}
#E02-user .tool-menu .userIco{
    width: 40px;
    height: 40px;
    background: url("../images/user-personIco.png");
    margin: 8px 17px 0 0;
}
#E02-user .tool-menu .bottom{
    border-top:1px solid #d3d3d3 ;
}
#E02-user .tool-menu .bottom .unshow{

    color: #313131;
}
#E02-user .tool-menu .bottom li a{
    width: 100%;
    height: 47px;
    line-height: 47px;
    text-indent: 2.5em;
    display: block;
    border-bottom:1px solid #d3d3d3 ;
    font-size: 14px;
}
#E02-user .tool-menu .bottom li a:hover{
    opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
#E02-user .tool-menu .bottom li a.active{
    color: #00a7ea;
    background: url("../images/user-toolArrow.png") no-repeat 225px center;
    transition: none;
}
#E02-user .tool-menu .bottom li.have a{
    *width: 260px;
    *height: 47px;
    *position: relative;
}
#E02-user .tool-menu .bottom li.have a .ico{
    *position: absolute;
    *top: 0px;
    *right: 10px;
}
#E02-user .tool-menu .bottom li.have ul li a{
    *width: 186px;
    *height: 26px;
    *position: relative;
}
#E02-user .tool-menu .bottom li.have ul li a span.E02-button{
    *float:none;
    *position: absolute;
    *top: 0px;
    *right: 10px;
}
#E02-user .tool-menu .bottom li a span.E02-button{
    width: 50px;
    height: 16px;
    line-height: 16px;
    background: #00a7ea;
    float: right;
    text-indent: 0;
    font-size: 12px;
    margin-top: 12px;
    margin-right: 50px;
    border: 1px solid #00a7ea;
}
#E02-user .tool-menu .bottom li a span.E02-button.disabled{
    background: #e9e9e9;
    border-color: #c8c8c8;
    color: #767676;
}
#E02-user .tool-menu .bottom.multiple li.have a{
    height: auto;
    border:none;
}
#E02-user .tool-menu .bottom.multiple li .tips{
	color:red;
	margin-left: 22px;
}

#E02-user .tool-menu .bottom.multiple .ico{
    display: block;
    float: right;
    width: 15px;
    height: 8px;
    background: url("../images/user-arrow-new.png") no-repeat;
    margin: 17px 10px 0 0;
}
#E02-user .tool-menu .bottom.multiple li.have.active .ico{
    transform: rotate(180deg);
}
#E02-user .tool-menu .bottom.multiple li.mt1 a{
    border-top: 1px solid #d3d3d3;
}
#E02-user .tool-menu .bottom.multiple li ul{
    width: 186px;
    margin-left: 35px;
    margin-bottom: 10px;
}
#E02-user .tool-menu .bottom.multiple li ul li a{
    *width: 186px;
    *height: 26px;
}
#E02-user .tool-menu .bottom.multiple  li.have ul li a{
    height: 26px;
    line-height: 26px;
}
#E02-user .tool-menu .bottom.multiple  li.have a span.E02-button{

    margin: 3px 0 0 0;

}
#E02-user .tool-menu .bottom.multiple  li.have ul li a.active{
    background: url("../images/user-multipleArrow.png") no-repeat 17px 8px;
}
#E02-user .tool-menu .conMenu{
    height: 70px;
    line-height: 70px;
    padding-top: 0;
}
#E02-user .tool-menu .conMenu img{
    vertical-align: middle;
    margin: -7px 10px 0 10px;
}
#E02-user .tool-content{
    width:730px;
    border-radius: 10px;
    margin-left: 10px;
    background: url("../images/user-toolContentBg.jpg") repeat-y #fff 22px top;
    min-height: 430px;
    padding: 90px 0 270px 0;
}
#E02-user .tool-content.userForm{
    background-position: 131px 0;
}
#E02-user .tool-content.userCashLog{
    background-position: 22px 0;
    padding: 90px 0 270px 0;
}
#E02-user .tool-content .txt_title{
    width: 113px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    padding-right: 18px;
}
#E02-user .tool-content .txt_in{
    width: 278px;
    height: 30px;
    border: 1px solid #d3d3d3;
    line-height: 30px;
    border-radius: 0px;
    background: #f3f3f3;
    margin-left: 10px;
    text-align: left;
}
#E02-user .tool-content .phone_in{
    font-size: 14px;
    margin-left: 10px;

}

#E02-user .tool-content .info{
    line-height: 30px;
    margin-left: 10px;
}
#E02-user .tool-content .txt_in:focus{
    border-color: #128bd4;
    background: #fff;
}
#E02-user .tool-content .txt_div{
    margin-bottom: 10px;
}
#E02-user .tool-content .infoonedit{
    display:none;
}
#E02-user .tool-content .txt_div .warn_msg{
    line-height: 30px;
    color: #ff0037;
    font-style: normal;
}

#E02-user .tool-content .txt_div .notic_msg{
    line-height: 30px;
    color: #8e8e8e;
    font-style: normal;
    /*margin-left:30px;*/
}

#E02-user .tool-content .E02-button{
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
#E02-user .tool-content .commonTableV .E02-button.cancel{
    width: 80px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}
#E02-user .tool-content .E02-button.submit{
    margin-right: 10px;
}
#E02-user .tool-content .E02-button.gray{
    background: #d3d3d3;
    color: #313131;
}
#E02-user .tool-content .E02-button.gray:hover{
    opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
#E02-user .tool-content .E02-button.blue{
    background: #00a7ea;
    color: #fff;
}
#E02-user .tool-content .E02-button.blue:hover{
    background: #0094cf;
}
#E02-user .tool-content .btnGrp{
    padding: 20px 0 0 165px;
}
#E02-user .tool-content .btnGrp.list{
    padding-left: 335px;
}
#E02-user .tool-content .bankGrp{
    width: 400px;
}
#E02-user .onlinePay .bankGrp{
    width: 400px;
    float: left;
}
#E02-user .tool-content .bankBox{
    width: 54px;
    min-height: 113px;
    float: left;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}
#E02-user .onlinePay .bankGrp .bankBox{
    height: 100px;
}
#E02-user .tool-content .bankBox .bankIco {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 3px auto;
    text-align: center;
    background: url("../images/bank/icbcGrey.png") no-repeat center center;
    border: 1px solid #fff;
}
#E02-user .tool-content .bankBox .icbcbankIco {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 3px auto;
    text-align: center;
    background: url("../images/bank/icbcGrey.png") no-repeat center center;
    border: 1px solid #fff;
}
#E02-user .tool-content .bankBox .cmbbankIco {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 3px auto;
    text-align: center;
    background: url("../images/bank/cmbGrey.png") no-repeat center center;
    border: 1px solid #fff;
}
#E02-user .tool-content .bankBox .bocobankIco {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 3px auto;
    text-align: center;
    background: url("../images/bank/bocoGrey.png") no-repeat center center;
    border: 1px solid #fff;
}
#E02-user .tool-content .bankBox .abcbankIco {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 3px auto;
    text-align: center;
    background: url("../images/bank/abcGrey.png") no-repeat center center;
    border: 1px solid #fff;
}
#E02-user .tool-content .bankBox .ccbbankIco {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 3px auto;
    text-align: center;
    background: url("../images/bank/ccbGrey.png") no-repeat center center;
    border: 1px solid #fff;
}

#E02-user .tool-content .bankBox .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/icbc.png");

}
#E02-user .tool-content .bankBox .icbcbankIco.icbcactive {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/icbc.png");

}
#E02-user .tool-content .bankBox .cmbbankIco.cmbactive {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/cmb.png");

}
#E02-user .tool-content .bankBox .bocobankIco.bocoactive {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/boco.png");

}
#E02-user .tool-content .bankBox .abcbankIco.abcactive {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/abc.png");

}
#E02-user .tool-content .bankBox .ccbbankIco.ccbactive {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/ccb.png");

}

#E02-user .tool-content .bankBox:hover .bankIco{
    background-image: url("../images/bank/icbc.png");
}
#E02-user .tool-content .bankBox.abc .bankIco,#E02-user .tool-content .bankBox.ABOC .bankIco{
    background-image: url("../images/bank/abcGrey.png");
}
#E02-user .tool-content .bankBox.abc:hover .bankIco,#E02-user .tool-content .bankBox.ABOC:hover .bankIco{
    background-image: url("../images/bank/abc.png");
}
#E02-user .tool-content .bankBox.abc .bankIco.active,#E02-user .tool-content .bankBox.ABOC .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/abc.png");
}
#E02-user .tool-content .bankBox.ccb .bankIco,#E02-user .tool-content .bankBox.CCBC .bankIco{
    background-image: url("../images/bank/ccbGrey.png");
}
#E02-user .tool-content .bankBox.ccb:hover .bankIco,#E02-user .tool-content .bankBox.CCBC:hover .bankIco{
    background-image: url("../images/bank/ccb.png");
}
#E02-user .tool-content .bankBox.ccb .bankIco.active,#E02-user .tool-content .bankBox.CCBC .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/ccb.png");
}
#E02-user .tool-content .bankBox.boco .bankIco,#E02-user .tool-content .bankBox.BCM .bankIco{
    background-image: url("../images/bank/bocoGrey.png");
}
#E02-user .tool-content .bankBox.boco:hover .bankIco,#E02-user .tool-content .bankBox.BCM:hover .bankIco{
    background-image: url("../images/bank/boco.png");
}
#E02-user .tool-content .bankBox.boco .bankIco.active,#E02-user .tool-content .bankBox.BCM .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/boco.png");
}
#E02-user .tool-content .bankBox.cmb .bankIco,#E02-user .tool-content .bankBox.CMB .bankIco{
    background-image: url("../images/bank/cmbGrey.png");
}
#E02-user .tool-content .bankBox.cmb:hover .bankIco,#E02-user .tool-content .bankBox.CMB:hover .bankIco{
    background-image: url("../images/bank/cmb.png");
}
#E02-user .tool-content .bankBox.cmb .bankIco.active,#E02-user .tool-content .bankBox.CMB .bankIco.active{
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/cmb.png");
}
#E02-user .tool-content .bankBox.bofc .bankIco,#E02-user .tool-content .bankBox.BOC .bankIco{
    background-image: url("../images/bank/bofcGrey.png");
}
#E02-user .tool-content .bankBox.bofc:hover .bankIco,#E02-user .tool-content .bankBox.BOC:hover .bankIco{
    background-image: url("../images/bank/bofc.png");
}
#E02-user .tool-content .bankBox.bofc .bankIco.active,#E02-user .tool-content .bankBox.BOC .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/bofc.png");
}
#E02-user .tool-content .bankBox.msb .bankIco,#E02-user .tool-content .bankBox.CMBC .bankIco{
    background-image: url("../images/bank/msbGrey.png");
}
#E02-user .tool-content .bankBox.msb:hover .bankIco,#E02-user .tool-content .bankBox.CMBC:hover .bankIco{
    background-image: url("../images/bank/msb.png");
}
#E02-user .tool-content .bankBox.msb .bankIco.active,#E02-user .tool-content .bankBox.CMBC .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/msb.png");
}
#E02-user .tool-content .bankBox.hxb .bankIco,#E02-user .tool-content .bankBox.HXB .bankIco{
    background-image: url("../images/bank/hxbGrey.png");
}
#E02-user .tool-content .bankBox.hxb:hover .bankIco,#E02-user .tool-content .bankBox.HXB:hover .bankIco{
    background-image: url("../images/bank/hxb.png");
}
#E02-user .tool-content .bankBox.hxb .bankIco.active,#E02-user .tool-content .bankBox.HXB .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/hxb.png");
}
#E02-user .tool-content .bankBox.inb .bankIco,#E02-user .tool-content .bankBox.IBC .bankIco{
    background-image: url("../images/bank/inbGrey.png");
}
#E02-user .tool-content .bankBox.inb:hover .bankIco,#E02-user .tool-content .bankBox.IBC:hover .bankIco{
    background-image: url("../images/bank/inb.png");
}
#E02-user .tool-content .bankBox.inb .bankIco.active,#E02-user .tool-content .bankBox.IBC .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/inb.png");
}
#E02-user .tool-content .bankBox.shpdb .bankIco,#E02-user .tool-content .bankBox.SPDB .bankIco{
    background-image: url("../images/bank/shpdbGrey.png");
}
#E02-user .tool-content .bankBox.shpdb:hover .bankIco,#E02-user .tool-content .bankBox.SPDB:hover .bankIco{
    background-image: url("../images/bank/shpdb.png");
}
#E02-user .tool-content .bankBox.shpdb .bankIco.active,#E02-user .tool-content .bankBox.SPDB .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/shpdb.png");
}
#E02-user .tool-content .bankBox.gddb .bankIco{
    background-image: url("../images/bank/gddbGrey.png");
}
#E02-user .tool-content .bankBox.gddb:hover .bankIco{
    background-image: url("../images/bank/gddb.png");
}
#E02-user .tool-content .bankBox.gddb .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/gddb.png");
}
#E02-user .tool-content .bankBox.citic .bankIco,#E02-user .tool-content .bankBox.CCTB .bankIco{
    background-image: url("../images/bank/citicGrey.png");
}
#E02-user .tool-content .bankBox.citic:hover .bankIco,#E02-user .tool-content .bankBox.CCTB:hover .bankIco{
    background-image: url("../images/bank/citic.png");
}
#E02-user .tool-content .bankBox.citic .bankIco.active,#E02-user .tool-content .bankBox.CCTB .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/citic.png");
}
#E02-user .tool-content .bankBox.ebb .bankIco,#E02-user .tool-content .bankBox.CEB .bankIco{
    background-image: url("../images/bank/ebbGrey.png");
}
#E02-user .tool-content .bankBox.ebb:hover .bankIco,#E02-user .tool-content .bankBox.CEB:hover .bankIco{
    background-image: url("../images/bank/ebb.png");
}
#E02-user .tool-content .bankBox.ebb .bankIco.active,#E02-user .tool-content .bankBox.CEB .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/ebb.png");
}
#E02-user .tool-content .bankBox.psb .bankIco,#E02-user .tool-content .bankBox.PSBC .bankIco{
    background-image: url("../images/bank/psbGrey.png");
}
#E02-user .tool-content .bankBox.psb:hover .bankIco,#E02-user .tool-content .bankBox.PSBC:hover .bankIco{
    background-image: url("../images/bank/psb.png");
}
#E02-user .tool-content .bankBox.psb .bankIco.active,#E02-user .tool-content .bankBox.PSBC .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/psb.png");
}

#E02-user .tool-content .bankBox.ncxyhzs .bankIco,#E02-user .tool-content .bankBox.PSBC .bankIco{
    background-image: url("../images/bank/ncxyhzsGrey.png");
}
#E02-user .tool-content .bankBox.ncxyhzs:hover .bankIco,#E02-user .tool-content .bankBox.PSBC:hover .bankIco{
    background-image: url("../images/bank/ncxyhzs.png");
}
#E02-user .tool-content .bankBox.ncxyhzs .bankIco.active,#E02-user .tool-content .bankBox.PSBC .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/ncxyhzs.png");
}

#E02-user .tool-content .bankBox.szdb .bankIco,#E02-user .tool-content .bankBox.PSBC .bankIco{
    background-image: url("../images/bank/szdbGrey.png");
}
#E02-user .tool-content .bankBox.szdb:hover .bankIco,#E02-user .tool-content .bankBox.PSBC:hover .bankIco{
    background-image: url("../images/bank/szdb.png");
}
#E02-user .tool-content .bankBox.szdb .bankIco.active,#E02-user .tool-content .bankBox.PSBC .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/szdb.png");
}

#E02-user .tool-content .bankBox.alipay .bankIco{
    background-image: url("../images/bank/alipayGray.png");
}
#E02-user .tool-content .bankBox.alipay:hover .bankIco{
    background-image: url("../images/bank/alipay.png");
}
#E02-user .tool-content .bankBox.alipay .bankIco.active{
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/alipay.png");
}
#E02-user .tool-content .bankBox.bjyh .bankIco{
    background-image: url("../images/bank/bjyhGrey.png");
}
#E02-user .tool-content .bankBox.bjyh:hover .bankIco{
    background-image: url("../images/bank/bjyh.png");
}
#E02-user .tool-content .bankBox.bjyh .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/bjyh.png");
}
#E02-user .tool-content .bankBox.tccb .bankIco{
    background-image: url("../images/bank/tccbGrey.png");
}
#E02-user .tool-content .bankBox.tccb:hover .bankIco{
    background-image: url("../images/bank/tccb.png");
}
#E02-user .tool-content .bankBox.tccb .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/tccb.png");
}
#E02-user .tool-content .bankBox.bos .bankIco{
    background-image: url("../images/bank/bosGrey.png");
}
#E02-user .tool-content .bankBox.bos:hover .bankIco{
    background-image: url("../images/bank/bos.png");
}
#E02-user .tool-content .bankBox.bos .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/bos.png");
}
#E02-user .tool-content .bankBox.srcb .bankIco{
    background-image: url("../images/bank/srcbGrey.png");
}
#E02-user .tool-content .bankBox.srcb:hover .bankIco{
    background-image: url("../images/bank/srcb.png");
}
#E02-user .tool-content .bankBox.srcb .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/srcb.png");
}
#E02-user .tool-content .bankBox.pab .bankIco{
    background-image: url("../images/bank/pabGrey.png");
}
#E02-user .tool-content .bankBox.pab:hover .bankIco{
    background-image: url("../images/bank/pab.png");
}
#E02-user .tool-content .bankBox.pab .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/pab.png");
}
#E02-user .tool-content .bankBox.bjrcb .bankIco{
    background-image: url("../images/bank/bjrcbGrey.png");
}
#E02-user .tool-content .bankBox.bjrcb:hover .bankIco{
    background-image: url("../images/bank/bjrcb.png");
}
#E02-user .tool-content .bankBox.bjrcb .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/bjrcb.png");
}
#E02-user .tool-content .bankBox.njcb .bankIco{
    background-image: url("../images/bank/njcbGrey.png");
}
#E02-user .tool-content .bankBox.njcb:hover .bankIco{
    background-image: url("../images/bank/njcb.png");
}
#E02-user .tool-content .bankBox.njcb .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/njcb.png");
}
#E02-user .tool-content .bankBox.szdb .bankIco{
    background-image: url("../images/bank/szdbGrey.png");
}
#E02-user .tool-content .bankBox.szdb:hover .bankIco{
    background-image: url("../images/bank/szdb.png");
}
#E02-user .tool-content .bankBox.szdb .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/szdb.png");
}
#E02-user .tool-content .bankBox.nbcb .bankIco{
    background-image: url("../images/bank/nbcbGrey.png");
}
#E02-user .tool-content .bankBox.nbcb:hover .bankIco{
    background-image: url("../images/bank/nbcb.png");
}
#E02-user .tool-content .bankBox.nbcb .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/nbcb.png");
}
#E02-user .tool-content .bankBox.hsbank .bankIco{
     background-image: url("../images/bank/hsbankGrey.png");
 }
#E02-user .tool-content .bankBox.hsbank:hover .bankIco{
    background-image: url("../images/bank/hsbank.png");
}
#E02-user .tool-content .bankBox.hsbank .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/hsbank.png");
}
#E02-user .tool-content .bankBox.czbank .bankIco{
    background-image: url("../images/bank/czbankGrey.png");
}
#E02-user .tool-content .bankBox.czbank:hover .bankIco{
    background-image: url("../images/bank/czbank.png");
}
#E02-user .tool-content .bankBox.czbank .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/czbank.png");
}
#E02-user .tool-content .bankBox.bohaibank .bankIco{
    background-image: url("../images/bank/bohaibankGrey.png");
}
#E02-user .tool-content .bankBox.bohaibank:hover .bankIco{
    background-image: url("../images/bank/bohaibank.png");
}
#E02-user .tool-content .bankBox.bohaibank .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/bohaibank.png");
}
#E02-user .tool-content .bankBox.hebbank .bankIco{
    background-image: url("../images/bank/hebbankGrey.png");
}
#E02-user .tool-content .bankBox.hebbank:hover .bankIco{
    background-image: url("../images/bank/hebbank.png");
}
#E02-user .tool-content .bankBox.hebbank .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/hebbank.png");
}
#E02-user .tool-content .bankBox.eab .bankIco{
    background-image: url("../images/bank/eabGrey.png");
}
#E02-user .tool-content .bankBox.eab:hover .bankIco{
    background-image: url("../images/bank/eab.png");
}
#E02-user .tool-content .bankBox.eab .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/eab.png");
}
#E02-user .tool-content .bankBox.inbdebit .bankIco{
    background-image: url("../images/bank/inbdebitGrey.png");
}
#E02-user .tool-content .bankBox.inbdebit:hover .bankIco{
    background-image: url("../images/bank/inbdebit.png");
}
#E02-user .tool-content .bankBox.inbdebit .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/inbdebit.png");
}
#E02-user .tool-content .bankBox.inbcredit .bankIco{
    background-image: url("../images/bank/inbcreditGrey.png");
}
#E02-user .tool-content .bankBox.inbcredit:hover .bankIco{
    background-image: url("../images/bank/inbcredit.png");
}
#E02-user .tool-content .bankBox.inbcredit .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/inbcredit.png");
}
#E02-user .tool-content .bankBox.wechat .bankIco{
    background-image: url("../images/bank/wechatGrey.png");
}
#E02-user .tool-content .bankBox.wechat:hover .bankIco{
    background-image: url("../images/bank/wechat.png");
}
#E02-user .tool-content .bankBox.wechat .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/wechat.png");
}
#E02-user .tool-content .bankBox.wechat .bankIco{
    background-image: url("../images/bank/wechatGrey.png");
}
#E02-user .tool-content .bankBox.wechat:hover .bankIco{
    background-image: url("../images/bank/wechat.png");
}
#E02-user .tool-content .bankBox.wechat .bankIco.active {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-image: url("../images/bank/wechat.png");
}
/*取款记录*/
#E02-user .commonTableTitle{
    height: 32px;
 /*   padding: 0 30px;*/
    line-height: 30px;
}

#E02-user .commonTableTitle input{
    line-height: 30px;
    height: 30px;
    width:106px;
    margin-right: 5px;
    margin-left: 5px;
/*    text-indent: 1em;*/
	text-indent:6px;
    vertical-align: middle;
}
#E02-user .commonTableTitle select{
    vertical-align: middle;
}
#E02-user .commonTableTitle select{
    height: 30px;
    margin-right: 5px;
}
#E02-user .commonTableTitle .content{
    float: left;
}
#E02-user .commonTableTitle .E02-button,#E02-user .txt_div a.E02-button{
    width: 59px;
    *width:56px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    background: #f3f3f3;
    border: 1px solid #d3d3d3;
    color: #313131;
    border-radius: 5px;
    float: left;
}
#E02-user .commonTableTitle .E02-button:hover,#E02-user .txt_div a.E02-button:hover{
    background: #128bd4;
    border-color: #128bd4;
    color: #fff;
}
#E02-user .commonTableBox{
    margin: 0 58px;
}
#E02-user .commonTableBox p{
    width: 550px;
}
.commonTableV{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.commonTableV tbody th,#E02-user .commonTableV tbody td{
    height: 12px;
    line-height: 12px;
    padding-bottom: 2px;
}
.commonTableV tbody .border{
    padding: 19px 0;
    color: #5e5e5e;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.commonTableV tbody .first .border{
    border-left: 1px solid #dedede;
    border-radius: 5px 0 0 5px;
}
.commonTableV tbody .last .border{
    border-right: 1px solid #dedede;
    border-radius: 0 5px 5px 0;
    line-height: 12px;
    height: 12px;
}
.commonTableV tbody td.last .delete{
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("../images/user-delete.png");
    float: right;
    margin-right: 20px;
}
.commonTableV tbody td.w5{
    width: 6%;
}
.commonTableV tbody td.w20{
    width: 20%;
}
.commonTableV tbody td span{
    border-right: 1px solid #5e5e5e;
    display: block;
    line-height: 12px;
    height: 12px;
}
.commonTableV tbody td span.detailBtn{
    cursor: pointer;
}
.commonTableV tbody td.last span{
    border-right: none;
}
.commonTableV tbody tr:hover .border{
    border-color: #00a7ea;
}
.commonTableV tbody tr:hover .delete{
    background-image: url("../images/user-deleteHover.png");
}
.commonTableV thead{
    font-size: 16px;
    line-height: 50px;
}
.commonTableV .E02-button{
    width: 72px;
    height: 25px;
    line-height: 25px;
    background: #dedede;
    font-size: 12px;
    color: #313131;
    margin: -6px auto;
}
.commonTableV .E02-button:hover{
    opacity: 0.7;
}
.commonTableV thead .E02-button{
    width: 72px;
    height: 25px;
    line-height: 25px;
    margin-top: 12px;
    background: #dedede;
    font-size: 12px;
    color: #313131;
}
#E02-user .btns .E02-button{
    float: right;
    font-size: 14px;
    margin-right: 10px;
    background: #dedede;
    width: 104px;
    height: 25px;
    line-height: 25px;
    color: #313131;
}
#E02-user .btns .E02-button:hover{
    color: #fff;
    background: #00a7ea;
}
/*账户总览*/
#E02-user .userTotal dl{
    width: 240px;
    font-size: 14px;
    float: left;
    margin-left: 10px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 5px 8px #ccc;
}
#E02-user .userTotal dl dt{
    line-height: 50px;
    height: 50px;
    background: #00a7ea;
    color: #fff;
    font-size: 16px;
    padding-left: 28px;
}
#E02-user .userTotal dl dd span{
    margin-left: 28px;
}
#E02-user .userTotal dl dd{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #dedede;
}
#E02-user .userTotal dl dd.last{
    border: none;
}
#E02-user .userTotal dl.dalerTotal{
    margin-left: 42px;
}
/*成功失败页面*/
#E02-user .userResult ul{
    width: 400px;
    margin: 0 auto;
}
#E02-user .userResult ul li{
    margin-bottom: 50px;
}
.icoBox{
    width: 113px;
    height: 112px;
    background: url("../images/user-resultIco.jpg") no-repeat -113px 0;
    margin: 0 auto;
}
.icoBox.false{
    background-position: 0 0;
}
.icoBox.mb20{
    margin-bottom: 20px;
}
#E02-user .userResult ul li .E02-button{
    width: 113px;
    background-color: #ff0037;
    margin: 0 auto;
}
#E02-user .userResult ul li .btnGrp{
    width: 300px;
    margin: 0 auto;
    padding: 0;
}
#E02-user .userResult ul li .btnGrp .E02-button{
    width: 135px;
    margin:0 20px 0 0;
    float: left;
}
#E02-user .userResult ul li .btnGrp .E02-button:hover{
    opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
#E02-user .userResult ul li .btnGrp .E02-button.blue{
    background-color: #00a7ea;
}
#E02-user .userResult ul li .btnGrp .E02-button.mr0{
    margin: 0;
}
#E02-user .userResult ol li{
    margin: 0 0 10px 0;
}
#E02-user .userResult ol{
    font-size: 14px;
}
/*取款*/
#E02-user .hr{
    margin-left:131px;
    border-bottom: 1px dashed #d3d3d3;
    margin-bottom: 20px;
}
#E02-user .txt_div a.E02-button{
    margin-left: 10px;
}
#E02-user .txt_val{
    font-size: 14px;
    line-height: 32px;
    margin-left: 10px;
}
#E02-user .txt_div em{
    font-style: normal;
    line-height: 32px;
}
/*申请优惠*/
#E02-user .userApply{
    width: 888px;
    padding-left: 48px;
}
#E02-user .applyBox{
    width:655px;
    height: 159px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 10px #ccc;
    border:1px solid #fff;
    margin-bottom: 20px;
}
#E02-user .applyBox.mr0{
    margin-right: 0px;
}
#E02-user .applyBox .boxImg{
     width: 430px;
     height: 159px;
 }
#E02-user .applyBox .boxImg img{
    width: 430px;
    height: 159px;
}
#E02-user .applyBox ul{
    width: 220px;
    font-size: 16px;
    margin-top: 20px;
}
#E02-user .applyBox ul li{
    margin:0 0 20px 15px;
}
#E02-user .applyBox ul li .detail img{
    margin-top: 7px;
}
#E02-user .applyBox .content{
    position: relative;
    height: 159px;
}
#E02-user .applyBox .E02-button-un{
    width: 100px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    background: #a6a6a6;
    position: absolute;
    bottom: 20px;
    left: 15px;
    border: none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    text-align: center;
    transition: all 0.25s ease;
}
#E02-user .applyBox .E02-button{
    width: 100px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    background: #a6a6a6;
    position: absolute;
    bottom: 20px;
    left: 15px;
}
#E02-user .applyBox:hover .E02-button{
    background: #ff0037;
}
.userForm_P{
    margin-left: 148px;
    width: 480px;
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 20px;
}
.E02-fixWin{
/*    display: none;*/
}
/*公共日历图标*/
#E02-user .tool-content .Wdate{
    background-image: url("../images/dateIco.png");
    background-position: 260px 8px;
    background-repeat: no-repeat;
}
/*会员中心*/
#E02-user .infoBox{
    width: 429px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 12px;
    float: left;
    margin-left: 10px;
    font-size: 14px;
    line-height: 24px;
}
#E02-user .infoBox .left{
    width: 277px;
}
#E02-user .infoBox .option{
    width: 404px;
    margin: 10px auto;
}
#E02-user .infoBox .option li{
    float: left;
    margin-right: 31px;
    *width: 56px;
    *height: 78px;
}
#E02-user .infoBox .option li .E02-button4.ico{
    margin: 0 auto 4px auto;
}
#E02-user .infoBox .option li.mr0{
    margin-right: 0px;
}
#E02-user .infoBox .option li .E02-button4{
    margin-bottom: 10px;
}
/*修改资料修改*/
#E02-user .txt_div .infoonshow{
    margin-left: 10px;
    line-height: 32px;
}
/*短信订阅*/
#E02-user .msgOrder{
    width: 630px;
    padding-left: 50px;
    padding-right: 50px;
}
#E02-user .msgOrder .btnGrp{
    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
}
#E02-user .title{
    line-height: 46px;
}
#E02-user .title.red{
    color: #ff004e;
}
#E02-user .commonTable2{
    border-collapse: collapse;
    width: 380px;
    line-height: 46px;
    border: 1px solid #dedede;
    border-radius: 5px 5px 0 0 ;
    overflow: hidden;
}
#E02-user .commonTable2.right{
    border-radius: 0 5px  5px 0;
  /*  border-left: none; */
    overflow: hidden;
}

#E02-user .commonTable2 .tr{
    border-bottom: 1px solid #dedede;
    height: 46px;
}
#E02-user .commonTable2 .tr.blue{
    background: #00a7ea;
}
#E02-user .commonTable2 .tr.bb0{
    border: none;
}
#E02-user .commonTable2 .th{
    background: #00a7ea;
    color: #fff;
    padding-left:6%;
    text-align: left;
    font-size: 16px;
    float: left;
    width: 30%;
    text-align: center;
}
#E02-user .commonTable2 .td{
    padding-left: 10%;
    font-size: 14px;
    float: left;
    width: 20%;
}
#E02-user .commonTable2 .tableTitle{
    width:58%;
    text-align: left;
}

#E02-user .commonTable2 .td .checkBoxfake{
    line-height: 20px;
    font-size: 12px;
    margin-top: 13px;
}
#E02-user .commonTable2.userIndexWin{
    width: 100%;
    height: 100%;
    overflow: auto;
}
#E02-user .commonTable2.userIndexWin .th,#E02-user .commonTable2.userIndexWin .td{
    width: 25%;
    padding: 0;
    text-align: center;
}
.E02-detailWin.moneyWin{
    width: 550px;
    height: 330px;
}
.E02-detailWin.moneyWin .detailWin{
    padding: 0;
}
/*代理未登录*/
#E02-user .txt_div .userTitle{
    margin-left: 10px;
    width: 29px;
    height: 30px;
    background: #e9e9e9;
    border: 1px solid #d3d3d3;
    line-height: 30px;
}
#E02-user .loginAccount input.txt_in{
    width: 237px;
}
#E02-user .valid_div input.txt_in{
    width: 195px;
    margin-right: 10px;
}
#E02-user .allow .checkBoxfake{
    margin: 0 10px;
}
#E02-user .allow p{
    width: 225px;
    float: left;
}
#E02-user .userLogin .btnGrp{
    padding-top: 0px;
    padding-left: 220px;
}
#E02-user .tool-menu .top.proxyRegisterBg{
    background: url("../images/proxy-Bg.jpg");
}
#E02-user .tool-content.w750{
    width: 650px;
    padding: 30px 50px 160px 30px;
    line-height: 28px;
    font-size: 14px;
}
#E02-user .tool-content.w750.aboutCon{
    padding-left: 45px;
    padding-right: 28px;
}
#E02-user .userQA{
    width: 100%;
}
#E02-user .userQA li{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}
#E02-user .userQA li:hover{
    border-color: #23b3ed;
}
#E02-user .userQA li .top{
    height: 48px;
    line-height: 48px;

}
#E02-user .userQA li .top .ico{
    float: left;
    width: 7px;
    height: 7px;
    border: 1px solid #23b3ed;
    margin: 20px 17px;
    border-radius: 20px;
}
#E02-user .userQA li.active .top .ico{
    background: #23b3ed;
}
#E02-user .userQA li .top .QATitle{
    float: left;
}
#E02-user .userQA li .content{
    text-indent: 0;
    padding: 0px 40px 20px 40px;
}
#E02-user .txt_div .txt_select{
    width: 290px;
    margin-top: -9px;
    margin-left: 46px;
}
#E02-user .txt_div.select_txt .txt_in{
    background: url("../images/menu-arrowgray.png")no-repeat 260px center;
}
/*代理标题公共页面*/
#E02-user .tool-content h2{
    margin: 30px 0 30px 150px;
}
#E02-user .txt_div .E02-button.bigLine{
    margin-left: 150px;
    width: 150px;
}
#E02-user #linkurl{
    margin-right: 10px;
}
#E02-user #adwebsite{
    margin-right: 10px;
}
.E02-applyWin .displayTitle{
    margin-bottom: 10px;
}
.E02-applyWin2,.E02-applyWin4{
    width: 600px;
    height: 444px;
}
.E02-applyWin8{
    width: 600px;
    height: 280px;
}
.E02-applyWin3{
    width: 457px;
    height: 163px;
}
.E02-applyWin1{
    width: 428px;
    height: 328px;
}
.E02-applyWin6{
    width: 360px;
    height: 224px;
}
.E02-applyWin7{
    width: 498px;
    height: 221px;
}
#detailWin{
    width: 680px;
    margin-top: -100px;
}
#E02-user .tabQ .txt_div .txt_title{
    cursor: pointer;
    line-height: 16px;
    font-size: 18px;
    color: #00a7ea;
    margin-bottom: 20px;
    display: block;
    width: auto;
    height: auto;
    text-align: left;
    float: none;
}
#E02-user .tabQ .txt_div.active .txt_title{
    color: #00a7ea;
}
#E02-user .tabQ .txt_div{
    padding-left: 40px;
}
#E02-user .tool-content.tabQ{
    min-height: 1050px;
    position: relative;
}
#E02-user .txt_div .text_content{
    font-size: 14px;
    width: 650px;
    left: 133px;
    line-height: 32px;
}
.txt_div object{
    margin-left: 10px;;
}
#E02-user .tool-content p.clearfix {
    padding-top: 5px;
    color: #9b9b9b;
}
#E02-user .txt_div .selectPointCard{
    margin: 35px 0 0 10px;
    width: 450px;
    float: left;
}
#E02-user .txt_div .selectPointCard li{
    width: 68px;
    height: 68px;
    margin: 10px 10px 0 0;
    background: #f4f4f4;
    border: 2px solid #f3f3f3;
    border-radius: 5px;
    float: left;
}
#E02-user .txt_div .selectPointCard li:hover{
    border-color: #00a7ea;
}
#E02-user .txt_div .selectPointCard li.active{
    border-color: #00a7ea;
}
#E02-user .txt_div .selectPointCard li.active a,#E02-user .txt_div .selectPointCard li:hover a{
background: url("../images/pointPayment-ico.png");
}
#E02-user .txt_div .selectPointCard li a{
    width: 100%;
    height: 100%;
    background: url("../images/pointPayment-ico-gray.png");
    display: block;
}
#E02-user .txt_div .selectPointCard li a.SNDACARD{
    background-position-x: -68px;
}
#E02-user .txt_div .selectPointCard li a.SOHU{
    background-position-x: -136px;
}
#E02-user .txt_div .selectPointCard li a.ZHENGTU{
    background-position-x: -204px;
}
#E02-user .txt_div .selectPointCard li a.QQCARD{
    background-position-x: -272px;
}
#E02-user .txt_div .selectPointCard li a.UNICOM{
    background-position-x: -340px;
}
#E02-user .txt_div .selectPointCard li a.SZX{
    background-position-x: -408px;
}
#E02-user .txt_div .selectPointCard li a.TELECOM{
    background-position-x: -476px;
}
#E02-user .txt_div .selectPointCard li a.WANMEI{
    background-position-x: -544px;
}
#E02-user .txt_div .selectPointCard li a.NETEASE{
    background-position-x: -612px;
}
#E02-user .txt_div .selectPointCard li a.ZONGYOU{
    background-position-x: -680px;
}
#E02-user .txt_div .selectPointCard li a.TIANHONG{
    background-position-x: -816px;
}
#E02-user .txt_div .selectPointCard li a.JIUYOU{
    background-position-x: -884px;
}
#E02-user .userInfo .userStar{
    *width: 166px;
}
#E02-user .userInfo .userStar span{
    float: left;
}
#E02-user .userInfo .userStar .starIco{
    width: 107px;
    height: 12px;
    margin-top: 5px;
    margin-left: 3px;
    float: left;
    background: url("../images/user-star.png");
}
#E02-user .userInfo .userStar .starIco.level1{
    background-position-y: -12px;
}
#E02-user .userInfo .userStar .starIco.level2{
    background-position-y: -24px;
}
#E02-user .userInfo .userStar .starIco.level3{
    background-position-y: -36px;
}
#E02-user .userInfo .userStar .starIco.level4{
    background-position-y: -48px;
}
#E02-user .userInfo .userStar .starIco.level5{
    background-position-y: -60px;
}
#E02-user .userInfo .userStar .starIco.level6{
    background-position-y: -72px;
}
#E02-user .userInfo .userStar .starIco.level7{
    background-position-y: -84px;
}
#E02-user .userInfo .userStar .starIco.level8{
    background-position-y: -84px;
}
/*帮助中心新增 客户端样式*/

.tool-content ul#fadetab li{
	margin-bottom:50px;
	float:left;
	padding:0px 9px;}
.tool-content ul#fadetab li a{
	display:block;
	width:108px;
	height:32px;
	background-color:#00a7ea;
	text-align:center;
	line-height:32px;
	color:#fff;
	font-size:16px;
		border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;}
.tool-content ul#fadetab li a.new{
    text-align: left;
    text-indent: 47px;
    position: relative;
}
.tool-content ul#fadetab li a.new img{
    position: absolute;
    left: -9px;
    top: -18px;
}
.tool-content ul#fadetab li a:hover , .tool-content ul#fadetab li.current a{
	background-color:#ff0037;
}
.tabcon .sublist .subCont{
	margin:40px 0px;}
.sublist .subCont .contImg{
	width:170px;
	}
.sublist .subCont .contDes{
	width:440px;
margin-left:20px;}
.sublist .subCont .contDes h3{
	font-size:18px;
	font-weight:bold;
	padding:10px 0px;}
.sublist .subCont .subTitle{
	color: #00a7ea;
    font-size: 18px;
    padding: 10px 0px;
    margin-bottom: 40px;
}
.sublist .subCont .contDes p span.blue{
	color:#00a7ea;}
.sublist .subCont .contDes p span.red{
	color:#ff0037;}
.loginWin #msgContiner{
    font-size: 16px;
}
.detail{
    width: 340px;
}
.detail .detailBtn{
    width: 340px;
    display: block;
    padding: 0 5px;
    *padding: 0 0;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position:relative;
    line-height:1.0em;
}
.E02-applyWin9{
    width: 960px;
    min-width: 960px;
    height:420px;

}
.E02-applyWin19{
	height:420px;
    width: 960px;
    min-width: 960px;

}
#E02-user .tool-content .f12{
    margin: 0 0 12px 12px;
}
#E02-user .tool-content .mt30{
    margin-top: 30px;
}
#E02-user .bankFl{
    width: 580px;
    float: left;
}
#E02-user .txt_div a.showMore{
    width: 79px;
}
/*中秋好礼*/
.moonFestival h1{
    color: #00a7ea;
}
.moonFestival h1,.moonFestival .f16,.moonFestival .f18,.moonFestival .success .f14{
    margin-left: 131px;
    text-indent: 20px;
}
.moonFestival .success .f18{
    text-align: center;
    margin-bottom: 20px;
}
.moonFestival .f16{
    margin-bottom: 20px;
}
.moonFestival #show{
    margin-left: 150px;
    line-height: 30px;
}
.moonFestival .success{
    margin-top: 20px;
}
.moonFestival .success .ml131{
    margin-left: 131px;
}
.moonFestival .success .icoBox{
    margin-bottom: 40px;
}
.moonFestival .successDetail{
    margin-top: 20px;
    width: 360px;
    margin-left: 131px;
}
.moonFestival .successDetail dt{
    margin-left: 0px;
}
.moonFestival .successDetail dd{
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    font-size: 14px;
    position: relative;
}
.moonFestival .successDetail input{
    width: 190px;
}
.moonFestival .successDetail dd a,.moonFestival .successDetail dd object{
    color: #128bd4;
    position: absolute;
    right: 0px;
}
.moonFestival .successDetail dd a:hover{
    text-decoration: underline;
}
/*帮助中心新增工具下载页面*/
#E02-user .helpTDL .DLbox{
    width: 304px;
    height: 128px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e4e4e4;
    float: left;
    margin: 15px 0 0 15px;
    background: #f5f5f5;
}
#E02-user .helpTDL .DLbox .icoBox{
    width: 80px;
    height: 80px;
    float: left;
    margin: 11px;
}
#E02-user .helpTDL .DLbox .conBox{
    width: 184px;
    height: 95px;
    float: left;
    margin-top: 16px;
    padding-left: 16px;
    border-left: 1px solid #e8e8e8;
}
#E02-user .helpTDL .DLbox .conBox h3{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
#E02-user .helpTDL .DLbox .conBox .f14{
    color: #999;
}
#E02-user .helpTDL .DLbox .conBox .E02-button{
    width: 96px;
    height: 32px;
    line-height: 32px;
    background: #00b6ee;
    color: #fff;
}
#E02-user .helpTDL .DLbox .conBox .E02-button:hover{
    opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}