.reveal-modal-bg{
    background-color: rgba(50, 50, 50, 0.2);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 120;
}
._alert_ > .alert_main{
	background: #fff none repeat scroll 0 0;
	overflow: hidden;
}
._alert_ > .alert_main table tr td{text-align: center;padding-top:20px;}
._alert_ {
    border: 9px solid rgba(255, 255, 255, .5);
    border-radius: 6px;
    box-sizing: border-box;
    color: #666;
    font-size: 12px;
    left: 50%;
    line-height: 18px;
    margin-left: -200px;
    margin-top: -180px;
    min-height: 150px;
    position: fixed;
    top: 50%;
    min-width:450px;
    visibility: hidden;
    z-index: 200;
}
._alert_ > .alert_main > .title {
    border-bottom: 1px solid #d7d7d7;
    height: 44px;
    margin: 0 15px;
    position: relative;
}
._alert_ > .alert_main > .title > span {
    border-bottom: 3px solid #ea721a;
    font-size: 13px;
    height: 45px;
    line-height: 46px;
    padding: 0 3px;
    position: absolute;
}
._alert_ .btn_close {
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 2px;
    top: 15px;
    width: 24px;
}
._alert_ .btn_close:hover > span {
    transform: rotate(180deg);
}
._alert_ .btn_close > span {
    background: rgba(0, 0, 0, 0) url("../images/mdl-icon.png") no-repeat scroll -11px -80px;
    border: medium none;
    display: block;
    height: 17px;
    transition: all 0.2s ease-in-out 0s;
    width: 18px;
}
._alert_ .btn_ok:active {
    background: #0b954d none repeat scroll 0 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2) inset;
    color: #094124;
    text-shadow: 0 1px #51ba83;
}
._alert_ .btn_ok {
    background: #808080 none repeat scroll 0 0;
    border: 0 none;
    box-shadow: 2px 1px 2px #000;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 32px;
    margin: 20px auto;
    padding-left: 6px;
    text-align: center;
    transition: all 0.1s linear 0s;
    width: 92px;
    word-spacing: 6px;
    height:32px;
}
._alert_ .btn_ok:hover {
    background: #ea721a none repeat scroll 0 0;
}
._alert_ > .alert_main > .alert_con {
    padding: 23px 29px 6px 26px;
    text-align: center;
    font-size:14px;
}
._alert_.anim {
    animation: 0.3s ease-out 0s normal none 1 running key_alert;
    transform-origin: center center 0;
}

@keyframes key_alert {
0% {
    opacity: 0.8;
    transform: scale(0.5);
}
100% {
    transform: scale(1);
}
}
.wrap-bg {
    overflow: hidden;
    padding-bottom: 10px;
}
.wrapper {
    margin: 0 auto;
    width: 990px;
    min-height: 10px;
}
.reg {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #dfdfdf;
}
.reg-tit {
    background-color: #fffcf4;
    border-bottom: 1px solid #dfdfdf;
    height: 47px;
    line-height: 47px;
    padding: 0 15px;
}
.fr {
    float: right;
}
.orange {
    color: #F13131 !important;
    padding: 2px;
}
.reg-tit h3 {
    font-size: 18px;
    font-weight: normal;
    color: #c71f33;
}
.reg-info {
    width: 400px;
    margin: 20px auto 0px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
.reg-info ul li {
    height: 40px;
    line-height: 40px;
    margin-bottom: 24px;
    position: relative;
}
.reg-info ul li.marb{
	margin-bottom:5px;
}
.info-left {
    float: left;
    width: 95px;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
}
.reg-info .red {
    color: #da2c41;
}
.info-right {
    width: 260px;
    float: left;
    white-space: nowrap;
    position: relative;
}
.reg-int, .codes-int {
    width: 240px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    padding-left:30px;
}
.reg-info ul li:first-of-type .info-txt {
    line-height: 24px;
}
.info-txt {
	line-height: 24px;
    width: 405px;
    float:left;
    margin-left:105px;
}
.codes-int {
    width: 117px;
    float: left;
}
input {
    display: inline-block;
    border: none;
}
.reg-info input:focus{
	border-color:#f1c774;
	border-width:2px;
}
.reg-notice-ok{
    background: url("../images/reg_icon.gif") no-repeat 0 -232px;
    height: 18px;
    width: 20px;
    position: absolute;
	left: 240px;
	top: 10px;
}
.reg-notice-login-ok {
    background: url("../images/reg_icon.gif") no-repeat 0 -232px;
    height: 18px;
    width: 20px;
    float: left;
}
.hidn{display:none;}
#reg-notice-icon-login{margin-top:10px;}
.reg-info ul li input[type="checkbox"] {
    background-color: rgb(210,210,21);
}
.reg-info ul li input[type="checkbox"] {
    margin-right: 5px;
    display: inline-block;
}
.codes-img {
    float: left;
    margin: 5px 10px 0 10px;;
}
.orange {
    color: #F13131 !important;
    padding: 2px;
    cursor: pointer;
}
.submit {
    cursor: pointer;
    width: 117px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    border-radius: 2px;
    background: #d32036;
    color: #fff;
}
.submit:hover { background: #c52135 }
.error{
	border: 1px solid #e51937;
}
.reg-notice-icon {
    float: left;
    background: url("../images/reg_icon.gif") no-repeat 0 -195px;
    height: 18px;
    width: 20px;
}