.main {
    margin: 20px auto 0;
    width: 990px;
    position: relative;
}
.main .lcbox {
    background: #fffcf5 none repeat scroll 0 0;
}
.lcbox .lctit {
    border-bottom: 2px solid #ee6b13;
}
.lcbox .lctit .jingcai {
    background: rgba(0, 0, 0, 0) url("../images/unit_hover.jpg") repeat-x scroll 0 0;
    display: block;
    height: 36px;
    position: relative;
    border-radius: 7px 7px 0 0;
    top: 2px;
    width: 116px;
}
.lcbox h2{
	color: #ffffff;
    font-size: 16px;
    letter-spacing: 10px;
    line-height: 36px;
    text-align: center;
    text-indent: 10px;

}
.lcbox .lcmain {
    padding: 10px 0 20px;
}
.lcmain .lot_ul>li {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: inline;
    float: left;
    margin: 10px 5px 0;
    width: 315px;
    border-radius:7px;
}
.lcmain .lot_ul li img {
    float: left;
}
.lcmain .lot_ul li .info {
    float: left;
}
.lcmain .lot_ul li .info h3 {
    margin: 5px 0 5px 10px;
    font-size: 20px;
}
.lcmain .lot_ul li .info h3 a {
    color: #666;
}
.lcmain .lot_ul li .info h3 a:hover {
    color: #ee6b13;
    text-decoration: none;
}
.lcmain .lot_ul li .info>span {
    color: #777;
    line-height: 25px;
    padding:0 10px;
    display: inline-block;
    font-size:14px;
}
.show-gd1 ul{display: inline-block;color:#fff;}
.clear {
    clear: both;
}
.lcmain .lot_ul li .btnbox {
    height:40px;
    overflow: hidden;
    margin-left:20px;
}
.lcmain .lot_ul li .btnbox_top{
	height:100px;
}
.lcmain .lot_ul li .btnbox a {
	background:#e9e9e9;
	color:#333;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 30px;
    margin: 0 15px 0px 0;
    text-align: center;
    width: 80px;
    border-radius:20px;
}
.lcmain .lot_ul li .btnbox a:hover{
	opacity:0.8;
}
.lcmain .lot_ul li .btnbox .buybtn {
    background-color: #d32036;
    color:#ffffff;
    margin-right:-5px;
}
.lot-fore{
	height:30px;
}
.lot-fore .fl {
    float: left;
    line-height: 24px;
    margin-left: 20px;
}
.show-gd1 {
    float: left;
    margin-right: -15px;
    text-align: center;
    width: 239px;
}
.show-gd1 li {
    border-radius: 50%;
    float: left;
    height: 19px;
    line-height: 19px;
    margin: 0 1px !important;
    text-align: center;
    width: 19px;
}
.show-gd1 .big_ball li {
    font-size: 13px;
    height: 21px !important;
    line-height: 19px !important;
    width: 21px !important;
}
.show-gd1 li {
    background: url(../images/b-20.png) no-repeat 0 0;
}
.gct_time {
    background: #e1e1e1 none repeat scroll 0 0;
    color: #666;
}
.gct_time {
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin-left:10px;
}
.tabulousclear{
	display: inline-block;
	line-height: 23px;
}
.gct_time_now_l .leaveh-2{
	font-size: 12px;
	color: #666;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.lcbox li img{width:80px;height:80px;margin:10px 0 0 12px;}


.container{
  width: 1000px;
  margin: 0 auto;
}
.logo{
  float: left;
  height: 85px;
  border-radius: 6px;
  width: 245px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo .betTitle{
  float: left;
  width: 100%;
  height: 140px;
  padding: 15px;
}
.betTitle .betLogo {
  background: url(../images/betBg.png);
  float: left;
  height: 140px;
  border-radius: 6px;
  width: 284px;
  margin-right: 10px;
  text-align: center;
}
.betTitle .betLogo h2 {
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
.betTitle .betLogo h2 {
    font-size: 22px;
}
.betTitle .betLogo img{
    width: 60px;
    height: 60px;
    margin-top: -10px
}
.betTitle .time {
    background: url(../images/betBg.png);
    float: left;
    height: 140px;
    border-radius: 6px;
    width: 380px;
    text-align: center;
    margin-right: 10px;
    box-sizing: border-box;
}
.betTitle .announced {
    background: url(../images/betBg.png);
    float: left;
    height: 140px;
    border-radius: 6px;
    width: 284px;
    text-align: center;
    position: relative;
}
.betTitle .time .timeTitle {
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
.betTitle .time em {
    display: inline-block;
    height: 52px;
    color: #fff;
    font-size: 38px;
    line-height: 52px;
    font-family: Microsoft Yahei;
    margin-top: 6px;
    width: 200px;
    background: #455467;
    border-radius: 3px;
    text-shadow: 0 1px 1px #000;
}
.betTitle .announced .announcedTitle {
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
.betContent {
    float: left;
    width: 100%;
    height: 1135px;
    border-top: 1px solid #ddd;
}
.betContent .betLeft {
    float: left;
    width: 740px;
    min-height: 100%;
    position: relative;
}
.betRight {
    float: left;
    width: 258px;
    min-height: 100%;
    border-left: 1px solid #ddd;
    box-sizing: border-box;
}
.betNavCon {
  width: 100%;
  overflow: hidden;
}
.betNav {
    height: 38px;
    margin: 0 34px;
    transition: .6s;
    width: 3000px;
    position: relative;
    overflow: hidden;
}
.betNavCon .betNav li{
    white-space: nowrap;
}
.betNav>li {
    display: inline-block;
    width: 112px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 38px;
    background: #fff;
    cursor: pointer;
    color: #333;
}
.betNav>li+li {
    border-left: 1px solid #ddd;
}
.betNav .active{
    background: #ea6a31;
    color: #fff;
}
.betNavtab.left {
    left: 0;
    border-right: 1px solid #ddd;
    border-left: none;
}
.betNavtab {
    height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    background: #ececec;
    width: 35px;
    background: linear-gradient(#fff 2%,#ececec);
    border-left: 1px solid #ddd;
    cursor: auto;
}
.betNavtab span {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    border: 1px solid;
    margin: 11px 9.5px;
    cursor: pointer;
}
.betNavtab.left em {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 3px;
}
.betNavtab em {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    display: block;
    margin: 5px 3px;
    transition: .5s;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-left: 4px;
}
.betTitle .timeTitle b {
    color: red;
    margin: 0 5px;
}
.announcedTitle b{
  color: red;
  margin: 0 5px;
}
.roundNo {
    text-align: center;
    margin-top: 26px;
}
.roundNo li {
    display: inline-block;
    width: 42px;
    height: 48px;
    margin: 0 5px;
    position: relative;
    background: url(../images/ballOpenBg.png) no-repeat;
    font-size: 22px;
    line-height: 42px;
    color: #a12836;
    text-shadow: 1px 1px 1px #f5f5f5;
}
.betFilter {
    text-align: left;
    width: 739px;
    box-sizing: border-box;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    background: #f2f4f7;
    border-top: 1px solid #ddd;
}
.betFilter li, .betFilterAnd li{
  display: inline;
  padding: 4px 5px;
  line-height: 30px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  color: #555;
  font-size: 14px;
  margin-right: 13px;
  margin-bottom: 5px;
  position: relative;

}
.betFilter .curr,.betFilter li:hover {
    background: #ff9726;
    color: #fff;
}
.betFilterAnd {
    padding: 10px 15px;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    line-height: 2.2;
    text-align: left;
}
.betTip {
    padding: 3px 15px;
    color: #555;
    background: #fdfdfd;
}
.betRight .box h3 {
    border-bottom: 1px solid #ddd;
    background: #455467;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    margin: 15px 0 6px 8px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    font-weight: 100;
    font-size: 12px;
    padding: 0 6px;
}
.betRight .today .more {
    display: inline-block;
    width: 156px!important;
    margin: 0 8px;
    height: 26px;
    text-align: right;
}
.betRight .today a {
    color: #ff9831;
}
.betRight .today .more a {
    background: #fff;
    display: inline-block;
    line-height: 13px;
    color: #555;
    padding-right: 5px;
}
.betRight .today .more a:last-child {
    padding-left: 5px;
    background: #fff;
    border-left: 1px solid #555;
}
.ResultsList {
    min-height: 279px;
}
.betRight .box table {
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.betRight .box table tbody{
  background:#fff;
}
.betRight .today table th{
    background: #fff;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    color: #666;
    border-bottom: 1px dashed #ddd;
    font-size: 12px;
    border-right: 1px dashed #ddd;
}

.betRight .today table thead th{
    background: #f2f4f7;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    border-right: none;
}
.betRight .box h3 {
    border-bottom: 1px solid #ddd;
    background: #455467;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    margin: 15px 0 6px 8px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    font-weight: 100;
    font-size: 12px;
    padding: 0 6px;
    float:left;
}
.betRight .box .notSelect {
    background: #d6d6d6;
    color: #666;
    cursor: pointer;
}
.betRight .box table {
    text-align: center;
}
.betRight .mybet table th {
    background: #f2f4f7;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #666;
    border-bottom: 1px solid #ddd;
}
.betRight .box table td:first-child a, .betRight .box table td:first-child {
    color: #555;
}
.betRight .box table td {
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666;
    border-right: 1px dotted #ebebeb;
    border-bottom: 1px dashed #ebebeb;
}
.betRight .box .more {
    width: 100%;
}
.betRight .box .more td {
    text-align: right;
    padding-right: 15px;
}
.betRight .box .more td a {
    color: #f37036;
}
.font_gd {
  font-size: 13px;
}
.font_gd:hover {
  font-size: 13px;
  color: #ff0000;
}
.betRight .winnerListSlide {
    height: 539px;
    overflow: hidden;
}
.betRight .winningList {
    float: left;
    width: 100%;
    line-height: 1.5;
}
.betRight .lotteryInfo table th {
    background: #f2f4f7;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    color: #666;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

/*无缝滚动*/
.betRight .winningList .bd .tempWrap, .betRight .winningList .bd {
    width: 100%;
    padding: 0;
}
.betRight .winningList .tempWrap {
    vertical-align: initial;
}
.winnerList li {
    height: 40px;
    padding: 15px;
    padding-bottom: 5px;
    cursor: default;
}
.betRight .winnerListSlide li {
    border-bottom: 1px dotted #ddd;
    padding-top: 5px;
}
img {
  border-style: none;
}
.winnerList li img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    float: left;
    margin-top: 2px;
    margin-right: 9px;
    transition: .5s;
}
.winnerList li p {
    margin: 0;
    float: left;
    line-height: 1.7;
}
.winnerList li p span {
    color: #f63745;
    margin: 0 5px;
}
/*无缝滚动*/

/*弹窗*/
.nextAlert{
	width: 100%;
	height: 100%;
	position: fixed;
  top: 0;
  left: 0;
	z-index: 99;
	display: table;
	font-size: 14px;
}
.nextAlert .content{
	background: #fff;
	width: 380px;
	height: 210px;
	margin: 0 auto;
	opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
}
.nextAlert .section {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.nextAlertBg{
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	opacity: .4;
	position: absolute;
	left: 0;
	top: 0;
}
.nextAlert h3 {
    margin: 0;
    padding: 0 80px 0 20px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2e4158;
    padding-left: 30px;
    border-radius: 2px 2px 0 0;
    border-bottom: none;
		text-align: left;
}
.layermend {
  position: absolute;
  animation-duration: .5s;
  transition: .5s;
  width: 26px;
  height: 28px;
  right: 10px;
  border: 0;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 30px;
	top: 10px;
}
.layermend {
    animation-duration: .5s;
    transition: .5s;
    width: 26px;
    height: 28px;
    right: 10px;
}
.layermend::before, .layermend::after {
    position: absolute;
    left: 5px;
    top: 13px;
    content: '';
    width: 20px;
    height: 2px;
    background-color: rgba(0, 0, 0, .3);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-radius: 3px;
}
.layermend::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.layermend {
    animation-duration: .5s;
    transition: .5s;
    width: 26px;
    height: 28px;
    right: 10px;
}
.nextAlert .button{
	padding: 5px 25px;
	background: #3e5779;
	display: inline-block;
	color: #fff;
	border-radius: 5px;
}
/*弹窗*/
