.main {
    margin: 10px auto 0;
    width: 1000px;
}

.main li {
    list-style-type: none;
    display: block;
    overflow:hidden;
    margin-top: 5px;
}
.main li a .promo_left{
	width: 169px;
    height: 129px;
    float: left;
    background: url(../images/lijicanyu.png) no-repeat 0px -2px;
}
.main li a .promo_right{
	float:right;
	width:817px;
	height:129px;
}
.main li a .promo_right img{
	width:816px;
	height:129px;
	border-top:1px solid #80481e;
	border-right:1px solid #80481e;
}
.main table{margin:0 auto;width:100% !important;line-height: 30px !important;text-align: center;}
.main .detail{padding:0 5px;background: #3f2a2a;border-radius: 0 0 5px 5px;box-shadow: 6px 6px 10px #cccccc;}
.main .detail p{line-height: 30px;display: block;}


.banner-wrap {
    background: url(../images/title_welcome.png) no-repeat left top;
    width: 100%;
    height: 33px;
    margin: 20px 0 18px;
}
.floor {
    background: #fff;
    box-shadow: 0 4px 8px #c7c7c7;
    padding: 15px;
    overflow: hidden;
    position: relative;
}
.showDetail {
    cursor: pointer;
    overflow: hidden;
    -webkit-perspective: 2000px;
	perspective: 2000px;
}
.showDetail img{
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.showDetail:hover img{
	opacity: 0.6;
	-webkit-transform: translate3d(0,0,300px);
	transform: translate3d(0,0,300px);
}
.showDetail:hover div.floorRright{
	opacity:1;
	-webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,70px,0);
    transform: translate3d(0,70px,0);
}
/**, :after, :before {
    box-sizing: inherit;
}*/
.floorLine {
    background: url(../images/activityShaw.png) no-repeat; 
    width: 100%;
    height: 15px;
    padding: 0 3px;
    margin-left: -3px;
}
.floor .showDetail img {
    float: left;
    width: 100%;
    height: 145px;
}
.floor .floorRright {
    box-sizing: border-box;
    position: absolute;
    left:420px;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-40px,0);
	transform: translate3d(0,-40px,0);
}
.floor .floorRright h2 {
    font-size: 28px;
    font-weight: 100;
    margin: 0;
    color: #e4393c;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.floor .floorRright p {
    font-size: 14px;
    padding: 12px 0;
    height: 50px;
}
.floor .floorRright a {
    font-size: 18px;
    display: block;
    line-height: 40px;
    width: 120px;
    background: #e4393c;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding-right: 18px;
    box-sizing: border-box;
}
.floor .floorRright a i {
    position: absolute;
    margin-top: 15px;
    margin-left: 8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #f09394;
    transition: .1s;
}
.floorDetail {
    margin-top: 15px!important;
    border-top: 2px dashed #e6e6e6;
    overflow: hidden;
    display: none;
    width: 970px!important;
    clear: both;
}
.floorDetail h3 {
    display: block;
    background: #d2dbe0;
    width: 84px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.floorDetail h3 i {
    display: inline-block;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid #d2dbe0;
    position: absolute;
    margin-left: 13px;
}
.floorDetail i {
    color: #f76727;
}
.floorDetail em, .floorDetail i {
    font-size: 14px;
}
em, i {
    font-style: normal;
}
.floorDetail .disable {
    background: #d6d6d6;
    color: #999;
}
.floorDetail a {
    font-size: 16px;
    color: #fff;
    background: #e4393c;
    border-radius: 4px;
    padding: 7px 18px;
}
.floorDetail table {
    text-align: center;
    table-layout: fixed;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.floorDetail table td, .floorDetail table th {
    border: 1px solid #e6e6e6;
    height: 40px;
    font-size: 14px;
}
.floorDetail table th {
    background-color: #4393be;
    color: #fff;
    font-weight: 100;
}
.activityCon p, .articleContent p, .helpArtical p, .htpContent p, .msgCon p {
    margin: 0!important;
    padding: 0!important;
}
.activityCon *, .articleContent *, .helpArtical *, .htpContent *, .msgCon * {
    font-family: Microsoft YaHei!important;
    font-size: 14px!important;
    line-height: 30px;
}
.activity .show a i {
    transform: rotate(180deg);
}



/*.effect-dexter {
	background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);
	background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%); 
}
.effect-dexter {
	position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}
.effect-dexter h2, .effect-dexter p {
    margin: 0;
}

.effect-dexter h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}
.effect-dexter img {
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.effect-dexter:hover img {
	opacity: 0.4;
}

.effect-dexter figcaption::after {
	position: absolute;
	right: 30px;
	bottom: 30px;
	left: 30px;
	height: -webkit-calc(50% - 30px);
	height: calc(50% - 30px);
	border: 7px solid #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.effect-dexter:hover figcaption::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.effect-dexter figcaption {
	padding: 3em;
	text-align: left;
}

.effect-dexter p {
	position: absolute;
	right: 60px;
	bottom: 60px;
	left: 60px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

.effect-dexter:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}*/