.rule-box {
	width: 990px;
	margin: auto;
}

.rcon h2 {
	font-size: 12px;
	margin: 10px 0;
}

.rule-left {
	width: 202px;
	float: left;
	margin-top: 10px;
	background: url(../images/rule/wanfa_13.jpg);
	overflow: hidden
}

.rule-left .lbot {
	background: url(../images/rule/wanfa_29.jpg);
	width: 202px;
	height: 13px;
	float: left;
}

.rule-left .lbar {
	background: url(../images/rule/wanfa_07.jpg);
	width: 202px;
	height: 32px;
	overflow: hidden
}

.rule-left .lbar span {
	float: left;
	margin-left: 30px;
	color: #7f2d00;
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
}

.rule-right {
	width: 785px;
	float: left;
	background: url(../images/rule/aaaa_03.jpg);
	margin-top: 10px;
	overflow: hidden
}

.rule-right .rtop {
	background: url(../images/rule/bbbbb_03.jpg);
	width: 785px;
	height: 11px;
	overflow: hidden;
}

.rule-right .rbar {
	background: url(../images/rule/vv_03.jpg);
	width: 755px;
	height: 49px;
	overflow: hidden;
	margin-bottom: 10px;
}

.rule-right .rbar span {
	float: left;
	padding-left: 70px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	line-height: 51px;
}

.rule-right .rbar span.noIcon {
	padding-left: 20px;
}

.rule-right .rbar a {
	float: right;
	line-height: 51px;
	margin-right: 10px;
	color: #006699
}

#rcont {
	padding: 0 15px;
	line-height: 22px;
}

.rule-right strong {
	font-size: 14px;
}

.rcon {
	width: 730px;
	height: auto;
	line-height: 22px;
	color: #434343;
	margin-left: 16px
}

.rcon span {
	float: right;
	margin-right: 0px;
	background: url(../images/rule/bbbb_11.jpg);
	width: 85px;
	height: 26px;
	line-height: 26px;
	text-align: center
}
.ruleContent strong{
	float: left;
	background: url(../images/rule/content_title_bg.gif) 5px 11px no-repeat;
	padding-left: 15px;
	color: #585757;
	line-height: 30px;
	width: 65px;
	font-size:12px;
}
.trend-content{overflow: hidden;width:85%;}
.trend-content span{
	display: block;
	float:left;
	line-height: 25px;
	padding: 2px 10px 5px 0;
}
.trend-content span a{
	color:#7f2d00;
}
.trend-content span a:hover{
	color:#CC0000;
	text-decoration: underline;
}
.rcon span a {
	color: #0066FF;
	font-weight: bold;
}

.rcon span a:hover {
	color: #CC0000
}

.rcon h2 {
	line-height: 10px
}

.rcon h2 a {
	font-weight: bold;
	color: #7f2d00;
}

.rcon h2 a:hover {
	color: #CC0000
}

.rcon p li {
	width: 730px;
	float: left
}

.hong {
	color: #CC0000;
}

.lan {
	color: #003366
}

.rbot {
	background: url(../images/rule/bbbb_13.jpg); no-repeat;
	width: 785px;
	height: 13px;
	clear: both;
	overflow: hidden;
}

.height {
	height: 56px;
	width: 700px;
	float: left
}

table {
	font-size: 12px;
	font-family: '宋体';
	line-height: 30px;
	width:100%;
}

.s-table td {
	border: 1px #CCCCCC solid;
	text-align: center;
	line-height: 30px;
}

.pk10_tab td {
	text-align: center;
	height: 29px;
}

.pk10_tab .bgcolor td {
	background: #F2F2F2;
}

.pk10_tab .bgcolor_1 td {
	background: #FFFFFF;
}

.pk10_tab .strong {
	font-weight: bold;
}

.pk10_tab .red {
	color: #FF0000;
}

.cznav {
	background: #ededed;
	width: 183px;
	padding: 10px 0 10px 13px;
}

.cznav .item li.tit {
	background: url(../images/draw/detail_bg.gif) 0 -63px no-repeat;
	width: 173px;
	height: 32px;
}

.cznav .item li {
	background: url(../images/draw/cznav_li_bg.gif) center bottom no-repeat;
	cursor: pointer;
}

.cznav .item li.tit h1 {
	background: url(../images/draw/cznav_bg.gif) 15px 5px no-repeat;
	padding-left: 45px;
	font-weight: normal;
}

.cznav .item li h1 {
	height: 32px;
	line-height: 32px;
	background: url(../images/draw/cznav_bg.gif) 15px -22px no-repeat;
	padding-left: 45px;
	font-weight: normal;
}

.cznav .item li a {
	color: #333;
}

.cznav .tit a {
	text-decoration: none;
	display: block;
	font-weight: normal;
	color: #515151;
}