﻿
@font-face {
	font-family: "iconfont";
	src: url('fonts/iconfont.eot?t=1463664652'); /* IE9*/
	src: url('fonts/iconfont.eot?t=1463664652#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/iconfont.woff?t=1463664652') format('woff'), /* chrome, firefox */
	url('fonts/iconfont.ttf?t=1463664652') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('fonts/iconfont.svg?t=1463664652#iconfont') format('svg'); /* iOS 4.1- */
}

body{
	height: 100%;
	overflow-x: hidden;
	background: #ffffff;
	font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", 'Microsoft YaHei', sans-serif;
}

.body-background-warpper {
	min-height: 100%;
	min-width: 100%;
}

input {
	border:1px solid #ddd;
	padding-left:12px;
}

a.button, button {
	padding: 3px 6px;
	color: #ffffff;
	background:#cd0005;
	border: none;
	line-height: 18px;
	display: inline-block;
	font: 14px BlinkMacSystemFont;
	border-radius: 4px;
}

input[type='radio'] {
	display: none;
}
label.radio:before {
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	content: "\e618";
	color: #aaaaaa;
	background-color: #ffffff;
	font-size: 18px;
	text-align: center;
	line-height: 19px;
}
input[type='radio']:checked+label.radio:before {
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	content: "\e618";
	color: #00ff00;
	background-color: #ffffff;
	font-size: 18px;
	text-align: center;
	line-height: 19px;
}

.navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
	height: 42px;
	background:#cd0005;
	line-height:45px;
	z-index: 20;
}

.navbar .left {
	float: left;
	line-height: 42px;
	color: #fff;
}

.navbar .left .back {
	color: #fff;
	margin-left: 10px;
}

.navbar .left .title {
	border-left:1px solid #ef3139;
	padding:4px 0px;
	padding-left:12px;
}

.simple-row {
	line-height: 36px;
	padding-left:10px;
	color:#777777;
	background-color: #f6f6f6;
}

.warpper {
}

.browser-warpper {
	height: 100%;
	width: 100%;
	padding-top: 42px;
}

.browser-warpper iframe {
	height: 100%;
	width: 100%;
	border: none;
}

.pay-menu {
	
}

.pay-menu .item {
	float: left;
	width: 25%;
	text-align: center;
	color:#777777;
	border-right: 1px solid #cacaca;
	border-bottom:2px solid #bababa;
	line-height: 42px;
	box-sizing: border-box;
}

.pay-menu .item:last-child {
	border-right: none;
}

.pay-menu .item.selected {
	border-bottom:2px solid #cd0005 !important;
}

.pay-content {
	min-height: 120px;
}

.pay-content .apppay-item {
	margin-top: 10px;
	padding: 2px;
	position: relative;
}

.pay-content .apppay-item label.radio:before {
	position: absolute;
	top: 8px;
	right: 22px;
}

.pay-content .onlinepay-item {
	margin-top: 10px;
	padding: 2px;
	position: relative;
}

.pay-content .onlinepay-item label.radio:before {
	position: absolute;
	top: 8px;
	right: 22px;
}

.pay-content .bankpay-item {
	margin-top: 6px;
	border-bottom: 1px solid #bababa;
	padding: 2px;
	position: relative;
}

.pay-content .bankpay-item div {
	line-height: 22px;
}

.pay-content .bankpay-item .title {
	display: inline-block;
	width: 70px;
	font-size: 13px;
	color: #777777;
	padding-left: 10px;
}

.pay-content .bankpay-item .content {
	display: inline-block;
	font-size: 13px;
	color: #555555;
	padding-left: 10px;
}

.pay-content .bankpay-item label.radio:before {
	position: absolute;
	top: 8px;
	right: 22px;
}

.pay-input-content {
	margin-top: 10px;
}

.pay-input-content, .pay-input-content div {
	font-size: 12px;
	color: #777777;
	text-align: left;
}

.pay-input-content input.row {
	width:90%;
	padding-left:12px;
	margin-left: 20px;
	background:#fff;
	color:#cd0005;
	border:1px solid #ddd;
	display: block;
}

.pay-tips{
	font-size: 13px;
	text-align: left;
	margin-bottom: 80px;
	color: #777777;
	line-height: 10px;
	margin-top: 20px;
	padding: 10px;
}

.pay-tips .tips{
	font-size: 13px;
}

.qrcode {
	width: 200px;
	height: 200px;
	margin: 0px auto;
}

.qrcode img {
	width: 200px;
	height: 200px;
}

.quickMenu {
	margin-top: 0.3rem;
	background-color: #fefefe;
	text-align: center;
	letter-spacing: -3px;
	font-size: 0px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #e0e0e0;
} 

.quickMenu .qMenuItem {
	margin: 4px auto;
	background-color: #fefefe;
	width: 25%;
	display: inline-block;
	line-height: 25px;
	border-right: 1px dashed #c6c6c6;
	font-size: 14px;
	font-size:1.5rem;
	font-weight:500;
} 

.quickMenu .qMenuItem:last-child {
	border-right: none;
} 

.quickMenu .qMenuItem .iconfont {
	margin-top: 8px;
	font-size: 32px;
	display: block;
} 

.text-center {
	text-align: center;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.clear {
	clear: both;
}

.fn-clear:before, .fn-clear:after {
	display: table;
	content: "";
}

.fn-clear:after {
	clear: both;
}

.ft6 {
	font-size: 6px !important;
}

.ft8 {
	font-size: 8px !important;
}

.ft9 {
	font-size: 9px !important;
}

.ft10 {
	font-size: 10px !important;
}

.ft12 {
	font-size: 12px !important;
}

.ft13 {
	font-size: 13px !important;
}

.ft14 {
	font-size: 14px !important;
}

.ft18 {
	font-size: 18px !important;
}

.ft30 {
	font-size: 30px !important;
}

.ft34 {
	font-size: 34px !important;
}

.ft35 {
	font-size: 35px !important;
}

.ft36 {
	font-size: 36px !important;
}

.pt20 {
	padding-top: 20px;
}

.pt42 {
	padding-top: 42px;
}

.pr10 {
	padding-right: 10px;
}

.pr20 {
	padding-right: 20px;
}

.pb2 {
	padding-bottom: 2px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.mt2 {
	margin-top: 2px !important;
}

.mt4 {
	margin-top: 4px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt13 {
	margin-top: 13px !important;
}

.mt14 {
	margin-top: 14px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt18 {
	margin-top: 18px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt42 {
	margin-top: 42px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.ml8 {
	margin-left: 8px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.ml18 {
	margin-left: 18px !important;
}

.ml38 {
	margin-left: 38px !important;
}

.lh12 {
	line-height: 12px !important;
}

.lh16 {
	line-height: 16px !important;
}

.lh20 {
	line-height: 20px !important;
}

.lh22 {
	line-height: 22px !important;
}

.lh24 {
	line-height: 24px !important;
}

.lh40 {
	line-height: 40px !important;
}

.lh48 {
	line-height: 48px !important;
}

.lh50 {
	line-height: 50px !important;
}

.lh52 {
	line-height: 52px !important;
}

.color_huang {
	color: #edb93f !important;
}

.color_lan {
	color: #3c8efa !important;
}

.color_hong {
	color: #e62e25 !important;
}

.color_lv {
	color: #52b653 !important;
}

.color_gray {
	color:#777777;
}

.color_gray_2 {
	color:#333333;
}

.bg-color-gray {
	background-color: #f6f6f6 !important;
}

.bg-color-white {
	background-color: #ffffff !important;
}

.border-bottom-gray {
	border-bottom:1px solid #bababa !important;
}

.border-bottom-red {
	border-bottom:2px solid #cd0005 !important;
}

.width-percent-80 {
	width: 80%;
}

.width-percent-90 {
	width: 90%;
}

.width-percent-100 {
	width: 100%;
}

.display-none {
	display: none;
}

.refresh-money:BEFORE {
	font-size: 18px;
}