body{
	height: 100px;
	overflow-x:hidden;
	background:#f6f6f6;
	font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", 'Microsoft YaHei', sans-serif;
}
*{
	box-sizing: border-box;
}
 
#innerbox{
	margin:0 auto;
	 
}
.inner{
	max-width: 640px;
	margin:0 auto;
	padding:0px 10px;
}
.row{
	margin:0px -15px;
}
.jiazaibox{
	
	text-align:center;
}
.dabt{
	color:#fff;
	/*font-size: 82px;*/
	font-size: 60px;
	line-height:80px;
	font-weight: bold;
}
.xiaowz{
	color:#fff;
	font-size:24px;
	line-height:44px;
}

.top{
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
	/*height: 42px;*/
	height: 44px;
	/*background:#cd0005;*/
	background:#ec2829;
	line-height:45px;
	z-index: 20;
	
}
.logo{
	line-height:42px;
	font-size:18px;
	font-weight: bold;
	color:#fff;
	float:left;
}
.denglubtn {
	float:right;
	line-height:42px;
	font-size:12px;
	color:#fff;
}
.denglubtn .iconfont {
	color:#f04c31;
	font-size:25px;
	margin-right:4px;
}
.denglubtn .iconfont.icon-right{
	font-size:12px;
	color:#9e0000;
}
.newbox{
	position: fixed;
	top: 42px;
	left: 0px;
	width:100%;
	height: 28px;
	background:#de0007;
	z-index: 20;
}
.newbt{
	
	color:#fff600;
	font-size: 12px;
	line-height:28px;
	position:absolute;
	left: 0px;
	top: 0px;
	
}
.newbt .iconfont {
	font-size: 16px;
	margin-right:6px;
	color:#fff;
	float:left;
}
.huang{
	color: #fff600 !important;
}
a{
	text-decoration:none;
}
.newin{
	padding-left:60px;
	position:relative;
	height: 28px;
}
.lunleft{
	height: 28px;
	width: 95%;
	overflow:hidden;
	position:relative;
}
.lunleft ul{
	position:absolute;
	left: 0px;
	top: 0px;
	
	
}
.lunleft ul li{
	color:#fff;line-height:28px;
	font-size:12px;
	width: 10000px;
}
.lunleft ul li a{
	color:#fff;
}

.slideBox{ position:relative; overflow:hidden; margin:0px auto;  /* ???y???????????? */ }
.slideBox .hd{width:100%;text-align:center; position:absolute; height:28px; line-height:28px; bottom:0; right:0; z-index:1; }
.slideBox .hd li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#333; text-indent:-9999px; overflow:hidden; margin:0 6px;   }
.slideBox .hd li.on{ background:#fff;  }
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
.slideBox .bd li img{ background:url(images/loading.gif) center center no-repeat;  vertical-align:top; width:100%;height:160px;padding-bottom:12px;background-size:100% 100%;/* ??????100%????????????? */}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* ?????????????? */
.slideBox .bd li .tit{ display:block; width:100%;  position:absolute; bottom:0; text-indent:10px; height:28px; line-height:28px; background:url(images/focusBg.png) repeat-x; color:#fff;  text-align:left;  }


.dexcontin{
	padding:0px 4px;
	background:#f6f6f6;
	overflow:hidden;
}
.dexitembox{
	padding-top:7px;

}
.dexbt{
	line-height:28px;
	font-size: 15px;
	color:#666666;
}
.dexbt .iconfont{
	margin-right:3px;
	color:#df060d;
}
.dexitem{
	background:#fff;
	overflow:hidden;
	position:relative;
}
.dexitem a img{
	display:block;
	max-width: 100%;
}
.youzhe{
	position:absolute;
	right: 0px;
	top: 0px;
	width: 160px;
	height: 100%;
	padding-top:30px;
	padding-right:12px;
	color:#878787;
	font-size: 12px;
	line-height:18px;
	text-align:right;
	background: url(../images/youzhe.png) no-repeat center top;
	background-size: 100%
}
.cpbox{
	float:left;
	width: 32.3%;
	padding:9px 4px;
	text-align:center;
	height: 90px;
	background:#fff;
	margin:3px 1.5px;
}
.cptu{
	margin:0 auto;
	width: 54px;
	max-height: 50px;
}
.cptu img{
	max-width: 54px;
}
.cpnr{
	width: 100%;
	text-align:center;
}
.cpbt{
	font-size:16px;
	color:#666;
	line-height:30px;

}
.cpqishu{
	font-size:16px;
	color:#878787;
	line-height:24px;
}
.bomnav{
	position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    padding-top: 13px;
    border-top: 1px solid #e8e8e8;
    background: #171719;
/*     background: white; */
}
.bomnav ul{
	max-width: 640px;
	margin:0 auto;
	width:auto;
}
.bomnav li{
	float:left;
	width: 25%;
	text-align:center;
	
}
.bomnav li a{
	color:#6d6d6d;
}
.bomnav li a .iconfont{
	font-size: 33px;
	color:#cccccc;
	line-height:10px;
}
.bomwenz{
	font-size:17px;
	line-height:35px;
	display:block;
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	font-weight:bold;
}
.bomnav li.cur a{
/* 	color:#f82a25; */
	color:#CDB00E;
}
.bomnav li.cur a .iconfont{
	color:#CDB00E;
/* 	color:#f82a25; */
}

.loginbox{
	width: 430px;
	margin:0 auto;
}
.loginpt{
	width: 100%;
	padding-left:14px;
	height: 66px;
	color:#fff;
	font-size: 24px;
	border:2px solid #fff;
	border-radius: 8px;
	background: none;
	padding-left:100px;
}
.dengbtn{
	width: 100%;
	height:66px;
	background:#ff8a00;
	border-radius: 8px;
	text-align:center;
	color:#000;
	font-size:27px;
	border:2px solid #ff8a00;
}
.wjmm{
	font-size:24px;
	
}
.wjmm a{
	margin:0px 22px;
	line-height:55px;
}
.zhucebox{
	width: 582px;
	margin:0 auto;
	border:1px solid #fff;
	position:relative;
	padding:20px 0px;
}
.zhucetl{
	position:absolute;
	left: 32px;
	top: -20px;
	line-height:40px;
	font-size:22px;
	color:#fff;
	padding:0px 17px;
	background:#d50405;
}
.zhucemz{
	float:left;
	width: 142px;
	color:#fff;
	text-align:right;
	font-size:22px;
	line-height:40px;
	
}
.zhucebox li{
	padding:12px 0px;
	padding-bottom:0px;
}
.zhuceinptbox{
	float:left;
	width: 410px;
	text-align:left;
	
}
.zcinpt{
	height: 40px;
	border: none;
	background:#fff;
	border-radius: 8px;
	width: 301px;
	padding-left:10px;
	font-size:22px;
}

.lijizhucebtn{
	width: 195px;
	text-align:center;
	line-height:60px;
	color:#000;
	border:none;
	background:#ff8a00;
	font-size: 25px;
	border-radius: 8px;
}

.back{
	float:left;
	line-height:42px;
	color:#fff;
}
.back .iconfont{
	line-height:40px;
	float:left;
	margin-right:14px;
}
.vbktl{
	border-left:1px solid #ef3139;
	padding:4px 0px;
	padding-left:12px;
}
.gantanhao{
	float:right;
	line-height:42px;
	color:#fff;
	font-size:18px;
}

.shangqkaij{
	/* background:#dfdfdf; */
	font-size: 23px;
	line-height: 76px;
	padding-left:15px;
	color:#292929;
	border-bottom:1px solid #bababa;
}
.lot-tip {
	/*overflow: hidden;*/
}
.lot-time, .dat-time {
	width: 50%;
	background: #fff;
	border-bottom: 3px solid #e8e8e8;
	float: left;
	height: 130px;
	text-align: center;
	padding: 26px 16px;
	box-sizing: border-box;
}
.lot-time {
	border-right: 3px solid #e8e8e8;
}
.dat-time {
	padding: 30px 2px;
}
.time-late {
	background: url(../images/shijian_bg.png) no-repeat;
	width: 188px;
	height: 38px;
	background-size: 188px 38px;
	margin: 8px auto 0;
}
.time-late span {
	width: 26px;
	height: 38px;
	float: left;
	display: block;
	line-height: 38px;
	color: #eb2b2a
}
.time-late span.time-kong {
	width: 16px;
}
.time-ico {
	background: url(../images/touzhu_pic_18.png) no-repeat center;
	height: 25px;
	width: 25px;
	background-size: 25px 25px;
	padding: 0px 40px 0 0;
}

.hong{
	color:#cd0005 !important;
}
.kaiihaoma{
	color:#575757;
	/* width: 258px; */
	position:relative;
	
}
.kaiihaoma .hongshu{
	margin:0px 5px;
}
.shangqixiala{
	position:absolute;
	right: -160px;
	top: 30px;
	background:#fff;
	padding:12px 22px;
	width: 640px;
	border:1px solid #ddd;
	/*height: 300px;*/
	overflow-y:auto;
	display:none;
	z-index: 99;
	
}
.shangqixiala ul li{
	font-size: 26px;
	line-height:44px;
	border-bottom:1px solid #ddd;
	
}
.tabqie{
	font-size:18px;
	line-height:47px;
	background:#e9e9e9;
	border-bottom:2px solid #cd0005;
	color:#292929;
	padding:13px 0px;
	width:100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.tabqie::-webkit-scrollbar {
	display: none
}
.tabqiein{
	font-size: 27px;
	line-height: 57px;
}
.tabqie span{
	width: 150px;
	display:inline-block;
	margin: 0px 3px;
	margin-left: 6px;
	background:#fff;
	border-color: #ccc;
	border-radius: 8px;
	text-align: center;
}
.tabqie span.cur{
	color:#cd0005;
	background: #fff url(../images/touzhu_nav_01.png) no-repeat -36px;
	border-left: 2px solid #ec2829;
	border-radius: 8px;
}
.xialabox{
	font-size:18px;
	line-height:47px;
	background:#e9e9e9;
	color:#292929;
	padding:13px 0px;
	width:100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.xialabox::-webkit-scrollbar {
	display: none
}
.xialaitem{
	font-size: 25px;
	line-height: 57px;
	color:#292929;
}

.xialaitem span{
	width: 150px;
	display:inline-block;
	margin: 0px 3px;
	margin-left: 6px;
	background:#fff;
	border-color: #ccc;
	border-radius: 8px;
	text-align: center;
}
.xialaitem span.cur{
	color:#cd0005;
	background: #fff url(../images/touzhu_nav_01.png) no-repeat -36px;
	border-left: 2px solid #ec2829;
	border-radius: 8px;
}
.jixuanbox{
	padding:0px 22px;
	line-height:56px;
	font-size:24px;
	color:#676767;
	background:#f6f6f6;
	overflow:hidden;
}
.jixuanbtn{
	border:1px solid #ddd;
	background:#fff;
	padding:6px 12px;
	font-size:22px;
	color:#575757;
}
.jixuanbtn .iconfont{
	font-size: 26px;
}
.xuanhaomaul{
	padding:0px 38px;
	background:#f6f6f6;
	padding-right:0px;
	padding-bottom:180px;
	overflow:hidden;
}
.xuanhaomaul li{
	margin-bottom:10px;
}
.weishu{
	float:left;
	/*width: 78px;*/
	width: 100%;
	/* height: 68px; */
	line-height:68px;
	padding-right: 10px;
}
.weishu span{
	background:#eaeaea;
	padding:5px 12px;
	font-size:20px;
	border-radius: 12px;
	color:#676767;
	/*position: relative;*/
	/*top: -54px;*/
}

span {}
.relengyl{
	padding-left:16px;
	font-size: 18px;
	line-height:28px;
	color:#D96D00;
}

.xuanmabox{
	float:left;
	width: 484px;
	margin-left: 100px;
}
.xuanmabox span{
	display:inline-block;
	background:#fff;
	border:1px solid #efefef;
	border-radius:100%;
	width: 58px;
	height: 58px;
	line-height:58px;
	font-size: 32px;
	text-align:center;
	color:#cd0005;
	margin: 2px 16px;
	margin-top:8px;
	position:relative;
}

.xuanmabox span.cur{
	color:#fff;
	background:#cd0005;
	border:1px solid #cd0005;
}

.kaijiangbox{
	float:left;
	/* width: 484px; */
	/* width: 566px; */
}
.kaijiangbox span{
	display:inline-block;
	background:#cd0005;
	border:1px solid #cd0005;
	border-radius:100%;
	width: 27px;
	height: 27px;
	line-height:27px;
	font-size: 16px;
	text-align:center;
	color:#fff;
	margin:1px 0px;
	margin-top:4px;
	position:relative;
}

.lengrehma{
	position:absolute;
	top: 74px;
	left: 0px;
	text-align:center;
	width:100%;
	color:#333;
}
.lengrehmatm{
	font-size: 18px;
	line-height:28px;
	
}
.lengrehmatm.cur{
	color:green;
}
.zhuihaobom{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width:100%;
	background:#f6f6f6;
	
}
.zhubox{
	height: 40px;
	padding:5px 0px;
	border-top:1px solid #e7e7e7;
	line-height:30px;
}
.btngroup{
	display:inline-block;
	border:1px solid #cacaca;
	background:#fff;
}
.btngroupcur{
	height: 50px;
}
.btngroupcur .btnjiaj{
	line-height:48px;
	width: 56px;
	font-size:30px;
}
.btngroupcur .jiajianinpt{
	height:45px;
	line-height:45px;
	font-size:20px;
	position:relative;
	top: -3px;
	display:inline-block;
}
.btnjiaj{
	line-height:28px;
	width:20px;
	text-align:center;
	font-size:15px;
	background:#ebebeb;
	
	display:inline-block;
}
.jiabtn{
	border-right:1px solid #cacaca;
}
.jianbtn{
	border-left:1px solid #cacaca;
}
.jiajianinpt{
	border: none;
	width: 20px;
	text-align:center;
	height:28px;
}
.zhinengzhbox{
	height: 40px;
	padding:9px 0px;
	border-top:1px solid #e7e7e7;
	line-height:30px;
	background:#fff;
}

.lajixiang{
	padding-right:15px;
	line-height:22px;
	color:#cccccc;
	
	
}
.znzhuihbtn{
	border-radius: 5px;
	border:1px solid #ebebeb;
	line-height:20px;
	color:#676666;
	padding:0px 8px;
	display:inline-block;
	
}
.quedingznbtn{
	display:block;
	color:#fff;
	line-height:22px;
	background:#cd0005;
	padding:0px 10px;
	border-radius: 5px;
	position:relative;
	z-index: 30;
}

.tanchuceng{
	position: fixed;
	left: 0px;
	top: 0px;
	width:100%;
	height: 100%;
	z-index: 999;
	display:none;
}

.tanchuin{
	position:absolute;
	width: 240px;
	min-height: 90px;
	margin-top:-95px;
	left: 50%;
	top: 50%;
	margin-left:-120px;
	background:#cd0005;
	border-radius: 6px;
	padding-bottom:5px;
}
.tangbiaoti{
	text-align:center;
	color:#fff;
	font-weight: bold;
	line-height:32px;
}
.tannr{
	width: 230px;
	margin:0 auto;
	background:#fff;
	border-radius: 6px;
	padding:8px 0px;
}
.tannrbtn {
	text-align:center;
	padding-top:8px;
}
.tannrbtn a{
	display:inline-block;
	width: 90px;
	line-height:28px;
	background:#cd0005;
	border-radius: 4px;
	text-align:center;
	color:#fff;
	font-size:12px;
	margin:0px 6px;
}

.wangqilu li{
	line-height:48px;
}
.wangqilu li.cur{
	background:#efefef;
}
.qishunq{
	width: 180px;
	line-height:48px;
	text-align:center;
	font-size:22px;
	color:#333333;
	border-right:1px solid #d5d5d5;position:relative;
}
.naxhaoma{
	line-height:48px;
	padding-left:22px;
	font-size:22px;
	color:#cd0005;
}
.naxhaoma em{
	margin:0px 4px;
}
.xyuandain{
	width: 11px;
	height: 11px;
	background:#d5d5d5;
	border-radius: 100%;
	position:absolute;
	right: -5px;
	top: 50%;
	margin-top:-5px;
}
.wangqilu {
	height: 246px;
	width: 600px;
	overflow-y: scroll;
	border-top:1px solid #bababa;
}

.zhuihaotable{
	width:100%;
	
}
.zhuihaotable tr.cur{
	background:#fff;
}
.zhuihaotable tr td{
	font-size:20px;
}
.thtrbox{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	height: 80px;
	
}
.thtrbox td{
	color:#797979;
	font-size:20px;
	text-align:center;
}
.psr{
	position:relative;
}
.dqyingli{
	position:absolute;left: 0px;
	top: -3px;
	width:100%;
	line-height:14px;
	font-size:12px;
	color:#676666;
	text-align:center;
	
}
.jihuayx {
	display:block;
	transform:scale(0.8);
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
}

.shuominbox{
	background:#f6f6f6;
	font-size: 22px;
	padding:24px;
	line-height:36px;
	color:#676767;
	overflow:hidden;
}
.shuominbox p{
	font-size: 22px;
	line-height:42px;
	color:#676767;
}
.em2{
	text-indent: 2em;
}
.kaijinghaomaul{
	background:#f6f6f6;
	overflow:hidden;
}

.kaijinghaomaul li{
	width: 350px;
	padding:7px 0px;
	position:relative;
	border-bottom:1px solid #e3e3e3;
	margin: 0px auto;
}
.kajiangqishu{
	font-size:14px;
	line-height:22px;
}
.kjqsyoujian{
	position:absolute;
	font-size: 32px;
	color:#c8c8c8;
	right: 40px;
	top: 50px;
	height: 50%;
	line-height:50px;
	margin-top:-25px;
}
.kjqsyoujian .icon-xiala2{
	display:none;
}
.userzxbox{
	background:#f6f6f6;
}

.usertou{
	background:#cd0005;
	
}
.userminc{
	height: 56px;
	padding:0px 12px;
	padding-top:6px;
}
.usermincin{
	border-bottom:1px solid #b50003;
	height: 50px;
	line-height:50px;
	font-size:15px;
	color:#fff;
}
.flussertx{
	float:left;
	width: 34px;
	height: 34px;
	border:2px solid #ff5f4b;
	border-radius:100%;
	margin-top:7px;
	margin-right:7px;
}
.flussertx img{
	display:block;
	width:100%;
	height:100%;
	border-radius:100%;
}
.doudoubox{
	float:left;
	width:100%;
	height:46px;
	text-align:center;
	color:#fff;
	padding-top:13px;
}
.doudoubox .jindouicon{
	font-size:15px;
	color:#ffe07f;
}
.jindou{
	transform: rotate(90deg);
	display:inline-block;
}
.doudoubox .icon-jia3{
	color:#ff5f4b;
}
.jiasan{
	padding:3px 8px;
	border-radius: 100%;
	background:#ff5f4b;
}
.chongzhitkuan{
	float:left;
	width: 50%;
	height: 44px;
	line-height:44px;
	text-align:center;
	color:#fff;
	background:#c00004;
	font-size:17px;
	border-right:1px solid #666;
}
.chongzhitkuan .iconfont{
	margin-right:10px;
	color:#ff5f4b;
}
.userlb {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background:#fff;
	padding-left:53px;
}
.userlb li{
	line-height:45px;
	border-bottom:1px solid #dcdcdc;
	font-size: 17px;
	position:relative;
}
.userlb li:last-child {
	border: none;
}
.userlb li a{
	display:block;
	color:#666;
	font-size:1.76rem;
}
.iconjtlb{
	font-size: 13px;
	color:#c3c3c3;
	position:absolute;
	right: 18px;
	top: 0px;
}

.icontublb{
	position:absolute;
	left: -32px;
	color:#cd0005;
	font-size: 24px;
}
.xiugaimimaul{
	
}
.xiugaimmbt{
	padding-left:10px;
	font-size:12px;
	line-height:28px;
}
.xiugaimminpt{
	border: none;
	height:28px;
	background:#eeeeee;
	border-radius: 4px;
	width: 140px;
	padding-left:6px;
	font-size:12px;
}
.gerenzxul{
	background:#fff;
}
.gerenzxul li{
	border-top:1px solid #dcdcdc;
	height: 75px;
	line-height:75px;
	font-size:28px;
	color:#313131;
	position:relative;
}
.gerenzxul li .iconfont{
	position:absolute;
	right: 40px;
	top: 0px;
	color:#c3c3c3;
}
.gerenzxul li a{
	color:#313131;
}

.chongzhibox{
	background:#f6f6f6;
	padding:0px 24px;
	overflow:hidden;
}

.chongzhitl{
	color:#828282;
	font-size:25px;
	line-height:60px;
}
.chongzhitl .iconfont{
	font-size:12px;
	position:relative;
	top: -5px;
}
.zuidichongz{
	background:#fff;
	border:1px solid #ddd;
	border-radius:4px;
	padding:8px 20px;
	font-size:18px;
	color:#6b6b6b;
	margin-left:22px;
	line-height:58px;
}
.chongzhiinptu{
	background:#fff;
	position:relative;
}
.chongzhiinptu input{
	width:100%;
	padding-left:12px;
	height: 76px;
	background:#fff;
	border: none;
	font-size: 26px;
	color:#cd0005;
	border:1px solid #ddd;
}

.cioncaca{
	position:absolute;
	right: 0px;
	width: 80px;
	text-align:center;
	line-height:76px;
	top: 0px;
	font-size: 35px;
	color:#e1e1e1;
}
.jinexuanzeul {
	margin:12px -15px;
	
}
.jinexuanzeul li{
	float:left;
	width: 25%;
	padding:0px 15px;
}
.jinexuanzeul li a{
	background:#fff;
	display:block;
	line-height:70px;
	text-align:center;
	color:#6b6b6b;
	font-size:26px;
	border:1px solid #d7d7d7;
}
.jinexuanzeul li.cur a{
	background:#d20107;
	color:#fff;
}

.xuanzeynhangul{
	background:#fff;
	border:1px solid #ddd;
}
.xuanzeynhangul li{
	height: 94px;
	position:relative;
	padding-left:240px;
	line-height:94px;
	font-size:28px;
	color:#6b6b6b;
	border-bottom:1px solid #ddd;
}
.xuanzeynhangul li a{
	color:#6b6b6b;
	display:block;
}
.xuanzeynhangul li a .iconfont{
	position: absolute;
    right: 40px;
    top: 0px;
	line-height:88px;
    color: #c3c3c3;
}
.yhangtba{
	position:absolute;
	left: 0px;
	top: 0px;
	width:220px;
	text-align:right;
}

.chongzhitishi{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background:#ececec;
	color:#6b6b6b;
	text-align:center;
	padding:6px 0px;
}
.rukuansltbox{
	background:#fff url(../images/sj.png) no-repeat right top;
	background-size: auto 100%;
	border:1px solid #ddd;
	height: 74px;
	width:100%;
	overflow:hidden;
}
.rukuanslt{
	width:110%;
	background: none;
	outline: none;
	border: none;
	height: 74px;
	font-size: 25px;
	padding-left:22px;
	color:#6b6b6b;
	padding-right:22px;
}

.ketikuan{
	text-align:center;
	 background:#fff;
	 padding:15px 0px;
	 color:#9f9f9f;
}
.tikauninptbx{
	padding:0px 24px;
}
.tkuaninptbx{
	height: 74px;
	background:#fff;
	border:1px solid #ddd;
	line-height:74px;
	font-size:24px;
	padding-left:22px;
	color:#9f9f9f;
}
.tkuaninptbx input{
	height: 74px;
	border: none;
	font-size:22px;
	background:none;
	outline: none;
}
.xiayibubtns{
	display:inline-block;
	width: 188px;
	height: 76px;
	background:#cd0005;
	font-size:25px;
	color:#fff;
	border-radius: 10px;
	line-height:76px;
}
.touzhubox{
	background:#f6f6f6;
	overflow:hidden;
	min-height: 400px;
}
.touzhuqie{
	font-size: 24px;
	line-height:68px;
	overflow:hidden;
	background:#e4e4e4;
}
.touzhuqie span{
	float:left;
	width: 20%;
	text-align:center;
}
.touzhuqie span.cur{
	border-bottom:3px solid #cd0005;
}
.touzhusjbox{
	height: 73px;
	line-height: 73px;
	background:#fff;
	color:#a1a19f;
}
.touzhusj{
	width: 180px;
	height: 46px;
	background:#fff;
	border:1px solid #ddd;
	position:relative;
	
}
.fangsjbox{
	padding-left:12px;
	color:#a1a19f;
	line-height:46px;
	font-size:22px;
}
.downem{
	position:absolute;
	right: 0px;
	top: 0px;
	width: 46px;
	background:#f8f8f8;
	border-left:1px solid #ebebeb;
	line-height:44px;
	text-align:center;
}


.sjxialabox{
	position:absolute;
	left: 0px;
	top: 46px;
	width:100%;
	background:#fff;
	border:1px solid #ddd;
	padding:2px 12px;
	display:none;
	z-index: 99;
	max-height: 260px;
	overflow-y:scroll;
}
.sjxialabox ul li{
	line-height: 50px;
	border-bottom:1px dashed #ddd;
	color:#a1a19f;
	font-size:20px;
}
.sjxialabox ul li:last-child{
	border: none;
}
.caizhongtable table{
	width:100%;
}
.caizhongtable table tr{
	border-top:1px solid #e0e0dc;
	background:#fff;
}
.caizhongtable table td{
	text-align:center;
	font-size: 19px;
	line-height:56px;
	color:#a1a19f;
	
}
.caizhongtable table tr.caizhongtabletr{
	height: 66px;
	background:#f2f2f0;
}
.lanx{
	color: #057edb !important;
}

.keyongzhye{
	float:left;
	width:50%;
	height: 96px;
	background:#fff;
	text-align:center;
	padding:18px 0px;
	border-bottom:3px solid #cd0005;
}
.keyongzhyein{
	border-right:1px solid #ddd;
}

.touzjilulbbox{
	background:#f6f6f6;
	padding-left:158px;
	overflow-y:auto;
}
.touzjilulbboxul{
	padding-left:30px;
	
}
.touzjilulbboxul li{
	position:relative;
	height: 78px;
	border-bottom:2px solid #efefef;
	padding-right:50px;
	color:#434343;
}
.touzjilulbboxul li a{
	color:#434343;
}
.touzjilulbboxul-sj{
	position:absolute;
	left: -99px;
	top: 0px;
	line-height:78px;
	font-size:22px;
	padding-right:18px;
	border-right:2px solid #d5d5d5;
	color:#818181;
}
.shijianyuand{
	width: 15px;
	height: 15px;
	background:#d5d5d5;
	border-radius:100%;
	position:absolute;
	right: -8px;
	top: 50%;
	margin-top:-7px;
}

.rightmsj{
	position:absolute;
	right: 20px;
	top: 0px;
	line-height:74px;
	font-size: 22px;
	color:#9b9b9b;
}
.tzhuanqie-huan{
	display:none;
}
.tzhuanqie-huan.cur{
	display:block;
}

.bgf6{
	background:#f6f6f6;
	
}
.tzdansanbtn{
	padding: 0px 15px;
}
.tzdansanbtnitem{
	float:left;
	width:33.33%;
	padding:0px 5px;
	font-size: 26px;
	text-align:center;
}
.tzdansanbtnitem a{
	display:block;
	line-height:66px;
	color:#333;
	background:#fff;
	border:1px solid #ddd;
}
.tzdansanbtnitem a .iconfont {
	color:#888;
}

.tiaobox{
	width: 490px;
	margin:0 auto;
	padding-top:28px;
	background: url(../images/tiao.png) no-repeat center top;
}
.tiaoneibox{
	background: url(../images/tiaonei.png) repeat-y center top;
}
.tiaowei{
	height: 17px;
	background: url(../images/tiaowei.png) no-repeat center top;
}


.tiaoneiul {
	padding:0px 32px;
}
.tiaoneiul li{
	line-height:64px;
	font-size: 26px;
	position:relative;
	border-bottom:2px dashed #ccc;
	padding-left: 100px;
	padding-bottom: 16px;
	min-height: 130px;
}
.tiaoneiul li div{
	font-size: 23px;
	margin-bottom: 10px;
}
.tiaoneiul li a{
	color:#cd0005;
	display:block;
	line-height: 46px;
	
}
.tiaoneiul li .iconfont{
	position:absolute;
	left: 30px;
	top: 30px;
	color:#cccccc;
}
.tiaoneiul li .iconfont.roundDeleBtn{
	font-size: 40px;
}
.xieyi-a{
	padding:0px 32px;
	line-height:64px;
	color:#989898;
}
.xieyi-a input{
	width:22px;
	height:22px;
}
.xieyi-a a{
	color:#2b6493;
}
.xieyi-a a.iconfont{
	color:#ccc;
}


.flussertxx{
	float:left;
	width: 32px;
	height: 32px;
	border:4px solid #ff5f4b;
	border-radius:100%;
	margin-top: 5px;
	margin-right:2px;
}
.flussertxx img{
	    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.denglubtn .jindou.iconfont{
	font-size:12px;
	color:#ffed40;
	
}.denglubtn .iconfont.icon-jia3{
	font-size:12px;
	color:#b50004;
	
}
.denghoujinkounei{
	padding:2px 5px;
	border-radius: 22px;
	background:#ef0008;
}


.kjgonggaoxla{
	background:#e7e7e7;
	text-align:center;
	margin-top:12px;
	display:none;
	overflow:hidden;
}
.kjgongxltou{
	font-size:22px;
	color:#575757;
	padding:12px 0px;
}
.kjgongxtable {
	width:100%;
	border-top:1px solid #ddd;
}
.kjgongxtable th{
	text-align:center;
	font-size: 22px;
	line-height:44px;
	color:#575757;
}
.kjgongxtable td{
	text-align:center;
	font-size: 22px;
	line-height:44px;
	color:#575757;
}
.kjgongxtable  tr.odd{
	background:#dedede;
}


.useryinhangb{
	padding:0px 50px;
}
.useryinhangb li{
	padding-left:22px;
	position:relative;
	color:#1f1f1f;
	margin-bottom:12px;
}
.usserradio{
	width:22px;
	height:22px;
	position:absolute;
	left: -22px;
	top: 12px;
	
}

.tymingxtab{
	width:100%;
	margin-bottom:22px;
}
.tymingxtab td{
	border:1px solid #e0e0dc;
	color:#333;
}
.tymingxtabcur td{
	border: none;
	border-bottom:1px solid #e0e0dc;
	background:#fff;
	
}
.tymingxtabdiv{
	font-size: 22px;
	padding:10px 0px;
	text-align:center;
	line-height:38px;
}
.bttd{
	background:#f2f2f0;
}
.tymingxtabcur td.bttd{
	background:#f2f2f0;
}
.psrinpt{
	position:relative;
}
.psrinputmz{
	font-size:24px;
	position:absolute;
	left: 15px;
	top: 0px;
	color:#fff;
	line-height:66px;
}
.yanzhengma{
	position:absolute;
	right: 8px;
	top: 8px;
	height: 56px;
}
.yanzhengma img{
	height: 50px;
}

.pointer {
	cursor: pointer;
}
.radio_select {
	/*font-size: 13px;*/
	margin-bottom: 5px;
}
.radio_select label{
	margin: 0px 5px;
}
.radio_select input{
	width: 20px;
	height: 20px;
}
.kakakaka {
	/*padding:0px 22px;*/
	line-height:36px;
	font-size:24px;
	color:#676767;
	background:#f6f6f6;
}

.ui-bett-right {
	background: url(../images/top_you_anniu_01.png) no-repeat;
	width: 51px;
	height: 44px;
	background-size: 51px 44px;
	position: absolute;
	right: 10px;
	top: 0;
	z-index: 9;
}
.bett-head {
	display: block;
	width: 51px;
	height: 44px;
}
.beet-rig {
	position: fixed;
	top: 35px;
	right: 15px;
	background: url(../images/you_caidan_box.png) no-repeat;
	width: 117px;
	/*height: 160px;*/
	background-size: 117px 160px;
	z-index: 100;
	border-bottom: 1px solid #eb2b2a;
}
.beet-rig ul {
	margin: 14px 1px 0;
}

.beet-rig ul li {
	text-align: center;
	line-height: 36px;
	height: 36px;
	border-bottom: 1px solid #ddd;
}

.beet-rig ul li a {
	color: #c91b1c;
	display: block;
}

.bett-foot {
	background: #252525;
	height: 45px;
	padding: 5px 10px;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
}

.btn-none, .btn-add {
	background: #464646;
	border-radius: 3px;
	color: #eeeeee;
	width: 60px;
	height: 33px;
	line-height: 33px;
	border: none;
	outline: none;
	float: left;
	font-size: 85%;
	position: relative;
	z-index: 99;
}

.btn-add {
	background: #ffb400;
	float: right;
	color: #242625
}

.beet-foot-txt {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	color: #fff;
	line-height: 18px;
}

.beet-foot-txt.buycart {
	position: initial;
	text-align: initial;
	left: initial;
	right: initial;
	color: #fff;
	line-height: 18px;
	margin-left: 20px;
	width: 120px;
	float: left;
}

.beet-foot-txt p {
	font-size: 80%;
	line-height: 36px;
}

.beet-odds-tips {
	background: #fff;
	width: 80%;
	height: 235px;
	margin: -135px 0 0 -40%;
	left: 50%;
	position: fixed;
	top: 50%;
	z-index: 111;
	border-radius: 6px;
}

.odds-tips-tit {
	text-align: center;
	border-bottom: 1px solid #ddd;
	height: 37px;
	line-height: 37px;
}

.slidebg { padding:10px 30px; box-sizing: border-box; font-size: 80%; }
.slide-top { margin-bottom: 6px; font-size: 100%; overflow: hidden; }
.slide-top .fl { width: 60%; }
.slide-top .fr {/*text-align: right;*/ width:40%;}

.beet-odds-info { font-size: 80%; line-height: 15px; }
.beet-odds-info div { padding-left: 30px; line-height: 22px; color:#666;}
.beet-odds-info div span.maohao {margin-right: 10px;}
.beet-money { overflow: hidden; /*font-size: 80%;*/ line-height: 26px; margin-bottom:10px; }
.beet-money-int { float: left; width:57px; border:1px solid #ddd; height: 26px; line-height: 13px; padding-left:5px; box-sizing: border-box; color: #000  }
.beet-money a { width:32px; text-align: center; height: 24px; line-height: 24px; color:#666; background: #f3f3f3; border:1px solid #ddd; float: left; }
.beet-money a.acitve { background: #f28010; color: #fff; border:1px solid #dd7212; }
.beet-money .fl { line-height: 26px; }

/*-- 滑动条tips --*/
.btn-que { background: #fff; text-align: center; width:50%; display: block; border:0; border-top:1px solid #ddd; height: 40px; line-height: 40px; font-size: 120%; color:#005ddc; position: absolute; bottom:0; right:0; border-left:1px solid #ddd; box-sizing: border-box; }
.btn-que-no { left: 0 }
.odds-btn-none,.odds-btn-ture { background: #fff; height:40px; line-height: 40px; width:50%; text-align: center; border:0; color: #005ddc; font-size: 120%; border-top:1px solid #ddd; box-sizing: border-box; position: absolute; bottom:0; border-radius:6px;}
.odds-btn-ture { border-left:1px solid #ddd; color: #005ddc; right:0; }
#prize_money { color:#00bf16; }

.tips-bg {
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
	z-index: 110
}

.red {
	color: #eb2929
}

.bett-buy { position: fixed; bottom: 45px; left: 0; right: 0; z-index: 99; background: #fff; border-top:1px solid #ddd; height: 75px; }

.bett-buy-top ul {display: -webkit-box;display: flex;margin:8px 0;}
.bett-buy-top ul li { padding:0 5px 0 15px; box-sizing:border-box;}
.bett-buy-top ul li.fr { float: right; }
.bett-buy-top .fl { margin-top: 3px;}
.buy-int { width:50%; border:1px solid #ccc; border-radius: 3px; background: #f3f3f3; height:28px; text-align: center; line-height: 14px;  }
.bett-input { margin:0 20px; }
