*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "微软雅黑";
	font-size: 14px;
	background: #EBECF0;
	color: #797A7E;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.head{
	height: 45px;
	background: #2B2F2E;
	line-height: 45px;
	font-size: 16px;
}
.head img{
	margin-top: 10px;
}
.head p{
	position: absolute;
	width: 100%;
	top: 0;
	text-align: center;
	color: #fff;
}
.payWay{
	margin-top: 15px;
}
.payWayP{
	padding: 10px 20px;
	font-size:25px;
}
.payWayUl{
	background: #fff;
	padding: 0 20px;
	border-radius:10px;
}
.payWayUl li{
	border-bottom: 1px solid #EBECF0;
	line-height: 45px;
}
/*
.payWayUl li img{
	margin: 5px 0 0 10px;
}
.payWayUl li span{
	display: inline-block;
	margin-left: 5px;
	position: absolute;
}
.payWayUl li input[type=radio]{
	float: right;
	margin-top: 16px;
	appearance: none;
}
.payWayUl li input[type=radio]:checked{
	color: #5ACFBF;
}
.payWayUl li label{
	width: 20px;
	height: 20px;
	margin-top: 10px;
    position: absolute;
    right: 20px;
    background: url(../images/radioDian.png);
}
.payBtnWP{
	background: #fff;
	text-align: center;
}
.payBtn{
	display: inline-block;
	width: 60%;
	background: #cd0005;
	border-radius: 15px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	margin: 15px auto;
	text-align: center;
}
.xianxiaBtnDiv p{
	display: inline-block;
	width: 50%;
	float: left;
}
*/