		<p class="chart_table_menu">
			标注形式选择：
			<label>
				<input id="omission" type="checkbox" checked="checked">遗漏
			</label>
			<label>
				<input id="foldLine" type="checkbox" checked="checked">折线
			</label>
			<label>
				<input id="layer" type="checkbox">遗漏分层
			</label>
			<label>
				<input id="splitLine" type="checkbox">分隔线
			</label>
		</p>
		<table id="chartTable" class="chart_table" cellpadding="0" cellspacing="0">
			<thead>
			<tr>
				<th width="70" rowspan="2" class="chart_table_thead_tfoot border_right">序号</th>
				<th rowspan="2" class="chart_table_thead_tfoot border_right">期号</th>
				<th rowspan="2" colspan="5" class="chart_table_thead_tfoot border_right">开奖号码</th>
				<th colspan="11" class="chart_table_thead_tfoot border_right">开奖号码分布图</th>
				<th colspan="6" class="chart_table_thead_tfoot border_right">奇数个数遗漏(<a href="javascript: void(0);"><strong class="blue">偶数</strong></a>)</th>
				<th colspan="6" class="chart_table_thead_tfoot border_right">大数个数遗漏(<a href="javascript: void(0);"><strong class="blue">小数</strong></a>)</th>
				<th colspan="6" class="chart_table_thead_tfoot">质数个数遗漏(<a href="javascript: void(0);"><strong class="blue">合数</strong></a>)</th>
			</tr>
			<tr>
				<th width="21" class="chart_table_thead_tfoot">01</th>
				<th width="21" class="chart_table_thead_tfoot">02</th>
				<th width="21" class="chart_table_thead_tfoot">03</th>
				<th width="21" class="chart_table_thead_tfoot">04</th>
				<th width="21" class="chart_table_thead_tfoot">05</th>
				<th width="21" class="chart_table_thead_tfoot">06</th>
				<th width="21" class="chart_table_thead_tfoot">07</th>
				<th width="21" class="chart_table_thead_tfoot">08</th>
				<th width="21" class="chart_table_thead_tfoot">09</th>
				<th width="21" class="chart_table_thead_tfoot">10</th>
				<th width="21" class="chart_table_thead_tfoot border_right">11</th>
				<th width="25" class="chart_table_thead_tfoot ">0</th>
				<th width="25" class="chart_table_thead_tfoot ">1</th>
				<th width="25" class="chart_table_thead_tfoot ">2</th>
				<th width="25" class="chart_table_thead_tfoot ">3</th>
				<th width="25" class="chart_table_thead_tfoot ">4</th>
				<th width="25" class="chart_table_thead_tfoot border_right">5</th>
				<th width="25" class="chart_table_thead_tfoot ">0</th>
				<th width="25" class="chart_table_thead_tfoot ">1</th>
				<th width="25" class="chart_table_thead_tfoot ">2</th>
				<th width="25" class="chart_table_thead_tfoot ">3</th>
				<th width="25" class="chart_table_thead_tfoot ">4</th>
				<th width="25" class="chart_table_thead_tfoot border_right">5</th>
				<th width="25" class="chart_table_thead_tfoot ">0</th>
				<th width="25" class="chart_table_thead_tfoot ">1</th>
				<th width="25" class="chart_table_thead_tfoot ">2</th>
				<th width="25" class="chart_table_thead_tfoot ">3</th>
				<th width="25" class="chart_table_thead_tfoot ">4</th>
				<th width="25" class="chart_table_thead_tfoot ">5</th>
			</tr>
		</thead>
		<tbody>

					{# 
						console.log(list);
						var current_omission_arr = [];
						
						_.map(list, function(item, itemIndex){
						var haoMaArr = item.haoMa.split(",");
						var ommitArr = item.ommit.split("#");
						if(itemIndex == 0){
							current_omission_arr = ommitArr;
						}
					 #}
				<tr>
					<td class="chart_table_td">{{itemIndex + 1}}</td>
					<td class="chart_table_td">{{item.qiHao}}</td>
					{# 
						_.map(haoMaArr, function(haoMaoItem, haoMaoItemIndex){
					 #}
						<td class="chart_table_td red_ball">{{haoMaoItem}}</td>
					{#
						});
					#}
	
	
	
					{# 
						var ommitItem = ommitArr[0];
						var ommitItemArr = ommitItem.split(",");
						_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
							var kkkkkkkk = ommitItemArrItemIndex + 1 > 9 ? ommitItemArrItemIndex + 1 + "" : "0" + (ommitItemArrItemIndex + 1);
							if(_.contains(haoMaArr, kkkkkkkk)){
								print('<td class="chart_table_td omission_entry omission_hit blue_ball">' + kkkkkkkk + '</td>');
							} else {
								print('<td class="chart_table_td td_show omission_entry">' + ommitItemArrItem + '</td>');
							}
						});
					 #}
	
	
	
	
					{# 
						var primeArr = [1, 2, 3, 5, 7, 11];

						var oddCount = 0; // 奇数
						var evenCount = 0; // 偶数
						var bigCount = 0; // 大
						var smallCount = 0; // 小
						var primeCount = 0; // 质数
						var compositeCount = 0; // 合数
						_.map(haoMaArr, function(haoMaoItem, haoMaoItemIndex){
							if(haoMaoItem % 2 == 0){
								evenCount++;
							} else {
								oddCount++;
							}
							if(haoMaoItem > 5){
								bigCount++;
							} else {
								smallCount++;
							}
							if(_.find(primeArr, function(num){return haoMaoItem == num;})){
								primeCount++;
							} else {
								compositeCount++;
							}
						});
					#}

					{# 
						var ommitItem = "0,0,0,0,0,0";
						var ommitItemArr = ommitItem.split(",");
						_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
							if(oddCount == ommitItemArrItemIndex){
								print('<td class="chart_table_td omission_entry omission_hit trend_red">' + oddCount + '</td>');
							} else {
								print('<td class="chart_table_td td_show omission_entry">' + ommitItemArrItem + '</td>');
							}
						});
					 #}

					{# 
						var ommitItem = "0,0,0,0,0,0";
						var ommitItemArr = ommitItem.split(",");
						_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
							if(bigCount == ommitItemArrItemIndex){
								print('<td class="chart_table_td omission_entry omission_hit trend_blue">' + bigCount + '</td>');
							} else {
								print('<td class="chart_table_td td_show omission_entry">' + ommitItemArrItem + '</td>');
							}
						});
					 #}

					{# 
						var ommitItem = "0,0,0,0,0,0";
						var ommitItemArr = ommitItem.split(",");
						_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
							if(primeCount == ommitItemArrItemIndex){
								print('<td class="chart_table_td omission_entry omission_hit trend_green">' + primeCount + '</td>');
							} else {
								print('<td class="chart_table_td td_show omission_entry">' + ommitItemArrItem + '</td>');
							}
						});
					 #}
	
				</tr>
					{#
						});
					#}
			<!-- 
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">总次数</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">16</td><td class="chart_table_td">9</td><td class="chart_table_td">15</td><td class="chart_table_td">12</td><td class="chart_table_td">9</td><td class="chart_table_td">15</td><td class="chart_table_td">19</td><td class="chart_table_td">16</td><td class="chart_table_td">16</td><td class="chart_table_td">7</td><td class="chart_table_td">16</td><td class="chart_table_td">0</td><td class="chart_table_td">0</td><td class="chart_table_td">5</td><td class="chart_table_td">19</td><td class="chart_table_td">6</td><td class="chart_table_td">0</td><td class="chart_table_td">0</td><td class="chart_table_td">1</td><td class="chart_table_td">7</td><td class="chart_table_td">14</td><td class="chart_table_td">8</td><td class="chart_table_td">0</td><td class="chart_table_td">0</td><td class="chart_table_td">1</td><td class="chart_table_td">11</td><td class="chart_table_td">11</td><td class="chart_table_td">7</td><td class="chart_table_td">0</td>
			</tr>
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">最大连出</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">4</td><td class="chart_table_td">2</td><td class="chart_table_td">6</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">5</td><td class="chart_table_td">4</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">0</td><td class="chart_table_td">0</td><td class="chart_table_td">2</td><td class="chart_table_td">5</td><td class="chart_table_td">1</td><td class="chart_table_td">0</td><td class="chart_table_td">0</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">0</td><td class="chart_table_td">0</td><td class="chart_table_td">1</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">0</td>
			</tr>
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">最大遗漏</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">4</td><td class="chart_table_td">5</td><td class="chart_table_td">3</td><td class="chart_table_td">7</td><td class="chart_table_td">8</td><td class="chart_table_td">4</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">10</td><td class="chart_table_td">4</td><td class="font_size_9 chart_table_td">116</td><td class="chart_table_td">48</td><td class="chart_table_td">16</td><td class="chart_table_td">3</td><td class="chart_table_td">6</td><td class="chart_table_td">55</td><td class="font_size_9 chart_table_td">914</td><td class="chart_table_td">27</td><td class="chart_table_td">8</td><td class="chart_table_td">4</td><td class="chart_table_td">6</td><td class="chart_table_td">64</td><td class="font_size_9 chart_table_td">1259</td><td class="chart_table_td">32</td><td class="chart_table_td">7</td><td class="chart_table_td">11</td><td class="chart_table_td">18</td><td class="chart_table_td">30</td>
			</tr>
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">平均遗漏</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">1</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">30</td><td class="chart_table_td">30</td><td class="chart_table_td">5</td><td class="chart_table_td">1</td><td class="chart_table_td">4</td><td class="chart_table_td">30</td><td class="chart_table_td">30</td><td class="chart_table_td">15</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">30</td><td class="chart_table_td">30</td><td class="chart_table_td">15</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">30</td>
			</tr>
			 -->
			<!-- 
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">出现总次</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="font_size_9 chart_table_td">386</td><td class="font_size_9 chart_table_td">377</td><td class="font_size_9 chart_table_td">382</td><td class="font_size_9 chart_table_td">332</td><td class="font_size_9 chart_table_td">375</td><td class="font_size_9 chart_table_td">388</td><td class="font_size_9 chart_table_td">385</td><td class="font_size_9 chart_table_td">386</td><td class="font_size_9 chart_table_td">415</td><td class="font_size_9 chart_table_td">396</td><td class="font_size_9 chart_table_td">378</td><td class="chart_table_td">1</td><td class="chart_table_td">48</td><td class="font_size_9 chart_table_td">271</td><td class="font_size_9 chart_table_td">359</td><td class="font_size_9 chart_table_td">151</td><td class="chart_table_td">10</td><td class="chart_table_td">0</td><td class="chart_table_td">44</td><td class="font_size_9 chart_table_td">268</td><td class="font_size_9 chart_table_td">354</td><td class="font_size_9 chart_table_td">164</td><td class="chart_table_td">10</td><td class="chart_table_td">0</td><td class="chart_table_td">53</td><td class="font_size_9 chart_table_td">277</td><td class="font_size_9 chart_table_td">373</td><td class="font_size_9 chart_table_td">128</td><td class="chart_table_td">9</td>
			</tr>
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">最大连出</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">6</td><td class="chart_table_td">6</td><td class="chart_table_td">9</td><td class="chart_table_td">6</td><td class="chart_table_td">7</td><td class="chart_table_td">6</td><td class="chart_table_td">9</td><td class="chart_table_td">8</td><td class="chart_table_td">11</td><td class="chart_table_td">6</td><td class="chart_table_td">13</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">5</td><td class="chart_table_td">10</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">0</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">7</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">0</td><td class="chart_table_td">2</td><td class="chart_table_td">5</td><td class="chart_table_td">8</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td>
			</tr>
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">最大遗漏</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">12</td><td class="chart_table_td">8</td><td class="chart_table_td">11</td><td class="chart_table_td">11</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">8</td><td class="chart_table_td">11</td><td class="chart_table_td">11</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="font_size_9 chart_table_td">1178</td><td class="font_size_9 chart_table_td">106</td><td class="chart_table_td">19</td><td class="chart_table_td">10</td><td class="chart_table_td">33</td><td class="font_size_9 chart_table_td">381</td><td class="font_size_9 chart_table_td">914</td><td class="chart_table_td">69</td><td class="chart_table_td">12</td><td class="chart_table_td">10</td><td class="chart_table_td">34</td><td class="font_size_9 chart_table_td">199</td><td class="font_size_9 chart_table_td">1259</td><td class="font_size_9 chart_table_td">110</td><td class="chart_table_td">15</td><td class="chart_table_td">13</td><td class="chart_table_td">28</td><td class="font_size_9 chart_table_td">542</td>
			</tr>
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">平均遗漏</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="font_size_9 chart_table_td">420</td><td class="chart_table_td">17</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">5</td><td class="chart_table_td">76</td><td class="font_size_9 chart_table_td">840</td><td class="chart_table_td">18</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">5</td><td class="chart_table_td">76</td><td class="font_size_9 chart_table_td">840</td><td class="chart_table_td">15</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">6</td><td class="chart_table_td">84</td>
			</tr>
			 -->
			<tr class="chart_table_tr_statistic_current_omission">
				<td class="chart_table_td td_center">当前遗漏</td>
				<td class="chart_table_td"></td>
				<td class="chart_table_td"></td>
				<td class="chart_table_td"></td>
				<td class="chart_table_td"></td>
				<td class="chart_table_td"></td>
				<td class="chart_table_td"></td>

				{# 
					var current_omission_arr_item = current_omission_arr[0];
					var ommitItemArr = current_omission_arr_item.split(",");
					_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrIndex){
				 #}
						<td class="chart_table_td">{{ommitItemArrItem}}</td>
				{#
					});
				#}

				<td class="font_size_9 chart_table_td">116</td>
				<td class="chart_table_td">48</td>
				<td class="chart_table_td">8</td>
				<td class="chart_table_td">1</td>
				<td class="chart_table_td">0</td>
				<td class="chart_table_td">55</td>
				<td class="font_size_9 chart_table_td">914</td>
				<td class="chart_table_td">6</td>
				<td class="chart_table_td">2</td>
				<td class="chart_table_td">0</td>
				<td class="chart_table_td">4</td>
				<td class="chart_table_td">64</td>
				<td class="font_size_9 chart_table_td">1259</td>
				<td class="chart_table_td">9</td>
				<td class="chart_table_td">2</td>
				<td class="chart_table_td">0</td>
				<td class="chart_table_td">3</td>
				<td class="chart_table_td">30</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td rowspan="2" class="chart_table_thead_tfoot border_right">序号</td>
				<td rowspan="2" class="chart_table_thead_tfoot border_right">期号</td>
				<td rowspan="2" colspan="5" class="chart_table_thead_tfoot border_right">开奖号码</td>
				<td class="chart_table_thead_tfoot">01</td>
				<td class="chart_table_thead_tfoot">02</td>
				<td class="chart_table_thead_tfoot">03</td>
				<td class="chart_table_thead_tfoot">04</td>
				<td class="chart_table_thead_tfoot">05</td>
				<td class="chart_table_thead_tfoot">06</td>
				<td class="chart_table_thead_tfoot">07</td>
				<td class="chart_table_thead_tfoot">08</td>
				<td class="chart_table_thead_tfoot">09</td>
				<td class="chart_table_thead_tfoot">10</td>
				<td class="chart_table_thead_tfoot border_right">11</td>
				<td class="chart_table_thead_tfoot ">0</td>
				<td class="chart_table_thead_tfoot ">1</td>
				<td class="chart_table_thead_tfoot ">2</td>
				<td class="chart_table_thead_tfoot ">3</td>
				<td class="chart_table_thead_tfoot ">4</td>
				<td class="chart_table_thead_tfoot border_right">5</td>
				<td class="chart_table_thead_tfoot ">0</td>
				<td class="chart_table_thead_tfoot ">1</td>
				<td class="chart_table_thead_tfoot ">2</td>
				<td class="chart_table_thead_tfoot ">3</td>
				<td class="chart_table_thead_tfoot ">4</td>
				<td class="chart_table_thead_tfoot border_right">5</td>
				<td class="chart_table_thead_tfoot ">0</td>
				<td class="chart_table_thead_tfoot ">1</td>
				<td class="chart_table_thead_tfoot ">2</td>
				<td class="chart_table_thead_tfoot ">3</td>
				<td class="chart_table_thead_tfoot ">4</td>
				<td class="chart_table_thead_tfoot ">5</td>
			</tr>
			<tr>
				<td colspan="11" class="chart_table_thead_tfoot border_right">开奖号码分布图</td>
				<td colspan="6" class="chart_table_thead_tfoot border_right">奇数个数遗漏(<a href="javascript: void(0);"><strong class="blue">偶数</strong></a>)</td>
				<td colspan="6" class="chart_table_thead_tfoot border_right">大数个数遗漏(<a href="javascript: void(0);"><strong class="blue">小数</strong></a>)</td>
				<td colspan="6" class="chart_table_thead_tfoot">质数个数遗漏(<a href="javascript: void(0);"><strong class="blue">合数</strong></a>)</td>
			</tr>
			<tr>
				<td colspan="36" class="chart_table_td_statistic_search">
					<label style="display: none;">
						<input id="historyStatistic" type="radio" name="statistic">
						最近10天统计
					</label>
					<label style="display: none;">
						<input id="currentStatistic" type="radio" name="statistic" checked="checked">
						当前页统计
					</label>
					&nbsp;
				</td>
			</tr>
			</tfoot>
		</table>
☽☻
<div class="tab_foot">
	<h4>参数说明：</h4>
	<p>
		<strong>大小：</strong>号码01-11中，01-05为小，06-11为大。<br>
		<strong>奇偶：</strong>能被2整除的号码为偶数，不能被2整除的号码为奇数。号码01-11中奇偶数如下：<br>
		[奇数] 01 03 05 07 09 11<br>
		[偶数] 02 04 06 08 10<br>
		<strong>质合：</strong>只能被1和自身整除的数为质数，除了能被1和自身整除，还能被其它数整除的数为合数。号码01-11中质合数如下：<br>
		[质数] 01 02 03 05 07 11<br>
		[合数] 04 06 08 09 10<br>
		<strong>出现概率：</strong>用实出次数除以总期数（当前页面总期数），即得出现概率。<br>
		<strong>欲出几率：</strong>当前遗漏除以平均遗漏*100%。<br>
		<strong>遗漏分层：</strong>将当前遗漏按照“1-5，6-11，12-无穷大”分别用黑色、蓝色、红色标识。<br>
		<strong>分隔线：</strong>每五期使用分隔线，使横向导航更加清晰。<br>
		<strong>出现总次数：</strong>统计期数内实际出现的次数。<br>
		<strong>遗漏：</strong>自上期开出到本期间隔的期数。<br>
		<strong>平均遗漏：</strong>统计期数内遗漏的平均值。计算公式：平均遗漏＝统计期数/(出现次数+1)。<br>
		<strong>最大遗漏：</strong>统计期数内遗漏的最大值。<br>
		<strong>当前遗漏：</strong>自上期开出到当前期所间隔的期数。<br>
		<strong>最大连出值：</strong>统计期数内连续开出的最大值。
	</p>
</div>