
		<!-- 北京塞车－定位走势－通用 -->
		<p class="chart_table_menu">
			标注形式选择： <label> <input id="omission" type="checkbox"
				checked="checked" />遗漏
			</label> <label> <input id="foldLine" type="checkbox"
				checked="checked" />折线
			</label> <label> <input id="layer" type="checkbox" />遗漏分层
			</label> <label> <input id="splitLine" type="checkbox" />分隔线
			</label>
		</p>
		<table id="chartTable" class="chart_table" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th rowspan="2" class="chart_table_thead_tfoot border_right">日期</th>
					<th rowspan="2" class="chart_table_thead_tfoot border_right" width="80">
						期号 
						<!-- 
						<a href="javascript: void(0);">
							<img id="phaseOrder" class="th_order_up" src="images/up.png" alt="" />
						</a>
						 -->
					</th>
					<th rowspan="2" class="chart_table_thead_tfoot border_right">开奖号码</th>
					<th colspan="10" class="chart_table_thead_tfoot border_right">{{gamename}}分布</th>
					<th colspan="2" class="chart_table_thead_tfoot border_right">{{gamename}}</th>
					<th colspan="2" class="chart_table_thead_tfoot border_right">{{gamename}}</th>
					<th colspan="2" class="chart_table_thead_tfoot border_right">{{gamename}}</th>
					<th colspan="3" class="chart_table_thead_tfoot border_right">{{gamename}}</th>
					<th colspan="3" class="chart_table_thead_tfoot">{{gamename}}</th>
				</tr>
				<tr>
					<th width="25" class="chart_table_thead_tfoot">01</th>
					<th width="25" class="chart_table_thead_tfoot">02</th>
					<th width="25" class="chart_table_thead_tfoot">03</th>
					<th width="25" class="chart_table_thead_tfoot">04</th>
					<th width="25" class="chart_table_thead_tfoot">05</th>
					<th width="25" class="chart_table_thead_tfoot">06</th>
					<th width="25" class="chart_table_thead_tfoot">07</th>
					<th width="25" class="chart_table_thead_tfoot">08</th>
					<th width="25" class="chart_table_thead_tfoot">09</th>

					<th width="25" class="chart_table_thead_tfoot border_right">10</th>

					<th width="25" class="chart_table_thead_tfoot">奇</th>
					<th width="25" class="chart_table_thead_tfoot border_right">偶</th>
					<th width="25" class="chart_table_thead_tfoot">大</th>
					<th width="25" class="chart_table_thead_tfoot border_right">小</th>
					<th width="25" class="chart_table_thead_tfoot">质</th>
					<th width="25" class="chart_table_thead_tfoot border_right">合</th>
					<th width="25" class="chart_table_thead_tfoot">0</th>
					<th width="25" class="chart_table_thead_tfoot">1</th>
					<th width="25" class="chart_table_thead_tfoot border_right">2</th>
					<th width="25" class="chart_table_thead_tfoot">升</th>
					<th width="25" class="chart_table_thead_tfoot">平</th>
					<th width="25" class="chart_table_thead_tfoot">降</th>
				</tr>
			</thead>
			<tbody>
					{# 
						var pervNum = 0;
						_.map(list, function(item, itemIndex){
						var haoMaArr = item.haoMa.split(",");
						var ommitArr = item.ommit.split("#");
					 #}
					<tr>
						<td class="chart_table_td border_right">{{new Date(item.endTime).format("yyyy-MM-dd")}}</td>
						<td class="chart_table_td border_right">{{item.qiHao}}</td>
						<td class="chart_table_td border_right">
									{#
									for(var i = 0; i < haoMaArr.length; i++){
										if(index == i){
											print('<span class="red">' + haoMaArr[i] + "</span>&nbsp;");
										} else {
											print("<span>" + haoMaArr[i] + "</span>&nbsp;");
										}
									}
									#}
						</td>

						{# 
							var haoMaoItem = haoMaArr[index];
							var ommitItem = ommitArr[index];
							var ommitItemArr = ommitItem.split(",");
							_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
						 #}
							<td class="{{haoMaoItem == (ommitItemArrItemIndex + 1) ? 'chart_table_td omission_entry omission_hit red_ball' : 'chart_table_td td_show omission_entry'}}">{{haoMaoItem == (ommitItemArrItemIndex + 1) ? haoMaoItem : ommitItemArrItem}}</td>
						{#
							});
						#}

						{#
							var oddEven = 1;
							var bigSmall = 1;
							var primeComposite = 2;
							var primeArr = [1, 2, 3, 5, 7];
							if(haoMaoItem % 2 == 0){
								oddEven = 2;
							} else {
								oddEven = 1;
							}
							if(haoMaoItem > 5){
								bigSmall = 2;
							} else {
								bigSmall = 1;
							}
							if(_.find(primeArr, function(num){return haoMaoItem == num;})){
								primeComposite = 2;
							} else {
								primeComposite = 4;
							}
							var lu012 = haoMaoItem % 3;
						#}

						{#
						if(oddEven == 1){
						#}
						<td class="chart_table_td omission_entry omission_hit trend_red">奇</td>
						<td class="chart_table_td td_show omission_entry  border_right">0</td>
						{#
						} else {
						#}
						<td class="chart_table_td td_show omission_entry ">0</td>
						<td class="chart_table_td omission_entry omission_hit trend_blue">偶</td>
						{#
						}
						#}

						{#
						if(bigSmall == 1){
						#}
						<td class="chart_table_td td_show omission_entry ">0</td>
						<td class="chart_table_td omission_entry omission_hit trend_blue">小</td>
						{#
						} else {
						#}
						<td class="chart_table_td omission_entry omission_hit trend_red">大</td>
						<td class="chart_table_td td_show omission_entry  border_right">0</td>
						{#
						}
						#}

						{#
						if(primeComposite == 2){
						#}
						<td class="chart_table_td omission_entry omission_hit trend_red">质</td>
						<td class="chart_table_td td_show omission_entry ">0</td>
						{#
						} else {
						#}
						<td class="chart_table_td td_show omission_entry ">0</td>
						<td class="chart_table_td omission_entry omission_hit trend_blue border_right">合</td>
						{#
						}
						#}

						{#
						for(var i = 0; i < 3; i++){
							if(lu012 == i){
								print('<td class="chart_table_td omission_entry omission_hit trend_light_blue">' + i + '</td>');
							} else {
								print('<td class="chart_table_td td_show omission_entry">0</td>');
							}
						}
						#}
						
						{#
						if(pervNum != 0 && haoMaoItem > pervNum){
							print('<td class="chart_table_td omission_entry omission_hit trend_orange">升</td>');
							print('<td class="chart_table_td td_show omission_entry">0</td>');
							print('<td class="chart_table_td td_show omission_entry">0</td>');
						} else if(pervNum != 0 && haoMaoItem == pervNum){
							print('<td class="chart_table_td td_show omission_entry">0</td>');
							print('<td class="chart_table_td omission_entry omission_hit trend_orange">平</td>');
							print('<td class="chart_table_td td_show omission_entry">0</td>');
						} else if(pervNum != 0 && haoMaoItem < pervNum){
							print('<td class="chart_table_td td_show omission_entry">0</td>');
							print('<td class="chart_table_td td_show omission_entry">0</td>');
							print('<td class="chart_table_td omission_entry omission_hit trend_orange">降</td>');
						} else {
							print('<td class="chart_table_td td_show omission_entry">0</td>');
							print('<td class="chart_table_td td_show omission_entry">0</td>');
							print('<td class="chart_table_td td_show omission_entry">0</td>');
						}
						pervNum = haoMaoItem;
						#}
					</tr>
					{#
						});
					#}

				<!-- 
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">总次数</td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">5</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">14</td>
					<td class="chart_table_td">16</td>
					<td class="chart_table_td">15</td>
					<td class="chart_table_td">15</td>
					<td class="chart_table_td">13</td>
					<td class="chart_table_td">17</td>
					<td class="chart_table_td">11</td>
					<td class="chart_table_td">11</td>
					<td class="chart_table_td">8</td>
					<td class="chart_table_td">14</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">14</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">最大连出</td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">5</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">2</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">最大遗漏</td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td">29</td>
					<td class="chart_table_td">14</td>
					<td class="chart_table_td">33</td>
					<td class="chart_table_td">12</td>
					<td class="chart_table_td">18</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">18</td>
					<td class="chart_table_td">13</td>
					<td class="chart_table_td">12</td>
					<td class="chart_table_td">30</td>
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">5</td>
					<td class="chart_table_td">6</td>
					<td class="chart_table_td">5</td>
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">11</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">16</td>
					<td class="chart_table_td">3</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">平均遗漏</td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td">7</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">7</td>
					<td class="chart_table_td">6</td>
					<td class="chart_table_td">7</td>
					<td class="chart_table_td">5</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">7</td>
					<td class="chart_table_td">7</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">2</td>
				</tr>
				 -->

				<!-- 
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">出现总次</td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td"></td>
					<td class="font_size_9 chart_table_td">188</td>
					<td class="font_size_9 chart_table_td">183</td>
					<td class="font_size_9 chart_table_td">169</td>
					<td class="font_size_9 chart_table_td">163</td>
					<td class="font_size_9 chart_table_td">151</td>
					<td class="font_size_9 chart_table_td">210</td>
					<td class="font_size_9 chart_table_td">180</td>
					<td class="font_size_9 chart_table_td">196</td>
					<td class="font_size_9 chart_table_td">170</td>
					<td class="font_size_9 chart_table_td">180</td>
					<td class="font_size_9 chart_table_td">858</td>
					<td class="font_size_9 chart_table_td">932</td>
					<td class="font_size_9 chart_table_td">936</td>
					<td class="font_size_9 chart_table_td">854</td>
					<td class="font_size_9 chart_table_td">871</td>
					<td class="font_size_9 chart_table_td">919</td>
					<td class="font_size_9 chart_table_td">549</td>
					<td class="font_size_9 chart_table_td">711</td>
					<td class="font_size_9 chart_table_td">530</td>
					<td class="font_size_9 chart_table_td">811</td>
					<td class="font_size_9 chart_table_td">182</td>
					<td class="font_size_9 chart_table_td">797</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">最大连出</td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">11</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">11</td>
					<td class="chart_table_td">8</td>
					<td class="chart_table_td">7</td>
					<td class="chart_table_td">6</td>
					<td class="chart_table_td">6</td>
					<td class="chart_table_td">5</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">4</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">最大遗漏</td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td">54</td>
					<td class="chart_table_td">43</td>
					<td class="chart_table_td">54</td>
					<td class="chart_table_td">63</td>
					<td class="chart_table_td">49</td>
					<td class="chart_table_td">44</td>
					<td class="chart_table_td">49</td>
					<td class="chart_table_td">64</td>
					<td class="chart_table_td">64</td>
					<td class="chart_table_td">44</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">11</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">8</td>
					<td class="chart_table_td">11</td>
					<td class="chart_table_td">15</td>
					<td class="chart_table_td">14</td>
					<td class="chart_table_td">15</td>
					<td class="chart_table_td">7</td>
					<td class="chart_table_td">75</td>
					<td class="chart_table_td">5</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">平均遗漏</td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td">9</td>
					<td class="chart_table_td">9</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">11</td>
					<td class="chart_table_td">8</td>
					<td class="chart_table_td">9</td>
					<td class="chart_table_td">9</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">9</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">9</td>
					<td class="chart_table_td">2</td>
				</tr>
				<tr class="chart_table_tr_statistic_current_omission">
					<td class="chart_table_td td_center">当前遗漏</td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td">8</td>
					<td class="chart_table_td">14</td>
					<td class="chart_table_td">5</td>
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">18</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">8</td>
					<td class="chart_table_td">0</td>
				</tr>
				 -->
			</tbody>
			<tfoot>
				<tr>
					<td rowspan="2" class="chart_table_thead_tfoot border_right">日期</td>
					<td rowspan="2" class="chart_table_thead_tfoot border_right">期号</td>
					<td rowspan="2" class="chart_table_thead_tfoot border_right">开奖号码</td>

					<td class="chart_table_thead_tfoot">01</td>
					<td class="chart_table_thead_tfoot">02</td>
					<td class="chart_table_thead_tfoot">03</td>
					<td class="chart_table_thead_tfoot">04</td>
					<td class="chart_table_thead_tfoot">05</td>
					<td class="chart_table_thead_tfoot">06</td>
					<td class="chart_table_thead_tfoot">07</td>
					<td class="chart_table_thead_tfoot">08</td>
					<td class="chart_table_thead_tfoot">09</td>

					<td class="chart_table_thead_tfoot border_right">10</td>

					<td class="chart_table_thead_tfoot">奇</td>
					<td class="chart_table_thead_tfoot border_right">偶</td>
					<td class="chart_table_thead_tfoot">大</td>
					<td class="chart_table_thead_tfoot border_right">小</td>
					<td class="chart_table_thead_tfoot">质</td>
					<td class="chart_table_thead_tfoot border_right">合</td>
					<td class="chart_table_thead_tfoot">0</td>
					<td class="chart_table_thead_tfoot">1</td>
					<td class="chart_table_thead_tfoot border_right">2</td>
					<td class="chart_table_thead_tfoot">升</td>
					<td class="chart_table_thead_tfoot">平</td>
					<td class="chart_table_thead_tfoot">降</td>
				</tr>
				<tr>
					<td colspan="10" class="chart_table_thead_tfoot border_right">{{gamename}}分布</td>
					<td colspan="2" class="chart_table_thead_tfoot border_right">{{gamename}}</td>
					<td colspan="2" class="chart_table_thead_tfoot border_right">{{gamename}}</td>
					<td colspan="2" class="chart_table_thead_tfoot border_right">{{gamename}}</td>
					<td colspan="3" class="chart_table_thead_tfoot border_right">{{gamename}}</td>
					<td colspan="3" class="chart_table_thead_tfoot">{{gamename}}</td>
				</tr>
				<tr>
					<td colspan="25" class="chart_table_td_statistic_search">
						<label style="display: none;">
							<input id='historyStatistic' type="radio" name="statistic" /> 最近10天统计
						</label>
						<label style="display: none;">
							<input id='currentStatistic' type="radio" name="statistic" checked="checked" /> 当前页统计
						</label>
						&nbsp;
					</td>
				</tr>
			</tfoot>
		</table>
		☽☻
		<div class="tab_foot">
    <h4>参数说明：</h4>
    <p>
                    <strong>开奖号码：</strong>PK拾冠亚季军号码。<br>
            <strong>奇偶：</strong>除2余数为1的为奇数，含1、3、5、7、9，除2余0的为偶数，含2、4、6、8、10。<br>
            <strong>大小：</strong>6、7、8、9、10为大数，1、2、3、4、5为小数。<br>
            <strong>质合：</strong>1、2、3、5、7为质数，4、6、8、9、10为合数。<br>
            <strong>012路：</strong>除3余数为0的为0路号码，包含3、6、9,；除3余数为1的为1路号码，包含1、4、7、10；除3余数为2的为2路号码，包含2、5、8。<br>
            <strong>升平降：</strong>比上期奖号数值大的，表示本期奖号特征为升；与上期相同的，表示本期奖号特征为平；比上期奖号数值小的，表示本期奖号特征为降。<br>



        <strong>遗漏分层：</strong>将当前遗漏按照“1-5，6-11，12-无穷大”分别用黑色、蓝色、红色标识。<br>
        <strong>分隔线：</strong>每五期使用分隔线，使横向导航更加清晰。<br>
        <strong>出现总次数：</strong>统计期数内实际出现的次数。<br>
        <strong>遗漏：</strong>自上期开出到本期间隔的期数。<br>
        <strong>平均遗漏：</strong>统计期数内遗漏的平均值。（计算公式：平均遗漏＝统计期数/(出现次数+1)。）<br>
        <strong>最大遗漏：</strong>统计期数内遗漏的最大值。<br>
        <strong>当前遗漏：</strong>自上期开出到当前期所间隔的期数。<br>
        <strong>最大连出值：</strong>统计期数内连续开出的最大值。
    </p>
</div>