		<p class="chart_table_menu">
			标注形式选择：
			<label>
				<input id="omission" type="checkbox" checked="checked">遗漏
			</label>
			<label>
				<input id="foldLine" type="checkbox" checked="checked">折线
			</label>
			<label>
				<input id="layer" type="checkbox">遗漏分层
			</label>
			<label>
				<input id="splitLine" type="checkbox">分隔线
			</label>
		</p>
		<table id="chartTable" class="chart_table" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th rowspan="2" class="chart_table_thead_tfoot border_right">日期</th>
					<th rowspan="2" class="chart_table_thead_tfoot border_right">期号</th>
					<th rowspan="2" class="chart_table_thead_tfoot border_right">开奖号码</th>
					<th colspan="10" class="chart_table_thead_tfoot border_right">基础分布</th>
					<th colspan="10" class="chart_table_thead_tfoot border_right">冠军</th>
					<th colspan="10" class="chart_table_thead_tfoot border_right">亚军</th>
					<th colspan="10" class="chart_table_thead_tfoot">季军</th>
				</tr>
				<tr>
							<th width="18" class="chart_table_thead_tfoot ">01</th>
							<th width="18" class="chart_table_thead_tfoot ">02</th>
							<th width="18" class="chart_table_thead_tfoot ">03</th>
							<th width="18" class="chart_table_thead_tfoot ">04</th>
							<th width="18" class="chart_table_thead_tfoot ">05</th>
							<th width="18" class="chart_table_thead_tfoot ">06</th>
							<th width="18" class="chart_table_thead_tfoot ">07</th>
							<th width="18" class="chart_table_thead_tfoot ">08</th>
							<th width="18" class="chart_table_thead_tfoot ">09</th>
							<th width="18" class="chart_table_thead_tfoot border_right">10</th>
							<th width="18" class="chart_table_thead_tfoot ">01</th>
							<th width="18" class="chart_table_thead_tfoot ">02</th>
							<th width="18" class="chart_table_thead_tfoot ">03</th>
							<th width="18" class="chart_table_thead_tfoot ">04</th>
							<th width="18" class="chart_table_thead_tfoot ">05</th>
							<th width="18" class="chart_table_thead_tfoot ">06</th>
							<th width="18" class="chart_table_thead_tfoot ">07</th>
							<th width="18" class="chart_table_thead_tfoot ">08</th>
							<th width="18" class="chart_table_thead_tfoot ">09</th>
							<th width="18" class="chart_table_thead_tfoot border_right">10</th>
							<th width="18" class="chart_table_thead_tfoot ">01</th>
							<th width="18" class="chart_table_thead_tfoot ">02</th>
							<th width="18" class="chart_table_thead_tfoot ">03</th>
							<th width="18" class="chart_table_thead_tfoot ">04</th>
							<th width="18" class="chart_table_thead_tfoot ">05</th>
							<th width="18" class="chart_table_thead_tfoot ">06</th>
							<th width="18" class="chart_table_thead_tfoot ">07</th>
							<th width="18" class="chart_table_thead_tfoot ">08</th>
							<th width="18" class="chart_table_thead_tfoot ">09</th>
							<th width="18" class="chart_table_thead_tfoot border_right">10</th>
							<th width="18" class="chart_table_thead_tfoot ">01</th>
							<th width="18" class="chart_table_thead_tfoot ">02</th>
							<th width="18" class="chart_table_thead_tfoot ">03</th>
							<th width="18" class="chart_table_thead_tfoot ">04</th>
							<th width="18" class="chart_table_thead_tfoot ">05</th>
							<th width="18" class="chart_table_thead_tfoot ">06</th>
							<th width="18" class="chart_table_thead_tfoot ">07</th>
							<th width="18" class="chart_table_thead_tfoot ">08</th>
							<th width="18" class="chart_table_thead_tfoot ">09</th>
							<th width="18" class="chart_table_thead_tfoot ">10</th>
				</tr>
			</thead>
			<tbody>

					{# 
						var ball_t_arr = ['orange_ball', 'blue_ball', 'yellow_ball'];
						var current_omission_arr = [];
						
						_.map(list, function(item, itemIndex){
						var haoMaArrTemp = item.haoMa.split(",");
						var ommitArrTemp = item.ommit.split("#");
						var haoMaArr = [];
						var ommitArr = [];
						for(var i = 0; i < 3; i++){
							haoMaArr[i] = haoMaArrTemp[i];
							ommitArr[i] = ommitArrTemp[i];
						}
						if(itemIndex == 0){
							current_omission_arr = ommitArr;
						}
					 #}
					<tr>
						<td class="chart_table_td">{{new Date(item.endTime).format("yyyy-MM-dd")}}</td>
						<td class="chart_table_td">{{item.qiHao}}</td>
						<td class="chart_table_td">
									{#
									for(var i = 0; i < haoMaArr.length; i++){
										print(haoMaArr[i] + "&nbsp;");
									}
									#}
						</td>
		
					{# 
						var ommitItem = "0,0,0,0,0,0,0,0,0,0";
						var ommitItemArr = ommitItem.split(",");
						_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
							var kkkkkkkk = ommitItemArrItemIndex + 1 > 9 ? ommitItemArrItemIndex + 1 + "" : "0" + (ommitItemArrItemIndex + 1);
							if(_.contains(haoMaArr, kkkkkkkk)){
								print('<td class="chart_table_td omission_entry omission_hit red_ball">' + kkkkkkkk + '</td>');
							} else {
								print('<td class="chart_table_td td_show omission_entry">' + ommitItemArrItem + '</td>');
							}
						});
					 #}

					{# 
						_.map(haoMaArr, function(haoMaoItem, haoMaoItemIndex){
							var ommitItem = ommitArr[haoMaoItemIndex];
							var ommitItemArr = ommitItem.split(",");
							_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
					 #}
						<td class="{{haoMaoItem == (ommitItemArrItemIndex + 1) ? 'chart_table_td omission_entry omission_hit ' + ball_t_arr[haoMaoItemIndex] : 'chart_table_td td_show omission_entry'}}">{{haoMaoItem == (ommitItemArrItemIndex + 1) ? haoMaoItem : ommitItemArrItem}}</td>
					{#
							});
						});
					#}

					</tr>
					{#
						});
					#}

				<!-- 
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">总次数</td>
					<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">11</td><td class="chart_table_td">7</td><td class="chart_table_td">12</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">7</td><td class="chart_table_td">7</td><td class="chart_table_td">11</td><td class="chart_table_td">8</td><td class="chart_table_td">8</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">3</td><td class="chart_table_td">7</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">5</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">3</td><td class="chart_table_td">5</td><td class="chart_table_td">5</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">5</td><td class="chart_table_td">2</td><td class="chart_table_td">7</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">最大连出</td>
					<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">5</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">最大遗漏</td>
					<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">4</td><td class="chart_table_td">6</td><td class="chart_table_td">10</td><td class="chart_table_td">11</td><td class="chart_table_td">17</td><td class="chart_table_td">8</td><td class="chart_table_td">11</td><td class="chart_table_td">9</td><td class="chart_table_td">17</td><td class="chart_table_td">21</td><td class="chart_table_td">15</td><td class="chart_table_td">13</td><td class="chart_table_td">17</td><td class="chart_table_td">18</td><td class="chart_table_td">17</td><td class="chart_table_td">11</td><td class="chart_table_td">13</td><td class="chart_table_td">16</td><td class="chart_table_td">15</td><td class="chart_table_td">12</td><td class="chart_table_td">28</td><td class="chart_table_td">11</td><td class="chart_table_td">29</td><td class="chart_table_td">22</td><td class="chart_table_td">28</td><td class="chart_table_td">18</td><td class="chart_table_td">21</td><td class="chart_table_td">34</td><td class="chart_table_td">11</td><td class="chart_table_td">18</td><td class="chart_table_td">13</td><td class="chart_table_td">30</td><td class="chart_table_td">17</td><td class="chart_table_td">21</td><td class="chart_table_td">30</td><td class="chart_table_td">22</td><td class="chart_table_td">29</td><td class="chart_table_td">17</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">平均遗漏</td>
					<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">15</td><td class="chart_table_td">10</td><td class="chart_table_td">6</td><td class="chart_table_td">6</td><td class="chart_table_td">7</td><td class="chart_table_td">15</td><td class="chart_table_td">7</td><td class="chart_table_td">3</td><td class="chart_table_td">10</td><td class="chart_table_td">7</td><td class="chart_table_td">5</td><td class="chart_table_td">7</td><td class="chart_table_td">15</td><td class="chart_table_td">7</td><td class="chart_table_td">5</td><td class="chart_table_td">5</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">5</td><td class="chart_table_td">10</td><td class="chart_table_td">3</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">15</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">6</td><td class="chart_table_td">7</td>
				</tr>
				 -->
				<!-- 
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">出现总次</td>
					<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="font_size_9 chart_table_td">581</td><td class="font_size_9 chart_table_td">530</td><td class="font_size_9 chart_table_td">526</td><td class="font_size_9 chart_table_td">498</td><td class="font_size_9 chart_table_td">536</td><td class="font_size_9 chart_table_td">522</td><td class="font_size_9 chart_table_td">567</td><td class="font_size_9 chart_table_td">569</td><td class="font_size_9 chart_table_td">508</td><td class="font_size_9 chart_table_td">533</td><td class="font_size_9 chart_table_td">183</td><td class="font_size_9 chart_table_td">176</td><td class="font_size_9 chart_table_td">179</td><td class="font_size_9 chart_table_td">168</td><td class="font_size_9 chart_table_td">151</td><td class="font_size_9 chart_table_td">196</td><td class="font_size_9 chart_table_td">180</td><td class="font_size_9 chart_table_td">209</td><td class="font_size_9 chart_table_td">161</td><td class="font_size_9 chart_table_td">187</td><td class="font_size_9 chart_table_td">200</td><td class="font_size_9 chart_table_td">195</td><td class="font_size_9 chart_table_td">163</td><td class="font_size_9 chart_table_td">163</td><td class="font_size_9 chart_table_td">192</td><td class="font_size_9 chart_table_td">167</td><td class="font_size_9 chart_table_td">189</td><td class="font_size_9 chart_table_td">172</td><td class="font_size_9 chart_table_td">171</td><td class="font_size_9 chart_table_td">178</td><td class="font_size_9 chart_table_td">198</td><td class="font_size_9 chart_table_td">159</td><td class="font_size_9 chart_table_td">184</td><td class="font_size_9 chart_table_td">167</td><td class="font_size_9 chart_table_td">193</td><td class="font_size_9 chart_table_td">159</td><td class="font_size_9 chart_table_td">198</td><td class="font_size_9 chart_table_td">188</td><td class="font_size_9 chart_table_td">176</td><td class="font_size_9 chart_table_td">168</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">最大连出</td>
					<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">5</td><td class="chart_table_td">6</td><td class="chart_table_td">4</td><td class="chart_table_td">8</td><td class="chart_table_td">5</td><td class="chart_table_td">6</td><td class="chart_table_td">6</td><td class="chart_table_td">6</td><td class="chart_table_td">6</td><td class="chart_table_td">7</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">4</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">最大遗漏</td>
					<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">17</td><td class="chart_table_td">21</td><td class="chart_table_td">23</td><td class="chart_table_td">20</td><td class="chart_table_td">18</td><td class="chart_table_td">27</td><td class="chart_table_td">18</td><td class="chart_table_td">17</td><td class="chart_table_td">21</td><td class="chart_table_td">17</td><td class="chart_table_td">58</td><td class="chart_table_td">43</td><td class="chart_table_td">54</td><td class="chart_table_td">63</td><td class="chart_table_td">49</td><td class="chart_table_td">44</td><td class="chart_table_td">49</td><td class="chart_table_td">64</td><td class="chart_table_td">64</td><td class="chart_table_td">44</td><td class="chart_table_td">57</td><td class="chart_table_td">57</td><td class="chart_table_td">86</td><td class="chart_table_td">72</td><td class="chart_table_td">63</td><td class="chart_table_td">57</td><td class="chart_table_td">60</td><td class="chart_table_td">53</td><td class="chart_table_td">58</td><td class="chart_table_td">64</td><td class="chart_table_td">30</td><td class="chart_table_td">79</td><td class="chart_table_td">45</td><td class="chart_table_td">46</td><td class="chart_table_td">61</td><td class="chart_table_td">81</td><td class="chart_table_td">60</td><td class="chart_table_td">52</td><td class="chart_table_td">54</td><td class="chart_table_td">63</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">平均遗漏</td>
					<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">11</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">8</td><td class="chart_table_td">11</td><td class="chart_table_td">9</td><td class="chart_table_td">8</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">8</td><td class="chart_table_td">11</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">11</td><td class="chart_table_td">8</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td>
				</tr>
				 -->
				<tr class="chart_table_tr_statistic_current_omission">
					<td class="chart_table_td td_center">当前遗漏</td>
					<td class="chart_table_td"></td>
					<td class="chart_table_td"></td>
					
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">0</td>
					
					{# 
						_.map(current_omission_arr, function(current_omission_arr_item, current_omission_arr_index){
							var ommitItemArr = current_omission_arr_item.split(",");
							_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrIndex){
					 #}
								<td class="chart_table_td">{{ommitItemArrItem}}</td>
					{#
							});
						});
					#}
					<!-- 
					<td class="chart_table_td">16</td>
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">15</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">18</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">6</td>
					<td class="chart_table_td">7</td>
					<td class="chart_table_td">5</td>
					
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">11</td>
					<td class="chart_table_td">3</td>
					<td class="chart_table_td">8</td>
					<td class="chart_table_td">13</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">18</td>
					<td class="chart_table_td">21</td>
					<td class="chart_table_td">7</td>
					
					<td class="chart_table_td">4</td>
					<td class="chart_table_td">6</td>
					<td class="chart_table_td">2</td>
					<td class="chart_table_td">10</td>
					<td class="chart_table_td">1</td>
					<td class="chart_table_td">21</td>
					<td class="chart_table_td">0</td>
					<td class="chart_table_td">22</td>
					<td class="chart_table_td">5</td>
					<td class="chart_table_td">17</td>
					 -->
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td rowspan="2" class="chart_table_thead_tfoot border_right">日期</td>
					<td rowspan="2" class="chart_table_thead_tfoot border_right">期号</td>
					<td rowspan="2" class="chart_table_thead_tfoot border_right">开奖号码</td>

							<td class="chart_table_thead_tfoot ">01</td>
							<td class="chart_table_thead_tfoot ">02</td>
							<td class="chart_table_thead_tfoot ">03</td>
							<td class="chart_table_thead_tfoot ">04</td>
							<td class="chart_table_thead_tfoot ">05</td>
							<td class="chart_table_thead_tfoot ">06</td>
							<td class="chart_table_thead_tfoot ">07</td>
							<td class="chart_table_thead_tfoot ">08</td>
							<td class="chart_table_thead_tfoot ">09</td>
							<td class="chart_table_thead_tfoot border_right">10</td>
							<td class="chart_table_thead_tfoot ">01</td>
							<td class="chart_table_thead_tfoot ">02</td>
							<td class="chart_table_thead_tfoot ">03</td>
							<td class="chart_table_thead_tfoot ">04</td>
							<td class="chart_table_thead_tfoot ">05</td>
							<td class="chart_table_thead_tfoot ">06</td>
							<td class="chart_table_thead_tfoot ">07</td>
							<td class="chart_table_thead_tfoot ">08</td>
							<td class="chart_table_thead_tfoot ">09</td>
							<td class="chart_table_thead_tfoot border_right">10</td>
							<td class="chart_table_thead_tfoot ">01</td>
							<td class="chart_table_thead_tfoot ">02</td>
							<td class="chart_table_thead_tfoot ">03</td>
							<td class="chart_table_thead_tfoot ">04</td>
							<td class="chart_table_thead_tfoot ">05</td>
							<td class="chart_table_thead_tfoot ">06</td>
							<td class="chart_table_thead_tfoot ">07</td>
							<td class="chart_table_thead_tfoot ">08</td>
							<td class="chart_table_thead_tfoot ">09</td>
							<td class="chart_table_thead_tfoot border_right">10</td>
							<td class="chart_table_thead_tfoot ">01</td>
							<td class="chart_table_thead_tfoot ">02</td>
							<td class="chart_table_thead_tfoot ">03</td>
							<td class="chart_table_thead_tfoot ">04</td>
							<td class="chart_table_thead_tfoot ">05</td>
							<td class="chart_table_thead_tfoot ">06</td>
							<td class="chart_table_thead_tfoot ">07</td>
							<td class="chart_table_thead_tfoot ">08</td>
							<td class="chart_table_thead_tfoot ">09</td>
							<td class="chart_table_thead_tfoot ">10</td>
				</tr>
				<tr>
					<td colspan="10" class="chart_table_thead_tfoot border_right">基础分布</td>
					<td colspan="10" class="chart_table_thead_tfoot border_right">冠军</td>
					<td colspan="10" class="chart_table_thead_tfoot border_right">亚军</td>
					<td colspan="10" class="chart_table_thead_tfoot">季军</td>
				</tr>
				<tr>
					<td colspan="43" class="chart_table_td_statistic_search">
						<label style="display: none;">
							<input id="historyStatistic" type="radio" name="statistic">
							最近10天统计
						</label>
						<label style="display: none;">
							<input id="currentStatistic" type="radio" name="statistic" checked="checked">
							当前页统计
						</label>
						&nbsp;
					</td>
				</tr>
			</tfoot>
		</table>
☽☻
<div class="tab_foot">
	<h4>参数说明：</h4>
	<p>
		


		<strong>遗漏分层：</strong>将当前遗漏按照“1-5，6-11，12-无穷大”分别用黑色、蓝色、红色标识。<br>
		<strong>分隔线：</strong>每五期使用分隔线，使横向导航更加清晰。<br>
		<strong>出现总次数：</strong>统计期数内实际出现的次数。<br>
		<strong>遗漏：</strong>自上期开出到本期间隔的期数。<br>
		<strong>平均遗漏：</strong>统计期数内遗漏的平均值。（计算公式：平均遗漏＝统计期数/(出现次数+1)。）<br>
		<strong>最大遗漏：</strong>统计期数内遗漏的最大值。<br>
		<strong>当前遗漏：</strong>自上期开出到当前期所间隔的期数。<br>
		<strong>最大连出值：</strong>统计期数内连续开出的最大值。
	</p>
</div>