
<p class="chart_table_menu">
	标注形式选择： 
	<label> <input id="omission" type="checkbox" checked="checked">遗漏
	</label> <label> <input id="foldLine" type="checkbox" checked="checked">折线
	</label> <label> <input id="layer" type="checkbox">遗漏分层
	</label> <label> <input id="splitLine" type="checkbox">分隔线
	</label>
</p>
<table id="chartTable" class="chart_table" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th rowspan="2" class="chart_table_thead_tfoot border_right">日期</th>
			<th rowspan="2" class="chart_table_thead_tfoot border_right">期号</th>
			<th rowspan="2" class="chart_table_thead_tfoot border_right">开奖号码</th>
			<th colspan="10" class="chart_table_thead_tfoot border_right">基础分布</th>
			<th colspan="3" class="chart_table_thead_tfoot border_right">出号比例</th>
			<th colspan="10" class="chart_table_thead_tfoot border_right">和尾</th>
			<th colspan="8" class="chart_table_thead_tfoot">跨度</th>
		</tr>
		<tr>
			<th width="23" class="chart_table_thead_tfoot">01</th>
			<th width="23" class="chart_table_thead_tfoot">02</th>
			<th width="23" class="chart_table_thead_tfoot">03</th>
			<th width="23" class="chart_table_thead_tfoot">04</th>
			<th width="23" class="chart_table_thead_tfoot">05</th>
			<th width="23" class="chart_table_thead_tfoot">06</th>
			<th width="23" class="chart_table_thead_tfoot">07</th>
			<th width="23" class="chart_table_thead_tfoot">08</th>
			<th width="23" class="chart_table_thead_tfoot">09</th>

			<th width="23" class="chart_table_thead_tfoot border_right">10</th>

			<th class="chart_table_thead_tfoot">奇偶比</th>
			<th class="chart_table_thead_tfoot">大小比</th>
			<th class="chart_table_thead_tfoot border_right">质合比</th>

			<th width="23" class="chart_table_thead_tfoot">0</th>
			<th width="23" class="chart_table_thead_tfoot">1</th>
			<th width="23" class="chart_table_thead_tfoot">2</th>
			<th width="23" class="chart_table_thead_tfoot">3</th>
			<th width="23" class="chart_table_thead_tfoot">4</th>
			<th width="23" class="chart_table_thead_tfoot">5</th>
			<th width="23" class="chart_table_thead_tfoot">6</th>
			<th width="23" class="chart_table_thead_tfoot">7</th>
			<th width="23" class="chart_table_thead_tfoot">8</th>

			<th width="23" class="chart_table_thead_tfoot border_right">9</th>

			<th width="23" class="chart_table_thead_tfoot">2</th>
			<th width="23" class="chart_table_thead_tfoot">3</th>
			<th width="23" class="chart_table_thead_tfoot">4</th>
			<th width="23" class="chart_table_thead_tfoot">5</th>
			<th width="23" class="chart_table_thead_tfoot">6</th>
			<th width="23" class="chart_table_thead_tfoot">7</th>
			<th width="23" class="chart_table_thead_tfoot">8</th>
			<th width="23" class="chart_table_thead_tfoot">9</th>
		</tr>
	</thead>
	<tbody>
	
					{# 
						console.log(list);
						var ball_t_arr = ['orange_ball', 'blue_ball', 'yellow_ball'];
						var current_omission_arr = [];
						
						_.map(list, function(item, itemIndex){
						var haoMaArrTemp = item.haoMa.split(",");
						var ommitArrTemp = item.ommit.split("#");
						var haoMaArr = [];
						var ommitArr = [];
						for(var i = 0; i < 3; i++){
							haoMaArr[i] = haoMaArrTemp[i];
							ommitArr[i] = ommitArrTemp[i];
						}
						if(itemIndex == 0){
							current_omission_arr = ommitArr;
						}
					 #}
					<tr>
						<td class="chart_table_td">{{new Date(item.endTime).format("yyyy-MM-dd")}}</td>
						<td class="chart_table_td">{{item.qiHao}}</td>
						<td class="chart_table_td">
									{#
									for(var i = 0; i < haoMaArr.length; i++){
										print(haoMaArr[i] + "&nbsp;");
									}
									#}
						</td>
		
					{# 
						var ommitItem = "0,0,0,0,0,0,0,0,0,0";
						var ommitItemArr = ommitItem.split(",");
						_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
							var kkkkkkkk = ommitItemArrItemIndex + 1 > 9 ? ommitItemArrItemIndex + 1 + "" : "0" + (ommitItemArrItemIndex + 1);
							if(_.contains(haoMaArr, kkkkkkkk)){
								print('<td class="chart_table_td omission_entry omission_hit red_ball">' + kkkkkkkk + '</td>');
							} else {
								print('<td class="chart_table_td td_show omission_entry">' + ommitItemArrItem + '</td>');
							}
						});
					 #}

					{#
						var oddCount = 0; // 奇数
						var evenCount = 0; // 偶数
						var bigCount = 0; // 大
						var smallCount = 0; // 小
						var primeCount = 0; // 质数
						var compositeCount = 0; // 合数
						var primeArr = [1, 2, 3, 5, 7];
						var sum = 0;
						var max = 0;
						var min = 10;
						for(var i = 0; i < haoMaArr.length; i++){
							var haoma = parseInt(haoMaArr[i]);
							sum += haoma;
							if(max < haoma){
								max = haoma;
							}
							if(min > haoma){
								min = haoma;
							}
							if(haoma % 2 == 0){
								evenCount++;
							} else {
								oddCount++;
							}
							if(haoma > 5){
								bigCount++;
							} else {
								smallCount++;
							}
							if(_.find(primeArr, function(num){return haoma == num;})){
								primeCount++;
							} else {
								compositeCount++;
							}
						}

						var sumWei = sum % 10;
						var kuadu = max - min;
					#}

					<td class="chart_table_td ">{{oddCount}}:{{evenCount}}</td>
					<td class="chart_table_td ">{{bigCount}}:{{smallCount}}</td>
					<td class="chart_table_td ">{{primeCount}}:{{compositeCount}}</td>

					{# 
						var ommitItem = "0,0,0,0,0,0,0,0,0,0";
						var ommitItemArr = ommitItem.split(",");
						_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
							if(sumWei == ommitItemArrItemIndex){
								print('<td class="chart_table_td omission_entry omission_hit trend_blue">' + sumWei + '</td>');
							} else {
								print('<td class="chart_table_td td_show omission_entry">' + ommitItemArrItem + '</td>');
							}
						});
					 #}

					{# 
						for(var i = 2; i < 10; i++){
							if(kuadu == i){
								print('<td class="chart_table_td omission_entry omission_hit trend_green">' + kuadu + '</td>');
							} else {
								print('<td class="chart_table_td td_show omission_entry">0</td>');
							}
						}
					 #}

					</tr>
					{#
						});
					#}

		<!-- 
		<tr class="chart_table_tr_statistic">
			<td class="chart_table_td">总次数</td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">11</td><td class="chart_table_td">7</td><td class="chart_table_td">12</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">7</td><td class="chart_table_td">7</td><td class="chart_table_td">11</td><td class="chart_table_td">8</td><td class="chart_table_td">8</td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">4</td><td class="chart_table_td">1</td><td class="chart_table_td">5</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">6</td><td class="chart_table_td">5</td><td class="chart_table_td">5</td><td class="chart_table_td">4</td><td class="chart_table_td">1</td><td class="chart_table_td">4</td>
		</tr>
		<tr class="chart_table_tr_statistic">
			<td class="chart_table_td">最大连出</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">1</td>
		</tr>
		<tr class="chart_table_tr_statistic">
			<td class="chart_table_td">最大遗漏</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">11</td>
			<td class="chart_table_td">17</td>
			<td class="chart_table_td">8</td>
			<td class="chart_table_td">11</td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">34</td>
			<td class="chart_table_td">13</td>
			<td class="chart_table_td">11</td>
			<td class="chart_table_td">12</td>
			<td class="chart_table_td">28</td>
			<td class="chart_table_td">13</td>
			<td class="chart_table_td">20</td>
			<td class="chart_table_td">21</td>
			<td class="chart_table_td">17</td>
			<td class="chart_table_td">42</td>
			<td class="chart_table_td">15</td>
			<td class="chart_table_td">20</td>
			<td class="chart_table_td">11</td>
			<td class="chart_table_td">12</td>
			<td class="chart_table_td">12</td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td">27</td>
			<td class="chart_table_td">16</td>
		</tr>
		<tr class="chart_table_tr_statistic">
			<td class="chart_table_td">平均遗漏</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">7</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">15</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">7</td>
			<td class="chart_table_td">7</td>
			<td class="chart_table_td">15</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">7</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">15</td>
			<td class="chart_table_td">6</td>
		</tr>
		 -->

		<!-- 
		<tr class="chart_table_tr_statistic">
			<td class="chart_table_td">出现总次</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="font_size_9 chart_table_td">581</td>
			<td class="font_size_9 chart_table_td">530</td>
			<td class="font_size_9 chart_table_td">526</td>
			<td class="font_size_9 chart_table_td">498</td>
			<td class="font_size_9 chart_table_td">536</td>
			<td class="font_size_9 chart_table_td">522</td>
			<td class="font_size_9 chart_table_td">567</td>
			<td class="font_size_9 chart_table_td">569</td>
			<td class="font_size_9 chart_table_td">508</td>
			<td class="font_size_9 chart_table_td">533</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="font_size_9 chart_table_td">187</td>
			<td class="font_size_9 chart_table_td">173</td>
			<td class="font_size_9 chart_table_td">184</td>
			<td class="font_size_9 chart_table_td">169</td>
			<td class="font_size_9 chart_table_td">171</td>
			<td class="font_size_9 chart_table_td">188</td>
			<td class="font_size_9 chart_table_td">174</td>
			<td class="font_size_9 chart_table_td">171</td>
			<td class="font_size_9 chart_table_td">194</td>
			<td class="font_size_9 chart_table_td">179</td>
			<td class="font_size_9 chart_table_td">109</td>
			<td class="font_size_9 chart_table_td">212</td>
			<td class="font_size_9 chart_table_td">258</td>
			<td class="font_size_9 chart_table_td">280</td>
			<td class="font_size_9 chart_table_td">305</td>
			<td class="font_size_9 chart_table_td">284</td>
			<td class="font_size_9 chart_table_td">194</td>
			<td class="font_size_9 chart_table_td">148</td>
		</tr>
		<tr class="chart_table_tr_statistic">
			<td class="chart_table_td">最大连出</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">8</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">7</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">2</td>
		</tr>
		<tr class="chart_table_tr_statistic">
			<td class="chart_table_td">最大遗漏</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">17</td>
			<td class="chart_table_td">21</td>
			<td class="chart_table_td">23</td>
			<td class="chart_table_td">20</td>
			<td class="chart_table_td">18</td>
			<td class="chart_table_td">27</td>
			<td class="chart_table_td">18</td>
			<td class="chart_table_td">17</td>
			<td class="chart_table_td">21</td>
			<td class="chart_table_td">17</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">52</td>
			<td class="chart_table_td">50</td>
			<td class="chart_table_td">57</td>
			<td class="chart_table_td">70</td>
			<td class="chart_table_td">55</td>
			<td class="chart_table_td">56</td>
			<td class="chart_table_td">51</td>
			<td class="chart_table_td">56</td>
			<td class="chart_table_td">49</td>
			<td class="chart_table_td">72</td>
			<td class="chart_table_td">64</td>
			<td class="chart_table_td">35</td>
			<td class="chart_table_td">39</td>
			<td class="chart_table_td">35</td>
			<td class="chart_table_td">34</td>
			<td class="chart_table_td">33</td>
			<td class="chart_table_td">56</td>
			<td class="chart_table_td">72</td>
		</tr>
		<tr class="chart_table_tr_statistic">
			<td class="chart_table_td">平均遗漏</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td">16</td>
			<td class="chart_table_td">8</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td">12</td>
		</tr>
		 -->

		<!-- 
		<tr class="chart_table_tr_statistic_current_omission">
			<td class="chart_table_td td_center">当前遗漏</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">0</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">0</td>
			<td class="chart_table_td">0</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td">11</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">0</td>
			<td class="chart_table_td">17</td>
			<td class="chart_table_td">15</td>
			<td class="chart_table_td">13</td>
			<td class="chart_table_td">0</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">8</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td">27</td>
			<td class="chart_table_td">5</td>
		</tr>
		 -->
	</tbody>
	<tfoot>
		<tr>
			<td rowspan="2" class="chart_table_thead_tfoot border_right">日期</td>
			<td rowspan="2" class="chart_table_thead_tfoot border_right">期号</td>
			<td rowspan="2" class="chart_table_thead_tfoot border_right">开奖号码</td>

			<td class="chart_table_thead_tfoot">01</td>
			<td class="chart_table_thead_tfoot">02</td>
			<td class="chart_table_thead_tfoot">03</td>
			<td class="chart_table_thead_tfoot">04</td>
			<td class="chart_table_thead_tfoot">05</td>
			<td class="chart_table_thead_tfoot">06</td>
			<td class="chart_table_thead_tfoot">07</td>
			<td class="chart_table_thead_tfoot">08</td>
			<td class="chart_table_thead_tfoot">09</td>

			<td class="chart_table_thead_tfoot border_right">10</td>

			<td class="chart_table_thead_tfoot">奇偶比</td>
			<td class="chart_table_thead_tfoot">大小比</td>
			<td class="chart_table_thead_tfoot border_right">质合比</td>

			<td class="chart_table_thead_tfoot">0</td>
			<td class="chart_table_thead_tfoot">1</td>
			<td class="chart_table_thead_tfoot">2</td>
			<td class="chart_table_thead_tfoot">3</td>
			<td class="chart_table_thead_tfoot">4</td>
			<td class="chart_table_thead_tfoot">5</td>
			<td class="chart_table_thead_tfoot">6</td>
			<td class="chart_table_thead_tfoot">7</td>
			<td class="chart_table_thead_tfoot">8</td>

			<td class="chart_table_thead_tfoot border_right">9</td>

			<td class="chart_table_thead_tfoot">2</td>
			<td class="chart_table_thead_tfoot">3</td>
			<td class="chart_table_thead_tfoot">4</td>
			<td class="chart_table_thead_tfoot">5</td>
			<td class="chart_table_thead_tfoot">6</td>
			<td class="chart_table_thead_tfoot">7</td>
			<td class="chart_table_thead_tfoot">8</td>
			<td class="chart_table_thead_tfoot">9</td>
		</tr>
		<tr>
			<td colspan="10" class="chart_table_thead_tfoot border_right">基础分布</td>
			<td colspan="3" class="chart_table_thead_tfoot border_right">出号比例</td>
			<td colspan="10" class="chart_table_thead_tfoot border_right">和尾</td>
			<td colspan="8" class="chart_table_thead_tfoot">跨度</td>
		</tr>
		<tr>
			<td colspan="34" class="chart_table_td_statistic_search">
				<label style="display: none;">
					<input id="historyStatistic" type="radio" name="statistic"> 最近10天统计
				</label>
				<label style="display: none;">
					<input id="currentStatistic" type="radio" name="statistic" checked="checked"> 当前页统计
				</label>
				&nbsp;
			</td>
		</tr>
	</tfoot>
</table>
☽☻
<div class="tab_foot">
	<h4>参数说明：</h4>
	<p>

		<strong>奇偶比：</strong>除2余数为1的为奇数，含1、3、5、7、9，除2余0的为偶数，含2、4、6、8、10。奇偶比指“PK拾”前三位奖号奇数和偶数的比例，有0:3，1:2，2:1，3:0四种。<br>
		<strong>大小比：</strong>6、7、8、9、10为大数，1、2、3、4、5为小数。大小比指前三位奖号大数和小数的比例，有0:3，1:2，2:1，3:0四种。<br>
		<strong>质合比：</strong>1、2、3、5、7为质数，4、6、8、9、10为合数。质合比指前三位奖号质数和合数的比例，有0:3，1:2，2:1，3:0四种。<br>
		<strong>和尾：</strong>前三位奖号数值相加得到的和值取个位之后得到的尾数，即为和数值尾数，含0—9，共10个。<br>
		<strong>跨度：</strong>前三位奖号中最大数字与最小数字相减得到的值，为跨度，含0—9，共10个。<br> <strong>遗漏分层：</strong>将当前遗漏按照“1-5，6-11，12-无穷大”分别用黑色、蓝色、红色标识。<br>
		<strong>分隔线：</strong>每五期使用分隔线，使横向导航更加清晰。<br> <strong>出现总次数：</strong>统计期数内实际出现的次数。<br>
		<strong>遗漏：</strong>自上期开出到本期间隔的期数。<br> <strong>平均遗漏：</strong>统计期数内遗漏的平均值。（计算公式：平均遗漏＝统计期数/(出现次数+1)。）<br>
		<strong>最大遗漏：</strong>统计期数内遗漏的最大值。<br> <strong>当前遗漏：</strong>自上期开出到当前期所间隔的期数。<br>
		<strong>最大连出值：</strong>统计期数内连续开出的最大值。
	</p>
</div>