<p class="chart_table_menu">
	标注形式选择： <label> <input id="omission" type="checkbox"
		checked="checked"> 遗漏
	</label> <label> <input id="foldLine" type="checkbox" checked="checked">
		折线
	</label> <label> <input id="layer" type="checkbox"> 遗漏分层
	</label> <label> <input id="splitLine" type="checkbox"> 分隔线
	</label>
</p>
<table id="chartTable" class="chart_table" cellpadding="0"
	cellspacing="0" style="display: table;">
	<thead>
		<tr>
			<th rowspan="2" class="chart_table_thead_tfoot border_right">序号</th>
			<th rowspan="2" class="chart_table_thead_tfoot border_right">期号</th>
			<th rowspan="2" colspan="3" class="chart_table_thead_tfoot border_right">开奖号码</th>
			<th colspan="6" class="chart_table_thead_tfoot border_right">第一位</th>
			<th colspan="6" class="chart_table_thead_tfoot border_right">第二位</th>
			<th colspan="6" class="chart_table_thead_tfoot border_right">第三位</th>
			<th colspan="3" class="chart_table_thead_tfoot border_right">和值</th>
			<th colspan="3" class="chart_table_thead_tfoot">号码形态</th>
		</tr>
		<tr>
			<th width="30" class="chart_table_thead_tfoot ">1</th>
			<th width="30" class="chart_table_thead_tfoot ">2</th>
			<th width="30" class="chart_table_thead_tfoot ">3</th>
			<th width="30" class="chart_table_thead_tfoot ">4</th>
			<th width="30" class="chart_table_thead_tfoot ">5</th>
			<th width="30" class="chart_table_thead_tfoot border_right">6</th>
			<th width="30" class="chart_table_thead_tfoot ">1</th>
			<th width="30" class="chart_table_thead_tfoot ">2</th>
			<th width="30" class="chart_table_thead_tfoot ">3</th>
			<th width="30" class="chart_table_thead_tfoot ">4</th>
			<th width="30" class="chart_table_thead_tfoot ">5</th>
			<th width="30" class="chart_table_thead_tfoot border_right">6</th>
			<th width="30" class="chart_table_thead_tfoot ">1</th>
			<th width="30" class="chart_table_thead_tfoot ">2</th>
			<th width="30" class="chart_table_thead_tfoot ">3</th>
			<th width="30" class="chart_table_thead_tfoot ">4</th>
			<th width="30" class="chart_table_thead_tfoot ">5</th>
			<th width="30" class="chart_table_thead_tfoot border_right">6</th>

			<th width="30" class="chart_table_thead_tfoot">值</th>
			<th width="30" class="chart_table_thead_tfoot">大小</th>
			<th width="30" class="chart_table_thead_tfoot">单双</th>
			
			<th width="50" class="chart_table_thead_tfoot">三不同号</th>
			<th width="55" class="chart_table_thead_tfoot">二同号</th>
			<th width="50" class="chart_table_thead_tfoot">三同号</th>
		</tr>
	</thead>
	<tbody>
	

					{# 
						console.log(list);
						var current_omission_arr = [];
						
						_.map(list, function(item, itemIndex){
						var haoMaArr = item.haoMa.split(",");
						var ommitArr = item.ommit ? item.ommit.split("#") : [0, 0, 0, 0, 0, 0];
						if(itemIndex == 0){
							current_omission_arr = ommitArr;
						}
					 #}
				<tr>
					<td class="chart_table_td">{{itemIndex + 1}}</td>
					<td class="chart_table_td">{{item.qiHao}}</td>
					
					{# 
						var sameCount = 0;
						var sumCount = 0;
						var haomaTemp = ";";
						_.map(haoMaArr, function(haoMaoItem, haoMaoItemIndex){
							if(haoMaoItem == haomaTemp){
								sameCount++;
							}
							sumCount += parseInt(haoMaoItem);
							haomaTemp = haoMaoItem;
					 #}
						<td width="20" class="chart_table_td trend_green">{{haoMaoItem}}</td>
					{#
						});
					#}
					{# 
						var ball_t_arr = ['ball_t6', 'ball_t7', 'ball_t8'];

						_.map(haoMaArr, function(haoMaoItem, haoMaoItemIndex){
							var ommitItem = ommitArr[haoMaoItemIndex];
							var ommitItemArr = ommitItem ? ommitItem.split(",") : [0, 0, 0, 0, 0, 0];
							_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
								ommitItemArrItemIndex = ommitItemArrItemIndex + 1;
					 #}
						<td class="{{haoMaoItem == ommitItemArrItemIndex ? 'chart_table_td omission_entry omission_hit ' + ball_t_arr[haoMaoItemIndex] : 'chart_table_td td_show omission_entry'}}">{{haoMaoItem == ommitItemArrItemIndex ? haoMaoItem : ommitItemArrItem}}</td>
					{#
							});
						});
					#}
						<td width="20" class="chart_table_td trend_green">{{sumCount}}</td>
						{# if(sumCount>=11){ #}<td width="20" class="chart_table_td">大</td>{# }else{ #}<td width="20" class="chart_table_td trend_blue">小</td>{# } #}
						{# if(sumCount%2==0){ #}<td width="20" class="chart_table_td trend_green">双</td>{# }else{ #}<td width="20" class="chart_table_td trend_red">单</td>{# } #}
					{#
						var sameShowConfig = [{class: "trend_blue", title: "三不同号"}, {class: "trend_green", title: "二同号"}, {class: "trend_red", title: "三同号"}];
						for(var i = 0; i < 3; i++){
							if(sameCount == i){
								var config = sameShowConfig[i];
								print('<td class="chart_table_td omission_entry omission_hit ' + config.class + '">' + config.title + '</td>');
							} else {
								print('<td class="chart_table_td td_show omission_entry ">0</td>');
							}
						}
					#}
				</tr>
					{#
						});
					#}
	</tbody>
	<tfoot>
		<tr>
			<td rowspan="2" class="chart_table_thead_tfoot border_right">序号</td>
			<td rowspan="2" class="chart_table_thead_tfoot border_right">期号</td>
			<td rowspan="2" colspan="3"
				class="chart_table_thead_tfoot border_right">开奖号码</td>
			<td class="chart_table_thead_tfoot ">1</td>
			<td class="chart_table_thead_tfoot ">2</td>
			<td class="chart_table_thead_tfoot ">3</td>
			<td class="chart_table_thead_tfoot ">4</td>
			<td class="chart_table_thead_tfoot ">5</td>
			<td class="chart_table_thead_tfoot border_right">6</td>
			<td class="chart_table_thead_tfoot ">1</td>
			<td class="chart_table_thead_tfoot ">2</td>
			<td class="chart_table_thead_tfoot ">3</td>
			<td class="chart_table_thead_tfoot ">4</td>
			<td class="chart_table_thead_tfoot ">5</td>
			<td class="chart_table_thead_tfoot border_right">6</td>
			<td class="chart_table_thead_tfoot ">1</td>
			<td class="chart_table_thead_tfoot ">2</td>
			<td class="chart_table_thead_tfoot ">3</td>
			<td class="chart_table_thead_tfoot ">4</td>
			<td class="chart_table_thead_tfoot ">5</td>
			<td class="chart_table_thead_tfoot border_right">6</td>
			<th class="chart_table_thead_tfoot">值</th>
			<th class="chart_table_thead_tfoot">大小</th>
			<th class="chart_table_thead_tfoot">单双</th>
			<td class="chart_table_thead_tfoot">三不同号</td>
			<td class="chart_table_thead_tfoot">二同号</td>
			<td class="chart_table_thead_tfoot">三同号</td>
		</tr>
		<tr>
			<td colspan="6" class="chart_table_thead_tfoot border_right">第一位</td>
			<td colspan="6" class="chart_table_thead_tfoot border_right">第二位</td>
			<td colspan="6" class="chart_table_thead_tfoot border_right">第三位</td>
			<th colspan="3" class="chart_table_thead_tfoot border_right">和值</th>
			<td colspan="3" class="chart_table_thead_tfoot">号码形态</td>
		</tr>
		<tr>
			<td colspan="26" class="chart_table_td_statistic_search"><label style="display: none;">
					<input id="historyStatistic" type="radio" name="statistic">
					最近10天统计
			</label> <label style="display: none;"> <input id="currentStatistic" type="radio"
					name="statistic" checked="checked"> 当前页统计
			</label>&nbsp;</td>
		</tr>
	</tfoot>
</table>
☽☻
<div class="tab_foot">
	<h4>参数说明：</h4>
	<p>
		<strong>号码形态：</strong>3个开奖号码按照是否有相同号码形成的各种关系，有三同号、二同号、三不同三种形态。<br>
		<strong>三同号：</strong>3个开奖号码均相同。<br> <strong>二同号：</strong>3个开奖号码中有2个号码相同。<br>
		<strong>三不同号：</strong>3个开奖号码均不相同。<br> <strong>遗漏分层：</strong>将当前遗漏按照“1-5，6-11，12-无穷大”分别用黑色、蓝色、红色标识。<br>
		<strong>分隔线：</strong>每五期使用分隔线，使横向导航更加清晰。<br> <strong>出现总次数：</strong>统计期数内实际出现的次数。<br>
		<strong>遗漏：</strong>自上期开出到本期间隔的期数。<br> <strong>平均遗漏：</strong>统计期数内遗漏的平均值。（计算公式：平均遗漏＝统计期数/(出现次数+1)。）<br>
		<strong>最大遗漏：</strong>统计期数内遗漏的最大值。<br> <strong>当前遗漏：</strong>自上期开出到当前期所间隔的期数。<br>
		<strong>最大连出值：</strong>统计期数内连续开出的最大值。
	</p>
</div>