<p class="chart_table_menu">
	标注形式选择： <label> <input id="omission" type="checkbox"
		checked="checked">遗漏
	</label> <label> <input id="layer" type="checkbox">遗漏分层
	</label> <label> <input id="splitLine" type="checkbox">分隔线
	</label>
</p>
<table id="chartTable" class="chart_table" cellpadding="0"
	cellspacing="0" style="display: table;">
	<thead>
		<tr>
			<th width="82" rowspan="2" class="chart_table_thead_tfoot border_right">期号</th>
			<th width="167" rowspan="2" class="chart_table_thead_tfoot border_right">开奖号码</th>
			<th colspan="10" class="chart_table_thead_tfoot border_right">小区</th>
			<th colspan="10" class="chart_table_thead_tfoot border_right">大区</th>
			<th colspan="3" class="chart_table_thead_tfoot border_right">012路</th>
			<th rowspan="2" class="chart_table_thead_tfoot nowrap">跨度</th>
		</tr>
		<tr>
			<th width="21" class="chart_table_thead_tfoot">01</th>
			<th width="21" class="chart_table_thead_tfoot">02</th>
			<th width="21" class="chart_table_thead_tfoot">03</th>
			<th width="21" class="chart_table_thead_tfoot">04</th>
			<th width="21" class="chart_table_thead_tfoot">05</th>
			<th width="21" class="chart_table_thead_tfoot">06</th>
			<th width="21" class="chart_table_thead_tfoot">07</th>
			<th width="21" class="chart_table_thead_tfoot">08</th>
			<th width="21" class="chart_table_thead_tfoot">09</th>

			<th width="21" class="chart_table_thead_tfoot border_right">10</th>

			<th width="21" class="chart_table_thead_tfoot">11</th>
			<th width="21" class="chart_table_thead_tfoot">12</th>
			<th width="21" class="chart_table_thead_tfoot">13</th>
			<th width="21" class="chart_table_thead_tfoot">14</th>
			<th width="21" class="chart_table_thead_tfoot">15</th>
			<th width="21" class="chart_table_thead_tfoot">16</th>
			<th width="21" class="chart_table_thead_tfoot">17</th>
			<th width="21" class="chart_table_thead_tfoot">18</th>
			<th width="21" class="chart_table_thead_tfoot">19</th>

			<th width="21" class="chart_table_thead_tfoot border_right">20</th>
			<th class="chart_table_thead_tfoot">0路</th>
			<th class="chart_table_thead_tfoot">1路</th>
			<th class="chart_table_thead_tfoot border_right">2路</th>
		</tr>
	</thead>
	<tbody>
					{# 
						
						_.map(list, function(item, itemIndex){
						var haoMaArr = item.haoMa.split(",");
					 #}
					<tr>
						<td class="chart_table_td">{{item.qiHao}}</td>
						<td class="chart_table_td background_color_feffef nowrap">
							{#
							var maxNum = "0";
							var minNum = "20";
							var zeroArr = [];
							var oneArr = [];
							var towArr = [];
							for(var i = 0; i < haoMaArr.length; i++){
								var haomaItem = haoMaArr[i];
								if(haomaItem > maxNum){
									maxNum = haomaItem;
								}
								if(haomaItem < minNum){
									minNum = haomaItem;
								}

								var haomaShow = haomaItem;
								if(haomaItem == 19 || haomaItem == 20){
									haomaShow = '<span class="red">' + haomaItem + '</span>';
								}
								var splitI = i == (haoMaArr.length - 1) ? "" : ",";
								print(haomaShow + splitI);
								
								if(haomaItem % 3 == 0){
									zeroArr.push(haomaShow);
								}
								if(haomaItem % 3 == 1){
									oneArr.push(haomaShow);
								}
								if(haomaItem % 3 == 2){
									towArr.push(haomaShow);
								}
							}
							#}
						</td>

					{# 
						var ommitItem = "0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0";
						var ommitItemArr = ommitItem.split(",");
						_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
							var kkkkkkkk = ommitItemArrItemIndex + 1 > 9 ? ommitItemArrItemIndex + 1 + "" : "0" + (ommitItemArrItemIndex + 1);
							if(_.contains(haoMaArr, kkkkkkkk)){
								var ballColor = (kkkkkkkk == 19 || kkkkkkkk == 20) ? "red_ball" : "blue_ball";
								print('<td class="chart_table_td omission_entry omission_hit background_color_eef5fd ' + ballColor + '">' + kkkkkkkk + '</td>');
							} else {
								print('<td class="chart_table_td omission_entry td_show background_color_eef5fd">' + ommitItemArrItem + '</td>');
							}
						});
					 #}

						<td class="chart_table_td  nowrap">{{zeroArr.join(" ")}}</td>
						<td class="chart_table_td  nowrap">{{oneArr.join(" ")}}</td>
						<td class="chart_table_td  nowrap border_right">{{towArr.join(" ")}}</td>
						<td class="chart_table_td">{{maxNum - minNum}}</td>
					</tr>
					{#
						});
					#}



		<!-- 
		<tr class="chart_table_tr_statistic" style="display: table-row;">
			<td class="chart_table_td border_right">总次数</td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td">15</td>
			<td class="chart_table_td">12</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">12</td>
			<td class="chart_table_td">8</td>
			<td class="chart_table_td">15</td>
			<td class="chart_table_td">7</td>
			<td class="chart_table_td">15</td>
			<td class="chart_table_td">12</td>
			<td class="chart_table_td border_right">8</td>
			<td class="chart_table_td">14</td>
			<td class="chart_table_td">14</td>
			<td class="chart_table_td">13</td>
			<td class="chart_table_td">7</td>
			<td class="chart_table_td">11</td>
			<td class="chart_table_td">14</td>
			<td class="chart_table_td">15</td>
			<td class="chart_table_td">16</td>
			<td class="chart_table_td">11</td>
			<td class="chart_table_td border_right">11</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td"></td>
		</tr>

		<tr class="chart_table_tr_statistic" style="display: table-row;">
			<td class="chart_table_td border_right">最大连出</td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td border_right">3</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td border_right">2</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td"></td>
		</tr>

		<tr class="chart_table_tr_statistic" style="display: table-row;">
			<td class="chart_table_td border_right">最大遗漏</td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">8</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td border_right">6</td>
			<td class="chart_table_td">7</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">11</td>
			<td class="chart_table_td">7</td>
			<td class="chart_table_td">4</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">7</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td border_right">4</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td"></td>
		</tr>

		<tr class="chart_table_tr_statistic" style="display: table-row;">
			<td class="chart_table_td border_right">平均遗漏</td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td border_right">3</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">3</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">1</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td border_right">2</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td"></td>
		</tr>

		<tr class="chart_table_tr_statistic" style="display: none;">
			<td class="chart_table_td border_right">出现总次</td>
			<td class="chart_table_td border_right"></td>
			<td class="font_size_9 chart_table_td">344</td>
			<td class="font_size_9 chart_table_td">359</td>
			<td class="font_size_9 chart_table_td">325</td>
			<td class="font_size_9 chart_table_td">320</td>
			<td class="font_size_9 chart_table_td">327</td>
			<td class="font_size_9 chart_table_td">328</td>
			<td class="font_size_9 chart_table_td">321</td>
			<td class="font_size_9 chart_table_td">362</td>
			<td class="font_size_9 chart_table_td">331</td>
			<td class="font_size_9 chart_table_td border_right">345</td>
			<td class="font_size_9 chart_table_td">340</td>
			<td class="font_size_9 chart_table_td">311</td>
			<td class="font_size_9 chart_table_td">341</td>
			<td class="font_size_9 chart_table_td">336</td>
			<td class="font_size_9 chart_table_td">341</td>
			<td class="font_size_9 chart_table_td">337</td>
			<td class="font_size_9 chart_table_td">330</td>
			<td class="font_size_9 chart_table_td">324</td>
			<td class="font_size_9 chart_table_td">344</td>
			<td class="font_size_9 chart_table_td border_right">354</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td"></td>
		</tr>

		<tr class="chart_table_tr_statistic" style="display: none;">
			<td class="chart_table_td border_right">最大连出</td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">8</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">8</td>
			<td class="chart_table_td border_right">10</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">8</td>
			<td class="chart_table_td">7</td>
			<td class="chart_table_td">7</td>
			<td class="chart_table_td">8</td>
			<td class="chart_table_td">6</td>
			<td class="chart_table_td">5</td>
			<td class="chart_table_td">9</td>
			<td class="chart_table_td border_right">12</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td"></td>
		</tr>

		<tr class="chart_table_tr_statistic" style="display: none;">
			<td class="chart_table_td border_right">最大遗漏</td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td">19</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">12</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">12</td>
			<td class="chart_table_td">13</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td border_right">13</td>
			<td class="chart_table_td">8</td>
			<td class="chart_table_td">11</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td">12</td>
			<td class="chart_table_td">12</td>
			<td class="chart_table_td">17</td>
			<td class="chart_table_td">13</td>
			<td class="chart_table_td">12</td>
			<td class="chart_table_td">10</td>
			<td class="chart_table_td border_right">13</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td"></td>
		</tr>

		<tr class="chart_table_tr_statistic" style="display: none;">
			<td class="chart_table_td border_right">平均遗漏</td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td border_right">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td">2</td>
			<td class="chart_table_td border_right">2</td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td"></td>
		</tr>

		<tr class="chart_table_tr_statistic_current_omission">
			<td class="chart_table_td td_center border_right">当前遗漏</td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td">2<br>
			<img height="2px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">0<br>
			<img height="0px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">0<br>
			<img height="0px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">4<br>
			<img height="4px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">0<br>
			<img height="0px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">0<br>
			<img height="0px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">1<br>
			<img height="1px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">1<br>
			<img height="1px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">0<br>
			<img height="0px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td border_right">4<br>
			<img height="4px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">0<br>
			<img height="0px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">2<br>
			<img height="2px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">0<br>
			<img height="0px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">0<br>
			<img height="0px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">1<br>
			<img height="1px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">1<br>
			<img height="1px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">3<br>
			<img height="3px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">1<br>
			<img height="1px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td">1<br>
			<img height="1px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td border_right">3<br>
			<img height="3px" width="8px"
				src="https://caipiao.baidu.com/trend/static/images/js/chart_table/yellow_pillar.gif"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td"></td>
			<td class="chart_table_td border_right"></td>
			<td class="chart_table_td"></td>
		</tr>
		 -->
	</tbody>
	<tfoot>
		<tr>
			<td rowspan="2" class="chart_table_thead_tfoot border_right">期号</td>
			<td rowspan="2" class="chart_table_thead_tfoot border_right">开奖号码</td>

			<td class="chart_table_thead_tfoot">01</td>
			<td class="chart_table_thead_tfoot">02</td>
			<td class="chart_table_thead_tfoot">03</td>
			<td class="chart_table_thead_tfoot">04</td>
			<td class="chart_table_thead_tfoot">05</td>
			<td class="chart_table_thead_tfoot">06</td>
			<td class="chart_table_thead_tfoot">07</td>
			<td class="chart_table_thead_tfoot">08</td>
			<td class="chart_table_thead_tfoot">09</td>

			<td class="chart_table_thead_tfoot border_right">10</td>

			<td class="chart_table_thead_tfoot">11</td>
			<td class="chart_table_thead_tfoot">12</td>
			<td class="chart_table_thead_tfoot">13</td>
			<td class="chart_table_thead_tfoot">14</td>
			<td class="chart_table_thead_tfoot">15</td>
			<td class="chart_table_thead_tfoot">16</td>
			<td class="chart_table_thead_tfoot">17</td>
			<td class="chart_table_thead_tfoot">18</td>
			<td class="chart_table_thead_tfoot">19</td>

			<td class="chart_table_thead_tfoot border_right">20</td>
			<td class="chart_table_thead_tfoot">0路</td>
			<td class="chart_table_thead_tfoot">1路</td>
			<td class="chart_table_thead_tfoot border_right">2路</td>
			<td rowspan="2" class="chart_table_thead_tfoot">跨度</td>
		</tr>
		<tr>
			<td colspan="20" class="chart_table_thead_tfoot border_right">开奖号码分布图</td>
			<td colspan="3" class="chart_table_thead_tfoot border_right">012路</td>
		</tr>
		<tr>
			<td colspan="26" class="chart_table_td_statistic_search"><label style="display: none;">
					<input id="historyStatistic" type="radio" name="statistic">
					最近10天统计
			</label> <label style="display: none;"> <input id="currentStatistic" type="radio"
					name="statistic" checked="checked"> 当前页统计
			</label>
						&nbsp;</td>
		</tr>
	</tfoot>
</table>
☽☻
<div class="tab_foot">
	<h4>参数说明：</h4>
	<p>
		<strong>大小：</strong>号码01-20中，01-10为小，11-20为大。<br> <strong>奇偶：</strong>能被2整除的号码为偶数，不能被2整除的号码为奇数。号码01-20中奇偶数如下：<br>
		[奇数] 01 03 05 07 09 11 13 15 17 19<br> [偶数] 02 04 06 08 10 12 14
		16 18 20<br> <strong>质合：</strong>只能被1和自身整除的数为质数，除了能被1和自身整除，还能被其它数整除的数为合数。号码01-20中质合数如下：<br>
		[质数] 01 02 03 05 07 11 13 17 19<br> [合数] 04 06 08 09 10 12 14 15
		16 18 20<br> <strong>012路：</strong>号码01-20中，除3余0的为0路，除3余1的为1路，除3余2的为2路。<br>
		“0路”为除3余0数据：03、06、09、12、15、18；<br>
		“1路”为除3余1数据：01、04、07、10、13、16、19；<br>
		“2路”为除3余2数据：02、05、08、11、14、17、20；<br> <strong> 跨度：</strong>开奖号码中最大号码与最小号码的差。<br>

		<strong>遗漏分层：</strong>将当前遗漏按照“1-5，6-11，12-无穷大”分别用黑色、蓝色、红色标识。<br>
		<strong>分隔线：</strong>每五期使用分隔线，使横向导航更加清晰。<br> <strong>出现总次数：</strong>统计期数内实际出现的次数。<br>
		<strong>遗漏：</strong>自上期开出到本期间隔的期数。<br> <strong>平均遗漏：</strong>统计期数内遗漏的平均值。计算公式：平均遗漏＝统计期数/(出现次数+1)。<br>
		<strong>最大遗漏：</strong>统计期数内遗漏的最大值。<br> <strong>当前遗漏：</strong>自上期开出到当前期所间隔的期数。<br>
		<strong>最大连出值：</strong>统计期数内连续开出的最大值。
	</p>
</div>