	<p class="chart_table_menu">
		标注形式选择：
		<label>
			<input id="omission" type="checkbox" checked="checked">
			遗漏
		</label>
		<label>
			<input id="foldLine" type="checkbox" checked="checked">
			折线
		</label>
		<label>
			<input id="layer" type="checkbox">
			遗漏分层
		</label>
		<label>
			<input id="splitLine" type="checkbox">
			分隔线
		</label>
	</p>
	<table id="chartTable" class="chart_table" cellpadding="0" cellspacing="0">
		<thead>
		<tr>
			<th rowspan="2" class="chart_table_thead_tfoot border_right">序号</th>
			<th rowspan="2" class="chart_table_thead_tfoot border_right">期号</th>
			<th rowspan="2" colspan="3" class="chart_table_thead_tfoot border_right">开奖号码</th>
			<th colspan="10" class="chart_table_thead_tfoot border_right">百位</th>
			<th colspan="10" class="chart_table_thead_tfoot border_right">十位</th>
			<th colspan="10" class="chart_table_thead_tfoot border_right">个位</th>
			<th colspan="3" class="chart_table_thead_tfoot">类型</th>
		</tr>
		<tr>
					<th width="20" class="chart_table_thead_tfoot ">0</th>
					<th width="20" class="chart_table_thead_tfoot ">1</th>
					<th width="20" class="chart_table_thead_tfoot ">2</th>
					<th width="20" class="chart_table_thead_tfoot ">3</th>
					<th width="20" class="chart_table_thead_tfoot ">4</th>
					<th width="20" class="chart_table_thead_tfoot ">5</th>
					<th width="20" class="chart_table_thead_tfoot ">6</th>
					<th width="20" class="chart_table_thead_tfoot ">7</th>
					<th width="20" class="chart_table_thead_tfoot ">8</th>
					<th width="20" class="chart_table_thead_tfoot border_right">9</th>
					<th width="20" class="chart_table_thead_tfoot ">0</th>
					<th width="20" class="chart_table_thead_tfoot ">1</th>
					<th width="20" class="chart_table_thead_tfoot ">2</th>
					<th width="20" class="chart_table_thead_tfoot ">3</th>
					<th width="20" class="chart_table_thead_tfoot ">4</th>
					<th width="20" class="chart_table_thead_tfoot ">5</th>
					<th width="20" class="chart_table_thead_tfoot ">6</th>
					<th width="20" class="chart_table_thead_tfoot ">7</th>
					<th width="20" class="chart_table_thead_tfoot ">8</th>
					<th width="20" class="chart_table_thead_tfoot border_right">9</th>
					<th width="20" class="chart_table_thead_tfoot ">0</th>
					<th width="20" class="chart_table_thead_tfoot ">1</th>
					<th width="20" class="chart_table_thead_tfoot ">2</th>
					<th width="20" class="chart_table_thead_tfoot ">3</th>
					<th width="20" class="chart_table_thead_tfoot ">4</th>
					<th width="20" class="chart_table_thead_tfoot ">5</th>
					<th width="20" class="chart_table_thead_tfoot ">6</th>
					<th width="20" class="chart_table_thead_tfoot ">7</th>
					<th width="20" class="chart_table_thead_tfoot ">8</th>
					<th width="20" class="chart_table_thead_tfoot border_right">9</th>

			<th class="chart_table_thead_tfoot">组三</th>
			<th class="chart_table_thead_tfoot">组六</th>
			<th class="chart_table_thead_tfoot">豹子</th>
		</tr>
		</thead>
		<tbody>


					{# 
						//console.log(list);
						var ball_t_arr = ['ball_t6', 'ball_t7', 'ball_t8'];
						
						var current_omission_arr = [];
						
						_.map(list, function(item, itemIndex){
						var haoMaArr = item.haoMa.split(",");
						var ommitArr = item.ommit.split("#");
						if(itemIndex == 0){
							current_omission_arr = ommitArr;
						}
					 #}

			<tr>
				<td class="chart_table_td">{{itemIndex + 1}}</td>

				<td class="chart_table_td">{{item.qiHao}}</td>

					{# 
						_.map(haoMaArr, function(haoMaoItem, haoMaoItemIndex){
					 #}
						<td class="chart_table_td ball_t8">{{haoMaoItem}}</td>
					{#
						});
					#}



					{# 
						_.map(haoMaArr, function(haoMaoItem, haoMaoItemIndex){
							var ommitItem = ommitArr[haoMaoItemIndex];
							var ommitItemArr = ommitItem.split(",");
							_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
					 #}
						<td class="{{haoMaoItem == ommitItemArrItemIndex ? 'chart_table_td omission_entry omission_hit ' + ball_t_arr[haoMaoItemIndex] : 'chart_table_td td_show omission_entry'}}">{{haoMaoItem == ommitItemArrItemIndex ? haoMaoItem : ommitItemArrItem}}</td>
					{#
							});
						});
					#}
					
					{#
						haoMaArr = haoMaArr.sort();
						var typeValue = 2;	//1为组六，2为组三，3为豹子
						if(haoMaArr[0] == haoMaArr[1] && haoMaArr[1] == haoMaArr[2] && haoMaArr[0] == haoMaArr[2]){
							typeValue = 3;
					#}
						<td class="chart_table_td td_show omission_entry">0</td>
						<td class="chart_table_td td_show omission_entry">0</td>
						<td class="chart_table_td omission_entry omission_hit trend_red">豹子</td>
					{#
						}else if(haoMaArr[0] != haoMaArr[1] && haoMaArr[1] != haoMaArr[2] && haoMaArr[0] != haoMaArr[2]){
							typeValue = 1;
					#}
						<td class="chart_table_td td_show omission_entry">0</td>
						<td class="chart_table_td omission_entry omission_hit trend_red">组六</td>
						<td class="chart_table_td td_show omission_entry">0</td>
					{#
						}else{
					#}
						<td class="chart_table_td omission_entry omission_hit trend_red">组三</td>
						<td class="chart_table_td td_show omission_entry">0</td>
						<td class="chart_table_td td_show omission_entry">0</td>
					{#
						}
					#}


			</tr>
					{#
						});
					#}

			<!-- 
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">总次数</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">6</td><td class="chart_table_td">2</td><td class="chart_table_td">0</td><td class="chart_table_td">7</td><td class="chart_table_td">4</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">6</td><td class="chart_table_td">4</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">4</td><td class="chart_table_td">5</td><td class="chart_table_td">4</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">5</td><td class="chart_table_td">0</td><td class="chart_table_td">5</td><td class="chart_table_td">2</td><td class="chart_table_td">5</td><td class="chart_table_td">5</td><td class="chart_table_td">25</td><td class="chart_table_td">0</td>
			</tr>
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">最大连出</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">0</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">0</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">9</td><td class="chart_table_td">0</td>
			</tr>
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">最大遗漏</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">15</td><td class="chart_table_td">16</td><td class="chart_table_td">25</td><td class="chart_table_td">6</td><td class="chart_table_td">29</td><td class="chart_table_td">32</td><td class="chart_table_td">8</td><td class="chart_table_td">12</td><td class="chart_table_td">26</td><td class="chart_table_td">25</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">17</td><td class="chart_table_td">23</td><td class="chart_table_td">20</td><td class="chart_table_td">23</td><td class="chart_table_td">34</td><td class="chart_table_td">38</td><td class="chart_table_td">23</td><td class="chart_table_td">10</td><td class="chart_table_td">26</td><td class="chart_table_td">16</td><td class="chart_table_td">25</td><td class="chart_table_td">11</td><td class="chart_table_td">23</td><td class="chart_table_td">9</td><td class="chart_table_td">34</td><td class="chart_table_td">14</td><td class="chart_table_td">14</td><td class="chart_table_td">15</td><td class="chart_table_td">9</td><td class="chart_table_td">1</td><td class="font_size_9 chart_table_td">114</td>
			</tr>
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">平均遗漏</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">15</td><td class="chart_table_td">4</td><td class="chart_table_td">10</td><td class="chart_table_td">30</td><td class="chart_table_td">3</td><td class="chart_table_td">6</td><td class="chart_table_td">10</td><td class="chart_table_td">6</td><td class="chart_table_td">4</td><td class="chart_table_td">6</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">7</td><td class="chart_table_td">15</td><td class="chart_table_td">10</td><td class="chart_table_td">15</td><td class="chart_table_td">6</td><td class="chart_table_td">5</td><td class="chart_table_td">6</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">7</td><td class="chart_table_td">10</td><td class="chart_table_td">5</td><td class="chart_table_td">30</td><td class="chart_table_td">5</td><td class="chart_table_td">10</td><td class="chart_table_td">5</td><td class="chart_table_td">5</td><td class="chart_table_td">1</td><td class="chart_table_td">30</td>
			</tr>
			 -->
			<!-- 
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">出现总次</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="font_size_9 chart_table_td">404</td><td class="font_size_9 chart_table_td">413</td><td class="font_size_9 chart_table_td">398</td><td class="font_size_9 chart_table_td">449</td><td class="font_size_9 chart_table_td">426</td><td class="font_size_9 chart_table_td">392</td><td class="font_size_9 chart_table_td">449</td><td class="font_size_9 chart_table_td">428</td><td class="font_size_9 chart_table_td">425</td><td class="font_size_9 chart_table_td">407</td><td class="font_size_9 chart_table_td">440</td><td class="font_size_9 chart_table_td">450</td><td class="font_size_9 chart_table_td">376</td><td class="font_size_9 chart_table_td">407</td><td class="font_size_9 chart_table_td">451</td><td class="font_size_9 chart_table_td">409</td><td class="font_size_9 chart_table_td">450</td><td class="font_size_9 chart_table_td">393</td><td class="font_size_9 chart_table_td">394</td><td class="font_size_9 chart_table_td">421</td><td class="font_size_9 chart_table_td">438</td><td class="font_size_9 chart_table_td">403</td><td class="font_size_9 chart_table_td">403</td><td class="font_size_9 chart_table_td">431</td><td class="font_size_9 chart_table_td">415</td><td class="font_size_9 chart_table_td">406</td><td class="font_size_9 chart_table_td">369</td><td class="font_size_9 chart_table_td">433</td><td class="font_size_9 chart_table_td">451</td><td class="font_size_9 chart_table_td">442</td><td class="font_size_9 chart_table_td">1114</td><td class="font_size_9 chart_table_td">3037</td><td class="chart_table_td">40</td>
			</tr>
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">最大连出</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">7</td><td class="chart_table_td">27</td><td class="chart_table_td">2</td>
			</tr>
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">最大遗漏</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">75</td><td class="chart_table_td">56</td><td class="chart_table_td">80</td><td class="chart_table_td">49</td><td class="chart_table_td">48</td><td class="chart_table_td">52</td><td class="chart_table_td">61</td><td class="chart_table_td">74</td><td class="chart_table_td">85</td><td class="chart_table_td">62</td><td class="chart_table_td">55</td><td class="chart_table_td">47</td><td class="chart_table_td">68</td><td class="chart_table_td">90</td><td class="chart_table_td">60</td><td class="chart_table_td">63</td><td class="chart_table_td">58</td><td class="chart_table_td">60</td><td class="chart_table_td">56</td><td class="chart_table_td">55</td><td class="chart_table_td">55</td><td class="chart_table_td">98</td><td class="chart_table_td">61</td><td class="chart_table_td">71</td><td class="chart_table_td">49</td><td class="chart_table_td">68</td><td class="chart_table_td">61</td><td class="chart_table_td">54</td><td class="chart_table_td">61</td><td class="chart_table_td">44</td><td class="chart_table_td">27</td><td class="chart_table_td">7</td><td class="font_size_9 chart_table_td">290</td>
			</tr>
			<tr class="chart_table_tr_statistic">
				<td class="chart_table_td">平均遗漏</td>
				<td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td"></td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">11</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">11</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="font_size_9 chart_table_td">102</td>
			</tr>
			 -->
			<tr class="chart_table_tr_statistic_current_omission">
				<td class="chart_table_td td_center">当前遗漏</td>
				<td class="chart_table_td"></td>
				<td class="chart_table_td"></td>
				<td class="chart_table_td"></td>
				<td class="chart_table_td"></td>
				
					{# 
						_.map(current_omission_arr, function(current_omission_arr_item, current_omission_arr_index){
							var ommitItemArr = current_omission_arr_item.split(",");
							_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrIndex){
					 #}
								<td class="chart_table_td">{{ommitItemArrItem}}</td>
					{#
							});
						});
					#}
				
				<td class="chart_table_td">5</td>
				<td class="chart_table_td">0</td>
				<td class="font_size_9 chart_table_td">114</td>
			</tr>
		</tbody>
		<tfoot>
		<tr>
			<td rowspan="2" class="chart_table_thead_tfoot border_right">序号</td>
			<td rowspan="2" class="chart_table_thead_tfoot border_right">期号</td>
			<td rowspan="2" colspan="3" class="chart_table_thead_tfoot border_right">开奖号码</td>
			<td class="chart_table_thead_tfoot ">0</td>
			<td class="chart_table_thead_tfoot ">1</td>
			<td class="chart_table_thead_tfoot ">2</td>
			<td class="chart_table_thead_tfoot ">3</td>
			<td class="chart_table_thead_tfoot ">4</td>
			<td class="chart_table_thead_tfoot ">5</td>
			<td class="chart_table_thead_tfoot ">6</td>
			<td class="chart_table_thead_tfoot ">7</td>
			<td class="chart_table_thead_tfoot ">8</td>
			<td class="chart_table_thead_tfoot border_right">9</td>
			<td class="chart_table_thead_tfoot ">0</td>
			<td class="chart_table_thead_tfoot ">1</td>
			<td class="chart_table_thead_tfoot ">2</td>
			<td class="chart_table_thead_tfoot ">3</td>
			<td class="chart_table_thead_tfoot ">4</td>
			<td class="chart_table_thead_tfoot ">5</td>
			<td class="chart_table_thead_tfoot ">6</td>
			<td class="chart_table_thead_tfoot ">7</td>
			<td class="chart_table_thead_tfoot ">8</td>
			<td class="chart_table_thead_tfoot border_right">9</td>
			<td class="chart_table_thead_tfoot ">0</td>
			<td class="chart_table_thead_tfoot ">1</td>
			<td class="chart_table_thead_tfoot ">2</td>
			<td class="chart_table_thead_tfoot ">3</td>
			<td class="chart_table_thead_tfoot ">4</td>
			<td class="chart_table_thead_tfoot ">5</td>
			<td class="chart_table_thead_tfoot ">6</td>
			<td class="chart_table_thead_tfoot ">7</td>
			<td class="chart_table_thead_tfoot ">8</td>
			<td class="chart_table_thead_tfoot border_right">9</td>

			<td class="chart_table_thead_tfoot">组三</td>
			<td class="chart_table_thead_tfoot">组六</td>
			<td class="chart_table_thead_tfoot">豹子</td>
		</tr>
		<tr>
			<td colspan="10" class="chart_table_thead_tfoot border_right">百位</td>
			<td colspan="10" class="chart_table_thead_tfoot border_right">十位</td>
			<td colspan="10" class="chart_table_thead_tfoot border_right">个位</td>
			<td colspan="3" class="chart_table_thead_tfoot">类型</td>
		</tr>
		<tr>
			<td colspan="38" class="chart_table_td_statistic_search">
				<label style="display: none;">
					<input id="historyStatistic" type="radio" name="statistic">
					历史统计
				</label>
				<label style="display: none;">
					<input id="currentStatistic" type="radio" name="statistic" checked="checked">
					当前页统计
				</label>
				&nbsp;
			</td>
		</tr>
		</tfoot>
	</table>
☽☻
<div class="tab_foot">
	<h4>参数说明：</h4>
	<p>
		<strong>组三：</strong>三个号码中有两个号码相同为组三号。<br>
		<strong>组六：</strong>三个号码均不相同为组六号。<br>
		<strong>豹子：</strong>三个号码相同为豹子号。<br>
		<strong>遗漏分层：</strong>将当前遗漏按照“1-5，6-11，12-无穷大”分别用黑色、蓝色、红色标识。<br>
		<strong>分隔线：</strong>每五期使用分隔线，使横向导航更加清晰。<br>
		<strong>出现总次数：</strong>统计期数内实际出现的次数。<br>
		<strong>遗漏：</strong>自上期开出到本期间隔的期数。<br>
		<strong>平均遗漏：</strong>统计期数内遗漏的平均值。计算公式：平均遗漏＝统计期数/(出现次数+1)。<br>
		<strong>最大遗漏：</strong>统计期数内遗漏的最大值。<br>
		<strong>当前遗漏：</strong>自上期开出到当前期所间隔的期数。<br>
		<strong>最大连出值：</strong>统计期数内连续开出的最大值。
	</p>
</div>