		<div class="cqssc_chart_table_wrapper">
			<p class="chart_table_menu">
				标注形式选择：
				<label>
					<input id="omission" type="checkbox" checked="checked">
					遗漏
				</label>
				<label>
					<input id="foldLine" type="checkbox" checked="checked">
					折线
				</label>
				<label>
					<input id="layer" type="checkbox">
					遗漏分层
				</label>
				<label>
					<input id="splitLine" type="checkbox">
					分隔线
				</label>
			</p>
			<table id="chartTable" class="chart_table" cellpadding="0" cellspacing="0">
				<thead>
				<tr>
					<th rowspan="2" width="70" class="chart_table_thead_tfoot border_right">期号</th>
					<th rowspan="2" width="70" class="chart_table_thead_tfoot border_right">开奖号码</th>
					<th colspan="10" class="chart_table_thead_tfoot border_right">万位</th>
					<th colspan="10" class="chart_table_thead_tfoot border_right">千位</th>
					<th colspan="10" class="chart_table_thead_tfoot border_right">百位</th>
					<th colspan="10" class="chart_table_thead_tfoot border_right">十位</th>
					<th colspan="10" class="chart_table_thead_tfoot border_right">个位</th>
				</tr>
				<tr>
							<th width="20" class="chart_table_thead_tfoot ">0</th>
							<th width="20" class="chart_table_thead_tfoot ">1</th>
							<th width="20" class="chart_table_thead_tfoot ">2</th>
							<th width="20" class="chart_table_thead_tfoot ">3</th>
							<th width="20" class="chart_table_thead_tfoot ">4</th>
							<th width="20" class="chart_table_thead_tfoot ">5</th>
							<th width="20" class="chart_table_thead_tfoot ">6</th>
							<th width="20" class="chart_table_thead_tfoot ">7</th>
							<th width="20" class="chart_table_thead_tfoot ">8</th>
							<th width="20" class="chart_table_thead_tfoot border_right">9</th>
							<th width="20" class="chart_table_thead_tfoot ">0</th>
							<th width="20" class="chart_table_thead_tfoot ">1</th>
							<th width="20" class="chart_table_thead_tfoot ">2</th>
							<th width="20" class="chart_table_thead_tfoot ">3</th>
							<th width="20" class="chart_table_thead_tfoot ">4</th>
							<th width="20" class="chart_table_thead_tfoot ">5</th>
							<th width="20" class="chart_table_thead_tfoot ">6</th>
							<th width="20" class="chart_table_thead_tfoot ">7</th>
							<th width="20" class="chart_table_thead_tfoot ">8</th>
							<th width="20" class="chart_table_thead_tfoot border_right">9</th>
							<th width="20" class="chart_table_thead_tfoot ">0</th>
							<th width="20" class="chart_table_thead_tfoot ">1</th>
							<th width="20" class="chart_table_thead_tfoot ">2</th>
							<th width="20" class="chart_table_thead_tfoot ">3</th>
							<th width="20" class="chart_table_thead_tfoot ">4</th>
							<th width="20" class="chart_table_thead_tfoot ">5</th>
							<th width="20" class="chart_table_thead_tfoot ">6</th>
							<th width="20" class="chart_table_thead_tfoot ">7</th>
							<th width="20" class="chart_table_thead_tfoot ">8</th>
							<th width="20" class="chart_table_thead_tfoot border_right">9</th>
							<th width="20" class="chart_table_thead_tfoot ">0</th>
							<th width="20" class="chart_table_thead_tfoot ">1</th>
							<th width="20" class="chart_table_thead_tfoot ">2</th>
							<th width="20" class="chart_table_thead_tfoot ">3</th>
							<th width="20" class="chart_table_thead_tfoot ">4</th>
							<th width="20" class="chart_table_thead_tfoot ">5</th>
							<th width="20" class="chart_table_thead_tfoot ">6</th>
							<th width="20" class="chart_table_thead_tfoot ">7</th>
							<th width="20" class="chart_table_thead_tfoot ">8</th>
							<th width="20" class="chart_table_thead_tfoot border_right">9</th>
							<th width="20" class="chart_table_thead_tfoot ">0</th>
							<th width="20" class="chart_table_thead_tfoot ">1</th>
							<th width="20" class="chart_table_thead_tfoot ">2</th>
							<th width="20" class="chart_table_thead_tfoot ">3</th>
							<th width="20" class="chart_table_thead_tfoot ">4</th>
							<th width="20" class="chart_table_thead_tfoot ">5</th>
							<th width="20" class="chart_table_thead_tfoot ">6</th>
							<th width="20" class="chart_table_thead_tfoot ">7</th>
							<th width="20" class="chart_table_thead_tfoot ">8</th>
							<th width="20" class="chart_table_thead_tfoot border_right">9</th>
				</tr>
				</thead>
				<tbody>


					{# 
						var ball_t_arr = ['ball_t3', 'ball_t1', 'ball_t2' ,'ball_t6' ,'ball_t5'];
						
						var current_omission_arr = [];
						
						_.map(list, function(item, itemIndex){
						var haoMaArr = item.haoMa.split(",");
						var ommitArr = item.ommit ? item.ommit.split("#") : [];
						if(itemIndex == 0){
							current_omission_arr = ommitArr;
						}
					 #}
				<tr>

					<td class="chart_table_td">{{item.qiHao}}</td>
					<td class="chart_table_td" style="color: red;">
						{{haoMaArr.join("")}}
					</td>
					{# 
						_.map(haoMaArr, function(haoMaoItem, haoMaoItemIndex){
							var ommitItem = ommitArr[haoMaoItemIndex];
							var ommitItemArr = ommitItem.split(",");
							_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrItemIndex){
					 #}
						<td class="{{haoMaoItem == ommitItemArrItemIndex ? 'chart_table_td omission_entry omission_hit ' + ball_t_arr[haoMaoItemIndex] : 'chart_table_td td_show omission_entry'}}">{{haoMaoItem == ommitItemArrItemIndex ? haoMaoItem : ommitItemArrItem}}</td>
					{#
							});
						});
					#}
				</tr>
					{#
						});
					#}

				<!-- 
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">总次数</td>
					<td class="chart_table_td"></td><td class="chart_table_td">1</td><td class="chart_table_td">4</td><td class="chart_table_td">5</td><td class="chart_table_td">2</td><td class="chart_table_td">6</td><td class="chart_table_td">6</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">0</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">5</td><td class="chart_table_td">5</td><td class="chart_table_td">2</td><td class="chart_table_td">5</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">6</td><td class="chart_table_td">4</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">1</td><td class="chart_table_td">4</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">4</td><td class="chart_table_td">5</td><td class="chart_table_td">2</td><td class="chart_table_td">0</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">7</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">3</td><td class="chart_table_td">1</td><td class="chart_table_td">4</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">最大连出</td>
					<td class="chart_table_td"></td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">0</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">0</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">2</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td><td class="chart_table_td">1</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">最大遗漏</td>
					<td class="chart_table_td"></td><td class="chart_table_td">18</td><td class="chart_table_td">20</td><td class="chart_table_td">18</td><td class="chart_table_td">20</td><td class="chart_table_td">9</td><td class="chart_table_td">27</td><td class="chart_table_td">14</td><td class="chart_table_td">24</td><td class="chart_table_td">24</td><td class="chart_table_td">36</td><td class="chart_table_td">15</td><td class="chart_table_td">20</td><td class="chart_table_td">30</td><td class="chart_table_td">36</td><td class="chart_table_td">11</td><td class="chart_table_td">17</td><td class="chart_table_td">11</td><td class="chart_table_td">28</td><td class="chart_table_td">24</td><td class="chart_table_td">16</td><td class="chart_table_td">13</td><td class="chart_table_td">8</td><td class="chart_table_td">12</td><td class="chart_table_td">20</td><td class="chart_table_td">29</td><td class="chart_table_td">17</td><td class="chart_table_td">19</td><td class="chart_table_td">38</td><td class="chart_table_td">20</td><td class="chart_table_td">34</td><td class="chart_table_td">11</td><td class="chart_table_td">24</td><td class="chart_table_td">16</td><td class="chart_table_td">15</td><td class="chart_table_td">12</td><td class="chart_table_td">22</td><td class="chart_table_td">14</td><td class="chart_table_td">28</td><td class="chart_table_td">15</td><td class="chart_table_td">43</td><td class="chart_table_td">22</td><td class="chart_table_td">48</td><td class="chart_table_td">14</td><td class="chart_table_td">13</td><td class="chart_table_td">14</td><td class="chart_table_td">51</td><td class="chart_table_td">18</td><td class="chart_table_td">9</td><td class="chart_table_td">34</td><td class="chart_table_td">7</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">平均遗漏</td>
					<td class="chart_table_td"></td><td class="chart_table_td">15</td><td class="chart_table_td">6</td><td class="chart_table_td">5</td><td class="chart_table_td">10</td><td class="chart_table_td">4</td><td class="chart_table_td">4</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">15</td><td class="chart_table_td">15</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">30</td><td class="chart_table_td">10</td><td class="chart_table_td">6</td><td class="chart_table_td">5</td><td class="chart_table_td">5</td><td class="chart_table_td">10</td><td class="chart_table_td">5</td><td class="chart_table_td">7</td><td class="chart_table_td">7</td><td class="chart_table_td">4</td><td class="chart_table_td">6</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">6</td><td class="chart_table_td">15</td><td class="chart_table_td">6</td><td class="chart_table_td">10</td><td class="chart_table_td">7</td><td class="chart_table_td">10</td><td class="chart_table_td">6</td><td class="chart_table_td">7</td><td class="chart_table_td">7</td><td class="chart_table_td">6</td><td class="chart_table_td">6</td><td class="chart_table_td">5</td><td class="chart_table_td">10</td><td class="chart_table_td">30</td><td class="chart_table_td">10</td><td class="chart_table_td">7</td><td class="chart_table_td">7</td><td class="chart_table_td">6</td><td class="chart_table_td">3</td><td class="chart_table_td">10</td><td class="chart_table_td">15</td><td class="chart_table_td">7</td><td class="chart_table_td">15</td><td class="chart_table_td">6</td>
				</tr>
				 -->
				<!-- 
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">出现总次</td>
					<td class="chart_table_td"></td><td class="font_size_9 chart_table_td">124</td><td class="font_size_9 chart_table_td">115</td><td class="font_size_9 chart_table_td">131</td><td class="font_size_9 chart_table_td">128</td><td class="font_size_9 chart_table_td">140</td><td class="font_size_9 chart_table_td">118</td><td class="font_size_9 chart_table_td">114</td><td class="font_size_9 chart_table_td">116</td><td class="font_size_9 chart_table_td">111</td><td class="font_size_9 chart_table_td">103</td><td class="font_size_9 chart_table_td">130</td><td class="font_size_9 chart_table_td">137</td><td class="font_size_9 chart_table_td">123</td><td class="font_size_9 chart_table_td">110</td><td class="chart_table_td">98</td><td class="font_size_9 chart_table_td">126</td><td class="font_size_9 chart_table_td">127</td><td class="font_size_9 chart_table_td">121</td><td class="font_size_9 chart_table_td">116</td><td class="font_size_9 chart_table_td">112</td><td class="font_size_9 chart_table_td">107</td><td class="font_size_9 chart_table_td">112</td><td class="font_size_9 chart_table_td">122</td><td class="font_size_9 chart_table_td">130</td><td class="font_size_9 chart_table_td">124</td><td class="font_size_9 chart_table_td">108</td><td class="font_size_9 chart_table_td">136</td><td class="font_size_9 chart_table_td">125</td><td class="font_size_9 chart_table_td">119</td><td class="font_size_9 chart_table_td">117</td><td class="font_size_9 chart_table_td">134</td><td class="font_size_9 chart_table_td">145</td><td class="font_size_9 chart_table_td">115</td><td class="font_size_9 chart_table_td">116</td><td class="font_size_9 chart_table_td">122</td><td class="font_size_9 chart_table_td">110</td><td class="font_size_9 chart_table_td">120</td><td class="font_size_9 chart_table_td">107</td><td class="font_size_9 chart_table_td">122</td><td class="font_size_9 chart_table_td">109</td><td class="font_size_9 chart_table_td">111</td><td class="font_size_9 chart_table_td">116</td><td class="font_size_9 chart_table_td">122</td><td class="font_size_9 chart_table_td">119</td><td class="font_size_9 chart_table_td">119</td><td class="font_size_9 chart_table_td">112</td><td class="font_size_9 chart_table_td">117</td><td class="font_size_9 chart_table_td">127</td><td class="font_size_9 chart_table_td">126</td><td class="font_size_9 chart_table_td">131</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">最大连出</td>
					<td class="chart_table_td"></td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">2</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">4</td><td class="chart_table_td">3</td><td class="chart_table_td">2</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td><td class="chart_table_td">3</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">最大遗漏</td>
					<td class="chart_table_td"></td><td class="chart_table_td">48</td><td class="chart_table_td">40</td><td class="chart_table_td">43</td><td class="chart_table_td">36</td><td class="chart_table_td">37</td><td class="chart_table_td">50</td><td class="chart_table_td">43</td><td class="chart_table_td">52</td><td class="chart_table_td">50</td><td class="chart_table_td">55</td><td class="chart_table_td">41</td><td class="chart_table_td">53</td><td class="chart_table_td">43</td><td class="chart_table_td">65</td><td class="chart_table_td">51</td><td class="chart_table_td">53</td><td class="chart_table_td">66</td><td class="chart_table_td">58</td><td class="chart_table_td">65</td><td class="chart_table_td">40</td><td class="chart_table_td">45</td><td class="chart_table_td">53</td><td class="chart_table_td">51</td><td class="chart_table_td">50</td><td class="chart_table_td">55</td><td class="chart_table_td">56</td><td class="chart_table_td">49</td><td class="chart_table_td">41</td><td class="chart_table_td">59</td><td class="chart_table_td">44</td><td class="chart_table_td">37</td><td class="chart_table_td">43</td><td class="chart_table_td">42</td><td class="chart_table_td">43</td><td class="chart_table_td">68</td><td class="chart_table_td">46</td><td class="chart_table_td">41</td><td class="chart_table_td">95</td><td class="chart_table_td">38</td><td class="chart_table_td">53</td><td class="chart_table_td">54</td><td class="chart_table_td">48</td><td class="chart_table_td">61</td><td class="chart_table_td">58</td><td class="chart_table_td">32</td><td class="chart_table_td">51</td><td class="chart_table_td">61</td><td class="chart_table_td">49</td><td class="chart_table_td">44</td><td class="chart_table_td">51</td>
				</tr>
				<tr class="chart_table_tr_statistic">
					<td class="chart_table_td">平均遗漏</td>
					<td class="chart_table_td"></td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">8</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">11</td><td class="chart_table_td">9</td><td class="chart_table_td">8</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">12</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">11</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">11</td><td class="chart_table_td">8</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">8</td><td class="chart_table_td">8</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">11</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">10</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td><td class="chart_table_td">9</td>
				</tr>
				 -->
				<tr class="chart_table_tr_statistic_current_omission">
					<td class="chart_table_td td_center">当前遗漏</td>
					<td class="chart_table_td"></td>
					
					{# 
						_.map(current_omission_arr, function(current_omission_arr_item, current_omission_arr_index){
							var ommitItemArr = current_omission_arr_item.split(",");
							_.map(ommitItemArr, function(ommitItemArrItem, ommitItemArrIndex){
					 #}
								<td class="chart_table_td">{{ommitItemArrItem}}</td>
					{#
							});
						});
					#}
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td rowspan="2" class="chart_table_thead_tfoot border_right">期号</td>
					<td rowspan="2" class="chart_table_thead_tfoot border_right">开奖号码</td>
						<td class="chart_table_thead_tfoot ">0</td>
						<td class="chart_table_thead_tfoot ">1</td>
						<td class="chart_table_thead_tfoot ">2</td>
						<td class="chart_table_thead_tfoot ">3</td>
						<td class="chart_table_thead_tfoot ">4</td>
						<td class="chart_table_thead_tfoot ">5</td>
						<td class="chart_table_thead_tfoot ">6</td>
						<td class="chart_table_thead_tfoot ">7</td>
						<td class="chart_table_thead_tfoot ">8</td>
						<td class="chart_table_thead_tfoot border_right">9</td>
						<td class="chart_table_thead_tfoot ">0</td>
						<td class="chart_table_thead_tfoot ">1</td>
						<td class="chart_table_thead_tfoot ">2</td>
						<td class="chart_table_thead_tfoot ">3</td>
						<td class="chart_table_thead_tfoot ">4</td>
						<td class="chart_table_thead_tfoot ">5</td>
						<td class="chart_table_thead_tfoot ">6</td>
						<td class="chart_table_thead_tfoot ">7</td>
						<td class="chart_table_thead_tfoot ">8</td>
						<td class="chart_table_thead_tfoot border_right">9</td>
						<td class="chart_table_thead_tfoot ">0</td>
						<td class="chart_table_thead_tfoot ">1</td>
						<td class="chart_table_thead_tfoot ">2</td>
						<td class="chart_table_thead_tfoot ">3</td>
						<td class="chart_table_thead_tfoot ">4</td>
						<td class="chart_table_thead_tfoot ">5</td>
						<td class="chart_table_thead_tfoot ">6</td>
						<td class="chart_table_thead_tfoot ">7</td>
						<td class="chart_table_thead_tfoot ">8</td>
						<td class="chart_table_thead_tfoot border_right">9</td>
						<td class="chart_table_thead_tfoot ">0</td>
						<td class="chart_table_thead_tfoot ">1</td>
						<td class="chart_table_thead_tfoot ">2</td>
						<td class="chart_table_thead_tfoot ">3</td>
						<td class="chart_table_thead_tfoot ">4</td>
						<td class="chart_table_thead_tfoot ">5</td>
						<td class="chart_table_thead_tfoot ">6</td>
						<td class="chart_table_thead_tfoot ">7</td>
						<td class="chart_table_thead_tfoot ">8</td>
						<td class="chart_table_thead_tfoot border_right">9</td>
						<td class="chart_table_thead_tfoot ">0</td>
						<td class="chart_table_thead_tfoot ">1</td>
						<td class="chart_table_thead_tfoot ">2</td>
						<td class="chart_table_thead_tfoot ">3</td>
						<td class="chart_table_thead_tfoot ">4</td>
						<td class="chart_table_thead_tfoot ">5</td>
						<td class="chart_table_thead_tfoot ">6</td>
						<td class="chart_table_thead_tfoot ">7</td>
						<td class="chart_table_thead_tfoot ">8</td>
						<td class="chart_table_thead_tfoot border_right">9</td>
				</tr>
				<tr>
					<td colspan="10" class="chart_table_thead_tfoot border_right">万位</td>
					<td colspan="10" class="chart_table_thead_tfoot border_right">千位</td>
					<td colspan="10" class="chart_table_thead_tfoot border_right">百位</td>
					<td colspan="10" class="chart_table_thead_tfoot border_right">十位</td>
					<td colspan="10" class="chart_table_thead_tfoot border_right">个位</td>
				</tr>
				<tr>
					<td colspan="59">
						<label style="display: none;">
							<input id="historyStatistic" type="radio" name="statistic">
							最近10天统计
						</label>
						<label style="display: none;">
							<input id="currentStatistic" type="radio" name="statistic" checked="checked">
							当前页统计
						</label>
						&nbsp;
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
☽☻
<div class="tab_foot">
	<h4>参数说明：</h4>
	<p>
		<strong>大小比：</strong>开奖号码中大数个数和小数个数之比。号码0-9中，0-4为小，5-9为大。示例：3:2表示3个大数，2个小数。<br>
		<strong>奇偶比：</strong>开奖号码中奇数个数和偶数个数之比。号码0-9中，13579为奇数，02468为偶数。示例：3:2表示3个奇数，2个偶数。<br>
		<strong>遗漏分层：</strong>将当前遗漏按照“1-5，6-11，12-无穷大”分别用黑色、蓝色、红色标识。<br>
		<strong>分隔线：</strong>每五期使用分隔线，使横向导航更加清晰。<br>
		<strong>出现总次数：</strong>统计期数内实际出现的次数。<br>
		<strong>遗漏：</strong>自上期开出到本期间隔的期数。<br>
		<strong>平均遗漏：</strong>统计期数内遗漏的平均值。（计算公式：平均遗漏＝统计期数/(出现次数+1)。）<br>
		<strong>最大遗漏：</strong>统计期数内遗漏的最大值。<br>
		<strong>当前遗漏：</strong>自上期开出到当前期所间隔的期数。<br>
		<strong>最大连出值：</strong>统计期数内连续开出的最大值。
	</p>
</div>