
<form>
	<table betprefix="尾数">
		<thead>
			<tr>
				<th colspan="6">三字和尾数</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">0</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="0" rate="0.0" oddsId="" rakeBack="3355">
				</td>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="3355">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="3355">
				</td>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="3355">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="3355">
				</td>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="3355">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="3355">
				</td>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="3355">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="3355">
				</td>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="3355">
				</td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th colspan="6">三字和数</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>0~6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="0~6" rate="0.0" oddsId="" rakeBack="3356">
				</td>
				<td>7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="3357">
				</td>
			</tr>
			<tr>
				<td>8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="3358">
				</td>
				<td>9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="3359">
				</td>
			</tr>
			<tr>
				<td>10</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="10" rate="0.0" oddsId="" rakeBack="3360">
				</td>
				<td>11</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="11" rate="0.0" oddsId="" rakeBack="3361">
				</td>
			</tr>
			<tr>
				<td>12</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="12" rate="0.0" oddsId="" rakeBack="3362">
				</td>
				<td>13</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="13" rate="0.0" oddsId="" rakeBack="3363">
				</td>
			</tr>
			<tr>
				<td>14</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="14" rate="0.0" oddsId="" rakeBack="3364">
				</td>
				<td>15</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="15" rate="0.0" oddsId="" rakeBack="3365">
				</td>
			</tr>
			<tr>
				<td>16</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="16" rate="0.0" oddsId="" rakeBack="3366">
				</td>
				<td>17</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="17" rate="0.0" oddsId="" rakeBack="3367">
				</td>
			</tr>
			<tr>
				<td>18</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="18" rate="0.0" oddsId="" rakeBack="3368">
				</td>
				<td>19</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="19" rate="0.0" oddsId="" rakeBack="3369">
				</td>
			</tr>
			<tr>
				<td>20</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="20" rate="0.0" oddsId="" rakeBack="3370">
				</td>
				<td>21~27</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="21~27" rate="0.0" oddsId="" rakeBack="3371">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(15, 'sanziheshu', 'sanziheshu', '三字和数')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
