/*10球样式*/
.no_10-box{
    width: 2402px !important;
}

/*普通三球样式*/
.no_3-box{
    width: 1155px !important;
}


/*时时彩类5球样式*/
.no_5-box{
    width: 1252px !important;
}

/*PC蛋蛋、加拿大28 3球样式*/
.no_3_PC-box{
    width: 1155px !important;
}

/*福彩类 3球样式*/
.no_3_FC-box{
    width: 1162px !important;
}

/*11选5类 五球样式*/
.no_5_X5-box{
    width: 1252px !important;
}
.no_5_X5-var var i{
    width:16.05px !important;
}

/*7球 六合彩样式*/
.no_7-box{
    width: 1100px !important;
}



