@CHARSET "UTF-8"; 

.clear {
	clear: both
}

a {
	color: #005aa0
}

.main {
	width: 986px;
	margin: auto;
	padding: 10px 0
}

.main .leftnav {
	float: left;
	width: 202px
}

.leftnav .changebox {
	background: url(../images/draw/detail_bg.gif) -190px -64px no-repeat;
	width: 189px;
	height: 31px;
	padding-left: 13px
}

.leftnav .changebox li {
	float: left;
	font-weight: bold;
	width: 81px;
	height: 21px;
	text-align: center;
	margin-right: 10px;
	margin-top: 6px;
	display: inline
}

.leftnav .changebox li a {
	color: #fff
}

.leftnav .changebox li.on {
	background: url(../images/draw/detail_bg.gif) 0 -101px no-repeat;
	line-height: 21px
}

.leftnav .changebox li.on a {
	color: #7f2d00
}

.leftnav .cznav {
	background: #ededed;
	width: 183px;
	padding: 10px 0 10px 13px
}

.leftnav .cznav_bottom {
	background: url(../images/draw/detail_bg.gif) 0 -128px no-repeat;
	width: 196px;
	height: 9px;
	overflow: hidden
}

.cznav .item li.tit {
	background: url(../images/draw/detail_bg.gif) 0 -63px no-repeat;
	width: 173px;
	height: 32px;
}

.cznav .tit a {
	text-decoration: none;
	display: block;
	font-weight: normal;
	color: #515151
}
.cznav .item li {
	background: url(../images/draw/cznav_li_bg.gif) center bottom
		no-repeat;
	cursor: pointer;
}

.cznav .item li h1 {
	height: 32px;
	line-height: 32px;
	background: url(../images/draw/cznav_bg.gif) 15px -22px no-repeat;
	padding-left: 45px;
	font-weight: normal
}
.main .leftnav .lbot {
    background: url(../images/rule/wanfa_29.jpg) no-repeat -1px 0;
    width: 202px;
    height: 13px;
    float: left;
}

.cznav .item li a {
	color: #333
}

.cznav .item li.tit h1 {
	background: url(../images/draw/cznav_bg.gif) 15px 5px no-repeat;
	padding-left: 45px;
	font-weight: normal
}

.cznav .item li.on a {
	color: #c00
}

.cznav .dfc_item li {
	background: url(../images/draw/cznav_li_bg.gif) center bottom
		no-repeat
}

.cznav .dfc_item li h1 {
	height: 35px;
	line-height: 33px;
	background: url(../images/draw/cznav_bg.gif) 15px -22px no-repeat;
	padding-left: 45px;
	font-weight: normal
}

.cznav .dfc_item li a {
	color: #333
}

.cznav .dfc_item li.on h1 {
	background: url(../images/draw/cznav_bg.gif) 15px -50px no-repeat;
	padding-left: 45px;
	font-weight: normal
}

.cznav .dfc_ul {
	padding-left: 45px;
	padding-bottom: 10px
}

.cznav .dfc_ul li {
	background: url(../images/draw/cznav_bg.gif) 0 -80px no-repeat;
	padding-left: 7px;
	line-height: 20px
}

.cznav .dfc_ul li.on {
	background: url(../images/draw/cznav_bg.gif) 0 -110px no-repeat
}

.cznav .dfc_ul li.on a {
	color: #c00
}

.main .right_box {
	width: 784px;
	float: right
}

.right_box .right_top {
	background: url(../images/draw/detail_bg.gif) 0 0 no-repeat;
	width: 784px;
	height: 7px;
	overflow: hidden
}

.right_box .right_bottom {
	background: url(../images/draw/detail_bg.gif) 0 -10px no-repeat;
	width: 784px;
	height: 7px;
	overflow: hidden
}

.right_box .right_main {
	background: url(../images/draw/detail_main_bg.gif) repeat-x;
	border-left: 1px #ff9d08 solid;
	border-right: 1px #ff9d08 solid;
	padding: 15px
}

.right_main .cpinfo {
	background: url(../images/draw/detail_bg.gif) 0 -21px no-repeat;
	width: 711px;
	height: 38px;
	line-height: 38px;
	padding: 0 20px
}

.cpinfo h1 {
	float: left;
	font-size: 14px;
	font-weight: normal
}

.cpinfo h2 {
	float: left;
	font-size: 14px;
	font-weight: normal
}

.cpinfo p {
	float: right;
	margin-top:6px;
}

.cpinfo p select {
	float: left;
	margin-top: 10px
}

.right_main .cpinfo_hd {
	background: url(../images/draw/detail_hd_bg.png) 0 0 no-repeat;
	_background: url(../images/draw/detail_hd_bg.gif) 0 0 no-repeat;
	width: 719px;
	height: 63px;
	padding: 15px
}

.right_main .cpinfo_hd .red {
	color: #fe0000;
	font-weight: bold;
	font-size: 18px;
	font-family: "Microsoft YaHei"
}

.right_main .cpinfo_hd .grey {
	font-size: 14px;
	color: #808080;
	font-family: "Microsoft YaHei"
}

.cpinfo_hd_l {
	float: left;
	_display: inline;
	width: 440px
}

.cpinfo_hd_r {
	float: left;
	_display: inline;
	width: 246px;
	margin-left: 30px
}

.cpinfo_hd_sel {
	margin-left: 10px
}

.search-text {
	border: 1px solid #c7c7c7;
	width: 59px;
	height: 16px;
	padding-left: 3px;
	line-height: 16px;
	vertical-align: middle
}

.search-btn {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: bottom;
	width: 44px;
	height: 18px;
	background: url(../images/draw/btn_hd_bg.gif) 0 -50px no-repeat
}

.search-box-return {
	margin-left: 8px;
	color: #8b8b8b;
	display: inline-block;
	zoom: 1;
	*display: inline;
	background: url("../images/draw/btn_hd_bg.gif") -114px -32px
		no-repeat;
	color: #666;
	padding-left: 20px
}

.search-box-return:link, .search-box-return:visited {
	color: #8b8b8b
}

.cpinfo_hd_l2 {
	padding-left: 3px;
	margin-top: 14px
}

.cpinfo_hd_l2_l {
	float: left
}

.cpinfo_hd_l2_r {
	float: left;
	_display: inline;
	margin-left: 40px;
	position: relative
}

.history_text {
	color: #313131
}

.history_btn {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: bottom;
	width: 44px;
	height: 18px;
	background: url(../images/draw/btn_hd_bg.gif) 0 -31px no-repeat
}

.cpinfo_hd_l select {
	color: #666;
	line-height: 20px
}

.cpinfo_hd_l option {
	line-height: 20px
}

.cpinfo_hd_tq {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	border: 1px solid #ccc;
	width: 31px;
	padding-left: 3px;
	height: 16px;
	margin: 0 4px
}

.cpinfo_hd_derive_l1 {
	margin-top: 5px
}

.cpinfo_hd_derive_out {
	color: #000;
	padding: 0 0 0 10px;
	width: 212px;
	height: 57px;
	border: 1px solid #aecfe8;
	background: #f3f9fd;
	position: absolute;
	left: 60px;
	top: 22px
}

.derive_txt_btn {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: bottom;
	width: 56px;
	height: 16px;
	background: url(../images/draw/btn_hd_bg.gif) 0 -69px no-repeat
}

.derive_excel_btn {
	margin-left: 5px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: bottom;
	width: 70px;
	height: 16px;
	background: url(../images/draw/btn_hd_bg.gif) 0 -86px no-repeat
}

.cpinfo_hd_derive_arrows {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	width: 9px;
	height: 6px;
	top: -5px;
	background: url(../images/draw/btn_hd_bg.gif) -121px 0 no-repeat;
	font-size: 1;
	vertical-align: middle
}

.ssqIcon {
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: top;
	*vertical-align: middle;
	line-height: 1px;
	font-size: 1px;
	background: url(../images/draw/ssqIcon.gif) no-repeat
}

.ssqIcon-activity {
	background-position: -88px 0;
	float: left
}

.buy_hd {
	background: url(../images/draw/btn_hd_bg.gif) 0 0 no-repeat;
	width: 120px;
	height: 30px;
	display: block;
	margin: 10px auto 0
}

.cpinfo_hd_r .link {
	font-size: 14px;
	color: #e00
}

.cpinfo_hd_r .link:link, .cpinfo_hd_r .link:visited {
	color: #e00
}

.sec-color-gg2 {
	width: 590px;
	border: 1px solid #f9ced3;
	background: #fff;
	position: relative
}

.sec-color-gg-titbox {
	height: 35px;
	line-height: 35px;
	background: #ff6768;
	color: #fff;
	font-size: 20px;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	padding-left: 15px
}

.sec-color-gg-titbox .sec-color-gg-close {
	background: url('/img/web/lottery/draw/sorts/ssq/sec-list.png') -133px
		-184px no-repeat;
	width: 19px;
	height: 19px;
	position: absolute;
	right: 10px;
	top: 10px
}

.sec-color-gg-contbox2 {
	width: 530px;
	margin: 0 auto;
	padding: 15px 0 40px
}

.sec-color-gg-cont-tit {
	font: 20px 'Microsoft YaHei';
	color: #0a0a0a;
	margin: 30px 0 15px 15px
}

.sec-color-gg-contbox2 hr {
	border: 0;
	border-bottom: 1px solid #ededed;
	margin: 20px 0
}

.sec-color-gg-contbox2 .text1 {
	color: #7b7878;
	font-size: 14px;
	line-height: 30px
}

.sec-color-gg-contbox2 .text1 select {
	color: #0a0a0a;
	width: 360px;
	height: 30px;
	margin: 0 3px;
	padding-left: 5px
}

.sec-color-gg-contbox2 .text2 {
	color: #4e4e4e
}

.sec-color-gg-contbox2 .text2 .red {
	color: #f60000
}

.sec-color-gg-contbox2 .text2 .blue {
	color: #1479d7
}

.sec-color-gg-contbox2 .text2 .blue:link, .sec-color-gg-contbox2 .text2 .blue:visited
	{
	color: #1479d7
}

.sec-color-gg-contbox2 .text2 .tit {
	color: #1f1f1f;
	font-family: "Microsoft YaHei";
	font-size: 16px
}

.sec-color-gg-contbox2 .text2 .bluebg {
	display: inline-block;
	zoom: 1;
	*display: inlie;
	background: #1479d7;
	width: 46px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	color: #fff;
	text-decoration: none;
	margin: 0 15px
}

.sec-color-gg-contbox2 .text2 .show {
	display: iline-block;
	zoom: 1;
	*display: inline;
	width: 18px;
	background: url("/img/web/lottery/draw/sorts/ssq/sec-list.png") -252px
		-1316px no-repeat
}

.jjjsq-cont-fl1 {
	float: left;
	_display: inline
}

.jjjsq-cont-fl1 p {
	line-height: 22px;
	margin-bottom: 5px
}

.jjjsq-cont-fl1 select {
	width: 60px;
	height: 20px
}

.jjjsq-cont-fl2 {
	float: left;
	_display: inline;
	margin-left: 24px
}

.sec-color-gg-jjjsq-btnbox {
	margin: 10px auto 10px;
	text-align: center
}

.zjmxlist {
	border-left: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
	margin: 10px 0
}

.zjmxlist td {
	height: 28px;
	text-align: center;
	line-height: 28px;
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	font-size: 12px
}

.qrdc {
	width: 136px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	text-decoration: none;
	cursor: pointer;
	height: 43px;
	text-align: center;
	line-height: 43px;
	background: #f90;
	color: #fff;
	font-family: "Microsoft YaHei";
	font-size: 20px
}

.qrdc:link, .qrdc:visited {
	color: #fff;
	text-decoration: none
}

.right_main .kj_main {
	width: 455px;
	margin: 10px auto 0;
	color: #434343
}

.kj_main .kj_ul li {
	height: 30px;
	line-height: 30px;
	padding-left: 40px
}

.kj_ul li.bg1 {
	background: url(../images/draw/detail_bg.gif) -406px -64px no-repeat;
	height: 32px;
	line-height: 32px;
	padding: 0;
	margin-bottom: 15px
}

.kj_ul li.bg1 h1 {
	font-weight: normal
}

.kj_ul li.bg1 .left {
	float: left
}

.kj_ul li.bg1 .right {
	float: right
}

.kj_ul li.bg2 {
	background: #e9e9e9
}

.kj_ul li.bg3 {
	background: #dcdcdc
}

.kj_main .kj_tab {
	width: 100%;
	margin-top: 10px;
	background: #f5f5f5
}

.kj_main .kj_tab td {
	text-align: center;
	padding: 5px 0;
	border-left: 1px #FFF solid
}

.kj_main .kj_tab .title {
	background: url(../images/draw/detail_bg.gif) -406px -64px no-repeat;
	height: 22px;
	line-height: 22px;
	font-weight: bold
}

.kj_main .kj_tab .tit {
	background: #e8e8e8;
	font-weight: bold
}

.kj_main .kj_tab .bgcolor {
	background: #edecec;
	border-bottom: 1px #fff solid
}

.right_main .buybox {
	width: 580px;
	margin: 20px auto 0;
	text-align: right
}

span.ball_1, span.ball_2, span.ball_3, span.ball_4 {
	width: 20px;
	height: 20px;
	line-height: 21px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	margin-right:5px;
}
span.lhc_1, span.lhc_2, span.lhc_4{
    width: 20px;
    height: 40px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
}
span.lhc_1 {
	background: url(../images/draw/openprize_ball_bg.png) 0 0 no-repeat
}

span.lhc_2 {
	background: url(../images/draw/openprize_ball_bg.png) -21px 0 no-repeat
}
span.lhc_4 {
	background: url(../images/draw/openprize_ball_bg.png) -59px 0 no-repeat;
	width: 21px;
}
span.ball_1 {
	background: url(../images/draw/openprize_ball_bg.png) 0 0 no-repeat
}

span.ball_2 {
	background: url(../images/draw/openprize_ball_bg.png) -21px 0 no-repeat
}

span.ball_3 {
	background: url(../images/draw/openprize_ball_bg.png) -42px 0 no-repeat;
	width: 16px;
	height: 19px;
	line-height: 19px;
	color: #700505
}

span.ball_4 {
	background: url(../images/draw/openprize_ball_bg.png) -59px 0 no-repeat;
	width: 21px
}

span.extra {
	background: url(../images/draw/openprize_ball_bg.png) -82px 0 no-repeat;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	color: #800;
	display: inline-block;
	font-size: 11px
}

.draw_main {
	padding-top: 15px
}

.draw_main .draw_left {
	float: left;
	width: 461px
}

.draw_main .draw_left .draw_content {
	border: 2px #dedede solid;
	width: 750px
}

.draw_main .draw_left .draw_content .draw_ul li {
	line-height: 30px;
	padding-left: 25px
}

.draw_main .draw_left .draw_content .draw_ul li.bg1 {
	background: url(../images/draw/detail_bg.gif) -406px -64px no-repeat;
	height: 32px;
	line-height: 32px;
}

.draw_main .draw_left .draw_content .draw_ul li.bg1 h1 {
	font-weight: normal
}

.draw_main .draw_left .draw_content .draw_ul li.bg1 h2 {
	font-weight: normal
}

.draw_main .draw_left .draw_content .draw_ul li.bg1 .left {
	float: left
}

.draw_main .draw_left .draw_content .draw_ul li.bg1 .right {
	margin-left: 10px
}

.draw_main .draw_left .draw_content .draw_ul li.bg2 {
	background: #e9e9e9;
	margin-top: 15px;
	_zoom: 1
}

.dipin_Draw_ul{
	width: 480px;
	margin-bottom: 30px;
	border-bottom: 2px solid #ccc;
}

.draw_main .draw_left .draw_content .draw_ul li.bg2 .ball_box {
	float: left;
	padding: 4px 0;
	line-height: 20px
}
.draw_main .draw_left .draw_content .draw_ul li.bg2 .ball_box .resultName{
	display: inline-block;
	float: left;
}
.draw_main .draw_left .draw_content .draw_ul li.bg2 .ball_box label{
	display:inline-block;
	line-height:0px;
}
.draw_main .draw_left .draw_content .draw_ul li.bg2 .ball_box h2 {
	font-weight: normal
}

.draw_main .draw_left .draw_content .draw_ul li.bg2 .share_link {
	float: right;
	cursor: pointer;
	margin-right: 10px;
	color: #333;
	position: relative;
	padding-right: 15px;
	background: url(../images/draw/fav.gif) right 8px no-repeat;
	display: inline
}

.draw_main .draw_left .draw_content .draw_ul li.bg3 {
	background: #dcdcdc;
	border-top: 2px #FFF solid
}

.draw_main .draw_left .draw_content .draw_ul li.bg3 .money {
	float: left
}

.draw_main .draw_left .draw_content .draw_ul li.bg3 .more_data {
	float: right
}

.draw_main .draw_left .draw_content .draw_ul li.bg3 .more_data .draw_data
	{
	background: url(../images/draw/history_01.gif) 0 7px no-repeat;
	padding-left: 20px;
	margin-right: 10px;
	color: #00f;
	display: inline-block
}

.draw_main .draw_left .draw_content .draw_ul li.bg3 .more_data .analysis
	{
	background: url(../images/draw/zst_01.gif) 0 7px no-repeat;
	padding-left: 20px;
	margin-right: 10px;
	color: #00f;
	display: inline-block
}

.draw_main .draw_left .draw_content .draw_tab {
	width: 100%;
	margin-top: 10px;
	background: #f5f5f5;
	color: #434343;
	font-size: 12px;
}

.draw_main .draw_left .draw_content .draw_tab td {
	text-align: center;
	padding: 5px 0;
	border-left: 1px #FFF solid;
	width: 100px;
	white-space: nowrap;
}


.draw_main .draw_left .draw_content .draw_tab .title {
	background: url(../images/draw/detail_bg.gif) 0 -21px no-repeat;
	height: 22px;
	line-height: 30px;
	font-weight: bold
}

.draw_main .draw_left .draw_content .draw_tab .tit {
	background: #e8e8e8;
	font-weight: bold
}

.draw_main .draw_left .draw_content .draw_tab .bgcolor {
	background: #edecec;
	border-bottom: 1px #fff solid
}

.draw_main .draw_left .winning_box {
	width: 461px;
	background: url(../images/draw/detail_bg.gif) 0 -147px no-repeat;
	margin-top: 7px;
	padding: 1px
}

.draw_main .draw_left .winning_box .winning_title {
	width: 135px;
	height: 73px;
	float: left;
	border-right: 1px #dedede solid
}

.draw_main .draw_left .winning_box .winning_title span {
	margin-top: 25px;
	padding-right: 18px;
	margin-right: 2px;
	display: block;
	background: url(../images/draw/bugle.gif) right 3px no-repeat;
	color: #333;
	text-align: right
}

.draw_main .draw_left .winning_box .winning_list {
	width: 180px;
	height: 73px;
	float: left;
	border-left: 1px #FFF solid;
	border-right: 1px #FFF solid
}

.draw_main .draw_left .winning_box .winning_list li {
	line-height: 24px;
	padding-left: 5px;
	color: #333;
	background: #f4f4f4;
	font-family: arial
}

.draw_main .draw_left .winning_box .winning_list li.bgcolor {
	background: #FFF
}

.draw_main .draw_left .winning_box .winning_button {
	width: 141px;
	height: 73px;
	float: left;
	border-left: 1px #dedede solid
}

.draw_main .draw_left .winning_box .winning_button img.wyyzdj {
	margin-top: 8px;
	margin-left: 10px
}

.draw_main .draw_left .winning_box .winning_button a.button {
	background: url(../images/draw/btn_bg.gif) no-repeat;
	display: block;
	width: 109px;
	height: 33px;
	margin-left: 10px;
	margin-top: 3px
}

.draw_main .draw_right {
	float: right;
	width: 272px
}

.draw_main .draw_right .column_box {
	width: 272px;
	margin-top: 10px
}

.draw_main .draw_right .column_box .column_title {
	background: url(../images/draw/lottery_bg.gif) 0 -200px no-repeat;
	height: 29px;
	line-height: 29px
}

.draw_main .draw_right .column_box .column_title span {
	float: left;
	margin-left: 10px;
	color: #333;
	font-weight: bold
}

.draw_main .draw_right .column_box .column_title .draw_phase {
	padding-left: 10px
}

.draw_main .draw_right .column_box .column_title .more {
	float: right;
	font-weight: normal;
	margin-right: 10px;
	display: inline
}

.draw_main .draw_right .column_box .column_main {
	border: 1px #e3e3e3 solid;
	padding-bottom: 10px;
	background: #fff
}

.draw_main .draw_right .none_margin_top {
	margin-top: 0
}

.draw_main .draw_right .column_box .draw_info {
	padding: 10px 20px
}

.draw_main .draw_right .column_box .draw_info .darw_info_list li {
	height: 26px;
	line-height: 26px;
	border: 1px #ffb684 solid;
	border-bottom: 0;
	padding-left: 10px;
	background: #fefec1
}

.draw_main .draw_right .column_box .draw_info .darw_info_list li.last {
	border-bottom: 1px #ffb684 solid
}

.draw_main .draw_right .column_box .draw_info .button_box {
	margin-top: 10px;
	padding-left: 10px
}

.draw_main .draw_right .column_box .draw_info .button_box a {
	float: left;
	width: 90px;
	height: 27px;
	margin-left: 10px;
	display: inline
}

.draw_main .draw_right .column_box .draw_info .button_box a.button_1 {
	background: url(../images/draw/btn_bg.gif) 0 -35px no-repeat
}

.draw_main .draw_right .column_box .draw_info .button_box a.button_2 {
	background: url(../images/draw/btn_bg.gif) 0 -64px no-repeat
}

.draw_main .draw_right .column_box .draw_info .play_box {
	text-align: center;
	margin-top: 5px;
	line-height: 24px
}

.draw_main .draw_right .column_box .draw_info .play_box a {
	margin: 0 3px
}

.draw_main .draw_right .column_box .data-tab {
	padding: 0 0 0 4px;
	line-height: 22px;
	width: 266px
}

.draw_main .draw_right .column_box .data-tab a {
	margin: 0 5px;
	color: #323232;
	text-decoration: none
}

.draw_main .draw_right .column_box .data-tab a:hover {
	color: #f00
}

.draw_main .draw_right .column_box .draw_cms_list {
	margin: 10px 10px 0
}

.draw_main .draw_right .column_box .draw_cms_list li {
	margin-left: 15px;
	list-style-image: url(../images/draw/list_style.gif);
	line-height: 20px
}

.draw_main .draw_right .column_box .draw_cms_list li a {
	color: #333;
	text-decoration: none
}

.draw_main .draw_right .column_box .draw_cms_list li a:hover {
	text-decoration: none;
	color: #f00
}

.sjh_info_box {
	border: 1px #e3e3e3 solid;
	background: #FFF;
	margin-bottom: 10px
}

.sjh_info_box h2 {
	background: url(../images/draw/title_line_bg.gif) repeat-x 0 12px;
	margin-left: 10px;
	line-height: 24px;
	margin-top: 5px
}

.sjh_info_box h2 span {
	background: #fff;
	padding-right: 5px
}

.sjh_info_box p {
	padding-left: 10px;
	line-height: 18px;
	padding-bottom: 5px
}

.sjh_info_box .sjh_info_link {
	background: #f5f5f5;
	border-top: 1px #e3e3e3 solid;
	padding: 5px 0 5px 10px
}

.sjh_info_box .sjh_info_link li {
	float: left;
	width: 125px;
	line-height: 22px
}

.sjh_info_box .sjh_info_link li a {
	background: url(../images/draw/list_style_3.gif) 0 8px no-repeat;
	padding-left: 8px
}

.highfreq_main .draw_right .column_box .column_title_b {
	background: url(../images/draw/highfreq.gif) no-repeat;
	height: 72px;
	width: 272px
}

.highfreq_main .draw_right .column_box .column_title_b p {
	line-height: 36px;
	padding-left: 10px
}

.highfreq_main .draw_right .column_box .column_main .lotteryslogon {
	background-color: #f7f7f7;
	height: 24px;
	line-height: 24px;
	margin: 4px 3px 0;
	padding-left: 10px
}

.highfreq_main .draw_right .column_box .right_tit {
	background: url("../images/draw/lottery_bg.gif") no-repeat scroll 0 -200px
		transparent;
	height: 29px;
	line-height: 29px
}

.highfreq_main .draw_right .column_box .right_tit span {
	color: #333;
	float: left;
	font-weight: bold;
	margin-left: 10px
}

.highfreq_main .draw_right .column_box .right_tit .numcolor {
	color: #f00
}

.highfreq_main .draw_right .column_box .right_tit .more {
	display: inline;
	float: right;
	font-weight: normal;
	margin-right: 10px
}

.highfreq_main .draw_right .column_box .right_tit .bobao {
	background: url("../images/draw/bugle.gif") no-repeat scroll 0 8px transparent;
	color: #e60012;
	padding-left: 20px
}

.highfreq_main .draw_right .column_box .right_tit .tit_tab {
	display: inline;
	float: left;
	margin-left: 15px
}

.highfreq_main .draw_right .column_box .right_tit .tit_tab li {
	float: left;
	height: 26px;
	line-height: 26px;
	margin-top: 4px;
	text-align: center;
	width: 47px
}

.highfreq_main .draw_right .column_box .right_tit .tit_tab li.on {
	background: url("../images/draw/lottery_bg.gif") no-repeat scroll -428px
		-200px transparent;
	color: #f00;
	cursor: default
}

.highfreq_main .draw_right .column_box .phb_main .ranking_table {
	width: 100%
}

.highfreq_main .draw_right .column_box .phb_main table {
	margin: auto;
	text-align: center
}

.highfreq_main .draw_right .column_box .phb_main table tr {
	height: 30px
}

.highfreq_main .draw_right .column_box .phb_main table tr.bgcolor {
	background: none repeat scroll 0 0 #f4f4f4
}

.highfreq_main .draw_right .column_box .phb_main table td .red {
	color: #f00
}

.highfreq_main .draw_right .column_box .phb_main table td .blue {
	color: #00f
}

.highfreq_main .phb_tab .thead {
	background: none repeat scroll 0 0 #f1f1f1
}

.highfreq_main .phb_tab .bgcolor {
	background: none repeat scroll 0 0 #f4f4f4
}

.highfreq_main .phb_tab td strong {
	background: none repeat scroll 0 0 #999;
	color: #fff;
	display: block;
	font-family: "Arial", "arial";
	height: 15px;
	line-height: 15px;
	margin: 0 auto;
	text-align: center;
	width: 16px
}

.highfreq_main .phb_tab td strong.top3 {
	background: none repeat scroll 0 0 #dc0000
}

.highfreq_main .draw_right #phb_box .button_box {
	height: 40px;
	background: url(../images/draw/wyyzdj.gif) 40px 15px no-repeat
}

.highfreq_main .draw_right #phb_box .button_box a.button_1 {
	background: url("../images/draw/btn_bg.gif") no-repeat scroll 0 -35px
		transparent;
	display: inline;
	float: right;
	height: 27px;
	margin: 8px 10px;
	width: 90px
}

.highfreq_main .button_top {
	background: url("../images/draw/btn_bg.gif") no-repeat scroll 0 -35px
		transparent;
	display: block;
	margin: 4px 10px 4px 0px;
	width: 90px;
	height: 27px;
	float:right;
}
.highfreq_main .button_bottom {
	background: url("../images/draw/btn_bg.gif") no-repeat scroll 0 -64px
		transparent;
	display: block;
	margin: 4px 10px 4px 0px;
	width: 90px;
	height: 27px;
	float:right;
}

.highfreq_main .draw_left .draw_recent ul {
	border-bottom: 1px solid #cfcfcf
}

.highfreq_main .draw_left .draw_lastest {
	background: url("../images/draw/highfreq.gif") 0 -72px no-repeat;
	border: 0 none;
	margin-bottom: 10px;
	padding: 3px 4px 0 3px;
	width: 454px;
	height: 75px
}

.highfreq_main .draw_left .draw_content .draw_ul li.bg3 {
	background: url("../images/draw/highfreq_lines.gif") repeat-x;
	height: 29px;
	margin: 0 1px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff
}

.highfreq_main .draw_left .draw_content .draw_ul li.bg3 .result {
	float: left;
	font-weight: bolder
}

.highfreq_main .draw_left .draw_content .draw_ul li.bg2 {
	margin-top: 7px
}

.highfreq_main .draw_left .draw_content .draw_tab {
	margin: 1px 0;
	width: 750px;
	font-size: 12px;
}

.csfootball_main .draw_left .draw_content .draw_ul li.bg1 .result {
	float: left
}

.csfootball_main .draw_left .draw_content .draw_ul li.bg1 .more_data {
	float: right
}

.csfootball_main .draw_left .draw_content .draw_ul li.bg1 .more_data .draw_data
	{
	background: url(../images/draw/history_01.gif) 0 7px no-repeat;
	padding-left: 20px;
	margin-right: 10px;
	color: #00f;
	display: inline-block
}

.csfootball_main .draw_left .draw_content .draw_ul li.bg1 .more_data .analysis
	{
	background: url(../images/draw/zst_01.gif) 0 7px no-repeat;
	padding-left: 20px;
	margin-right: 10px;
	color: #00f;
	display: inline-block
}

.csfootball_main .draw_left .draw_content .draw_ul li.bg1 .more_data .latest_match
	{
	background: url(../images/draw/match_01.gif) 0 7px no-repeat;
	padding-left: 20px;
	margin-right: 10px;
	color: #00f;
	display: inline-block
}

.csfootball_main .draw_left .draw_content {
	border-width: 1px
}

.csfootball_main .draw_tab_result {
	background-color: #fff;
	border-collapse: separate
}

.csfootball_main .draw_tab_result td {
	background-color: #f5f5f5;
	width: 32px;
	padding: 5px 6px 5px 10px;
	line-height: 14px;
	vertical-align: middle;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #fff
}

.csfootball_main .draw_tab_result td.even {
	background-color: #ececec
}

.csfootball_main .draw_left .draw_content .draw_ul li.bg2 {
	margin-top: 5px;
	padding-left: 15px
}

.csfootball_main .draw_left .draw_content .draw_ul li.bg4 {
	background: url("../images/draw/cs_football_table_bg.gif") 0 bottom
		no-repeat;
	padding-left: 15px
}

.csfootball_main .draw_left .roundcorner {
	background: url("../images/draw/cs_football_table_bg.gif") 0 0
		no-repeat;
	border: 0 none;
	padding-top: 3px;
	width: 461px;
	margin-bottom: 5px
}

.csfootball_main .cornerinner {
	width: 95%;
	margin: 0 auto
}

#draw_share {
	position: absolute;
	top: 25px;
	left: -5px;
	width: 172px;
	display: none
}

#draw_share .share_left {
	background: url(../images/draw/share_left.gif) 0 0 no-repeat;
	width: 3px;
	height: 28px;
	line-height: 28px;
	display: inline;
	float: left
}

#draw_share .share_middle {
	background: url(../images/draw/share_middle.gif) repeat-x;
	padding: 0 4px;
	height: 28px;
	line-height: 28px;
	display: inline;
	float: left
}

#draw_share .share_right {
	background: url(../images/draw/share_right.gif) 0 0 no-repeat;
	width: 3px;
	height: 28px;
	line-height: 28px;
	display: inline;
	float: left
}

#draw_share .share_middle span {
	float: left;
	margin-left: 2px
}

#draw_share .share_middle a {
	display: inline-block;
	height: 18px;
	margin-top: 5px;
	width: 16px;
	float: left;
	margin-left: 2px
}

.orange {
	color: #f6910e
}

.hn-sc-title {
	width: 750px;
	background: url(../images/draw/nav_title.gif) 0 0 no-repeat;
	padding-top: 4px;
	margin-bottom: 10px;
	position: relative
}

.hn-sc-title .list {
	overflow: hidden;
	margin-left: 10px;
	width: 500px
}

.hn-sc-title .list li {
	float: left;
	margin-right: 20px;
	position: relative
}

.hn-sc-title .list li a {
	color: #802c00;
	text-decoration: none;
	font-weight: bold
}

.hn-sc-title .list li span {
	height: 28px;
	line-height: 25px;
	color: #802c00;
	text-decoration: none;
	font-weight: bold
}

.hn-sc-title .list li .not-on {
	padding-left: 11px
}

.hn-sc-title .list li .left {
	background: url(../images/draw/title_on_bg.gif) 0 -35px no-repeat;
	height: 28px;
	position: relative;
	width: 3px;
	display: inline-block;
	float: left
}

.hn-sc-title .list li .bg {
	background: url(../images/draw/title_on_bg.gif) 0 0 repeat-x;
	height: 28px;
	display: inline-block;
	float: left
}

.hn-sc-title .list li .content {
	padding: 0 8px;
	line-height: 25px
}

.hn-sc-title .list li .right {
	background: url(../images/draw/title_on_bg.gif) 0 -70px no-repeat;
	height: 28px;
	position: relative;
	width: 3px;
	display: inline-block;
	float: left
}

.hn-sc-title .play-list {
	overflow: hidden;
	background: url(../images/draw/play_list_bg.gif) 0 0 repeat-x;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	height: 33px;
	padding-left: 25px
}

.hn-sc-title .play-list li {
	float: left;
	margin-right: 16px;
	position: relative;
	margin-top: 6px;
	display: inline
}

.hn-sc-title .play-list li a {
	color: #802c00;
	text-decoration: none
}

.hn-sc-title .play-list li span {
	line-height: 22px
}

.hn-sc-title .play-list li.on .left {
	background: url(../images/draw/title_on_bg.gif) 0 -132px
		no-repeat;
	float: left;
	height: 24px;
	width: 2px;
	display: inline-block
}

.hn-sc-title .play-list li.on .bg {
	background: url(../images/draw/title_on_bg.gif) 0 -104px repeat-x;
	height: 24px;
	display: inline-block;
	float: left
}

.hn-sc-title .play-list li.on .content {
	padding: 0 8px;
	line-height: 22px
}

.hn-sc-title .play-list li.on .right {
	background: url(../images/draw/title_on_bg.gif) 0 -159px
		no-repeat;
	height: 24px;
	position: relative;
	width: 2px;
	display: inline-block;
	float: left
}

.cpinfo-hn {
	background: url(../images/draw/week_bg.gif) 0 0 repeat-x;
	width: 748px;
	border: 1px solid #c6c6c6;
	padding-top: 3px;
	position: relative;
	overflow: hidden
}

.cpinfo-hn .week-ul {
	overflow: hidden;
	padding-left: 10px;
	width: 380px;
	float: left
}

.cpinfo-hn .week-ul li {
	float: left;
	margin-right: 4px;
	height: 32px;
	line-height: 32px;
	padding: 0 3px
}

.cpinfo-hn .week-ul li a {
	color: #802c00;
	text-decoration: none
}

.cpinfo-hn .week-ul li.on {
	background: url(../images/draw/week_on_bg.gif) 0 0 repeat-x;
	border: 1px solid #c6c6c6;
	border-bottom: 0
}

.cpinfo-hn .week-ul li.search {
	position: relative;
	background: url(../images/draw/week_search.gif) 0 0 no-repeat;
	width: 140px;
	height: 27px;
	padding: 0;
	margin-top: 3px
}

.cpinfo-hn .search .search-input {
	width: 87px;
	height: 21px;
	line-height: 21px;
	top: 3px;
	left: 3px;
	*top: 1px;
	*left: 1px;
	position: absolute;
	border: 0;
	color: #999;
	padding-left: 4px
}

.cpinfo-hn .week-ul li.time-li {
	padding: 0
}

.cpinfo-hn .week-ul li.text-li {
	color: #faa70b
}

.cpinfo-hn .week-ul li.text-li a {
	color: #faa70b
}

.cpinfo-hn .search-ul {
	overflow: hidden;
	width: 354px;
	float: left
}

.cpinfo-hn .search-ul li {
	float: left;
	margin-right: 7px;
	height: 32px;
	line-height: 32px;
	padding: 0 5px
}

.cpinfo-hn .search-ul li a {
	color: #802c00;
	text-decoration: none
}

.cpinfo-hn .search-ul li.on {
	background: url(../images/draw/week_on_bg.gif) 0 0 repeat-x;
	border: 1px solid #c6c6c6;
	border-bottom: 0
}

.cpinfo-hn .search-ul li.search {
	position: relative;
	background: url(../images/draw/week_search.gif) 0 0 no-repeat;
	width: 140px;
	height: 27px;
	padding: 0;
	margin-top: 3px
}

.cpinfo-hn .search-ul li.time-li {
	padding: 0
}

.cpinfo-hn .search-ul li.text-li {
	color: #faa70b
}

.cpinfo-hn .search-ul li.text-li a {
	color: #faa70b
}

.cpinfo-hn .search .a-search {
	display: inline-block;
	width: 44px;
	height: 26px;
	position: absolute;
	top: 0;
	right: 0
}

.cpinfo-hn .time_search {
	display: inline-block;
	background: url(../images/draw/time_date.jpg) 0 0 no-repeat;
	width: 23px;
	height: 25px;
	margin-top: 3px;
	cursor: pointer
}

.phase-list {
	padding: 5px 17px;
	background-color: #ffd884;
	width: 716px;
	position: relative;
	overflow: hidden
}

.phase-list a {
	background: url(../images/draw/phase_left_right_btn.gif) 0 0
		no-repeat;
	border: 1px solid #c6c6c6;
	display: inline-block;
	width: 22px;
	height: 36px;
	float: left
}

.phase-list .phase-left {
	background-position: 0 0
}

.phase-list .phase-right {
	background-position: 0 -39px;
	border-left: none
}

.phase-list .phase-data {
	float: left;
	border: 1px solid #c6c6c6;
	border-left: none;
	border-right: 0;
	width: 666px;
	height: 36px;
	overflow: hidden;
	position: relative
}

.phase-list .phase-ul {
	overflow: hidden
}

.phase-list .phase-ul li {
	float: left;
	height: 36px;
	width: 110px;
	text-align: center;
	background: url(../images/draw/td_title_bg.gif) 0 0 repeat-x;
	border-right: 1px solid #c6c6c6;
	cursor: pointer
}

.phase-list .phase-ul li.phase-current-bg {
	background-position: 0 -63px
}

.phase-list .phase-ul li.phase-bg .hidden {
	display: inline
}

.draw_main .data {
	text-align: center;
	background-color: #fcfbf6;
	border-left: 1px solid #e1e1e1;
	border-top: 3px solid #ff9d08;
	margin-bottom: 5px
}

.draw_main .data td {
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1
}

.draw_main .data-body td {
	height: 40px;
	line-height: 40px
}

.draw_main .td-bg {
	background: url(../images/draw/td_title_bg.gif) 0 0 repeat-x
}

.draw_main .td-current-bg {
	background: url(../images/draw/td_title_bg.gif) 0 -60px repeat-x
}

.draw_main .td-current-bg .hidden {
	display: inline
}

.draw_main .no-line {
	line-height: 16px
}

.draw_main .title {
	font-weight: bold
}

.draw_main .title .title-bg {
	background: url(../images/draw/tr_title_bg.jpg) 0 0 no-repeat
}

.draw_main .zk-td {
	background-color: #fff4da
}

.draw_main .zk-td a {
	color: #f78d04;
	background: url(../images/draw/open_close_btn.gif) 0 0 no-repeat
}

.draw_main .zk-td a.open {
	padding-left: 17px;
	background-position: 0 3px;
	*background-position: 0 2px
}

.draw_main .zk-td a.close {
	padding-left: 17px;
	background-position: 0 -15px;
	*background-position: 0 -16px
}

.draw_main .data-illustrate {
	margin-top: 15px
}

.draw_main .col05 {
	background-color: #fefca2
}

.draw_main .col5 {
	background-color: #fcf46d
}

.draw_main .col105 {
	background-color: #faec43
}

.draw_main .col501 {
	background-color: #fad92c
}

.draw_main .col10 {
	background-color: #fcc534
}

.draw_main .data-illustrate td {
	height: 37px;
	line-height: 37px
}

.draw_main .data-illustrate span {
	display: inline-block;
	width: 97px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	border: 1px solid #c8c8c8
}

.draw_main .data-illustrate .pdl {
	padding-left: 20px
}

.draw_main .data-illustrate .title {
	background-color: #ffd861;
	height: 35px
}

.draw_main .data-illustrate .title td {
	padding-left: 20px;
	color: #802c00
}

.draw_main .data td.no-border {
	border-right: 0
}

.draw_main #qr_table td {
	height: 45px
}

.draw_main #qr_table td.first-td {
	height: 25px;
	padding-bottom: 15px
}

.draw_main #qr_table td.second-td {
	height: 25px;
	padding-top: 20px
}

.draw_main .data .title-q2 .title-bg {
	background: url(../images/draw/title_q2.gif) 0 0 no-repeat;
	line-height: 10px
}

.draw_main .data .title-q2 td, .draw_main .data .has-bg {
	background: url(../images/draw/q2_line_bg.gif) 0 0 repeat-x
}

.draw_main #ysq2_table td {
	height: 45px
}

.draw_main #ysq2_table td.first-td {
	height: 25px;
	padding-bottom: 15px
}

.draw_main #ysq2_table td.second-td {
	height: 25px;
	padding-top: 20px
}

.q3-div {
	width: 100%
}

.bg-grey {
	background-color: #efefef
}

#q3_table {
	border-top: 1px solid #e1e1e1
}

.q3-title {
	background: url(../images/draw/q3_title_bg.gif) 0 0 no-repeat
}

#zx2_table td {
	height: 45px;
	line-height: 45px
}

.prize-bg1 {
	background-color: #fcc534
}

.prize-bg2 {
	background-color: #fad92c
}

.prize-bg3 {
	background-color: #faec43
}

.prize-bg4 {
	background-color: #fcf46d
}

.prize-bg5 {
	background-color: #fefca2
}

.no-data-div {
	width: 742px;
	height: 90px;
	padding: 10px 5px
}

.no-data-div h1 {
	margin-bottom: 10px
}

.no-data-div p {
	height: 25px;
	line-height: 25px;
	padding-left: 15px
}

.q3-st {
	display: block;
	margin-left: 17px;
	width: 25px
}

span.pk10{background: url("../images/draw/ball-pk.png") no-repeat;width: 20px;
height: 20px;
line-height: 20px;
text-align: center;
color: #fff;
font-weight: bold;
display: inline-block;
margin-right: 5px;text-indent: -9999px}
span.b01 {background-position: 0 0px;}
span.b02 {background-position: 0 -21px;}
span.b03 {background-position: 0 -42px;}
span.b04 {background-position: 0 -63px;}
span.b05 {background-position: 0 -84px;}
span.b06 {background-position: 0 -105px;}
span.b07 {background-position: 0 -126px;}
span.b08 {background-position: 0 -147px;}
span.b09 {background-position: 0 -168px;}
span.b10 {	background-position: 0 -189px;}
span.b11 {	background-position: 0 -230px;}

/*以备首位不是0时，获取不到样式*/
span.b1 {background-position: 0 0px;}
span.b2 {background-position: 0 -21px;}
span.b3 {background-position: 0 -42px;}
span.b4 {background-position: 0 -63px;}
span.b5 {background-position: 0 -84px;}
span.b6 {background-position: 0 -105px;}
span.b7 {background-position: 0 -126px;}
span.b8 {background-position: 0 -147px;}
span.b9 {background-position: 0 -168px;}


.text75 {
    width: 105px !important;
    background: url("../images/member/calendar.jpg") no-repeat scroll 5px 5px #fff;
    padding-left: 25px !important;
    border: 1px solid #ccc;
    height: 25px !important;
    line-height: 25px !important;
    margin-top:7px;
}

/*hisresult*/
.bet {
    width: 90px;
    float: left;
}
.buy {
    vertical-align: middle;
    background: url(../images/draw/btn_bg.gif) 0px -35px no-repeat;
    width: 90px;
    height: 28px;
    margin-top: 6px;
    text-align: center;
    display: inline-block;
}
.title {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
.title .gray {
    color: #808080;
    font-weight: normal;
}
.search {
    float: right;
    line-height: normal;
    padding-top: 7px;
    line-height: 25px;
}
.search .search-btn {
    width: 64px;
    height: 20px;
    background: url(../images/member/btns.gif) -10px -2040px no-repeat;
    border: 0;
    cursor: pointer;
}
.buybtn {
    height: 40px;
    padding-top: 15px;
    text-align: center;
}
table#draw_list {
    width: 95%;
    margin: 10px auto;
    color: #333;
    font-size:12px;
}
#draw_list, thead {
    height: 32px;
    line-height: 32px;
    margin-bottom: 15px;
    padding: 0 10px 0 25px;
}
#draw_list thead td {
    text-align: center;
}
table#draw_list td {
    padding: 2px 0;
}
.td1, .td2, .td3 {
    border-right: 1px solid #fff;
}
#draw_list thead, #draw_list tbody {
    margin: 0;
    padding: 0;
}
table#draw_list .bgcolor1 {
    background: none repeat scroll 0 0 #f5f5f5;
}
table#draw_list .bgcolor2 {
    background: none repeat scroll 0 0 #edecec;
    border-bottom: 1px solid #fff;
}
.td1, .td2, .td3, .td4 {
    text-align: center;
}
#draw_list thead .td3 {
    background: url(../images/draw/detail_bg.gif) no-repeat scroll -475px -64px transparent;
}