/*footers*/
* {
	margin:0;
	padding:0;
}
.foot_box {
    width: 990px;
    margin: 10px auto 0;
    font-size: 12px;
    overflow: hidden;
}
.foot_box .about_box {
    border-top: 1px #cfcfcf solid;
    margin-top: 10px;
}
.foot_box .about_box .about_left {
    float: left;
    padding: 8px 0;
}
.foot_box .about_box .about_left img{
	margin-right:5px;
	width:100px;
	height:41px;
}
.foot_box .about_box .about_right {
    float: left;
    padding: 15px 0 0 15px;
}
.foot_box .about_box .about_left .about_link {
    margin-bottom: 10px;
    line-height: 22px;
    color: #005aa0;
}
.foot_box .about_box .about_left .about_link a {
    margin: 0 5px;
}
.foot_box .about_box .about_left a {
    margin-right: 3px;
}
.foot_box .about_box .about_left .about_link a:hover {
    color: #f00;
    text-decoration: none;
}
.foot_box .about_box .about_right a:hover, .foot_box .about_box .about_right_passport a:hover {
    color: #f00;
    text-decoration: none;
}
a {
    text-decoration: none;
}
fieldset, img {
    border: 0;
}
img, input, select {
    vertical-align: middle;
}
.foot_box .about_box .about_right p, .foot_box .about_box .about_right_passport p {
    line-height: 20px;
    height: 20px;
    padding: 2px 0;
    color: #888;
}
.foot_box .about_box .about_right a, .foot_box .about_box .about_right_passport a {
    color: #888;
}


/*footer*/
.jc-footer {
    width: 100%;
}
.footer-cn {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 32px;
    width: 990px;
}
.footer-cn a:hover{text-decoration: underline;}
.cnLeft {
    float: left;
    width: 288px;
}
.cnLeft h4 {
    color: #666;
    font-family: "微软雅黑","Microsoft Yahei";
    font-size: 16px;
}
.footer-code {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: 108px;
    margin: 18px 0 30px;
    width: 108px;
}
.cnLeft .code-icon {
    background-position: -130px 0;
    height: 90px;
    margin: 9px;
    width: 90px;
}
.cnLeft p {
    color: #666;
    font-size: 12px;
    margin-bottom: 10px;
}
.send {
    height: 24px;
    position: relative;
    width: 194px;
}
.send .jc-put {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #cdcdcd -moz-use-text-color #cdcdcd #cdcdcd;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #9a9a9a;
    float: left;
    height: 14px;
    outline: 0 none;
    padding: 4px 12px 4px 6px;
}
.send .jc-btn {
    background: #fe9825 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 67px;
}
.cnRight {
    overflow: hidden;
    width: 702px;
}
.cnRight .cnTop {
    overflow: hidden;
}
.cnRight .cnTop .cn-list {
    float: left;
    overflow: hidden;
    width: 142px;
}
.cnRight .cnTop .cn-list h3 {
    color: #666;
    font-family: "微软雅黑","Microsoft Yahei";
    font-size: 16px;
    margin-bottom: 15px;
}
.cnRight .cnTop .cn-list ul {
    overflow: hidden;
}
.cnRight .cnTop .cn-list ul li {
    height: 26px;
    line-height: 26px;
}
.cnRight .cnTop .cn-list ul li a {
    color: #666;
}
.cnRight .cnTop .service {
    float: right;
    width: 215px;
}
.cnRight .cnTop .service ul li a {
    color: #f13131;
    margin-right: 6px;
}
.cnBtn {
    margin-top: 28px;
    overflow: hidden;
    width: 702px;
}
.cnBtn p {
    color: #666;
    float: left;
    font-family: "微软雅黑","Microsoft Yahei";
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    width: 166px;
}
.cnBtn p span {
    float: left;
    height: 40px;
    margin-right: 5px;
    width: 40px;
}
.cnBtn p span.explain01 {
    background-position: 0 -250px;
}
.cnBtn p span.explain02 {
    background-position: -50px -250px;
}
.cnBtn p span.explain03 {
    background-position: -100px -250px;
}
.cnBtn p span.explain04 {
    background-position: -150px -250px;
}
.cnBtn p span.explain05 {
    background-position: -200px -250px;
}

.jc-footer .footerBox {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border-top: 0 none;
    margin-top: 10px;
    width: 100%;
}
.jc-footer .footerBox img{margin-right:15px;margin-bottom:5px;}
.jc-footer .foot_box .about_box {
    border: 0 none;
    margin-top: 0;
}
.jc-footer .about_box {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 990px;
    border-top:1px solid #cfcfcf;
}
.jc-footer .about_box .about_link {
    color: #666;
    line-height: 30px;
}
.jc-footer .about_box .about_link a {
    color: #666;
    margin: 0 10px;
}
.jc-footer .about_box .about_mt {
    color: #666;
    height: 20px;
    line-height: 20px;
    padding: 3px 0;
}
.jc-footer .about_box .about_mt a {
    color: #666;
}
.jc-footer .about_box .remind {
    color: #999;
}
.jc-footer .about_box li {
    float: left;
    line-height: 30px;
    margin-right: 12px;
}
.jc-footer .about_box li a {
    color: #666;
}
.jc-footer .about_box a:hover {
    color: #f13131;
    text-decoration: none;
}
.float-btn {
    bottom: 300px;
    height: 100px;
    position: absolute;
    width: 46px;
    z-index: 10;
}
.float-btn .feedback {
    background-position: -350px -300px;
    height: 46px;
    width: 46px;
}
.float-btn .feedback:hover {
    background-position: -350px -350px;
}