.header-plus {
    background: #fff none repeat scroll 0 0;
    color: #666;
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 10;
}
/*member_header*/
.toptray-right {
    float: right;
    *text-align: right;
}
.bggrey {
    background-color: #f5f5f5;
}
#record_tb tr:hover{
	background-color: #ccc;
}
.toptray-right-l, .toptray-right-r {
    line-height: 36px;
    height: 36px;
    *overflow: hidden;
}
.toptray-right-l, .toptray-right-r {
    line-height: 36px;
    height: 36px;
    *overflow: hidden;
}
.header-plus .head-simple-toptray-bd .mylottery {
    padding: 0;
    height: 36px;
    line-height: 36px;
}
.header-plus .head-simple-toptray-bd .mylottery .lot_list {
    width: 86px;
    position: absolute;
    left: -1px;
    top: 28px;
    line-height: 22px;
    background: #fff;
    height: 130px;
    border: solid 1px #ccc;
    border-top: 0;
    padding: 2px;
    z-index: 9999;
}
.header-plus .head-simple-toptray-bd #mylottery .my-lottery {
    width: 78px;
    display: inline-block;
    padding: 0 8px 0 6px;
    line-height: 36px;
    height: 36px;
}
.header-plus a.color333 {
    color: #333;
}
.header-plus a.color333:hover {
    color: #f13131;
    text-decoration: none;
}
.header-plus a.color666 {
    color: #666;
}
.header-plus a.color666:hover {
    color: #f13131;
    text-decoration: none;
}
.header-plus a.colorRed {
    color: #f13131;
}
.header-plus .red {
    color: #f13131;
}
.header-plus a.colorRed:hover {
    text-decoration: underline;
}
.header-toptray-plus {
    background: #ededed none repeat scroll 0 0;
    color: #666;
    height: 30px;
    line-height: 30px;
    width: 100%;
    z-index: 111;
    position: fixed;
    font-size:12px;
}
.toptray-right li {
    float: left;
    position: relative;
}
.header-toptray-plus li.m14 {
    color: #d0d0d0;
    display: inline;
}
.toptray-plus {
}
.header-plus #toptray_not_login {
    float: right;
}
.header-plus .head-toptray-logo {
    position: relative;
}
.head-toptray-logo .logo_max{
	display: inline-block;
	margin: 15px 8px 15px 0;
}
.header-plus .logo-box h1 {
    height: 0;
    overflow: hidden;
    text-indent: -100%;
    white-space: nowrap;
    width: 0;
}
.header-plus .logo-box .logo-index-hd {
    width:130px;
    margin-right:10px;
}
.header-plus #wallet_container {
    float: left;
    margin-right: 5px;
    position: relative;
}
.header-plus .img-login-refresh {
    background-position: -30px -60px;
    height: 11px;
    margin: 0 6px;
    overflow: hidden;
    vertical-align: middle;
    width: 11px;
    cursor: pointer;
}
.header-plus .img-login-refresh:hover {
    background-position: -30px -60px;
}
.header-plus .pay-lock-grey {
    background-position: -20px 0;
    margin: 6px 0 0;
}
.header-plus .customerService-plus {
    bottom: 0;
    height: 26px;
    position: absolute;
    right: 0;
}
.header-plus .customerService-plus li {
    color: #666;
    float: left;
    font: 14px/26px "Microsoft Yahei";
    padding: 0;
}
.header-plus .customerService-plus li.online_service {
    color: #f13131;
    float: left;
    font: 14px/26px "Microsoft Yahei";
    padding: 0;
}
.header-plus .customerService-plus li.online_service .kf-top {
    border-right: 1px solid #f13131;
    display: inline-block;
    height: 12px;
    line-height: 10px;
    margin-right: 5px;
    padding-right: 5px;
}
.header-plus .customerService-plus i {
	background: rgba(0, 0, 0, 0) url(../images/index_optimize.png) repeat scroll 0 0;
    background-position: -120px -60px;
    height: 14px;
    margin-right: 4px;
    margin-top: -4px;
    vertical-align: middle;
    width: 18px;
}
.header-plus .customerService-plus a:link, .customerService-plus a:active {
    color: #f13131;
    text-decoration: none;
}
.header-plus .customerService-plus a:hover {
    text-decoration: underline;
}
.my-lottery {
    display: inline-block;
    line-height: 30px;
    width: 80px;
}
.header-plus .mylottery {
    height: 30px;
    line-height: 30px;
    padding: 0;
}
.header-plus #toptray_not_login .my-lottery {
}
.header-plus #mylottery .my-lottery {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 8px 0 6px;
    width: 78px;
}
.header-plus #toptray_not_login .my-lottery em {
    background-position: -60px -60px;
    height: 6px;
    margin-left: 5px;
    overflow: hidden;
    vertical-align: middle;
    width: 11px;
}
.header-plus #toptray_not_login .my-lottery:hover em {
    transform: rotate(0deg);
}
.header-plus #mylottery .my-lottery em {
    background-position: -60px -60px;
    height: 6px;
    margin-left: 5px;
    overflow: hidden;
    transition: transform 0.2s ease-in 0s;
    vertical-align: middle;
    width: 11px;
}
.header-plus #unread_count_num {
}
.header-plus .header-show-money {
}
.header-plus #toptray_login {
}
.header-plus #mylottery {
    position: relative;
}
.header-plus .mylottery-on {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #ccc;
    border-image: none;
    border-style: none solid;
    border-width: 0 1px;
    width: 90px;
}
.header-plus .mylottery-on .my-lottery {
    padding-left: 5px;
}
.header-plus .mylottery-on .my-lottery em {
    transform: rotate(180deg);
}
.header-plus .my-lottery .nosign-hd {
    width: 7px;
    height: 10px;
    display: inline-block;
    margin: 0 2px -1px 0;
}
.header-plus .mylottery .lot_list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #ccc #ccc;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    left: -1px;
    line-height: 22px;
    padding: 2px;
    position: absolute;
    top: 23px;
    width: 86px;
    z-index: 9999;
}
.header-plus .mylottery .lot_list li {
    padding-left: 13px;
    white-space: nowrap;
}
.header-plus .mylottery .lot_list li a {
    color: #666;
}
.header-plus .mylottery .lot_list li a:hover {
    color: #f13131;
    text-decoration: none;
}
.header-plus #wallet_detail {
    z-index: 99999;
}
.header-plus .header_sign {
    background: rgba(0, 0, 0, 0) url("../images/sign.gif") no-repeat scroll 0 0;
    display: inline-block;
    height: 10px;
    margin: 0 2px -1px 0;
    width: 7px;
}
.header-plus .nosign {
    display: inline-block;
    height: 10px;
    margin: 0 2px -1px 0;
    width: 7px;
}
#header_plus #unread_num_new {
    background-position: -72px -60px;
    height: 11px;
    overflow: hidden;
    vertical-align: middle;
    width: 13px;
    display:inline-block;
}
/*message*/
.message_ts_p{
    background: #ff0000;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    left: 25px;
    top: 5px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    animation:messageTs 1s infinite;
	-webkit-animation:messageTs 1s infinite; /* Safari 和 Chrome */
}

.hidn{
	display:none;
}

@keyframes messageTs
{
25% {-webkit-transform: translateY(5px);}
50%, 100% {-webkit-transform: translateY(0);}
75% {-webkit-transform: translateY(-5px);}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
25% {-webkit-transform: translateY(5px);}
50%, 100% {-webkit-transform: translateY(0);}
75% {-webkit-transform: translateY(-5px);}
}