.box_top, .box_top_l {
    background: url(../images/joint/box_top_bg.png) no-repeat right top;
    font-size: 0;
    height: 4px;
    line-height: 4px;
    margin-top:5px;
}
.box_top_l {
    background-position: 0 0;
    width: 5px;
}
.box_m {
    border: 1px solid #cccccc;
    border-top: none;
    min-height: 20px;
    _height: 20px;
    padding-bottom:1px;
}
.det_g_t {
    background: url(../images/joint/fg_t_bg.png) repeat-y;
    background: #f5f5f5;
    border-bottom: 1px solid #cccccc;
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
    font-weight: bold;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.buy_table .td_title2 {
    width: 120px;
}
.buy_table .td_title, .buy_table .td_title2 {
    background: #f5f5f5;
    color: #999;
    padding: 15px 0;
    text-align: center;
    width: 90px;
    vertical-align: middle;
}
.buy_table td {
    border-bottom: 1px solid #e0e2e1;
    font-size:12px;
}
.buy_table td, .th_on .buy_table td {
    background: #fff;
}
.buy_table td {
    border-bottom: 1px solid #cccccc;
}
.buy_table .con_content {
    background: #fff;
    padding: 10px 20px;
    text-align: left;
    vertical-align: middle;
}
.eng {
    font-family: Tahoma, Geneva, sans-serif;
}
.tdbback {
    background: #dce6f4;
    margin-top: 5px;
    padding: 3px;
    zoom: 1;
}
.tablelay {
    text-align: center;
    border: 1px solid #cccccc;
}
table.tablelay th {
    background: #f5f5f5;
    color: #333;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    font-size:12px;
}
.tablelay th.last_th {
    border-right: 0;
}

.buy_table tr.last_tr td {
    border-bottom: 0;
}
td table.tablelay td, table.tablelay td {
    background: #fff;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    height: 26px;
    line-height: 26px;
    padding: 0;
}
.buy_table .con_content p {
    line-height: 24px;
}
.copy_link a:hover ,.qznav a.m_link:hover,p a:hover{
    color: #e50008;
    text-decoration: underline;
}

.yh_tab {
    height: 31px;
    line-height: 30px;
    background: url(../images/joint/yh_bg.png) repeat-x;
    padding-left: 10px;
    margin-top: 10px;
}
.yh_tab ul {
    border-left: 1px solid #b4d8fc;
}
.yh_tab ul li {
    float: left;
    font-size: 12px;
    background: url(../images/joint/yh_li_bg.png) repeat-x;
    color: #0F3F94;
    width: 126px;
    text-align: center;
    border-top: 1px solid #b4d8fc;
    border-right: 1px solid #b4d8fc;
    cursor: pointer;
    height: 30px;
}
.yh_tab ul li.an_cur {
    background: #fff;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.hm_tb_t {
    text-align: center;
    font-size:12px;
}
.hm_tb_t th {
    background: url(../images/joint/hm_th_bg.png) repeat-x;
    height: 33px;
    line-height: 33px;
    color: #999;
    font-weight: normal;
}
.hm_tb_t tr.my td {
    color: #f00;
}
.hm_tb_t td {
    height: 30px;
    border: 0;
}


.qznav .s-logo {
    position: absolute;
    left: 20px;
    top: 6px;
    width: 72px;
    height: 72px;
}
.qznav .det_h {
    padding: 10px 0 10px 118px;
}
.qznav a.m_link {
    width: 120px;
    line-height: 28px;
    text-align: right;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    position: absolute;
    right: 10px;
    top: 2px;
    _right: 10px;
}
.qznav .det_h h2 {
    font-size: 16px;
    line-height: 30px;
}
.qznav .det_h p {
    margin-top: 8px;
    color: #999;
}
.m_r25 {
    margin-right: 25px;
}
.qznav a.m_link{
	color:#666666;
}
.green, .green a, a.green {
    color: #090;
}
.blue, .blue a, a.blue {
    color: #0F3F94;
}
a.btn_buy_m {
    background: url(../images/joint/sprite_btn.png) no-repeat;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    /* border: 0; */
    vertical-align: middle;
}
.buy_btn {
    width: 160px;
    float: right;
    padding-top: 10px;
}
.buy_btn .btn_buy_m, .buy_btn .btn_buy_hm {
    display: block; 
   	margin: 0 auto; 
}
.btn_buy_m, a.btn_buy_m {
    background-position: 0 -176px;
    width: 130px;
    height: 45px;
    line-height: 45px;
    font-size: 0;
    overflow: hidden;
    text-indent: -9999px;
}
.i-hp, .i-tp, .s-hot-l a, .s-td s, .s-td li, .i-dis, .i-jb, .i-sj, .i-qw, .buy_sort span.add_info, .i-yx {
    background: url(../images/joint/icon.png) no-repeat -200em -200em;
}
.i-qw, .i-tp, .i-jb, .i-sj {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: right -64px;
}
.i-jb {
    height: 13px;
    background-position: right -79px;
    vertical-align: -2px;
}
.mul, .amount {
    width: 42px;
    height: 18px;
    line-height: 18px;
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    margin-right: 8px;
    padding-left: 2px;
}
.hide_sp {
    width: 20px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}