/*快三*/
.sscCheckNumber ul{
  text-align: center;
}
.sscCheckNumber ul li {
  display: inline-block;
  margin: 12px 15px;
  vertical-align: top;
}
.sscCheckNumber ul li a {
  box-shadow: 0 1px 5px #d4d4d4;
  display: block;
  background: linear-gradient(180deg,#fff 0,#f1efef 90%,#f7f7f7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f7f7f7",GradientType=0);
  border-radius: 5px;
  border: 1px solid #c0c5d2;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  color: #000;
  text-align: center;
  min-width: 52px;
}
.sscCheckNumber a.curr , .sscCheckNumber a:hover {
  background: -ms-linear-gradient(to bottom,#d64b15 30%,#ea6a31 100%);
  background: linear-gradient(180deg,#d64b15 30%,#ea6a31);
  background: -moz-linear-gradient(to bottom,#d64b15 30%,#ea6a31 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d64b15",endColorstr="#ea6a31",GradientType=0);
  border: 1px solid #d24c10;
  color: #fff;
  text-decoration: blink;
  box-shadow: inherit;
}
.ResultsList th.zhuangtai em {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 2px;
  color: #fff;
  vertical-align: middle;
  line-height: 18px;
  margin-left: 5px;
}
.ResultsList th.zhuangtai em.da, .ResultsList th.zhuangtai em.dan {
  background: #5691d7;
}
.ResultsList th.zhuangtai em.shuang, .ResultsList th.zhuangtai em.xiao {
  background: #ff9726;
}
.ResultsList th.zhuangtai em.baozi, .ResultsList th.zhuangtai em.baozi {
  background: #fd0000;
}

.buyNumber a, .buyNumber ins {
    display: inline-block;
    margin: 0 6px;
    background: #cecece;
    border: 1px solid #c0c5d2;
    line-height: 38px;
    font-size: 23px;
    color: #404040;
    box-shadow: 0 1px 3px #d4d4d4, inset 0 -1px 5px #fff;
    text-align: center;
    background: linear-gradient(180deg,#fff,#f1efef);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f1efef",GradientType=0);
    *: ;
    -webkit-filter: none;
    filter: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.buyNumberFilter {
    width: 107px;
    float: right;
    padding: 0 0px 0 0px;
}

.buyNumberFilter a {
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 1px solid #c1c6d2;
    margin: 2px 3px;
    border-radius: 2px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #404040;
    box-shadow: inset 0 -1px 5px #fff;
    background: linear-gradient(180deg,#fff,#f1efef);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f1efef",GradientType=0);
}
