/*.hd_main *{	
	-webkit-transition: all 0.2s;
    transition: all 0.2s;}*/

.hd_main {
	width: 1000px;
	margin: 0 auto;
}

.hd_main a:link, .hd_main a:hover, .hd_main a:visited {
	color: #666
}

.hd_main a:hover {
	color: #f13131;
	text-decoration: none
}

.hd_main a.link-blue:link, .hd_main .link-blue:visited {
	color: #005aa0
}

.hd_main a.link-blue:hover {
	color: #f13131
}

.hd_main a.link-gray:link, .hd_main a.link-gray:visited {
	color: #666
}

.hd_main a.link-gray:hover {
	color: #f13131
}

.hd_main a.link-lightgray:link, .hd_main a.link-lightgray:visited {
	color: #999
}

.hd_main a.link-lightgray:hover {
	color: #f13131
}

.hd_main a.link-lightblue:link, .hd_main a.link-lightblue:visited {
	color: #005aa0
}

.hd_main a.link-lightblue:hover {
	color: #f13131
}

.input-text {
	height: 22px;
	line-height: 22px;
	padding: 0 3px;
	background: #fff;
	color: #999;
	border: 1px solid #ccc;
	vertical-align: top;
	*vertical-align: middle
}

em {
	font-style: normal
}

.font24 {
	font-size: 24px
}

.red {
	color: #f13131
}

.blue {
	color: #005aa0
}

.gray {
	color: #999
}

.c_333 {
	color: #333
}

.clear {
	overflow: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0
}

.notetip {
	display: none;
	padding: 0 7px;
	line-height: 20px;
	background: #fffaec;
	color: #333;
	border: 1px solid #e5ce8c;
	word-break: keep-all;
	white-space: nowrap;
	word-wrap: normal
}

.notetip b {
	position: absolute;
	line-height: 1px;
	font-size: 1px
}

.notetip p {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle
}

.notetip b.r {
	left: -5px;
	top: 6px;
	width: 5px;
	height: 9px;
	background-position: -140px -68px
}

.notetip b.t {
	left: 0;
	top: -5px;
	width: 9px;
	height: 5px;
	background-position: -160px -70px
}

.notetip b.l {
	right: -5px;
	top: 6px;
	width: 5px;
	height: 9px;
	background-position: -184px -68px
}

.notetip .close {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	cursor: pointer;
	background-position: -4px -84px;
	width: 20px;
	height: 20px
}

.notetip b, .close, .ball_select, .draw_example, .ball_select,
	.draw_example_float, .dot, .ball_select_tip_error {
	background: url(../images/lottery/drawIcon.png) no-repeat;
	_background-image: url(../images/lottery/drawIcon.gif)
}

.btn {
	background: url(../images/lottery/drawBtnbg.png) no-repeat
}

.tooltip {
	background: #fff;
	position: absolute;
	opacity: .8;
	top: 60px;
	z-index: 1;
	border: 1px solid #999;
	padding: 5px
}

.ssqIcon {
	display: inline-block;
	width: 22px;
	height: 22px;
	line-height: 1px;
	vertical-align: top;
	*vertical-align: middle;
	font-size: 1px;
	background: url(../images/lottery/drawIcon.png) no-repeat;
	_background-image: url(../images/lottery/drawIcon.gif)
}

.ssqIcon-del {
	background-position: 0 0
}

.ssqIcon-del-hov {
	background-position: -22px 0
}

.ssqIcon-ask {
	background-position: -44px 0
}

.ssqIcon-activity {
	background-position: -88px 0
}

.ssqIcon-light {
	background-position: -66px 0
}

.ssqIcon-dot {
	background-position: -132px 0
}

a:hover .ssqIcon-dot {
	background-position: -154px 0
}

a.active:link .ssqIcon-dot, a.active:hover .ssqIcon-dot, a.active:visited .ssqIcon-dot
	{
	background-position: -176px 0
}

.ssqIcon-attows1 {
	background-position: -119px -85px;
	width: 4px;
	height: 20px;
	position: absolute
}

.ssqIcon-drop {
	background-position: 0 -62px
}

a:hover .ssqIcon-drop {
	background-position: -44px -84px
}

.active .ssqIcon-drop {
	background-position: -88px -84px
}

.active a:hover .ssqIcon-drop {
	background-position: -66px -84px
}

.ssqIcon-uparrow {
	background-position: -40px -164px;
	width: 91px;
	height: 13px;
	position: absolute;
	bottom: -13px;
	left: 50%;
	margin-left: -45px;
	cursor: pointer
}

.ssqIcon-arrowL {
	background-position: -176px -150px
}

.hdicon {
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	line-height: 1px;
	vertical-align: top;
	*vertical-align: middle;
	font-size: 1px;
	background: url(../images/lottery/icon.png) no-repeat;
	_background-image: url(../images/lottery/icon_ie6.png)
}

.icon-del {
	background-position: 0 0
}

.icon-del-hov {
	background-position: -22px 0
}

.icon-ask {
	background-position: -88px 0
}

.icon-activity {
	background-position: -44px -41px
}

.icon-light {
	background-position: -66px 0
}

.icon-attowsgr {
	background-position: -185px 0;
	width: 4px
}

.icon-dot {
	background-position: -66px -22px
}

a.active:link .icon-dot, a.active:hover .icon-dot, a.active:visited .icon-dot
	{
	background-position: -44px -22px
}

.icon-close {
	background-position: -88px -22px
}

.icon-close2 {
	background-position: -202px 0
}

.icon-dot2 {
	width: 12px;
	height: 7px;
	background-position: -115px -29px
}

.icon-acending {
	background-position: -154px -22px;
	cursor: pointer
}

.icon-descending {
	background-position: -132px -22px;
	cursor: pointer
}

.icon-uparrow {
	background-position: 0 -207px;
	width: 91px;
	height: 13px;
	position: absolute;
	bottom: -13px;
	left: 50%;
	margin-left: -45px;
	cursor: pointer
}

.icon-close-big {
	background-position: -44px 0
}

.icon-tiperror {
	background-position: -22px -44px
}

.ball_select {
	height: 24px;
	margin-bottom: 16px;
	line-height: 24px;
	padding: 0;
	color: #333;
	background-position: 0 -114px;
	background-repeat: repeat-x
}

.ball_select .clearball {
	float: right;
	display: inline;
	padding: 0 0 0 10px;
	background: #fff
}

.ball_select select {
	height: 24px;
	vertical-align: top;
	*vertical-align: -3px
}

.ball_select_text {
	float: left;
	display: inline;
	padding: 0 5px 0 0;
	background: #fff
}

.ball_select_text .red, .ball_select_text .blue, .ball_select_text .black
	{
	font-weight: bold
}

.ball_select_other {
	float: right;
	*width: 152px;
	background: #fff
}
.ball_select_other .link_sel{
	cursor: pointer;
	line-height: 23px !important;
	padding:0 5px !important; 
}
.ball_select_other .link_sel, .ball_select_other .link_sel,
	.trend_box .link_sel:link, .trend_box .link_sel:visited {
	display: inline-block;
	height: 22px;
	line-height: 20px;
	padding-left: 10px;
	vertical-align: top;
	*vertical-align: middle;
	border-radius: 2px;
	border: 1px solid #e1e1e1;
	color: #666;
	background: #fafafa;
	display: inline-block;
	height: 22px;
	line-height: 20px;
	padding-left: 10px;
	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa),
		to(#efefef));
	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
	background-image: -o-linear-gradient(top, #fafafa, #efefef);
	background-image: linear-gradient(to bottom, #fafafa, #efefef);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa',
		endColorstr='#ffefefef', GradientType=0)
}

.ball_select_other .link_sel:hover, .trend_box .link_sel:hover {
	background: #fff
}

.ball_select_other .active:link, .ball_select_other .active:hover,
	.ball_select_other .active:visited, .trend_box .active:link, .trend_box .active:hover,
	.trend_box .active:visited {
	position: relative;
	z-index: 1;
	color: #666;
	border-color: #ccc;
	position: relative;
	z-index: 1;
	background-color: #c80c00;
	background-image: -moz-linear-gradient(top, #ececec, #fff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec),
		to(#fff));
	background-image: -webkit-linear-gradient(top, #ececec, #fff);
	background-image: -o-linear-gradient(top, #ececec, #fff);
	background-image: linear-gradient(to bottom, #ececec, #fff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffececec',
		endColorstr='#ffffff', GradientType=0)
}

.ball_select_tip {
	float: left;
	line-height: 16px;
	padding: 4px 10px;
	background: #fff
}

.ball_select_tip .ball_select_tip_error {
	display: inline-block;
	width: 22px;
	height: 22px;
	line-height: 1px;
	margin-right: 5px;
	background-position: -22px -22px;
	font-size: 1px;
	vertical-align: top;
	*vertical-align: middle
}

.ball_select .tz_box_tit {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	float:left;
	margin-right: 5px;
}

.ball_select .grey {
	color: #999;
	float:left;
	max-width: 270px;
    height: 23px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ball_select .draw_example {
	display: inline-block;
	zoom: 1;
	color: #666;
	background-position: 0 -106px
}

.ball_select .draw_example:link, .ball_select .draw_example:visited {
	color: #666
}

.ball_select .draw_example_float {
	display: inline-block;
	zoom: 1;
	color: #666;
	background-position: 0 -106px
}

.ball_select .draw_example_float:link, .ball_select .draw_example_float:visited
	{
	color: #666
}

.trend_box, .trend_chart_phase, .trend_chart_digit {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
}
.trend_box .link_sel {
	margin-left: -1px
}

.trend_chart_titl {
	padding-left: 30px;
	float: left
}

.trend_chart_titr {
	float: right;
	display: inline;
	margin-right: 50px
}

.trend_chart_titr .button:link, .trend_chart_titr .button:hover,
	.trend_chart_titr .button:visited {
	color: #333;
	margin-left: 10px
}

.trend_chart_titl .tit {
	font-size: 14px;
	font-style: normal;
	display: inline-block;
	zoom: 1;
	margin-right: 7px;
	font-family: "Microsoft YaHei"
}

.trend_chart_phase .link_sel:link, .trend_chart_phase .link_sel:visited
	{
	display: inline-block;
    margin: 0 -1px 0px 0;
    padding: 0 2px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    vertical-align: top;
    color: #666;
    background: #ffffff;
    border: 1px solid #ccc;
}

.trend_chart_phase .link_sel:hover {
	color: #f13131
}

.trend_chart_phase .active:link, .trend_chart_phase .active:hover,
	.trend_chart_phase .active:visited {
	position: relative;
    z-index: 1;
    color: #ffffff;
    border: 1px solid #ff8900;
    background: #ff8900;
}

.trend_chart_digit .link_sel:link, .trend_chart_digit .link_sel:visited
	{
	color: #333;
	cursor: pointer;
	display: inline-block;
	zoom: 1;
	margin: 2px 0 0 -1px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 0 3px;
	height: 18px;
	line-height: 18px;
	text-align: center
}

.trend_chart_digit .link_sel:hover {
	color: #333
}

.trend_chart_digit .active:link, .trend_chart_digit .active:hover,
	.trend_chart_digit .active:visited {
	border: 1px solid #e18600;
	background: #ff8900;
	color: #fff
}

.trend_chart_box {
	position: relative;
	padding: 24px 0 0 20px;
	border: 1px solid #e1e1e1;
	background: #fafafa;
	margin-bottom: 20px
}

.trend_chart_box .dot {
	position: absolute;
	top: -6px;
	right: 241px;
	width: 11px;
	height: 6px;
	line-height: 1px;
	background-position: -181px -91px;
	font-size: 1px
}

.trend_chart_box .close {
	position: absolute;
	display: clock;
	right: 2px;
	top: 0;
	width: 20px;
	height: 20px;
	margin-left: 0;
	background-position: -22px -84px;
	cursor: pointer
}

.trend_chart_list {
	padding: 10px 0 20px;
	overflow: hidden;
	width: 820px
}

.trend_chart_list table {
	width: 748px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-left: 30px
}

.trend_chart_list table td {
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	color: #666
}

.trend_chart_list table .red {
	color: #f13131;
	font-weight: bold
}

.trend_chart_list table .grey {
	color: #333;
	font-weight: bold
}

.trend_chart_warning {
	display: inline-block;
	zoom: 1;
	margin-left: 20px;
	color: #999
}

#xh_dansha .tzmain_left .tzmain_num1, .xh_dansha .tzmain_left {
	height: 396px
}

#xh_dansha .ball_select .clearball, .xh_dansha .ball_select .clearball {
	white-space: nowrap
}

#xh_dansha .tzmain_right .tit1, .xh_dansha .tzmain_right .tit1 {
	height: auto
}

#xh_lucky .tz_box {
	background: url(/img/lottery/luckynumberinnerbg.jpg) no-repeat 52px 0
}

#xh_lucky div.tzmain_left div.num1_ssq_guolv, .xh_lucky div.tzmain_left div.num1_ssq_guolv
	{
	height: 500px
}

#xh_shrink .random, .xh_shrink .random {
	float: none;
	margin: 15px 0 0 160px
}

#xh_shrink .tzmain_left .tzmain_num1, .xh_shrink .tzmain_left .tzmain_num1
	{
	height: 500px
}

#xh_shrink .tzmain_right .ball_select, .xh_shrink .tzmain_right .ball_select
	{
	width: 100%;
	margin: 10px 0 0
}

#xh_shrink .random, .xh_shrink .random {
	float: none;
	margin: 15px 0 0 160px
}

#xh_shrink_select_info_blue, .xh_shrink_select_info_blue {
	width: 185px;
	margin-top: 5px;
	text-align: center
}

.upmain {
	width: 750px;
	margin: 0 auto 20px;
	line-height: 22px
}

.upmain h4 {
	color: #666;
	padding: 0 0 6px 0
}

.upmain p {
	color: #999
}

.upmain .upfile {
	margin: 10px 0 0 0;
	line-height: 26px
}

.upmain .upfile .file {
	height: 26px;
	vertical-align: top;
	*vertical-align: middle
}

.explanatory-text {
	padding-left: 24px
}

.explanatory-text span {
	display: inline;
	float: left;
	margin-left: -24px
}


.zx_hezhi_float_layer {
	height: 350px
}

.zx_hezhi_float_layer .hd-layer {
	height: 280px
}

.zs_standard_float_layer {
	height: 300px
}

.zs_standard_float_layer .hd-layer {
	height: 230px
}

.zl_hezhi_float_layer {
	height: 360px
}

.zl_hezhi_float_layer .hd-layer {
	height: 290px
}

.for_checkbox:hover {
	color: #f13131
}

.for_checkbox_active {
	color: #f13131
}

.xh_shrink_disclaimer {
	text-align: center;
	color: #999
}

.tzmain {
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8
}

.tzmain .xhmain {
	width: 850px;
	margin: 0 auto;
	padding: 0;
	background: 0;
	position: relative;
}

.tzmain .tz_box {
	width: 850px;
	margin: 0 auto
}

.tzmain .tz_box_big {
	width: 100%
}

.ballmain {
	width: 750px;
	float: left;
	display: inline;
	margin:10px 0;
}

.ballmain td {
	line-height: 22px;
	padding: 10px 0 5px;
	text-align: left
}

.ballmain td span {
	color: #999
}

.ballmain .ball-number-tit {
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	font-weight: bold
}

.ballmain .ball-number-red {
	float: left;
	width: 555px;
	_width: 540px
}

.ballmain .ball-number-blue {
	float: left;
	width: 300px
}

.ballmain .ball-number-left {
	float: left;
	display: inline;
	min-width: 62px;
	margin: 14px 10px 0 0
}

.ballmain .ball-number-left-text {
	position: relative;
	height: 24px;
	margin-bottom: 4px
}

.ballmain .ball-number-left-text .tit {
	display: inline-block;
	*zoom: 1;
	background: #f3f3f3;
	min-width: 58px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: #999
}

.ballmain .ball-number-out {
	float: left;
	display: inline;
	margin-top: 4px
}

.ballmain .ball-number-right {
	float: left;
	display: inline;
	width: 130px;
	margin-left: 14px;
	color: #ccc
}

.ballmain .ball-number-right a:link, .ballmain .ball-number-right a:visited
	{
	color: #666
}

.ballmain .ball-number-right a:hover {
	color: #f13131;
	text-decoration: none
}

.w850 {
	width: 850px
}

.w850 .ball-number-out {
	width: 788px;
	margin-right: -10px;
	position: relative;
	_margin-left: -18px
}

.ballmain .w520 {
	width: 520px;
	/*overflow: hidden*/
}

.ballmain .ball-number-right select {
	width: 54px
}

.ball-number-left .drop {
	height: 22px;
	line-height: 22px;
	margin: 2px 0 0 0;
	width: 75px;
	color: #999;
	position: relative
}

.ball-number-left .drop a:link, .left_text .drop a:visited {
	color: #999
}

.ball-number-left .drop a:hover {
	color: #f13131
}

.ball-number-left .drop label {
	cursor: pointer
}

.ball-number-left .drop label:hover {
	color: #f13131
}

.ball-number-left .setdan {
	line-height: 22px;
	margin-top: 4px;
	color: #999
}

.ball-number-left .drop .notetip {
	position: absolute;
	left: 75px;
	top: 2px;
	z-index: 2
}

.machine-selected-out {
	float: right;
	display: inline;
	width: 100px;
	padding: 50px 0 0
}

.machine-selected-out .tit {
	background: url(../images/lottery/machine_sel_tit.png) 0 0 no-repeat;
	width: 99px;
	height: 14px
}

.ball-number-machine-zx-hezhi {
	position: absolute;
	right: 10px;
	bottom: 42px
}

.ball-number-machine-zs-hezhi {
	position: absolute;
	right: 110px;
	bottom: 42px
}

.ball-number-machine-zl-hezhi {
	position: absolute;
	right: 320px;
	bottom: 42px
}

.ballmain .ball_default, .ballmain .ball_red, .ballmain .ball_blue,
	.ballmain .ball_sha {
	width: 44px;
	height: 44px;
	line-height: 40px;
	background: url(../images/lottery/ballsbg.png) no-repeat;
	_background-image: url(../images/lottery/ballsbg.gif);
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	font-size: 18px;
	font-family: "微软雅黑"
}

.ballmain .ball_default {
	background-position: 0 -26px;
	color: #333;
	display: inline-block;
}

.ballmain .ball_wrapper {
	float: left;
	width: 44px;
	padding-bottom: 7px;
	padding-right: 8px;
	-moz-user-select: none;
}

.ballmain .ball_wrapper .ball_red {
	background-position: 0 -70px;
	color: #fff;
	-webkit-animation: beat .5s ease-out;
    animation: beat .5s ease-out;
    display: inline-block;
}

.ballmain .ball_wrapper .ball_sha {
	background-position: 0 -294px;
	color: #999
}

.ball-number-out .ball_default.hover, .ball-number-out .ball_default:hover
	{
	background-position: 0 -114px;
	color: #f13131
}

.ball_wrapper .ball_extend_data {
	width: 44px;
	height: 26px;
	line-height: 22px;
	margin-top: -5px;
	padding-top: 2px;
	text-align: center;
	font-weight: normal;
	color: #999
}

.ballmain .number_select {
	margin-top: 18px
}

.ballmain .ball-type {
	padding-left: 3px;
	margin-right: 18px;
	font-size: 14px;
	font-weight: bold
}

.ballmain .ball-type-blue {
	margin-right: 12px;
	font-size: 14px;
	font-weight: bold;
	color: #005aa0
}

.ballmain .ball-number-red .ball-type {
	color: #f13131
}

.ballmain .ball-number-blue .ball-type {
	color: #005aa0
}

.ballmain .randomred, .ballmain .randomblue {
	height: 24px;
	line-height: 22px
}

.ballmain .randomred span, .ballmain .randomblue span {
	float: left
}

.ballmain .randomred select, .ballmain .randomblue select {
	float: left;
	*margin-top: 1px;
	height: 24px;
	height: auto\9;
	padding: 3px 0\9
}

.ballmain .randomred input, .ballmain .randomblue input {
	float: left
}

.ballmain .randomred .button, .ballmain .randomblue .button {
	margin: 0 10px
}

.ballmain .randomred a.gray:hover, .ballmain .randomblue a.gray:hover {
	color: #f13131
}

.random_big_btn {
	width: 86px;
	height: 31px;
	display: block;
	margin: 10px auto;
	background: #ffeec5;
	border-bottom: 1px solid #ebdbb6;
	text-align: center;
	line-height: 32px;
	color: #998f76;
	font-size: 14px;
	font-family: "Microsoft YaHei"
}

.random_big_btn:hover {
	text-decoration: none;
	color: #d20c00
}

.random_big_btn:link, .random_big_btn:visited {
	color: #999
}

.input-text {
	height: 22px;
	line-height: 22px;
	padding: 0 3px;
	background: #fff;
	color: #999;
	border: 1px solid #ccc;
	vertical-align: top;
	*vertical-align: middle
}

.line_multiple_val {
	position: relative;
	display: inline
}

.line_multiple_va .notetip {
	display: block;
	position: absolute;
	left: -50px;
	top: 22px;
	*top: 27px;
	width: 160px
}

.line_multiple_va .notetip b.t {
	left: 65px
}

.line_multiple_va .notetip a {
	margin-left: 10px
}

.line_multiple_va .notetip .close {
	position: absolute;
	right: 2px;
	top: 0;
	width: 20px;
	height: 20px;
	margin-left: 0;
	background-position: -22px -84px
}

.zngl_tip_box {
	position: relative;
	margin-left: -1px
}

.zngl_tip_box .notetip {
	position: absolute;
	left: 0;
	top: 26px
}

.zngl_tip_box .notetip b.t {
	left: 32px
}

.tz_box_but {
	padding: 10px 0 20px;
	width: 850px;
    margin: 0 auto;
    text-align: center;
}

.tz_box_but_active {
	padding: 0
}

.tz_box_but_active .btn {
	display: none
}

.tz_box_but_active .lot_submit {
	margin-top: 0
}

.btn {
	display: inline-block;
	zoom: 1;
	border: 0;
	vertical-align: top;
	*vertical-align: middle;
	text-align: center;
	cursor: pointer;
	color: #fff;
	font: 18px 'Microsoft YaHei'
}

.btn-add {
	/*background: #ff9726;*/
	width: 152px;
	height: 44px;
	margin: 0 auto;
	border-radius: 2px;background-position: 0 -44px;
}

.btn-add:hover {
	/*background: #ff6824*/
	background-position: 0 0;
}

.btn-sub {
	background: #f13131;
	width: 152px;
	height: 44px;
	margin: 0 auto;
	border-radius: 2px;
	display: block
}

.btn-sub:hover {
	background: #d61818
}

.button {
	display: inline-block;
	zoom: 1;
	width: 65px;
	height: 22px;
	line-height: 22px;
	padding: 0;
	color: #333;
	cursor: pointer;
	text-align: center;
	vertical-align: top;
	*vertical-align: middle;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa),
		to(#efefef));
	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
	background-image: -o-linear-gradient(top, #fafafa, #efefef);
	background-image: linear-gradient(to bottom, #fafafa, #efefef);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa',
		endColorstr='#ffefefef', GradientType=0)
}

.button:hover {
	border-color: #e3c771;
	background-color: #ffe8b1;
	background-image: -moz-linear-gradient(top, #ffefca, #ffe29c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffefca),
		to(#ffe29c));
	background-image: -webkit-linear-gradient(top, #ffefca, #ffe29c);
	background-image: -o-linear-gradient(top, #ffefca, #ffe29c);
	background-image: linear-gradient(to bottom, #ffefca, #ffe29c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffefca',
		endColorstr='#ffffe29c', GradientType=0)
}

.button-small {
	width: 40px;
	height: 24px;
	line-height: 20px
}

.button-default {
	width: 60px;
	height: 24px;
	line-height: 20px
}

.btnbg {
	display: inline-block;
	zoom: 1;
	background: url(../images/lottery/btnbg.png) no-repeat;
	_background-image: url(../images/lottery/btnbg_ie6.png)
}

.random_btn1 {
	width: 80px;
	height: 26px;
	background-position: 0 0;
	margin-left: 10px
}

.random_btn1:hover {
	background-position: 0 -52px
}

.random_btn5 {
	width: 80px;
	height: 26px;
	background-position: 0 -26px;
	margin-left: 10px
}

.random_btn5:hover {
	background-position: 0 -78px
}

.xh_guolv .table_margin {
	width: 750px;
	margin: 0 auto
}

.xh_guolv_select {
	position: relative;
	padding: 22px 40px;
	background-color: #fafafa;
	border: 1px solid #e1e1e1
}

.xh_guolv_select .close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	line-height: 1px;
	background-position: -22px -84px;
	font-size: 1px
}

.xh_guolv_select .dot {
	position: absolute;
	top: -6px;
	right: 136px;
	width: 11px;
	height: 7px;
	line-height: 1px;
	background-position: -181px -91px;
	font-size: 1px
}

.xh_guolv_select h4 {
	padding-bottom: 10px;
	font-size: 12px
}

.xh_guolv_select h4 a {
	margin-left: 10px;
	font-weight: normal
}

.xh_guolv_select table {
	float: left;
	display: inline
}

.xh_guolv_select tr td {
	line-height: 24px;
	height: 24px;
	padding: 3px 0
}

.xh_guolv_select tr td.last {
	padding-left: 10px
}

.xh_guolv_select select {
	width: 50px;
	height: 24px
}

.xh_guolv_select_info {
	padding-top: 8px;
	line-height: 24px;
	text-align: center
}

.xh_guolv_select_info select {
	height: 24px;
	vertical-align: top;
	*vertical-align: middle
}

.xh_guolv_select .dan span {
	margin-right: 10px;
	cursor: pointer;
	width: 28px;
	height: 28px;
	display: inline-block;
	zoom: 1;
	line-height: 28px;
	text-align: center;
	background: url(../images/lottery/ballsbg.png) no-repeat 0 -158px;
	_background-image: url(../images/lottery/ballsbg.gif)
}

.xh_guolv_select .dan span.select {
	background-position: 0 -186px;
	color: #fff
}

.xh_guolv_select_info input {
	width: 36px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #ccc
}

.xh_guolv_select .dan span.active {
	background-position: 0 -338px
}

.select_list {
	color: #333;
	font-size: 12px
}

.select_list li {
	margin-top: 0
}

.select_list .select_list_body {
	border: 1px solid #e1e1e1
}

.select_list .select_list_head {
	padding: 3px 12px;
	line-height: 24px;
	background: #fafafa;
	border-bottom: 1px solid #e1e1e1
}

.select_list .select_list_head .del_btn:link, .select_list .select_list_head .del_btn:visited
	{
	float: right;
	color: #666
}

.select_list .select_list_head .del_btn:hover {
	color: #f13131
}

.tzmain .tz_box .random_btn {
	color: #333;
	width: 70px;
	height: 24px;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	*vertical-align: middle;
	text-align: center;
	line-height: 24px;
	border-radius: 2px;
	border: 1px solid #d6d4d5;
	border-radius: 2px;
	background-color: #f3f3f3;
	background-image: linear-gradient(top, #fff, #f9f9f9 80%, #f9f9f9, #f0f0f0 10%, #fff);
	background-image: -webkit-linear-gradient(top, #fff, #f9f9f9 81%, #f0f0f0 8%, #fff);
	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
	background-image: -o-linear-gradient(top, #fafafa, #efefef);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa',
		endColorstr='#ffefefef', GradientType=0)
}

.tzmain .tz_box .random_btn:link, .tzmain .tz_box .random_btn:visited {
	color: #333
}

.tzmain .tz_box .random_btn:hover {
	color: #f13131
}

.select_list .bettingarea {
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
	resize: vertical;
	width: 100%;
	height: 165px;
	line-height: 24px;
	text-align: left;
	border: 0;
	box-shadow: inset 3px 3px #f5f5f5
}

.select_list .bettingarea li {
	overflow: hidden;
	_zoom: 1;
	padding: 3px 12px;
	line-height: 24px;
	border-bottom: 1px dotted #d5d5d5;
	color: #999;
	resize: none
}

.select_list .bettingarea li.hov {
	background: #fffaec;
	color: #333;
	cursor: pointer;
}

.select_list .bettingarea li input {
	resize: none;
	border: 1px solid #fff;
	color: #9e9e9e
}

.select_list .bettingarea .hov input {
	border: 1px solid #ccc;
	color: #000
}
.select_list .bettingarea .hov input.hasfocused,.select_list .bettingarea input.hasfocused{
	border:2px solid #bbd4fc;
}
.select_list .bettingarea li .selected {
	border: 1px solid #9e9e9e;
	color: #000
}

.select_list .bettingarea li.sel {
	color: #333;
	background: #fff3d7
}

.select_list .bettingarea li.sel input.selected {
	height: 22px;
	line-height: 22px;
	background: #fff;
	border: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #333
}
.bettingarea li .betting-box-left {
	float: left;
	width: 525px;
}

.bettingarea li .betting-box-right {
	float: right;
	width: 270px
}

.bettingarea li .right-l {
	display: inline-block;
	zoom: 1;
	width: 120px;
	text-align: center;
	vertical-align: middle
}

.bettingarea li .right-m {
	display: inline-block;
	zoom: 1;
	width: 120px;
	text-align: center;
	vertical-align: middle
}

.bettingarea li .right-r {
	display: inline-block;
	zoom: 1;
	width: 22px;
	vertical-align: middle
}

.bettingarea li .betting-box-multiple {
	border: 0;
	height: 20px;
	line-height: 19px;
	width: 50px;
	text-align: center;
	color: #9e9e9e;
	background: 0;
}

.bettingarea li .betting-box-multiple:hover {
	color: #d70000
}

.bettingarea li .betting-box-delete {
	padding: 0;
	margin: 0
}

.lot_data {
	line-height: 24px;
	margin: 10px 0;
	color: #333;
	overflow: hidden;
	position: absolute;
    bottom: 30px;
    right: 0;
}

.lot_data_right {
	float: right;
	position: relative
}
#tooltip_container_syndicate, #tooltip_container, .notebox {
    border: 2px solid #e0e0e0;
    background-color: #fefdc2;
    padding: 8px;
    z-index: 2;
    position: absolute;
    width: 400px;
    line-height: 20px;
    top: 30px;
    left: 60px;
    color: #555;
    text-align: left;
}
.lot_data .text {
	height: 22px;
	line-height: 22px;
	padding: 0 4px;
	background: #fff;
	color: #333;
	border: 1px solid #ccc;
	vertical-align: top;
	*vertical-align: middle
}

.lot_data_right {
	color: #666
}

.lot_data_right .notetip {
	display: block;
	position: absolute;
	top: 2px
}

.hd_main .bet-box-mod:link, .hd_main .bet-box-mod:visited {
	color: #999;
	margin: 0 15px
}

.hd_main .bet-box-mod:hover {
	color: #f13131
}

.betting-box-add, .betting-box-minus {
	outline: 0;
	padding: 0 7px;
	border: 1px solid #d7d7cb;
	line-height: 19px;
	text-align: center;
	background: #fff;
	font-family: '宋体';
	display:none;
	vertical-align: top;
}

.bettingarea li.hov .betting-box-add,.bettingarea li.hov  .betting-box-minus{
	display: inline-block;
}

.betting-box-add:hover {
	background: #ffc000;
	color: #fff;
	text-decoration: none
}

.betting-box-minus:hover {
	background: #ffc000;
	color: #fff;
	text-decoration: none
}

.select_list_small {
	padding: 0 40px
}

.select_list_small .bet-random {
	padding: 0 0 6px 0;
	line-height: 24px
}

.select_list_small .redball, .select_list_small .blueball {
	float: left;
	width: 26px;
	height: 26px;
	line-height: 26px;
	margin-right: 9px;
	text-align: center;
	font: bold 14px/26px arial;
	color: #fff
}

.select_list_small .redball {
	background-position: 0 0
}

.select_list_small .blueball {
	background-position: -26px 0
}

.select_list_small ul {
	padding: 4px 0 12px;
	border-bottom: 1px dotted #d5d5d5
}

.select_list_small ul li {
	padding: 7px 0
}

.select_list_small .bet-box-left {
	overflow: hidden;
	float: left;
	width: 428px;
	height: 26px;
	margin-right: 36px
}

.select_list_small .bet-box-right {
	float: left;
	width: 206px;
	padding: 2px 0;
	line-height: 22px;
	color: #999
}

.select_list_small .bet-box-multiple {
	float: left;
	width: 130px
}

.select_list_small .bet-box-mod:link, .select_list_small .bet-box-mod:visited
	{
	float: left;
	margin: 0 15px;
	color: #999
}

.select_list_small .bet-box-mod:hover {
	color: #f13131
}

.tz_box .lot_data_small {
	padding: 0 40px
}

.betting-box-right .bet-box-mod:link, .betting-box-right .bet-box-mod:visited
	{
	margin-left: 40px
}

.lot_submit {
	text-align: center
}

.lot_submit .btn {
	margin-bottom: 10px
}

.lot_submit p {
	padding: 5px 0;
	color: #999
}

.zhuihao,.orderdetail {
	padding: 10px 39px;
	background: #fafafa;
	border: 1px solid #e1e1e1;
	color: #333;
	position: relative
}

.zhuihao .zhuihao_title {
	line-height: 24px;
	padding: 10px 0
}

.zhuihao .zhuihao_title select {
	height: 24px;
	vertical-align: top;
	*vertical-align: middle;
	border: 1px solid #ccc
}

.zhuihao .zhuihao_title .title {
	font-weight: bold
}

.zhuihao .zhuihao_title .left {
	float: left
}

.zhuihao .zhuihao_title .right {
	float: right;
	color: #666;
}

.zhuihao .zhuihao_title .text {
	width: 60px;
	height: 24px;
	padding: 0 5px;
	line-height: 22px;
	border: 1px #ccc solid;
	vertical-align: top;
	*vertical-align: middle
}

.zhuihao .zhuihao_title .red {
	margin-right: 10px;
	color: #f00
}

.zhuihao .zhuihao_box .zhuihao_scroll {
	overflow-x: hidden;
	overflow-y: auto;
	width: auto;
	min-height:100px;
	max-height:390px;
}
.zhuihao .zhuihao_box .zhuihao_list {
	width: 100%;
	text-align: center;
	color: #666;
	font-size:12px;
}
.zhuihao .zhuihao_box .zhuihao_list tr:hover{
	background: #f3f3f3;
}

.zhuihao .zhuihao_box .zhuihao_list tr.t {
	background: #f3f3f3;
	font-weight: bold;
	color: #333
}

.zhuihao .zhuihao_box .zhuihao_list td {
	line-height: 24px;
	padding: 6px 0
}

.zhuihao .zhuihao_box .zhuihao_list td .text {
	width: 50px;
	height: 22px;
	padding: 0 5px;
	line-height: 22px;
	border: 1px #ccc solid;
	vertical-align: top;
	*vertical-align: middle
}

.zhuihao .zhuihao_box .zhuihao_list td .red {
	color: #f00
}

.zhuihao .zhuihao_info {
	line-height: 30px;
	padding: 5px 0;
	text-align: center;
	font-size: 14px;
	color: #666
}

.zhuihao .icon_up_dot {
	position: absolute;
	top: -6px;
	right: 165px;
	z-index: 1;
	width: 11px;
	height: 7px;
	line-height: 1px;
	font-size: 1px;
	background: url(../images/lottery/drawIcon.png) -181px -91px no-repeat;
	_background-image: url(../images/lottery/drawIcon.gif)
}

.table_list {
	background: #fafafa;
	border: 1px solid #e1e1e1;
	font-size:12px;
}

.table_list td .ssqIcon {
	margin-top: 1px
}

.table_list td {
	padding: 8px 0;
	line-height: 24px;
	vertical-align: top
}

.table_list td.first {
	padding-top: 30px
}

.table_list td.last {
	border-bottom: 0;
}

.table_list td span.t {
	margin: 0;
	font-weight: bold
}

.table_list td.til {
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	background: #f3f3f3;
	color:#999;
}

.table_list tr.sh {
	border-bottom:1px solid #e0e2e1;
}

.table_list td .text {
	width: 85px;
	height: 20px;
	border: 1px #ccc solid;
	margin-right: 5px;
	padding: 0 5px
}

.table_list td .title {
	width: 200px
}

.table_list td .desc {
	width: 600px;
	height: 65px;
	padding: 0 5px;
	border: 1px #ccc solid;
	vertical-align: top;
	color: #999
}

.table_list td .desc:focus {
	color: #333
}

.table_list td.text-right {
	text-align: right
}

.tz_box_big .table_list {
	background: 0;
	border: 0;
	border-bottom: 1px dotted #bdbdbd
}

.tz_box_big .table_list td.til {
	border-right: 1px dashed #ccc
}

.tz_box_big .table_list_noborder {
	border-bottom: 0
}

.tz_box_big .table_list tr.st td.first {
	padding-top: 0
}

.tz_box_big .table_list tr.st td.last {
	padding-bottom: 8px
}

.syndicate_hd_out {
	position: relative
}
#area_content{
	min-height: 100px;
}
/*#area_content #select_area_content_standard,#bet_panel ul,#bet_panel table,.lhc_R table{
	animation-duration: 0.5s;
    animation-name: rise;
    animation-timing-function: ease;
}*/
@keyframes rise {
0% {
    opacity: 0;
    transform: translateX(200px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}
.syndicate_hd_out .icon_up_dot {
	position: absolute;
	top: -5px;
	right: 100px;
	z-index: 1;
	width: 11px;
	height: 7px;
	line-height: 1px;
	font-size: 1px;
	background: url(../images/lottery/drawIcon.png) -181px -91px no-repeat;
	_background-image: url(../images/lottery/drawIcon.gif)
}

.orderdetail .icon_up_dot {
	position: absolute;
	top: -5px;
	right: 34px;
	z-index: 1;
	width: 11px;
	height: 7px;
	line-height: 1px;
	font-size: 1px;
	background: url(../images/lottery/drawIcon.png) -181px -91px no-repeat;
	_background-image: url(../images/lottery/drawIcon.gif)
}

.saiCheShiPin .icon_up_dot {
	position: absolute;
	top: -5px;
	right: 40px;
	z-index: 7;
	width: 11px;
	height: 7px;
	line-height: 1px;
	font-size: 1px;
	background: url(../images/lottery/drawIcon.png) -181px -91px no-repeat;
	_background-image: url(../images/lottery/drawIcon.gif)
}

.tztop {
	position: relative;
	z-index: 2;
	padding-bottom: 15px;
	padding-top: 10px
}

.tztop-cms {
	height: 28px;
	line-height: 28px;
	margin-bottom: 20px;
	background: #fffaec;
	border: 1px solid #f8eed2
}

.tztop-cms .icon-activity {
	float: left
}

.tztop-cms-list {
	float: left;
	width: 946px;
	overflow: hidden
}

.tztop-cms-list li {
	float: left;
	margin-right: 40px;
	text-align: left
}

.tztop-cms-list li.mr75 {
	margin-right: 75px
}

.tztop-cms-list li.fr {
	float: right
}

.tztop-cms-list li.bold {
	font-weight: bold
}

.tztop-cms-list li.bold a {
	color: #f13131
}

.tztop-cms-list li.bold a:hover {
	text-decoration: underline
}

.tztop-lottery-data {
	width: 500px;
	height: 100px;
	float: left;
	border-right: 1px dashed #d7d7d7;
	overflow: hidden
}

.tztop-lottery-data .tztop-lottery-logo {
	display: inline-block;
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 15px 0 5px;
}

.tztop-lottery-data h1 {
	margin-bottom: 12px;
	margin-top: 6px;
	font: bold 18px/24px "Microsoft YaHei", "微软雅黑";
	color: #333
}

.tztop-lottery-data .sun_span {
	font-size: 16px;
	color: #333;
	font-family: "Microsoft YaHei"
}

.tztop-lottery-data .tztop-lottery-sale {
	line-height: 28px;
	color: #666
}

.tztop-lottery-data .tztop-lottery-sale .num {
	font-family: "Tahoma";
	font-weight: bold
}

.tztop-lottery-data .tztop-lottery-sale .time_count {
	padding: 0 5px;
	display: inline-block;
	zoom: 1;
	height: 18px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	background: #f2f2f2
}

.tztop-lottery-data .tztop-lottery-sale .time_count .red {
	font-family: "Tahoma";
	color: #f13131;
	font-weight: bold
}

.tztop_line1 {
	margin-top: 12px;
	line-height: 28px;
	color: #666
}

.tztop-lottery-phase .reward {
	float: left;
	position: relative
}

.tztop-lottery-phase .reward span, .reward .poolnumber {
	display: block;
	overflow: hidden;
	position: relative;
	float: left;
	width: 13px;
	height: 18px;
	line-height: 18px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center
}

.tztop-lottery-phase .reward .poolnumber {
	display: none
}

.tztop-lottery-phase .reward .poolnumber ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 15px
}

.tztop-lottery-phase .reward .poolnumber ul li {
	overflow: hidden;
	width: 15px;
	height: 18px;
	line-height: 18px;
	text-align: center
}

.tztop-lottery-phase .reward .reward_2 {
	height: 20px;
	line-height: 20px;
	margin-left: 2px;
	font-size: 12px;
	font-family: "宋体";
	font-weight: normal;
	color: #333
}

.tztop-lottery-phase .reward ul {
	color: #f13131;
	font-size: 22px;
	*font-size: 14px;
	font-family: "arial"
}

.tztop-lottery-jiang {
	padding: 0 7px;
	display: inline-block
}

.tztop-lottery-drawn {
	float: left;
	display: inline;
	width: 360px;
	height: 100px;
	padding: 5px 0 0 30px;
	border-right: 1px dashed #d7d7d7;
	position: relative
}

.tztop-lottery-drawn .gray {
	margin-left: 18px
}

.tztop-lottery-drawn .history-drawn {
	float: right;
	display: inline;
	margin-right: 30px;
	width: 65px;
	height: 24px;
	line-height: 24px;
	background: #ffeec5;
	color: #333;
	text-align: center;
	margin-top: -5px;
	font-family: simsun
}

.tztop-lottery-drawn .history-drawn:link, .tztop-lottery-drawn .history-drawn:hover,
	.tztop-lottery-drawn .history-drawn:visited {
	color: #333
}

.tztop-lottery-drawn .history-drawn:hover {
	color: #f13131
}

.tztop-lottery-drawn .drawn-ball-list {
	clear: both;
	margin: 12px 0 7px
}

.tztop-lottery-drawn .drawn-ball-list ul {
	float: left
}

.tztop-lottery-drawn .drawn-ball-list li {
	float: left;
	_display: inline;
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	color: #fff;
	font-weight: bold;
	font-family: "微软雅黑";
	font-size: 14px;
	margin-right: 9px;
	background: url(../images/lottery/ballsbg.png) 0 0 no-repeat;
	_background-image: url(../images/lottery/ballsbg.gif)
}

.tztop-lottery-drawn .drawn-ball-list .c_333 {
	margin-right: 15px
}

.tztop-lottery-drawn .drawn-ball-list em {
	color: #005aa0;
	font-size: 14px;
	font-weight: bold
}

.tztop-lottery-drawn .drawn-num {
	margin: 0 17px
}

.tztop-lottery-drawn .fr {
	float: right
}

.tztop-lottery-drawn .val {
	margin-top: 12px;
	line-height: 24px;
	width: 360px
}

.tztop-lottery-drawn .val span {
	margin-right: 14px
}

.tztop-lottery-drawn .val i {
	display: inline-block;
	width: 4px;
	height: 8px;
	line-height: 0;
	font-size: 0;
	margin: 0 5px;
	position: relative;
	background: url(../images/lottery/drawIcon.png) no-repeat -75px -69px;
	_background-image: url(../images/lottery/drawIcon.gif)
}

.latest-10-draw-html-out {
	position: absolute;
	left: -78px;
	top: 30px;
	z-index: 9;
	background: #fff;
	font-family: arial, '微软雅黑';
	width: 428px;
	border: 1px solid #e9e9e9;
	padding: 15px 10px
}

.latest-10-draw-html-out .dot {
	position: absolute;
	top: -7px;
	right: 40px;
	background-position: -180px -89px;
	display: block;
	width: 11px;
	height: 7px
}

.latest-10-draw-html-out .close {
	position: absolute;
	top: 12px;
	right: 14px;
	cursor: pointer;
	display: block;
	background-position: -22px -84px;
	width: 20px;
	height: 20px
}

.latest-10-draw-html div, .latest-10-draw-html p {
	padding-left: 10px
}

.latest-10-draw-html .table {
	width: 405px;
	margin: 5px auto;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd
}

.latest-10-draw-html .table th {
	color: #999;
	height: 32px;
	line-height: 32px;
	background: #f7f7f7;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd
}

.latest-10-draw-html .table td {
	color: #333;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #ddd;
	text-align: center
}

.latest-10-draw-html .table .bgcolor {
	background: #f7f7f7
}

.latest-10-draw-html .latest-10-draw-phase {
	color: #666
}

.latest-10-draw-html .latest-10-draw-ball .red {
	color: #f13131
}

.latest-10-draw-html .latest-10-draw-ball .blue {
	color: #005aa0
}

.latest-10-draw-html .line1 {
	font-size: 0;
	height: 0;
	border: 0;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 5px
}

.latest-10-draw-html .textbox1 {
	display: inline-block;
	zoom: 1;
	line-height: 24px;
	width: 200px;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	color: #666
}

.latest-10-draw-html .red {
	color: #f13131
}

.latest-10-draw-html .blue {
	color: #1479d7
}

.latest-10-draw-html .grey {
	color: #999
}

.latest-10-draw-html .num {
	font-family: Tahoma
}

.latest-10-draw-html .red.num, .latest-10-draw-html .blue.num {
	font-weight: bold
}

.latest-10-draw-html .grey .num {
	color: #666
}

.latest-10-draw-html .textbox2 {
	text-align: right;
	width: 407px
}

.latest-10-draw-html .textbox2 a {
	color: #999
}

.latest-10-draw-html .textbox2 a.link, .latest-10-draw-html .textbox2 a.visited
	{
	color: #999
}

.latest-10-draw-html span.ml15 {
	display: inline-block;
	zoom: 1;
	margin-right: 15px
}

.tztop-lottery-charts {
	float: left;
	display: inline;
	width: 78px;
	padding-top: 20px;
	text-align: center;
	padding-left: 10px;
	overflow: hidden
}

.tztop-lottery-charts a {
	text-align: center;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333
}

.tztop-lottery-charts a:hover {
	color: #f13131
}

.tztop-lottery-charts i {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background: url(../images/lottery/icon.png) no-repeat 0 -66px;
	_background-image: url(../images/lottery/icon_ie6.png)
}

.tztop-lottery-charts a:hover i {
	background-position: -44px -66px
}

.tznavhd {
	position: relative;
	height: 30px;
	line-height: 28px;
	border-top: 2px solid #f13131;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}

.tznavhd .notetip {
	position: absolute;
	left: 475px;
	top: 30px;
	z-index: 1
}

.tznavhd .notetip b.t {
	left: 36px
}

.tznavhd-list {
	float: left
}

.tznavhd-list li {
	float: left
}

.tznavhd-list li a {
	display: block;
	width: 70px;
	height: 30px;
	margin-left: -1px;
	text-align: center;
	border-left: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1
}

.tznavhd-list li a:hover {
	position: relative;
	z-index: 1;
	border-color: #f13131
}

.tznavhd-list li a.play_tab_first {
	margin: 0
}

.tznavhd-list li.on {
	background: #f13131;
	font-weight: bold
}

.tznavhd-list li.on a:link, .tznavhd-list li.on a:active, .tznavhd-list li.on a:hover,
	.tznavhd-list li.on a:visited, .tznavhd-list li.gjwf_on a:hover,
	.tznavhd-list li.gjwf_on a:visited {
	position: relative;
	z-index: 1;
	color: #fff;
	border-color: #f13131
}

.tznavhd-list h2 {
	font-weight: normal
}

.tznavhd_syndicate {
	float: left;
	line-height: 20px;
	padding: 4px 0 6px 12px;
	color: #666
}

.tznavhd_syndicate a {
	margin-left: 5px
}

.tznavhd_syndicate a, .tznavhd_syndicate a:link, .tznavhd_syndicate a:visited
	{
	color: #666
}

.tznavhd_syndicate a:hover {
	color: #f13131
}

.tznavhd_syndicate h2 {
	display: inline;
	font-weight: normal
}

.tznavhd_href {
	float: right;
	display: inline
}

.tznavhd_recentdraw {
	vertical-align: middle;
	display: inline-block;
	zoom: 1;
	background: #ff8900;
	border-bottom: 1px solid #ff8900;
	height: 32px;
	line-height: 32px;
	width: 82px;
	padding-left: 18px;
	margin-top: -2px;
	position: relative;
	z-index: 2
}

.tznavhd_recentdraw .orange {
	color: #fff;
	font-weight: bold;
	font-family: Tahoma
}

.hd_main .tznavhd_recentdraw:hover {
	color: #fff;
	background: #ff6824;
	border-bottom: 1px solid #ff951a
}

.hd_main .tznavhd_recentdraw:link, .tznavhd_recentdraw:visited {
	color: #fff
}

.hd_main .tznavhd_recentdraw:active, .hd_main .tznavhd_href .active {
	background: #ff6824;
	color: #fff;
	border-bottom: 1px solid #ff6824
}

.tznavhd_recentdraw:active .orange, .tznavhd_href .active .orange {
	color: #fff
}

.ssqIcon-drop2 {
	background: url(../images/lottery/icon_drop.gif) no-repeat;
	width: 13px;
	height: 16px;
	display: inline-block;
	zoom: 1;
	margin-left: 4px;
	vertical-align: middle
}

.tznavhd_href .tznavhd_recentdraw:active .ssqIcon-drop2, .tznavhd_href .active .ssqIcon-drop2
	{
	width: 22px;
	height: 22px;
	display: inline-block;
	zoom: 1;
	background: url(../images/lottery/drawIcon.png) -114px -62px no-repeat;
	_background-image: url(../images/lottery/drawIcon.gif)
}

#latest_draw_list {
	width: 1000px
}

.latest_draw_list_out {
	position: relative;
	z-index: 1
}

.trend_box table {
	border: 1px solid #e1e1e1;
	color: #333;
	font-size:12px;
}

.trend_box table td {
	position: relative;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	line-height: 24px;
	text-align: center
}

.trend_box table thead {
	background: #f3f3f3
}

.trend_box table tbody {
	background: #fafafa
}

.trend_box table tbody td {
	height: 28px;
	line-height: 28px
}

.trend_box table td.blue {
	background: #e5f1ff;
	color: #3490ff;
	font-weight: bold
}

.trend_box table td.purple {
	background: #f5e8ff;
	color: #9858b2;
	font-weight: bold
}

.trend_box table td.red {
	background: #fee;
	color: #f13131;
	font-weight: bold
}

.trend_box table td .fl {
	float: left;
	display: inline;
	margin-left: 10px
}

.trend_box table td .fr {
	float: right;
	display: inline;
	margin-right: 10px
}

.trend_box table td .titbox {
	margin-left: 40px
}

.trend_box table td .titbox .tit {
	cursor: pointer;
	display: inline-block;
	zoom: 1;
	margin: 2px 0 0 -1px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 0 3px;
	height: 18px;
	line-height: 18px;
	text-align: center
}

.trend_box table td .titbox .active {
	border: 1px solid #e18600;
	background: #ff8900;
	color: #fff
}

.trend_box table td .notetip {
	position: absolute;
	left: 0;
	top: 24px;
	z-index: 2
}

.trend_box table td .notetip .t {
	left: 82px
}

.trend_box table td .bold {
	font-weight: bold
}

.trend_box table td .grey {
	color: #999
}

.trend_box table .yellowbg {
	background: #fffaec
}

.trend_box table .border {
	border-right: 2px solid #e1e1e1
}

.trend_box table td .ballbg {
	display: inline-block;
	zoom: 1;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	font-family: Tahoma;
	font-weight: bold;
	background: url(../images/lottery/ballsbg.png) no-repeat;
	_background-image: url(../images/lottery/ballsbg.gif)
}

.trend_box table td .pinkbg {
	background-position: 0 -234px
}

.trend_box table td .greenbg {
	background-position: 0 -254px
}

.trend_box table td .bluebg {
	background-position: 0 -274px
}

.trend_box table td .greenbox {
	display: inline-block;
	*zoom: 1;
	width: 6px;
	height: 6px;
	background: #4fca7b;
	margin-right: 3px
}

.trend_box table td .bluebox {
	display: inline-block;
	*zoom: 1;
	width: 6px;
	height: 6px;
	background: #348fff;
	margin-right: 3px
}
.play_tab_navhd {
    padding: 14px 0 20px 3px;
}
.play_tab_navhd .for_radio {
    display: inline-block;
    zoom: 1;
    margin-left: 12px;
    color: #666;
}
.delete .popBody, .warning .popBody {
	width: 270px;
	margin: 33px auto 0
}

.warning .tolook {
	margin-left: 50px
}

.delete .popBody .btn, .warning .popBody .btn {
	margin-top: 48px
}
.betting-box-content {
	font-weight: bold;
	margin: 0 5px;
	font-family: Arial
}

.betting-box-content .betting-box-separate {
	font-weight: normal;
	color: #000;
	margin: 0 1px 0 2px;
	color: #aaa
}

.betting-box-content .blue {
	color: #005aa0
}

.rightFloat {
    position: absolute;
    top: 360px;
    left: 50%;
    width: 66px;
    margin: 0 0 0 500px;
}
.rightFloat .fixed li {
    text-align: center;
}
.rightFloat .fixed li a:link, .rightFloat .fixed li a:visited {
    display: block;
    color: #999;
    font: "微软雅黑";
}

.rightFloat .fixed li.first a {
    border-top: 1px solid #e1e1e1;
}
.rightFloat .fixed li a {
    display: block;
    border: 1px solid #e1e1e1;
    width: 67px;
    height: 52px;
    padding-top: 10px;
    border-bottom: 0;
    border-top: 0;
}
.rightFloat li i {
    background: url(../images/lottery/right_icon.png) no-repeat;
    _background-image: url(../images/lottery/right_icon_ie6.png);
}
.rightFloat .fixed li a span {
    display: inline-block;
    width: 50px;
    height: 25px;
    border-bottom: 1px solid #e1e1e1;
}
.rightFloat .play i {
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    background-position: 0 0;
}
.rightFloat .guide i {
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    background-position: 0 -26px;
}
.rightFloat .feedback i {
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    background-position: 0 -52px;
}
.rightFloat .return i {
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    background-position: 0 -156px;
}
.rightFloat .fixed li.last a {
    border-bottom: 1px solid #e1e1e1;
}
.rightFloat .fixed li a:hover {
    border-color: #ffc483;
    border-bottom: 1px solid #ffc483;
    border-top: 1px solid #ffc483;
    height: 51px;
    background: #ffe8d0;
    color: #ffb07b;
    position: relative;
    z-index: 2;
    text-decoration: none;
}


@keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform:scale(1);
  }
  20% {
    transform:scale(1.4);
  }
  80% {
    transform: scale(1.15);
  }
}
@-webkit-keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.4);
  }
  80% {
    -webkit-transform: scale(1.15);
  }
}


/*上一期开奖结果*/
.dsLotto-prev {
    width: 320px;
    margin:0 auto;
}
.dsLotto-result {
    background-color: #b4d0d9;
}
.dsLotto-result--no5 {
    padding: 7px 0 0 8px;
}
.dsLotto-result {
    height: 54px;
}
.dsLotto-result, .dsLotto-result * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dsLotto-result--no5 ._group {
    border-color: #5591a4;
    background-color: #b4d0d9;
    background-image: linear-gradient(#b4d0d9,#5591a4);
}
.dsLotto-result--no5 ._group {
    width: 303px;
    height: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}
.dsLotto-result--no5 ._item {
    background-color: #5a95a9;
    background-image: linear-gradient(#6099ac,#437281);
}
.dsLotto-result--no5 ._item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 59px;
    height: 36px;
    margin-left: 1px;
}
.dsLotto-result--no5 ._item:nth-child(1) ._ele-number, .dsLotto-result--no5.status--off ._item:nth-child(1) ._ele-mark {
    animation-delay: 2.1s;
}
.dsLotto-result--no5 ._item:nth-child(2) ._ele-number, .dsLotto-result--no5.status--off ._item:nth-child(2) ._ele-mark {
    animation-delay: 1.6s;
}
.dsLotto-result--no5 ._item:nth-child(3) ._ele-number, .dsLotto-result--no5.status--off ._item:nth-child(3) ._ele-mark {
    animation-delay: 1.1s;
}
.dsLotto-result--no5 ._item:nth-child(4) ._ele-number, .dsLotto-result--no5.status--off ._item:nth-child(4) ._ele-mark {
    animation-delay: .6s;
}
.dsLotto-result--no5 ._item:nth-child(5) ._ele-number, .dsLotto-result--no5.status--off ._item:nth-child(5) ._ele-mark {
    animation-delay: .1s;
}
.dsLotto-result--no5 ._ele-number, .dsLotto-result--no5 ._ele-unknown, .dsLotto-result--no5 ._ele-unknown li,.dsLotto-result--no5 ._ele-number_add {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    height: 36px;
    text-align: center;
    /* text-indent: -13px; */
    color: yellow;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
}
.dsLotto-result--no5 ._ele-mark {
    border-color: #a6c0c8;
    background-color: #8cb5c3;
    background-image: linear-gradient(315deg,#497a89,#80a3ae);
}
.dsLotto-result--no5 ._ele-mark {
    font-family: 'SimSun', 宋体 !important;
    line-height: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 14px;
    height: 13px;
    text-align: center;
    color: white;
    border-width: 0;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    background-color: rgb(140, 181, 195);
    background-image: linear-gradient(315deg, rgb(73, 122, 137), rgb(128, 163, 174));
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
}
.dsLotto-result--no5 ._ele-unknown ul {
    height: 360px;
}
.dsLotto-result--no5 ._ele-unknown li {
    display: block;
}
.array {
    font-size: 0;
}
.array li {
    font-size: 12px;
    display: inline-block;
}
.dsLotto-result--no5.status--on ._ele-number,
.dsLotto-result--no5.status--off ._ele-number {
  visibility: hidden;
}
.dsLotto-result--no5.status--on ._ele-unknown {
  animation: dsAmRstUk 1.4s linear infinite;
}
.dsLotto-result--no5.status--on ._ele-mark {
  animation: dsAmRstMarkOut .5s linear forwards;
}
.dsLotto-result--no5.status--on ._item:nth-child(5) ._ele-mark {
  animation-delay: .1s;
}
.dsLotto-result--no5.status--on ._item:nth-child(4) ._ele-mark {
  animation-delay: .3s;
}
.dsLotto-result--no5.status--on ._item:nth-child(3) ._ele-mark {
  animation-delay: .5s;
}
.dsLotto-result--no5.status--on ._item:nth-child(2) ._ele-mark {
  animation-delay: .7s;
}
.dsLotto-result--no5.status--on ._item:nth-child(1) ._ele-mark {
  animation-delay: .9s;
}
.dsLotto-result--no5 ._item:nth-child(5) ._ele-number,
.dsLotto-result--no5.status--off ._item:nth-child(5) ._ele-mark {
  animation-delay: .1s;
}
.dsLotto-result--no5 ._item:nth-child(4) ._ele-number,
.dsLotto-result--no5.status--off ._item:nth-child(4) ._ele-mark {
  animation-delay: .6s;
}
.dsLotto-result--no5 ._item:nth-child(3) ._ele-number,
.dsLotto-result--no5.status--off ._item:nth-child(3) ._ele-mark {
  animation-delay: 1.1s;
}
.dsLotto-result--no5 ._item:nth-child(2) ._ele-number,
.dsLotto-result--no5.status--off ._item:nth-child(2) ._ele-mark {
  animation-delay: 1.6s;
}
.dsLotto-result--no5.status--off ._ele-mark {
  transform: translateX(14px);
  opacity: 0;
}
.dsLotto-result--no5.status--off ._ele-number {
  animation: dsAmRstNum .5s ease-out forwards;
}
.dsLotto-result--no5.status--off ._ele-mark {
  animation: dsAmRstMarkIn .5s linear forwards;
}
@keyframes dsAmRstNum {
  0% {
    visibility: visible;
    transform: scale(.1);
    opacity: 0;
  }
  100% {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes dsAmRstUk {
  0% {
    transform: translateY(0) scale(1);

    -webkit-filter: blur(1px);
       -moz-filter: blur(1px);
         -o-filter: blur(1px);
        -ms-filter: blur(1px);
            filter: blur(1px);
  }
  100% {
    transform: translateY(-360px) scale(1);

    -webkit-filter: blur(1px);
       -moz-filter: blur(1px);
         -o-filter: blur(1px);
        -ms-filter: blur(1px);
            filter: blur(1px);
  }
}
@keyframes dsAmRstMarkOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(14px);
    opacity: 0;
  }
}
@keyframes dsAmRstMarkIn {
  0% {
    transform: translateX(14px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.dsLotto-prev-sn {
    height: 26px;
    line-height: 26px;
    /*background-color: #f3f8f9;*/
    margin:11px 0;
}
.ac {
    text-align: center;
    float:right;
}
.dsLotto-prev-sn li {
    padding: 0 5px;
}
.dsLotto-block-sound {
    position: absolute;
    z-index: 7;
    top: 11px;
    left: 13px;
    display: block;
    overflow: hidden;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url(../images/lottery/icon_sound.png) no-repeat;
     -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.dsLotto-block-sound.status--off {
    background-position: -24px 0;
}

.dsLotto-result--no5 ._item:nth-child(even) {
    background-color: #437281;
    background-image: linear-gradient(#437281,#6099ac);
}


/*PK10*/
.dsLotto-rs--5e .ui-row-i li,
.dsLotto-rs--pk10 .ui-row-i .icon {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  height: 26px;
  border: 1px solid rgb(156, 126, 5);
  border-radius: 2px;
  background-color: #fefc6a;
  background-image: linear-gradient(to bottom, #a3870c, #fefc6a, #a3870c);
  -webkit-box-shadow: 1px 1px 1px rgb(255, 255, 255) inset;
          box-shadow: 1px 1px 1px rgb(255, 255, 255) inset;
  text-shadow: 1px 1px 0 #eee;
}
.dsLotto-rs--pk10 .ui-row {
  padding-top: 3px;
}
.dsLotto-rs--pk10 .ui-row li {
  color: gray;
}
.dsLotto-rs--pk10 .ui-row .icon {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.dsLotto-rs--pk10 .ui-row-i li {
  margin: 0 3px;
}
.dsLotto-rs--pk10 .ui-row-i .icon {
  line-height: 20px;
  height: 20px;
  padding: 0 10px;
}
.dsLotto-rs--pk10 .ui-row-i .icon-2 {
  border-color: #999;
  background-color: #ccc;
  background-image: linear-gradient(to bottom, #999, #eee, #999);
}
.dsLotto-rs--pk10 .ui-row-i .icon-3 {
  border-color: #b25900;
  background-color: #d9a300;
  background-image: linear-gradient(to bottom, #b25900, #d9a300, #b25900);
}
.dsLotto-rs--pk10 .ui-row-ii li {
  overflow: hidden;
  width: 14px;
  height: 24px;
  margin: 0 1px;
}
.dsLotto-rs--pk10 .ui-row-ii .icon {
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  border-color: #000;
  border-radius: 50%;
  background-color: #fefc6a;
  background-image: linear-gradient(to bottom, #eee, #aaa, #eee);
  -webkit-box-shadow: 1px 1px 1px rgb(255, 255, 255) inset;
          box-shadow: 1px 1px 1px rgb(255, 255, 255) inset;
}
.dsLotto-result--pk10 {
  position: relative;
  overflow: hidden;
  height: 54px;
  background-color: rgb(29, 34, 38) !important;
}
.dsLotto-result--pk10 ._scene-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* LOTTERY-PK10--PROCESSING */

.dsLotto-result--pk10.status--on ._scene-wait {
  z-index: 7;
  left: 8px;
  opacity: 0;
  /* transform: translateY(-54px); */
}
.dsLotto-result--pk10 ._scene-wait ._front-animation,
.dsLotto-result--pk10 ._scene-wait ._counter-animation {
  visibility: hidden;
  opacity: 0;
}
.dsLotto-result--pk10.status--on ._scene-wait ._front-animation,
.dsLotto-result--pk10.status--on ._scene-wait ._counter-animation {
  visibility: visible;
  opacity: 1;
}
.dsLotto-result--pk10 ._scene-wait ._front-animation {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dsLotto-result--pk10.status--on ._scene-wait ._counter-animation {
  position: relative;
  z-index: 7;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 30px;
  margin: -15px 0 0 -50px;
}
.dsLotto-result--pk10.status--on ._scene-wait ._counter-animation li {
  font-size: 30px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 30px;
  animation: dsAmPK10Counter 1s ease-out;
  text-align: center;
  opacity: 0;
  color: yellow;
  text-shadow: 1px 1px 0 rgb(0, 0, 0);
}
.dsLotto-result--pk10.status--on ._scene-wait ._counter-animation li:nth-child(1) {
  animation-delay: 2s;
}
.dsLotto-result--pk10.status--on ._scene-wait ._counter-animation li:nth-child(2) {
  animation-delay: 3s;
}
.dsLotto-result--pk10.status--on ._scene-wait ._counter-animation li:nth-child(3) {
  animation-delay: 4s;
}
.dsLotto-result--pk10.status--on ._scene-wait ._counter-animation li:nth-child(4) {
  animation-delay: 4.6s;
}

/* LOTTERY-PK10_(MOTORS) */

.dsLotto-result--pk10.status--on ._scene-wait ._front-animation ._ele-motor {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 19px;
  animation: dsAmPK10Motor linear infinite;
  animation-delay: 5.5s;
  background: url(../images/lottery/ico_motor.png) no-repeat;
}
.dsLotto-result--pk10.status--off ._scene-wait ._front-animation ._ele-motor {
  animation-play-state: paused;
}
.dsLotto-result--pk10.status--on ._scene-wait ._front-animation ._ele-motor-mark {
  font-style: normal;
  line-height: 16px;
  display: block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  text-align: center;
  color: yellow;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  background: rgba(0, 0, 0, .4);
}
.dsLotto-result--pk10.status--on ._scene-wait ._front-animation ._ele-motor:nth-child(1) {
  margin: 0 0 0 -8px;
  animation-duration: 2000ms;
  background-position: 0 0;
}
.dsLotto-result--pk10.status--on ._scene-wait ._front-animation ._ele-motor:nth-child(2) {
  left: 20px;
  animation-duration: 2800ms;
  background-position: 0 -19px;
}
.dsLotto-result--pk10.status--on ._scene-wait ._front-animation ._ele-motor:nth-child(3) {
  margin: 0 0 0 50px;
  animation-duration: 2200ms;
  background-position: 0 -38px;
}
.dsLotto-result--pk10.status--on ._scene-wait ._front-animation ._ele-motor:nth-child(4) {
  margin: 0 0 0 80px;
  animation-duration: 2850ms;
  background-position: 0 -57px;
}
.dsLotto-result--pk10.status--on ._scene-wait ._front-animation ._ele-motor:nth-child(5) {
  margin: 0 0 0 110px;
  animation-duration: 1750ms;
  background-position: 0 -76px;
}
.dsLotto-result--pk10.status--on ._scene-wait ._front-animation ._ele-motor:nth-child(6) {
  margin: 0 0 0 140px;
  animation-duration: 2250ms;
  background-position: 0 -95px;
}
.dsLotto-result--pk10.status--on ._scene-wait ._front-animation ._ele-motor:nth-child(7) {
  margin: 0 0 0 170px;
  animation-duration: 2850ms;
  background-position: 0 -114px;
}
.dsLotto-result--pk10.status--on ._scene-wait ._front-animation ._ele-motor:nth-child(8) {
  margin: 0 0 0 200px;
  animation-duration: 2500ms;
  background-position: 0 -133px;
}
.dsLotto-result--pk10.status--on ._scene-wait ._front-animation ._ele-motor:nth-child(9) {
  margin: 0 0 0 230px;
  animation-duration: 2800ms;
  background-position: 0 -152px;
}
.dsLotto-result--pk10.status--on ._scene-wait ._front-animation ._ele-motor:nth-child(10) {
  margin: 0 0 0 260px;
  animation-duration: 2900ms;
  background-position: 0 -171px;
}

/* .dsLotto-result--pk10 ._scene-wait ._bg-animation {
  z-index: 0;
  background: url(/Areas/MoreColour/Content/img/white_line.png);
} */

.dsLotto-result--pk10 ._scene-finish {
  font-size: 30px;
  z-index: 6;
  left: 0;
  text-align: center;
}
.dsLotto-result--pk10 ._scene-finish ._group {
  margin-left: -5px;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item {
  position: relative;
  width: 30px;
  height: 54px;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item-1 ._ele-number,
.dsLotto-result--pk10 ._scene-finish ._group ._item-1 ._ele-mark {
  color: rgb(255, 201, 38) !important;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item-2 ._ele-number,
.dsLotto-result--pk10 ._scene-finish ._group ._item-2 ._ele-mark {
  color: rgb(187, 187, 187) !important;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item-3 ._ele-number,
.dsLotto-result--pk10 ._scene-finish ._group ._item-3 ._ele-mark {
  color: rgb(217, 54, 0) !important;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item ._ele-number {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-top: 5px;
  color: rgb(170, 170, 170);
  text-shadow: 2px 2px 0 rgb(29, 34, 38);
  background: url(../images/balls_bg.png) no-repeat;
  text-indent: 9999px;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item ._ele-mark {
  line-height: 1;
  position: absolute;
  z-index: 7;
  bottom: 7px;
  left: 8px;
  color: rgb(240, 246, 247);
}
.dsLotto-result--pk10.status--on ._scene-wait {
  visibility: visible;
  animation: dsAmPK10Show 1s forwards;
}

/* .dsLotto-result--pk10.status--on ._scene-wait ._bg-animation {
  animation: dsAmPk10Rw .4s linear infinite;
} */

.dsLotto-result--pk10.status--on ._scene-finish {
  animation: dsAmPK10Hide 300ms forwards;
}
.dsLotto-result--pk10.status--off ._scene-wait {
  visibility: hidden;
  animation: dsAmPK10Hide 1s forwards;
}
.dsLotto-result--pk10.status--off ._scene-finish {
  animation: dsAmPK10Show 1s forwards;
}

/* LOTTERY-PK10--COMPLETE_(NUMBER) */

.dsLotto-result--pk10.status--off ._scene-finish ._group ._item ._ele-number {
  visibility: hidden;
  animation: dsAmPK10FinishNum .5s ease-out forwards;
  opacity: 0;
}
.dsLotto-result--pk10.status--off ._scene-finish ._group ._item-1 ._ele-number {
  -webkit-animation-delay: .5s;
       -o-animation-delay: .5s;
          animation-delay: .5s;
}
.dsLotto-result--pk10.status--off ._scene-finish ._group ._item-2 ._ele-number {
  -webkit-animation-delay: 1.5s;
       -o-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.dsLotto-result--pk10.status--off ._scene-finish ._group ._item-3 ._ele-number {
  -webkit-animation-delay: 2.5s;
       -o-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.dsLotto-result--pk10.status--off ._scene-finish ._group ._item-4 ._ele-number,
.dsLotto-result--pk10.status--off ._scene-finish ._group ._item-5 ._ele-number,
.dsLotto-result--pk10.status--off ._scene-finish ._group ._item-6 ._ele-number,
.dsLotto-result--pk10.status--off ._scene-finish ._group ._item-7 ._ele-number,
.dsLotto-result--pk10.status--off ._scene-finish ._group ._item-8 ._ele-number,
.dsLotto-result--pk10.status--off ._scene-finish ._group ._item-9 ._ele-number,
.dsLotto-result--pk10.status--off ._scene-finish ._group ._item-10 ._ele-number {
  -webkit-animation-delay: 3.5s;
       -o-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

/* LOTTERY-PK10_(BG) */

.dsLotto-result--pk10 ._scene-bg {
  z-index: 0;
  left: 15px;
}
.dsLotto-result--pk10.status--on ._scene-bg {
  animation: dsAmPK10Sw 500ms linear infinite;
  animation-delay: 5.8s;
}
.dsLotto-result--pk10 ._scene-bg ._group ._item {
  width: 30px;
  height: 54px;
  transform: skewX(54deg);
  border-left: 2px dashed rgba(255, 255, 255, .2);
}
.dsLotto-result--pk10 ._scene-bg ._group ._item:last-child {
  border-right: 2px dashed rgba(255, 255, 255, .2);
}
.dsLotto-result--pk10.status--on ._scene-bg ._group ._item,
.dsLotto-result--pk10.status--on ._scene-bg ._group ._item:last-child {
  border-color: rgba(255, 255, 255, .7);
}

@keyframes dsAmPK10FinishNum {
  0% {
    visibility: visible;
    transform: translateY(-35px);
    opacity: 0;
  }
  90%,
  100% {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
  95% {
    visibility: visible;
    transform: translateY(-5px);
    opacity: 1;
  }
}

@keyframes dsAmPK10Show {
  0% {
    /* transform: translateY(-54px); */
    opacity: 0;
  }
  100% {
    /* transform: translateY(0); */
    opacity: 1;
  }
}
@keyframes dsAmPK10Hide {
  0% {
    /* transform: translateY(0); */
    opacity: 1;
  }
  100% {
    /* transform: translateY(54px); */
    opacity: 0;
  }
}
@keyframes dsAmPK10Motor {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(+194px, +180px);
    transform: translate(+194px, +180px);
  }
}
@keyframes dsAmPK10Counter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dsAmPK10Sw {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-14px, -10px);
    transform: translate(-14px, -10px);
  }
}

/*K3*/
.dsLotto-result--no3 ._item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 99px;
  height: 36px;
  margin-left: 1px;
  background-color: rgb(90, 149, 169);
  background-image: linear-gradient(rgb(96, 153, 172), rgb(67, 114, 129));
}
/*pcegg*/
.dsLotto-result--no7 ._item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 52px;
  height: 36px;
  margin-left: 1px;
  background-color: rgb(90, 149, 169);
  background-image: linear-gradient(rgb(96, 153, 172), rgb(67, 114, 129));
}

.dsLotto-result--no7 ._item._item_add{
	width:29px;
}
.dsLotto-result--no7 ._group{
	width:305px;
}

#lt_write_box {
    border: 0 none;
    height: 140px !important;
    width: 850px !important;
    background: rgba(0, 0, 0, 0) url(../images/input_bg.png) no-repeat scroll 130px 0;
   	border: 1px solid #e1e1e1 !important;
    font-weight: bold;
    font-size:15px;
    box-shadow: inset 3px 3px #f5f5f5;
    padding:5px !important;
}
#lt_example, #lt_help {
    color: #e84f31;
    cursor: pointer;
    float: left;
    font-size: 12px;
    padding-left: 10px;
    width: auto;
}
#lt_example .fanli {
    background: rgba(0, 0, 0, 0) url(../images/all_ico.png) no-repeat scroll -354px -102px;
    float: left;
    height: 10px;
    position: relative;
    right: 5px;
    top: 7px;
    width: 14px;
}
#lt_help .shuoming {
    background: rgba(0, 0, 0, 0) url(../images/all_ico.png) no-repeat scroll -377px -99px;
    float: left;
    height: 12px;
    position: relative;
    right: 5px;
    top: 6px;
    width: 14px;
}
.ball_select_other  .refresh {
    background: rgba(0, 0, 0, 0) url(../images/refresh3.png) no-repeat scroll center center;
    display: inline-block;
    height: 17px;
    vertical-align: middle;
    width: 17px;
}
.yjf_bs{
	width:850px;
	margin:0 auto;
}
.yjf_bs .choose-money {
    background: #e1e1e1 none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    display: inline-block;
    padding: 2px;
    position: relative;
    text-align: center;
}
.yjf_bs .choose-money li:nth-child(1) {
    border-bottom-left-radius: 4px;
    border-right: medium none;
    border-top-left-radius: 4px;
}
.yjf_bs .choose-money .on {
    background: #000000; 
	background: -moz-linear-gradient(top, #f08436 0%, #b85710 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f08436), color-stop(100%,#b85710)); 
	background: -webkit-linear-gradient(top, #f08436 0%,#b85710 100%); 
	background: -o-linear-gradient(top, #f08436 0%,#b85710 100%); 
	background: -ms-linear-gradient(top, #f08436 0%,#b85710 100%); 
	background: linear-gradient(to bottom, #f08436 0%,#b85710 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f08436', endColorstr='#b85710',GradientType=0 ); 
	color:#fff;
}
:root .yjf_bs .choose-money .on{filter:none;} 
.yjf_bs .choose-money li {
    background: #fbfbfb none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    color: #000;
    cursor: pointer;
    display: block;
    float: left;
    line-height: 18px;
    width: 33px;
}

.ball_select_text label {
    display: block;
    height: 24px;
    margin-left: 5px;
    position: relative;
    width: 105px;
}
.ball_select_text h4 {
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 24px;
}
.ball_select_text .tp-ui-number {
    padding: 0 15px;
    width: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.ball_select_text .tp-ui-number .tp-ui-number-option, .ball_select_text .tp-ui-number .tp-ui-number-option button {
    height: 22px;
    width: 15px;
}

.tp-ui-number-depart .tp-ui-number-addto {
    border-radius: 0 3px 3px 0;
}
.tp-ui-number-base .tp-ui-number-addto, .tp-ui-number-depart .tp-ui-number-option, .tp-ui-number-stack .tp-ui-number-addto {
    top: -1px;
}
.tp-ui-number-depart > .tp-ui-number-addto {
    right: -1px;
}
.tp-ui-number-depart .tp-ui-number-reduce {
    border-radius: 3px 0 0 3px;
}
.tp-ui-number-depart > .tp-ui-number-reduce {
    left: -1px;
}
.tp-ui-number-base .tp-ui-number-addto, .tp-ui-number-depart .tp-ui-number-option, .tp-ui-number-stack .tp-ui-number-addto {
    top: -1px;
}
.tp-ui-number-refer input, .tp-ui-number-option button {
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    outline: 0 none;
}
.tp-ui-number-refer input {
    width: 100%;
    height: 22px;
    text-align: center;
}
.tp-ui-number-option button {
    color: #666;
    text-shadow: 0 1px 0 #fff;
}
.tp-ui-number-option {
    background: #fafafa none repeat scroll 0 0;
    position: absolute;
    border: 1px solid #ddd;
}
.tp-ui-number-option, .tp-ui-number-option * {
    cursor: pointer;
    font-size:15px;
}
.for_checkbox {
    cursor: pointer;
}
.ballmain .ball_wrapper.ball_11x5_padding{
	padding-right:3px !important;
}
.gd-box-p {
    background: #fff none repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    text-align: center;
    width: 20px;
}
.gd-box-lhc {
    background: url("../images/balls_bg.png") no-repeat;
    border-radius: 24px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
    text-align: center;
    width: 24px;
    color:#595959;
}
.gd-box-lhc.bg1{ background-position:  1.5px -207px;}
.gd-box-lhc.bg2{background-position:  -33.5px -207px;}
.gd-box-lhc.bg4{background-position:  -69px -207px;}


.gd-box-sf-lhc {
    background: url("../images/balls_bg.png") no-repeat;
    border-radius: 24px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin-right: 3px;
    text-align: center;
    width: 24px;
    color:#595959;
}
.gd-box-sf-lhc.bg1{ background-position:  1.5px -207px;}
.gd-box-sf-lhc.bg2{background-position:  -33.5px -207px;}
.gd-box-sf-lhc.bg4{background-position:  -69px -207px;}

/*lhc*/
.dsLotto-rs {
	background-image: linear-gradient(to bottom right,#e6eff2,#b4d0d9);
	background-color: #b4d0d9;
}
.dsLotto-rs {
    height: 58px;
}
.dsLotto-rs--xy .ui-row {
    padding-top: 2px;
    text-align: center;
}
.dsLotto-rs--xy li {
    width: 36px;
    margin: 0 2px;
}
.dsLotto-rs--sfc li{
	margin:0 1px;
}
.ico-farm {
    display: inline-block;
    overflow: hidden;
    height: 36px;
    border: none !important;
}
.dsLotto-rs--sfc .ico-farm,.dsLotto-rs--cqxync .ico-farm{
	height:56px;
}
.ico-farm ._ele-number,.ico-farm ._ele-unknown li{
	font-size: 18px !important;
	line-height: 34px;
    font-weight: bold;
	color: #595959;
	width: 34px;
	height:34px;
	border-radius: 34px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	margin-top:1px;
	background: url("../images/balls_bg.png") no-repeat;
}
.dsLotto-rs--sfc .ico-farm ._ele-number, .ico-farm ._ele-unknown li,.dsLotto-rs--cqxync .ico-farm ._ele-number, .ico-farm ._ele-unknown li{
	margin-top:10px;
}
.ico-farm ._ele-unknown{
	margin-top:5px;
}
.dsLotto-rs--xy.status--off .ui-row-i li ._ele-number {
	visibility: hidden;
	opacity: 0;
    -webkit-animation: dsAmPK10FinishNum .5s ease-out forwards;
    animation: dsAmPK10FinishNum .5s ease-out forwards;
}
.dsLotto-rs--xy.status--on .ui-row-i li ._ele-number{
	opacity: 1;
    -webkit-animation: dsAmPK10FinishNumOut .5s ease-out forwards;
    animation: dsAmPK10FinishNumOut .5s ease-out forwards;
}
.dsLotto-rs--xy.status--off .ui-row-ii li {
	visibility: hidden;
	opacity: 0;
    -webkit-animation: dsAmLHCFinishIn .5s ease-out forwards;
    animation: dsAmLHCFinishIn .5s ease-out forwards;
}
.dsLotto-rs--xy.status--on ._ele-unknown {
	-webkit-animation:dsLHCAmRstUk 10s linear infinite;
    animation: dsLHCAmRstUk 10s linear infinite;
}
.dsLotto-rs--xy ._ele-unknown ul {
    height: 1600px;
}
.dsLotto-rs--sfc ._ele-unknown ul {
    height: 200px;
}
.dsLotto-rs--sfc ._ele_sfc{
	background-position: -130px -81px;
}
.dsLotto-rs--sfc ._ele-unknown ._ele_sfc{
	background-position: -130px -81px;
}
.dsLotto-rs--cqxync ._ele_cqxync_01{background-position: 0px -242px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_02{background-position: -54px -242px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_03{background-position: -99px -242px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_04{background-position: -147px -242px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_05{background-position: -195px -242px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_06{background-position: -246px -242px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_07{background-position: -288px -242px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_08{background-position: -336px -242px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_09{background-position: -383px -242px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_10{background-position: -430px -242px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_11{background-position: -5px -295px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_12{background-position: -55px -295px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_13{background-position: -97px -295px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_14{background-position: -150px -295px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_15{background-position: -196px -295px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_16{background-position: -243px -295px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_17{background-position: -291px -295px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_18{background-position: -339px -295px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_19{background-position: -383px -295px !important;}
.dsLotto-rs--cqxync ._ele_cqxync_20{background-position: -431px -295px !important;}



.dsLotto-rs--xy ._ele_cqxync{
	text-indent: -9999px;
	background-position: 0px -242px;
}
.dsLotto-rs--xy.status--on .ui-row-ii li{
	opacity: 1;
    -webkit-animation: dsAmLHCFinishOut .5s ease-out forwards;
    animation: dsAmLHCFinishOut .5s ease-out forwards;
}
.dsLotto-rs--xy.status--off .ui-row-i li {
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
}
.dsLotto-rs--xy.status--on .ui-row-i .item-1 ._ele-number, .dsLotto-rs--xy.status--off .ui-row-i .item-1 ._ele-number,.dsLotto-rs--xy.status--on .ui-row-ii li:nth-child(1),.dsLotto-rs--xy.status--off .ui-row-ii li:nth-child(1) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
.dsLotto-rs--xy.status--on .ui-row-i .item-2 ._ele-number, .dsLotto-rs--xy.status--off .ui-row-i .item-2 ._ele-number,.dsLotto-rs--xy.status--on .ui-row-ii li:nth-child(2),.dsLotto-rs--xy.status--off .ui-row-ii li:nth-child(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.dsLotto-rs--xy.status--on .ui-row-i .item-3 ._ele-number, .dsLotto-rs--xy.status--off .ui-row-i .item-3 ._ele-number,.dsLotto-rs--xy.status--on .ui-row-ii li:nth-child(3),.dsLotto-rs--xy.status--off .ui-row-ii li:nth-child(3){
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.dsLotto-rs--xy.status--on .ui-row-i .item-4 ._ele-number, .dsLotto-rs--xy.status--off .ui-row-i .item-4 ._ele-number,.dsLotto-rs--xy.status--on .ui-row-ii li:nth-child(4),.dsLotto-rs--xy.status--off .ui-row-ii li:nth-child(4) {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}
.dsLotto-rs--xy.status--on .ui-row-i .item-5 ._ele-number, .dsLotto-rs--xy.status--off .ui-row-i .item-5 ._ele-number,.dsLotto-rs--xy.status--on .ui-row-ii li:nth-child(5),.dsLotto-rs--xy.status--off .ui-row-ii li:nth-child(5) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.dsLotto-rs--xy.status--on .ui-row-i .item-6 ._ele-number, .dsLotto-rs--xy.status--off .ui-row-i .item-6 ._ele-number,.dsLotto-rs--xy.status--on .ui-row-ii li:nth-child(6),.dsLotto-rs--xy.status--off .ui-row-ii li:nth-child(6) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.dsLotto-rs--xy.status--on .ui-row-i .item-7 ._ele-number, .dsLotto-rs--xy.status--off .ui-row-i .item-7 ._ele-number,.dsLotto-rs--xy.status--on .ui-row-ii li:nth-child(7),.dsLotto-rs--xy.status--off .ui-row-ii li:nth-child(7) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.dsLotto-rs--xy.status--on .ui-row-i .item-8 ._ele-number, .dsLotto-rs--xy.status--off .ui-row-i .item-8 ._ele-number,.dsLotto-rs--xy.status--on .ui-row-ii li:nth-child(8),.dsLotto-rs--xy.status--off .ui-row-ii li:nth-child(8) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
.dsLotto-rs--xy .ui-row {
    padding-top: 2px;
    text-align: center;
}
@keyframes dsAmLHCFinishIn {
  0% {
    visibility: visible;
    transform: translateY(35px);
    opacity: 0;
  }
  90%,
  100% {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dsAmLHCFinishOut {
  0% {
  	visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    visibility: visible;
    transform: translateY(35px);
    opacity: 0;
  }
}
@-webkit-keyframes dsLHCAmRstUk {
  0% {
    transform: translateY(0) scale(0.9);

    -webkit-filter: blur(1px);
       -moz-filter: blur(1px);
         -o-filter: blur(1px);
        -ms-filter: blur(1px);
            filter: blur(1px);
  }
  100% {
    transform: translateY(-1600px) scale(0.9);

    -webkit-filter: blur(1px);
       -moz-filter: blur(1px);
         -o-filter: blur(1px);
        -ms-filter: blur(1px);
            filter: blur(1px);
  }
}
@keyframes dsLHCAmRstUk {
  0% {
    transform: translateY(0) scale(0.9);

    -webkit-filter: blur(1px);
       -moz-filter: blur(1px);
         -o-filter: blur(1px);
        -ms-filter: blur(1px);
            filter: blur(1px);
  }
  100% {
    transform: translateY(-1600px) scale(0.9);

    -webkit-filter: blur(1px);
       -moz-filter: blur(1px);
         -o-filter: blur(1px);
        -ms-filter: blur(1px);
            filter: blur(1px);
  }
}
@keyframes dsAmPK10FinishNumOut {
  0% {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    visibility: visible;
    transform: translateY(-35px);
    opacity: 0;
  }
}

/*order*/
.label{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-1 {/*未开奖*/
    background-color: #428bca;
}
.label-2 {/*已中奖*/
    background-color: #5cb85c;
}
.label-3 {/*未中奖*/
    background-color: #d9534f;
}
.label-4{
	background-color: #f0ad4e;
}
.orderdetail{
	padding:10px;
}
.zhuihao_list tr td a {
    color: #8968cd;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
.zhuihao_list tr td a:hover{
	text-decoration: underline;
}
.zhuihao .zhuihao_title .title{
	font-size:14px;
	padding-left:22px;
}
.zhuihao .zhuihao_title .title em {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 4px;
    top: 17px;
    background: url(../images/kc-icon.png) no-repeat -288px -32px;
}
.orderdetail .zhuihao_box .zhuihao_list td.notbor{border-right:none;}
.orderdetail .zhuihao_box .zhuihao_list td {
    border-right: 1px solid #fff;
}
.bh-refresh {
    position: absolute;
    top: 20px;
    right: 14px;
    font-size: 12px;
}
.bh-refresh a {
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    padding: 0 8px 0 24px;
    border: 1px #e74c3c solid;
    border-radius: 3px;
    background: #e74c3c;
    color: #fff !important;
}
.bh-refresh a:hover {
    border-color: #f4a62a;
    background: #f4a62a;
}
.bh-refresh a i {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -4px;
    top: -4px;
    background: url(../images/kc-icon.png) no-repeat -384px -64px;
}
.message_table {
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}
.message_table th, .message_table td {
    border-top: 1px solid #cfcfcf;
    line-height: 1em;
    padding: 15px 5px;
    text-align: center;
    vertical-align: top;
}
.message_table .bg_black3 {
    background: #999ca1 none repeat scroll 0 0;
}
.message_table td span{
	color: #fff;
	border-radius: 3px;
	padding: 3px 7px;
	font-size: 12px;
}
/*bjsc*/
.dsLotto-result--pk10 ._scene-finish ._group ._item .ball_bjsc_01{
	background-position: 1px 0px;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item .ball_bjsc_02{
	background-position: -43px 0px;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item .ball_bjsc_03{
	background-position: -86px 0px;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item .ball_bjsc_04{
	background-position: -129px 0px;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item .ball_bjsc_05{
	background-position: -174px 0px;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item .ball_bjsc_06{
	background-position: -217px 0px;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item .ball_bjsc_07{
	background-position: -260px 0px;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item .ball_bjsc_08{
	background-position: -303px 0px;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item .ball_bjsc_09{
	background-position: -348px 0px;
}
.dsLotto-result--pk10 ._scene-finish ._group ._item .ball_bjsc_10{
	background-position: -394px 0px;
}
#model_body {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 0px;
    padding: 15px;
    position: relative;
}
#model_body table{
	width:100%;
}
#model_body table tr th {
    background: #FF9726;
    font-weight: bold;
    line-height: 30px;
    color: white;
}
#model_body table tr td {
    line-height: 28px;
    text-align: center;
}
#model_body table tr th, #model_body table tr td {
    border: 1px solid #EABF8F;
    font-size:12px;
}
#model_body .firstTab{
	margin-bottom:10px;
}
.layui-layer-page .layui-layer-content {
    overflow: hidden !important;
}

/*nav合买*/
.jc-tab-out{
	height:28px;
	margin-left:350px;
}
.jc-tab-ul {
    float: left;
}
.jc-tab-ul li {
    float: left;
}
.jc-tab-ul li a {
    float: left;
    color: #666;
    padding: 0 14px;
    height: 28px;
    line-height: 28px;
    margin-left: -1px;
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    color: #333;
    border-right: 1px solid #e1e1e1;
    color: #333;
}
.jc-tab-ul li a.active:link, .jc-tab-ul li a.active:hover, .jc-tab-ul li a.active:visited {
    background: #d20d00;
    border-color: #d20d00;
    color: #fff;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
.jc-tab-ul li a:hover {
    border-color: #d20d00;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #d20d00;
}
.trend_chart_box .dot.odd_even{right:95px;}
.trend_chart_box .dot.big_small{right:175px;}
.trend_chart_box .dot.sum_value{right:25px;}
.trend_chart_box .dot.draw_type{right:115px;}
.trend_chart_box .dot.hot_cold{right:35px;}