
<form>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">总和 <span style="color:red">&nbsp;&nbsp;(*龙虎为第一球和第五球做比较)</span></th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>和大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和大" rate="0.0" oddsId="" rakeBack="3240">
				</td>
				<td>和小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和小" rate="0.0" oddsId="" rakeBack="3241">
				</td>
			</tr>
			<tr>
				<td>和单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和单" rate="0.0" oddsId="" rakeBack="3242">
				</td>
				<td>和双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和双" rate="0.0" oddsId="" rakeBack="3243">
				</td>
			</tr>
			<tr>
				<td>尾大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾大" rate="0.0" oddsId="" rakeBack="3244">
				</td>
				<td>尾小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="尾小" rate="0.0" oddsId="" rakeBack="3245">
				</td>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="3246">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="3247">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第一球">
		<thead>
			<tr>
				<th colspan="6">第一球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="3248">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="3249">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="3250">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="3251">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第二球">
		<thead>
			<tr>
				<th colspan="6">第二球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="3248">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="3249">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="3250">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="3251">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第三球">
		<thead>
			<tr>
				<th colspan="6">第三球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="3248">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="3249">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="3250">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="3251">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第四球">
		<thead>
			<tr>
				<th colspan="6">第四球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="3248">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="3249">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="3250">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="3251">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第五球">
		<thead>
			<tr>
				<th colspan="6">第五球</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="3248">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="3249">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="3250">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="3251">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(14, 'shuangmianpan', 'shuangmianpan', '双面盘')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
