<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->
<style>
	.currGray{
		background: #aaa!important;
		border:1px solid #aaa;
	}
	.currGreen{
		background: #5cb85c!important;
		border:1px solid #5cb85c;
	}
	.currBlue{
		background: #2a74dd!important;
		border:1px solid #2a74dd;
	}
	.currRed{
		background: #d9534f!important;
		border:1px solid #d9534f;
	}
</style>
<script>
// 清空投注页
$('.sscCheckNumber ul li').html("");
//所有玩法
var xingyunList = [
  {
    name: '混合',
    oddPlayItems: [],
  },
  {
    name: '波色豹子',
    oddPlayItems: []
  },
    {
        name: '特码',
        oddPlayItems: []
    }
  // },
  // {
  //   name: '特码包三',
  //   oddPlayItems: []
  // }
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,zdnumber;
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
  rule = rules[0];
	var isNowYear = rules[0].rules[0].oddPlayItems;
	for(let i in isNowYear) {
		if (isNowYear[i].isNowYear == 1 && isNowYear[i].name != "大(14)" && isNowYear[i].name != "小(13)" && isNowYear[i].name != "小单(13)" && isNowYear[i].name != "大双(14)" && isNowYear[i].name != "单(13)" && isNowYear[i].name != "双(14)") {
			// 混合
			xingyunList[0].oddPlayItems.push(isNowYear[i]);
		}else if (isNowYear[i].isNowYear == 2 || isNowYear[i].isNowYear == 3) {
			// 色波豹子
			xingyunList[1].oddPlayItems.push(isNowYear[i]);
			// 特码
		}else if (isNowYear[i].isNowYear == 4) {
			xingyunList[2].oddPlayItems.push(isNowYear[i]);
			// 特码包三
		}/*else if (isNowYear[i].isNowYear == 5) {
			xingyunList[3].oddPlayItems.push(isNowYear[i]);
		}*/
	};
	for(let i in isNowYear){
        if (isNowYear[i].isNowYear == 1 && isNowYear[i].name == "大(14)" || isNowYear[i].name == "小(13)" || isNowYear[i].name == "小单(13)" || isNowYear[i].name == "大双(14)" || isNowYear[i].name == "单(13)" || isNowYear[i].name == "双(14)") {
            // 混合
			var isName = (isNowYear[i].name).substring(isNowYear[i].name.length - 4, isNowYear[i].name)
            $.each(xingyunList[0].oddPlayItems,function (index,item) {
                if(item.name == isName){
                    item.odds = item.odds + '/' + isNowYear[i].odds
				}
            })
        }
	}
	// 清空投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in xingyunList){
    let yuansu = '<div class="fix selectNormal" style="margin: 15px 0;">'+
    '<span class="buyNumberTitle">'+xingyunList[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in xingyunList[i].oddPlayItems){
      if(i==0){
		  right+='<a data-index="'+i+'-'+l+'" style="font-size: 18px;width: 86px;">'+xingyunList[0].oddPlayItems[l].name+'<p class="plsize" style="margin-left: 3px;">'+xingyunList[0].oddPlayItems[l].odds+'</p></a>';
      }else if (i == 1) {
        right+='<a data-index="'+i+'-'+l+'" style="font-size: 18px;">'+xingyunList[1].oddPlayItems[l].name+'<p class="plsize">'+xingyunList[1].oddPlayItems[l].odds+'</p></a>';
      }else if (i == 2) {
          right += '<a data-index="' + i + '-' + l + '" style="font-size: 18px;">' + xingyunList[2].oddPlayItems[l].name + '<p class="plsize">' + xingyunList[2].oddPlayItems[l].odds + '</p></a>';
      }
        // }else if (i == 3) {
      // 	right+='<nav class="navs">'+
		//   		'<input type="checkbox" class="nav__cbs" id="menu-cb">'+
		// 		  '<div class="nav__contents">'+
		// 		    '<ul class="nav__itemss">'+
		// 		      '<li class="nav__items">'+
		// 		        '<span class="nav__item-texts">'+
		// 		          '<select id="select_id" class="text1">'+
		// 							'<option value="0">'+
		// 							'0'+
		// 							'</option>'+
		// 							'<option value="1">'+
		// 							'1'+
		// 							'</option>'+
		// 							'<option value="2">'+
		// 							'2'+
		// 							'</option>'+
		// 							'<option value="3">'+
		// 							'3'+
		// 							'</option>'+
		// 							'<option value="4">'+
		// 							'4'+
		// 							'</option>'+
		// 							'<option value="5">'+
		// 							'5'+
		// 							'</option>'+
		// 							'<option value="6">'+
		// 							'6'+
		// 							'</option>'+
		// 							'<option value="7">'+
		// 							'7'+
		// 							'</option>'+
		// 							'<option value="8">'+
		// 							'8'+
		// 							'</option>'+
		// 							'<option value="9">'+
		// 							'9'+
		// 							'</option>'+
		// 							'<option value="10">'+
		// 							'10'+
		// 							'</option>'+
		// 							'<option value="11">'+
		// 							'11'+
		// 							'</option>'+
		// 							'<option value="12">'+
		// 							'12'+
		// 							'</option>'+
		// 							'<option value="13">'+
		// 							'13'+
		// 							'</option>'+
		// 							'<option value="14">'+
		// 							'14'+
		// 							'</option>'+
		// 							'<option value="15">'+
		// 							'15'+
		// 							'</option>'+
		// 							'<option value="16">'+
		// 							'16'+
		// 							'</option>'+
		// 							'<option value="17">'+
		// 							'17'+
		// 							'</option>'+
		// 							'<option value="18">'+
		// 							'18'+
		// 							'</option>'+
		// 							'<option value="19">'+
		// 							'19'+
		// 							'</option>'+
		// 							'<option value="20">'+
		// 							'20'+
		// 							'</option>'+
		// 							'<option value="21">'+
		// 							'21'+
		// 							'</option>'+
		// 							'<option value="22">'+
		// 							'22'+
		// 							'</option>'+
		// 							'<option value="23">'+
		// 							'23'+
		// 							'</option>'+
		// 							'<option value="24">'+
		// 							'24'+
		// 							'</option>'+
		// 							'<option value="25">'+
		// 							'25'+
		// 							'</option>'+
		// 							'<option value="26">'+
		// 							'26'+
		// 							'</option>'+
		// 							'<option value="27">'+
		// 							'27'+
		// 							'</option>'+
		// 							'</select>'+
		// 		        '</span>'+
		// 		      '</li>'+
		// 		      '<li class="nav__items">'+
		// 		        '<span class="nav__item-texts">'+
		// 						'<select id="select_id"  class="text2">'+
		// 						'<option value="0">'+
		// 						'0'+
		// 						'</option>'+
		// 						'<option value="1">'+
		// 						'1'+
		// 						'</option>'+
		// 						'<option value="2">'+
		// 						'2'+
		// 						'</option>'+
		// 						'<option value="3">'+
		// 						'3'+
		// 						'</option>'+
		// 						'<option value="4">'+
		// 						'4'+
		// 						'</option>'+
		// 						'<option value="5">'+
		// 						'5'+
		// 						'</option>'+
		// 						'<option value="6">'+
		// 						'6'+
		// 						'</option>'+
		// 						'<option value="7">'+
		// 						'7'+
		// 						'</option>'+
		// 						'<option value="8">'+
		// 						'8'+
		// 						'</option>'+
		// 						'<option value="9">'+
		// 						'9'+
		// 						'</option>'+
		// 						'<option value="10">'+
		// 						'10'+
		// 						'</option>'+
		// 						'<option value="11">'+
		// 						'11'+
		// 						'</option>'+
		// 						'<option value="12">'+
		// 						'12'+
		// 						'</option>'+
		// 						'<option value="13">'+
		// 						'13'+
		// 						'</option>'+
		// 						'<option value="14">'+
		// 						'14'+
		// 						'</option>'+
		// 						'<option value="15">'+
		// 						'15'+
		// 						'</option>'+
		// 						'<option value="16">'+
		// 						'16'+
		// 						'</option>'+
		// 						'<option value="17">'+
		// 						'17'+
		// 						'</option>'+
		// 						'<option value="18">'+
		// 						'18'+
		// 						'</option>'+
		// 						'<option value="19">'+
		// 						'19'+
		// 						'</option>'+
		// 						'<option value="20">'+
		// 						'20'+
		// 						'</option>'+
		// 						'<option value="21">'+
		// 						'21'+
		// 						'</option>'+
		// 						'<option value="22">'+
		// 						'22'+
		// 						'</option>'+
		// 						'<option value="23">'+
		// 						'23'+
		// 						'</option>'+
		// 						'<option value="24">'+
		// 						'24'+
		// 						'</option>'+
		// 						'<option value="25">'+
		// 						'25'+
		// 						'</option>'+
		// 						'<option value="26">'+
		// 						'26'+
		// 						'</option>'+
		// 						'<option value="27">'+
		// 						'27'+
		// 						'</option>'+
		// 						'</select>'+
		// 		        '</span>'+
		// 		      '</li>'+
		// 		      '<li class="nav__items">'+
		// 		        '<span class="nav__item-texts">'+
		// 						'<select id="select_id"  class="text3">'+
		// 							'<option value="0">'+
		// 							'0'+
		// 							'</option>'+
		// 							'<option value="1">'+
		// 							'1'+
		// 							'</option>'+
		// 							'<option value="2">'+
		// 							'2'+
		// 							'</option>'+
		// 							'<option value="3">'+
		// 							'3'+
		// 							'</option>'+
		// 							'<option value="4">'+
		// 							'4'+
		// 							'</option>'+
		// 							'<option value="5">'+
		// 							'5'+
		// 							'</option>'+
		// 							'<option value="6">'+
		// 							'6'+
		// 							'</option>'+
		// 							'<option value="7">'+
		// 							'7'+
		// 							'</option>'+
		// 							'<option value="8">'+
		// 							'8'+
		// 							'</option>'+
		// 							'<option value="9">'+
		// 							'9'+
		// 							'</option>'+
		// 							'<option value="10">'+
		// 							'10'+
		// 							'</option>'+
		// 							'<option value="11">'+
		// 							'11'+
		// 							'</option>'+
		// 							'<option value="12">'+
		// 							'12'+
		// 							'</option>'+
		// 							'<option value="13">'+
		// 							'13'+
		// 							'</option>'+
		// 							'<option value="14">'+
		// 							'14'+
		// 							'</option>'+
		// 							'<option value="15">'+
		// 							'15'+
		// 							'</option>'+
		// 							'<option value="16">'+
		// 							'16'+
		// 							'</option>'+
		// 							'<option value="17">'+
		// 							'17'+
		// 							'</option>'+
		// 							'<option value="18">'+
		// 							'18'+
		// 							'</option>'+
		// 							'<option value="19">'+
		// 							'19'+
		// 							'</option>'+
		// 							'<option value="20">'+
		// 							'20'+
		// 							'</option>'+
		// 							'<option value="21">'+
		// 							'21'+
		// 							'</option>'+
		// 							'<option value="22">'+
		// 							'22'+
		// 							'</option>'+
		// 							'<option value="23">'+
		// 							'23'+
		// 							'</option>'+
		// 							'<option value="24">'+
		// 							'24'+
		// 							'</option>'+
		// 							'<option value="25">'+
		// 							'25'+
		// 							'</option>'+
		// 							'<option value="26">'+
		// 							'26'+
		// 							'</option>'+
		// 							'<option value="27">'+
		// 							'27'+
		// 							'</option>'+
		// 						'</select>'+
		// 		        '</span>'+
		// 		      '</li>'+
		// 		    '</ul>'+
		// 		  '</div>'+
		// 		  '<label class="nav__btns" for="menu-cb"><a data-index="'+i+'-'+l+'" style="margin: 0 0 0 5px;">'+xingyunList[3].oddPlayItems[l].name+'</a><p class="plsize" style="margin: 0 0 0 -8px;">赔:'+xingyunList[3].oddPlayItems[l].odds+'</p></label>'+
		// 	'</nav>'
      // }
    }
    let all = yuansu + right+ '</div></div>';
		// i==0? all = yuansu + right+ '</div></div>':''
    $('.sscCheckNumber ul li').append(all)
  }
  // 给玩法添加class,并判断玩法的最小下注个数
	$('.sscCheckNumber a').click(function(){
	    var colorNum = $(this).html()
	    colorNum = colorNum.substring(0,colorNum.indexOf('<'))
		if(colorNum == 0 || colorNum == 13 || colorNum == 14 || colorNum == 27){
            $(this).toggleClass('currGray');

		} else if(colorNum == 1 || colorNum == 4 || colorNum == 7 || colorNum == 10 || colorNum == 16 || colorNum == 19 || colorNum == 22 || colorNum == 25){
            $(this).toggleClass('currGreen');
		} else if(colorNum == 2 || colorNum == 5 || colorNum == 8 || colorNum == 11|| colorNum == 17 || colorNum == 20 || colorNum == 23 || colorNum == 26){
            $(this).toggleClass('currBlue');
		} else if(colorNum == 3 || colorNum == 6 || colorNum == 9 || colorNum == 12 || colorNum == 15 || colorNum == 18 || colorNum == 21 || colorNum == 24){
            $(this).toggleClass('currRed');
		}
		$(this).toggleClass('curr');
    let length = 0;
    let zdnumber = 0;
    switch ($('.betFilter .curr').text()) {
      case '幸运28':
        zdnumber = $('.sscCheckNumber .curr').length;
        break;
      default:
    }
	$('.detail').text(zdnumber); // 注单数量
	if ($(this).text() == "特码包三") {
		$('.tmbs').html('1')
	}
	})
	// 获取游戏说明，页面加载完成后执行
	$(document).ready(function(){
		setTimeout(function(){
		  var game_shows
		  if ($('.betFilter .curr').text() == rule.name) {
		    $('.window_ .text_shows').html('');
		    game_shows = rule.rules[0].detailDesc;
		  }
			let html = '<span>'+game_shows+'</span>';
			$('.window_ .text_shows').append(html)
		},500)
	})
});
var cart = [];
// 添加注单
$('#betBtn').unbind('click')
$('#betBtn').click(function(event){
	if ($('.buyNumber .curr').text() === "特码包三") {
		$('.nav__btns').click();
	}
  // 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
  if (hmlet == 0) {
    alert('请选择一注进行投注');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr currGray currGreen currBlue currRed');
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
    alert('请输入投注金额');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr currGray currGreen currBlue currRed');
		if ($('.buyNumber .curr').text() === "特码包三") {
			$('.nav__btns').click();
		}
		if ($('.checkedList table tbody').html()=="") {
			cart = [];
		}
    return;
  }
  let haoma = '',winMoney = 0;
  var selectEl = $('.sscCheckNumber .curr');
  let data = [];
  for(let i=0;i<selectEl.length;i++){
    selectEl.eq(i).toggleClass('curr')
    let row = selectEl.eq(i).attr('data-index').split('-')[0]-0;
    let col = selectEl.eq(i).attr('data-index').split('-')[1]-0;
    let obj = xingyunList[row].oddPlayItems[col];
    let bol = false;
		for(let i in cart){
			let name = obj.name;
      if(cart[i].name === name){
        bol = true;
				cart[i].money += $('.eachPrice').val()-0;
        continue;
      }
    }
    !bol? cart.push({
      playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
      money: $('.eachPrice').val()-0,
      name:obj.name==='特码包三'? obj.name=($('.text1 option:selected').val())+"-"+($('.text2 option:selected').val())+"-"+($('.text3 option:selected').val()): obj.name,
      oddsId: obj.id,
      playCode: obj.playCode,
      max: obj.maxBetAmmount,
      min: obj.minBetAmmount,
      odds:obj.odds,
    }):''
  }
  createDetail();
	// console.log(cart);
	var amount = 0; // 投注金额
	var zdshuliang = 0; // 注单数量
	for (let n in cart){
		amount += cart[n].money;
	}
	// console.log(cart);
	zdshuliang += cart.length;
	// console.log(zdshuliang);
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text(ztzje)
    $('.buyNumber a').removeClass('curr currGray currGreen currBlue currRed');
})
function createDetail (){
  $('.checkedList tbody').html('');
  var oddLength, odds1, odds2, oddConut;
	for(let i in cart){
	    try {
            if((cart[i].odds).indexOf('/') != -1){
                oddLength = (cart[i].odds).indexOf('/')
                odds1 = (cart[i].odds.substring(0,oddLength) * cart[i].money).toFixed(2)
                odds2 = (cart[i].odds.substring(oddLength+1) * cart[i].money).toFixed(2)
                oddConut = odds1 + '/' + odds2
            } else {
                oddConut = (cart[i].money*cart[i].odds).toFixed(2)
            }
        } catch (e) {
            oddConut = (cart[i].money*cart[i].odds).toFixed(2)
        }

    let html = '<tr>'+
              '<td>'+
                '<i class="order_type">'+
                  '['+cart[i].playsName+']'+cart[i].name+
                  // '<span>...</span>'+
                '</i>'+
                // '<a class="orderDetail">详细</a>'+
              '</td>'+
              '<td>'+1+'注</td>'+
              '<td>'+(cart[i].money)+'元</td>'+
              '<td>'+
                '可中金额'+
                '<i class="orderMoney">'+
                  '<i>'+oddConut+'元</i>'+
                '</i>'+
              '</td>'+
              '<td><a class="orderCancel" onclick="del(this)"  data-index="'+i+'"  >删除</a></td>'+
            '</tr>'
    $('.checkedList tbody').append(html)
  }
  $('.detail').text('0');
	$('.eachPrice').val('');

}
// 注单投注
$('#betbtn').unbind('click');
$('#betbtn').click(function(){
	$('#layermbox16').removeAttr("style");
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
	for (let i in cart) {
    betting += cart[i].money;
	}
  var content = $(".checkedList tbody").html();
  if (content == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$("span#submitBtn").hide();
		cart = [];
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                // '['+betting.playsName+']'+betting.name+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+betting+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$("span#submitBtn").show();
	}

  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
    // $('._submitPlansMoney').append((betting.note_number))
  }
})
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  // console.log(rule);
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: cart[i].money,
      name: cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  // formData.data = JSON.stringify(data);
  formData.data = JSON.stringify(data);
	$.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
    	cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('.buyNumber a').removeClass('curr currGray currGreen currBlue currRed');
			$('._mybetContent .tz_list').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('#layermbox16').attr('style','display:none;');
			$('.checkedList tbody').html('')
      $('.detail').text('0');
			$('.eachPrice').val('')
			$('.buyNumber a').removeClass('curr currGray currGreen currBlue currRed');
    }
  });
})
// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
// 删除注单
function del(a){
	let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
	var zdshuliang = 0; // 注单数量
	zdshuliang += cart.length;
	$('.betTotal .zdsl').text(zdshuliang)
	var ztzje = 0; // 用于计算总投注金额
	for (let i in cart) {
		ztzje += cart[i].money;
	}
	$('.betTotal .tzje').text("¥"+ztzje)
}
</script>
<style media="screen">
  .logo{
    height: 1550px;
  }
  .buyNumber{
    width: 620px;
  }

  .betRight .winnerListSlide{
    height: 548px;
  }
	.buyNumber a {
		width: 50px;
    height: 40px;
    border-radius: 5px;
		float: left;
		font-size: 12px;
    margin-bottom: 20px;
	}
	.selectNormal .buyNumber .plsize {
    font-size: 15px;
    font-family: cursive;
    color: #313131;
    width: 80px;
    margin: 3px 0px 0 -15px;
		font: 14px/1.4 Microsoft YaHei,PingFang SC,Helvetica,Helvetica Neue,Tahoma,Arial,sans-serif;
	}
	/*.selectNormal .buyNumber .plsize {
		width: 0;
	}*/



	/*特码包三动画*/
	.navs {
	  overflow: hidden;
	  position: absolute;
	  background: rgba(0,0,0,0);
	}
	.nav__cbs {
	  z-index: -1000;
	  position: absolute;
	  left: 0;
	  top: 0;
	  opacity: 0;
	  pointer-events: none;
	}
	.nav__contents {
	  position: relative;
	  width: 60px;
	  height: 100%;
	  -webkit-transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
	  transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
	}
	.nav__cbs:checked ~ .nav__contents {
	  -webkit-transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
	  transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
	  width: 210px;
	}
	.nav__itemss {
	  position: relative;
	  list-style-type: none;
	  font-size: 0;
		float: left;
		height: 60px;
	}
	.nav__items {
	  display: inline-block;
	  vertical-align: top;
	  width: 45px;
	  text-align: center;
	  color: #6C7784;
	  font-size: 14px;
	  line-height: 40px;
	  -webkit-transition: color 0.3s;
	  transition: color 0.3s;
	  cursor: pointer;
	}
	.nav__items .nav__item-texts {
		width: 50px;
    height: 30px;
    margin: auto;
	}
	.nav__items #select_id {
    height: 35px;
	}
	.nav__items:hover {
	  color: #00bdea;
	}
	.nav__item-texts {
	  display: block;
	  height: 100%;
	  -webkit-transform: rotateY(-70deg);
	          transform: rotateY(-70deg);
	  opacity: 0;
	  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
	  transition: opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
	  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s;
	  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
	}
	.nav__cbs:checked ~ .nav__contents .nav__item-texts {
	  -webkit-transform: rotateY(0);
	          transform: rotateY(0);
	  opacity: 1;
	  -webkit-transition: opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
	  transition: opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
	  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s;
	  transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
	}
	.nav__items:nth-child(1) .nav__item-texts {
	  -webkit-transition-delay: 0.3s;
	          transition-delay: 0.3s;
	}
	.nav__cbs:checked ~ .nav__contents .nav__items:nth-child(1) .nav__item-texts {
	  -webkit-transition-delay: 0s;
	          transition-delay: 0s;
	}
	.nav__items:nth-child(2) .nav__item-texts {
	  -webkit-transition-delay: 0.2s;
	          transition-delay: 0.2s;
	}
	.nav__cbs:checked ~ .nav__contents .nav__items:nth-child(2) .nav__item-texts {
	  -webkit-transition-delay: 0.1s;
	          transition-delay: 0.1s;
	}
	.nav__items:nth-child(3) .nav__item-texts {
	  -webkit-transition-delay: 0.1s;
	          transition-delay: 0.1s;
	}
	.nav__cbs:checked ~ .nav__contents .nav__items:nth-child(3) .nav__item-texts {
	  -webkit-transition-delay: 0.2s;
	          transition-delay: 0.2s;
	}
	.nav__btns {
	  position: absolute;
	  right: 0;
	  top: 0;
	  cursor: pointer;
	}
	.nav__btns:before, .nav__btns:after {
	  display: block;
	  width: 28px;
	  height: 4px;
	  border-radius: 2px;
	  background: #096DD3;
	  -webkit-transform-origin: 50% 50%;
	          transform-origin: 50% 50%;
	  -webkit-transition: background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
	  transition: background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
	  transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s;
	  transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
	}


</style>
