﻿/* CSS Document */
body{margin:0 auto;background:url(../images/) #000000 no-repeat center top; color:#a9776c;}


.header{height:135px; width:1100px; margin:0 auto;}
.logo{padding-left:35px; padding-top:17px; float:left;}
.style1{font:14px "微软雅黑"; line-height:24px; padding-left:886px;}
.style1 a:link{text-decoration:none; color:#a9776c}
.style1 a:visited{color:#a9776c;}
.style1 a:hover { color:#FFFF00;}
.title{padding-top:10px;}

#page_main{font:14px "微软雅黑"; color:#FFFFFF; width:980px; height:890px; margin:0 auto;}
#share{width:980px;  margin:0 auto;}
.share_text{font:14px "微软雅黑"; color:#ffdbb8; height:40px; line-height:40px; width:80px; margin-left:600px; float:left;}
.bshare-custom{height:40px; line-height:40px; padding-top:10px;}

.line{background:url(../images/b.png) repeat-x center; height:2px; width:880px; margin:0 auto;}
.ad{height:40px; line-height:40px; width:780px; font:14px; padding-left:210px;}
/*贵宾*/
.guest_warp{height:170px;}
.guest_Bar{ background:url(../images/btn_gb_bg.png) no-repeat center;font:21px "微软雅黑"; color:#FFF; width:198px; height:40px; line-height:40px; text-shadow:1px 1px 2px #666;text-align:center; float:left;}
.guest ul{font:16px "微软雅黑"; list-style-type:none; margin-left:-24px; margin-top:28px; color:#FFFFFF;}
.guest li{float:left;}
.guest li a:link{width:140px; height:40px; background:url(../images/btn_gb_01.png) no-repeat center;line-height:40px; 
text-align:center;text-decoration:none; color:#FFFFFF; display:block; margin-left:15px;}
.guest li a:visited{color:#FFFFFF;}
.guest li a:hover{width:140px; height:40px; background:url(../images/btn_gb_02.png) no-repeat center; color:#653600;}
/*贵宾*/
/*vip*/
.vip_warp{height:132px; padding-top:14px;}
.vip_Bar{background:url(../images/btn_VIP_bg.png) no-repeat center; font:21px "微软雅黑"; color:#FFFFFF; width:198px; height:40px; line-height:40px; text-shadow:1px 1px 2px #666; text-align:center; float:left;}
.vip ul{font:16px "微软雅黑"; list-style-type:none; margin-left:-24px; margin-top:28px; color:#FFFFFF;}
.vip li{float:left;}
.vip li a:link{width:140px; height:40px; background:url(../images/btn_vip_01.png) no-repeat center;line-height:40px; 
text-align:center;text-decoration:none; color:#653600; display:block; margin-left:15px;}
.vip li a:visited{color:#653600;}
.vip li a:hover{width:140px; height:40px; background:url(../images/btn_vip_02.png) no-repeat center; color:#fff;}
/*vip*/
/*agency*/
.agency_warp{height:132px; padding-top:14px;}
.agency_Bar{background:url(../images/btn_dl_bg.png) no-repeat center; font:21px "微软雅黑"; color:#FFFFFF; width:198px; height:40px; line-height:40px; text-shadow:1px 1px 2px #666; text-align:center; float:left;}
.agency ul{font:16px "微软雅黑"; list-style-type:none; margin-left:-24px; margin-top:28px; color:#FFFFFF;}
.agency li{float:left;}
.agency li a:link{width:140px; height:40px; background:url(../images/btn_dl_01.png) no-repeat center;line-height:40px; text-align:center;
text-decoration:none; color:#014c4a; display:block; margin-left:15px;}
.agency li a:visited{color:#014c4a;}
.agency li a:hover{width:140px; height:40px; background:url(../images/btn_dl_02.png) no-repeat center; color:#fff;}
/*agency*/
/*web*/
.web_warp{height:210px; padding-top:14px;}
.web_Bar{background:url(../images/btn_cywz_bg.png) no-repeat center; font:21px "微软雅黑"; color:#FFFFFF; width:198px; height:40px; line-height:40px; text-shadow:1px 1px 2px #666; text-align:center; float:left;}
.web ul{font:16px "微软雅黑"; list-style-type:none; margin-left:-24px; margin-top:28px; color:#FFFFFF;}
.web li {width:140px; height:64px;float:left; margin-left:15px;}
/*web*/
/*bank*/
.bank_warp{height:210px; padding-top:14px;}
.bank_Bar{background:url(../images/btn_cyyh_bg.png) no-repeat center; font:21px "微软雅黑"; color:#FFFFFF; width:198px; height:40px; line-height:40px; text-shadow:1px 1px 2px #666; text-align:center; float:left;}
.bank ul{font:16px "微软雅黑"; list-style-type:none; margin-left:-24px; margin-top:28px; color:#FFFFFF;}
.bank li {width:140px; height:64px;float:left; margin-left:15px;}
/*bank*/

.footer{height:180px; width:980px; margin:0 auto;}
.nav{ width:600px; height:25px; line-height:25px; text-align:center; margin:0 auto;color:#ffe6ad;font:12px "微软雅黑"; }
.nav ul{color:#ffffff; list-style-type:none;}
.nav li{float:left;width:60px;;}
.nav li a:link{color:#ffe6ad; text-decoration:none;}
.nav li a:visited{color:#ffe6ad;}
.nav li a:hover{width:70px; height:40px; color:#d4a263;}

#returntop{
	border:0px solid;
	width:59px;
	height:31px;
	position:fixed;
	right:90px; bottom:75px;
	_position:absolute;
	_top:expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); /* for IE6 */  
	text-align:center;
	display:none;
	cursor:pointer;
}

#rightNav {margin-left:0px;float:right;  
line-height:24px; 
z-index:299;  
position:fixed;
top:180px; right:60px; 
_position:absolute; /* for IE6 */  
_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); /* for IE6 */ 
position:fixed;_position:absolute;
overflow:visible;  }

.ub-warp_bg{position:fixed;
   _position:absolute;
   bottom:0;
   width:100%;
  height:90px; 
  background:#422c25 repeat-x; 
  padding-top:10px;
  filter:alpha(opacity=50);opacity:0.7;
}
.ub-warp{position:fixed;
   _position:absolute;
   bottom:0;
   width:100%;
  height:90px; 
  padding-top:10px;

}
.ub{width:980px; height:72px; margin:0 auto; text-align:center;
}
.ublogo{float:left; width:190px; height:80px;}
.text{float:left; width:640px; height:80px; text-align:left;}
.ub_download{ height:80px;padding-top:14px;}
.Client_download{padding-top:5px; width:600px; text-align:center; margin:0 auto;} 
.btn{float:left; width:300px; text-align:center;}

