﻿body{background:#000000;}
.inner{width:1104px;margin:0 auto;}
.header{
	height: 46px;
	background:#330304;
}
a{text-decoration:none;position:relative;color:white;}
.PGetMsgIdList1 a{text-decoration:none;position:relative;color:black;}
a:link,a:visited{}
a:hover{text-decoration:underline;}
.ov{overflow:hidden;}
.nav ul li{
	float:left;
	margin-right:42px;
	line-height:41px;
}
.cont1{
	background: url(../../images/active2/cont1bg.png) no-repeat center top;
	height: 521px;
}
.cont2 .inner{
	background:url(../../images/active2/cont2bg.png) repeat-y left top;
	min-height: 200px;
}
.cont1 .left{
	float:left;
	width:310px;
}
.luntop{
	position:relative;
	width:216px;
	height: 130px;
	overflow:hidden;
	color:white;
	padding-left:70px;
	
}
.luntop ul{
	position:absolute;
	left: 70px;
	top: 0px;
	width: 216px;
}
.luntop li{

	line-height:27px;
	font-size: 13px;
}
.huang{
	color:#f7e900;
}
.cont1 .md{
	width: 300px;
}
.cont1 .md .btns{
	position:relative;
	left: 32px;
}

.cont1 .right{
	width: 445px;
	padding-right:26px;
	
}
.cont1 .right .panzi{
	height: 435px;
	position:relative;left: -12px;
}


.cont2{
	overflow:hidden;
}
.cont2 .lunx{
	width:935px;
	height: 174px;
	overflow:hidden;
	float:left;
	position:relative;
}
.cont2 .lunx ul{
	position:absolute;
	left: 0px;
	top: 0px;
}
.cont2 .leftbtn{
	float:left;
	padding-left:20px;
	padding-top:62px;
	margin-right:35px;
	cursor: pointer;
}
.cont2 .rightbtn{
	float:right;
	padding-right:20px;
	padding-top:62px;
	cursor: pointer;
}
.cont2 .lunx ul {
	width:20000px;
}
.cont2 .lunx ul  li{
	float:left;
	margin-right:14px;
}

.cont2 .nr{
	color:white;
	font-size: 12px;
	padding:0px 52px;
	
}
.cont2 .nr ol{
	border:1px solid #333333;
	background: #121212;
	padding:12px;
}
.cont2 .nr ol li{
	line-height:28px;
	color:#7b7b7b;
}

.footer .inner{
	background: #1F1F1F;
}