/* CSS Document */

*{ margin:0px; padding:0px;}
.PGetMsgIdList{
	height:30px;
	list-style-type:none;
}
.PGetMsgIdList li{
	float:left;
	width:49.5%;
	height:30px;
	line-height:30px;
	text-align:center;
	border-right:#BDBDBD 1px solid;
	border-bottom:#BDBDBD 1px solid;
	font-family: "微软雅黑";
	font-size:12px;
}

.PGetMsgIdList1{
	height:30px;
	list-style-type:none;
}
.PGetMsgIdList1 li{
	float:left;
	width:24.5%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-family: "微软雅黑";
	font-size:12px;
}
.nocur{
	cursor:not-allowed;
}
.nocur a{
	cursor:not-allowed;
	color: white;
}
.PGetMsgIdList2{
	height:30px;
	list-style-type:none;
}
.PGetMsgIdList2 li{
	float:left;
	width:49.5%;
	height:30px;
	line-height:30px;
	text-align:center;
	border-bottom:#BDBDBD 1px solid;
	border-right: #BDBDBD 1px solid;
	font-family: "微软雅黑";
	font-size:12px;
}
