
				<form>
					<table class="marksix_content">
						<thead>
							<tr class="bg-warning">
								<th>生肖</th>
								<th>赔率</th>
								<th>号码</th>
								<th>选择</th>
							</tr>
						</thead>
						<tr data-val="鼠">
							<td>鼠</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="checkbox" name="hexiao" /></td>
						</tr>
						<tr data-val="牛">
							<td>牛</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="checkbox" name="hexiao" /></td>
						</tr>
						<tr data-val="虎">
							<td>虎</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="checkbox" name="hexiao" /></td>
						</tr>
						<tr data-val="兔">
							<td>兔</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="checkbox" name="hexiao" /></td>
						</tr>
						<tr data-val="龙">
							<td>龙</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="checkbox" name="hexiao" /></td>
						</tr>
						<tr data-val="蛇">
							<td>蛇</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="checkbox" name="hexiao" /></td>
						</tr>
						<tr data-val="马">
							<td>马</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="checkbox" name="hexiao" /></td>
						</tr>
						<tr data-val="羊">
							<td>羊</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="checkbox" name="hexiao" /></td>
						</tr>
						<tr data-val="猴">
							<td>猴</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="checkbox" name="hexiao" /></td>
						</tr>
						<tr data-val="鸡">
							<td>鸡</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="checkbox" name="hexiao" /></td>
						</tr>
						<tr data-val="狗">
							<td>狗</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="checkbox" name="hexiao" /></td>
						</tr>
						<tr data-val="猪">
							<td>猪</td>
							<td><b class="text-red">0.0</b></td>
							<td></td>
							<td><input type="checkbox" name="hexiao" /></td>
						</tr>
					</table>
					<!-- 
					<div class="text-center paddingtopbotton5">
						<b class="text-warning">赔率：<span id="iiiiiirate" class="text-red">0.00</span></b>
					</div>
					 -->
					<input type="hidden" id="rateCount" />
					<div class="text-center paddingtopbotton5">
						<div class="form-group container">
							<div class="input-group">
								<span class="input-group-addon form_span">金额</span> <input
									type="text" class="form-control betmoney" placeholder="请输入金额">
							</div>
						</div>
					</div>
					<div class="text-center footercontent">
						<div class="text-center paddingtopbotton5">
							<input type="reset" class="btn btn-warning" value="重填" /> <input
								type="button" onclick="addToBetList_HeXiao('hx_syx', '十一肖', 11)"
								class="btn btn-warning" value="确认下注" />
						</div>
					</div>
				</form>