
<form>
	<table betprefix="独胆">
		<thead>
			<tr>
				<th colspan="6">独胆</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">0</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="0" rate="0.0" oddsId="" rakeBack="3218">
				</td>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="3218">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="3218">
				</td>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="3218">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="3218">
				</td>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="3218">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="3218">
				</td>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="3218">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="3218">
				</td>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="3218">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="跨度">
		<thead>
			<tr>
				<th colspan="6">跨度</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">0</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="0" rate="0.0" oddsId="" rakeBack="3219">
				</td>
				<td class="ballColor ballcolor-g">1</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="1" rate="0.0" oddsId="" rakeBack="3220">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">2</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="2" rate="0.0" oddsId="" rakeBack="3221">
				</td>
				<td class="ballColor ballcolor-g">3</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="3" rate="0.0" oddsId="" rakeBack="3222">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">4</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="4" rate="0.0" oddsId="" rakeBack="3223">
				</td>
				<td class="ballColor ballcolor-g">5</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="5" rate="0.0" oddsId="" rakeBack="3224">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">6</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="6" rate="0.0" oddsId="" rakeBack="3225">
				</td>
				<td class="ballColor ballcolor-g">7</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="7" rate="0.0" oddsId="" rakeBack="3226">
				</td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g">8</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="8" rate="0.0" oddsId="" rakeBack="3227">
				</td>
				<td class="ballColor ballcolor-g">9</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="9" rate="0.0" oddsId="" rakeBack="3228">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">总和，龙虎</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>总和大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总和大" rate="0.0" oddsId="" rakeBack="3229">
				</td>
				<td>总和小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总和小" rate="0.0" oddsId="" rakeBack="3230">
				</td>
			</tr>
			<tr>
				<td>总和单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总和单" rate="0.0" oddsId="" rakeBack="3231">
				</td>
				<td>总和双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="总和双" rate="0.0" oddsId="" rakeBack="3232">
				</td>
			</tr>
			<tr>
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="3233">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="3234">
				</td>
			</tr>
			<tr>
				<td>和</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和" rate="0.0" oddsId="" rakeBack="3235">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">3连</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>豹子</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="豹子" rate="0.0" oddsId="" rakeBack="3236">
				</td>
				<td>顺子</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="顺子" rate="0.0" oddsId="" rakeBack="3237">
				</td>
			</tr>
			<tr>
				<td>对子</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="对子" rate="0.0" oddsId="" rakeBack="3238">
				</td>
				<td>半顺</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="半顺" rate="0.0" oddsId="" rakeBack="3239">
				</td>
			</tr>
			<tr>
				<td>杂六</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="杂六" rate="0.0" oddsId="" rakeBack="3240">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintClick(15, 'zhenghe', 'zhenghe', '整合')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
