.hide{display:none;}
/*够彩大厅*/
.lott-menu {
    position: absolute;
    top: 2.2rem;
    left: 0;
    z-index: 999;
    width: 100%;
    height: auto;
}
#page_game_center_jsp .content{background: #FFFFFF;}
#page_game_center_jsp .list-block{margin: 3rem 0 0 0;}
#page_game_center_jsp .list-block.media-list .item-media,#page_draw_notice_jsp .list-block.media-list .item-media{width:3rem;}
#page_game_center_jsp .list-block.media-list .item-media img,#page_draw_notice_jsp .list-block.media-list .item-media img{max-width:100%;}
#page_game_center_jsp .list-block .item-text{height:auto;line-height: 1.5rem;}
#page_game_center_jsp .list-block .item-link .item-inner{padding-right:0.75rem;}
#page_draw_notice_jsp .list-block .item-text{height:auto;}

/*开奖结果*/
#page_draw_notice_jsp .list-block{margin:0;}
#page_draw_notice_details_jsp .list-block{margin:0;}
#page_draw_notice_details_jsp .list-block .item-subtitle{line-height:36px;}
#page_draw_notice_details_jsp .list-block .item-after,#page_draw_notice_jsp .list-block .item-after{font-size:.6rem;color:#97989b;}
#page_draw_notice_jsp .list-block .item-link .item-inner{padding-right:0.75rem;}



/*号码背景颜色*/
/*时时彩*/
span.ssc_img{line-height:36px; background: url('../images/balls_bg.png') 1px -81px;display: inline-block;width: 36px;height:36px;text-align: center;font-weight: 900;}

/*PK10*/
span.pk10 {
    height: 20px;
    width: 24px;
    display: inline-block;
    background: url(../images/ball-pk.png) no-repeat;
    margin: 0;
    border: none;
}
span.pk10_kjjg{display:inline-block;width: 24px;text-align: center;height:20px;}
span.pk10.b01 {background-position: 0 0px;}
span.pk10.b02 {background-position: 0 -21px;}
span.pk10.b03 {background-position: 0 -42px;}
span.pk10.b04 {background-position: 0 -63px;}
span.pk10.b05 {background-position: 0 -84px;}
span.pk10.b06 {background-position: 0 -105px;}
span.pk10.b07 {background-position: 0 -126px;}
span.pk10.b08 {background-position: 0 -147px;}
span.pk10.b09 {background-position: 0 -168px;}
span.pk10.b10 {	background-position: 0 -189px;}
span.pk10_span{display:inline-block;width: 1.6rem;text-align: center;height:1.6rem;}
span.pk10_img{background: url('../images/balls_bg.png') 2px 4px;display:inline-block;width: 1.6rem;text-align: center;height:1.6rem;}
span.pk10_img.pk10_bj_01{background-position: 2px 4px;}
span.pk10_img.pk10_bj_02{background-position: -42px 4px;}
span.pk10_img.pk10_bj_03{background-position: -85px 4px;}
span.pk10_img.pk10_bj_04{background-position: -128px 4px;}
span.pk10_img.pk10_bj_05{background-position: -171px 4px;}
span.pk10_img.pk10_bj_06{background-position: -216px 4px;}
span.pk10_img.pk10_bj_07{background-position: -258px 4px;}
span.pk10_img.pk10_bj_08{background-position: -303.5px 4px;}
span.pk10_img.pk10_bj_09{background-position: -348px 4px;}
span.pk10_img.pk10_bj_10{background-position: -393px 4px;}
/*11选5*/
span.syx5_img{line-height:36px; background: url('../images/balls_bg.png') -86px -81px;display: inline-block;width: 36px;height:36px;text-align: center;font-weight: 900;}
/*香港彩*/
span.lhc_img{line-height:36px; background: url('../images/balls_bg.png') 0px -163px;display: inline-block;width: 36px;height:36px;text-align: center;font-weight: 900;}
span.lhc_img.lhc_bj_01,span.lhc_img.lhc_bj_02,span.lhc_img.lhc_bj_07,span.lhc_img.lhc_bj_08,span.lhc_img.lhc_bj_12,span.lhc_img.lhc_bj_13
,span.lhc_img.lhc_bj_18,span.lhc_img.lhc_bj_19,span.lhc_img.lhc_bj_23,span.lhc_img.lhc_bj_24,span.lhc_img.lhc_bj_29
,span.lhc_img.lhc_bj_30,span.lhc_img.lhc_bj_34,span.lhc_img.lhc_bj_35,span.lhc_img.lhc_bj_40,span.lhc_img.lhc_bj_45,span.lhc_img.lhc_bj_46{background-position: 0px -163px;}
span.lhc_img.lhc_bj_03,span.lhc_img.lhc_bj_04,span.lhc_img.lhc_bj_09,span.lhc_img.lhc_bj_10,span.lhc_img.lhc_bj_14,span.lhc_img.lhc_bj_15
,span.lhc_img.lhc_bj_20,span.lhc_img.lhc_bj_25,span.lhc_img.lhc_bj_26,span.lhc_img.lhc_bj_31,span.lhc_img.lhc_bj_36,span.lhc_img.lhc_bj_37
,span.lhc_img.lhc_bj_41,span.lhc_img.lhc_bj_42,span.lhc_img.lhc_bj_47,span.lhc_img.lhc_bj_48{background-position: -43px -163px;}
span.lhc_img.lhc_bj_05,span.lhc_img.lhc_bj_06,span.lhc_img.lhc_bj_11,span.lhc_img.lhc_bj_16,span.lhc_img.lhc_bj_17,span.lhc_img.lhc_bj_21,span.lhc_img.lhc_bj_22
,span.lhc_img.lhc_bj_27,span.lhc_img.lhc_bj_28,span.lhc_img.lhc_bj_32,span.lhc_img.lhc_bj_33,span.lhc_img.lhc_bj_38,span.lhc_img.lhc_bj_39,span.lhc_img.lhc_bj_43
,span.lhc_img.lhc_bj_44,span.lhc_img.lhc_bj_49{background-position: -86px -163px;}
/*快三*/
span.k3_span{display:inline-block;width: 2rem;text-align: center;height:1.8rem;line-height: 1.8rem;}
span.k3_img{text-indent:-9999px; background: url('../images/balls_bg.png') 0px -487px;display:inline-block;width: 2rem;text-align: center;height:1.8rem;}
span.k3_img.sum_k3_img{background-position: -169px -81px;text-indent: 0px;height:1.6rem;}
span.k3_img.k3_bj_01{background-position: 0px -487px;}
span.k3_img.k3_bj_02{background-position: -55px -487px;}
span.k3_img.k3_bj_03{background-position: -116px -487px;}
span.k3_img.k3_bj_04{background-position: -174px -487px;}
span.k3_img.k3_bj_05{background-position: -232px -487px;}
span.k3_img.k3_bj_06{background-position: -292px -487px;}
/*快乐十分*/
span.sfc_img_litter{background: url('../images/balls_bg.png') -130px -116px;line-height:30px; display: inline-block;width: 30px;height:30px;text-align: center;font-weight: 900;}
span.sfc_img{background: url('../images/balls_bg.png') -130px -81px;line-height:36px; display: inline-block;width: 36px;height:36px;text-align: center;font-weight: 900;}

/*幸运农场*/
span.xync_span{display:inline-block;width: 1.6rem;text-align: center;height:1.6rem;line-height:1.6rem;}
span.xync_img{background: url('../images/balls_bg.png') 0px -344px;display:inline-block;width: 1.6rem;line-height:1.6rem;text-align: center;height:1.6rem;}
span.xync_img.xync_bj_01{background-position: 0px -344px;}
span.xync_img.xync_bj_02{background-position: -50px -344px;}
span.xync_img.xync_bj_03{background-position: -96px -344px;}
span.xync_img.xync_bj_04{background-position: -143px -344px;}
span.xync_img.xync_bj_05{background-position: -190px -344px;}
span.xync_img.xync_bj_06{background-position: -242px -344px;}
span.xync_img.xync_bj_07{background-position: -287px -344px;}
span.xync_img.xync_bj_08{background-position: -334px -344px;}
span.xync_img.xync_bj_09{background-position: -382px -344px;}
span.xync_img.xync_bj_10{background-position: -428px -344px;}
span.xync_img.xync_bj_11{background-position: 0px -382px;}
span.xync_img.xync_bj_12{background-position: -50px -382px;}
span.xync_img.xync_bj_13{background-position: -96px -382px;}
span.xync_img.xync_bj_14{background-position: -143px -382px;}
span.xync_img.xync_bj_15{background-position: -190px -382px;}
span.xync_img.xync_bj_16{background-position: -242px -382px;}
span.xync_img.xync_bj_17{background-position: -287px -382px;}
span.xync_img.xync_bj_18{background-position: -334px -382px;}
span.xync_img.xync_bj_19{background-position: -382px -382px;}
span.xync_img.xync_bj_20{background-position: -428px -382px;}
/*低频彩*/
span.pl3_img{line-height:36px; background: url('../images/balls_bg.png') -43px -81px;display: inline-block;width: 36px;height:36px;text-align: center;font-weight: 900;}
/*pcegg*/
span.pcegg_span{display:inline-block;width: 1.6rem;text-align: center;height:1.6rem;line-height:1.6rem;}
span.pcegg_img{text-indent: -9999px;background: url('../images/pcegg.png') no-repeat;line-height:1.8rem; display:inline-block;width: 1.8rem;text-align: center;height:1.8rem;}
span.pcegg_img.pcegg_bj_00{background-position: -7px -11px;}
span.pcegg_img.pcegg_bj_01{background-position: -7px -51px;}
span.pcegg_img.pcegg_bj_02{background-position: -7px -91px;}
span.pcegg_img.pcegg_bj_03{background-position: -7px -131px;}
span.pcegg_img.pcegg_bj_04{background-position: -7px -171px;}
span.pcegg_img.pcegg_bj_05{background-position: -7px -211px;}
span.pcegg_img.pcegg_bj_06{background-position: -7px -251px;}
span.pcegg_img.pcegg_bj_07{background-position: -7px -291px;}
span.pcegg_img.pcegg_bj_08{background-position: -7px -331px;}
span.pcegg_img.pcegg_bj_09{background-position: -7px -371px;}
span.pcegg_img.pcegg_bj_10{background-position: -7px -411px;}
span.pcegg_img.pcegg_bj_11{background-position: -7px -451px;}
span.pcegg_img.pcegg_bj_12{background-position: -7px -491px;}
span.pcegg_img.pcegg_bj_13{background-position: -7px -531px;}
span.pcegg_img.pcegg_bj_14{background-position: -7px -571px;}
span.pcegg_img.pcegg_bj_15{background-position: -7px -611px;}
span.pcegg_img.pcegg_bj_16{background-position: -7px -651px;}
span.pcegg_img.pcegg_bj_17{background-position: -7px -691px;}
span.pcegg_img.pcegg_bj_18{background-position: -7px -731px;}
span.pcegg_img.pcegg_bj_19{background-position: -7px -771px;}
span.pcegg_img.pcegg_bj_20{background-position: -7px -811px;}
span.pcegg_img.pcegg_bj_21{background-position: -7px -851px;}
span.pcegg_img.pcegg_bj_22{background-position: -7px -891px;}
span.pcegg_img.pcegg_bj_23{background-position: -7px -931px;}
span.pcegg_img.pcegg_bj_24{background-position: -7px -971px;}
span.pcegg_img.pcegg_bj_25{background-position: -7px -1011px;}
span.pcegg_img.pcegg_bj_26{background-position: -7px -1051px;}
span.pcegg_img.pcegg_bj_27{background-position: -7px -1091px;}
span.pcegg_img.pcegg_bj_wh{background: url('../images/balls_bg.png') -173px -81px;text-indent: 0px;}