<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>
// 隐藏购物车列表
$('.checkedList').css('display','none');
$('.checkedListCon p').css('display','none');
$('#betBtn').css('display','none');
//所有玩法
var yzyList = [
  {
    name: '一中一',
    oddPlayItems: [],
  }
]
var ezeList = [
  {
    name: '二中二',
    oddPlayItems: [],
  }
]
var szsList = [
  {
    name: '三中三',
    oddPlayItems: [],
  }
]
var sizsiList = [
  {
    name: '四中四',
    oddPlayItems: [],
  }
]
var wzwList = [
  {
    name: '五中五',
    oddPlayItems: [],
  }
]
var lzwList = [
  {
    name: '六中五',
    oddPlayItems: [],
  }
]
var qzwList = [
  {
    name: '七中五',
    oddPlayItems: [],
  }
]
var bzwList = [
  {
    name: '八中五',
    oddPlayItems: [],
  }
]
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,nowPlay,renxuanList,zdnumber;
switch ($('.betFilterAnd .curr').text()) {
  case '一中一':
    nowPlay = yzyList
    break;
  case '二中二':
    nowPlay = ezeList
    break;
  case '三中三':
    nowPlay =szsList
    break;
  case '四中四':
    nowPlay = sizsiList
    break;
  case '五中五':
    nowPlay = wzwList
    break;
  case '六中五':
    nowPlay = lzwList
    break;
  case '七中五':
    nowPlay = qzwList
    break;
  case '八中五':
    nowPlay = bzwList
    break;
  default:
}
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
  rule = rules[2];
  // 数字0-9
  for(let i in rules){
    if(rules[i].name === "任选"){
      // 任选
      renxuanList  = rules[i].rules;
    }
  }
  for(let i in renxuanList){
    for(let j=1;j<12;j++){
      let obj = deepCopy(rules[2].rules[i].oddPlayItems[0]);
      obj.name = j;
      if (j<10) {
        obj.name = '0'+j;
      }
      switch (i) {
        case '0':
          yzyList[0].oddPlayItems.push(obj);
          break;
        case '1':
          ezeList[0].oddPlayItems.push(obj);
          break;
        case '2':
          szsList[0].oddPlayItems.push(obj);
          break;
        case '3':
          sizsiList[0].oddPlayItems.push(obj);
          break;
        case '4':
          wzwList[0].oddPlayItems.push(obj);
          break;
        case '5':
          lzwList[0].oddPlayItems.push(obj);
          break;
        case '6':
          qzwList[0].oddPlayItems.push(obj);
          break;
        case '7':
          bzwList[0].oddPlayItems.push(obj);
          break;
        default:
      }
    }
  }
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in nowPlay){
    let left = '<div class="fix selectNormal">'+
    '<span class="buyNumberTitle">'+nowPlay[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in nowPlay[i].oddPlayItems.slice(0,11)){
      right+='<a data-index="'+i+'-'+l+'">'+nowPlay[i].oddPlayItems[l].name+'</a>';
    }
    let all = left + right;
    $('.sscCheckNumber ul li').append(all)
  };
  // 给玩法添加class,并判断玩法的最小下注个数
	$('.sscCheckNumber a').click(function(){
		$(this).toggleClass('curr')
    let length = 0;
    switch ($('.betFilterAnd .curr').text()) {
      case '一中一':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,1).length;
        break;
      case '二中二':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,2).length;
        break;
      case '三中三':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,3).length;
        break;
      case '四中四':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,4).length;
        break;
      case '五中五':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,5).length;
        break;
      case '六中五':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,6).length;
        break;
      case '七中五':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,7).length;
        break;
      case '八中五':
        zdnumber = getFlagArrs($('.sscCheckNumber .curr').length,8).length;
        break;
    }
		$('.detail').text(zdnumber); // 注单数量
	})
	// 获取游戏说明
	switch ($('.betFilterAnd .curr').text()) {
		case '一中一':
			if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[0].detailDesc;
			}
			break;
		case '二中二':
			if ($('.betFilterAnd .curr').text() == rule.rules[1].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[1].detailDesc;
			}
			break;
		case '三中三':
			if ($('.betFilterAnd .curr').text() == rule.rules[2].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[2].detailDesc;
			}
			break;
		case '四中四':
			if ($('.betFilterAnd .curr').text() == rule.rules[3].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[3].detailDesc;
			}
			break;
		case '五中五':
			if ($('.betFilterAnd .curr').text() == rule.rules[4].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[4].detailDesc;
			}
			break;
		case '六中五':
			if ($('.betFilterAnd .curr').text() == rule.rules[5].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[5].detailDesc;
			}
			break;
		case '七中五':
			if ($('.betFilterAnd .curr').text() == rule.rules[6].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[6].detailDesc;
			}
			break;
		case '八中五':
			if ($('.betFilterAnd .curr').text() == rule.rules[7].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[7].detailDesc;
			}
			break;
		default:
	}
	html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
var cart = [];
// 添加注单
$('#betbtn').unbind('click')
$('#betbtn').click(function(event){
  // 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length;
	var num = $(".detail").text()-0;
  if (hmlet == 0 || num == 0) {
    alert('请选择一注进行投注');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
    cart = [];
    return;
  }else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
    alert('请输入投注金额');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
    cart = [];
    return;
  }
  // 用于点击获取当前点击的文本内容,并用逗号隔开
  centent = [];
  $('.buyNumber .curr').each(function(){
    centent += ($(this)[0].childNodes[0].data)+',';
  })
  conten = centent.substring(0,centent.length-1);
  let data = [];
  let obj;
  for(let i in renxuanList){
    if ($('.betFilterAnd .curr').text() == renxuanList[i].name) {
      obj = renxuanList[i].oddPlayItems[0]
    }
  }
  cart.push({
    playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
    note_number: zdnumber-0,
    money: $('.eachPrice').val()-0,
    name:centent.substring(0,centent.length-1),
    oddsId: obj.id,
    playCode: obj.playCode,
    max: obj.maxBetAmmount,
    min: obj.minBetAmmount,
    odds:obj.odds,
  })
	var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
	for (let i in cart) {
    betting += cart[i].money;
	}
  if (cart.length == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$('#layermbox16').show();
		$("span#submitBtn").hide();
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                // '['+betting.playsName+']'+betting.name+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+($('.detail').text()-0)*betting+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$('#layermbox16').show();
	$("span#submitBtn").show();
	}
  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
  }
})
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  // console.log(rule);
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: cart[i].money,
      name: cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  formData.data = JSON.stringify(data);
	// 提交数据到后台，获取后台返回结果
  $.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
			cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
			$('.detail').text('0');
			$('.eachPrice').val('');
		  $('.buyNumber a').removeClass('curr');
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('._mybetContent .tz_list').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
			$('.detail').text('0');
			$('.eachPrice').val('');
		  $('.buyNumber a').removeClass('curr');
    }
  })
})
// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
// 删除注单
function del(a){
  let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
}
</script>
<style media="screen">
  .buyNumberTitle{
    margin-right: 30px;
  }
	.buyNumber a{
    width: 40px;
  }
  .buyNumber{
    width: 575px;
  }

</style>
