<!-- 投注页面 -->
<div class="sscCheckNumber">
	<ul>
		<li>
    </li>
	</ul>
</div>
<!-- 投注页面 -->

<script>

// 隐藏购物车列表
$('.checkedList').css('display','none');
$('.checkedListCon p').css('display','none');
$('#betBtn').css('display','none');
//所有玩法
var qeList = [
  {
    name: '第一球',
    oddPlayItems: [],
  },
  {
    name: '第二球',
    oddPlayItems: [],
  }
]
var heList = [
  {
    name: '第四球',
    oddPlayItems: [],
  },
  {
    name: '第五球',
    oddPlayItems: [],
  }
]
var qsList = [
  {
    name: '第一球',
    oddPlayItems: [],
  },
  {
    name: '第二球',
    oddPlayItems: [],
  },
  {
    name: '第三球',
    oddPlayItems: [],
  }
]
var zsList = [
  {
    name: '第二球',
    oddPlayItems: [],
  },
  {
    name: '第三球',
    oddPlayItems: [],
  },
  {
    name: '第四球',
    oddPlayItems: [],
  }
]
var hsList = [
  {
    name: '第三球',
    oddPlayItems: [],
  },
  {
    name: '第四球',
    oddPlayItems: [],
  },
  {
    name: '第五球',
    oddPlayItems: [],
  }
]
var cart = [];
var numList = []
//获取彩种玩法到接口
let lotCode = location.search.replace('?lotCode=', '');
var rule,rulist,nowPlay,zhixuanList,zdnumber;
switch ($('.betFilterAnd .curr').text()) {
  case '前二':
    nowPlay = qeList
    break;
  case '后二':
    nowPlay = heList
    break;
  case '前三':
    nowPlay = qsList
    break;
  case '中三':
    nowPlay = zsList
    break;
  case '后三':
    nowPlay = hsList
    break;
  default:
}
$.post("/native/getLotGamePlays.do",{lotCode:lotCode},function(result){
  var rules = result.content.rules;
  rulist = result.content;
  rule = rules[4];
  // 数字0-9
  for(let i in rules){
    if(rules[i].name === "直选"){
      // 直选
      zhixuanList  = rules[i].rules;
    }
  }
  for(let i in zhixuanList){
    for(let j=1;j<12;j++){
      let obj = deepCopy(rules[4].rules[i].oddPlayItems[0]);
      obj.name = j;
      if (j<10) {
        obj.name = '0'+j;
      }
      switch (i) {
        case '0':
          for(let n in qeList){
            qeList[n].oddPlayItems.push(obj);
          }
          break;
        case '1':
          for(let n in heList){
            heList[n].oddPlayItems.push(obj);
          }
          break;
        case '2':
          for(let n in qsList){
            qsList[n].oddPlayItems.push(obj);
          }
          break;
        case '3':
          for(let n in zsList){
            zsList[n].oddPlayItems.push(obj);
          }
          break;
        case '4':
          for(let n in hsList){
            hsList[n].oddPlayItems.push(obj);
          }
          break;
        default:
      }
    }
  }
	// 情况投注页
	$('.sscCheckNumber ul li').html("");
  for(let i in nowPlay){
    let left = '<div class="fix selectNormal">'+
    '<span class="buyNumberTitle">'+nowPlay[i].name+'<i></i></span>'+
    '<div class="buyNumber fix">';
    let right = ''
    for(let l in nowPlay[i].oddPlayItems.slice(0,11)){
      right+='<a data-index="'+i+'-'+l+'">'+nowPlay[i].oddPlayItems[l].name+'</a>';
    }
    let all = left + right;
    $('.sscCheckNumber ul li').append(all)
  };

  // 给玩法添加class,并判断玩法的最小下注个数
	$('.sscCheckNumber a').click(function(){
		let num = $(this)[0].childNodes[0].data;
		if(!$(this).hasClass('curr')){
			for(let i in numList){
				if(numList[i] === num){
					let html = '<div class="layerConfirm">不能同时选择相同的号码</div>'
					$('.layermcont').html(html)
					$('#layermbox16').show();
					$("span#submitBtn").hide();
					return false;
				}
			}
		}else {
			for(let n in numList){
				numList[n]===num? (numList.splice((n-0),1),$(this).toggleClass('curr')):'';
			}
			return false;
		}
		numList.push(num)
		$(this).toggleClass('curr');
    let length = 0;
		// 判断计算注单的数量
    switch ($('.betFilterAnd .curr').text()) {
      case '前二':
			case '后二':
				let a = $('.sscCheckNumber .selectNormal').eq(0).find('.curr').length;
				let b = $('.sscCheckNumber .selectNormal').eq(1).find('.curr').length;
        $('.detail').text(a*b); // 计算注单数量
        break;
      case '前三':
			case '中三':
			case '后三':
				let c = $('.sscCheckNumber .selectNormal').eq(0).find('.curr').length;
				let d = $('.sscCheckNumber .selectNormal').eq(1).find('.curr').length;
				let e = $('.sscCheckNumber .selectNormal').eq(2).find('.curr').length;
				$('.detail').text(c*d*e); // 计算注单数量
        break;
    }
	})
	// 获取游戏说明
  var game_shows;
	let html;
	switch ($('.betFilterAnd .curr').text()) {
		case '前二':
			if ($('.betFilterAnd .curr').text() == rule.rules[0].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[0].detailDesc;
			}
			break;
		case '后二':
			if ($('.betFilterAnd .curr').text() == rule.rules[1].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[1].detailDesc;
			}
			break;
		case '前三':
			if ($('.betFilterAnd .curr').text() == rule.rules[2].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[2].detailDesc;
			}
			break;
		case '中三':
			if ($('.betFilterAnd .curr').text() == rule.rules[3].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[3].detailDesc;
			}
			break;
		case '后三':
			if ($('.betFilterAnd .curr').text() == rule.rules[4].name) {
				$('.window_ .text_shows').html('');
				game_shows = rule.rules[4].detailDesc;
			}
			break;
		default:
	}
	html = '<span>'+game_shows+'</span>';
	$('.window_ .text_shows').append(html)
});
// 注单投注
$('#betbtn').unbind('click')
$('#betbtn').click(function(){
	// 计算注单数量
  var hmlet = $('.sscCheckNumber .curr').length
	var num = $(".detail").text()-0;
  if (hmlet == 0 || num == 0) {
    alert('请选择一注进行投注');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
    cart = [];
		numList = [];
    return;
  }else if ($('.eachPrice').val() == '' || $('.eachPrice').val() == 0) {
    alert('请输入投注金额');
    $('.detail').text('0');
  	$('.eachPrice').val('');
    $('.buyNumber a').removeClass('curr');
    cart = [];
		numList = [];
    return;
  }
	numList = []
	let data = [];
  var selectEl1 = $('.sscCheckNumber .selectNormal').eq(0).find('.curr');
  var selectEl2 = $('.sscCheckNumber .selectNormal').eq(1).find('.curr');
	var selectEl3 = $('.sscCheckNumber .selectNormal').eq(2).find('.curr');
	switch ($('.betFilterAnd .curr').text()) {
		case '前二':
		case '后二':
			for (let i=0; i<selectEl1.length;i++){
				let row1 = selectEl1.eq(i).attr('data-index').split('-')[0]-0;
				let col1 = selectEl1.eq(i).attr('data-index').split('-')[1]-0;
				let obj1 = nowPlay[row1].oddPlayItems[col1];
				for(let l=0; l<selectEl2.length;l++){
					let row2 = selectEl2.eq(l).attr('data-index').split('-')[0]-0;
					let col2 = selectEl2.eq(l).attr('data-index').split('-')[1]-0;
					let obj2 = nowPlay[row2].oddPlayItems[col2];
					cart.push({
						playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
						note_number: $(".eachPrice").val()-0,
						money: $('.eachPrice').val()-0,
						name:obj1.name+','+obj2.name,
						// rowName:nowPlay[row].name,
						oddsId: obj1.id,
						playCode: obj1.playCode,
						max: obj1.maxBetAmmount,
						min: obj1.minBetAmmount,
						odds:obj1.odds,
					})
				}
			}
			break;
		case '前三':
		case '中三':
		case '后三':
			for (let i=0; i<selectEl1.length;i++){
				let row1 = selectEl1.eq(i).attr('data-index').split('-')[0]-0;
				let col1 = selectEl1.eq(i).attr('data-index').split('-')[1]-0;
				let obj1 = nowPlay[row1].oddPlayItems[col1];
				for(let l=0; l<selectEl2.length;l++){
					let row2 = selectEl2.eq(l).attr('data-index').split('-')[0]-0;
					let col2 = selectEl2.eq(l).attr('data-index').split('-')[1]-0;
					let obj2 = nowPlay[row2].oddPlayItems[col2];
					for(let n=0;n<selectEl3.length;n++){
						let row3 = selectEl3.eq(n).attr('data-index').split('-')[0]-0;
						let col3 = selectEl3.eq(n).attr('data-index').split('-')[1]-0;
						let obj3 = nowPlay[row3].oddPlayItems[col3];
						cart.push({
							playsName: $('.betFilter .curr').text() +","+ $('.betFilterAnd .curr').text(),
							note_number: $(".eachPrice").val()-0,
							money: $('.eachPrice').val()-0,
							name:obj1.name+','+obj2.name+','+obj3.name,
							// rowName:nowPlay[row].name,
							oddsId: obj1.id,
							playCode: obj1.playCode,
							max: obj1.maxBetAmmount,
							min: obj1.minBetAmmount,
							odds:obj1.odds,
						})
					}
				}
			}
	}
  var ganame;
	var betting =0;  // 用于计算总投注的金额
  ganame = rulist.name;
	for (let i in cart) {
    betting += cart[i].money;
	}
  if (cart.length == 0) {
    let html = '<div class="layerConfirm">至少选择一注进行投注</div>'
    $('.layermcont').html(html)
		$('#layermbox16').show();
		$("span#submitBtn").hide();
  }else {
    let html_ ='<div id="CheckBetLayer" class="lotteryConfirm">'+
  		      '<ul>'+
  		        '<li>'+
  							'<span>彩种：</span>'+
  							'<em class="fill">'+ganame+'</em>'+
  						'</li>'+
  		        '<li>'+
  							'<span>期号：</span>'+
  							'第'+
  							'<em class="fill layerIssue">'+$('.qishu').text()+'</em>'+
  							'期'+
  						'</li>'+
  		        '<li>'+
  							'<span>详情：</span>'+
  		          '<div class="fill textarea">'+
                // '['+betting.playsName+']'+betting.name+
                '</p>'+
  		          '</div>'+
  		        '</li>'+
  		        '<li>'+
  							'<span>投注总金额：</span>'+
  							'<em>'+
  								'<em class="fill _submitPlansMoney">'+betting+
                  '</em>'+
  								'元'+
  							'</em>'+
  		        '</li>'+
  		      '</ul>'+
    			'</div>'
  $('.layermcont').html(html_)
	$('#layermbox16').show();
	$("span#submitBtn").show();
	}
  for (let i in cart){
    $('.textarea').append('['+cart[i].playsName+']'+cart[i].name+'<br>')
  }
})
//提交投注信息
$('#submitBtn').unbind('click');
$('#submitBtn').click(function(){
  // console.log(rule);
  let formData = {
    lotType: rule.lotType,
    groupCode: rule.code,
    qiHao: $('.qishu').text(),
    version: 5,
    lotCode: lotCode,
    data: '',
  }
  let data = [];
  for(let i in cart){
    data.push({
      max: cart[i].max.toString(),
      min: cart[i].min.toString(),
      money: (cart[i].money).toString(),
      name: cart[i].name,
      oddsId: cart[i].oddsId,
      playCode: cart[i].playCode,
    })
  }
  // formData.data = JSON.stringify(data);
  formData.data = JSON.stringify(data);
	// 提交数据到后台，获取后台返回结果
  $.post('/mobile/v3/betInfoV2.do',formData,function(result){
    if (result.success == true) {
			cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
			$('.detail').text('0');
			$('.eachPrice').val('');
		  $('.buyNumber a').removeClass('curr');
			$('#layermbox17').stop().slideDown(2400).fadeOut(700);
			$('._mybetContent .tz_list').html('');
			Latest_openLottery(true);
    }else if (result.success == false) {
			alert(result.msg);
			cart = [];
			$('.checkedList tbody').html('')
			$('#layermbox16').attr('style','display:none;')
			$('.detail').text('0');
			$('.eachPrice').val('');
		  $('.buyNumber a').removeClass('curr');
    }
  })
})

// 游戏说明显示
 $('#game_shows').click(function(){
	 $('.game_shows').css('display','block')
 })
// 删除注单
function del(a){
  let index = $(a).attr('data-index');
  $(a).parents("tr").remove();
  cart.splice(index, 1)
	createDetail();
}
</script>
<style media="screen">
  .buyNumberTitle{
    margin-right: 30px;
  }
  .buyNumber{
    width: 580px;
		margin-bottom: 10px;
  }

</style>
