#banner {
	background-image:
		url('../images/banner.jpg')
}

.accordion {
	position: relative;
	text-align: left
}

#lobby ul.game-list {
	height: 677px;
	overflow: hidden
}

.video_list ul {
    height: 50px;
    margin: 5px 0;
}

.video_list ul {
    padding: 0;
}

.video_list li.dark {
    background: rgba(0, 0, 0, 0.8);
}

.video_list li.dark:hover {
    background: #7d85f1;
    border-radius: 10px; 
}


.video_list li {
    float: left;
    width: 116px;
    height: 50px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.5);
}
.video_list li {
    list-style: none;
}

.video_list li a {
    width: 100%;
    height: 50px;
    display: inline-block;
    text-align: center;
    color: #F1DD7D;
}

.video_list a {
    text-decoration: none;
}


ul.game-list>li[game-box] {
	display: inline-block;
	float: left;
	
	height: 677px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: width .5s, background .3s;
	-moz-transition: width .5s, background .3s;
	-o-transition: width .5s, background .3s;
	transition: width .5s, background .3s
}

ul.game-list>li[game-box].unactive {
	width: 0
}

ul.game-list>li[game-box].active {
	width: 228px!important;
}

.accordion div.pager {
	display: inline-block;
	width: 1000px;
	margin: 10px auto 0;
	text-align: center
}

.accordion div.pager>span {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	background: #212121;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	cursor: pointer
}

.accordion div.pager>span.active, .accordion div.pager>span:hover {
	background: #fed152
}

.game-list li[game-box="bb"] {
	background-image:
		url('../images/bb01.jpg')
}

.game-list li[game-box="bb"].active {
	background-image:
		url('../images/bb02.jpg')
}

.game-list li[game-box="ag"] {
	background-image:
		url('../images/ag01.jpg')
}

.game-list li[game-box="ag"].active {
	background-image:
		url('../images/ag02.jpg')
}

.game-list li[game-box="mg"] {
	background-image:
		url('../images/mg01.jpg')
}

.game-list li[game-box="mg"].active {
	background-image:
		url('../images/mg02.jpg')
}

.game-list li[game-box="og"] {
	background-image:
		url('../images/og01.jpg')
}

.game-list li[game-box="og"].active {
	background-image:
		url('../images/og02.jpg')
}
.game-list li[game-box="bg"] {
	background-image:
		url('../images/bg01.jpg')
}

.game-list li[game-box="bg"].active {
	background-image:
		url('../images/bg02.jpg')
}

.game-list li[game-box="vr"] {
	background-image:
		url('../images/vr01.jpg')
}

.game-list li[game-box="vr"].active {
	background-image:
		url('../images/vr02.jpg')
}

.game-list li[game-box="ab"] {
	background-image:
		url('../images/ab01.jpg')
}

.game-list li[game-box="ab"].active {
	background-image:
		url('../images/ab02.jpg')
}

.game-list li[game-box="ds"] {
	background-image:
		url('../images/ds01.jpg')
}

.game-list li[game-box="ds"].active {
	background-image:
		url('../images/ds02.jpg')
}