body {
	color: #2f2f2f;
	font-family: 'Microsoft JhengHei', Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
}

body.layout {
	min-width: 1024px
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

iframe {
	border: none
}

[ng-click] {
	cursor: pointer
}

ol, ul {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	list-style: none
}

.wrapper {
	position: relative;
	width: 864px;
	margin: 0 auto
}
