@charset "UTF-8";
/*Reset*/
body, div,/* ul,  li,*/
h1, h2, h3, h4, h5, h6, p, table, form {
	margin: 0;
	padding: 0;
	}
address, em, strong {
	font-style: normal;
	font-weight: inherit;
	}
/*li {
	list-style: none;
	}*/
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	}
body, html {background-color:#FFF;  margin:0; padding:0;
				scrollbar-face-color: #DCD1C5;
				 scrollbar-shadow-color: #B9A38B;
				 scrollbar-highlight-color: #E6DED6;
				 scrollbar-3dlight-color: #B9A38B;
				 scrollbar-darkshadow-color: #33281C;
				 scrollbar-track-color: #33281C;
				 scrollbar-arrow-color: #413528;
}
body , td {font-family: Arial, Helvetica, SimSun, sans-serif; font-size:12px;}
a { text-decoration: none;}
a:link, a:visited { color: #303030;}
a:hover {color: #C60;}
#wrapper { width:100%; background-color:#493721;_position:relative;}
/*外框--PNG Hack*/
.qa_head { width:100%;  height:37px; line-height:37px; font:bold 12px  Arial, Helvetica, sans-serif; color:#F8C100; background-repeat:no-repeat; }/*最外層header*//**/
html>body .qa_head {height:37px; padding: 0; background: url(../img/help_head.png) no-repeat;}/*mac*/
* .qa_head {  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/help_head.png');}/*IE6 png透明*/

.qa_head em { margin-left:41px;line-height:37px;}
.qa_foot { width:100%;  height:10px; font:bold 12px  Arial, Helvetica, sans-serif; color:#F8C100; background-repeat:no-repeat; }/*最外層header*//**/
html>body .qa_foot {height:10px; padding: 0; background: url(../img/help_foot.png) no-repeat;}/*mac*/
* .qa_foot { padding: 17px 0 0 47px;  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/help_foot.png');}/*IE6 png透明*/
/*Nav*/
#qa_nav { height:29px;background-color: #D5D4C8;}
div#qa_nav ul {
	z-index:990;
	margin:0;
	font-size:12px;
	font-weight: bold;
	margin-left:22px;
	display: flex;
	}
div#qa_nav ul li {
	list-style: none;
	/*margin:0 20px 0 0;*/
	padding:0 15px 0;
	height:29px;
	float:left;
	line-height:29px;
	position:relative;
	}
/* Color Chuang*/
/*關閉*/
.close_box { *cursor:hand; cursor:pointer; float:right; position:relative;margin:11px 10px 0 0; *margin-top:-25px; padding:1px 19px 0 0; font-weight:normal; font-size:11px;background: url(../img/close_qa.gif) no-repeat right 0;}/*close button box*/
span.close_box:hover { color: #C60;}

/*  Page */
body#MAIL li.mail , body#SPORT li.sport , body#MSG li.msg , body#ODD li.odd , body#WAP li.wap , body#PASS li.pass, body#RULE li.rule
{ background-color:#FFF;}

div#main { clear: both;vertical-align:top; background-color:#FFF;
				/*min-height:316px;	height: auto !important;	height:316px; overflow-x:hidden; overflow-y: auto;*/
				padding:12px 13px;
				/*scrollbar-face-color: #DCD1C5;
				 scrollbar-shadow-color: #B9A38B;
				 scrollbar-highlight-color: #E6DED6;
				 scrollbar-3dlight-color: #B9A38B;
				 scrollbar-darkshadow-color: #33281C;
				 scrollbar-track-color: #33281C;
				 scrollbar-arrow-color: #413528;*/
				}
h1 { font-size:14px; font-weight:bold; margin-bottom:18px;}

/* 連絡我們 */
#MAIL #main {padding: 36px 0 0 184px;min-height:316px;	height: auto !important;	height:316px; background:#FFF url(../img/qa_phone.jpg) no-repeat 14px 12px;}
#MAIL #main p { margin-bottom:18px;}
body#MAIL #main .info { width:340px; line-height:16px;}

/*更換密碼*//*
#PASS #main {padding:0;height:316px; background-color:#F0F0F0;}
#PASS .box { height:218px; *height:171px; padding:36px 13px 12px;background-color:#FFF;}
#PASS h2 {height: 42px; font-size:12px; margin:0 0 0 48px; padding:8px 10px 0 42px; text-align:left; background:url(../..../img/chg_icon.gif) no-repeat 0 0;}
#PASS #main em{width:86px; font-style:normal;white-space: nowrap;color:#000;text-align:right;font-size: 12px;}
#PASS table { margin-left:32px;}
#PASS p { margin:0; padding:5px 0; text-align:right;}
#PASS .keyin { text-align: left; width:200px;}
#PASS .info { vertical-align: top; padding-left:32px; padding-top:5px;  line-height:18px;font: 12px  Arial, Helvetica, sans-serif;}
#PASS .info span { display:block;}
#PASS tt { margin-left:-14px;}
#PASS .txt { width:108px;}
#PASS .foot { height:50px; margin-top:15px; padding-top:12px; padding-right:8px; text-align:right; background-color:#9cc;}
#PASS .yes, #PASS .no { width:88px; color:#393939; height: 24px;}
*/

/* 體育規則 *//**/
#ROUL div#main {padding:8px 13px 17px;/*height:328px; */}
/* 賠率計算 */
#ODD div#main { /*height:328px; *//*_height: 1%; overflow-x:hidden; overflow-y: auto;*/}
/*#ODD div.info { padding-bottom:12px;}*/
#ODD #box { width:100%;margin-bottom:12px; font-size:12px;}
/*title*/
#ODD .top { background: #4E432A url(../img/mem_h1_ft.gif) no-repeat 100% 0; color:#FFF; text-align:left; clear:both;}
#ODD .top h1 { margin:0 15px 0 0; padding: 4px 2px 1px 11px; font-size:12px; line-height:24px; white-space: nowrap;background:url(../img/mem_h1_ft.gif) no-repeat 0 0; }
/*html>body#ODD  .top h1 {padding: 6px 2px 3px 11px;}/*Mac Hack*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~mem~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#ODD .mem { border: 2px solid #BC9A3F; border-top-width: 0; border-bottom:1px solid #D7D7C1; padding:3px; background-color:#D7D7C1; clear:both;}
/*table--外框邊線*/
#ODD .mem .game {	width:100%;	background-color:#B9B9A3;	clear: both;	font-size:12px; border-top:1px solid #B9B9A3;border-left:1px solid #B9B9A3;}
/*盤面表頭加線*/
#ODD .game th {color:#000;	background-color:#C8A670;white-space:nowrap;	font-weight: normal;padding:2px 2px 1px; border-right:1px solid #B9B9A3; border-bottom:1px solid #B9B9A3;font-family: Arial, Helvetica, SimSun, sans-serif;}
/*盤面表格加線*/
#ODD .game td { padding:1px 4px; font-size:12px; border-right:1px solid #B9B9A3; border-bottom:1px solid #B9B9A3;font-family: Arial, Helvetica, SimSun, sans-serif;}
#ODD .b_hline {  background-color: #FCF9CE;padding-top:3px;}/**/
#ODD .b_hline td {color:#4b3621;font-weight: bold;}
#ODD .b_rig {background-color:#FFF; text-align:right;white-space:nowrap;/*解決賠率斷行*/}
#ODD .way_red {	color: #F00;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~foot~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#ODD #foot { width:100%; height:11px; text-align:left; background:url(../img/mem_foot_ft.gif) no-repeat 100% 100%; vertical-align: bottom;}
#ODD #foot b { display:block;width:30px; height:11px; line-height:11px; background:url(../img/mem_foot_ft.gif) no-repeat 0 100%;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~back to top~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.to_top {	display: block;	text-align: right;	margin-bottom: 1em;}
.to_top a {display: block;	width: 5em;white-space: nowrap;	background: url(../img/ind_arr.gif) no-repeat left -117px;	}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ For Mac/Safari Fix ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html > body .to_top { padding-top:0px;}
html > body .to_top a { float: right;}
html > body#RCHK .to_top span {margin-left:auto;margin-right:auto;}