
				<form>
					<table class="marksix_content">
						<thead>
							<tr class="bg-warning">
								<th>号码</th>
								<th>赔率</th>
								<th>金额</th>
								<th>号码</th>
								<th>赔率</th>
								<th>金额</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="bColorR"><span>01</span></td>
								<td><span class="text-red" data-val="01">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorR"><span>02</span></td>
								<td><span class="text-red" data-val="02">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorB"><span>03</span></td>
								<td><span class="text-red" data-val="03">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorB"><span>04</span></td>
								<td><span class="text-red" data-val="04">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorG"><span>05</span></td>
								<td><span class="text-red" data-val="05">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorG"><span>06</span></td>
								<td><span class="text-red" data-val="06">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorR"><span>07</span></td>
								<td><span class="text-red" data-val="07">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorR"><span>08</span></td>
								<td><span class="text-red" data-val="08">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorB"><span>09</span></td>
								<td><span class="text-red" data-val="09">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorB"><span>10</span></td>
								<td><span class="text-red" data-val="10">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorG"><span>11</span></td>
								<td><span class="text-red" data-val="11">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorR"><span>12</span></td>
								<td><span class="text-red" data-val="12">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorR"><span>13</span></td>
								<td><span class="text-red" data-val="13">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorB"><span>14</span></td>
								<td><span class="text-red" data-val="14">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorB"><span>15</span></td>
								<td><span class="text-red" data-val="15">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorG"><span>16</span></td>
								<td><span class="text-red" data-val="16">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorG"><span>17</span></td>
								<td><span class="text-red" data-val="17">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorR"><span>18</span></td>
								<td><span class="text-red" data-val="18">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorR"><span>19</span></td>
								<td><span class="text-red" data-val="19">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorB"><span>20</span></td>
								<td><span class="text-red" data-val="20">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorG"><span>21</span></td>
								<td><span class="text-red" data-val="21">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorG"><span>22</span></td>
								<td><span class="text-red" data-val="22">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorR"><span>23</span></td>
								<td><span class="text-red" data-val="23">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorR"><span>24</span></td>
								<td><span class="text-red" data-val="24">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorB"><span>25</span></td>
								<td><span class="text-red" data-val="25">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorB"><span>26</span></td>
								<td><span class="text-red" data-val="26">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorG"><span>27</span></td>
								<td><span class="text-red" data-val="27">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorG"><span>28</span></td>
								<td><span class="text-red" data-val="28">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorR"><span>29</span></td>
								<td><span class="text-red" data-val="29">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorR"><span>30</span></td>
								<td><span class="text-red" data-val="30">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorB"><span>31</span></td>
								<td><span class="text-red" data-val="31">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorG"><span>32</span></td>
								<td><span class="text-red" data-val="32">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorG"><span>33</span></td>
								<td><span class="text-red" data-val="33">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorR"><span>34</span></td>
								<td><span class="text-red" data-val="34">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorR"><span>35</span></td>
								<td><span class="text-red" data-val="35">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorB"><span>36</span></td>
								<td><span class="text-red" data-val="36">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorB"><span>37</span></td>
								<td><span class="text-red" data-val="37">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorG"><span>38</span></td>
								<td><span class="text-red" data-val="38">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorG"><span>39</span></td>
								<td><span class="text-red" data-val="39">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorR"><span>40</span></td>
								<td><span class="text-red" data-val="40">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorB"><span>41</span></td>
								<td><span class="text-red" data-val="41">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorB"><span>42</span></td>
								<td><span class="text-red" data-val="42">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorG"><span>43</span></td>
								<td><span class="text-red" data-val="43">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorG"><span>44</span></td>
								<td><span class="text-red" data-val="44">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorR"><span>45</span></td>
								<td><span class="text-red" data-val="45">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorR"><span>46</span></td>
								<td><span class="text-red" data-val="46">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorB"><span>47</span></td>
								<td><span class="text-red" data-val="47">0.0</span></td>
								<td><input type="text" /></td>
								<td class="bColorB"><span>48</span></td>
								<td><span class="text-red" data-val="48">0.0</span></td>
								<td><input type="text" /></td>
							</tr>
							<tr>
								<td class="bColorG"><span>49</span></td>
								<td><span class="text-red" data-val="49">0.0</span></td>
								<td><input type="text" /></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<div style="height: 5px;"></div>
					<table class="marksix_footer">
						<tr>
							<td><span>单</span></td>
							<td><span class="text-red" data-val="单">0.0</span></td>
							<td><input type="text" /></td>
							<td><span>双</span></td>
							<td><span class="text-red" data-val="双">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td><span>大</span></td>
							<td><span class="text-red" data-val="大">0.0</span></td>
							<td><input type="text" /></td>
							<td><span>小</span></td>
							<td><span class="text-red" data-val="小">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td><span>合单</span></td>
							<td><span class="text-red" data-val="合单">0.0</span></td>
							<td><input type="text" /></td>
							<td><span>合双</span></td>
							<td><span class="text-red" data-val="合双">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td><span>红波</span></td>
							<td><span class="text-red" data-val="红波">0.0</span></td>
							<td><input type="text" /></td>
							<td><span>绿波</span></td>
							<td><span class="text-red" data-val="绿波">0.0</span></td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td><span>蓝波</span></td>
							<td><span class="text-red" data-val="蓝波">0.0</span></td>
							<td><input type="text" /></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
					<div class="text-center footercontent">
						<div class="text-center paddingtopbotton5">
							<input type="button" class="btn btn-warning" value="重填" onClick="$('.qingkong').click();" /> <input
								type="button" onclick="addToBetList('zm_b', '正码B')"
								class="btn btn-warning" value="确认下注" />
						</div>
					</div>
				</form>
				<script type="text/html" style="display: none;" id="marksixFooterTemplate">
					{#
					_.each(list, function(item, index, list){
					#}
						{{ index == 0 ? '<tr>' : ''}}
						{{ (index != 0 && index % 2 == 0) ? '</tr><tr>' : ''}}
							<td><span>{{item.name}}</span></td>
							<td><span class="text-red" data-val="{{item.name}}" data-marksixid="{{item.id}}">{{item.odds}}</span></td>
							<td><input type="text" /></td>
						{{ index == list.length - 1 ? '</tr>' : ''}}
					{#
					});
					#}
				</script>