
<form>
	<table betprefix="">
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>选择</th>
				<th>号码</th>
				<th>选择</th>
				<th>号码</th>
				<th>选择</th>
				<th>号码</th>
				<th>选择</th>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g"><span>01</span></td>
				<td><input type="checkbox" name="facai6688" value="1"/></td>
				<td class="ballColor ballcolor-g"><span>02</span></td>
				<td><input type="checkbox" name="facai6688" value="2"/></td>
				<td class="ballColor ballcolor-g"><span>03</span></td>
				<td><input type="checkbox" name="facai6688" value="3"/></td>
				<td class="ballColor ballcolor-g"><span>04</span></td>
				<td><input type="checkbox" name="facai6688" value="4"/></td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g"><span>05</span></td>
				<td><input type="checkbox" name="facai6688" value="5"/></td>
				<td class="ballColor ballcolor-g"><span>06</span></td>
				<td><input type="checkbox" name="facai6688" value="6"/></td>
				<td class="ballColor ballcolor-g"><span>07</span></td>
				<td><input type="checkbox" name="facai6688" value="7"/></td>
				<td class="ballColor ballcolor-g"><span>08</span></td>
				<td><input type="checkbox" name="facai6688" value="8"/></td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g"><span>09</span></td>
				<td><input type="checkbox" name="facai6688" value="9"/></td>
				<td class="ballColor ballcolor-g"><span>10</span></td>
				<td><input type="checkbox" name="facai6688" value="10"/></td>
				<td class="ballColor ballcolor-g"><span>11</span></td>
				<td><input type="checkbox" name="facai6688" value="11"/></td>
				<td class="ballColor ballcolor-g"><span>12</span></td>
				<td><input type="checkbox" name="facai6688" value="12"/></td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g"><span>13</span></td>
				<td><input type="checkbox" name="facai6688" value="13"/></td>
				<td class="ballColor ballcolor-g"><span>14</span></td>
				<td><input type="checkbox" name="facai6688" value="14"/></td>
				<td class="ballColor ballcolor-g"><span>15</span></td>
				<td><input type="checkbox" name="facai6688" value="15"/></td>
				<td class="ballColor ballcolor-g"><span>16</span></td>
				<td><input type="checkbox" name="facai6688" value="16"/></td>
			</tr>
			<tr>
				<td class="ballColor ballcolor-g"><span>17</span></td>
				<td><input type="checkbox" name="facai6688" value="17"/></td>
				<td class="ballColor ballcolor-g"><span>18</span></td>
				<td><input type="checkbox" name="facai6688" value="18"/></td>
				<td class="ballColor ballcolor-g"><span>19</span></td>
				<td><input type="checkbox" name="facai6688" value="19"/></td>
				<td class="ballColor ballcolor-g"><span>20</span></td>
				<td><input type="checkbox" name="facai6688" value="20"/></td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center paddingtopbotton5 marksixRate">
		{# var item = list[0]; #}
		<b class="text-warning">赔率：<span id="lmrate" class="text-red" rate="{{item.odds}}" oddsId="{{item.id}}" rakeBack="{{item.rakeBack}}">{{item.odds}}</span></b>
	</div>
	<div class="container text-center">
		<div class="form-group container">
			<div class="input-group">
				<span class="input-group-addon form_span">金额</span> <input type="text" class="form-control betmoney" placeholder="请输入金额">
			</div>
		</div>
	</div>
	<div class="text-center footercontent">
		<div class="container text-center">
			<input type="reset" class="btn btn-warning" value="重填">
			<input type="button" onclick="submintLimaClick(12, 'lianma', 'xuansanqianzu', '连码--选三前组')" class="btn btn-warning" value="确认下注">
		</div>
	</div>
</form>
<script type="text/javascript">
	$(function(){
		$("td.ballColor").each(function() {
			$(this).click(function() {
				var $facai6688 = $(this).next("td").children("input[type=checkbox]");
				$facai6688.click();
			});
		});
		/*
		$("td.ballColor + td").each(function() {
			$(this).click(function() {
				$(this).prev("td.ballColor").click();
			});
		});
		*/

	});
	//提交下注按钮点击事件
	function submintLimaClick(lotType, groupCode, playCode, playName) {
		var inputVal = $(".ball-content .betmoney");
		var validate = "";
		var allje = 0;
		var con;
		inputVal.each(function () {
			var je = $(this).val();
			if (je != "") {
				var ex = /^[1-9]\d*$/
				if (!ex.test(je)) {
					validate = "金额无效！";
					con = $(this);
					return false;
				} else {
					allje += je * 1;
				}
			}
		});
		var Credit = $("#Credit").val() * 1;
		if (validate != "") {
			Modal.alert({ msg: validate }).on(function () {
				$(con).focus();
				return;
			});
			return;
		} else if (allje == 0) {
			Modal.alert({ msg: '请先下注!' }).on(function () {
				return;
			});
			return;
		}
		//else if (allje > Credit) {
		//	Modal.alert({ msg: '金额不足,请重新输入!' }).on(function () {
		//		return;
		//	});
		//	return;
		//}
		var qishu = $(".memRound").html();
		var betData = {"qiHao": qishu, "lotCode": "{{lotCode}}", "groupCode": groupCode, "playCode": playCode, "lotType": lotType};
		var data = [];
		var htmls = "";

		var $butInfo = $("input[type=checkbox][name=facai6688]:checked");
		if($butInfo.length < "{{minBonusOdds}}"){
			Modal.alert({ msg: '最少选择{{minBonusOdds}}个号码!' }).on(function () {
				return;
			});
			return;
		} else if ($butInfo.length > "{{maxBonusOdds}}"){
			Modal.alert({ msg: '最多选择{{maxBonusOdds}}个号码!' }).on(function () {
				return;
			});
			return;
		}

		var zhucount = getZhushu("{{minBonusOdds}}", $butInfo.length);

		var checkedNum = [];
		$butInfo.each(function () {
			var num = $(this).val();
			checkedNum.push(num);
		});
		var batnumstr = checkedNum.join(",");

		if (batnumstr != "") {
			var name = batnumstr;
			var rate = $("#lmrate").attr("rate");
			var oddsId = $("#lmrate").attr("oddsId");
			if (!rate || rate == 0) {
				Modal.alert({ msg: '赔率0 ,无法下注!' }).on(function () {
					return false;
				});
				return;
			}
			var pname = name;
			data.push({"name": pname, "money": allje, "oddsId": oddsId, "rate": rate});
			htmls += "<tr><td>" + playName + "</td><td>" + pname + "</td><td>" + allje + "</td></tr>";
		}

		if (data.length > 0) {
			betData.data = data;
			$("#myModal1 .counts").html(zhucount);
			$("#myModal1 .jinge").html(allje * zhucount);
			$("#betDetail").html(htmls);
			$("#myModal1 .tijiao").attr("onclick", "submitBetGame('" + JSON.stringify(betData) + "')");
			$(".ball-content input[type=text]").val('');
			$("#myModal1").modal("show");
			$(".qingkong").click();
		}
	}
</script>