@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, form, label{ margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-family: inherit; font-size: 100%; text-align: left; vertical-align: baseline; list-style-type: none; }
a img { border: none; }
ul, ol { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { zoom: 1; }
*+html .clearfix { zoom: 1; }

body { font-family: "microsoft YaHei"; font-size: 14px; color: #bababa; background: #161616; }
a { color: #bababa; text-decoration: none; text-align: center; }
input { border: none; margin: 0; padding: 0 5px; }
.w_1100{ width:1100px; margin:0 auto;}

#topbg { width: 100%; height: 35px; background: #181818; border-bottom: 1px solid #3c3c3c; }
#topbg .top { width: 1100px; height: 35px; margin: 0 auto; }
#topbg form { float: left; }
#topbg form table tr { height: 35px; }
#topbg form table td { padding-left: 5px; }
#topbg form input.text { width: 120px; height: 23px; line-height: 23px; background: #4b4b4b; border: 1px solid #4b4b4b; color: #bababa; font-size: 12px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#topbg form input.text.code { width: 60px; float: left; -moz-border-top-right-radius: 0px; -webkit-border-top-right-radius: 0px; border-top-right-radius: 0px; -moz-border-bottom-right-radius: 0px; -webkit-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }
#topbg form img.code {background-color: #EEDFCB;width: 60px; height: 25px; float: left; cursor: pointer; -moz-border-top-right-radius: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-bottom-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
#topbg form .submit { width: 60px; height: 25px; background: url(../images/btn_submit.jpg) no-repeat center center; }
#topbg form .submit:hover { background: url(../images/btn_submit_h.jpg) no-repeat center center; }
#topbg form input.sub { outline: none; margin: 0; padding: 0; border: none; width: 60px; height: 25px; line-height: 20px; cursor: pointer; background: none; font-weight: bold; font-size: 16px; }
#topbg form a.link { margin: 0px 10px; font-size:12px;}
#topbg form a.link:hover { color: #f60; border-bottom: 2px solid #f60; }
#topbg ul { float: right; padding: 10px 0 0 0; font-size: 12px; }
#topbg ul li { display: block; float: left; }
#topbg ul li.line { margin: 0 3px; }
#topbg ul li a { padding: 2px 3px; font-size: 12px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
#topbg ul li a:hover { background: #e39225; color: #fff; }
#topbg img { vertical-align: -2px; }

#headerbg { width: 100%; height: 95px; background: url(../images/bg_nav.jpg) no-repeat center top; }
#headerbg .header { width: 1100px; height: 95px; margin: 0 auto; background: url(../images/bg_nav.jpg) no-repeat center top; }
#headerbg .logo { width: 398px; height: 92px; float: left; }
#headerbg .nav { width: 680px; height: 95px; float: right; }
#headerbg .nav ul { width: 640px; height: 95px; padding: 0 20px 0 25px; position: relative; overflow: hidden; }
#headerbg .nav ul li { display: block; width: 92px; height: 95px; float: left; position: relative; z-index: 3; margin-left: -8px; }
#headerbg .nav ul li.line { width: 16px; background: url(../images/line.png) no-repeat center center; z-index: 1; }
#headerbg .nav ul li.move { width: 126px; height: 95px; background: url(../images/btn_nav.png) no-repeat center center; position: absolute; top: 0; left: 0; z-index: 2; }
#headerbg .nav ul li a { display: block; width: 92px; height: 37px; font-size: 15px; line-height: 20px; padding: 29px 0; color: #1f1f1f; font-weight: bold; }
#headerbg .nav ul li a span { display: block; font-size: 9px; line-height: 13px; text-align: center; -webkit-transform: scale(0.75); }
#headerbg .nav ul li.on a { color: #662f02; }

#footer { width: 100%; overflow: hidden; }
#footer .bg { width: 100%; overflow: hidden; background: url(../images/bg_footer.jpg) no-repeat center top; }
#footer .top { width: 1000px; height: 60px; margin: 0 auto; padding: 20px 0 0 0; }
#footer .top .footlogo { text-align: center; }
#footer .bottom { width: 1000px; overflow: hidden; margin: 0 auto; }
#footer .bottom .link { width: 1000px; height: 100px; text-align: center; padding-bottom: 10px; color: #828282 }
#footer .bottom .link ul { text-align: center; margin-bottom: 5px; }
#footer .bottom .link ul li { display: inline-block; *display:inline;
_zoom: 1; font-size: 12px; }
#footer .bottom .link ul li a { font-size: 12px; color: #828282 }
#footer .bottom .link ul li a:hover { color: #f60; border-bottom: 1px solid #f60; }
#footer .bottom .link p { line-height: 25px; text-align: center; font-size: 12px; }
#footer .bottom .info { width: 1000px; overflow: hidden; padding: 30px 0; }
#footer .bottom .info div.list { width: 320px; overflow: hidden; min-height: 410px; float: left; }
#footer .bottom .info div.service { width: 260px; }
#footer .bottom .info div.product { border-left: 1px solid #2c2c2c; border-right: 1px solid #2c2c2c; margin: 0 25px; padding: 0 24px; }
#footer .bottom .info div.list h2 { margin-bottom: 30px; }
#footer .bottom .info div.service dl { display: block; width: 255px; height: 55px; position: relative; margin-bottom: 50px; }
#footer .bottom .info div.service dl.m_in { background: url(../images/service01.png) no-repeat center top; }
#footer .bottom .info div.service dl.m_out { background: url(../images/service02.png) no-repeat center top; }
#footer .bottom .info div.service dl.mon { background: url(../images/service03.png) no-repeat center top; }
#footer .bottom .info div.service dl dt { display: block; width: 130px; height: 35px; line-height: 35px; position: absolute; top: 0; right: 40px; font-family: "microsoft YaHei"; color: #9d9d9d; text-align: right; font-size: 36px; font-weight: bold; }
#footer .bottom .info div.service dl dd { display: block; width: 2px; height: 10px; position: absolute; left: 0; bottom: 0; background: #ffef69 url(../images/bar.png) no-repeat left center; z-index: 3; }
#footer .bottom .info div.service dl.mon dd { background: none; }
#footer .bottom .info div.service dl dd.progress { width: 5px; background: #ffef69 url(../images/bar.png) no-repeat right center; z-index: 2 }
#footer .bottom .info div.service dl dd.opacity { width: 255px; background: #343434 url(../images/bar.png) no-repeat right center; z-index: 1; }
#footer .bottom .info div.product dl { font-family: "microsoft YaHei"; color: #9d9d9d; font-size: 12px; margin-bottom: 30px; }
#footer .bottom .info div.product dl dt { font-size: 18px; margin-bottom: 5px; }
#footer .bottom .info div.product dl dt span { font-size: 12px; }
#footer .bottom .info div.product dl dd { line-height: 180%; text-align: justify; }
#footer .bottom .info div.help dl { font-family: "microsoft YaHei"; color: #9d9d9d; font-size: 12px; margin-bottom: 30px; }
#footer .bottom .info div.help dl dt { font-size: 18px; margin-bottom: 5px; }
#footer .bottom .info div.help dl dt span { font-size: 12px; }
#footer .bottom .info div.help dl dd { line-height: 180%; text-align: justify; }
#footer .bottom .info div.help ul { display: block; width: 250px; }
#footer .bottom .info div.help ul li { display: block; float: left; width: 80px; }
#footer .bottom .info div.help ul li a { color: #9d9d9d; }
#footer .bottom .info div.help ul li a:hover { color: #f60; border-bottom: 1px solid #f60; }



#banner {width:100%;height:auto;overflow:hidden;position:relative; z-index:1;}
#banner .notice {width:100%;height:35px;margin:0 auto;position:absolute; z-index:11; background:url(../images/notice_bg.png) center top no-repeat;}
#banner .notice #news {width:600px;height:35px;line-height:35px;float:right;font-size:13px; margin-right:20px;}
#banner .notice #news h2 {display:block;width:100px;height:35px;line-height:35px;text-align:center;float:left; font-weight:bold}
#banner .notice #news #announ {width:500px;height:35px;overflow:hidden;}
#banner .notice #news ul li,#news ul li a {display:block;width:500px;height:35px;line-height:35px;text-align:left;font-size:13px;}
#banner .notice #news ul li a:hover {text-decoration:underline;}

#banner .fullSlide { width: 100%; position: relative; height:502px;overflow: hidden; }
#banner .fullSlide .bd { margin: 0 auto; position: relative; z-index: 0; overflow: hidden; }
#banner .fullSlide .bd ul { width: 100% !important; }
#banner .fullSlide .bd li { width: 100% !important; height: 502px; overflow: hidden; text-align: center; background-position:center center; background-repeat:no-repeat;}
#banner .fullSlide .hd { width: 100%; position: absolute; z-index: 1; bottom: 0; left: 0; height: 30px; line-height: 30px;}
#banner .fullSlide .hd ul { text-align: center; }
#banner .fullSlide .hd ul li { cursor: pointer; display: inline-block;  *display:inline;
zoom: 1; width: 42px; height: 11px; margin: 1px; overflow: hidden; background: #000; filter: alpha(opacity=50); opacity: 0.5; line-height: 999px; }
#banner .fullSlide .hd ul .on { background:#79621C; }
#banner .fullSlide .prev,#banner .fullSlide .next { display: block; position: absolute; z-index: 1; top: 50%; margin-top: -30px; left: -5%; z-index: 1; width: 40px; height: 60px; background: url(../images/slider-arrow.png) -126px -137px #000 no-repeat; cursor: pointer; filter: alpha(opacity=0); opacity: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#banner .fullSlide .next { left: auto; right: -5%; background-position: -6px -137px; }

#banner .ny_banner{ width:100%; position:relative; z-index:1; height:251px; overflow:hidden;}
.banner_sport{ background:url(../images/banner_sport.jpg) center center no-repeat;}
.banner_live{ background:url(../images/banner_live.jpg) center center no-repeat;}
.banner_lottery{ background:url(../images/banner_lottery.jpg) center center no-repeat;}
.banner_game{ background:url(../images/banner_game.jpg) center center no-repeat;}
.banner_promotion{ background:url(../images/banner_promotion.jpg) center center no-repeat;}
.banner_agent{ background:url(../images/banner_aboutus.jpg) center center no-repeat;}
.banner_aboutus{ background:url(../images/banner_aboutus.jpg) center center no-repeat;}