@charset "utf-8";

#mainbg {width:100%;height:329px;background:url(../images/bg_index.jpg) no-repeat center top;}
#mainbg .main{width:1100px;height:286px;margin:0 auto;padding:22px 0 23px;position:relative;/* background:url(../images/bg_index.jpg) no-repeat center top; */}
#mainbg .main .items {width:1056px;height:286px;margin:0 auto;}
#mainbg .main .items .item {width:264px;height:286px;float:left;}
#mainbg .main .items .item a {display:block;width:264px;height:286px;position:relative;}