@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */

/*这是关于position absolute或者fixed改版的animate */ 
/*是由于水平居中translate无法使用*/

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge-hastrans {
  animation-duration: 2s;
}

.animated.flipOutX-hastrans,
.animated.flipOutY-hastrans,
.animated.bounceIn-hastrans,
.animated.bounceOut-hastrans {
  animation-duration: .75s;
}

@keyframes bounce-hastrans {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate(-50%,0);
    transform: translate3d(-50%,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate(-50%, -67%);
    transform: translate3d(-50%, -67%, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate(-50%, -58%);
    transform: translate3d(-50%, -58%, 0);
  }

  90% {
    transform: translate(-50%,-52%);
    transform: translate3d(-50%,-52%,0);
  }

  100%{
    transform: translate(-50%,-50%);
    transform: translate3d(-50%,-50%,0);
  }
}

.bounce-hastrans {
  animation-name: bounce-hastrans;
  transform-origin: center bottom;
}

@keyframes flash-hastrans {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash-hastrans {
  animation-name: flash-hastrans;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse-hastrans {
  from {
    transform: scale3d(1, 1, 1) translate(-50%, -50%) translate3d(-50%, -50%, 0);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05) translate(-50%, -50%) translate3d(-50%, -50%, 0);
  }

  to {
    transform: scale3d(1, 1, 1) translate(-50%, -50%) translate3d(-50%, -50%, 0);
  }
}

.pulse-hastrans {
  animation-name: pulse-hastrans;
  transform-origin: 0 0;
}

@keyframes rubberBand-hastrans {
  from {
    transform: scale3d(1, 1, 1) translate(-50%, -50%) translate3d(-50%, -50%, 0);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1) translate(-50%, -50%) translate3d(-50%, -50%, 0);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1) translate(-50%, -50%) translate3d(-50%, -50%, 0);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1) translate(-50%, -50%) translate3d(-50%, -50%, 0);
  }

  65% {
    transform: scale3d(.95, 1.05, 1) translate(-50%, -50%) translate3d(-50%, -50%, 0);
  }

  75% {
    transform: scale3d(1.05, .95, 1) translate(-50%, -50%) translate3d(-50%, -50%, 0);
  }

  to {
    transform: scale3d(1, 1, 1 ) translate(-50%, -50%) translate3d(-50%, -50%, 0);
  }
}

.rubberBand-hastrans {
  animation-name: rubberBand-hastrans;
  transform-origin: 0 0;
}

@keyframes shake-hastrans {
  from, to {
    transform: translate3d(-50%, -50%, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-54px, -50%, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(-46%, -50%, 0);
  }

  100%{
    transform: translate3d(-50%, -50%, 0);
  }
}

.shake-hastrans {
  animation-name: shake-hastrans;
}

@keyframes headShake-hastrans {
  0% {
    transform: translate3d(-50%,-50%,0);
  }

  6.5% {
    transform: rotateY(-9deg) translate3d(-53%,-50%,0);
  }

  18.5% {
    transform: rotateY(7deg) translate3d(-47.5%,-50%,0);
  }

  31.5% {
    transform: rotateY(-5deg) translate3d(-51.5%,-50%,0);
  }

  43.5% {
    transform: rotateY(3deg) translate3d(-49%,-50%,0);
  }

  50% {
    transform: translate3d(-50%,-50%,0);
  }
}

.headShake-hastrans {
  animation-timing-function: ease-in-out;
  animation-name: headShake-hastrans;
}

@keyframes swing-hastrans {
  20% {
    transform: rotate3d(0, 0, 1, 15deg) translate3d(-50%,-50%,0);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg) translate3d(-50%,-50%,0);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg) translate3d(-50%,-50%,0);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg) translate3d(-50%,-50%,0);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg) translate3d(-50%,-50%,0);
  }
}

.swing-hastrans {
  transform-origin: top center;
  animation-name: swing-hastrans;
  transform-origin: 0 0 ;
}

@keyframes tada-hastrans {
  from {
    transform: scale3d(1, 1, 1) translate3d(-50%,-50%,0);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg) translate3d(-50%,-50%,0);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg) translate3d(-50%,-50%,0);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg) translate3d(-50%,-50%,0);
  }

  to {
    transform: scale3d(1, 1, 1) translate3d(-50%,-50%,0);
  }
}

.tada-hastrans {
  animation-name: tada-hastrans;
  transform-origin: 0 0 ;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble-hastrans {
  from {
    transform: none;
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg) translate3d(-50%,-50%,0);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg) translate3d(-50%,-50%,0);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg) translate3d(-50%,-50%,0);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg) translate3d(-50%,-50%,0);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg) translate3d(-50%,-50%,0);
  }

  to {
    transform: none;
    transform:translate3d(-50%,-50%,0);
  }
}

.wobble-hastrans {
  animation-name: wobble-hastrans;
}

@keyframes jello-hastrans {
  from, 11.1%, to {
    transform: none;
    transform:translate3d(-50%,-50%,0);
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg) translate3d(-50%,-50%,0);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg) translate3d(-50%,-50%,0);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg) translate3d(-50%,-50%,0);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg) translate3d(-50%,-50%,0);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg) translate3d(-50%,-50%,0);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg) translate3d(-50%,-50%,0);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg) translate3d(-50%,-50%,0);
  }
}

.jello-hastrans {
  animation-name: jello-hastrans;
  transform-origin: center;
}

@keyframes bounceIn-hastrans {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3) translate3d(-50%,-50%,0);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(-50%,-50%,0);
  }

  40% {
    transform: scale3d(.9, .9, .9) translate3d(-50%,-50%,0);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03) translate3d(-50%,-50%,0);
  }

  80% {
    transform: scale3d(.97, .97, .97) translate3d(-50%,-50%,0);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(-50%,-50%,0);
  }
}

.bounceIn-hastrans {
  animation-name: bounceIn-hastrans;
  transform-origin:0 0;
}

@keyframes bounceInDown-hastrans {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-50%, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-50%, -30%, 0);
  }

  75% {
    transform: translate3d(-50%, -70%, 0);
  }

  90% {
    transform: translate3d(-50%, -54%, 0);
  }

  to {
    transform: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.bounceInDown-hastrans {
  animation-name: bounceInDown-hastrans;
}

@keyframes bounceInLeft-hastrans {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, -50%, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-30%, -50%, 0);
  }

  75% {
    transform: translate3d(-70%, -50%, 0);
  }

  90% {
    transform: translate3d(-54%, -50%, 0);
  }

  to {
    transform: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.bounceInLeft-hastrans {
  animation-name: bounceInLeft-hastrans;
}

@keyframes bounceInRight-hastrans {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, -50%, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-70%, -50%, 0);
  }

  75% {
    transform: translate3d(-30%, -50%, 0);
  }

  90% {
    transform: translate3d(-46%, -50%, 0);
  }

  to {
    transform: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.bounceInRight-hastrans {
  animation-name: bounceInRight-hastrans;
}

@keyframes bounceInUp-hastrans {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(-50%, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-50%, -70px, 0);
  }

  75% {
    transform: translate3d(-50%, -30px, 0);
  }

  90% {
    transform: translate3d(-50%, -46px, 0);
  }

  to {
    transform: translate3d(-50%, -50%, 0);
  }
}

.bounceInUp-hastrans {
  animation-name: bounceInUp-hastrans;
}

@keyframes bounceOut-hastrans {
  20% {
    transform: scale3d(.9, .9, .9) translate3d(-50%,-50%,0);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1) translate3d(-50%,-50%,0);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3) translate3d(-50%,-50%,0);
  }
}

.bounceOut-hastrans {
  animation-name: bounceOut-hastrans;
  transform-origin:0 0;
}

@keyframes bounceOutDown-hastrans {
  20% {
    transform: translate3d(-50%, -40%, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(-50%, -60%, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, 3000px, 0);
  }
}

.bounceOutDown-hastrans {
  animation-name: bounceOutDown-hastrans;
}

@keyframes bounceOutLeft-hastrans {
  20% {
    opacity: 1;
    transform: translate3d(-40%, -50%, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, -50%, 0);
  }
}

.bounceOutLeft-hastrans {
  animation-name: bounceOutLeft-hastrans;
}

@keyframes bounceOutRight-hastrans {
  20% {
    opacity: 1;
    transform: translate3d(-60%, -50%, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, -50%, 0);
  }
}

.bounceOutRight-hastrans {
  animation-name: bounceOutRight-hastrans;
}

@keyframes bounceOutUp-hastrans {
  20% {
    transform: translate3d(-50%, -60%, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(-50%, -40%, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, -2000px, 0);
  }
}

.bounceOutUp-hastrans {
  animation-name: bounceOutUp-hastrans;
}

@keyframes fadeIn-hastrans {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeIn-hastrans {
  animation-name: fadeIn-hastrans;
}

@keyframes fadeInDown-hastrans {
  from {
    opacity: 0;
    transform: translate3d(-50%, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeInDown-hastrans {
  animation-name: fadeInDown-hastrans;
}

@keyframes fadeInDownBig-hastrans {
  from {
    opacity: 0;
    transform: translate3d(-50%, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeInDownBig-hastrans {
  animation-name: fadeInDownBig-hastrans;
}

@keyframes fadeInLeft-hastrans {
  from {
    opacity: 0;
    transform: translate3d(-100%, -50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeInLeft-hastrans {
  animation-name: fadeInLeft-hastrans;
}

@keyframes fadeInLeftBig-hastrans {
  from {
    opacity: 0;
    transform: translate3d(-2000px, -50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeInLeftBig-hastrans {
  animation-name: fadeInLeftBig-hastrans;
}

@keyframes fadeInRight-hastrans {
  from {
    opacity: 0;
    transform: translate3d(100%, -50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeInRight-hastrans {
  animation-name: fadeInRight-hastrans;
}

@keyframes fadeInRightBig-hastrans {
  from {
    opacity: 0;
    transform: translate3d(2000px, -50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeInRightBig-hastrans {
  animation-name: fadeInRightBig-hastrans;
}

@keyframes fadeInUp-hastrans {
  from {
    opacity: 0;
    transform: translate3d(-50%, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeInUp-hastrans {
  animation-name: fadeInUp-hastrans;
}

@keyframes fadeInUpBig-hastrans {
  from {
    opacity: 0;
    transform: translate3d(-50%, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeInUpBig-hastrans {
  animation-name: fadeInUpBig-hastrans;
}

@keyframes fadeOut-hastrans {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeOut-hastrans {
  animation-name: fadeOut-hastrans;
}

@keyframes fadeOutDown-hastrans {
  from {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, 100%, 0);
  }
}

.fadeOutDown-hastrans {
  animation-name: fadeOutDown-hastrans;
}

@keyframes fadeOutDownBig-hastrans {
  from {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, 2000px, 0);
  }
}

.fadeOutDownBig-hastrans {
  animation-name: fadeOutDownBig-hastrans;
}

@keyframes fadeOutLeft-hastrans {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, -50%, 0);
  }
}

.fadeOutLeft-hastrans {
  animation-name: fadeOutLeft-hastrans;
}

@keyframes fadeOutLeftBig-hastrans {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, -50%, 0);
  }
}

.fadeOutLeftBig-hastrans {
  animation-name: fadeOutLeftBig-hastrans;
}

@keyframes fadeOutRight-hastrans {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, -50%, 0);
  }
}

.fadeOutRight-hastrans {
  animation-name: fadeOutRight-hastrans;
}

@keyframes fadeOutRightBig-hastrans {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, -50%, 0);
  }
}

.fadeOutRightBig-hastrans {
  animation-name: fadeOutRightBig-hastrans;
}

@keyframes fadeOutUp-hastrans {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, -100%, 0);
  }
}

.fadeOutUp-hastrans {
  animation-name: fadeOutUp-hastrans;
}

@keyframes fadeOutUpBig-hastrans {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, -2000px, 0);
  }
}

.fadeOutUpBig-hastrans {
  animation-name: fadeOutUpBig-hastrans;
}

@keyframes flip-hastrans {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg) translate3d(-50%, -50%, 0);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(-50%, -50%, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(-50%, -50%, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(.95, .95, .95) translate3d(-50%, -50%, 0);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px) translate3d(-50%, -50%, 0);
    animation-timing-function: ease-in;
  }
}

.animated.flip-hastrans {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip-hastrans;
}

@keyframes flipInX-hastrans {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg) translate(-50%, -50%) translate3d(-50%, -50%, 0);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg) translate(-50%, -50%) translate3d(-50%, -50%, 0);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg) translate(-50%, -50%) translate3d(-50%, -50%, 0);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg) translate(-50%, -50%) translate3d(-50%, -50%, 0);
  }

  to {
    transform: perspective(400px) translate(-50%, -50%) translate3d(-50%, -50%, 0);
  }
}

.flipInX-hastrans {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX-hastrans;
}

@keyframes flipInY-hastrans {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg) translate3d(-50%, -50%, 0);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg) translate3d(-50%, -50%, 0);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg) translate3d(-50%, -50%, 0);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg) translate3d(-50%, -50%, 0);
  }

  to {
    transform: perspective(400px) translate3d(-50%, -50%, 0);
  }
}

.flipInY-hastrans {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInY-hastrans;
}

@keyframes flipOutX-hastrans {
  from {
    transform: perspective(400px) translate3d(-50%, -50%, 0);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg) translate3d(-50%, -50%, 0);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg) translate3d(-50%, -50%, 0);
    opacity: 0;
  }
}

.flipOutX-hastrans {
  animation-name: flipOutX-hastrans;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@keyframes flipOutY-hastrans {
  from {
    transform: perspective(400px) translate3d(-50%, -50%, 0);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg) translate3d(-50%, -50%, 0);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg) translate3d(-50%, -50%, 0);
    opacity: 0;
  }
}

.flipOutY-hastrans {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipOutY-hastrans;
}

@keyframes lightSpeedIn-hastrans {
  from {
    transform: translate3d(100%, -50%, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg) translate3d(10%, -50%, 0);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg) translate3d(-30%, -50%, 0);
    opacity: 1;
  }

  to {
    transform: none;
    transform:translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}

.lightSpeedIn-hastrans {
  animation-name: lightSpeedIn-hastrans;
  animation-timing-function: ease-out;
}

@keyframes lightSpeedOut-hastrans {
  from {
    transform:translate3d(-50%, -50%, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(100%, -50%, 0) skewX(30deg);
    opacity: 0;
  }
}

.lightSpeedOut-hastrans {
  animation-name: lightSpeedOut-hastrans;
  animation-timing-function: ease-in;
}

@keyframes rotateIn-hastrans {
  from {
    transform-origin: 50% 0;
    transform: rotate3d(0, 0, 1, -200deg) translate3d(-50%, -50%, 0);
    opacity: 0;
  }

  to {
    transform-origin: 50% 0;
    transform: none;
    transform:translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}

.rotateIn-hastrans {
  animation-name: rotateIn-hastrans;
}

@keyframes rotateInDownLeft-hastrans {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(-50%, -50%, 0);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    transform:translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}

.rotateInDownLeft-hastrans {
  animation-name: rotateInDownLeft-hastrans;
}

@keyframes rotateInDownRight-hastrans {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg) translate3d(-50%, -50%, 0);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    transform:translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}

.rotateInDownRight-hastrans {
  animation-name: rotateInDownRight-hastrans;
}

@keyframes rotateInUpLeft-hastrans {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg) translate3d(-50%, -50%, 0);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    transform:translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}

.rotateInUpLeft-hastrans {
  animation-name: rotateInUpLeft-hastrans;
}

@keyframes rotateInUpRight-hastrans {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg) translate3d(-50%, -50%, 0);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    transform:translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}

.rotateInUpRight-hastrans {
  animation-name: rotateInUpRight-hastrans;
}

@keyframes rotateOut-hastrans {
  from {
    transform-origin: center;
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

.rotateOut-hastrans {
  animation-name: rotateOut-hastrans;
}

@keyframes rotateOutDownLeft-hastrans {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}

.rotateOutDownLeft-hastrans {
  animation-name: rotateOutDownLeft-hastrans;
}

@keyframes rotateOutDownRight-hastrans {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutDownRight-hastrans {
  animation-name: rotateOutDownRight-hastrans;
}

@keyframes rotateOutUpLeft-hastrans {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutUpLeft-hastrans {
  animation-name: rotateOutUpLeft-hastrans;
}

@keyframes rotateOutUpRight-hastrans {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}

.rotateOutUpRight-hastrans {
  animation-name: rotateOutUpRight-hastrans;
}

@keyframes hinge-hastrans {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge-hastrans {
  animation-name: hinge-hastrans;
}

@keyframes jackInTheBox-hastrans {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg) translate3d(-50%, -50%, 0);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg) translate3d(-50%, -50%, 0);
  }

  70% {
    transform: rotate(3deg) translate3d(-50%, -50%, 0);
  }

  to {
    opacity: 1;
    transform: scale(1) translate3d(-50%, -50%, 0);
  }
}

.jackInTheBox-hastrans {
  animation-name: jackInTheBox-hastrans;
  transform-origin: 0 0;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn-hastrans {
  from {
    opacity: 0;
    transform: translate3d(-150%, -50%, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: none translate3d(-50%, -50%, 0);
  }
}

.rollIn-hastrans {
  animation-name: rollIn-hastrans;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut-hastrans {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut-hastrans {
  animation-name: rollOut-hastrans;
}

@keyframes zoomIn-hastrans {
  from {
    opacity: 0;
    /*transform: translate(-50%, -50%);*/
  }

  50% {
    opacity: 1;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 1;
    /*transform: translate(-50%, -50%);*/
  }
}

.zoomIn-hastrans {
  animation-name: zoomIn-hastrans;
  transform-origin: -25% -25%;
}

@keyframes zoomInDown-hastrans {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInDown-hastrans {
  animation-name: zoomInDown-hastrans;
  transform: translate3d(-50%, -50%, 0);
}

@keyframes zoomInLeft-hastrans {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInLeft-hastrans {
  animation-name: zoomInLeft-hastrans;
}

@keyframes zoomInRight-hastrans {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInRight-hastrans {
  animation-name: zoomInRight-hastrans;
}

@keyframes zoomInUp-hastrans {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInUp-hastrans {
  animation-name: zoomInUp-hastrans;
}

@keyframes zoomOut-hastrans {
  from {
    opacity: 1 ;
    transform:translate3d(-50%, -50%, 0);
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3) translate3d(-50%, -50%, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
  }
}

.zoomOut-hastrans {
  animation-name: zoomOut-hastrans;
  transform-origin: 0 0;
}

@keyframes zoomOutDown-hastrans {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-50%, -60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(-50%, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomOutDown-hastrans {
  animation-name: zoomOutDown-hastrans;
  transform-origin: 0 0;
}

@keyframes zoomOutLeft-hastrans {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-50%, -50%, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(-2000px, -50%, 0);
    transform-origin: left center;
  }
}

.zoomOutLeft-hastrans {
  animation-name: zoomOutLeft-hastrans;
}

@keyframes zoomOutRight-hastrans {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-50%, -50%, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(2000px, -50%, 0);
    transform-origin: right center;
  }
}

.zoomOutRight-hastrans {
  animation-name: zoomOutRight-hastrans;
}

@keyframes zoomOutUp-hastrans {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-50%, -50%, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(-50%, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomOutUp-hastrans {
  animation-name: zoomOutUp-hastrans;
}

@keyframes slideInDown-hastrans {
  from {
    transform: translate3d(-50%, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(-50%, -50%, 0);
  }
}

.slideInDown-hastrans {
  animation-name: slideInDown-hastrans;
}

@keyframes slideInLeft-hastrans {
  from {
    transform: translate3d(-100%, -50%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(-50%, -50%, 0);
  }
}

.slideInLeft-hastrans {
  animation-name: slideInLeft-hastrans;
}

@keyframes slideInRight-hastrans {
  from {
    transform: translate3d(100%, -50%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(-50%, -50%, 0);
  }
}

.slideInRight-hastrans {
  animation-name: slideInRight-hastrans;
}

@keyframes slideInUp-hastrans {
  from {
    transform: translate3d(-50%, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(-50%, -50%, 0);
  }
}

.slideInUp-hastrans {
  animation-name: slideInUp-hastrans;
}

@keyframes slideOutDown-hastrans {
  from {
    transform: translate3d(-50%, -50%, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-50%, 100%, 0);
  }
}

.slideOutDown-hastrans {
  animation-name: slideOutDown-hastrans;
}

@keyframes slideOutLeft-hastrans {
  from {
    transform: translate3d(-50%, -50%, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, -50%, 0);
  }
}

.slideOutLeft-hastrans {
  animation-name: slideOutLeft-hastrans;
}

@keyframes slideOutRight-hastrans {
  from {
    transform: translate3d(-50%, -50%, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, -50%, 0);
  }
}

.slideOutRight-hastrans {
  animation-name: slideOutRight-hastrans;
}

@keyframes slideOutUp-hastrans {
  from {
    transform: translate3d(-50%, -50%, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-50%, -100%, 0);
  }
}

.slideOutUp-hastrans {
  animation-name: slideOutUp-hastrans;
}

/***************************这是原版本***************************/
@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */

.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble {
  from {
    transform: none;
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: none;
  }
}

.wobble {
  animation-name: wobble;
}

@keyframes jello {
  from, 11.1%, to {
    transform: none;
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  animation-name: jello;
  transform-origin: center;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  animation-name: bounceOut;
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.bounceOutDown {
  animation-name: bounceOutDown;
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOutRight {
  animation-name: bounceOutRight;
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.bounceOutUp {
  animation-name: bounceOutUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDownBig {
  animation-name: fadeInDownBig;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRightBig {
  animation-name: fadeInRightBig;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes fadeOutDownBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

@keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}

@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(.95, .95, .95);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.flipOutX {
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.flipOutY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}

@keyframes lightSpeedOut {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  animation-name: rotateIn;
}

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownRight {
  animation-name: rotateInDownRight;
}

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInUpRight {
  animation-name: rotateInUpRight;
}

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

.rotateOut {
  animation-name: rotateOut;
}

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}

.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
}

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutDownRight {
  animation-name: rotateOutDownRight;
}

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
}

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}

.rotateOutUpRight {
  animation-name: rotateOutUpRight;
}

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  animation-name: hinge;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.jackInTheBox {
  animation-name: jackInTheBox;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.rollIn {
  animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut {
  animation-name: rollOut;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInDown {
  animation-name: zoomInDown;
}

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInLeft {
  animation-name: zoomInLeft;
}

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInRight {
  animation-name: zoomInRight;
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInUp {
  animation-name: zoomInUp;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomOutDown {
  animation-name: zoomOutDown;
}

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

.zoomOutLeft {
  animation-name: zoomOutLeft;
}

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

.zoomOutRight {
  animation-name: zoomOutRight;
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomOutUp {
  animation-name: zoomOutUp;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  animation-name: slideOutDown;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}