@charset "utf-8";
/* CSS Document */
body, div, ol, dl, dt, dd, ul, li, table, tr, td, h1, h2, h3, h4, h5, h6, p, form, input, button, img, strong, em { padding:0px; margin:0px; border:0px; font-style:normal; box-sizing: border-box;}
li, dd, dt { list-style-type:none;}
ol, ul, dl { list-style:none;}
img { vertical-align:top;}
a{ color:#231f20; text-decoration:none; outline:0;}
::-webkit-input-placeholder { color:#ccc; }
[contenteditable = "true"], input, textarea {
    -webkit-user- select: auto!important;
    -khtml-user-select: auto!important;
    -moz-user-select: auto!important;
    -ms-user-select: auto!important;
    -o-user-select: auto!important;
    user-select: auto!important;
}
input:-moz-placeholder { color:#ccc; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0 none; margin:0; padding:0;}
input, select, option, button, textarea { font-size:100%; vertical-align:middle; outline:0 none; border-radius:0px; border:none;}
pre{ white-space: pre-wrap;  white-space: -moz-pre-wrap;  white-space: -pre-wrap;  white-space: -o-pre-wrap;  word-wrap: break-word;  margin: 0;}
/*清除浮动样式*/
.clear{ clear:both; height:0; width:100%;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{zoom: 1; clear:both;}
.left{ float:left;}
.right{ float:right;}
html,body{ height: 100%;}
body { box-sizing: border-box; color:#333;background:#fff; font-size: 24px; min-width: 320px; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); margin:0 auto;font-family:Verdana,Arial,Helvetica,sans-serif;}
button{ width: 100%; height:84px; display: inline-block; background: #dc5d55; font-size: 30px; color: #fff; border-radius: 42px;}
/***********************header*****************************/
header{ height: 76px; line-height: 76px; background: #dc5d55; color: #fff; padding:0 30px; position: fixed; top: 0; left: 0; width: 100%; box-sizing: border-box; z-index: 9999;}
header h1{ text-align: center; font-size: 36px;}
header em{ color:#fff; font-size: 30px; background: url("../images/return.png") no-repeat left 18px; display: block; text-indent:30px; position: absolute; left: 30px; top: 0; }
header em.return{ color: #333; background: url("../images/return1.png") no-repeat left 25px;}
.loginHeader{ background: #fff; color: #333;}

.headerRight{ position: absolute; right:0; top: 0;}
.headerRight li{ float: left; width: 86px; height: 86px; background-repeat:no-repeat; background-position: center center; position: relative;}
.headerRight li a{ display: block; width: 100%; height: 100%;}
.icoNews{ background-image: url("../images/ico-news.png");}
.oAfter:after{content: attr(data-new); position: absolute; min-width: 22px; height: 22px; background: #ff4f4f; border-radius: 50%; right: 12px; top: 12px; line-height: 22px; font-size: 20px; text-align: center; padding: 2px;}
.icoAdd{ background-image: url("../images/ico-add.png");}

.menu{ width: 300px; background: #fff; box-shadow: 1px 1px 8px #ccc; position: absolute; right:10px; top: 120px; border-radius: 10px; }
.menu:after{ width: 0; height: 0; content:""; position: absolute; border: 20px solid transparent; border-bottom:20px solid #fff; top: -39px; right:15px;}
.menu:before{ width: 0; height: 0; content:""; position: absolute; border: 20px solid transparent; border-bottom:20px solid #e5e5e5; top: -41px; right:15px;}
.menu li{ border-bottom: 1px solid #f5f5f5; color: #565656; font-size: 30px; padding-left:110px; background-repeat: no-repeat; background-position: 60px center;}
.icoRebate{ background-image: url("../images/ico-rebate.png");}
.icoResult{ background-image: url("../images/ico-result.png");}
.icoIntroduce{ background-image: url("../images/ico-introduce.png");}
.icoTrend{ background-image: url("../images/ico-trend.png");}
/***********************header end*****************************/

/**************************nav*****************************/
nav{ position: fixed; width: 100%; bottom: 0; left: 0; height: 98px; background: #fff; padding:10px 0; box-sizing: border-box; z-index: 999;}
nav li{ width: 25%; text-align: center; padding-top:50px; font-size: 21px; line-height:42px; color: #888888; background-repeat: no-repeat; background-position: top center; float: left; }
nav li.active{ color:#dc5d55;}
nav li:nth-child(1){ background-image: url("../images/navHome.png?v=1");}
nav li:nth-child(1).active{ background-image: url("../images/navHome1.png");}
nav li:nth-child(2){ background-image: url("../images/navWallet.png");}
nav li:nth-child(2).active{ background-image: url("../images/navWallet1.png?v=1");}
nav li:nth-child(4){ background-image: url("../images/navMy.png");}
nav li:nth-child(4).active{ background-image: url("../images/navMy1.png?v=1");}
/**************************nav*****************************/

/**************************section*****************************/
section{ padding: 75px 0 20px; box-sizing: border-box; height: 100%;}
/**************************section end*****************************/

/************************弹出层*****************************/
.popup,.popupAlert{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.4); z-index: 99999;}
.popupAlert .config{width: 557px; height: 350px; padding:50px 30px; position: absolute; margin: auto ; left:0; right:0; top:0; bottom:0; background: url("../images/popup-bg.png") no-repeat bottom left #fff; border-radius: 20px;}
.popupAlert .config p{ height: 136px; line-height: 68px; overflow: hidden;}
.config{ width: 557px; height: 512px; padding:100px 30px; position: absolute; margin: auto ; left:0; right:0; top:0; bottom:0; background: url("../images/popup-bg.png") no-repeat bottom left #fff; border-radius: 20px;}
.config p{ font-size: 38px; line-height: 76px; text-align: center;}
.cigBtn{ margin-top: 40px; text-align: center;}
.cigBtn button{ width:230px;margin-left: 20px;}
.cigBtn button:first-child{ margin-left: 0;}
.cancel{ background: #cdcdcd;}
.configClose{ width: 54px; height: 54px; background: url("../images/configClose.png") no-repeat; position: absolute; right: -20px; top:-20px; z-index: 2}

.onlineConfig{ height: 702px; padding-top:128px;}
.config h3{ height: 128px; background: #dc7973; line-height: 128px; position: absolute; left: 0; top: 0; width: 100%; z-index: 1; border-radius: 20px 20px 0 0; color: #fff; text-align: center; font-size: 30px;}
.configInput{padding:78px 30px 30px;}
.configInput input{ height:88px; width: 100%; border: 1px solid #dfdfdf; border-radius: 44px; padding:25px 30px; font-size: 30px;}
.configAcer{ color: #ff4f4f; font-size: 24px; float: right; padding-right:40px; background: url("../images/ico-acer.png") no-repeat right center; background-size: 30px;}
/************************弹出层 end*****************************/


/************************login  register*****************************/
.loginBanner{ width: 205px; height: 300px;  margin: 0 auto; padding:90px 0 0;}
.headPortrait{ width: 201px; height: 201px; background: #fff; border-radius: 50%; padding: 5px; overflow: hidden;}
.headPortrait img{ width: 100%;}

.loginWarp{ width: 570px; margin: 0 auto;}
.m-top60{ margin-top: 60px !important;}
.loginWarp li{  margin-bottom: 30px; position: relative;  }
.loginWarp li label input{ padding:23px 5px; width: 420px; float: left; height: 100%;}
.loginWarp li p{ line-height: 48px; color: #f06856;}
.loginWarp li button{ width: 100%; height:84px; display: block; background: #dc5d55; font-size: 30px; color: #fff; border-radius: 42px;}
.loginWarp li label{ width: 100%; box-sizing: border-box; display:block ; color: #bebebe; font-size: 30px; padding-left: 82px; background-repeat: no-repeat; background-position: 42px center;border: 2px solid #dfdfdf; height: 84px; border-radius: 42px; line-height: 84px;}
.user{ background-image: url("../images/ico-user.png");}
.pas{ background-image: url("../images/ico-pas.png");}

.see{ width: 84px; height: 84px; background: url("../images/ico-see1.png") no-repeat center center; display: block; position: absolute; right: 0; top: 0;}
.see1{background: url("../images/ico-see.png") no-repeat center center;}
.regWarp,.loginWarp li p{padding:0 30px; }
.regWarp a{ font-size: 30px; color: #bebebe;}
.regWarp a:last-child{ float: right;}

.otherwise{ margin-top: 78px; }
.otherwise h2{text-align: center; position: relative;}
.otherwise h2 span{ font-size: 26px; line-height: 52px; font-weight: normal; padding: 0 25px; background: #fff; display: inline-block; position: relative; z-index: 2;}
.otherwise h2:after{ width: 420px; height: 1px; content: ""; position: absolute; left: 50%; margin-left: -210px; top: 50%; background: #cbcbcb; z-index: 1;}
.otherwise li{ float: left; padding-top: 45px; width: 33.333%; text-align: center;}

.tourist{ background: #44c665 !important;}
/************************login end*****************************/

/************************开奖结果 kjjg.html*****************************/
.prize{margin-top:88px;}
.prize li{ border-bottom: 1px solid #dedede; padding: 10px 30px 0;}
.prizeNo{ overflow: hidden; line-height: 68px;}
.prizeNo h3{ font-size: 40px; color: #555; font-weight: normal; float: left;}
.prizeNo span{ color: #707070; float: right; font-size: 26px;}
.prizeResult{ overflow: hidden; padding: 30px 0;}
.prizeResult h4{ font-size: 38px; font-weight: normal; float: left; padding-top: 6px;}
.prizeResult em{ display: inline-block; width: 58px; height: 58px; border-radius: 50%; line-height: 58px; text-align: center; color: #fff;}
.prizeResult span{ float: right; font-size: 30px;}
.prizeResult span em{ margin-right: 10px; width: 70px; height: 70px;line-height:70px;}
.colorDan{ background: #5e97fe;}
.colorDa{ background-color: #ff4f4f;}
.colorH{ background-color: #f1c600;}
/************************开奖结果 kjjg.html end*****************************/

/************************天天返利 rebate.html*****************************/
.rebate{ padding: 10px 30px 0; }
.rebate h2{ color: #242424; font-size: 40px; font-weight: normal; line-height: 68px;}
.rebateTime{ color: #b3b2b2; font-size: 24px; line-height: 70px; border-bottom: 1px solid #f5f5f5; overflow: hidden;}
.rebate p{ line-height: 48px; color: #707070; padding-top: 20px;}
/************************天天返利 rebate.html end*****************************/


/************************消息 news.html*****************************/
.newsTitle{ position: absolute; width: 96%; background-color: #dc5d55;margin: 0 2%;}
.newsTitle li{ width: 50%; float: left; text-align: center; height: 60px; font-size: 26px; line-height: 60px; font-weight: bold; color: #fff; position: relative;}
.newsTitle li.active{}
.newsTitle li.active:after{width: 0; height: 0; content: ""; border: 20px solid transparent; border-bottom: 11px solid #fff; position: absolute; left: 50%; margin-left:-20px; bottom: -1px;}
.newsTitle + section{ padding-top: 158px;background: #f5f5f5;}

.newsContent{margin: 70px 2% 0px;background: #fff;height:57%;}
.newsContent .record_list{overflow-x:auto;height:100%;-webkit-overflow-scrolling: touch;}
.yidu{}
.newsContent li.yidu h3{color:#b3b2b2;}
.newsContent li.yidu:after{ background: #d4d4d4;}
.newsContent li{ line-height: 60px; border-bottom: 1px solid #f5f5f5; padding:0 20px 0 60px; position: relative; clear:both;}
.newsContent li span{ float: right; color: #b3b2b2; line-height: 60px; height: 60px;font-size: 22px;}
.newsContent li span em{ font-size: 35px;}
.newsContent li h3{ color:#242424; font-size: 22px; font-weight: normal; display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-indent: 20px;}
.newsContent li:before{ content: ""; width: 2px; height: 89px; background: #fbfbfb; position: absolute; left: 50px; top: 0;}
.newsContent li:after{ content: ""; width: 16px; height: 16px; border-radius: 50%; background: #f1e3b9; position: absolute; left: 42px; top: 50%; margin-top: -8px;}
.newsContent li i{ width: 7px; height: 7px; border-radius: 50%; background: #e93a3a; display: block; position: absolute;top: 25px; right:60px;}
/************************消息 news.html end*****************************/

/************************个人中心 my.html*****************************/
.my{ background: #f5f5f5; height: 100%; overflow: auto; padding-bottom: 98px;}
.my ul{ background: #fff; padding-left:30px; margin-bottom: 20px;}
.my li{min-height: 90px; line-height: 90px;border-bottom: 1px solid #dedede;padding-right:65px;background: url("../images/ico-arrow.png") no-repeat 95% center;}
.my li a{ display: block; width: 100%; min-height:90px;}
.my li.girl{ height: 150px; line-height: 110px; padding: 20px 65px 20px 0; position: relative;}
.my li.girl input{ height: 100%; position: absolute; right: 0; opacity: 0;top: 0; }
.my li:last-child{ border-bottom: 0;}
.my li label,.modify li label{ background-position: center left; background-repeat: no-repeat; padding-left: 50px; display:block; float: left; color: #242424; font-size: 27px;line-height: 90px;box-sizing: border-box;}
.icoGirl{background-image: url("../images/ico-girl.png") }
.icoNickname{background-image: url("../images/ico-nickname.png") }
.icoWallet{background-image: url("../images/ico-wallet.png") }
.icoAgent{background-image: url("../images/ico-agent.png") }
.icoShare{background-image: url("../images/ico-share.png") }
.icoRecord{background-image: url("../images/ico-record.png") }
.icoTeam{background-image: url("../images/ico-team.png") }
.icoSetUp{background-image: url("../images/ico-setUp.png") }
.icoBiaoqing{background: url("../images/img_wd_biaoqing.png");position: absolute;left: 25px;padding-left: 56px !important;}
/******个人中心 设置 setUp.html***********/
.icoModifyPas{background-image: url("../images/ico-modifyPas.png") }
.icoSignOut{background-image: url("../images/ico-signOut.png") }
.icoAboutUs{background-image: url("../images/about@2x.png")}
/******个人中心 设置 setUp.html end***********/
.my li i{ width: 110px; height: 110px; border-radius: 50%; float: right; overflow: hidden;}
.my li i img{ width: 100%;}
.my li span{ color: #9f9f9f; float: right; font-size: 28px;}
.my li span img{ margin-top: 10px;}

.aboutUs{ margin-top: 300px; width: 100%; text-align: center;}
.aboutUs p{ line-height: 80px; color:#999999;}
/************************个人中心 my.html end*****************************/

/************************个人中心-修改昵称 modifyNickname.html *****************************/
.modify{background: #f5f5f5;}
.modify ul{padding-left:30px; background: #fff;}
.modify li{ clear: both; zoom:1; overflow: hidden; border-bottom: 1px solid #dedede; padding:15px 0; position: relative;}
.modify li:last-child{ border-bottom: 0;}
.modify li label{/*写在my里面*/ line-height: 55px; width: 100%;}
.modify li input{float:right;margin-right:30px; width: 400px; height: 55px; border:2px solid #ccc; border-radius: 40px; padding:0 40px; /*position: absolute; top: 20px; right:30px;float: right;*/ }
.button{ margin: 100px 30px 0;}
.bgFF{ background: #fff;}
.bgFF li{ border-bottom: none;}

/************************个人中心-修改昵称 modifyNickname.html end*****************************/

/************************个人中心-代理制度 agencySystem.html *****************************/
.modify p{ font-size: 28px; line-height: 56px;}
/************************个人中心-代理制度 agencySystem.html end*****************************/

/************************个人中心-个人信息 personalInformation.html *****************************/
/******个人中心 修改头像 层***********/
.modifyAvatar{ width: 557px; height: 512px; position: absolute; margin: auto ; left:0; right:0; top:0; bottom:0; background: url("../images/popup-bg.png") no-repeat bottom left #fff; border-radius: 20px;}
.modifyAvatar h2{ height: 84px; text-align:center ; line-height: 84px; color: #0143b8; font-size: 30px; background: #b4cfff;border-radius: 20px 20px 0 0;}
.modifyAvatar ul{ padding: 55px 75px 0;}
.modifyAvatar li{ height: 88px; line-height: 88px; border-radius: 44px; background: #5e97fe; color: #fff; font-size: 30px; margin-bottom: 33px; text-align: center; position: relative;}
.modifyAvatar li input{ opacity: 0; height: 100%; position: absolute; right: 0; top: 0;}
.modifyAvatar li input{ opacity: 0; height: 100%; position: absolute; right: 0; top: 0;}
/******个人中心 性别 modifyGender.html***********/
.icoGender{background-image: url("../images/ico-gender.png") }
.icoMale{background-image: url("../images/ico-male.png") }
.icoFemale{background-image: url("../images/ico-female.png") }
.gender li{ padding: 0;}
.gender li label{ width: 100%; box-sizing: border-box; position: relative; line-height: 90px;}
.gender li label:before{ width: 30px; height: 30px; content: ""; border-radius: 50%; background: #fff; border: 1px solid #ededed; position: absolute; right:30px; top:50%; margin-top: -15px;}
.gender li label:after{ width: 16px; height: 16px; content: ""; border-radius: 50%; background: #ededed; position: absolute; right:38px; top:50%; margin-top: -7px;}
.modify li input[type="radio"]{ width: auto; height: auto; display: none;}
.modify li input[type="radio"]:checked + label:after{background: #dc5d55;}
/******个人中心 中文名 modifyChineseName.html***********/
.icoChineseName{background-image: url("../images/ico-chineseName.png") }
/******个人中心 出生日期 modifyBirth.html***********/
.icoBirth{background-image: url("../images/ico-birth.png") }
/******个人中心 微信 modifyWeixin.html***********/
.icoWeixin{background-image: url("../images/ico-weixin.png") }
/******个人中心 修改邮箱 modifyEmail.html***********/
.icoEmail{background-image: url("../images/ico-email.png") }
/******个人中心 修改手机 modifyPhone.html***********/
.icoPhone{background-image: url("../images/ico-phone.png") }
/************************钱包-提示信息 *****************************/
.warmth-tips p{ font-size:24px; color:666; padding:0 30px; line-height:40px;}
.warmth-tips{margin-top: 30px;}
.Attached{border-radius: 40px; padding: 0 60px; height: 80px; color: #f00;width: 230px; text-align: center;display: inline-block; margin-left:20px; border: 2px solid #ccc;}
/************************个人中心-个人信息 personalInformation.html end*****************************/
.cancelX{ background: #dddddd; color:#000000;}
/************************团队管理  teamManage.html *****************************/
.teamWarp{ background: #f5f5f5; height: 100%;}
.icoVipManage{background-image: url("../images/ico-vipManage.png") }
.icoTeamManage{background-image: url("../images/ico-teamManage.png") }
.icoStatistics{background-image: url("../images/ico-statistics.png") }
.icoOpen{background-image: url("../images/ico-open.png") }

/************************团队管理-会员报表 vipReport.html *****************************/
.teamSearchW{ height: 88px; background: #dc5d55; /*border-top: 1px solid #8eb5fe;*/ padding: 15px;position: fixed; }
.teamSearch{ width: 100%;overflow: hidden; background: #fff; height: 56px; line-height: 56px; font-size: 26px; padding-right: 56px; border-radius: 10px; /*clear: both;*/ padding-left:15px; position: relative;}
.teamSearch select{ width: 100%; position: absolute;
    left:0; top: 0; z-index: 1; height: 100%; opacity: 0;}
.teamSearch input[type="date"],.teamSearch select{ position: absolute; top: 0; left: 0; opacity: 0; z-index: 1;}
.teamSearch input{ width: 100%; height: 100%; font-size: 30px; }
.teamSearch em{ width: 56px; height: 56px; display: inline-block; position: absolute; right: 0; top: 0;}
.teamSearch em:after{ width: 0;height: 0; content: ""; border: 15px solid transparent; border-top:15px solid #bfbfbf; position: absolute; left:50%; margin-left: -15px; top: 50%; margin-top:-6px;}
.teamSearchCeng{ height: 270px; background: #fff; border-bottom: 1px solid #dedede; position: absolute; left: 0; width: 100%; top: 89px; padding: 30px;}
.teamSearchCondition{ clear: both; position: relative; margin-bottom: 50px;}
.teamSearchCondition:before{ width: 100%; height: 2px; content: ""; position: absolute; left: 0; top:50%; margin-top: -1px; background: #dedede; z-index: 1;}
.teamSearchCondition div{ width: 45%; float: left; color: #242424; font-size: 30px; background: #fff; position: relative; z-index: 2; padding-right: 20px;}
.teamSearchCondition div:nth-child(2){ float: right; padding-left:20px; padding-right:0;}
.teamSearchCondition div span{ float: left; width:65px; line-height: 54px;}
.teamSearchCondition div label{ float: left; width: calc(100% - 65px); box-sizing: border-box; position: relative;}
.teamSearchCondition div input{ width: 100%; border: 1px solid #dddddd; height: 50px; line-height: 50px; padding: 10px; }
.teamSearchButton {padding-left:40%;}
.teamSearchButton button{ float: left; width:calc(50% - 15px);}
.teamSearchButton button:last-child{ float: right;}
.vipReport{}
.vipReport li{ background: #fff; padding:30px; clear: both; margin-bottom: 20px;}
.vipReport li div{clear: both; overflow: hidden;}
.vipReport li div label{ width: 50%; display: block; float: left; font-size: 30px; color: #555555; line-height: 60px; padding-left:50px; box-sizing: border-box;}
.icoGirl2{ background: url("../images/ico-girl2.png") no-repeat left;}
.icoMoney{ background: url("../images/ico-money.png") no-repeat left;}
.icoBetting{ background: url("../images/ico-betting.png") no-repeat left;}
.vipReport li div span{ font-size: 24px; color: #adadad; line-height: 60px;}
/************************团队管理-团队报表 teamReport.html *****************************/
.teamSearchW2 .teamSearch{ width:calc(50% - 12px) ; float: left; clear: none;}
.teamSearchW2 .teamSearch:nth-child(2){ float: right;}
.icoState{background: url("../images/ico-state.png") no-repeat left }
.icoProfit{background: url("../images/ico-profit.png") no-repeat left }
.teamSearchCeng h4{ font-size: 32px; line-height: 64px; font-weight: normal;}
.teamSearchTime{ padding-top: 10px;}
.teamSearchTime .teamSearchCondition{ margin-bottom: 30px; margin-right: 60px; position: relative;}
.teamSearchCondition em{  width: 40px; height: 40px; background: url("../images/close2.png") no-repeat; background-size: 100%; display: block; position: absolute; right:-60px; top: 5px;}
.teamSearchCondition div label input[type=date]{ position: absolute; left:0; top:0; /*opacity: 0;*/ }
.teamReport{}
.teamReport li{background: url("../images/ico-arrow.png") no-repeat 98% center #fff;}
.typeSearch{ width: 369px; position: absolute; background: #fff; right:0; top:95px; box-shadow:1px 1px 10px 2px #CECECE;}
.typeSearch:after{ width: 0; height: 0; content: ""; border: 20px solid transparent; border-bottom: 20px solid #fff;
    position: absolute; top:-40px; left: 50%; margin-left: -30px;}
.typeSearch li{ line-height: 100px; text-align: center; font-size: 30px; border-bottom: 1px solid #dedede;}
.typeSearch li em{ display: inline-block; margin-right: 20px;}
.typeSearch li em img{ display: inline-block; vertical-align: middle}
.typeSearch li:last-child{ border-bottom: 0;}
/************************团队管理-会员报表 vipReport.html *****************************/
/************************团队管理-团队报表 teamReportDetails.html *****************************/
/************************团队管理-自身统计 statisticsDetails.html *****************************/
/************************团队管理-下线开户 open.html *****************************/
.modify .see{ right:30px; top: 20px;}
.icoGirl3{background-image: url("../images/ico-girl3.png") }
.icoPas2{background-image: url("../images/ico-pas2.png") }
.openComplete{ text-align: center; padding:100px 0 0; font-size: 40px; font-weight: bold; line-height: 80px;}

/************************团队管理-详情 details.html *****************************/
.details{margin: 50px; background: #fcfcfc; border-radius: 10px; padding:40px; min-height: 300px; text-align: center; border:1px solid #a1a1a1;}
.details p{ font-size: 34px; color: #242424; line-height: 60px; margin-bottom: 20px; text-align: left;}

/************************客服 customService/index.html *****************************/
.customService{ padding:30px 30px 200px; height: 100%; overflow: auto; position: relative; overflow-y: auto; }
.customService li{ padding-bottom: 20px; overflow: hidden;}
.customService li .girl{width: 134px; text-align: center; }
.customService li h3{ width: 100%; padding-left: 20px;    text-align: center;  line-height: 50px;   font-size: 30px;   font-weight: normal;}
.customService li h3.left{text-align: left; }
.customService li h3.right{text-align: right; }
.customService li .girl img{width: 100px; height: 100px; border-radius: 50%;}
.customContent{ background: #f9f9f9; padding:17px; border-radius: 10px; border: 1px solid #f5f5f5; min-width: 100px; max-width: 500px; min-height: 74px; line-height: 40px; margin-top: 10px; position: relative; font-size: 30px;}
.customContent.left{ margin-left: 30px;}
.customContent.right{ margin-right: 30px;}
.customContent:before{ width: 0; height: 0; content: ""; position: absolute; border: 10px solid transparent; border-right: 10px solid #f9f9f9; top: 20px;}
.customContent:after{ width: 0; height: 0; content: ""; position: absolute; border: 10px solid transparent; border-right: 10px solid #f5f5f5; top: 19px;}
.right.customContent:before{ right: -19px;transform:rotate(180deg);}
.right.customContent:after{ right: -20px;transform:rotate(180deg);}
.left.customContent:before{ left: -19px;}
.left.customContent:after{ left: -20px;}

.customNews{ min-height: 100px; width: 100%; background: #f7f6f8; padding:15px 12px; position: fixed; left: 0; bottom:98px; z-index: 98;}
.customNews .textArea{ width: calc(100% - 150px); min-height: 70px; max-height: 210px; overflow: hidden; overflow-y: auto; border: 1px solid #cfcfcf; float: left; border-radius: 4px; line-height: 70px; font-size: 30px; padding:0 10px; }
.customNews button{ width: 131px; height: 72px; border-radius: 4px;float: right;}
.customNews .textArea div p{ text-align: left; position: relative;}
.customNews .textArea div  p em { display: inline-block; height: 70px; width: 40px;background: url("../images/close1.png") no-repeat center;text-align: center; line-height: 1.5rem; position: absolute;
    right: .2rem;  top: 0;}
/************************客服 customService/index.html  end*****************************/
/************************钱包 wallet/index.html *****************************/
.walletWarp{ height: 100%; overflow: auto; padding-bottom: 98px;}
.wallet{ height: 340px; background: #dc5d55; padding: 30px 55px 0;}
.wallet p { color: #e3edff; font-size: 30px;}
.icoRefresh{background-image: url("../images/ico-refresh.png") }
.wallet{ height: 340px; background: #dc5d55; padding-top: 30px;}
.wallet ul{overflow: hidden;}
.wallet li{ width: 33.333%; text-align: center; font-size: 36px; color: #fff; float: left; background-repeat: no-repeat; background-position: top center; padding-top:88px; line-height: 80px;}
.wallet1{padding: 60px 30px 30px;}
.wallet1 .wallet1Tel{ margin:0 180px 0; padding-bottom: 30px; text-align: center; border-bottom: 1px solid #e4e4e4;}
.wallet1 .wallet1Tel p{ font-size: 32px; line-height: 64px; color: #121212;}
.wallet1Tel1{ border-bottom: 1px solid #e4e4e4;padding: 30px 150px;}
.wallet1Tel1 p{ font-size: 28px; line-height: 56px; }


.icoRecharge{ background-image: url("../images/ico-recharge.png"); background-position: center 20px !important;}
.icoBalance{ background-image: url("../images/ico-balance.png"); font-size: 48px!important;}
.icoWithdrawals{ background-image: url("../images/ico-withdrawals.png");}

.walletAcer{ width: 100%;  font-size: 62px; color: #fff; font-weight: bold; padding:20px;}
.icoAcer{ background: url("../images/ico-acer.png") no-repeat right 25px; padding-right: 85px; font-size: 70px; font-family: Arial;}

.walletUl li label{ padding-left: 70px;}
.icoCz1{background-image: url("../images/ico-cz1.png") }
.icoCz2{background-image: url("../images/ico-cz2.png") }
.icoCz3{background-image: url("../images/ico-cz3.png") }
.icoCz4{background-image: url("../images/ico-cz4.png") }
.icoCz5{background-image: url("../images/ico-cz5.png") }

.yuE{ text-align: center; line-height: 60px; color: #666666; font-size: 24px; font-weight: normal; padding: 30px 20px 0;}
.yuE em{ font-size: 27px;  color: #dc5d55;}

.walletContent{}
.walletContent li{ float: left; font-size: 30px; color: #929292; width: 33.333%; text-align: center; padding-top:30px;}
.walletContent li i{ width: 100%;  height: 110px; display: inline-block; background-repeat: no-repeat; background-position: center center;}
.icoBankCard{ background-image: url("../images/ico-bankCard.png")}
.icoTransaction{ background-image: url("../images/ico-transaction.png")}
.icoSecurity{ background-image: url("../images/ico-security.png")}
/************************充值 wallet/recharge.html end*****************************/
.wallet div.icoBalance{ background-repeat: no-repeat; background-position:top center;  text-align: center; color: #fff; font-size: 44px;padding-top:88px; line-height: 80px;}
.rechargeContent button{ margin-bottom: 50px;}
/************************线下充值 wallet/lineRecharge.html *****************************/
.bgCol{ background: #dc5d55}
#rechargeEx{ color: #dc5d55!important;    border-bottom: 1px solid #dc5d55 !important;}
.inputW{width: 65%;height: 60px;border: 2px solid #f5f5f5; float: right; border-radius: 40px; padding: 0 40px;  position: absolute;top: 20px;  right: 30px;}
.inputW:after{ width: 0; height: 0; content: ""; position: absolute; border: 10px solid transparent; border-top: 10px solid #bfbfbf; top: 50%; right:30px; margin-top: -5px;}
.modify select{ width: 410px;height: 60px; position: absolute;top: 20px;  right: 30px; opacity: 0; z-index: 2;}
.remarks{width: 410px; float: right; line-height: 34px !important; }
.red{ color: #ff4f4f;}
.icoPaymentMethod{ background-image: url("../images/ico-paymentMethod.png")}
.icoCode{ background-image: url("../images/ico-code.png")}
.icoCopy{ background: url("../images/ico-copy.png") no-repeat center center; width: 80px; height: 80px; display: inline-block; float: right; margin-right: 50px;}
.icoCopy1{background: url("../images/ico-copy1.png") no-repeat center 5px; width: 80px; height: 80px; display: inline-block; float:left; }
/************************线上充值 wallet/onLineRecharge.html *****************************/
.onLineGirl4{ width: 100%; font-size: 30px; color: #fff; text-align: center; line-height: 60px; position: relative;}
.icoGirl4{ background:url("../images/ico-girl4.png") no-repeat left center; padding-left:40px;}
.onLineGirl{ text-align: center;}
.onLineGirl i{ width: 234px; height: 234px; border-radius: 50%; background: #fff; padding:2px; overflow: hidden; display: inline-block;}
.onLineGirl i img{ width: 100%;}
.icoBank{ background-image: url("../images/ico-bank.png");}
.onLinePad{ padding-top: 80px;}
.online{ width: 156px; height: 156px; border: 1px solid #bfbfbf; display: inline-block; margin-right: 70px; }
.online i{  width: 100%; height: 107px; display: block; }
.online:first-child i{ background: url("../images/weixin.png") no-repeat center;}
.online:last-child i{ background: url("../images/zhifubao.png") no-repeat center;}
.online p{font-size: 21px; height: 48px; line-height: 48px; text-align:center; background: #f5f5f5; }
.line-recharge p {text-align: left}
/************************线下充值成功 wallet/success.html *****************************/
.m-btm40 button{ margin-bottom: 40px;}
.information{ min-height: 145px; border-top:1px solid #dcdcdc; margin: 70px 0px 0; font-size: 30px; padding:20px 50px;background: #fcfcfc;}
.information label{ width: 50%; display: block; float: left; line-height: 60px;}
.information label:nth-child(even){ text-align: right;}
.successPrompt{ padding: 50px 30px; line-height: 40px; color: #707070; text-align: center;}

.logoTitle{ text-align: center; height: 170px; line-height: 170px; color: #fff; font-weight: bold;}
.logoTitle img{ margin-right: 20px; max-height: 170px;}
/************************钱包 wallet/index.html end*****************************/

/***********************支付安全 wallet/paymentSecurity.html**********************************/
.icoNavArt2{ background-image: url("../images/navArt2.png");}

/***********************首次设置资金密码 wallet/firstSetPas.html**********************************/
.firstSetPas{ padding: 50px;}
.firstSetPas dl{ margin-bottom: 80px;}
.firstSetPas dt{ text-align: center; font-size: 30px; line-height: 60px;}
.firstSetPas dt em{ width: 35px; height: 35px; display: inline-block; background-repeat: no-repeat; background-position: center left;}
.firstSetPas dd{ margin-top: 30px;}
.pasFrame{ text-align: center; position: relative;}
.pasFrame input{ height: 83px; width: calc(83px * 6); position: absolute; top: 1px;background: transparent;border: 0;  z-index: 3; font-size: 1px;opacity:0}
.dang{height: 83px; width: calc(83px * 2); position: absolute; top: 1px;  background: #fff; left:-117px; z-index: 4; }
.pasFrame ul{  overflow: hidden; display: inline-block;}
.pasFrame li{ width: 83px; height: 83px; border: 1px solid #e4e4e4; float: left; font-size: 40px; text-align: center; line-height: 88px; position: relative }
.guangbiao{ }
.guangbiao:after{ width: 1px; height: 50px; content: ""; background: #000; position: absolute; left: 10px; top: 19px; animation: myfirst 1s infinite linear ;}
.guangbiao1:after{ width: 1px; height: 50px; content: ""; background: #000; position: absolute; right: 10px; top: 19px; animation: myfirst 1s infinite linear ;}
@keyframes myfirst{
    to{ opacity: 0;}
}
/***********************首次设置资金密码 wallet/bettingRecord.html**********************************/

.bettingRecordSearch{ padding: 30px; background: #f9f9f8;}
.bettingRecordSearch .teamSearchCondition div{ background:#f9f9f8; }
.BRSearchCondition{}
.BRSearchCondition div{ width: 50%; float: left; font-size: 30px; color: #242424;}
.BRSearchCondition div span{ float: left; line-height: 80px;}
.BRSearchCondition div label{ height: 78px; border: 1px solid #dddddd; display: inline-block; position: relative; width: calc(100% - 160px); float: left; line-height: 80px; box-sizing: border-box; }
.BRSearchCondition div label em.inputW{ width:100%; display: block; position: relative; left: 0; top: 0; padding:0 10px; background: #fff; border-radius: 0; height: 76px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.BRSearchCondition div label em.inputW:after{ right: 10px;}
.BRSearchCondition div label select{ height: 78px; opacity: 0; width: 100%; position: absolute; left: 0; top: 0;}

.bettingRecordList{ }
.bettingRecordList li{ padding: 30px; border-bottom: 1px solid #dedede; overflow: hidden;}
.bettingRecordList li > div:last-child{ float: right;}
.bettingRecordList li > div:first-child{ float: left;}
.bettingRecordList li > div >div{}
.bettingRecordList li > div >div label{ color: #242424; font-size: 35px;}
.bettingRecordList li > div >div em{ color: #555; font-size: 24px;}
.bettingRecordList li > div >div b{ font-size: 28px; color: #555; font-weight: normal;}
.bettingRecordList li > div >div span{ font-size: 28px; color: #ff4f4f;}
.bettingRecordList li > div > p{ color: #707070; font-size: 20px;}

.bettingRecordList li.title{}
.bettingRecordList li.title div{ float: left; width: 33.33333333%; text-align: center; }
.bettingRecordList li.title div em{  font-size: 32px;}
.bettingRecordList li.title div p{  font-size: 28px;}

.colorFfc{ color: #ffc100 !important;}
.color24{ color: #242424 !important;}

.withdrawals{}
.withdrawals dl{}
.withdrawals dt{ height: 90px; line-height: 90px; padding:0 30px; background-color: #f0f0f0; font-size: 34px; font-weight: bold;}
.withdrawals dt i{ width: 50px; height: 90px; background-repeat: no-repeat; background-position: left center; display: inline-block; float: left;}
.withdrawals dt em{ float: right; color: #009619; font-size: 28px;}
.icoDrawing{ background-image: url("../images/ico-drawing.png");}
.icoSpeed{ background-image: url("../images/ico-speed.png");}
.withdrawals dd{ padding: 30px;}
.withdrawals dd p{ line-height: 56px;font-size: 30px; color: #242424;}
.withdrawals dd label{ margin: 45px 110px; height: 65px; line-height: 65px; color: #ff4f4f; border: 2px solid #f5f5f5; border-radius: 32px; text-align: center; display: block;}
.withdrawals dd ul li{ float: left; width: 33.333%; text-align: center; position: relative}
.withdrawals dd ul li i{ width: 68px; height: 68px; display: inline-block; background-position: center; background-repeat: no-repeat; margin-bottom: 30px;}
.withdrawals dd ul li:after{ content: ""; width:50%; height: 5px; background: #dbdbdb; position: absolute; top: 30px; left: 170px }
.withdrawals dd ul li:last-child:after{width:0;}
.icoApply{ background-image: url("../images/ico-apply.png");}
.icoComplete1{ background-image: url("../images/ico-complete1.png");}
.icoHandle{ background-image: url("../images/ico-handle.png");}
.withdrawals dd ul li p{ color: #797979; line-height: 38px;}
.withdrawals dd ul li p:nth-child(2){ font-size: 30px;}
.withdrawals dd ul li p:nth-child(3){ font-size: 24px;}

.withdrawalsWarp{ margin-top: 100px;}
.withdrawalsWarp h4{ font-size: 34px; color: #242424; text-align: center; margin-bottom: 50px;}
.withdrawalsPas{padding: 0 70px; overflow: hidden;}
.withdrawalsPas input{height: 88px;width: calc(88px * 6);position: absolute;width: 680px;z-index: 1;opacity: 0;} /*新增*/
.withdrawalsPas ul {padding: 0}
.withdrawalsPas li{ width: 80px; height: 80px; background: #f5f5f5; border-radius: 8px; float: left; text-align: center; line-height: 80px; margin-right: 24px; padding: 0; clear:none; }
.withdrawalsPas li:last-child{ margin-right: 0;}

.binding{ padding-top:160px; text-align: center; font-size: 38px; color: #242424; line-height: 68px;}
.binding i{ width: 41px; height: 41px; display: inline-block; margin-right: 20px; background-position: center; background-repeat: no-repeat;}
.icoAdd1{ background-image: url("../images/ico-add1.png");}

.bankCard2{margin-top: 30px;}
.bankCard2 dl dt{ height: 90px; background: #e8e7e7; line-height: 90px; font-size: 34px; padding: 0 30px;position: relative;}
.bankCard2 dl dt i{ width: 41px; height: 90px; display: inline-block; margin-right: 20px; background-position: center; background-repeat: no-repeat;
    float: left;}
.bankCard2 ul{ padding-top: 0;}
.bankCard2 ul li label{padding-left: 0;}
.icoChika{ background-image: url("../images/ico-chika.png");}
.bankCard2 dl dd h3{ font-size: 30px; font-weight: inherit; text-indent: 40px;}

.provinceCity{ min-width: 240px; max-width: 300px; position: relative; display: inline-block; height: 80px; margin-left:20px;}
.provinceCity .inputW{ width: auto; min-width: 240px; max-width: 300px;}
.provinceCity select{ width: 200px;}

.BanText{ height: 90px; padding:17px 0; text-align: center; color: #b1b0b0; border-top: 1px solid #f7f7f7;  }
.fuxuankuan{ font-size: 26px; color: #727272; padding:17px 20px;}

.icoBank1{ background-image: url("../images/ico-bank1.png");}
.icoPhone1{ background-image: url("../images/ico-phone1.png");}


.bankCard6{ padding:0  50px 100px; font-size: 30px; color: #242424; border-bottom: 1px solid #f7f7f7; overflow: hidden;}
.bankCard6 i{width: 41px; height: 41px; display: inline-block; margin-right: 20px; background-position: center; background-repeat: no-repeat;
    float: left;}
.icoXiugai{  background-image: url("../images/ico-xiugai.png");}


/************************首页********************/
.indexWarp{ padding-bottom: 98px; height: 100%; overflow: auto;}
.horn{ padding-left: 75px; background: url("../images/ico-horn.png") no-repeat 20px center #fff; height: 57px; line-height: 57px; white-space: nowrap; width: 100%; overflow: hidden;}
.indexContent{ background: url("../images/indexBg.png") no-repeat; margin-top: 15px; padding-top: 24px;}
.indexTab{ padding: 0 82px; overflow: hidden;}
.indexTab li{ float: left; width: 284px; height: 77px; line-height: 77px; text-align: center; margin-right: 15px; background: url("../images/button.png") no-repeat; font-size: 34px; color: #fff;}
.indexTab li:last-child{ margin-right: 0;}
.indexTab li.active{ background: url("../images/button1.png") no-repeat; color: #222;}
.tabContent{ padding: 0 20px; height: 696px;}
.tabC{ background: #eff0eb; padding: 17px 0 0 17px; border-radius: 18px; overflow: hidden;}
.tabC li{ float: left; position: relative; overflow: hidden; margin-right: 17px; margin-bottom: 17px; height: 294px;}
.tabC li img{width: 329px; height: 100%}
.tabC li p{ position: absolute; width: 100%; height: 60px; line-height: 60px; z-index: 3; bottom: 0; left:0; font-size: 28px; color: #fff; background: url("../images/ico-user1.png") no-repeat 25px center rgba(0,0,0,0.3); padding-left:60px;}

.banner,.flicker-example{ height: 371px; overflow: hidden; position: relative;}
.banner ul{ position: absolute; top: 0; left: 0;}
.banner li{ float: left;}
.banner .arrow{ position: absolute; left: 0; right: 0; bottom: 0; text-align: center;}
.banner .arrow em{ width: 14px;height: 14px; border-radius: 50%; background: #ccc; display: inline-block; margin-right: 10px;}
.banner .arrow em.active{ background: #5e97fe;}


.focus span {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background: #666;
    font-size: 0;
}
.focus span.current{ background: #fff;}

.xinxi{ height: 155px; background: #f0f0f0; overflow: hidden;}
.xinxi dd{ float: left;  padding:30px;}
.xinxi dd p{ font-size: 24px; color: #929292; line-height: 48px; padding-left:50px; background-position: left center; background-repeat: no-repeat;}
.xinxi dd p label{ font-size: 34px; color: #ffc100; padding-right:55px; background: url("../images/ico-acer.png") no-repeat right center;}
.xinxi dd p span{ font-size: 34px; color: #48b63a;}
.icoUsername{ background-image: url("../images/ico-username.png");}
.xinxi dt{ float: right; padding:0 75px;}
.xinxi dt p{ font-size: 36px; color: #666666;}
.xinxi dt p b{ color: #ff827d; font-size: 70px; font-weight: normal;}
.xinxi dt p em{ font-size: 34px;}

.fj{ padding:25px 30px 0; overflow: hidden;}
.fj h2{ font-size: 34px; color: #444546;background-position: left center; background-repeat: no-repeat; padding-left: 50px; margin-bottom: 20px;}
.ico_PCEGG{ background-image: url("../images/ico-wjx.png");}
.ico_JND28{ background-image: url("../images/ico-fy.png");}
.fj li{ padding-top:120px; float:left; width: 25%;background-position: top center; background-repeat: no-repeat;}
.fj li p{ height:34px; margin:10px; font-size: 18px; line-height:24px; padding:5px 10px;}
.fj li p:nth-child(2){ background-color:#e5e5e5; border-radius: 4px; }
.fj li p i{ height: 24px; width: 30px; display: block; float: left; margin-right: 10px;background-position: left center; background-repeat: no-repeat; background-size:auto 100%; padding-left:0;}
.fj li p:nth-child(1){padding:5px 7px;}
.xinyu28 li:nth-child(1){ background-image: url("../images/fj1.png")}
.xinyu28 li:nth-child(2){ background-image: url("../images/fj2.png")}
.xinyu28 li:nth-child(3){ background-image: url("../images/fj3.png")}
.xinyu28 li:nth-child(4){ background-image: url("../images/fj4.png")}

.jianada28 li:nth-child(1){ background-image: url("../images/fj5.png")}
.jianada28 li:nth-child(2){ background-image: url("../images/fj6.png")}
.jianada28 li:nth-child(3){ background-image: url("../images/fj7.png")}
.jianada28 li:nth-child(4){ background-image: url("../images/fj8.png")}


.kjzs{ background: #fff; width: 100%; border: 0; margin: 0;padding-top:88px;}
.kjzs tr{ text-align: center;}
.kjzs th{height: 95px; border: 1px solid #fafafa; background: #fafafa;}
.kjzs td{ height: 90px; vertical-align: middle;}
.kjzs td label{ width: 50px; height: 50px; border: 2px solid #ffd410; color: #242424; display: inline-block; line-height: 50px; border-radius: 50%; background-color: #ffba00;}
.kjzs td em{ width: 50px; height: 50px; display: inline-block; line-height: 50px; border-radius: 50%; color: #fff;}
.bgLan{ background: #175aae;}

/****************************房间**********************************/
.roomHead{ background: #f0f0f0; height: 230px; position: fixed; top: 86px; left: 0; z-index: 3; width: 100%;}
.roomHead1{overflow: hidden; border-bottom: 1px solid #cfcfcf;}
.roomHead1 li{ width: 50%; text-align: center; float: left; height: 135px;padding:20px;}
.roomHead1 li:first-child{border-right: 1px solid #cfcfcf;}
.roomHead1 li p:nth-child(1){ font-size: 30px; color: #242424; line-height: 45px; }
.roomHead1 li p:nth-child(2){ font-size: 36px; color: #ff4f4f;}
.roomHead1 li p span{ padding-left:40px; background-position: left center; background-repeat: no-repeat; background-size: 30px 30px;}
.roomHead2{ height: 95px;  font-size: 28px; color: #242424; padding:30px; text-align: center; position: relative;}
.roomHead2 em{width:40px; height: 20px; display: inline-block; position: absolute; top: 50%; margin-top: -10px;}
.roomHead2 em:after,.betTixing:after{border: 20px solid transparent; border-top: 20px solid #bfbfbf; width: 0; height: 0; content: ""; position: absolute; left: 0;}
.betTixing:after{ border-top: 20px solid #fff; right: 50px; left: auto; top:50%;margin-top: -10px; }
.topAes:after{transform: rotate(180deg); margin-top: -30px;}
.roomHead1 .icoAcer{font-size: 36px; color: #ff4f4f; padding-right: 0px;}
.icoTime{ background-image: url("../images/ico-time.png")}
.roomNews{ bottom:0;}
.roomNews em{width: 131px;height:72px;border-radius: 4px; float: left; text-align: center; line-height: 72px; display: block;font-size: 30px; color: #fff; margin-right: 19px;}
.customNews.roomNews .textArea{ width: calc(100% - 300px)}


.room{ overflow: auto; position: fixed; top: 316px; bottom:100px; left: 0; right: 0; padding:30px; z-index: 1;}

.roomGroup{ line-height: 44px; background: #f9f9f9; font-size: 24px; color: #242424; padding:20px; text-align: center; border-radius: 8px; margin-bottom: 20px;}

.userBetting{ margin-bottom: 90px; overflow: hidden;}
.userBetting dt,.userBetting li:first-child{ width: 134px;   float: left; overflow: hidden; }
.userBetting dt img,.userBetting li:first-child img{width: 100px; height: 100px;border-radius: 50%;}
.userBetting dd{ width: 480px; min-height: 100px; padding-bottom:45px; background: #dedede; float: left; margin-left: 30px; border-radius: 15px; overflow: hidden; text-align: center; padding-top:15px; line-height: 45px; position: relative;}
.userBetting dd p{ font-size: 28px; color: #242424;border-top: 1px solid #afafaf;} /**/
.userBetting dd p:first-child{border-top: 0; }
.userBetting dd label{ padding-left: 30px;}

.userBetting dd p em{color: #ff4f4f; }
.userBetting dd p u{background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px 30px;padding-right: 0px; font-size:28px; width: 30px; height: 30px; display: inline-block;}
/*.userBetting dd p:nth-child(2){ font-size: 24px; color: #ff4f4f;}*/
.userBetting dd div{ background: #afafaf; color: #fff; line-height: 40px; position: absolute; left: 0; bottom:0; width: 100%; padding: 0 20px;}
.userBetting dl.right dt{float: right;}
.userBetting dl.right dd{ margin-left: 0; margin-right: 30px;}

.userBetting i{ width: 100%; height: 100%; display: none;background: url("../images/close.png") no-repeat center rgba(0,0,0,0.7); position: absolute; left: 0; top:0;}

.userBetting h3{    text-align: center;   line-height: 50px;    font-size: 30px;    font-weight: normal;}
.userBetting ul{}
.userBetting ul.left li:first-child{ float: left;}
.userBetting ul.left li:last-child{ margin-left: 30px;text-align: left;}
.userBetting ul.right li:first-child{float: right;}
.userBetting ul.right li:last-child{ margin-right: 30px; text-align: right;}
.userBetting li:last-child{float: left; min-width: 100px;min-height: 70px; padding: 15px; line-height: 50px; font-size: 30px; color: #707070; border-radius: 8px; background: #f9f9f9;  margin-top: 30px;
    border: 1px solid #ebebeb; position: relative; max-width: 500px;}
.userBetting li:last-child:after{ position: absolute; width: 0; height: 0; content: ""; border: 10px solid transparent;   top:50%; margin-top: -10px;}
.userBetting li:last-child:before{ position: absolute; width: 0; height: 0; content: ""; border: 10px solid transparent; top:50%; margin-top: -10px;}
.userBetting ul.right li:last-child:after{right: -20px;border-left: 10px solid #f9f9f9;}
.userBetting ul.right li:last-child:before{right: -21px; border-left: 10px solid #ebebeb;}
.userBetting ul.left li:last-child:after{left: -20px;border-right: 10px solid #f9f9f9;}
.userBetting ul.left li:last-child:before{left: -21px; border-right: 10px solid #ebebeb;}

.customer{ width: 76px; height: 76px; border-radius: 50%; border: 2px solid #4a8afe; background: url("../images/kefu@2x.png") no-repeat center #fff; position: absolute; top:400px ; left:30px ; z-index: 999;}

/*开奖结果*/
.lottery{ background: #fff; position: absolute; left: 0; top: 313px; right: 0; z-index: 3;}
.lottery dl{overflow: hidden;}
.lottery dt{ font-size: 30px; color: #242424; line-height: 76px;}
.lottery li{ width: 35%; float: left; text-align: center;}
.lottery li:first-child{ width: 20%;}
.lottery li:last-child{ width: 45%;}
.lottery dd{ color: #b3b2b2; font-size: 26px; line-height: 52px; }
.lotteryBut{ width: 386px; margin: 20px auto;}
.lotteryBut button{ height: 65px;}

/*投注键盘*/
.bettingKey{ position: fixed; bottom: 0;  left:0; width: 100%; z-index: 4; background: #fff; padding-top:30px; overflow: hidden; display: none}
.bettingKey >ul{ width: 1000%; position: relative;}
.bettingKey ul li{ padding:0 20px; position: relative; float:left;}
.play1{ overflow: hidden; margin-bottom: 0 !important;}
.play1 li{ margin: 0 15px 37px 0; color: #242424; background: #f7f6f8; float: left; width: 121px; height: 140px; font-size: 40px; line-height: 82px; border-radius: 12px; overflow: hidden; position: relative; padding: 0;}
.play1 li p{ height: 48px; background: #9ec1ff; font-size: 32px; line-height: 48px; position: absolute; left:0; bottom: 0; width: 100%; color: #fff;}
.bettingKey div{ width: 100%; text-align: center; margin-bottom: 20px;}
.bettingKey div em{ width: 24px; height: 24px; border-radius: 50%; display: inline-block; background: #f7f6f8; margin-right: 10px;}
.bettingKey div em:last-child{ margin-right: 0;}
.bettingKey div em.active{background: #5e97fe;}

.play2{overflow: hidden; margin-bottom: 10px!important; padding-left: 20px;}
.play2 li{ width: 85px; height: 81px; color: #242424; font-size: 30px; border-radius: 8px; background: #f7f6f8; float: left; padding: 0; text-align: center; margin:0 0 10px 10px; line-height: 48px;}
.play2 li p{ line-height: 24px; font-size: 24px; color: #666;}
.leftArrow{ width: 17px; height: 31px; background: url("../images/return1.png") no-repeat center; position: absolute; left: 15px; top:50%; margin-top: -15px; background-size: 100%;}
.rightArrow{ width: 17px; height: 31px; background: url("../images/return1.png") no-repeat center; position: absolute; right: 30px; top:50%; margin-top: -15px; background-size: 100%;transform:rotate(180deg);}

.bettingKey div.flickerplate .dot-navigation{ bottom:-20px;}
.bettingKey div.flickerplate .dot-navigation li{ padding: 0;}
.bettingKey div.flickerplate .dot-navigation .dot{width: 24px; height: 24px; border-radius: 50%; display: inline-block; background: #f7f6f8; margin-right: 10px;}
.bettingKey div.flickerplate .dot-navigation .dot.active{background: #5e97fe;}
.bettingKey div.flickerplate .arrow-navigation{ width: 50px;}
.bettingKey div.flickerplate .arrow-navigation.left .arrow{width: 17px; height: 31px; background: url("../images/return1.png") no-repeat center; position: absolute; left: 30px; top:50%; margin-top: -15px; background-size: 100%;}
.bettingKey div.flickerplate .arrow-navigation.right .arrow{ width: 17px; height: 31px; background: url("../images/return1.png") no-repeat center; position: absolute; right: 30px; top:50%; margin-top: -15px; background-size: 100%;transform:rotate(180deg);}
/*投注金额*/
.betMoney{ position: absolute; bottom: 0; left:0; width: 100%; z-index: 4; background: #fff;padding:30px 60px 0;}
.betMoney ul{ clear: both; position: relative;}
.betMoney li{float: left; font-size: 42px; width: 120px; height: 90px; line-height: 90px; text-align: center; background-color: #f7f6f8; border-radius: 12px; margin-right: 50px; margin-bottom: 20px;}
.betMoney li.return2{ background: url("../images/return2.png") no-repeat center #626262;}
.betMoney ul li:last-child{ margin-right: 0;}
.betMoney li.betting{ height: 201px; position: absolute; right: 0; padding:30px; background-color: #626262; color: #fff; line-height: 70px;}
.betMoney li.delete{background-color: #626262;color: #fff;}

.betTixing{ background: #afafaf; height: 80px; width: 100%; position: fixed; left: 0; top:316px;  color: #fff; font-size: 30px; z-index: 3;}
.betTixing span{ display: block; text-align: center; width: 50%; float: left; border-right:1px solid #cdcdcd; box-sizing: border-box; margin:10px 0;line-height: 60px;}

/**************分享 share.html************/
.shareWarp{ height: 100%; background: url("../images/fenxiangBG.png") center top no-repeat;text-align: center;}
.shareWarp h3{ color:#3b74d9; text-align: center; padding-top:20px; font-size: 40px;}
.share{ background: url("../images/fengxBG.png") center bottom no-repeat; height: 950px; position: relative; margin-top: 50px;}
.shareErweima { width: 258px; height: 258px; padding:9px; background: #caefff; left: 0; right: 0; top: 200px; margin: 0 auto;}
.shareErweima img{ width: 240px; height: 240px;}
.share p{ position: absolute;bottom:0; width: 80%; line-height: 40px; word-break: break-all; height: 80px; left: 50%; margin-left: -280px; text-decoration: underline;}
.dl-share p{margin:25px 50px;font-size: 30px;}

.imgFile{ position: fixed; top: 86px; background: rgba(0,0,0,1); left: 0; right: 0; bottom:0;}
#clipArea{ width: 100%;height: 100%; z-index: 88;}
.imgBut{ position: absolute; top: 50px; width: 80%; left: 10%; z-index: 99;}

.cenMoneyWarp{width: 100%; height: 100%; display:none ; position: fixed; background: rgba(0,0,0,.3); left: 0; top: 0; right: 0; bottom:0; z-index: 99; box-sizing: border-box; padding: 20px 20px 40px;}
.cenMoney{ min-height:550px; width: calc(100% - 80px); background: #fff; border-radius: 8px; box-sizing: border-box; position: absolute;top: 50%; margin-top: -225px; z-index: 100; padding: 10px;left:40px; border: 1px solid #ccc; box-shadow: 1px 1px 3px #ccc;}
.cenMoney h1{padding: 0 20px;  color: #fb4300; border-bottom: 1px solid #ccc; font-size: 34px; line-height: 76px; margin:0 0 30px;}
.moneyInput{ font-size:30px;}
.moneyInput input{width: calc( 100% - 250px); height: 70px; padding: 5px;border: 1px solid #ccc;}
.text-ul{ padding:0 20px;}
.text-ul li{ display: inline-block; font-size: 30px; background: #e55600; padding: 20px; border-radius: 12px; color: #fff; margin:0 10px 30px;}

.keyboard{ width: 131px;height: 72px;border-radius: 4px; float: right; }
.keyboard path {}

.configContent{ max-height:310px; overflow-y:auto; padding-right: 10px; }
.config1{width: 557px; padding:30px; position: absolute; left:50%; margin-left: -278px; top:50%; margin-top: -50%; background: url("../images/popup-bg.png") no-repeat bottom left #fff;
    border-radius: 20px;}
.config1 p {
    font-size: 38px;
    line-height: 62px;
    text-align: center;
    word-break:break-all; /*支持IE，chrome，FF不支持*/
    word-wrap:break-word;/*支持IE，chrome，FF*/
}

/*资金密码修改***by-chenerlin***/
.icoModifyPas input {
    margin-left: 40px;
    width:65%;
}

.iocKf{ background: url("../images/ico-kf.png") no-repeat; display: inline-block; height: 51px;  padding-left: 60px; line-height: 51px; font-size: 28px; text-decoration: underline;}


.bettingKey >ul{ width: 1000%; position: relative; clear: both; overflow: hidden;}
.peilvshuom{ padding-right: 20px;}
.peilvshuom button{  height: 80px; border: 3px solid #538dff; border-radius: 4px; background: transparent; color: #242424;}
.bettingKey ul li {
    padding: 0 20px 0 40px;
    position: relative;
    float: left;
}
play1 li {
    margin: 0 17px 37px 0;}

.bettingKey ul li .play2 li{ padding: 0; font-weight: bold;}
.bettingKey ul li .play1 li{ padding: 0; height: 120px; margin-bottom: 25px;}
.play2 li p{ font-weight: normal;}
.play2 {
    overflow: hidden;
    margin-bottom: 10px!important;
    padding-left: 0;
}

.jianpanTitle{ height: 68px; line-height: 68px; color: #fff; background: #545454; font-size: 30px; position: relative;}
.jianpanTitle .rightAr{ width: 68px; height: 68px; position: absolute; right:30px; top: 0;}
.jianpanTitle .rightAr:after{ width: 0; height: 0; content: ""; border: 20px solid transparent; border-left:20px solid #fff; position: absolute; top: 50%; margin-top: -20px;}
.jianpanTitle .leftAr{ width: 68px; height: 68px; position: absolute; left: 0; top:0;}
.jianpanTitle .leftAr:after{ width: 0; height: 0; content: ""; border: 20px solid transparent; border-right:20px solid #fff; position: absolute; top: 50%; margin-top: -20px;}

.gou2x{ width: 32px; height: 26px; background: url("../images/gou2x.png") no-repeat center; display: inline-block; position: absolute;right:-40px; top: 30px;}
.cuowu3x{ width: 32px; height: 26px; background: url("../images/cuowu3x.png") no-repeat center; display: inline-block; position: absolute;right:-40px; top: 30px;}

.loginWarp li.butC{}
.loginWarp li.butC button{ width: 45%; float: left;}
.loginWarp li.butC button.bgCol {  background: #d9435e; float: right;}
.regWarp label{ margin-left: 20px;}

.regWarp label input[type=checkbox] +.gou3x:after{ width: 22px; height: 22px; border: 1px solid #cbcbcb; content: ""; position: absolute; left: 0; top:5px;}
.regWarp label input[type=checkbox]:checked +.gou3x:after{ width: 22px; height: 22px; border: 1px solid #cbcbcb; content: ""; position: absolute; left: 0; top:5px; background: url("../images/gou3x.png") no-repeat;}

.gou3x{ position: relative; padding-left: 30px;}

.quxiao{ position: absolute; background: #fff; left: 0; top:80px; width: 100%; color: #242424; padding: 30px; z-index: 99;}
.quxiao li{ line-height: 80px;}
.quxiao li label{ margin-right: 20px;}
.quxiao li label:nth-child(2){ color: #ff4f4f;}
.quxiao li label i.icoAcer{ width: 30px; height: 30px; display: inline-block; padding-right: 0; background: url("../images/ico-acer.png") no-repeat 0 0; background-size: 100%; margin:0 20px; }
.quxiao li em.close{ width: 40px; height: 40px; float: right; margin-top: 20px; background: url("../images/close1.png") no-repeat}

/*.chongzhi.bankCard2 ul li label{
    padding-left: 150px;
}*/
.icoTop{ background: url("../images/ico-top.png")}
.icoBot{ background: url("../images/ico-bot.png")}
.icoZfb2{ background: url("../images/zhifubao2.png")}
.icoWeix2{ background: url("../images/weixin2.png")}
.icoYinl2{ background: url("../images/yinlian2.png")}
.radioClass{}
.radioClass li label{ position: relative;}
.radioClass li label:after{ width: 32px; height: 32px; border: 2px solid #ccc; content: ""; border-radius: 50%; position: absolute; top: 50%; margin-top: -16px; right:32px;}
.radioClass li label:before{ width: 20px; height: 20px;background: #ccc; content: ""; border-radius: 50%; position: absolute; top: 50%; margin-top: -8px; right:40px;}
.radioClass li input[type=radio]:checked +label:after{border: 2px solid #ccc; background: transparent;}
.radioClass li input[type=radio]:checked +label:before{background:#dc5d55;}

.play3{ padding-top: 40px;}
.play3 ul{ margin-top: 30px;}
.play3 li {
    margin: 0 20px 37px;
    color: #242424;
    background: #f7f6f8;
    float: left;
    width: 131px;
    height: 150px;
    font-size: 40px;
    line-height: 82px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    padding: 0;
}
.bettingKey ul li .play3 li {
    padding: 0;
    height: 150px;
    margin-bottom: 25px;
}
.play3 li p {
    height: 48px;
    font-size: 32px;
    line-height: 48px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
}
.bettingKey ul li .play3 li:nth-child(1){ color: #df4d69;}
.bettingKey ul li .play3 li:nth-child(2){ color: #4dcd70;}
.bettingKey ul li .play3 li:nth-child(3){ color: #5e97fe;}
.bettingKey ul li .play3 li:nth-child(4){ color: #feb55e;}
.red1{ background: #df4d69;}
.lv{ background: #4dcd70;}
.lan{ background: #5e97fe;}
.huang{ background: #feb55e;}

.zhanwei{ width: 100%; height: 100%; background: url("../images/zhanwei.png") no-repeat center;background-size: 35%;}

.widthGonggao p{ display: inline-block; padding-right: 50px;}

.weixintishi{ color: #949494; font-size: 28px; padding: 40px; line-height: 40px;}
.weixintishi h4{ font-size: 30px; font-weight: inherit;}

.shaoerWeiMa{ text-align: center; padding: 90px 30px 30px;}
.shaoerWeiMa p{ padding: 5px 0;}
.shaoerWeiMa .button button{ width: 27%; margin: 0 15px;}

input[type=date],select{ opacity: 0;}
.shareWarp .copyBtn {
    border-radius: 16px;
    width: 260px;
    margin-top: 30px;
    height: 60px;
}

.guanbing{ background: url("../images/configClose.png") no-repeat; background-size: 100%; width: 54px; height: 54px; position: absolute; right: 30px; left: auto; top: 15px;}
.bettingRecordList li.title{}
.bettingRecordList li.title div{ float: left; width: 33.33333333%; text-align: center; }
.bettingRecordList li.title div em{  font-size: 32px;}
.bettingRecordList li.title div p{  font-size: 28px;}

.wordText{ width: 100%; text-align: center;padding: 20px 0;margin-top: 160px;}
.wordText div{ display: inline-block; width: 33.33333%; text-align: center; font-size: 28px; line-height: 48px;}

.w45{ width: 45%;}

/**/
.drawXinxi span{
	display: block;
	position: absolute;
	background: url("../images/guanbi.png");
	width:115px;
	height:17px;
	left:50%;
	bottom:-17px;
	z-index: 10;
}
.btnNext{
	width:100%;
	position: relative;
}
.btnNext .allDesc{
	width:90%;
	margin:0 auto;
	line-height: 50px;
	font-size:30px;
	color:red;
	text-align: center;
	margin-top:40px;
}
.btnNext span.button{
	margin: 0; padding:40px 40px 0 40px;display: inline-block;width:100%;
}
#onlinePayForm span.button{
	margin: 0 5%;display: inline-block;width:90%;
}

/*充值弹窗*/
.popup_template_ul.topay {
    margin: 100px 0rem 2rem;
}
.popup_template_ul li {
    margin-bottom: 1rem;
}
.popup_template_ul li span.ititle {
    margin-right: 1rem;
    width: 30%;
    display: inline-block;
    text-align: right;
    line-height: 50px;
}
