body{
	max-width:25rem;
	margin:0 auto;
}
p{
	margin: 0;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.cbefore:before{
	content: "";
	display: table;
}

.denglu-body{
	width: 100%;
	padding-bottom: 20px;
}
.denglu-body>img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	right:0;
	max-width:25rem;
	margin:0 auto;
}
.denglu-fix{
	position: relative;
	width: 80%;
	background-color: rgba(0,0,0,0.3);
	padding: 10px 13px 20px 13px;
	border-radius: 5px;
	margin:0 10%;
}
.denglu-fix>img{
	width: 24px;
	height: 24px;
	position: absolute;
	top: -8px;
	right: -8px;
}
.denglu-fix>p{
	font-size: 18px;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}
.denglu-input{
	width: 100%;
	height: 33px;
	position: relative;
	margin-bottom: 14px;
}
.denglu-input>img{
	width: 19px;
	height: 19px;
	position: absolute;
	top: 7px;
	left: 10px;
}
.denglu-input>input.remeberJZ{
	float:left;
	margin:6px 5px 0;
}
.denglu-input>input[type=text],.denglu-input>input[type=password]{
	width: 100%;
    height: 33px;
    line-height: 33px;
    padding: 0 35px;
    background: #2d2d2d;
    background: rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    border: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
}
.denglu-fix>div:nth-child(4){
	width: 100%;
	margin-bottom: 15px;
}
.denglu-fix>div:nth-child(4)>a:nth-child(1){
	float:left;
	color: #FFC81F;
	font-size: 14px;
}
.denglu-fix>div:nth-child(4)>a:nth-child(2){
	float:right;
	color: #FFC81F;
	font-size: 14px;
}
.denglu-fix a{
	cursor: pointer;
	text-align: center;
	line-height: 34px;
	display: block;
    width: 100%;
    height: 34px;
    padding: 0;
    background: rgba(6, 127, 228, 0.71);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 0;
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset,0 2px 7px 0 rgba(0,0,0,.2);
    font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
.denglu-fix a.register-but{
	line-height: 34px;
    margin: 15px auto 0px;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.38);
    background: rgba(45, 45, 45, 0.33);
    border-radius: 6px;
}
.denglu-fix a:hover {
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
}
.denglu-fix .testYk a{
	line-height: 34px;
    margin: 15px auto 0px;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.38);
    background: rgba(45, 45, 45, 0.33);
    border-radius: 6px;
    width:48%;
}
.denglu-fix .testYk a.yk{
	float:left;
}
.denglu-fix .testYk a.zc{
	float:right;
}
.denglu-fix2{
	position: relative;
	width: 80%;
	margin:1em 10% 0;
}
.denglu-fix2>div:nth-child(1)>div{
	width: 30%;
	height: 20px;
	float:left;
}
.denglu-fix2>div:nth-child(1)>div>img{
	width: 80%;
	margin: 0 auto;
	margin-top: 8px;
}
.denglu-fix2>div:nth-child(1)>p{
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	width: 40%;
	float:left;
}
.denglu-fix2>div:nth-child(2){
	margin-top: 20px;
}
.denglu-tiaozhuan1{
	width: 50%;
}
.denglu-tiaozhuan2{
	width: 50%;
	float:left;
	padding-left: 17px;
}
.denglu-tiaozhuan1>a{
	display: block;
	width: 43px;
	height: 43px;
	width: 100%;
    text-align: center;
}
.denglu-tiaozhuan2>a{
	display: block;
	width: 43px;
	height: 43px;
	float:left;
}
.denglu-fix2>div:nth-child(2)>div>a>img{
	width: 43px;
	height: 43px;
	display: inline-block;
}
input:focus {
    outline: 0;
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset,0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset, 0 2px 7px 0 rgba(0,0,0,.2);
}

.denglu-fix .input-group-addon{
	width:106px;
	height:32px;
	position: absolute;
	bottom:0;
	right:0;
}
.loginBanner {
    width: 200px;
    height: 140px;
    margin: 0 auto;
    padding: 2em 0 0;
    position: relative;
}
.headPortrait {
    width: 200px;
    height: 70px;
    padding: 5px;
    overflow: hidden;
}
.headPortrait img {
    width: 100%;
}
.loginWarp li p {
    line-height: 48px;
    color: #f06856;
}
.Validform_checktip {
    display: none;
    margin-left: 8px;
    line-height: 20px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}
.Validform_wrong {
    color: red;
    padding-left: 20px;
    white-space: nowrap;
    background: url(../images/error.png) no-repeat left center;
}