@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss
html {
  line-height: 1;
}

line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss
ol, ul {
  list-style: none;
}

line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss
table {
  border-collapse: collapse;
  border-spacing: 0;
}

line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss
q, blockquote {
  quotes: none;
}
line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss
a img {
  border: none;
}

line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

line 38, ../sass/component/_global.scss
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

line 48, ../sass/component/_global.scss
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

line 52, ../sass/component/_global.scss
body {
  -webkit-font-smoothing: none;
}

line 57, ../sass/component/_global.scss
.txt-color-666 {
  color: #666 !important;
}

line 61, ../sass/component/_global.scss
.txt-textOneRow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

line 67, ../sass/component/_global.scss
.txt-textTwoRow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


line 25, ../sass/dialog.scss
.cpt_mask_dialog {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: '微软雅黑','Microsoft Yahei';
  z-index: 1000002;
  animation-duration: 0.6s;
}

line 50, ../sass/dialog.scss
.div_dialog.no_boxShadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
line 74, ../sass/dialog.scss
.div_dialog .discription_dialog .dialog_input {
  height: 28px;
  width: 98%;
  margin: 0 auto;
  outline: none;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #aaa;
}
line 84, ../sass/dialog.scss
.div_dialog .discription_dialog .dialog_input::-webkit-input-placeholder {
  WebKit browsers
  color: #a1a1a1;
}
line 87, ../sass/dialog.scss
.div_dialog .discription_dialog .dialog_input:-moz-placeholder {
  Mozilla Firefox 4 to 18
  color: #a1a1a1;
}
line 90, ../sass/dialog.scss
.div_dialog .discription_dialog .dialog_input::-moz-placeholder {
  Mozilla Firefox 19+
  color: #a1a1a1;
}
line 93, ../sass/dialog.scss
.div_dialog .discription_dialog .dialog_input:-ms-input-placeholder {
  Internet Explorer 10+
  color: #a1a1a1;
}
line 128, ../sass/dialog.scss
.div_dialog.primary .div_dialog {
  -moz-box-shadow: 0px 0px 3px 0px #4D96DF;
  -webkit-box-shadow: 0px 0px 3px 0px #4D96DF;
  box-shadow: 0px 0px 3px 0px #4D96DF;
}
line 131, ../sass/dialog.scss
.div_dialog.primary .div_dialog.no_boxShadow {
  -moz-box-shadow: 0px 0px 0px 0px #fff;
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px 0px #fff;
}
line 136, ../sass/dialog.scss
.div_dialog.primary .title_dialog {
  color: #588CD2;
  border-bottom: 1px dashed #4D96DF;
}
line 141, ../sass/dialog.scss
.div_dialog.primary .discription_dialog {
  color: #313234;
}
line 146, ../sass/dialog.scss
.div_dialog.primary .dialog_divOperation .btn_span {
  color: #fff;
  background: #4D96DF;
}
line 152, ../sass/dialog.scss
.div_dialog.primary .dialog_divOperation .btn_span:hover {
  background: #4684C3;
}
line 156, ../sass/dialog.scss
.div_dialog.primary .dialog_divOperation .btn_span.no_bg {
  background: #fff;
  color: #333;
}
line 165, ../sass/dialog.scss
.div_dialog.success .div_dialog {
  -moz-box-shadow: 0px 0px 3px 0px #21B384;
  -webkit-box-shadow: 0px 0px 3px 0px #21B384;
  box-shadow: 0px 0px 3px 0px #21B384;
}
line 168, ../sass/dialog.scss
.div_dialog.success .div_dialog.no_boxShadow {
  -moz-box-shadow: 0px 0px 0px 0px #fff;
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px 0px #fff;
}
line 173, ../sass/dialog.scss
.div_dialog.success .title_dialog {
  color: #6EB279;
  border-bottom: 1px dashed #21B384;
}
line 178, ../sass/dialog.scss
.div_dialog.success .discription_dialog {
  color: #283528;
}
line 183, ../sass/dialog.scss
.div_dialog.success .dialog_divOperation .btn_span {
  color: #fff;
  background: #21B384;
}
line 189, ../sass/dialog.scss
.div_dialog.success .dialog_divOperation .btn_span:hover {
  background: #28A47C;
}
line 193, ../sass/dialog.scss
.div_dialog.success .dialog_divOperation .btn_span.no_bg {
  background: #fff;
  color: #333;
}
line 202, ../sass/dialog.scss
.div_dialog.danger .div_dialog {
  -moz-box-shadow: 0px 0px 3px 0px #D9534F;
  -webkit-box-shadow: 0px 0px 3px 0px #D9534F;
  box-shadow: 0px 0px 3px 0px #D9534F;
}
line 205, ../sass/dialog.scss
.div_dialog.danger .div_dialog.no_boxShadow {
  -moz-box-shadow: 0px 0px 0px 0px #fff;
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px 0px #fff;
}
line 226, ../sass/dialog.scss
.div_dialog.danger .dialog_divOperation .btn_span:hover {
  background: #C74743;
}
line 230, ../sass/dialog.scss
.div_dialog.danger .dialog_divOperation .btn_span.no_bg {
  background: #fff;
  color: #333;
}
line 239, ../sass/dialog.scss
.div_dialog.warning .div_dialog {
  -moz-box-shadow: 0px 0px 3px 0px #FFBD7A;
  -webkit-box-shadow: 0px 0px 3px 0px #FFBD7A;
  box-shadow: 0px 0px 3px 0px #FFBD7A;
}
line 242, ../sass/dialog.scss
.div_dialog.warning .div_dialog.no_boxShadow {
  -moz-box-shadow: 0px 0px 0px 0px #fff;
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px 0px #fff;
}
line 247, ../sass/dialog.scss
.div_dialog.warning .title_dialog {
  color: #FFBD7A;
  border-bottom: 1px dashed #FFBD7A;
}
line 252, ../sass/dialog.scss
.div_dialog.warning .discription_dialog {
  color: #4F3536;
}
line 257, ../sass/dialog.scss
.div_dialog.warning .dialog_divOperation .btn_span {
  color: #fff;
  background: #FFBD7A;
}
line 263, ../sass/dialog.scss
.div_dialog.warning .dialog_divOperation .btn_span:hover {
  background: #F0AF6D;
}
line 267, ../sass/dialog.scss
.div_dialog.warning .dialog_divOperation .btn_span.no_bg {
  background: #fff;
  color: #333;
} */







/* line 38, ../sass/dialog.scss */
.div_dialog {
  position: fixed;
  left:50%;
  top: 50%;
  min-width: 240px;
  min-height: 130px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-box-shadow: 0 3px 10px #aaa;
  -webkit-box-shadow: 0 3px 10px #aaa;
  box-shadow: 0 3px 10px #aaa;
}


/* line 14, ../sass/dialog.scss */
.cpt-dw-dialog-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 210, ../sass/dialog.scss */
.div_dialog.danger .title_dialog {
  color: #C54D54;
  border-bottom: 1px dashed #D9534F;
  text-align: center;
}

/* line 54, ../sass/dialog.scss */
.div_dialog .title_dialog {
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0;
  height: 40px;
}

/* line 215, ../sass/dialog.scss */
.div_dialog.danger .discription_dialog {
  color: #4F3536;
}

/* line 64, ../sass/dialog.scss */
.div_dialog .discription_dialog {
  padding: 14px 0 10px 0;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}

/* line 98, ../sass/dialog.scss */
.div_dialog .dialog_divOperation {
  display: -webkit-flex;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px 2px;
  height: 32px;
  margin:0 20%;
}

/* line 108, ../sass/dialog.scss */
.div_dialog .dialog_divOperation .btn_span {
  padding: 3px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 121, ../sass/dialog.scss */
.div_dialog .dialog_divOperation .btn_span:first-child {
	width:100%;
	text-align: center;
	margin-right: 10px;
}


/* line 220, ../sass/dialog.scss */
.div_dialog.danger .dialog_divOperation .btn_span {
  color: #fff;
  background: #D9534F;
  flex-grow: 1;
}
/* 
.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge-hastrans {
  animation-duration: 2s;
}

.animated.flipOutX-hastrans,
.animated.flipOutY-hastrans,
.animated.bounceIn-hastrans,
.animated.bounceOut-hastrans {
  animation-duration: .75s;
}


@keyframes fadeInUpBig-hastrans {
  from {
    opacity: 0;
    transform: translate3d(-50%, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.fadeInUpBig-hastrans {
  animation-name: fadeInUpBig-hastrans;
}

@keyframes fadeOutDownBig-hastrans {
  from {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, 2000px, 0);
  }
}

.fadeOutDownBig-hastrans {
  animation-name: fadeOutDownBig-hastrans;
} */