/*reset css*/
*{margin:0;padding:0;list-style:none;border:none;}
body{font-family:'microsoft yahei';}
.izl-rmenu{
	       margin-right: 0;
	       width: 82px;
	       position: fixed;
	       right: 2px;
	       top: 30%;
	       -webkit-box-shadow: #000 0px 1px 5px;
	       -moz-box-shadow: #000 0px 1px 5px;
	       box-shadow: #000 0px 1px 5px;
	       z-index:999;
}
.izl-rmenu .consult{    
	background-image: url(../images/index/consult_icon.gif);
    background-repeat: no-repeat;
    background-position: center -77px;
    display: block;
    height: 76px;
    width: 82px;
}
.izl-rmenu .consult .phone {
    background-color: rgb(247,247,255);
    position: absolute;
    width: 160px;
    left: -160px;
    top: 0px;
    line-height: 73px;
    color: #000;
    font-size: 18px;
    text-align: center;
    display: none;
    box-shadow: #DDD -1px 1px 4px;
}
.izl-rmenu a.consult:hover .phone{display:inline !important;}
.izl-rmenu .cart {
    background-image: url(../images/weixin.png);
    background-repeat: no-repeat;
	background-size:80%;
    background-position: center center;
    display: block;
    height: 16px;
    width: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #45BDFF;
    text-align: center;
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 47px;
    padding-left: 48px;
}
.izl-rmenu a.cart:hover .pic{display:block;}
.izl-rmenu .btn_top {
    background-image: url(../images/index/float_top.gif);
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    height: 39px;
    width: 82px;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
.izl-rmenu .btn_top:hover {
	background-image: url(../images/index/float_top.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.izl-rmenu .cart .pic {
	display:none;
    position: absolute;
    left: -160px;
    top: 0px;
    width: 160px;
    height: 160px;
    background:url(../images/weixin.png) no-repeat;
	background-size:100%;
}
#udesk-feedback-tab {
    position: fixed;
    right: 2px;
    top: 30%;
    margin-top: -76px;
    -webkit-box-shadow: #000 0px -1px 5px;
    -moz-box-shadow: #000 0px -1px 5px;
    box-shadow: #000 0px -1px 5px;
    z-index: 10000;
    cursor: pointer;
    background-image: url(../images/index/consult_icon.png);
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    height: 76px;
    width: 82px;
    background-color: #FFF!important;
    z-index:999;
}

/*mobile*/
.wapMobile .wap_top {
    height: 70px;
    width: 100%;
    background: #333;
}
.wapMobile .wap_top .top_left {
    text-align: center;
}
.wapMobile .wap_top .top_left span {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    margin-top: 11px;
}
.shouye-body-banner {
    width: 100%;
    margin-bottom: 15px;
}
.swiper-slide>a {
    display: block;
    width: 100%;
}
.shouye-sw-box {
    display: block;
    overflow: hidden;
    width: 100%;
}
.swiper-slide>a>img {
    width: 100%;
    min-height: 130px;
    height: 100%;
    vertical-align: bottom;
    display: block;
}
