/*date 2016-8-23*/
*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*-webkit-appearance:none;
	appearance: none;*/
}
a{
	text-decoration: none;
}
.ng-left{
	display: block;
	float: left;
}
.ng-right{
	display: block;
	float: right;
}
.ng-block{
	display: block;
}
.ng-none{
	display: none;
}
.ng-p-none{
	display: none !important;
}
.ng-alert-top, .ng-alert-bottom{
	position: fixed;
	z-index: 9990;
	left: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,.7);
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}
.ng-alert-top{
	top: -40px;
}
.ng-alert-bottom{
	bottom: -40px;
}
input,input[type="button"], input[type="submit"], input[type="reset"] ,input[type="text"] {
	/*-webkit-appearance: none;*/
	outline:none;
}
textarea {
	-webkit-appearance: none;
}
.ng-overflow-x{
	overflow-x: auto;
}
.ng-overflow-y{
	overflow-y: auto;
}
.ng-overflow{
	overflow: auto;
}
.ng-overflow-x::-webkit-scrollbar, .ng-overflow-y::-webkit-scrollbar, .ng-overflow::-webkit-scrollbar{
	display: none !important;
}
.ng-ellipsis-clamp{
	word-break:break-all;
	display:-webkit-box;
	/*-webkit-line-clamp:2;*/
	-webkit-box-orient:vertical;
	overflow:hidden;
}
.ng-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ng-flex{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-box;
}
.ng-input{
	/*background-color: #fff;*/
	/*background-image: none;*/
	border: 1px solid #ccc;
	/*border-radius: 4px;*/
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.ng-input:focus{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
