﻿[contenteditable = "true"], input, textarea {
    -webkit-user- select: auto!important;
    -khtml-user-select: auto!important;
    -moz-user-select: auto!important;
    -ms-user-select: auto!important;
    -o-user-select: auto!important;
    user-select: auto!important;
}
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin:0;
    padding:0;
}
.all-mark{
	display: none;
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}
body,ul,li,h1,h2,h3,h4,h5,h6,p,ol,li,dt,dd,dl{
    border:none;
    list-style: none;
    font-weight: normal;
    
}
body{
	opacity: 0;
    margin: 0;
    padding: 0;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
img{
	vertical-align:bottom; 
	display:block;
}
a{
    text-decoration: none;
}
.clear:after{
	content: "";
	display: block;
	clear:both;
}
#all-mark{
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}
#all-mark img{
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 130px;
}
/*头部和底部公用部分*/
header {
    height: 76px;
    line-height: 76px;
    background: #dc5d55;
    color: #fff;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -0.5rem;
    font-size: 1.8rem;
    line-height: 4.8rem;
    text-align: center;
    white-space: nowrap;
}
.headerRight {
    position: absolute;
    right: 0;
    top: 0;
}
.headerRight li {
    float: left;
    width: 76px;
    height: 76px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    transition: all 0.2s linear 0s;
}
.icoNews {
    background-image: url(../images/ico-news.png);
}
.icoKeFu{
	 background-image: url(../images/ico_kefu.png);
	 background-size:75% ;
}
.oAfter:after {
    content: attr(data-new);
    position: absolute;
    min-width: 22px;
    height: 22px;
    background: #ff4f4f;
    border-radius: 50%;
    right: 12px;
    top: 12px;
    line-height: 22px;
    font-size: 20px;
    text-align: center;
    padding: 2px;
}
.icoAdd {
    background-image: url(../images/ico-add.png);
}
.icoRecord {
    background-image: url(../images/ico-record.png);
}
.icoCz1 {
    background-image: url(../images/ico-cz1.png);
}
.icoCz2 {
    background-image: url(../images/ico-cz2.png);
}
.icoAdd.rotate{
	transform:rotate(135deg);
	-ms-transform:rotate(135deg); 	/* IE 9 */
	-moz-transform:rotate(135deg); 	/* Firefox */
	-webkit-transform:rotate(135deg); /* Safari 和 Chrome */
	-o-transform:rotate(135deg); 
}
.headerRight li a {
    display: block;
    width: 100%;
    height: 100%;
}
.menu {
    width: 225px;
    background: #fff;
    box-shadow: 1px 1px 8px #ccc;
    position: absolute;
    top: 90px;
    right:0px;
    border-radius: 10px;
}
.menu li {
    border-bottom: 1px solid #f5f5f5;
    color: #565656;
    font-size: 30px;
    padding-left: 70px;
    background-repeat: no-repeat;
    background-position: 25px center;
}

.icoRebate {
    background-image: url(../images/ico-rebate.png);
}
.menu:before {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    border: 20px solid transparent;
    border-bottom: 20px solid #e5e5e5;
    top: -41px;
    right: 15px;
}
.menu:after {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    border: 20px solid transparent;
    border-bottom: 20px solid #fff;
    top: -39px;
    right: 15px;
}
.icoResult {
    background-image: url(../images/ico-result.png);
}
.icoIntroduce {
    background-image: url(../images/ico-introduce.png);
}
.icoTrend {
    background-image: url(../images/ico-trend.png);
}
nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 98px;
    background: #fff;
    padding: 10px 0;
    box-sizing: border-box;
    z-index: 999;
}
nav li:nth-child(1).active {
    background-image: url(../images/navHome1.png);
}
nav li:nth-child(1) {
    background-image: url(../images/navHome.png?v=1);
}
nav li.active {
    color: #dc5d55;
}
nav li {
    width: 25%;
    text-align: center;
    padding-top: 50px;
    font-size: 21px;
    line-height: 42px;
    color: #888888;
    background-repeat: no-repeat;
    background-position: top center;
    float: left;
}
nav li:nth-child(2) {
    background-image: url(../images/navWallet.png);
}
nav li:nth-child(3) {
	/*url("../images/navArt.png") url(../images/img_dongtai_daihongdian1.png)*/
    background-image: url("../images/navArt.png");
}
nav li:nth-child(4) {
    background-image: url(../images/navMy.png);
}
nav li:nth-child(2).active {
    background-image: url(../images/navWallet1.png?v=1);
}
nav li:nth-child(4).active {
    background-image: url(../images/navMy1.png?v=1);
}
nav li:nth-child(3).active {
	/*background-image: url(../images/img_dongtai_daihongdian_an1.png);*/
	background-image: url(../images/navArt1.png?v=1);
}
nav li:nth-child(3).on{
	background-image: url(../images/img_dongtai_daihongdian.png);
}
nav li:nth-child(3).active.on{
	background-image: url(../images/img_dongtai_daihongdian_an.png);
} 
