p{
	margin: 0;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.cbefore:before{
	content: "";
	display: table;
}

.denglu-body{
	width: 100%;
}
.denglu-body>img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.denglu-fix{
	position: absolute;
	top: 22%;
	left: 10%;
	width: 80%;
	background-color: rgba(0,0,0,0.3);
	padding: 10px 13px 20px 13px;
	border-radius: 5px;
}
.denglu-fix>img{
	width: 24px;
	height: 24px;
	position: absolute;
	top: -8px;
	right: -8px;
}
.denglu-fix>p{
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.denglu-fix>span{
	height: 35px;
	color: #FF0001;
	text-align: center;
	line-height: 35px;
	display: block;
	font-size: 14px;
}
.denglu-input{
	width: 100%;
	height: 33px;
	position: relative;
	margin-bottom: 14px;
}
.denglu-input>img{
	width: 19px;
	height: 19px;
	position: absolute;
	top: 7px;
	left: 10px;
}
.denglu-input>input{
	width: 100%;
	height: 33px;
	font-size: 14px;
	line-height: 33px;	
	background-color: #fff;
	padding-left:40px;
	border-radius: 16.5px;
	border: none;
}
.denglu-fix>div:nth-child(5){
	width: 100%;
	margin-bottom: 15px;
}
.denglu-fix>div:nth-child(5)>a:nth-child(2){
	float:left;
	color: #FFC81F;
	font-size: 14px;
}
.denglu-fix>div:nth-child(5)>a:nth-child(3){
	float:right;
	color: #FFC81F;
	font-size: 14px;
}
.denglu-fix>a{
	font-size: 14px;
	color: #975308;
	background-color: #FFC81F;
	text-align: center;
	line-height: 34px;
	width: 100%;
	display: block;
	border-radius: 17px;
	border: none;
}
.denglu-fix2{
	position: absolute;
	width: 70%;
	height: 20px;
	top: 75%;
	left: 15%;
}
.denglu-fix2>div:nth-child(1)>div{
	width: 35%;
	height: 20px;
	float:left;
}
.denglu-fix2>div:nth-child(1)>div>img{
	width: 80%;
	margin: 0 auto;
	margin-top: 8px;
}
.denglu-fix2>div:nth-child(1)>p{
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	width: 30%;
	float:left;
}
.denglu-fix2>div:nth-child(2){
	margin-top: 20px;
}
.denglu-tiaozhuan1{
	width: 50%;
	float:left;
	padding-right: 17px;
}
.denglu-tiaozhuan2{
	width: 50%;
	float:left;
	padding-left: 17px;
}
.denglu-tiaozhuan1>a{
	display: block;
	width: 43px;
	height: 43px;
	float:right;
}
.denglu-tiaozhuan2>a{
	display: block;
	width: 43px;
	height: 43px;
	float:left;
}
.denglu-fix2>div:nth-child(2)>div>a>img{
	width: 43px;
	height: 43px;
}
.reg-yes{
	float:left;
	margin-right: 5px;
}
.reg-yes>img{
	width: 20px;
	height: 20px;
	float:left;
}
.reg-yes>img:nth-child(1){
	display: block;
}
.reg-yes>img:nth-child(2){
	display: none;
}
.reg-yes>p{
	font-size: 14px;
	color: #fff;
	float:left;
}
