@charset "utf-8";
/* CSS Document */
body, div, ol, dl, dt, dd, ul, li, table, tr, td, h1, h2, h3, h4, h5, h6, p, form, input, button, img, strong, em { padding:0px; margin:0px; border:0px; font-style:normal; box-sizing: border-box;outline: none;}
li, dd, dt { list-style-type:none;}
ol, ul, dl { list-style:none;}
img { vertical-align:top;}
a{ color:#231f20; text-decoration:none; outline:0;}
::-webkit-input-placeholder { color:#ccc; }
input:-moz-placeholder { color:#ccc; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0 none; margin:0; padding:0;}
input, select, option, button, textarea { font-size:100%; vertical-align:middle; outline:0 none; border-radius:0px; border:none;}
pre{ white-space: pre-wrap;line-height:30px;  white-space: -moz-pre-wrap;  white-space: -pre-wrap;  white-space: -o-pre-wrap;  word-wrap: break-word;  margin: 0; font-size: 15px;}
/*清除浮动样式*/
.clear{ clear:both; height:0; width:100%;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{zoom: 1; clear:both;}
.left{ float:left;}
.right{ float:right;}
/*html,body{ height: 100%;}*/
body { padding-bottom:50px;box-sizing: border-box; color:#333;background:#fff; font-size: 12px; min-width: 320px; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); margin:0 auto;font-family:Verdana,Arial,Helvetica,sans-serif; max-width: 750px;}
button{ width: 100%; height:42px; display: inline-block; background: #dc5d55; font-size: 14px; color: #fff; border-radius: 21px;}
/***********************header*****************************/
header{ height: 44px; line-height: 44px; background: #dc5d55; color: #fff; padding:0 15px; position: fixed; top: 0; left: 0; width: 100%; box-sizing: border-box; z-index: 9999;}
header h1{ text-align: center; font-size: 18px;}
header em{ color:#fff; font-size: 15px; background: url("../images/return.png") no-repeat left 12.5px; background-size:auto 50%; display: block; text-indent:15px; position: absolute; left: 15px; top: 0; }
/*header em.return{ color: #000; background: url("../images/return1.png") no-repeat left 12.5px;  background-size: 50%;}*/
/*.loginHeader{ background: #fff; color: #000;}*/
section {
    box-sizing: border-box;
    background-color: #FFF;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
.icoAdd.rotate {
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}
.headerRight{ position: absolute; right:0; top: 0;}
.headerRight li{ float: left; width: 44px; height: 44px; background-repeat:no-repeat; background-position: center center; position: relative;transition: all 0.2s linear 0s;}
.headerRight li a{ display: block; width: 100%; height: 100%;}
.icoNews{ background-image: url("../images/ico-news.png"); background-size: 50%;}
.icoKeFu{
	 background-image: url(../images/ico_kefu.png);
	 background-size:75% ;
}
.oAfter:after{content: attr(data-new); position: absolute; min-width: 11px; height: 11px; background: #ff4f4f; border-radius: 50%; right: 6px; top: 6px; line-height: 11px; font-size: 10px; text-align: center; padding: 2px;}
.icoAdd{ background-image: url("../images/ico-add.png"); background-size: 50%;}

.menu{ width: 150px; background: #fff; box-shadow: 1px 1px 8px #ccc; position: absolute; right:5px; top: 50px; border-radius: 5px; }
.menu:after{ width: 0; height: 0; content:""; position: absolute; border: 10px solid transparent; border-bottom:10px solid #fff; top: -19px; right:7.5px;}
.menu:before{ width: 0; height: 0; content:""; position: absolute; border: 10px solid transparent; border-bottom:10px solid #e5e5e5; top: -20px; right:7.5px;}
.menu li{ border-bottom: 1px solid #f5f5f5; color: #565656; font-size: 15px; padding-left:55px; background-repeat: no-repeat; background-position: 25px center;}
.icoRebate{ background-image: url("../images/ico-rebate.png"); background-size:auto 50%;}
.icoResult{ background-image: url("../images/ico-result.png"); background-size:auto 50%;}
.icoIntroduce{ background-image: url("../images/ico-introduce.png"); background-size:auto 50%;}
.icoTrend{ background-image: url("../images/ico-trend.png"); background-size:auto 50%;}
/***********************header end*****************************/

/****************************房间**********************************/
.roomHead{ background: #f9f9f9; height: 115px; top: 44px;left:0;position:fixed; width: 100%;z-index: 10;}
.roomHead1{overflow: hidden; border-bottom: 1px solid #cfcfcf;}
.roomHead1 li{ width: 50%; text-align: center; float: left; height: 67.5px;padding:10px;}
.roomHead1 li:first-child{border-right: 1px solid #cfcfcf;}
.roomHead1 li p:nth-child(1){ font-size: 14px; color: #242424; line-height: 22.5px; }
.roomHead1 li p:nth-child(2){ font-size: 15px; color: #ff4f4f;}
.roomHead1 li p span{ padding-left:20px; background-position: left center; background-repeat: no-repeat; background-size: 15px 15px;}
.roomHead2{ height: 47.5px;  font-size: 14px; color: #242424; padding:15px; text-align: center; position: relative; background: #f2f2f2;}
.roomHead2 em{width:20px; height: 10px; display: inline-block; position: absolute; right: 10px;;top: 50%; margin-top: -5px;transition: all 0.2s linear 0s;}
.roomHead2 em:after{border: 10px solid transparent; border-top: 10px solid #bfbfbf; width: 0; height: 0; content: ""; position: absolute; left: 0;}
.betTixing em.jt:after{ border: 10px solid transparent; border-top: 10px solid #ffffff; width: 0;height: 0;content: ""; position: absolute;left:0 }
.betTixing em.jt{width:20px; height: 10px; display: inline-block; position: absolute; top: 50%; margin-top: -5px;transition: all 0.2s linear 0s;right:10px;}
.topAes:after{transform: rotate(180deg); margin-top: -30px;}
.roomHead1 .icoAcer{font-size: 18px; color: #ff4f4f; padding-right: 0px;}
.icoTime,.icoTimeClose{ background-image: url("../images/ico-time.png")}
.roomNews{ bottom:0;}
.roomNews em,.touzhu_ts em{width: 65.5px;height:36px;border-radius: 2px; float: left; text-align: center; line-height: 36px; display: block;font-size: 14px; color: #fff; margin-right: 10px;}
.customNews.roomNews .textArea{ width: calc(100% - 190px)}
.customNews.roomNews .textArea img{width:20px;}
.customNews.roomNews .textArea div[contenteditable=true]{
	line-height: 20px;margin-top:8px;
}
.icoAcer{ background: url("../images/ico-acer.png") no-repeat right 25px; background-size: auto 50%; padding-right: 85px; font-size: 100px; font-family: Arial;}

.room{ padding: 15px 15px 0;margin-top:158px;}

.roomGroup{ line-height: 22px; background: #f9f9f9; font-size: 12px; color: #242424; padding:10px; text-align: center; border-radius: 4px; margin-bottom: 10px;}

.userBetting{ margin-bottom: 30px; overflow: hidden;}
.userBetting li:first-child img{width: 45px; height: 45px;border-radius: 50%;}
.userBetting li:last-child img{width: 35px; height: 35px;}
.userBetting li:last-child{max-width:280px; min-height: 50px; padding-bottom:22.5px; background: #f2f2f2; float: left; margin-left: 15px; border-radius: 8px; text-align: left; padding-top:8px; line-height: 22px; position: relative;}
.userBetting li p{ font-size: 15px; color: #242424;border-top: 1px solid #afafaf;padding:0 10px;line-height:25px;} /**/
.userBetting li p:first-child{border-top: 0; }

.userBetting li p em{color: #dc5d55; float:right;}
.userBetting li p u{background-position: left center;
    background-repeat: no-repeat;float:right;padding-top:5px;
    background-size: 15px 15px;padding-right: 0px; font-size:12px; width: 15px; height: 15px; display: inline-block;}
/*.userBetting dd p:nth-child(2){ font-size: 24px; color: #ff4f4f;}*/
.userBetting li div{border-radius:0 0 8px 8px; background: #dc5d55; color: #fff; line-height: 25px; position: absolute; left: 0; bottom:0; width: 100%; padding: 0 20px;}
.userBetting li div em{position: absolute; border-left: 1px solid rgba(36, 36, 36, 0.08); top: 0px; height: 100%;right: 0;left: 0;margin: auto;width: 1px;}
.userBetting ul.right li{float: right;}
/*.userBetting ul.right li{ margin-left: 0; margin-right: 15px;}*/

.userBetting i{ width: 100%; height: 100%; display: none;background: url("../images/close.png") no-repeat center rgba(0,0,0,0.7); position: absolute; left: 0; top:0;background-size: contain;}

.userBetting h3{    text-align: center;   line-height: 21px;    font-size: 14px;    font-weight: normal;}
.userBetting ul{}
.userBetting ul.left li:first-child{ float: left;height:80px;}
.userBetting ul.left li:last-child{ margin-left: 15px;text-align: left;}
.userBetting ul.right li:first-child{float: right;height:80px;}
.userBetting ul.right li:last-child{ margin-right: 15px;}
.userBetting li:last-child{float: left; min-width: 100px;min-height: 35px; padding: 8px; line-height: 25px; font-size: 14px; color: #707070; border-radius: 8px; background: #f2f2f2;
    border: 1px solid #ebebeb; position: relative;max-width:250px;}
.userBetting li:last-child:after{ position: absolute; width: 0; height: 0; content: ""; border: 5px solid transparent;   top:50%; margin-top: -5px;}
.userBetting li:last-child:before{ position: absolute; width: 0; height: 0; content: ""; border: 5px solid transparent; top:50%; margin-top: -5px;}
.userBetting ul.right li:last-child:after{right: -10px;border-left: 5px solid #f9f9f9;}
.userBetting ul.right li:last-child:before{right: -11px; border-left: 5px solid #ebebeb;}
.userBetting ul.left li:last-child:after{left: -10px;border-right: 5px solid #f9f9f9;}
.userBetting ul.left li:last-child:before{left: -11px; border-right: 5px solid #ebebeb;}
.userBetting .date_span{
	display: inline-block;
    color: white;
    background: #dbdbdb;
    padding: 0 10px;
    border-radius: 20px;
}
.userBetting .sys_gly_left{
	width: 70%;
    float: left;
    margin-left: 15px;
    line-height: 45px;
    font-size: 17px;
}
.userBetting .sys_gly_right{
	width: 70%;
    float: left;
    margin-right: 15px;
    line-height: 45px;
    font-size: 17px;
}
.userBetting .sys_gly_left img{
    height: 33px;
    margin-left:5px;
}
.userBetting .sys_gly_right img{
    height: 33px;
    float: right;
    margin-right:5px;
}
.userBetting .acc_bet_order{
	margin-left: 15px;
    line-height: 25px;
    font-size: 17px;
    width: 50%;
}

.customer{ width: 38px; height: 38px; border-radius: 50%;  background: url("../images/kefu@2x.png") no-repeat center #fff; background-size: 100%; position: absolute; top:200px ; right:15px ; z-index: 999;}

/*开奖结果*/
.lottery{ background: #fff; position: fixed; left: 0; top: 156.5px; right: 0; z-index: 3;}
.lottery dl{overflow: hidden;}
.lottery dt{ font-size: 14px; color: #242424; line-height: 38px;}
.lottery li{ width: 35%; float: left; text-align: center;}
.lottery li:first-child{ width: 20%;}
.lottery li:last-child{ width: 45%;}
.lottery dd{ color: #b3b2b2; font-size: 12px; line-height: 26px; }
.lotteryBut{ width: 193px; margin: 10px auto;}
.lotteryBut button{ height: 32.5px;}

.icoRecord {
    background-image: url(../images/ico-record.png);
    background-size: auto 50%;
}

/*投注键盘*/
.bettingKey{ width: 100%; z-index: 4; background: #fff; overflow: hidden;margin-top: 45px;}
.bettingKey >ul{ width: 1000%; position: relative;}
.bettingKey ul li{ padding:0 10px; position: relative; float:left;}
.play1{ overflow: hidden; margin-bottom: 0 !important; text-align: center;}
.play1 li{ padding: 0 8px 8px 0 !important; color: #242424; width: 20%;  float: left;}
.play1 li div{ width: 100%; font-size: 16px; line-height: 41px; border-radius: 6px; overflow: hidden; position: relative; padding: 0 0 30px;background: #f7f6f8; margin-bottom: 0;}
.play1 li p{ height: 24px; background: #e09a5f; font-size: 14px; line-height: 24px; position: absolute; left:0; bottom: 0; width: 100%; color: #fff; font-size: 12px;}
.play1 button {background: #fff;font-size: 14px;color: #333;border-radius: 3px;border: 2px solid #5e97fe;}
.bettingKey div{ width: 100%; text-align: center; margin-bottom: 0.1em;}
.bettingKey div em{ width: 12px; height: 12px; border-radius: 50%; display: inline-block; background: #f7f6f8; margin-right: 5px;}
.bettingKey div em:last-child{ margin-right: 0;}
.bettingKey div em.active{background: #5e97fe;}

.play2{overflow: hidden; margin-bottom: 5px!important;}


.play2 li{ width: calc(100% / 7);   float: left;  padding:0 0 5px 5px !important;}
.play2 li div{font-size: 14px; border-radius: 4px; background: #f7f6f8;text-align: center; line-height: 24px;height: 44px; width: 100%; margin-bottom: 0;}
.play2 li p{ line-height: 12px; font-size: 12px; color: #666;}
.shuzi_1,.shuzi_4,.shuzi_7,.shuzi_10,.shuzi_16,.shuzi_19,.shuzi_22,.shuzi_25{color:#00DB00;}
.shuzi_2,.shuzi_5,.shuzi_8,.shuzi_11,.shuzi_17,.shuzi_20,.shuzi_23,.shuzi_26{color:#0000E3;}
.shuzi_3,.shuzi_6,.shuzi_9,.shuzi_12,.shuzi_15,.shuzi_18,.shuzi_21,.shuzi_24{color:#FF0000;}
.leftArrow{ width: 8px; height: 16px; background: url("../images/return1.png") no-repeat center; position: absolute; left: 8px; top:50%; margin-top: -8px; background-size: 100%;}
.rightArrow{ width: 8px; height: 16px; background: url("../images/return1.png") no-repeat center; position: absolute; right: 16px; top:50%; margin-top: -8px; background-size: 100%;transform:rotate(180deg);}

.bettingKey div.flickerplate .dot-navigation{ bottom:-10px;}
.bettingKey div.flickerplate .dot-navigation li{ padding: 0;}
.bettingKey div.flickerplate .dot-navigation .dot{width: 12px; height: 12px; border-radius: 50%; display: inline-block; background: #f7f6f8; margin-right: 5px;}
.bettingKey div.flickerplate .dot-navigation .dot.active{background: #5e97fe;}
.bettingKey div.flickerplate .arrow-navigation{ width: 25px;}
.bettingKey div.flickerplate .arrow-navigation.left .arrow{width: 8px; height: 16px; background: url("../images/return1.png") no-repeat center; position: absolute; left: 15px; top:50%; margin-top: -8px; background-size: 100%;}
.bettingKey div.flickerplate .arrow-navigation.right .arrow{ width:8px; height: 16px; background: url("../images/return1.png") no-repeat center; position: absolute; right: 15px; top:50%; margin-top: -8px; background-size: 100%;transform:rotate(180deg);}
/*投注金额*/
.betMoney{ position: absolute; bottom: 0; left:0; width: 100%; z-index: 4; background: #fff;padding:15px 30px 0;}
.betMoney ul{ clear: both; position: relative;}
.betMoney li{float: left; font-size: 21px; width: 60px; height: 45px; line-height: 45px; text-align: center; background-color: #f7f6f8; border-radius: 6px; margin-right: 25px; margin-bottom: 10px;}
.betMoney li.return2{ background: url("../images/return2.png") no-repeat center #626262;}
.betMoney ul li:last-child{ margin-right: 0;}
.betMoney li.betting{ height: 100px; position: absolute; right: 0; padding:15px; background-color: #626262; color: #fff; line-height: 35px;}
.betMoney li.delete{background-color: #626262;color: #fff;}

.betTixing{ top:-2px;background: #e0995e; height: 40px; width: 100%; position: relative; left: 0;  color: #fff; font-size: 14px; z-index: 10;}
.betTixing span{ display: block; text-align: center; width: 50%; float: left; border-right:1px solid #cdcdcd; box-sizing: border-box; margin:5px 0;line-height: 30px;}


/************************弹出层*****************************/
.popup,.popupAlert{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.7); z-index: 99999;}
.popupAlert .config{width: 279px; height: 175px; padding:25px 15px; position: absolute; margin: auto ; left:0; right:0; top:0; bottom:0; background: url("../images/popup-bg.png") no-repeat bottom left #fff; border-radius: 10px;}
.popupAlert .config p{ height: 68px; line-height:34px; overflow: hidden;}
.config{ width: 279px; height: 256px; padding:50px 15px; position: absolute; margin: auto ; left:0; right:0; top:0; bottom:0; background: url("../images/popup-bg.png") no-repeat bottom left #fff; border-radius: 10px;}
.config p{ font-size: 18px; line-height: 38px; text-align: center;}
.cigBtn{ margin-top: 20px; text-align: center;}
.cigBtn button{ width:115px;margin-left: 10px;}
.cigBtn button:first-child{ margin-left: 0;}
.cancel{ background: #cdcdcd;}
.configClose,.configClose1{ width: 27px; height: 27px; background: url("../images/configClose.png") no-repeat; background-size: 100%; position: absolute; right: -10px; top:-10px; z-index: 2}

.onlineConfig{ height: 351px; padding-top:64px;}
.config h3{ height: 64px; background: #b4cfff; line-height: 64px; position: absolute; left: 0; top: 0; width: 100%; z-index: 1; border-radius: 10px 10px 0 0; color: #0143b8; text-align: center; font-size: 14px;}
.configInput{padding:39px 15px 15px;}
.configInput input{ height:44px; width: 100%; border: 1px solid #dfdfdf; border-radius: 22px; padding:17px 15px; font-size: 14px;}
.configAcer{ color: #ff4f4f; font-size: 15px; float: right; padding-right:20px; background: url("../images/ico-acer.png") no-repeat right center; background-size: 15px;}



.config1{width:278px; padding:15px; position: absolute; left:50%; margin-left: -139px; top:50%; margin-top: -85px; background: url("../images/popup-bg.png") no-repeat bottom left #fff; background-size: 100%;
    border-radius: 10px;}
.config1 p {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    word-break:break-all; /*支持IE，chrome，FF不支持*/
    word-wrap:break-word;/*支持IE，chrome，FF*/
}


.cenMoneyWarp{width: 100%; height: 100%; display:none ; position: fixed; background: rgba(0,0,0,.3); left: 0; top: 0; right: 0; bottom:0; z-index: 99; box-sizing: border-box; padding:10px 10px 20px;}
.cenMoney{ min-height:275px; width: calc(100% - 40px); background: #fff; border-radius: 4px; box-sizing: border-box; position: absolute;top: 50%; margin-top: -112.5px; z-index: 100; padding: 5px;left:20px; border: 1px solid #ccc; box-shadow: 1px 1px 3px #ccc;}
.cenMoney h1{padding: 0 15px;  color: #dc5d55; border-bottom: 1px solid #ccc; font-size: 16px; line-height: 38px; margin:0 0 15px;}
.moneyInput{ font-size:14px;}
.moneyInput input{width: calc( 100% - 112.5px); height: 35px; padding: 2.5px;border: 1px solid #dc5d55;}
.text-ul{ padding:0 20px;}
.text-ul li{ display: inline-block; font-size: 12px; background: #dc5d55; padding: 10px; border-radius: 6px; color: #fff; margin:0 5px 15px;}



.customNews{min-height: 50px; width: 100%; background: #f7f6f8; padding:8px 6px; position: fixed; left: 0; bottom:0; z-index: 98;}
.customNews .textArea{width: calc(100% - 75px); min-height: 35px; max-height: 35px;position:relative; -webkit-overflow-scrolling: touch; overflow: hidden; overflow-y: auto; border: 1px solid #cfcfcf; float: left; border-radius: 2px; line-height:35px; font-size: 14px; padding:0 5px; background: #fff;}
.customNews button{ width: 65.5px; height: 36px; border-radius: 2px;float: right;}
.customNews .textArea div p{ text-align: left; position: relative;}
.customNews .textArea div  p em { display: inline-block; height: 35px; width: 20px;background: url("../images/close1.png") no-repeat center; background-size:100%;text-align: center; line-height: 1.5rem; position: absolute;
    right: .2rem;  top: 0;}
.customNews #bettingBtu1,.customNews .keyboard{display:none;}
.customNews img.xiaolian{
	position: absolute;
    width: 50px;
    top: 2px;
    right: 70px;
}
.customNews.betRoom{
	animation-name: fadeInUp;
}
.customNews.betRoom .textArea{
	    width: calc(100% - 150px);
	    max-height:105px;
}
.customNews.xiaolianRoom{
	animation-name: fadeInUp;
}
/*.customNews .bettingKey{display:none;}
.customNews.betRoom .bettingKey{display:block;opacity:1;}*/
.customNews .xiaolianList{display:none;}
.customNews.xiaolianRoom .xiaolianList{display:block;}
.customNews.betRoom img.xiaolian,.customNews.betRoom #speak,.customNews.betRoom #bettingBtu{display: none !important;}
.customNews.betRoom #bettingBtu1,.customNews.betRoom .keyboard{display:block !important;}
.customNews .xiaolianList{margin-top: 45px; border-top: 1px solid #ccc;}
.customNews .xiaolianList img{width:30px;margin: 0px 2.7% 2%;}
.bgCol{ background: #dc5d55}


.jianpanTitle{ height: 34px; line-height: 34px; color: #fff; background: #dc5d55; font-size: 14px; position: relative;}
.jianpanTitle .rightAr{ width: 34px; height: 34px; position: absolute; right:15px; top: 0;}
.jianpanTitle .rightAr:after{ width: 0; height: 0; content: ""; border: 10px solid transparent; border-left:10px solid #fff; position: absolute; top: 50%; margin-top: -10px;}
.jianpanTitle .leftAr{ width: 34px; height: 34px; position: absolute; left: 0; top:0;}
.jianpanTitle .leftAr:after{ width: 0; height: 0; content: ""; border: 10px solid transparent; border-right:10px solid #fff; position: absolute; top: 50%; margin-top: -10px;}



.play3{ padding-top: 20px;}
.play3 ul{ margin-top: 15px;}
.play3 li {
    padding: 0 7px 18px;
    float: left;
    width:25%;
    height: 75px;
    padding: 0;
}
.play3 li div{
    height: 75px;
    width: 100%;
    color: #242424;
    background: #f7f6f8;
    font-size: 20px;
    line-height: 40px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}
.bettingKey ul li .play3 li {
    padding: 0 7px 18px;
    height: 75px;
    /*margin-bottom: 12px;*/
}
.play3 li p {
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
}
.desc{ font-size: 14px;}
.bettingKey ul li .play3 li:nth-child(1){ color: #df4d69;}
.bettingKey ul li .play3 li:nth-child(2){ color: #4dcd70;}
.bettingKey ul li .play3 li:nth-child(3){ color: #5e97fe;}
.bettingKey ul li .play3 li:nth-child(4){ color: #feb55e;}
.red1{ background: #df4d69;}
.lv{ background: #4dcd70;}
.lan{ background: #5e97fe;}
.huang{ background: #feb55e;}



.quxiao{ position: fixed; background: #f7f6f8; left: 0; top:197px; width: 100%; color: #242424; padding: 15px; z-index: 101;}
.quxiao li{ line-height: 40px;}
.quxiao li label{ margin-right: 10px;}
.quxiao li label:nth-child(2){ color: #ff4f4f;}
.quxiao li label i.icoAcer{ width: 15px; height: 15px; display: inline-block; padding-right: 0; background: url("../images/ico-acer.png") no-repeat 0 0; background-size: 100%; margin:0 10px; }
.quxiao li em.close{ width: 20px; height: 20px; float: right; margin-top: 10px; background: url("../images/close1.png") no-repeat; background-size: 100%;}

.quxiao ul{ max-height: 240px; overflow: auto;}
.bettingKey div.play{padding:10px;line-height: 30px;}


/*提示*/
.popupAlert .touzhu_ts span{
	position: absolute;
	bottom:30px;
	left:10px;
}
.popupAlert .touzhu_ts em{
	position: absolute;
	bottom:8px;
	left:6px;
} 