p{
	margin: 0;
}
body{
	background-color: #EBEBEB;
}
input, select, option, button, textarea {
    font-size: 100%;
    vertical-align: middle;
    outline: 0 none;
    border-radius: 0px;
    border: none;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.cbefore:before{
	content: "";
	display: table;
}
.star-fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
/*首页*/
section {
    padding:76px 0 88px;
    box-sizing: border-box;
    background-color: #ebebeb;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
.shouye-body-banner{
	width: 96%;
    margin: 10px 2%;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding:2%;
}
.swiper-slide>a{
	display: block;
	width: 100%;
}
.swiper-slide>a>img{
	width: 100%;
	min-height: 130px;
	height: 100%;
}
.shouye-tit{
	padding-right: 10px;
	width: 100%;
	background-color: #fff;
	height: 73.5px;
	margin-bottom: 15px;
}
.shouye-tit>div:nth-child(1){
	float:left;
}
.shouye-tit>div:nth-child(2){
	position: relative;
	float:right;
	height: 73.5px;
}
.shouye-sw-box{
	display: block;
	overflow: hidden;
	/*height: 130px;*/
	width: 100%;
}
.up{
	width: 100%;
	height: 35px;
}
.up>img{
	float:left;
	margin-left: 10px;
	width: 14px;
	margin-top: 10px;
	margin-right: 10px;
}
.up>p{
	border-bottom: 1px solid #e6e6e6;
	line-height: 34px;
	font-size: 13px;
	color: #999;
	float:left;
}
.down{
	width: 100%;
	height: 38.5px;
}
.down>img{
	float:left;
	margin-left: 10px;
	width: 18px;
	margin-top: 9.5px;
	margin-right: 6px;
}

.down>p{
	line-height: 34px;
	font-size: 13px;
	color: #999;
	float:left;
}

.tit-right{
	font-size: 40px;
	color: #3b85ff;
	color: #2E71E0;
	height: 52px;
}
.tit-right>span{
	font-size: 18px;
	color: #999;
}
.tit-right2{
	position: absolute;
	left: 4px;
	bottom: 2px;
	font-size: 14px;
	color: #999;
}
.shouye-fangjian{
	width: 100%;
}
.shouye-fangjian>div:nth-child(1){
	/*width: 47.5%;*/
	width: 50%;
	float:left;
	position: relative;
}
.shouye-fangjian>div:nth-child(2){
	/*width: 47.5%;*/
	width: 50%;
	float: left;
	position: relative;
}
.shouye-fangjian>div>img{
	width: 100%;
}
.shouye-fangjian>div>a:nth-child(1){
	display: block;
}
.shouye-fangjian>div>a:nth-child(2){
	width: 60%;
	display: block;
	position: absolute;
	bottom: 8%;
	left: 20%;
}
.shouye-fangjian>div>a>img{
	width: 100%;
}
.shouye-fixed-foot{
	width: 100%;
	height: 50px;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
}
.shouye-fixed-foot>a{
	width: 25%;
	height: 50px;
	display: block;
	float:left;
}
.shouye-fixed-foot>a>img{
	width: 24px;
	margin: 0 auto;
	margin-top: 7px;
}
.shouye-fixed-foot>a>p{
	font-size: 12px;
	color: #999;
	text-align: center;
}
.shouye-fixed-foot>a>.fixed-color{
	color: #3B85FF;
}
.shouye-fixedtop{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #393a3f;
	padding: 0 15px;
	z-index: 200;
}
.caozuo-btn{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 15px;
	left: 15px;
}
.jia-btn{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 15px;
	right: 15px;
}
.kefu-btn{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 15px;
	right: 45px;
}
.shouye-fixedtop>p{
	font-size: 16px;
	color: #fff;
	line-height: 50px;
	text-align: center;
}
.left-up{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 300;
	display: none;
}
.beijing-leftup{
	width: 100%;
	height: 100%;
}
.left-up-box{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 13px;
	padding-top: 33px;
}
.left-up-img1{
	display: block;
	margin-bottom: 15px;
	width: 20px;
	height: 20px;
}
.left-up-headimg{
	width: 72px;
	height: 72px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}
.left-up-name{
	margin-top: 15px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 16px;
	color: #333;
}
.left-up-btnbox{
	width: 100%;
	margin-bottom: 15px;
}
.left-up-btnbox>div{
	width: 50%;
	float:left;
}
.left-up-btnbox>div>a{
	width: 70%;
	height: 32px;
	background-color: #FFC81F;
	color: #691600;
	text-align: center;
	line-height: 32px;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
}
.left-up-money{
	padding: 0 20px;
	margin-bottom: 12px;
}
.left-up-money-left>img{
	float:left;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.left-up-money-left>span{
	font-size: 12px;
	color: #333;
	float:left;
	line-height: 20px;
}
.left-up-money-left{
	float:left;
}
.left-up-money-right>span:nth-child(1){
	color: #3B85FF;
	line-height: 20px;
	margin-right: 10px;
	font-size: 12px;
	float:left;
}
.left-up-money-right>span:nth-child(2){
	color: #c3bfbc;
	line-height: 20px;
	font-size: 12px;
	float:left;
}
.left-up-money-right{
	float:right;
}
.tiaozhuan-left-up{
	width: 100%;
	padding: 0 15px;
}
.tiaozhuan-left-up>a{
	width: 100%;
	display: block;
	padding: 12px 5px;
	border-bottom: 1px solid #ced4c2;
}
.tiaozhuan-left-up>a>img{
	width: 20px;
	height: 20px;
	float:left;
	margin-right: 10px;
}
.tiaozhuan-left-up>a>p{
	font-size: 12px;
	line-height: 20px;
	color: #333;
	float:left;
}
.left-up-btnimg{
	position: absolute;
	width: 100%;
	bottom: 20px;
	left: 0;
}
.left-up-img2{
	width: 20px;
	height: 20px;
	margin: 0 auto;
}

.lay-one{
	position: fixed;
	top: 55px;
	right: 9px;
	width: 110px;
	z-index: 3000;
	height: 94px;
	display: none;
}
.lay-one>img{
	width: 100%;
	height: 94px;
}
.lay-one-fixed{
	width: 100%;
	height: 88px;
	position: absolute;
	top: 6px;
}
.lay-one-fixed>a{
	display: block;
	width: 100%;
	height: 47px;
}
.fixed-erro{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	z-index: 500;
}
.fixed-erro-box{
	padding-bottom: 30px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	z-index: 500;
}

.fixed-erro-box>p:nth-child(1){
	width: 100%;
	height: 42px;
	line-height: 41px;
	border-bottom: 1px solid #EFEFF4;
	font-size: 18px;
	text-align: center;
}
.fixed-erro-box>p:nth-child(2){
	width: 100%;
	line-height: 42px;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	padding: 0 5px;
}
.fixed-erro-box>p:nth-child(2)>a{
	display: inline-block;
	color: #3c85ff;
	text-decoration: underline;
}
.erro2{
	background-color: rgba(0,0,0,0.5);
}
.erro3{
	background-color: rgba(0,0,0,0.5);
}
.erro-btn{
	display: block;
	width: 80%;
	margin: 0 auto;
	background-color: #FFD40A;
	color: #691600;
	text-align: center;
	line-height: 40px;
	height: 40px;
	border-radius: 5px;
	font-size: 17px;
}
.choujiang-box{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.choujiang-box>img{
	width: 100%;
}
.choujiang-box-box{
	position: absolute;
	top: 60%;
	width: 100%;
}
.choujiang-box-box>p:nth-child(1){
	font-size: 14px;
	color: #333;
	text-align: center;
	margin-bottom: 10px;
}
.choujiang-box-box>p:nth-child(2){
	font-size: 14px;
	color: #ff6f10;
	text-align: center;
	margin-bottom: 30px;
}
.choujiang-btnbox{
	width: 100%;
}
.choujiang-btnbox>div{
	width: 50%;
	float:left;
}
.choujiang-btnbox>div:nth-child(1)>a{
	display: block;
	width: 50%;
	height: 30px;
	background-color: #fe761e;
	color: #fff;
	margin: 0 auto;
	border-radius: 15px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}
.choujiang-btnbox>div:nth-child(2)>a{
	display: block;
	width: 50%;
	height: 30px;
	background-color: #e8d7a9;
	color: #ac9d62;
	margin: 0 auto;
	border-radius: 15px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}
.displayNone{
	display: none;
}
/*重构*/
.horn {
    padding-left: 75px;
    background: url(../images/ico-horn.png) no-repeat 20px center #fff;
    height: 57px;
    line-height: 57px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}
.indexContent {
    /*background: url(../images/indexBg.png) no-repeat;*/
    padding-top: 10px;
    background-size: 100%;
    position: relative;
    margin: 10px 2%;
}
.indexContent>img{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.clearfix {
    zoom: 1;
    clear: both;
}
.indexTab {
    padding: 0 50px;
    overflow: hidden;
    position: relative;
}
.indexTab li {
    float: left;
    height: 77px;
    line-height: 77px;
    text-align: center;
    margin-right: 2%;
   /* background: url(../images/button.png) no-repeat;*/
    font-size: 1.8em;
    color: #fff;
    background: #dc5d55;
    border-radius: 10px 10px 0 0;
    width:49%;
}
.indexTab li.lastMargin,.tabContent li.lastMargin{
	margin-right:0;
}
.indexTab li.active {
    /*background: url(../images/button1.png) no-repeat;*/
    background:#ebebeb;
    color: #222;
}
.tabContent {
    padding: 0px 20px 20px 20px;
    position: relative;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.tabC {
    background: #eff0eb;
    padding: 17px 17px 0;
    border-radius: 18px;
    overflow: hidden;
}
.tabC li {
    float: left;
    position: relative;
    overflow: hidden;
    margin-right:2%;
    margin-bottom: 17px;
    height: 250px;
    width:49%;
}
.tabC li img {
    width: 100%;
    height: 100%;
}
img {
    vertical-align: top;
}
.tabC li p {
    position: absolute;
    width: 100%;
    height: 35px;
    line-height: 35px;
    z-index: 3;
    bottom: 0;
    left: 0;
    font-size: 1em;
    color: #fff;
    background: url(../images/ico-user1.png) no-repeat 10px center rgba(0,0,0,0.3);
    text-align: left;
    padding-left:45px;
}

.popup, .popupAlert {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
}
.popupAlert{
	background: rgba(0,0,0,0.7);
}
.config {
    width: 557px;
    height: 512px;
    padding: 100px 30px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/popup-bg.png) no-repeat bottom left #fff;
    border-radius: 20px;
}
.config h3 {
    height: 128px;
    background: #dc7973;
    line-height: 128px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    border-radius: 20px 20px 0 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
}
.configInput {
    padding: 78px 30px 30px;
}
.configInput input {
    height: 88px;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 44px;
    padding: 25px 30px;
    font-size: 30px;
}
.button {
    margin: 200px 30px 0;
}
button {
    width: 100%;
    height: 84px;
    display: inline-block;
    background: #dc5d55;
    font-size: 30px;
    color: #fff;
    border-radius: 42px;
}
.configClose {
    width: 54px;
    height: 54px;
    background: url(../images/configClose.png) no-repeat;
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 2;
}

.index_shuom{
	background: #ffffff;
	border:1px solid #dbdbdb;
	overflow: hidden;
    line-height: 55px;
    font-size: 20px;
    margin:0 2%;
}
.index_shuom .index_shuom_left{
	float:left;
	width:75%
}
.index_shuom .index_shuom_left ul li:first-child{
	border-bottom:1px solid #dbdbdb;
	position: relative;
}
.index_shuom .index_shuom_left ul li:first-child i{
	background-image: url("../images/index_1.png");
	width:37px;
	height:35px;
	position: absolute;
	left:10px;
	top:10px;
	background-size:100%;
}
.index_shuom .index_shuom_left ul li:last-child{
	position: relative;
}
.index_shuom .index_shuom_left ul li:last-child i{
	background-image: url("../images/index_2.png");
	width:37px;
	height:35px;
	position: absolute;
	left:10px;
	top:10px;
	background-size:100%;
}
.index_shuom .index_shuom_left ul li span{
	display: inline-block;
	text-indent: 60px;
}
.index_shuom .index_shuom_right{
	float:right;
	margin-right:20px;
	margin-top:10px;
	position: relative;
}
.index_shuom .index_shuom_right span{
	display: inline-block;
	font-size:50px;
	color:#ea446a;
	font-weight: bold;
}
.index_shuom .index_shuom_right font{
	display: inline-block;
	position: absolute;
	left:10px;
	top:40px;
}
.popupAlert .popup_header img{
	position: absolute;
    right: 76px;
    border: 2px dashed #ffffff;
    padding: 10px;
    border-radius: 10px;
    width:76px;
}
.popupAlert .popup_top img{
	width:100%;
	position: absolute;
	top:3%;
}
.popupAlert .popup_footer img{
	width: 100%;
    position: absolute;
    top: 65%;
}