.header-plus .kefuwrapper{
	width:initial !important;
}
.header-plus .kefuwrapper .kefu{
	width:initial !important;
}
.header-plus .cf ul li {
    float: left;
    margin-top: 24px;
}
.header_d026_top li{
	position: relative;
	margin-right:5px;
}
.header_d026_top i.icon{
	background: rgba(0, 0, 0, 0) url(../../images/reg_icon.png) repeat scroll 0 0;
    display: block;
    height: 23px;
    left: 1px;
    position: absolute;
    top: 2px;
    width: 30px;
}
.header_d026_top a.icon{
	background: rgba(0, 0, 0, 0) url(../../images/index_optimize.png) repeat scroll 0 -90px;
    display: inline-block;
    border: none;
    margin: 0;
    height: 26px;
    width: 72px;
}
.header_d026_top .icon_u{
	background-position: 0 -262px !important;
}
.header_d026_top .icon_p{
	background-position: 0 -290px !important;
}
.header_d026_top .icon_code{
	background-position: 0 -319px !important;
}
.header_d026_top .top-reg-int,.header_d026_top .top-codes-int{
	width: 135px;
    height: 27px;
    border-radius: 2px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    padding-left: 30px;
}
.header_d026_top .top-codes-int{
	width: 117px;
	padding-left:50px;
}
.header_d026_top input:focus {
    border-color: #f1c774;
    border-width: 2px;
}
.header_d026_top .login_img{
	position: absolute;
	left: 2px;
    top: 2px;
    width: 45px;
    height: 23px;
}