<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">

<taglib>
	<tlib-version>1.0</tlib-version>
	<jsp-version>1.1</jsp-version>
	<short-name>permission</short-name>
	<uri>/permission</uri>
	<tag>
		<name>permission</name>
		<tag-class>com.game.permission.PermissionTag</tag-class>
		<body-content>JSP</body-content><!--这里如果设为empty,则无body -->
		<attribute>
			<name>url</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>login</name>
		<tag-class>com.game.permission.LoginTag</tag-class>
		<body-content>JSP</body-content><!--这里如果设为empty,则无body --><attribute>
			<name>login</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
</taglib>
