#navTab_content table,.games{
	border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 12px;
}
.table_ball .head th ,.games th{
    background: #FF9726;
    color: #fff;
    font-weight: normal;
    height: 28px;
}
.table_ball .odds, .games .odds {
    font-weight: bold;
}
#navTab_content table .amount input[type=text] {
    width: 48px;
    border: #b0b0b0 1px solid;
    padding: 3px 2px;
}
.mark_num {
    background: url(../images/balls_bg.png) no-repeat;
    border-radius: 25px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 0;
    text-align: center;
    width: 25px;
    color: #595959;
}
.mark_01, .mark_02, .mark_07, .mark_08, .mark_12, .mark_13, .mark_18, .mark_19, .mark_23, .mark_24, .mark_29, .mark_30, .mark_34, .mark_35, .mark_40, .mark_45, .mark_46 {
    background-position: 1.5px -207px;
}
.mark_03, .mark_04, .mark_09, .mark_10, .mark_14, .mark_15, .mark_20, .mark_25, .mark_26, .mark_31, .mark_36, .mark_37, .mark_41, .mark_42, .mark_47, .mark_48 {
    background-position: -33.5px -207px;
}
.mark_05, .mark_06, .mark_11, .mark_16, .mark_17, .mark_21, .mark_22, .mark_27, .mark_28, .mark_32, .mark_33, .mark_38, .mark_39, .mark_43, .mark_44, .mark_49 {
    background-position: -69px -207px;
}
#navTab_content table th, #navTab_content table td ,.games th,.games td{
    border: 1px solid;
    text-align: center;
    padding: 0;
}
#navTab_content table td,.games td {
    height: 33px;
    line-height: 33px;
    cursor: pointer;
}
.tab{line-height: 30px;height: 30px;}

.play_tab{cursor: pointer;}
.play_tab .pointer{vertical-align: -1px;}

/*快捷投注css*/
.moneylist {
    background: #378263 none repeat scroll 0 0;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
.moneylist table tr td.moneylist-tit {
    line-height: 30px;
    text-align: center;
}
.moneylist table tr td {
    border: 1px solid #ffffff;
    height: 20px;
    width: 50px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}
.moneylist table tr th{text-align: center;}
.moneylist table tr td:hover{
	background-color:#000000 !important;
}