html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}

html {
	line-height: 1
}

ol, ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

q, blockquote {
	quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none
}

a img {
	border: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary {
	display: block
}

.r2 {
	min-height: 126px
}

.r3 {
	min-height: 348px;
	overflow: hidden
}

.r4 {
	min-height: 220px
}

.r5 {
	min-height: 535px
}

.r6 {
	min-height: 280px
}

.r2_c1 {
	float: left;
	width: 281px;
	height: 126px;
	margin-right: 7px;
	position: relative
}

.r2_c1 .clock_ico {
	position: absolute;
	left: 0;
	top: 0;
	width: 96px;
	height: 126px;
	background: url(../images/clock.png) 15px 15px no-repeat
}

.r2_c1 .clock_ico a {
	position: absolute;
	left: 5px;
	bottom: 8px;
	display: block;
	width: 21px;
	height: 21px;
	color: #fff
}

.r2_c1 .clock_ico a:hover {
	background-position: -32px -58px
}

.r2_c1 .clock {
	position: absolute;
	left: 96px;
	top: 20px;
	width: 185px;
	height: 126px
}

.r2_c1 .clock span {
	display: block;
	font-size: 13px;
	margin-bottom: 5px
}

.r2_c1 .clock span.status {
	margin-left: 10px;
	float: left
}

.r2_c1 .clock span.clockDuty {
	float: left
}

.r2_c1 .clock .clock_no {
	font-weight: bold;
	font-size: 41px;
	font-family: Arial;
	margin-bottom: 15px
}

.r2_c2 {
	float: left;
	width: 455px;
	height: 126px;
	overflow-y: auto
}

.open_result_no {
	margin: 15px auto;
	text-align: center
}

.open_result_no span {
    display: inline-block;
    width: 70px;
    height: 60px;
    margin: 0 3px;
    text-align: center;
    line-height: 60px;
    font-size: 39px;
    font-family: Arial;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0.8);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;  
    position: relative; 
}
.open_result_no span ul{  
    list-style: none;  
    left:0;  
    top:0;  
    position: absolute;  
}  

.open_result_no span ul li{  
 	height: 60px;
	width: 70px;
} 
.open_result_no.balls_10 span ,.open_result_no.balls_10 span ul li{
    width: 33px;
    font-size: 30px
}

.open_result_no.balls_7 span ,.open_result_no.balls_7 span ul li{
    width: 50px;
    font-size: 30px
}

.open_result_txt {
	text-align: center;
	font-size: 13px
}

.r2_c2_hover {
	display: none
}

.r2_c2_hover table {
	font-size: 13px;
	margin: 5px auto 5px 15px
}

.r2_c2_hover table th {
	text-align: center;
	color: #ccc;
	padding: 5px;
	font-weight: 100
}

.r2_c2_hover table td {
	text-align: center;
	border-top: 1px solid #ccc;
	padding: 5px
}

.r2_c3 {
	float: right;
	width: 219px;
	height: 126px;
	position: relative
}

.r2_c3 h3 {
	font-weight: normal;
	text-align: center;
	height: 22px;
	line-height: 22px;
	border-bottom: 1px solid #000
}

.r2_c3 .notime {
	width: 109px;
	height: 100px;
	padding-top: 3px;
	border-left: 1px solid #000;
	float: left;
	box-sizing: border-box
}

.r2_c3>h3+.notime {
	border-left: 0
}

.r2_c3 ul li {
	width: 113px;
	height: 20px;
	margin-bottom: 1px
}

.r2_c3 ul li span {
	width: 33%;
	display: inline-block;
	text-align: center
}

.r2_c3 ul li span:first-child {
	text-align: right
}

.r2_c3 ul li span+span+span {
	text-align: left
}

.r3 .row_top ul {
	margin: 0 0 0 10px
}

.r3 .row_top li {
	float: left;
	margin: 10px 10px 0 0
}

.r3 .row_top .select_random {
	float: right;
	margin-right: 10px;
	margin-top: 10px
}

.r3 .row_top .select_random a {
	padding-right: 15px
}

.r3 .row_con {
	padding-bottom: 10px;
	zoom: 1;
	overflow: hidden;
	position: relative
}

.r3 .row_con:after {
	clear: both;
	content: ""
}

.r3 .row_con_c1 {
	width: 270px;
	height: 250px;
	float: left;
	margin: 10px 0 0 10px
}

.r3 .row_con_c1 .row_con_c1_con {
	padding: 8px 5px;
	height: 178px
}

.r3 .row_con_c1 .row_con_c1_con .ch_radio {
	width: auto;
	margin: 0;
	font-size: 13px;
	line-height: 1.5em;
	border-collapse: separate;
	border-spacing: 5px;
	border-spacing: 5px \9
}

.r3 .row_con_c1 .row_con_c1_con .ch_radio th {
	border-right: 1px solid gray;
	padding: 2px 6px 2px 0;
	font-weight: 100;
	text-align: right
}

.r3 .row_con_c1 .row_con_c1_con .ch_radio td {
	padding: 2px 0;
	text-align: left
}

.r3 .row_con_c1 .row_con_c1_con .ch_radio td input[type=radio] {
	vertical-align: -3px;
	margin-left: 0
}

.r3 .row_con_c1 .row_con_c1_btm {
	padding: 10px 5px 5px 7px;
	height: 41px;
	font-size: 13px
}

.r3 .row_con_c1 .row_con_c1_btm .ico {
	vertical-align: -4px
}

.r3 .row_con_c1 .row_con_c1_btm span a {
	display: inline-block;
	padding: 0 2px;
	color: #fff;
	border: 1px solid #fff;
	font-size: 9px;
	height: 16px;
	line-height: 16px
}

.r3 .row_con_c1 .row_con_c1_btm span a:hover {
	color: #ff0;
	border: 1px solid #ff0
}

.r3 .row_con_c1 .row_con_c1_btm span {
	display: inline-block;
	line-height: 1.5em
}

.r3 .row_con_c1 .row_con_c1_btm span:last-child {
	vertical-align: -9px
}

.r3 .row_con_c2 {
	float: left;
	margin: 10px 0 0 10px
}

.r3 .row_con_c2 .radio_select {
	font-size: 13px;
	margin-bottom: 5px
}

.r3 .row_con_c2 .radio_select input {
	vertical-align: -3px
}

.r3 .row_con_c2 .num_btn {
	height: 41px;
	padding-top: 3px;
	line-height: 45px;
	margin-bottom: 2px
}

.r3 .row_con_c2 .num_btn:last-child {
	border-bottom: 0
}

.r3 .row_con_c2 .num_btn span, .r3 .row_con_c2 .num_btn2 span {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin: 5px 0 5px 2px;
	line-height: 36px;
	text-align: center;
	position: relative
}

.r3 .row_con_c2 .num_btn span.digits, .r3 .row_con_c2 .num_btn4 span.digits
	{
	color: #000;
	behavior: url("./public/css/PIE.htc");
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin-right: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: bold
}

.r3 .row_con_c2 .num_btn span a, .r3 .row_con_c2 .num_btn2 span a {
	display: block;
	width: 36px;
	height: 36px;
	line-height: 33px;
	text-align: center;
	border: 2px solid #fff;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	behavior: url("./public/css/PIE.htc");
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.r3 .row_con_c2 .num_btn span a:hover, .r3 .row_con_c2 .num_btn span a.selected,
	.r3 .row_con_c2 .num_btn2 span a:hover, .r3 .row_con_c2 .num_btn2 span a.selected,
	.r3 .row_con_c2 .num_btn3 span a:hover, .r3 .row_con_c2 .num_btn3 span a.selected,
	.r3 .row_con_c2 .num_btn4 span a:hover, .r3 .row_con_c2 .num_btn4 span a.selected,
	.r3 .row_con_c2 .no_sum .num_btn3 span a:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	-pie-background: rgba(0, 0, 0, 0.5)
}

.r3 .row_con_c2 .num_btn span a.selected:hover, .r3 .row_con_c2 .num_btn2 span a.selected:hover,
	.r3 .row_con_c2 .num_btn3 span a.selected:hover, .r3 .row_con_c2 .num_btn4 span a.selected:hover
	{
	background-color: rgba(0, 0, 0, 0.9);
	-pie-background: rgba(0, 0, 0, 0.9)
}

.r3 .row_con_c2 .num_btn span s, .r3 .row_con_c2 .num_btn2 span s, .r3 .row_con_c2 .num_btn3 span s,
	.r3 .row_con_c2 .num_btn4 span s, .r3 .row_con_c2 .num_btn span i, .r3 .row_con_c2 .num_btn2 span i,
	.r3 .row_con_c2 .num_btn3 span i, .r3 .row_con_c2 .num_btn4 span i {
	text-decoration: none;
	position: absolute;
	top: -20px;
	right: -5px;
	font-size: 10px
}

.r3 .row_con_c2 .num_btn .sqm {
	margin-left: 15px
}

.r3 .row_con_c2 .num_btn .sq {
	color: #333;
	margin-right: 0;
	margin-left: 1px;
	border: 1px solid #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url("./public/css/PIE.htc");
	background-color: rgba(255, 255, 255, 0.5);
	-pie-background: rgba(255, 255, 255, 0.5)
}

.r3 .row_con_c2 .num_btn span>a.quickSelect:hover, .r3 .row_con_c2 .num_btn span>a.quickSelect.selected
	{
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	-pie-background: rgba(0, 0, 0, 0.5)
}

.r3 .row_con_c2 .num_btn span>a.quickSelect:hover:hover, .r3 .row_con_c2 .num_btn span>a.quickSelect.selected:hover
	{
	background-color: rgba(0, 0, 0, 0.9);
	-pie-background: rgba(0, 0, 0, 0.9)
}

.r3 .row_con_c2 .num_btn span>a.quickSelect.selected:hover {
	background-color: rgba(0, 0, 0, 0.9);
	-pie-background: rgba(0, 0, 0, 0.9)
}

:root .r3 .row_con_c2 .num_btn span>a.quickSelect {
	filter: none
}

.no_sum {
	margin: 8px 0 0 0
}

.no_sum_title {
	float: right;
	width: 25px;
	font-size: 15px;
	padding: 4px;
	text-align: center;
	line-height: 1.2em;
	background-color: #29abe2;
	color: #4d4d4d;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	behavior: url("./public/css/PIE.htc");
	background-color: rgba(255, 255, 255, 0.8)
}

.no_sum .num_btn2 {
	margin-left: 8px;
	line-height: 39px
}

.r3 .row_con_c2 .no_sum .num_btn {
	margin-left: 8px
}

.r3 .row_con_c2 .no_sum .num_btn3 {
	height: 39px;
	padding-top: 3px;
	margin-left: 8px;
	line-height: 39px
}

.r3 .row_con_c2 .no_sum .num_btn3 span {
	display: inline-block;
	height: 22px;
	margin: 0 6px 0 1px;
	line-height: 22px;
	text-align: center;
	position: relative
}

.r3 .row_con_c2 .no_sum .num_btn3 span a {
	display: block;
	height: 22px;
	line-height: 22px;
	padding: 5px 15px;
	text-align: center;
	border: 2px solid #fff;
	color: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	behavior: url("./public/css/PIE.htc")
}

.r3 .row_con_c2 .num_btn4 {
	width: 190px;
	height: 39px;
	padding-top: 4px;
	margin: 0 0 5px 8px;
	line-height: 39px;
	border-bottom: 1px solid gray
}

.r3 .row_con_c2 .num_btn4:last-child {
	border-bottom: 0
}

.r3 .row_con_c2 .num_btn4 span {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 3px;
	line-height: 24px;
	text-align: center;
	position: relative
}

.r3 .row_con_c2 .num_btn4 span a {
	display: block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border: 1px solid #fff;
	color: #fff;
	margin-right: 0;
	margin-left: 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url("./public/css/PIE.htc")
}

.r3 .row_con_c2 .num_btn4 span s {
	top: -18px;
	right: -8px
}

.no_input_frame {
	height: 218px;
	font-size: 13px
}

.no_input_chk input[type=checkbox] {
	vertical-align: -3px;
	margin-left: 15px
}

.no_input_chk input[type=checkbox]:first-child {
	margin-left: 5px
}

.no_input_tips {
	margin-top: 5px;
	color: #fff
}

.no_input_tips2 {
	margin-top: 5px;
	color: #fff;
	text-align: right;
	margin-top: 5px;
	padding-right: 10px
}

.no_input_tips2 .ico {
	vertical-align: -14px
}

.no_input_box textarea {
	width: 655px;
	height: 144px;
	font-size: 14px;
	background: transparent url(../images/input_bg.png) center center
		no-repeat;
	border: 1px solid #ccc;
	color: #fff;
	resize: none
}

.four textarea {
	height: 215px
}

.r3 .row_btm {
	padding: 10px;
	height: 48px
}

.r3 .row_btm>div {
	height: 48px;
	line-height: 48px;
	margin-right: 3px;
	float: left;
	border-right: 1px solid #b3b3b3
}

.r3 .row_btm .no_ranger {
	border: 0;
	width: 215px;
	position: relative;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none
}

.r3 .row_btm .no_ranger .ico_5 {
	position: absolute;
	left: 0;
	top: 7px
}

.r3 .row_btm .no_ranger .layout-slider {
	position: absolute;
	left: 80px;
	top: 10px;
	width: 135px
}

.r3 .row_btm .no_ranger .jslider .jslider-value {
	background: 0
}

.r3 .row_btm .no_ranger .jslider .jslider-label {
	color: #CCC
}

.r3 .row_btm .no_value {
	margin: 0 10px;
	padding: 0 10px 0 0;
	width: 157px
}

.r3 .row_btm .no_amount {
	width: 180px
}

.r3 .row_btm .no_input {
	width: 150px;
	margin-left: 7px
}

.r3 .row_btm .no_b1 {
	border: 0;
	margin-left: 5px
}

.r3 .row_btm .no_b2 {
	margin-left: 5px
}

.r3 .row_btm .no_value s {
	color: gray;
	text-decoration: none
}

.r3 .row_btm .no_amount i {
	display: inline-block;
	vertical-align: -5px
}

.r3 .row_btm .no_value span, .r3 .row_btm .no_amount span {
	display: inline-block;
	line-height: 22px
}

.r3 .row_btm .no_input input, .r3 .row_btm .no_input select {
	width: 48px;
	height: 28px;
	text-align: left;
	vertical-align: middle;
	box-sizing: border-box;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	behavior: url("./public/css/PIE.htc")
}

.r3 .row_btm .no_input select {
	width: 85px;
	height: 28px
}

.r3 .row_btm .no_b1 a, .r3 .row_btm .no_b2 a, .r3 .row_btm .no_b2 .btn2
	{
	font-size: 13px;
	margin-right: 7px
}

.r3 .row_btm .no_b1 a i, .r3 .row_btm .no_b2 a i {
	margin-right: 3px
}

.r4_c1 {
	float: left;
	width: 790px;
	height: 220px
}

.r4_c2 {
	float: right;
	width: 170px;
	height: 220px;
	overflow: none
}

.r4 .row_con {
	height: 120px;
	overflow-y: auto
}

.r4 .row_btm .btn_row ul {
	margin-left: 10px
}

.r4 .row_btm .btn_row li {
	float: left;
	margin: 10px 10px 0 0;
	height: 30px;
	line-height: 30px
}

.r4 .row_btm .btn_row li:first-child {
	border-right: 1px solid #b3b3b3;
	padding-right: 10px
}

.r4 .row_btm .btn_row .scsp {
	border-left: 1px solid #b3b3b3;
	padding-left: 10px
}

.r4 .row_btm .btn_row .right {
	float: right
}

.r4 .row_btm .btn_row li {
	margin-top: 10px;
	height: 30px;
	line-height: 30px
}

.r4_c1 .row_top {
	padding: 10px 0 5px;
	height: 35px
}

.r4_c1 .row_top table {
	margin: 0 auto;
	color: #ccc;
	font-size: 16px
}

.r4_c1 .row_top table td {
	text-align: center;
	height: 30px;
	border-left: 1px solid #ccc
}

.r4_c1 .row_top table td:first-child {
	border-left: 0
}

.r4_c1 .row_con table {
	margin: 0 auto;
	color: #ccc;
	font-size: 15px
}

.r4_c1 .row_con table td {
	text-align: center;
	height: 38px;
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4)
}

.r4_c1 .row_con table td a.btn {
	text-indent: -9999px;
	display: inline-block;
	width: 23px;
	height: 23px;
	background: url(../images/btn.png) 0 -32px no-repeat
}

.r4_c1 .row_con table td a:hover.btn {
	background-position: -32px -32px
}

.vote {
	width: 146px;
	height: 38px;
	margin: 12px auto
}

.vote a {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 38px;
	line-height: 36px;
	font-size: 18px;
	background: rgba(0, 0, 0, 0.8);
	-pie-background: rgba(0, 0, 0, 0.8);
	behavior: url("./public/css/PIE.htc")
}

.vote a i {
	margin-right: 10px
}

.r4_c2 .arr_top {
	text-align: center;
	margin-bottom: -4px
}

.r4_c2 .vote_total {
	border: 1px solid #fff;
	width: 154px;
	height: 137px;
	margin: 0 auto;
	text-align: center
}

.r4_c2 .vote_total div {
	width: 130px;
	height: 65px;
	margin: 0 auto;
	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid #fff;
	position: relative
}

.r4_c2 .vote_total div+div {
	border-bottom: 0
}

.r4_c2 .vote_total div i {
	position: absolute;
	left: -2px;
	top: 20px
}

.r4_c2 .vote_total div span.total {
	font-size: 13px;
	position: absolute;
	left: 39px;
	top: 15px;
	width: 90px;
	display: block;
	line-height: 1.5em
}

.r4_c2 .vote_total div span.total+span.total {
	top: 35px;
	font-size: 15px
}

.r5 .row_top ul {
	margin: 10px 5px 0 20px;
	float: left;
	height: 50px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.r5 .row_top ul li {
	float: left;
	margin-right: 8px
}

.r5 .row_top .stop_no {
	display: inline-block;
	line-height: 38px;
	margin-left: 12px;
	padding-left: 12px;
	border-left: 1px solid #b3b3b3;
	margin-top: 10px
}

.r5 .row_top .stop_no input {
	vertical-align: -2px
}

.r5 .row_top .f_right {
	margin-right: 8px;
	margin-top: 10px
}

.r5 .row_top .f_right a {
	height: 30px;
	line-height: 30px;
	padding: 0 12px
}

.r5_c1 {
	float: left;
	margin: 8px 0 0 10px;
	padding: 15px;
	width: 920px
}

.r5_c1 .grayRow {
	margin-left: 70px
}

.normal_catch div, .high_catch div {
	font-size: 13px;
	line-height: 30px;
	height: 30px
}

.normal_catch div css3-container, .high_catch div css3-container {
	z-index: 1 !important
}

.normal_catch div+div+div+div+div {
	padding-left: 65px
}

.high_catch div input[type=radio] {
	margin-left: -1px
}

.r5_c2 {
	position: static;
	zoom: 1;
	float: right;
	margin: 8px 10px 0 0;
	width: 950px;
	height: 375px;
	overflow-y: auto
}

.r5_c2 table {
	margin: 5px auto;
	font-size: 15px
}

.r5_c2 table th, .r5_c2 table td {
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding: 4px 2px;
	font-size: 14px
}

.r5_c2 table tr td:first-child+td, .r5_c2 table tr td:first-child+td+td
	{
	text-align: left
}

.r5_c1 div input[type=text], .r5_c2 table tr td:first-child+td+td input
	{
	height: 20px;
	padding: 2px 3px;
	vertical-align: middle;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}

.r6 .row_con {
	height: 180px;
	padding: 0 10px;
	overflow-y: auto
}

.cancel_order {
	margin: 7px auto;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-left: 1px solid rgba(255, 255, 255, 0.4);
	font-size: 15px
}

.cancel_order th, .cancel_order td {
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	border-right: 1px solid rgba(255, 255, 255, 0.4);
	text-align: center
}

.cancel_order th {
	height: 45px;
	font-weight: 100
}

.cancel_order td {
	height: 38px
}

.cancel_order td a {
	font-size: 18px;
	color: #29abe2;
	cursor: pointer
}

.cancel_order td a:hover {
	text-decoration: underline
}

.cancel_order .t_right {
	text-align: right;
	padding-right: 27px
}

.cancel_order .c_gray {
	background-color: gray
}

.order .btn_row, .r6 .btn_row {
	text-align: right;
	padding-right: 25px
}

.layout-slider .minus, .layout-slider .plus {
	margin-top: 0;
	cursor: pointer
}

.layout-slider .ui-slider-handle {
	behavior: url("./public/css/PIE.htc");
	outline: 0
}

div.selectWrapper {
	display: inline-block;
	margin: auto
}

div.selectWrapper select {
	padding-right: 15px;
	-moz-appearance: none;
	-webkit-appearance: none
}

div.selectWrapper select::-ms-expand {
	display: none
}

div.selectWrapper i {
	margin-left: -15px;
	vertical-align: middle
}

.divClock {
	width: 60px;
	height: 72px;
	margin-top: 22px;
	margin-left: 26px;
	text-align: center
}

.divClock div {
	-moz-box-shadow: 0 0 15px #fff, 0 0 15px #fff inset;
	-webkit-box-shadow: 0 0 15px #fff, 0 0 15px #fff inset;
	box-shadow: 0 0 15px #fff, 0 0 15px #fff inset
}

.divClock>.top {
	width: 22px;
	height: 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: white;
	margin: auto
}

.divClock>.middle {
	width: 6px;
	height: 12px;
	background: white;
	margin: auto
}

.divClock>.circle {
	width: 60px;
	height: 60px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	border: 6px solid #fff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: auto;
	margin-top: -6px;
	background: transparent;
	position: relative
}

.divClock>.circle>.center {
	position: absolute;
	left: 24px;
	top: 24px;
	background: black;
	width: 0;
	height: 0
}

.divClock>.circle>.center>.hour {
	margin: 0;
	width: 0;
	height: 0;
	margin-top: 0;
	margin-left: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: transparent;
	-moz-transition: linear 0;
	-o-transition: linear 0;
	-webkit-transition: linear 0;
	transition: linear 0;
	position: absolute
}

.divClock>.circle>.center>.hour>div {
	width: 14px;
	height: 4px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	margin-top: -2px;
	margin-left: -2px;
	background-color: white
}

.divClock>.circle>.center>.min {
	margin: 0;
	width: 0;
	height: 0;
	margin-top: 0;
	margin-left: 0;
	border-radius: 50%;
	background: transparent;
	-moz-transition: linear 0;
	-o-transition: linear 0;
	-webkit-transition: linear 0;
	transition: linear 0;
	position: absolute
}

.divClock>.circle>.center>.min>div {
	width: 19px;
	height: 4px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	margin-top: -2px;
	margin-left: -2px;
	background-color: white
}

.divClock>.circle>.center>.sec {
	margin: 0;
	width: 0;
	height: 0;
	margin-top: 0;
	margin-left: 0;
	border-radius: 50%;
	background: transparent;
	-moz-transition: linear 0;
	-o-transition: linear 0;
	-webkit-transition: linear 0;
	transition: linear 0;
	position: absolute
}

.divClock>.circle>.center>.sec>div {
	width: 24px;
	height: 4px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	margin-top: -2px;
	margin-left: -2px;
	background-color: white
}

.main2 {
	margin-top: 7px;
	padding-bottom: 15px;
	max-height: 700px;
	height: 700px
}

.top_menu {
	padding-top: 8px;
	height: 50px;
	line-height: 50px;
	margin-top: 7px
}

.top_menu h2 {
	width: 100px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	border-right: #fff 1px solid;
	float: left
}

.top_menu ul {
	float: left;
	margin-left: 15px
}

.top_menu li {
	float: left;
	margin: -3px 10px 0 0;
	margin-top: 1px \9
}

.content_900 {
	padding: 10px 35px 25px;
	position: relative
}

.content_944 {
	padding: 10px 13px 25px;
	position: relative
}

.tips {
	font-size: 13px
}

.tips>span.ps {
	margin: 20px 0 0 10px;
	display: block
}

.tips ul {
	margin-left: 35px
}

.tips dl {
	border-bottom: #FFF 1px solid
}

.tips li {
	list-style: decimal;
	line-height: 1.6em;
	list-style-position: inside
}

.content_frame {
	clear: both;
	padding: 0 0 20px;
	min-height: 350px;
	margin-bottom: 10px
}

.content_frame2 {
	clear: both;
	padding: 0 0 20px;
	margin-bottom: 10px
}

.content_frame3 h3, .content_frame2 h3, .content_frame h3 {
	font-size: 13px;
	font-weight: normal;
	padding-left: 8px;
	height: 36px;
	line-height: 36px
}

.tables {
	margin: 20px auto;
	font-size: 13px
}

.tables th {
	font-weight: normal;
	text-align: right;
	padding: 15px 5px
}

.tables td {
	text-align: left;
	padding: 15px 5px
}

table textarea {
	background-color: transparent;
	color: #fff;
	border: #fff 1px solid;
	padding: 0 5px;
	text-align: left;
	line-height: 1.6em
}

table input[type="text"], table input[type="password"], table select,
	div input[type="text"], div select {
	background-color: #fff;
	color: #4d4d4d;
	border: #fff 1px solid;
	font-size: 14px;
	text-align: left
}

table select {
	width: 208px
}

.tables .note {
	display: inline-block;
	font-size: 12px;
	margin-left: 15px
}

.tables_h {
	margin: 20px auto;
	font-size: 13px
}

.tables_h th {
	font-weight: normal;
	text-align: center;
	padding: 15px 5px;
	border-bottom: #cfcfcf 1px solid
}

.tables_h td {
	text-align: center;
	padding: 15px 5px;
	border-bottom: #cfcfcf 1px solid
}

.br_line {
	width: 100%;
	height: 1px;
	background-color: #fff;
	margin: 10px 0
}

.btn_submit {
	padding: 5px 0;
	text-align: right
}

.btn_submit2 {
	padding: 5px 0;
	text-align: center
}

table button, .btn_submit button, .btn_submit input[type='reset'],
	.btn_submit input[type='button'], .btn_submit2 button, .btn_submit a {
	font-size: 13px;
	display: inline-block;
	height: 30px;
	line-height: 28px;
	color: #fff;
	background-color: transparent;
	text-align: center;
	padding: 0 25px;
	margin-left: 5px;
	border: 1px #fff solid
}

.btn_submit2 button {
	margin: 0 25px
}

table button:hover, .btn_submit input[type='reset']:hover, .btn_submit input[type='button']:hover,
	.btn_submit button:hover, .btn_submit2 button:hover {
	color: #fff;
	border: 1px #fff solid;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.6);
	-pie-background: rgba(0, 0, 0, 0.6)
}

th.t_left, td.t_left, .message_table th.t_left, .message_table td.t_left
	{
	text-align: left
}

th.b_left_line, td.b_left_line {
	border-left: #808080 1px solid;
	padding-left: 15px
}

.note2 {
	vertical-align: bottom
}

.note2_con {
	padding: 15px;
	border: 1px dotted #fff;
	line-height: 1.5em
}

.m_login_txt {
	float: left;
	margin: 70px 0 0 80px;
	width: 450px;
	font-size: 15px
}

.m_login_txt .tips p {
	border-bottom: 1px solid #fff;
	padding-bottom: 8px;
	margin-bottom: 8px
}

.m_login_txt .tips dl {
	line-height: 1.5em;
	margin-left: 8px
}

.m_login_txt .tips dl dd {
	margin-bottom: 20px
}

.m_login_txt .tips dt {
	margin-top: 20px
}

.m_login_txt .tips dl dt span, .m_login_txt .tips dl dd span {
	display: inline-block;
	margin-left: 5px
}

.m_login_txt .tips dl dt i, .m_login_txt .tips dl dd i {
	display: inline-block;
	font-style: normal;
	font-family: Arial;
	vertical-align: top
}

.m_login_btn {
	float: right;
	margin: 70px 80px 0 0;
	width: 260px;
	height: 307px
}

.m_login_btn a {
	display: block;
	width: 260px;
	height: 307px;
	text-indent: -9999px;
	background: url(../images/login_btn.png) left top no-repeat
}

.m_login_btn a:hover {
	background: url(../images/login_btn.png) right top no-repeat
}

.links {
	font-size: 13px
}

.links ul {
	margin-left: 35px
}

.links li {
	line-height: 1.6em;
	list-style-position: inside
}

a.linkblue {
	color: #29abe2
}

a:hover.linkblue {
	text-decoration: underline
}

.message_menu {
	height: 68px
}

.message_menu li {
	float: left;
	width: 125px;
	margin-top: 15px;
	margin-right: 15px
}

.message_menu li a {
	padding-right: 20px
}

.message_menu li a i {
	margin-left: 0;
	margin-top: 1px
}

.message_table {
	border-bottom: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;
	font-size: 13px
}

.message_table a {
	color: #fff
}

.message_table th, .message_table td {
	border-top: 1px solid #cfcfcf;
	padding: 15px 5px;
	text-align: center;
	line-height: 1em;
	vertical-align: top
}

.message_cat {
	padding-left: 15px;
	text-align: left
}

.message_cat a {
	font-size: 13px;
	color: #fff
}

.message_cat a:hover, .message_cat a.current {
	color: #ff0
}

.message_page {
	height: 40px
}

.message_page .page {
	float: left;
	width: 800px;
	text-align: center
}

.message_page .page_btn {
	width: 120px;
	float: right
}

.page a {
	display: inline-block;
	color: #fff;
	border: 0;
	padding: 5px 8px;
	text-align: center
}

.page a:hover, .page a.current {
	border: 1px solid #fff;
	padding: 4px 7px;
	background-color: #0071bc
}

.page input[type="text"] {
	background-color: #fff;
	color: #333;
	text-align: center;
	height: 23px
}

.page_btn button {
	text-align: left;
	padding: 0 18px
}

.page_btn button .ico {
	margin-left: -8px;
	margin-right: 18px
}

.page .prev, .page .next {
	border: 1px solid #fff;
	padding: 4px 7px
}

.pcenter .page {
	margin: 15px auto;
	text-align: center
}

.pcenter .page input[type="text"] {
	border: #fff 1px solid;
	line-height: 23px;
	padding: 0 5px;
	background-color: #fff;
	color: #333;
	text-align: center;
	height: 23px
}

.buy_cat {
	height: 68px;
	line-height: 68px;
	margin-left: 15px;
	font-size: 15px
}

.buy_cat>.input-select {
	margin-right: 10px
}

.item_cat {
	margin: 0 auto
}

.item_cat div {
	clear: both;
	margin: 10px 0 20px;
	width: 930px;
	height: 86px;
	padding: 8px
}

.item_cat dt {
	float: left;
	width: 184px;
	height: 86px;
	line-height: 86px;
	text-align: center;
	border-right: #fff 1px solid
}

.item_cat dd {
	width: 720px;
	height: 86px;
	font-size: 13px;
	padding-left: 20px;
	line-height: 28px;
	float: left
}

.item_cat dt .b4 {
	font-size: 18px;
	padding: 8px 18px;
	margin-top: 20px
}

.step {
	height: 40px;
	line-height: 40px;
	padding: 10px 0 0 10px
}

.step span {
	display: inline-block;
	margin-right: 15px
}

.step span.current {
	color: #fff;
	border: 1px #fff solid;
	background-color: rgba(0, 0, 0, 0.6);
	-pie-background: rgba(0, 0, 0, 0.6)
}

.step i {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/arr3.png) left 5px no-repeat
}

.code {
	vertical-align: -5px
}

.border_dot {
	padding: 15px 25px;
	line-height: 1.8em;
	border: 1px dotted #fff
}

.radio_va img, .radio_va span {
	vertical-align: 10px;
	margin: 15px 12px
}

.table_online {
	margin: 20px auto;
	font-size: 13px
}

.table_online th {
	font-weight: normal;
	text-align: right;
	padding: 15px 5px;
	border-bottom: 1px dotted #fff
}

.table_online td {
	text-align: left;
	padding: 15px 5px;
	border-bottom: 1px dotted #fff
}

.table_online td.t_center, .table_online th.t_center {
	text-align: center
}

.table_online td.no_line, .table_online th.no_line {
	border-bottom: 0
}

.copy_btn .ico {
	vertical-align: -12px
}

.note_w {
	font-size: 12px;
	color: #fff;
	margin: 15px 0;
	height: 25px;
	text-align: center;
	line-height: 23px
}

.note_w2 {
	font-size: 13px;
	color: #fff;
	margin: 15px 0;
	text-align: left;
	line-height: 1.8em;
	margin: 0 auto
}

.space img {
	margin: 0 15px
}

.btn .ico_22 {
	vertical-align: -19px;
	margin-right: -10px
}

.order_no {
	width: 645px;
	margin: 25px auto 0;
	height: 20px;
	font-size: 15px
}

.order_no .btn {
	padding: 10px 20px
}

.dep_money {
	margin: 10px 0;
	font-size: 13px
}

.dep_money th, .dep_money td {
	padding: 15px 20px;
	line-height: 1.8em
}

.dep_line span {
	display: inline-block;
	padding: 0 20px;
	height: 20px;
	line-height: 20px;
	border-right: 1px solid #fff
}

.dep_line span:first-child {
	padding-left: 0
}

.order .row_top h3 .tips2 {
	margin-left: 10px;
	font-size: 12px;
	display: inline-block;
	padding: 5px 10px;
	line-height: 14px
}

.order .row_top ul {
	margin: 0 0 0 15px
}

.order .row_top li {
	float: left;
	margin: 10px 10px 0 0
}

.order_search {
	margin: 0 10px 0;
	padding: 15px 0 25px;
	font-size: 13px;
	height: 80px;
	position: relative
}

.order_search .order_search_item1 span, .order_search .order_search_item2 span,
	.order_search .order_search_item3 span {
	display: inline-block;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #fff;
	line-height: 30px
}

.order_search .search_btn {
	position: absolute;
	left: 250px;
	top: 22px;
	float: left
}

.search_btn .btn {
	padding: 4px 12px 3px 5px
}

.search_btn .ico_8 {
	vertical-align: -12px
}

.order_search_item1 {
	position: absolute;
	left: 15px;
	top: 25px
}

.order_search_item2 {
	position: absolute;
	left: 250px;
	top: 25px
}

.order_search_item3 {
	position: absolute;
	left: 540px;
	top: 25px
}

.order_report {
	height: 130px;
	padding: 15px 0 25px;
	font-size: 13px;
	position: relative
}

.search_cat {
	position: absolute;
	left: 20px;
	top: 43px
}

.search_cat span {
	display: inline-block;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #fff;
	line-height: 30px
}

.search_date {
	position: absolute;
	left: 390px;
	top: 13px;
	width: 410px;
	height: 105px;
	padding: 5px
}

.order_report .search_btn {
	position: absolute;
	right: 20px;
	top: 70px
}

.order_report .bg_black3 {
	position: relative
}

.search_date_title {
	position: absolute;
	left: 10px;
	top: 15px
}

.search_date_title span {
	height: 80px;
	line-height: 80px;
	display: inline-block;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #fff
}

.search_date_pick {
	position: relative;
	left: 78px;
	top: 16px
}

.search_date_btn {
	position: absolute;
	left: 307px;
	top: 10px
}

.search_date_btn li {
	float: left;
	margin: 0 3px 2px 0
}

.bonus_search {
	position: relative;
	height: 72px
}

.bonus_cat {
	position: absolute;
	left: 25px;
	top: 10px;
	border-right: 1px solid #fff;
	padding-right: 20px
}

.bonus_slider {
	position: absolute;
	left: 325px;
	top: 25px;
	font-size: 20px
}

.bonus_btn {
	position: absolute;
	right: 15px;
	top: 15px
}

.bonus_slider td {
	height: 25px;
	padding: 3px 5px
}

.bonus_slider td .no_ranger .jslider .jslider-value {
	background: 0
}

.bonus_slider td .no_ranger .jslider .jslider-label {
	color: #eee
}

.bonus_cat span {
	display: inline-block;
	line-height: 50px;
	height: 50px;
	border-right: 1px solid #fff;
	margin-right: 10px;
	padding-right: 10px
}

.bonus_btn .btn {
	padding: 4px 12px 3px 5px
}

.bonus_btn .ico_8 {
	vertical-align: -12px
}

.bonus_search_table {
	float: left;
	margin: 11px;
	border-top: #808080 1px solid;
	border-left: #808080 1px solid;
	font-size: 15px
}

.bonus_search_table th, .bonus_search_table td {
	border-bottom: #808080 1px solid;
	border-right: #808080 1px solid;
	text-align: center
}

.bonus_search_table th {
	height: 38px;
	font-weight: 100
}

.bonus_search_table td {
	height: 38px;
	padding: 2px 8px;
	text-align: right
}

.bg_blue {
	background-color: #0071bc
}

.bonus_slider .no_ranger .layout-slider {
	position: absolute;
	left: 100px;
	top: 34px;
	width: 135px
}

.btn_submit2 .page {
	margin-top: 8px
}

.result h3 {
	display: inline-block;
	float: left;
	margin-left: 20px
}

.result ul {
	float: left;
	margin-left: 10px
}

.smallT .tables th, .smallT .tables td {
	padding: 5px 5px
}

.smallT .tables_h th, .smallT .tables_h td {
	padding: 12px 5px
}

.smallT .message_table th, .smallT .message_table td {
	padding: 8px 5px
}

.smallT_m table {
	margin: 10px auto
}

.smallT_m .content_frame2 {
	padding-bottom: 8px
}

a {
	text-decoration: none
}

.clear {
	clear: both
}

.wordwrap {
	word-wrap: break-word;
	-moz-binding: url("wordwrap.xml#wordwrap");
	display: block;
	overflow: auto
}

table {
	border-collapse: inherit;
	border-spacing: 0
}

th, td {
	line-height: 1.6em
}

.copyTips {
	position: absolute;
	left: 5px;
	top: -15px;
	background: red;
	font-size: 14px
}

.dateimg {
	margin: 0 0 0 -25px;
	cursor: pointer
}

.b_dred {
	background: #af6565
}

.b_red {
	background: #c97575
}

.b_reddark {
	background: #a06374
}

.b_blue {
	background: #475f7e
}

.b_blue2 {
	background: #4881b6
}

.b_yblue {
	background: #65afc7
}

.b_purple {
	background: #716d91
}

.b_purpledark {
	background: #8773a5
}

.b_pink {
	background: #916d88
}

.b_pink2 {
	background: #cca3cf
}

.b_green {
	background: #6d9179
}

.b_green2 {
	background: #8ea077
}

.b_ygreen {
	background: #b2cf9f
}

.b_lightyellow {
	background: #d6d697
}

.b_brown {
	background: #9e8559
}

.b_brown2 {
	background: #776e5b
}

.bg_blue {
	background: #0071bc
}

.bg_white4 {
	background-color: rgba(255, 255, 255, 0.4);
	-pie-background: rgba(255, 255, 255, 0.4);
	behavior: url("./public/css/PIE.htc")
}

.bg_white2 {
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
	behavior: url("./public/css/PIE.htc")
}

.bg_gray7 {
	background-color: rgba(51, 51, 51, 0.7);
	-pie-background: rgba(51, 51, 51, 0.7);
	behavior: url("./public/css/PIE.htc")
}

.bg_black2 {
	background-color: rgba(0, 0, 0, 0.2);
	-pie-background: rgba(0, 0, 0, 0.2);
	behavior: url("./public/css/PIE.htc")
}

.bg_black3 {
	background-color: rgba(0, 0, 0, 0.3);
	-pie-background: rgba(0, 0, 0, 0.3);
	behavior: url("./public/css/PIE.htc")
}

.bg_black6 {
	background-color: rgba(0, 0, 0, 0.6);
	-pie-background: rgba(0, 0, 0, 0.6)
}

.bg_black3_content {
	background-color: rgba(0, 0, 0, 0.3);
	-pie-background: rgba(0, 0, 0, 0.3)
}

.bg_black5 {
	background-color: rgba(0, 0, 0, 0.5);
	-pie-background: rgba(0, 0, 0, 0.5);
	behavior: url("./public/css/PIE.htc")
}

.bg_blue3 {
	background-color: rgba(41, 171, 255, 0.3);
	-pie-background: rgba(41, 171, 255, 0.3);
	behavior: url("./public/css/PIE.htc")
}

.bg_blue>.open-title {
	color: #FFF
}

:root .bg_white9, :root .bg_white4, :root .bg_white2, :root .bg_black3,
	:root .bg_blue3, :root .bg_gray7 {
	filter: none
}

.c_red {
	color: #ff5757
}

.c_blue {
	color: #0ff
}

.c_yellow {
	color: #ff0
}

.c_green {
	color: #0f0
}

.c_pink {
	color: #f0f
}

.c_skin {
	color: #c69c6d
}

.c_black {
	color: #000
}

.c_black3 {
	color: #000;
	color: rgba(0, 0, 0, 0.3)
}

.c_white3 {
	color: #fff;
	color: rgba(255, 255, 255, 0.3)
}

.bold {
	font-weight: bold
}

.fs12 {
	font-size: 12px
}

.fs18 {
	font-size: 18px
}

.fs24 {
	font-size: 24px
}

.ww100 {
	width: 100%
}

.ww95 {
	width: 95%
}

.ww90 {
	width: 90%
}

.ww80 {
	width: 80%
}

.ww70 {
	width: 70%
}

.ww60 {
	width: 60%
}

.ww50 {
	width: 50%
}

.ww40 {
	width: 40%
}

.ww30 {
	width: 30%
}

.ww20 {
	width: 20%
}

.ww10 {
	width: 10%
}

.w850 {
	width: 850px
}

.w670 {
	width: 670px
}

.w465 {
	width: 465px
}

.w280 {
	width: 280px
}

.w225 {
	width: 225px
}

.w200 {
	width: 200px
}

.w155 {
	width: 155px
}

.w100 {
	width: 100px
}

.w80 {
	width: 80px
}

.w60 {
	width: 60px
}

.w40 {
	width: 40px
}

.w30 {
	width: 30px
}

.h260 {
	height: 260px
}

select.w850 {
	width: 860px
}

select.w670 {
	width: 680px
}

select.w465 {
	width: 475px
}

select.w280 {
	width: 290px
}

select.w225 {
	width: 235px
}

select.w200 {
	width: 210px
}

select.w155 {
	width: 165px
}

select.w100 {
	width: 110px
}

select.w80 {
	width: 90px
}

select.w60 {
	width: 70px
}

select.w40 {
	width: 50px
}

select.w30 {
	width: 40px
}

input {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-family:simhei,"黑体",simsun,"宋体","微軟正黑體"
}

input[type=text], input[type=password] {
	padding: 5px
}

select, textarea {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family:simhei,"黑体",simsun,"宋体","微軟正黑體";
	padding: 5px
}

input[type=text]::-ms-clear, textarea::-ms-clear {
	display: none
}

select option {
	color: #000
}

.hide {
	display: none
}

.pointer {
	cursor: pointer
}

.mr5 {
	margin-right: 5px
}

.f_left {
	float: left
}

.f_right {
	float: right
}

label.error {
	z-index: 20;
	position: absolute;
	top: -8px;
	border: 0;
	right: -20px;
	color: #fff;
	background: red;
	padding: 0 10px;
	height: 25px;
	line-height: 25px
}

.positionre {
	position: relative
}

.noScript {
	position: fixed;
	_position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background-color: #000;
	opacity: .7;
	filter: alpha(opacity = 70)
}

.noScript div {
	background-color: #cfcfcf;
	padding: 10px;
	border: 1px solid #000;
	position: absolute;
	width: 350px;
	margin-left: -175px;
	left: 50%;
	top: 30%;
	_top: 150px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-background-clip: padding;
	-o-background-clip: padding-box;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	background-clip: padding-box;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out
}

.noScript h2 {
	font-size: 18px;
	font-weight: 700;
	color: #000
}

.noScript p {
	margin: 8px 0 0;
	color: #F00
}

.vat {
	vertical-align: top
}

.vam {
	vertical-align: middle
}

body {
	font-family:simhei,"黑体",simsun,"宋体","微軟正黑體";
	font-size: 14px;
	color: #fff;
	background: url(../images/bg.jpg) center top repeat;
	background: #6383a0;
	padding-bottom: 8px
}

.container {
	width: 100%;
	min-width: 970px
}

.wrapper {
	margin: 0 auto;
	width: 970px
}

.main {
	overflow: hidden
}

#header {
	height: 106px;
	position: relative
}

#logo {
	position: absolute;
	left: 5px;
	top: 10px
}

.row {
	clear: both;
	margin-top: 7px;
	width: 970px
}

.r1 {
	height: 58px
}

.r1 ul {
	float: left;
	margin-top: 10px
}

.r1 li {
	float: left;
	margin-right: 10px
}

.r1 li a {
	height: 36px;
	line-height: 36px;
	padding: 0 13px
}

.row_top {
	height: 58px
}

.row_top h3 {
	font-size: 16px;
	font-weight: normal;
	line-height: 58px;
	margin-left: 20px
}

.row_top h3.title_line span {
	display: inline-block;
	margin: 0 20px;
	border-left: 1px solid #fff;
	height: 35px;
	vertical-align: -11px
}

.row_con {
	clear: both
}

.row_btm {
	clear: both;
	height: 50px
}

.btn_row {
	line-height: 50px
}

.r1 .sub_logo {
	float: right;
	margin: 10px 5px 0 0;
	background: url(../images/logo2.png) no-repeat;
	width: 95px;
	height: 46px
}

.game_select {
	float: left;
	margin: 10px 10px 0 15px
}

.game_select a {
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	padding-right: 15px
}

.game_select .ico {
	vertical-align: -5px;
	margin: 0 15px 0 5px
}

.game_title {
	float: left;
	margin: 10px 10px 0 0
}

.game_title a {
	height: 36px;
	line-height: 36px;
	padding: 0 15px
}

.arr_left {
	display: inline-block;
	width: 6px;
	height: 9px;
	background: url(../images/arr.png) 0 0 no-repeat
}

.btn {
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url("./public/css/PIE.htc")
}

.btn2 {
	display: inline-block;
	font-size: 15px;
	color: #b3b3b3
}

a:hover.btn2 {
	color: #fff
}

.b0 {
	font-size: 13px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	color: #fff;
	text-align: center;
	padding: 0 12px;
	border: 1px #fff solid
}

a:hover.b0, a:hover .b0, .current .b0 {
	color: #fff;
	border: 1px #fff solid;
	background-color: #0071bc;
	background-color: rgba(0, 0, 0, 0.8);
	-pie-background: rgba(0, 0, 0, 0.8);
	behavior: url("./public/css/PIE.htc")
}

.b1 {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	-pie-background: rgba(0, 0, 0, 0.6);
	behavior: url("./public/css/PIE.htc");
	border: 1px solid #fff;
	padding: 0 7px;
	line-height: 25px;
	color: #fff;
	cursor: pointer
}

a:hover.b1 {
	color: #ff0
}

.b2 {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.1);
	-pie-background: rgba(0, 0, 0, 0.1);
	border: 1px solid #fff;
	padding: 0 7px;
	line-height: 25px;
	color: #fff
}

a:hover.b2 {
	color: #ff0;
	background-color: rgba(0, 0, 0, 0.3);
	-pie-background: rgba(0, 0, 0, 0.3)
}

.b3 {
	display: inline-block;
	border: 1px solid #fff;
	padding: 0 12px;
	line-height: 30px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.1);
	-pie-background: rgba(0, 0, 0, 0.1)
}

a:hover.b3 {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	-pie-background: rgba(0, 0, 0, 0.3)
}

.b4 {
	display: inline-block;
	border: 1px solid #29abe2;
	padding: 0 12px;
	line-height: 30px;
	color: #4d4d4d;
	background-color: #fff
}

a:hover.b4 {
	color: #29abe2
}

#cat_nav {
	position: absolute;
	left: 185px;
	top: 12px;
	width: 80px;
	height: 86px;
	border-right: #b3b3b3 1px solid
}

#cat_nav ul {
	position: absolute;
	left: 11px;
	z-index: 1
}

#cat_nav ul li {
	height: 20px;
	line-height: 21px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	margin: 8px auto 8px;
	position: relative
}

#cat_nav ul li a {
	display: inline-block;
	width: 50px;
	height: 21px;
	line-height: 21px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding: 1px 5px
}

#cat_nav ul li a:hover, #cat_nav ul li a.current {
	padding: 0 4px;
	border: 1px #fff solid;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.9);
	-pie-background: rgba(0, 0, 0, 0.9)
}

#cat_nav ul li a.current .line {
	visibility: visible
}

#cat_nav .line {
	position: absolute;
	left: -11px;
	top: 10px;
	width: 80px;
	height: 1px;
	display: inline-block;
	border-bottom: #b3b3b3 1px solid;
	z-index: -1;
	visibility: hidden
}

#nav {
	position: absolute;
	right: 0;
	top: 12px
}

#nav li {
	float: left;
	height: 30px
}

#nav li a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	padding: 0 10px;
	margin-left: 4px;
	border: 1px #7a7a7a solid;
	outline: 0
}

#nav li a:hover, #nav li a.current {
	border: 1px #fff solid;
	background-color: rgba(0, 0, 0, 0.6);
	-pie-background: rgba(0, 0, 0, 0.6)
}

#nav li i {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../images/nav.png) left top no-repeat;
	vertical-align: -16px
}

#nav li#b1 i {
	background-position: 0 0
}

#nav li#b2 i {
	background-position: -40px 0
}

#nav li#b3 i {
	background-position: -80px 0
}

#nav li#b4 i {
	background-position: -120px 0
}

#nav li#b5 i {
	background-position: -160px 0
}

#nav li#b6 i {
	background-position: -200px 0
}

#acc_info {
	position: absolute;
	left: 266px;
	top: 55px;
	width: 704px;
	border-top: #b3b3b3 1px solid;
	font-size: 13px;
	height: 50px;
	line-height: 50px;
	text-align: right
}

#acc_info span {
	display: inline-block;
	color: #b3b3b3;
}

#acc_info .acc_id {
	color: #fff
}

#acc_info .acc_id i {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../images/nav.png) -240px 0 no-repeat;
	margin: 0 8px;
	vertical-align: middle
}

#unreadSent {
    cursor: pointer;
}

#acc_info .money i {
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 2px;
	color: #fff
}

#acc_info a {
	color: #fff
}

#acc_info a:hover {
	color: #ff0
}

#acc_info .btn_logout {
	font-family:simhei,"黑体",simsun,"宋体","微軟正黑體";
	border: 0;
	background-color: rgba(0, 0, 0, 0.1);
	-pie-background: rgba(0, 0, 0, 0.1);
	color: #fff;
	font-size: 13px;
	line-height: 25px;
	padding: 0 12px;
	cursor: pointer;
	border: 1px #7a7a7a solid
}

#acc_info .btn_logout:hover {
	background-color: rgba(0, 0, 0, 0.6);
	-pie-background: rgba(0, 0, 0, 0.6)
}

#slider_menu {
	position: absolute;
	left: 0;
	top: 106px;
	background: transparent;
	background-color: rgba(0, 0, 0, 0.6);
	-pie-background: rgba(0, 0, 0, 0.6);
	z-index: 50;
	min-width: 0;
	min-height: 800px;
	width: 211px;
	display: none;
	behavior: url("./public/css/PIE.htc")
}

.slider_con {
	float: right;
	width: 220px
}

.play_method {
	margin: 23px auto 32px 32px;
	float: left
}

.play_method li {
	float: left;
	margin-right: 10px
}

#slider_menu h2 {
	clear: both;
	font-size: 16px;
	font-weight: 100;
	color: #fff;
	border-bottom: 1px solid #4d4d4d;
	width: 160px;
	height: 31px;
	margin: 32px auto 0 37px
}

#slider_menu .game_list {
	margin: 0 auto 3px 37px
}

#slider_menu .game_list li {
	font-size: 16px;
	color: #b3b3b3;
	width: 160px;
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #4d4d4d
}

#slider_menu .game_list li a {
	padding-left: 25px;
	color: #b3b3b3
}

#slider_menu .game_list li a:hover, #slider_menu .game_list li.current a
	{
	color: #fff;
	background: url(../images/dot.png) 13px 7px no-repeat
}

#slider_thememenu {
	width: 0;
	height: 822px;
	background-color: rgba(0, 0, 0, 0.6);
	-pie-background: rgba(0, 0, 0, 0.6);
	float: right;
	overflow: hidden;
	-moz-transition: ease .5s;
	-o-transition: ease .5s;
	-webkit-transition: ease .5s;
	transition: ease .5s;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 113px;
	right: 10px;
	z-index: 100;
	behavior: url("./public/css/PIE.htc")
}

#slider_thememenu h3 {
	text-align: center;
	font-size: 14px;
	padding: 10px 0;
	border-bottom: 1px solid #cfcfcf
}

#themeContent {
	padding: 5px
}

#themeContent li {
	display: inline-block;
	cursor: pointer;
	padding: 7px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url("./public/css/PIE.htc")
}

#themeContent li:hover {
	background: rgba(255, 255, 255, 0.15);
	-pie-background: rgba(255, 255, 255, 0.15)
}

#themeContent li p {
	text-align: center;
	padding-top: 4px
}

#themeContent li>div {
	border: 1px solid white;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%
}

#themeContent li>div.color1 {
	width: 50px;
	height: 50px;
	behavior: url("./public/css/PIE.htc")
}

#themeContent li>div.color2 {
	width: 40px;
	height: 40px;
	margin-left: -30px;
	behavior: url("./public/css/PIE.htc")
}

#themeContent li>div.color3 {
	width: 30px;
	height: 30px;
	margin-left: -24px;
	behavior: url("./public/css/PIE.htc")
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px
}

.pagination>li {
	display: inline;
	margin: 0 2px;
	padding: 5px;
	cursor: pointer;
	font-size: 13px;
	@
	incude
	box-sizing(border-box)
}

.pagination>li select {
	width: initial
}

.pagination>li span {
	font-size: 13px
}

.pagination>li a {
	font-size: 13px;
	color: #fff
}

.pagination>li.disabled {
	cursor: not-allowed
}

.pagination>li.disabled span {
	opacity: .5
}

.pagination>li.disabled a {
	cursor: not-allowed;
	color: white;
	opacity: .5
}

input[jc-button], #creatGtjhBtn, #creatBtjhBtn {
	outline: 0;
	cursor: pointer
}

input[jc-button]:hover, #creatGtjhBtn:hover, #creatBtjhBtn:hover {
	color: yellow
}

.icon {
	background-repeat: no-repeat;
	display: inline-block;
	height: 35px;
	width: 120px
}

.fa-customColor .fa-inverse {
	color: #202020 !important
}

.main_content {
	width: 970px;
	margin: 0 auto
}

.layui-layer-rim {
	border: 9px solid rgba(255, 255, 255, .5)
}

.layui-layer-rim .layui-layer-content {
	color: #000;
	border-bottom: 1px solid #e5e5e5
}

.layui-layer-rim .layui-layer-btn {
	padding: 5px 10px
}

.layui-layer-rim .layui-layer-setwin .layui-layer-close1 {
	color: #fff;
	background: 0
}

.layui-layer-rim .layui-layer-setwin .layui-layer-close1:before {
	content: 'X'
}

.layui-layer-rim .layui-layer-title {
	color: #fff;
	background: #000
}

.layui-layer-rim .layui-layer-btn .layui-layer-btn0, .layui-layer-rim .layui-layer-btn .layui-layer-btn1
	{
	font-size: 14px;
	line-height: 30px;
	height: 30px
}

.layui-layer-tips .layui-layer-content {
	color: #fff;
	word-wrap: break-word;
	word-break: break-all
}

.his {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 22px;
	min-height: 104px;
	z-index: 9;
	height: 104px;
	overflow-y: hidden;
	cursor: default;
	box-shadow: 0 0 0 1px transparent inset;
	-moz-transition-duration: .25s;
	-o-transition-duration: .25s;
	-webkit-transition-duration: .25s;
	transition-duration: .25s;
	background-color: inherit
}

.his .hli {
	width: 100%;
	line-height: 22px;
	padding: 0 5px 0 4px
}

.his .qs10 span, .his .qs3 span, .his .qs7 span, .his .qs5 span {
	width: 20px;
	text-align: center;
	margin-left: 1px
}

.his .qs3 .qh, .his .qs5 .qh {
	width: 90px
}

.his .qs10 {
	height: 40px
}

.his .qs10 .qh {
	width: 67px;
	display: block
}

.his .qs10 span {
	width: 20px
}

.his .qs7 span {
	width: 15px
}

.his .qs7 .qh {
	width: 62px
}

.ui-loading {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999
}

.ui-loading .ui-loading-mask {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .2;
	z-index: 1
}

.ui-loading i {
	height: 90px;
	width: 90px;
	display: block;
	background: url(../images/loading.gif) center center no-repeat;
	background-size: 100% 100%;
	position: absolute;
	z-index: 2
}

.losear {
	margin: 26px 0 0 8px
}

.losear select, .losear .text6 {
	height: 32px;
	line-height: 32px
}

.losear .text6 {
	margin-left: 5px;
	width: 90px;
	padding-left: 5px;
	font-size: 12px;
	font-family: '微软雅黑';
	color: #555
}

.sdc {
	margin-left: 8px
}

.sdc .sdt {
	margin: 10px 8px 0 0;
	border-right: 1px solid #fff;
	height: 36px;
	padding: 28px 8px 0 0
}

.sdc .sdp .dpt {
	margin: 8px 3px 16px 0
}

.sdc .sdb .b1 {
	margin: 0 0 3px
}