.radio_va img, .radio_va span {
    vertical-align: 10px;
    margin: 15px 12px;
}

/* 在线充值 需要跟OnlinepayType名字一致*/
.alipay,.zhifubao{background-image: url("../images/zhifubao.jpg");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}
.wechat,.weixin{background-image: url("../images/weixin.jpg");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}
.caifutong{background-image: url("../images/caifutong.jpg");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}
.baofoo{background-image: url("../images/bofupay.png");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}
.huanxunpay{background-image: url("../images/huanxunpay.png");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}
.ipspay70,.ipspay30{background-image: url("../images/huanxunpay.png");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}
.kuaiquanpay{background-image: url("../images/kuaiquanpay.png");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}
.shanfupay,.shanfu{background-image: url("../images/shanfupay.png");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}
.zhifupay{background-image: url("../images/zhifupay.png");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}
.dinpay, .dinpay30, .dinpay40{background-image: url("../images/zhifupay.png");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}
.yibopay,.yibaopay,.yeepay{background-image: url("../images/yibopay.png");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}
.yeepay{background-image: url("../images/yibopay.png");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}
.reapal{background-image: url("../images/reapal.jpg");background-repeat:no-repeat;text-indent: -9999px;background-size: 120px 35px;}

/* 工商银行  */
.gs{background-image: url("../images/gs.jpg");text-indent: -9999px;background-size: 120px 35px;}
/* 建设银行  */
.js{background-image: url("../images/js.jpg");text-indent: -9999px;background-size: 120px 35px;}
/* 农业银行  */
.ny{background-image: url("../images/ny.jpg");text-indent: -9999px;background-size: 120px 35px;}
/* 中国银行  */
.zg{background-image: url("../images/zg.jpg");text-indent: -9999px;background-size: 120px 35px;}
/** **/
.zhihpay{background-image: url("../images/zhihpay.jpg");text-indent: -9999px;background-size: 120px 35px;}

/* 银宝 */
.yinbao{background-image: url("../images/yinbao.png");text-indent: -9999px;background-size: 120px 35px;}
/* 易付宝 */
.yifubao{background-image: url("../images/yifubao.png");text-indent: -9999px;background-size: 120px 35px;}
/* 魔宝 */
.mobao{background-image: url("../images/mobao.png");text-indent: -9999px;background-size: 120px 35px;}
/* 汇付宝 */
.heepay{background-image: url("../images/heepay.png");text-indent: -9999px;background-size: 120px 35px;}


.BetInf{display: inline-block;width: 100px;text-overflow: ellipsis;overflow: hidden;}

.bankicon {
    background-repeat: no-repeat;
    border: 1px solid #898;
    border-radius: 3px;
    display: inline-block;
    height: 35px;
    margin: 15px 10px;
    vertical-align: 10px;
    width: 120px;
}

.bankicons {
    background-repeat: no-repeat;
    border-radius: 3px;
    display: inline-block;
    height: 35px;
    vertical-align: 10px;
    width: 120px;
}