/*@charset "UTF-8";*/
html #OSEL, body#OSEL { 
	margin-left:10px;
	/* overflow:hidden!important; */
	text-align: center;	padding: 10px 0 0;	background-color: #493721;behavior:url(/style/member/csshover.htc);}
#main {	width: 216px;	margin: 0 auto;}
form {	margin: 0px;	padding: 0px;}
a:link, a:visited {	color: #FFF;}
a:hover {	color: #FC0; text-decoration:none;}
#menu {	width: 216px;	background-color:#FEF6E4;	*padding-bottom: 0px/*IE Hack*/;	font: 12px Arial, Helvetica, sans-serif;}
html>body #menu { height:34px; }/*Mac Hack*/


#menu .ord_btn {padding-top: 13px;	cursor: hand;	float: left; color: #E9B567;	font-weight:bold!important; background: url(../images/order_ord_btn_out.gif) no-repeat left top;}
#menu .record_btn {padding-top: 13px;text-align:center;cursor: hand;float: left;	height:21px;color: #E9B567; font-weight:bold!important; background: url(../../images/sports/order_record_btn_out.gif) no-repeat right top;}
html>body #menu .ord_btn { padding-top: 12px;	height: 22px;}/*Mac Hack*/
html>body #menu .record_btn { padding-top: 12px}/*Mac Hack*/
#order_div {	clear: both;margin-bottom:0px;width: 216px;}
.bet_info { margin:0; padding:0; background-color:#E3CFAA!important;left:0;top:0;}
/*-------Thie is for IE Hack notes ,Don't delete-----*/
#menu .ord_on {padding-top: 11px;text-align: center;cursor: hand;	float: left; width: 99px;	height: 23px;color: #3B2D1B;	font-weight:bold!important; background: url(../../images/sports/order_ord_btn_on.gif) no-repeat left top;}
#menu .record_on {padding-top: 11px;	cursor: hand;float: right;width: 117px;	height: 23px;color: #3B2D1B;font-weight:bold!important; background: url(../images/order_record_btn_on.gif) no-repeat right top;}
#menu .ord_btn, #menu .record_btn , #menu .ord_on , #menu .record_on { cursor:pointer;}
html>body #menu .ord_on { padding-top: 10px;	height: 24px;}/*Mac Hack*/
html>body #menu .record_on { padding-top: 10px;	height: 24px;}/*Mac Hack*/

#bet_div {z-index: 1000;}
#info_div {/*height:50;*/*left:2; clear: both;}

#info_div .msg_box { clear:both;color: #FFF;	width: 216px;
margin-bottom: 5px;
margin-left:0px; 
}
html>body #info_div .msg_box {margin-left:0px;}


#info_div .msg_box h2 {	margin: 0px;	padding: 11px 0 0 11px; height: 34px; text-align:left;font: 12px Arial, Helvetica, sans-serif; color:#E9B567; font-weight:bold;	background: url(../../images/sports/order_msg_h2.gif) no-repeat left top;}
#info_div .msg_box h2 .more {	float: right;	*margin-top: -14px/*IE Hack*/;	margin-right: 11px;font-weight:normal;}
#info_div .msg_box .msg_main { clear:right;	padding: 5px 10px; font: 12px Arial, Helvetica, sans-serif; color:#2F2F2F;	background-color: #DFCCA8;}
html>body #info_div .msg_box .msg_main{ margin-top:-10px; text-align:left;}/*Mac Hack*/
/*iframe*/
#order_div #bet_div, #order_div #rec5_div {	width: 100%;	display: block; left:0; top:0;}
/*LiveTV*/
#live_box { margin-top:6px;	color: #FFF;	width: 216px;}
#live_box h2 {margin: 0px;	padding: 10px 0 0 32px;	height: 34px; text-align:left;font: 0.75em Arial, Helvetica, sans-serif; color:#E9B567; font-weight:bold;	background: url(../images/order_live_h2.gif) no-repeat left top;	 }
html>body #live_box h2 {margin-bottom:-10px;}/*Mac Hack*/
#live_box h2 .more {float: right;	*margin-top: -13px/*IE Hack*/;	margin-right: 11px; font-weight:normal;}
#live_box .live_main { padding-bottom:2px;color:#2F2F2F;	background-color: #DFCCA8;}
#live_box .live_main ul.live_list{ width:198px; margin:0; padding:0;}
#live_box .live_main li { margin-bottom:-5px;padding:6px 0px 3px 0px;	list-style-type: none; border-bottom: 1px dotted #2F2F2F;height: 2em; line-height:2em;font: 0.75em Arial, Helvetica, sans-serif;  display:block; clear:left;}
html>body #live_box .live_main li {line-height: 180%; height:inherit;margin-bottom:-1px; padding-bottom:0px;}
html>body #live_box .live_main ul.live_list {overflow:auto; zoom:1; margin-bottom:2px;}
#live_box .live_main span {	display: block;}
#live_box .live_main .time {	float: left;width: 40px;}
#live_box .live_main .team {float: left;	padding-left: 0px;	text-align: left; display:inline;	}
html>body #live_box .live_main ul.live_list { padding: 2px 10px 14px;}

#switch_web { cursor:hand \9; cursor:pointer; width:216px; height:43px; margin:0 0 10px 0; background: url(../../images/sports/NewtoOld_chs.gif) no-repeat;}
#real_msg li{line-height: 25px;}
/*html>body #switch_web {height:44px; margin-left:-8px;}
/*#switch_web a:link, #switch_web a:visited {	color: #FFF; text-decoration:none;}
#switch_web a:hover {	color: #F8C100;}*/