@charset "UTF-8";
@import url("mem_header_navi_cn.css");

iframe { border:none;}
/*back*/
div#back { width:279px;	position: absolute;float: left;top:1px; margin-left: 700px;font-family: Arial, Helvetica, SimSun, sans-serif;z-index:1000;}


body.bodyset {margin: 0px;padding: 0px;background: #8A4102 url(../images/head_bg_ft.jpg) repeat-x left top;behavior:url(/style/member/csshover.htc);}
#container ,#type,#nav{ /*position: relative;*/font-family: Arial, Helvetica, SimSun, sans-serif;}
#header {	margin: 0px;	padding: 0px;}
#header h1 {}
#header span {}
ul {	margin: 0;	padding: 0;}
a { text-decoration: none;}
#welcome {position: absolute; top:27px; margin:0; padding:0; width:980px; color:#FFF; clear:left;}
#welcome li {list-style: none; float: left; margin-right: 3px; text-align:center;  font-size: 14px; line-height: 34px; padding-top:3px; white-space: nowrap;/*background: url(../images/head_focus_btn_out.gif) no-repeat left top;*/}
#welcome a {display: block; /*float: left; *//* width: .1em;*/ padding: 0; /*width:130px;*/ font-weight: bold;  color: #E7B565;}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#welcome a {float: none;}            /* End IE5-Mac hack */
#welcome a:link, #welcome a:visited { color: #E7B565;}
#welcome a:hover {color: #F8C100;}
#welcome li.name { display:block; width:240px; margin-right: 0;	height:34px; line-height:16px; font:12px Arial, Helvetica, sans-serif; font-weight:bold; background:none;}
#welcome .pass { position: absolute; right:0px; padding-top:2px; padding-right:0px; text-align:right;font:12px Arial, Helvetica, sans-serif;}
#welcome .pass a { font-weight:normal!important; }
.rb_sum { font:12px  Arial, Helvetica, sans-serif; font-weight:bold;}
#welcome li.rb {width:107px;background: url(../images/head_rb_btn.gif) no-repeat left top;}
#welcome li.today {width:128px;background: url(../images/head_today_btn.gif) no-repeat left top;}
#welcome li.early { width:114px;background: url(../images/head_early_btn.gif) no-repeat left top;}
#welcome li.rb_on  { width:107px; color: #F8C100; background: url(../images/head_rb_btn.gif) 0 -40px no-repeat;}
#welcome li.today_on  { width:128px; color: #F8C100; background: url(../images/head_today_btn.gif) 0 -40px no-repeat;}
#welcome li.early_on { width:114px; color: #F8C100; background: url(../images/head_early_btn.gif) 0 -40px no-repeat;}
#welcome li.rb_on a:link, #welcome li.rb_on a:visited, #welcome li.today_on a:link, #welcome li.today_on a:visited,  #welcome li.early_on a:link, #welcome li.early_on a:visited{ color: #F8C100;}
#welcome li.live_tv {  margin-left:2px; width:28px; height:29px;background: url(../images/live_tv_m.gif) 0 0 no-repeat;}
#welcome li.rb_null  { width:107px; color: #7D6342; font-weight:bold; background: url(../images/head_rb_btn.gif) 0 -80px no-repeat;}
#welcome li.today_null  { width:128px; color: #7D6342; font-weight:bold;  background: url(../images/head_today_btn.gif) 0 -80px no-repeat;}
#welcome li.early_null { width:114px; color: #7D6342; font-weight:bold;  background: url(../images/head_early_btn.gif) 0 -80px no-repeat;}
#welcome li.rb_null a:link, #welcome li.rb_null a:visited, #welcome li.today_null a:link, #welcome li.today_null a:visited,  #welcome li.early_null a:link, #welcome li.early_null a:visited{ color: #7D6342;}
#nav {padding:0; width:100%; height:28px; clear:left; background: #D7D7C1 url(../../images/sports/head_nav_bg_ft.gif) 0 0 repeat-x;border: solid 1px #FFF; white-space: nowrap;}
#nav li {list-style: none; float: left; text-align:center;  font-size: 12px; width:auto; line-height: 22px; white-space: nowrap; background:url(../../images/sports/head_nav_arr.gif) no-repeat 0 50%;}
#nav a {cursor:pointer;color:#fff;display: block; float: left; clear:left;  width: .1em; padding: 4px 10px 4px 32px; }
/**/
html>body #nav a {width: auto;}    /* fixes IE6 hack */
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#nav a {float: none;}            /* End IE5-Mac hack */

#nav a:link, #nav a:visited { color: #FFF;}
#nav a:hover {color: #FF0;}
#nav li.ft { background: none; margin-left:-4px;}
#nav li.ft a { padding-left:40px;}
#nav li.ft .ball {	background: url(../../images/sports/head_ball_ft.gif) no-repeat 20px 50%;}
/**/
#nav li.bk .ball {	background: url(../../images/sports/head_ball_bk.gif) no-repeat 11px 50%;}
/* ball icon Live 2 */
#nav li.bk span.ball_nf { display:inline-block;vertical-align: text-bottom; margin:0 5px 0 4px; height:17px;background: url(../../images/sports/head_ball_nf.gif) no-repeat 0 0px;}
#nav li.bk span.ball_rl { display:inline-block;vertical-align: text-bottom; margin:0 4px;  height:17px;background: url(../../images/sports/head_ball_rl.gif) no-repeat 0 0px;}
#nav li.vb span.ball_bad { display:inline-block;vertical-align: text-bottom; margin:0 4px;  height:17px;background: url(../../images/sports/head_ball_bad.gif) no-repeat 0 0px;}
#nav li.vb span.ball_tt { display:inline-block;vertical-align: text-bottom; margin:0 4px;height:17px;background: url(../../images/sports/head_ball_tt.gif) no-repeat 0 0px;}

#nav li.op a { padding-left:11px;}
#nav li.tn .ball {	background: url(../../images/sports/head_ball_tn.gif) no-repeat 11px 50%;}
#nav li.vb .ball {	background: url(../../images/sports/head_ball_vb.gif) no-repeat 10px 50%;}
#nav li.bs .ball {	background: url(../../images/sports/head_ball_bs.gif) no-repeat 10px 50%;}
#nav li .ball {	display: block;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Type (Link4) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#type {padding:0px 10px;margin-top:1px;clear:left;height:25px;width:100%; background: #260707 url(../../images/sports/head_type_bg_ft.gif) 0 0 repeat-x;border-left: solid 1px #FFF; white-space: nowrap;}
#type li {list-style: none; float: left; text-align:center;  font-size: 12px; line-height: 26px; white-space: nowrap; background:url(../../images/sports/head_nav_arr.gif) no-repeat 0 50%;}
#type a {cursor:pointer;display: block; float: left;  width: .1em; padding: 0px 15px 0px 15px; color: #FFF;}
html>body #type a {width: auto;}    /* fixes IE6 hack */
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#type a {float: none;}            /* End IE5-Mac hack */
#type a:link, #type a:visited { color: #FFF;}
#type a:hover {color: #FF0;}
#type ul { margin-left:-11px; width:751px;}
#type .result{ float:right; padding-right:8px; background: none;}
#type .type_on:link, #type .type_on:visited { color: #F9C100;}
/*#type .type_out:link, #type .type_out:visited { color: #FFF;}*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~Game Selection (Link3)~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body#HFT li.ft a:link, body#HFT li.ft a:visited,
body#HFU li.ft a:link, body#HFU li.ft a:visited,
body#HBK li.bk a:link, body#HBK li.bk a:visited,
body#HBU li.bk a:link, body#HBU li.bk a:visited, body#HBU #nav li.bu a,
body#HTN li.tn a:link, body#HTN li.tn a:visited,
body#HTU li.tn a:link, body#HTU li.tn a:visited, body#HTU #nav li.tu a,
body#HVB li.vb a:link, body#HVB li.vb a:visited,
body#HVU li.vb a:link, body#HVU li.vb a:visited, body#HVU #nav li.vu a,
/*body#HFS li.fs a:link, body#HFS li.fs a:visited,*/
body#HBS li.bs a:link, body#HBS li.bs a:visited,
body#HBE li.bs a:link, body#HBE li.bs a:visited, body#HBE #nav li.be a,
body#HOP li.op a:link, body#HOP li.op a:visited,
body#HOU li.op a:link, body#HOU li.op a:visited, body#HOU #nav li.op a
{ color: #F9C100;}
.type_on { color: #F9C100!important;}

#extra2 {	display: none;}
#mem_box {	clear: both;width:240px;height: 57px;padding-top:9px;text-align:center;	color:#FFF;	border-top: 1px solid #FFF;	background-color:  #493721;	font: 12px Arial, Helvetica, sans-serif;}
#mem_box a:link, #mem_box a:visited { color: #FFF;}
#mem_box a:hover {color: #F8C100;}
#mem_box #mem_main .his {	padding-right: 25px;}
#mem_box #mem_main .wag {	padding-left: 25px;}
#mem_box #credit_main {	text-align: left;	height: 24px;margin-top: 8px;	padding: 0 12px;	line-height: 24px;font-weight: bold;	background: url(../../images/sports/head_credit_icon.gif) no-repeat 12px top;}
#mem_box #credit {	margin-left: 29px;}
#mem_box .re_credit { position: relative; top:4px \0;margin: 2px 0 0 10px; height: 16px;	width: 16px;border: none;	*cursor: hand; cursor:pointer;background: url(../../images/sports/head_credit_refresh.gif) no-repeat 0 0;}
html>body #mem_box .re_credit { background-image: url(../../images/sports/head_credit_refresh.gif);} /*mac hack*/
div#mem_box input.re_credit:hover  {background: url(../../images/sports/head_credit_refresh.gif) no-repeat 0 -20px;} 
#head_date {	color: #FFF; font-weight:normal;}


div#welcome li.rb, div#welcome li.rb_on { position:relative;}
div#welcome .level2 a { display:block; float:left; /*padding:5px 4px 5px;*/ height:36px;text-decoration:none;}
#welcome li.rb_on .level2 a:link, #welcome li.rb_on .level2 a:visited, #welcome ul.level2 a:link, #welcome ul.level2 a:visited  { color: #44321C;}

div#welcome .level2 a:hover {color: #900;}
div#welcome ul ul li { list-style:none;margin-right: 0px; padding-top:0; background-color:#FEF7E7;}
div#welcome ul.level1 li.rb:hover ul.level2, div#welcome ul.level1 li.rb_on:hover ul.level2 { display:block; height:36px;}
div#welcome ul.level2 {position:absolute; height:36px;line-height:36px;width: 800px; top:34px!important;	z-index:1000;	left:0px; font-family:Arial, Helvetica, sans-serif;
	display:none;
	visibility: visible;
}
html > body div#welcome ul ul { white-space:nowrap;}
html > body div#welcome ul.level2 {top: -27px;}
html > body .rb:hover .level2, html > body .rb_on:hover .level2 { display:block;}

#RB_MENU li.rb_bg_right { width:4px; height:36px; margin-left:-1px; background:url(../images/head_rb_menu_r.gif) no-repeat 100% 100%;}
#RB_MENU li.rb_bg_left { width:4px; height:36px; background:url(../images/head_rb_menu_l.gif) no-repeat 0 100%;}

#RB_FT, #RB_BK, #RB_TN, #RB_VB, #RB_BS, #RB_OP {padding:0 10px; background:url(../images/head_rb_menu_line.gif) no-repeat 100% 0;}
#welcome .level2 .rb_menu_on a:link , #welcome .level2 .rb_menu_on a:visited { color:#900!important;}
#welcome .level2 .rb_out a:hover { color:#900!important;}