body{
	overflow:hidden;
	*overflow:visible;
	_overflow:hidden;
	padding:0px;
    margin:0px;
}
#headerWrap {
	margin:0;
	height:104px;
	text-align:left;
	background:#191919 no-repeat;
}

/*==== menu2 ====*/
.menu2 {
	margin:0;
	width:740px;
	height:51px;
	padding:0 20px;
	overflow:hidden;
	list-style:none;
	background:url(../images/../images/menu-bg2.jpg) 0 100% no-repeat;
}
.menu2 li{
	float:left;
	width:92px;
	text-align:center;
	font:14px/58px Arial,"Microsoft YaHei", "SimHei", "STHeiti",Arial, Helvetica, sans-serif;
}
.menu2 li a{
	height:51px;
	color:#ffebc2;
	display:block;
	text-decoration:none;
}
.menu2 li a:hover{
	color:#9f7925;
	font-weight:bold;
	background:url(../../images/sports/menu-hover2.png) no-repeat 50%;
}
.menu2 li a.current{
	color:#9f7925;
	font-weight:bold;
	background:url(../../images/sports/menu-hover2.png) no-repeat 50%;
}
.sportBanner {
	  background: #8A4102 url(../../images/sports/head_bg_ft.jpg) repeat-x left top;
	  overflow: hidden;
}
.poNew{
	margin-left: 40px;
	width:630px;
	overflow: hidden;	
}
.poNew ul{
	height:34px;
}
.poNew ul li{
	float:left;
	width:110px;
	height:34px;
	margin-right:10px;
	display:inline;
	font:14px/34px Arial,"SimSun", "Microsoft YaHei",Arial, Helvetica, sans-serif;
	background: url(../../images/sports/poNew-bg.gif);
	margin-top: 12px;
}
.poNew ul li a{
	display:block;
	line-height:34px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	color: #eed693;
	font: 14px/34px Arial,"SimSun", "Microsoft YaHei",Arial, Helvetica, sans-serif;
}

.poNew ul li a:hover, .poNew ul li .current{
	background-position:bottom;
}

.poNew ul li.name {
	width: 190px;
	line-height: 16px;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: none;
	color: #FFF;
	text-align: center;
}

/*.poNew li.rb {background: url(../images/poNew-bg.gif)}
.poNew li.today {background: url(../images/poNew-bg.gif)}
.poNew li.early{background: url(../images/poNew-bg.gif)}
*/
.poNew li.rb_on  {background-position:bottom;}
.poNew li.today_on{background-position:bottom;}
.poNew li.early_on {background-position:bottom;}

.poNew ul li a:hover, .poNew ul li .current{
	background-position:bottom;
}


.top {
	margin: 0;
}
.game {
	margin: 0;
	height: 100px;
	overflow: hidden;
}

.advertis-bottom ul li a:hover { background: url("../images/nav.png") no-repeat scroll left bottom transparent; color: rgb(255, 255, 255); float: left; height: 54px; line-height: 54px; width: 83px; }

#direction1 { color: rgb(255, 255, 255); float: right; letter-spacing: 2px; padding: 0px 10px 4px; width: 940px; }

.memExclusive_1 a:hover { background-image: url("../images/135624927602.jpg"); background-position: center top; cursor: pointer; float: left; height: 80px; margin: 0px auto; width: 940px; }

.memExclusive_2 a:hover { background-image: url("../images/134613635508.jpg"); background-position: center top; cursor: pointer; float: left; height: 80px; margin: 0px auto 5px; width: 940px; }

/**********************************/
/* CSS Document */


.TopPromotionWrapper{
    background-repeat: repeat-x;
    height: 464px;
	background-color: #1b3b50;
    min-width: 990px;
    width: 100%; 
	background-image:url(../images/1x600px-Background.gif)}
	
.TopPromotion {
    margin: 0 auto;
    padding: 0 40px 0 0px;
    width: 950px;}
	

.zhentenliangge{ width:990px; height:225px; margin:  0 auto 50px auto;}
.hglogo{ float:left; margin-right:34px;}
.hglogo a{ width:296px; height:225px; border:2px solid #1b3b50;  display:block}
.hglogo a:hover{ border:2px solid #ffdf1b;width:296px;  height:225px; display:block}
.bbinlogo{ float:left;}
.bbinlogo a{ width:296px; height:225px; border:2px solid #1b3b50;  display:block}
.bbinlogo a:hover{ border:2px solid #ffdf1b;width:296px; height:225px; display:block}
