﻿*{margin:0px; padding:0px;}
li{list-style:none;}
body{color:#FFF;}
#msg{position:fixed; width:100%; height:100%; z-index:9991; left:0px; top:0px; background-image:url(../images/hongbaomsgbg.png); background-repeat:repeat; display:none; cursor:pointer;}
#msg dl{width:150px; height:215px; position:fixed; z-index:9992; left:50%; top:50%; margin-left:-75px; margin-top:-137px;}
#msg dl dt img{box-shadow:0px 0px 50px #FFFF00;-moz-box-shadow:0px 0px 50px #FFFF00;-webkit-box-shadow:0px 0px 50px #FFFF00;-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius:15px;}
#msg dl dd{width:48px; height:48px; text-align:center; line-height:48px; background-color:#FFF; color:#FF0000; position:absolute; right:-14px; top:-14px;-moz-border-radius: 100px; -webkit-border-radius: 100px; border-radius:100px; font-weight:bold; font-size:42px; font-family:Arial Black,Arial; border:solid 2px #FF0000;}
#msg span{display:block; position:fixed; left:0px; top:50%; width:100%; font-size:36px; text-align:center; color:#FFFF00; margin-top:100px;}
#msg span strong{color:#FF0000; font-family:Arial Black,Arial; font-size:64px;}

.hidebox{display:none;}
.cenbox{width:1000px; margin:auto;}
.hongbao img{position:fixed; z-index:9990; cursor:pointer;}
.banner{height:720px; background-image:url(../images/banner.jpg); background-repeat:no-repeat; background-position:center center; position:relative;}
.banner ul{width:400px; height:200px; position:absolute; left:50%; margin-left:-200px; bottom:173px; overflow:hidden;}
.banner ul li{padding-top:5px; padding-bottom:5px; font-size:16px;}
.banner ul li small{font-size:14px; margin-right:20px;}
.banner ul li span{color:#00FF00; margin-right:20px;}
.banner ul li strong{color:#FFFF00;}
.main1{height:100%; background-image:url(../images/big_bg.jpg); background-repeat:repeat-y; background-position:center top; padding-top:40px; padding-bottom:40px;}
.main1 table{text-align:center; background-color:#990000;}
.main1 table td{padding:10px;}
.main1 table tr:first-child td{font-weight:bold; background-color:#FFFF00; color:#FF0000; font-size:24px;}
.main1 table tr td{background-color:#FF0000; font-size:18px;}
.footbox{background-color:#670002; padding-top:40px; padding-bottom:40px;}
.footbox h1{text-align:center; font-size:24px; color:#FFCC00;}
.footbox p{padding-top:15px; color:#FFFF00;}

/*
弹出登录*/
.pop {
    display: none;
    z-index: 1000;
}

.pop-login {
    display: none;
    z-index: 1000;
}

.pop-login,
.pop-login .mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.error {
    height: 25px;
    line-height: 25px;
    padding-left: 22px;
    font-weight: normal;
    color: #e30000;
}

.right-icon, .valid {
    height: 25px;
    line-height: 28px;
    padding-left: 22px;
    font-weight: normal;
    color: #018951;
}

.pop-login .mask {
    background-color: #000;
    opacity: 0.3;
    /* IE 4-9 */
    filter: alpha(opacity=30);
    /*This works in IE 8 & 9 too*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    /*IE4-IE9*/
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}

.pop-login .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 460px;
    height: 314px;
    margin-left: -230px;
    margin-top: -177px;
    background-color: #fff;
}

.pop-login .title {
    position: relative;
    height: 55px;
    margin-left: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #e7f6fb;
    color: #006fbb;
    padding-left: 22px;
    line-height: 55px;
    font-size: 20px;
}

.pop-login .close {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-family: arial, sans-serif;

    cursor: pointer;
}

.pop-login .close:hover {
    background-color: #fff;
}

.pop-login .close:active {
    background-color: #cddfe5;
}

.pop-login .con {
    position: relative;
    padding-top: 27px;
    padding-left: 1px;
    margin: 0 63px;
}
#verifyHtml{
    padding-top: 5px;
}

.pop-login .br {
    position: relative;
    padding-bottom: 15px;
    padding-left: 50px;
}

.pop-login .con label {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #000;
    font-size: 14px;
}

.pop-login .other span {
    color: #006fbb;
    float: left;
    height: 24px;
    line-height: 24px;
    padding-right: 5px;
}

.pop-login .other {
    padding-top: 0;
}

.pop-login .other a {
    display: block;
    float: left;
}

.other .qq,
.other .wb {
    width: 29px;
    height: 24px;
    border: 1px solid #e5e6e8;
}

.other .wb {
    background-position: -2px -734px;
    border-right: 0;
}

.pop-login .txt input,
.pop-login .pas input {
    position: relative;
    z-index: 2;
    height: 20px;
    padding: 12px 8px 6px;
    width: 258px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    *margin-left: -63px;
    border: 1px \9;
    height: 21px \9;
    width: 228px \9;
}

.pop-login .pas input {

}

.pop-login .checkbox span {
    position: relative;
    left: 3px;
    top: -2px;
    color: #a3a3a3;
}

.pop-login .checkbox a {
    position: absolute;
    right: 0;
    color: #a3a3a3;
}

.pop-login .checkbox a:hover {
    color: #e30000;
}

.pop-login .sub input {
    height: 40px;
    width: 138px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #34495e;
    font-size: 18px;
    border: 0;
    border-radius: 3px;
    *margin-left: -63px;
    outline: none;

}

.pop-login .sub input:hover {
    background-color: #57667b;
}

.pop-login .sub input:active {
    background-color: #2e4154;
}

.pop-login .sub a {
    color: #e10000;
    margin-left: 85px;
}
.pop-login .sub  .forget-password{
    top: 13px;
    position: absolute;
    left: 120px;
    width: 65px;
    color: #b3b3b3;
}
.pop-login .sub  .forget-password:hover{
    color: #e30000;
}
.pop-login .sub a:hover {
    text-decoration: underline;
}

.pop-login .checkbox a:hover {
    color: #006fbb;
    text-decoration: underline;

}

.pop-login .txt span,
.pop-login .pas span {
    position: absolute;
    left: 50px;
    top: 0;
    z-index: 0;
    display: block;
    width: 258px;
    height: 40px;
    line-height: 42px;
    padding: 0 8px;
    color: #b0b0b0;
    border-radius: 3px;
    text-align: left;
    border: 1px solid #c9c9c9 \9;
}

.pop-login .pas span {
    background-position: 248px -407px;
}

.pop-login .txt input:focus,
.pop-login .pas input:focus {
    border: 1px solid #006fbb;
    border: 0 \9;
}


.login-before {
    display: none;
}

.login-after {
    display: none;
}
