
<form>
	<table betprefix="">
		<thead>
			<tr>
				<th colspan="6">冠, 亚 和 </th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>和大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和大" rate="0.0" oddsId="" class="isNowYear" rakeBack="500">
				</td>
				<td>和小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和小" rate="0.0" oddsId="" class="isNowYear" rakeBack="501">
				</td>
			</tr>
			<tr>
				<td>和单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和单" rate="0.0" oddsId="" class="isNowYear" rakeBack="502">
				</td>
				<td>和双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="和双" rate="0.0" oddsId="" class="isNowYear" rakeBack="503">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="冠军">
		<thead>
			<tr>
				<th colspan="6">冠军</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="504">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="505">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="506">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="507">
				</td>
			</tr>
			<tr class="longhubutton">
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="508">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="509">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="亚军">
		<thead>
			<tr>
				<th colspan="6">亚军</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="504">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="505">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="506">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="507">
				</td>
			</tr>
			<tr class="longhubutton">
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="508">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="509">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="季军">
		<thead>
			<tr>
				<th colspan="6">季军</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="504">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="505">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="506">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="507">
				</td>
			</tr>
			<tr class="longhubutton">
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="508">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="509">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第四名">
		<thead>
			<tr>
				<th colspan="6">第四名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="504">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="505">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="506">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="507">
				</td>
			</tr>
			<tr class="longhubutton">
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="508">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="509">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第五名">
		<thead>
			<tr>
				<th colspan="6">第五名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="504">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="505">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="506">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="507">
				</td>
			</tr>
			<tr class="longhubutton">
				<td>龙</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="龙" rate="0.0" oddsId="" rakeBack="508">
				</td>
				<td>虎</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="虎" rate="0.0" oddsId="" rakeBack="509">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第六名">
		<thead>
			<tr>
				<th colspan="6">第六名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="504">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="505">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="506">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="507">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第七名">
		<thead>
			<tr>
				<th colspan="6">第七名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="504">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="505">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="506">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="507">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第八名">
		<thead>
			<tr>
				<th colspan="6">第八名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="504">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="505">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="506">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="507">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第九名">
		<thead>
			<tr>
				<th colspan="6">第九名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="504">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="505">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="506">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="507">
				</td>
			</tr>
		</tbody>
	</table>
	<table betprefix="第十名">
		<thead>
			<tr>
				<th colspan="6">第十名</th>
			</tr>
		</thead>
		<tbody>
			<tr class="bg-warning">
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
				<th>号码</th>
				<th>赔率</th>
				<th>金额</th>
			</tr>
			<tr>
				<td>大</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="大" rate="0.0" oddsId="" rakeBack="504">
				</td>
				<td>小</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="小" rate="0.0" oddsId="" rakeBack="505">
				</td>
			</tr>
			<tr>
				<td>单</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="单" rate="0.0" oddsId="" rakeBack="506">
				</td>
				<td>双</td>
				<td class="text-red" >0.0</td>
				<td><input type="text" name="双" rate="0.0" oddsId="" rakeBack="507">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="height: 10px;"></div>
	<div class="text-center footercontent">
	<div class="container text-center">
		<input type="reset" class="btn btn-warning" value="重填">
		<input type="button" onclick="submintClick(8, 'shuangmianpan', 'shuangmianpan', '双面盘')" class="btn btn-warning" value="确认下注">
	</div>
	</div>
</form>
