.gcmain{
	margin:auto;
	width:1000px;
	position: relative;
}

.ele-game-wrap {
    background: #f6f6f6 none repeat scroll 0 0;
}
.clear {
    clear: both;
}
ul, li {
    list-style: outside none none;
}
.six_con_to {
    background: #fff none repeat scroll 0 0;
}
.color-blue {
    color: #2ca8e6;
}
.top-bg {
    height: 260px;
    width: 100%;
}
.-top {
    position: relative;
    top: 0;
}
.show-keno {
    margin-left: 20px;
    margin-top: 5px;
}
.lot-gd1 li.keno {
    background: #273041 none repeat scroll 0 0;
    border: 2px solid #808cb0;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    margin-bottom: -3px;
    margin-right: 4px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    width: 25px;
}
.tz_body {
    color: #211f1d;
}
.tab-front .content, .tab-back .content {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 6px 28px;
}
.tab-front .content em{
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 23px;
	top: 6px;
	background: url(../images/kc-icon.png) no-repeat -288px -32px;
}
.tab-front a:hover {
    color: #fff;
}
.tab-back .content:hover, .unit_title .tab-front .content, #changemode .content:hover, #lt_buy:hover {
    background: rgba(0, 0, 0, 0) url("../images/unit_hover.jpg") repeat-x scroll 0 0;
    color: #fff;
}
#changemode .content {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #808cb0, #5a627a) repeat scroll 0 0;
    line-height: 18px;
    padding: 10px 30px;
    transition: all 0.2s linear 0s;
}
#changemode .content:active, #lt_buy:active, .yh:active {
    background: #e84f31 none repeat scroll 0 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2) inset;
    color: #fff;
    text-shadow: 0 1px #bfc9e8;
}
#tabCon {
    background: #e6e6e6 none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    padding: 12px;
}
#tabbar-div-s3 {
    font-size: 12px;
    padding: 10px 0 10px 5px;
    text-align: left;
}
#tabbar-div-s3 li {
    color: #f13131;
    display: block;
    height: 30px;
}
#tabbar-div-s3 div {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 15px;
}
.act, .back, .tz_title {
    float: left;
}
#tabbar-div-s3 span {
    display: inline-block;
    line-height: 28px;
    padding: 0 15px;
}
#tabbar-div-s3 div span:hover {
    color: #f13131;
    cursor: pointer;
}
.back {
    color: #666;
}
.act {
    border: 1px solid #f13131 !important;
    border-radius: 5px;
    color: #f13131;
}
.tzn_body {
    font-size: 14px;
    position: relative;
}
.tbn_top, .tbn_cen, .tbn_b_top {
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0 5px 25px;
    position: relative;
    width: 960px;
}
.tbn_b_top {
    border-bottom: 1px dashed #cecece;
    padding-top: 10px;
}
.bottomNone{
	border-bottom:none;
}
.tbn_top {
    padding: 10px 10px 0 15px;
}
.tbn_top h5 {
    color: #111;
    float: left;
    font-weight: normal;
    padding-left: 10px;
}
.more {
    background: #e84f31 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    max-width: 280px;
}
.more > div {
    padding: 8px 20px 0 0;
}
.more::after {
    border-color: #e84f31 transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    bottom: -4px;
    content: "";
    height: 0;
    left: 50px;
    position: absolute;
    width: 0;
}
#lt_example, #lt_help {
    color: #e84f31;
    cursor: pointer;
    float: left;
    font-size: 12px;
    margin: 3px 0 0 10px;
    padding-left: 17px;
    width: auto;
}
.gds {
    margin-bottom: 5px;
    overflow: hidden;
}
.tiempty {
    float: left;
    height: 1px;
    width: 145px;
}
.ti, .gd, .gd div, .to, .gds li {
    float: left;
}
.ti, .to {
    background: #e7e7e7 none repeat scroll 0 0;
    border-radius: 36px;
    box-shadow: 0 3px 5px #bbb inset;
    color: #000;
    font-size: 16px;
    line-height: 36px;
    margin-top: 7px;
    text-align: center;
    transition: all 0.2s linear 0s;
}
.to {
    margin-left: 28px;
}
.ti {
    margin-right: 25px;
    width: 120px;
}
.gd, .gdts, .gdksts, .bl {
    border-radius: 25px;
    float: left;
    margin: 2px 0;
    padding: 5px 15px;
    transition: all 0.3s linear 0s;
}
.gd:hover, .selposition:hover, .to:hover {
    background: rgba(234, 114, 26, 0.1) none repeat scroll 0 0;
    box-shadow: 0 3px 5px #d4bead inset;
}
.gd div, .dxjoq, .gdts div, .gdksts div, .bl div, .random_button, .possibleprize {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 33px;
    box-shadow: 1px 1px 2px #ccc;
    color: #8f8f8f;
    cursor: pointer;
    float: left;
    font-size: 22px;
    font-weight: 500;
    height: 33px;
    line-height: 33px;
    margin: 0 5px;
    text-align: center;
    transition: all 0.2s linear 0s;
    width: 33px;
}
.gdts div, .gdksts div, .bl div, .random_button, .possibleprize {
    border-radius: 5px;
    font-size: 16px;
    padding: 1px 20px;
}
.gd div:hover, .gdts div:hover, .gdksts div:hover, .bl div:hover, .random_button:hover {
    border: 1px solid #e84f31;
}
.gd .on, .to .on, .gdts .on, .gdksts .on, .bl .on, .on {
    background: #e84f31 none repeat scroll 0 0;
    color: #fff;
}
.gd .sha {
    background: #cdcdcd none repeat scroll 0 0;
    color: #fff;
}
.gd .redb {
    background: #ff7575 none repeat scroll 0 0;
    color: #fff;
}
.gd .blueb {
    background: #7d7dff none repeat scroll 0 0;
    color: #fff;
}
#lt_selector .to li.on:nth-last-child(2) {
    background: #11b35e none repeat scroll 0 0;
}
#lt_selector .to li:hover {
    border: 1px solid #e84f31;
}
.odds div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bbb;
    box-shadow: 1px 1px 2px #bbb;
    color: #8f8f8f;
    float: left;
    font-size: 8px;
    font-weight: 500;
    height: 22px;
    line-height: 22px;
    margin: 0 2px;
    text-align: center;
    transition: all 0.2s linear 0s;
    width: 39px;
}
.gdts div {
    width: auto;
}
#lt_selector .to li:hover:nth-last-child(2) {
    border: 1px solid #11b35e;
}
.xzjz-li {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    margin: 10px auto 0;
    padding: 10px 20px;
    width: 800px;
}
#tool_xzjz ul li {
    float: left;
    line-height: 25px;
    padding: 5px 20px;
    width: 360px;
}
#tool_xzjz ul .clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.to {
    padding: 5px 15px;
}
.dxjoq {
    border-radius: 25px;
    font-size: 14px;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    width: 25px;
}
.gdksts {
    margin-right: 140px;
}
.bl div {
    width: 70px;
}
.random_sel_button {
    float: left;
}
.random_button, .possibleprize {
    font-size: 14px;
    margin: 0 6px;
    padding: 2px 0;
    width: 86px;
}
.possibleprize {
    background: #11b35e none repeat scroll 0 0;
    color: #fff;
}
.possibleprize:hover {
    background: #098e48 none repeat scroll 0 0;
}
.funny_desc {
    color: #e84f31;
    float: left;
    font-size: 12px;
    margin: 32px 0 0 15px;
}
#random1, #lt_possibleprize {
    margin: 20px 6px 10px;
}
#f_r_down_even {
    margin-bottom: 20px;
}
.keno {
    margin: 10px 0;
    width: 900px;
}
#lt_write_box {
    border: 0 none;
    height: 140px !important;
    width: 740px !important;
    background: rgba(0, 0, 0, 0) url("../images/input_bg.png") no-repeat scroll 90px 0;
}
.write_box_desc {
    display: block;
    font-size: 12px;
    margin: 10px;
}
.selposition {
    background: #d5d5d5 none repeat scroll 0 0;
    border-radius: 340px;
    box-shadow: 0 3px 5px #bbb inset;
    line-height: 50px;
    margin: 15px 0 20px;
    text-align: center;
    transition: all 0.2s linear 0s;
    width: 740px;
}
.selposition label {
    cursor: pointer;
    margin-right: 10px;
}
.positiondesc {
    font-size: 12px;
}
.positioncount {
    color: #e84f31;
    font-size: 14px;
    font-weight: bold;
}
.tbn_bt_sel {
    color: #111;
    float: left;
    font-size: 12px;
}
.n, .sub_txt .r, .y {
    color: #e84f31;
    display: inline-block;
    font-family: Tahoma;
    font-size: 12px;
    min-width: 10px;
    text-align: center;
}
.changetime {
    background: #e84f31 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 22px;
    text-align: center;
    width: 20px;
}
#lt_sel_dyprize, #lt_sel_times, #lt_issue_start, #lt_trace_qissueno, #lt_trace_times_margin, #lt_trace_margin, #lt_trace_count_input, #lt_trace_times_same, #lt_trace_diff, #lt_trace_times_diff {
    background: #ededed none repeat scroll 0 0;
    border: 0 none;
    color: #e84f31;
    height: 24px;
    margin: 0 8px;
    position: relative;
    text-align: center;
    top: -1px;
    width: 45px;
}
.choose-money {
    background: #e1e1e1 none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    display: inline-block;
    margin-right: 20px;
    padding: 2px;
    position: relative;
    text-align: center;
    top: 9px;
}
.choose-money li {
    background: #fbfbfb none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    color: #000;
    cursor: pointer;
    display: block;
    float: left;
    line-height: 20px;
    width: 33px;
}
.choose-money li:hover {
    background: #f3f3f3 none repeat scroll 0 0;
}
.choose-money li:nth-child(1) {
    border-bottom-left-radius: 4px;
    border-right: medium none;
    border-top-left-radius: 4px;
}
.choose-money li:last-child {
    border-bottom-right-radius: 4px;
    border-left: medium none;
    border-top-right-radius: 4px;
}
.choose-money .on {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f08436, #b85710) repeat scroll 0 0;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #b85710),color-stop(.8, #f08436));
    color: #fff;
}
.choose-money .on:hover {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f08436, #b85710) repeat scroll 0 0;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #b85710),color-stop(.8, #f08436));
}
#lt_trace_qissueno {
    width: 70px;
}
#lt_sel_times, #lt_trace_times_margin, #lt_trace_count_input, #lt_trace_times_same, #lt_trace_diff, #lt_trace_times_diff, #lt_trace_margin {
    border-radius: 5px;
    height: 22px;
    margin: 0 1px;
    width: 60px;
}
#lt_sel_dyprize {
    width: 100px;
}
.g_submit {
    background: rgba(0, 0, 0, 0) url("../images/g_submit_bg.jpg") repeat-x scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    width: 160px;
}
.g_submit:hover {
    background: rgba(0, 0, 0, 0) url("../images/g_submit_bg.jpg") repeat-x scroll 0 0;
}
.g_submit:active {
    background: #d06517 none repeat scroll 0 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2) inset;
    color: #763a0d;
    text-shadow: 0 1px #f59854;
}
.g_submit span {
    margin-right: 12px;
}
#lt_sel_insert {
    float: right;
    margin: 0 55px 15px 0;
}
.tbn_b_bot {
    background: #ededed none repeat scroll 0 0;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 8px;
    float: left;
    height: 251px;
    margin: 20px 0 0 20px;
    width: 750px;
}
.tbn_bb_l {
    background: rgba(14, 18, 24, 0.8) none repeat scroll 0 0;
    border-radius: 5px;
    height: 20px;
    margin: 7px auto;
    width: 736px;
}
.tbn_bb_l .tbn_bg2{
	padding-top:7px;
	width:728px;
	margin:0 auto;
}
.tbn_bb_ln {
    background: #fff none repeat scroll 0 0;
    height: 125px;
    margin: 0 auto 9px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 728px;
}
.tz_tab_list_box {
    font-size: 12px;
}
.tz_tab_list {
    width: 100%;
}
.tbn_bb_2 {
    float: left;
    margin: 75px 0 0 10px;
}
.tbn_clear, .lsb, .yh {
    background: rgba(0, 0, 0, 0) linear-gradient(#f86e3d, #f15b24) repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    line-height: 34px;
    margin-bottom: 12px;
    text-align: center;
    width: 100px;
}
.lsb {
	height:30px;
    line-height: 30px;
    margin: 5px 0 15px 40px;
}
.tbn_clear:hover, .lsb:hover {
    background: #f66835 none repeat scroll 0 0;
}
.tbn_clear:active, .lsb:active {
    background: #f66835 none repeat scroll 0 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2) inset;
    color: #fff;
    text-shadow: 0 1px #6a6a6a;
}
.tl_li_r {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    text-rendering: auto;
}
.tl_li_r:hover {
    color: #e84f31;
}
.tl_li_r::before {
    content: "";
}
.noinfo {
    padding: 10px 0 84px;
}
.tz_tab_list td {
    border-bottom: 1px dashed #d5d5d5;
    color: #2b2b2b;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size:12px;
}
.tz_tab_list th{
	background: rgba(0, 0, 0, 0) url("../images/unit_bg.jpg") repeat scroll 0 0;
	height:48px;
	font-size:14px;
}
.tz_tab_list tbody tr:hover, .yxlist tbody tr:hover {
    background: rgba(234, 114, 26, 0.1) none repeat scroll 0 0;
    box-shadow: 0 3px 5px #d4bead inset;
}
.tbn_bb_r {
    background: rgba(23, 28, 38, 0.5) none repeat scroll 0 0;
    color: #fff;
    font-size: 12px;
    height: 90px;
    margin: 50px auto 0;
    width: 950px;
}
.sub_txt {
    font-size: 12px;
    line-height: 22px;
    margin-left: 0;
}
.sub_txt > div {
    float: left;
    margin: 0 15px;
    position: relative;
    text-align: left;
}
#lt_issue_start {
    width: 140px;
}
.zh_title {
    color: #11b35e;
    cursor: pointer;
}
.zh_title:hover {
    color: #18c86c;
}
.lt_trace_if {
    background: #0e1117 none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    float: left;
    height: 20px;
    left: 0;
    margin-left: 5px !important;
    position: relative;
    top: 12px;
    width: 50px;
}
.lt_trace_if::after {
    color: #7188b3;
    content: "关";
    font: bold 12px/22px Arial,sans-serif;
    position: absolute;
    right: 7px;
    z-index: 0;
}
.lt_trace_if::before {
    color: #43bb8e;
    content: "开";
    font: bold 12px/22px Arial,sans-serif;
    left: 7px;
    position: absolute;
    z-index: 0;
}
.lt_trace_if label {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%) repeat scroll 0 0;
    border-radius: 23px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: block;
    height: 23px;
    left: 0;
    position: absolute;
    top: -1px;
    transition: all 0.4s ease 0s;
    width: 23px;
    z-index: 1;
}
.lt_trace_if input[type="checkbox"] {
    visibility: hidden;
}
.lt_trace_if input[type="checkbox"]:checked + label {
    left: 25px;
}
.zh_body {
    margin-top: 12px;
    padding-bottom: 0;
    width: 100%;
}
#lt_trace_box {
    color: #333;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}
.zh_continue {
    color: #333;
    cursor: pointer;
    float: right;
    position: absolute;
    right: 10px;
    top: 12px;
}
.zh_continue:hover {
    color: #f13131;
}
.u_tab_div {
	background: rgba(0, 0, 0, 0) url("../images/unit_bg.jpg") repeat scroll 0 0;
    line-height: 28px;
    height: 47px;
    margin: auto;
    width: 1000px;
}
.tabbar-div-s3 {
    background: #fafafa none repeat scroll 0 0;
    margin: 0 auto;
    width: 961px;
}
#lt_trace_label .tab-front .content {
    border-top: 2px solid #f13131;
    color: #666;
    line-height: 28px;
    font-weight: bold;
}
#lt_trace_label .tab-back .content {
    color: #333;
    line-height: 28px;
}
#lt_trace_label .tab-back .content:hover {
    background: #e2e2e2 none repeat scroll 0 0;
    color: #f13131;
}
.zhgen {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    margin: -2px auto 0;
    padding-left: 32px;
    width: 927px;
}
.zhgen td {
    height: 50px;
    font-size:13px;
}
.zhlist {
    background: #fafafa none repeat scroll 0 0;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    max-height: 400px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    width: 959px;
}
#lt_trace_issues_table {
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    font-size:12px;
    margin:10px auto;
}
#lt_trace_issues_table tr td {
    border-bottom: 1px dashed #d5d5d5;
}
#lt_trace_issues_table .on {
    background: rgba(234, 114, 26, 0.1) none repeat scroll 0 0;
    color: #e84f31;
}
#lt_trace_issues_table tbody tr:hover {
    background: #fdf1e8 none repeat scroll 0 0;
    color: #e84f31;
}
#lt_trace_issues_table tr.t{
	background: #f3f3f3;
	line-height: 36px;
	font-weight: bold;
}
.r2 {
    width: 50px;
    height:18px;
    text-align: center;
}
.r1 {
    text-align: right;
}
.bg10 {
    height: 100%;
    padding-top: 12px;
    width: 100%;
}
#lt_buy {
    background: rgba(0, 0, 0, 0) linear-gradient(#0fbd0f, #0c9907) repeat scroll 0 0;
    margin: 20px 0 5px;
}
#lt_buy:hover {
    background: #27af67 none repeat scroll 0 0;
}
#lt_buy:active {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2) inset;
    color: #04331a;
    text-shadow: 0 1px #1ad071;
}
.yx_body {
    color: #2b2b2b;
    margin: 10px auto 0;
    overflow: hidden;
    padding-bottom: 5px;
    width: 960px;
    width: 958px;
	max-height: 1000px;
	border: 1px solid #cccccc;
}
.yx_title {
    background: #eaeaea none repeat scroll 0 0;
    border-top: 3px solid #e84f31;
    color: #e84f31;
    font-size: 14px;
    font-weight: normal;
    padding: 8px 30px 14px;
}
.yxlist table {
    line-height: 30px;
    text-align: center;
    margin: 10px auto;
}
.yxlist {
    color: #333;
    max-height: 370px;
}
.yxlist th {
    background: #eaeaea none repeat scroll 0 0;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
	border-right: 1px solid #fff;
	font-size:13px;
}
.yxlist tr td {
    border-bottom: 1px dashed #d5d5d5;
    line-height: 33px;
    font-size:12px;
    background: #fafafa;
}
.t_right{
	text-align: right;
	padding-right: 35px;
}
.yxlist .noBorder{
	border-right:none;
}
.BetInf,.cheDan{
	font-size: 15px;
	color: #29abe2;
	cursor: pointer;
}
.BetInf:hover,.cheDan:hover{
	text-decoration: underline;
}
.blue {
    color: #e84f31;
    text-decoration: underline;
}
.red {
    color: red;
}
input:focus, select:focus, textarea:focus {
    outline: 0 none;
}
.nosel input {
    border: 1px solid #ccc;
}
#lt_selector *,#navTab_content div,#bet_panel ul,#bet_panel table, .lhc_R table {
    animation-duration: 0.5s;
    animation-name: rise;
    animation-timing-function: ease;
}
.gd div i {
    font-size: 10px;
    position: relative;
    right: -9px;
    text-decoration: none;
    top: -23px;
}
@keyframes rise {
0% {
    opacity: 0;
    transform: translateX(200px);
}
100% {
    opacity: 10;
    transform: translateX(0px);
}
}
@keyframes rise {
0% {
    opacity: 0;
    transform: translateX(200px);
}
100% {
    opacity: 10;
    transform: translateX(0px);
}
}
@keyframes rise {
0% {
    opacity: 0;
    transform: translateX(200px);
}
100% {
    opacity: 10;
    transform: translateX(0px);
}
}
.gd div:hover {
    transform: scale(1.3);
}
.to .dxjoq:hover {
    transform: scale(1.3);
}
#count_down .yyyt {
    color: #fff;
    font-size: 20px;
}
.rxdesc {
    font-size: 12px;
}
.rxcount {
    color: #d65b00;
    font-size: 12px;
}
div.cs-select {
    -moz-user-select: none;
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    max-width: 500px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    z-index: 100;
}
div.cs-select:focus {
    outline: medium none;
}
.cs-select select {
    display: none;
}
.cs-select span {
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 1em;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cs-select > span {
    padding-right: 3em;
}
.cs-select > span::after, .cs-select .cs-selected span::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.cs-select > span::after {
    content: "▾";
    right: 1em;
}
.cs-select .cs-selected span::after {
    content: "✓";
    margin-left: 1em;
}
.cs-select.cs-active > span::after {
    transform: translateY(-50%) rotate(180deg);
}
.cs-select .cs-options {
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 100%;
}
.cs-select.cs-active .cs-options {
    visibility: visible;
}
.cs-select ul {
    color: #e84f31;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.cs-select ul span {
    padding: 1em;
}
.cs-select ul li.cs-focus span {
    background-color: #ddd;
}
.cs-select li.cs-optgroup ul {
    padding-left: 1em;
}
.cs-select li.cs-optgroup > span {
    cursor: default;
}
div.cs-skin-border {
    background: transparent none repeat scroll 0 0;
    line-height: 0;
    margin: 0 10px;
    max-width: 140px;
    width: 140px;
}
@media screen and (max-width: 30em) {
div.cs-skin-border {
    font-size: 1em;
}
}
.cs-skin-border > span {
    border: 1px solid #e84f31 !important;
    border-radius: 5px;
    color: #e84f31;
    transition: background 0.2s ease 0s, border-color 0.2s ease 0s;
}
.cs-skin-border > span::after, .cs-skin-border .cs-selected span::after {
    content: "";
    font-family: FontAwesome;
}
.cs-skin-border ul span::after {
    content: "";
    opacity: 0;
}
.cs-skin-border .cs-selected span::after {
    color: #ddd9c9;
    content: "";
    font-size: 1.5em;
    opacity: 1;
    transition: opacity 0.2s ease 0s;
}
.cs-skin-border.cs-active > span {
    background: #fff none repeat scroll 0 0;
    border: medium none !important;
    border-radius: 5px 5px 0 0;
    color: #e84f31;
}
.cs-skin-border .cs-options {
    color: #2980b9;
    font-size: 0.75em;
    opacity: 0;
    transition: opacity 0.2s ease 0s, visibility 0s ease 0.2s;
}
.cs-skin-border.cs-active .cs-options {
    opacity: 1;
    transition: opacity 0.2s ease 0s;
}
.cs-skin-border ul span {
    backface-visibility: hidden;
    padding: 1em 2em;
}
.cs-skin-border .cs-options li span:hover, .cs-skin-border li.cs-focus span {
    background: #f5f3ec none repeat scroll 0 0;
}
.width-60 {
    max-width: 65px !important;
    width: 65px !important;
}
.game_list {
    background: #343a47 none repeat scroll 0 0;
    left: -118px;
    position: absolute;
    top: 0;
    width: 115px;
}
.game_list .title {
    border-top: 1px solid #3d465a;
    color: #1a99ea;
    display: inline-block;
    font-size: 14px;
    line-height: 2.5em;
    text-align: left;
}
.game_list .title i {
    margin: 0 5px 0 29px;
}
.game_list li {
    border-bottom: 1px solid #111;
    float: left;
    width: 115px;
}
.game_list li:nth-child(21) {
    border-bottom: medium none;
}
.game_list li a {
    color: #bebebe;
    display: block;
    padding: 6px 3px;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}
.game_list .now a {
    color: #fff;
}
.game_list .now a span {
    opacity: 1;
}
.game_list span {
    opacity: 0;
    padding: 0 8px 0 5px;
    transition: all 0.2s ease-out 0s;
}
.game_list li:hover a {
    background: #1170b3 none repeat scroll 0 0;
    color: #fff;
}
.game_list li:hover span {
    opacity: 1;
    z-index: 100;
}
@media (max-width: 1200px) {
.game_list {
    display: none;
}
}
.gd a {
    color: #111;
}
.ty_srk {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    color: #e84f31;
    height: 24px;
    margin: 0 8px;
    position: relative;
    text-align: center;
    top: -1px;
    width: 45px;
}
.game_list {
    background: #343a47 none repeat scroll 0 0;
    left: -118px;
    position: absolute;
    top: 0;
    width: 115px;
}
.game_list .title {
    background: #3d465a none repeat scroll 0 0;
    border-top: 1px solid #000;
    color: #1a99ea;
    display: inline-block;
    font-size: 14px;
    line-height: 2.5em;
    text-align: left;
}
.game_list .title i {
    margin: 0 5px 0 29px;
}
.game_list li {
    border-bottom: 1px solid #000;
    float: left;
    width: 115px;
}
.game_list li:nth-child(21) {
    border-bottom: medium none;
}
.game_list li a {
    color: #999;
    display: block;
    padding: 6px 3px;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}
.game_list .now a {
    background: #1170b3 none repeat scroll 0 0;
    color: #fff;
}
.game_list .now a span {
    opacity: 1;
}
.game_list span {
    opacity: 0;
    padding: 0 8px 0 5px;
    transition: all 0.2s ease-out 0s;
}
.game_list li:hover a {
    background: #1170b3 none repeat scroll 0 0;
    color: #fff;
}
.game_list li:hover span {
    opacity: 1;
    z-index: 100;
}
@media (max-width: 1200px) {
.game_list {
    display: none;
}
}
.fanli {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") no-repeat scroll -354px -102px;
    float: left;
    height: 10px;
    position: relative;
    right: 5px;
    top: 3px;
    width: 14px;
}
.shuoming {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") no-repeat scroll -377px -99px;
    float: left;
    height: 12px;
    position: relative;
    right: 5px;
    top: 3px;
    width: 14px;
}
.zoushi {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") no-repeat scroll -287px -207px;
    float: left;
    height: 10px;
    position: relative;
    right: 5px;
    top: 5px;
    width: 14px;
}
.tianjia {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") no-repeat scroll -353px -130px;
    float: left;
    height: 21px;
    margin: 15px 0 0 15px;
    position: relative;
    width: 28px;
}
.touzhu {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") no-repeat scroll -316px -130px;
    float: left;
    height: 21px;
    margin: 15px 0 0 15px;
    position: relative;
    width: 28px;
}
.zh_box {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    height: 45px;
    margin-left: 3px;
    width: 728px;
}
.zh_box a {
    color: #333;
}
.zh_box a:hover {
    color: #e84f31;
}
.zhuihao {
    float: left;
    font-size: 12px;
    line-height: 45px;
    width: 130px;
}
.zhuihao_wz {
    float: left;
    text-indent: 5px;
}
.zhuihao_ui {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") no-repeat scroll -314px -198px;
    float: left;
    height: 24px;
    margin: 11px 5px 0 15px;
    position: relative;
    width: 24px;
}
.qingkuang {
    float: left;
    font-size: 12px;
    line-height: 45px;
    width: 100px;
}
.qingkuang_ui {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") no-repeat scroll -338px -198px;
    float: left;
    height: 24px;
    margin: 11px 5px 0 15px;
    position: relative;
    width: 24px;
}
.scall {
    float: right;
    font-size: 12px;
    line-height: 45px;
    width: 100px;
    cursor: pointer;
}
.scall_ui {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") no-repeat scroll -362px -198px;
    float: left;
    height: 24px;
    margin: 11px 5px 0 15px;
    position: relative;
    width: 24px;
}
.xz_delete {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") no-repeat scroll -354px -170px;
    float: left;
    height: 8px;
    margin: 0 0 0 25px;
    position: relative;
    width: 8px;
    cursor: pointer;
}
.zn_delete {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") no-repeat scroll -354px -170px;
    float: left;
    height: 8px;
    margin: 10px 3px 0 7px;
    position: relative;
    width: 8px;
}
.ty_box {
    background: #009 none repeat scroll 0 0;
    height: auto;
    margin: 0 auto;
    width: 950px;
}
.ty_box_title {
    background: #273244 none repeat scroll 0 0;
    float: left;
    font-size: 14px;
    height: 44px;
    line-height: 45px;
    text-align: center;
    width: 950px;
}
.ty_box_title ul {
}
.ty_box_title li {
    float: left;
    width: 100px;
}
.ty_box_title li a {
    color: #e84f31;
}
.ty_title_ys {
    background: #eaeaea none repeat scroll 0 0;
    border-top: 3px solid #e84f31;
    color: #e84f31;
    font-size: 14px;
    font-weight: normal;
}
.fangan_bt01 {
    background: #e84f31 none repeat scroll 0 0;
    border: 1px solid #e84f31;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin-top: 5px;
    padding: 1px 10px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
}
.fangan_bt01:hover {
    background: #ff6824 none repeat scroll 0 0;
    border: 1px solid #ff6824;
    color: #fff;
    text-decoration: none;
}
.dd_box {
    margin: 0 auto;
    width: 1010px;
}
.dd_title {
    background: #2f3340 none repeat scroll 0 0;
    margin-top: 5px;
    padding: 15px 0;
    width: 1010px;
}
.dd_bt01 {
    background: #111 none repeat scroll 0 0;
    border: 1px solid #333;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
}
.dd_bt01:hover {
    background: #11b35e none repeat scroll 0 0;
    border: 1px solid #11b35e;
    color: #fff;
}
.dd_cl {
    background: #383d4a none repeat scroll 0 0;
    float: left;
    line-height: 40px;
    padding: 15px 0;
    width: 1010px;
}
.dd_cl_left {
    float: left;
    height: 40px;
    margin-left: 15px;
}
.cl_wz {
    border-right: 1px solid #999;
    padding-right: 5px;
}
.cl_chaxun {
    background: #111 none repeat scroll 0 0;
    border: 1px solid #333;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 1px 20px;
    text-decoration: none;
    transition: all 0.2s linear 0s;
}
.cl_chaxun:hover {
    background: #11b35e none repeat scroll 0 0;
    border: 1px solid #11b35e;
    color: #fff;
}
.cl_tb {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") no-repeat scroll -264px -231px;
    float: left;
    height: 15px;
    position: relative;
    right: 5px;
    top: 8px;
    width: 15px;
}
.gl_ty_box {
    background: #383d4a none repeat scroll 0 0;
    float: left;
    font-size: 14px;
    height: auto;
    margin-top: 5px;
    padding-bottom: 30px;
    width: 1010px;
}
.gl_ty_top {
    background: #383d4a none repeat scroll 0 0;
    float: left;
    height: 30px;
    margin-top: 10px;
    padding-left: 15px;
    width: 995px;
}
.gl_ty_tx {
    background: #333 none repeat scroll 0 0;
    font-size: 12px;
    padding: 5px;
    width: 400px;
}
.gl_ty_con {
}
.gl_ty_con_box {
    border-left: 1px solid #585c69;
    border-top: 1px solid #585c69;
    font-size: 15px;
    margin: 7px auto;
}
.cancel_order {
    border-left: 1px solid #585c69;
    border-top: 1px solid #585c69;
    font-size: 15px;
    margin: 7px auto;
}
.gl_ty_con_white {
    background: #2b2f41 none repeat scroll 0 0;
}
.gl_ty_con th, .gl_ty_con tr td {
    border-bottom: 1px solid #585c69;
    border-right: 1px solid #585c69;
    font-weight: 100;
    height: 45px;
    text-align: center;
}
#betList td {
    border-bottom: 1px solid #585c69;
    border-right: 1px solid #585c69;
    font-weight: 100;
    height: 45px;
    text-align: center;
}
.bb_anniu {
    background: #333 none repeat scroll 0 0;
    border: 1px solid #585c69;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    height: 25px;
    padding: 0 7px;
    text-align: center;
}
.bb_cl_left {
    float: left;
    height: 40px;
    margin-left: 15px;
    width: 990px;
}
.row_btm {
    clear: both;
    height: 50px;
}
.bg_black2 {
    background-color: #2b2f41;
}
.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}
.pagination > li.disabled {
    cursor: not-allowed;
}
.pagination > li {
    cursor: pointer;
    display: inline;
    font-size: 13px;
    margin: 0 2px;
    padding: 5px;
}
.cancel_order {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 15px;
    margin: 7px auto;
}
#bodyList td {
    border-bottom: 1px solid #585c69;
    border-right: 1px solid #585c69;
    font-weight: 100;
    height: 45px;
    text-align: center;
}
.w200 {
    width: 30%;
}
.bonus_search_table {
    border-left: 1px solid #585c69;
    border-top: 1px solid #585c69;
    float: left;
    font-size: 15px;
    margin: 11px;
}
.bonus_search_table th {
    font-weight: 100;
    height: 38px;
}
.bonus_search_table th, .bonus_search_table td {
    border-bottom: 1px solid #585c69;
    border-right: 1px solid #585c69;
    text-align: center;
}
.bg_black11 {
    background: #3d4156 none repeat scroll 0 0;
}
.dd_cl h5 {
    display: inline-block;
}
.bg_white2 {
    background: #2b2f41 none repeat scroll 0 0;
}
.gds-text {
    height: 165px;
    margin-bottom: 5px;
}
.header-nav-user {
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
}
.header-nav-user li {
    float: left;
    line-height: 2em;
    margin-left: 20px;
    width: 50px;
}
.header-nav-user li div {
    background: #e84f31 none repeat scroll 0 0;
    border: 3px solid #844515;
    border-radius: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    transition: all 0.4s ease-in-out 0s;
    width: 36px;
}
.header-nav-user li:hover div {
    background: #12b35e none repeat scroll 0 0;
    border: 3px solid #29653e;
    transform: rotate(360deg);
}
.header-nav-user li:hover a {
    color: #fff;
}
.header-nav-game {
    border: 0 none;
    color: #fff;
    cursor: pointer;
    left: 60px;
    padding: 5px;
    position: relative;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out 0s;
    width: 100px;
}
.header-nav-game .nav-game-bt {
    background: #12b35e none repeat scroll 0 0;
    border-radius: 5px;
    display: block;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 20px 0;
    padding-left: 11px;
    width: 89px;
}
.header-nav-game .nav-game-bt i {
    background: #108e4b none repeat scroll 0 0;
    border-right: 1px solid #18cc6d;
    display: inline-block;
    float: right;
    height: 30px;
    margin-right: 27px;
    width: 1px;
}
.header-nav-game li {
    line-height: 18px;
}
.header-nav-game:active {
    color: #289f51;
}
.header-nav-game::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: "";
    height: 0;
    position: absolute;
    right: 15px;
    top: 38px;
    transition: all 0.2s ease-in-out 0s;
    width: 0;
}
.header-nav-game .dropdown {
    background: #252d3d none repeat scroll 0 0;
    border-top: 3px solid #12b35e;
    left: 0;
    opacity: 0;
    padding-bottom: 8px;
    pointer-events: none;
    position: absolute;
    transition: all 0.3s ease-in 0s;
    width: 260px;
}
.header-nav-game:hover .dropdown {
    opacity: 1;
}
.header-nav-game .dropdown::after {
    border-color: #12b35e transparent;
    border-style: solid;
    border-width: 0 6px 6px;
    bottom: 100%;
    content: "";
    height: 0;
    left: 25px;
    position: absolute;
    top: -9px;
    width: 0;
}
.header-nav-game .dropdown dt {
    color: #12b35e;
    cursor: default;
    display: block;
    float: left;
    padding: 7px 10px;
    width: 200px;
}
.header-nav-game .dropdown dt i {
    margin-right: 6px;
}
.header-nav-game .dropdown dd {
    border-right: 1px solid #474440;
    float: left;
    width: 129px;
}
.header-nav-game .dropdown dd a {
    color: #bebebe;
    display: block;
    padding: 5px;
    transition: all 0.3s ease-out 0s;
}
.header-nav-game .dropdown span {
    opacity: 0;
    padding: 0 8px 0 5px;
    transition: all 0.2s ease-out 0s;
}
.header-nav-game .dropdown dd:hover a {
    background: #12b35e none repeat scroll 0 0;
    color: #fff;
}
.header-nav-game .dropdown dd:hover span {
    opacity: 1;
    z-index: 100;
}
.header-nav-game:hover {
    color: #083d21;
    text-shadow: none;
}
.header-nav-game:hover::after {
    border-color: #083d21 transparent;
    border-width: 0 5px 5px;
}
.header-nav-game:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
}
.ssxtb {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") repeat scroll -265px -99px;
    float: left;
    height: 20px;
    left: 8px;
    margin: 0 5px;
    position: relative;
    top: 3px;
    width: 20px;
}
.ssxtba {
    background: rgba(0, 0, 0, 0) url("../images/all_ico.png") repeat scroll -299px -96px;
    float: left;
    height: 16px;
    left: 5px;
    position: relative;
    top: 0;
    width: 16px;
}
.alert_window_box {
    width: 392px;
}
.success_box {
    width: 327px;
}
.pkshik li {
    background: #f13131 none repeat scroll 0 0;
    border-radius: 25px;
    color: #f6f6f6;
    display: inline-table;
    font-size: 18px;
    height: 25px;
    margin-right: 5px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear 0s;
    width: 25px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.pcegghik{
	display:block;
	margin-top:25px;
	text-align: center;
}
.lhchik{
	display:block;
	margin-top:10px;
	text-align: center;
}
.pcegghik li{
	background: #f13131 none repeat scroll 0 0;
    border-radius: 35px;
    color: #f6f6f6;
    display: inline-table;
    font-size: 23px;
    height: 35px;
    margin-right: 5px;
    font-weight: 800;
    line-height:35px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear 0s;
    width: 35px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.lhchik li{
	background: #f13131 none repeat scroll 0 0;
    border-radius: 35px;
    color: #f6f6f6;
    display: inline-table;
    font-size: 23px;
    height: 35px;
    margin-right: 5px;
    font-weight: 800;
    line-height:35px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear 0s;
    width: 35px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
}
.lhchik li.bg1{background: #f13131 none repeat scroll 0 0;}
.lhchik li.bg2{background: blue none repeat scroll 0 0;}
.lhchik li.bg4{background: green none repeat scroll 0 0;}
.pcegghik span.plus,.lhchik span.plus {
    height: 24px;
    line-height: 24px;
    font-size: 28px;
    font-family: Microsoft Yahei;
    color: #666;
    margin: 0 2px;
}
.plus_lhc{
    font-family: Microsoft Yahei;
    margin: 0 8px 0 0 ;
}
.lhchik li font{
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #948570;
	position: absolute;
	top: 35px;
	left: 8px;
	font-size:15px;
}
.pkshik {
    display: block;
    margin-top: 20px;
    text-align: center;
}
.pkshik .blueb {
    background: #4a4aff none repeat scroll 0 0;
}
.gd-box-p {
    background: #fff none repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    text-align: center;
    width: 20px;
}
.gd-box-lhc {
    background: #fff none repeat scroll 0 0;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 8px;
    text-align: center;
    width: 20px;
    color:#fff;
}
.gd-box-lhc.bg1{background: red none repeat scroll 0 0;}
.gd-box-lhc.bg2{background: blue none repeat scroll 0 0;}
.gd-box-lhc.bg4{background: green none repeat scroll 0 0;}
.gt11 {
    width: 455px;
}
.gt11 div {
    margin-bottom: 10px;
}
.gt11 div:last-child {
    margin-bottom: 0;
}
.show-klpk li {
    background: #fff none repeat scroll 0 0;
    border-color: #fff;
    color: #999;
    text-shadow: none;
}
.hap8 {
    margin: 10px 0 0 10px;
    overflow: hidden;
}
.hap8 li {
    margin-bottom: 10px;
}
.hap8-bg, .hap8-all {
    background: #d90000 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 4px;
    text-align: center;
    width: 20px;
}
#gd-box1 .hap8-mar p {
    margin-left: 5px;
}
.hap8-all {
    background: #ea721a none repeat scroll 0 0;
    height: 24px;
    line-height: 24px;
    margin: 0 3px 0 5px;
    width: 24px;
}
.col-o {
    color: #ff9727;
    font-weight: 700;
}
.hap8-red {
    color: #f13434;
    margin-right: 48px;
}
.hap8-sty {
    color: #f13434;
}
.fl {
    float: left;
}
#gd-box2 .gd-hap8 {
    margin-bottom: 3px;
}
#gd-box2 .gd-hap8 p {
    height: 18px;
    margin-left: 15px;
}
.box2b {
    background: #4a4aff none repeat scroll 0 0;
    color: #f6f6f6;
}
.box2r {
    background: #f13131 none repeat scroll 0 0;
    color: #f6f6f6;
}
.w50 {
    width: 50px;
}
#sliderArea {
    margin: 0 auto;
    width: 300px;
}
#sliderArea .div-re {
    height: 25px;
    min-width: 200px;
    position: relative;
}
#sliderArea .div-re span {
    display: block;
}
#sliderArea .div-re .fl {
    float: left;
}
#sliderArea .div-re .fr {
    float: right;
    width: 175px;
}
#mySlider {
    margin-left: 8px;
    width: 150px;
}
#sliderSpanEnd1 {
    margin-right: 1px;
}
#mySlider .ui-slider-range {
    background: #e84f31 none repeat scroll 0 0;
}
#mySlider .ui-slider-handle {
    border-color: #e84f31;
}
.tbn_bot {
    margin: auto;
    width: 1010px;
    overflow: hidden;
}
.tabcon_n {
    margin: auto;
    position: relative;
    width: 945px;
}
.tips-sorry {
    margin: 150px auto;
    width: 500px;
}
.weixiao {
    float: left;
    margin: 10px;
}
.sorry-txt {
    float: left;
    font: 30px/60px Microsoft Yahei;
    margin-top: 50px;
}

/*beishu*/
.bei-shu{display: inline-block;line-height: 24px;}
.bei-shu a{
    border: 1px solid #c2c2c2;
    color: #999;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 22px;
}

.bei-shu input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c2c2c2;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0 1px medium;
    height: 24px;
    line-height: 26px;
    text-align: center;
    vertical-align: top;
    width: 60px;
}
.tbn_b_top .reflushText {
    float: left;
    font-size: 14px;
    height: 37px;
    line-height: 37px;
    margin-right: 20px;
}
.red{color:#ff0808;}
.tbn_b_top .refresh {
    background: rgba(0, 0, 0, 0) url("../images/refresh3.png") no-repeat scroll center center;
    display: inline-block;
    height: 17px;
    margin-left: 10px;
    vertical-align: middle;
    width: 17px;
}
.direct_buy {
    background: rgba(0, 0, 0, 0) linear-gradient(#f7b12b, #f28d17) repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 37px;
    line-height: 37;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    width: 128px;
}
.direct_buy:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(#f3961c, #f28d17) repeat scroll 0 0;
}
.tbn_b_top .lot_cart {
    background-color: transparent;
    background-image: url("../images/kc-icon.png");
    background-position: -224px -320px;
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 4px;
    cursor: pointer;
    height: 37px;
    width: 169px;
}
.tbn_b_top .lot_cart:active {
    background-color: transparent;
    background-position: -224px -359px;
}
.tbn_b_top .lot_cart i{
	display:none;
}
.bof-o-random {
    overflow: hidden;
    padding: 0 5px;
    position: relative;
}
.bof-o-random>button{
	cursor:pointer;
	background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fff, #eee) repeat scroll 0 0;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #eee),color-stop(.8, #fff));
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 48px;
}
.bof-o-random>button:hover{
	background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top ,#f08436, #a00) repeat scroll 0 0;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #a00),color-stop(.8, #f08436));
	color:#ffffff;
}

.bof-o-random label {
    display: block;
    height: 24px;
    margin: 5px;
    position: relative;
    width: 92px;
}
.bof-o-random h4 {
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 24px;
}
.bof-o-random .tp-ui-number {
    padding: 0 12px;
    width: 42px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.tp-ui-number-refer input {
    width: 100%;
    height:22px;
    text-align: center;
}
.tp-ui-number-depart > .tp-ui-number-addto {
    right: -1px;
}
.tp-ui-number-base .tp-ui-number-addto, .tp-ui-number-depart .tp-ui-number-option, .tp-ui-number-stack .tp-ui-number-addto {
    top: -1px;
}
.tp-ui-number-depart > .tp-ui-number-reduce {
    left: -1px;
}
.tp-ui-number-option, .tp-ui-number-option * {
    cursor: pointer;
}
.tp-ui-number-option {
    background: #fafafa none repeat scroll 0 0;
    position: absolute;
    border:1px solid #ddd;
}
.tp-ui-number-depart .tp-ui-number-addto {
    border-radius: 0 3px 3px 0;
}
.tp-ui-number-depart .tp-ui-number-reduce {
    border-radius: 3px 0 0 3px;
}
.bof-o-random .tp-ui-number .tp-ui-number-option, .bof-o-random .tp-ui-number .tp-ui-number-option button {
    height: 22px;
    width: 12px;
}
.tp-ui-number-option button {
    color: #666;
    text-shadow: 0 1px 0 #fff;
}
.tp-ui-number-refer input, .tp-ui-number-option button {
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    outline: 0 none;
}
input, select, button, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: 100% !important;
    outline: 0 none;
}
.beforeLoad{height:250px;text-align:center;line-height:250px;font-size:18px;font-weight: bold;background: #e6e6e6;}

/*冷热遗漏*/
.optimize-control {
    margin-bottom: 4px;
    text-align: center;
}
.optimize-control ul {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 3px;
    height: 24px;
    padding: 5px;
}
.optimize-control ul, .optimize-control ul li {
    display: inline-block;
    font-size: 0;
}
.optimize-control ul li label {
    display: block;
    margin: 0 5px;
    padding-left: 24px;
    position: relative;
}
.optimize-control ul li label h4 {
    color: #757575;
    font-size: 12px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
}
.optimize-control ul li .tp-ui-checkbox {
    left: 0;
    margin: 0;
    position: absolute;
    top: 7px;
    width: 24px;
}
.optimize-control ul li .tp-ui-checkbox .tp-ui-checkbox-handle {
    margin: -4px;
}
.leng_re,.yi_lou{float:left;width:100%;line-height: 25px;height:30px;}
.leng_re>._title,.yi_lou>._title{
	background: #fc0 none repeat scroll 0 0;
    border-radius: 2px 12px 12px 2px;
    color: #fff;
    font-size: 12px;
    text-align: center;
	width:85px;
	margin:0 18px;
}
.leng_re>._title,.yi_lou>._title,.leng_re>._data_arr,.yi_lou>._data_arr{
	float:left;
}
.leng_re>._data_arr,.yi_lou>._data_arr{
	margin-left:39px;
}
.leng_re>._data_arr span,.yi_lou>._data_arr span{
	display: inline-block;
	margin:0 5.8px;
	text-align: center;
	width:33px;
}
.hide{
	display: none;
}
.trace-number-confirm{
	float:right;
	position: absolute;
    right: 130px;
    top: 3px;
}
.trace-number-confirm button{
	border:none;
	background: url(../images/kc-icon.png) no-repeat -96px -65px;
	width: 96px;
    height: 37px;
    cursor: pointer;
    overflow: hidden;
}
.trace-number-confirm button:hover{
	background: url(../images/kc-icon.png) no-repeat -96px -103px;
}
#lt_trace_label .bh-refresh {
    position: absolute;
	top: 9px;
	right: 42px;
	font-size: 12px;
}
#lt_trace_label .bh-refresh a {
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    padding: 0 8px 0 24px;
    border: 1px #e74c3c solid;
    border-radius: 3px;
    background: #e74c3c;
    color: #fff;
}

#lt_trace_label .bh-refresh a:hover {border-color: #f4a62a;background: #f4a62a;}
#lt_trace_label .bh-refresh a i {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -4px;
    top: -4px;
    background: url(../images/kc-icon.png) no-repeat -384px -64px;
}
.def_title{
	font-size:12px;
}
.def_title .content{
	margin-right:15px;
}
.message_table {
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}
.message_table th, .message_table td {
    border-top: 1px solid #cfcfcf;
    line-height: 1em;
    padding: 15px 5px;
    text-align: center;
    vertical-align: top;
}
.message_table .bg_black3 {
    background: #999ca1 none repeat scroll 0 0;
}
.message_table td span{
	color: #fff;
	border-radius: 3px;
	padding: 3px 7px;
	font-size: 12px;
}