@CHARSET "UTF-8"; 

.clear {
	clear: both
}

a {
	color: #005aa0
}

.main {
	width: 986px;
	margin: 10px auto
}

.main .cz_nav li {
	float: left;
	background: url(../images/draw/lhc_allbg.gif) -164px -555px no-repeat;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-right: 1px
}

.main .cz_nav li a {
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	display: block;
	text-decoration: none;
}

.main .cz_nav li.on {
	background: url(../images/draw/lhc_allbg.gif) -63px -555px no-repeat
}

.main .cz_nav li.on a {
	color: #7f2d00
}

.main .cz_menu_top {
	background: url(../images/draw/lhc_allbg.gif) 0 -379px no-repeat;
	height: 8px;
	overflow: hidden
}

.main .cz_menu {
	background: #f8dda4;
	padding: 0 0 10px
}

.cz_menu .menu_left {
	float: left;
	margin: 2px 0 0 15px;
	color: #7f2d00
}

.cz_menu .menu_left a {
	margin: 0 6px;
	color: #7f2d00
}

.cz_menu .menu_right {
	float: right;
	line-height: 25px;
	width: 380px;
	margin-top: 7px
}

.main .kj_box {
	border-left: 1px #ff9d08 solid;
	border-right: 1px #ff9d08 solid;
	border-top: 1px #7f0d16 solid;
	padding: 20px
}

.main .kj_box_bottom {
	background: url(../images/draw/lhc_allbg.gif) 0 -389px no-repeat;
	height: 6px;
	overflow: hidden
}

.main .kj_box h1 {
	font-size: 14px;
	margin-top: -18px;
	padding: 5px
}

.main .kj_box h2 {
	font-size: 12px
}

.kj_box .kj_tab {
	width: 100%;
	background: #f7f7f7;
	font-size: 12px;
}

.kj_box .kj_tab .title {
	background: #fff2c9;
	text-align: center;
	font-weight: bold;
	color: #7f2d00
}

.kj_box .kj_tab td {
	border-left: 1px #fff solid;
	text-align: center;
	padding: 8px 0
}

.kj_box .kj_tab td.b {
	font-weight: bold
}

.kj_box .kj_tab .czbgcolor {
	background: #fff
}

.kj_box .kj_tab .czbgcolor td {
	text-align: left
}

.kj_box .kj_tab .bgcolor {
	background: #ebebeb
}

.kj_box .kj_tab .ballbg {
	text-align: center;
	margin: 0 8px
}

.kj_box .kj_tab .ballbg span {
	width: 20px;
	height: 21px;
	line-height: 21px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	display: inline-block
}

.kj_box .kj_tab .ballbg span.ball_1 {
	background: url(../images/draw/openprize_ball_bg.png) 0 0 no-repeat
}

.kj_box .kj_tab .ballbg span.ball_2 {
	background: url(../images/draw/openprize_ball_bg.png) -21px 0 no-repeat
}

.kj_box .kj_tab .ballbg span.ball_3 {
	background: url(../images/draw/openprize_ball_bg.png) -42px 0 no-repeat;
	width: 16px;
	height: 19px;
	line-height: 19px;
	color: #700505
}
.kj_box .kj_tab .ballbg span.ball_4 {
    background: url(../images/draw/openprize_ball_bg.png) -59px 0 no-repeat;
    width:21px;
}

.kj_box .kj_tab .extra {
	float: left;
	line-height: 21px;
	margin-left: 8px;
	display: inline;
	color: #890000;
	width: 26px
}

.kj_box .kj_tab .extra .fpball {
	background: url(../images/draw/openprize_ball_bg.png) -82px 0 no-repeat;
	width: 22px;
	height: 22px;
	line-height: 22px;
	color: #890000;
	text-align: center;
	display: block;
	margin: 0 auto
}

.kj_box .prize-lottery {
	padding-left: 25px
}

.kj_box .draw-lottery-btn {
	display: inline-block;
	width: 34px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	background: #ffac38
}

.draw-calendar-select {
	border: 1px solid #ff9d08;
	padding: 2px;
	margin-top: 10px;
	color: #121212;
	background: #f1f1f1
}

.dcs-head {
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	background: url(../images/draw/calendar.gif) repeat-x
		left top;
	border: 1px solid #c6c6c6
}

.dsc-head-words {
	font-size: 16px;
	margin-left: 10px;
	float: left;
	display: inline
}

.dsc-head-op1 {
	width: 72px;
	height: 23px;
	line-height: 23px;
	margin: 0 5px;
	padding: 3px 3px 3px 8px
}

.dsc-head-op2 {
	width: 55px;
	height: 23px;
	line-height: 23px;
	margin: 0 5px;
	padding: 3px 3px 3px 8px
}

.dcs-head-select {
	float: left;
	margin-left: 300px;
	_margin-top: 10px;
	display: inline
}

.dcs-view {
	padding: 10px
}

.dcs-view-table {
	border-left: 1px solid #c6c6c6;
	border-top: 1px solid #c6c6c6
}

.dcs-view-table td {
	cursor: pointer;
	background: url(../images/draw/calendar.gif) repeat-x
		left -68px;
	font-weight: bold;
	text-align: center;
	height: 30px;
	width: 86px;
	border: 1px solid #c6c6c6;
	border-left: none;
	border-top: 0
}

.dcs-view-table td:hover {
	background: url(../images/draw/calendar.gif) repeat-x
		left -38px
}

.dcs-view-table .select-day {
	background: url(../images/draw/calendar.gif) repeat-x
		left -99px
}

.kj_box .kj_tab .ballbg span.pk10{background: url("../images/draw/ball-pk.png") no-repeat;}
.kj_box .kj_tab .ballbg span.b01 {background-position: 0 0px;}
.kj_box .kj_tab .ballbg span.b02 {background-position: 0 -21px;}
.kj_box .kj_tab .ballbg span.b03 {background-position: 0 -42px;}
.kj_box .kj_tab .ballbg span.b04 {background-position: 0 -63px;}
.kj_box .kj_tab .ballbg span.b05 {background-position: 0 -84px;}
.kj_box .kj_tab .ballbg span.b06 {background-position: 0 -105px;}
.kj_box .kj_tab .ballbg span.b07 {background-position: 0 -126px;}
.kj_box .kj_tab .ballbg span.b08 {background-position: 0 -147px;}
.kj_box .kj_tab .ballbg span.b09 {background-position: 0 -168px;}
.kj_box .kj_tab .ballbg span.b10 {	background-position: 0 -189px;}
.kj_box .kj_tab .ballbg span.b11 {	background-position: 0 -231px;}

/*以备首位不是0时，获取不到样式*/
.kj_box .kj_tab .ballbg span.b1 {background-position: 0 0px;}
.kj_box .kj_tab .ballbg span.b2 {background-position: 0 -21px;}
.kj_box .kj_tab .ballbg span.b3 {background-position: 0 -42px;}
.kj_box .kj_tab .ballbg span.b4 {background-position: 0 -63px;}
.kj_box .kj_tab .ballbg span.b5 {background-position: 0 -84px;}
.kj_box .kj_tab .ballbg span.b6 {background-position: 0 -105px;}
.kj_box .kj_tab .ballbg span.b7 {background-position: 0 -126px;}
.kj_box .kj_tab .ballbg span.b8 {background-position: 0 -147px;}
.kj_box .kj_tab .ballbg span.b9 {background-position: 0 -168px;}
