@CHARSET "UTF-8";

.clear {
	clear: both
}

.main {
	width: 990px;
	margin: 0 auto;
	position: relative;
}

.main .qznav {
	background: url(../images/joint/tztop_bg.gif) repeat-x;
	border-top: 1px #ffd694 solid;
	border-left: 1px #e2e2e2 solid;
	border-right: 1px #e2e2e2 solid;
	border-bottom: 3px #f79e09 solid;
	padding-bottom: 10px;
	position: relative;
}

.qznav .qzleft {
	float: left;
	padding-left: 10px;
	width: 260px
}

.qznav .qzleft .logo {
	float: left;
	margin-top: 10px
}

.qznav .qzleft .text {
	float: left;
	margin-top: 10px
}
.qznav .qzleft .text h1 {
	color: #f00;
	font-size: 14px;
	margin-bottom: 6px
}

.qznav .qzleft .text p {
	color: #333;
	line-height: 22px
}

.qznav .qzmid {
	float: left;
	background: url(../images/joint//top_line.gif) left 27px no-repeat;
	padding-left: 45px;
	width: 355px
}

.qznav .qzmid .today_match {
	background: url(../images/joint/today_match_bg.gif) no-repeat;
	width: 313px;
	height: 83px;
	margin-top: 10px
}

.qznav .qzmid .today_match h3 {
	line-height: 25px;
	text-align: center;
	color: #7f2d00
}

.qznav .qzmid .today_match .match {
	padding: 0 5px
}

.qznav .qzmid .today_match .match li {
	line-height: 24px;
	border-bottom: 1px #ccc dashed;
	padding: 2px 0;
	text-align: center
}

.qznav .qzmid .today_match .match li.last {
	border-bottom: 0
}

.qznav .qzmid .today_match .match li .green {
	color: #22ac38;
	margin-left: 10px
}

.qznav .qzmid .today_match .match li .blue {
	color: #0068b7;
	margin-left: 10px
}

.qznav .qzmid .today_match .match li .red {
	color: #f00;
	margin-left: 10px
}

.qznav .qzmid .today_match .match li .buy {
	background: url(../images/joint/lhc_allbg.gif) -854px -197px no-repeat;
	display: inline-block;
	width: 44px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #e60012;
	margin-left: 10px
}

.qznav .qzright {
	float: left;
	background: url(../images/joint/top_line.gif) left 27px no-repeat;
	padding-left: 30px;
	padding-top: 30px;
	color: #cbcbcb
}

.qznav .qzright a {
	margin: 0 5px;
	line-height: 25px;
	color: #333
}

.qznav .qzright a:hover {
	color: #f00;
	text-decoration: none
}

.main .spnav {
	background: url(../images/joint/js_tit_bg.gif) repeat-x;
	border: 1px solid #d8d8d8;
	height: 27px;
	line-height: 27px;
	margin-top: 10px
}

.spnav h4 {
	font-size: 14px;
	padding-left: 10px;
	float: left
}

.spnav ul {
	float: left;
	margin-top: 2px
}

.spnav li {
	float: left;
	margin-left: 15px;
	color: #005aa0;
	line-height: 25px;
	height: 25px
}

.spnav li.on {
	background: url(../images/joint/lottery_bg.gif) -169px 0 no-repeat;
	width: 83px;
	text-align: center;
	font-size: 14px;
	position: relative
}

.spnav li.on s {
	background: url(../images/joint/lottery_bg.gif) -204px -25px no-repeat;
	position: absolute;
	height: 6px;
	width: 11px;
	left: 35px;
	top: 25px
}

.spnav li a {
	color: #005aa0
}

.spnav li.on a {
	color: #fff;
	cursor: default;
	text-decoration: none
}

.main .mt10 {
	margin-top: 10px
}

.main .mt1 {
	margin-top: 1px
}

.main .matchbox {
	border: 1px #a7d861 solid;
	padding: 0 20px 15px
}

.matchbox .top_title {
	margin: 5px 0
}

.matchbox .top_title h2 {
	float: left
}

.matchbox .top_title .term_select {
	float: left;
	margin-left: 15px
}

.matchbox .top_title .top_right {
	float: right;
	margin-right: 20px
}

.matchbox .top_title .top_right .buy {
	background: url(../images/joint/buy_btn_01.gif) no-repeat;
	width: 85px;
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
	text-align: center;
	display: inline-block;
	color: #000;
	text-decoration: none;
	margin-right: 10px
}

.matchbox .matchtab {
	width: 100%;
	text-align: center
}

.matchbox .matchtab td {
	border: 1px #a7d861 solid;
	height: 24px
}

.matchbox .matchtab .tit {
	font-weight: bold
}

.matchbox .matchtab .stop {
	color: #f00;
	font-weight: bold
}

.matchbox .matchtab .red {
	color: #f00
}

.matchbox .caichi {
	margin-top: 10px;
	color: #579401
}

.matchbox .caichi .money {
	color: #f00;
	font-weight: bold
}

.goToBuyFoot {
	margin: 3px;
	padding: 0;
	position: relative;
	text-align: center
}

.dataSupport {
	color: #333;
	position: absolute;
	right: 20px;
	top: 0
}

.gray {
	color: #999
}

.jclq-draw-main {
	width: 990px;
	margin: 10px auto 0
}

.jclq-draw-main .jclq-draw-bar {
	border: 1px #d8d8d8 solid;
	background: url(../images/joint/js_tit_bg.gif) repeat-x 0px 2px;
	height: 28px;
	line-height: 28px;
	padding: 1px 20px
}

.jclq-draw-bar .title {
	background: url(../images/joint/bar-line.gif) right no-repeat;
	display: block;
	height: 25px;
	width: 155px;
	float: left
}

.jclq-draw-bar .search-btn {
	background: url(../images/joint/jclq_draw_bg.gif) -90px 0 no-repeat;
	width: 53px;
	height: 19px;
	line-height: 19px;
	border: 0;
	cursor: pointer
}

.jclq-draw-bar .bar-ul {
	float: left
}

.jclq-draw-bar .bar-ul li {
	padding-left: 15px;
	float: left
}
.jclq-draw-bar .bar-ul li .text75 {
    width: 105px !important;
    background: url(../images/member/calendar.jpg) no-repeat scroll 5px 3px #fff;
    padding-left: 25px !important;
    border: 1px solid #ccc;
    height: 25px !important;
    line-height: 25px !important;
}
.jclq-draw-bar .bar-ul li a:hover {
	text-decoration: none
}

.jclq-draw-main .jclq-draw-tab-border {
	border: 1px #cfcfcf solid;
	margin-top: 5px
}

.jclq-draw-main .jclq-draw-tab {
	width: 100%;
	text-align: center;
	font-size:12px;
}

.jclq-draw-main .jclq-draw-tab .bgcolor {
	background: #f2f2f2
}

.jclq-draw-main .jclq-draw-tab .details-bgcolor {
	background: #e4e4e4
}

.jclq-draw-main .jclq-draw-tab td {
	padding: 5px 0;
	border-left: 1px #fff solid
}

.jclq-draw-main .jclq-draw-tab .td-border-left {
	border-left: 0
}

.jclq-draw-main .jclq-draw-tab thead td {
	background: #fff2c9;
	line-height: 25px;
}

.jclq-draw-main .jclq-draw-tab .show-details {
	background: url(../images/joint/lhc_allbg.gif) -854px -197px no-repeat;
	width: 45px;
	height: 22px;
	line-height: 22px;
	display: block;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	cursor: pointer
}

.jclq-draw-main .jclq-draw-tab .hide-details {
	background: url(../images/joint/jclq_draw_bg.gif) 0 -57px no-repeat;
	width: 59px;
	height: 19px;
	line-height: 19px;
	padding-left: 25px;
	display: block;
	text-align: left;
	text-decoration: none;
	margin: 0 auto;
	cursor: pointer
}

.jclq-draw-main .jclq-draw-tab .details-left-tab {
	width: 100%;
	margin-left: 5px
}

.jclq-draw-main .jclq-draw-tab .details-left-tab td {
	padding: 0;
	text-align: left
}

.jclq-draw-main .jclq-draw-tab .details-left-tab .details-left {
	border: 1px #d1d1d1 solid;
	background: #f2f2f2;
	text-align: center;
	padding-top: 40px;
	color: #555
}

.jclq-draw-main .jclq-draw-tab .details-left-tab .details-left strong {
	font-size: 16px
}

.jclq-draw-main .jclq-draw-tab .details-left-tab .details-left p {
	line-height: 20px
}

.jclq-draw-main .jclq-draw-tab .details-left-tab .details-left .tip {
	padding-left: 20px;
	background: url(../images/joint/tanhao.png) 0 2px no-repeat;
	margin-left: 60px;
	margin-top: 10px;
	text-align: left
}

.jclq-draw-main .jclq-draw-tab .details-tab {
	width: 653px;
	border-top: 1px #d4d3d1 solid;
	border-right: 1px #d4d3d1 solid;
	background: #fff;
	margin-left: 5px
}

.jclq-draw-main .jclq-draw-tab .details-tab td {
	border-left: 1px #d4d3d1 solid;
	border-bottom: 1px #d4d3d1 solid;
	padding: 3px 0;
	text-align: center
}

.jclq-draw-main .jclq-draw-tab .details-tab .bgcolor-1 {
	background: #ffeda1
}

.jclq-draw-main .jclq-draw-tab .details-tab .bgcolor-2 {
	background: #fff1b6
}

.jclq-draw-main .jclq-draw-tab .details-tab .bgcolor-3 {
	background: #fff4d1
}

.jclq-draw-main .jclq-draw-tab .details-tab .bgcolor-4 {
	background: #f2f2f2
}

.page {
    background: none repeat scroll 0 0 #ECECEC;
    float: right;
    height: 26px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 3px;
    padding: 3px 3px 0 3px;
    line-height:23px;
}
.page strong {
    background: none repeat scroll 0 0 #0096CE;
    border: 1px solid #CECECE;
    color: #FFFFFF;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 2px;
    text-align: center;
   	padding: 0 7px;
}
.page a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CECECE;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 2px;
    padding: 0 7px;
    text-align: center;
}
.page .page_num, .page .page_goto {
    height: 20px;
    line-height: 20px;
}
.page input {
    border: 1px solid #ccc;
}
.page a:hover,.jclq-draw-tab td a:hover {
    text-decoration: underline;
}
input.jointNum{
	width: 38px;
    height: 19px;
    background: #fff url(../images/joint/ssq_text_bg.png) no-repeat left;
    text-indent: 3px;
    vertical-align: middle;
    border: 1px solid #999999;
    line-height: 18px;
    color: #999;
    margin: 0 5px;
}
#model_body {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 0px;
    padding: 15px;
    position: relative;
}
#model_body table {
    width: 100%;
}
#model_body table tr th, #model_body table tr td {
    border: 1px solid #EABF8F;
    font-size: 12px;
}
#model_body table tr th {
    background: #FF9726;
    font-weight: bold;
    line-height: 30px;
    color: white;
}
#model_body table tr td {
    line-height: 28px;
    text-align: center;
}
.layui-layer-page .layui-layer-content {
    overflow: hidden !important;
}