@CHARSET "UTF-8"; 

.clear {
	clear: both
}

a {
	color: #005aa0
}

.news_main_title {
	width: 986px;
	margin: 10px auto 0;
	background: url(../images/news/new_news_bg.gif) 0 0 no-repeat;
	height: 48px;
	line-height: 40px;
}

.news_main_title img {
	float: left;
}

.news_main_title .news_nav {
	float: right;
	padding-right: 15px
}

.news_main_title .news_nav a {
	background: url(../images/news/new_news_bg.gif) -706px -317px no-repeat;
	padding-left: 16px;
	font-size: 14px;
	color: #333;
	margin-left: 5px;
	text-decoration: none
}

.news_main_title .news_nav a:hover {
	color: #f00
}

.main {
	width: 986px;
	margin: 0 auto
}

.main .news_left {
	float: left;
	width: 694px
}

.news_left .flash_box {
	width: 342px;
	height: 249px;
	float: left
}

#slides {
	position: relative
}

.flash_box .slides_container {
	width: 342px;
	height: 249px;
	overflow: hidden
}

.flash_box .caption {
	width: 342px;
	height: 32px;
	background: #f1f1f1;
	line-height: 32px;
	color: #858181;
	text-shadow: none;
	margin-top: 7px
}

.flash_box .caption a {
	color: #858181;
	text-decoration: none;
	position: absolute;
	left: 10px;
	bottom: 0
}

.flash_box .caption a:hover {
	color: #f00
}

.flash_box .pagination {
	position: absolute;
	bottom: 7px;
	right: 4px;
	z-index: 100
}

.flash_box .pagination li {
	float: left;
	margin-left: 4px;
	display: inline
}

.flash_box .pagination li a {
	background: #d2d2d2;
	width: 12px;
	height: 12px;
	line-height: 10px;
	border: 1px #bcb8b8 solid;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: #858181;
	border-radius: 1px
}

.flash_box .pagination li.current a {
	background: #cb1108;
	border: 1px #af0f08 solid;
	color: #fff
}

.news_left .focus_box {
	width: 690px;
	border: 1px #f2a123 solid;
	border-top-width: 2px;
	float: left;
	display: inline;
	background: url(../images/news/news_focus_bg.gif) repeat-x
}

.focus_main ul li .newsdate {
    float: right;
    color: #999;
    font-size: 12px;
}

.newstop {
	text-align: center;
	line-height: 22px;
	margin-top: 15px
}

.newstop h1 {
	font-size: 14px;
	font-weight: bold
}

.newstop h1 a {
	color: #e60012
}

.newstop span {
	color: #333
}

.focus_box .focus_ul {
	margin: 5px 10px
}

.focus_box .focus_ul li {
	line-height: 35px;
	font-size: 15px;
}

.focus_box .focus_ul li a {
	margin-left: 2px;
	color: #1f376d
}

.focus_box .focus_ul li a:hover {
	color: #e60012;
	text-decoration: underline;
}

.focus_box .more {
	text-align: right;
	padding-right: 8px;
	margin-bottom: 5px;
	color: #8b8b8b
}

.focus_box .more a {
	color: #8b8b8b
}

.focus_box .more a:hover {
	color: #f00
}

.news_left .news_box {
	width: 630px;
	float: left;
	display: inline
}

.news_left .m0 {
	margin-right: 0
}

.news_box .title {
	background: url(../images/news/news_title.gif) repeat-x;
	height: 28px;
	line-height: 28px;
	border: #cbcbcb solid;
	border-width: 2px 1px 0
}

.news_box .title .tit {
	float: left;
	font-weight: bold;
	color: #4a4949;
	padding-left: 20px;
	font-size: 14px;
	background: url(../images/news/new_news_bg.gif) -700px -495px no-repeat
}

.news_box .title .tit a {
	margin-right: 5px
}

.news_box .title .szc_tit {
	background: url(../images/news/lottery_type_icon.gif) 8px 5px no-repeat;
	padding-left: 28px
}

.news_box .title .gpc_tit {
	background: url(../images/news/lottery_type_icon.gif) 8px -20px no-repeat;
	padding-left: 28px
}

.news_box .title .jjc_tit {
	background: url(../images/news/lottery_type_icon.gif) 10px -52px no-repeat;
	padding-left: 28px
}

.news_box .title .ssq_tit {
	background: url(../images/news/new_news_bg.gif) -708px -676px no-repeat;
	padding-left: 35px
}

.news_box .title .dlt_tit {
	background: url(../images/news/new_news_bg.gif) -708px -726px no-repeat;
	padding-left: 35px
}

.news_box .title .more {
	float: right;
	padding-right: 10px
}

.news_box .title .more a {
	margin-left: 3px;
	color: #666
}

.news_box .news_main {
	border: 1px #cfcfcf solid;
	padding: 10px
}

.news_box .news_main li {
	line-height: 28px;
	font-size: 14px
}

.news_box .news_main li a {
	color: #333;
	text-decoration: none;
	margin-left: 5px
}

.news_box .news_main li a:hover {
	color: #e60012
}

.news_box .zj_main {
	border: 1px #cfcfcf solid;
	padding: 0 10px 5px;
	width: 320px
}

.news_box .zj_main li {
	margin: 7px 0
}

.news_box .zj_main li .zj_touxiang {
	float: left;
	width: 88px
}

.news_box .zj_main li .zj_touxiang img {
	width: 60px;
	height: 60px;
	text-align: center;
	background: url(../images/news/new_news_bg.gif) -405px -415px no-repeat;
	padding: 8px 15px 7px 13px
}

.news_box .zj_main li .zj_touxiang p {
	text-align: center;
	background: #ece9e9;
	width: 70px;
	margin: 0 auto;
	line-height: 20px;
	border-radius: 2px;
	color: #9e9e9e
}

.news_box .zj_main li .zj_content {
	float: left;
	width: 220px;
	padding: 5px 0 0 10px
}

.news_box .zj_main li .zj_content a {
	color: #005aa0
}

.news_box .zj_main li .zj_content p {
	line-height: 24px;
	color: #4a4949
}

.news_left .left_column_box {
	width: 694px;
	margin-top: 10px;
	float: left;
	display: inline
}

.left_column_box .title {
	background: url(../images/news/news_title.gif) repeat-x;
	height: 29px;
	line-height: 28px;
	border: #cbcbcb solid;
	border-width: 2px 1px 0
}

.left_column_box .title .tit {
	float: left;
	font-weight: bold;
	color: #4a4949;
	font-size: 14px
}

.left_column_box .title .ssq_tit {
	background: url(../images/news/new_news_bg.gif) -708px -677px no-repeat;
	padding-left: 35px
}

.left_column_box .title .dlt_tit {
	background: url(../images/news/new_news_bg.gif) -708px -726px no-repeat;
	padding-left: 35px
}

.left_column_box .title .more {
	float: right;
	padding-right: 10px
}

.left_column_box .title .more a {
	margin-left: 3px
}

.left_column_box .title .tab_ul {
	float: left;
	margin-left: 10px;
	display: inline
}

.left_column_box .title .tab_ul li {
	float: left;
	width: 124px;
	height: 26px;
	line-height: 26px;
	background: url(../images/news/new_news_bg.gif) -126px -125px no-repeat;
	text-align: center;
	margin-top: 3px;
	margin-right: 2px;
	cursor: pointer
}

.left_column_box .title .tab_ul li.on {
	background: url(../images/news/new_news_bg.gif) 0 -125px no-repeat;
	font-weight: bold;
	cursor: inherit
}

.left_column_box .left_column_main {
	padding: 1px;
	border: 1px #cfcfcf solid;
	border-top: 0
}

.left_column_box .number_title {
	margin-top: 10px
}

.left_column_box .number_ball {
	margin-top: 125px
}

.left_column_box .tzfb_table {
	width: 100%;
	text-align: center
}

.left_column_box .tzfb_table thead th {
	height: 32px;
	background: #ededed;
	color: #4a4949
}

.left_column_box .tzfb_ul li {
	float: left;
	width: 50px;
	padding: 10px 0
}

.left_column_box .tzfb_ul li .number {
	width: 50px;
	text-align: center;
	color: #4a4949
}

.left_column_box .tzfb_ul li .process {
	height: 115px;
	width: 14px;
	border: 1px #bdbcbd solid;
	margin: 0 auto;
	position: relative
}

.left_column_box .tzfb_ul li .state {
	width: 14px;
	background: #a4a4a4;
	border: 1px #a0a0a0 solid;
	position: absolute;
	bottom: -1px;
	left: -1px
}

.left_column_box .tzfb_ul li .red_state {
	background: #cc0802;
	border: 1px #bb0500 solid
}

.left_column_box .tzfb_ul li .blue_state {
	background: #1967e7;
	border: 1px #0357ca solid
}

.left_column_box .tzfb_ul li .red_ball {
	background: url(../images/news/lotteryBall.gif) -28px 0 no-repeat;
	width: 26px;
	text-align: center;
	line-height: 28px;
	font-weight: bold;
	color: #fff;
	margin: 5px auto 0
}

.left_column_box .tzfb_ul li .blue_ball {
	background: url(../images/news/lotteryBall.gif) -56px 0 no-repeat;
	width: 26px;
	text-align: center;
	line-height: 28px;
	font-weight: bold;
	color: #fff;
	margin: 5px auto 0
}

.left_column_box .tzfb_ul li .default_ball {
	background: url(../images/news/lotteryBall.gif) 0 0 no-repeat;
	width: 26px;
	text-align: center;
	line-height: 28px;
	font-weight: bold;
	color: #333;
	margin: 5px auto 0
}

.left_column_box .syndicate_table {
	width: 100%;
	text-align: center;
	border: 0
}

.left_column_box .syndicate_table thead td {
	height: 32px;
	background: #ededed;
	color: #9a9a9a
}

.left_column_box .syndicate_table tbody td {
	height: 34px;
	border-bottom: 1px #bcbcbc dashed;
	border-right: 1px #ededed solid
}

.left_column_box .syndicate_table tbody td.right_last {
	border-right: 0
}

.left_column_box .syndicate_table tbody td .text {
	width: 55px;
	height: 16px;
	border: 1px #cecece solid
}

.left_column_box .syndicate_table .last td {
	border-bottom: 0
}

.main .news_right {
	float: right;
	width: 280px
}

.news_right .jrkj_box {
	background: url(../images/news/news_right_jrkj.gif) no-repeat;
	width: 268px;
	height: 98px;
	padding: 37px 6px 6px
}

.news_right .jrkj_box .btn {
	background: url(../images/news/new_news_bg.gif) -286px -585px no-repeat;
	width: 66px;
	height: 19px;
	line-height: 18px;
	text-align: center;
	display: inline-block;
	margin: 10px 0 0 15px;
	color: #5b5b5b;
	text-decoration: none;
	font-size:.4rem;
	overflow: hidden;
}

.news_right .jrkj_box .red {
	color: #cb1108
}

.news_right .kaijiang_box .kaijiang_content {
	padding: 20px 10px 0
}

.news_right .kaijiang_box .kaijiang_content .line {
	margin-bottom: 8px
}

.news_right .kaijiang_box .kaijiang_content .draw_date {
	margin-left: 8px
}

.news_right .kaijiang_box .kaijiang_content span.ball_title {
	float: left
}

.news_right .kaijiang_box .kaijiang_content .ball_ul {
	float: left
}

.news_right .kaijiang_box .kaijiang_content .ball_ul li {
	float: left;
	background: url(../images/news/ball.png) 0 0 no-repeat;
	width: 22px;
	height: 23px;
	text-align: center;
	line-height: 22px;
	color: #FFF;
	font-weight: bold;
	margin: 0 2px
}

.news_right .kaijiang_box .kaijiang_content .ball_ul li.redball {
	background-position: 0 0
}

.news_right .kaijiang_box .kaijiang_content .ball_ul li.blueball {
	background-position: 0 -23px
}

.news_right .kaijiang_box .kaijiang_content .kaijiang_table {
	width: 100%;
	margin-bottom: 8px
}

.news_right .kaijiang_box .kaijiang_content .kaijiang_table thead td {
	text-align: center;
	background: #f9e6c9
}

.news_right .kaijiang_box .kaijiang_content .kaijiang_table td {
	height: 22px;
	border: 1px #f9c674 solid
}

.news_right .kaijiang_box .kaijiang_content .line-22 {
	line-height: 22px
}

.news_right .kaijiang_box .kaijiang_content .status_icon {
	background: url(../images/news/new_news_bg.gif) -286px -585px no-repeat;
	width: 66px;
	height: 19px;
	text-align: center;
	line-height: 18px;
	color: #ea0101;
	display: inline-block;
	margin-left: 5px
}

.news_right .kaijiang_box .kaijiang_content .gc_btn {
	background: url(../images/news/new_news_bg.gif) -460px -119px no-repeat;
	width: 103px;
	height: 27px;
	display: inline-block;
	margin-left: 60px;
	margin-top: 3px
}

.news_right .zjbb_box {
	width: 253px;
	height: 28px;
	line-height: 28px;
	border: 1px #f2dcbb solid;
	background: url(../images/news/bugle.gif) 5px 8px #fff8de no-repeat;
	padding-left: 25px;
	color: #635e5e
}

.news_right .column_box {
	width: 278px;
	border: 1px #f2dcba solid;
	background: #fefaf5;
	margin-top: 10px
}

.news_right .title_border_top {
	border-top: 1px #d5d1c1 solid
}

.news_right .column_title {
	background: url(../images/news/new_news_bg.gif) -708px -244px no-repeat;
	height: 30px;
	line-height: 30px
}

.news_right .column_title h1 {
	height: 28px;
	line-height: 28px;
	border-bottom: 2px #ee931d solid;
	width: 100px;
	padding-left: 10px;
	color: #4a4949
}

.news_right .column_title h1.gdphb {
	width: 100px
}

.news_right .column_title h1.ssq {
	width: 100px
}

.news_right .column_title h1.data_inquire {
	width: 74px
}

.news_right .column_title .more {
	float: right;
	color: #949393;
	margin-right: 10px;
	display: inline
}

.news_right .column_title .tab_ul {
	float: right
}

.news_right .column_title .tab_ul li {
	float: left;
	width: 48px;
	text-align: center;
	cursor: pointer
}

.news_right .column_title .tab_ul li.on {
	border-left: 1px #e6e3d8 solid;
	border-right: 1px #e6e3d8 solid;
	background: #fefaf5;
	color: #ce6100;
	cursor: default
}

.column_content .event_ul li {
	margin-bottom: 5px
}

.column_content .event_ul li .event_logo {
	float: left;
	line-height: 33px
}

.column_content .event_ul li .event_logo img {
	width: 33px;
	height: 33px;
	border: 1px #e1dfdf solid;
	background: #FFF
}

.column_content .event_ul li .event_logo span {
	color: #d23025;
	padding-left: 5px
}

.column_content .event_ul li .event_btn {
	float: right;
	background: url(../images/news/new_news_bg.gif) -537px -411px no-repeat;
	width: 57px;
	height: 21px;
	line-height: 20px;
	text-align: center;
	color: #4a4949;
	text-decoration: none;
	margin-top: 6px
}

.column_content .news_ul li {
	line-height: 24px
}

.column_content .news_ul li a {
	color: #4a4949;
	text-decoration: none;
	margin-left: 5px;
	line-height: 22px
}

.column_content .news_ul li a:hover {
	color: #f00
}

.column_content .ranking_table {
	width: 100%;
	text-align: center
}

.column_content .ranking_table thead td {
	color: #949393;
	border-bottom: 1px #e1dede dashed
}

.column_content .ranking_table td {
	height: 26px
}

.column_content .ranking_table td span {
	width: 12px;
	height: 12px;
	line-height: 10px;
	display: block;
	margin: 0 auto;
	background: #939393;
	border: 1px #797979 solid;
	text-align: center;
	color: #fff;
	font-size: 11px
}

.column_content .ranking_table td span.top-1 {
	background: #c00;
	border: 1px #980000 solid
}

.column_content .ranking_table td span.top-2 {
	background: #fc2d28;
	border: 1px #d30606 solid
}

.column_content .ranking_table td span.top-3 {
	background: #fc6428;
	border: 1px #d30606 solid
}

.news_right .trend_title span {
	width: 56px;
	text-align: center;
	height: 16px;
	margin-left: 15px;
	display: inline-block;
	line-height: 16px
}

.news_right .column_content {
	padding: 5px
}

.news_right .trend_content a {
	margin: 0 5px;
	line-height: 26px
}

.news_right .ssq_trend_content {
	padding-left: 20px
}

.news_right .ssq_trend_content a {
	margin: 0 10px
}

.news_right .trend_content a {
	margin: 0 5px;
	line-height: 26px
}
/*detail*/
.news_box {
    padding: 0 30px;
    border-top: none;
    background: #f5f5f5;
}
.news_box .news_title {
    border-bottom: 1px solid #cccccc;
    padding: 10px 0 20px;
}
.news_box .news_title h1 {
    text-align: center;
    font-size: 22px;
    font-family: "黑体";
    line-height: 40px;
}
.news_box .news_title p {
    color: #999;
    text-align: center;
}
.news_box .detail * {
    font-size: 14px;
    background: #f5f5f5 !important;
}
.news_box .detail p {
    line-height: 24px;
    margin: 20px 0;
}
.news_title a{
	color:#666666 !important;
}
.news_title a:hover{
	color:red !important;
	text-decoration: underline;
}